{% include '@pl/00-deprecated-button-docs.twig' %}

<bolt-banner status="error" align="start">
  <bolt-icon name="close-open" size="medium"></bolt-icon> <strong>This feature has no equivlance in the Button element.</strong>
</bolt-banner>

{% set schema = bolt.data.components["@bolt-components-button"].schema %}

{% for transform in schema.properties.transform.enum %}
  <p>
    {% include "@bolt-components-button/button.twig" with {
      transform: transform,
      text: "This button has text tranform of " ~ transform
    } only %}
  </p>
{% endfor %}
