<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-left"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-center"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-right"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-left"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-center"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-right"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-left"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-center"></span>
<span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-right"></span>