// PL only styles
@import "@bolt/core";
@import "../_patterns/**/*.scss";
@import "*.scss";

bolt-demo {
  display: block;
  padding: 1.65rem 2rem;
}

.sg-main {
  @include bolt-padding(medium);
}

// Remove double padding in PL when top level wrapper exists
.sg-pattern-example > bolt-wrapper > .o-bolt-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.sg-pattern-head.sg-pattern-head {
  @include bolt-padding(medium, squished);
  position: sticky;
  z-index: bolt-z-index("nav");
  top: 0;
  background-color: bolt-color(white);
  margin-bottom: 0;
  margin-left: -1 * bolt-spacing(medium);
  margin-right: -1 * bolt-spacing(medium);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}

.sg-pattern-extra.sg-pattern-extra.sg-pattern-extra {
  @include bolt-margin-top(medium);
  max-width: 1400px;
  border-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.sg-pattern-extra.sg-pattern-extra {
  max-height: 0px; // prevent background from showing up
}

ul.bolt-icon-list-demo {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;

  li {
    width: 25%;
    margin: 25px 0;
    text-align: center;
    @media (max-width: 768px) {
      width: 33%;
    }
    @media (max-width: 575px) {
      width: 50%;
      margin: 15px 0;
    }
  }
}

.bolt-z-index-demo {
  display: inline-block;
  padding: 3px 25px 3px 3px;
  border: solid 1px black;
  margin-bottom: 15px;
  @include bolt-shadow('level-40');
}

.bolt-shadow-demo {
  &__card {
    display: inline-block;
    position: relative;
    width: 325px;
    height: 225px;
    margin: .5rem;
    padding: 0.7rem;
    vertical-align: top;
    background: #fff;
    border-radius: 3px;

    code {
      font-size: 0.7rem;
    }

    &[class*="hoverable"]:hover {
      @include  bolt-z-index('contentTop');
    }
  }
}
