/* ------------------------------------ *\
   Japanese Specific Typography Styles
\* ------------------------------------ */


// UI System fonts will display all Japanese Characters.
$bolt-font-family--japanese:        -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
$bolt-font-family--sans-fallback:   $bolt-font-family--japanese;
$bolt-font-family--sans:            $bolt-font-family--japanese;
$bolt-font-family--sans-subset:     $bolt-font-family--japanese;


// Headline font-weight reduced to 700, so a combmination of English and Japanese can look harmonious.
$bolt-font-weight--bold: 700;


// Overall font-size reduced by 5%, because Japanese charaters are bigger than English.
$bolt-base-font-size--min: 14px;
$bolt-base-font-size--max: 17px;


// Biggest headline reduced to the mininum size for better hero display.
$bolt-font-size--xxxlarge--max: 2.25rem;
$bolt-font-size--xxxlarge--min: 2.25rem;


// Increase all line-heights by 15% because all Japanese characters have the same width and height, it's similar to reading in all caps.
$bolt-spacing-leading: 1.8;


// Spacing values reduced to create more compact and monospace aesthetics.
$bolt-spacing-values: (
  'xxsmall': 0.125,
  'xsmall':  0.25,
  'small':   0.35,
  'medium':  0.7,
  'large':   1.4,
  'xlarge':  2.8,
  'xxlarge': 5.6
);
