{% set schema = bolt.data.components['@bolt-components-navbar'].schema %}

{% for vspacing in schema.properties.vspacing.enum %}
  {% set headline %}
    Vspacing: {{ vspacing }}
  {% endset %}
  {% include "@bolt-components-headline/headline.twig" with {
    "size": "large",
    "text": headline
  } only %}
  <div class="u-bolt-margin-bottom-large">
    {% include "@bolt-components-navbar/navbar.twig" with {
      "vspacing": vspacing,
      "title": {
        "tag": "h2",
        "text": "Title Text",
        "icon": {
          "name": "marketing-gray"
        }
      },
      "links": [
        {
          "text": "Link 1 Text",
          "url": "javascript:"
        },
        {
          "text": "Link 2 Text",
          "url": "javascript:"
        },
        {
          "text": "Link 3 Text",
          "url": "javascript:"
        }
      ]
    } only %}
  </div>
{% endfor %}
