@import '@bolt/core';

/* ------------------------------------ *\
   Text
\* ------------------------------------ */

$bolt-headline--minus-letter-spacing: -0.025rem;
$bolt-headline--plus-letter-spacing: 0.05rem;

.c-bolt-text {

  // Font Weight Options
  &--semibold {
    @include bolt-font-weight(semibold);
  }
  &--regular {
    @include bolt-font-weight(regular);
  }
  &--bold {
    @include bolt-font-weight(bold);
  }

  // Font style variations
  &--normal {
    font-style: normal;
  }
  &--italic {
    font-style: italic;
  }

  // Font size
  &--xxxlarge {
    @include bolt-font-size(xxxlarge);
    letter-spacing: $bolt-headline--minus-letter-spacing;
  }
  &--xxlarge {
    @include bolt-font-size(xxlarge);
    letter-spacing: $bolt-headline--minus-letter-spacing;
  }
  &--xlarge {
    @include bolt-font-size(xlarge);
  }
  &--large {
    @include bolt-font-size(large);
  }
  &--medium {
    @include bolt-font-size(medium);
  }
  &--small {
    @include bolt-font-size(small);
    letter-spacing: $bolt-headline--plus-letter-spacing;
  }
  &--xsmall {
    @include bolt-font-size(xsmall);
    letter-spacing: $bolt-headline--plus-letter-spacing;
  }

  // Display type
  &--inline {
    display: inline;
  }
  &--inline-block {
    display: inline-block;
  }
  &--block {
    display: block;
  }
}