@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Text
\* ------------------------------------ */

// Attribute selectors for parent bolt-text
@include bolt-repeat-rule(('bolt-text', ':host')) {
  display: block;
  margin-bottom: var(--c-bolt-text-margin-bottom, var(--bolt-spacing-y-medium));

  &[display='inline'] {
    display: inline;
  }
  &[display='block'] {
    display: block;
  }

  // Adding vspacing here so that we can remove vspacing on last-child
  &[headline],
  &[eyebrow] {
    --c-bolt-text-margin-bottom: var(--bolt-spacing-y-xxsmall);
  }
  &[subheadline] {
    --c-bolt-text-margin-bottom: var(--bolt-spacing-y-xsmall);
  }

  &:last-child {
    --c-bolt-text-margin-bottom: 0;
  }
}

$bolt-text-v2--minus-letter-spacing: -0.025rem;
$bolt-text-v2--plus-letter-spacing: 0.05rem;

.c-bolt-text-v2 {
  margin: 0;
  padding: 0;
  font-display: swap;

  a {
    opacity: bolt-opacity(100);
    transition: all $bolt-transition;

    &:link,
    &:visited {
      color: bolt-theme(link);
      text-decoration: underline;
    }

    &:hover {
      opacity: $bolt-global-link-hover-opacity;
    }

    &:active,
    &:focus:active {
      opacity: $bolt-global-link-active-opacity;
    }
  }

  &.c-bolt-text-v2--headline {
    a:link,
    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.c-bolt-text-v2 {
  // Font-Family
  &--headline {
    font: var(--bolt-txt-preset-headline-medium);
  }
  &--body {
    font: var(--bolt-txt-preset-body-medium);
  }
  &--code {
    font: var(--bolt-txt-preset-code-medium);
  }

  // Color
  &--color-theme-headline {
    color: bolt-theme(headline);
  }
  &--color-theme-body {
    color: bolt-theme(text);
  }

  // Font Weight Options
  @each $weight in $bolt-txt-font-weight-system {
    $weight-name: nth($weight, 1);

    &--font-weight-#{$weight-name} {
      font-weight: var(--bolt-txt-font-weight-#{$weight-name});
    }
  }

  // Italic style
  &--font-style-regular {
    font-style: normal;
  }
  &--font-style-italic {
    font-style: italic;
  }

  // Font size
  &--font-size-xxxlarge {
    letter-spacing: $bolt-text-v2--minus-letter-spacing;
    font-size: var(--bolt-txt-font-size-display);

    &.is-long {
      font-size: var(--bolt-txt-font-size-xxxlarge);
    }
  }
  &--font-size-xxlarge {
    letter-spacing: $bolt-text-v2--minus-letter-spacing;
    font-size: var(--bolt-txt-font-size-xxlarge);
  }
  &--font-size-xlarge {
    font-size: var(--bolt-txt-font-size-xlarge);
  }
  &--font-size-large {
    font-size: var(--bolt-txt-font-size-large);
  }
  &--font-size-medium {
    font-size: var(--bolt-txt-font-size-medium);
  }
  &--font-size-small {
    letter-spacing: $bolt-text-v2--plus-letter-spacing;
    font-size: var(--bolt-txt-font-size-small);
  }
  &--font-size-xsmall {
    letter-spacing: $bolt-text-v2--plus-letter-spacing;
    font-size: var(--bolt-txt-font-size-xsmall);
  }

  // Display type
  &--inline {
    display: inline;
  }
  &--block {
    display: block;
  }

  // Align content
  &--align-inherit {
    text-align: inherit;
  }
  &--align-start {
    text-align: start;
  }
  &--align-center {
    text-align: center;
  }
  &--align-end {
    text-align: end;
  }

  // Transform text
  &--text-transform-regular {
    text-transform: none;
  }
  &--text-transform-uppercase {
    text-transform: uppercase;
  }
  &--text-transform-lowercase {
    text-transform: lowercase;
  }
  &--text-transform-capitalize {
    text-transform: capitalize;
  }

  // Letter spacing
  &--letter-spacing-narrow {
    letter-spacing: $bolt-text-v2--minus-letter-spacing;
  }
  &--letter-spacing-regular {
    letter-spacing: normal;
  }
  &--letter-spacing-wide {
    letter-spacing: $bolt-text-v2--plus-letter-spacing;
  }

  // Line height
  @each $size in $bolt-txt-line-height-system {
    $size-name: nth($size, 1);

    &--font-size-#{$size-name} {
      line-height: var(
        --c-bolt-text-line-height,
        var(--bolt-txt-line-height-#{$size-name})
      );
    }
  }

  &--line-height-tight {
    --c-bolt-text-line-height: var(--bolt-txt-line-height-tight);
  }

  &--line-height-loose {
    @each $size in $bolt-txt-font-size-system {
      $size-name: nth($size, 1);

      &.c-bolt-text-v2--font-size-#{$size-name} {
        --c-bolt-text-line-height: calc(
          var(--bolt-txt-line-height-#{$size-name}) + 0.2
        );
      }
    }
  }

  // Quoted style
  &--quoted {
    &:before,
    &:after {
      font-family: 'Georgia', serif;
    }

    &:before {
      content: '\201C';
      position: absolute;
      transform: translate3d(-110%, 0, 0);
    }

    &:after {
      content: '\201D';
    }
  }

  // Opacity
  @each $key, $value in $bolt-opacities {
    &--opacity-#{$key} {
      opacity: bolt-opacity($key);
    }
  }
}
