{% set schema = bolt.data.components['@bolt-components-code-snippet'].schema %}

{% for display in schema.properties.display.enum %}
<h3>{{ display }}:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": display
} only %}
{% block children %}{% verbatim %}<header><h1>Headline</h1></header>{% endverbatim %}{% endblock %}
{% endembed %}
{% endfor %}
