<h3>css:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "css"
} only %}
{% block children %}{% verbatim %}.my-css { display: block; }{% endverbatim %}{% endblock %}
{% endembed %}

<h3>scss:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "scss"
} only %}
{% block children %}{% verbatim %}.my-scss { @include my-mixin; }{% endverbatim %}{% endblock %}
{% endembed %}

<h3>html:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "html"
} only %}
{% block children %}{% verbatim %}<header><h1>Headline</h1></header>{% endverbatim %}{% endblock %}
{% endembed %}

<h3>javascript:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "js"
} only %}
{% block children %}{% verbatim %}import { polyfillLoader } from '@bolt/core';{% endverbatim %}{% endblock %}
{% endembed %}

<h3>twig:</h3>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "twig"
} only %}
{% block children %}{% verbatim %}{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "html",
  "content": "Some code snippet"
} only %}{% endverbatim %}{% endblock %}
{% endembed %}
