{% set schema = bolt.data.components['@bolt-components-code-snippet'].schema %}

<p>
  Code snippet can be a block of code, and
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "code": "display"
  } only %}
  is set to
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "code": "block"
  } only %}
  by default.
</p>
{% embed "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "css",
  "colorTheme": "dark"
} only %}
  {% block children %}{% verbatim %}
    display: block;
    margin: 0 0 1.65rem 0;{% endverbatim %}{% endblock %}
{% endembed %}

<p>
  Well, code snippet can also be inline like this
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "code": "display:inline;"
  } only %}
  when you set
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "code": "display"
  } only %}
  to be
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "code": "inline"
  } only %}
  instead.
</p>
