{% set schema = bolt.data.components['@bolt-components-code-snippet'].schema %}

<p>
  Code snippet can be a block of code, and
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "html",
    "content": "display"
  } only %}
  is set to
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "html",
    "content": "block"
  } only %}
  by default.
</p>
{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  "display": "block",
  "lang": "css",
  "content": "display: block;<br>margin: 0 0 1.65rem 0;"
} only %}

<p>
  Well, code snippet can also be inline like this
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "css",
    "content": "display: inline;"
  } only %}
  when you set
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "html",
    "content": "display"
  } only %}
  to be
  {% include "@bolt-components-code-snippet/code-snippet.twig" with {
    "display": "inline",
    "lang": "html",
    "content": "inline"
  } only %}
  instead.
</p>
