{% set content %}
  <div class="u-bolt-margin-bottom-medium" aria-hidden="true">
    <div class="c-www-calculator-icon">
      <span>&#43;</span>
      <span>&#8722;</span>
      <span>&#215;</span>
      <span>&#247;</span>
    </div>
  </div>

  <div class="o-bolt-grid o-bolt-grid--matrix o-bolt-grid--flex">

    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-9/12@small">
      {% include "@bolt-components-headline/headline.twig" with {
        text: "Real-time Decisioning Revenue Calculator",
        size: "xxxlarge",
        tag: "h2"
      } only %}

      {% include "@bolt-components-headline/subheadline.twig" with {
        text: "Find out the total revenue benefit of taking a real-time, next-best-action approach to customer engagement, focused on retention and cross-sell.",
        size: "xlarge",
        tag: "h2",
      } only %}
    </div>

    <div class="o-bolt-grid__cell u-bolt-width-12/12">
      {% set form_children %}
        <ul class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--top" data-module="Calculator">
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
            {% include "@pl/10-form-element-demo-input-element.twig" with {
              title: "What is your company&rsquo;s total revenue?",
              attributes: {
                "data-type": "amount"
              },
              inputAttributes: {
                placeholder: "$ Amount (E.g. $25,000,000,000)",
                required: true,
                type: "text"
              },
              labelDisplayType: "block",
              labelDisplay: "before"
            } only %}
          </li>
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
            {% include "@pl/10-form-element-demo-input-element.twig" with {
              title: "What is your company&rsquo;s churn rate?",
              attributes: {
                "data-type": "percent"
              },
              inputAttributes: {
                placeholder: "% (E.g. 10%)",
                required: true,
                type: "text"
              },
              labelDisplayType: "block",
              labelDisplay: "before"
            } only %}
          </li>
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
            {% include "@pl/10-form-element-demo-input-element.twig" with {
              title: "How many customers does your company have?",
              attributes: {
                "data-type": "number"
              },
              inputAttributes: {
                placeholder: "Number (E.g. 10,000,000)",
                required: true,
                type: "text"
              },
              labelDisplayType: "block",
              labelDisplay: "before"
            } only %}
          </li>
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
            {% include "@pl/10-form-element-demo-input-element.twig" with {
              title: "What is your company&rsquo;s average cost of customer acquisition?",
              attributes: {
                "data-type": "amount"
              },
              inputAttributes: {
                placeholder: "$ Amount (E.g. $2,000)",
                required: true,
                type: "text"
              },
              labelDisplayType: "block",
              labelDisplay: "before"
            } only %}
          </li>
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
            {% include "@pl/10-form-element-demo-input-element.twig" with {
              title: "How much is each customer worth (per year)?",
              attributes: {
                "data-type": "amount"
              },
              inputAttributes: {
                placeholder: "$ Amount (E.g. $2,000)",
                required: true,
                type: "text"
              },
              labelDisplayType: "block",
              labelDisplay: "before"
            } only %}
          </li>
          <li class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium u-bolt-margin-top-auto">
            {% include "@bolt-components-form/form-button.twig" with {
              text: "Calculate my result",
              width: "full",
            } only %}
          </li>
        </ul>
      {% endset %}

      {% include "@bolt-components-form/form.twig" with {
        children: form_children
      } only %}
    </div>
  </div>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  size: "large",
  theme: "dark",
  full_bleed: true,
  content: content
} only %}
