<div class="u-bolt-padding-xlarge">
  <bolt-character
      character-custom-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="small"
  >
    <bolt-animate slot="top" idle="none">
      <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
        <p slot="text">
          I'm a small character
        </p>
      </bolt-status-dialogue-bar>
    </bolt-animate>
    <bolt-animate slot="left" idle="none">
      Slot: left
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
      Slot: right
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
      Slot: bottom
    </bolt-animate>
  </bolt-character>
</div>
<div class="u-bolt-padding-xlarge">
  <bolt-character
      character-custom-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="medium"
  >
    <bolt-animate slot="top" idle="none">
      <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
        <p slot="text">
          I'm a medium character
        </p>
      </bolt-status-dialogue-bar>
    </bolt-animate>
    <bolt-animate slot="left" idle="none">
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
    </bolt-animate>
  </bolt-character>
</div>
<div class="u-bolt-padding-xlarge">
  <bolt-character
      character-custom-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="large"
  >
    <bolt-animate slot="top" idle="none">
      <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
        <p slot="text">
          I'm a large character
        </p>
      </bolt-status-dialogue-bar>
    </bolt-animate>
    <bolt-animate slot="left">
      <bolt-status-dialogue-bar icon-name="cloud" is-alert-message>
        <p slot="text">
          Bill is due!
        </p>
      </bolt-status-dialogue-bar>
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
    </bolt-animate>
  </bolt-character>
</div>

