/*------------------------------------*\
  Body and heading declaration
\*------------------------------------*/
$breakpoint--min: map-get($breakpoints, small);
$breakpoint--max: map-get($breakpoints, large);


html {
  // Base type
  font-size: $font-size--min-px;

  // Responsive type
  @include respond-to(small) {
    font-size: calc(#{$font-size--min-px} + #{$font-size--max - $font-size--min} * (100vw - #{$breakpoint--min}) / (#{$breakpoint--max - $breakpoint--min}));
  }

  // Large type
  @include respond-to(large) {
    font-size: $font-size--max-px;
  }
}

body {
  @include font-family(body);
  @include font-size(base);

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family(heading);
  @include font-size(base, tight);
  @include font-weight(bold);
}




/*------------------------------------*\
  Link
\*------------------------------------*/

a {
  text-decoration: none;
}




/*------------------------------------*\
  Small text
\*------------------------------------*/


small {
  @include font-size(xsmall);
}
