@import '@bolt/core-v3.x';

/**
 * Holy Grail Layout
 */

$_bolt-holy-grail-sidebar-trigger-click-target: 44px;
$_bolt-holy-grail-sidebar-overflow-offset: 2rem;
$_bolt-holy-grail-gutter: var(--bolt-spacing-x-medium);

.l-bolt-holy-grail {
  @include bolt-full-bleed;

  display: grid;
  padding-right: var(--bolt-page-padding-x);
  padding-left: var(--bolt-page-padding-x);

  @include bolt-mq($until: medium) {
    grid-template-areas:
      'sidebar sidebar2'
      'article article';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-gap: var(--bolt-spacing-x-xxsmall);
    grid-row-gap: var(--bolt-spacing-y-medium);
  }

  @include bolt-mq(medium) {
    grid-template-columns: auto 1fr auto;
  }
}

.l-bolt-holy-grail__article,
.l-bolt-holy-grail__sidebar {
  order: 1;
}

.l-bolt-holy-grail__sidebar {
  hyphens: auto;
  word-break: break-word;

  @include bolt-mq($until: medium) {
    grid-area: sidebar;
    width: 100%;
  }

  @include bolt-mq(medium) {
    @include bolt-vertical-scroll;

    position: sticky;
    top: calc(var(--bolt-page-header-height) + var(--bolt-spacing-y-medium));
    height: calc(
      100vh - var(--bolt-page-header-height) - var(--bolt-spacing-y-medium)
    );
    margin: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1)
      calc(
        #{$_bolt-holy-grail-gutter} - #{$_bolt-holy-grail-sidebar-overflow-offset}
      )
      calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1)
      calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);
    padding: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * 2);
  }
}

.l-bolt-holy-grail__sidebar--secondary {
  @include bolt-mq($until: medium) {
    @at-root .l-bolt-holy-grail__sidebar ~ #{&} {
      grid-area: sidebar2;
      width: #{$_bolt-holy-grail-sidebar-trigger-click-target};
    }
  }

  @include bolt-mq(medium) {
    order: 2;
    margin-right: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);
    margin-left: calc(
      #{$_bolt-holy-grail-gutter} - #{$_bolt-holy-grail-sidebar-overflow-offset}
    );
  }
}

.l-bolt-holy-grail__sidebar-trigger {
  @include bolt-button-native-styles-reset;

  display: grid;
  place-items: center;
  width: 100%;
  height: #{$_bolt-holy-grail-sidebar-trigger-click-target};
  font-family: var(--bolt-type-font-family-headline);
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-semibold);
  color: var(--m-bolt-link);
  line-height: 1;
  border: 1px solid var(--m-bolt-tertiary);
  border-radius: bolt-border-radius(small);
  background-color: var(--m-bolt-bg);
  transition: color var(--bolt-transition), border-color var(--bolt-transition);

  &:hover {
    color: var(--m-bolt-headline);
    border-color: var(--m-bolt-link);
  }

  &:focus {
    border-radius: inherit;
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }

  &[aria-expanded='true'] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: bolt-z-index(modal);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:focus {
      outline-offset: -2px;
    }
  }

  @include bolt-mq(medium) {
    display: none;
  }
}

.l-bolt-holy-grail__sidebar-trigger__text {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--bolt-spacing-x-xsmall);
  align-items: center;

  @at-root .l-bolt-holy-grail__sidebar--secondary
      #{&}:not(.l-bolt-holy-grail__sidebar-trigger__text--close) {
    grid-gap: 0;
  }

  @at-root .l-bolt-holy-grail__sidebar-trigger[aria-expanded='true'] #{&} {
    display: none;
  }
}

.l-bolt-holy-grail__sidebar-trigger__text--close {
  display: none;
  grid-template-columns: 1fr auto;
  width: 100%;
  padding: 0 var(--bolt-spacing-x-small);

  @at-root .l-bolt-holy-grail__sidebar-trigger[aria-expanded='true'] #{&} {
    display: grid;
  }
}

.l-bolt-holy-grail__sidebar-content {
  @include bolt-mq($until: medium) {
    @include bolt-vertical-scroll;

    position: fixed;
    top: $_bolt-holy-grail-sidebar-trigger-click-target;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: bolt-z-index(modal);
    padding: #{$_bolt-holy-grail-sidebar-overflow-offset};
    background-color: var(--m-bolt-bg);
  }

  @at-root .l-bolt-holy-grail__sidebar-trigger[aria-expanded='false'] ~ #{&} {
    @include bolt-mq($until: medium) {
      display: none;
    }
  }

  @include bolt-mq(medium) {
    width: unquote('max(180px, 15vw)');
    margin: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);

    @at-root .l-bolt-holy-grail__sidebar--secondary #{&} {
      width: unquote('max(140px, 10vw)');
    }

    @at-root .l-bolt-holy-grail__sidebar--auto-width #{&} {
      width: unset;
    }
  }
}

.l-bolt-holy-grail__article {
  @include bolt-mq($until: medium) {
    grid-area: article;
  }
}
