@import '@bolt/core-v3.x';

/**
 * Holy Grail Layout
 */

$_bolt-holy-grail-sidebar-trigger-click-target: 44px;
$_bolt-holy-grail-sidebar-overflow-offset: 2rem;

bolt-holy-grail-layout {
  @include bolt-full-bleed;

  display: grid;
  padding-top: var(--l-bolt-holy-grail-layout-padding-top);
  padding-right: var(--bolt-page-padding-x);
  padding-bottom: var(--l-bolt-holy-grail-layout-padding-bottom);
  padding-left: var(--bolt-page-padding-x);

  @include bolt-mq($until: medium) {
    grid-template-areas:
      'sidebar sidebar2'
      'article article';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    grid-gap: var(--bolt-spacing-x-xxsmall);
    grid-row-gap: var(--bolt-spacing-y-medium);
  }

  @include bolt-mq(medium) {
    --l-bolt-holy-grail-layout-width: max(220px, 15vw);
    --l-bolt-holy-grail-layout-gutter: var(--bolt-spacing-x-large);
    grid-template-columns: auto minmax(160px, 1fr) auto;
  }

  // Loop through the spacing map to generate padding and gutter options.
  @each $size in $bolt-spacing-multiplier-system {
    $size-name: nth($size, 1);

    @if (
      $size-name ==
        small or
        $size-name ==
        medium or
        $size-name ==
        large or
        $size-name ==
        xlarge
    ) {
      &[padding-top='#{$size-name}'] {
        --l-bolt-holy-grail-layout-padding-top: var(
          --bolt-spacing-y-#{$size-name}
        );
      }

      &[padding-bottom='#{$size-name}'] {
        --l-bolt-holy-grail-layout-padding-bottom: var(
          --bolt-spacing-y-#{$size-name}
        );
      }

      &[gutter='#{$size-name}'] {
        --l-bolt-holy-grail-layout-gutter: var(--bolt-spacing-x-#{$size-name});
      }
    }
  }

  &[padding-top='none'] {
    --l-bolt-holy-grail-layout-padding-top: 0;
  }

  &[padding-bottom='none'] {
    --l-bolt-holy-grail-layout-padding-bottom: 0;
  }

  &[gutter='none'] {
    --l-bolt-holy-grail-layout-gutter: 0;
  }
}

bolt-holy-grail-article,
bolt-holy-grail-sidebar {
  display: block;
  order: 1;
}

bolt-holy-grail-sidebar {
  hyphens: auto;
  word-break: normal;

  @include bolt-mq($until: medium) {
    grid-area: sidebar;
    width: 100%;
  }

  @include bolt-mq(medium) {
    @include bolt-vertical-scroll;

    position: sticky;
    top: var(--bolt-page-header-height);
    max-height: calc(100vh - var(--bolt-page-header-height));
    margin: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1)
      calc(
        var(--l-bolt-holy-grail-layout-gutter) - #{$_bolt-holy-grail-sidebar-overflow-offset}
      )
      calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1)
      calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);
    padding: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * 2);
  }
}

bolt-holy-grail-sidebar[secondary] {
  @include bolt-mq($until: medium) {
    @at-root bolt-holy-grail-sidebar ~ #{&} {
      grid-area: sidebar2;
      width: #{$_bolt-holy-grail-sidebar-trigger-click-target};
    }
  }

  @include bolt-mq(medium) {
    order: 2;
    margin-right: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);
    margin-left: calc(
      var(--l-bolt-holy-grail-layout-gutter) - #{$_bolt-holy-grail-sidebar-overflow-offset}
    );
  }
}

bolt-holy-grail-sidebar > button {
  @include bolt-button-native-styles-reset;

  display: grid;
  place-items: center;
  width: 100%;
  height: #{$_bolt-holy-grail-sidebar-trigger-click-target};
  font-family: var(--bolt-type-font-family-headline);
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-semibold);
  color: var(--m-bolt-link);
  line-height: 1;
  border: 1px solid var(--m-bolt-tertiary);
  border-radius: bolt-border-radius(small);
  background-color: var(--m-bolt-bg);
  transition: color var(--bolt-transition), border-color var(--bolt-transition);

  &:hover {
    color: var(--m-bolt-headline);
    border-color: var(--m-bolt-link);
  }

  &:focus {
    border-radius: inherit;
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }

  &[aria-expanded='true'] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: bolt-z-index(modal);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:focus {
      outline-offset: -2px;
    }
  }

  @include bolt-mq(medium) {
    display: none;
  }
}

bolt-holy-grail-sidebar-trigger-text {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--bolt-spacing-x-xsmall);
  align-items: center;

  @at-root bolt-holy-grail-sidebar[secondary]
      #{&}:not(bolt-holy-grail-sidebar-trigger-text[close]) {
    grid-gap: 0;
  }

  @at-root button[aria-expanded='true'] #{&} {
    display: none;
  }
}

bolt-holy-grail-sidebar-trigger-text[close] {
  display: none;
  grid-template-columns: 1fr auto;
  width: 100%;
  padding: 0 var(--bolt-spacing-x-small);

  @at-root button[aria-expanded='true'] #{&} {
    display: grid;
  }
}

bolt-holy-grail-sidebar-content {
  display: block;

  @include bolt-mq($until: medium) {
    @include bolt-vertical-scroll;

    position: fixed;
    top: $_bolt-holy-grail-sidebar-trigger-click-target;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: bolt-z-index(modal);
    padding: #{$_bolt-holy-grail-sidebar-overflow-offset};
    background-color: var(--m-bolt-bg);
  }

  @at-root button[aria-expanded='false'] ~ #{&} {
    @include bolt-mq($until: medium) {
      display: none;
    }
  }

  @include bolt-mq(medium) {
    width: var(--l-bolt-holy-grail-layout-width);
    margin: calc(#{$_bolt-holy-grail-sidebar-overflow-offset} * -1);

    @at-root bolt-holy-grail-sidebar[secondary] #{&} {
      --l-bolt-holy-grail-layout-width: max(160px, 10vw);
    }

    @at-root bolt-holy-grail-sidebar[auto-width] #{&} {
      width: unset;
    }
  }
}

bolt-holy-grail-article {
  @include bolt-mq($until: medium) {
    grid-area: article;
  }
}
