@import '@bolt/core-v3.x';

/**
 * Holy Grail Layout
 */

// Dev Notes
// 1. Using 1fr in CSS grid template causes certain components to miscalculate the width of its parent container. It has been changed to minmax(0, 1fr) as a fix. 0 min-width straightens out the issue.

$_bolt-holy-grail-sidebar-trigger-click-target: 44px;
$_bolt-holy-grail-sidebar-overflow-offset: 2rem;

.l-bolt-holy-grail {
  @include bolt-full-bleed;

  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto; // [1]
  min-height: 100%;

  @include bolt-mq($until: medium) {
    grid-template-areas:
      'sidebar'
      'article';
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(0, 1fr) auto; // [1]
    grid-gap: var(--bolt-spacing-x-xxsmall);
    grid-row-gap: var(--bolt-spacing-y-medium);
  }

  @include bolt-mq(xxxlarge) {
    grid-template-columns:
      minmax(18vw, var(--bolt-page-padding-x)) minmax(0, 1fr)
      minmax(20.2vw, var(--bolt-page-padding-x)); // [1]
  }
}

.l-bolt-holy-grail__article,
.l-bolt-holy-grail__sidebar {
  --l-bolt-holy-grail-layout-padding-x: var(--bolt-spacing-y-large);
  display: block;
  order: 1;
  padding-top: var(--l-bolt-holy-grail-layout-padding-x);
  padding-bottom: var(--l-bolt-holy-grail-layout-padding-x);
}

.l-bolt-holy-grail__article {
  @include bolt-mq($until: medium) {
    grid-area: article;
    padding-right: var(--bolt-page-padding-x);
    padding-left: var(--bolt-page-padding-x);
  }

  @include bolt-mq($from: medium) {
    padding-right: var(--bolt-spacing-x-large);
    padding-left: var(--bolt-spacing-x-large);
  }
}

.l-bolt-holy-grail__article__content {
  display: block;
}

.l-bolt-holy-grail__sidebar {
  @include bolt-mq($until: medium) {
    grid-area: sidebar;
    width: 100%;
    padding: var(--bolt-spacing-y-small) var(--bolt-page-padding-x);
    border-bottom: 1px solid var(--m-bolt-border);
  }

  @include bolt-mq($from: medium) {
    @include bolt-vertical-scroll;

    position: sticky;
    top: var(--bolt-page-header-height);
    max-width: 35vw;
    max-height: calc(100vh - var(--bolt-page-header-height));

    > .l-bolt-holy-grail__sidebar__content {
      margin-left: auto;
    }
  }

  @include bolt-mq($from: medium, $until: xxlarge) {
    border-right: 1px solid var(--m-bolt-border);
  }
}

.l-bolt-holy-grail__sidebar--secondary {
  border: 0;

  @include bolt-mq($until: large) {
    display: none;
  }

  @include bolt-mq($from: medium) {
    order: 2;

    > .l-bolt-holy-grail__sidebar__content {
      margin-right: auto;
      margin-left: 0;
    }
  }
}

.l-bolt-holy-grail__sidebar-trigger {
  @include bolt-button-native-styles-reset;

  @include bolt-mq($until: medium) {
    display: grid;
    place-items: center;
    width: 100%;
    height: #{$_bolt-holy-grail-sidebar-trigger-click-target};
    font-family: var(--bolt-type-font-family-headline);
    font-size: var(--bolt-type-font-size-small);
    font-weight: var(--bolt-type-font-weight-semibold);
    color: var(--m-bolt-text-on-secondary);
    line-height: 1;
    border: 1px solid var(--m-bolt-tertiary);
    border-radius: bolt-border-radius(small);
    background-color: var(--m-bolt-secondary);
    transition: color var(--bolt-transition),
      border-color var(--bolt-transition);

    &:hover {
      color: var(--m-bolt-headline);
      border-color: var(--m-bolt-link);
    }

    &:focus {
      border-radius: inherit;
      outline: var(--bolt-focus-ring);
      outline-offset: 2px;
    }

    &[aria-expanded='true'] {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: bolt-z-index(modal);
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;

      &:focus {
        outline-offset: -2px;
      }
    }

    .l-bolt-holy-grail__sidebar-trigger__text--toggle {
      display: none;
    }
  }

  @include bolt-mq($from: medium, $until: xxlarge) {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--m-bolt-link);
    transition: color var(--bolt-transition),
      background-color var(--bolt-transition);

    &:hover {
      color: var(--m-bolt-text-on-primary);
      border-color: var(--m-bolt-link);
      background-color: var(--m-bolt-primary);
    }

    &:focus {
      outline: var(--bolt-focus-ring);
      outline-offset: -4px;
    }

    > *:not(.l-bolt-holy-grail__sidebar-trigger__text--toggle) {
      display: none;
    }

    .l-bolt-holy-grail__sidebar-trigger__text--toggle {
      display: grid;
      place-items: center;
      width: 2rem;
      height: 2rem;
      font-size: var(--bolt-type-font-size-medium);
    }

    .l-bolt-holy-grail__sidebar-trigger__icon-center {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 1em;
      height: 1em;
      font-size: 1em;

      > * {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate3d(-50%, -50%, 0) !important;
      }
    }

    &[aria-expanded='true'] {
      .l-bolt-holy-grail__sidebar-trigger__icon-center:first-child {
        display: block;
      }
    }

    &[aria-expanded='false'] {
      position: relative;
      top: calc(var(--l-bolt-holy-grail-layout-padding-x) * -1);

      .l-bolt-holy-grail__sidebar-trigger__text--toggle {
        width: $_bolt-holy-grail-sidebar-trigger-click-target;
        height: $_bolt-holy-grail-sidebar-trigger-click-target;
        font-size: var(--bolt-type-font-size-xlarge);
      }

      .l-bolt-holy-grail__sidebar-trigger__icon-center:nth-child(2) {
        display: block;
      }
    }
  }

  @include bolt-mq(xxlarge) {
    display: none;
  }
}

.l-bolt-holy-grail__sidebar-trigger__text {
  @include bolt-mq($until: medium) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--bolt-spacing-x-xsmall);
    align-items: center;

    @at-root .l-bolt-holy-grail__sidebar--secondary
        #{&}:not(.l-bolt-holy-grail__sidebar-trigger__text--close) {
      grid-gap: 0;
    }

    @at-root .l-bolt-holy-grail__sidebar-trigger[aria-expanded='true'] #{&} {
      display: none;
    }
  }
}

.l-bolt-holy-grail__sidebar-trigger__text--close {
  @include bolt-mq($until: medium) {
    display: none;
    grid-template-columns: 1fr auto;
    width: 100%;
    padding: 0 var(--bolt-spacing-x-small);

    @at-root .l-bolt-holy-grail__sidebar-trigger[aria-expanded='true'] #{&} {
      display: grid;
    }
  }
}

.l-bolt-holy-grail__sidebar__content {
  --bolt-page-padding-x: var(--bolt-page-padding-x-medium);
  display: block;
  padding-left: var(--bolt-page-padding-x);

  @at-root .l-bolt-holy-grail__sidebar--secondary #{&} {
    padding-right: var(--bolt-page-padding-x);
    padding-left: 0;
  }

  @include bolt-mq($until: medium) {
    @include bolt-vertical-scroll;

    position: fixed;
    top: $_bolt-holy-grail-sidebar-trigger-click-target;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: bolt-z-index(modal);
    padding: var(--bolt-spacing-y-medium) var(--bolt-page-padding-x);
    background-color: var(--m-bolt-bg);
  }

  @include bolt-mq($until: xxlarge) {
    @at-root button[aria-expanded='false'] ~ #{&} {
      display: none;
    }
  }

  @include bolt-mq($from: medium) {
    min-width: 280px;
  }

  @include bolt-mq($from: large) {
    min-width: auto;

    @at-root .l-bolt-holy-grail__sidebar--secondary #{&} {
      min-width: 200px;
    }
  }

  @include bolt-mq($from: xlarge) {
    max-width: 320px;
  }
}
