// BOLT HEADLINE COMPONENT

@import '@bolt/tools-uppercase';
@import '@bolt/tools-font-family';
@import '@bolt/tools-font-weight';
@import '@bolt/tools-font-size';
@import '@bolt/tools-spacing';


/* ------------------------------------ *\
   Headlines
\* ------------------------------------ */
/* stylelint-disable-next-line color-named */
$bolt-test-color-secondary: blue; // TODO: needs to map to our palette
$bolt-test-transition: ease-in-out 200ms;



$bolt-headline--minus-letter-spacing: -0.025rem;
$bolt-headline--plus-letter-spacing: 0.05rem;




@mixin bolt-headline() {
  @include bolt-font-family(heading);
  display: block;
  max-width: 55ch;

  @supports (display: flex) {
    display: flex;
    align-items: center;
  }

  /* stylelint-disable-next-line */
  > * {
    display: inline-flex;
    align-self: baseline;
  }
}




.c-bolt-headline {
  @include bolt-headline;
  @include bolt-font-weight(bold);

  &:not(:last-child) {
    @include bolt-margin-bottom(medium);
  }

  &:not([class*='c-bolt-headline--']) {
    @include bolt-font-size(large);
  }
}


// .c-bolt-headline--quoted > .c-bolt-headline__text:first-child,
// .c-bolt-subheadline--quoted > .c-bolt-subheadline__text:first-child {
//   text-indent: calc((1em / 2) * -1);
//   display: inline-block;

//   &:before,
//   &:after {
//     @include bolt-font-weight(bold);
//     font-family: $bolt-font-family--serif;
//   }

//   &:before {
//     content: '\201C';
//   }

//   &:after {
//     content: '\201D';
//   }
// }



.c-bolt-eyebrow {
  @include bolt-headline;
  @include bolt-margin-bottom(0.1rem);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(regular);
  text-transform: uppercase;
  letter-spacing: $bolt-headline--plus-letter-spacing;
  opacity: 0.8;
}


// Headline content

.c-bolt-headline__text {
  ~ .c-bolt-headline__icon {
    @include bolt-margin-left(small);
  }
}

.c-bolt-headline__icon {
  width: 0.75em;
  height: 0.75em;

  svg {
    width: 1em;
    height: auto;
    fill: currentColor;
  }

  ~ .c-bolt-headline__text {
    @include bolt-margin-left(small);
  }
}

.c-bolt-headline__line {
  flex: 1 0 1rem;
  align-self: center;
  height: 1px;
  border-width: 0;
  border-style: none;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  background-color: currentColor;
  opacity: 0.2;

  &:first-child {
    @include bolt-margin(0 small 0 0);
  }

  &:last-child {
    @include bolt-margin(0 0 0 small);
  }
}


// Subheadline styles.
.c-bolt-subheadline {
  @include bolt-headline;
  @include bolt-margin-bottom(medium);
  @include bolt-font-family(heading);
  @include bolt-font-weight(regular);

  &:not([class*='c-bolt-subheadline--']) {
    @include bolt-font-size(large);
  }
}


.c-bolt-headline,
.c-bolt-subheadline,
.c-bolt-text {
  &:last-child {
    @include bolt-margin-bottom(0);
  }
}




// Headline spacing with other elements.
.c-bolt-headline + .c-bolt-subheadline,
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + .c-bolt-text {
  margin-top: (-1 * bolt-v-spacing(medium)) + bolt-v-spacing(xsmall);
}

.c-bolt-headline--xxxlarge + .c-bolt-text {
  margin-top: (-1 * bolt-v-spacing(medium)) + bolt-v-spacing(small);
}

.c-bolt-subheadline + .c-bolt-text {
  margin-top: (-1 * bolt-v-spacing(medium)) + bolt-v-spacing(xsmall);
}




.c-bolt-headline--xxxlarge,
.c-bolt-headline--xxlarge {
  letter-spacing: $bolt-headline--minus-letter-spacing;
}


.c-bolt-text--xxxlarge,
.c-bolt-headline--xxxlarge {
  @include bolt-font-size(xxxlarge);
}

.c-bolt-text--xxlarge,
.c-bolt-subheadline--xxlarge,
.c-bolt-headline--xxlarge {
  @include bolt-font-size(xxlarge);
}


.c-bolt-text--xlarge,
.c-bolt-subheadline--xlarge,
.c-bolt-headline--xlarge {
  @include bolt-font-size(xlarge);
}

.c-bolt-text--large,
.c-bolt-headline--large {
  @include bolt-font-size(large);
}



.c-bolt-text--medium {
  @include bolt-font-size(medium);
}

.c-bolt-text--small,
.c-bolt-headline--small {
  @include bolt-font-size(small);
}


.c-bolt-text--uppercase,
.c-bolt-headline--small {
  @include bolt-uppercase;
}


.c-bolt-text--xsmall,
.c-bolt-headline--xsmall {
  @include bolt-font-size(xsmall);
}


.c-bolt-headline--small,
.c-bolt-headline--xsmall {
  letter-spacing: $bolt-headline--plus-letter-spacing;
}



.c-bolt-text--bold,
.c-bolt-eyebrow--bold,
.c-bolt-headline--bold {
  @include bolt-font-weight(bold);
}

.c-bolt-text--regular,
.c-bolt-eyebrow--regular,
.c-bolt-headline--regular,
.c-bolt-subheadline--regular {
  @include bolt-font-weight(regular);
}

.c-bolt-text--semibold {
  @include bolt-font-weight(semibold);
}
