@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Link
\* ------------------------------------ */

.e-bolt-link {
  @include bolt-button-native-styles-reset;
  @include bolt-text-link;
}

[class*='e-bolt-link--icon'] {
  > img {
    width: 1em;
    height: 1em;
  }

  > img,
  > bolt-icon:not([size]) {
    display: inline-flex;
    transform: translateY(
      0.18em
    ); // Temporary fix for icon + text bad vertical alignment.
    vertical-align: baseline;
  }
}

.e-bolt-link--icon-before {
  > img,
  > bolt-icon {
    margin-right: var(--bolt-spacing-x-xxsmall);
  }
}

.e-bolt-link--icon-after {
  > img,
  > bolt-icon {
    margin-left: var(--bolt-spacing-x-xxsmall);
  }
}

.e-bolt-link--icon-before.e-bolt-link--icon-after {
  > img,
  > bolt-icon {
    &:first-child {
      margin-right: var(--bolt-spacing-x-xxsmall);
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-left: var(--bolt-spacing-x-xxsmall);
    }
  }
}

.e-bolt-link--reversed-underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.e-bolt-link--block {
  display: block;
}

// These are error messages for when a developer uses <a> and <button> incorrectly with `.e-bolt-link`.
a.e-bolt-link[type],
a.e-bolt-link:not([href]),
button.e-bolt-link[href],
button.e-bolt-link[target],
button.e-bolt-link:not([type]) {
  &:after {
    display: inline-block;
    transform: scale(0.8);
    padding: 0 var(--bolt-spacing-x-xsmall);
    font-weight: var(--bolt-type-font-weight-semibold);
    color: var(--bolt-color-error);
    border-radius: bolt-border-radius(small);
    box-shadow: 0 0 0 1px currentColor;
    background-color: var(--bolt-color-error-light);
    transform-origin: 0 50%;
  }
}

a.e-bolt-link[type] {
  &:after {
    content: 'This <a> element should not have the "type" attribute.';
  }
}

a.e-bolt-link:not([href]):not([name]) {
  &:after {
    content: 'This <a> element is missing the "href" attribute.';
  }
}

button.e-bolt-link[href] {
  &:after {
    content: 'This <button> element should not have the "href" attribute.';
  }
}

button.e-bolt-link[target] {
  &:after {
    content: 'This <button> element should not have the "target" attribute.';
  }
}

button.e-bolt-link:not([type]) {
  &:after {
    content: 'This <button> element is missing the "type" attribute.';
  }
}
