{% set description %}
  Popover usually contains a small piece of structured content that may have calls to action. For rendering more complex layouts, please consider using <a href="{{ link['viewall-components-modal'] }}" class="e-bolt-text-link">the modal component</a> instead. As for simple text or phrases, please consider using <a href="{{ link['viewall-components-tooltip'] }}" class="e-bolt-text-link">the tooltip component</a>.
{% endset %}

{% set demo %}
  {% set link %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'call to action',
      attributes: {
        href: 'https://pega.com'
      }
    } only %}
  {% endset %}
  {% set trigger %}
    {% include '@bolt-components-button/button.twig' with {
      text: 'This triggers a popover',
    } only %}
  {% endset %}
  {% set content %}
    This is the content of the popover with a {{ link }}.
  {% endset %}
  {% include '@bolt-components-popover/popover.twig' with {
    trigger: trigger,
    content: content,
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set trigger %}
  {% include '@bolt-components-button/button.twig' with {
    text: 'This triggers a popover',
  } only %}
{% endset %}
{% include '@bolt-components-popover/popover.twig' with {
  trigger: trigger,
  content: 'This is the content of the popover.',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-popover spacing="medium">
  <bolt-button>
    This triggers a popover
  </bolt-button>
  <div slot="content">
    This is the content of the popover.
  </div>
</bolt-popover>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Popover',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
