{% set description %}
  Adjust the placement of the content by using the <code>placement</code> prop. It can be set to a specific placement or automatically calculated. It is recommended to use the <code>boundary</code> prop in tandem with auto placement. This ensures that the auto placement will happen within a specific container instead of the entire page. The <code>boundary</code> prop accepts all selector names (eg: .class, #id, and [attribute]).
{% endset %}

{% set demo %}
  {# Setting variables for demo purposes #}
  {% set link %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'call to action',
      attributes: {
        href: 'https://google.com'
      }
    } only %}
  {% endset %}
  {% set content %}
    This is the content of the popover with a {{ link }}.
  {% endset %}
  {% set trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      size: 'xsmall',
      content: 'Auto',
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}

  {% set popovers_top_auto %}
    <div class="u-bolt-text-align-center">
      {# Start component specific code #}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: content,
        placement: 'auto',
        boundary: '.js-bolt-popover-boundary',
      } only %}
      {# End component specific code #}
    </div>
  {% endset %}
  {% set popovers_right_auto %}
    <div class="u-bolt-text-align-right">
      {# Start component specific code #}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: content,
        placement: 'auto',
        boundary: '.js-bolt-popover-boundary',
      } only %}
      {# End component specific code #}
    </div>
  {% endset %}
  {% set popovers_bottom_auto %}
    <div class="u-bolt-text-align-center">
      {# Start component specific code #}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: content,
        placement: 'auto',
        boundary: '.js-bolt-popover-boundary',
      } only %}
      {# End component specific code #}
    </div>
  {% endset %}
  {% set popovers_left_auto %}
    {# Start component specific code #}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: trigger,
      content: content,
      placement: 'auto',
      boundary: '.js-bolt-popover-boundary',
    } only %}
    {# End component specific code #}
  {% endset %}

  <bolt-banner align="start">
    <bolt-text><strong>Auto placement with a boundary (recommended): </strong>The following container has the <code>.js-bolt-popover-boundary</code> class and the popover&rsquo;s <code>boundary</code> prop is set to said class. The popover&rsquo;s auto placement will always appear within the container.</bolt-text>
  </bolt-banner>

  <div class="t-bolt-light u-bolt-padding-small u-bolt-margin-bottom-large js-bolt-popover-boundary">
    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12',
          row_start: '1',
          content: popovers_top_auto,
        },
        {
          column_start: '7',
          column_span: '6',
          row_start: '2',
          content: popovers_right_auto,
        },
        {
          column_start: '1',
          column_span: '12',
          row_start: '3',
          content: popovers_bottom_auto,
        },
        {
          column_start: '1',
          column_span: '6',
          row_start: '2',
          content: popovers_left_auto,
        },
      ],
    } only %}
  </div>

  {% set popovers_top %}
    <bolt-list display="inline" spacing="small" align="center">
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'bottom-start',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'bottom-start'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'bottom',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'bottom'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'bottom-end',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'bottom-end'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
    </bolt-list>
  {% endset %}
  {% set popovers_right %}
    <bolt-list spacing="medium">
      <bolt-list-item>
        <div class="u-bolt-text-align-right">
          {% set trigger %}
            {% include '@bolt-elements-button/button.twig' with {
              size: 'xsmall',
              content: 'left-start',
              attributes: {
                type: 'button'
              }
            } only %}
          {% endset %}
          {# Start component specific code #}
          {% include '@bolt-components-popover/popover.twig' with {
            trigger: trigger,
            content: content,
            placement: 'left-start'
          } only %}
          {# End component specific code #}
        </div>
      </bolt-list-item>
      <bolt-list-item>
        <div class="u-bolt-text-align-right">
          {% set trigger %}
            {% include '@bolt-elements-button/button.twig' with {
              size: 'xsmall',
              content: 'left',
              attributes: {
                type: 'button'
              }
            } only %}
          {% endset %}
          {# Start component specific code #}
          {% include '@bolt-components-popover/popover.twig' with {
            trigger: trigger,
            content: content,
            placement: 'left'
          } only %}
          {# End component specific code #}
        </div>
      </bolt-list-item>
      <bolt-list-item>
        <div class="u-bolt-text-align-right">
          {% set trigger %}
            {% include '@bolt-elements-button/button.twig' with {
              size: 'xsmall',
              content: 'left-end',
              attributes: {
                type: 'button'
              }
            } only %}
          {% endset %}
          {# Start component specific code #}
          {% include '@bolt-components-popover/popover.twig' with {
            trigger: trigger,
            content: content,
            placement: 'left-end'
          } only %}
          {# End component specific code #}
        </div>
      </bolt-list-item>
    </bolt-list>
  {% endset %}
  {% set popovers_bottom %}
    <bolt-list display="inline" spacing="small" align="center">
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'top-start',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'top-start'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'top',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'top'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'top-end',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'top-end'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
    </bolt-list>
  {% endset %}
  {% set popovers_left %}
    <bolt-list spacing="medium">
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'right-start',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'right-start'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'right',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'right'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            size: 'xsmall',
            content: 'right-end',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {# Start component specific code #}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          placement: 'right-end'
        } only %}
        {# End component specific code #}
      </bolt-list-item>
    </bolt-list>
  {% endset %}

  <bolt-banner align="start">
    <bolt-text><strong>Specific placement: </strong>When setting a specific placement, it will ignore the <code>boundary</code> prop and always render the placement stated. This feature will cause undesired overflow issues in smaller screens, use with caution.</bolt-text>
  </bolt-banner>

  {% include '@bolt-components-grid/grid.twig' with {
    gutter: 'small',
    items: [
      {
        column_start: '1',
        column_span: '12',
        row_start: '1',
        content: popovers_top,
      },
      {
        column_start: '7',
        column_span: '6',
        row_start: '2',
        content: popovers_right,
      },
      {
        column_start: '1',
        column_span: '12',
        row_start: '3',
        content: popovers_bottom,
      },
      {
        column_start: '1',
        column_span: '6',
        row_start: '2',
        content: popovers_left,
      },
    ]
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-popover/popover.twig' with {
  trigger: trigger,
  content: content,
  placement: 'auto',
  boundary: '.js-target-container'
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-popover placement="auto" boundary=".js-target-container">
  <button type="button" class="e-bolt-button">
    This triggers a popover
  </button>
  <div slot="content">
    This is the content of the popover.
  </div>
</bolt-popover>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Popover Placement and Boundary',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
