{% set schema = bolt.data.components['@bolt-components-popover'].schema %}

{% set description %}
  Adjust the inset spacing of the content by using the <code>spacing</code> prop.
{% endset %}

{% set demo %}
  {% set link %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'call to action',
      attributes: {
        href: 'https://google.com'
      }
    } only %}
  {% endset %}
  {% set content %}
    This is the content of the popover with a {{ link }}.
  {% endset %}

  <bolt-list display="inline" spacing="medium">
    {% for spacing in schema.properties.spacing.enum %}
      <bolt-list-item>
        {% set trigger %}
          {% include '@bolt-elements-button/button.twig' with {
            content: 'spacing: ' ~ spacing,
            size: 'small',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-popover/popover.twig' with {
          trigger: trigger,
          content: content,
          spacing: spacing,
        } only %}
      </bolt-list-item>
    {% endfor %}
  </bolt-list>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-popover/popover.twig' with {
  trigger: trigger,
  content: content,
  spacing: 'medium',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-popover spacing="medium">
  <button type="button" class="e-bolt-button">
    This triggers a popover
  </button>
  <div slot="content">
    This is the content of the popover.
  </div>
</bolt-popover>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Popover Content Spacing',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
