/* ------------------------------------ *\
   Tooltip
\* ------------------------------------ */
@import '@bolt/core-v3.x';

// Component variables
$bolt-tooltip-border-width: $bolt-border-width;
$bolt-tooltip-border-style: $bolt-border-style;
$bolt-tooltip-border-color: bolt-theme(text, 0.15);
$bolt-tooltip-spacing-values: xsmall, small, medium;

// Register Custom Block Element
@include bolt-repeat-rule(('bolt-tooltip', ':host')) {
  display: inline;
}

.c-bolt-tooltip {
  display: inline-flex;
  position: relative;

  &:hover .c-bolt-tooltip__content,
  &.is-expanded .c-bolt-tooltip__content {
    display: block;
  }
}

.c-bolt-tooltip__content {
  @include bolt-padding(xxsmall);
  display: none;
  position: absolute;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  white-space: nowrap;

  @at-root .c-bolt-tooltip--wrap & {
    width: 150px;
    white-space: normal;
  }

  @at-root .c-bolt-tooltip--top-right & {
    right: 0;
    bottom: 100%;
    transform: translate3d(0, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-up;
      transform-origin: bottom right;
    }
  }

  @at-root .c-bolt-tooltip--top & {
    bottom: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-up;
      transform-origin: bottom center;
    }
  }

  @at-root .c-bolt-tooltip--top-left & {
    bottom: 100%;
    left: 0;
    transform: translate3d(0, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-up;
      transform-origin: bottom left;
    }
  }

  @at-root .c-bolt-tooltip--left-top & {
    top: 0;
    right: 100%;
    transform: translate3d(0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-right;
      transform-origin: top right;
    }
  }

  @at-root .c-bolt-tooltip--left & {
    top: 50%;
    right: 100%;
    transform: translate3d(0, -50%, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-right;
      transform-origin: center right;
    }
  }

  @at-root .c-bolt-tooltip--left-bottom & {
    right: 100%;
    bottom: 0;
    transform: translate3d(0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-right;
      transform-origin: bottom right;
    }
  }

  @at-root .c-bolt-tooltip--right-top & {
    top: 0;
    left: 100%;
    transform: translate3d(0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-left;
      transform-origin: top left;
    }
  }

  @at-root .c-bolt-tooltip--right & {
    top: 50%;
    left: 100%;
    transform: translate3d(0, -50%, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-left;
      transform-origin: center left;
    }
  }

  @at-root .c-bolt-tooltip--right-bottom & {
    bottom: 0;
    left: 100%;
    transform: translate3d(0, 0, 0);
    padding-top: 0;
    padding-bottom: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-left;
      transform-origin: bottom left;
    }
  }

  @at-root .c-bolt-tooltip--bottom-right & {
    top: 100%;
    right: 0;
    transform: translate3d(0, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-down;
      transform-origin: top right;
    }
  }

  @at-root .c-bolt-tooltip--bottom & {
    top: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-down;
      transform-origin: top center;
    }
  }

  @at-root .c-bolt-tooltip--bottom-left & {
    top: 100%;
    left: 0;
    transform: translate3d(0, 0, 0);
    padding-right: 0;
    padding-left: 0;

    .c-bolt-tooltip__bubble {
      animation-name: a-bolt-zoom-in-down;
      transform-origin: top left;
    }
  }
}

.c-bolt-tooltip__bubble {
  @include bolt-padding(xxsmall xsmall);
  @include bolt-font-family(body);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(semibold);
  display: block;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  color: bolt-theme(background);
  text-align: left;
  text-align: start;
  border-radius: bolt-border-radius(large);
   border-width: $bolt-tooltip-border-width;
  border-style: $bolt-tooltip-border-style;
  border-color: $bolt-tooltip-border-color;
  box-shadow: bolt-shadow('level-20');
  background-color: bolt-theme(text, 0.8);
  animation-duration: 250ms;
  animation-fill-mode: both;
}

// Animations
@keyframes a-bolt-zoom-in-down {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  }
  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, bolt-v-spacing(medium), 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
  }
}

@keyframes a-bolt-zoom-in-left {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-100%, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  }
  60% {
    opacity: bolt-opacity(20);
    transform: scale3d(.475, .475, .475) translate3d(bolt-spacing(medium), 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
  }
}

@keyframes a-bolt-zoom-in-up {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 100%, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  }
  60% {
    opacity: bolt-opacity(20);
    transform: scale3d(.475, .475, .475) translate3d(0, (bolt-v-spacing(medium) * -1), 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
  }
}

@keyframes a-bolt-zoom-in-right {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(100%, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
  }
  60% {
    opacity: bolt-opacity(20);
    transform: scale3d(.475, .475, .475) translate3d((bolt-spacing(medium) * -1), 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1)
  }
}
