/* ------------------------------------ *\
   Tooltip
\* ------------------------------------ */
@import '@bolt/core-v3.x';

/**
 * Register custom element
 */
//  Note: this does not actually render to the Shadow DOM so :host rule not required
bolt-tooltip {
  // 'inline-flex' required for proper tooltip placement on buttons
  display: inline-flex;

  &:not([ready]) [slot='content'] {
    display: none;
  }

  // Plain text trigger gets underlined
  &[dotted] {
    // if dotted (or inline text-only) use inline or spaces will collapse when you use inline elements like `<em>`
    display: inline;
    cursor: help;
    border-bottom: 1px dotted var(--m-bolt-neutral);
  }
}

/**
 * Content container
 */
.c-bolt-tooltip__content {
  display: block;
  text-align: start;
  white-space: nowrap;
}

.c-bolt-tooltip__content--text-wrap {
  width: 150px;
  white-space: normal;
  hyphens: auto;
}

.c-bolt-tooltip__content--text-align-center {
  text-align: center;
}
