/* ------------------------------------ *\
   Tooltip
\* ------------------------------------ */
@import '@bolt/core-v3.x';

/**
 * Component variables
 */
$bolt-tooltip-bubble-border-width: $bolt-border-width;
$bolt-tooltip-bubble-border-style: $bolt-border-style;
$bolt-tooltip-bubble-border-color: bolt-theme(border, 0.2);

/**
 * Register custom element
 */
@include bolt-repeat-rule(('bolt-tooltip', ':host')) {
  display: inline;
}

.c-bolt-tooltip {
  display: inline-flex;
  position: relative;
}

/**
 * Plain text trigger gets underlined
 */
.c-bolt-tooltip--dotted {
  cursor: help;
  border-bottom: 1px dotted bolt-theme(border, 0.4);
}

/**
 * Content container
 * - used for fade effect and placement
 */
.c-bolt-tooltip__content {
  visibility: hidden; // Visibility is used instead of display because display 'none' interferes with Popper.js calculating tooltip size.
  opacity: 0;
  position: absolute;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  transition: opacity $bolt-transition;
  white-space: nowrap;

  // @todo: Placement does not work without JS.
  // @at-root .c-bolt-tooltip--top-end & {
  //   right: 0;
  //   bottom: 100%;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--top & {
  //   bottom: 100%;
  //   left: 50%;
  //   transform: translate3d(-50%, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--top-start & {
  //   bottom: 100%;
  //   left: 0;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--left-start & {
  //   top: 0;
  //   right: 100%;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--left & {
  //   top: 50%;
  //   right: 100%;
  //   transform: translate3d(0, -50%, 0);
  // }

  // @at-root .c-bolt-tooltip--left-end & {
  //   right: 100%;
  //   bottom: 0;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--right-start & {
  //   top: 0;
  //   left: 100%;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--right & {
  //   top: 50%;
  //   left: 100%;
  //   transform: translate3d(0, -50%, 0);
  // }

  // @at-root .c-bolt-tooltip--right-end & {
  //   bottom: 0;
  //   left: 100%;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--bottom-end & {
  //   top: 100%;
  //   right: 0;
  //   transform: translate3d(0, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--bottom & {
  //   top: 100%;
  //   left: 50%;
  //   transform: translate3d(-50%, 0, 0);
  // }

  // @at-root .c-bolt-tooltip--bottom-start & {
  //   top: 100%;
  //   left: 0;
  //   transform: translate3d(0, 0, 0);
  // }
}

@include bolt-repeat-rule(
  (
    'bolt-tooltip:not([ready]) .c-bolt-tooltip:hover .c-bolt-tooltip__content',
    ':host:not([ready]) .c-bolt-tooltip:hover .c-bolt-tooltip__content',
    '.c-bolt-tooltip.is-expanded .c-bolt-tooltip__content'
  )
) {
  visibility: visible;
  opacity: 1;
}

// @todo: Since placement doesn't work without JS, this defaults to bottom placement when there is no JS.
@include bolt-repeat-rule(
  (
    'bolt-tooltip:not([ready]) .c-bolt-tooltip:hover .c-bolt-tooltip__content',
    ':host:not([ready]) .c-bolt-tooltip:hover .c-bolt-tooltip__content'
  )
) {
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

/**
 * Bubble inside the content container
 * - used for visual design of the bubble and the fly in effect
 */
.c-bolt-tooltip__bubble {
  @include bolt-margin(xxsmall);
  @include bolt-padding(xxsmall xsmall);
  @include bolt-font-family(body);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(semibold);
  display: block;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  overflow: hidden;
  color: bolt-theme(background);
  text-align: left;
  text-align: start;
  border-radius: bolt-border-radius(large);
  border-width: $bolt-tooltip-bubble-border-width;
  border-style: $bolt-tooltip-bubble-border-style;
  border-color: $bolt-tooltip-bubble-border-color;
  box-shadow: bolt-shadow('level-20');
  background-color: bolt-theme(text, 0.8);
  will-change: transform;
  transition: transform $bolt-transition-timing
    cubic-bezier(0.175, 0.885, 0.32, 1);

  @at-root .c-bolt-tooltip--text-wrap & {
    width: 150px;
    white-space: normal;
    hyphens: auto;
  }

  @at-root .c-bolt-tooltip--text-align-center & {
    text-align: center;
  }

  @at-root [class*='c-bolt-tooltip--top'] & {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 100%, 0);
    margin-right: 0;
    margin-left: 0;
  }

  @at-root .c-bolt-tooltip--top-end & {
    transform-origin: bottom right;
  }

  @at-root .c-bolt-tooltip--top & {
    transform-origin: bottom center;
  }

  @at-root .c-bolt-tooltip--top-start & {
    transform-origin: bottom left;
  }

  @at-root [class*='c-bolt-tooltip--left'] & {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(100%, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
  }

  @at-root .c-bolt-tooltip--left-start & {
    transform-origin: top right;
  }

  @at-root .c-bolt-tooltip--left & {
    transform-origin: center right;
  }

  @at-root .c-bolt-tooltip--left-end & {
    transform-origin: bottom right;
  }

  @at-root [class*='c-bolt-tooltip--right'] & {
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-100%, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
  }

  @at-root .c-bolt-tooltip--right-start & {
    transform-origin: top left;
  }

  @at-root .c-bolt-tooltip--right & {
    transform-origin: center left;
  }

  @at-root .c-bolt-tooltip--right-end & {
    transform-origin: bottom left;
  }

  @at-root [class*='c-bolt-tooltip--bottom'] & {
    transform: scale3d(0, 0, 0) translate3d(0, -100%, 0);
    margin-right: 0;
    margin-left: 0;
  }

  @at-root .c-bolt-tooltip--bottom-end & {
    transform-origin: top right;
  }

  @at-root .c-bolt-tooltip--bottom & {
    transform-origin: top center;
  }

  @at-root .c-bolt-tooltip--bottom-start & {
    transform-origin: top left;
  }
}

@include bolt-repeat-rule(
  (
    '.c-bolt-tooltip.is-expanded .c-bolt-tooltip__bubble',
    // @todo: Since placement doesn't work without JS, this turns off the fly in effect if there is no JS.
      'bolt-tooltip:not([ready]) .c-bolt-tooltip__bubble',
    // @todo: Since placement doesn't work without JS, this turns off the fly in effect if there is no JS.
      ':host:not([ready]) .c-bolt-tooltip__bubble'
  )
) {
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
