{% set schema = bolt.data.components["@bolt-components-text"].schema %}

{% macro code_example(code, copy) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {{ code }}
  </div>
{% endmacro %}

{% import _self as text_code %}

<div class="o-bolt-wrapper">
  {% block content %}
  {% endblock %}
</div>

