{% extends "@bolt/default-template.twig" %}

{% block main_content %}
  {% for i in 1..30 %}
    {% if loop.index is even %}
      <div style="background-color: lightgrey; height: 100px;"></div>
    {% else  %}
      <div style="background-color: darkgrey; height: 100px;"></div>
    {% endif %}
  {% endfor %}
{% endblock %}
