<blockquote class="c-quote">
    <p class="c-quote__quotation">{{quotation}}</p>
    <footer class="c-quote__reference">
      <span class="c-quote__attribution-name">{{attribution.name}}</span>{% if attribution.title %}, <span class="c-quote__attribution-title">{{attribution.title}}</span>{% endif %}
    </footer>
</blockquote>
