/* ------------------------------------ *\
   Accordion
\* ------------------------------------ */
@import '@bolt/core';


bolt-accordion {
  display: block;
  overflow: hidden;
}

// .collapsing {

// }

// .is-collapsing {
//   height: 0;
//   overflow: hidden;
//   transition: height 0.2s ease;
// }

// // .collapse.show {
// //   display: block;
// //   overflow: visible;
// // }

// // .collapse {
// //   display: none;
// // }

// .c-bolt-collapse__header--open {
//   background-color: #eee;
// }

// .c-bolt-collapse__header {
//   display: block;
//   margin: 0;
// }




// .c-bolt-collapse__header-button {
//   display: block;
//   width: 100%;
//   padding: 20px 24px;
//   border: none;
//   border-top: 1px solid #eee;
//   margin: 0;
//   background-color: #fff;
//   border-radius: 0;
//   color: inherit;
//   cursor: pointer;
//   font-size: inherit;
//   text-align: left;
//   transition: background-color 0.2s ease;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .c-bolt-collapse__content {
//   display: none;
//   overflow: hidden;
//   position: relative;
//   height: 0;
//   border-top: 1px solid #eee;
//   background-color: #fff;
//   transition: height 0.1s ease 0.1s;
// }

.c-bolt-collapse__content-inner {
  padding: 20px 24px;
  // opacity: 0;
  // transition: opacity 0.1s ease;

  // .is-opening,
  // .is-opened & {
  //   // opacity: 1;
  //   transition: opacity 0.1s ease;
  // }
}

// .is-collapsed {
//   display: none;
// }

// .is-collapsing,
// .is-opened,
// .is-opening {
//   display: block;
// }

// .is-opened {
//   height: auto;
// }





// Variables

$handorgel-border-color: #eee !default;
$handorgel-border-width: 1px !default;

$handorgel__header__button-background-color: #fff !default;
$handorgel__header--open__button-background-color: #eee !default;
$handorgel__header--focus__button-background-color: #dfdfdf !default;

$handorgel__header__button-padding: 20px 24px !default;
$handorgel__content__inner-padding: 20px 24px !default;

$handorgel__content-background: bolt-color(gray, xlight) !default;

// Variables for closing transition
$handorgel__content-transition-opacity-time: 0.1s !default;
$handorgel__content-transition-opacity-method: ease !default;

$handorgel__content-transition-height-time: 0.1s !default;
$handorgel__content-transition-height-delay: $handorgel__content-transition-opacity-time !default;
$handorgel__content-transition-height-method: cubic-bezier(0, 0, .3, 1) !default;

$handorgel__header__button-transition-background-color-time: 0.2s !default;
$handorgel__header__button-transition-background-color-method: ease !default;

$handorgel__content-transition: height $handorgel__content-transition-height-time
$handorgel__content-transition-height-method $handorgel__content-transition-height-delay !default;

$handorgel__header__button-transition: background-color
$handorgel__header__button-transition-background-color-time
$handorgel__header__button-transition-background-color-method !default;

$handorgel__content__inner-transition: opacity $handorgel__content-transition-opacity-time
$handorgel__content-transition-opacity-method !default;

// Variables for opening transition

$handorgel__content--open-transition-height-time: 0.2s !default;
$handorgel__content--open-transition-height-method: ease !default;

$handorgel__content--open-transition-opacity-time: 0.3s !default;
$handorgel__content--open-transition-opacity-method: ease !default;

$handorgel__content--open-transition: height $handorgel__content--open-transition-height-time
$handorgel__content--open-transition-height-method !default;

$handorgel__content--opened__inner-transition: opacity
$handorgel__content--open-transition-opacity-time
$handorgel__content--open-transition-opacity-method !default;


bolt-collapse {
  border: $handorgel-border-width solid $handorgel-border-color;
  display: block;
}

.c-bolt-collapse {


  & {
    display: block;
    width: 100%;
    border: $handorgel-border-width solid $handorgel-border-color;
    border-top: none;
  }

  &__header {
    display: block;
    margin: 0;
  }

  &__header--open &__header-button {
    background-color: $handorgel__header--open__button-background-color;
  }

  &__header--notransition &__header-button {
    transition: none;
  }

  &__header--focus &__header-button {
    background-color: $handorgel__header--focus__button-background-color;
    outline: none;
  }

  &__header-button {
    display: block;
    width: 100%;
    padding: $handorgel__header__button-padding;
    border: none;
    border-top: $handorgel-border-width solid $handorgel-border-color;
    margin: 0;
    background-color: $handorgel__header__button-background-color;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    text-align: left;
    transition: $handorgel__header__button-transition;
    user-select: none;

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &__content {
    display: none;
    overflow: hidden;
    height: 0;
    border-top: $handorgel-border-width solid $handorgel-border-color;
    background-color: $handorgel__content-background;
    transition: $handorgel__content-transition;

    &.is-opening {
      display: block;
      transition: $handorgel__content--open-transition;
    }

    &.is-opened {
      overflow: visible;
      display: block;
      height: auto;
    }

    &.is-collapsing {
      display: block;
    }

    &--notransition {
      transition: none;
    }
  }

  &__content-inner {
    padding: $handorgel__content__inner-padding;
    opacity: 0;
    transition: $handorgel__content__inner-transition;

    .is-opening &,
    .is-opened & {
      opacity: 1;
      transition: $handorgel__content--opened__inner-transition;
    }
  }

  // &__content--opened &__content-inner {

  // }
}