/* ------------------------------------ *\
   Buttons
\* ------------------------------------ */
// @import '@bolt/settings-global';
// @import '@bolt/tools-button-color';
// @import '@bolt/tools-font-size';
// @import '@bolt/tools-font-weight';
// @import '@bolt/tools-spacing';
// @import '@bolt/tools-no-select';


$bolt-color-button-text: bolt-color(white);
$bolt-color-primary: bolt-color(indigo, light);
$bolt-color-secondary: bolt-color(indigo, light);



$bolt-button-shadow: $bolt-shadow--small;
$bolt-button-shadow--hover: $bolt-shadow--large;
$bolt-button-border-width: $bolt-border-width;
$bolt-button-border-style: $bolt-border-style;
$bolt-button-border-radius: $bolt-border-radius;
$bolt-button-transition: $bolt-transition;
$bolt-button-translate--hover: $bolt-translate-raised--small;
$bolt-button-translate--active: $bolt-translate-none;




// Reset browser defaults for button and input
@mixin bolt-reset-button-styles {
  @include bolt-padding(0);
  @include bolt-font-family(body);

  border: none;
  background: none;
}

// Placeholder for colors.
@mixin bolt-link-color {
  &:link {
    color: var(--bolt-color-secondary, $bolt-color-secondary);
  }

  &:visited {
    color: var(--bolt-color-secondary, inherit);
  }

  &:hover {
    color: var(--bolt-color-secondary, mix(white, $bolt-color-secondary, 35%));
  }

  &:active {
    color: var(--bolt-color-secondary, $bolt-color-secondary);
  }
}

@mixin bolt-button-color($hiarchy) {
  @if $hiarchy == 'primary' {
    &,
    &:visited {
      color: #1F2555;
      color: var(--bolt-theme-primary-text, $bolt-color-button-text);
      border-color: var(--bolt-color-primary, $bolt-color-primary);
      background-color: var(--bolt-color-primary, $bolt-color-primary);
    }

    &:hover {
      border-color: var(--bolt-color-primary, mix(white, $bolt-color-primary, 15%));
      background-color: var(--bolt-color-primary, mix(white, $bolt-color-primary, 15%));
      background-color: var(--bolt-theme-primary-color--hover);
      
    }

    &:active {
      border-color: var(--bolt-color-primary, mix(black, $bolt-color-primary, 25%));
      background-color: var(--bolt-color-primary, mix(black, $bolt-color-primary, 25%));
      background-color: var(--bolt-theme-primary-color--active);
    }
  }

  @elseif $hiarchy == 'secondary' {
    &,
    &:visited {
      color: var(--bolt-color-primary, $bolt-color-primary);
      border-color: var(--bolt-color-button-text, $bolt-color-button-text);
      background-color: var(--bolt-color-button-text, $bolt-color-button-text);
    }

    &:hover {
      border-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 2%));
      background-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 2%));
    }

    &:active {
      border-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 15%));
      background-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 15%));
    }
  }

  @elseif $hiarchy == 'text' {
    &,
    &:visited {
      color: var(--bolt-color-secondary, $bolt-color-secondary);
      border-color: transparent;
      background-color: transparent;
    }

    &:hover {
      border-color: transparent;
      background-color: transparent;
    }

    &:active {
      border-color: transparent;
      background-color: transparent;
    }
  }

  @elseif $hiarchy == 'success' {
    &,
    &:visited {
      color: bolt-color(white);
      border-color: bolt-color(success);
      background-color: bolt-color(success);
    }

    &:hover {
      border-color: bolt-color(success, dark);
      background-color: bolt-color(success, dark);
    }

    &:active {
      border-color: bolt-color(success, dark);
      background-color: bolt-color(success, dark);
    }
  }

  @elseif $hiarchy == 'warning' {
    &,
    &:visited {
      color: bolt-color(black);
      border-color: bolt-color(warning);
      background-color: bolt-color(warning);
    }

    &:hover {
      border-color: bolt-color(warning, dark);
      background-color: bolt-color(warning, dark);
    }

    &:active {
      border-color: bolt-color(warning, dark);
      background-color: bolt-color(warning, dark);
    }
  }

  @elseif $hiarchy == 'error' {
    &,
    &:visited {
      color: bolt-color(white);
      border-color: bolt-color(error);
      background-color: bolt-color(error);
    }

    &:hover {
      border-color: bolt-color(error, dark);
      background-color: bolt-color(error, dark);
    }

    &:active {
      border-color: bolt-color(error, dark);
      background-color: bolt-color(error, dark);
    }
  }

  @elseif $hiarchy == 'disabled' {
    &,
    &:visited {
      color: bolt-color(gray);
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
    }

    &:hover {
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
    }

    &:active {
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
    }
  }
}

@mixin bolt-button {
  @include bolt-reset-button-styles;
  @include bolt-no-select;
  @include bolt-font-weight(semibold);

  display: inline-block;
  @supports (display: flex) {
    display: inline-flex;
  }

  position: relative;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-style: $bolt-button-border-style;
  border-width: $bolt-button-border-width;
  border-radius: $bolt-button-border-radius;
  box-shadow: $bolt-button-shadow;
  transition: all $bolt-button-transition;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    border-radius: $bolt-button-border-radius;
    box-shadow: $bolt-button-shadow--hover;
    opacity: 0;
    z-index: -1;
    transition: opacity $bolt-button-transition;
  }

  &:not([disabled]){
    &:hover, &:focus {
      transform: $bolt-button-translate--hover;
      &:before {
        opacity: 1;
      }
    }

    &:active {
      transform: $bolt-button-translate--active;
      

      &:before {
        opacity: 0;
      }
    }
  }
}


bolt-button {
  display: inline-block; // Fallback
  display: inline-flex; // So equal height works
  flex-grow: 1;
}

// Button colors
.c-bolt-button {
  @include bolt-button;
}

.c-bolt-button,
.c-bolt-button--primary {
  @include bolt-button-color(primary);

  // --bolt-theme-primary-color:     $bolt-theme-primary-color;
}

.c-bolt-button--secondary {
  @include bolt-button-color(secondary);
}

.c-bolt-button--text {
  @include bolt-button-color(text);
}

.c-bolt-button--success {
  @include bolt-button-color(success);
}

.c-bolt-button--warning {
  @include bolt-button-color(warning);
}

.c-bolt-button--error {
  @include bolt-button-color(error);
}

.c-bolt-button[disabled],
.c-bolt-button--disabled {
  @include bolt-button-color(disabled);
  cursor: not-allowed;
}


// Removing shadows for text buttons

.c-bolt-button--text,
.c-bolt-button--text:before, {
  border-radius: 0;
  box-shadow: none;
}


// Button sizes

.c-bolt-button,
.c-bolt-button--medium {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--xsmall {
  @include bolt-padding(xsmall, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--small {
  @include bolt-padding(small, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--large {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(medium);
}

.c-bolt-button--xlarge {
  @include bolt-padding(large, squished);
  @include bolt-font-size(large);
}


// Button widths

.c-bolt-button--full {
  width: 100%;
}

.c-bolt-button--full\@small {
  @media screen and (max-width: map-get($bolt-breakpoints, small)) {
    width: 100%;
  }
}


// Button items

.c-bolt-button--item-align-center {
  @supports (display: flex) {
    justify-content: center;
  }
  text-align: center;
}

.c-bolt-button--item-align-start {
  @supports (display: flex) {
    justify-content: flex-start;
  }
  text-align: left;
}

.c-bolt-button__item {
  display: inline-flex;
  align-self: center;
}

.c-bolt-button__item-text + .c-bolt-button__item-icon {
  @include bolt-margin-left(xsmall);
}

.c-bolt-button__item-icon {
  width: 1em;
  height: 1em;

  svg {
    width: 1em;
    height: auto;
    fill: currentColor;
  }
}

.c-bolt-button__item-icon + .c-bolt-button__item-text {
  @include bolt-margin-left(xsmall);
}


// Links

.c-bolt-link {
  @include bolt-reset-button-styles;
  @include bolt-link-color;

  text-decoration: underline;
  transition: all $bolt-button-transition;
}
