.sub-nav {
  border-top: 1px solid #E0E2EB;
  list-style-type: none;
  margin: 0;

  &__link {
    font-size: 1.11rem;
    line-height: 1.25;
    font-weight: 300;

    &--active-path {
      color: #545DA6;
      font-weight: 600;
      &+.sub-nav__list--depth-3 {
        border-left: 2px solid #535ca6;
      }
    }
    &--active {
      font-weight: bolder;
      text-decoration: none;
    }
    &--parent {
      background: #e0e2eb;
      display: block;
      border-top: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      padding: 0.6rem 1.7rem;
      color: #000;

      &.sub-nav__link--active-path {
        background: #545DA6;
        color: #FFF;
        text-decoration: none;
      }
    }
    .sub-nav__list--depth-1 & {
      font-size: 1.25rem;
    }
    .sub-nav__list--depth-2 & {
      font-size: 0.9rem;
      display: block;
      margin: 0.5rem 0;

      &.sub-nav__link--active {
        color: #545DA6;
        font-style: italic;
        font-weight: 600;

        &:before {
          content: "#";
          font-weight: 100;
        }
      }
    }
  }

  &__list {
    &--depth-2,
    &--depth-3 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      border-left: 2px solid transparent;
      margin-left: 0.25rem;
      padding-left: 2rem;
    }
  }

  > ul {
    margin-left: 0;
    padding: 0;
    li:first-child a.sub-nav__link--parent {
      border-top: none;
    }
  }

  li {
    list-style: none;
  }
}

