{% include "@bolt-components-navbar/navbar.twig" with {
  theme: "xdark",
  "title": {
    "tag": "h2",
    "text": "Bolt Design System",
  },
  "links": [
    {
      "text": "Components",
      "url": "#"
    },
    {
      "text": "Documentation",
      "url": "#"
    },
    {
      "text": "Github",
      "url": "#"
    }
  ]
} only %}

{% block main_content %}

  {# hero band #}
{% embed "@bolt/band.twig" with {
    size: "large",
    theme: "xdark",
    fullBleed: true,
    attributes: {
      class: [
        "u-bolt-height-screen"
      ]
    },
    background: {
      "opacity": "medium",
      "fill": "color",
      "focalPoint": {
        "vertical": "center",
        "horizontal": "center"
      },
      "contentItems": [
        {
          "pattern": "image",
          "src": "/pattern-lab/images/content/backgrounds/background-bolt.jpg",
          "lazyload": true
        }
      ]
    }
  } only %}
    {% block band_content  %}
    {% grid "o-bolt-grid--flex o-bolt-grid--large o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell 'u-bolt-width-1/1 u-bolt-width-2/3@medium' %}  
          {% set classes = create_attribute(imageAttributes | default({})).addClass([
            "c-bolt-image__img",
            "u-bolt-width-1/1",
          ])
        %}  
        <div class="u-bolt-margin-bottom-medium">
          {% include '@bolt-components-image/image.twig' with {
            src: "/pattern-lab/images/content/backgrounds/bolt-logo-lockup-dark.png",
            alt: "Bolt Design System logo",
          } only %}
        </div>
        {% include "@bolt/eyebrow.twig" with {
          text: bolt.data.fullManifest.version,
          align: "center",
        } only %}
      {% include "@bolt/subheadline.twig" with {
          text: "The Bolt provides a system of reusable and consistent UI components, visual styles, tools, guidelines, and services that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope.",
          size: "xlarge",
          tag: "h2",
          align: "center",
      } only %}
  
      <div class="u-bolt-text-align-center u-bolt-margin-bottom-large">
        {% include "@bolt-components-button-group/button-group.twig" with {
              buttons: [
                {
                  text: "Get started",
                  width: "full",
                  style: "primary"
                },
                {
                  text: "View on GitHub",
                  width: "full",
                  style: "secondary",
                  icon: {
                    name: "external-link",
                    position: "after"
                  }
                }
              ],
              full: true,
              align: "center",
            } only %} 
        </div> 
      <div class="u-bolt-text-align-center">
          {% include "@bolt-components-link/link.twig" with {
            text: "Download Sketch Assets",
            url: "#!",
            icon: {
              name: "download",
              position: "before"
            },
          } only %}
      </div>


      {% endcell %}
    {% endgrid %}
    {% endblock %}
  {% endembed %}
{% endblock %}
{# End hero band #}
