////
/// @group Settings: Typography
/// @author Mike Mai
////


/* ------------------------------------ *\
  Base Font Size
\* ------------------------------------ */


$bolt-font-size--min: 15;
$bolt-font-size--min-px: 15px;
$bolt-font-size--max: 18;
$bolt-font-size--max-px: 18px;






/* ------------------------------------ *\
  Scale
\* ------------------------------------ */


// $bolt-font-scale--xxxlarge--min: 2.275;


$bolt-font-scale--xxlarge--max: 3.083;
$bolt-font-scale--xxlarge--min: 2.275;

$bolt-font-scale--xxxxlarge: 3.083;
$bolt-font-scale--xxxlarge: 2.275;
$bolt-font-scale--xxlarge: 1.781;
$bolt-font-scale--xlarge: 1.417;
$bolt-font-scale--large: 1.111;
$bolt-font-scale--medium: 1;
$bolt-font-scale--small: 0.9;
$bolt-font-scale--xsmall: 0.8;



$bolt-font-leading--xxxxlarge: 1.14;
$bolt-font-leading--xxxlarge: 1.14;
$bolt-font-leading--xxlarge: 1.13;
$bolt-font-leading--xlarge: 1.21;
$bolt-font-leading--large: 1.31;
$bolt-font-leading--medium: 1.65;
$bolt-font-leading--small: 1.51;
$bolt-font-leading--xsmall: 1.45;



$bolt-font-leading--tight: 1.111;






/// Bolt's definition of all options of possible text sizes.
/// @type Map
$bolt-font-sizes: (
  font-sizes: (
    xxxxlarge: (
      font-size: $bolt-font-scale--xxxxlarge + rem,
      line-height: (
        regular: $bolt-font-leading--xxxxlarge,
        tight: $bolt-font-leading--tight
      ),
    ),
    xxxlarge: (
      font-size: $bolt-font-scale--xxxlarge + rem,
      line-height: (
        regular: $bolt-font-leading--xxxlarge,
        tight: $bolt-font-leading--tight
      ),
    ),
    xxlarge: (
      font-size: $bolt-font-scale--xxlarge + rem,
      line-height: (
        regular: $bolt-font-leading--xxlarge,
        tight: $bolt-font-leading--tight
      )
    ),
    xlarge: (
      font-size: $bolt-font-scale--xlarge + rem,
      line-height: (
        regular: $bolt-font-leading--xlarge,
        tight: $bolt-font-leading--tight
      )
    ),
    large: (
      font-size: $bolt-font-scale--large + rem,
      line-height: (
        regular: $bolt-font-leading--large,
        tight: $bolt-font-leading--tight
      )
    ),
    medium: (
      font-size: $bolt-font-scale--medium + rem,
      line-height: (
        regular: $bolt-font-leading--medium,
        tight: $bolt-font-leading--tight
      )
    ),
    small: (
      font-size: $bolt-font-scale--small + rem,
      line-height: (
        regular: $bolt-font-leading--small,
        tight: $bolt-font-leading--tight
      )
    ),
    xsmall: (
      font-size: $bolt-font-scale--xsmall + rem,
      line-height: (
        regular: $bolt-font-leading--xsmall,
        tight: $bolt-font-leading--tight
      )
    )
  )
);
