.storefront-docs {
  //background: #F5F5FA;
}

.storefront-docs-title {
  color: #FFF;
  font-size: 18px;
  margin-top: 1px;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 100;
  letter-spacing: 2px;

  bolt-icon {
    margin-right: 7px;
  }

  span {
    vertical-align: middle;
  }

  .storefront-docs__content--has-sidebar & {
    color: var(--bolt-theme-background);

    @media (max-width: 1024px) {
      color: #FFF;
    }
  }
}

.storefront-docs-header {
  background: #0074B3;
  border-bottom: 1px solid #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;

  &.scrolled {
    box-shadow: 0 0 10px var(--bolt-theme-background);
    height: inherit;
  }

  @media (min-width: 768px) {
    height: 228px;
  }

  .storefront-docs__content--has-sidebar & {
    @media (min-width: 1025px) {
      padding-left: 320px;
    }
  }
}

.storefront-docs-header__nav {
  padding: 15px 20px;
  text-align: right;

  a {
    color: #FFF;
    padding: 6px 12px;

    &.active,
    &.active-path {
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid #FFF;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(21,22,25,.12), 0 1px 2px rgba(21,22,25,.24);
      &.active-path {
        text-decoration: none;
      }
    }
  }
}

.storefront-docs-sidebar {
  width: 320px;
  overflow: hidden;
  border-right: 1px solid #E0E2EB;
  padding: 45px 20px 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -320px;
  background-color: #fff;
  z-index: 99;
  transition: left .2s cubic-bezier(.23, 1, .32, 1);

  @media (min-width: 1025px) {
    left: 0;
  }

  h1 {
    font-size: 1.3rem;
  }
}

.storefront-docs-content {
  margin: 65px 0 0 0;
  padding: 0 0 0 0;
  transition: margin .4s;

  @media (min-width: 768px) {
    margin-top: 228px;
  }

  .storefront-docs__content--has-sidebar & {
    @media (min-width: 1025px) {
      margin-left: 340px;
    }
  }
}

.storefront-docs-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 70;
  border-top: 1px solid #E0E2EB;
  background-color: #fff;
  overflow: hidden;
  backface-visibility: hidden;

  .storefront-docs__content--has-sidebar+& {
    @media (min-width: 1025px) {
      padding-left: 340px;
    }
  }
}