/* ------------------------------------ *\
   Table
\* ------------------------------------ */

@import '@bolt/core-v3.x';

.e-bolt-table-wrapper {
  @include bolt-scroll;

  display: inline-block;
  max-width: 100%;
  max-height: 75vh;
  line-height: var(--bolt-type-line-height-xsmall);
  border-radius: bolt-border-radius(small);
  box-shadow: 0 0 0 1px var(--m-bolt-table-border);
  background-color: var(--m-bolt-table-border);
  overscroll-behavior: none;

  &--full-width {
    display: block;
  }

  & > .e-bolt-table {
    width: 100%;
  }
}

.e-bolt-table {
  font-size: var(--bolt-type-font-size-xsmall);
  border-radius: bolt-border-radius(small);
  box-shadow: 0 0 0 1px var(--m-bolt-table-border);
  // The bg color here serves as border color because the cells have spacing in-between which will expose the bg color of the table. It creates the illusion of borders.

  @media print {
    max-width: unset;
    max-height: unset;
  }

  thead {
    --m-bolt-text: var(--m-bolt-headline);
    --m-bolt-link: var(--m-bolt-headline);
  }

  caption,
  td {
    background-color: var(--m-bolt-bg);
  }

  caption {
    font-size: var(--bolt-type-font-size-xsmall);
    line-height: var(--bolt-type-line-height-xsmall);
  }

  thead td,
  th {
    background-color: var(--m-bolt-table-header);
  }

  thead td,
  thead th,
  tbody:first-child tr:first-of-type td,
  tbody:first-child tr:first-of-type th {
    &:first-child {
      border-top-left-radius: bolt-border-radius(small);
    }

    &:last-child {
      border-top-right-radius: bolt-border-radius(small);
    }
  }

  tbody:last-child tr:last-of-type td,
  tbody:last-child tr:last-of-type th,
  tfoot:last-child td,
  tfoot:last-child th {
    &:first-child {
      border-bottom-left-radius: bolt-border-radius(small);
    }

    &:last-child {
      border-bottom-right-radius: bolt-border-radius(small);
    }
  }

  th,
  td {
    padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
    transition: box-shadow var(--bolt-transition),
      background-color var(--bolt-transition);
  }

  tfoot td,
  tfoot th {
    font-weight: var(--bolt-type-font-weight-bold);
  }

  tbody,
  tfoot {
    th:first-of-type {
      position: relative;

      &:before {
        content: '';
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px;
        background-color: var(--m-bolt-headline);
        transition: opacity var(--bolt-transition);
      }
    }

    tr:hover {
      th,
      td {
        background-color: var(--m-bolt-table-highlight);
      }

      th {
        z-index: 1;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  caption {
    padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
    text-align: start;
    border-top: 1px solid var(--m-bolt-table-border);
    caption-side: bottom;
  }

  &.e-bolt-table--borderless {
    box-shadow: none;
    border-spacing: 0;

    th {
      box-shadow: none;
    }
  }
}

.e-bolt-table--full-width {
  width: 100%;
}

.e-bolt-table--numeric {
  td,
  th {
    font-family: var(--bolt-type-font-family-code);
    text-align: center;
    white-space: nowrap;
  }

  tbody th,
  tfoot th {
    width: 1%;
    text-align: right;
  }

  tbody th {
    font-family: var(--bolt-type-font-family-body);
  }
}

.e-bolt-table--sticky-side-headers {
  th {
    &:first-of-type {
      position: sticky;
      left: 1px;
      box-shadow: 0 0 0 1px var(--m-bolt-table-border);
    }
  }

  &.e-bolt-table--borderless {
    th {
      &:first-of-type {
        left: 0;
        box-shadow: none;
      }
    }
  }
}

.e-bolt-table--sticky-top-headers {
  thead th {
    position: sticky;
    top: 1px;
    z-index: 2;
    box-shadow: 0 0 0 1px var(--m-bolt-table-border);
  }

  &.e-bolt-table--borderless {
    thead th {
      top: 0;
    }
  }
}

.e-bolt-table--fixed-width-columns {
  &--first {
    tr th:first-of-type:not(th:nth-child(2)),
    tr td:first-of-type:not(td:nth-child(2)) {
      width: 1%;
      white-space: nowrap;
    }
  }

  &--second {
    tr th:first-of-type + th:not(th:nth-child(3)),
    tr th:first-of-type + td:not(td:nth-child(3)),
    tr td:first-of-type + td:not(td:nth-child(3)),
    tr td:first-of-type + th:not(th:nth-child(3)) {
      width: 1%;
      white-space: nowrap;
    }
  }

  &--first-two {
    tr th:first-of-type:not(th:nth-child(2)),
    tr td:first-of-type:not(td:nth-child(2)),
    tr th:first-of-type + th:not(th:nth-child(3)),
    tr th:first-of-type + td:not(td:nth-child(3)),
    tr td:first-of-type + td:not(td:nth-child(3)),
    tr td:first-of-type + th:not(th:nth-child(3)) {
      width: 1%;
      white-space: nowrap;
    }
  }
}

.e-bolt-table--fixed-width-table {
  table-layout: fixed;

  tr th,
  tr td,
  tr th:first-of-type,
  tr td:first-of-type,
  tr th:first-of-type + th,
  tr th:first-of-type + td,
  tr td:first-of-type + td,
  tr td:first-of-type + th {
    width: auto;
    white-space: normal;
    word-break: break-all;
  }
}

.e-bolt-table__expand-button[aria-expanded='true'] {
  .e-bolt-icon {
    transform: rotate(180deg);
  }
}

.e-bolt-table__controls {
  display: flex;
  justify-content: space-between;
  gap: var(--bolt-spacing-x-small);
  align-items: center;

  .e-bolt-text-link__icon-after {
    pointer-events: none;
  }
}
