.c-nav {
  nav {
    @include mm-padding(($font-leading--base*2 + rem),($gutter + rem),($font-leading--base*2 + rem),($gutter + rem));

    h1, h2 {
      @include mm-margin(0,0,($font-leading--base + rem),0);
      @include font-size(small);

      text-transform: uppercase;
      letter-spacing: .05rem;
    }

    ul {
      @include mm-margin(0,0,0,0);
      @include mm-padding(0,0,0,0);

      list-style: none;
    }
  }
}

.c-nav--vertical {
  nav {
    ul {
      li {
        @include mm-margin(0,0,($font-leading--base + rem),0);
        @include mm-padding(0,0,0,0);

        &:last-of-type {
          @include mm-margin(0,0,0,0);
        }
      }
    }
  }
}
