// ------------------------------------
// TOOLS - FONT SIZE
// ------------------------------------

////
/// @group Tools: Typography
/// @author Mike Mai
////

/// This returns the font-size and relevant line-height for a specific element.
/// @param {string} $size - Defines the size of the text: xsmall, small, base, medium, large, xlarge, or xxlarge.
/// @param {string} $leading [regular] - Defines the line-height of the text: regular or tight.
/// @requires {mixin} bolt-poly-fluid-sizing
/// @example scss
/// .element {
///    @include bolt-font-size(large);
/// }
@mixin bolt-font-size($size, $leading: regular) {
  $font-size: map-get-deep($bolt-font-sizes, 'font-sizes', $size, 'font-size');

  @if (type-of($font-size) == 'map') {
    $length: length(map-keys($font-size));

    @if ($length < 2) {
      font-size: nth($font-size, 2);
    } @else {
      @include bolt-poly-fluid-sizing('font-size', $font-size);
    }
  } @else {
    font-size: $font-size;
  }

  @if ($leading != '' and  $leading != null) {
    @if (type-of($leading) == number) {
      $leading: $leading;
    } @elseif (type-of($leading) == string) {
      $leading: map-get-deep($bolt-font-sizes, 'font-sizes', $size, 'line-height', $leading);
    }

    @if (type-of($leading) == 'map') {
      $length: length(map-keys($leading));

      @if ($length < 2) {
        line-height: nth($leading, 2);
      } @else {
        @debug $leading;
        @include bolt-poly-fluid-sizing('line-height', $leading);
      }
    } @else {
      line-height: $leading;
    }
  }
}
