:root {
  --primary-700: 48, 48, 48
}

.dark {
  --primary-700: 255, 255, 255
}

.dark .primary-700-color, .primary-700-color {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color, .primary-700-color {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-top-color, .primary-700-border-top-color {
  border-top-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-top-color, .primary-700-border-top-color {
  border-top-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-bottom-color, .primary-700-border-bottom-color {
  border-bottom-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-bottom-color, .primary-700-border-bottom-color {
  border-bottom-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-right-color, .primary-700-border-right-color {
  border-right-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-right-color, .primary-700-border-right-color {
  border-right-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-left-color, .primary-700-border-left-color {
  border-left-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-border-left-color, .primary-700-border-left-color {
  border-left-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-background-color, .primary-700-background-color {
  background-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-background-color, .primary-700-background-color {
  background-color: rgba(var(--primary-700), 1)
}

.dark .primary-700-fill, .primary-700-fill {
  fill: rgba(var(--primary-700), 1)
}

.dark .primary-700-fill, .primary-700-fill {
  fill: rgba(var(--primary-700), 1)
}

.dark .primary-700-stroke, .primary-700-stroke {
  stroke: rgba(var(--primary-700), 1)
}

.dark .primary-700-stroke, .primary-700-stroke {
  stroke: rgba(var(--primary-700), 1)
}

.dark .primary-700-color, .primary-700-color {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:h:hover, .primary-700-color\:h:hover {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:f:focus, .primary-700-color\:f:focus {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:a:active, .primary-700-color\:a:active {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:vi:visited, .primary-700-color\:vi:visited {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color, .primary-700-color {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:h:hover, .primary-700-color\:h:hover {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:f:focus, .primary-700-color\:f:focus {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:a:active, .primary-700-color\:a:active {
  color: rgba(var(--primary-700), 1)
}

.dark .primary-700-color\:vi:visited, .primary-700-color\:vi:visited {
  color: rgba(var(--primary-700), 1)
}