/* ------------------------------------ *\
  SETTINGS - FONT WEIGHTS
\* ------------------------------------ */

////
/// @group Settings: Typography
/// @author Mike Mai
////

/// Default regular font weight
/// @see $bolt-font-weights
$bolt-font-weight--light: 300 !default;
$bolt-font-weight--regular: 400 !default;
/// Default semibold font weight
/// @see $bolt-font-weights
$bolt-font-weight--semibold: 600 !default;
/// Default bold font weight
/// @see $bolt-font-weights
$bolt-font-weight--bold: 800 !default;

@if ($bolt-font-weight--regular < 400) {
  @error "Bolt's regular font weight can't be lighter than 400";
}

@if ($bolt-font-weight--bold < 600) {
  @error "Bolt's bold font weight can't be lighter than 600";
}

@if ($bolt-font-weight--bold < $bolt-font-weight--regular) {
  @error "Sorry, but your bold font weight, `#{$bolt-font-weight--bold}` can't be lighter than your regular font weight, `#{$bolt-font-weight--regular}`!";
}

@if ($bolt-font-weight--bold - $bolt-font-weight--regular < 300) {
  @error "Sorry, but your bold and regular font weights have values that are too close together. Please choose values that are at least 300 or more apart`!";
}

@if ($bolt-font-weight--bold - $bolt-font-weight--semibold < 100) {
  @error "Sorry, but your bold and semi-bold font weights have values that are too close together. Please choose values that are at least 100 or more apart`!";
}

/// Bolt's definition of all possible options of text weights.
/// @type Map
/// @see {mixin} bolt-font-weight
$bolt-font-weights: (
  font-weights: (
    light:    $bolt-font-weight--light,
    bold:     $bolt-font-weight--bold,
    semibold: $bolt-font-weight--semibold,
    regular:  $bolt-font-weight--regular,
    normal:   $bolt-font-weight--regular
  )
) !default;
