@import '@bolt/core';

/* ------------------------------------ *\
   Table
\* ------------------------------------ */

$bolt-table-overflow-shadow-color: rgba(bolt-color(gray, light), 0.5);
$bolt-table-border: 1px solid bolt-color(gray, light);
$bolt-table-background-color: bolt-color(white);
$bolt-table-head-background-color: rgba(bolt-color(gray, light), 0.25);
$bolt-table-row-hover-background-color: rgba(bolt-color(gray, light), 0.125);
$bolt-table-cell-text-color: bolt-color(black);
$bolt-table-header-text-color: bolt-color(gray, dark);

// Dev Notes
// 1. These are needed to fix a subpixel issue where the shadow is bleeding out and causes a 1px scrolling overflow.
// 2. This small width helps to keep the row header to be only as wide as the longest text within.


bolt-table {
  display: inline;

  &:not(:last-child) {
    .c-bolt-table {
      @include bolt-margin-bottom(medium); // [1]
    }
  }
}

.c-bolt-table {
  @include bolt-horizontal-scroll;

  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  background:
    -webkit-radial-gradient(
      left,
      ellipse,
      rgba($bolt-table-cell-text-color, 0.25) 0%,
      rgba($bolt-table-cell-text-color, 0) 75%
    ) 0 center,
    -webkit-radial-gradient(
      right,
      ellipse,
      rgba($bolt-table-cell-text-color, 0.25) 0%,
      rgba($bolt-table-cell-text-color, 0) 75%
    ) 100% center;
  background-size: .5em 100%, .5em 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.c-bolt-table__head,
.c-bolt-table__body,
.c-bolt-table__foot {
  background:
    linear-gradient(
      to right,
      rgba($bolt-table-background-color, 1) 0.85em,
      rgba($bolt-table-background-color, 0) 1em,
      rgba($bolt-table-background-color, 0) calc(100% - 1em),
      rgba($bolt-table-background-color, 1) calc(100% - 0.85em)
    );
}

.c-bolt-table__row {
  border: $bolt-table-border;
  transition: background-color $bolt-transition;

  @at-root .c-bolt-table > *:not(.c-bolt-table__head) #{&}:hover {
    background-color: $bolt-table-row-hover-background-color;
  }
}

.c-bolt-table__cell {
  text-align: left;
  vertical-align: baseline;

  @at-root .c-bolt-table__head #{&} {
    @include bolt-padding(small, squished);

    background-color: $bolt-table-head-background-color;
  }

  @at-root .c-bolt-table > *:not(.c-bolt-table__head) #{&} {
    @include bolt-padding(small);
  }

  @at-root .c-bolt-table__foot #{&} {
    @include bolt-font-weight(bold);
  }
}

.c-bolt-table__cell--header {
  @include bolt-font-family(heading);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(semibold);

  color: $bolt-table-header-text-color;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: $bolt-table-head-background-color;

  @at-root .c-bolt-table > *:not(.c-bolt-table__head) #{&}:first-child {
    border-right: $bolt-table-border;
  }
}

.c-bolt-table__cell--data {
  @include bolt-font-family(code);
  @include bolt-font-size(small);
  @include bolt-font-weight(regular);

  color: $bolt-table-cell-text-color;
}

.c-bolt-table__caption {
  @include bolt-margin(0 -1px 0 0);  // [1]
  @include bolt-padding(small, squished);
  @include bolt-font-size(small);

  caption-side: bottom;
  color: $bolt-table-header-text-color;
  text-align: left;
  background-color: $bolt-table-background-color;
}

.c-bolt-table--numeric {
  .c-bolt-table__cell {
    text-align: center;
    white-space: nowrap;

    &:first-child {
      width: 5%; // [2]
      text-align: right;
    }
  }
}
