// ------------------------------------
// Table
// ------------------------------------

@import '@bolt/core';

$bolt-table-overflow-shadow-color: bolt-theme(text, 0.25);

// see https://github.com/datorama/themify#known-issues for more info on why the border styles need to be written out longhand
$bolt-table-border-width: 1px;
$bolt-table-border-style: solid;
$bolt-table-border-color: bolt-theme(disabled);
$bolt-table-header-background-color: bolt-theme(text, 0.04375);
$bolt-table-row-hover-background-color: bolt-theme(text, 0.025);

@mixin bolt-table-border($direction){
  border-#{$direction}-color: $bolt-table-border-color;
  border-#{$direction}-style: $bolt-table-border-style;
  border-#{$direction}-width: $bolt-table-border-width;
}

@include bolt-custom-element('bolt-table', block, medium);

.c-bolt-table {
  @include bolt-margin(0);
  @include bolt-padding(0);
  @include bolt-horizontal-scroll;

  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  @include bolt-table-border(right);
  @include bolt-table-border(left);
  background:
    -webkit-radial-gradient(
      left,
      ellipse,
      bolt-theme(text, 0.25) 0%,
      bolt-theme(text, 0) 75%
    ) 0 center,
    -webkit-radial-gradient(
      right,
      ellipse,
      bolt-theme(text, 0.25) 0%,
      bolt-theme(text, 0) 75%
    ) 100% center;
  background-attachment: scroll, scroll;
  background-color: bolt-theme(background);
  background-repeat: no-repeat;
  background-size: .5em 100%, .5em 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  // Caption is not offered in the component. These generic styles are in place in case there are some legacy tables out there that used <caption>.
  caption {
    @include bolt-font-size(small);
    color: bolt-theme(text, 0.65);
    text-align: center;
    background-color: bolt-theme(background);

    caption-side: bottom;
  }
}

.c-bolt-table__head,
.c-bolt-table__body,
.c-bolt-table__foot {
  background:
    linear-gradient(
      to right,
      bolt-theme(background, 1) 0.75em,
      bolt-theme(background, 0) 2em,
      bolt-theme(background, 0) calc(100% - 2em),
      bolt-theme(background, 1) calc(100% - 0.75em)
    );
}

.c-bolt-table__row {
  @include bolt-table-border(top);
  @include bolt-table-border(bottom);
  transition: background-color $bolt-transition;

  @at-root .c-bolt-table > *:not(.c-bolt-table__head) #{&}:hover {
    background-color: $bolt-table-row-hover-background-color;
  }
}

.c-bolt-table__cell {
  text-align: left;
  vertical-align: top;

  &:not(:last-child) {
    @include bolt-table-border(right);
  }

  &:first-child:empty ~ .c-bolt-table__cell {
    width: auto;
  }

  @at-root .c-bolt-table__head #{&} {
    @include bolt-padding(small, squished);

    width: 1%;
    background-color: $bolt-table-header-background-color;
  }

  @at-root .c-bolt-table__body:first-child #{&} {
    width: 1%;
  }

  @at-root .c-bolt-table > *:not(.c-bolt-table__head) #{&} {
    @include bolt-padding(small);
  }

  @at-root .c-bolt-table__foot #{&} {
    @include bolt-font-weight(bold);
  }

  img {
    max-width: 100%;
  }
}

.c-bolt-table__cell--header {
  @include bolt-font-family(heading);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(semibold);

  color: bolt-theme(text, 0.65);
  white-space: nowrap;
  background-color: $bolt-table-header-background-color;

  &:first-child {
    width: 1%;

    & ~ .c-bolt-table__cell--data {
      width: auto;
    }
  }
}

.c-bolt-table__cell--data {
  @include bolt-font-family(code);
  @include bolt-font-size(small);
  @include bolt-font-weight(regular);

  color: bolt-theme(text);
}

.c-bolt-table--borderless {
  .c-bolt-table__cell:not(:last-child) {
    border-right: 0;
  }

  .c-bolt-table__cell--data[rowspan]:not(:last-child) {
    @include bolt-table-border(right);
  }

  td.c-bolt-table__cell--data[rowspan]:not(:first-of-type) {
    @include bolt-table-border(left);
  }

  > *:not(.c-bolt-table__head) .c-bolt-table__cell--header:first-child {
    @include bolt-table-border(right);
  }
}

.c-bolt-table--format-numeric {
  .c-bolt-table__cell {
    text-align: center;
    white-space: nowrap;
  }

  > *:not(.c-bolt-table__head) .c-bolt-table__cell--header:first-child {
    text-align: right;
  }
}

.c-bolt-table--first-col-fixed-width {
  .c-bolt-table__head .c-bolt-table__cell:first-child,
  td.c-bolt-table__cell--data:first-of-type {
    width: 1%;
    white-space: nowrap;

    & ~ .c-bolt-table__cell {
      width: auto;
    }
  }
}
