{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--center" %}
      {% cell %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as tooltip_example %}

{% set tooltip_demo %}
<bolt-tooltip>
  CRM
  <span slot="content">Customer relationship management</span>
</bolt-tooltip>
{% endset %}

{% set tooltip_prop_demo %}
<bolt-tooltip placement="top" uuid="target-this-unique-id">
  CRM
  <span slot="content">Customer relationship management</span>
</bolt-tooltip>
{% endset %}

{% set tooltip_advanced_demo %}
<bolt-tooltip>
  <button type="button" class="e-bolt-button">
    Download
  </button>
  <span slot="content">File size: 25MB</span>
</bolt-tooltip>
{% endset %}


<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Tooltip is a web component, you can simply use <code>&lt;bolt-tooltip&gt;</code> in the markup to make it render.
</bolt-text>
{% include tooltip_example.code_example(tooltip_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: tooltip_demo,
  lang: 'html',
  mode: 'dark',
} only %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the tooltip with the properties specified in the schema.
</bolt-text>
{% include tooltip_example.code_example(tooltip_prop_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: tooltip_prop_demo,
  lang: 'html',
  mode: 'dark',
} only %}

<bolt-text headline>Advanced Usage</bolt-text>
<bolt-text>
  Any element can be passed as the trigger.
</bolt-text>
{% include tooltip_example.code_example(tooltip_advanced_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: tooltip_prop_demo,
  lang: 'html',
  mode: 'dark',
} only %}
