{% for theme in ["xlight", "light", "dark", "xdark"] %}
  <p>Theme: {{ theme }}</p>
  {% embed "@utils/theme-demo.twig" %}
    {% block demo_content %}
      {% include "@bolt-components-ul/ul.twig" with {
        "items" : [
          "Do not include any data or information in your posts that are confidential!",
          "Apply basic practices for collaborative work.",
          "Be honest, respectful, trustworthy and helpful.",
          "Answer questions authoritatively and concisely. Avoid cluttering discussions with noise."
        ]
      } only %}
    {% endblock %}
  {% endembed %}
  <br>
{% endfor %}
