<div class="c-bolt-horizontal-divider">
  <div class="c-bolt-horizontal-divider__border"></div>
  {% if dividerText %}
    <div class="c-bolt-horizontal-divider__text">{{ dividerText|raw }}</div>
  {% endif %}
  <div class="c-bolt-horizontal-divider__border"></div>
</div>