---
layout: default
---
<div class="o-layout o-layout--article">
  <aside>
    <div class="c-nav c-nav--vertical">
      {% include doc-nav.html %}
    </div>
  </aside>
  <main>
    <div class="o-inset">
      <article class="c-article" itemscope itemtype="http://schema.org/BlogPosting">
        <header role="banner">
          <h1 itemprop="name headline">
            {{ page.title | escape }}
          </h1>
        </header>
        <small>
          <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
          </p>
        </small>
        <div itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
  </main>
  {% include footer.html %}
</div>
