<div style="text-align: center; padding: 6rem 0;">
{% include "@bolt-components-tooltip/tooltip.twig" with {
  trigger: {
    type: "text",
    text: "Hover Trigger",
    icon: {
      name: "info-open",
      size: "medium"
    }
  },
  content: "Here is a tooltip! And it even comes with a button toggle!",
  id: "tooltip-example-1",
  type: "action",
  position: "up",
  noWrap: false,
  spacing: "small"
} only %}
<br /><br />
{% include "@bolt-components-tooltip/tooltip.twig" with {
  trigger: {
    type: "text",
    text: "Need Help?",
    icon: {
      name: "info-open",
      size: "medium"
    }
  },
  content: 'Small piece of help text!',
  id: "tooltip-example-2",
  type: "help",
  position: "down",
  noWrap: true,
  spacing: "small"
} only %}
</div>