<div style="text-align: center; padding: 3rem;">
{% include "@bolt-components-tooltip/tooltip.twig" with {
  trigger: {
    type: "button",
    text: "Closed",
    icon: {
      name: "info-open",
      size: "medium"
    },
    toggle: {
      text: "Open",
      name: "close-open"
    }
  },
  content: include("@bolt-components-link/link.twig", {
    text: "Link 2",
    url: "#",
    icon: {
      name: "cloud",
      position: "before"
    }
  }),
  id: "tooltip-example-1",
  type: "action",
  position: {
    horz: "center",
    vert: "top"
  },
  noWrap: false,
  spacing: "small"
} only %}
</div>