{% set schema = bolt.data.components['@bolt-components-button'].schema %}

{% for tag in schema.properties.tag.enum %}
  <p>Button Tag: {{ tag }}</p>

  {% include "@bolt-components-button/button.twig" with {
    "tag": tag,
    "text": tag ~ "-tag based Button"
  } %}
{% endfor %}
