/* ------------------------------------ *\
   Headlines
\* ------------------------------------ */


.c-bolt-headline {
  @include bolt-font-family(heading);

  &:not([class*='c-bolt-headline--']) {
    @include bolt-font-size(large);
  }

  &:not([class*='c-bolt-headline--eyebrow']) {
    @include bolt-margin-bottom(xsmall);
    @include bolt-font-weight(bold);
  }
}

.c-bolt-headline--xxxlarge {
  @include bolt-font-size(xxxlarge);

  letter-spacing: -0.15rem;
}

.c-bolt-headline--xxlarge {
  @include bolt-font-size(xxlarge);

  letter-spacing: -0.1rem;
}

.c-bolt-headline--xlarge {
  @include bolt-font-size(xlarge);

  letter-spacing: -0.05rem;
}

.c-bolt-headline--large {
  @include bolt-font-size(large);
}

.c-bolt-headline--small {
  @include bolt-font-size(small);

  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.c-bolt-headline--xsmall {
  @include bolt-font-size(xsmall);

  letter-spacing: 0.05rem;
}

.c-bolt-headline--eyebrow {
  @include bolt-margin-bottom(0.1rem);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(regular);

  text-transform: uppercase;
  letter-spacing: 0.15rem;
}



.c-bolt-subheadline {
  @include bolt-margin-bottom(xsmall);
  @include bolt-font-family(heading);
  @include bolt-font-weight(regular);

  &:not([class*='c-bolt-subheadline--']) {
    @include bolt-font-size(large);
  }
}

.c-bolt-subheadline--xxlarge {
  @include bolt-font-size(xxlarge);
}

.c-bolt-subheadline--xlarge {
  @include bolt-font-size(xlarge);
}

.c-bolt-subheadline--large {
  @include bolt-font-size(large);
}
