<form>
  {% embed "@bolt-components-card/card.twig" %}
    {% block children %}
      <bolt-card-media>
        <bolt-ratio  aspect-ratio-height="9" aspect-ratio-width="16" style="--aspect-ratio-height: 9; --aspect-ratio-width: 16;">
          <bolt-video data-setup="{&quot;techOrder&quot;: [&quot;Html5&quot;], &quot;resizeManager&quot;: false}" video-id="3861325118001" account-id="1900410236" show-meta show-meta-title player-id="r1CAdLzTW" controls></bolt-video>
        </bolt-ratio>
      </bolt-card-media>

      <bolt-card-body>
        Card nested in form to test 100% non-Shadow DOM rendered card.
      </bolt-card-body>

      <bolt-card-actions>
        <bolt-card-action url="www.google.com">Test</bolt-card-action>
        <bolt-card-action>
          <bolt-button url="Pega.com" color="primary">Test 2</bolt-button>
        </bolt-card-action>
      </bolt-card-actions>
    {% endblock children %}
  {% endembed %}
</form>
