.bolt-results-graph {
  display: block;

  &__box {
    &.box-color--grey {
      background-color: bolt-color(grey);
    }

    &.box-color--indigo {
      background-color: bolt-color(indigo);
    }

    &.box-color--teal {
      background-color: bolt-color(teal);
    }

    &.box-color--orange {
      background-color: bolt-color(orange);
    }

    &.box-color--yellow {
      background-color: bolt-color(yellow);
    }
  }
}
