/* ------------------------------------ *\
   card-replacement Action
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../card-replacement-settings-and-tools.scss';

bolt-card-replacement-action {
  flex-basis: 100%;

  &:not(:only-child) {
    flex: 1;
    flex-basis: 180px; // Card action text can wrap freely, with a stacking point (for 2 actions) at around 19 characters.
  }
}

.c-bolt-card_replacement__action {
  @include bolt-card-replacement-border-reset;

  display: block;
  position: relative;
  top: $bolt-card-replacement-border-width * -1;
  height: 100%;
  border-top-width: $bolt-card-replacement-border-width;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: $bolt-card-replacement-border-width * -1;
    width: $bolt-card-replacement-border-width;
    height: calc(100% + #{$bolt-card-replacement-border-width});
    background-color: $bolt-card-replacement-border-color;
  }
}
