/* ------------------------------------ *\
   card-replacement Actions
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-replacement-settings-and-tools.scss';

bolt-card-replacement-actions {
  @include bolt-card-replacement-border-reset;
  overflow: hidden;

  &:last-child {
    @include bolt-margin-top(auto);
  }

  &:only-child {
    @include bolt-margin-top(auto);
    @include bolt-margin-bottom(auto);
  }

  &:not(:last-child) {
    border-bottom-width: $bolt-card-replacement-border-width;
  }

  @at-root * + #{&} {
    border-top-width: $bolt-card-replacement-border-width;
  }
}

.c-bolt-card_replacement__actions {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: $bolt-card-replacement-z-index-inner-link;
  width: 100%;
  margin-top: auto;
}
