{% set schema = bolt.data.components['@bolt-components-background'].schema %}

{% for horz in schema.properties.focalPoint.properties.horizontal.enum if horz != 'center' %}{# @todo: bolt background currently only reverses gradient on horz = 'left' #}
  <p>Heavy Opacity with {{  horz|capitalize }} Focal Point</p>
  {% include "./_00-background-band-demo.twig" with {
    background: {
      opacity: "heavy",
      fill: "gradient",
      focalPoint: {
        vertical: "center",
        horizontal: horz
      },
      contentItems: [
        {
          pattern: "image",
          src: "/images/content/backgrounds/background-tall-4.jpg"
        }
      ]
    },
    teaserPosition: horz == 'left' ?? 'right'
  } %}
{% endfor %}
