/* ------------------------------------ *\
   Trigger
\* ------------------------------------ */

// Dev Notes
// 1. [Mai] Reset button and input tag browser defaults.

@import '@bolt/core';

// Component variables
$bolt-trigger-transition: $bolt-transition;

/**
 * Base Trigger
 */

// @todo: move this to core and combine with bolt-custom-element() mixin.
@mixin bolt-custom-element-styles($name, $props: null) {
  @if $props {
    @each $prop in $props {
      #{$name}#{$prop} {
        @content;
      }
      :host(#{$prop}) {
        @content;
      }
    }
  } @else {
    #{$name} {
      @content;
    }
    :host {
      @content;
    }
  }
}

@include bolt-custom-element-styles(
  bolt-trigger,
  (
    '[no-outline]:active',
    '[no-outline]:focus',
    '[no-outline]:focus-within',
  )
) {
  outline: none;
}

// Component styles
.c-bolt-trigger {
  @include bolt-padding(0); // [1]
  @include bolt-margin(0); // [1]
  @include bolt-font-family(body); // [1]
  display: inline; // Default to inline
  appearance: none; // [1]
  opacity: bolt-opacity(100);
  color: inherit;
  text-align: inherit;
  text-decoration: initial;
  cursor: pointer; // Default to pointer
  font-size: inherit;
  border: none; // [1]
  background: none; // [1]
  transition: all $bolt-trigger-transition;
}

// Display styles
.c-bolt-trigger--display-inline {
  display: inline;
}

.c-bolt-trigger--display-block {
  display: block;
  width: 100%;
}

// Cursor styles
.c-bolt-trigger--cursor-default {
  cursor: default;
}

.c-bolt-trigger--cursor-zoom-in {
  cursor: zoom-in;
}

.c-bolt-trigger--cursor-zoom-out {
  cursor: zoom-out;
}

// Outline styles
.c-bolt-trigger--outline-none:active,
.c-bolt-trigger--outline-none:focus {
  outline: none;
}
