{% set schema = bolt.data.components["@bolt-elements-shape"].schema %}

{% set description %}
  A shape can be used as with various border-radius, colors, spacings.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li><bolt-code-snippet display="inline">Content</bolt-code-snippet> can be letter initials, icons or images etc.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: 'This is a shape',
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-icon/icon.twig' with {
  name: 'This is a shape',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<span class="e-bolt-shape">
  <span class="e-bolt-shape__inner">This is a shape</span>
</span>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Shape',
  description: description,
  notes: notes,
  demo: demo,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
