{% set schema = bolt.data.components['@bolt-elements-shape'].schema %}
{% set radius = schema.properties.border_radius.enum %}

{% set description %}
  A shape&rsquo;s radius can be modified per use case. Border is a rounding on a shape element edges. 
{% endset %}

{% set notes %}
  <bolt-ul>
    <bolt-li>None: 0</bolt-li>
    <bolt-li>Small: 3px</bolt-li>
    <bolt-li>Large: 0.75em</bolt-li>
    <bolt-li>Full: circle shape</bolt-li>
  </bolt-ul>
{% endset %}

{% set demo %}
  <bolt-list display="inline" spacing="small">
    {% for border_radius in radius %}
      <bolt-list-item>
        {% include "@bolt-elements-shape/shape.twig" with {
          content: 'This is a shape',
          border_radius: border_radius,
          spacing: 'medium',
        } only %}
      </bolt-list-item>
    {% endfor %}
  </bolt-list>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include "@bolt-elements-shape/shape.twig" with {
  content: 'This is a shape',
  spacing: 'medium',
  border_radius: 'full',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<span class="e-bolt-shape e-bolt-shape--spacing--medium e-bolt-shape--border_radius--full">
  <span class="e-bolt-shape__inner">This is a shape</span>
</span>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Shape Radius Variations',
  description: description,
  notes: notes,
  demo: demo,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
