{% set schema = bolt.data.components['@bolt-elements-shape'].schema %}
{% set spacings = schema.properties.spacing.enum %}
{% set t_colors = ['white', 'black', 'gray-xlight', 'navy-dark', 'navy', 'navy-light', 'teal', 'yellow', 'orange', 'pink', 'wine', 'berry', 'violet'] %}

{% set description %}
  A shape&rsquo;s color can be modified per use case. Colors should be choosen from bolt theme colors. 
{% endset %}

{% set notes %}
  <bolt-ul>
    <bolt-li>Use <bolt-code-snippet display="inline">t-bolt-*</bolt-code-snippet> theme class.</bolt-li>
  </bolt-ul>
{% endset %}

{% set demo %}
  <ul class="bolt-icon-list-demo">
      {% for t_color in t_colors %}
      <li>
        {% include "@bolt-elements-shape/shape.twig" with {
          content: 'This is a shape',
          spacing: 'medium',
          border_radius: 'full',
          attributes: {
            class: [
              't-bolt-'~t_color
            ]
          }
        } only %}
        <br />t-bolt-{{ t_color }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include "@bolt-elements-shape/shape.twig" with {
  content: 'This is a shape',
  spacing: 'medium',
  border_radius: 'full',
    attributes: {
    class: [
      't-bolt-navy'
    ]
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<span class="t-bolt-navy e-bolt-shape e-bolt-shape--border_radius--full e-bolt-shape--spacing--medium">
  <span class="t-bolt-shape__inner">This is a shape</span>
</span>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Shape Color Variations',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
