{% set sizeExamples = {
  h1: "xxxlarge",
  h2: "xxlarge",
  h3: "xlarge",
  h4: "large",
  h5: "small",
  h6: "xsmall",
} %}

<bolt-stack spacing="large">
  <h3>Headline w/ Icon Position <code>before</code></h3>
  {% for tag, size in sizeExamples %}
    <bolt-stack spacing="small">
      {% include "@bolt-components-headline/headline.twig" with {
        text: "What we do at Pega is brilliant!",
        tag: tag,
        size: size,
        icon: {
          name: "arrow-left",
          position: "before"
        }
      } only %}
    </bolt-stack>
  {% endfor %}
</bolt-stack>
<bolt-stack spacing="large">
  <h3>Headline w/ Icon Position <code>after</code></h3>
  {% include "@bolt-components-headline/headline.twig" with {
    text: "What we do at Pega is brilliant!",
    icon: {
      name: "chevron-right",
      position: "after"
    }
  } only %}
</bolt-stack>
<bolt-stack spacing="large">
  <h3>Headline w/ Default Icon Position</h3>
  {% include "@bolt-components-headline/headline.twig" with {
    text: "What we do at Pega is brilliant!",
    icon: "chevron-right",
  } only %}
</bolt-stack>
<bolt-stack spacing="large">
  <h3>Headline w/ Icon Options</h3>
  {% include "@bolt-components-headline/headline.twig" with {
    text: "What we do at Pega is brilliant!",
    icon: {
      name: "energy",
      color: "blue"
    }
  } only %}
</bolt-stack>

<bolt-banner align="start" status="warning">
  <bolt-icon name="warning"></bolt-icon> Left and right options are deprecated, please stop using these.
</bolt-banner>

<h3>(Deprecated) Headline w/ <code>Left</code> Icon Position</h3>
{% include "@bolt-components-headline/headline.twig" with {
  text: "What we do at Pega is brilliant!",
  icon: {
    name: "arrow-left",
    position: "left"
  }
} only %}

<h3>(Deprecated) Headline w/ <code>Right</code> Icon Position</h3>
{% include "@bolt-components-headline/headline.twig" with {
  text: "What we do at Pega is brilliant!",
  icon: {
    name: "chevron-right",
    position: "right"
  }
} only %}
