
{% set schema = bolt.data.components['@bolt-components-headline'].schema %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxxlarge",
  text: "Numbered Headline",
  tag: "h1",
  attributes: {
    class: ["u-bolt-margin-bottom-medium"]
  }
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Basic Usage",
  tag: "h2",
  attributes: {
    class: ["u-bolt-margin-bottom-medium"]
  }
} only %}

{% set withoutColorExample %}{% verbatim %}{% include "@bolt-components-headline/headline.twig" with {
  text: "Example numbered headline (w/o numberColor)",
  numberText: 7,
} only %}{% endverbatim %}{% endset %}

{% include "@bolt-components-headline/headline.twig" with {
  text: "Example numbered headline (w/o numberColor)",
  numberText: 7,
} only %}

{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  lang: "twig",
  content: withoutColorExample
} %}

{% set withColorExample %}{% verbatim %}{% include "@bolt-components-headline/headline.twig" with {
  text: "Example numbered headline (w/ numberColor)",
  numberText: 42,
  numberColor: "orange"
} only %}{% endverbatim %}{% endset %}

{% include "@bolt-components-headline/headline.twig" with {
  text: "Example numbered headline (w/ numberColor)",
  numberText: 42,
  numberColor: "orange"
} only %}

{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  lang: "twig",
  content: withColorExample
} %}

<hr>

{% grid %}
  {% cell "u-bolt-width-12/12" %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xxlarge",
      text: "Up to 3 digits supported",
      tag: "h2",
      attributes: {
        class: ["u-bolt-margin-bottom-xsmall"]
      }
    } only %}
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-4/12@small" %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xxlarge",
      text: "Single-digit",
      numberText: 7,
    } only %}
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-4/12@small" %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xxlarge",
      text: "Double-digit",
      numberText: 42,
    } only %}
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-4/12@small" %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xxlarge",
      text: "Triple-digit",
      numberText: 123,
    } only %}
  {% endcell %}
{% endgrid %}


<hr>

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Icons Supported",
  tag: "h2",
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Numbered Headline With Left Icon",
  numberText: 1,
  icon: {
    name: "arrow-left",
    position: "before"
  }
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Numbered Headline With Right Icons",
  numberText: 2,
  icon: {
    name: "chevron-right",
    position: "after"
  }
} only %}

<hr>

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Align Support",
  tag: "h2",
  attributes: {
    class: ["u-bolt-margin-bottom-medium"]
  }
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xlarge",
  text: "Numbered Headline - Left",
  numberText: 1,
  align: "left"
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xlarge",
  text: "Numbered Headline - Center",
  numberText: 2,
  align: "center"
} only %}

{% include "@bolt-components-headline/headline.twig" with {
  size: "xlarge",
  text: "Numbered Headline - Right",
  numberText: 3,
  align: "right"
} only %}

<hr>

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxxlarge",
  text: "Numbered Headline (xxxlarge)",
  numberText: 1,
} only %}

{% include "@bolt-components-headline/subheadline.twig" with {
  size: "xxlarge",
  text: "Numbered Subheadline (xxlarge)",
  numberText: 2,
} only %}

{% include "@bolt-components-headline/text.twig" with {
  text: "Numbered Text (large)",
  size: "large",
  numberText: 3,
} only %}

{% include "@bolt-components-headline/eyebrow.twig" with {
  text: "Numbered Eyebrow",
  numberText: 4,
} only %}

<hr>

{% for size in schema.properties.size.enum %}
  {% include "@bolt-components-headline/text.twig" with {
    size: size,
    weight: "bold",
    text: "Fixed-size Numbered Headline (#{size})",
    numberText: loop.index,
    numberColor: "indigo",
    attributes: {
      class: ["u-bolt-margin-bottom-xsmall"]
    }
  } only %}
{% endfor %}

<hr>

  {% include "@bolt-components-headline/headline.twig" with {
    size: "xxlarge",
    text: "numberColor",
    tag: "h2",
  } only %}

<p>
  By setting the <code>numberColor</code> prop to <code>indigo</code>, <code>purple</code>, <code>teal</code>, or <code>orange</code>, you can choose the background color of the Headline Bullet.
</p>

{% grid "o-bolt-grid--medium o-bolt-grid--matrix" %}
  {% for color in schema.properties.numberColor.enum %}
    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Numbered Headline w/ Number",
        numberText: loop.index,
        numberColor: color
      } only %}
    {% endcell %}
  {% endfor %}

  {% set letters = ["A", "B", "C", "D"] %}
  {% for letter in letters %}
    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Numbered Headline w/ Letter",
        numberText: letter,
        numberColor: schema.properties.numberColor.enum[loop.index0]
      } only %}
    {% endcell %}
  {% endfor %}
{% endgrid %}

<hr>

{% include "@bolt-components-headline/headline.twig" with {
  size: "xxlarge",
  text: "Theming",
  attributes: {
    class: ["u-bolt-margin-bottom-medium"]
  }
} only %}

<p>
  If you don't specify a <code>numberColor</code>, the current theme's colors will be used instead.
</p>

{% grid "o-bolt-grid--full" %}
  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
    <div class="t-bolt-xlight u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Without numberColor",
        numberText: 1,
      } only %}
    </div>
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
    <div class="t-bolt-light u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Without numberColor",
        numberText: 2,
      } only %}
    </div>
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
    <div class="t-bolt-dark u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Without numberColor",
        numberText: 3,
      } only %}
    </div>
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
    <div class="t-bolt-xdark u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        text: "Without numberColor",
        numberText: 4,
      } only %}
    </div>
  {% endcell %}
{% endgrid %}
