{% set schema = get_data('@bolt-components-background-shapes/background-shapes.schema.yml') %}
{% for shapeGroup in schema.properties.shapeGroup.enum %}
  <p>shapeGroup: {{ shapeGroup }}</p>
  {% include "@bolt-components-background-shapes/background-shapes.twig" with {
    "shapeGroup": shapeGroup
  }%}
{% endfor %}