{% include '@pl/00-deprecated-icon-docs.twig' %}

<bolt-banner status="error" align="start">
  <svg class="e-bolt-icon" enable-background="new 0 0 32 32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><g clip-rule="evenodd" fill="#151619" fill-rule="evenodd" transform="translate(1 1)"><path d="m15 28.1c-7.2 0-13.1-5.9-13.1-13.1s5.9-13.1 13.1-13.1 13.1 5.9 13.1 13.1-5.9 13.1-13.1 13.1m0-29.1c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16"/><path d="m20.1 18.1-3-3.1 3.1-3.1c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0l-3.1 3.1-3.1-3.1c-.6-.6-1.5-.6-2.1 0s-.6 1.5 0 2.1l3.1 3.1-3.1 3.1c-.6.6-.6 1.5 0 2.1s1.5.6 2.1 0l3.1-3.1 3.1 3.1c.6.6 1.5.6 2.1 0 .5-.6.5-1.5-.1-2.1"/></g></svg><strong> Colorful background shape has no equivlance in the Icon element. Now Icon and Shape are two different separate elements. For adding a shape as a background of an icon please use the <a href="{{ link['viewall-elements-shape'] }}" class="e-bolt-text-link"> Shape element</a>.</strong>
</bolt-banner>

{% set schema = bolt.data.components["@bolt-components-icon"].schema %}
{% set themes = ['dark', 'light'] %}

{% for theme in themes %}
  <h3>Icons inside a {{ theme }} theme</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@utils/theme-demo.twig" %}
      {% block demo_content %}
        <bolt-list display="inline" spacing="medium">
          {% for background in schema.properties.background.enum %}
            <bolt-list-item>
              {% include "@bolt-components-icon/icon.twig" with {
                name: "asset-podcast",
                size: "large",
                background: background
              } only %}
            </bolt-list-item>
          {% endfor %}
        </bolt-list>
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
