{% include '@pl/00-deprecated-icon-docs.twig' %}

<div class="o-bolt-wrapper">
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Custom SVG Icons",
    size: "xxlarge",
  } only %}

  <p>Can't find an existing SVG that suits your needs?</p>

  <p>Before jumping ahead and adding a new custom SVG icon, please make sure you come and chat with the Bolt team <i>first</i> to see if there's already an existing icon that could get used instead OR if it makes sense to add a new icon to the design system itself!</p>

  <hr>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Adding Custom SVG Icons to Bolt",
    size: "xxlarge",
  } only %}

  <p>Note: make sure your custom SVG icon <i>starts</i> with <code>custom-</code> as this is required to ensure names of built-in icons don't collide with custom SVG icons added.</p>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Step 1. Import your custom SVG Icon in a .js file that's compiled by the Bolt build tools. Note: make sure your SVG icon has been already exported for the web (docs coming soon!).",
    size: "large",
    tag: "p"
  } only %}

  <code>import './assets/icons/custom-users.svg';</code>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Step 2. After recompiling the site's JavaScript, your custom SVG can now be used in Twig, JS, or HTML!",
    size: "large",
    tag: "p"
  } only %}

  <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
    {# For proper render indentation is changed #}
    {% set custom_icon_1 %}
      {% verbatim %}{% include "@bolt-components-icon/icon.twig" with {
  name: "custom-users",
  size: "xlarge",
} %}{% endverbatim %}
    {% endset %}
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: custom_icon_1,
      lang: 'twig',
      mode: 'dark',
    } only %}
    </div>

    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
      <code>{% verbatim %}&lt;bolt-icon name="custom-users" size="xlarge"&gt;&lt;/bolt-icon&gt;{% endverbatim %}</code>
    </div>
  </div>

  <div class="u-bolt-padding-medium">
    {% include "@bolt-components-icon/icon.twig" with {
      name: "custom-users",
      size: "xlarge"
    } %}
  </div>

  <hr>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Adding a Custom SVG Icon - Retain Original Colors",
    size: "xxlarge",
  } only %}

  <p>This advanced use case is rarely recommended since it can limit the number of places an SVG icon can get used and prevents the icon's color palette from adjusting based on the location it's used.</p>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Step 1. Import your SVG Icon in a .js file, making sure your icon ends in <code>-colored.svg</code>",
    size: "large",
    tag: "p"
  } only %}

<code>import './assets/icons/custom-arrow-left-colored.svg';</code>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Step 2. After recompiling the site's JavaScript, your custom colored SVG can now be used in Twig, JS, or HTML!",
    size: "large",
    tag: "p"
  } only %}

  <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
    {# For proper render indentation is changed #}
    {% set custom_icon_2 %}
      {% verbatim %}{% include "@bolt-components-icon/icon.twig" with {
  name: "custom-arrow-left-colored",
  size: "xlarge",
} %}{% endverbatim %}
    {% endset %}
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: custom_icon_2,
      lang: 'twig',
      mode: 'dark',
    } only %}
    </div>

    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@medium">
      <code>{% verbatim %}&lt;bolt-icon name="custom-arrow-left-colored" size="xlarge"&gt;&lt;/bolt-icon&gt;{% endverbatim %}</code>
    </div>
  </div>

  <div class="u-bolt-padding-medium">
    {% include "@bolt-components-icon/icon.twig" with {
      name: "custom-arrow-left-colored",
      size: "xlarge"
    } %}
  </div>
</div>
