@import '@bolt/core';

// ------------------------------------
// Figure
// ------------------------------------

// Register Custom Block Element
@include bolt-custom-element('bolt-figure', block, medium);

.c-bolt-figure {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: block;
}

.c-bolt-figure__media {
  display: block;
}

.c-bolt-figure__caption {
  @include bolt-padding-top(xsmall);
  @include bolt-font-size(xsmall);

  display: block;
}
