{% set description %}
  By default, the Table of Contents is set to the card variant, but it can be changed to transparent via the <code>variant</code> prop.
{% endset %}

{% set demo %}
  <div style="max-width: 320px">
    {% include '@bolt-components-toc/toc.twig' with {
      header: 'This is the transparent variant',
      items: [
        {
          text: 'Section One',
          url: '#section-one',
          active: true,
        },
        {
          text: 'Section Two',
          url: '#section-two',
        },
        {
          text: 'Section Three',
          url: '#section-three',
        },
      ],
      variant: 'transparent',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-toc/toc.twig' with {
  header: 'This is the transparent variant',
  items: [
    {
      text: 'Section One',
      url: '#section-one',
      active: true,
    },
    {
      text: 'Section Two',
      url: '#section-two',
    },
    {
      text: 'Section Three',
      url: '#section-three',
    },
  ],
  variant: 'transparent',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-toc header="This is the transparent variant" variant="transparent">
  <bolt-toc-item url="#section-one" active>
    Section One
  </bolt-toc-item>
  <bolt-toc-item url="#section-two">
    Section Two
  </bolt-toc-item>
  <bolt-toc-item url="#section-three">
    Section Three
  </bolt-toc-item>
</bolt-toc>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Visual Variant',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
