@import '@bolt/settings-global';
@import '@bolt/tools-spacing';


/* ------------------------------------ *\
   UI List Object
\* ------------------------------------ */

/**
 * The UI list object creates blocky list items with a separator between each
 * item
 */

$bolt-ui-list-padding--collapsed: (0) !default;
$bolt-ui-list-padding--xsmall: (xsmall 0) !default;
$bolt-ui-list-padding--small: (small 0) !default;
$bolt-ui-list-padding--medium: (medium 0) !default;
$bolt-ui-list-padding--large: (large 0) !default;


$bolt-ui-list-border-width: $bolt-border-width !default;
$bolt-ui-list-border-style: $bolt-border-style !default;
$bolt-ui-list-border-color: $bolt-border-color !default;


// Styles
.o-bolt-ui-list {
  @include bolt-margin(0);
  @include bolt-padding(0);
  list-style: none;
}

.o-bolt-ui-list__item {
  position: relative;
  border-bottom-width: $bolt-ui-list-border-width;
  border-bottom-style: $bolt-ui-list-border-style;
  border-bottom-color: $bolt-ui-list-border-color;

  &:last-child {
    border-bottom-width: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


// Remove borders
.o-bolt-ui-list--borderless > .o-bolt-ui-list__item {
  border-bottom-width: 0;
}


// Padding sizes
.o-bolt-ui-list > .o-bolt-ui-list__item,
.o-bolt-ui-list--medium > .o-bolt-ui-list__item {
  @include bolt-padding($bolt-ui-list-padding--medium);
}

.o-bolt-ui-list--xsmall > .o-bolt-ui-list__item {
  @include bolt-padding($bolt-ui-list-padding--xsmall);
}

.o-bolt-ui-list--small > .o-bolt-ui-list__item {
  @include bolt-padding($bolt-ui-list-padding--small);
}

.o-bolt-ui-list--large > .o-bolt-ui-list__item {
  @include bolt-padding($bolt-ui-list-padding--large);
}


// Remove all padding
.o-bolt-ui-list--collapsed > .o-bolt-ui-list__item {
  @include bolt-padding($bolt-ui-list-padding--collapsed);
}


// Remove start and end padding
.o-bolt-ui-list--collapsed-ends > .o-bolt-ui-list__item {
  &:first-child {
    @include bolt-padding-top(0);
  }

  &:last-child {
    @include bolt-padding-bottom(0);
  }
}
