{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as dropdown_example %}

{% set dropdown_demo %}
<bolt-dropdown title="This is a dropdown">
  <bolt-list spacing="small" inset>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 1</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 2</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 3</a>
    </bolt-list-item>
  </bolt-list>
</bolt-dropdown>
{% endset %}

{% set dropdown_prop_demo %}
<bolt-dropdown title="This is a dropdown" center collapse>
  <bolt-list spacing="small" inset>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 1</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 2</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 3</a>
    </bolt-list-item>
  </bolt-list>
</bolt-dropdown>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Dropdown is a web component, you can simply use <code>&lt;bolt-dropdown&gt;</code> in the markup to make it render.
</bolt-text>
{% include dropdown_example.code_example(dropdown_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: dropdown_demo,
  lang: 'html',
  mode: 'dark',
} only %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the dropdown with the properties specified in the schema.
</bolt-text>
{% include dropdown_example.code_example(dropdown_prop_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: dropdown_prop_demo,
  lang: 'html',
  mode: 'dark',
} only %}
