{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
      {{ code | replace({
        '<': '&lt;',
        '>': '&gt;',
      }) | trim | raw }}
    {% endspaceless %}</bolt-code-snippet>
  </div>
{% endmacro %}

{% import _self as dropdown_example %}

{% set dropdown_demo %}
<bolt-dropdown title="This is a dropdown">
  <bolt-list spacing="small" inset>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 1</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 2</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 3</a>
    </bolt-list-item>
  </bolt-list>
</bolt-dropdown>
{% endset %}

{% set dropdown_prop_demo %}
<bolt-dropdown title="This is a dropdown" center collapse>
  <bolt-list spacing="small" inset>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 1</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 2</a>
    </bolt-list-item>
    <bolt-list-item>
      <a href="#!" class="e-bolt-text-link">Link 3</a>
    </bolt-list-item>
  </bolt-list>
</bolt-dropdown>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Dropdown is a web component, you can simply use <bolt-code-snippet display="inline" lang="html">&lt;bolt-dropdown&gt;</bolt-code-snippet> in the markup to make it render.
</bolt-text>
{% include dropdown_example.code_example(dropdown_demo) %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the dropdown with the properties specified in the schema.
</bolt-text>
{% include dropdown_example.code_example(dropdown_prop_demo) %}
