{% if chip.attributes.href %}
  {% set chip_element = "a" %}
{% else %}
  {% set chip_element = "span" %}
{% endif %}

{% set attributes = create_attribute(chip.attributes | default(attributes) | default({})) %}

{% set chip_sizes = ['large'] %}

{% set classes = [
  'c-chip',
  chip.size in chip_sizes ? 'c-chip--' ~ chip.size : '',
  chip.rounded ? 'c-chip--rounded' : '',
  chip.actionable ? 'c-chip--actionable' : ''
] %}

  <{{ chip_element }} {{ attributes.addClass(classes) }}>
    <span class="c-chip__text">{{ chip.text }}</span>
    
    {% if chip.actionable %}
      <span class="c-chip__action">
        {% include "@atoms/icons/icon.twig" with {
          icon: {
            name: "close",
            attributes: {
              class: [
                "c-chip__icon"
              ]
            }
          }
        } only %}
      </span>
    {% endif %}
  </{{ chip_element }}>
  
