{# This is used in the deprecated Docs section, not on the homepage. Refer to homepage.twig for everything on the homepage. #}

{% set navbar %}
  {% include "@bolt-site/_navbar-with-version-selector.twig" with {
    theme: "light",
    width: "auto",
    title: {
      tag: "h1",
      text: "<span aria-label='Bolt Design System'>Bolt</span>",
      url: "/",
      icon: {
        name: "bolt-logo-colored"
      }
    },
    links: [
      {
        text: "Visual Styles",
        url: "/pattern-lab/?p=viewall-visual-styles-color",
      },
      {
        text: "Elements",
        url: "/pattern-lab/?p=viewall-elements-all",
      },
      {
        text: "Components",
        url: "/pattern-lab/index.html",
      },
      {
        text: "Guidelines",
        url: "https://github.com/boltdesignsystem/bolt/wiki",
        attributes: {
          target: "_blank",
        },
      },
      {
        text: "Github",
        url: "https://github.com/bolt-design-system/bolt",
        attributes: {
          target: "_blank",
        },
        icon: {
          name: "github",
          position: "after",
        }
      },
    ],
  } only %}
{% endset %}

{% include "@bolt-components-sticky/sticky.twig" with {
  attributes: {
    class: [
      "c-bolt-site__header",
      "c-bds-layout__header"
    ]
  },
  content: navbar
} %}

