
{# @TODO: how do we get this to use the exact same values from our global .js config without having the source of truth live as a .yml or .json file...? #}
{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  {% if fileExists(manifestConfigFile) %}
    {% set assets = get_data(manifestConfigFile) %}
  {% else %}
    {% set assets = [] %}
  {% endif %}

  <script src="{{ assets["bolt-global.js"] | default("/build/bolt-global.js") }}" async></script>

  {% if not bolt.data.config.prod %}
    {# Showing off global vars in Browsers Console #}
    <script>console.log('Bolt Global Twig variable. In Twig, you can tap into the `bolt` global var to access all sorts of helpful information about the Bolt Design System, such as colors, spacing, and more. Most is exported from Sass; to add more, add this to any Sass file: `@include export-data("myVariables.bolt.json", $my-variables-in-a-sass-map);`, and then you can access it in Twig via `bolt.data.myVariables`. Here is all the data available to the current templates, including the `bolt` var:');</script>
    {# {{ console_log(_context) }} #}
  {% endif %}

  </body>
</html>
