  <!-- script src="https://www.google-analytics.com/analytics.js" async></script -->

  {{ patternLabFoot | raw }}

  {# {{ console_log(_context) }} #}
  {# Showing off global vars in Browsers Console #}
  {# {% if not bolt.data.config.prod %}
    <script>console.log('Bolt Global Twig variable. In Twig, you can tap into the `bolt` global var to access all sorts of helpful information about the Bolt Design System, such as colors, spacing, and more. Most is exported from Sass; to add more, add this to any Sass file: `@include export-data("myVariables.bolt.json", $my-variables-in-a-sass-map);`, and then you can access it in Twig via `bolt.data.myVariables`. Here is all the data available to the current templates, including the `bolt` var:');</script>
  {% endif %} #}

  </body>
</html>
