  {% if bolt.data.config.lang is iterable %}
    {% set lang = bolt.data.config.lang[0] %}
  {% else %}
    {% set lang = bolt.data.config.lang %}
  {% endif %}

  {# @TODO: how do we get this to use the exact same values from our global .js config without having the source of truth live as a .yml or .json file...? #}
  {% set modernManifestConfig = "@bolt-assets/bolt-webpack-manifest#{lang != "" ? "-" ~ lang : ""}.modern.json" %}

  {% set modernAssets = [] %}

  {% if fileExists(modernManifestConfig) %}
    {% set modernAssets = get_data(modernManifestConfig) %}
  {% endif %}

  <script type="module" src="{{ modernAssets["bolt-global.js"] | default("/build/bolt-global.modern.js") }}" async></script>

  <script type="module">
    if (!sessionStorage.fontsLoadedCriticalFoftPreloadPolyfill){
      document.documentElement.classList.add('js-fonts-loaded');
      sessionStorage.fontsLoadedCriticalFoftPreloadPolyfill = true;
    }
  </script>

  <script src="https://www.google-analytics.com/analytics.js" async></script>

  {{ patternLabFoot | raw }}

  {# {{ console_log(_context) }} #}
  {# Showing off global vars in Browsers Console #}
  {# {% if not bolt.data.config.prod %}
    <script>console.log('Bolt Global Twig variable. In Twig, you can tap into the `bolt` global var to access all sorts of helpful information about the Bolt Design System, such as colors, spacing, and more. Most is exported from Sass; to add more, add this to any Sass file: `@include export-data("myVariables.bolt.json", $my-variables-in-a-sass-map);`, and then you can access it in Twig via `bolt.data.myVariables`. Here is all the data available to the current templates, including the `bolt` var:');</script>
  {% endif %} #}

    {# @todo: refactor once additional debug panel items are available #}
    {% include "@bolt/shadow-toggle.twig" only %}
  </body>
</html>
