{% set schema = bolt.data.components['@bolt-elements-icon'].schema %}

{% set description %}
  An Icon is an inline SVG element. <bolt-code-snippet display="inline" lang="html">&lt;svg class="e-bolt-icon"&gt;</bolt-code-snippet> is acceptable at rendering an icon, though the Twig template is the recommended usage for Drupal.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Icon element is a replacement for the Icon component.</bolt-li>
    <bolt-li>When writing inline SVG manually using <bolt-code-snippet display="inline" lang="html">&lt;svg class="e-bolt-icon"&gt;</bolt-code-snippet>, be sure to minifiy the SVG before adding the element class.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set name_options = schema.properties.name.enum %}
  <ul class="bolt-icon-list-demo">
    {% for name in name_options %}
      <li>
        {% include '@bolt-elements-icon/icon.twig' with {
          name: name,
          size: 'xlarge',
        }%}
        <br/>{{ name }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-icon/icon.twig' with {
  name: 'bell-solid',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<svg class="e-bolt-icon">...</svg>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Icon',
  description: description,
  notes: notes,
  demo: demo,
  demo_vertical_scroll: true,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
