{% set schema = bolt.data.components['@bolt-elements-shape'].schema %}
{% set spacings = schema.properties.spacing.enum %}
{% set t_colors = ['white', 'black', 'gray-xlight', 'navy-dark', 'navy', 'navy-light', 'teal', 'yellow', 'orange', 'pink', 'wine', 'berry', 'violet'] %}

{% set svgIcon %}
  {% include "@bolt-elements-icon/icon.twig" with {
    name: 'add-open',
    size: 'xlarge',
  } only %}
{% endset %}

{% set description %}
  An icon&rsquo;s shape color can be modified per use case.<bolt-code-snippet display="inline">Shape</bolt-code-snippet> element has to be included and <bolt-code-snippet display="inline">icon</bolt-code-snippet> should be set as it's <bolt-code-snippet display="inline">content</bolt-code-snippet>.Colors should be choosen from bolt theme colors. 
{% endset %}

{% set notes %}
  <bolt-ul>
    <bolt-li>Use <bolt-code-snippet display="inline">t-bolt-*</bolt-code-snippet> theme class.</bolt-li>
  </bolt-ul>
{% endset %}

{% set demo %}
  <ul class="bolt-icon-list-demo">
      {% for t_color in t_colors %}
      <li>
        {% include "@bolt-elements-shape/shape.twig" with {
          content: svgIcon,
          spacing: 'small',
          border_radius: 'full',
          attributes: {
            class: [
              't-bolt-'~t_color
            ]
          }
        } only %}
        <br />t-bolt-{{ t_color }}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include "@bolt-elements-shape/shape.twig" with {
  content: svgIcon,
  spacing: 'medium',
  border_radius: 'full',
    attributes: {
    class: [
      't-bolt-navy'
    ]
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<span class="t-bolt-navy e-bolt-shape e-bolt-shape--border_radius--full e-bolt-shape--spacing--medium">
  <svg class="e-bolt-icon e-bolt-icon--xlarge" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="m0 0h24v24h-24z"/><g fill="var(--bolt-color-{{ color }}, var(--m-bolt-text))" transform="translate(1 1)"><path d="m11 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9m0-20c-6.063 0-11 4.938-11 11s4.938 11 11 11 11-4.938 11-11-4.938-11-11-11"/><path d="m15 10h-3v-3c0-.55-.45-1-1-1s-1 .45-1 1v3h-3c-.55 0-1 .45-1 1s.45 1 1 1h3v3c0 .55.45 1 1 1s1-.45 1-1v-3h3c.55 0 1-.45 1-1s-.45-1-1-1"/></g></g></svg>
</span>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Icon Shape Color Variations',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
