
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

    {# @TODO: how do we get this to use the exact same values from our global .js config without having the source of truth live as a .yml or .json file...? #}
    {% set assets = get_data("@bolt-assets/bolt-webpack-manifest.json") %}

    <script src="{{ assets["bolt-global.js"] }}" async></script>

    {# Code syntax highlighting - https://github.com/imsky/holder #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/scss.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/twig.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script>
      Holder.run({
        noBackgroundSize: true
      });
    </script>

  </body>
</html>
