
<div class="c-bolt-docs t-bolt-xlight">

  <div class="c-bolt-docs__page-content">
    <bolt-text font-size="xxxlarge" tag="h1" display="block" headline>
    {{ schema.title ? schema.title : "Component Title" }}
    </bolt-text>

    {% if readmeFile %}
      <div class="c-bolt-docs__readme">
        <div class="c-bolt-docs__lead u-bolt-margin-bottom-large">
          {{ source(readmeFile) | markdown }}
        </div>
      </div>
    {% endif %}

    {% if code %}
      <bolt-text font-size="xlarge" tag="h2" id="usage" url="#usage" headline>
        Usage
      </bolt-text>

      {% spaceless %}
        <bolt-code-snippet display="block" lang="twig">
          <pre><code is="shadow-root">{{ code }}</code></pre>
        </bolt-code-snippet>
      {% endspaceless %}
    {% endif %}


    {% if schema and schema.properties %}
      <bolt-text font-size="xlarge" tag="h2" id="schema" url="#schema" headline>
        Schema
      </bolt-text>

      {# {% include "@bolt/headline.twig" with {
        size: "xlarge",
        tag: "h2",
        url: "#schema",
        text: "Schema",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bolt-docs__heading-fragment"
          ],
          id: "schema"
        }
      } %} #}

      <div class="bolt-docs__schema u-bolt-margin-bottom-large">
        {% include '@utils/schema-docs.twig' with { schema: schema } only %}
      </div>
    {% endif %}

    {% if links %}
      <bolt-text font-size="xlarge" tag="h2" id="helpful-links" url="#helpful-links" headline>
        Helpful Links
      </bolt-text>

      <ul class="c-bolt-docs__page-nav-list u-bolt-margin-bottom-large">
        {% for link in links %}
          <li>
            {% include "@bolt/headline.twig" with {
              size: "small",
              weight: "regular",
              transform: "capitalize",
              tag: "h4",
              text: link.text,
              url:  link.url,
              target: '_parent',
              attributes: {
                class: [
                  "c-bolt-headline--link",
                  "u-bolt-margin-bottom-none"
                ],
                'data-scroll-offset': 70
              },
              icon: "none",
            } only %}
          </li>
        {% endfor %}
      </ul>

    {% endif %}
  </div>

  <div class="c-bolt-docs__page-nav u-bolt-padding-right-medium@medium">
    <ul class="o-bolt-ui-list o-bolt-ui-list--xsmall c-bolt-docs__page-nav-list">
      <li class="o-bolt-ui-list__item">
        <ul class="o-bolt-ui-list o-bolt-ui-list--xxsmall o-bolt-ui-list--borderless">
          {% if readmeFile %}
            <li class="o-bolt-ui-list__item">
              <bolt-text font-size="xsmall" weight="regular" transform="capitalize" tag="h3" url="#getting-started" headline data-scroll-offset="70">
                Getting Started
              </bolt-text>
            </li>
          {% endif %}

          {% if code %}
            <li class="o-bolt-ui-list__item">
              <bolt-text font-size="xsmall" weight="regular" transform="capitalize" tag="h3" url="#getting-started" headline data-scroll-offset="70">
                Usage
              </bolt-text>
            </li>
          {% endif %}


          {% if schema and schema.properties %}
            <li class="o-bolt-ui-list__item">
              <bolt-text font-size="xsmall" weight="regular" transform="capitalize" tag="h3" url="#schema" headline data-scroll-offset="70">
                Schema
              </bolt-text>
            </li>
          {% endif %}


          {% if links %}
            <li class="o-bolt-ui-list__item">
              <bolt-text font-size="xsmall" weight="regular" transform="capitalize" tag="h3" url="#helpful-links" headline data-scroll-offset="70">
                Helpful Links
              </bolt-text>
            </li>
          {% endif %}
        </ul>
      </li>

      {% if readmeFile %}
        <li class="o-bolt-ui-list__item">
          <bolt-text font-size="xsmall" weight="regular" transform="capitalize" tag="h3" headline>
            <a href="{{ github_url(readmeFile) }}" target="_blank">
              <bolt-icon name="pencil"></bolt-icon>
              Edit this page
            </a>
          </bolt-text>
        </li>
      {% endif %}
    </ul>
  </div>
