<div class="c-bolt-docs t-bolt-xlight">
  <div class="c-bolt-docs__page-content">
    {% if utilityName %}
      {% include "@bolt/headline.twig" with {
        size: "xxxlarge",
        tag: "h1",
        text: utilityName
      } only %}
    {% endif %}

    <div class="c-bolt-docs__readme">
      {% include "@bolt/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#utility-description",
        text: "Utility Description",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bolt-docs__heading-fragment"
          ],
          id: "utility-description"
        }
      } only %}
      <div class="c-bolt-docs__lead u-bolt-margin-bottom-large">
        {% block utilityDescription %}
          <p>Description block empty.</p>
        {% endblock %}
      </div>
    </div>

    <div class="c-bolt-docs__utility-demo">
      {% include "@bolt/headline.twig" with {
        size: "xlarge",
        tag: "h2",
        url: "#demo",
        text: "Demo",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-medium",
            "c-bolt-docs__heading-fragment"
          ],
          id: "demo"
        }
      } only %}
      {% block utilityDemo %}
        <p>Demo block empty.</p>
      {% endblock %}
    </div>

    {% if sassdocItems %}
      <div class="c-bolt-docs__sassdoc-reference">
        <h5>SassDoc references</h5>
        <ul>
          {% for item in sassdocItems %}
            <li><a target="_blank" href="{{ item.anchor }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
