{#
/**
 * @file
 * Theme suggestion for link component.
 *
 * Available link variables:
 * - link:
 *   - attributes: HTML attributes to add to the link component.
 *   - text: The text displayed inside the link. D8 sets this to the `label` variable by default.
 *
 */
#}
{% spaceless %}

  {% set link_classes = [
    'c-link'
  ] %}
  {% set attributes = create_attribute(link.attributes | default(attributes) | default({})) %}
  {% set attributes = attributes.addClass(link_classes) %}


  <a {{ attributes }}>
    
  <span class="c-link__text">
    {{ link.text | default(label) | default("Learn More") }}
  </span>
    
  {% if icon.name %}
    {% include "@atoms/icons/icon.twig" with {
      "icon": {
        name: icon.name,
        attributes: icon.attributes
      }
    } %}
  {% endif %}
  
  </a>
{% endspaceless %}