<footer class="c-page-footer">
  <div class="c-page-footer__container c-page-footer__container--grid">
    <div class="c-page-footer__col">
      <h3 class="c-page-footer__heading">About Pegasystems</h3>
      <p class="c-page-footer__text">Pegasystems is the leader in software for customer engagement and operational excellence. Pega’s adaptive, cloud-architected
        software empowers people to rapidly deploy and easily change applications to meet strategic business needs.
        Over our 35-year history, Pega has delivered award-winning capabilities in CRM and digital process automation
        (DPA), powered by artificial intelligence and robotic automation, to help the world’s leading brands achieve
        breakthrough business results.</p>
      <div class="c-page-footer__socials">
        <h4 class="c-page-footer__text">Join the conversation</h4>
        <ul class="c-page-footer__list">
          <li class="c-page-footer__list-el">
            <a href="https://twitter.com/pega" class="c-page-footer__socials-link" rel="noopener" target="_blank" aria-label="Follow us on Twitter" aria-describedby="new-window">
              <bolt-icon class="c-share__icon c-share__icon--twitter" name="twitter" size="small"></bolt-icon>
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.facebook.com/pegasystems" class="c-page-footer__socials-link" rel="noopener" target="_blank" aria-label="Follow Us On Facebook" aria-describedby="new-window">
              <bolt-icon class="c-share__icon c-share__icon--facebook" name="facebook" size="small"></bolt-icon>
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.linkedin.com/company/165426" class="c-page-footer__socials-link" rel="noopener" target="_blank" aria-label="Connect with us on LinkedIn" aria-describedby="new-window">
              <bolt-icon class="c-share__icon c-share__icon--linkedin" name="linkedin-solid" size="small"></bolt-icon>
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.youtube.com/user/Pegasystems" class="c-page-footer__socials-link" rel="noopener" target="_blank" aria-label="Check us out on YouTube" aria-describedby="new-window">
              <bolt-icon class="c-share__icon c-share__icon--youtube" name="youtube-solid" size="medium"></bolt-icon>
            </a>
          </li>
        </ul>
        <span id="new-window" hidden>opens in a new window</span>
      </div>
    </div>
    <nav class="c-page-footer__col c-page-footer__nav-primary" aria-label="Footer Site Navigation">
      <div class="c-page-footer__nav-col">
        <h4 class="c-page-footer__nav-col__title">Company</h4>
        <ul class="c-page-footer__list">
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/about" class="c-page-footer__list-link">
              About Pega
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/about/office-locations" class="c-page-footer__list-link">
              Office Locations
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/about/careers" class="c-page-footer__list-link">
              Careers
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="/contact-us" class="c-page-footer__list-link">
                Contact Us
            </a>
          </li>
        </ul>
      </div>
      <div class="c-page-footer__nav-col">
        <h4 class="c-page-footer__nav-col__title">Pega Sites</h4>
        <ul class="c-page-footer__list">
          <li class="c-page-footer__list-el">
            <a href="https://community.pega.com/" class="c-page-footer__list-link">
              Community
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://academy.pega.com" class="c-page-footer__list-link">
              Pega Academy Training
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="/events/pegaworld" class="c-page-footer__list-link">
              PegaWorld Conference
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/insights" class="c-page-footer__list-link">
              Pega Blog
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://design.pega.com/" class="c-page-footer__list-link">
              Pega Product Design
            </a>
          </li>
        </ul>
      </div>
      <div class="c-page-footer__nav-col">
        <h4 class="c-page-footer__nav-col__title">Resources</h4>
        <ul class="c-page-footer__list">
          <li class="c-page-footer__list-el">
            <a href="/insights/analyst-reports" class="c-page-footer__list-link">
              Analyst Reports
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/products/explore" class="c-page-footer__list-link">
              Demo Videos
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="/platform-trial" class="c-page-footer__list-link">
              Pega Platform Trial
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/services" class="c-page-footer__list-link">
              Partners &amp; Consulting Services
            </a>
          </li>
          <li class="c-page-footer__list-el">
            <a href="https://www.pega.com/products/cloud/pega-trust-center"  class="c-page-footer__list-link">
              Trust Center
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="c-page-footer__container c-page-footer__container--flex t-bolt-gray-xlight">
    <nav class="c-page-footer__nav-secondary" aria-label="Language Navigation">
      <ul class="c-page-footer__list">
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com" class="c-page-footer__list-link">
            English
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/fr" class="c-page-footer__list-link">
            Français
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/de" class="c-page-footer__list-link">
            Deutsch
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/it" class="c-page-footer__list-link">
            Italiano
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/ja" class="c-page-footer__list-link">
            日本語
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/pt-br" class="c-page-footer__list-link">
            Português
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/es" class="c-page-footer__list-link">
            Español
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/lang/tr/engineered-for-evolution" class="c-page-footer__list-link">
            Türkçe
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/lang/ru/engineered-for-evolution" class="c-page-footer__list-link">
            Pусский
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="c-page-footer__container c-page-footer__container--flex t-bolt-gray-xlight">
    <nav class="c-page-footer__nav-secondary" aria-label="Privacy Policy Navigation">
      <ul class="c-page-footer__list">
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/terms" class="c-page-footer__list-link">
            Terms of Use
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="/contact-us" class="c-page-footer__list-link">
            Contact
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/glossary" class="c-page-footer__list-link">
            Glossary
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/site-map" class="c-page-footer__list-link">
            Site Map
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="https://www.pega.com/trademarks" class="c-page-footer__list-link">
            Trademarks
          </a>
        </li>
        <li class="c-page-footer__list-el">
          <a href="/privacy-and-security" class="c-page-footer__list-link">
            Privacy
          </a>
        </li>
      </ul>
    </nav>
    <span class="c-page-footer__copyrights">©2018 Pegasystems Inc.</span>
  </div>
</footer>
