@import '@bolt/core';

.bolt-docs {
  &__schema {
    ul {
      p {
        display: inline;
        margin: 0;
      }

      code {
        font-weight: normal;
      }

      details {
        cursor: pointer;

        summary {
          user-select: none;
          font-weight: bolt-font-weight(700);
          &:focus {
            outline: none;
          }
        }
        &,
        summary {
          margin: 0;
        }

        ul {
          margin-bottom: 0;
        }
      }
    }
  }
}

/**
  * 1. Vendor prefixes added due to limitations of Autoprefixer transpiling (esp. the old CSS grid spec used in IE 11)
  */
.c-bolt-docs {
  @include bolt-padding-left(small);
  @include bolt-padding-right(small);
  display: -ms-grid; /* [1] */
  display: grid;

  -ms-grid-rows: bolt-spacing(small) auto auto 1fr bolt-spacing(small); /* [1] */
  grid-template-rows: bolt-spacing(small) auto auto 1fr bolt-spacing(small);

  -ms-grid-columns: 1fr 90% 1fr; /* [1] */
  grid-template-columns: 1fr 90% 1fr;

  max-width: 1440px;
  margin: 0 auto;

  @include bolt-mq(small) {
    -ms-grid-rows: bolt-spacing(medium) auto auto 1fr bolt-spacing(medium); /* [1] */
    grid-template-rows: bolt-spacing(medium) auto auto 1fr bolt-spacing(medium);
  }

  @include bolt-mq(medium) {
    -ms-grid-columns: 1fr 80% 20% 1fr; /* [1] */
    grid-template-columns: 1fr 80% 20% 1fr;
  }
}

.c-bolt-docs__page-content {
  width: 100%;

  min-width: 0;
  max-width: 960px;
  -ms-grid-row: 3; /* [1] */
  -ms-grid-row-span: 1; /* [1] */
  grid-row: 3/span 1;

  -ms-grid-column: 1; /* [1] */
  -ms-grid-column-span: 3; /* [1] */
  grid-column: 1/span 3;

  @include bolt-mq(medium) {
    @include bolt-padding-left(medium);
    @include bolt-padding-right(medium);

    margin-left: auto;

    -ms-grid-row: 3; /* [1] */
    -ms-grid-row-span: 1; /* [1] */
    grid-row: 3/span 1;

    -ms-grid-column: 1; /* [1] */
    -ms-grid-column-span: 2; /* [1] */
    grid-column: 1/span 2;
  }

  @include bolt-mq(large) {
    @include bolt-padding-left(medium);
    @include bolt-padding-right(medium);

    margin-left: auto;

    -ms-grid-row: 3; /* [1] */
    -ms-grid-row-span: 1; /* [1] */
    grid-row: 3/span 1;

    -ms-grid-column: 2; /* [1] */
    -ms-grid-column-span: 1; /* [1] */
    grid-column: 2/span 1;
  }
}

.c-bolt-docs__page-nav {
  -ms-grid-row: 2; /* [1] */
  -ms-grid-row-span: 1; /* [1] */
  grid-row: 2/span 1;

  -ms-grid-column: 1; /* [1] */
  -ms-grid-column-span: 3; /* [1] */
  grid-column: 1/span 3;

  text-align: right;

  @include bolt-mq(medium) {
    -ms-grid-row: 3; /* [1] */
    -ms-grid-row-span: 1; /* [1] */
    grid-row: 3/span 1;

    -ms-grid-column: 3; /* [1] */
    -ms-grid-column-span: 1; /* [1] */
    grid-column: 3/span 1;

    text-align: left;
  }
}



.c-bolt-docs__page-nav__link {
  @include bolt-font-size(small);
}


.c-bolt-docs__title {
  @include bolt-font-size(xxlarge);
  @include bolt-font-weight(semibold);
  @include bolt-margin-bottom(medium);
  color: bolt-color(black);
}

.c-bolt-docs__lead {
  @include bolt-font-weight(regular);
  color: bolt-color(black);
  border: 1px dotted transparent;
  border-radius: 4px;
  transition: border 0.3s ease-in-out;

  &.edit-this-readme {
    border: 1px dotted var(--bolt-theme-primary);
  }

  > *:last-child {
    @include bolt-margin-bottom(0);
  }

  h1, h2, h3, h4, h5, h6 {
    @include bolt-margin-bottom(xxsmall);
    &:last-child {
      @include bolt-margin-bottom(0);
    }
  }

  h1, h2 {
    @include bolt-font-size(xxlarge);
  }

  h3 {
    @include bolt-font-size(xlarge);
  }

  h4 {
    @include bolt-font-size(large);
  }

  h5 {
    @include bolt-font-size(small);
  }

  h6 {
    @include bolt-font-size(xsmall);

    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  table {
    @include bolt-font-size(small);
    @include bolt-font-family(code);
    transform: translate3d(0, 0, 0);
    width: 100%;
    border: 1px solid bolt-color(gray, light);
    table-layout: auto;
  }

  thead {
    border-bottom: 1px solid bolt-color(gray, light);
  }

  tr {
    transition: background-color 0.1s ease;
  }

  tr + tr {
    border-top: 1px solid bolt-color(gray, light);
  }

  tr:hover {
    background-color: rgba(bolt-color(gray, xlight), 0.5);
  }


  th {
    @include bolt-padding(small);
    @include bolt-font-size(xsmall);
    @include bolt-font-weight(semibold);
    color: bolt-color(gray, dark);
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom;
    background-color: bolt-color(gray, xlight);
  }

  td {
    @include bolt-padding(small);
    vertical-align: top;
  }
}

.c-bolt-docs-table {
  border-radius: $bolt-border-radius;

  background-attachment: local, local, scroll, scroll;
  // background-image: -webkit-linear-gradient(left, bolt-color(white), bolt-color(black)),
  // -webkit-linear-gradient(right, bolt-color(white), bolt-color(black)),
  // -webkit-linear-gradient(left, bolt-color(gray, xlight), bolt-color(gray, xdark)),
  // -webkit-linear-gradient(right, bolt-color(gray, xlight), bolt-color(gray, xdark));

  // background-image: linear-gradient(left, bolt-color(white), bolt-color(black)),
  //   linear-gradient(right, bolt-color(white), bolt-color(black)),
  //   linear-gradient(left, bolt-color(gray, xlight), bolt-color(gray, xdark)),
  //   linear-gradient(right, bolt-color(gray, xlight), bolt-color(gray, xdark));


  background-color: bolt-color(white);
  background-image: -webkit-linear-gradient(left, #fff, hsla(0, 0%, 100%, 0)),
  -webkit-linear-gradient(right, #fff, hsla(0, 0%, 100%, 0)),
  -webkit-linear-gradient(left, #eaf0f6, rgba(234, 240, 246, 0)),
  -webkit-linear-gradient(right, #eaf0f6, rgba(234, 240, 246, 0));
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;

  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;

  table {
    @include bolt-font-size(small);
    @include bolt-font-family(code);
    @include bolt-margin-bottom(0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    border: 1px solid bolt-color(gray, light);
    table-layout: auto;
  }

  thead {
    border-bottom: 1px solid bolt-color(gray, light);
  }

  tr {
    transition: background-color 0.1s ease;
  }

  tr:hover {
    background-color: rgba(bolt-color(gray, xlight), 0.5);
  }


  th {
    @include bolt-padding(small);
    @include bolt-font-size(xsmall);
    @include bolt-font-weight(semibold);
    color: bolt-color(gray, dark);
    text-align: left;
    text-transform: uppercase;
    vertical-align: bottom;
    background-color: bolt-color(gray, xlight);
  }

  td {
    @include bolt-padding(small);
    vertical-align: top;
  }

  .required-key {
    color: red;
  }
}

.c-bolt-docs-table__row {
  border-top: 1px solid bolt-color(gray, light);
}

.c-bolt-docs-table__col--key {
  font-weight: bolt-font-weight(600);
}

.c-bolt-docs-table .c-bolt-docs-table {
  overflow: hidden; // Prevent nested tables from scrolling to keep things from getting too crazy
}

.c-bolt-docs-list {
  margin: 0;
  list-style-position: inside;
  list-style-type: none;

  & > ul {
    margin-bottom: 0;
  }
}

.c-bolt-docs-list__child {
  margin: 0 0 0 1.25rem;
  list-style-position: outside;
  list-style-type: square;

  &--level-3,
  &--level-4,
  &--level-5 {
    margin-bottom: 0;

    ul {
      margin-bottom: 0;
    }
  }
}


.c-bolt-docs__heading-fragment a {
  display: flex;
  position: relative;

  &:before {
    @include bolt-font-size(small);
    content: '#';
    align-self: center;
    opacity: 0.3;
    position: absolute;
    top: 50%; // Fix IE11 vcentering
    left: -1.5rem;
    transform: translateY(-50%); // Fix IE11 vcentering
    width: 1.5rem;
    color: inherit;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s ease;
  }
}

.c-bolt-docs__heading-fragment a:hover:before {
  opacity: 0.6;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

// Sticky positioning of side nav links, if supported
.c-bolt-docs__page-nav-list {
  position: sticky;
  top: bolt-spacing(large);
}

pre {
  // Override highlightjs default styling
  .hljs {
    @include bolt-padding(0);
    background-color: transparent;
  }
}

/**
** Demo Styles
 */

%bolt-demo-wrapper-border {
  border: 2px dashed bolt-color(gray, light);
}

%bolt-demo-wrapper {
  @extend %bolt-demo-wrapper-border;
  padding: 1rem;
}

%bolt-demo-item-border {
  border: 2px dashed #545da6;
}

%bolt-demo-item-background {
  color: bolt-color(indigo);
  background: bolt-color(indigo, xlight);
}

%bolt-demo-item {
  @extend %bolt-demo-item-border;
  @extend %bolt-demo-item-background;
  padding: 1rem;
}

.c-bolt-docs__sassdoc-reference {
  @include bolt-margin(2rem 0);
}

.c-bolt-docs__clearfix-demo {
  @extend %bolt-demo-wrapper;

  h3 {
    @include bolt-margin-bottom(1rem);
  }

  &__left,
  &__right {
    @extend %bolt-demo-item;
  }
  &__left {
    float: left;
    width: 30%;
  }
  &__right {
    float: right;
    width: calc(70% - 1rem);
  }
}
.c-bolt-docs__clearfix-separator {
  clear: both;
  height: 2rem;
}

.c-bolt-docs-color-demo {
  &__type {
    @include bolt-margin-bottom(1rem);
    padding: 0 1rem 1rem;
    border-bottom: 1px dashed bolt-color(indigo, light);

    h5 {
      @include bolt-margin-bottom(1.5rem);
    }

    &:last-of-type {
      @include bolt-margin-bottom(0);
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  &__color {
    @include bolt-margin-bottom(2rem);

    .o-bolt-wrapper {
      padding: 0;
    }

    .u-bolt-color-white {
      background: #000;
    }
  }
}

.bolt-shadow-demo {
  &__card {
    display: inline-block;
    position: relative;
    width: calc(33% - 1rem);
    height: 225px;
    margin: .5rem;
    padding: 0.7rem;
    vertical-align: top;
    border-radius: 3px;
    background: #fff;

    code {
      font-size: 0.7rem;
    }
    &[class*='hoverable']:hover {
      @include  bolt-z-index('contentTop');
    }
  }
}

.c-bolt-docs__display-focus {
  @extend %bolt-demo-item-border;
  @extend %bolt-demo-item-background;
  height: 50px;
}

.c-bolt-docs__display-demo {
  @include bolt-margin-bottom(2rem);

  &:last-of-type {
    @include bolt-margin-bottom(0);
  }
}

.c-bolt-docs__flex-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
  resize: horizontal;
  overflow-y: auto;
  &+h4 {
    @include bolt-margin-top(4rem);
  }
}

.c-bolt-docs__flex-item {
  @extend %bolt-demo-item-border;
  @extend %bolt-demo-item-background;
  text-align: center;

  &--shrink-0 {
    flex-shrink: 0;
    font-weight: 400 !important;
  }

  &--basis-100 {
    flex-basis: 100px;
  }

  &.u-bolt-flex-grow,
  &.u-bolt-flex-shrink,
  &.u-bolt-flex-basis-auto {
    @include bolt-font-weight(bold);
  }
}

.c-bolt-docs__height-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__height-item {
  @include bolt-margin-top(0.75rem);
  overflow: hidden;
  border: 1px solid bolt-color(indigo, light);
}

.c-bolt-docs__opacity-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__opacity-item {
  @extend %bolt-demo-item-border;
  @include bolt-margin-top(1rem);
  padding: 1rem;
}

.c-bolt-docs__spacing-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__spacing-item {
  @extend %bolt-demo-item-border;
  @extend %bolt-demo-item-background;
  h4+& {
    @include bolt-margin-top(0.75rem);
  }
}

.c-bolt-docs__text-align-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__text-align-item {
  @extend %bolt-demo-item-border;
  h4+& {
    @include bolt-margin-top(0.75rem);
  }
}

.c-bolt-docs__text-decoration-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__text-decoration-item {
  @extend %bolt-demo-item-border;
  h4+& {
    @include bolt-margin-top(0.75rem);
  }
}

.c-bolt-docs__visually-hidden-demo {
  @extend %bolt-demo-wrapper;

  input[type='checkbox']{
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  label {
    display: block;
    position: relative;
    width: 50px;
    height: 25px;
    text-indent: -9999px;
    cursor: pointer;
    border-radius: 50px;
    background: bolt-color(gray);
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 15px;
    border-radius: 22px;
    background: #fff;
    transition: 0.3s;
  }

  input:checked + label {
    background: bolt-color(indigo, light);
    & + .c-bolt-docs__visually-hidden-inner > .c-bolt-docs__visually-hidden-content {
      @include bolt-visuallyhidden(important);
      opacity: 0;
    }
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 32px;
  }
}

.c-bolt-docs__visually-hidden-inner {
  @include bolt-margin-top(1rem);
}

.c-bolt-docs__visually-hidden-content {
  @extend %bolt-demo-item;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.c-bolt-docs__width-demo {
  @extend %bolt-demo-wrapper;
  @include bolt-margin-bottom(2rem);
}

.c-bolt-docs__width-item {
  @extend %bolt-demo-item-border;
  @extend %bolt-demo-item-background;
  h4+& {
    @include bolt-margin-top(0.75rem);
  }
}
