{% import _self as tabs_demo %}

{% set basic_usage %}
<bolt-tabs>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 1</bolt-text>
    <bolt-text>Tab panel 1</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 2</bolt-text>
    <bolt-text>Tab panel 2</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 3</bolt-text>
    <bolt-text>Tab panel 3</bolt-text>
  </bolt-tab-panel>
</bolt-tabs>
{% endset %}

{% set prop_usage %}
<bolt-tabs panel-spacing="small" align="center">
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 1</bolt-text>
    <bolt-text>Tab panel 1</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 2</bolt-text>
    <bolt-text>Tab panel 2</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 3</bolt-text>
    <bolt-text>Tab panel 3</bolt-text>
  </bolt-tab-panel>
</bolt-tabs>
{% endset %}


{% set advanced_usage %}
<!-- Use `selected-tab` to set selected tab -->
<bolt-tabs selected-tab="2">
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 1</bolt-text>
    <bolt-text>Tab panel 1</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 2</bolt-text>
    <bolt-text>Tab panel 2</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 3</bolt-text>
    <bolt-text>Tab panel 3</bolt-text>
  </bolt-tab-panel>
</bolt-tabs>

<!-- Use `selected` to set selected tab -->
<bolt-tabs>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 1</bolt-text>
    <bolt-text>Tab panel 1</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel selected>
    <bolt-text slot="label">Tab label 2</bolt-text>
    <bolt-text>Tab panel 2</bolt-text>
  </bolt-tab-panel>
  <bolt-tab-panel>
    <bolt-text slot="label">Tab label 3</bolt-text>
    <bolt-text>Tab panel 3</bolt-text>
  </bolt-tab-panel>
</bolt-tabs>
{% endset %}

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Tabs is a web component. Add the <code>&lt;bolt-tabs&gt;</code> element containing multiple <code>&lt;bolt-tabs-panel&gt;</code> elements to create a set of tabs. Inside each <code>&lt;bolt-tab-panel&gt;</code> mark the "label" content with the attribute <code>slot="label"</code>. Everything else is considered tab "content".
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-1/1" %}
        {{ basic_usage }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: basic_usage,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Prop Usage
  </bolt-text>
  <bolt-text>
    Configure the tabs with the properties specified in the schema.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-1/1" %}
        {{ prop_usage }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: prop_usage,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Advanced Usage
  </bolt-text>
  <bolt-text>
    Two advanced options are shown below. Automatically show a <code>&lt;bolt-tab-panel&gt;</code> by setting <code>selected-tab</code> on <code>&lt;bolt-tabs&gt;</code> or by adding <code>selected</code> to a single <code>&lt;bolt-tab-panel&gt;</code>.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-1/1" %}
        {{ advanced_usage }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: advanced_usage,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>
