{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>The Table Basic component is designed to work with both Twig and vanilla HTML (Twig is the recommended method).</bolt-li>
    <bolt-li>Refer to the <a href="{{ link['components-table-basic-top-header'] }}" class="e-bolt-text-link">Table Basic with Top Header</a> page for information on adding a top header.</bolt-li>
    <bolt-li><strong>Twig:</strong> Use the <code>fixed_width_table</code> boolean prop to update the table to display numeric data.</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>c-bolt-table-basic--fixed-width-table</code> class to the <code>&lt;table&gt;</code> to force the table to render in a fixed layout.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  {% include '@bolt-components-table-basic/table-basic.twig' with {
    fixed_width_table: true,
    headers: {
      top: {
        cells: [
          'Prop',
          'Number',
          'Description',
          'Type',
        ]
      }
    },
    rows: [
      {
        cells: [
          'attributes',
          '1',
          'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
          '<code>object</code>',
        ]
      },
      {
        cells: [
          'headers',
          '2',
          'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
          '<code>object</code>',
        ]
      },
      {
        cells: [
          'rows',
          '3',
          'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
          '<code>array</code>',
        ]
      },
      {
        cells: [
          'format',
          '4',
          'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
          '<code>string</code>',
        ]
      },
    ]
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-table-basic/table-basic.twig' with {
  fixed_width_table: true,
  headers: {
    top: {
      cells: [
        'Prop',
        'Number',
        'Description',
        'Type',
      ]
    }
  },
  rows: [
    {
      cells: [
        'attributes',
        '1',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>object</code>',
      ]
    },
    {
      cells: [
        'headers',
        '2',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>object</code>',
      ]
    },
    {
      cells: [
        'rows',
        '3',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>array</code>',
      ]
    },
    {
      cells: [
        'format',
        '4',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>string</code>',
      ]
    },
  ]
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="c-bolt-table-basic c-bolt-table-basic--fixed-width-table">
  <thead>
    <tr>
      <th scope="col">Prop</th>
      <th scope="col">Number</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>attributes</td>
      <td>1</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>object</code></td>
    </tr>
    <tr>
      <td>headers</td>
      <td>2</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>object</code></td>
    </tr>
    <tr>
      <td>rows</td>
      <td>3</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>array</code></td>
    </tr>
    <tr>
      <td>format</td>
      <td>4</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>string</code></td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Basic with a Fixed Width Layout',
  description: 'Sets the table display with even column widths',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
