////
/// @group Settings: Border
/// @author Mike Mai
////

/* ------------------------------------ *\
   Border Radius Scale
\* ------------------------------------ */

@import '../../02-tools/tools-data/tools-data.scss';

/// Bolt's definition of border-radius scale. Used within 'export-data()' to JSON.
/// @type Map
$bolt-border-radius-values: (
  small: 3px,
  large: 0.75em,
  full: 100em
) !default;

@include bolt-export-data('border-radius.bolt.json', $bolt-border-radius-values);
