{% set main_content %}
  <style>
    .e-bolt-table--fixed-width-columns--first tr th:first-of-type:not(th:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first tr td:first-of-type:not(td:nth-child(2)),
    .e-bolt-table--fixed-width-columns--second tr th:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr th:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr td:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr td:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type:not(th:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type:not(td:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type + th:not(th:nth-child(3)) {
      background-color: #ff7b7b;
    }
  </style>
  {% set header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Pts',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Reb',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Ast',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Stl',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Blk',
        header: true,
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Michael Jordan',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '70',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '1',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Toni Kukoc',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '21',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '15',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '3',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '4',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Steve Kerr',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '20',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '0',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Total',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '91',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '27',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '32',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '13',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row1_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Michael Jordan',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '70',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '1',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Toni Kukoc',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '21',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '15',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '3',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '4',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Steve Kerr',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '20',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '0',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Total',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '91',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '27',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '32',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '13',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}












  <h3>Set column widths to be flexible.</h3>
  {% include '@bolt-elements-table/table.twig' with {
    header: {
      content: header,
    },
    body: {
      content: [
        row1,
        row2,
        row3,
        row4,
      ],
    },
    footer: {
      content: footer,
    },
  } only %}

  <h3>Set column widths to be flexible (HTML only).</h3>
  <table class="e-bolt-table">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael Jordan</td>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Toni Kukoc</td>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Steve Kerr</td>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set column widths to be flexible (HTML/no tobody only).</h3>
  <table class="e-bolt-table">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <td>Michael Jordan</td>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Toni Kukoc</td>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Steve Kerr</td>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <hr>

  <h3>Set the width of the first column to be as wide as the longest text.</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'first',
    header: {
      content: header,
    },
    body: {
      content: [
        row1,
        row2,
        row3,
        row4,
      ],
    },
    footer: {
      content: footer,
    },
  } only %}

  <h3>Set the width of the first column to be as wide as the longest text (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael Jordan</td>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Toni Kukoc</td>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Steve Kerr</td>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the first column to be as wide as the longest text (HTML/no tbody).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first">
  <thead>
    <tr>
      <th>
      </th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
      <th>Stl</th>
      <th>Blk</th>
    </tr>
  </thead>
  <tr>
    <td>Michael Jordan</td>
    <td>70</td>
    <td>10</td>
    <td>2</td>
    <td>5</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Toni Kukoc</td>
    <td>21</td>
    <td>15</td>
    <td>10</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Steve Kerr</td>
    <td>5</td>
    <td>2</td>
    <td>20</td>
    <td>5</td>
    <td>0</td>
  </tr>
  <tfoot>
    <tr>
      <td>Total</td>
      <td>91</td>
      <td>27</td>
      <td>32</td>
      <td>13</td>
      <td>5</td>
    </tr>
  </tfoot>
  </table>

  <hr>

  <h3>Set the width of the second column to be as wide as the longest text.</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'second',
    header: {
      content: header,
    },
    body: {
      content: [
        row1,
        row2,
        row3,
        row4,
      ],
    },
    footer: {
      content: footer,
    },
  } only %}

  <h3>Set the width of the second column to be as wide as the longest text (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--second">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael Jordan</td>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Toni Kukoc</td>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Steve Kerr</td>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the second column to be as wide as the longest text (HTML/no tbody).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--second">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <td>Michael Jordan</td>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Toni Kukoc</td>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Steve Kerr</td>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <hr>

  <h3>Set the width of the first two columns to be as wide as the longest text.</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'first-two',
    header: {
      content: header,
    },
    body: {
      content: [
        row1,
        row2,
        row3,
        row4,
      ],
    },
    footer: {
      content: footer,
    },
  } only %}

  <h3>Set the width of the first two columns to be as wide as the longest text (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first-two">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Michael Jordan</td>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Toni Kukoc</td>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Steve Kerr</td>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the first two columns to be as wide as the longest text (HTML/no tbody).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first-two">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <td>Michael Jordan</td>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Toni Kukoc</td>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Steve Kerr</td>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <hr>

  <h3>Set the width of the first column to be as wide as the longest text (with header).</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'first',
    header: {
      content: header,
    },
    body: {
      content: [
        row1_with_header,
        row2_with_header,
        row3_with_header,
        row4_with_header,
      ],
    },
    footer: {
      content: footer_with_header,
    },
  } only %}

  <h3>Set the width of the first column to be as wide as the longest text (with header) (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Michael Jordan</th>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <th>Toni Kukoc</th>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th>Steve Kerr</th>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the first column to be as wide as the longest text (with header) (HTML/no tbody).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <th>Michael Jordan</th>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Toni Kukoc</th>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Steve Kerr</th>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <hr>

  <h3>Set the width of the second column to be as wide as the longest text (with header).</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'second',
    header: {
      content: header,
    },
    body: {
      content: [
        row1_with_header,
        row2_with_header,
        row3_with_header,
        row4_with_header,
      ],
    },
    footer: {
      content: footer_with_header,
    },
  } only %}

  <h3>Set the width of the second column to be as wide as the longest text (with header) (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--second">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Michael Jordan</th>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <th>Toni Kukoc</th>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th>Steve Kerr</th>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the second column to be as wide as the longest text (with header) (HTML/no tbody).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--second">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <th>Michael Jordan</th>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Toni Kukoc</th>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Steve Kerr</th>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <hr>

  <h3>Set the width of the first two columns to be as wide as the longest text (with header).</h3>
  {% include '@bolt-elements-table/table.twig' with {
    fixed_width_columns: 'first-two',
    header: {
      content: header,
    },
    body: {
      content: [
        row1_with_header,
        row2_with_header,
        row3_with_header,
        row4_with_header,
      ],
    },
    footer: {
      content: footer_with_header,
    },
  } only %}

  <h3>Set the width of the first two columns to be as wide as the longest text (with header) (HTML only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first-two">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Michael Jordan</th>
        <td>70</td>
        <td>10</td>
        <td>2</td>
        <td>5</td>
        <td>1</td>
      </tr>
      <tr>
        <th>Toni Kukoc</th>
        <td>21</td>
        <td>15</td>
        <td>10</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th>Steve Kerr</th>
        <td>5</td>
        <td>2</td>
        <td>20</td>
        <td>5</td>
        <td>0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>

  <h3>Set the width of the first two columns to be as wide as the longest text (with header) (HTML/no tobody only).</h3>
  <table class="e-bolt-table e-bolt-table--fixed-width-columns--first-two">
    <thead>
      <tr>
        <th>
        </th>
        <th>Pts</th>
        <th>Reb</th>
        <th>Ast</th>
        <th>Stl</th>
        <th>Blk</th>
      </tr>
    </thead>
    <tr>
      <th>Michael Jordan</th>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Toni Kukoc</th>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Steve Kerr</th>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
    <tfoot>
      <tr>
        <th>Total</th>
        <td>91</td>
        <td>27</td>
        <td>32</td>
        <td>13</td>
        <td>5</td>
      </tr>
    </tfoot>
  </table>
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
