{% set main_content %}
  {% set side_header %}
    {% set row1 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Side table header.',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row2 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Side table header.',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row3 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Side table header.',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'This is a regular cell.',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% include '@bolt-elements-table/table.twig' with {
      body: {
        content: [
          row1,
          row2,
          row3,
        ],
      },
    } only %}
  {% endset %}

  {% set side_scroll %}
    {% set header %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Pts',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Reb',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Ast',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Stl',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Blk',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Pts',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Reb',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Ast',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Stl',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Blk',
          header: true,
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row1 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Michael Jordan',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '70',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '10',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '2',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '1',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '70',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '10',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '2',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '1',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row2 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Toni Kukoc',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '21',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '15',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '10',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '3',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '4',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '21',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '15',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '10',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '3',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '4',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row3 %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Steve Kerr',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '2',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '20',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '0',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '2',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '20',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '0',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set footer %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Total',
          header: true
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '91',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '27',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '32',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '13',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '91',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '27',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '32',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '13',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '5',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% include '@bolt-elements-table/table.twig' with {
      sticky_headers: 'side',
      format: 'numeric',
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
        ],
      },
      footer: {
        content: footer,
      },
    } only %}
  {% endset %}

  {% set top_scroll %}
    {% set header %}
        {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Number',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Date Created',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Author',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Type',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Title',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Closed',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Solved',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Replies',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Votes',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Last activity by',
          header: true,
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row1 %}
      {% set type_icon %}
        <span aria-label="Question">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-chat-question',
          } only %}
        </span>
      {% endset %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '324484',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '03/10/2022',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: type_icon,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Title of the question. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique debitis odio architecto.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '✅',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '✅',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '35',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '162',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row2 %}
      {% set type_icon %}
        <span aria-label="Discussion">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-chat-typing',
          } only %}
        </span>
      {% endset %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '324481',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '03/10/2022',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: type_icon,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Title of the discussion. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique debitis odio architecto.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '✅',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '66',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '12',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% set row3 %}
      {% set type_icon %}
        <span aria-label="Idea">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'ideas',
          } only %}
        </span>
      {% endset %}
      {% set cells %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '324481',
          header: true,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '03/10/2022',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: type_icon,
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Title of the idea. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique debitis odio architecto.',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '3',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: '100',
        } only %}
        {% include '@bolt-elements-table/table-cell.twig' with {
          content: 'Firstname Lastname',
        } only %}
      {% endset %}
      {% include '@bolt-elements-table/table-row.twig' with {
        content: cells,
      } only %}
    {% endset %}

    {% include '@bolt-elements-table/table.twig' with {
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
          row3,
          row3,
          row3,
          row1,
          row2,
          row3,
          row1,
          row1,
          row1,
          row1
        ],
      },
      sticky_headers: 'top'
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: side_header,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: side_scroll,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: top_scroll,
    spacing: 'medium'
  } only %}
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
