/* ------------------------------------ *\
   TEASER COMPONENT
\* ------------------------------------ */

@import '@bolt/core-v3.x';

bolt-teaser:not(:last-child){
  @include bolt-margin-bottom(medium);
}
