// /* ------------------------------------ *\
//    Dialogue
// \* ------------------------------------ */

// @import '@bolt/core-v3.x';

// // Register Custom Block Element
// @include bolt-custom-element('bolt-dialogue', block, medium);

// /**
//  * Long-form comment.
//  *
//  * This spans multiple lines and is also constrained to no longer than 80
//  * characters in width.
//  *
//  * 1. Provide line-comments like this.
//  */
// .c-bolt-dialogue {
//   // Styles go here. /* [1] */
//   display: block;
// }

@import '@bolt/core-v3.x';
@import '@bolt/global/styles/06-themes/_themes.all.scss'; // @todo: remove this once bolt-theme() function is completely deprecated and removed.
@import '@bolt/global/styles/00-vars/_vars-mode.scss';

/* stylelint-disable */

/**************************\
  Basic Dialogue Styles
\**************************/

.dialogue {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.dialogue__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.dialogue__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialogue__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.dialogue__close {
  background: transparent;
  border: 0;
}

.dialogue__header .dialogue__close:before {
  content: '\2715';
}

.dialogue__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.dialogue-slide {
  display: none;
}

.dialogue-slide.is-open {
  display: block;
}

.dialogue-slide[aria-hidden='false'] .dialogue__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.dialogue-slide[aria-hidden='false'] .dialogue__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.dialogue-slide[aria-hidden='true'] .dialogue__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.dialogue-slide[aria-hidden='true'] .dialogue__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.dialogue-slide .dialogue__container,
.dialogue-slide .dialogue__overlay {
  will-change: transform;
}
