// /* ------------------------------------ *\
//    Dialogue
// \* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '@bolt/global/styles/00-vars/_vars-mode.scss';

.c-bolt-dialogue__overlay {
  @include bolt-z-index(modal);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    content: '';
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &-dark:before {
    background-color: var(--bolt-color-navy-xdark);
  }

  &-light:before {
    background-color: var(--bolt-color-white);
  }
}

.c-bolt-dialogue__container {
  min-width: 200px; // Prevents content without defined width (such as image and video) from falling below 200px.
  max-width: calc(100% - var(--bolt-spacing-x-medium) * 2);
  max-height: 100vh;
  border-radius: bolt-border-radius(small);

  .c-bolt-dialogue__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0, -100%, 0);
    background-color: transparent;
  }
}

// Content width options
@include bolt-mq('small') {
  .c-bolt-dialogue__container--width-regular {
    width: 100% / 12 * 10;
  }

  .c-bolt-dialogue__container--width-optimal {
    width: 75ch;
  }

  .c-bolt-dialogue__container--width-full {
    width: calc(100% - var(--bolt-spacing-x-medium) * 2);
  }
}

// Container spacing options
@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);
  .c-bolt-dialogue__container--spacing-#{$size-name} {
    padding: var(--bolt-spacing-y-#{$size-name})
      var(--bolt-spacing-x-#{$size-name});
  }
}

// Demo Animation Style
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.c-bolt-dialogue {
  display: none;
}

.c-bolt-dialogue.is-open {
  display: block;
}

.c-bolt-dialogue[aria-hidden='false'] .c-bolt-dialogue__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-bolt-dialogue[aria-hidden='false'] .c-bolt-dialogue__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-bolt-dialogue[aria-hidden='true'] .c-bolt-dialogue__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-bolt-dialogue[aria-hidden='true'] .c-bolt-dialogue__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.c-bolt-dialogue .c-bolt-dialogue__container,
.c-bolt-dialogue .c-bolt-dialogue__overlay {
  will-change: transform;
}
