@import '@bolt/tools-spacing';


/* ------------------------------------ *\
   Inline List:

   The inline-list object simply
   displays a list of items in
   one line.
\* ------------------------------------ */

// Predefine the variables below in order to alter and enable specific features.
$bolt-inline-list-delimit-character:   '|' !default;


// Base Inline List Styles
bolt-inline-list {
  display: block;

  &:not(:last-child) {
    @include bolt-margin-bottom(small);
  }
}

.o-bolt-inline-list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

// .o-bolt-inline-list--matrix {
//   margin-bottom: bolt-v-spacing(medium) * -1;
//   > .o-bolt-inline-list__item {
//     @include bolt-margin-bottom(small);
//     display: inline-block;
//   }
// }


// Inline List Item
.o-bolt-inline-list__item {
  display: inline-block;
  display: inline-flex;
}


// Inline List Delimited
.o-bolt-inline-list--delimited > .o-bolt-inline-list__item:not(:first-child):before {
  display: inline-block;
  color: bolt-color(gray, light);
  letter-spacing: -0.35em; // negate extra inline-block whitespace
  content: '#{$bolt-inline-list-delimit-character}';
}


// Inline List Spacing
.o-bolt-inline-list--xsmall {
  margin-left: bolt-spacing(xsmall) * -1;

  &.o-bolt-inline-list--matrix {
    margin-bottom: bolt-v-spacing(xsmall) * -1;

    > .o-bolt-inline-list__item {
      margin-bottom: bolt-v-spacing(xsmall);
    }
  }

  > .o-bolt-inline-list__item {
    padding-left: bolt-spacing(xsmall);

    &:before {
      margin-right: bolt-spacing(xsmall);
    }
  }
}

.o-bolt-inline-list--small {
  margin-left: bolt-spacing(small) * -1;

  &.o-bolt-inline-list--matrix {
    margin-bottom: bolt-v-spacing(small) * -1;

    > .o-bolt-inline-list__item {
      margin-bottom: bolt-v-spacing(small);
    }
  }

  > .o-bolt-inline-list__item {
    padding-left: bolt-spacing(small);

    &:before {
      margin-right: bolt-spacing(small);
    }
  }
}

.o-bolt-inline-list--medium {
  margin-left: bolt-spacing(medium) * -1;

  &.o-bolt-inline-list--matrix {
    margin-bottom: bolt-v-spacing(medium) * -1;

    > .o-bolt-inline-list__item:after {
      margin-bottom: bolt-v-spacing(medium);

      &:before {
        margin-right: bolt-spacing(medium);
      }
    }
  }

  > .o-bolt-inline-list__item:before {
    margin-left: bolt-spacing(medium);
  }
}


// /**
//  * Comma delimited list to semantically mark up lists of tags, etc.
//  *
//  * N.B. This component requires that you remove the whitespace between LIs.
//  *      The simplest (and valid) way to achieve this is by omitting the
//  *      closing `</li>` tag.
//  */

// .o-bolt-inline-list--delimited {
//   > * + * {
//     &:before {
//     }
//   }
// }


// .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before
