/*------------------------------------*\
  Defining system and custom fonts
\*------------------------------------*/


/*
 * System UI Fonts
 */

$font-ui-default: -apple-system, BlinkMacSystemFont; // This maps to the system UI font.
$font-ui-known: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans'; // This is for known system UI fonts and requires frequent updates.


/*
 * Font types
 */

$font-sans--system: $font-ui-default, $font-ui-known, 'Helvetica Neue', sans-serif;
$font-serif--system: serif;
$font-monospace--system: monospace;

$font-sans: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-serif: 'Georgia', serif;
$font-monospace: 'Courier New', monospace;
