{% set description %}
    A ratio element sets a preferred aspect ratio for the image or video.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Aspect ratio is most commonly expressed as two integers and a division sign <code>/</code> in the dimensions of: width / height. The browser will calculate the aspect ratio and for example <code>ratio: 4/3</code> will result in 1.33.</bolt-li>
    <bolt-li>To measure the aspect ratio, we need to divide the width by the height. For example an image 400x300 and image 260x195 have the same ratio 1.33. That means this ratio should be respected.</bolt-li>
    <bolt-li>The nearest normal aspect ratio should be find. In other words, while 649x360 technically has an aspect ratio of 649/360, it’s often useful to know that the nearest normal aspect ratio is actually 9/5 (648x360). You can <a href="http://lawlesscreation.github.io/nearest-aspect-ratio/" target="_blank" rel="noopener" class="e-bolt-text-link">calculate the Nearest Normal Aspect Ratio</a>. Useful for when images are odd aspect ratios.</bolt-li>
    <bolt-li>Setting different aspect ratio than the one resulting from the calculations (width divided by height) causes <a href="{{ link['elements-ratio-nearest-normal-aspect-ratio'] }}" class="e-bolt-text-link">cropping the image</a>.</bolt-li>
    <bolt-li>Ratio element width will adapt to its parent container width. Or we can set the width directly to the ratio element using attributes object, for example: <code>attributes: { style: 'max-width: 150px' }</code></bolt-li>
    <bolt-li>The most common aspect ratios for images are 4/3 and 3/2, while <a href="{{ link['elements-ratio-video'] }}" class="e-bolt-text-link">video</a> tends to have a 16/9 aspect ratio.</bolt-li>
    <bolt-li>A great feature of <code>aspect-ratio</code> is that it can create placeholder space to prevent <a href="https://web.dev/cls/" target="_blank" rel="noopener" class="e-bolt-text-link">Cumulative Layout Shift</a> and deliver better Web Vitals.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        alt: 'Alt text.',
        src: 'https://via.placeholder.com/400x300',
        width: 400,
        height: 300,
      },
    } only %}
  {% endset %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    children: image,
    ratio: 'image',
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      alt: 'Alt text.',
      src: 'https://via.placeholder.com/400x300',
      width: 400,
      height: 300
    },
  } only %}
{% endset %}
{% include '@bolt-elements-ratio/ratio.twig' with {
  children: image,
  ratio: 'image'
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<div class="e-bolt-ratio">
  <div class="e-bolt-ratio__content" style="aspect-ratio: 4/3">
    <img alt="Alt text." src="path/image.jpg" width=400 height=300 class="e-bolt-image">
  </div>
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Ratio',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
