{% set description %}
  Setting wrong aspect ratio can cropp the images.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Setting different aspect ratio than the one resulting from the calculations (width divided by height) causes cropping the image. The aspect ratio is not respected.</bolt-li>
    <bolt-li>The dimensions of image below are 2100x900. The nearest normal aspect ratio should be 7/3. Setting the ratio to 4/3 will cropp the image.</bolt-li>
    <bolt-li>This calculator can be helpful for finding the <a href="http://lawlesscreation.github.io/nearest-aspect-ratio/" target="_blank" rel="noopener" class="e-bolt-text-link">Nearest Normal Aspect Ratio</a>.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        alt: 'Alt text.',
        src: 'https://via.placeholder.com/2100x900',
        width: 448,
        height: 192
      },
    } only %}
  {% endset %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    children: image,
    ratio: '4/3'
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      alt: 'Alt text.',
      src: 'https://via.placeholder.com/2100x900',
    },
  } only %}
{% endset %}
{% include '@bolt-elements-ratio/ratio.twig' with {
  children: image,
  ratio: '4/3'
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<div class="e-bolt-ratio" style="aspect-ratio: 4/3">
  <img alt="Alt text." src="path/image.jpg" width=448 height=192 class="e-bolt-image">
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Missing the correct Nearest Normal Aspect Ratio value.',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
