{% set description %}
  Setting another aspect ratio than expected causes cropping the image.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>This calculator can be helpful for finding the <a href="http://lawlesscreation.github.io/nearest-aspect-ratio/" target="_blank" rel="noopener" class="e-bolt-text-link">Nearest Normal Aspect Ratio</a>. Useful for when images are odd aspect ratios.</bolt-li>
    <bolt-li>Setting different aspect ratio than the one resulting from the calculations (width divided by height) causes cropping the image. The aspect ratio is not respected.</bolt-li>
    <bolt-li>The dimensions of image below are 2100x900. The nearest normal aspect ratio should be 7/3. Setting the ratio to another, in this case 4/3 will cropp the image.</bolt-li>
    <bolt-li>The expected aspect ratio is 7/3, that means dividing width by height should be 2.33.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        alt: 'Alt text.',
        src: 'https://via.placeholder.com/2100x900',
        width: 700,
        height: 300
      },
    } only %}
  {% endset %}

  {% set wrong %}
    <bolt-banner status="warning" align="start">The aspect ratio is <strong>not</strong> respected. Image <strong>2100x900</strong>, aspect-ratio: <strong>4/3 = 1.33</strong>.</bolt-banner>
    {% include '@bolt-elements-ratio/ratio.twig' with {
      children: image,
      ratio: '4/3',
    } only %}
  {% endset %}

  {% set correct %}
    <bolt-banner status="success" align="start">The aspect ratio is respected. Image <strong>2100x900</strong>, aspect-ratio: <strong>7/3 = 2.33</strong>.</bolt-banner>
    {% include '@bolt-elements-ratio/ratio.twig' with {
      children: image,
      ratio: '7/3'
    } only %}
  {% endset %}
  {% include '@bolt-components-grid/grid.twig' with {
    gutter: 'small',
    items: [
      {
        column_start: '1',
        column_span: '6',
        content: correct,
      },
      {
        column_start: '7',
        column_span: '6',
        content: wrong,
      },
    ]
  } only %}
{% endset %}
{% set twig_markup %}{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      alt: 'Alt text.',
      src: 'https://via.placeholder.com/2100x900',
    },
  } only %}
{% endset %}
{% include '@bolt-elements-ratio/ratio.twig' with {
  children: image,
  ratio: '7/3'
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<div class="e-bolt-ratio" style="aspect-ratio: 7/3">
  <img alt="Alt text." src="path/image.jpg" width=448 height=192 class="e-bolt-image">
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Nearest Normal Aspect Ratio VS another aspect ratio value.',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
