{% set schema = bolt.data.components['@bolt-components-band'].schema %}

{% for theme in schema.properties.theme.enum %}
  <p>Theme: {{ theme }}</p>
  {% include '@bolt-components-band/band--flag.twig' with {
    theme: theme,
    eyebrow: {
      text: "Who is Pega?"
    },
    headline: {
      text: "Pega is #1 in software for customer engagement and operational excellence."
    },
    buttons: [
      {
        text: "Learn More",
        style: "primary"
      },
      {
        text: "About Pega",
        style: "secondary"
      }
    ]
  } %}
{% endfor %}
