////
/// @group Settings: Typography
/// @author Mike Mai
////


/* ------------------------------------ *\
  Base Font Size
\* ------------------------------------ */
$bolt-font-size--min: 14px;
$bolt-font-size--max: 18px;
// $bolt-font-size--min-px: 15px;
// $bolt-font-size--max: 18;



/* ------------------------------------ *\
  Scale
\* ------------------------------------ */
// $bolt-font-size--xxxlarge--min: 2.275;
$bolt-font-size--xxlarge--max: 3.083;
$bolt-font-size--xxlarge--min: 2.275;
$bolt-font-size--xxxxlarge: 3.083;
$bolt-font-size--xxxlarge: 2.275;
$bolt-font-size--xxlarge: 1.781;
$bolt-font-size--xlarge: 1.417;
$bolt-font-size--large: 1.111;
$bolt-font-size--medium: 1;
$bolt-font-size--small: 0.9;
$bolt-font-size--xsmall: 0.8;


$bolt-line-height--xxxxlarge: 1.14;
$bolt-line-height--xxxlarge: 1.14;
$bolt-line-height--xxlarge: 1.13;
$bolt-line-height--xlarge: 1.21;
$bolt-line-height--large: 1.31;
$bolt-line-height--medium: 1.65;
$bolt-line-height--small: 1.51;
$bolt-line-height--xsmall: 1.45;
$bolt-line-height--tight: 1.111;


/// Bolt's definition of all options of possible text sizes.
/// @type Map
$bolt-font-sizes: (
  font-sizes: (
    xxxxlarge: (
      font-size: $bolt-font-size--xxxxlarge + rem,
      line-height: (
        regular: $bolt-line-height--xxxxlarge,
        tight: $bolt-line-height--tight
      ),
    ),
    xxxlarge: (
      font-size: $bolt-font-size--xxxlarge + rem,
      line-height: (
        regular: $bolt-line-height--xxxlarge,
        tight: $bolt-line-height--tight
      ),
    ),
    xxlarge: (
      font-size: $bolt-font-size--xxlarge + rem,
      line-height: (
        regular: $bolt-line-height--xxlarge,
        tight: $bolt-line-height--tight
      )
    ),
    xlarge: (
      font-size: $bolt-font-size--xlarge + rem,
      line-height: (
        regular: $bolt-line-height--xlarge,
        tight: $bolt-line-height--tight
      )
    ),
    large: (
      font-size: $bolt-font-size--large + rem,
      line-height: (
        regular: $bolt-line-height--large,
        tight: $bolt-line-height--tight
      )
    ),
    medium: (
      font-size: $bolt-font-size--medium + rem,
      line-height: (
        regular: $bolt-line-height--medium,
        tight: $bolt-line-height--tight
      )
    ),
    small: (
      font-size: $bolt-font-size--small + rem,
      line-height: (
        regular: $bolt-line-height--small,
        tight: $bolt-line-height--tight
      )
    ),
    xsmall: (
      font-size: $bolt-font-size--xsmall + rem,
      line-height: (
        regular: $bolt-line-height--xsmall,
        tight: $bolt-line-height--tight
      )
    )
  )
);
