<div class="c-bds-gearbox">
  <div class="c-bds-gearbox__inner">
    <div class="c-bds-gearbox__overlay">
      <h1 class="c-bds-gearbox__gear-text">{{ text }} </h1>
    </div>
    <div class="c-bds-gearbox__gear c-bds-gearbox__gear--one">
      <div class="c-bds-gearbox__gear-inner">
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
      </div>
    </div>
    <div class="c-bds-gearbox__gear c-bds-gearbox__gear--two">
      <div class="c-bds-gearbox__gear-inner">
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
      </div>
    </div>
    <div class="c-bds-gearbox__gear c-bds-gearbox__gear--three">
      <div class="c-bds-gearbox__gear-inner">
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
      </div>
    </div>
    <div class="c-bds-gearbox__gear c-bds-gearbox__gear--four c-bds-gearbox__gear--large">
      <div class="c-bds-gearbox__gear-inner">
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
        <div class="c-bds-gearbox__gear-bar"></div>
      </div>
    </div>
  </div>
</div>
