<bolt-grid gutter="medium" row-gutter="medium">
  <bolt-grid-item column-start="1" column-span="12">
    <div class="c-acd-badge">
      {% include "@bolt-elements-image/image.twig" with {
        attributes: {
          src: "/images/content/icons/badge.png",
          style: "max-width: 200px",
          loading: "lazy",
          class: [
            locked ? "u-bolt-opacity-20" : "",
          ]
        }
      } only %}
      {% if locked %}
        {% set icon %}
          {% include "@bolt-elements-icon/icon.twig" with {
            name: "lock",
          } only %}
        {% endset %}
        {% include "@bolt-elements-shape/shape.twig" with {
          content: icon,
          size: "large",
          attributes: {
            class: [
              "c-acd-badge__lock",
              "t-bolt-orange"
            ]
          }
        } only %}
      {% endif %}
    </div>
  </bolt-grid-item>
</bolt-grid>
