{% set schema = bolt.data.components["@bolt-components-band"].schema %}

<p><mark>Note: turn off full bleed option if you don't want the band to span the full width of the page.</mark></p>
{% for full_bleed in schema.properties.full_bleed.enum %}
  <h3>
    {% if full_bleed == true %}
      This band spans the full width of the page.
    {% elseif full_bleed == false %}
      This band only spans the full width of its parent container.
    {% endif %}
  </h3>
  <div class="u-bolt-margin-bottom-medium">
    {% include "@bolt-components-band/band.twig" with {
      full_bleed: full_bleed,
      content: "This is a band.",
    } only %}
  </div>
{% endfor %}
