//XDark Theme
--bolt-theme-background-color: #161B3D;
--bolt-theme-text-color: #FFF;
--bolt-theme-headline-color: #FFF;
--bolt-theme-link-color: #FFCC4D;

--bolt-theme-primary-button-background-color: #F9CB55;
--bolt-theme-primary-button-color: #1F2555;

--bolt-theme-secondary-button-background-color: #FFF;
--bolt-theme-secondary-button-color: #1F2555;

--bolt-theme-text-button-background-color: transparent;
--bolt-theme-text-button-color: #FFF;


//XLight Theme
--bolt-theme-background-color: #FFF;
--bolt-theme-text-color: #2D2E33;
--bolt-theme-headline-color: #1F2555;
--bolt-theme-link-color: #0074B3;

--bolt-theme-primary-button-background-color: #F9CB55;
--bolt-theme-primary-button-color: #1F2555;

--bolt-theme-secondary-button-background-color: #FFF;
--bolt-theme-secondary-button-color: #1F2555;

--bolt-theme-text-button-background-color: transparent;
--bolt-theme-text-button-color: #535BA6;



// Not in theme, but uses theme values.
$bolt-pagination-bullets--active: --bolt-theme-text-color;
$bolt-pagination-bullets--inactive: rgba(--bolt-theme-text-color, 0.2);
$bolt-eyebrow-color: rgba(--bolt-theme-headline-color, 0.7);
$bolt-border-color: rgba(--bolt-theme-text-color, 0.2);
$bolt-icon-color: currentColor;

