{% extends "@bolt-blueprints/_blueprints-detail-page-template.twig" %}

{% block page_content %}
  {% import "@bolt-blueprints/macros.twig" as macros %}

  {% include "@bolt-blueprints/numbered-headline.twig" with {
    tag: "h2",
    size: "xxlarge",
    text: "Scenario",
    bulletText: 1,
    bulletColor: "orange"
  } only %}

  {% include "@bolt-components-headline/text.twig" with {
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.",
  } only %}

  <!-- todo: refactor into pre-built component / template -->
  <div class="t-bolt-xlight u-bolt-padding-small u-bolt-margin-bottom-medium u-bolt-border-radius-large u-bolt-shadow-level-10 u-bolt-overflow-hidden">
    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-8/12 u-bolt-flex-grow" %}
        {% include "@bolt-components-headline/text.twig" with {
          text: "Before beginning the challenge, you must launch your own Pega cloud environment.",
          icon: {
            name: "cloud",
            position: "before",
          },
        } only %}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        {% include "@bolt-components-button/button.twig" with {
          text: "Launch Pega",
          size: "small",
          border_radius: "full",
          icon: {
            name: "external-link",
            position: "after",
          }
        } only %}
      {% endcell %}
    {% endgrid %}
  </div>

  {% include "@bolt-components-headline/text.twig" with {
    text: "Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed.",
  } only %}

  {% include "@bolt-components-figure/figure.twig" with {
    media: {
      content: macros.include("@bolt-components-image/image.twig", {
        src: "/images/placeholders/500x500.jpg",
      }),
    },
    caption: "Fig. 1: This is Bill. He is awesome."
  } only %}

  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh.",
  } only %}

  <div class="t-bolt-xlight u-bolt-padding-small u-bolt-shadow-level-10 u-bolt-overflow-hidden">
    {% include "@bolt-components-placeholder/placeholder.twig" with {
      size: "large",
      text: "H5P Embed",
    } only %}
  </div>

{% endblock %}
