<div class="u-bolt-margin-medium">
  {% include "@bolt-components-toc/toc.twig" with {
    header: "SAE Application Build",
    items: [
      {
        content: "Understanding the rental reservation steps",
        url: "#understanding-the-rental-reservation-steps",
      },
      {
        content: "Displaying current status of a reservation progress",
        url: "#displaying-current-status-of-a-reservation-progress",
        active: true,
      },
      {
        content: "Providing guidance through various screens",
        url: "#providing-guidance-through-various-screens",
      },
      {
        content: "Creating a new user account identification through customer credentials",
        url: "#creating-a-new-user-account-identification-through-customer-credentials",
      },
      {
        content: "Creating new accounts using existing login credentials",
        url: "#creating-new-accounts-using-existing-login-credentials",
      },
    ]
  } only %}
</div>


<div class="u-bolt-margin-medium">
  <bolt-toc header="SAE Application Build">
    <bolt-toc-item url="#understanding-the-rental-reservation-steps">
      Understanding the rental reservation steps
    </bolt-toc-item>
    <bolt-toc-item url="#displaying-current-status-of-a-reservation-progress" active>
      Displaying current status of a reservation progress
    </bolt-toc-item>
    <bolt-toc-item url="#providing-guidance-through-various-screens">
      Providing guidance through various screens
    </bolt-toc-item>
  </bolt-toc>
</div>
