/* ------------------------------------ *\
   tile Action
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../tile-settings-and-tools.scss';

bolt-tile-action {
  flex: 1;

  // [Mai] When there are 2 actions, the text is likely to be short, that's a situation where it would benefit from text not wrapping to another line. Instead, if it runs out of room, the actions stack on top of each other.
  &:not(:only-child) {
    white-space: nowrap;
  }
}

.c-bolt-tile__action {
  @include bolt-tile-border-reset;

  display: block;
  position: relative;
  top: $bolt-tile-border-width * -1;
  border-top-width: $bolt-tile-border-width;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: $bolt-tile-border-width * -1;
    width: $bolt-tile-border-width;
    height: calc(100% + #{$bolt-tile-border-width});
    background-color: $bolt-tile-border-color;
  }

  > * {
    height: 100%;
  }
}
