<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bolt Design System | PW Example</title>
  <meta name="description" content="Bolt Design System | PW Example">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/bolt-scripts/pw-site/pw.css">
</head>

  <body>
    {% block content %}{% endblock content %}

    <script src="/bolt-scripts/pw-site/pw.js" async></script>
  </body>
</html>
