{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "safari >= 7",
            "ie >= 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}