{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "safari >= 7",
            "ie >= 11"
          ]
        }
      }
    ],
    "flow",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-skate-flow-props",
    ["transform-react-jsx",
      { "pragma": "h"
      }
    ],
    "transform-class-properties",
    "transform-custom-element-classes",
    "transform-es2015-classes"
  ]
}