{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 3 versions",
            "safari >= 7",
            "ie >= 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "transform-custom-element-classes",
    "transform-es2015-classes",
    "babel-plugin-transform-es2015-classes",
    [
      "babel-plugin-transform-builtin-classes",
      {
        "globals": [
          "Array",
          "Error",
          "HTMLElement"
        ]
      }
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}