**/node_modules/**
**/vendor/**
**/sandbox/**
/www/**
/example-integrations/drupal-lab/**
packages/uikit-workshop/**
**/dist/**

# compiled via build scripts -- need to exclude from validation rules
packages/components/bolt-icons/src/icons/**

# file has syntax errors
docs-site/src/_annotations/annotations.js
