**/node_modules/**
**/vendor/**
**/sandbox/**
/www/**
/example-integrations/drupal-lab/**
packages/uikit-workshop/**
**/dist/**
packages/generators/**
packages/uikit-critical-css-webpack-plugin/**
packages/uikit-prerenderer/**
packages/uikit-prerender-spa-plugin/**

# @todo: remove once https://github.com/boltdesignsystem/bolt/pull/1602 ships
packages/components/bolt-icons/src/index.js

# compiled via build scripts -- need to exclude from validation rules
packages/components/bolt-icons/src/icons/**

# file has syntax errors
docs-site/src/pattern-lab/_annotations/annotations.js
docs-site/src/components/schema-form/**
