_tests
.eyeglass_cache
.env
!*.map
!*/*.map
.sass-cache
cache
*.css.map
*.idea
*.map
*.psb
*.psd
*.tmp
dist

## installed to src/_twig-components via composer
src/_twig-components
src/_patterns/**/dist
src/_patterns/**/dist/*


*.log
lerna-debug.log
node_modules
bower_components
vendor

## static bolt site / pattern lab instance built locally
bolt-website
navItems.html
src/_patternsnavitems.html
src/_patternspatterns.html
src/_patternspatternStore.html
src/_patternspatternSubtype.html
src/_patternspatternType.html
bolt-manifest.json



# Logs
logs
*.log
npm-debug.log*
coverage
dist
.vscode/
src/vendor/webcomponents-loader.js
*.report.html