_tests
.eyeglass_cache
.env
!*.map
!*/*.map
.sass-cache
cache
*.css.map
*.idea
*.map
*.psb
*.psd
*.tmp

node_modules
bower_components
vendor
package-lock.json

# nightwatch.js test results when run locally
/tests_output/**

/www

# Logs
*.log
lerna-debug.log
logs
npm-debug.log*
coverage
.vscode/
*.report.html

/apps/bolt-site/sassdocs
