{
  "singleQuote": true,
  "tabSize": 2,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
