{
  "ignoreFiles": [
    "./packages/website-ui/uikit-workshop/**/*",
    "./packages/website/src/components/schema-form/*",
    "./packages/tools/component-generator/*",
  ],
  "extends": "./packages/configs/stylelint-config"
}