{
  "ignoreFiles": [
    "./packages/website-ui/uikit-workshop/**/*",
    "./docs-site/src/components/schema-form/*",
    "./packages/generators/**",
    "example-integrations/drupal-lab/**/*"
  ],
  "extends": "./packages/configs/stylelint-config"
}