{
  "ignoreFiles": [
    "./packages/uikit-workshop/**/*",
    "./docs-site/src/components/schema-form/*",
    "./packages/generator-bolt/generators/component/templates/**",
  ],
  "extends": "./packages/config/stylelint"
}