dist: bionic
language: php
php:
  - 7.1

addons:
  chrome: stable

cache:
  npm: true
  yarn: true
  directories:
    - docs-site/vendor
    - docs-site/cache
    - www
    - node_modules
    - .cache

before_install:
  - openssl aes-256-cbc -K $encrypted_4537e53f71e7_key -iv $encrypted_4537e53f71e7_iv -in scripts/bolt-design-system-bot.private-key.pem.enc -out scripts/bolt-design-system-bot.private-key.pem -d
  - nvm install # version lifted from `.nvmrc`
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.17.3
  - export PATH="$HOME/.yarn/bin:$PATH"

# see more conditions: https://docs.travis-ci.com/user/conditions-v1
# Stages run sequentially; the jobs in them run in parallel
stages:
  - Prep
  - Test Live Site
#  Just an example of having a whole stage be branch conditional; see more conditions: https://docs.travis-ci.com/user/conditions-v1
#  - name: Super Hard Tests
#    if: branch = master

jobs:
  include:
    #  - stage: Prep
    #   name: 'Smoke Tests: Build Tools'
    #   if: branch =~ /(master|develop|release\/2.x|release\/3.x|next)/ OR tag IS present
    #   install: 'npm run setup'
    #   before_script: ./scripts/check-run-queue.js 'Build Tools'
    #   script: yarn run test:build-tools
    #   after_success: ./scripts/check-run-success.js 'Build Tools'
    #   after_failure: ./scripts/check-run-failure.js 'Build Tools'

    # - stage: Prep
    #   name: 'Build Drupal Lab'
    #   if: branch =~ /(master|develop|release\/2.x|release\/3.x|next)/ OR tag IS present
    #   script:
    #     - composer global require hirak/prestissimo
    #     - cd example-integrations/drupal-lab
    #     - npm run setup

    # - stage: Prep
    #   name: 'Smoke Tests: Linting'
    #   if: branch =~ /(master|develop|release\/2.x|release\/3.x|next)/ OR tag IS present
    #   install: yarn run setup:quick
    #   before_script: ./scripts/check-run-queue.js 'Lint'
    #   script: yarn run lint
    #   after_success: ./scripts/check-run-success.js 'Lint'
    #   after_failure: ./scripts/check-run-failure.js 'Lint'

    - stage: Prep
      name: 'Smoke Tests: Lint + Jest Tests'
      install:
        - yarn run setup:full
      before_script:
        - yarn workspace @bolt/website prep # creates data and manifest files
      script:
        - yarn run lint
        - travis_retry yarn test:js:quick --bail --maxWorkers=1
      # before_script: ./scripts/check-run-queue.js 'Lint + Jest'
      # after_success: ./scripts/check-run-success.js 'Lint + Jest'
      # after_failure: ./scripts/check-run-failure.js 'Lint + Jest'
        # - travis_retry yarn test:js --bail --maxWorkers=1
        # - yarn test:js:quick --maxWorkers=1 # running both `test:js` as comparison; remove or comment out this or other one eventually
        # - yarn test:php
        # - yarn test:monorepo --maxWorkers=1
        # - yarn test:pkgs --ignore=@bolt/uikit-workshop --ignore=@bolt/build-tools --ignore=@bolt/build-tools--test-multi-lang

    - stage: Prep
      name: 'Build + Deploy Website'
      script:
        # Clear incache file on normal Travis builds
        # - find . -name '.incache' -exec rm -rf {} +
        - yarn run setup
        - yarn run build
        - yarn run deploy
        - export NOW_URL=$(./scripts/get-latest-deploy.js)
        - yarn run test:e2e:quick
      after_success:
        - travis_retry ./scripts/deploy-branch-alias.js
        - travis_retry ./scripts/deploy-tagged-release.js
        # need to reset git repo before `update-read-only-git-repos.sh`
        # - cd "`git rev-parse --show-toplevel`" && git clean -fd && git reset --hard HEAD && cd -
        # - ./scripts/release/update-read-only-git-repos.sh

    # - stage: Test Live Site
    #   name: 'Nightwatch End-to-End'
    #   install: travis_retry yarn run setup
    #   # before_script: travis_retry ./scripts/check-run-in-progress.js 'Nightwatch'
    #   script:


        # - echo "The Now URL is $NOW_URL"
        # - travis_retry time curl -sSf "$NOW_URL" > /dev/null # warming up site
        # - travis_retry ./packages/testing/testing-nightwatch/nightwatch-report-results.js

    # - stage: Test Live Site
    #   if: branch =~ /(master|develop|release\/2.x|release\/3.x|next)/ OR tag IS present
    #   name: 'Ensure site is live'
    #   install: yarn run setup
    #   before_script: ./scripts/check-run-in-progress.js 'Site is live'
    #   script:
    #     - export NOW_URL=$(./scripts/get-latest-deploy.js)
    #     - echo "Testing Now URL \"$NOW_URL\" to see if it is alive."
    #     - time curl -sSf "$NOW_URL" > /dev/null
    #   after_success:
    #     - ./scripts/check-run-success.js 'Site is live'
    #   after_failure:
    #     - ./scripts/check-run-failure.js 'Site is live'

    # - stage: Test Live Site
    #   name: 'Example master only job'
    #   if: branch = master
    #   script:
    #     - echo "This example only runs on master branch builds"

notifications:
  email:
    on_success: never
    on_failure: never # @todo re-enable
  slack:
    secure: cNto+gWAoK1JM9jBNG4i4rMSybv3twMbqlFSCohQFBDMwKFMdlyWqFDX6iYKtHxWEDzrZyRz3qiJ8/S44mgjeKJ/xHbHDtPchp/KL2P1htipvwD2EZXobcBEGl83v2rmtFO1WNJUPB3RIJE2yt1wJsX7NIXpDw82hePmaIvNJmtbLpK/J5uaFqGNHIsctmULgVmGSNSTyK4nYxxjNNLd0EvO37Y6VN8FhsKNu2NHMKeeQxinEvETDUh8XuqXZYNWE3PBvVa4OiDhgnr5K27jsnWX+wEmqg0xY+CMf7mUSTqVN61fA7LnHyM0qcGGmB6YTv4QYLMwPydp+nsjDcm3St9D+KOTsQ4ExOaEAL/6EnAEpl8GtxST+ytdqswhCC4yMCO61Hy+M5AoXgDSGrrXHgZakDMAcEVcJdH38791hRxcuM3ldVmHAlAWFdgRLG5rRMVh3qoXz7jbraoTdjyKMegQIQdKR2SX7O9Dv0EEtLz4lTFN2RENvAjLggUPPU+ESoUHmSbwmPGnt7jy3ra2AI3nnYpfn/0e6Op/A3z7HLbdm3XyuNWoTPhy1mc4Adca+HosJ37UPv7nDRIGds1sKYAeWq94+rEk+/6IQ/oRIDRhSYsQbLLWnU6DH4o7iOj7D+X/ngjqmF75nW2s5+7rtdBHFvNzOJalCKHiDTMfdlQ=