<div class="c-bds-hamburger u-bolt-hidden@medium">
  <div class="c-bds-hamburger__inner">
    <div class="c-bds-hamburger__button c-bds-hamburger__button--open">
      {% include "@bolt-components-button/button.twig" with {
        text: 'Open Menu',
        icon_only: true,
        url: "#menu",
        style: "primary",
        size: "small",
        rounded: "rounded",
        icon: {
          name: "menu",
          size: "medium",
          position: "after"
        }
      } %}
    </div>

    <div class="c-bds-hamburger__button c-bds-hamburger__button--close">
      {% include "@bolt-components-button/button.twig" with {
        text: 'Close Menu',
        icon_only: true,
        url: "#",
        style: "primary",
        size: "small",
        rounded: "rounded",
        icon: {
          name: "close",
          size: "medium",
          position: "after"
        }
      } %}
    </div>
  </div>
</div>
