<div class="c-bds-hamburger u-bolt-hidden@medium">
  <div class="c-bds-hamburger__inner">
    <div class="c-bds-hamburger__button c-bds-hamburger__button--open">
      {% set _icon_menu %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: "menu",
          size: "medium",
        } only %}
      {% endset %}
      {% include "@bolt-elements-button/button.twig" with {
        content: 'Open Menu',
        icon_only: _icon_menu,
        hierarchy: "primary",
        size: "medium",
        border_radius: "full",
        attributes: {
          href: "#nav",
        }
      } %}
    </div>

    <div class="c-bds-hamburger__button c-bds-hamburger__button--close">
      {% set _icon_close %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: "close",
          size: "medium",
        } only %}
      {% endset %}
      {% include "@bolt-elements-button/button.twig" with {
        content: 'Close Menu',
        icon_only: _icon_close,
        hierarchy: "primary",
        size: "medium",
        border_radius: "full",
        attributes: {
          href: "#",
        }
      } %}
    </div>
  </div>
</div>
