////
/// @group Settings: Animations
/// @author Joseph Karasek
////

/// Duration
$bolt-duration--xfast: 0.2s;
$bolt-duration--fast: 0.5s;
$bolt-duration--medium: 1s;
$bolt-duration--slow: 1.5s;
$bolt-duration--xslow: 2.3s;

/// Delay
$bolt-delay--xsmall: 0.05s;
$bolt-delay--small: 0.2s;
$bolt-delay--medium: 0.5s;
$bolt-delay--long: 1s;
$bolt-delay--xlong: 1.5s;

/// Timing functions
$bolt-timing--linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$bolt-timing--ease-out: cubic-bezier(0, 0, 0.1, 1);
$bolt-timing--ease-in: cubic-bezier(0.9, 0, 1, 1);
$bolt-timing--ease-in-out: cubic-bezier(0.5, 0, 0.5, 1);
$bolt-timing--swing-in-out: cubic-bezier(1, -0.5, 0, 1.5);
$bolt-timing--burst: cubic-bezier(0, 1, 0, 1);
$bolt-timing--snap: cubic-bezier(1, 0, 1, 0);

/// KeyFrames
@keyframes bolt-animation--spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bolt-animation--zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes bolt-animation--zoom-in-down {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes bolt-animation--zoom-in-left {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes bolt-animation--heart-beat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.4);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes bolt-animation--pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
