<h2>Web Component Usage</h2>
<p>Bolt Chip is a web component, you can simply use <code class="language-html">&lt;bolt-chip&gt;</code> in the markup to make it render.</p>
<h3>Example</h3>
<div class="u-bolt-margin-bottom-medium">
<pre class="c-bolt-code-snippet-syntax--light"><code class="language-html">&lt;bolt-chip&gt;
  Text of the chip
&lt;/bolt-chip&gt;</code></pre>
</div>
<h3>Simple usage</h3>
<div class="u-bolt-margin-bottom-medium">
  <bolt-chip>
    Text of the chip
  </bolt-chip>
</div>
<h3>Passing url</h3>
<div class="u-bolt-margin-bottom-medium">
  <bolt-chip url="!#">
    Chip with link
  </bolt-chip>
</div>
