/* ------------------------------------ *\
   Wrapper
\* ------------------------------------ */

@import '@bolt/core-v3.x';

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

$bolt-wrapper--max-width: bolt-breakpoint(xxlarge);

.e-bolt-wrapper {
  // Styles go here. /* [1] */
  display: block;
  max-width: $bolt-wrapper--max-width;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  padding-right: $bolt-wrapper-padding;
  padding-left: $bolt-wrapper-padding;

  @include bolt-mq(medium) {
    padding-right: $bolt-wrapper-padding-at-medium-bp;
    padding-left: $bolt-wrapper-padding-at-medium-bp;
  }
}
