// Image Component Styling (if any)

bolt-image {
  display: block;
}

.c-bolt-image__lazyload {
  transition: opacity .2s ease, filter .2s ease;
}

.c-bolt-image__lazyload--blur {
  filter: blur(20px);

  &.is-lazyloaded {
    filter: none;
  }
}

.c-bolt-image__lazyload--fade {
  opacity: 0;

  &.is-lazyloaded {
    opacity: 1;
  }
}


.c-bolt-image__image-placeholder {
  transition: opacity .2s ease;
  pointer-events: none;
}
