.c-bolt-button-group {
  margin-left: bolt-spacing(small) * -1;
  margin-bottom: bolt-spacing(small) * -1;
  display: inline-flex;
  list-style: none;
  letter-spacing: -0.35em;
  flex-flow: row wrap;
}

.c-bolt-button-group__item {
  @include bolt-padding-left(small);
  @include bolt-padding-bottom(small);
  letter-spacing: normal;
  display: inline-block;
  display: inline-flex;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 1;

  // @include respond-to(small) {
  //   max-width: 300px;
  // }
}
