{% set content %}
  <button type="button" class="e-bolt-button">
    <span>This is a Button; click "Edit" above to edit me</span>
  </button>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
