{% set content %}
  <button type="button" data-bolt-modal-target=".editor-demo__modal" class="e-bolt-button" >
    <span>This is a Button triggering an on-page Modal</span>
  </button>
  <button type="button" data-bolt-modal-target=".editor-demo__modal" class="e-bolt-text-link">
    This is a Link triggering an on-page Modal
  </button>
  <bolt-cta>
    <bolt-icon size="medium" slot="icon" name="asset-presentation">
    </bolt-icon>
    <button slot="link" type="button" href="javascript:void(0)" data-bolt-modal-target=".editor-demo__modal" class="e-bolt-text-link e-bolt-text-link--reversed-underline">CTA Text<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></button>
  </bolt-cta>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}

{% set video_content %}
  {% set video %}
    <video-js
      data-delayed-account="1900410236"
      data-delayed-player="O3FkeBiaDz"
      data-embed="default"
      data-delayed-video-id="3861325118001"
      data-video-delayed
      controls
      class="c-base-video"></video-js>
  {% endset %}

  {% include "@bolt-components-ratio/ratio.twig" with {
    children: video,
    ratio: "16/9",
    attributes: {
      class: "editor-demo__modal"
    }
  } only %}
{% endset %}

{% include "@bolt-components-modal/modal.twig" with {
  attributes: {
    class: "editor-demo__modal"
  },
  content: video_content,
  width: "optimal",
  spacing: "none",
  theme: "none",
  scroll: "overall",
} only %}
