{% set usage %}{% verbatim %}
{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  lang: "html",
  content: "<p>Hello world!</p>"
} only %}
{% endverbatim %}{% endset %}

{% include "@utils/docs.twig" with {
  componentName: "code-snippet",
  usage: usage
} only %}
