{% set usage %}
{% verbatim %}
{% set code_snippet %}
<h1>Hello world!</h1>
<p>This is a code snippet.</p>
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'html',
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/docs.twig' with {
  componentName: 'code-snippet',
  usage: usage,
} only %}
