{% set notes %}
  <bolt-ol>
    <bolt-li>Only the languages listed in the schema are supported. Contact the Design System team to request additional language support.</bolt-li>
    <bolt-li>Twig Code Snippets must be wrapped in <code>{{ '{% verbatim %}' }}</code> tag or they will be parsed by Twig itself.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set css_code %}
.my-css {
  display: block;
}
{% endset %}

{% set js_code %}
import { props } from '@bolt/core-v3.x/utils';
{% endset %}

{% set twig_code %}{% verbatim %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'html',
  content: '<p>Hello world!</p>'
} only %}
{% endverbatim %}{% endset %}

  <h3>CSS</h3>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    lang: 'css',
    content: css_code
  } only %}

  <h3>JavaScript</h3>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    lang: 'js',
    content: js_code
  } only %}

  <h3>Twig</h3>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    lang: 'twig',
    content: twig_code
  } only %}
{% endset %}

{# Note: we use `raw` tag here because we don't want Twig to parse `verbatim`. Normally, use `verbatim`, not `raw`. #}
{% set twig_markup %}
{% raw %}
{% set css_code %}
.my-css {
  display: block;
}
{% endset %}

{% set js_code %}
import { props } from '@bolt/core-v3.x/utils';
{% endset %}

{% set twig_code %}{% verbatim %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'html',
  content: '<p>Hello world!</p>'
} only %}{% endverbatim %}{% endset %}

<h3>CSS</h3>
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'css',
  content: css_code
} only %}

<h3>JavaScript</h3>
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'js',
  content: js_code
} only %}

<h3>Twig</h3>
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'twig',
  content: twig_code
} only %}
{% endraw %}
{% endset %}

{% set html_markup %}
<div class="e-bolt-code-snippet e-bolt-code-snippet--light" data-bolt-lang="js">
<pre><code>import { props } from '@bolt/core-v3.x/utils';</code></pre>
</div>
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Code Snippet Language',
  description: 'The Code Snippet will be syntax highlighted based on the chosen language.',
  demo: demo,
  notes: notes,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
