{% set notes %}
  <bolt-ol>
    <bolt-li>Twig defaults to "light" syntax. If using HTML you must add a syntax class, <code>c-bolt-snippet--light</code> or <code>c-bolt-snippet--dark</code>, or there will be no syntax highlighting.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set code_snippet %}
display: block;
margin: 0 0 1.65rem 0;
{% endset %}

  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: code_snippet,
    lang: 'css',
    syntax: 'dark'
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set code_snippet %}
display: block;
margin: 0 0 1.65rem 0;
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'css',
  syntax: 'dark'
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
<div class="e-bolt-code-snippet e-bolt-code-snippet--dark" data-bolt-lang="css">
<pre><code>display: block;
margin: 0 0 1.65rem 0;</code></pre>
</div>
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Code Snippet Syntax',
  description: 'Choose from two different syntax styles, light or dark.',
  notes: notes,
  demo: demo,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
