{% set notes %}
  <bolt-ol>
    <bolt-li>Pass a custom language title with the <code>lang_title</code> prop or the <code>data-bolt-lang-title</code> attribute if using HTML.</bolt-li>
    <bolt-li>Use the default language title whenever possible.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set code_snippet %}
$ echo "Hello World"
{% endset %}

  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: code_snippet,
    lang: 'bash',
    lang_title: 'Terminal'
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set code_snippet %}
$ echo "Hello World"
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'bash',
  lang_title: 'Terminal'
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
<div class="c-bolt-code-snippet c-bolt-code-snippet--light" data-bolt-lang="bash" data-bolt-lang-title="Terminal">
<pre><code>$ echo "Hello World"</code></pre>
</div>
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Code Snippet Language Title',
  description: description,
  notes: notes,
  demo: demo,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
