{% set notes %}
  <bolt-ol>
    <bolt-li>If using Twig, use <code>hide_lang_label</code> and <code>hide_copy</code> props to hide one or both of these Code Snippet header items.</bolt-li>
    <bolt-li>If using HTML, use the <code>data-hide-lang-label</code> and <code>data-hide-copy</code> attributes.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set code_snippet %}
.my-css {
  display: block;
}
{% endset %}

  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: code_snippet,
    lang: 'css',
    hide_lang_label: true,
  } only %}

  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: code_snippet,
    lang: 'css',
    hide_copy: true,
  } only %}

  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: code_snippet,
    lang: 'css',
    hide_lang_label: true,
    hide_copy: true,
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set code_snippet %}
.my-css {
  display: block;
}
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'css',
  hide_lang_label: true,
} only %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'css',
  hide_copy: true,
} only %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_snippet,
  lang: 'css',
  hide_lang_label: true,
  hide_copy: true,
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
<div class="c-bolt-code-snippet c-bolt-code-snippet--light" data-lang="css" data-hide-lang-label>
<pre><code>{{ code_snippet|trim }}</code></pre>
</div>

<div class="c-bolt-code-snippet c-bolt-code-snippet--light" data-lang="css" data-hide-copy>
<pre><code>{{ code_snippet|trim }}</code></pre>
</div>

<div class="c-bolt-code-snippet c-bolt-code-snippet--light" data-lang="css" data-hide-lang-label data-hide-copy>
<pre><code>{{ code_snippet|trim }}</code></pre>
</div>
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Code Snippet Header Display',
  description: 'Language title and copy to clipboard button are shown by default but can be turned off individually.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
