{% macro code_example(code) %}
  <div class="u-bolt-margin-bottom-small">
    {{ code }}
  </div>
  <div class="u-bolt-margin-bottom-large">
    <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
      {{ code | replace({
        '<': '&lt;',
        '>': '&gt;',
      }) | trim | raw }}
    {% endspaceless %}</bolt-code-snippet>
  </div>
{% endmacro %}

{% import _self as code_snippet_example %}

{% set code_snippet_demo %}
<bolt-code-snippet lang="html"><h1>Headline</h1></bolt-code-snippet>
{% endset %}

{% set code_snippet_prop_demo %}
<bolt-code-snippet lang="scss" display="block" syntax="light">.my-scss { @include my-mixin; }</bolt-code-snippet>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Code Snippet is a web component, you can simply use <bolt-code-snippet display="inline" lang="html">&lt;bolt-code-snippet&gt;</bolt-code-snippet> in the markup to make it render.
</bolt-text>
{% include code_snippet_example.code_example(code_snippet_demo) %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the code snippet with the properties specified in the schema.
</bolt-text>
{% include code_snippet_example.code_example(code_snippet_prop_demo) %}
