<h1>Superceded By the New Card Component (aka "Tile" until Bolt v3.0)</h1>

<aside class="c-bds-callout c-bds-callout--notice">
	<p>For
		<strong>all</strong>
		docs and demos of the old (deprecated) Card component, please refer to the
		<a href="https://v2-13-2.boltdesignsystem.com/pattern-lab/?p=viewall-components-card" target="_blank">Bolt docs for the v2.13.2 release or older</a>.
	</p>

	<p>The
		<a href="/pattern-lab/?p=viewall-components-tile">new Card component</a>
		(temporarily called "Tile" until Bolt v3.0 to avoid any potential collisions) replaces all functionality previously handled by the old Card component.</p>
</aside>
