<div class="l-smart-grid u-anim-staggered-start" data-anim-trigger="view" data-row-items-small="4">
  {% for i in 1..8 %}
    <figure class="u-anim-fade-in-and-slide-up u-anim-staggered-start__item demo-block"></figure>
  {% endfor %}
</div>
