{% set schema = bolt.data.components["@bolt-components-button"].schema %}

{% for size in schema.properties.size.enum %}
  <div class="u-bolt-margin-bottom">
    {% include "@bolt-components-button/button.twig" with {
      size: size,
      text: "This is a " ~ size ~" button"
    } only %}
  </div>
{% endfor %}

<p><mark>Note: medium is the default size.</mark></p>
