{% set schema = bolt.data.components["@bolt-components-button"].schema %}
{% set themes = get_data("@bolt/themes.schema.json") %}

{% for theme in themes.properties.colors.enum %}
  <h3>Buttons inside a {{ theme }} theme</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@utils/theme-demo.twig" %}
      {% block demo_content %}
        {% for style in schema.properties.style.enum %}
          {% include "@bolt-components-button/button.twig" with {
            text: style|capitalize ~ " button",
            style: style
          } only %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
