{% set schema = bolt.data.components["@bolt-components-button"].schema %}

<p><mark>Note: full-to-auto@small means that the button will go from full width to auto width when the browser goes above the small breakpoint.</mark></p>

{% for width in schema.properties.width.enum %}
  <p>
    {% include "@bolt-components-button/button.twig" with {
      width: width,
      text: "This is a " ~ width ~ " width button"
    } only %}
  </p>
{% endfor %}
