<p>Demo of server-side rendering a vanilla <code><bolt-button></code> web component with a Twig-generated <code><bolt-icon></code> component inside of it.</p>

{% filter bolt_ssr %}
  <bolt-button>
    SSR via web component button + Twig-embedded icon
    {% include "@bolt-components-icon/icon.twig" with {
      name: "chevron-right",
      attributes: {
        slot: "after"
      }
    } %}
  </bolt-button>
{% endfilter %}
