{% set schema = bolt.data.components['@bolt-components-device-viewer'].schema %}

{% for color in schema.properties.color.enum %}
  <p>Color: {{ color }}<br />Orientation: 'portrait'</p>
  {% include "@bolt-components-device-viewer/device-viewer.twig" with {
    device: "iphone8",
    orientation: "portrait",
    color: color,
    image: {
      src: "/images/content/screenshots/device-screenshot--phone.jpg",
      lazyload: false
    }
  } %}

  <p>Color: {{ color }}<br />Orientation: 'landscape'</p>
  {% include "@bolt-components-device-viewer/device-viewer.twig" with {
    device: "iphone8",
    orientation: "landscape",
    color: color,
    image: {
      src: "/images/content/screenshots/device-screenshot--tablet.jpg",
      lazyload: false
    }
  } %}

{% endfor %}

<p>Magnification: true<br />Orientation: 'portrait'</p>
{% include "@bolt-components-device-viewer/device-viewer.twig" with {
  device: "iphone8",
  orientation: "portrait",
  color: "silver",
  image: {
    src: "/images/content/screenshots/device-screenshot--phone.jpg",
    lazyload: false
  },
  magnify: true
} %}

<p>Magnification: true<br />Orientation: 'landscape'</p>
{% include "@bolt-components-device-viewer/device-viewer.twig" with {
  device: "iphone8",
  orientation: "landscape",
  color: "black",
  image: {
    src: "/images/content/screenshots/device-screenshot--tablet.jpg",
    lazyload: false
  },
  magnify: true
} %}
