.dark .selector a, .selector a {
  color: rgba(var(--accent-200), 0.8)
}

.dark .selector a:hover, .selector a:hover {
  color: rgba(var(--accent-200), 0.2)
}

.dark .selector a:focus, .selector a:focus {
  color: rgba(var(--accent-200), 1)
}