@import "../common.index";

dato-button,
dato-button:hover {
    color: themify(primary-100);
    background-color: themify(primary-200, 0.5);
    border: 1px solid themify((dark: primary-100, light: accent-300));
}