{% set description %}
  Menu is a list of actions for the user to perform.
{% endset %}

{% set notes %}
{% spaceless %}
  Menu is usually used inside of a popover. <a href="{{ link['viewall-components-popover'] }}" class="e-bolt-text-link">View Popover<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a>
{% endspaceless %}
{% endset %}

{% set demo %}
{% include '@bolt-components-menu/menu.twig' with {
  items: [
    {
      content: 'Menu item 1',
    },
    {
      content: 'Menu item 2',
    },
    {
      content: 'Menu item 3',
    },
  ]
} only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-menu/menu.twig' with {
  items: [
    {
      content: 'Menu item 1',
    },
    {
      content: 'Menu item 2',
    },
    {
      content: 'Menu item 3',
    },
  ]
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-menu>
  <bolt-menu-item>
    Menu item 1
  </bolt-menu-item>
  <bolt-menu-item>
    Menu item 2
  </bolt-menu-item>
  <bolt-menu-item>
    Menu item 3
  </bolt-menu-item>
</bolt-menu>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic menu',
  description: description,
  demo: demo,
  notes: notes,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
