{% set schema = get_data('@bolt/button.schema.json') %}

{% for align in schema.properties.align.enum %}
  <h3>Align {{ align }}</h3>

  {% include "@bolt/button.twig" with {
    "align": align,
    "width": "full",
    "text": align ~ " Aligned Button"
  } %}
{% endfor %}
