{% set schema = get_data('@bolt/button.schema.json') %}

{% for theme in schema.properties.themes.enum %}
  <h3>Button Theme: {{ theme | default("None") }}</h3>

  <section class="t-bolt-{{ theme }} u-bolt-padding">
    {% include "@bolt/button.twig" with {
      style: "primary",
      "text": "Button Text"
    } %}

    {% include "@bolt/button.twig" with {
      style: "secondary",
      "text": "Button Text"
    } %}

    {% include "@bolt/button.twig" with {
      style: "text",
      "text": "Button Text"
    } %}

    {% include "@bolt/button.twig" with {
      style: "primary",
      text: "Button Theming Override",
      attributes: {
        class: [
          "_c-bolt-button--theme-override"
        ]
      }
    } %}
  </section>
{% endfor %}
