<p>Test case to verify icon-only buttons display just an icon + visually hidden text if content is defined.</p>

{% include "@bolt/button.twig" with {
  "text": "Example Icon Only Button",
  "size": "xsmall",
  "iconOnly": true,
  "icon": {
    "name": "close"
  },
  "rounded": true
} only %}