<div>

{% embed "@bolt/band.twig" with {
  theme: "none"
} %}
  {% block band_content %}

    {% include "@bolt/button.twig" with {
      text: "Primary button",
      style: "primary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Light",
      style: "primary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Dark",
      style: "primary",
      context: "dark"
    } only %}


    {% include "@bolt/button.twig" with {
      text: "Secondary button",
      style: "secondary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Light",
      style: "secondary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Dark",
      style: "secondary",
      context: "dark"
    } only %}

  {% endblock %}
{% endembed %}

{% embed "@bolt/band.twig" with {
  theme: "xlight"
} %}
  {% block band_content %}

    {% include "@bolt/button.twig" with {
      text: "Primary button",
      style: "primary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Light",
      style: "primary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Dark",
      style: "primary",
      context: "dark"
    } only %}


    {% include "@bolt/button.twig" with {
      text: "Secondary button",
      style: "secondary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Light",
      style: "secondary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Dark",
      style: "secondary",
      context: "dark"
    } only %}

  {% endblock %}
{% endembed %}




{% embed "@bolt/band.twig" with {
  theme: "light"
} %}
  {% block band_content %}

    {% include "@bolt/button.twig" with {
      text: "Primary button",
      style: "primary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Light",
      style: "primary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Dark",
      style: "primary",
      context: "dark"
    } only %}


    {% include "@bolt/button.twig" with {
      text: "Secondary button",
      style: "secondary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Light",
      style: "secondary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Dark",
      style: "secondary",
      context: "dark"
    } only %}

  {% endblock %}
{% endembed %}


{% embed "@bolt/band.twig" with {
  theme: "dark"
} %}
  {% block band_content %}

    {% include "@bolt/button.twig" with {
      text: "Primary button",
      style: "primary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Light",
      style: "primary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Dark",
      style: "primary",
      context: "dark"
    } only %}


    {% include "@bolt/button.twig" with {
      text: "Secondary button",
      style: "secondary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Light",
      style: "secondary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Dark",
      style: "secondary",
      context: "dark"
    } only %}

  {% endblock %}
{% endembed %}



{% embed "@bolt/band.twig" with {
  theme: "xdark"
} %}
  {% block band_content %}

    {% include "@bolt/button.twig" with {
      text: "Primary button",
      style: "primary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Light",
      style: "primary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Primary on Dark",
      style: "primary",
      context: "dark"
    } only %}


    {% include "@bolt/button.twig" with {
      text: "Secondary button",
      style: "secondary"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Light",
      style: "secondary",
      context: "light"
    } only %}

    {% include "@bolt/button.twig" with {
      text: "Secondary on Dark",
      style: "secondary",
      context: "dark"
    } only %}

  {% endblock %}
{% endembed %}


</div>