{% set description %}
  When appropriate, create top and side table headers.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>When using the table cell template, set <code>header</code> prop to <code>true</code> to create a table header cell.</bolt-li>
    <bolt-li>Use table header cells in the table head row to create top headers.</bolt-li>
    <bolt-li>Use table header cell as the first child of each table body or footer row to create side headers.</bolt-li>
    <bolt-li>Use the <code>sticky_headers</code> prop on the table to make either top or side headers sticky. Sticky top headers are sticky when there is vertical scrolling within the table. Sticky side headers are sticky when there is horizontal scrolling within the table.</bolt-li>
    <bolt-li>Take a look at <a href="{{ link['components-table-examples'] }}" class="e-bolt-text-link">real examples of tables</a> currently on our sites</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set header %}
    {% set cells %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Top table header',
        header: true,
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Top table header',
        header: true,
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Top table header',
        header: true,
      } only %}
    {% endset %}
    {% include '@bolt-components-table-6-x/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Side table header',
        header: true,
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-components-table-6-x/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Side table header',
        header: true,
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-components-table-6-x/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Side table header',
        header: true,
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-components-table-6-x/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% set cells %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'Side table header',
        header: true,
      } only %}
        {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell in table footer.',
      } only %}
        {% include '@bolt-components-table-6-x/table-cell.twig' with {
        content: 'This is a regular cell in table footer.',
      } only %}
    {% endset %}
    {% include '@bolt-components-table-6-x/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% include '@bolt-components-table-6-x/table.twig' with {
    sticky_headers: 'side',
    header: {
      content: header,
    },
    body: {
      content: [
        row1,
        row2,
        row3,
      ],
    },
    footer: {
      content: footer,
    },
    caption: {
      content: 'This is the table caption.',
    },
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set header %}
  {% set cells %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Top table header',
      header: true,
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Top table header',
      header: true,
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Top table header',
      header: true,
    } only %}
  {% endset %}
  {% include '@bolt-components-table-6-x/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Side table header',
      header: true,
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-components-table-6-x/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Side table header',
      header: true,
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-components-table-6-x/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Side table header',
      header: true,
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-components-table-6-x/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set footer %}
  {% set cells %}
    {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'Side table header',
      header: true,
    } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell in table footer.',
    } only %}
      {% include '@bolt-components-table-6-x/table-cell.twig' with {
      content: 'This is a regular cell in table footer.',
    } only %}
  {% endset %}
  {% include '@bolt-components-table-6-x/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% include '@bolt-components-table-6-x/table.twig' with {
  sticky_headers: 'side',
  header: {
    content: header,
  },
  body: {
    content: [
      row1,
      row2,
      row3,
    ],
  },
  footer: {
    content: footer,
  },
  caption: {
    content: 'This is the table caption.',
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table with headers',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
