/* ------------------------------------ *\
   THEME TESTING
\* ------------------------------------ */

@mixin _bolt-color($name, $tone: 'initial', $type: null) {
  $color: map-get-deep($bolt-colors, $name, $tone);
  color: $color;
  @if $type == null {
    color: var(--bolt-color-text, $color);
  }
  @else {
    color: var(--bolt-color-#{$type}, $color);
  }
}

@mixin _bolt-background-color($name, $tone: 'initial', $type: null) {
  $background-color: map-get-deep($bolt-colors, $name, $tone);
  background-color: $background-color;
  @if $type == null {
    background-color: var(--bolt-color-background, $background-color);
  }
  @else {
    background-color: var(--bolt-color-#{$type}, $background-color);
  }
}

@mixin _bolt-border-color($name, $tone: 'initial', $type: null) {
  $border-color: map-get-deep($bolt-colors, $name, $tone);
  border-color: $border-color;
  @if $type == null {
    border-color: var(--bolt-color-border, $border-color);
  }
  @else {
    border-color: var(--bolt-color-#{$type}, $border-color);
  }
}


/**
  * 2. Heading - Defaults to $text if not defined
  * 3. Button text - Defaults to bolt-text-contrast($primary) if not defined
  */

@mixin _bolt-theme-settings(
  $background,

  // button bg
  $primary,

  //link
  $secondary,

  // Defaults to bolt-text-contrast($background)
  $text: null,

  $heading: null,
  $button-text: null,
  $border: null
  ) {
  --bolt-color-background: $background;
  --bolt-color-primary: $primary;
  --bolt-color-secondary: $secondary;
  @if $text == null {
    --bolt-color-text: bolt-text-contrast($background);
  }
  @else {
    --bolt-color-text: $text;
  }
  @if $heading == null {
    --bolt-color-heading: bolt-text-contrast($background);
  }
  @else {
    --bolt-color-heading: $heading;
  }
  @if $button-text == null {
    --bolt-color-button-text: bolt-text-contrast($primary);
  }
  @else {
    --bolt-color-button-text: $button-text;
  }
  @if $border == null {
    --bolt-color-border: bolt-text-contrast($background);
  }
  @else {
    --bolt-color-border: $border;
  }

  // @include bolt-padding(medium); // Remove this when utility classes are fixed.

  color: var(--bolt-color-text, inherit);
  background-color: var(--bolt-color-background, inherit);
}

@mixin _bolt-theme($name: 'xlight') {
  @if $name == 'xlight' {
    @include _bolt-theme-settings(
      $background:  bolt-color(white),
      $primary:     bolt-color(blue),
      $secondary:   bolt-color(blue),
      $text:        null,
      $heading:     bolt-color(indigo),
      $button-text: null,
      $border:      null);
  }
  @elseif $name == 'light' {
    @include _bolt-theme-settings(
      $background:  bolt-color(gray, xlight),
      $primary:     bolt-color(blue),
      $secondary:   bolt-color(blue),
      $text:        null,
      $heading:     bolt-color(indigo),
      $button-text: null,
      $border:      null);
  }
  @elseif $name == 'dark' {
    @include _bolt-theme-settings(
      $background:  bolt-color(indigo),
      $primary:     bolt-color(yellow),
      $secondary:   bolt-color(yellow),
      $text:        null,
      $heading:     null,
      $button-text: null,
      $border:      null);
  }
  @elseif $name == 'xdark' {
    @include _bolt-theme-settings(
      $background:  bolt-color(indigo, dark),
      $primary:     bolt-color(blue),
      $secondary:   bolt-color(white),
      $text:        null,
      $heading:     null,
      $button-text: null,
      $border:      null);
  }
  @elseif $name == 'notification' {
    @include _bolt-theme-settings(
      $background:  bolt-color(blue, light),
      $primary:     bolt-color(blue, dark),
      $secondary:   bolt-color(blue));
  }
  @elseif $name == 'success' {
    @include _bolt-theme-settings(
      $background:  bolt-color(success, light),
      $primary:     bolt-color(success, dark),
      $secondary:   bolt-color(success));
  }
  @elseif $name == 'warning' {
    @include _bolt-theme-settings(
      $background:  bolt-color(warning, light),
      $primary:     bolt-color(warning, dark),
      $secondary:   bolt-color(warning));
  }
  @elseif $name == 'error' {
    @include _bolt-theme-settings(
      $background:  bolt-color(error, light),
      $primary:     bolt-color(error, dark),
      $secondary:   bolt-color(warning, dark));
  }
}

.t-bolt-xlight {
  @include _bolt-theme(xlight);
}

.t-bolt-light {
  @include _bolt-theme(light);
}

.t-bolt-dark {
  @include _bolt-theme(dark);
}

.t-bolt-xdark {
  @include _bolt-theme(xdark);
}

.t-bolt-success {
  @include _bolt-theme(success);
}

.t-bolt-warning {
  @include _bolt-theme(warning);
}

.t-bolt-error {
  @include _bolt-theme(error);
}

.t-bolt-notification {
  @include _bolt-theme(notification);
}
