{% set schema = get_data('@bolt-components-blockquote/blockquote.schema.yml') %}

{% for border in schema.properties.border.enum %}
  <p>Border: {{ border }}</p>
  {% include '@bolt-components-blockquote/blockquote.twig' with {
    border: border,
    indent: indent == 'true',
    author: {
      name: "Michelangelo di Lodovico Buonarroti Simoni",
      title: "Renaissance Artist"
    },
    content: "<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>"
  } %}

{% endfor %}