{% set schema = get_data('@bolt-components-blockquote/blockquote.schema.yml') %}

{% for border in schema.properties.border.enum %}
  <p>Border: {{ border }}</p>
  {% include '05-blockquote.twig' with {
    border: border,
  } %}

{% endfor %}