<p>Multiple Paragraph Content</p>
{% include "@bolt-components-blockquote/blockquote.twig" with {
  "content": "<p>Blockquote can have one paragraph. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus.</p> <p>Or it can have multiple paragraphs. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.</p>",
  "author": {
    "name": "Mike Mai",
    "title": "Pegasystems",
  },
} %}

