{% extends "@bolt/theme-demo.twig" %}
{% block demo_content %}
  {% set schema = get_data('@bolt-components-blockquote/blockquote.schema.yml') %}

  {% for theme in schema.properties.theme.enum %}
    <p>theme: {{ theme }}</p>
    {% include "@bolt-components-blockquote/blockquote.twig" with {
    "theme": theme,
    "size": "xxlarge",
    "alignItems": "center",
    "border": "horizontal",
    "fullBleed": true,
    "logo": {
    "invert": true,
    "src": "/assets/images/content/logos/logo-paypal.svg"
    },
    "content": "<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>",
    "author": {
    "image": {
    "src": "/assets/images/placeholders/500x500.jpg"
    },
    "name": "Michelangelo di Lodovico Buonarroti Simoni",
    "title": "Renaissance Artist"
    }
    } %}
  {% endfor %}

{% endblock %}
