@import '@bolt/core-v3.x';

// @todo: fixed size bullet will require some flex magic to line up a fixed height element to variable height text. If the need arises, we'll work on that.
.c-bolt-headline__bullet {
  display: block;
  margin-right: bolt-strip-unit(bolt-spacing(xsmall)) + em;

  &-inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: bolt-border-radius(full);
    background-color: rgba(var(--bolt-theme-text), 0.1);

    &--orange {
      color: bolt-color(white);
      background-color: bolt-color(orange);
    }

    &--indigo {
      color: bolt-color(white);
      background-color: bolt-color(indigo, light);
    }

    &--purple {
      color: bolt-color(white);
      background-color: #751b84;
    }

    &--teal {
      color: bolt-color(white);
      background-color: bolt-color(teal);
    }
  }

  &-text {
    @include bolt-font-family(heading);
    @include bolt-font-weight(bold);
    display: block;
    text-align: center;
    transform: scale(0.65);
  }
}

// @todo: use a map for this.
.c-bolt-text--xxxlarge,
.c-bolt-subheadline--xxxlarge,
.c-bolt-headline--xxxlarge {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--xxxlarge + em;
    min-width: $bolt-line-height--xxxlarge + em;
    height: $bolt-line-height--xxxlarge + em;
  }
}

.c-bolt-text--xxlarge,
.c-bolt-subheadline--xxlarge,
.c-bolt-headline--xxlarge {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--xxlarge + em;
    min-width: $bolt-line-height--xxlarge + em;
    height: $bolt-line-height--xxlarge + em;
  }
}

.c-bolt-text--xlarge,
.c-bolt-subheadline--xlarge,
.c-bolt-headline--xlarge {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--xlarge + em;
    min-width: $bolt-line-height--xlarge + em;
    height: $bolt-line-height--xlarge + em;
  }
}

.c-bolt-text--large,
.c-bolt-subheadline--large,
.c-bolt-headline--large {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--large + em;
    min-width: $bolt-line-height--large + em;
    height: $bolt-line-height--large + em;
  }
}

.c-bolt-text--medium,
.c-bolt-subheadline--medium,
.c-bolt-headline--medium {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--medium + em;
    min-width: $bolt-line-height--medium + em;
    height: $bolt-line-height--medium + em;
  }
}

.c-bolt-text--small,
.c-bolt-subheadline--small,
.c-bolt-headline--small {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--small + em;
    min-width: $bolt-line-height--small + em;
    height: $bolt-line-height--small + em;
  }
}

.c-bolt-eyebrow,
.c-bolt-text--xsmall,
.c-bolt-subheadline--xsmall,
.c-bolt-headline--xsmall {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--xsmall + em;
    min-width: $bolt-line-height--xsmall + em;
    height: $bolt-line-height--xsmall + em;
  }
}

.c-bolt-text--xxsmall,
.c-bolt-subheadline--xxsmall,
.c-bolt-headline--xxsmall {
  .c-bolt-headline__bullet--size-auto {
    width: $bolt-line-height--xxsmall + em;
    min-width: $bolt-line-height--xxsmall + em;
    height: $bolt-line-height--xxsmall + em;
  }
}
