@import '@bolt/core-v3.x';

/**
  * 1. keep the bullet size consistent regardless of the font-size of the headline it's used within
  *    note: update to ~1.2em to make the bullet size proportional to the headline font-size
  */
.c-bolt-headline__bullet {
  @include bolt-margin-right(small);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: calc(var(--bolt-headline-line-height) * 1em);

  --bolt-headline-bullet-line-height: 1;

  // fixed size bullet stays the same size regardless of the Headline's font size
  &--size-fixed {
    --bolt-headline-bullet-size: #{bolt-spacing(medium)};
    --bolt-headline-bullet-font-size: 0.9rem;
    --bolt-headline-bullet-font-weight: #{bolt-font-weight(800)};
  }

  // the `auto` sized bullets will increase / decrease based on the Headline's font size
  &--size-auto {
    --bolt-headline-bullet-size: 1em;
    --bolt-headline-bullet-font-size: calc(0.5em + 3px);
    --bolt-headline-bullet-font-weight: inherit;
  }

  * + & {
    @include bolt-margin-left(xsmall);
  }

  &-text {
    line-height: var(--bolt-headline-bullet-line-height);
    font-size: var(--bolt-headline-bullet-font-size);
    font-weight: var(--bolt-headline-bullet-font-weight);
  }

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--bolt-headline-bullet-size);
    min-width: 1rem;
    height: var(--bolt-headline-bullet-size);
    min-height: 1rem;
    border-radius: bolt-border-radius(full);
    background-color: rgba(var(--bolt-theme-text), 0.1);

    &--orange {
      color: bolt-color(white);
      background-color: bolt-color(orange);
    }

    &--indigo {
      color: bolt-color(white);
      background-color: bolt-color(indigo, light);
    }

    &--purple {
      color: bolt-color(white);
      background-color: #751b84;
    }

    &--teal {
      color: bolt-color(white);
      background-color: bolt-color(teal);
    }
  }
}
