// BOLT HEADLINE COMPONENT

@import '@bolt/core-v3.x';
@import './tools.headlines';
@import './_headline.numbered'; // numbered bullet variation

/* ------------------------------------ *\
   Headlines
\* ------------------------------------ */

$bolt-headline--minus-letter-spacing: -0.025rem;
$bolt-headline--plus-letter-spacing: 0.05rem;

.c-bolt-headline,
.c-bolt-subheadline,
.c-bolt-eyebrow,
.c-bolt-text {
  @include bolt-headline;

  strong {
    @include bolt-font-weight(bold);
  }
}

.c-bolt-headline,
.c-bolt-subheadline,
.c-bolt-eyebrow {
  color: bolt-theme(headline);
}

.c-bolt-text {
  color: bolt-theme(text);
}

.c-bolt-headline {
  &:not(:last-child) {
    margin-bottom: var(--bolt-spacing-y-medium);
  }

  &:not([class*='c-bolt-headline--']) {
    @include bolt-font-size(large);
  }
}

// @TODO: grab the same shared values from the Blockquote component
.c-bolt-headline--quoted > .c-bolt-headline__text,
.c-bolt-subheadline--quoted > .c-bolt-subheadline__text {
  // workaround to display: flex breaking quote styles
  display: inline-block;

  &:first-child:before,
  &:last-child:after {
    font-family: 'Georgia', serif; // TODO: Replace with Noto Serif when it is added.
  }

  &:first-child:before {
    content: '\201C';
    position: absolute;
    transform: translate3d(-110%, 0, 0);
  }

  &:last-child:after {
    content: '\201D';
  }
}

.c-bolt-eyebrow {
  @include bolt-font-size(xsmall);
  opacity: 0.8;

  margin-bottom: 0.1rem;
  text-transform: uppercase;
  letter-spacing: $bolt-headline--plus-letter-spacing;
}

.c-bolt-headline__line {
  flex: 1 0 1rem;
  align-self: center;
  opacity: 0.2;
  height: 1px;
  border-width: 0;
  border-style: none;
  background-color: inherit;

  &:first-child {
    margin: 0 var(--bolt-spacing-y-small) 0 0;
  }

  &:last-child {
    margin: 0 0 0 var(--bolt-spacing-x-small);
  }
}

.c-bolt-headline__text {
  display: inline-block;

  &-inner {
    display: inline-block;
    vertical-align: middle;
  }
}

// Subheadline styles.
.c-bolt-subheadline {
  @include bolt-font-family(heading);
  @include bolt-font-weight(regular);

  margin-bottom: var(--bolt-spacing-y-medium);

  &:not([class*='c-bolt-subheadline--']) {
    @include bolt-font-size(large);
  }
}

// Headline spacing with other elements.
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + .c-bolt-headline,
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + .c-bolt-subheadline,
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + .c-bolt-text,
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + bolt-inline-list,
.c-bolt-headline:not(.c-bolt-headline--xxxlarge) + p:not([class]) {
  margin-top: calc(var(--bolt-spacing-y-xsmall) - var(--bolt-spacing-y-medium));
}

.c-bolt-headline--xxxlarge + .c-bolt-headline,
.c-bolt-headline--xxxlarge + .c-bolt-subheadline,
.c-bolt-headline--xxxlarge + .c-bolt-text,
.c-bolt-headline--xxxlarge + bolt-inline-list,
.c-bolt-headline--xxxlarge + p:not([class]) {
  margin-top: calc(var(--bolt-spacing-y-small) - var(--bolt-spacing-y-medium));
}

.c-bolt-subheadline + .c-bolt-text,
.c-bolt-subheadline + p:not([class]) {
  margin-top: calc(var(--bolt-spacing-y-xsmall) - var(--bolt-spacing-y-medium));
}

.c-bolt-headline--xxxlarge,
.c-bolt-headline--xxlarge {
  letter-spacing: $bolt-headline--minus-letter-spacing;
}

/**
  * 1. Only include max-width rule on larger font sizes
  */
.c-bolt-text--xxxlarge,
.c-bolt-headline--xxxlarge {
  @include bolt-font-size(xxxlarge);
}

// When headline is 60+ chars long
.c-bolt-headline--xxxlarge-min {
  font-size: $bolt-font-size--xxxlarge--min;
  line-height: $bolt-line-height--xxxlarge;
}

.c-bolt-text--xxlarge,
.c-bolt-subheadline--xxlarge,
.c-bolt-headline--xxlarge {
  @include bolt-font-size(xxlarge);
}

.c-bolt-text--xlarge,
.c-bolt-subheadline--xlarge,
.c-bolt-headline--xlarge {
  @include bolt-font-size(xlarge);
}

.c-bolt-text--large,
.c-bolt-headline--large {
  @include bolt-font-size(large);
}

.c-bolt-text--medium {
  @include bolt-font-size(medium);
}

.c-bolt-text--small,
.c-bolt-headline--small {
  @include bolt-font-size(small);
}

.c-bolt-text--uppercase {
  @include bolt-uppercase;
}

.c-bolt-text--xsmall,
.c-bolt-headline--xsmall {
  @include bolt-font-size(xsmall);
}

.c-bolt-text--xxsmall,
.c-bolt-headline--xxsmall {
  @include bolt-font-size(xxsmall);
}

.c-bolt-headline--small,
.c-bolt-headline--xsmall {
  letter-spacing: $bolt-headline--plus-letter-spacing;
}
