{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}
  {% set header %}
    {% include "@bolt/headline.twig" with {
      "text": "Interactive Pathways Sandbox",
      "size": "xxxlarge",
      "tag": "h1"
    } only %}
  {% endset %}

  {% set article %}
    <h1>Pathway Pane</h1>
    <bolt-pathway-pane class="c-bolt-pathway-pane pathway__step">
      <div slot="image">
        <div
            class="pathway__step-dialogue pathway__step-dialogue--left"
            data-animation-dialogue-delay="long"
        >
          {% include "@bolt/tooltip.twig" with {
            trigger: {
              type: "button",
              text: ""
            },
            content: "Meow!"
          } only %}
        </div>
        <div
            class="pathway__step-image"
            data-animation-type="fade_in"
            data-animation-speed="medium"
            data-animation-delay="500"
        >
          <img src="https://placekitten.com/g/300/175" alt="">
          <img class="pathway__step-person-icon pathway__step-customer--happy" src="https://placekitten.com/g/50/50" alt="Customer is happy" />
          <img class="pathway__step-person-icon pathway__step-pega-rep" src="https://placekitten.com/g/50/50" alt="Your helpful Pega Rep" />
        </div>
      </div>
      <div slot="body">
        <bolt-text>Lorem ipsum dolor sit amet, <b>consectetur adipisicing elit</b>. Cupiditate nobis sed totam voluptatem! Alias deserunt, eaque eligendi pariatur reiciendis sapiente voluptatem. Architecto autem dolor iure molestiae necessitatibus quisquam ratione voluptas.</bolt-text>
      </div>
    </bolt-pathway-pane>
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "size": "large",
    "content": header
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "xdark",
    "content": article
  } only %}
{% endblock %}
