{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}
  {% set header %}
    {% include "@bolt/headline.twig" with {
      "text": "Interactive Pathways Playground",
      "size": "xxxlarge",
      "tag": "h1"
    } only %}
  {% endset %}
  {% set article %}

    <h1>Bolt Interactive Pathways</h1>
    <bolt-interactive-pathway>
      <bolt-interactive-step
          step="1"
          active="true"
          slot="steps"
      >
        <span slot="title">Moment of Need</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="2"
          active="false"
          slot="steps"
      >
        <span slot="title">Next best action</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="3"
          active="false"
          slot="steps"
      >
        <span slot="title">Context Across Channels</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="4"
          active="false"
          slot="steps"
      >
        <span slot="title">Resolve</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="5"
          active="false"
          slot="steps"
      >
        <span slot="title">Outcomes</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="6"
          active="false"
          slot="steps"
      >
        <span slot="title">What's next?</span>
        <span slot="dialogue">I'm saying something!</span>
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusamus blanditiis consectetur culpa cum, doloremque doloribus
          ea error ipsa itaque modi nisi non odit officia quod reiciendis
          rem reprehenderit tempora tempore?
        </bolt-text>
      </bolt-interactive-step>
    </bolt-interactive-pathway>

  {% endset %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "size": "large",
    "content": header
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "xlight",
    "content": article
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "content": article
  } only %}
{% endblock %}
