{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}
  {% set header %}
    {% include "@bolt/headline.twig" with {
      "text": "Interactive Pathways Playground",
      "size": "xxxlarge",
      "tag": "h1"
    } only %}
  {% endset %}
  {% set article %}

    <h1>Bolt Interactive Pathways</h1>
    <bolt-interactive-pathway>
      <bolt-interactive-step
          step="1"
          active="true"
          slot="steps"
      >
        <span slot="title">Moment of Need</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <bolt-text slot="body">
          Pega enables the business to sense <b>customer context</b> by seeing interactions across channels--calls to customer service about a bill, or visit to pricing web page.
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="2"
          active="false"
          slot="steps"
      >
        <span slot="title">Next best action</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Pega's AI-augmented <b>decisioning engine</b> uses context, predictive analytics, and self-learning adaptive models to guide agents with next best actions to serve the customer.
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="3"
          active="false"
          slot="steps"
      >
        <span slot="title">Context Across Channels</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-triple-ltr.png" />
        <bolt-text slot="body">
          Pega’s <b>real-time omni-channel AI</b> ensures that customer context is never lost, even on other channels.
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="4"
          active="false"
          slot="steps"
      >
        <span slot="title">Resolve</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-neutral.png" />
        <bolt-text slot="body">
          Pega's <b>case management</b> connects all the people, systems, and processes required to resolve each customer inquiry.
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="5"
          active="false"
          slot="steps"
      >
        <span slot="title">Outcomes</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Customer issue is resolved quickly, resulting in higher customer satisfaction and lower <b>average handle time (AHT)</b> for the business.
        </bolt-text>
      </bolt-interactive-step>
      <bolt-interactive-step
          step="6"
          active="false"
          slot="steps"
      >
        <span slot="title">What's next?</span>
        <span slot="dialogue">I'm saying something!</span>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <div slot="body">
          <ul>
            <li>Something</li>
            <li>Random</li>
            <li>Here</li>
          </ul>
          <details>
            <summary>Like a list then a details tag</summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque, aut autem cumque deserunt doloribus eveniet expedita facere facilis hic inventore iste, magni neque pariatur, praesentium reiciendis rerum tempora vitae?</p>
          </details>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus blanditiis consectetur culpa cum, doloremque doloribus
            ea error ipsa itaque modi nisi non odit officia quod reiciendis
            rem reprehenderit tempora tempore?
          </div>
        </div>
      </bolt-interactive-step>
    </bolt-interactive-pathway>

  {% endset %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "size": "large",
    "content": header
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "xlight",
    "content": article
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "content": article
  } only %}
{% endblock %}
