<div>
  <bolt-list display="block" spacing="none" inset>
    <bolt-list-item class="t-bolt-light">
      <bolt-list display="flex" spacing="none">
        <bolt-list-item style="width: 300px; height: 100vh; overflow: scroll;" class="t-bolt-dark">
          <bolt-list spacing="small" separator="solid" inset>
            <bolt-list-item>
              <bolt-text font-weight="bold" font-size="xxlarge" text-transform="uppercase" align="center">
                PegaPortal
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list spacing="xsmall">
                <bolt-list-item>
                  <bolt-text eyebrow align="center">
                    <bolt-icon name="bolt-logo-colored" size="xlarge" background="circle"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text eyebrow align="center">
                    Mike Mai
                  </bolt-text>
                  <bolt-text font-size="xsmall" align="center" opacity="40">
                    Principal Digital UI Designer
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <form>
                <label class="c-bolt-search-field" for="">
                  <span class="c-bolt-search-field__label">Search the portal</span>
                  <input class="c-bolt-search-field__input" type="search" name="search-bar" placeholder="Enter to search" required autofocus>
                  <div class="c-bolt-search-field__button">
                    <bolt-button color="text" tag="submit" icon-only>
                      <bolt-icon name="search" slot="before"></bolt-icon>
                    </bolt-button>
                  </div>
                  <div class="c-bolt-search-field__button c-bolt-search-field__button--reset">
                    <bolt-button color="text" tag="reset" icon-only>
                      <bolt-icon name="close-solid" slot="before"></bolt-icon>
                    </bolt-button>
                  </div>
                </label>
              </form>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list>
                <bolt-list-item>
                  <bolt-text eyebrow>
                    Quick Links
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Alan's Book
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Benefits
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Compliance Hotline
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Continuous Feedback
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Create Service Request
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Employee Referrals
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Expenses
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    IT FAQs
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small" opacity="40">
                    Show more&hellip;
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list>
                <bolt-list-item>
                  <bolt-text eyebrow>
                    Help
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    About the Portal
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Create Service Request
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    IT FAQs
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Search Tips
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    Visiting Pega
                    <bolt-icon name="chevron-right"></bolt-icon>
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    <bolt-icon name="user"></bolt-icon>
                    My Profile
                  </bolt-text>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="small">
                    <bolt-icon name="external-link"></bolt-icon>
                    Sign Out
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item style="width: calc(100vw - 300px); height: 100vh;" class="t-bolt-light">
          <bolt-list display="flex" spacing="none" valign="top">
            <bolt-list-item class="t-bolt-xlight" style="width: calc(100vw - 300px - 300px); height: 100vh; overflow: scroll;">
              <bolt-list spacing="small" inset>
                <bolt-list-item>
                  <bolt-list display="inline" separator="solid" align="center">
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Employee Center
                      </bolt-button>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Manager Center
                      </bolt-button>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Corporate Center
                      </bolt-button>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Pega Sites
                      </bolt-button>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Applications
                      </bolt-button>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-button color="text" size="xsmall" url="#">
                        Departments
                      </bolt-button>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="small" separator="solid" inset>
                      <bolt-list-item class="t-bolt-light">
                        <bolt-text eyebrow>
                          Work List
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text align="center">
                          <bolt-icon name="check"></bolt-icon>
                          You are all caught up!
                        </bolt-text>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="small" separator="solid" inset>
                      <bolt-list-item class="t-bolt-light">
                        <bolt-text eyebrow>
                          What's Happening
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Named a Visionary in Gartner's Magic Quadrant for Robotic Process Automation Software
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pegasystems Named a Visionary in Gartner’s Magic Quadrant for Sales Force Automation
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Receives Multiple Awards for Outstanding Patient Engagement Solutions
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Names Carlos Fuentes Chief Information Security Officer
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Claudia Rodriguez joins Pega as Inclusion and Diversity Leader
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Ranked a Leader in DPA for Deep Deployments by Forrester
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Announces Quarterly Cash Dividend
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Named a Leader in Gartner's MQ for CRM Customer Engagement Center
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Consumers Failing to Embrace AI Benefits
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small">
                          Pega Launches Real-Time AI Connectors for Pega AI Software
                          <bolt-icon name="chevron-right"></bolt-icon>
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="small" opacity="40">
                          Show more&hellip;
                        </bolt-text>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item class="t-bolt-light" style="width: 300px; height: 100vh;">
              <bolt-list spacing="small" inset>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 u-bolt-padding-small t-bolt-xlight">
                    <bolt-list spacing="xsmall" separator="dashed">
                      <bolt-list-item>
                        <bolt-text headline font-size="small">
                          Employee of the Month &ndash; June 2019
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="inline" spacing="small">
                          <bolt-list-item>
                            <bolt-icon name="energy" size="xlarge" background="circle"></bolt-icon>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1;">
                            <bolt-text eyebrow>
                              Fabio Urso
                            </bolt-text>
                            <bolt-text font-size="xsmall" opacity="40">
                              Director, Industry Principal
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-text font-size="xsmall">
                          Fabio Urso is a team player and focused on the success of our customers. Fabio continuously challenges our team to focus on the commitments that we have&hellip;
                        </bolt-text>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 u-bolt-padding-small t-bolt-xlight">
                    <bolt-list spacing="xsmall" separator="dashed">
                      <bolt-list-item>
                        <bolt-text headline font-size="small">
                          Pega TV
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-image src="/images/placeholders/landscape-16x9-mountains.jpg" alt="Text"></bolt-image>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="flex" spacing="small">
                          <bolt-list-item style="flex: 0;">
                            <bolt-image src="https://www.fillmurray.com/200/200" alt="Text" max-width="48px"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1;">
                            <bolt-text font-size="xsmall">
                              From Digital Chaos to Digital Transformation
                              <bolt-icon name="video"></bolt-icon>
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="flex" spacing="small">
                          <bolt-list-item style="flex: 0;">
                            <bolt-image src="https://www.fillmurray.com/300/300" alt="Text" max-width="48px"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1;">
                            <bolt-text font-size="xsmall">
                              Meet Duncan MacDonald, Pega DX Hero
                              <bolt-icon name="video"></bolt-icon>
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="flex" spacing="small">
                          <bolt-list-item style="flex: 0;">
                            <bolt-image src="https://www.fillmurray.com/400/400" alt="Text" max-width="48px"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1;">
                            <bolt-text font-size="xsmall">
                              Pegasystems CEO: Unified Technology | Mad Money | CNBC
                              <bolt-icon name="video"></bolt-icon>
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
  </bolt-list>
</div>
