<div>
  <bolt-list display="block" spacing="none" inset>
    <bolt-list-item class="t-bolt-dark">
      <bolt-list display="flex" inset>
        <bolt-list-item>
          <bolt-list display="inline">
            <bolt-list-item>
              <bolt-text font-weight="bold" font-size="xlarge">
                FB
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <label>
                <input type="search" name="search" placeholder="Search">
              </label>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list display="inline" separator="solid" align="end" spacing="small">
            <bolt-list-item>
              <bolt-trigger url="#">
                <bolt-text font-size="xsmall" font-weight="semibold">
                  <bolt-icon name="bolt-logo-colored"></bolt-icon>
                  Bolt DS
                </bolt-text>
              </bolt-trigger>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-trigger url="#">
                <bolt-text font-size="xsmall" font-weight="semibold">
                  Home
                </bolt-text>
              </bolt-trigger>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-trigger url="#">
                <bolt-text font-size="xsmall" font-weight="semibold">
                  Find Friends
                </bolt-text>
              </bolt-trigger>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-trigger url="#">
                <bolt-text font-size="xsmall" font-weight="semibold">
                  Create
                </bolt-text>
              </bolt-trigger>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="inline">
                <bolt-list-item>
                  <bolt-icon name="partners"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="customer-service"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="energy"></bolt-icon>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="inline">
                <bolt-list-item>
                  <bolt-icon name="info-open"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="chevron-down"></bolt-icon>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
    <bolt-list-item class="t-bolt-light">
      <bolt-list display="flex" spacing="none">
        <bolt-list-item style="width: 160px; height: 100vh;">
          <bolt-list spacing="small" inset>
            <bolt-list-item>
              <bolt-list display="inline" valign="end">
                <bolt-list-item>
                  <bolt-icon name="bolt-logo-colored"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text headline font-size="small">
                    Bolt DS
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list spacing="xsmall">
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="asset-media"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        News Feed
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="energy"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Messenger
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="asset-video"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Watch
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="industries"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Marketplace
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow>
                Shortcuts
              </bolt-text>
              <bolt-list spacing="xsmall">
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="data-integrations"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Carbon
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="launchpad"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Polaris
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="omni-channel"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Bedrock
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow>
                Explore
              </bolt-text>
              <bolt-list spacing="xsmall">
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="partners"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Groups
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="user-interface"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Pages
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="calendar"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Events
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="mobility"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Apps
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list display="inline">
                    <bolt-list-item>
                      <bolt-icon name="asset-interactive"></bolt-icon>
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-text font-size="small">
                        Games
                      </bolt-text>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item style="width: calc(100vw - 440px); height: 100vh; overflow: scroll;">
          <bolt-list spacing="small" inset>
            <bolt-list-item>
              <bolt-list spacing="small">
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="xsmall" separator="solid" inset>
                      <bolt-list-item class="t-bolt-light">
                        <bolt-text headline font-size="xsmall">
                          Create Post
                        </bolt-text>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="inline" valign="start">
                          <bolt-list-item>
                            <bolt-icon name="bolt-logo-colored" size="large"></bolt-icon>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1">
                            <textarea placeholder="What's on your mind, Bolt?" style="display: block; width: 100%; border: 0;" rows=8></textarea>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="inline">
                          <bolt-list-item>
                            <bolt-button color="secondary" size="xsmall" border-radius="full">
                              <bolt-icon name="asset-infographic" slot="before"></bolt-icon>
                              Photos/Videos
                            </bolt-button>
                          </bolt-list-item>
                          <bolt-list-item>
                            <bolt-button color="secondary" size="xsmall" border-radius="full">
                              <bolt-icon name="customer-onboarding" slot="before"></bolt-icon>
                              Tag Friends
                            </bolt-button>
                          </bolt-list-item>
                          <bolt-list-item>
                            <bolt-button color="secondary" size="xsmall" border-radius="full">
                               Feeling
                            </bolt-button>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="none" separator="solid" inset>
                      <bolt-list-item>
                        <bolt-list separator="solid" inset>
                          <bolt-list-item>
                            <bolt-list display="inline">
                              <bolt-list-item>
                                <bolt-icon name="bolt-logo-colored" size="xlarge" background="circle"></bolt-icon>
                              </bolt-list-item>
                              <bolt-list-item style="flex: 1">
                                <bolt-text headline font-size="small">
                                  You
                                </bolt-text>
                                <bolt-text font-size="xsmall">
                                  July 16 at 12:01 PM
                                </bolt-text>
                              </bolt-list-item>
                          </bolt-list-item>
                          <bolt-list-item>
                            <bolt-text font-size="xsmall">
                              William James Murray (born September 21, 1950) is an American actor, voice actor, comedian, filmmaker, and writer.
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-image src="https://www.fillmurray.com/800/600" alt="Bill"></bolt-image>
                      </bolt-list-item>
                      <bolt-list-item>
                        <bolt-list display="flex">
                          <bolt-list-item>
                            <bolt-button color="text" size="xsmall" width="full" align="center">
                              <bolt-icon name="check" slot="before"></bolt-icon>
                              Like
                            </bolt-button>
                          </bolt-list-item>
                          <bolt-list-item>
                            <bolt-button color="text" size="xsmall" width="full" align="center">
                              <bolt-icon name="customer-service" slot="before"></bolt-icon>
                              Comment
                            </bolt-button>
                          </bolt-list-item>
                          <bolt-list-item>
                            <bolt-button color="text" size="xsmall" width="full" align="center">
                              <bolt-icon name="share" slot="before"></bolt-icon>
                              Share
                            </bolt-button>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item style="width: 280px; height: 100vh;">
          <bolt-list spacing="small" inset>
            <bolt-list-item>
              <bolt-list spacing="small">
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="small" inset>
                      <bolt-list-item>
                        <bolt-list display="inline">
                          <bolt-list-item>
                            <bolt-icon name="add-open" size="xlarge" background="circle"></bolt-icon>
                          </bolt-list-item>
                          <bolt-list-item style="flex: 1">
                            <bolt-text headline font-size="small">
                              Add to Your Story
                            </bolt-text>
                            <bolt-text font-size="xsmall">
                              Share a photo, video or write something
                            </bolt-text>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
                <bolt-list-item>
                  <div class="u-bolt-shadow-level-10 t-bolt-xlight">
                    <bolt-list spacing="small" inset>
                      <bolt-list-item>
                        <bolt-text headline font-size="xsmall">
                          Top Picks on Marketplace
                        </bolt-text>
                        <bolt-list display="flex">
                          <bolt-list-item style="flex-basis: 50%">
                            <bolt-image src="https://www.fillmurray.com/200/200" alt="Bill"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex-basis: 50%">
                            <bolt-image src="https://www.fillmurray.com/300/300" alt="Bill"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex-basis: 50%">
                            <bolt-image src="https://www.fillmurray.com/400/400" alt="Bill"></bolt-image>
                          </bolt-list-item>
                          <bolt-list-item style="flex-basis: 50%">
                            <bolt-image src="https://www.fillmurray.com/500/500" alt="Bill"></bolt-image>
                          </bolt-list-item>
                        </bolt-list>
                      </bolt-list-item>
                    </bolt-list>
                  </div>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-text font-size="xsmall" opacity="40">
                    Privacy 路 Terms 路 Advertising 路 Ad Choices 路 Cookies 路 More
                  </bolt-text>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
  </bolt-list>
</div>
