<div>
  <bolt-list display="flex" spacing="none">
    <bolt-list-item style="width: 100px; height: 100vh;" class="t-bolt-xdark">
      <bolt-list spacing="small" inset>
        <bolt-list-item>
          <bolt-list spacing="xsmall">
            <bolt-list-item>
              <bolt-icon name="bolt-logo-colored" size="xlarge" background="circle"></bolt-icon>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow align="center">⌘1</bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list spacing="xsmall">
            <bolt-list-item>
              <bolt-icon name="academy" size="xlarge" background="circle"></bolt-icon>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow align="center">⌘2</bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list spacing="xsmall">
            <bolt-list-item>
              <bolt-icon name="app-exchange" size="xlarge" background="circle"></bolt-icon>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow align="center">⌘3</bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list spacing="xsmall">
            <bolt-list-item>
              <bolt-icon name="calendar" size="xlarge" background="circle"></bolt-icon>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow align="center">⌘4</bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list spacing="xsmall">
            <bolt-list-item>
              <bolt-icon name="data-integrations" size="xlarge" background="circle"></bolt-icon>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text eyebrow align="center">⌘5</bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item class="u-bolt-text-align-center">
          <bolt-button color="secondary" icon-only>
            <bolt-icon name="add-open" slot="before"></bolt-icon>
            Add slack
          </bolt-button>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
    <bolt-list-item style="width: 300px; height: 100vh;" class="t-bolt-dark">
      <bolt-list spacing="small" inset>
        <bolt-list-item>
          <bolt-text headline font-size="large">
            Digital Team - Pega IT
          </bolt-text>
          <bolt-text font-size="xsmall">
            <bolt-icon name="user"></bolt-icon>
            Mike Mai
          </bolt-text>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="asset-text"></bolt-icon>
                All Unreads
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="customer-service"></bolt-icon>
                Threads
              </bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list>
            <bolt-list-item>
              <bolt-text eyebrow>
                Starred
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text font-weight="bold">
                <bolt-icon name="lock"></bolt-icon>
                design-system-devs
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="lock"></bolt-icon>
                design-system-dsgnrs
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text font-weight="bold">
                <bolt-icon name="lock"></bolt-icon>
                design-system-team
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="user"></bolt-icon>
                Salem Ghoweri
              </bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list>
            <bolt-list-item>
              <bolt-text eyebrow>
                Channels
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="energy"></bolt-icon>
                community
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="energy"></bolt-icon>
                devops
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="energy"></bolt-icon>
                www
              </bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list>
            <bolt-list-item>
              <bolt-text eyebrow>
                Direct Messages
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="user"></bolt-icon>
                Ross Foniri
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="user"></bolt-icon>
                Shakib
              </bolt-text>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-text>
                <bolt-icon name="user"></bolt-icon>
                Thomas Charging Hawk
              </bolt-text>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
    <bolt-list-item style="width: calc(100vw - 400px); height: 100vh;" class="t-bolt-xlight">
      <bolt-list separator="solid" spacing="none">
        <bolt-list-item>
          <bolt-list display="flex" spacing="small" inset>
            <bolt-list-item>
              <bolt-text headline font-size="large">
                <bolt-icon name="lock"></bolt-icon>
                design-system-devs
              </bolt-text>
              <bolt-list display="inline" separator="solid">
                <bolt-list-item>
                  <bolt-icon name="star-solid"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="user"></bolt-icon>
                  11
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="customer-decision-hub"></bolt-icon>
                  3
                </bolt-list-item>
                <bolt-list-item>
                  Set a topic.
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="inline" align="end" spacing="small">
                <bolt-list-item>
                  <bolt-icon name="mobility" size="large"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="product" size="large"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="support" size="large"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="search" size="large"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-icon name="more" size="large"></bolt-icon>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
        <bolt-list-item>
          <bolt-list spacing="small" inset>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="bolt-logo-colored" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              Thomas Charging Hawk
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            11:32 AM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-size="xsmall">
                            👍 3,000
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-weight="bold" font-size="xsmall">
                            <bolt-icon name="customer-service"></bolt-icon>
                            13 replies
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="xsmall">
                            Last reply today at 12:01 PM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="user" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              Chris Smith
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            11:32 AM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula.
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="user" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              Mike Mai
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            11:33 AM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis.
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="user" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              Remy Denton
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            11:38 AM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas.
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="user" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              Dan Morse
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            11:40 AM
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      Nunc eu ullamcorper orci. Quisque eget odio ac.
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
            <bolt-list-item>
              <bolt-list display="flex" valign="start">
                <bolt-list-item style="flex: 0;">
                  <bolt-icon name="user" size="xlarge" background="square"></bolt-icon>
                </bolt-list-item>
                <bolt-list-item>
                  <bolt-list spacing="xsmall">
                    <bolt-list-item>
                      <bolt-list display="inline">
                        <bolt-list-item>
                          <bolt-text font-weight="bold">
                            <bolt-link url="#">
                              User Name
                            </bolt-link>
                          </bolt-text>
                        </bolt-list-item>
                        <bolt-list-item>
                          <bolt-text font-size="small">
                            time:stamp
                          </bolt-text>
                        </bolt-list-item>
                      </bolt-list>
                    </bolt-list-item>
                    <bolt-list-item>
                      This is a message.
                    </bolt-list-item>
                    <bolt-list-item>
                      <bolt-code-snippet lang="css" display="block">display: block; // This is a block of code.</bolt-code-snippet>
                    </bolt-list-item>
                  </bolt-list>
                </bolt-list-item>
              </bolt-list>
            </bolt-list-item>
          </bolt-list>
        </bolt-list-item>
      </bolt-list>
    </bolt-list-item>
  </bolt-list>
</div>
