{% set slide %}
 {% include "_carousel-slide-content.twig" only %}
{% endset %}
<h2>Space between: large</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    slide,
    slide,
    slide,
  ],
} only %}

<div class="e-bolt-wrapper">
  <p>Example test paragraph</p>

  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      slide,
      slide,
      slide,
      slide,
      slide,
    ],
  } only %}
</div>
