<div class="demo--share">
{% include '@bolt-components-share/share.twig' with {
  visibility: 'visible'
} only %}
</div>

<script>
  //We're inside an iframe if true and we need to adjust styles
  const demo = document.querySelector('.demo--share');
  if (demo !== null) {
    if (window.self !== window.top) {
      demo.setAttribute('style','text-align: center; padding: 10rem 0 0');
    } else {
      demo.setAttribute('style','position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%)');
    }
  }
</script>