<div style="margin: 0 auto; width: 150px; padding: 25rem 0 0;">
{% include '@bolt-components-share/share.twig' with {
  sources: [
    {
      name: "facebook",
      url: "https://www.facebook.com/sharer/sharer.php?u=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/02-components-action-blocks-05-action-blocks/02-components-action-blocks-05-action-blocks.html&amp;src=sdkpreparse"
    }
  ],
  copy: false
} only %}
</div>