<div style="text-align: center; padding: 6rem 0;">
{% include '@bolt-components-share/share.twig' with {
  sources: ['facebook','twitter','linkedin'],
  email: true,
  copy: true,
  visibility: 'visible',
  inline: false
} only %}
</div>