{% set schema = bolt.data.components["@bolt-components-share"].schema %}

<p><mark>Opacity will make the share tool semi-transparent, and transparency goes away if user hovers over it. This should be used if you don't want the share tool to create too much distractions on first impression.</mark></p>

{% for opacity in schema.properties.opacity.enum %}
  <h3>Opacity: {{ opacity|capitalize }}</h3>
  {% include "@pl/_share-component-example.twig" with {
    text: 'Custom label',
    opacity: opacity,
  } %}
{% endfor %}
