{% set schema = bolt.data.components["@bolt-components-share"].schema %}
{% set themes = get_data("@bolt/themes.schema.json") %}

{% for theme in themes.properties.colors.enum %}
  <h3>{{ theme }}</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@utils/theme-demo.twig" %}
      {% block demo_content %}
        {% for size in schema.properties.size.enum %}
          {% include "@bolt-components-share/share.twig" with {
            size: size,
            sources: [
              {
                name: "facebook",
                url: "https://www.facebook.com/sharer/sharer.php?u=https://boltdesignsystem.com&amp;src=sdkpreparse"
              },
              {
                name: "twitter",
                url: "https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!"
              },
              {
                name: "linkedin",
                url: "https://www.linkedin.com/shareArticle?url=https://boltdesignsystem.com"
              },
              {
                name: "email",
                url: "mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com"
              }
            ],
            copy_to_clipboard: {
              text_to_copy: "http://boltdesignsystem.com/#share-themes"
            }
          } only %}
        {% endfor %}
        {% include "@bolt-components-share/share.twig" with {
          opacity: 60,
          sources: [
            {
              name: "facebook",
              url: "https://www.facebook.com/sharer/sharer.php?u=https://boltdesignsystem.com&amp;src=sdkpreparse"
            },
            {
              name: "twitter",
              url: "https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!"
            },
            {
              name: "linkedin",
              url: "https://www.linkedin.com/shareArticle?url=https://boltdesignsystem.com"
            },
            {
              name: "email",
              url: "mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com"
            }
          ],
          copy_to_clipboard: {
            text_to_copy: "http://boltdesignsystem.com/#share-themes"
          }
        } only %}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
