{% set schema = bolt.data.components["@bolt-components-share"].schema %}
{% set themes = get_data("@bolt/themes.schema.json") %}

{% for theme in themes.properties.colors.enum %}
  <h3>{{ theme }}</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@utils/theme-demo.twig" %}
      {% block demo_content %}
        {% for size in schema.properties.size.enum %}
          {% include "@pl/_share-component-example.twig" with {
            size: size,
          } only %}
        {% endfor %}
        {% include "@pl/_share-component-example.twig" with {
          opacity: 60,
        } only %}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
