{% set slide %}
 {% include "_carousel-slide-content.twig" only %}
{% endset %}
<h2>Without Visible Scrollbar</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    slide,
    slide,
    slide,
  ],
  freeScroll: true
} only %}
