{% set slide %}
 {% include "_carousel-slide-content.twig" only %}
{% endset %}
<h2>Example Carousel with Left / Right Buttons Positioned on the outside</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
   slide,
   slide,
   slide,
   slide,
   slide,
   slide,
  ],
  nav_position: "outside",
} only %}

<h2>Example Nav On The Outside + In A Narrower Container -- without Full Bleed</h2>
<div class="e-bolt-wrapper">
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      slide,
      slide,
      slide,
      slide,
      slide,
      slide,
    ],
    nav_position: "outside",
    fullBleed: false
  } only %}
</div>


<h2>Example Nav On The Outside + In A Narrower Container -- with full bleed</h2>
<div class="e-bolt-wrapper">
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      slide,
      slide,
      slide,
      slide,
      slide,
      slide,
    ],
    nav_position: "outside",
    fullBleed: true
  } only %}
</div>
