<h2>Test to confirm multiple players using the cue points plugin work independently without a hitch.</h2>

{% include "@bolt/video.twig" with {
  "video_id": "5830697097001",
  "account_id": "1900410236",
  "player_id": "BkPDeo7VM"
} only %}

{% include "@bolt/video.twig" with {
  "video_id": "5830697097001",
  "account_id": "1900410236",
  "player_id": "BkPDeo7VM"
} only %}

