<h2>Test to confirm multiple players using the cue points plugin work independently without a hitch.</h2>

{% include "@bolt/video.twig" with {
  "videoId": "5830697097001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}

{% include "@bolt/video.twig" with {
  "videoId": "5830697097001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}

