/* ------------------------------------ *\
  TOOLS - FONT FAMILY
\* ------------------------------------ */

////
/// @group Tools: Typography
/// @author Mike Mai
////

@import '../../01-settings/settings-font-family/settings-font-family';
@import '../tools-sassy-maps/tools-sassy-maps'; // required so `map-get-deep` works


/// This returns the font-family for a specific element. Brand fonts are the default, with system fonts as the fallback.
///
/// @param {string} $type
///   Defines the font-family being used for each type of text: heading, body, or code.
///
@mixin bolt-font-family($type, $is_root: false) {
  $fallback-font-family: map-get-deep($bolt-font-families, 'font-families', $type, 'fallback-font');
  $custom-font-family: map-get-deep($bolt-font-families, 'font-families', $type, 'custom-font');
  $fonts-loaded-class: map-get-deep($bolt-font-families, 'font-families', $type, 'loaded-class');

  font-family: $fallback-font-family;

  @if $is_root == false {
    .#{$fonts-loaded-class} & {
      font-family: $custom-font-family;
    }
  }
  @else {
    &.#{$fonts-loaded-class} {
      font-family: $custom-font-family;
    }
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin font-family($args...) {
  @warn 'PegaKit\'s `font-family` mixin is deprecated and will be removed in v1.0.0 of Bolt. Use the new @bolt-font-family mixin instead.';

  @include bolt-font-family($args);
}
/* stylelint-enable */
