// ------------------------------------
// ELEMENTS - LINKS
// ------------------------------------

$bolt-a-color-xlight:  bolt-color(indigo, light);
$bolt-a-color-light:   bolt-color(indigo, light);
$bolt-a-color-medium:  bolt-color(white);
$bolt-a-color-dark:    bolt-color(white);
$bolt-a-color-xdark:   bolt-color(white);

// Dev Notes
// 1. [Mai] All the theming stuff is an interim fix until the bolt-text is refactored, which will cover all the text link styles as well.

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  color: $bolt-a-color-xlight; // [1]
  text-decoration: underline;

  .t-bolt-xlight & {
    color: $bolt-a-color-xlight; // [1]
  }
  .t-bolt-light & {
    color: $bolt-a-color-light; // [1]
  }
  .t-bolt-medium & {
    color: $bolt-a-color-medium; // [1]
  }
  .t-bolt-dark & {
    color: $bolt-a-color-dark; // [1]
  }
  .t-bolt-xdark & {
    color: $bolt-a-color-xdark; // [1]
  }
}
