$device-shadow: 0 1px 2px 1px rgba(6,10,36,0.10), 0 5px 10px 1px rgba(6,10,36,0.15), 0 15px 30px 0 rgba(6,10,36,0.25);


.c-bolt-iphone8-viewer {
  width: 375px;
  height: 667px;
  padding: 105px 24px;
  background-color: #d9dbdc;
  border-radius: 56px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), $device-shadow;
  display: inline-block;
  position: relative;
  box-sizing: content-box; //Required for now till updated to be fluid in size.

  &.c-bolt-iphone8-viewer--landscape {
    padding: 24px 105px;
    height: 375px;
    width: 667px;
  }

  &.c-bolt-iphone8-viewer--gold {
    background-color: #f9e7d3;
  }

  &.c-bolt-iphone8-viewer--black {
    background-color: #464646;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7), $device-shadow;

    &:before {
      background-color: #080808;
    }

    &:after {
      box-shadow:
        inset 0 0 3px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 6px 3px #212121;
    }
  }




  &:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    border-radius: 50px;
    background-color: #f8f8f8;
    z-index: 1;
    pointer-events: none; // So scrolling works / mouse doesn't get blocked.
  }

  &:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    border-radius: 48px;
    box-shadow:inset 0 0 3px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 6px 3px #FFFFFF;
    z-index: 2;
    pointer-events: none; // So scrolling works / mouse doesn't get blocked.
  }
}

.c-bolt-iphone8-viewer__screen {
  width: 100%;
  position: relative;
  // height: 100%;
  height: 0;
  z-index: 2;
  background-color: bolt-color(black);
  background-image: linear-gradient(to bottom, #b3b3b7 0%, #424044 100%);
  overflow: hidden;
  display: block;
  border-radius: 1px;
  box-shadow: 0 0 0 3px #111;
  overflow: hidden; // Unfortunately zooming + scrolling is very, very tricky. Forcing this for now.

  padding-bottom: 177.78636649%;
  

  .c-bolt-iphone8-viewer--landscape & {
    padding-bottom: 56.24728261%;
  }
}

.c-bolt-iphone8-viewer__top-bar, 
.c-bolt-iphone8-viewer__bottom-bar {
  height: 3px;
  background-color: black;
  width: 100%;
  display: block;

  .c-bolt-iphone8-viewer--gold & {
    background-color: white;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #212121;
  }
}

.c-bolt-iphone8-viewer__middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background-color: black;
  position: absolute;
}

.c-bolt-iphone8-viewer__home {
  border-radius: 100%;
  width: 68px;
  height: 68px;
  position: absolute;
  left: 50%;
  margin-left: -34px;
  bottom: 22px;
  z-index: 3;
  background-color: rgb(48,50,51);
  background-image: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

  .c-bolt-iphone8-viewer--landscape & {
    top: 50%;
    margin-top: -34px;
    margin-left: 0;
    left: 22px;
  }
  
  &:before {
    background-color: #f8f8f8;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;

    .c-bolt-iphone8-viewer--black & {
      background-color: #080808;
    }
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: rgb(206,187,169);
    background-image: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: rgb(8,8,8);
    background-image: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);
  }
}

.c-bolt-iphone8-viewer__top-bar {
  height: 14px;
  background-color: #bfbfc0;
  position: absolute;
  top: 68px;
  left: 0;

  .c-bolt-iphone8-viewer--landscape & {
    width: 14px;
    height: 100%;
    left: calc(100% - 68px -  14px);
    top: 0;
  }
}

.c-bolt-iphone8-viewer__bottom-bar {
  height: 14px;
  background-color: #bfbfc0;
  position: absolute;
  bottom: 68px;
  left: 0;

  .c-bolt-iphone8-viewer--landscape & {
    width: 14px;
    height: 100%;
    left: 68px;
    top: 0;
  }
}

.c-bolt-iphone8-viewer__sleep {
  position: absolute;
  top: 190px;
  right: -4px;
  width: 4px;
  height: 66px;
  border-radius: 0px 2px 2px 0px;
  background-color: #d9dbdc;

  .c-bolt-iphone8-viewer--landscape & {
    top: 100%;
    border-radius: 0px 0px 2px 2px;
    right: 190px;
    height: 4px;
    width: 66px;
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: #f9e7d3;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #464646;
  }
}

.c-bolt-iphone8-viewer__volume {
  position: absolute;
  left: -4px;
  top: 188px;
  z-index: 0;
  height: 66px;
  width: 4px;
  border-radius: 2px 0px 0px 2px;
  background-color: #d9dbdc;

  .c-bolt-iphone8-viewer--landscape & {
    width: 66px;
    height: 4px;
    top: -4px;
    left: calc(100% - 188px - 66px);
    border-radius: 2px 2px 0px 0px;
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: #f9e7d3;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #464646;
  }

  &:before {
    position: absolute;
    left: 2px;
    top: -78px;
    height: 40px;
    width: 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;

    .c-bolt-iphone8-viewer--landscape & {
      width: 40px;
      height: 2px;
      top: 2px;
      right: -78px;
      left: auto;
      border-radius: 2px 2px 0px 0px;
    }
  }

  &:after {
    position: absolute;
    left: 0px;
    top: 82px;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;

    .c-bolt-iphone8-viewer--landscape & {
      left: -82px;
      width: 66px;
      height: 4px;
      top: 0;
      border-radius: 2px 2px 0px 0px;
    }
  }
}

.c-bolt-iphone8-viewer__camera {
  background-color: #3c3d3d;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 24px;
  left: 50%;
  margin-left: -6px;
  border-radius: 100%;
  z-index: 3;

  .c-bolt-iphone8-viewer--black & {
    background-color: #080808;
  }

  .c-bolt-iphone8-viewer--landscape & {
    left: calc(100% - 32px);
    top: 50%;
    margin-left: 0px;
    margin-top: -5px;
  }
}

.c-bolt-iphone8-viewer__sensor {
  background-color: #3c3d3d;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 49px;
  left: 134px;
  z-index: 3;
  border-radius: 100%;

  .c-bolt-iphone8-viewer--landscape & {
    top: 134px;
    left: calc(100% - 49px - 16px);
  }
}


.c-bolt-iphone8-viewer__speaker {
  background-color: #292728;
  width: 70px;
  height: 6px;
  position: absolute;
  top: 54px;
  left: 50%;
  margin-left: -35px;
  border-radius: 6px;
  z-index: 3;

  .c-bolt-iphone8-viewer--landscape & {
    height: 70px;
    width: 6px;
    left: calc(100% - 54px - 6px);
    top: 50%;
    margin-left: 0px;
    margin-top: -35px;
  }
}