$device-shadow: 0 1px 2px 1px rgba(6,10,36,0.10), 0 5px 10px 1px rgba(6,10,36,0.15), 0 15px 30px 0 rgba(6,10,36,0.25);

.c-bolt-macbook-viewer {
  width: 960px;
  height: 600px;
  padding: 44px 44px 76px;
  margin: 0 auto;
  background: #bebebe;
  border-radius: 34px;
  display: inline-block;
  position: relative;
  box-shadow: $device-shadow;
  box-sizing: content-box; //Required for now till updated to be fluid in size.

  &:before {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    content: '';
    display: block;
    top: 4px;
    left: 4px;
    border-radius: 30px;
    background: #1e1e1e;
  }
}

.c-bolt-macbook-viewer__screen {
  width: 100%;
  position: relative;
  // height: 100%;
  z-index: 2;
  background: white;
  overflow: hidden;
  display: block;
  border-radius: 1px;
  box-shadow: 0 0 0 3px #111;

  height: 0;
  padding-bottom: 62.50%;
}

.c-bolt-macbook-viewer__top-bar, 
.c-bolt-macbook-viewer__bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block;
}

.c-bolt-macbook-viewer__middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute;
}

.c-bolt-macbook-viewer__top-bar {
  width: calc(100% + 2 * 70px);
  height: 40px;
  position: absolute;
  content: '';
  display: block;
  top: 680px;
  left: -70px;
  border-bottom-left-radius: 90px 18px;
  border-bottom-right-radius: 90px 18px;
  background: #bebebe;
  box-shadow: inset 0px -4px 13px 3px rgba(34, 34, 34, 0.6);

  &:before {
    width: 100%;
    height: 24px;
    content: '';
    display: block;
    top: 0;
    left: 0;
    background: #f0f0f0;
    border-bottom: 2px solid #aaa;
    border-radius: 5px;
    position: relative;
  }

  &:after {
    width: 16%;
    height: 14px;
    content: '';
    display: block;
    top: 0;
    background: #ddd;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0px -3px 10px #999;
  }
}

.c-bolt-macbook-viewer__bottom-bar {
  background: transparent;
  width: calc(100% + 2 * 70px);
  height: 26px;
  position: absolute;
  content: '';
  display: block;
  top: 680px;
  left: -70px;

  &:before,
  &:after {
    height: calc(100% - 2px);
    width: 80px;
    content: '';
    display: block;
    top: 0;

    position: absolute;
  }

  &:before {
    left: 0;
    background: #f0f0f0;
    background: linear-gradient(to right, #747474 0%, #c3c3c3 5%, #ebebeb 14%, #979797 41%, #f0f0f0 80%, #f0f0f0 100%, #f0f0f0 100%);
  }

  &:after {
    right: 0;
    background: #f0f0f0;
    background: linear-gradient(to right, #f0f0f0 0%, #f0f0f0 0%, #f0f0f0 20%, #979797 59%, #ebebeb 86%, #c3c3c3 95%, #747474 100%);
  }
}

.c-bolt-macbook-viewer__camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -5px;
  border-radius: 100%;
}

.c-bolt-macbook-viewer__home {
  display: none;
}