$device-shadow: 0 1px 2px 1px rgba(6,10,36,0.10), 0 5px 10px 1px rgba(6,10,36,0.15), 0 15px 30px 0 rgba(6,10,36,0.25);

$bolt-ipad-viewer-height: 768px + (90px * 2);
$bolt-ipad-viewer-width: 576px + (25px * 2);

$bolt-ipad-viewer-padding-sm: 25px;
$bolt-ipad-viewer-padding-lg: 90px;

.c-bolt-ipad-viewer {
  width: 100%;
  max-width: $bolt-ipad-viewer-width;
  background: #242324;

  border-top-left-radius: (44px / $bolt-ipad-viewer-width * 100%) (44px / $bolt-ipad-viewer-height * 100%);
  border-top-right-radius: (44px / $bolt-ipad-viewer-width * 100%) (44px / $bolt-ipad-viewer-height * 100%);
  border-bottom-left-radius: (44px / $bolt-ipad-viewer-width * 100%) (44px / $bolt-ipad-viewer-height * 100%);
  border-bottom-right-radius: (44px / $bolt-ipad-viewer-width * 100%) (44px / $bolt-ipad-viewer-height * 100%);

  box-shadow: $device-shadow;


  &.c-bolt-ipad-viewer--landscape {
    max-width: $bolt-ipad-viewer-height;
    border-top-left-radius: (44px / $bolt-ipad-viewer-height * 100%) (44px / $bolt-ipad-viewer-width * 100%);
    border-top-right-radius: (44px / $bolt-ipad-viewer-height * 100%) (44px / $bolt-ipad-viewer-width * 100%);
    border-bottom-left-radius: (44px / $bolt-ipad-viewer-height * 100%) (44px / $bolt-ipad-viewer-width * 100%);
    border-bottom-right-radius: (44px / $bolt-ipad-viewer-height * 100%) (44px / $bolt-ipad-viewer-width * 100%);
  }

  &.c-bolt-ipad-viewer--silver {
    background: #bcbcbc;
  }
}

.c-bolt-ipad-viewer__inner {
  padding: (90px / $bolt-ipad-viewer-width * 100%) (25px / $bolt-ipad-viewer-width * 100%);

  .c-bolt-ipad-viewer--landscape & {
    padding: (25px / $bolt-ipad-viewer-width * 100%) (90px / $bolt-ipad-viewer-width * 100%);
  }

  &:before {
    background: #1e1e1e;

    width: auto;
    height: auto;
    top: 4px / $bolt-ipad-viewer-height * 100%;
    right: 4px / $bolt-ipad-viewer-width * 100%;
    bottom: 4px / $bolt-ipad-viewer-height * 100%;
    left: 4px / $bolt-ipad-viewer-width * 100%;

    border-top-left-radius: (40px / $bolt-ipad-viewer-width * 100%) (40px / $bolt-ipad-viewer-height * 100%);
    border-top-right-radius: (40px / $bolt-ipad-viewer-width * 100%) (40px / $bolt-ipad-viewer-height * 100%);
    border-bottom-left-radius: (40px / $bolt-ipad-viewer-width * 100%) (40px / $bolt-ipad-viewer-height * 100%);
    border-bottom-right-radius: (40px / $bolt-ipad-viewer-width * 100%) (40px / $bolt-ipad-viewer-height * 100%);

    .c-bolt-ipad-viewer--landscape & {
      border-top-left-radius: (40px / $bolt-ipad-viewer-height * 100%) (40px / $bolt-ipad-viewer-width * 100%);
      border-top-right-radius: (40px / $bolt-ipad-viewer-height * 100%) (40px / $bolt-ipad-viewer-width * 100%);
      border-bottom-left-radius: (40px / $bolt-ipad-viewer-height * 100%) (40px / $bolt-ipad-viewer-width * 100%);
      border-bottom-right-radius: (40px / $bolt-ipad-viewer-height * 100%) (40px / $bolt-ipad-viewer-width * 100%);
    }

    .c-bolt-ipad-viewer--silver & {
      background: #fcfcfc;
    }
  }
}


.c-bolt-ipad-viewer__screen {
  background: white;
  padding-bottom: 133.33159722%;

  .c-bolt-ipad-viewer--landscape & {
    padding-bottom: 73.82908632%;
  }
}

.c-bolt-ipad-viewer__top-bar,
.c-bolt-ipad-viewer__bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block;
}

.c-bolt-ipad-viewer__middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
}

.c-bolt-ipad-viewer__camera {
  background: #3c3d3d;

  transform: translateX(-50%); // Center align without knowing size of element
  top: 44px / $bolt-ipad-viewer-height * 100%;
  left: 50%;
  width: 10px / $bolt-ipad-viewer-width * 100%;
  height: 10px / $bolt-ipad-viewer-height * 100%;

  .c-bolt-ipad-viewer--landscape & {
    width: 10px / $bolt-ipad-viewer-height * 100%;
    height: 10px / $bolt-ipad-viewer-width * 100%;
    left: auto;
    right: 44px / $bolt-ipad-viewer-width * 100%;
    top: 50%;
    transform: translateY(-50%); // Center align without knowing size of element
  }
}

.c-bolt-ipad-viewer__top-bar,
.c-bolt-ipad-viewer__bottom-bar{
  display: none;
}

.c-bolt-ipad-viewer__home {
  background: #242324;
  width: 50px / $bolt-ipad-viewer-width * 100%;
  height: 50px / $bolt-ipad-viewer-height * 100%;
  transform: translateX(-50%); // Center align without knowing size of element
  left: 50%;
  bottom: 22px / $bolt-ipad-viewer-height * 100%;

  .c-bolt-ipad-viewer--silver & {
    background: #fcfcfc;
    box-shadow: inset 0 0 0 1px #bcbcbc;

    &:after{
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  .c-bolt-ipad-viewer--landscape & {
    top: 50%;
    left: 22px / $bolt-ipad-viewer-width * 100%;
    bottom: auto;
    margin-left: 0;
    transform: translateY(-50%) translateX(25%);// Center align without knowing size of element
    width: 50px / $bolt-ipad-viewer-height * 100%;
    height: 50px / $bolt-ipad-viewer-width * 100%;
  }

  &:after {
    width: 15px / 50px * 100%;
    height: 15px / 50px * 100%;
    transform: translate3d(-50%, -50%, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
  }
}
