/* ------------------------------------ *\
  Color Palette
\* ------------------------------------ */

/**
  * Helper functions for applying global color swatches stored in Sass Maps
  */
@import '~@bolt/settings-colors';
@import '~@bolt/tools-sassy-maps'; //So map-get-deep works


@function bolt-color(
  $color,
  $tone: $bolt-color-default
) {
  @return map-get-deep($bolt-colors, $color, $tone);
}

// Mixin to return color value + !important if needed.
@mixin bolt-color(
  $color,
  $tone: $bolt-color-default,
  $important: null
) {
  @if $important == important {
    $important: !important;
  }
  /* stylelint-disable-next-line */
  color: map-get-deep($bolt-colors, $color, $tone) $important;
}

/* stylelint-disable-next-line scss/at-function-pattern */
@function palette($args...) {
  @warn 'PegaKit\'s `palette` function is deprecated and will be removed in v1.0.0 of Bolt. Use the new @color() function instead.';

  @return bolt-color($args...);
}
/* stylelint-enable */
