/* ------------------------------------ *\
  Satellite
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-satellite', block, medium);

$default-x-offset: var(--bolt-spacing-x-xsmall);
$default-y-offset: var(--bolt-spacing-y-xsmall);

.c-bolt-satellite {
  z-index: bolt-z-index('fab');

  // must both be ready && not have aria-hidden before showing
  &:not([data-bolt-ready]),
  &[aria-hidden='true'] {
    @include bolt-visuallyhidden;
  }

  &__content {
    display: grid;
    grid-gap: var(--bolt-spacing-y-xxsmall);
    margin-bottom: var(--bolt-spacing-y-xxsmall);
  }

  // Hide hidden content items
  &__content-item[aria-hidden='true'] {
    @include bolt-visuallyhidden;
  }
}

// position prop
$bolt-satellite-position: 'bottom', 'middle', 'top';

@each $position in $bolt-satellite-position {
  .c-bolt-satellite--position-#{$position}-right {
    position: fixed;
    right: var(--c-bolt-satellite-offset-x, $default-x-offset);

    @if index($position, 'middle') {
      top: calc(50% + var(--c-bolt-satellite-offset-y));
      transform: translateY(-50%);
    } @else {
      #{$position}: var(--c-bolt-satellite-offset-y, $default-y-offset);
    }
  }
}
