<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <bolt-text headline>Warning! The Link component is deprecated.</bolt-text>
  <bolt-ol>
    <bolt-li>No new features will not be added to this component.</bolt-li>
    <bolt-li>See each page under Components/Link section in the navigation to reference old documentations.</bolt-li>
    <bolt-li>For any new instances of a link please use the <a href="{{ link['viewall-elements-link'] }}" class="e-bolt-text-link"> Text Link element</a>.</bolt-li>
  </bolt-ol>
</bolt-banner>
