<h3>Icon before (default)</h3>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "info-open",
    },
  } only %}
</p>
<h3>Icon after</h3>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "info-open",
      position: "before"
    },
  } only %}
</p>
<h3>Different icons</h3>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "chevron-left",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "chevron-right",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "academy",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "app-exchange",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "menu",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "search",
    },
  } only %}
</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "This is a link",
    url: "https://pega.com",
    icon: {
      name: "close",
    },
  } only %}
</p>
