/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: spacing(medium) * -1;
  letter-spacing: spacing(medium) * -1;
  flex: 1 1 auto; //Automatically auto fill any available space, in case a grid is nested inside of a flexbox-friendly parent container.
}

.o-grid__item {
  display: inline-block;
  vertical-align: top;
  padding-left: spacing(medium);
  letter-spacing: normal;
}

.o-grid--rev {
  direction: rtl;

  > .o-grid__item {
    direction: ltr;
  }
}


/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.o-grid`.
 */
.o-grid--full {
  margin-left: 0;

  > .o-grid__item {
    padding-left: 0;
  }
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.o-grid`.
 */
.o-grid--center {
  text-align: center;
  justify-content: center;

  > .o-grid__item {
    text-align: left;
  }
}


/**
 * Align grid cells vertically (`.o-grid--middle` or `.o-grid--bottom`). Extends
 * `.o-grid`.
 */
.o-grid--middle {
  // &.o-grid--flex,{
  //   align-items: center;
  // }

  > .o-grid__item {
    vertical-align: middle;
  }
}

.o-grid--bottom {
  > .o-grid__item {
    vertical-align: bottom;
  }
}


/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.o-grid--right {
  text-align: right;
  justify-content: flex-end;

  > .o-grid__item {
    text-align: left;
  }
}

// .o-grid__item--middle {
//   vertical-align: middle;
//   align-self: center;
// }

// .o-grid__item--top {
//   vertical-align: top;
//   align-self: flex-start;
// }
//
// .o-grid__item--bottom {
//   vertical-align: bottom;
//   align-self: flex-end;
// }




// Grid gutter sizes
// .o-grid--xsmall {
//   margin-left: spacing(xsmall) * -1;
//
//   > .o-grid__item {
//     padding-left: spacing(xsmall);
//   }
// }

.o-grid--small {
  margin-left: spacing(small) * -1;

  > .o-grid__item {
    padding-left: spacing(small);
  }
}

/**
 * Large gutters
 */
.o-grid--large {
  margin-left: spacing(large) * -1;

  > .o-grid__item {
    padding-left: spacing(large);
  }
}

/**
 * Extra wide gutters
 */
.o-grid--xlarge {
  margin-left: spacing(large) * -1;

  > .o-grid__item {
    padding-left: spacing(large);
  }
}


// /**
//  * Extra extra wide gutters
//  */
// %o-grid--xxlarge,
// .o-grid--xxlarge {
//
//   @include respond-to(small) {
//     margin-left: -$spacing-unit-xlarge * 2;
//   }
//   margin-left: -$spacing-unit-large * 2;
//
//   > %o-grid__item,
//   > .o-grid__item {
//
//     @include respond-to(small) {
//       padding-left: $spacing-unit-xlarge * 2;
//     }
//     padding-left: $spacing-unit-large * 2;
//   }
// }

.o-grid--flex {
  display: flex;
  flex-flow: row wrap;

  > .o-grid__item {
    display: flex;
    flex-direction: column;
  }
}
