{% if block("page_content") is defined %}
  {% set mainContentBlock %}
    {{ block("page_content") }}
  {% endset %}
{% endif %}

{% import "@bolt-academy/_macros.twig" as macros %}

<div class="c-bolt-site">
  {% block global_header %}
    {% include '@pl/_main-site-page-header.twig' %}
  {% endblock %}

  <main class="c-bolt-site__content u-bolt-flex u-bolt-flex-col">
    {% include "@bolt-academy/_toolbar.twig" %}
    {% include "@bolt-components-band/band.twig" with {
      theme: pageTheme|default("xxdark"),
      size: "none",
      valign: "start",
      content: mainContentBlock,
      background: background,
    } only %}

  </main>
  <div class="c-bolt-site__footer c-bolt-page-footer">
    <div class="o-bolt-wrapper">
      {% block global_footer %}
        {% include "@bolt/page-footer.twig" only %}
      {% endblock %}
    </div>
  </div>
</div>
