<h3>Truncated chip list</h3>

{% include "@bolt-components-chip-list/chip-list.twig" with {
  size: "xsmall",
  truncate: 5,
  items: [
    {
      text: "Beginner",
      url: "#1"
    },
    {
      text: "User Interface",
      url: "#1"
    },
    {
      text: "Reporting",
      url: "#1"
    },
    {
      text: "Mobile",
      url: "#1"
    },
    {
      text: "Pega Platform",
      url: "#!"
    },
    {
      text: "Application Development",
      url: "#!"
    },
    {
      text: "Case Management",
      url: "#!"
    },
    {
      text: "Robotic Process Automation",
      url: "#!"
    },
    {
      text: "Data Integration",
      url: "#!"
    },
  ]
} only %}
