{% set classes = create_attribute(imageAttributes | default({})).addClass([
    "c-bolt-image__img",
    "u-bolt-width-1/1",
  ])
%}

<h3>Size: 100%</h3>
{% include '@bolt-components-image/image.twig' with {
  lazyload: false,
  src: "../../images/placeholders/tout-4x3-climber.jpg",
  alt: "A Rock Climber",
  imageAttributes: classes,
} only %}
