<h4>Zoom: Jpg</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/placeholders/500x500.jpg",
  alt: "Bill Murrey",
  zoom: true,
} only %}

<h4>Zoom: Png</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/content/charts/decision-hub-chart.png",
  alt: "decision hub chart",
  zoom: true
} only %}


<h4>Zoom: Svg</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/content/logos/logo-paypal.svg",
  alt: "logo paypal svg",
  zoom: true,
} only %}
