<div style="text-align: center; padding: 7rem;">
{% include "@bolt-components-copy-to-clipboard/copy-to-clipboard.twig" with {
  text: "Copy Link",
  copiedText: "Copied!",
  url: "http://google.com"
} only %}
</div>