<div style="text-align: center; padding: 3rem;">
  {% include "@bolt-components-copy-to-clipboard/copy-to-clipboard.twig" with {
    text: "Copy Link #1",
    url: "http://bolt-design-system.com/#link-1"
  } only %}
  <br /><br />
  {% include "@bolt-components-copy-to-clipboard/copy-to-clipboard.twig" with {
    text: "Copy Link #2",
    url: "http://bolt-design-system.com/#link-2"
  } only %}
</div>