{% set attributes = create_attribute({}) %}
{% set iconSize = "medium" %}
{% set trigger %}
  {% include "@bolt-components-link/link.twig" with {
    "text": "Copy at your own risk...",
    "url": "#!",
    "icon": {
      "name": "warning",
      "position": "before",
      "size": iconSize
    }
  } only %}
{% endset %}

{% set spinner %}
  {% include "@bolt-components-icon/icon.twig" with {
    "name": "global",
    "size": iconSize,
  } only %}
{% endset %}

{% set confirmation %}
  {% include "@bolt-components-link/link.twig" with {
    "text": "\"I prefer to be alive, so I'm cautious about taking risks.\"  -- Werner Herzog",
    "url": "#!",
    "icon": {
      "name": "check",
      "position": "before",
      "size": iconSize
    }
  } only %}
{% endset %}

<div style="text-align: center; padding: 3rem;">
  {% include "@bolt-components-copy-to-clipboard/copy-to-clipboard.twig" with {
    text: "Copy link custom spinner only",
    url: "http://bolt-design-system.com/#link-1",
    spinner: spinner,
  } only %}
  <br /><br />
  {% include "@bolt-components-copy-to-clipboard/copy-to-clipboard.twig" with {
    text: "Copy Link #1",
    url: "http://bolt-design-system.com/#link-1",
    trigger: trigger,
    spinner: spinner,
    confirmation: confirmation
  } only %}
</div>
