{% set schema = get_data('@bolt-components-nav-bar/nav-bar.schema.yml') %}

{% for theme in schema.properties.theme.enum %}
  <p>Theme: {{ theme }}</p>
  {% include '05-nav-bar.twig' with {
    theme: theme,
  } %}

{% endfor %}