<div class="e-bolt-wrapper">
  <h1>Carousel in a layout tests</h1>
  <hr>
  <h2>Carousel examples inside layout using HTML tags</h2>
  <div class="l-bolt-site">
    <header>This is the header</header>
    <main>
      <div class="e-bolt-wrapper">
        <bolt-carousel>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel nav-button-position="outside">
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel slides-per-view=2>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel nav-button-position="outside" slides-per-view=2>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel overflow>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel overflow nav-button-position="outside">
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel slides-per-view=2 overflow>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
      <div class="e-bolt-wrapper">
        <bolt-carousel nav-button-position="outside" slides-per-view=2 overflow>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
          </bolt-carousel-slide>
          <bolt-carousel-slide>
            <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
          </bolt-carousel-slide>
        </bolt-carousel>
      </div>
    </main>
    <footer>This is the footer</footer>
  </div>

  <hr>

  <h2>Carousel examples not nested in layout</h2>
  <div class="e-bolt-wrapper">
    <bolt-carousel>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel nav-button-position="outside">
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel slides-per-view=2>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel nav-button-position="outside" slides-per-view=2>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel overflow>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel overflow nav-button-position="outside">
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel slides-per-view=2 overflow>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>
  <div class="e-bolt-wrapper">
    <bolt-carousel nav-button-position="outside" slides-per-view=2 overflow>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
      </bolt-carousel-slide>
      <bolt-carousel-slide>
        <div class="u-bolt-padding-large t-bolt-xdark">Slide 3</div>
      </bolt-carousel-slide>
    </bolt-carousel>
  </div>

  <hr>

  {% set schema = bolt.data.components['@bolt-components-carousel'].schema %}
  {% set slide_1 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 1',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_2 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 2',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_3 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 3',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_4 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 4',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_5 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 5',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_6 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 6',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_7 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 7',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_8 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 8',
      size: 'large',
    } only %}
  {% endset %}
  {% set slide_9 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Slide 9',
      size: 'large',
    } only %}
  {% endset %}


  <h2>Carousel examples inside layout with nav buttons inside and all slides per view examples</h2>

  <div class="l-bolt-site">
    <header>This is the header</header>
    <main>
      <div class="e-bolt-wrapper">
        {% for slides_per_view in schema.properties.slides_per_view.enum %}
          <h3>Slides Per View: {{ slides_per_view|capitalize }}</h3>
          {% include '@bolt-components-carousel/carousel.twig' with {
            slides_per_view: slides_per_view,
            slides: [
              slide_1,
              slide_2,
              slide_3,
              slide_4,
              slide_5,
              slide_6,
              slide_7,
              slide_8,
              slide_9,
            ]
          } only %}
        {% endfor %}
      </div>
    </main>
    <footer>This is the footer</footer>
  </div>

  <hr>

  <h2>Carousel examples inside layout with nav buttons outside and all slides per view examples</h2>

  <div class="l-bolt-site">
    <header>This is the header</header>
    <main>
      <div class="e-bolt-wrapper">
        {% for slides_per_view in schema.properties.slides_per_view.enum %}
          <h3>Slides Per View: {{ slides_per_view|capitalize }}</h3>
          {% include '@bolt-components-carousel/carousel.twig' with {
            slides_per_view: slides_per_view,
            nav_button_position: 'outside',
            slides: [
              slide_1,
              slide_2,
              slide_3,
              slide_4,
              slide_5,
              slide_6,
              slide_7,
              slide_8,
              slide_9,
            ]
          } only %}
        {% endfor %}
      </div>
    </main>
    <footer>This is the footer</footer>
  </div>

  <hr>

  <h2>Carousel examples inside layout with nav buttons inside, all slides per view examples and prop overflow set to true</h2>

  <div class="l-bolt-site">
    <header>This is the header</header>
    <main>
      <div class="e-bolt-wrapper">
        {% for slides_per_view in schema.properties.slides_per_view.enum %}
          <h3>Slides Per View: {{ slides_per_view|capitalize }}</h3>
          {% include '@bolt-components-carousel/carousel.twig' with {
            slides_per_view: slides_per_view,
            overflow: true,
            slides: [
              slide_1,
              slide_2,
              slide_3,
              slide_4,
              slide_5,
              slide_6,
              slide_7,
              slide_8,
              slide_9,
            ]
          } only %}
        {% endfor %}
      </div>
    </main>
    <footer>This is the footer</footer>
  </div>

  <hr>

  <h2>Carousel examples inside layout with nav buttons outside, all slides per view examples and property overflow set to true</h2>

  <div class="l-bolt-site">
    <header>This is the header</header>
    <main>
      <div class="e-bolt-wrapper">
        {% for slides_per_view in schema.properties.slides_per_view.enum %}
          <h3>Slides Per View: {{ slides_per_view|capitalize }}</h3>
          {% include '@bolt-components-carousel/carousel.twig' with {
            slides_per_view: slides_per_view,
            nav_button_position: 'outside',
            overflow: true,
            slides: [
              slide_1,
              slide_2,
              slide_3,
              slide_4,
              slide_5,
              slide_6,
              slide_7,
              slide_8,
              slide_9,
            ]
          } only %}
        {% endfor %}
      </div>
    </main>
    <footer>This is the footer</footer>
  </div>
</div>

{% set carousel_test %}
  {% include '@bolt-components-carousel/carousel.twig' with {
    slides_per_view: '1',
    slides_per_group: '1',
    space_between: 'small',
    autoplay: true,
    nav_button_position: 'inside',
    slides: [
      slide_1,
      slide_2,
      slide_3,
      slide_4,
      slide_5,
      slide_6,
      slide_7,
      slide_8,
      slide_9,
    ]
  } only %}
{% endset %}

{% set inner_layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: carousel_test
  } only %}
{% endset %}

{% set inner_layout %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: inner_layout_items,
    gutter: 'large',
    padding_top: 'large',
    padding_bottom: 'large',
    attributes: {
      'style': '--l-bolt-layout-tile-min-width: 300px'
    },
    template: [
      'tiles@from-medium',
    ],
  } only %}
{% endset %}

{% set another_layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: inner_layout
  } only %}
{% endset %}

{% set another_inner_layout %}
  <h1 class="c-bolt-headline c-bolt-headline--bold c-bolt-headline--xxxlarge">The future of work</h1>
  <h2 class="c-bolt-subheadline c-bolt-subheadline--regular c-bolt-subheadline--xlarge">How new technology is changing the workplace as we know it.</h2>
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: another_layout_items,
  } only %}
{% endset %}

{% set layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: another_inner_layout
  } only %}
{% endset %}

{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items,
  gutter: 'large',
  padding_top: 'large',
  padding_bottom: 'large',
  template: [
    '67/33@from-medium',
  ],
} only %}
