/* ==========================================================================
   #MODULAR SCALE
   ========================================================================== */

/**
  * Typography sizes based off of 1.2 MS Scale with a 16px base.
  * http://www.modularscale.com/?16&px&1.2&sass&text
  */

@import 'modularscale-sass/stylesheets/modular-scale';

@include add-module(
  $name:    'settings.modular-scale',
  $version: '1.0.0',
  $dependencies: ()
);

$ms-base: 1rem;
$ms-ratio: 1.2;


$modular-scale: (
  'font_sizes': (
    xxxxlarge:   ms(8) 4, //  ~68.797px
    xxxlarge:    ms(7) 4,  //  ~57.331px
    xxlarge:     ms(6) 3,   //  ~47.776px
    xlarge:      ms(4) 2.5,    //  ~33.178px
    large:       ms(2) 1.8,      //  ~23.04px
    medium:      ms(1) 1.6,    //  ~19.2px
    base:        ms(0) 1.5,      //  ~16px
    small:       ms(-1) 1.4,     //  ~14.222px
    xsmall:      ms(-2) 1     //  ~12.642px
  )
);
