/* ==========================================================================
   #TOKENS
   ========================================================================== */

@import 'settings.colors.json';
@import '../02-tools/tools.color-palette';

@include add-module(
  $name:    'settings.tokens',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors': '1.0.0',
    'tools.color-palette':   '1.0.0'
  )
);


$text-muted: rgba(palette(black), 0.5);
