{% import "@bolt-academy/_macros.twig" as macros %}

{% set _chevron_icon %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: "chevron-down"
  } only %}
{% endset %}
{% set _share_icon %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: "share"
  } only %}
{% endset %}
{% set _close_icon %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: "close"
  } only %}
{% endset %}
{% set _add_icon %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: "add-circle"
  } only %}
{% endset %}

{% set trigger %}
  {% include "@bolt-elements-button/button.twig" with {
    content: "Pega Customer Decision Hub 8.5",
    size: "xsmall",
    hierarchy: "tertiary",
    icon_after: _chevron_icon,
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}

{% set popoverContent %}
  {% include "@bolt-components-menu/menu.twig" with {
    items: [
      {
        content: "Pega Customer Decision Hub 8.1",
        url: "https://pega.com"
      },
      {
        content: "Pega Customer Decision Hub 8.3",
        url: "https://pega.com"
      },
    ]
  } only %}
{% endset %}

{% set cardContentItems = [
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          text: "1 Module",
          weight: "semibold"
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          text: "10 mins",
          weight: "semibold",
          attributes: {
            class: "stats-item",
          },
        }, false),
        macros.include("@bolt-components-popover/popover.twig", {
          trigger: trigger,
          content: popoverContent,
          spacing: "none",
          boundary: "bolt-card-replacement",
          placement: "top-start",
          fallbackPlacements: [
            "top",
            "top-end"
          ],
          theme: "light"
        }, false),
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      removeButton: true,
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 3 days ago",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      removeButton: true,
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false),
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Assigned",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      removeButton: true,
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          text: "1 Module",
          weight: "semibold"
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          text: "10 mins",
          weight: "semibold",
          attributes: {
            class: "stats-item",
          },
        }, false),
        macros.include("@bolt-components-popover/popover.twig", {
          trigger: trigger,
          content: popoverContent,
          spacing: "none",
          boundary: "bolt-card-replacement",
          placement: "top-start",
          fallbackPlacements: [
            "top",
            "top-end"
          ],
          theme: "light"
        }, false),
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 3 days ago",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false),
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Assigned",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "25% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 3 days ago",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false),
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Assigned",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "25% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 3 days ago",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false),
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Assigned",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
    {
      cardUrl: "#!",
      cardSubtitle: "Mission",
      cardTitle: bolt.faker.sentence(3),
      cardMetaItems: [
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "#{bolt.faker.numberBetween(2,10)} Modules",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "1 Challenge",
        }, false),
        macros.include("@bolt-components-headline/text.twig", {
          size: "small",
          weight: "bold",
          text: "10% complete",
          attributes: {
            class: ["u-bolt-color-orange"]
          }
        }, false)
      ],
      cardGradient: "pink",
      cardIcon: "launchpad",
      cardDescription: bolt.faker.paragraph(2),
      cardUtilityItems: [
        macros.include("@bolt-elements-button/button.twig", {
          content: "Share",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _share_icon,
          attributes: {
            type: 'button'
          }
        }, false),
        macros.include("@bolt-elements-button/button.twig", {
          content: "Remove from Dashboard",
          size: "xsmall",
          hierarchy: "tertiary",
          icon_only: _close_icon,
          attributes: {
            type: 'button'
          }
        }, false),
      ],
      cardStatusItems: [
        macros.include("@bolt-components-headline/eyebrow.twig", {
          text: "Last activity: 12/21/19",
          align: "center",
          attributes: {
            class: ["u-bolt-padding-small"]
          }
        }, false)
      ]
    },
] %}


{# @todo: uncomment + rename the cardContentItems variable used in the include w/ processedCards below to auto-add extra whitespace to better equalize card heights #}

{#
{% set maxLength = 0 %}
{% for item in cardContentItems %}
  {% if item.cardTitle | length > maxLength %}
    {% set maxLength = item.cardTitle | length %}
  {% endif %}
{% endfor %}

{% set processedCards = [] %}
{% for item in cardContentItems %}
  {% if item.cardTitle | length < maxLength %}
    {% set numberOfExtraChars = maxLength - item.cardTitle | length %}
    {% set extraChars = '' %}

    {% for i in 0..numberOfExtraChars %}
      {% set extraChars = extraChars ~ '&emsp;' %}
    {% endfor %}
    {% set item = item | merge({
      cardTitle: item.cardTitle ~ ' ' ~ extraChars
    }) %}
  {% endif %}

  {% set processedCards = processedCards | merge([item]) %}
{% endfor %} #}

{% if showAll %}
  {% set count %}{% spaceless %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "(12)",
      size: "small",
      tag: "span",
      attributes: {
        class: [
          "u-bolt-inline"
        ]
      }
    } only %}
  {% endspaceless %}{% endset %}
  {% set sectionTitle = "My Missions " ~ count %}
  {% set sectionButtons = false %}
  {% set useCarousel = false %}
{% endif %}

{% if addMission %}
  {% set content %}
    <div class="u-bolt-padding-medium u-bolt-padding-top-xlarge u-bolt-padding-bottom-xlarge u-bolt-text-align-center">
      {% include "@bolt-elements-icon/icon.twig" with {
        name: "add",
        size: "large",
        attributes: {
          class: [
            "u-bolt-margin-bottom-small",
            "u-bolt-color-gray"
          ]
        }
      }%}
      {% include "@bolt-components-headline/text.twig" with {
        text: "Add Mission",
        size: "xlarge",
        attributes: {
          class: [
            "u-bolt-color-gray"
          ]
        }
      } only %}
    </div>
  {% endset %}

  {% set emptyCard %}
    {% include "@bolt-components-card-replacement/card-replacement.twig" with {
      link: {
        url: "#!",
        text: "Add Mission"
      },
      theme: "none",
      body: {
        content: content
      }
    } only %}
  {% endset %}

  {% set cardContentItems = [emptyCard] %}
  {% set sectionButtons = false %}
{% endif %}


{% include "@bolt-academy/_dashboard-band.twig" with {
  sectionTitle: sectionTitle|default("My Missions"),
  theme: "light",
  sectionButtons: sectionButtons ?? [
    macros.include("@bolt-elements-button/button.twig", {
      content: "Show all (12)",
      size: "small",
      hierarchy: "secondary",
      border_radius: "full",
      attributes: {
        type: 'button'
      }
    }, false),
    macros.include("@bolt-elements-button/button.twig", {
      content: "Add Missions",
      size: "large",
      hierarchy: "transparent",
      icon_before: _add_icon,
      attributes: {
        type: 'button'
      }
    }, false),
  ],
  useCarousel: useCarousel,
  contentItems: cardContentItems
} only %}
