<h2>When used straight out of the box, the <code>playback rate</code> and <code>cue</code> plugins are enabled by default.</h2>

{% include "@bolt/video.twig" with {
  "videoId": "5830697097001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}
