<h2>When used straight out of the box, the <code>playback rate</code> plugin is now enabled by default.</h2>

{% include "@bolt/video.twig" with {
  "videoId": "5830697097001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW"
} only %}