// @import 'tools-spacing/tools.get-shirt-size';
// @import 'tools-spacing/tools.calculate-sizes';
// @import 'tools-spacing/tools.normalize-spacing-name';
@import '@bolt/settings-spacing';
@import '@bolt/tools-strip-unit';
@import 'libs/tools.contains-falsy';
@import 'libs/tools.normalize-spacing-sizes';
@import 'libs/tools.collapse-directionals';
@import 'libs/tools.directional-property';
@import 'libs/tools.spacing-margin';
@import 'libs/tools.spacing-padding';
@import '@bolt/tools-export-data'; //So we can export spacing sizes to JSON

/*
 * Generate default spacing scale, based off of the base font size
 **/
@function _bolt-create-spacing-map($sizes, $char: '') {
  $map: ();
  @each $name, $value in $sizes {
    $keyName: $name;
    @if ($char != '' and $keyName != null) {
      $keyName: $char + $keyName;
    }
    $keyValue: $value * $bolt-spacing-gutter;
    $map: map-merge($map, ($keyName: $keyValue));
  }
  @return $map;
}
$bolt-spacing-sizes: _bolt-create-spacing-map($bolt-spacing-values);
$bolt-spacing-sizes: bolt-export-data('spacing/bolt-spacing-sizes.data.json', $bolt-spacing-sizes, $prefix: '{ "boltSpacingSizes":', $suffix: '}');


// $bolt-spacing-sizes-js: ();
// /* stylelint-disable */
// $bolt-spacing-sizes-js: bolt-export-data(
//   'spacing-sizes.js', // filename being output in the src/_data folder
//   $bolt-spacing-sizes-js, // Empty array
//   $prefix: "/* eslint-disable */ /** Automatically generated by _tools.spacing.scss on every compile ", 
//   $suffix: "; */ \
//   const spacingSizes = require('./spacing-sizes.data.json').boltSpacingSizes; \
//     export default spacingSizes;");
// /* stylelint-enable */


/*
 * CONVENIENCE FUNCTIONS
 **/
@function bolt-spacing($size) {
  @return map-get($bolt-spacing-sizes, nth($size, 1));
}


// Convert shirt sizes in baseline-optimized sizes
@function bolt-v-spacing($sizes, $modifier: null) {
  @if ($modifier == 'squished') {
    $modifier: $bolt-spacing-squished;
  } @elseif ($modifier == 'stretched') {
    $modifier: $bolt-spacing-stretched;
  } @else {
    $modifier: 1;
  }

  @return (bolt-spacing($sizes) / bolt-strip-unit($bolt-spacing-gutter)) * $bolt-spacing-leading * $modifier;
}

// Alias for v-spacing function
@function bolt-vertical-spacing($size) {
  @return bolt-v-spacing($size);
}
