<h2>Character Docs</h2>
<h3>Usage</h3>
{% set code %}
<bolt-character size="small"></bolt-character>
{% endset %}

{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  display: "block",
  lang: "html",
  content: code,
} only %}

<h3>Schema</h3>
{% set schema = bolt.data.components["@bolt-micro-journeys"].schema.character %}
{% include '@utils/schema-docs.twig' with { schema: schema } only %}

<h3>Slots</h3>
{% set header %}
  {% set cells %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'Name',
      header: true,
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'Required?',
      header: true,
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'Description',
      header: true,
    } only %}
  {% endset %}
  {% include '@bolt-components-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '<code>top</code>',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'No',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '',
    } only %}
  {% endset %}
  {% include '@bolt-components-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '<code>right</code>',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'No',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '',
    } only %}
  {% endset %}
  {% include '@bolt-components-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '<code>bottom</code>',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'No',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '',
    } only %}
  {% endset %}
  {% include '@bolt-components-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row4 %}
  {% set cells %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '<code>left</code>',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: 'No',
    } only %}
    {% include '@bolt-components-table/table-cell.twig' with {
      content: '',
    } only %}
  {% endset %}
  {% include '@bolt-components-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% include '@bolt-components-table/table.twig' with {
  header: {
    content: header,
  },
  body: {
    content: [
      row1,
      row2,
      row3,
      row4,
    ],
  },
  attributes: {
    class: [
      'u-bolt-block'
    ]
  }
} only %}

