{% set content %}
  <div class="u-bolt-padding-xlarge">
    <bolt-character
        character-custom-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
    >
      <bolt-animate slot="top" idle="none">
        Slot: top
      </bolt-animate>
      <bolt-animate slot="left" idle="none">
        Slot: left
      </bolt-animate>
      <bolt-animate slot="right" idle="none">
        Slot: right
      </bolt-animate>
      <bolt-animate slot="bottom" idle="none">
        Slot: bottom
      </bolt-animate>
    </bolt-character>
  </div>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
