{% set content %}
  <div class="u-bolt-padding-large">
    <bolt-list display="inline" spacing="small">
      <bolt-text>Horizontal Icon Group</bolt-text>
      <bolt-list-item>
        {% include '@bolt-elements-icon/icon.twig' with { name: 'mobility', size: 'large' } only %}
      </bolt-list-item>
      <bolt-list-item>
        {% include '@bolt-elements-icon/icon.twig' with { name: 'documentation', size: 'large' } only %}
      </bolt-list-item>
      <bolt-list-item last="">
        {% include '@bolt-elements-icon/icon.twig' with { name: 'print', size: 'large' } only %}
      </bolt-list-item>
    </bolt-list>
    <bolt-text>Vertical Icon Group</bolt-text>
    <bolt-list display="block" spacing="small">
      <bolt-list-item>
        {% include '@bolt-elements-icon/icon.twig' with { name: 'mobility', size: 'large' } only %}
      </bolt-list-item>
      <bolt-list-item>
        {% include '@bolt-elements-icon/icon.twig' with { name: 'documentation', size: 'large' } only %}
      </bolt-list-item>
      <bolt-list-item last="">
        {% include '@bolt-elements-icon/icon.twig' with { name: 'print', size: 'large' } only %}
      </bolt-list-item>
    </bolt-list>
  </div>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
