@import '@bolt/core-v3.x';

// @todo: in next minor release (v2.30) test removing ':host' altogether.
// Icon always renders to light dom, so ':host' should not be necessary.
@include bolt-repeat-rule(('bolt-icon', ':host(bolt-icon)')) {
  display: inline-grid;
  place-items: center;
  vertical-align: middle;
  transition: inherit;

  &:not([size]) {
    width: 1em; // Default icon size if size prop not specified
    height: 1em; // Default icon size if size prop not specified
  }

  &:not(:resolved) {
    height: 0;
    padding-bottom: 100%; // Default square icons
  }
}

.c-bolt-icon {
  display: block;
  position: relative;
}

.c-bolt-icon__icon {
  display: block; // required for vertically aligning icons
  box-sizing: border-box;
  position: relative;
  width: 1em;
  height: 1em;
  pointer-events: none;

  &--small {
    width: 16px;
    height: 16px;
  }

  &--medium {
    width: 24px;
    height: 24px;
  }

  &--large {
    width: 32px;
    height: 32px;
  }

  &--xlarge {
    width: 38px;
    height: 38px;
  }
}

.c-bolt-icon--small > .c-bolt-icon__icon {
  stroke: currentColor;
  stroke-width: 1px;
}

// padding added internally when a background (outline or solid color) is used
.c-bolt-icon--small.has-background {
  padding: 6px;
}

.c-bolt-icon--medium.has-background {
  padding: 8px;
}

.c-bolt-icon--large.has-background {
  padding: 12px;
}

.c-bolt-icon--xlarge.has-background {
  padding: 13px;
}

.c-bolt-icon__background {
  fill: currentColor;
  fill: var(--bolt-theme-text, currentColor);
}

.c-bolt-icon__background-shape {
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;

  @supports (--css: variables) {
    opacity: var(--bolt-theme-icon-background-opacity, 0.1);
    background-color: var(
      --bolt-theme-icon-background,
      var(--bolt-theme-primary-text-default, currentColor)
    );
  }
}

.c-bolt-icon__background-shape--circle {
  border-radius: 50%;
}

.c-bolt-icon__background-shape--square {
  border-radius: $bolt-border-radius;
  border-radius: #{var(--bolt-theme-icon-radius, #{$bolt-border-radius})};
}

.c-bolt-icon__background-shape--outline {
  opacity: 0.8;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  background-color: transparent;
}

// helper function to generate pre-defined color palettes for icons + backgrounds
// optionally allows for the icon color (when used by itself or with an "outline" background) to be a different color than the one used when the icon is inverted on a solid color background
@mixin bolt-icon-theme($name, $iconColor, $backgroundColor: '') {
  .c-bolt-icon--#{$name} {
    @if $backgroundColor == '' {
      $backgroundColor: $iconColor;
    }

    color: $iconColor;
    @include bolt-css-vars(
      (
        --bolt-theme-icon: $iconColor,
      )
    );
    filter: drop-shadow(0px 0px 1px rgba(bolt-text-contrast($iconColor), 0.2));

    &.has-background {
      @include bolt-css-vars(
        (
          --bolt-theme-icon: bolt-text-contrast($backgroundColor),
          --bolt-theme-icon-background: $backgroundColor,
          --bolt-theme-icon-background-opacity: bolt-opacity(100),
        )
      );

      color: bolt-text-contrast($backgroundColor);

      .c-bolt-icon__background-shape {
        opacity: bolt-opacity(100);
        background-color: $backgroundColor;
      }

      &.c-bolt-icon--white {
        .c-bolt-icon__background-shape {
          border: 1px solid rgba(bolt-color(gray, dark), 0.5);
        }
      }
    }
  }
}

// tweak the pre-defined colors depending on if they are used on dark or light backgrounds
:root,
.t-bolt-light,
.t-bolt-xlight {
  @include bolt-icon-theme(gray, bolt-color(gray, dark));
  @include bolt-icon-theme(navy, bolt-color(navy, light));
  @include bolt-icon-theme(orange, bolt-color(orange));
  @include bolt-icon-theme(teal, bolt-color(teal));
  @include bolt-icon-theme(
    yellow,
    bolt-color(yellow, dark),
    bolt-color(yellow)
  );
  @include bolt-icon-theme(pink, bolt-color(pink));
  @include bolt-icon-theme(berry, bolt-color(berry));
  @include bolt-icon-theme(wine, bolt-color(wine));
  @include bolt-icon-theme(violet, bolt-color(violet));
}

.t-bolt-dark,
.t-bolt-xdark {
  @include bolt-icon-theme(gray, bolt-color(gray), bolt-color(gray, dark));
  @include bolt-icon-theme(
    navy,
    bolt-color(navy, xlight),
    bolt-color(navy, light)
  );
  @include bolt-icon-theme(
    orange,
    bolt-color(orange, light),
    bolt-color(orange)
  );
  @include bolt-icon-theme(teal, bolt-color(teal, light), bolt-color(teal));
  @include bolt-icon-theme(yellow, bolt-color(yellow), bolt-color(yellow));
  @include bolt-icon-theme(pink, bolt-color(pink));
  @include bolt-icon-theme(berry, bolt-color(berry));
  @include bolt-icon-theme(wine, bolt-color(wine));
  @include bolt-icon-theme(violet, bolt-color(violet));
}
