<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <bolt-text headline>Warning! The Hero component is deprecated.</bolt-text>
  <bolt-ol>
    <bolt-li>No new features will be added to this component.</bolt-li>
    <bolt-li>See each page under Components/Hero section in the navigation to reference old documentation.</bolt-li>
    <bolt-li>For any new instances of a hero please use <a href="{{ link['viewall-layouts-layout'] }}" class="e-bolt-text-link">layout</a>. Exammple heroes using layout can be found <a href="{{ link['viewall-pages-heroes-with-layout'] }}" class="e-bolt-text-link">here</a>.</bolt-li>
  </bolt-ol>
</bolt-banner>
