<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <bolt-text headline>Warning! The Hero component is deprecated.</bolt-text>
  <bolt-ol>
    <bolt-li>No new features will be added to this component.</bolt-li>
    <bolt-li>See each page under Components/Hero section in the navigation to reference old documentation.</bolt-li>
    <bolt-li>Existing Hero examples can be rebuilt with Layout, reference <a href="{{ link['viewall-pages-heroes-with-layout'] }}" class="e-bolt-text-link">these mockups</a>.</bolt-li>
    <bolt-li><a href="{{ link['viewall-layouts-layout'] }}" class="e-bolt-text-link">Layout</a> covers everything the deprecated Hero component can do, please use that going forward.</bolt-li>
  </bolt-ol>
</bolt-banner>
