<p>Band: Flag with One Button</p>
{% include '@bolt-components-band/band--flag.twig' with {
  eyebrow: {
    text: "Who is Pega?"
  },
  headline: {
    text: "Pega is #1 in software for customer engagement and operational excellence."
  },
  buttons: [
    {
      text: "Example button #1",
      style: "primary"
    }
  ]
} %}

<p>Band: Flag with Two Buttons</p>
{% include '@bolt-components-band/band--flag.twig' with {
  eyebrow: {
    text: "Who is Pega?"
  },
  headline: {
    text: "Pega is #1 in software for customer engagement and operational excellence."
  },
  buttons: [
    {
      text: "Learn More",
      style: "primary"
    },
    {
      text: "About Pega",
      style: "secondary"
    }
  ]
} %}

<p>Band: Flag with Two Long Buttons</p>
{% include '@bolt-components-band/band--flag.twig' with {
  eyebrow: {
    text: "Who is Pega?"
  },
  headline: {
    text: "Pega is #1 in software for customer engagement and operational excellence."
  },
  buttons: [
    {
      text: "Example button #1",
      style: "primary"
    },
    {
      text: "Example button #2",
      style: "secondary"
    }
  ]
} %}

