@import '@bolt/settings-global';
@import '@bolt/settings-colors';
@import '@bolt/settings-font-size';
@import '@bolt/settings-font-weight';
@import '@bolt/tools-spacing';
@import '@bolt/tools-color-palette';
@import '@bolt/tools-font-size';
@import '@bolt/tools-font-weight';




/* ------------------------------------ *\
   Navbar
\* ------------------------------------ */


// Navbar styles
.c-bolt-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.c-bolt-navbar__title {
  @include bolt-margin(0 small 0 0);

  white-space: nowrap;
}

.c-bolt-navbar__title-item {
  display: inline-block;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;

  & + .c-bolt-navbar__title-item {
    @include bolt-margin-left(xsmall);
  }
}

.c-bolt-navbar__nav {
  @include bolt-margin(0 0 0 small);

  // TODO: [Mai] The following is a hack to hide the nav on small screens, there should be a better option to hide and show in the future from the design team.
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}

.c-bolt-navbar__title {
  &:only-child {
    @include bolt-margin(0 auto 0 0);
  }
}

.c-bolt-navbar__nav {
  &:only-child {
    @include bolt-margin(0 auto);
  }
}





/* ------------------------------------ *\
   Nav List
\* ------------------------------------ */

$bolt-nav-list-link-border-size: 2px;
$bolt-nav-list-link-border-animation-timing: $bolt-transition-timing*2;
$bolt-nav-list-link-bg-color: rgba(bolt-color(gray), 0.2);
$bolt-nav-list-link-bg-border-radius: $bolt-border-radius;
$bolt-nav-list-link-bg-animation-timing: $bolt-transition-timing*4;


// Nav List Component
.c-bolt-nav-list {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: flex;
  position: relative;
  list-style: none;
}

.c-bolt-nav-list__indicator {
  position: absolute;
  left: 0;
  height: $bolt-nav-list-link-border-size;
  background-color: currentColor;
  background-color: var(--bolt-theme-heading, currentColor);
  transition: all $bolt-transition;
  will-change: width, transform;

  .c-bolt-nav-list--xsmall & {
    bottom: (bolt-v-spacing(xsmall) * -1);
  }

  .c-bolt-nav-list--small & {
    bottom: (bolt-v-spacing(medium) * -1); // TODO: [Mai] When the band spacing options are fixed, small should map to small, not medium here.
  }

  // Vertical spacing options for future use.
  // .c-bolt-nav-list--medium &
  //   bottom: (bolt-v-spacing(medium) * -1);
  // }
  //
  // .c-bolt-nav-list--large &
  //   bottom: (bolt-v-spacing(large) * -1);
  // }
  //
  // .c-bolt-nav-list--xlarge &
  //   bottom: (bolt-v-spacing(xlarge) * -1);
  // }
}

.c-bolt-nav-list__item-link {
  @include bolt-padding(small, squished);
  @include bolt-font-size(small);
  @include bolt-font-weight(semibold);

  display: block;
  position: relative;
  white-space: nowrap;
  opacity: 0.8;
  transition: opacity $bolt-transition;

  &:hover, &:active,
  &.is-hover, &.is-active {
    opacity: 1;
  }

  &:before {
    display: block;
    position: absolute;
    content: '';
    background-color: $bolt-nav-list-link-bg-color;
    transform: scale3d(0, 0, 0);
  }

  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $bolt-nav-list-link-bg-border-radius;
  }

  &:hover,
  &.is-hover {
    &:before {
      animation:
        a-bolt-navbar-link-bg-hover
        $bolt-nav-list-link-bg-animation-timing
        both;
    }
  }

  &:active,
  &.is-active {
    &:before {
      animation: none;
    }
  }
}


@keyframes a-bolt-navbar-link-bg-hover {
  0% {
    transform: scale3d(0, 0, 0);
  }

  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  40% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  60% {
    transform: scale3d(1, 1, 1);
  }

  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

