$bolt-navbar-link-border-radius: $bolt-border-radius;



.c-bolt-navbar {
  display: flex;
  align-items: center;
}

.c-bolt-navbar__title {
  @include bolt-margin(0 auto 0 0);

  display: inline-block;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: middle;
}

.c-bolt-navbar__items {
  @include bolt-margin(0 0 0 auto);
  @include bolt-padding(0);

  display: inline-flex;
  list-style: none;
  white-space: nowrap;
}

.c-bolt-navbar__link {
  @include bolt-padding(small, squished);
  @include bolt-font-weight(semibold);

  display: block;
  position: relative;

  &:before, &:after {
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    content: '';
    background-color: rgba(bolt-color(gray), 0.2);
    transition: all $bolt-transition;
  }

  &:before {
    top: 50%;
    height: 0;
    border-radius: $bolt-navbar-link-border-radius;
  }

  &:after {
    height: 2px;
    bottom: 2px;
  }

  &:hover {
    &:before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &:active, &:target {
    &:before {
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
    }

    &:after {
      left: 0;
      width: 100%;
      background-color: currentColor;
      background-color: var(--bolt-theme-heading, currentColor);
    }
  }
}
