/* ------------------------------------ *\
   Table of Contents
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Older versions of Edge
bolt-toc {
  display: block;

  &[sticky] {
    position: sticky;
    top: 0;
  }
}

// newer versions of Edge + Chrome, Safari, and Firefox
:host {
  display: block;

  &[sticky] {
    position: sticky;
    top: 0;
  }
}

.c-bolt-toc {
  @include bolt-shadow('level-20');
  display: block;
  overflow: hidden;
  border: 1px solid $bolt-border-color;
  border-radius: bolt-border-radius(large);
}

.c-bolt-toc__header {
  display: block;
  margin: 0;
  padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-small);
  color: bolt-theme(background);
  line-height: var(--bolt-type-line-height-large);
  font-family: var(--bolt-type-font-family-headline);
  font-size: var(--bolt-type-font-size-large);
  font-weight: var(--bolt-type-font-weight-bold);
  background-color: bolt-theme(headline);

  &--hidden {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-toc__list {
  display: block;
  margin: 0;
  padding: var(--bolt-spacing-y-small) 0;
  list-style: none;
}
