{# Site nav #}
{% set site_nav_lv2_list_items = [
  {
    link: {
      content: 'Level 2 item 1',
      attributes: {
        href: 'https://pega.com/products',
      },
    },
    nested: {
      desktop_heading: true,
    },
  },
  {
    link: {
      content: 'Level 2 item 2',
      attributes: {
        href: 'https://pega.com/customers',
      },
    },
    nested: {
      desktop_heading: true,
    },
  },
] %}

{% set site_nav_lv2_ul_content = [] %}
{% for list_item in site_nav_lv2_list_items %}
  {% set site_nav_lv2_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv2_ul_content = site_nav_lv2_ul_content|merge([site_nav_lv2_li]) %}
{% endfor %}

{% set site_nav_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv2_ul_content|join,
  } only %}
{% endset %}

{% set site_nav_lv1_list_items = [
  {
    link: {
      content: 'Products',
    },
    nested: {
      content: site_nav_lv2,
    },
  },
  {
    link: {
      content: 'Customers',
    },
    nested: {
      content: site_nav_lv2,
    },
  },
  {
    link: {
      content: 'Not Nested',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  },
] %}

{% set site_nav_lv1_ul_content = [] %}
{% for list_item in site_nav_lv1_list_items %}
  {% set site_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv1_ul_content = site_nav_lv1_ul_content|merge([site_nav_lv1_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv1_ul_content|join,
    category: 'site',
  } only %}
{% endset %}

{# User nav #}
{% set icon_user %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'user',
  } only %}
{% endset %}
{% set icon_global %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'global',
  } only %}
{% endset %}

{% set user_popover_list_items = [
  {
    link: {
      content: 'Level 2 item 1',
    },
  },
  {
    link: {
      content: 'Level 2 item 2',
    },
  },
] %}

{% set user_popover_ul_content = [] %}
{% for list_item in user_popover_list_items %}
  {% set user_popover_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set user_popover_ul_content = user_popover_ul_content|merge([user_popover_li]) %}
{% endfor %}

{% set user_popover %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_popover_ul_content|join,
    nested: true,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set user_nav_lv1_list_items = [
  {
    link: {
      content: icon_user ~ 'User: Bill',
    },
    nested: {
      content: user_popover,
    },
    popover: true,
  },
  {
    link: {
      content: icon_global ~ 'Language: English',
    },
    nested: {
      content: user_nav_lv2,
    },
    popover: true,
  },
] %}

{% set user_nav_lv1_ul_content = [] %}
{% for list_item in user_nav_lv1_list_items %}
  {% set user_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set user_nav_lv1_ul_content = user_nav_lv1_ul_content|merge([user_nav_lv1_li]) %}
{% endfor %}

{% set user_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_nav_lv1_ul_content|join,
    category: 'user',
  } only %}
{% endset %}

{# Put all the navs together #}
{% set primary_nav %}
  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    site_nav: site_nav,
    user_nav: user_nav,
    related_sites_nav: related_sites_nav,
  } only %}
{% endset %}

{# Search Panel #}
{% set search_input %}
  <form>
    {% include '@bolt-components-typeahead/typeahead.demo.twig' only %}
  </form>
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    search_input: search_input,
    helper_text: 'Placeholder for helper text.',
  } only %}
{% endset %}

{# Secondary Nav #}
{% set secondary_nav %}
  {% include '@bolt-components-navbar/navbar.twig' with {
    title: {
      tag: 'div',
      text: 'Subnav',
      icon: {
        name: 'marketing-gray'
      }
    },
    links: [
      {
        text: 'Real-Time AI',
        url: '#!'
      },
      {
        text: 'End-to-end Automation',
        url: '#!'
      },
      {
        text: 'Journey-centric Delivery',
        url: '#!'
      },
      {
        text: 'Low Code',
        url: '#!'
      },
      {
        text: 'Multi-dimensional Power Long Title',
        url: '#!'
      },
      {
        text: 'Cloud Choice',
        url: '#!'
      }
    ]
  } only %}
{% endset %}

{# Page Header #}
{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo.svg',
    label: 'Pegasystems',
    url: 'https://pega.com',
  },
  search_panel: search_panel,
  primary_nav: primary_nav,
  secondary_nav: secondary_nav,
  cta: {
    url: 'https://pega.com/products/try-now',
    content: 'Try Pega',
  }
} only %}
