{% set site_nav_l2_list_items = [
  {
    link: {
      text: 'Level 2 item 1',
      attributes: {
        href: 'https://pega.com/products',
      },
    },
    nested: {
      desktop_heading: true,
    },
  },
  {
    link: {
      text: 'Level 2 item 2',
      attributes: {
        href: 'https://pega.com/customers',
      },
    },
    nested: {
      desktop_heading: true,
    },
  },
] %}

{% set l2_nav_content = [] %}

{% for list_item in site_nav_l2_list_items %}
  {% set site_nav_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set l2_nav_content = l2_nav_content|merge([site_nav_li]) %}
{% endfor %}

{% set l2_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: l2_nav_content|join,
  } only %}
{% endset %}

{% set site_nav_l1_list_items = [
  {
    link: {
      text: 'Products',
      attributes: {
        href: 'https://pega.com/products',
      },
    },
    nested: {
      content: l2_nav,
    },
  },
  {
    link: {
      text: 'Customers',
      attributes: {
        href: 'https://pega.com/customers',
      },
    },
    nested: {
      content: l2_nav,
    },
  },
] %}

{% set site_nav_content = [] %}

{% for list_item in site_nav_l1_list_items %}
  {% set site_nav_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_content = site_nav_content|merge([site_nav_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_content|join,
    category: 'site',
  } only %}
{% endset %}

{% set primary_nav %}
  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    site_nav: site_nav,
    user_nav: user_nav,
    related_sites_nav: related_sites_nav,
  } only %}
{% endset %}

{# Search Panel #}
{% set search_input %}
  <form>
    {% include '@bolt-components-typeahead/typeahead.demo.twig' only %}
  </form>
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    search_input: search_input,
    helper_text: 'Placeholder for helper text.',
  } only %}
{% endset %}

{# Secondary Nav #}
{% set secondary_nav %}
  {% include '@bolt-components-navbar/navbar.twig' with {
    title: {
      tag: 'div',
      text: 'Subnav',
      icon: {
        name: 'marketing-gray'
      }
    },
    links: [
      {
        text: 'Real-Time AI',
        url: '#!'
      },
      {
        text: 'End-to-end Automation',
        url: '#!'
      },
      {
        text: 'Journey-centric Delivery',
        url: '#!'
      },
      {
        text: 'Low Code',
        url: '#!'
      },
      {
        text: 'Multi-dimensional Power Long Title',
        url: '#!'
      },
      {
        text: 'Cloud Choice',
        url: '#!'
      }
    ]
  } only %}
{% endset %}

{# Page Header #}
{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo.svg',
    label: 'Pegasystems',
    url: 'https://pega.com',
  },
  search_panel: search_panel,
  primary_nav: primary_nav,
  secondary_nav: secondary_nav,
  cta: {
    url: 'https://pega.com/products/try-now',
    content: 'Try Pega',
  }
} only %}
