{% set description %}
    A description of the element and what it is used for.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this element and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set schema = bolt.data.components['@bolt-components-list'].schema %}
  {% set spacing = schema.properties.spacing.enum %}
  {% set display = schema.properties.display.enum %}
  {% set placeholder_1 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Item 1',
      size: 'xsmall',
    } only %}
  {% endset %}
  {% set placeholder_2 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Item 2',
      size: 'xsmall',
    } only %}
  {% endset %}
  {% set placeholder_3 %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Item 3',
      size: 'xsmall',
    } only %}
  {% endset %}
  {% set list_items %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_1,
    } only %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_2,
    } only %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_3,
    } only %}
  {% endset %}
  {% for display in display %}
    {% for spacing in spacing %}
      <h3>{{ display|capitalize }} list with spacing ({{ spacing }})</h3>
      {% include '@bolt-elements-list/list.twig' with {
        spacing: spacing,
        display: display,
        items: list_items,
      } only %}
    {% endfor %}
  {% endfor %}
{% endset %}

{% set twig_markup %}{% verbatim %}
TBA
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<ul class="e-bolt-list">
  <li class="e-bolt-list__item">TBA</li>
</ul>
{% endverbatim %}
{% endset %}
{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic List',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
