{% set description %}
  Adjust the List Element's items vertical alignment.
{% endset %}

{% set notes %}
  The <code>valign</code> prop will only work with the <code>horizontal</code>  value for the <code>display</code> prop.
{% endset %}

{% set demo %}
{% set schema = bolt.data.components['@bolt-elements-list'].schema['list'] %}
{% set placeholder_1 %}
  {% include '@bolt-components-placeholder/placeholder.twig' with {
    text: 'Item 1',
    size: 'small',
  } only %}
{% endset %}
{% set placeholder_2 %}
  {% include '@bolt-components-placeholder/placeholder.twig' with {
    text: 'Item 2',
    size: 'medium',
  } only %}
{% endset %}
{% set placeholder_3 %}
  {% include '@bolt-components-placeholder/placeholder.twig' with {
    text: 'Item 3',
    size: 'large',
  } only %}
{% endset %}
{% set list_items %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: placeholder_1,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: placeholder_2,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: placeholder_3,
  } only %}
{% endset %}

{% for valign in schema.properties.valign.enum %}
  {% for display in schema.properties.display.enum %}
    {% if display != 'vertical' %}
      <h3>Horizontally align {{ display }} items: {{ align }}</h3>
      {% include '@bolt-elements-list/list.twig' with {
        display: display,
        valign: valign,
        items: list_items
      } only %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-elements-list/list.twig' with {
  valign: 'start',
  items: list_items
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<ul class="e-bolt-list e-bolt-list--valign-start">
  <li class="e-bolt-list__item">First item</li>
  <li class="e-bolt-list__item">Second item</li>
  <li class="e-bolt-list__item">Third item</li>
</ul>
{% endverbatim %}
{% endset %}
{% include '@utils/pattern-doc-page.twig' with {
  title: 'List Element with Vertically Aligned Variations',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
