{# Only demo purpose #}
<style>
  .list-demo {
    background: var(--bolt-color-navy-xlight);
    border: 2px dashed #545da6;
  }
  .list-demo--buttons {
    display: inline-block;
  }
</style>

{% set description %}
  The List Element represents a list of items.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List Element is for grouping a collection of items and shouldn't be used for creating layouts. For creating a page layout, it's recommended to use <a href="{{ link['viewall-layouts-layout'] }}" class="e-bolt-text-link">Layout</a>.</bolt-li>
    <bolt-li>Below are examples of List Element usage inside a layout. The blue color indication is only for demo purpose.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set placeholder_1 %}
    {% set icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'pega-people',
      } only %}
    {% endset %}
    {% include '@bolt-elements-shape/shape.twig' with {
      content: icon,
      size: 'xlarge',
      attributes: {
        class: 't-bolt-navy'
      }
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: '<strong class="u-bolt-color-navy-dark">6,500</strong> global employees.',
      size: 'xlarge',
    } only %}
  {% endset %}

  {% set placeholder_2 %}
    {% set icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'industries',
      } only %}
    {% endset %}
    {% include '@bolt-elements-shape/shape.twig' with {
      content: icon,
      size: 'xlarge',
      attributes: {
        class: 't-bolt-navy'
      }
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: '<strong>3</strong> regional HQs in North America, Europe, and Asia Pacific.',
      size: 'xlarge',
    } only %}
  {% endset %}

  {% set placeholder_3 %}
    {% set icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'pega-handshake',
      } only %}
    {% endset %}
    {% include '@bolt-elements-shape/shape.twig' with {
      content: icon,
      size: 'xlarge',
      attributes: {
        class: 't-bolt-navy'
      }
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: '<strong>250+</strong> global partners.',
      size: 'xlarge',
    } only %}
  {% endset %}

  {% set placeholder_4 %}
    {% set icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'ribbon',
      } only %}
    {% endset %}
    {% include '@bolt-elements-shape/shape.twig' with {
      content: icon,
      size: 'xlarge',
      attributes: {
        class: 't-bolt-navy'
      }
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: '<strong>Dozens</strong> of culture & technology awards.',
      size: 'xlarge',
    } only %}
  {% endset %}

  {% set list_items %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_1,
    } only %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_2,
    } only %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_3,
    } only %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: placeholder_4,
    } only %}
  {% endset %}

  {% set section %}
    {% include '@bolt-elements-type/type.twig' with {
      content: 'What characterizes us',
      hierarchy: 'headline',
      tag: 'h2',
      size: 'xxlarge',
    } only %}
    {# this div below is only for demo purpose #}
    <div class="u-bolt-margin-bottom-small list-demo">
    {% include '@bolt-elements-list/list.twig' with {
      display: 'inline@medium',
      spacing: 'medium',
      valign: 'start',
      align: 'justify',
      inset: true,
      inline_full_width: true,
      items: list_items,
      attributes: {
        class: [
        'u-bolt-text-align-center'
        ]
      }
    } only %}
    </div>
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Download corporate fact sheet',
      attributes: {
        type: 'button',
      }
    } only %}
  {% endset %}

  {% set layout_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: section,
      attributes: {
        class: 'u-bolt-text-align-center'
      }
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_items,
  } only %}

  <hr>

  {% set intro %}
    {% include '@bolt-elements-type/type.twig' with {
      content: 'What we do',
      hierarchy: 'headline',
      tag: 'h2',
      size: 'xxlarge',
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: 'The Pega Platform™ makes it simpler for enterprises to work smarter, unify experiences, and adapt instantly. Thanks to our scalable, made-to-measure architecture, even the biggest organizations can stay streamlined and ready for what’s next.',
    } only %}
    {% set list_items %}
      {% set button_1 %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Explore products',
          attributes: {
            href: 'https://google.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-elements-list/list-item.twig' with {
        content: button_1,
      } only %}
      {% set button_2 %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Why Pega',
          hierarchy: 'secondary',
          attributes: {
            href: 'https://google.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-elements-list/list-item.twig' with {
        content: button_2,
      } only %}
    {% endset %}
    {# this div below is only for demo purpose #}
    <div class="u-bolt-padding-small list-demo list-demo--buttons">
    {% include '@bolt-elements-list/list.twig' with {
      display: 'inline',
      items: list_items,
    } only %}
    </div>
  {% endset %}
  {% set layout_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: intro
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_items,
    template: [
      '50@from-medium',
    ],
  } only %}

  <hr>

  {% set intro %}
    {% include '@bolt-elements-type/type.twig' with {
      content: 'Governance',
      hierarchy: 'headline',
      tag: 'h2',
      size: 'xxlarge',
    } only %}
    {% include '@bolt-elements-type/type.twig' with {
      content: 'One of the objectives of Pega is to build a fast-growing, profitable enterprise that rewards our employees, shareholders, and partners. To achieve this, we must continuously earn the trust of our many stakeholders: employees, customers, partners, suppliers, shareholders, government officials, and the general public.',
    } only %}
  {% endset %}

  {% set icon_chevron_right %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'chevron-right',
    } only %}
  {% endset %}
  {% set list_items %}
    {% set list_1 %}
      {% include '@bolt-elements-type/type.twig' with {
        content: 'Code of Conduct',
        hierarchy: 'headline',
        tag: 'h3',
        size: 'large',
        icon_after: icon_chevron_right,
        link_attributes: {
          href: '#!',
        },
      } only %}
    {% endset %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: list_1,
    } only %}
    {% set list_2 %}
      {% include '@bolt-elements-type/type.twig' with {
        content: 'Reporting Accounting Control Concerns',
        hierarchy: 'headline',
        tag: 'h3',
        size: 'large',
        icon_after: icon_chevron_right,
        link_attributes: {
          href: '#!',
        },
      } only %}
    {% endset %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: list_2,
    } only %}
    {% set list_3 %}
      {% include '@bolt-elements-type/type.twig' with {
        content: 'Related Person Transaction Policy',
        hierarchy: 'headline',
        tag: 'h3',
        size: 'large',
        icon_after: icon_chevron_right,
        link_attributes: {
          href: '#!',
        },
      } only %}
    {% endset %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: list_3,
    } only %}
    {% set list_4 %}
      {% include '@bolt-elements-type/type.twig' with {
        content: 'Audit Committee',
        hierarchy: 'headline',
        tag: 'h3',
        size: 'large',
        icon_after: icon_chevron_right,
        link_attributes: {
          href: '#!',
        },
      } only %}
    {% endset %}
    {% include '@bolt-elements-list/list-item.twig' with {
      content: list_4,
    } only %}
  {% endset %}
  {% set list_of_links %}
    {# this div below is only for demo purpose #}
    <div class="u-bolt-padding-small list-demo">
    {% include '@bolt-elements-list/list.twig' with {
      items: list_items,
      separator: 'solid'
    } only %}
    </div>
  {% endset %}
  {% set layout_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: intro
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: list_of_links
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_items,
    template: [
      'halves@from-small',
    ],
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set placeholder_1 %}
  {% set icon %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'pega-people',
    } only %}
  {% endset %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon,
    size: 'xlarge',
    attributes: {
      class: 't-bolt-navy'
    }
  } only %}
  {% include '@bolt-elements-type/type.twig' with {
    content: '<strong class="u-bolt-color-navy-dark">6,500</strong> global employees.',
    size: 'xlarge',
  } only %}
{% endset %}
//More icon sets if needed
{% set list_items %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: placeholder_1,
  } only %}
//More list items if needed
{% endset %}
{% set section %}
  {% include '@bolt-elements-type/type.twig' with {
    content: 'What characterizes us',
    hierarchy: 'headline',
    tag: 'h2',
    size: 'xxlarge',
  } only %}
  {% include '@bolt-elements-list/list.twig' with {
    display: 'inline@medium',
    spacing: 'medium',
    valign: 'start',
    align: 'justify',
    inset: true,
    inline_full_width: true,
    items: list_items,
    attributes: {
      class: [
      'u-bolt-text-align-center'
      ]
    }
  } only %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Download corporate fact sheet',
    attributes: {
      type: 'button',
    }
  } only %}
{% endset %}
{% set layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: section,
    attributes: {
      class: 'u-bolt-text-align-center'
    }
  } only %}
{% endset %}
{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items,
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-layout>
  <bolt-layout-item>
    <h2 class="e-bolt-type e-bolt-type--size-xxlarge e-bolt-type--headline">What characterizes us</h2>
    <ul class="u-bolt-text-align-center e-bolt-list e-bolt-list--display-inline@medium e-bolt-list--spacing-medium e-bolt-list--align-justify e-bolt-list--valign-start e-bolt-list--inset e-bolt-list--inline-full-width">
      <li class="e-bolt-list__item">
        <span class="t-bolt-navy e-bolt-shape e-bolt-shape--xlarge e-bolt-shape--border-radius-full">
          <span class="e-bolt-shape__content">
            <svg class="e-bolt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true">...</svg>
          </span>
        </span>
        <p class="e-bolt-type e-bolt-type--size-xlarge"><strong>6,500</strong> global employees.  </p>
      </li>
      ...
    </ul>
    <button type="button" class="e-bolt-button">Download corporate fact sheet</button>
  </bolt-layout-item>
</bolt-layout>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'List Use Case',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
