/*------------------------------------*\
  Breakpoint variables
\*------------------------------------*/

$bp-xsmall:      320;
$bp-xsmall-px:   320px;
$bp-small:       768;
$bp-small-px:    768px;
$bp-medium:      1280;
$bp-medium-px:   1280px;
$bp-large:       1920;
$bp-large-px:    1920px;
