{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>Always provide a value for the <code>video.title</code> prop. This will provide contextual information for screen readers.</bolt-li>
    <bolt-li>The video poster image from a particular Brightcove video is recommended to be used as the video thumbnail.</bolt-li>
    <bolt-li>Video thumbnail is a visual display with a built in button that can trigger a modal or play a video inline.</bolt-li>
    <bolt-li>The preferred method is to play videos within modals. <a href="{{ link['components-video-thumbnail-use-case-modal'] }}" class="e-bolt-text-link">View use case<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a></bolt-li>
    <bolt-li>If required, a video can be played inline. <a href="{{ link['components-video-thumbnail-use-case-inline'] }}" class="e-bolt-text-link">View use case<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a></bolt-li>
    <bolt-li>The <code>content</code> prop accepts both plain <code>&lt;img&gt;</code> element and Bolt Image element.</bolt-li>
    <bolt-li><code>video.duration</code> prop is optional while recommended.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  <div style="max-width: 60ch">
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          loading: 'lazy',
          width: 400,
          height: 300,
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      video: {
        title: 'Title of the Video',
        duration: '4:55',
      }
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/tout-4x3-climber.jpg',
      alt: 'A Rock Climber',
      background: true,
      loading: 'lazy',
      width: 400,
      height: 300,
    }
  } only %}
{% endset %}
{% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
  content: image,
  video: {
    title: 'Title of the Video',
    duration: '4:55'
  }
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Video Thumbnail',
  description: 'A video thumbnail is an image that displays a play icon and other relevant video information such as duration.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
