{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>Video thumbnail is a graphical element, it is not an interactive element. Interactions should be handled via links and buttons.</bolt-li>
    <bolt-li>It is commonly used as a trigger for video modals. <a href="{{ link['components-video-thumbnail-use-case-modal'] }}" class="e-bolt-text-link">View use case<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a></bolt-li>
    <bolt-li>The <code>content</code> prop accepts both plain <code>&lt;img&gt;</code> element and Bolt Image component.</bolt-li>
    <bolt-li>When passing the <a href="{{ link['viewall-components-icon'] }}" class="e-bolt-text-link">Bolt Image component</a>, <code>ratio</code> prop must be set to false and <code>cover</code> prop set to true.</bolt-li>
    <bolt-li><code>duration</code> prop is optional while recommended.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  <div style="max-width: 60ch">
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          loading: 'lazy',
          width: 400,
          height: 300,
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      duration: '4:55',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/tout-4x3-climber.jpg',
      alt: 'A Rock Climber',
      background: true,
      loading: 'lazy',
      width: 400,
      height: 300,
    }
  } only %}
{% endset %}
{% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
  content: image,
  duration: '4:55',
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Video Thumbnail',
  description: 'A video thumbnail is an image that displays a play icon and other relevant video information such as duration.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
