{% set notes %}
  <bolt-ol>
    <bolt-li>Video thumbnail is a graphical element, it is not an interactive element. Interactions should be handled via links and buttons.</bolt-li>
    <bolt-li>It is commonly used as a trigger for video modals. <a href="{{ link['components-video-thumbnail-use-case-modal'] }}" class="e-bolt-text-link">View use case<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a></bolt-li>
    <bolt-li>The <bolt-code-snippet display="inline">content</bolt-code-snippet> prop accepts both plain <bolt-code-snippet display="inline">&lt;img&gt;</bolt-code-snippet> element and Bolt Image component.</bolt-li>
    <bolt-li>When passing the <a href="{{ link['viewall-components-icon'] }}" class="e-bolt-text-link">Bolt Image component</a>, <bolt-code-snippet display="inline">ratio</bolt-code-snippet> prop must be set to false and <bolt-code-snippet display="inline">cover</bolt-code-snippet> prop set to true.</bolt-li>
    <bolt-li><bolt-code-snippet display="inline">duration</bolt-code-snippet> prop is optional while recommended.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <div style="max-width: 60ch">
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          background: true,
          loading: 'lzy',
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      duration: '4:55',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/tout-4x3-climber.jpg',
      alt: 'A Rock Climber',
      background: true,
      loading: 'lazy',
    }
  } only %}
{% endset %}
{% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
  content: image,
  duration: '4:55',
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Video Thumbnail',
  description: 'A video thumbnail is an image that displays a play icon and other relevant video information such as duration.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
