{% set notes %}
  When using Chip alongside Title, please set its <code>size</code> as <code>small</code>, and its <code>border_radius</code> to match the Video Thumbnail&rsquo;s <code>border_radius</code>.
{% endset %}

{% set demo %}
  <div style="max-width: 60ch">
    {% set chip %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Preview',
        size: 'small',
        border_radius: 'small',
        color: 'violet',
      } only %}
    {% endset %}
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          loading: 'lazy',
          width: 400,
          height: 300,
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      video_title: 'This is a Video Title',
      chip: chip,
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set chip %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Preview',
    size: 'small',
    border_radius: 'small',
    ...
  } only %}
{% endset %}
{% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
  video_title: 'This is a Video Title',
  chip: chip,
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Video Thumbnail Title & Chips',
  description: 'Title & Chips can be added or removed per use case.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
