{% set demo %}
  <div style="max-width: 60ch">
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          background: true,
          loading: 'lazy',
        }
      } only %}
    {% endset %}
    {% set center_component %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Preview',
        size: 'small',
        color: 'yellow'
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      duration: '4:55',
      center_component: center_component,
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
  content: image,
  duration: '4:55',
  center_component: center_component,
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Video Thumbnail Center Component',
  description: 'Add a vertically and horizontally centered component or element to the video thumbnail.',
  demo: demo,
  twig_markup: twig_markup,
} only %}
