{% set description %}
  An example of a Table Element with a table caption.
{% endset %}

{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li><strong>Twig:</strong> Use the <code>caption</code> prop to add a <code>&lt;caption&gt;</code>.</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>&lt;caption&gt;</code> into the <code>&lt;table&gt;</code> to render a table caption.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  {% set row1 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% include '@bolt-elements-table/table.twig' with {
    body: {
      content: [
        row1,
        row2,
        row3,
      ],
    },
    caption: {
      content: 'This is the table caption.',
    },
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set row1 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% include '@bolt-elements-table/table.twig' with {
  body: {
    content: [
      row1,
      row2,
      row3,
    ],
  },
  caption: {
    content: 'This is the table caption.',
  },
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="e-bolt-table">
  <caption>This is the table caption.</caption>
  <tbody>
    <tr>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
    </tr>
    <tr>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
    </tr>
    <tr>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
      <td>This is a regular cell.</td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Element with a Caption',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
