{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>The Table Element is designed to work with both Twig and vanilla HTML (Twig is the recommended method).</bolt-li>
    <bolt-li>Refer to the <a href="{{ link['elements-table-top-side-headers'] }}" class="e-bolt-text-link">Table Element with Top and Side Headers</a> page for information on adding the headers.</bolt-li>
    <bolt-li><strong>Twig:</strong> Use the <code>borderless</code> boolean prop to remove the inner table border (this does not include side headers).</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>e-bolt-table--borderless</code> class to the <code>&lt;table&gt;</code> to remove the inner table border (this does not include side headers).</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  {% include '@bolt-elements-table/table.twig' with {
    borderless: true,
    headers: {
      top: {
        cells: [
          'Description',
          'Team',
          'Vehicle Form',
        ]
      },
      side: {
        cells: [
          'Optimus Prime',
          'Bumblebee',
        ]
      }
    },
    rows: [
      {
        cells: [
          'The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.',
          'Autobots',
          'Peterbilt Truck',
        ]
      },
      {
        cells: [
          'One of Optimus Prime\'s most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.',
          'Autobots',
          'VW Beetle',
        ]
      },
    ],
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-table/table.twig' with {
  borderless: true,
  headers: {
    top: {
      cells: [
        'Description',
        'Team',
        'Vehicle Form',
      ]
    },
    side: {
      cells: [
        'Optimus Prime',
        'Bumblebee',
      ]
    }
  },
  rows: [
    {
      cells: [
        'The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.',
        'Autobots',
        'Peterbilt Truck',
      ]
    },
    {
      cells: [
        'One of Optimus Prime\'s most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.',
        'Autobots',
        'VW Beetle',
      ]
    },
  ],
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="e-bolt-table e-bolt-table--borderless e-bolt-table--side-headers">
  <thead>
    <tr>
      <td></td>
      <th scope="col">Description</th>
      <th scope="col">Team</th>
      <th scope="col">Vehicle Form</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Optimus Prime</th>
      <td>The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.</td>
      <td>Autobots</td>
      <td>Peterbilt Truck</td>
    </tr>
    <tr>
      <th scope="row">Bumblebee</th>
      <td>One of Optimus Prime's most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.</td>
      <td>Autobots</td>
      <td>VW Beetle</td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Element Borderless',
  description: 'Remove the vertical border in between cells.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
