{#
{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>The Table Element is designed to work with both Twig and vanilla HTML (Twig is the recommended method).</bolt-li>
    <bolt-li>Refer to the <a href="{{ link['elements-table-top-header'] }}" class="e-bolt-text-link">Table Element with Top Header</a> page for information on adding a top header.</bolt-li>
    <bolt-li><strong>Twig:</strong> Use the <code>fixed_width_columns</code> prop to adjust the column widths.</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>e-bolt-table--fixed-width-columns--first</code>, <code>e-bolt-table--fixed-width-columns--second</code> or <code>e-bolt-table--fixed-width-columns--first-two</code> class to the <code>&lt;table&gt;</code> to adjust the column widths.</bolt-li>
    <bolt-li>The <code>fixed_width_table</code> boolean prop will disable the <code>fixed_width_columns</code> column adjustments.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  {% set base_table %}
    <h3>Set column widths to be flexible.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      headers: {
        top: {
          cells: [
            'Prop',
            'Number',
            'Description',
            'Type',
          ]
        }
      },
      rows: [
        {
          cells: [
            'attributes',
            '1',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'headers',
            '2',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'rows',
            '3',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>array</code>',
          ]
        },
        {
          cells: [
            'format',
            '4',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>string</code>',
          ]
        },
      ]
    } only %}
  {% endset %}

  {% set flexible_first_column %}
    <h3>Set the width of the first column to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first',
      headers: {
        top: {
          cells: [
            'Prop',
            'Number',
            'Description',
            'Type',
          ]
        }
      },
      rows: [
        {
          cells: [
            'attributes',
            '1',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'headers',
            '2',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'rows',
            '3',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>array</code>',
          ]
        },
        {
          cells: [
            'format',
            '4',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>string</code>',
          ]
        },
      ]
    } only %}
  {% endset %}

  {% set flexible_second_column %}
    <h3>Set the width of the second column to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'second',
      headers: {
        top: {
          cells: [
            'Prop',
            'Number',
            'Description',
            'Type',
          ]
        }
      },
      rows: [
        {
          cells: [
            'attributes',
            '1',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'headers',
            '2',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'rows',
            '3',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>array</code>',
          ]
        },
        {
          cells: [
            'format',
            '4',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>string</code>',
          ]
        },
      ]
    } only %}
  {% endset %}

  {% set flexible_first_two_columns %}
    <h3>Set the width of the first two columns to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first-two',
      headers: {
        top: {
          cells: [
            'Prop',
            'Number',
            'Description',
            'Type',
          ]
        }
      },
      rows: [
        {
          cells: [
            'attributes',
            '1',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'headers',
            '2',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'rows',
            '3',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>array</code>',
          ]
        },
        {
          cells: [
            'format',
            '4',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>string</code>',
          ]
        },
      ]
    } only %}
  {% endset %}

  {% set flexible_first_column_with_fixed_layout %}
    <h3>Fixed Width Prop Override.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first',
      fixed_width_table: true,
      headers: {
        top: {
          cells: [
            'Prop',
            'Number',
            'Description',
            'Type',
          ]
        }
      },
      rows: [
        {
          cells: [
            'attributes',
            '1',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'headers',
            '2',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>object</code>',
          ]
        },
        {
          cells: [
            'rows',
            '3',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>array</code>',
          ]
        },
        {
          cells: [
            'format',
            '4',
            'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
            '<code>string</code>',
          ]
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: base_table,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_column,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_second_column,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_two_columns,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_column_with_fixed_layout,
    spacing: 'medium'
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-table/table.twig' with {
  fixed_width_columns: 'first',
  headers: {
    top: {
      cells: [
        'Prop',
        'Number',
        'Description',
        'Type',
      ]
    }
  },
  rows: [
    {
      cells: [
        'attributes',
        '1',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>object</code>',
      ]
    },
    {
      cells: [
        'headers',
        '2',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>object</code>',
      ]
    },
    {
      cells: [
        'rows',
        '3',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>array</code>',
      ]
    },
    {
      cells: [
        'format',
        '4',
        'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
        '<code>string</code>',
      ]
    },
  ]
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="e-bolt-table e-bolt-table--fixed-width-columns--first">
  <thead>
    <tr>
      <th scope="col">Prop</th>
      <th scope="col">Number</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>attributes</td>
      <td>1</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>object</code></td>
    </tr>
    <tr>
      <td>headers</td>
      <td>2</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>object</code></td>
    </tr>
    <tr>
      <td>rows</td>
      <td>3</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>array</code></td>
    </tr>
    <tr>
      <td>format</td>
      <td>4</td>
      <td>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</td>
      <td><code>string</code></td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Element Fixed Width for First Column',
  description: 'Modifies the first two column widths',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
#}
