{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>The Table Element component is designed to work with both Twig and vanilla HTML (Twig is the recommended method).</bolt-li>
    <bolt-li><strong>Twig:</strong> Use the <code>caption</code> boolean prop to add a <code>&lt;caption&gt;</code>.</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>&lt;caption&gt;</code> into the <code>&lt;table&gt;</code> to render a table caption.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  {% include '@bolt-elements-table/table.twig' with {
    rows: [
      {
        cells: [
          'R1C1',
          'R1C2',
          'R1C3',
        ]
      },
      {
        cells: [
          'R2C1',
          'R2C2',
          'R2C3',
        ]
      },
      {
        cells: [
          'R3C1',
          'R3C2',
          'R3C3',
        ]
      }
    ],
    caption: "This is a caption to this table"
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-table/table.twig' with {
  rows: [
    {
      cells: [
        'R1C1',
        'R1C2',
        'R1C3',
      ]
    },
    {
      cells: [
        'R2C1',
        'R2C2',
        'R2C3',
      ]
    },
    {
      cells: [
        'R3C1',
        'R3C2',
        'R3C3',
      ]
    }
  ],
  caption: "This is a caption to this table"
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="e-bolt-table">
  <caption>This is a caption to this table</caption>
  <tbody>
    <tr>
      <td>R1C1</td>
      <td>R1C2</td>
      <td>R1C3</td>
    </tr>
    <tr>
      <td>R2C1</td>
      <td>R2C2</td>
      <td>R2C3</td>
    </tr>
    <tr>
      <td>R3C1</td>
      <td>R3C2</td>
      <td>R3C3</td>
    </tr>
  </tbody>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Element with a Caption',
  description: 'Add a caption to a Table Element component',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
