{% set description %}
  An example of a Table Element with modified first two column widths.
{% endset %}

{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>Refer to the <a href="{{ link['elements-table-headers-footers'] }}" class="e-bolt-text-link">Table Element with Headers and Footer</a> page for information on adding the headers and footer.</bolt-li>
    <bolt-li><strong>Twig:</strong> Use the <code>fixed_width_columns</code> prop to adjust the column widths.</bolt-li>
    <bolt-li><strong>HTML:</strong> Add a <code>e-bolt-table--fixed-width-columns--first</code>, <code>e-bolt-table--fixed-width-columns--second</code> or <code>e-bolt-table--fixed-width-columns--first-two</code> class to the <code>&lt;table&gt;</code> to adjust the column widths.</bolt-li>
    <bolt-li>The <code>fixed_width_table</code> boolean prop will disable the <code>fixed_width_columns</code> column adjustments. Refer to the <a href="{{ link['elements-table-fixed-width'] }}" class="e-bolt-text-link">Table Element with a Fixed Width Layout</a> page for information.</bolt-li>
    <bolt-li>The pink table cell backgrounds found on this page are for demonstration purposes only.</bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  <style>
    .e-bolt-table--fixed-width-columns--first tr th:first-of-type:not(th:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first tr td:first-of-type:not(td:nth-child(2)),
    .e-bolt-table--fixed-width-columns--second tr th:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr th:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr td:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--second tr td:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type:not(th:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type:not(td:nth-child(2)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type + th:not(th:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr th:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type + td:not(td:nth-child(3)),
    .e-bolt-table--fixed-width-columns--first-two tr td:first-of-type + th:not(th:nth-child(3)) {
      background-color: #ff7b7b;
    }
  </style>
  {% set header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Pts',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Reb',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Ast',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Stl',
        header: true,
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Blk',
        header: true,
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Michael Jordan',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '70',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '1',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Toni Kukoc',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '21',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '15',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '3',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '4',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Steve Kerr',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '20',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '0',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Total',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '91',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '27',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '32',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '13',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row1_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Michael Jordan',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '70',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '1',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Toni Kukoc',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '21',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '15',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '10',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '3',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '4',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Steve Kerr',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '2',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '20',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '0',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer_with_header %}
    {% set cells %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: 'Total',
        header: true
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '91',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '27',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '32',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '13',
      } only %}
      {% include '@bolt-elements-table/table-cell.twig' with {
        content: '5',
      } only %}
    {% endset %}
    {% include '@bolt-elements-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set base_table %}
    <h3>Set column widths to be flexible.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      full_width: true,
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
          row4,
        ],
      },
      footer: {
        content: footer,
      },
    } only %}
  {% endset %}

  {% set flexible_first_column %}
    <h3>Set the width of the first column to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first',
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
          row4,
        ],
      },
      footer: {
        content: footer,
      },
    } only %}
  {% endset %}

  {% set flexible_second_column %}
    <h3>Set the width of the second column to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'second',
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
          row4,
        ],
      },
      footer: {
        content: footer,
      },
    } only %}
  {% endset %}

  {% set flexible_first_two_columns %}
    <h3>Set the width of the first two columns to be as wide as the longest text.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first-two',
      header: {
        content: header,
      },
      body: {
        content: [
          row1,
          row2,
          row3,
          row4,
        ],
      },
      footer: {
        content: footer,
      },
    } only %}
  {% endset %}

  {% set flexible_first_column_with_header %}
    <h3>Set the width of the first column to be as wide as the longest text (with header).</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first',
      header: {
        content: header,
      },
      body: {
        content: [
          row1_with_header,
          row2_with_header,
          row3_with_header,
          row4_with_header,
        ],
      },
      footer: {
        content: footer_with_header,
      },
    } only %}
  {% endset %}

  {% set flexible_second_column_with_header %}
    <h3>Set the width of the second column to be as wide as the longest text (with header).</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'second',
      header: {
        content: header,
      },
      body: {
        content: [
          row1_with_header,
          row2_with_header,
          row3_with_header,
          row4_with_header,
        ],
      },
      footer: {
        content: footer_with_header,
      },
    } only %}
  {% endset %}

  {% set flexible_first_two_columns_with_header %}
    <h3>Set the width of the first two columns to be as wide as the longest text (with header).</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_columns: 'first-two',
      header: {
        content: header,
      },
      body: {
        content: [
          row1_with_header,
          row2_with_header,
          row3_with_header,
          row4_with_header,
        ],
      },
      footer: {
        content: footer_with_header,
      },
    } only %}
  {% endset %}

  {% set flexible_first_column_with_fixed_layout %}
    <h3>Fixed Width Table Prop Override.</h3>
    {% include '@bolt-elements-table/table.twig' with {
      fixed_width_table: true,
      fixed_width_columns: 'first-two',
      header: {
        content: header,
      },
      body: {
        content: [
          row1_with_header,
          row2_with_header,
          row3_with_header,
          row4_with_header,
        ],
      },
      footer: {
        content: footer_with_header,
      },
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: base_table,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_column,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_second_column,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_two_columns,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_column_with_header,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_second_column_with_header,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_two_columns_with_header,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: flexible_first_column_with_fixed_layout,
    spacing: 'medium'
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set header %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Prop',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Number',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Description',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Type',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'attributes',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '1',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '<code>object</code>',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'headers',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '2',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '<code>object</code>',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'rows',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '3',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '<code>array</code>',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row4 %}
  {% set cells %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'format',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '4',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: 'Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.',
    } only %}
    {% include '@bolt-elements-table/table-cell.twig' with {
      content: '<code>string</code>',
    } only %}
  {% endset %}
  {% include '@bolt-elements-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% include '@bolt-elements-table/table.twig' with {
  fixed_width_columns: 'first-two',
  header: {
    content: header,
  },
  body: {
    content: [
      row1,
      row2,
      row3,
      row4,
    ],
  },
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<table class="e-bolt-table e-bolt-table--fixed-width-columns--first-two">
  <thead>
    <tr>
      <th>
      </th>
      <th>Pts</th>
      <th>Reb</th>
      <th>Ast</th>
      <th>Stl</th>
      <th>Blk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Michael Jordan</td>
      <td>70</td>
      <td>10</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Toni Kukoc</td>
      <td>21</td>
      <td>15</td>
      <td>10</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Steve Kerr</td>
      <td>5</td>
      <td>2</td>
      <td>20</td>
      <td>5</td>
      <td>0</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td>91</td>
      <td>27</td>
      <td>32</td>
      <td>13</td>
      <td>5</td>
    </tr>
  </tfoot>
</table>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table Element with Flexible Start Columns',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
