{% set hero_band_content %}
  {% include "@bolt/headline.twig" with {
    "size": "xxxlarge",
    "align": "center",
    "text": "Event Details",
    "tag": "h1"
  } only %}
{% endset %}

{% set intro_band_content %}
  {% include "@bolt/subheadline.twig" with {
    "text": "You won't find cartoon characters at PegaWorld. Instead, you'll hear success stories from the world's biggest brands, connect with 5,000 fellow business and tech leaders, and get an inside look at the newest and most powerful Pega technology.",
    "tag": "h2"
  } only %}
{% endset %}

{% set details_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--middle o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
          {% include "@bolt/headline.twig" with {
            "size": "small",
            "align": "center",
            "text": "When",
            "tag": "h3"
          } only %}
          {% include "@bolt/text.twig" with {
            "align": "center",
            "text": "Sunday, June 3, 2018 — Wednesday, June 6, 2018",
            "tag": "p"
          } only %}
          {% include "@bolt/headline.twig" with {
            "size": "small",
            "align": "center",
            "text": "Where",
            "tag": "h3"
          } only %}
          <p class="c-bolt-text c-bolt-text--center">
            <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-link">MGM Grand Hotel and Casino</a><br>
            3799 Las Vegas Blvd S<br>
            Las Vegas, NV 89109
          </p>
          {% include "@bolt/headline.twig" with {
            "size": "small",
            "align": "center",
            "text": "Questions?",
            "tag": "h3"
          } only %}
          <p class="c-bolt-text c-bolt-text--center">
            <a href="mailto:PegaWorld@pega.com" class="c-bolt-link">PegaWorld@pega.com</a>
          </p>
        {% endcell %}
        {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
          <p class="c-bolt-text c-bolt-text--center">
            <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--primary">Register now</a>
          </p>
          <p class="c-bolt-text c-bolt-text--center">
            <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--secondary">FAQ</a>
          </p>
          <p class="c-bolt-text c-bolt-text--center">
            <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--secondary">Book your hotel</a>
          </p>
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set why_band_content %}
  {% include "@bolt/headline.twig" with {
    "size": "xxxlarge",
    "align": "center",
    "text": "Why you need to be there?",
    "tag": "h2"
  } only %}
{% endset %}

{% set engage_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
          {% include "@bolt/headline.twig" with {
            "size": "xxlarge",
            "align": "center",
            "text": "Engage Customers",
            "tag": "h2"
          } only %}
          {% include "@bolt/text.twig" with {
            "align": "center",
            "text": "You're on a mission to deliver seamless, personalized customer experiences on every channel, guided by AI and machine learning. Guess what? So are your competitors. The real challenge is turning that vision into reality before they do. Come to PegaWorld to learn how to make the right offer at the right time, every time.",
            "tag": "h3"
          } only %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1" %}
          {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-no-code.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "AI"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Upgrade every interaction with AI",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-devops.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "Retention"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Recognize. Resolve. Retain",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-cloud-choice.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "Omni-Channel Engagement"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Create seamless experiences everywhere",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set automate_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
          {% include "@bolt/headline.twig" with {
            "size": "xxlarge",
            "align": "center",
            "text": "Automate",
            "tag": "h2"
          } only %}
          {% include "@bolt/text.twig" with {
            "align": "center",
            "text": "Slow, ineffective code-based development holding you back? Struggling to innovate at the speed of today's ever-changing markets? In an era when business and IT play for the same team — and are often the same player — you'll need to build fast and change faster, while still staying in control. At PegaWorld 2018, thought leaders and experts will show you how to succeed in a no-code, cloud-centric world.",
            "tag": "h3"
          } only %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1" %}
          {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-no-code.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "No Code"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Real collaboration. No coding required.",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-devops.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "DevOps"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Deliver apps faster with DevOps",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-cloud-choice.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "Cloud Choice"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Extend your apps when, where, and how you want them",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set build_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
          {% include "@bolt/headline.twig" with {
            "size": "xxlarge",
            "align": "center",
            "text": "Build",
            "tag": "h2"
          } only %}
          {% include "@bolt/text.twig" with {
            "align": "center",
            "text": "Slow, ineffective code-based development holding you back? Struggling to innovate at the speed of today's ever-changing markets? In an era when business and IT play for the same team — and are often the same player — you'll need to build fast and change faster, while still staying in control. At PegaWorld 2018, thought leaders and experts will show you how to succeed in a no-code, cloud-centric world.",
            "tag": "h3"
          } only %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1" %}
          {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-no-code.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "No Code"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Real collaboration. No coding required.",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-devops.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "DevOps"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Deliver apps faster with DevOps",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
              {% include "@bolt/card.twig" with {
                "theme": "xlight",
                "image": {
                  "src": "/images/pw2018/thumb-cloud-choice.jpg"
                },
                "teaser": {
                  "eyebrow": {
                    text: "Cloud Choice"
                  },
                  "headlines": [
                    {
                      "type": "headline",
                      "text": "Extend your apps when, where, and how you want them",
                      "size": "large"
                    }
                  ],
                  "buttons": [
                    {
                      "text": "Link 1",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    },
                    {
                      "text": "Link 2",
                      "style": "text",
                      "url": "http://pega.com",
                      "width": "full"
                    }
                  ]
                }
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set register_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
      {% include "@bolt/headline.twig" with {
        "size": "large",
        "text": "Register now",
        "tag": "h2"
      } only %}
      {% include "@bolt/text.twig" with {
        "text": "Time is running out to take advantage of end-of-year pricing."
      } only %}
      <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--primary">Register now</a>
    {% endcell %}
    {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
      {% include "@bolt/headline.twig" with {
        "size": "large",
        "text": "Become a PegaWorld Insider",
        "tag": "h2"
      } only %}
      {% include "@bolt/text.twig" with {
        "text": "Stay up-to-date on all the latest PegaWorld news and announcements."
      } only %}
      <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--secondary">Sign up</a>
    {% endcell %}
    {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
      {% include "@bolt/headline.twig" with {
        "size": "large",
        "text": "Connect to start a conversation",
        "tag": "h2"
      } only %}
      {% include "@bolt/text.twig" with {
        "size": "xlarge",
        "text": "#PegaWorld18"
      } only %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set stacked_bands %}
  {% include "@bolt/band.twig" with {
    "theme": "xdark",
    "size": "large",
    "background": {
      "opacity": "light",
      "fill": "color",
      "contentItems": [{
        "pattern": "image",
        "src": "/images/pw2018/background-trending.jpg"
      }]
    },
    "content": hero_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "medium",
    "theme": "xlight",
    "content": intro_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "large",
    "theme": "xlight",
    "content": details_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "medium",
    "theme": "xlight",
    "content": why_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "large",
    "theme": "light",
    "content": engage_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "large",
    "theme": "light",
    "content": automate_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "large",
    "theme": "light",
    "content": build_band_content
  } only %}
  {% include "@bolt/band.twig" with {
    "size": "medium",
    "theme": "xdark",
    "content": register_band_content
  } only %}
{% endset %}

{% include "@bolt/band.twig" with {
  "theme": "xdark",
  "size": "none",
  "content": stacked_bands
} only %}
