{% extends "@bolt/default-template.twig" %}

  {% block main_content %}

    {% embed "@bolt/band.twig" with {
      theme: "dark",
      size: "small",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-8/12@small" %}
                {% include "@bolt/logo.twig" with {
                  src: "http://via.placeholder.com/200x50",
                  alt: "Pega"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/inline-list.twig" with {
                  "contentItems": [
                    {
                      "text": "Facts",
                      "url": "http://pega.com"
                    },
                    {
                      "text": "Agenda",
                      "url": "http://pega.com"
                    },
                    {
                      "text": "Experience",
                      "url": "http://pega.com"
                    },
                    {
                      "text": "Register",
                      "url": "http://pega.com"
                    }
                  ]
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "dark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "text": "THIS IS GONNA BE BIG",
                  "tag": "h1"
                } only %}
                {% include "@bolt/subheadline.twig" with {
                  "size": "xxlarge",
                  "text": "Digital Transformation is hard. Join us at PegaWorld 2018 to learn how to get it right.",
                  "tag": "h2"
                } only %}
                {% include "@bolt/button.twig" with {
                  "text": "Register now"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "xdark",
      size: "small",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/eyebrow.twig" with {
                  "align": "center",
                  "text": "Oct 1 - Dec 31, 2017",
                  "tag": "div"
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "$895",
                  "tag": "div"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/eyebrow.twig" with {
                  "align": "center",
                  "text": "Jan 1 - Apr 2, 2018",
                  "tag": "div"
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "$1095",
                  "tag": "div"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/eyebrow.twig" with {
                  "align": "center",
                  "text": "Apr 3 - Jun 2, 2018",
                  "tag": "div"
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "$1295",
                  "tag": "div"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/eyebrow.twig" with {
                  "align": "center",
                  "text": "Onsite",
                  "tag": "div"
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "$1695",
                  "tag": "div"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "dark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% include "@bolt/blockquote.twig" with {
          "size": "xxlarge",
          "alignItems": "center",
          "border": "none",
          "author": {
            "name": "2017 Attendee"
          },
          "content": "<p>PegaWorld is a fantastic knowledge-building and networking experience. I look forward to returning next year.</p>"
        } only %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "dark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "align": "center",
                  "text": "What to expect",
                  "tag": "h2"
                } only %}
                {% include "@bolt/subheadline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "Discover why 4,500 global leaders plan to join us next June in Las Vegas to gain the tools, connections, and knowledge to make an immediate business impact like no other event can!",
                  "tag": "h3"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/tout-4x3-climber.jpg",
                  alt: "A Rock Climber",
                  lazyload: false
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Inspiring Keynotes",
                  "tag": "div"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/tout-4x3-climber.jpg",
                  alt: "A Rock Climber",
                  lazyload: false
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Unbelievable Networking",
                  "tag": "div"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/tout-4x3-climber.jpg",
                  alt: "A Rock Climber",
                  lazyload: false
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Killer Entertainment",
                  "tag": "div"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/tout-4x3-climber.jpg",
                  alt: "A Rock Climber",
                  lazyload: false
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Learning, knowledge, insights",
                  "tag": "div"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "xdark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% include "@bolt/eyebrow.twig" with {
                  "align": "center",
                  "text": "PegaWorld 2017 On-Demand",
                  "tag": "div"
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "align": "center",
                  "text": "Discover how PegaWorld 2017 created so much buzz.",
                  "tag": "h2"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/button.twig" with {
                  "text": "Watch the Replays"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "dark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "align": "center",
                  "text": "Leading companies use Pega to solve business challenges.",
                  "tag": "h2"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/500x500.jpg",
                  alt: "A Rock Climber",
                  lazyload: true
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Kushala Silva",
                  "tag": "div"
                } only %}
                {% include "@bolt/text.twig" with {
                  "align": "center",
                  "text": "Group Director, Innovation and Emerging Technologies"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/500x500.jpg",
                  alt: "A Rock Climber",
                  lazyload: true
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "David Mingle",
                  "tag": "div"
                } only %}
                {% include "@bolt/text.twig" with {
                  "align": "center",
                  "text": "General Director, Global Customer Experience Execution"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/image.twig" with {
                  src: "/images/placeholders/500x500.jpg",
                  alt: "A Rock Climber",
                  lazyload: true
                } only %}
                {% include "@bolt/headline.twig" with {
                  "size": "large",
                  "align": "center",
                  "text": "Roger Sole",
                  "tag": "div"
                } only %}
                {% include "@bolt/text.twig" with {
                  "align": "center",
                  "text": "Chief Marketing Officer"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/button.twig" with {
                  "text": "Call to action"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "xdark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "align": "center",
                  "text": "Register now!",
                  "tag": "h2"
                } only %}
                {% include "@bolt/subheadline.twig" with {
                  "size": "xlarge",
                  "align": "center",
                  "text": "PegaWorld brings together business and technical visionaries from the world's leading companies. Take advantage of end-of-year pricing before it increases to $1,095 on January 1, 2018!",
                  "tag": "h3"
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
                  {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                      {% cell %}
                        {% include "@bolt/eyebrow.twig" with {
                          "align": "center",
                          "text": "Oct 1 - Dec 31, 2017",
                          "tag": "div"
                        } only %}
                        {% include "@bolt/headline.twig" with {
                          "size": "xlarge",
                          "align": "center",
                          "text": "$895",
                          "tag": "div"
                        } only %}
                      {% endcell %}
                    {% endgrid %}
                  {% endcell %}
                  {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                      {% cell %}
                        {% include "@bolt/eyebrow.twig" with {
                          "align": "center",
                          "text": "Jan 1 - Apr 2, 2018",
                          "tag": "div"
                        } only %}
                        {% include "@bolt/headline.twig" with {
                          "size": "xlarge",
                          "align": "center",
                          "text": "$1095",
                          "tag": "div"
                        } only %}
                      {% endcell %}
                    {% endgrid %}
                  {% endcell %}
                  {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                      {% cell %}
                        {% include "@bolt/eyebrow.twig" with {
                          "align": "center",
                          "text": "Apr 3 - Jun 2, 2018",
                          "tag": "div"
                        } only %}
                        {% include "@bolt/headline.twig" with {
                          "size": "xlarge",
                          "align": "center",
                          "text": "$1295",
                          "tag": "div"
                        } only %}
                      {% endcell %}
                    {% endgrid %}
                  {% endcell %}
                  {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                      {% cell %}
                        {% include "@bolt/eyebrow.twig" with {
                          "align": "center",
                          "text": "Onsite",
                          "tag": "div"
                        } only %}
                        {% include "@bolt/headline.twig" with {
                          "size": "xlarge",
                          "align": "center",
                          "text": "$1695",
                          "tag": "div"
                        } only %}
                      {% endcell %}
                    {% endgrid %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell %}
                {% include "@bolt/button.twig" with {
                  "text": "Register now!"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

    {% embed "@bolt/band.twig" with {
      theme: "xdark",
      size: "large",
      fullBleed: true
    } only %}
      {% block band_content %}
        {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
                {% include "@bolt/headline.twig" with {
                  "size": "xxxlarge",
                  "align": "center",
                  "text": "Special thanks to our sponsors",
                  "tag": "h2"
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-3/12@small" %}
                {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
                  {% cell %}
                    {% include "@bolt/logo.twig" with {
                      src: "/images/content/logos/logo-paypal.svg",
                      alt: "Logo",
                      lazyload: false
                    } only %}
                  {% endcell %}
                {% endgrid %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endblock %}
    {% endembed %}

  {% endblock %}
