@import "@bolt/core";

.u-pw-color-yellow {
  color: bolt-color(yellow) !important;
}

.u-pw-opacity-40 {
  opacity: 0.4 !important;
}

.u-pw-nowrap {
  white-space: nowrap !important;
}

.u-pw-full-at-bp-400-only {
  @media screen and (max-width: 400px) {
    width: 100% !important;
  }
}

.u-pw-background-image-contain {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.c-pw-portrait {
  @include bolt-margin(0 auto medium auto);
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  border-radius: 100em;
}

.c-pw-menu-trigger {
  display: block;
  width: 36px;
  border-top-color: bolt-color(white);
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: bolt-color(white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  cursor: pointer;

  &:before {
    @include bolt-margin(8px 0);
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: bolt-color(white);
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.c-pw-mobile-menu {
  transition: top 200ms cubic-bezier(0.45,1.8,0.5,0.75);

  &:not(:target) {
    @include bolt-visuallyhidden;
    top: -2rem;
  }

  &:target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(bolt-color(indigo, dark), 0.95);
    background: linear-gradient(180deg, bolt-color(indigo, xdark), rgba(bolt-color(indigo, dark), 0.9));
    z-index: 99999;
  }
}

.c-pw-mobile-menu-list {
  @include bolt-margin(0 auto);
  @include bolt-padding(0);
  display: block;
  width: 80%;
  text-align: center;
  list-style: none;
}

.c-pw-mobile-menu-list__item {
  &:not(:first-child) {
    @include bolt-margin(large 0);
  }

  &:first-child {
    @include bolt-margin(0);
    @include bolt-padding(medium);

    position: absolute;
    top: 0;
    right: 0;

    .c-pw-mobile-menu-link {
      display: block;
      position: relative;
      width: 36px;
      height: 36px;

      &:before, &:after {
        position: absolute;
        top: 50%;
        left: 0;
        height: 2px;
        width: 100%;
        margin-top: -1px;
        content: '';
        background-color: bolt-color(white);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.c-pw-mobile-menu-link {
  @include bolt-font-size(xlarge);
}

.c-pw-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.c-pw-menu-logo {
  display: flex;
  align-items: center;
}

.c-pw-logo-pega {
  width: 110px;
  height: auto;

  @media screen and (min-width: 600px) {
    width: 140px;
  }
}

.c-pw-logo-pw2018 {
  width: 90px;
  height: auto;

  @media screen and (min-width: 600px) {
    width: 120px;
  }
}

.c-pw-menu-list {
  @include bolt-margin(0);
  @include bolt-padding(0);
  display: none;
  text-align: center;
  list-style: none;
  white-space: nowrap;

  @media screen and (min-width: 900px) {
    display: block;
  }
}

.c-pw-menu-list__item {
  display: inline;

  & + #{&} {
    @include bolt-margin-left(medium);
  }
}

.c-pw-menu-link,
.c-pw-mobile-menu-link {
  color: bolt-color(white);

  &:hover {
    text-decoration: underline;
  }
}




.u-pw-position-lower-logo {
  // Add padding and relative point.
  &.o-bolt-grid__cell {
    .o-bolt-grid--matrix > & {
      padding-bottom: calc(1.65rem + 120px);
      position: relative;
    }
  }
  .u-pw-position-lower-logo__logo {
    bottom: 3rem;
    position: absolute;
    width: 100%;
    .o-bolt-grid__cell {
      padding-left: 0;
    }
  }
}
