{# HERO #}
<nav class="c-pw-mobile-menu" id="menu">
  <ul class="c-pw-mobile-menu-list">
    <li class="c-pw-mobile-menu-list__item">
      <a href="#!" class="c-pw-mobile-menu-link">
        <span class="u-bolt-visuallyhidden">
          Close menu
        </span>
      </a>
    </li>
    <li class="c-pw-mobile-menu-list__item">
      <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-pw-mobile-menu-link">Facts</a>
    </li>
    <li class="c-pw-mobile-menu-list__item">
      <a href="https://www.pega.com/events/pegaworld/agenda" class="c-pw-mobile-menu-link">Agenda</a>
    </li>
    <li class="c-pw-mobile-menu-list__item">
      <a href="https://www.pega.com/events/pegaworld/trending" class="c-pw-mobile-menu-link">Experience</a>
    </li>
    <li class="c-pw-mobile-menu-list__item">
      <a href="https://www.cvent.com/events/pegaworld-2018/registration-510ce28f40334ea195526c224ae26a21.aspx" class="c-bolt-button c-bolt-button--large c-bolt-button--secondary u-pw-full-at-bp-400-only">Register</a>
    </li>
  </ul>
</nav>

{% set nav_band_content %}
  <nav class="c-pw-menu">
    <div class="c-pw-menu-logo">
      <a href="http://pega.com"><img src="/images/pw2018/logo-pega.png" alt="Pega" class="c-pw-logo-pega"></a>
      <a href="http://pega.com/events/pegaworld"><img src="/images/pw2018/logo-pw2018.png" alt="PegaWorld 2018" class="c-pw-logo-pw2018"></a>
    </div>
    <a class="c-pw-menu-trigger" href="#menu">
      <span class="u-bolt-visuallyhidden">Open menu</span>
    </a>
    <ul class="c-pw-menu-list">
      <li class="c-pw-menu-list__item">
        <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-pw-menu-link">Facts</a>
      </li>
      <li class="c-pw-menu-list__item">
        <a href="https://www.pega.com/events/pegaworld/agenda" class="c-pw-menu-link">Agenda</a>
      </li>
      <li class="c-pw-menu-list__item">
        <a href="https://www.pega.com/events/pegaworld/trending" class="c-pw-menu-link">Experience</a>
      </li>
      <li class="c-pw-menu-list__item">
        <a href="https://www.cvent.com/events/pegaworld-2018/registration-510ce28f40334ea195526c224ae26a21.aspx" class="c-bolt-button c-bolt-button--secondary">Register</a>
      </li>
    </ul>
  </nav>
{% endset %}

{% set hero_band_content %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
          {% include "@bolt/headline.twig" with {
            "size": "xxxlarge",
            "text": "Trending at PegaWorld",
            "tag": "h1",
            "align": "center"
          } only %}
          {% include "@bolt/subheadline.twig" with {
            "size": "xxlarge",
            "text": "Your first look at the visionary ideas and powerful tech everyone will be talking about.",
            "tag": "h2",
            "align": "center"
          } only %}
        {% endcell %}
      {% endgrid %}
    {% endcell %}
    {% cell "u-bolt-width-1/1" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
        {% cell %}
          <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--primary">Register now</a>
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set stacked_bands %}
  {# {% include "@bolt/band.twig" with {
    "size": "small",
    "theme": "none",
    "content": nav_band_content
  } only %} #}
  {% include "@bolt/band.twig" with {
    "size": "large",
    "theme": "none",
    "content": hero_band_content
  } only %}
{% endset %}

{% include "@bolt/band.twig" with {
  "theme": "xdark",
  "size": "none",
  "background": {
    "opacity": "light",
    "fill": "color",
    "contentItems": [{
      "pattern": "image",
      "src": "/images/pw2018/background-trending.jpg"
    }]
  },
  "content": stacked_bands
} only %}
{# END HERO #}




{# Automation #}
{% embed "@bolt/band.twig" with {
  "theme": "light",
  "size": "large"
} only %}
  {% block band_content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1" %}
        {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
            {% include "@bolt/headline.twig" with {
              "size": "xxlarge",
              "align": "center",
              "text": "Automation made easy",
              "tag": "h2"
            } only %}
            {% include "@bolt/text.twig" with {
              "align": "center",
              "text": "Slow, ineffective code-based development holding you back? Struggling to innovate at the speed of today's ever-changing markets? In an era when business and IT play for the same team — and are often the same player — you'll need to build fast and change faster, while still staying in control. At PegaWorld 2018, thought leaders and experts will show you how to succeed in a no-code, cloud-centric world.",
              "tag": "h3"
            } only %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}
      {% cell "u-bolt-width-1/1" %}
        {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-no-code.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "No Code"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Real collaboration. No coding required.",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-devops.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "DevOps"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Deliver apps faster with DevOps",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-cloud-choice.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "Cloud Choice"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Extend your apps when, where, and how you want them",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}
    {% endgrid %}
  {% endblock %}
{% endembed %}




{# Better ways to build #}
{% embed "@bolt/band.twig" with {
  "theme": "light",
  "size": "large"
} only %}
  {% block band_content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1" %}
        {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1 u-bolt-width-9/12@small" %}
            {% include "@bolt/headline.twig" with {
              "size": "xxlarge",
              "align": "center",
              "text": "Better ways to build software",
              "tag": "h2"
            } only %}
            {% include "@bolt/text.twig" with {
              "align": "center",
              "text": "Slow, ineffective code-based development holding you back? Struggling to innovate at the speed of today's ever-changing markets? In an era when business and IT play for the same team — and are often the same player — you'll need to build fast and change faster, while still staying in control. At PegaWorld 2018, thought leaders and experts will show you how to succeed in a no-code, cloud-centric world.",
              "tag": "h3"
            } only %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}
      {% cell "u-bolt-width-1/1" %}
        {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
          {% cell "u-bolt-width-1/1" %}
            {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-no-code.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "No Code"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Real collaboration. No coding required.",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-devops.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "DevOps"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Deliver apps faster with DevOps",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
              {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
                {% include "@bolt/card.twig" with {
                  "theme": "xlight",
                  "image": {
                    "src": "/images/pw2018/thumb-cloud-choice.jpg"
                  },
                  "teaser": {
                    "eyebrow": {
                      text: "Cloud Choice"
                    },
                    "headlines": [
                      {
                        "type": "headline",
                        "text": "Extend your apps when, where, and how you want them",
                        "size": "large"
                      }
                    ],
                    "buttons": [
                      {
                        "text": "Link 1",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      },
                      {
                        "text": "Link 2",
                        "style": "text",
                        "url": "http://pega.com",
                        "width": "full"
                      }
                    ]
                  }
                } only %}
              {% endcell %}
            {% endgrid %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}
    {% endgrid %}
  {% endblock %}
{% endembed %}




{# Register #}
{% embed "@bolt/band.twig" with {
  "theme": "xdark",
  "size": "medium"
} only %}
  {% block band_content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
        {% include "@bolt/headline.twig" with {
          "size": "large",
          "text": "Register now",
          "tag": "h2"
        } only %}
        {% include "@bolt/text.twig" with {
          "text": "Time is running out to take advantage of end-of-year pricing."
        } only %}
        <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--primary">Register now</a>
      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
        {% include "@bolt/headline.twig" with {
          "size": "large",
          "text": "Become a PegaWorld Insider",
          "tag": "h2"
        } only %}
        {% include "@bolt/text.twig" with {
          "text": "Stay up-to-date on all the latest PegaWorld news and announcements."
        } only %}
        <a href="https://www.pega.com/events/pegaworld/event-details/why-attend" class="c-bolt-button c-bolt-button--secondary">Sign up</a>
      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-4/12@small" %}
        {% include "@bolt/headline.twig" with {
          "size": "large",
          "text": "Connect to start a conversation",
          "tag": "h2"
        } only %}
        {% include "@bolt/text.twig" with {
          "size": "xlarge",
          "text": "#PegaWorld18"
        } only %}
      {% endcell %}
    {% endgrid %}
  {% endblock %}
{% endembed %}
