<div style="height: 400px; background-color: grey;"></div>

{% embed "@bolt/sticky.twig" %}
  {% block sticky_content %}
    <div style="background-color: lightblue">
      First sticky item
    </div>
  {% endblock %}
{% endembed %}

<div style="height: 400px; background-color: grey;"></div>

{% embed "@bolt/sticky.twig" %}
  {% block sticky_content %}
    <div style="background-color: lightcoral">
      Second sticky item
    </div>
  {% endblock %}
{% endembed %}

<div style="height: 1200px; background-color: grey;"></div>

<div>End of demo</div>
