////
/// @group Setting: font-families
/// @author Mike Mai
////

@import '@bolt/settings-font-stack';
@import '@bolt/settings-font-size';
@import '@bolt/tools-sassy-maps'; // So map-get-deep works

/*------------------------------------*\
  Font Stack
\*------------------------------------*/

/// Returns font family.
///
/// @param {String} $font-family
///   Font family (a or b).
///
@mixin font-family($type, $is_root: false) {
  $fallback-font-family: map-get-deep($font-stacks, 'font-stacks', $type, 'system');
  $custom-font-family: map-get-deep($font-stacks, 'font-stacks', $type, 'custom');

  font-family: $fallback-font-family;

  @if $is_root == false {
    .#{$fonts-loaded-class} & {
      font-family: $custom-font-family;
    }
  }
  @else {
    &.#{$fonts-loaded-class} {
      font-family: $custom-font-family;
    }
  }
}



/*------------------------------------*\
  Font Size
\*------------------------------------*/

/// Returns font size.
///
/// @param {String} $font-size
///   Font size (a or b).
///
@mixin font-size($type, $leading: regular) {
  $font-size: map-get-deep($font-sizes, 'font-sizes', $type, 'font-size');
  $line-height: map-get-deep($font-sizes, 'font-sizes', $type, 'line-height', 'regular');
  $line-height--tight: map-get-deep($font-sizes, 'font-sizes', $type, 'line-height', 'tight');

  font-size: $font-size;
  line-height: $line-height;

  @if $leading == 'tight' {
    line-height: $line-height--tight;
  }
}
