{% set schema = bolt.data.components['@bolt-components-button'].schema %}

{% for size in schema.properties.size.enum|remove_null %}
  <p>Button Size Variation: {{ size }}</p>

  {% include "@bolt-components-button/button.twig" with {
    "size": size,
    "text": "Example " ~ size ~" Button"
  } %}
{% endfor %}
