{% set schema = bolt.data.components['@bolt-components-button'].schema %}

{#
  This page exists ONLY for creating our demos.
  DO NOT use "is-hover", "is-focus", or "is-active" classes for implementation.
  Strictly for demo purposes.
#}

{% for style in schema.properties.style.enum %}
  <p>{{ style|capitalize }} Button States</p>

  {% include "@bolt-components-button/button.twig" with {
    "text": "Button (Default)",
    style: style
  } only %}

  {% include "@bolt-components-button/button.twig" with {
    "text": "Button (Disabled)",
    disabled: true,
    style: style
  } only %}

  {% include "@bolt-components-button/button.twig" with {
    "text": "Button (Hover)",
    attributes: {
      class: [
        "is-hover"
      ]
    },
    style: style
  } only %}

  {% include "@bolt-components-button/button.twig" with {
    "text": "Button (Focus)",
    attributes: {
      class: [
        "is-focus"
      ]
    },
    style: style
  } only %}

  {% include "@bolt-components-button/button.twig" with {
    "text": "Button (Active)",
    attributes: {
      class: [
        "is-active"
      ]
    },
    style: style
  } only %}
{% endfor %}

