{% set schema = bolt.data.components['@bolt-components-button'].schema %}


{% for align in schema.properties.align.enum %}
  <p>Align: {{ align }}</p>

  {% include "@bolt-components-button/button.twig" with {
    "align": align,
    "width": "full",
    "text": align ~ " Aligned Button"
  } %}
{% endfor %}
