{% set schema = bolt.data.components['@bolt-components-button'].schema %}


<h3>Button w/ Icon Position <code>before</code></h3>
{% include "@bolt-components-button/button.twig" with {
  text: "Button w/ Icon `before` Text",
  icon: {
    name: "arrow-left",
    position: "before"
  }
} %}
<br><br>

<h3>Button w/ Icon Position <code>after</code></h3>
{% include "@bolt-components-button/button.twig" with {
  text: "Button w/ Icon `after` Text",
  icon: {
    name: "chevron-right",
    position: "after"
  }
} %}
<br><br>

<h3>Button w/ Default Icon Position</h3>
{% include "@bolt-components-button/button.twig" with {
  text: "Button w/ Icon `after` Text - Without Specifying",
  icon: {
    name: "chevron-right"
  }
} %}
<br><br><br><br>

<hr>

<h3>Button w/ <code>Left</code> Icon Position (Deprecated)</h3>
{% include "@bolt-components-button/button.twig" with {
  text: "Button w/ Icon Position `left` of Text (deprecated)",
  icon: {
    name: "arrow-left",
    position: "left"
  }
} %}
<br><br>

<h3>Button w/ <code>Right</code> Icon Position (Deprecated)</h3>
{% include "@bolt-components-button/button.twig" with {
  text: "Button w/ Icon Position `Right` of Text (deprecated)",
  icon: {
    name: "chevron-right",
    position: "right"
  }
} %}