{% set schema = bolt.data.components['@bolt-components-button'].schema %}


{% for transform in schema.properties.transform.enum|remove_null %}
  <p>Transform: {{ transform }}</p>

  {% include "@bolt-components-button/button.twig" with {
    "transform": transform,
    "text": transform ~ " Button Text"
  } %}
{% endfor %}
