{% set schema = bolt.data.components['@bolt-components-button'].schema %}

<p>Icon-only buttons display just an icon + visually hidden text if any text content is defined.</p>

{% set icon_only_options = [
  true,
  false
] %}

{% for option in icon_only_options %}
  {% include "@bolt-components-text/text.twig" with {
    text: "Icon Only? #{option == true ? 'True' : 'False'}",
    headline: true
  } %}

  {% include "@bolt-components-button/button.twig" with {
    iconOnly: option == true ? true : false,
    text: "Icon Only: " ~ option == true ? "True" : "False",
    rounded: "rounded",
    size: "small",
    icon: {
      name: "close"
    }
  } only %}
{% endfor %}
