////
/// @group Settings: Global
/// @author Mike Mai
////

@import '@bolt/tools-color-palette';

/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */

// Global Min / Max Base Font Size
$bolt-base-font-size--min: 15px;
$bolt-base-font-size--max: 18px;

// Async font loading classes.
$bolt-fonts--subset-loaded-class: 'js-fonts-subset-loaded' !default;
$bolt-fonts--loaded-class: 'js-fonts-loaded' !default;

// Shadows
$bolt-shadow-color: bolt-color(black);
$bolt-shadow--small: 0 2px 0.15rem rgba($bolt-shadow-color, 0.5);
$bolt-shadow--medium: 0 0.15rem 0.3rem rgba($bolt-shadow-color, 0.35);
$bolt-shadow--large: 0 0.35rem 0.6rem rgba($bolt-shadow-color, 0.18);

// Border
$bolt-border-width: 1px;
$bolt-border-style: solid;
$bolt-border-color: rgba(bolt-color(gray), 0.2);
$bolt-border-radius: 3px;

// Transition
$bolt-transition: ease-in-out 200ms;
$bolt-transition-ease: ease-in-out;
$bolt-transition-timing: 200ms;

// Effects
$bolt-translate-none: translate3d(0, 0, 0);
$bolt-translate-raised--small: translate3d(0, -1px, 0);
$bolt-translate-raised--medium: translate3d(0, -0.125rem, 0);
$bolt-translate-raised--large: translate3d(0, -0.25rem, 0);




/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */

/// Bolt's definition of block level elements.
$bolt-block-elements-list: 'p',
  'pre',
  'blockquote',
  'table',
  'ol',
  'ul',
  'dl',
  'fieldset',
  'legend',
  'details',
  'summary',
  'hr',
  'address';

$bolt-unquoted-block-elements-list: ();

@each $bolt-block-element-type in $bolt-block-elements-list {
  $bolt-unquoted-block-elements-list: append($bolt-unquoted-block-elements-list, unquote($bolt-block-element-type), comma) !global;
}

$bolt-all-block-elements: $bolt-unquoted-block-elements-list;




/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */

/// Bolt's definition of heading elements.
$bolt-heading-elements-list: 'h1',
  'h2',
  'h3',
  'h4',
  'h5',
  'h6';

$bolt-unquoted-heading-elements-list: ();

@each $bolt-heading-element-type in $bolt-heading-elements-list {
  $bolt-unquoted-heading-elements-list: append($bolt-unquoted-heading-elements-list, unquote($bolt-heading-element-type), comma) !global;
}

$bolt-all-heading-elements: $bolt-unquoted-heading-elements-list;




/* ------------------------------------ *\
   Custom Element Global Settings
   used to collection names of custom
   elements.
\* ------------------------------------ */

// Quoted custom elements used to globally collect group generic styles
$_bolt-custom-block-elements: () !global;
$_bolt-custom-inline-elements: () !global;
$_bolt-custom-inline-block-elements: () !global;

// Equivelent custom elements from above without the quotes -- perfect for using as a group CSS selector.
$bolt-all-custom-block-elements: () !global;
$bolt-all-custom-inline-block-elements: () !global;
$bolt-all-custom-inline-elements: () !global;


/**
 * Register Element helper mixin
 * registers any custom elements getting included
 **/

// Three different types available: inline, inline-block (which may be rendered as inline-flex), and block
@mixin bolt-register-element($element, $element-type) {
  @if ($element-type != 'inline' and $element-type != 'inline-block' and $element-type != 'block'){
    @error 'Please register your #{$element} element as either an inline, inline-block or block.';
  }

  // @TODO: find a way to dynamically assign the right list to this
  @if ($element-type == 'inline') {
    $_bolt-custom-inline-elements: append($_bolt-custom-inline-elements, $element) !global;

  } @else if  ( $element-type == 'block') {
    $_bolt-custom-block-elements: append($_bolt-custom-block-elements, $element) !global;
  } @else if  ( $element-type == 'inline-block') {
    $_bolt-custom-inline-block-elements: append($_bolt-custom-inline-block-elements, $element) !global;
  }
}


