/* ==========================================================================
   #VISUALLY HIDDEN UTILITIES
   ========================================================================== */

@include add-module(
  $name:    'utilities.visuallyhidden',
  $version: '1.0.0',
  $dependencies: (
    'settings.breakpoints': '1.0.0',
    'tools.visuallyhidden': '1.0.0'
  )
);

.u-visuallyhidden {
  @include visuallyhidden();
}


@include respond-to('tiny') {
  .u-visuallyhidden\@tiny {
    @include visuallyhidden();
  }
}

@include respond-to('only-tiny') {
  .u-visuallyhidden\@only-tiny {
    @include visuallyhidden();
  }
}


@include respond-to('small') {
  .u-visuallyhidden\@small {
    @include visuallyhidden();
  }
}


@include respond-to('only-small') {
  .u-visuallyhidden\@only-small {
    @include visuallyhidden();
  }
}


@include respond-to('medium') {
  .u-visuallyhidden\@medium {
    @include visuallyhidden();
  }
}


@include respond-to('large') {
  .u-visuallyhidden\@large {
    @include visuallyhidden();
  }
}
