/* ==========================================================================
   #RESPONSIVE HIDE UTILITIES
   ========================================================================== */

@include add-module(
  $name:    'utilities.hide',
  $version: '1.0.0',
  $dependencies: (
    'settings.breakpoints': '1.0.0'
  )
);

.u-hide {
  display: none unquote('!important');
}


@include respond-to('tiny') {
  .u-hide\@tiny {
    display: none unquote('!important');
  }
}

@include respond-to('only-tiny') {
  .u-hide\@only-tiny {
    display: none unquote('!important');
  }
}


@include respond-to('small') {
  .u-hide\@small {
    display: none unquote('!important');
  }
}


@include respond-to('only-small') {
  .u-hide\@only-small {
    display: none unquote('!important');
  }
}


@include respond-to('medium') {
  .u-hide\@medium {
    display: none unquote('!important');
  }
}


@include respond-to('large') {
  .u-hide\@large {
    display: none unquote('!important');
  }
}
