/* ==========================================================================
   #TEXT-ALIGNMENT UTILITIES
   ========================================================================== */

@include add-module(
  $name:    'utilities.text-alignment',
  $version: '1.0.0',
  $dependencies: (
    'settings.global': '1.0.0'
  )
);

/**
 * Text align left.
 */
.u-text-left {
  text-align: left unquote('!important');
}

/**
 * Text align right.
 */
.u-text-right {
  text-align: right unquote('!important');
}

/**
 * Text align center.
 */
.u-text-center {
  text-align: center unquote('!important');
}
