/* ==========================================================================
   #FONT SIZE UTILITIES
   ========================================================================== */

@include add-module(
  $name:    'utilities.font-size',
  $version: '1.0.0',
  $dependencies: (
    'settings.modular-scale': '1.0.0'
  )
);


$font-sizes: map-get($modular-scale, 'font_sizes');

@each $name, $size in $font-sizes {
  .u-font-size-#{$name} {
    @include font-size($name, '', 'important');
  }
}

$json-font-sizes: convert-color-map($modular-scale, $modular-scale);
$json-font-sizes: jsonexport('font-sizes.sass.json', $json-font-sizes);
