/* ==========================================================================
   #SPACING UTILITIES
   ========================================================================== */

@include add-module(
  $name:    'utilities.spacing',
  $version: '1.0.0',
  $dependencies: (
    'settings.global': '1.0.0'
  )
);

//Forked from github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.spacing.scss //

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 */

$spacing-directions: (
  null,
  '-top',
  '-right',
  '-bottom',
  '-left',
);

$spacing-properties: (
  'padding',
  'margin'
);

$spacing-sizes: (
  null: $spacing-unit,
  '-tiny': $spacing-unit-xsmall,
  '-small': $spacing-unit-small,
  '-large': $spacing-unit-large,
  '-huge': $spacing-unit-xlarge,
  '-none': 0
) !default;


@each $property in $spacing-properties {
  @each $direction in $spacing-directions {
    @each $size, $value in $spacing-sizes {
      .u-#{$property}#{$direction}#{$size} {
        #{$property}#{$direction}: $value unquote('!important');
      }
    }
  }
}

.u-margin-top-auto {
  margin-top: auto unquote('!important');
}

.u-margin-bottom-auto {
  margin-bottom: auto unquote('!important');
}
