{% set uuid = random() %}
{# {% set uuidTrigger = ".js-code-trigger--" ~ uuid %} #}
{% set uuidTriggerTarget = "js-code-toggle--" ~ uuid %}
{% set uuidTriggerTargetClass = "." ~ uuidTriggerTarget %}

{% set themeSwitcher = themeSwitcher | default("on") %}

<div class="t-bolt-light u-bolt-shadow-level-10 u-bolt-margin-bottom-medium u-bolt-padding-medium u-bolt-border-radius-large">
  <header class="u-bolt-padding-bottom-medium">
    {% grid "o-bolt-grid--middle o-bolt-grid--xsmall o-bolt-grid--flex u-bolt-flex-flow-none o-bolt-grid--right" %}
      {% cell "u-bolt-margin-right-auto" %}
        {% include "@bolt-components-headline/headline.twig" with {
          text: name,
          size: "medium",
          transform: "none",
          weight: "bold",
          url: link | default(false),
          icon: "none",
        } only %}
      {% endcell %}

      {% if link %}
        {% cell %}
          {% include "@bolt-components-tooltip/tooltip.twig" with {
            trigger: include("@bolt-components-button/button.twig", {
              text: "Open Pattern In A New Window",
              target: "_blank",
              iconOnly: true,
              url: link,
              size: "small",
              icon: {
                name: "external-link",
              },
              style: "secondary",
            }),
            content: "Open Pattern In a New Window",
          } only %}
        {% endcell %}
      {% endif %}

      {% if panels %}
        {% cell %}
          {% include "@bolt-components-tooltip/tooltip.twig" with {
            trigger: include("@bolt-components-button/button.twig", {
              text: "Show / Hide Code",
              iconOnly: true,
              size: "small",
              icon: {
                name: "java",
              },
              onClick: "toggle",
              onClickTarget: uuidTriggerTarget,
              style: "secondary",
            }),
            content: "Show / Hide Code",
          } only %}
        {% endcell %}
      {% endif %}
    {% endgrid %}
  </header>

  {% if themeSwitcher == "off" %}
    <div class="u-bolt-border-radius-small t-bolt-xlight u-bolt-padding-small u-bolt-padding-top-medium u-bolt-padding-bottom-medium u-bolt-shadow-level-10">
      {{ example }}
    </div>
  {% else %}
    <div class="u-bolt-shadow-level-10 u-bolt-border-radius-small">
      <replace-with-children class="u-bolt-block t-bolt-xlight u-bolt-padding-small u-bolt-padding-top-medium u-bolt-padding-bottom-medium u-bolt-border-radius-small">
        <bolt-theme-switcher class="u-bolt-border-radius-small u-bolt-overflow-hidden" theme="xlight" style="--bolt-theme-switcher-border-width: 0;">
          <div class="u-bolt-padding-small">
            {{ example }}
          </div>
        </bolt-theme-switcher>
      </replace-with-children>
    </div>
  {% endif %}

  {% if panels %}
    <section class="u-bolt-hidden t-bolt-xlight u-bolt-padding-small u-bolt-margin-top-medium u-bolt-shadow-level-10 u-bolt-border-radius-small">

      {% set tabPanels = [] %}
      {% for panel in panels %}
        {% set tabPanels = tabPanels | merge([{
          label: panel.label,
          content: include("@bolt-components-code-snippet/code-snippet.twig", {
            display: "block",
            lang: panel.lang | default("html"),
            content: panel.code,
            attributes: {
              class: [
                "u-bolt-negative-margin-bottom-small"
              ]
            }
          }, with_context = false),
        }]) %}
      {% endfor %}

      {% include "@bolt-components-tabs/tabs.twig" with {
        panels: tabPanels,
        attributes: {
          class: [
            uuidTriggerTarget,
          ]
        }
      } only %}
    </section>
  {% endif %}
</div>

<script>
  window.addEventListener('load', function() {
    const codeTabs = document.querySelector('{{ uuidTriggerTargetClass }}');
    if (codeTabs){
      codeTabs.toggle = function(){
        this.closest('section').classList.toggle('u-bolt-hidden');
        this.update(); // tabs don't render the priority+ nav menu correctly without this :-/
      }
    }
  });
</script>
