/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

pl-nav {
  background-color: inherit; // so the inside of dropdowns inherits the correct color
  display: block; // vertically align children
  flex-grow: 1;
  align-items: center;

  @media all and (min-width: $pl-bp-med) {
    padding: 0;
    display: flex; // vertically align children
  }

  @media all and (min-width: $pl-bp-med) {
    .pl-c-body--theme-sidebar & {
      display: block;
    }
  }
}


/**
 * Navigation container
 * 1) Collapse height on small screens. Menu trigger button
 *    activates nav
 */
.pl-c-nav {
  @include accordionPanel;
  background-color: inherit; // allows the nav's children inherit from the parent header
  position: absolute;
  left: 0; // IE 11 layout broken
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: max-height $pl-animate-quick ease-out;
  // padding: 0 0.6rem;

  @media all and (min-width: $pl-bp-med) {
    .pl-c-body--theme-sidebar & {
      // padding: 1rem;
      display: block;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  // if nav was opened on smaller screen and screen is resized, it'll be cut off otherwise
  @media all and (min-width: $pl-bp-med) {
    overflow: visible;
    max-height: none;

    &.pl-is-active {
      overflow: visible;
    }
  }

  /**
    * Active navigaiton
    * 1) Slide 
    * 2) Set the height to the vierport height minus the height
    *    of the header
    */
  &.pl-is-active {
    @media all and (max-width: $pl-bp-med - 1) {
      box-shadow: 0 1px 1px $pl-color-black;

      .pl-c-body--theme-light & {
        box-shadow: 0 1px 1px darken($pl-color-gray-20, 15%);
      }
    }
    

    

    // if nav was opened on smaller screen and screen is resized, it'll be cut off otherwise
    @media all and (min-width: $pl-bp-med) {
      // overflow: visible;
      // overflow: auto;
      max-height: none;
    }
  }

  @media all and (min-width: $pl-bp-med) {
    flex-direction: row;
    position: relative;
    top: auto;
    width: auto;
    box-shadow: none;
  }
}

/**
 * Nav list
 * 1) appears as an <ol>
 * 2) display as a horizontal list on larger screens
 * 3) On small screens, move the nav list after the typeahead form field
 */
.pl-c-nav__list {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-shrink: 0; // helps prevent top-level nav items from occasionally wrapping to multiple lines
  flex-grow: 1; // auto-fill extra space available
  max-width: 100%; // so content doesn't won't spill out horizontally
  order: 2;
  background-color: inherit; // allows the nav's children inherit from the parent header

  @media all and (min-width: $pl-bp-med) {
    display: flex; /* 2 */
    order: 1;

    // workaround to Firefox-specific flexbox quirk
    .pl-c-body--theme-sidebar & {
      display: block;
      // display: flex;
    }
  }
}

/**
 * Nav list item
 */
.pl-c-nav__item {
  background-color: inherit; // allows the nav's children inherit from the parent header
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically align nav items

  .pl-c-body--theme-sidebar & {
    display: block;
  }
}

.pl-c-nav__item-inner {
  position: relative;
}

/**
 * Nav link
 */
.pl-c-nav__link {
  @include linkStyle;
  color: inherit;
  line-height: 1.5;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: flex;
  align-items: center;
  margin: 0; // remove default button margin in Safari
  color: inherit;
  
  // makes link layout / size more consistent in the sidebar layout, especially when display: flex styles are removed for more consistent IE 11 rendering
  .pl-c-body--theme-sidebar & {
    width: 100%;
  }
}

.pl-c-nav__link--section-dropdown,
.pl-c-nav__link--sublink,
.pl-c-nav__link--overview {
  @include linkStyle;
  position: relative;
  
  &:after {
    content: '';
    pointer-events: none;
    opacity: 0;
    background-color: currentColor;
    transition: opacity $pl-animate-quick ease-out;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
  }

  &:hover:after {
    opacity: 0.1;
  }

  // &.pl-is-active:after,
  &:focus:after {
    opacity: 0.1;
  }
}

/**
 * Nav sublink
 * 1) Visually differentiate sub-item links from
 *    the other links. Creates better hierarchy.
 */
.pl-c-nav__link--sublink {
  text-transform: none;
  font-size: 0.8rem;
  padding-left: $pl-space + ($pl-space / 2);

  &.pl-is-active {
    box-shadow: inset 4px 0 0 #6c79d9;
    font-weight: bold;
  }
}

/**
 * Nav link
 */
.pl-c-nav__link--dropdown {
  -webkit-appearance: none; // remove default button styling
  flex-grow: 1; // fill up extra space in parent nav item, if available
}

.pl-c-nav__link--pattern {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  flex-grow: 1;
}

.pl-c-nav__link-icon {
  pointer-events: none;
  color: currentColor;
  display: inline;
  transition: all $pl-animate-quick ease-out;
  transform: rotate(-90deg);
  flex-grow: 0;
  line-height: 1;
}

.pl-c-nav__link--overview-wrapper.pl-is-active > .pl-c-nav__link--section-dropdown > .pl-c-nav__link-icon,
.pl-is-active > .pl-c-nav__link-icon {
  transform: rotate(0);
}

/**
 * Nav sublist
 * 1) On larger screens, display as dropdowns that
 *    hang over the header
 */
.pl-c-nav__sublist {
  background-color: inherit; // allows the nav's children inherit from the parent header
  @include listReset();

  @media all and (min-width: $pl-bp-med) {
    position: absolute;
    top: 100%; /* 1 */
    left: 0;
    min-width: 12rem;
    border-bottom-left-radius: $pl-border-radius-med;
    border-bottom-right-radius: $pl-border-radius-med;
  }
}

/**
 * Dropdown sublist
 */
.pl-c-nav__sublist--dropdown,
.pl-c-nav__subsublist--dropdown {
  @include listReset();
  @include accordionPanel();
  visibility: hidden;

  @media all and (min-width: $pl-bp-med) {
    .pl-c-body--theme-sidebar & {
      position: relative;
    }
  }

  .pl-c-nav__link {
    padding-left: 1.5rem;
  }

  .pl-c-nav__link--sublink {
    padding-left: 1.5rem + .75rem;
  }

  @media all and (max-width: $pl-bp-med - 1) {
    .pl-c-nav__link {
      padding-left: 1.5rem;
    }
  
    .pl-c-nav__link--sublink {
      padding-left: 1.5rem + .75rem;
    }
  }
}

/**
 * Dropdown sublist
 * 1) Set the height to the viewport height minus the height of the header
 */
.pl-c-nav__sublist--dropdown.pl-is-active,
.pl-c-nav__subsublist--dropdown.pl-is-active {
  visibility: visible;
  max-height: none;

  @media all and (min-width: $pl-bp-med) {
    height: auto;
    max-height: calc(100vh - #{$offset-top} - 1rem); /* 1 */
  }

  .pl-c-body--theme-sidebar & {
    max-height: none;
  }
}

.pl-c-nav__sublist--dropdown.pl-is-active {
  @media all and (min-width: $pl-bp-med) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-left: 1px solid $pl-color-gray-87;
    border-right: 1px solid $pl-color-gray-87;

    border-left-color: $pl-color-gray-87;
    border-right-color: $pl-color-gray-87;
    border-left-color: rgba(var(--theme-text-rgb), 0.1);
    border-right-color: rgba(var(--theme-text-rgb), 0.1);
  }

  .pl-c-body--theme-sidebar & {
    box-shadow: none;
    border: none;
  }
}


.pl-c-nav__link--overview-wrapper,
.pl-c-nav__subsublist--dropdown,
.pl-c-nav__link--overview {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity $pl-animate-quick ease-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    z-index: 1;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity $pl-animate-quick ease-out;
    opacity: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    z-index: 1;
    pointer-events: none;
  }
  
  &.pl-is-active {
    &:before,
    &:after {
      opacity: 0.05;
    }
  }

  .pl-c-body--theme-dark & {
    &:before {
      background-color: rgba(255, 255, 255, .1);
    }

    &:after {
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
  }
}

/**
 * Sub-navigation
 * 1) Third-level links are stylistically different
 * than first and second nav links.
 */
.pl-c-nav__subsublist {
  @include listReset();
}

.pl-c-nav__link--overview.pl-c-nav__link--overview.pl-c-nav__link--overview {
  font-size: 0.9rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
}

.pl-c-nav__link--title {
  font-size: 0.9rem;
  font-weight: 700;
  color: $pl-color-gray-20;
  color: var(--theme-text, $pl-color-gray-20);

  .pl-c-body--theme-light & {
    color: $pl-color-black;
    color: var(--theme-text);
  }
}

.pl-c-nav__list > .pl-c-nav__item:not(:last-child) {
  @media all and (min-width: $pl-bp-med) {
    .pl-c-body--theme-sidebar & {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      
    }
  }
}

.pl-c-nav__link--section-dropdown {
  width: 2rem !important;
  height: 2rem !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 50%;
  border: 2px solid transparent !important;
  transform: translateY(-50%);
  border-radius: 50rem;
  justify-content: center;
  align-items: center;

  &:after {
    background-color: currentColor;
    transition: opacity $pl-animate-quick ease-out;
    content: '';
    opacity: 0;
    height: 1.4rem;
    width: 1.4rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50rem;
  }

  &:hover {
    background-color: transparent !important;
    &:after {
      opacity: 0.1;
    }
  }

  &:active:after,
  &.pl-is-active:after {
    opacity: 0.1;
  }
}

.pl-c-nav__link--overview-wrapper {
  position: relative;
}
