{% extends '@pl/_default-page-template.twig' %}

{% block global_header %}
  {% include '@pl/_demo-main-site-page-header.twig' with { static_header: true } %}
{% endblock %}

{% block main_content %}
  {% embed '@bolt-components-sticky/sticky.twig' %}
    {% block sticky_content %}
      {% set navbar_data = [
        {
          link: {
            content: 'News',
            attributes: {
              href: '#'
            }
          }
        },
        {
          link: {
            content: 'Press Kit & Resources',
            attributes: {
              href: '#'
            }
          }
        },
        {
          link: {
            content: 'Media Contacts',
            attributes: {
              href: '#'
            }
          }
        },
        {
          link: {
            content: 'Another Link',
            attributes: {
              href: '#'
            }
          }
        }
      ] %}

      {% set navbar_items %}
        {% for item in navbar_data %}
          {% include '@bolt-components-navbar/navbar-li.twig' with item only %}
        {% endfor %}
      {% endset %}

      {% set navbar_list %}
        {% include '@bolt-components-navbar/navbar-ul.twig' with { content: navbar_items } only %}
      {% endset %}

      {% include '@bolt-components-navbar/navbar.twig' with {
        theme: 'xdark',
        title: {
          content: 'Newsroom',
          icon: {
            name: 'info-solid'
          }
        },
        links: navbar_list
      } only %}
    {% endblock %}
  {% endembed %}

  {% embed '@bolt-components-band/band.twig' with {
    theme: 'dark',
    size: 'large',
    full_bleed: true,
    background: {
      shape_group: 'A'
      }
    } only %}

    {% block band_content %}
      {% include '@bolt-components-headline/headline.twig' with {
        size: 'xxxlarge',
        text: 'In The News'
      } only %}
      {% include '@bolt-components-headline/subheadline.twig' with {
        size: 'xxlarge',
        text: 'See the latest updates and media coverage about Pega from around the world.'
      } only %}

      {% set button_press %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Press Releases',
          hierarchy: 'secondary',
          display: 'inline@from-small',
          attributes: {
            href: '/pattern-lab/patterns/50-pages-100-d8-Press-and-Media-press-browse--list-view/50-pages-100-d8-Press-and-Media-press-browse--list-view.html'
          }
        } only %}
      {% endset %}

      {% set button_media %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Media Coverage',
          hierarchy: 'secondary',
          display: 'inline@from-small',
          attributes: {
            href: '/pattern-lab/patterns/50-pages-100-d8-Press-and-Media-d8-media-browse--list-view/50-pages-100-d8-Press-and-Media-d8-media-browse--list-view.html'
          }
        } only %}
      {% endset %}

      {% include '@bolt-components-list/list.twig' with {
        display: 'inline',
        items: [
          button_press,
          button_media,
        ]
      } only %}
    {% endblock %}
  {% endembed %}

  <div style="float: right" class="u-bolt-margin-top-small u-bolt-margin-bottom-medium">
    {% include '@bolt-components-share/share.twig' with {
      sources: [
        {
          name: 'facebook',
          attributes: {
            href: 'https://www.facebook.com/sharer/sharer.php?u=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html&amp;src=sdkpreparse'
          }
        },
        {
          name: 'twitter',
          attributes: {
            href: 'https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
          }
        },
        {
          name: 'linkedin',
          attributes: {
            href: 'https://www.linkedin.com/shareArticle?url=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html'
          }
        },
        {
          name: 'email',
          attributes: {
            href: 'mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com'
          }
        }
      ]
    } only %}
</div>

  {% embed '@pl/_band--collection.twig' with {
    theme: 'xlight',
    size: 'medium',
    contentItems: [
      {
        pattern: 'card',
        body: {
          eyebrow: 'Jan 18 2018',
          headline: 'Pegasystems to Present at the Needham Growth Conference',
          paragraph: 'CAMBRIDGE, Mass. – January 11, 2018 – Pegasystems Inc. (NASDAQ: PEGA), the software company empowering customer engagement at the world’s leading enterprises, today announced that its chief financial officer, chief...',
        },
        actions: [
          {
            text: 'Read more',
            url: 'https://www.google.com',
          }
        ]
      },
      {
        pattern: 'card',
        body: {
          eyebrow: 'Jan 18 2018',
          headline: 'Pega Receives Highest Scores in Two Use Cases in Gartner’s Critical Capabilities for the CRM Customer Engagement Center",
          paragraph: "CAMBRIDGE, Mass. – December 26, 2017 – Pegasystems Inc. (NASDAQ: PEGA), the software company empowering customer engagement at the world’s leading enterprises, today announced it received the highest scores in the business-...',
        },
        actions: [
          {
            text: 'Read more',
            url: 'https://www.google.com',
          }
        ]
      },
      {
        pattern: 'card',
        body: {
          eyebrow: 'Jan 04 2018',
          headline: 'Pegasystems Announces Quarterly Cash Dividend',
          paragraph: 'CAMBRIDGE, Mass. – December 15, 2017 – Pegasystems Inc. (NASDAQ: PEGA), the software company empowering customer engagement at the world’s leading enterprises, today announced a quarterly cash dividend of $0.03 per share,...',
        },
        actions: [
          {
            text: 'Read more',
            url: 'https://www.google.com',
          }
        ]
      }
    ]
  } %}
    {% block band_content %}
      {% grid 'o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix u-bolt-padding-bottom-medium' %}
        {% cell 'u-bolt-flex-grow' %}
          {% grid %}
            {% cell 'u-bolt-width-1/1 u-bolt-width-3/4@small' %}
              {% include '@bolt-components-headline/headline.twig' with {
                text: 'Featured Press Releases',
                size: 'xlarge',
                tag: 'h3'
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
        {% cell %}
          {% include '@bolt-components-headline/text.twig' with {
            text: 'See all press releases',
            size: 'small',
            weight: 'bold',
            tag: 'p',
            url: '/pattern-lab/patterns/50-pages-100-d8-Press-and-Media-press-browse--list-view/50-pages-100-d8-Press-and-Media-press-browse--list-view.html',
            icon: {
              name: 'chevron-right',
              position: 'after'
            }
          } only %}
        {% endcell %}
      {% endgrid %}

      {{ parent() }}
    {% endblock band_content %}
  {% endembed %}

  {% embed '@pl/_band--collection.twig' with {
    theme: 'light',
    size: 'medium',
    contentItems: [
      {
        pattern: 'card',
        body: {
          eyebrow: 'Jan 22 2018',
          headline: 'A New CRM Bill of Rights for the Future Empowered Enterprise',
          paragraph: 'Jeff Nicholson of Pega provides insight into what companies should expect from CRM vendors.',
        },
        actions: [
          {
            text: 'MARTECH ADVISOR',
            url: 'https://www.google.com',
          }
        ]
      },
      {
        pattern: 'card',
        body: {
          eyebrow: 'Jan 11 2018',
          headline: '6 Customer Experience Trends to Watch in 2018',
          paragraph: 'Pega\'s Don Schuerman previews customer experience questions and trends for the New Year.',
        },
        actions: [
          {
            text: 'CMS WIRE',
            url: 'https://www.google.com',
          }
        ]
      },
      {
        pattern: 'card',
        body: {
          eyebrow:  'Dec 26 2017',
          headline: '3 Reasons Your AI-Driven Customer Experiences are Falling Short',
          paragraph: 'Pega\'s Jeff Nicholson examines the state of AI in today\'s customer experiences.',
        },
        actions: [
          {
            text: 'CIO AUSTRALIA',
            url: 'https://www.google.com',
          }
        ]
      }
    ]
  } %}
    {% block band_content %}
      {% grid 'o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix u-bolt-padding-bottom-medium' %}
        {% cell 'u-bolt-flex-grow' %}
          {% grid %}
            {% cell 'u-bolt-width-1/1 u-bolt-width-3/4@small' %}
              {% include '@bolt-components-headline/headline.twig' with {
                text: 'Featured Media Coverage',
                size: 'xlarge',
                tag: 'h3'
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
        {% cell %}
          {% include '@bolt-components-headline/text.twig' with {
            text: 'See all media coverage',
            size: 'small',
            weight: 'bold',
            tag: 'p',
            url: '/pattern-lab/patterns/50-pages-100-d8-Press-and-Media-d8-media-browse--list-view/50-pages-100-d8-Press-and-Media-d8-media-browse--list-view.html',
            icon: {
              name: 'chevron-right',
              position: 'after'
            }
          } only %}
        {% endcell %}
      {% endgrid %}

      {{ parent() }}
    {% endblock band_content %}
  {% endembed %}

  {# Featured Resources #}
  {% embed '@pl/_band--collection.twig' with {
  theme: 'dark',
  size: 'medium',
  contentItems: [
    {
      pattern: 'card',
      media: {
        image: {
          src: '/images/placeholders/1200x660.jpg'
        },
      },
      body: {
        headline: 'First resource',
        paragraph: 'Pega cited as a Leader in The Forrester Wave™: Digital Process Automation Software, Q3 2017.'
      },
      actions: [
        {
          text: 'Get the resource',
          hierarchy: 'text',
        },
      ]
    },
    {
      pattern: 'card',
      media: {
        image: {
          src: '/images/content/promos/promo-16x9-anthem.jpg'
        },
      },
      body: {
        eyebrow: 'Optional resource type',
        headline: 'Second resource',
        paragraph: 'Simplify and automate to reduce costs and improve agility.',
      },
      actions: [
        {
          text: 'First CTA',
          hierarchy: 'secondary',
          url: 'www.google.com/pega7',
        },
        {
          text: 'Optional CTA',
          hierarchy: 'secondary',
          url: 'www.google.com/pega7',
        }
      ]
    },
    {
      pattern: 'card',
      media: {
        image: {
          src: '/images/content/promos/promo-16x9-ai.jpg'
        },
      },
      body: {
        headline: 'Third resource',
        paragraph: 'Simplify and automate to reduce costs and improve agility.',
      },
      actions: [
        {
          text: 'Learn more',
          hierarchy: 'text',
          url: 'www.google.com/pega7',
        }
      ]
    }
  ]
} %}
  {% block band_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Related resources',
      size: 'xlarge',
      tag: 'h3'
    } only %}
    {{ parent() }}
  {% endblock band_content %}
{% endembed %}
{% endblock %}
