<h1>How to get the Editor integrated into Drupal</h1>

<h3>Install package</h3>

<code>npm install --save @bolt/components-editor</code>

Then add to <code>.boltrc.js</code> file <a href="/docs/guides/install-component.html">like so.</a>

<h3>Add to a Drupal Template file</h3>

<p>First, find out the JS & CSS files that are used to display the content we want to edit. This will most likely simply be from the Drupal Libraries that are loaded for the current page from the theme. We need to get the variables <code>styles</code>, which is an array of strings to CSS files; and <code>scripts</code> which is the same but for JS.</p>

<bolt-blockquote>Be sure to check it with CSS & JS Aggregation on & off!</bolt-blockquote>

{% set example_content %}
{% verbatim %}
{# Just some example content #}
{% set content %}
  <button type="button" class="e-bolt-text-link">
    Hello World!
  </button>
{% endset %}

{% if userLoggedIn %}
  {# get these strings from Drupal based on what Drupal Libraries are loaded #}
  {% set styles = ['/build/bolt-global.css'] %}
  {% set scripts = ['/build/bolt-global.js'] %}

  {# whatever id is needed to save this back to Drupal; probably a Paragraph id! #}
  {% set id = 'probably-paragraph-id' %}

  {% include '@bolt-components-editor/editor.twig' with {
    styles: styles,
    scripts: scripts,
    content: content,
    id: id,
  } only %}
{% else %}
  {# if user is not logged, then just render `content`, no need to pass into Editor template! #}
  {{ content }}
{% endif %}

{% endverbatim %}
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: example_content,
  lang: 'twig',
  mode: 'dark',
} only %}

<h3>Listen for "editor:save" event</h3>

<p>Here's some JavaScript that will listen for the <code>editor:save</code> event after the user clicks the "Save" button. This is when you should save the HTML to Drupal.</p>

{% set code_example %}
document.querySelectorAll('.js-pega-editor').forEach((pegaEditor) => {
  pegaEditor.addEventListener('editor:save', (event) => {
    console.log('An editor just saved and we have new HTML to send to Drupal!', {
      id: event.detail.id,
      html: event.detail.html,
      editorElement: event.target, // same as `pegaEditor`
    });
  });
});
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_example,
  lang: 'js',
  mode: 'dark',
} only %}


<h3>Handling editor save</h3>
<p>Assign a function to <code>window.__handleEditorSave</code> that will run the Drupal Save process
  and resolve with an object of <code>{ok: true/false, message: "Error: could not...." }</code>.</p>
<p>Note that we are not returning an error/reject, merely a <code>{ok: false}</code> if the Drupal http
  request fails. The included message will be displayed as an alert.

<p>Below is the example handler, which should be over-written on the window. The <code>shouldThisFailDemo</code> var is toggleable
  to simulate both events. The <code>setTimeout()</code> is only necessary for simulating async, the production function should not include this.
</p>


{% set code_example_2 %}
//@TODO: actual Drupal http request code
window.__handleEditorSave = () => {
  return new Promise((resolve, reject) => {
    // faking async delay
    setTimeout(() => {
      if (shouldThisFailToDemo) {
        console.log('exampleHandleEditorSave failed');
        resolve({
          ok: false,
          message: 'This is a demonstration of how to fail the save'
        });
      } else {
        console.log('exampleHandleEditorSave ok!');
        resolve({
          ok: true,
          message: 'Saved ok!',
        });
      }
    }, 2000);
  })
}
{% endset %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: code_example_2,
  lang: 'js',
  mode: 'dark',
} only %}
