// @import 'tools-spacing/tools.get-shirt-size';
// @import 'tools-spacing/tools.calculate-sizes';
// @import 'tools-spacing/tools.normalize-spacing-name';
@import 'tools.contains-falsy';
@import 'tools.normalize-spacing-sizes';
@import 'tools.collapse-directionals';
@import 'tools.directional-property';
@import 'tools.spacing-margin';
@import 'tools.spacing-padding';

/*
 * Generate default spacing scale, based off of the base font size
 **/
@function _bolt-create-spacing-map($sizes, $char: '') {
  $map: ();
  @each $name, $value in $sizes {
    $keyName: $name;
    @if ($char != '' and $keyName != null) {
      $keyName: $char + $keyName;
    }
    $keyValue: $value * $bolt-spacing-gutter;
    $map: map-merge($map, ($keyName: $keyValue));
  }
  @return $map;
}
$_bolt-spacing-sizes: _bolt-create-spacing-map($bolt-spacing-values);

/*
 * CONVENIENCE FUNCTIONS
 **/
@function bolt-spacing($size) {
  @return map-get($_bolt-spacing-sizes, nth($size, 1));
}


// Convert shirt sizes in baseline-optimized sizes
@function bolt-v-spacing($sizes, $modifier) {
  @if ($modifier == 'squished') {
    $modifier: $bolt-spacing-squished;
  } @elseif ($modifier == 'stretched') {
    $modifier: $bolt-spacing-stretched;
  } @else {
    $modifier: 1;
  }

  @return (spacing($sizes) / strip-unit($bolt-spacing-gutter)) * $bolt-spacing-leading * $modifier;
}

// Alias for v-spacing function
@function bolt-vertical-spacing($size) {
  @return bolt-v-spacing($size);
}
