{% set schema = bolt.data.components["@bolt-components-svg-animations"].schema %}

<h3>SVG Animations</h3>

<h4>Connection Band</h4>
{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  animType: "ConnectionBand",
  direction: "left"
} only %}

{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  animType: "ConnectionBand",
  direction: "right"
} only %}

<h4>Radar</h4>
{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  speed: 4000,
  animType: "Radar",
  theme: "dark"
} only %}

{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  speed: 4000,
  animType: "Radar",
  theme: "light"
} only %}

<h4>Orbit</h4>
{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  speed: 4000,
  animType: "Orbit"
} only %}

<h4>Automation</h4>
{% include "@bolt-components-svg-animations/svg-animations.twig" with {
  speed: 2000,
  animType: "Automation"
} only %}
