@import '@bolt/core';

@include bolt-custom-element('bolt-accordion', block, medium);

bolt-accordion {
  display: block;

  // Required for no-js styles to display properly
  replace-with-children,
  replace-with-grandchildren {
    display: block;
  }
}

.c-bolt-accordion {
  position: relative;
  background-color: bolt-theme(background);
}

.c-bolt-accordion--shadow {
  box-shadow: 0 1px 2px 1px rgba(6, 10, 36, 0.1);
}
