{% if number %}
  <div class="c-bolt-numbered-headline__bullet c-bolt-numbered-headline__bullet--{{color}}">
    <div class="c-bolt-numbered-headline__bullet-text">{{ number }}</span>
  </div>
{% endif %}