@import '@bolt/core-v3.x';

/**
  * 1. keep the bullet size consistent regardless of the font-size of the headline it's used within
  *    note: update to ~1.2em to make the bullet size proportional to the headline font-size
  */
.c-bolt-numbered-headline__bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: bolt-spacing(medium); /* 1 */
  height: bolt-spacing(medium); /* 1 */
  border-radius: bolt-border-radius(full);

  &-text {
    @include bolt-font-size(xsmall);
  }

  &--orange {
    color: bolt-color(white);
    background-color: bolt-color(orange);
  }

  &--indigo {
    color: bolt-color(white);
    background-color: bolt-color(indigo, light);
  }

  &--purple {
    color: bolt-color(white);
    background-color: #751b84;
  }

  &--teal {
    color: bolt-color(white);
    background-color: bolt-color(teal);
  }
}
