<h3>SVG Animations</h3>

<h4>Triple Band, Left</h4>
<bolt-svg-animations
  anim-type="tripleConnectionBand"
  direction="left"
>
</bolt-svg-animations>

<h4>Triple Band, Right</h4>
<bolt-svg-animations
  anim-type="tripleConnectionBand"
  direction="right"
>
</bolt-svg-animations>

<h4>Connection Band, Right </h4>
<bolt-svg-animations
  anim-type="connectionBand"
  direction="right"
>
</bolt-svg-animations>


<h4>Radar</h4>
<bolt-svg-animations
  anim-type="radar"
  speed="4000"
>
</bolt-svg-animations>

<h4>Orbit</h4>
<bolt-svg-animations
  anim-type="orbit"
  speed="4000"
>
</bolt-svg-animations>


<h4>Automation</h4>
<bolt-svg-animations
  anim-type="automation"
  speed="2000"
>
</bolt-svg-animations>

<div style="background: rgb(22, 31, 80);">
<h3  style="color:#ffffff">SVG Animations- Dark Versions</h3>

<h4  style="color:#ffffff">Automation</h4>
<bolt-svg-animations
  anim-type="automation"
  speed="2000"
  theme="dark"
>
</bolt-svg-animations>

<h4  style="color:#ffffff">Orbit</h4>
<bolt-svg-animations
  anim-type="orbit"
  speed="4000"
  theme="dark"
>
</bolt-svg-animations>


<h4  style="color:#ffffff">Radar Dark</h4>
<bolt-svg-animations
  anim-type="radar"
  speed="4000"
  theme="dark"
>
</bolt-svg-animations>

<h4  style="color:#ffffff">Connection Band Left </h4>
<bolt-svg-animations
  anim-type="connectionBand"
  direction="left"
  theme="dark"
>
</bolt-svg-animations>

</div>