<h3>SVG Animations</h3>

<h4>Triple Band, Left</h4>
<bolt-svg-animations
  anim-type="tripleConnectionBand"
  direction="left"
>
</bolt-svg-animations>

<h4>Triple Band, Right</h4>
<bolt-svg-animations
  anim-type="tripleConnectionBand"
  direction="right"
>
</bolt-svg-animations>

<h4>Connection Band, Left</h4>
<bolt-svg-animations
  anim-type="connectionBand"
  direction="left"
>
</bolt-svg-animations>

<h4>Radar Dark</h4>
<bolt-svg-animations
  anim-type="radar"
  speed="4000"
  theme="dark"
>
</bolt-svg-animations>

<h4>Radar Light</h4>
<bolt-svg-animations
  anim-type="radar"
  speed="4000"
  theme="light"
>
</bolt-svg-animations>

<h4>Orbit</h4>
<bolt-svg-animations
  anim-type="orbit"
  speed="4000"
>
</bolt-svg-animations>


<h4>Automation</h4>
<bolt-svg-animations
  anim-type="automation"
  speed="2000"
>
</bolt-svg-animations>
