<bolt-button onclick="triggerAnimation()" style="margin-bottom: 2rem;">trigger animation</bolt-button>


<div style="background: #000000; height: 562px; margin: 40px; width: 562px; overflow: hidden;">
  <wwo-self-drawing-circle group="wo" id="c-pega-wwo__self-drawing-circle" class="c-pega-wwo__self-drawing-circle"></wwo-self-drawing-circle>
</div>

<script>
  const triggerAnimation = () => {
    document.querySelectorAll('wwo-self-drawing-circle').forEach(el => {
      el.triggerAnimIn()
    })
  };
</script>
