/* ------------------------------------ *\
    ELEMENTS - CODE
\* ------------------------------------ */

$bolt-code-border-radius: $bolt-border-radius;
$bolt-code-background-color: rgba(bolt-color(indigo, light), 0.08);


pre,
code {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: break-word;
  color: bolt-theme(text);
  text-align: left;
  border-radius: $bolt-code-border-radius;
}

pre {
  @include bolt-padding(small, squished);
  overflow-y: auto;
  overflow-x: auto;

  display: block;
  background-color: $bolt-code-background-color;
}

code {
  @include bolt-margin(0);
  @include bolt-padding(2px 0.25rem 2px 0.3rem); // [Mai] 0.25rem on the right offsets the 0.05rem letter-spacing.
  @include bolt-font-family(code);
  @include bolt-font-weight(regular);
  @include bolt-font-size(small);

  display: inline;
  letter-spacing: 0.05rem;
  background-color: $bolt-code-background-color;
}

pre code {
  @include bolt-padding(0);

  display: block;
  background-color: transparent;
}
