/* ------------------------------------ *\
  GENERIC - FONT STACKS
\* ------------------------------------ */

@each $fontName, $fontValue in bolt-data(fontFace) {
  $fontSrc: null;
  $fontSources: map-get($fontValue, 'src');

  @each $ext, $path in $fontSources {
    $fontSrc: append($fontSrc, url('#{$path}') format(quote($ext)), comma);
  }

  @font-face {
    font-family: map-get($fontValue, 'fontFamily');
    src: $fontSrc;
    font-weight: map-get($fontValue, 'weight');
    font-style: map-get($fontValue, 'style');
  }
}

@include export-data('typography/font-face.bolt.json', bolt-data(fontFace));