/* Full */
@media (min-width: 801px) {
#p-fd0baaca-3186-477d-af59-e21d04b1f7d4 .c-bolt-card:not(.c-bolt-card--wrapper), #p-79459a62-a912-4e16-ba42-fab1781d4126 .c-bolt-card:not(.c-bolt-card--wrapper) {
  box-shadow: none!important;
}
#p-fd0baaca-3186-477d-af59-e21d04b1f7d4 .c-bolt-card__body, #p-79459a62-a912-4e16-ba42-fab1781d4126 .c-bolt-card__body {
  background: #2d2931!important;
}
#p-fd0baaca-3186-477d-af59-e21d04b1f7d4 .o-bolt-grid--large, #p-79459a62-a912-4e16-ba42-fab1781d4126 .o-bolt-grid--large  {
  align-items: center!important;
}
#p-fd0baaca-3186-477d-af59-e21d04b1f7d4 .c-bolt-inline-label--checkbox, #p-79459a62-a912-4e16-ba42-fab1781d4126 .c-bolt-inline-label--checkbox {
  color: #fff!important;
}
}
/* Narrow */
@media (max-width: 800px) {
.c-webform-card__mobile-cta {
  display: none;
}
#p-fd0baaca-3186-477d-af59-e21d04b1f7d4, #p-0d4c8acf-5a97-47af-ad70-c02ae09f5d5d, #p-79459a62-a912-4e16-ba42-fab1781d4126 {
  display: none!important;
}
}