/* ------------------------------------ *\
   Banner
\* ------------------------------------ */
@import '@bolt/core-v3.x';

/**
 * Status prop
 * @todo: we don't have a good way to create more themes on the fly. We should consider creating 'Light Mode' and 'Dark Mode', then background-color can be set separately.
 * 1. Overriding the old theme colors.
 * 2. Overriding the new mode colors. These will take effect once we convert all things to use mode colors instead of theme.
 */

/**
 * Register custom element
 */
@include bolt-repeat-rule(('bolt-banner', ':host(bolt-banner)')) {
  --m-bolt-text: var(--bolt-color-info-dark); /* [2] */
  --m-bolt-headline: var(--bolt-color-info-dark); /* [2] */
  --m-bolt-link: var(--bolt-color-info-dark); /* [2] */

  display: block;

  &:not(:last-child) {
    margin-bottom: var(--bolt-spacing-y-medium);
  }
}

.c-bolt-banner {
  display: block;
  padding: calc(var(--bolt-spacing-y-medium) / 2) var(--bolt-spacing-x-medium);
}

@include bolt-repeat-rule(
  (
    'bolt-banner[status=error]',
    ':host(bolt-banner[status=error])',
    'bolt-banner[status=success]',
    ':host(bolt-banner[status=success])'
  )
) {
  --bolt-theme-headline-link: 255, 255, 255; /* [1] */
  --bolt-theme-headline: 255, 255, 255; /* [1] */
  --bolt-theme-link: 255, 255, 255; /* [1] */
  --bolt-theme-text: 255, 255, 255; /* [1] */

  --m-bolt-text: var(--bolt-color-white); /* [2] */
  --m-bolt-headline: var(--bolt-color-white); /* [2] */
  --m-bolt-link: var(--bolt-color-white); /* [2] */
}

@include bolt-repeat-rule(
  ('bolt-banner[status=warning]', ':host(bolt-banner[status=warning])')
) {
  --bolt-theme-headline-link: 0, 0, 0; /* [1] */
  --bolt-theme-headline: 0, 0, 0; /* [1] */
  --bolt-theme-link: 0, 0, 0; /* [1] */
  --bolt-theme-text: 0, 0, 0; /* [1] */

  --m-bolt-text: var(--bolt-color-black); /* [2] */
  --m-bolt-headline: var(--bolt-color-black); /* [2] */
  --m-bolt-link: var(--bolt-color-black); /* [2] */
}

@include bolt-repeat-rule(
  ('bolt-banner[status=information]', ':host(bolt-banner[status=information])')
) {
  --m-bolt-text: var(--bolt-color-info-dark); /* [2] */
  --m-bolt-headline: var(--bolt-color-info-dark); /* [2] */
  --m-bolt-link: var(--bolt-color-info-dark); /* [2] */
}

.c-bolt-banner--status-error,
.c-bolt-banner--status-success {
  color: var(--bolt-color-white);
}

.c-bolt-banner--status-error {
  background-color: var(--bolt-color-error);
}

.c-bolt-banner--status-success {
  background-color: var(--bolt-color-success);
}

.c-bolt-banner--status-warning {
  color: var(--bolt-color-black);
  background-color: var(--bolt-color-warning);
}

.c-bolt-banner--status-information {
  position: relative;
  color: var(--bolt-color-info-dark);
  border-left-color: var(--bolt-color-info);
  border-left-style: $bolt-border-style;
  border-left-width: $bolt-border-width * 3;
  box-shadow: 0 0 var(--bolt-spacing-y-xsmall) var(--m-bolt-border);
  background-color: var(--bolt-color-info-light);
}

/**
 * Align prop
 */
.c-bolt-banner--align-start {
  text-align: start;
}

.c-bolt-banner--align-center {
  text-align: center;
}

.c-bolt-banner--align-end {
  text-align: right;
  text-align: end;
}
