/* ------------------------------------ *\
   Banner
\* ------------------------------------ */
@import '@bolt/core-v3.x';

/**
 * Register custom element
 */
@include bolt-repeat-rule(('bolt-banner', ':host')) {
  display: block;

  &:not(:last-child) {
    margin-bottom: var(--bolt-spacing-y-medium);
  }
}

.c-bolt-banner {
  display: block;
  padding: calc(var(--bolt-spacing-y-medium) / 2) var(--bolt-spacing-x-medium);

  // removed by ds-208 & pr #1973
  // &--full {
  //   @include bolt-full-bleed;
  // }
}

/**
 * Status prop
 * @todo: we don't have a good way to create more themes on the fly. We should consider creating 'Light Mode' and 'Dark Mode', then background-color can be set separately.
 * 1. Hacking the colors in modern browsers.
 * 2. Hacking the colors in IE.
 */
@include bolt-repeat-rule(
  (
    'bolt-banner[status=error]',
    ':host[status=error]',
    'bolt-banner[status=success]',
    ':host[status=success]'
  )
) {
  --bolt-theme-headline-link: 255, 255, 255; /* [1] */
  --bolt-theme-headline: 255, 255, 255; /* [1] */
  --bolt-theme-link: 255, 255, 255; /* [1] */
  --bolt-theme-text: 255, 255, 255; /* [1] */
}

@include bolt-repeat-rule(
  ('bolt-banner[status=warning]', ':host[status=warning]')
) {
  --bolt-theme-headline-link: 0, 0, 0; /* [1] */
  --bolt-theme-headline: 0, 0, 0; /* [1] */
  --bolt-theme-link: 0, 0, 0; /* [1] */
  --bolt-theme-text: 0, 0, 0; /* [1] */
}

.c-bolt-banner--status-error,
.c-bolt-banner--status-success {
  color: bolt-color(white);
}

.c-bolt-banner--status-error {
  background-color: bolt-color(error);

  &[class*='t-bolt-dark'] {
    background-color: bolt-color(error); /* [2] */
  }
}

.c-bolt-banner--status-success {
  background-color: bolt-color(success);

  &[class*='t-bolt-dark'] {
    background-color: bolt-color(success); /* [2] */
  }
}

.c-bolt-banner--status-warning {
  color: bolt-color(black);
  background-color: bolt-color(warning);
}

.c-bolt-banner--status-information {
  position: relative;
  color: bolt-theme(text);
  border-left-color: bolt-theme(link);
  border-left-style: $bolt-border-style;
  border-left-width: $bolt-border-width * 3;
  box-shadow: 0 0 var(--bolt-spacing-y-xxsmall)
    bolt-theme(neutral, bolt-opacity(20));
  background-color: bolt-theme(background);

  @include bolt-ie11-only {
    box-shadow: 0 0 var(--bolt-spacing-y-xsmall)
      bolt-theme(neutral, bolt-opacity(20));
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    background-color: rgba(bolt-color(white), bolt-opacity(20));
  }
}

/**
 * Align prop
 */
.c-bolt-banner--align-start {
  text-align: left;
  text-align: start;
}

.c-bolt-banner--align-center {
  text-align: center;
}

.c-bolt-banner--align-end {
  text-align: right;
  text-align: end;
}
