$bolt-export-data: false !global;

@import '@bolt/settings-all';
@import '@bolt/tools-all';

.c-brightcove-meta__wrapper {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(xsmall);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(bolt-color(indigo), 0.8);
  color: bolt-color(white);
}
