@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Page Header (mobile hamburger menu)
\* ------------------------------------ */
@include bolt-mq($until: large) {
  .c-bolt-page-header {
    position: fixed;
  }

  // Primary section container
  .c-bolt-page-header__primary {
    display: grid;
    grid-template-columns: minmax(166px, 275px) 1fr;
    grid-gap: var(--bolt-spacing-x-medium);
    align-items: center;
    padding-top: $bolt-page-header-mobile-spacing-y;
    padding-bottom: $bolt-page-header-mobile-spacing-y;
    padding-inline-end: $bolt-page-header-mobile-primary-nav-spacing-x;
    padding-inline-start: $bolt-page-header-mobile-primary-nav-spacing-x;
  }

  // Logo
  .c-bolt-page-header__logo {
  }

  .c-bolt-page-header__logo__link {
  }

  .c-bolt-page-header__logo__img {
  }

  // Toolbar
  .c-bolt-page-header__toolbar {
    margin-inline-start: auto;
  }

  .c-bolt-page-header__action-trigger {
  }

  .c-bolt-page-header__action-trigger__text {
  }

  .c-bolt-page-header__action-trigger__icon {
  }

  .c-bolt-page-header__action-trigger__icon--close {
  }

  .c-bolt-page-header__action-trigger[aria-expanded='true'] {
  }

  // Dropdown search panel
  .c-bolt-page-header__search {
    padding-inline-end: $bolt-page-header-mobile-expanded-content-spacing-x;
    padding-inline-start: $bolt-page-header-mobile-expanded-content-spacing-x;
  }

  // Off-canvas primary nav
  .c-bolt-page-header__nav {
    @include bolt-page-header-nav-background;

    display: block;
    visibility: hidden;
    position: fixed;
    top: calc(var(--bolt-page-header-height) + 1px);
    right: 0;
    bottom: $bolt-page-header-click-target-size;
    left: 0;
    transform: translate3d(100%, 0, 0);
    z-index: bolt-z-index(navFixed);
    overflow: hidden;
    will-change: visibility, transform;
    transition: visibility $bolt-transition, transform $bolt-transition;

    @at-root .c-bolt-page-header__action-trigger--nav[aria-expanded='true']
        ~ #{&} {
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  .c-bolt-page-header__nav-list-group {
    @include bolt-vertical-scroll;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .c-bolt-page-header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    & + #{&} {
      margin-top: var(--bolt-spacing-y-small);
    }
  }

  .c-bolt-page-header__nav-list-item {
    @include bolt-shadow('level-10');

    margin-top: 1px;
    background-color: bolt-theme(background);
  }

  .c-bolt-page-header__nav-list-item--nested {
    > .c-bolt-page-header__nav-link[aria-expanded='true'] {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      height: $bolt-page-header-click-target-size;
      text-align: center;
      white-space: nowrap;
      border-bottom-color: $bolt-border-color;
      border-bottom-style: $bolt-border-style;
      border-bottom-width: $bolt-border-width;
      background-color: bolt-theme(background);

      &:after {
        content: '';
        position: fixed;
        top: $bolt-page-header-click-target-size;
        right: 0;
        left: 0;
        z-index: 0;
        height: 100vh;
        background-color: bolt-theme(secondary);
      }
    }

    > .c-bolt-page-header__nav-list {
      @include bolt-page-header-nav-background;
      @include bolt-vertical-scroll;

      visibility: hidden;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate3d(100%, 0, 0);
      z-index: 2;
      margin-top: $bolt-page-header-click-target-size;
      will-change: margin-top, visibility, transform;
      transition: margin-top $bolt-transition, visibility $bolt-transition,
        transform $bolt-transition;

      &.is-covered {
        overflow: visible;
        margin-top: 0;
      }

      .c-bolt-page-header__nav-list-item:first-of-type {
        margin-top: var(--bolt-spacing-y-small);
      }

      > * {
        opacity: 0;
        transition: opacity ease-out calc(#{$bolt-transition-timing} / 2);
      }
    }

    > .c-bolt-page-header__nav-link[aria-expanded='true']
      ~ .c-bolt-page-header__nav-list {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition-delay: $bolt-transition-timing;

      > * {
        opacity: 1;
        transition-delay: calc(#{$bolt-transition-timing} / 2);
      }
    }
  }

  .c-bolt-page-header__nav-content {
    padding-top: var(--bolt-spacing-y-medium);
    padding-bottom: var(--bolt-spacing-y-medium);
    padding-inline-start: $bolt-page-header-mobile-expanded-content-spacing-x;
    padding-inline-end: $bolt-page-header-mobile-expanded-content-spacing-x;
  }

  .c-bolt-page-header__nav-link {
    @include bolt-page-header-action-trigger(
      $bolt-page-header-mobile-expanded-content-spacing-x
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 0;
  }

  .c-bolt-page-header__nav-link--current {
    padding-inline-end: calc(
      #{$bolt-page-header-mobile-expanded-content-spacing-x} + var(
          --bolt-spacing-x-small
        ) * 2
    );
    color: bolt-theme(headline);

    &:after {
      content: '';
      display: block;
      transform: rotate(-45deg) translate3d(150%, 250%, 0);
      min-width: var(--bolt-spacing-x-small);
      height: var(--bolt-spacing-x-xsmall);
      border-bottom: 1px solid;
      border-left: 1px solid;
    }
  }

  .c-bolt-page-header__nav-link__text {
    flex-grow: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .c-bolt-page-header__nav-link__icon {
    display: grid;
    align-items: center;
    line-height: 1;

    &:before {
      content: '';
      display: block;
      width: 0.5em;
      height: 0.5em;
      border-top: 1px solid;
      border-right: 1px solid;
      will-change: border;
      transition: border $bolt-transition;
      transform-origin: center center;
    }

    &--prev {
      display: none;

      &:before {
        transform: rotate(-135deg);
      }

      @at-root .c-bolt-page-header__nav-link[aria-expanded='true'] #{&} {
        display: grid;

        &:before {
          border-top-width: 2px;
          border-right-width: 2px;
        }
      }

      @at-root .c-bolt-page-header__nav-link:hover #{&} {
        &:before {
          border-top-width: 2px;
          border-right-width: 2px;
        }
      }
    }

    &--next {
      opacity: 1;

      &:before {
        transform: rotate(45deg);
      }

      @at-root .c-bolt-page-header__nav-link[aria-expanded='true'] #{&} {
        opacity: 0;
      }

      @at-root .c-bolt-page-header__nav-link:hover #{&} {
        &:before {
          border-top-width: 2px;
          border-right-width: 2px;
        }
      }
    }
  }

  .c-bolt-page-header__nav-list--utils {
    .c-bolt-page-header__nav-link[aria-expanded='true']
      ~ .c-bolt-page-header__nav-list {
      .c-bolt-page-header__nav-link[aria-expanded] {
        display: none;
      }

      .c-bolt-page-header__nav-list {
        visibility: visible;
        opacity: unset;
        position: unset;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        transform: unset;
        z-index: unset;
        overflow: unset;
        margin-top: unset;

        .c-bolt-page-header__nav-list-item:first-of-type {
          margin-top: 0;
        }

        > * {
          opacity: 1;
        }
      }
    }
  }

  // Main CTA
  .c-bolt-page-header__cta {
    visibility: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(100%, 0, 0);
    z-index: bolt-z-index(navFixed);
    height: $bolt-page-header-click-target-size;
    padding: 0 var(--bolt-spacing-x-medium);
    font-size: var(--bolt-type-font-size-medium);
    line-height: $bolt-page-header-click-target-size;
    box-shadow: 0 0 var(--bolt-spacing-y-small) bolt-theme(primary);
    will-change: visibility, transform, filter, box-shadow;
    transition: visibility $bolt-transition, transform $bolt-transition,
      filter $bolt-transition, box-shadow $bolt-transition;

    @at-root .c-bolt-page-header__action-trigger--nav[aria-expanded='true']
        ~ #{&} {
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
}
