/* ------------------------------------ *\
   Page Header (desktop mega nav)
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '_page-header-settings-and-tools.scss';

@include bolt-mq($from: large) {
  // Primary section container
  .c-bolt-page-header__primary {
    padding-top: $bolt-page-header-desktop-padding-top;
    padding-right: var(--bolt-page-padding-x);
    padding-bottom: $bolt-page-header-desktop-padding-bottom;
    padding-left: var(--bolt-page-padding-x);
    background: linear-gradient(
      rgba(bolt-color(gray), 0.1) 0%,
      rgba(bolt-color(gray), 0.1) $bolt-page-header-desktop-util-nav-height,
      bolt-color(white) $bolt-page-header-desktop-util-nav-height,
      bolt-color(white) 100%
    );
    grid-template-columns:
      minmax(82px, var(--c-bolt-page-header-logo-max-width, auto))
      1fr;
    grid-gap: var(--bolt-spacing-x-xsmall);
  }

  // Logo
  .c-bolt-page-header__logo {
    margin-left: calc(#{$bolt-page-header-action-trigger-spacing-x} * -1);
  }

  // Toolbar
  .c-bolt-page-header__toolbar {
    flex: 1;
    justify-content: flex-end;
    margin-right: calc(#{$bolt-page-header-action-trigger-spacing-x} * -1);

    > * {
      order: 2;
    }
  }

  .c-bolt-page-header__action-trigger--nav {
    display: none;
  }

  // Search panel
  .c-bolt-page-header__action-trigger--search {
    z-index: 2;
  }

  .c-bolt-page-header__search {
    opacity: 0;
    transform: translate3d(0, calc(var(--bolt-spacing-y-small) * -1), 0);
    z-index: 1;
    padding-right: calc(var(--bolt-page-padding-x) + 8vw);
    padding-left: calc(var(--bolt-page-padding-x) + 8vw);
    transition: opacity $bolt-transition, visibility $bolt-transition,
      transform $bolt-transition;

    @at-root .c-bolt-page-header__action-trigger--search[aria-expanded='true']
        ~ #{&} {
      opacity: 1;
    }

    &:before {
      content: '';
      opacity: 0.8;
      position: fixed;
      top: calc(var(--bolt-page-header-height) * -1);
      right: 0;
      left: 0;
      z-index: 0;
      height: var(--bolt-page-header-height);
      background-color: bolt-theme(background);
    }
  }

  // Mega primary nav
  .c-bolt-page-header__nav {
    order: 1;
    margin-right: auto;
  }

  .c-bolt-page-header__nav-list-group {
    display: flex;
    flex-wrap: nowrap;
  }

  .c-bolt-page-header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .c-bolt-page-header__nav-list--user,
  .c-bolt-page-header__nav-list--related-sites {
    display: flex;
    position: absolute;
    top: 0;
    font-family: var(--bolt-type-font-family-headline);
    font-size: var(--bolt-type-font-size-xxsmall);
    font-weight: var(--bolt-type-font-weight-semibold);
    color: bolt-theme(link);
    line-height: var(--bolt-type-line-height-xxsmall);

    .c-bolt-page-header__nav-link {
      @include bolt-button-native-styles-reset;

      display: block;
      padding: 0 var(--bolt-spacing-x-xsmall);
      font-family: var(--bolt-type-font-family-headline);
      color: bolt-theme(link);
      line-height: $bolt-page-header-desktop-util-nav-height;
      outline: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        border-radius: bolt-border-radius(small);
        box-shadow: inset 0 0 0 1px currentColor;
        outline: none; // Repeated here to remove Firefox default outline.
      }
    }

    .c-bolt-page-header__nav-link__content {
      grid-gap: var(--bolt-spacing-x-xxsmall);
    }

    .c-bolt-page-header__nav-content {
      padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
    }

    .c-bolt-page-header__nav-list-item--popover {
      position: relative;

      &.t-bolt-dark {
        color: inherit;
        background-color: inherit;

        > .c-bolt-page-header__nav-link {
          color: inherit;
          background-color: inherit;
        }
      }

      > .c-bolt-page-header__nav-list {
        @include bolt-shadow('level-10');

        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: var(--bolt-spacing-y-medium);
        transform: translate3d(0, calc(var(--bolt-spacing-y-medium) * -1), 0);
        z-index: bolt-z-index(modal);
        width: 180px;
        overflow: hidden;
        border-radius: bolt-border-radius(small);
        border-width: $bolt-border-width;
        border-style: $bolt-border-style;
        border-color: $bolt-border-color;
        background-color: bolt-theme(background);
        transition: opacity $bolt-transition, visibility $bolt-transition,
          transform $bolt-transition;

        .c-bolt-page-header__nav-list-item:not(:last-of-type) {
          border-bottom-color: $bolt-border-color;
          border-bottom-style: $bolt-border-style;
          border-bottom-width: $bolt-border-width;
        }

        .c-bolt-page-header__nav-link {
          @include bolt-page-header-action-trigger;

          min-height: auto;
          padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
          font-size: var(--bolt-type-font-size-small);
          line-height: var(--bolt-type-line-height-small);
          border-radius: 0;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }

        .c-bolt-page-header__nav-list-item.is-selected
          .c-bolt-page-header__nav-link {
          padding-right: calc(
            var(--bolt-spacing-x-small) + var(--bolt-spacing-x-small) * 2
          );
          color: bolt-theme(headline);
          cursor: default;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 45%;
            right: calc(
              var(--bolt-spacing-x-small) + var(--bolt-spacing-x-small) * 2
            );
            transform: rotate(-45deg) translate3d(150%, 250%, 0);
            min-width: var(--bolt-spacing-x-small);
            height: var(--bolt-spacing-x-xsmall);
            border-bottom: 1px solid;
            border-left: 1px solid;
          }
        }
      }

      > .c-bolt-page-header__nav-link[aria-expanded='true']
        ~ .c-bolt-page-header__nav-list {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      > .c-bolt-page-header__nav-list--edge-start {
        left: 0;
      }

      > .c-bolt-page-header__nav-list--edge-end {
        right: 0;
      }
    }
  }

  .c-bolt-page-header__nav-list--user {
    order: 3;
    right: calc(var(--bolt-page-padding-x) - var(--bolt-spacing-x-xsmall));
    height: var(--bolt-spacing-y-medium);

    > .c-bolt-page-header__nav-list-item:first-of-type {
      order: 2;
    }

    > .c-bolt-page-header__nav-list-item:last-of-type {
      order: 1;
    }
  }

  .c-bolt-page-header__nav-list--related-sites {
    order: 2;
    left: calc(var(--bolt-page-padding-x) - var(--bolt-spacing-x-xsmall));

    > .c-bolt-page-header__nav-list-item {
      > .c-bolt-page-header__nav-link {
        display: none;
      }

      > .c-bolt-page-header__nav-list {
        display: flex;
      }
    }
  }

  .c-bolt-page-header__nav-list--site {
    display: flex;
    order: 1;

    > .c-bolt-page-header__nav-list-item {
      margin: 1px;

      &.is-current {
        > .c-bolt-page-header__nav-link {
          color: bolt-theme(headline);
        }
      }

      > .c-bolt-page-header__nav-link {
        @include bolt-page-header-action-trigger;

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: calc(#{$bolt-page-header-click-target-size} / 2 - 4px);
        padding: 0 var(--c-bolt-page-header-desktop-site-nav-link-spacing-x);
        font-size: var(
          --c-bolt-page-header-desktop-primary-nav-link-font-size,
          var(--bolt-type-font-size-small)
        );
        line-height: calc(#{$bolt-page-header-click-target-size} / 2 - 4px);
        white-space: nowrap;

        &:after {
          content: '';
          opacity: 0;
          position: absolute;
          top: -4px;
          left: 0;
          transform: translateY(3px);
          z-index: 0;
          width: 100%;
          height: calc(#{$bolt-page-header-click-target-size} + 4px);
          background: linear-gradient(
            transparent 0%,
            transparent calc(100% - 3px),
            bolt-theme(link) calc(100% - 3px),
            bolt-theme(link) 100%
          );
          transition: opacity $bolt-transition, transform $bolt-transition;
        }

        &:hover,
        &[aria-expanded='true'] {
          &:before {
            opacity: 0;
          }

          &:after {
            opacity: 1;
            transform: none;
          }
        }
      }
    }

    > .c-bolt-page-header__nav-list-item.has-children {
      > .c-bolt-page-header__nav-list {
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: var(--bolt-page-header-height);
        right: 0;
        left: 0;
        transform: translate3d(0, calc(var(--bolt-spacing-y-xsmall) * -1), 0);
        z-index: 1;
        width: 100%;
        padding-top: var(--bolt-spacing-y-medium);
        padding-right: calc(
          var(--bolt-page-padding-x) - var(--bolt-spacing-x-medium)
        );
        padding-bottom: var(--bolt-spacing-y-medium);
        padding-left: calc(
          var(--bolt-page-padding-x) - var(--bolt-spacing-x-medium)
        );
        border-top-color: $bolt-border-color;
        border-top-style: $bolt-border-style;
        border-top-width: $bolt-border-width;
        border-bottom-color: $bolt-border-color;
        border-bottom-style: $bolt-border-style;
        border-bottom-width: $bolt-border-width;
        box-shadow: 0 var(--bolt-spacing-y-medium) var(--bolt-spacing-y-medium)
          rgba(bolt-color(black), 0.4);
        background-color: bolt-theme(background);
        transition: opacity $bolt-transition, visibility $bolt-transition,
          transform $bolt-transition;

        > .c-bolt-page-header__nav-list-item {
          flex: 1;
          margin-bottom: var(--bolt-spacing-y-medium);
          padding-right: var(--bolt-spacing-x-medium);
          padding-left: var(--bolt-spacing-x-medium);
          border-left-color: $bolt-border-color;
          border-left-style: $bolt-border-style;
          border-left-width: $bolt-border-width;

          &:first-of-type {
            border-left-width: 0;
          }

          .c-bolt-page-header__nav-link--heading {
            margin-bottom: var(--bolt-spacing-y-xsmall);
          }

          > .c-bolt-page-header__nav-link--heading {
            margin-bottom: var(--bolt-spacing-y-small);
            font-family: var(--bolt-type-font-family-headline);
            font-size: var(--bolt-type-font-size-medium);
            font-weight: var(--bolt-type-font-weight-bold);
            color: bolt-theme(headline);
            line-height: var(--bolt-type-line-height-medium);
          }

          > a.c-bolt-page-header__nav-link--heading,
          > button.c-bolt-page-header__nav-link--heading {
            .c-bolt-page-header__nav-link__content:after {
              content: '';
              display: block;
              transform: rotate(-45deg) scale(0.4) translate3d(0.1em, 0.1em, 0);
              width: 1em;
              height: 1em;
              border-right: 5px solid; /* 5 x 0.4 (scale) = 2 */
              border-bottom: 5px solid;
            }
          }

          .c-bolt-page-header__nav-list {
            font-size: var(--bolt-type-font-size-xsmall);
            font-weight: var(--bolt-type-font-weight-semibold);
            line-height: var(--bolt-type-line-height-xsmall);
          }
        }

        .c-bolt-page-header__nav-link {
          display: block;
          padding: 1px;
          color: bolt-theme(headline);

          > .c-bolt-page-header__nav-link__content {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            line-height: inherit;
          }
        }

        a.c-bolt-page-header__nav-link,
        button.c-bolt-page-header__nav-link {
          @include bolt-button-native-styles-reset;

          color: bolt-theme(link);
          outline: none;

          &:hover {
            text-decoration: underline;
          }

          &:focus {
            border-radius: bolt-border-radius(small);
            box-shadow: 0 0 0 1px bolt-theme(link);
            outline: none; // Repeated here to remove Firefox default outline.
          }
        }

        .c-bolt-page-header__nav-list {
          .c-bolt-page-header__nav-list-item:not(last-of-type) {
            margin-bottom: var(--bolt-spacing-y-xsmall);
          }

          .c-bolt-page-header__nav-list-item.has-children
            + .c-bolt-page-header__nav-list-item {
            margin-top: var(--bolt-spacing-y-small);
          }

          .c-bolt-page-header__nav-list {
            margin-left: var(--bolt-spacing-x-small);
          }
        }

        .c-bolt-page-header__nav-list-item--full-width {
          display: grid;
          flex-basis: 100%;
          margin-bottom: 0;
          font-weight: var(--bolt-type-font-weight-bold);
          text-align: center;
          border-left-width: 0;
          place-items: center;
        }

        .c-bolt-page-header__nav-list-item.has-children {
          .c-bolt-page-header__nav-link[aria-expanded] {
            display: none;
          }
        }
      }

      > .c-bolt-page-header__nav-link[aria-expanded='true']
        ~ .c-bolt-page-header__nav-list {
        /* @todo: remove this comment after hover JS is done. &:hover > .c-bolt-page-header__nav-list */
        @include bolt-vertical-scroll;

        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: $bolt-transition-timing;
        max-height: calc(100vh - var(--bolt-page-header-height));
      }

      &:hover > .c-bolt-page-header__nav-link[aria-expanded] {
        &:after {
          opacity: 1;
          transform: none;
        }
      }

      /* @todo: remove this selector after hover JS is done.
      &:hover > .c-bolt-page-header__nav-list {
        z-index: 2;
      }
      */
    }
  }

  .c-bolt-page-header__nav-list--site.c-bolt-page-header__nav-list--wrap-items {
    flex-wrap: wrap;

    > .c-bolt-page-header__nav-list-item {
      > .c-bolt-page-header__nav-link {
        &:after {
          display: none;
        }

        &:hover {
          &:before {
            opacity: 0.1;
          }
        }
      }
    }
  }

  // Main CTA
  .c-bolt-page-header__cta {
    transform: translate3d(0, 0, 0);
    margin-right: $bolt-page-header-action-trigger-spacing-x;
    margin-left: $bolt-page-header-action-trigger-spacing-x;
    padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-small);
    font-size: var(--bolt-type-font-size-small);
    line-height: var(--bolt-type-line-height-small);
    border-radius: bolt-border-radius(small);
    box-shadow: 0 3px var(--bolt-spacing-y-xsmall) rgba(bolt-color(gray), 0.4);
    transition: transform $bolt-transition, filter $bolt-transition,
      box-shadow $bolt-transition;
    white-space: nowrap;

    &:hover {
      transform: translate3d(0, -1px, 0);
    }
  }

  // User flag
  .c-bolt-page-header__user-flag {
    grid-template-columns: 48px 1fr;
    grid-gap: var(--bolt-spacing-x-small);
    align-items: center;
  }
}
