/* ------------------------------------ *\
  #PAGE HEADER
\* ------------------------------------ */

// Provides over-arching page header

// Temporary placeholder

@import '@bolt/core';

.o-icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  fill: currentColor;
  -ms-flex-item-align: center;
}


.c-link__text {
  display: inline-block;
  vertical-align: middle;
}

.c-page-header {
  display: block;
  position: fixed;
  z-index: bolt-z-index('nav');
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #f5f5fa;
}

.c-page-header:before,
.c-page-header:after {
  display: table;
  content: " ";
}

.c-page-header:after {
  clear: both;
}

.c-page-header ~ .c-bolt-site__content {
  margin-top: 51px;
}

@media (min-width:1000px) {
  .c-page-header ~ .c-bolt-site__content {
    margin-top: 112px;
  }
}



.c-page-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-page-header__wrapper {
  position: relative;
}

.c-page-header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-page-header__background:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.98);
  content: '';
  opacity: .97;
}

.c-page-header__utility-nav {
  background-color: transparent;
}

.c-page-header__inner {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.c-page-header__utility-nav {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.c-page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 50px;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width:1000px) {
  .c-page-header__inner {
    min-height: 89px;
  }
}

@media (min-width:1000px) {
  .c-page-header__inner {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.c-page-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  letter-spacing: -0.35em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: auto;
}

@media (min-width:1000px) {
  .c-page-header__body {
    position: relative;
    margin-right: 1rem;
  }

  .c-page-header__body::after {
    position: absolute;
    top: 25%;
    right: 0;
    width: 1;
    height: 50%;
    content: "";
    border-right: thin solid #f5f5fa;
  }
}

.c-page-header__body > * {
  text-align: left;
  letter-spacing: normal;
  direction: ltr;
}

.c-page-header__image {
  flex-basis: 185px;
  -ms-flex-preferred-size: 185px;
}

.c-site-logo {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  font-size: 0.7rem;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

@media (min-width:600px) {
  .c-site-logo {
    font-size: 1rem;
  }
}

.c-site-logo__image {
  display: inline-block;
  width: 142px;
  max-width: none;
  vertical-align: bottom;
  margin-top: 1px;
  margin-bottom: 0px;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.c-utility-nav__item {
  margin-right: 1rem;
}

.c-utility-nav__item:last-child {
  margin-right: 0;
}

.c-header-buttons.c-header-buttons {
  letter-spacing: -.35em;
}

.c-header-buttons__item {
  letter-spacing: normal;
}

.c-mega-nav {
  display: inline-block;
  vertical-align: middle;
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}



.c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.c-mega-nav__level-1.c-mega-nav__list,
.c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list {
  position: fixed;
  z-index: bolt-z-index('contentBottom');
  top: 0;
  width: 100%;
  height: 100%;
  background: #f3f5f8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__link,
.c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list .c-mega-nav__link {
  display: block;
  padding: 15px 16px;
  color: #3a414e;
  text-decoration: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform,opacity;
}

.c-mega-nav__level-1.c-mega-nav__list {
  flex-shrink: 1;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-flex-negative: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width:1000px) {
  .c-mega-nav__level-1.c-mega-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: visible;
  }
}

.c-mega-nav__level-1.c-mega-nav__list > .c-mega-nav__item {
  flex-shrink: 1;
  -ms-flex-negative: 1;
}

.c-page-header__utility-nav {
  z-index: bolt-z-index('contentBottom');
  color: #005a8b;
  background-color: #f3f5f8;
  font-size: 11px;
  line-height: 17px;
  font-weight: 600;
}

.c-utility-nav__link {
  display: inline-block;
  color: #005a8b;
  text-decoration: none !important;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 1;
}

.c-utility-nav__link:visited {
  color: inherit;
}

.c-mega-nav__blue-link {
  color: #0079ba !important;
}

@media screen and (max-width:999px) {
  .c-mega-nav__level-1.c-mega-nav__list,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__link,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list .c-mega-nav__link {
    font-weight: 600;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list.is-hidden {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -webkit-transform: translate3d(100%,0,0);
    transform: translateX(100%);
    transform: translate3d(100%,0,0);
  }

  .c-mega-nav__level-1.c-mega-nav__list li:first-child,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list li:first-child {
    margin-bottom: 0.5rem;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__more {
    margin-top: 0.5rem;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__languages > span {
    padding-left: 48px;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__languages > span::before {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    content: '';
    background-size: 16px;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__languages .js-mega-nav__back-button {
    margin-bottom: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__languages .is-active {
    color: #0079ba;
  }

  .c-mega-nav__level-1.c-mega-nav__list li.c-mega-nav__languages .c-language-switcher__active-language-icon {
    float: right;
    width: 13px;
  }

  .c-mega-nav__level-1.c-mega-nav__list a,
  .c-mega-nav__level-1.c-mega-nav__list span,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list a,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list span {
    background-color: #fff;
    border-bottom: 1px solid #eaebef;
  }
}

@media screen and (max-width:999px) {
  .c-mega-nav__level-1.c-mega-nav__list,
  .c-mega-nav__mobile-contact-link {
    right: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width:999px) {
  .c-mega-nav__level-1.c-mega-nav__list.c-mega-nav__level-1.c-mega-nav__list.c-mega-nav__level-1.c-mega-nav__list {
    top: 51px;
    right: -100%;
    left: auto;
    height: 100vh;
  }
}

@media screen and (max-width:999px) and (-ms-high-contrast:active),screen and (max-width:999px) and (-ms-high-contrast:none) {
  .c-mega-nav__level-1.c-mega-nav__list.c-mega-nav__level-1.c-mega-nav__list.c-mega-nav__level-1.c-mega-nav__list {
    right: 0;
    -webkit-transform: translateX(100%);
    -webkit-transform: translate3d(100%,0,0);
    transform: translateX(100%);
    transform: translate3d(100%,0,0);
  }
}

@media screen and (max-width:999px) {
  .c-mega-nav__level-1.c-mega-nav__list,
  .c-mega-nav__mobile-contact-link {
    visibility: hidden;
  }
}

@media screen and (max-width:999px) {
  .has-children > .c-mega-nav__link {
    background-size: 10px;
  }

  .go-back .c-mega-nav__link {
    text-align: center;
    font-weight: bold;
  }

  .has-children > .c-mega-nav__link {
    padding-right: 40px;
  }

  .has-children > .c-mega-nav__link:after,
  .has-children > .c-mega-nav__link:before {
    right: 20px;
    -webkit-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
  }

  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link {
    padding-left: 20px;
  }

  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link:after,
  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link:before {
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
  }
}

@media screen and (max-width:999px) {
  .c-mega-nav__list {
    max-width: 100%;
    overflow-x: hidden !important;
  }
}

@media screen and (max-width:999px) {
  .c-mega-nav__mobile-contact .c-mega-nav__mobile-contact-link {
    position: fixed;
    z-index: bolt-z-index('nav');
    bottom: 0;
    left: 100%;
    width: 100%;
    padding: 15px 16px;
    text-align: center;
    color: #fff;
    background-color: #005a8b;
    font-weight: 600;
  }

  .c-mega-nav__mobile-contact .c-mega-nav__mobile-contact-link:after,
  .c-mega-nav__mobile-contact .c-mega-nav__mobile-contact-link:before {
    background: none;
  }

  .c-mega-nav__item:last-child {
    margin-bottom: 120px;
  }
}

@media screen and (min-width:1000px) {
  .c-mega-nav__level-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media screen and (min-width:1000px) and (min-width:1400px) {
  .c-mega-nav__level-2 {
    max-width: 1256px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding-right: calc(50vw - 1256px/2);
    padding-left: calc(50vw - 1256px/2);
  }
}

@media screen and (min-width:1000px) {
  .c-mega-nav__level-2.c-mega-nav__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .c-mega-nav__level-2 > .c-mega-nav__item {
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (min-width:1000px) {
  .c-mega-nav__level-1.c-mega-nav__list {
    position: static;
    float: right;
    width: auto;
    height: auto;
    overflow: visible;
    background: transparent;
    letter-spacing: -.35em;
    white-space: nowrap;
  }

  .c-mega-nav__level-1.c-mega-nav__list:before,
  .c-mega-nav__level-1.c-mega-nav__list:after {
    display: table;
    content: " ";
  }

  .c-mega-nav__level-1.c-mega-nav__list:after {
    clear: both;
  }

  .c-mega-nav__level-1.c-mega-nav__list > * {
    letter-spacing: normal;
    white-space: normal;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__list {
    position: static;
    z-index: bolt-z-index('contentBottom') + 5;
    width: auto;
    height: auto;
    background: transparent;
    overflow: visible;
  }

  .c-mega-nav__level-1.c-mega-nav__list > .c-mega-nav__item {
    display: inline-block;
    position: relative;
    padding: 0 16px;
    letter-spacing: normal;
  }

  .c-mega-nav__level-1.c-mega-nav__list > .c-mega-nav__item > .c-mega-nav__link {
    display: inline-block;
    flex-basis: auto;
    position: relative;
    height: 89px;
    padding: 16px 0;
    overflow: visible;
    border-bottom: solid 2px transparent;
    -ms-flex-preferred-size: auto;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.45;
    line-height: 60px;
  }

  .c-mega-nav__level-1.c-mega-nav__list .go-back {
    display: none;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list {
    position: fixed;
    top: auto;
    left: 50%;
    width: 100vw;
    background: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    -webkit-box-shadow: inset 0 1px 0 #e6e8ed,0 3px 6px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 #e6e8ed,0 3px 6px rgba(0,0,0,0.05);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list:before,
  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list:after {
    display: table;
    content: " ";
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list:after {
    clear: both;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list.is-hidden:before {
    opacity: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list > .c-mega-nav__item {
    flex-basis: 0;
    float: left;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -ms-flex-preferred-size: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list > .c-mega-nav__item.c-mega-nav__wrap {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    margin-top: 2rem;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list > .c-mega-nav__item.c-mega-nav__wrap > .c-mega-nav__link {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.51;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list > .c-mega-nav__item.c-mega-nav__promo {
    overflow: visible;
    padding-left: 2rem;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list .c-mega-nav__link {
    text-align: left;
    border-bottom: none;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list .c-mega-nav__list {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .c-mega-nav__level-1.c-mega-nav__list .c-mega-nav__level-2.c-mega-nav__list .c-mega-nav__list .c-mega-nav__list .go-back .c-mega-nav__link {
    color: transparent;
  }
}

@media screen and (min-width:1000px) {
  .go-back .c-mega-nav__link:after,
  .go-back .c-mega-nav__link:before,
  .has-children > .c-mega-nav__link:after,
  .has-children > .c-mega-nav__link:before {
    background: #c8cdd8;
  }
}

@media screen and (min-width:1000px) {
  .has-children > .c-mega-nav__link:after,
  .has-children > .c-mega-nav__link:before {
    right: 15%;
  }

  .c-mega-nav__level-1.c-mega-nav__list > .has-children > .c-mega-nav__link:after,
  .c-mega-nav__level-1.c-mega-nav__list > .has-children > .c-mega-nav__link:before {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #333;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
  }

  .c-mega-nav__level-1.c-mega-nav__list > .has-children > .c-mega-nav__link:before {
    right: 12px;
  }

  .c-mega-nav__level-1.c-mega-nav__list > .has-children > .c-mega-nav__link:after {
    right: 7px;
  }

  .c-mega-nav__level-2.c-mega-nav__list > .has-children > .c-mega-nav__link:after,
  .c-mega-nav__level-2.c-mega-nav__list > .has-children > .c-mega-nav__link:before {
    display: none;
  }

  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link {
    padding-left: 20px;
  }

  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link:after,
  .c-mega-nav__level-1.c-mega-nav__list .go-back .c-mega-nav__link:before {
    left: 1px;
  }
}

@media screen and (min-width:1000px) {
  .c-mega-nav__level-2 > .c-mega-nav__item:not(.c-mega-nav__promo):not(.c-mega-nav__wrap) {
    border-left: solid thin rgba(58,65,78,0.1);
    padding-left: 2rem;
  }

  .c-mega-nav__level-2 > .c-mega-nav__item:not(.c-mega-nav__promo):not(.c-mega-nav__wrap):nth-child(2) {
    border-left: none;
    padding-left: 0;
  }

  .c-mega-nav__level-2 > .c-mega-nav__item > .c-mega-nav__link {
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.65;
    margin-bottom: 1rem;
  }

  .c-mega-nav__level-3 > .c-mega-nav__item > .c-mega-nav__link {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.45;
  }

  .c-mega-nav__level-4.c-mega-nav__list {
    margin-bottom: 0.5rem;
  }

  .c-mega-nav__level-4 > .c-mega-nav__item > .c-mega-nav__link {
    color: #606a7d;
    font-size: 0.8rem;
    line-height: 1.45;
    margin-left: 1rem;
  }

  .c-mega-nav {
    padding-right: 2rem;
  }
}

@media screen and (min-width:1000px) {
  .c-mega-nav__level-1.c-mega-nav__list > .c-mega-nav__item {
    flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
  }
}

.c-header-dropdown {
  position: relative;
  float: left;
}

@media (min-width:0) and (max-width:999px) {
  .c-header-dropdown {
    display: none;
  }
}

.c-header-dropdown .c-utility-nav__item {
  margin-left: 1rem;
}

.js-header-dropdown__link .js-dropdown-list__link-icon {
  padding: 4px;
}

.c-header-dropdown__level-1 {
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 160px;
  text-align: center;
  text-transform: none;
  opacity: 0;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 1px 0 1px rgba(33,40,54,0.05),0 10px 10px 0 rgba(33,40,54,0.05),0 10px 40px 0 rgba(33,40,54,0.25);
  box-shadow: 0 1px 0 1px rgba(33,40,54,0.05),0 10px 10px 0 rgba(33,40,54,0.05),0 10px 40px 0 rgba(33,40,54,0.25);
  font-size: 0.8rem;
  line-height: 1.45;
}

.c-header-dropdown__level-1 li {
  border-bottom: 1px solid rgba(58,65,78,0.1);
}

.c-header-dropdown__level-1 li:last-child {
  border-bottom: none;
}

.c-header-dropdown__level-1 a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: #3a414e;
  text-decoration: none;
}

.c-header-buttons {
  display: inline-block;
  visibility: visible;
  position: relative;
  position: absolute;
  z-index: bolt-z-index('nav');
  top: 50%;
  right: 0;
  right: 0;
  color: #005a8b;
  -ms-flex-item-align: center;
  align-self: center;
  white-space: nowrap;
  opacity: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.c-header-buttons .c-header-buttons__item {
  display: inline-block;
  vertical-align: middle;
}

.c-hamburger {
  display: inline-block;
  z-index: bolt-z-index('nav');
  width: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -ms-flex-item-align: center;
  align-self: center;
}

@media (min-width:1000px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger__inner {
  position: relative;
}

.c-hamburger__button {
  display: inline-block;
  padding: 1rem;
  color: inherit;
  line-height: 1;
}

.c-hamburger__icons {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  letter-spacing: -.35em;
}

.c-hamburger__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  margin: 0 auto;
  border-radius: 1px;
  background-color: currentColor;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.c-hamburger__icon:first-child {
  -webkit-transform: translateX(-50%) translateY(5.33333px) translateY(-50%);
  transform: translateX(-50%) translateY(5.33333px) translateY(-50%);
}

.c-hamburger__icon:last-child {
  -webkit-transform: translateX(-50%) translateY(-5.33333px) translateY(-50%);
  transform: translateX(-50%) translateY(-5.33333px) translateY(-50%);
}

.c-hamburger__button--open {
  z-index: z('content') + 5;
  opacity: 1;
}

.c-hamburger__button--close {
  visibility: hidden;
  position: absolute;
  z-index: bolt-z-index('content');
  top: 0;
  right: 0;
}

.c-global-search {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  position: absolute;
  z-index: bolt-z-index('content');
  top: 0;
  top: 50%;
  right: 0;
  right: 0;
  left: 0;
  left: auto;
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  background-color: white;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

@media (min-width:1000px) {
  .c-global-search {
    right: 24px;
    padding: 0;
    background: transparent;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.c-global-search__panel-input {
  position: absolute;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: 0;
  opacity: 0;
}

.c-global-search__submit {
  visibility: hidden;
  position: absolute;
  z-index: bolt-z-index('content');
  top: 50%;
  left: 0;
  padding: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1em;
  opacity: 0;
}

.c-global-search__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width:1000px) {
  .c-global-search__panel {
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-transform: translateX(100%) translateX(-50px);
    transform: translateX(100%) translateX(-50px);
  }
}

.c-global-search__input-wrapper {
  position: relative;
  width: 100%;
  padding: 2px;
}

.c-global-search__search-icon {
  width: 16px;
  height: 16px;
  color: #005a8b;
}

.c-input__close-button {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 10px;
  text-align: center;
  color: #005a8b;
  -webkit-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  outline: 0;
}

.c-global-search__close-icon {
  width: 12px;
  height: 12px;
}

.c-global-search__panel-trigger {
  z-index: bolt-z-index('content');
  top: 50%;
  left: 0;
  padding: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1em;
  line-height: 1;
}

.c-global-search__search-input {
  width: 50px;
  max-width: 100%;
  color: #56646f;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  padding-left: 44px;
  border-color: transparent;
  -webkit-transform: translateX(-16px);
  -webkit-transform: translate3d(-16px,0,0);
  transform: translateX(-16px);
  transform: translate3d(-16px,0,0);
}

.c-global-search__search-input::-ms-clear {
  display: none;
}

.c-global-search__panel-trigger {
  visibility: visible;
  position: relative;
  z-index: bolt-z-index('tooltip');
  top: 0;
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.c-overlay {
  visibility: hidden;
  position: fixed;
  z-index: bolt-z-index('contentTop');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  -webkit-transform: translate3d(0,0,0);
  transform: translateX(0);
  transform: translate3d(0,0,0);
}

@media (min-width:0) and (max-width:999px) {
  .c-page-header__contact {
    display: none;
  }
}

.c-language-switcher {
  text-align: right;
  text-transform: none;
  margin-right: 1rem;
}

.c-language-switcher .c-header-dropdown__link {
  padding-left: 1rem;
  background-position: left center;
  background-size: 11px;
}

.c-language-switcher .c-header-dropdown__level-1 {
  right: 0;
}

.c-language-switcher .c-header-dropdown__level-1 li {
  position: relative;
}

.c-language-switcher .is-active {
  color: #005c9c;
}

.c-language-switcher .is-active svg {
  position: absolute;
  left: 0.5rem;
  width: 13px;
  height: 13px;
}

@media (min-width: 1000px) {
  .u-hide\@large{
    display:none !important;
  }
}

@media (max-width: 999px) and (min-width: 0) {
  .u-hide\@only-large {
    display:none !important;
  }
}

.u-float-right {
  float: right !important;
}

.u-float-left {
  float: left !important;
}

.visually-hidden {
  @include bolt-visuallyhidden;
}
