@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Page Padding

   Note: the padding alone will create a max-width for the content, there's no need for a wrapper element when using these vars.

   @todo: move these to global
\* ------------------------------------ */
:root {
  --bolt-page-max-width: #{bolt-breakpoint(xxlarge)};
  --bolt-page-padding-inline: $bolt-wrapper-padding;

  @include bolt-mq(medium) {
    --bolt-page-padding-inline: $bolt-wrapper-padding-at-medium-bp;
  }

  @include bolt-mq(xxlarge) {
    --bolt-page-padding-inline: calc(
      var(--bolt-wrapper-spacing-x) * 2 + (100vw - var(--bolt-page-max-width)) /
        2
    );
  }
}

/* ------------------------------------ *\
   Page Header
\* ------------------------------------ */

$bolt-page-header-mobile-click-target-size: 44px;
$bolt-page-header-mobile-padding-block: 4px;

// Calculate page header height for offsetting other sticky elements
:root {
  --bolt-page-header-height-mobile: calc(
    #{$bolt-page-header-mobile-click-target-size} + #{$bolt-page-header-mobile-padding-block} *
      2
  );
}

@mixin bolt-page-header-action-trigger {
  @include bolt-button-reset;

  display: block;
  min-height: $bolt-page-header-mobile-click-target-size;
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
  color: bolt-theme(link);
  text-align: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: bolt-theme(background);
  transition: background-color $bolt-transition;

  &:hover,
  &:focus {
    background-color: rgba(bolt-color(gray), 0.1);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px bolt-theme(link);
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: rgba(bolt-color(gray), 0.3);
  }

  &[aria-expanded='true'] {
    color: bolt-theme(headline);
  }
}

.c-bolt-page-header {
  @include bolt-shadow('level-10');

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: bolt-z-index(navFixed);
  color: bolt-theme(text);
  border-bottom-color: $bolt-border-color;
  border-bottom-style: $bolt-border-style;
  border-bottom-width: $bolt-border-width;
  background-color: bolt-theme(background);
}

/**
 * Primary section container
 */
.c-bolt-page-header__primary {
  display: grid;
  grid-template-columns: minmax(120px, 150px) 1fr;
  grid-gap: var(--bolt-spacing-x-medium);
  align-items: center;
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin: 0 -50vw;
  padding-top: $bolt-page-header-mobile-padding-block;
  padding-bottom: $bolt-page-header-mobile-padding-block;
  padding-inline-end: var(--bolt-spacing-x-small);
  padding-inline-start: var(--bolt-spacing-x-small);
}

/**
 * Logo
 */
.c-bolt-page-header__logo {
  @include bolt-page-header-action-trigger;

  height: $bolt-page-header-mobile-click-target-size;
  border-radius: bolt-border-radius(large);
}

/**
 * Toolbar
 */
.c-bolt-page-header__toolbar {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
}

.c-bolt-page-header__action-trigger {
  @include bolt-page-header-action-trigger;

  height: $bolt-page-header-mobile-click-target-size;
  border-radius: bolt-border-radius(large);

  & ~ #{&} {
    margin-inline-start: var(--bolt-spacing-x-xxsmall);
  }
}

.c-bolt-page-header__action-trigger__text {
  @include bolt-visuallyhidden;
}

.c-bolt-page-header__action-trigger__icon {
  display: grid;
  font-size: var(--bolt-type-font-size-xlarge);
  line-height: 1;
  place-items: center;
}

/**
 * Dropdown search panel
 */
.c-bolt-page-header__search {
  display: none;
}

/**
 * Off-canvas primary nav
 */
.c-bolt-page-header__nav {
  @include bolt-vertical-scroll;

  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: fixed;
  top: calc(var(--bolt-page-header-height-mobile) + 1px);
  right: 0;
  bottom: $bolt-page-header-mobile-click-target-size;
  left: 0;
  transform: translate3d(100%, 0, 0);
  z-index: bolt-z-index(navFixed);
  background-color: bolt-theme(background);
  will-change: transform, visibility;
  transition: all $bolt-transition;

  &:before {
    content: '';
    display: block;
    opacity: bolt-opacity(100);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-color: rgba(bolt-color(gray), 0.2);
  }

  > * {
    position: relative;
  }

  &.is-expanded {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.c-bolt-page-header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & + #{&} {
    margin-top: var(--bolt-spacing-y-small);
  }

  @at-root .c-bolt-page-header__nav-list-item.has-subnav > #{&} {
    display: none;
  }
}

.c-bolt-page-header__nav-list-item {
  @include bolt-shadow('level-10');

  background-color: bolt-theme(background);

  & + #{&} {
    margin-top: 1px;
  }
}

.c-bolt-page-header__nav-link {
  @include bolt-page-header-action-trigger;

  width: 100%;
  padding-inline-start: calc(var(--bolt-spacing-x-small) * 2);
  padding-inline-end: calc(var(--bolt-spacing-x-small) * 2);
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-medium);
  font-weight: var(--bolt-type-font-weight-semibold);
}

/**
 * Main CTA
 */
.c-bolt-page-header__cta {
  display: block;
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(100%, 0, 0);
  z-index: bolt-z-index(navFixed);
  height: $bolt-page-header-mobile-click-target-size;
  padding: 0 var(--bolt-spacing-x-medium);
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-medium);
  font-weight: var(--bolt-type-font-weight-semibold);
  color: bolt-theme(text-on-primary);
  line-height: $bolt-page-header-mobile-click-target-size;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 var(--bolt-spacing-y-small) bolt-theme(primary);
  outline: none;
  background-color: bolt-theme(primary);
  will-change: transform, visibility;
  transition: all $bolt-transition;
  white-space: nowrap;

  &:hover,
  &:focus {
    filter: brightness(110%);
  }

  &:focus {
    box-shadow: inset 0 0 0 3px bolt-theme(primary),
      inset 0 0 0 4px bolt-color(text-on-primary);
  }

  &:active {
    filter: brightness(95%);
  }

  @at-root .c-bolt-page-header__nav.is-expanded ~ #{&} {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}
