/* ------------------------------------ *\
   Page Header (mobile and desktop
   shared style)
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '_page-header-settings-and-tools.scss';

.c-bolt-page-header {
  @include bolt-shadow('level-10');

  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: bolt-z-index(navFixed);
  color: bolt-theme(text);
  background-color: bolt-theme(background);

  *::-webkit-scrollbar {
    width: 11px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--bolt-color-gray) var(--bolt-color-gray-xlight);
  }

  *::-webkit-scrollbar-track {
    background: var(--bolt-color-gray-xlight);
  }

  *::-webkit-scrollbar-thumb {
    border: 3px solid var(--bolt-color-gray-xlight);
    border-radius: 6px;
    background-color: var(--bolt-color-gray);
  }

  @media (prefers-reduced-motion) {
    &,
    *,
    *:before,
    *:after {
      transition: none !important;
    }
  }
}

.c-bolt-page-header__primary,
.c-bolt-page-header__secondary {
  @include bolt-full-bleed;

  &.is-hidden-on-scroll {
    position: absolute;
    transform: translate3d(0, -100%, 0);
  }
}

// Primary section container
.c-bolt-page-header__primary {
  display: grid;
  align-items: center;
  position: relative;
  z-index: 2; // Primary nav (with dropdowns) has a higher stacking order than secondary.
  transition: transform $bolt-transition;
}

// Secondary section container
.c-bolt-page-header__secondary {
  position: relative;
  z-index: 1;
}

// Logo
.c-bolt-page-header__logo {
  @include bolt-page-header-action-trigger;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $bolt-page-header-click-target-size;
  padding-top: 2px;
  padding-bottom: 2px;
}

.c-bolt-page-header__logo__img {
  display: block;
  height: 30px;

  img {
    width: var(--c-bolt-page-header-logo-max-width);
    max-width: 100%;
    height: inherit;
    object-fit: contain;
    object-position: left center;
  }
}

// Toolbar
.c-bolt-page-header__toolbar {
  display: flex;
  align-items: center;
}

.c-bolt-page-header__action-trigger {
  @include bolt-page-header-action-trigger;

  height: $bolt-page-header-click-target-size;

  &:active {
    &:before {
      transform: scale(0.85);
    }
  }

  &[aria-expanded='true'] {
    &:before {
      opacity: 0.1;
    }
  }

  & ~ #{&} {
    margin-inline-start: var(--bolt-spacing-x-xxsmall);
  }
}

.c-bolt-page-header__action-trigger__text {
  @include bolt-visuallyhidden;
}

.c-bolt-page-header__action-trigger__icon {
  display: grid;
  transform: scale(1) rotate(0deg);
  font-size: var(--bolt-type-font-size-xxlarge);
  line-height: 1;
  transition: transform ease-out 500ms;
  place-items: center;

  > * {
    position: absolute;
    z-index: 0;
  }
}

.c-bolt-page-header__action-trigger__icon--close {
  transform: scale(0) rotate(360deg);
}

.c-bolt-page-header__action-trigger[aria-expanded='true'] {
  .c-bolt-page-header__action-trigger__icon:not(.c-bolt-page-header__action-trigger__icon--close) {
    transform: scale(0) rotate(360deg);
  }

  .c-bolt-page-header__action-trigger__icon--close {
    transform: scale(1) rotate(0deg);
  }
}

// Search panel
.c-bolt-page-header__search {
  display: block;
  visibility: hidden;
  position: fixed;
  top: var(--bolt-page-header-height);
  right: 0;
  left: 0;
  padding-top: var(--bolt-spacing-y-medium);
  padding-bottom: var(--bolt-spacing-y-medium);
  border-top-color: $bolt-border-color;
  border-top-style: $bolt-border-style;
  border-top-width: $bolt-border-width;
  background-color: bolt-theme(background);

  &:after {
    content: '';
    opacity: 0.8;
    position: fixed;
    top: 100%;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: bolt-theme(headline);
  }

  @at-root .c-bolt-page-header__action-trigger--search[aria-expanded='true']
      ~ #{&} {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

// Nav link
.c-bolt-page-header__nav-link {
  text-decoration: none;
}

.c-bolt-page-header__nav-link__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  @include bolt-mq(xlarge) {
    > bolt-icon {
      transform: translateY(
        0.5px
      ); // Temporary fix for icon + text bad vertical alignment above xlarge breakpoint.
    }
  }
}

// Main CTA
.c-bolt-page-header__cta {
  @include bolt-button-native-styles-reset;

  display: block;
  font-family: var(--bolt-type-font-family-headline);
  font-weight: var(--bolt-type-font-weight-semibold);
  color: bolt-theme(text-on-primary);
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: bolt-theme(primary);
  filter: none;
  transition: transform $bolt-transition, filter $bolt-transition,
    box-shadow $bolt-transition;
  white-space: nowrap;

  &:hover,
  &:focus {
    filter: brightness(110%);
  }

  &:focus {
    box-shadow: inset 0 0 0 3px bolt-theme(primary),
      inset 0 0 0 4px bolt-color(text-on-primary);
  }

  &:active {
    filter: brightness(95%);
  }
}

// User flag
.c-bolt-page-header__user-flag {
  display: grid;
}

.c-bolt-page-header__user-flag__img {
  overflow: hidden;
  border-radius: bolt-border-radius(full);
}

.c-bolt-page-header__user-flag__content {
  word-break: break-word;
  hyphens: auto;
}
