/*------------------------------------*\
  Defining body and heading fonts
\*------------------------------------*/


/*
 * System Fonts (fallback and no-script)
 */

$font-heading--system: $font-sans--system;
$font-body--system: $font-sans--system;
$font-code--system: $font-monospace--system;


/*
 * Custom fonts
 */

$font-heading: $font-sans;
$font-body: $font-sans;
$font-code: $font-monospace;
