@import '@bolt/core';

/* ------------------------------------ *\
   Modal
   ---
   Based originally off of
   https://github.com/edenspiekermann/a11y-dialog
   before heavy modifications
   and customizations
\* ------------------------------------ */

/**
 * When `<dialog>` is properly supported, the overlay is implied and can be
 * styled with `::backdrop`, which means the DOM one should be removed.
 */
/*
[data-a11y-dialog-native] .dialog-overlay {
  @todo: look further into this to see why the natively supported ::backdrop wasn't showing up as expected
  display: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}
*/

$bolt-modal-overlay-bg-color: rgba(bolt-color(black), bolt-opacity(60));

// Hide all the non-trigger (button / link, etc) content inside the <bolt-modal> container before the JS kicks in
bolt-modal:not([ready]) {
  > *:not([slot*='trigger']) {
    display: none;
  }
}

.c-bolt-modal {
  display: inline;
}

.c-bolt-modal__overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  background-color: $bolt-modal-overlay-bg-color;
  transition: opacity 0.3s ease; // @todo: abstract away transition styles

  &.is-visible {
    opacity: 1;
    transition: opacity 0.3s ease; // @todo: abstract away transition styles
  }
}

.c-bolt-modal__content {
  display: block;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(100px);
  z-index: 3;
  width: 600px; // @todo: refactor min / max height and width; placeholder styles for demo
  max-width: 90%; // @todo: refactor min / max height and width; placeholder styles for demo
  max-height: 90vh; // @todo: refactor min / max height and width; placeholder styles for demo
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: bolt-border-radius(small);
  box-shadow: 0 20px 32px -8px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31); // @todo: clean up box shadow styles here
  background-color: bolt-theme(background);
  transition: 0.3s ease; // @todo: abstract away transition styles

  &.is-open {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: 0.3s ease; // @todo: abstract away transition styles
  }
}

.c-bolt-modal__content-inner {
  @include bolt-padding(small);
  position: relative;

  @include bolt-mq(medium) {
    @include bolt-padding(medium);
  }
}

// @todo: make sure the header is setup to carve out space on the right side for the close button
.c-bolt-modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
}
