<svg class="hidden" style="position: absolute; width: 0; height: 0; visibility: hidden;">
    <defs>
      <linearGradient id="linearGradientIndigo" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#060923" />
        <stop offset="1" stop-color="#545DA6" />
      </linearGradient>

      <linearGradient id="linearGradientIndigoLight" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#545DA6" />
        <stop offset="1" stop-color="#ABB3F2" />
      </linearGradient>

      <linearGradient id="linearGradientYellow" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#E8AD17" />
        <stop offset="1" stop-color="#FFE299" />
      </linearGradient>

      <linearGradient id="linearGradientTeal" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#003333" />
        <stop offset="1" stop-color="#7ACDCD" />
      </linearGradient>

      <linearGradient id="linearGradientTealLight" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#545DA6" />
        <stop offset="1" stop-color="#ABB3F2" />
      </linearGradient>

      <linearGradient id="linearGradientOrange" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#661A00" />
        <stop offset="1" stop-color="#E84B17" />
      </linearGradient>

      <linearGradient id="linearGradientGray" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#E0E2EB" />
        <stop offset="1" stop-color="#F6F6F9" />
      </linearGradient>
    </defs>

    <symbol id="square-outline" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientGray)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400"></rect>
    </symbol>

    <symbol id="square-circle" viewBox="0 0 400 400">
        <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientOrange)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400"></rect>
    </symbol>

    <symbol id="outline-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-outline c-bolt-background-shapes__svg-interior" fill="url(#linearGradientTeal)" transform="translate(125.000000, 125.000000) scale(-1, 1) rotate(-270.000000) translate(-125.000000, -125.000000) " x="30" y="30" width="190" height="190" rx="95"></rect>
    </symbol>

    <symbol id="little-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary"  fill="url(#linearGradientYellow)" transform="translate(95.000000, 95.000000) scale(-1, 1) rotate(-270.000000) translate(-95.000000, -95.000000) " x="105" y="105" width="190" height="190"></rect>
    </symbol>

    <symbol id="little-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientIndigoLight)" transform="translate(95.000000, 95.000000) scale(-1, 1) rotate(-270.000000) translate(-95.000000, -95.000000) " x="105" y="105" width="190" height="190" rx="95"></rect>
    </symbol>


    <symbol id="circle-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-interior" fill="url(#linearGradientTealLight)" transform="translate(201.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-201.000000, -200.000000) " x="106" y="105" width="400" height="400"></rect>
    </symbol>

    <symbol id="circle-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientYellow)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400" rx="200"></rect>
    </symbol>

    <symbol id="big-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientTeal)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="9.09494702e-13" width="400" height="400"></rect>
    </symbol>

    <symbol id="big-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientOrange)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400" rx="200"></rect>
    </symbol>
  </svg>

  <div class="c-bds-shapes__shape-outer" style="--size: 3em; --rotate: 4deg; --tx: 460px; --ty: -260px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#square-outline"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 2.5em; --rotate: 30deg; --tx: -450px; --ty: -250px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#square-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 6em; --rotate: 340deg; --tx: 400px; --ty: 130px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#outline-circle"></use></svg>
    </div>
  </div>

    <div class="c-bds-shapes__shape-outer" style="--size: 2.5em; --rotate: 5deg; --tx: 90px; --ty: -300px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#little-square"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 5rem; --rotate: -20deg; --tx: -180px; --ty: 240px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#little-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 4.5em; --rotate: 20deg; --tx: -400px; --ty: 100px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#circle-square"></use></svg>
    </div>
  </div>

    <div class="c-bds-shapes__shape-outer" style="--size: 3em; --rotate: -40deg; --tx: 260px; --ty: -320px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#circle-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 2.5em; --rotate: 20deg; --tx: 240px; --ty: 270px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#big-square"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__shape-outer" style="--size: 4rem; --rotate: -10deg; --tx: -150px; --ty: -360px">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; height: var(--size); width: 4rem; width: var(--size);"><use xlink:href="#big-circle"></use></svg>
    </div>
  </div>