.sub-nav {
  margin: 0;
  border-top: 1px solid #e0e2eb;
  list-style-type: none;

  &__link {
    font-size: 1.11rem;
    line-height: 1.25;
    font-weight: 300;

    &--active-path {
      color: #545da6;
      font-weight: 600;

      &+.sub-nav__list--depth-3 {
        border-left: 2px solid #535ca6;
      }
    }

    &--active {
      text-decoration: none;
      font-weight: bolder;
    }

    &--parent {
      display: block;
      padding: 0.6rem 1.7rem;
      color: #000;
      background: #e0e2eb;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;

      &.sub-nav__link--active-path {
        color: #fff;
        text-decoration: none;
        background: #545da6;
      }
    }

    .sub-nav__list--depth-1 & {
      font-size: 1.25rem;
    }

    .sub-nav__list--depth-2 & {
      display: block;
      margin: 0.5rem 0;
      font-size: 0.9rem;

      &.sub-nav__link--active {
        color: #545da6;
        font-style: italic;
        font-weight: 600;

        &:before {
          content: "#";
          font-weight: 100;
        }
      }
    }
  }

  &__list {
    &--depth-2,
    &--depth-3 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      border-left: 2px solid transparent;
      margin-left: 0.25rem;
      padding-left: 2rem;
    }
  }

  > ul {
    padding: 0;
    margin-left: 0;

    li:first-child a.sub-nav__link--parent {
      border-top: none;
    }
  }

  li {
    list-style: none;
  }
}

