@mixin border-box {
  box-sizing: border-box;
}

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin paragraph-spacing {
  @include mm-margin(($font-leading--base + rem),0,0,0);
}

@mixin null-spacing {
  @include mm-margin(0,0,0,0);
}
