/*------------------------------------*  Settings
\*------------------------------------*/
/*------------------------------------*  Global Settings
\*------------------------------------*/
/*------------------------------------*  Breakpoint variables
\*------------------------------------*/
/*------------------------------------*  Main variables
\*------------------------------------*/
/*
 * System UI Fonts
 */
/*
 * Font types
 */
/*------------------------------------*  Configurations (design token --- settings-tokens-typography)
\*------------------------------------*/
/*
 * System Fonts (fallback and no-script)
 */
/*
 * Custom fonts
 */
/*------------------------------------*  Weights (settings-font-weight)
\*------------------------------------*/
/*------------------------------------*  Sizing (move to settings-modular-scale)
\*------------------------------------*/
/*
 * Base Font Size
 */
/*
 * Font Size Scale (rem)
 */
/*------------------------------------*  Color Palettes
\*------------------------------------*/
/*------------------------------------*  Spacing Scale
\*------------------------------------*/
/**
 * Read https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62 for more background into spacing scales for design systems.
 */
/*------------------------------------*  Tools
\*------------------------------------*/
/*------------------------------------*  Breakpoints
\*------------------------------------*/
/*------------------------------------*  Screen Resolution
\*------------------------------------*/
/*------------------------------------*  Button Colors
\*------------------------------------*/
/** Generate different background and border color button interaction states based on the primary color passed in **/
/*------------------------------------*  Text Contrast
\*------------------------------------*/
/*------------------------------------*  Color Palette
\*------------------------------------*/
/**
  * Helper functions for applying global color swatches stored in Sass Maps
  */
/*------------------------------------*  Color Palettes
\*------------------------------------*/
/*------------------------------------*  Sassy Maps
\*------------------------------------*/
/*------------------------------------*  Color Palette
\*------------------------------------*/
/**
  * Helper functions for applying global color swatches stored in Sass Maps
  */
/*------------------------------------*  Color Palettes
\*------------------------------------*/
/*------------------------------------*  Sassy Maps
\*------------------------------------*/
/*------------------------------------*  Sassy Maps
\*------------------------------------*/
/*------------------------------------*  Spacing
\*------------------------------------*/
/** Automatically grab the correct size from on our global spacing unit scale. **/
/*------------------------------------*  Spacing Scale
\*------------------------------------*/
/**
 * Read https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62 for more background into spacing scales for design systems.
 */
/*------------------------------------*  Sassy Maps
\*------------------------------------*/
/*------------------------------------*  Strip Unit
\*------------------------------------*/
/*------------------------------------*  Text Contrast
\*------------------------------------*/
/*------------------------------------*  Color Palette
\*------------------------------------*/
/**
  * Helper functions for applying global color swatches stored in Sass Maps
  */
/*------------------------------------*  Color Palettes
\*------------------------------------*/
/*------------------------------------*  Sassy Maps
\*------------------------------------*/
/*------------------------------------*  Font Stack
\*------------------------------------*/
/*------------------------------------*  Font Size
\*------------------------------------*/
/*------------------------------------*  Font Rendering
\*------------------------------------*/
/*------------------------------------*  Generic
\*------------------------------------*/
/*------------------------------------*  Text rendering fix
\*------------------------------------*/
*, *:before, *:after {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
}

html.touch *, html.touch *:before, html.touch *:after {
  text-rendering: optimizeSpeed;
}

/*------------------------------------*  Body and heading declaration
\*------------------------------------*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html.fonts-loaded body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html.fonts-loaded h1, html.fonts-loaded h2, html.fonts-loaded h3, html.fonts-loaded h4, html.fonts-loaded h5, html.fonts-loaded h6 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*------------------------------------*  Font Size
\*------------------------------------*/
html {
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: calc(15px + 3 * (100vw - 768px) / (1152));
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

body {
  line-height: 1.65;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.111;
  font-size: 1rem;
}

/*------------------------------------*  Link
\*------------------------------------*/
a {
  text-decoration: none;
}

/*------------------------------------*  Elements
\*------------------------------------*/
/*------------------------------------*  Objects
\*------------------------------------*/
/*------------------------------------*  Components
\*------------------------------------*/
/*------------------------------------*  Themes
\*------------------------------------*/
/*------------------------------------*  Utilities
\*------------------------------------*/
/*------------------------------------*  Shame
\*------------------------------------*/

/*# sourceMappingURL=bolt.css.map */
