<p>An example of all fade ins on a banner component, (100 elements in total), triggered on window load. Click on the banner to see the specific single animation.</p>

{% set fades = ['--in', '--in-up', '--in-down', '--in-left', '--in-right'] %}

{% for i in 1..20 %}
  {% for fade in fades %}
    {% include '@bolt-components-banner/banner.twig' with {
      content: 'This is the banner content fade' ~ fade,
      attributes: {
        class: [
          'a-bolt-fade',
          'a-bolt-fade' ~ fade,
          'a-bolt-fade--successively'
        ],
      }
    } only %}
  {% endfor %}
{% endfor %}

<script>

  const fadeEl = document.querySelectorAll('.a-bolt-fade');

  //Repeat single specific fade on click
  function triggerThisEl(e) {
    const prefix = 'a-bolt-fade--';
    const classes = e.target.className.split(' ').filter(c => !c.startsWith(prefix));
    const runAnimationClasses = e.target.className.split(' ').filter(c => c.startsWith(prefix));
    e.target.className = classes.join(' ').trim();
    e.target.classList.remove('a-bolt-fade--successively');
    setTimeout(() => {
      e.target.classList.add(...runAnimationClasses)
    }, 100)
  }

  fadeEl.forEach((el) => {
    el.addEventListener('click', triggerThisEl)
  })

</script>

