<p>An example of a fade--in-up on icons, looped 100 times, triggered on window load</p>

{% for i in 0..100 %}
  {% include "@bolt-elements-icon/icon.twig" with {
    name: 'bell-solid',
    color: 'navy',
    size: 'xlarge',
    attributes: {
      class: [
        'a-bolt-fade',
        'a-bolt-fade--duration-fast',
        'a-bolt-fade--in-up',
        'a-bolt-fade--cascade-fast',
      ]
    }
  }%}
{% endfor %}
