@warn "The ability to reference internal Sass partials in @bolt/core/styles is deprecated and will be removed in Bolt v3.0. Please update your code to only point to the main Core Styles entrypoint!";

@import '@bolt/core-v3.x/styles/02-tools/tools-sass-json-export/encode/types/_map.scss';