{#
/**
 * @file
 * Action Block Component in Bolt
 *
 *  action_block: // paragraph type
 *  - action_block_item (array) // Field item
 *
 *  Dependencies:
 *  - components:
 *    - components-link
 *    - components-icon
 *  - extensions:
 *    - link.function.php
 *    - attributes object
 *
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping `action-block` component
 * - children: (D8 field items). Array of all the field items
 * - items: (PL equivelent to children)
 *
 */
#}


{#

#}

<div class="c-action-block">
  <ul class="c-action-block__wrapper">
    {% if children %}
      {{ children }}
    {% else %}
      {% for item in contentItems %}
        {% include "@bolt/action-block__item.twig" %}
      {% endfor %}
    {% endif %}
  </ul>
</div>


