/* ------------------------------------ *\
   Switch Button
\* ------------------------------------ */

@import '@bolt/core-v3.x';

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-switch-button {
  display: inline-flex;
  gap: var(--bolt-spacing-x-small);
  row-gap: var(--bolt-spacing-y-small);
  align-items: center;
  cursor: pointer;
}

.c-bolt-switch-button__button {
  @include bolt-button-native-styles-reset;

  display: inline-flex;
  position: relative;
  width: 3rem;
  color: var(--m-bolt-text-on-disabled);
  border-radius: bolt-border-radius(full);
  background-color: var(--m-bolt-disabled);
  transition: color var(--bolt-transition),
    background-color var(--bolt-transition);

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
    transform: translate3d(0, 0, 0);
    width: calc(50% - 0.5rem);
    border-radius: inherit;
    background-color: var(--bolt-color-white);
    transition: transform var(--bolt-transition);
  }

  &[aria-checked='true'] {
    color: var(--bolt-color-white);
    background-color: var(--bolt-color-success);

    &:after {
      transform: translate3d(calc(100% + 0.5rem), 0, 0);
    }

    .c-bolt-switch-button__button-text--unchecked {
      visibility: hidden;
    }
  }

  &[aria-checked='false'] {
    .c-bolt-switch-button__button-text--checked {
      visibility: hidden;
    }
  }
}

.c-bolt-switch-button__button-text {
  display: grid;
  place-items: center;
  flex: 1;
  height: 1.5rem;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xxsmall);
  font-weight: var(--bolt-type-font-weight-semibold);
  line-height: 1.5rem;
  text-align: center;
  pointer-events: none;
}

.c-bolt-switch-button__button-text--checked {
  padding-left: 0.25rem;
}

.c-bolt-switch-button__button-text--unchecked {
  padding-right: 0.25rem;
}
