////
/// @group Settings: Typography
/// @author Mike Mai
////


/* ------------------------------------ *\
  Default Fallback + Custom Web Font Stacks
\* ------------------------------------ */


/*
 * Default Font Family Stacks
 *
 * 1. This maps to the system UI font.
 * 2. This is for known system UI fonts & requires updates
 */
$bolt-font-family--sans-fallback:
  -apple-system, BlinkMacSystemFont, /* [1] */
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', /* [2] */
  'Helvetica Neue', sans-serif;
$bolt-font-family--serif: 'Georgia', serif;
$bolt-font-family--mono-fallback: monospace;


/*
 * Custom web font stacks
 */
$bolt-font-family--sans:  'Open Sans', 'Helvetica Neue', sans-serif;
$bolt-font-family--serif: 'Georgia', serif;
$bolt-font-family--mono:  'Courier New', monospace;



// Async font loading classes
$bolt-fonts--subset-loaded-class: 'js-fonts-subset-loaded' !default;
$bolt-fonts--loaded-class: 'js-fonts-loaded' !default;



/*
 * Map font stack categories to Bolt's body, heading, and code.
 */

/// Bolt's definition of body, heading, and code text.
/// @type Map
$bolt-font-families: (
  font-families: (
    body: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans,
      loaded-class:  $bolt-fonts--loaded-class
    ),
    body-subset: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans-subset,
      loaded-class:  $bolt-fonts--subset-loaded-class
    ),
    heading: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans,
      loaded-class:  $bolt-fonts--loaded-class
    ),
    code: (
      fallback-font: $bolt-font-family--mono-fallback,
      custom-font:   $bolt-font-family--mono,
      loaded-class:  $bolt-fonts--loaded-class
    )
  )
);
