{% set icon_external_link %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'external-link',
  } only %}
{% endset %}

{% set form %}
  {% set children %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Email',
        displayType: 'floating',
        attributes: {
          for: 'email-address',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your email address',
          required: true,
          type: 'email',
          id: 'email-address',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      children: input,
    } only %}

    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Country',
        displayType: 'floating',
        attributes: {
          for: 'country',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-select.twig' with {
        options: [
          {
            type: 'option',
            value: '',
            label: 'Select a Country',
          },
          {
            type: 'option',
            value: 'a',
            label: 'Argentina',
          },
          {
            type: 'option',
            value: 'b',
            label: 'Belgium',
          },
          {
            type: 'option',
            value: 'c',
            label: 'Croatia',
          }
        ],
        attributes: {
          required: true,
          id: 'country',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      children: input,
    } only %}

    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Receive periodic emails on key analyst reports, Pega events, and important news.  You can unsubscribe at any time',
        displayType: 'inline-checkbox',
        attributes: {
          for: 'newsletter',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          required: true,
          type: 'checkbox',
          id: 'newsletter',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      labelDisplay: 'after',
      label: label,
      children: input,
    } only %}

    {% include '@bolt-elements-button/button.twig' with {
      content: 'Get the report via Gartner',
      display: 'block',
      icon_before: icon_external_link,
      attributes: {
        type: 'button',
      },
    } only %}
  {% endset %}

  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Get the Report',
    size: 'xlarge',
    tag: 'h2',
  } only %}

  {% include '@bolt-components-headline/text.twig' with {
    text: '(all fields are required)',
    size: 'small'
  } only %}

  {% include '@bolt-components-form/form.twig' with {
    children: children
  } only %}
{% endset %}

{% set header %}
  <header>
    {% set logo %}
      <a href="https://pega.com">
        {% include '@bolt-elements-image/image.twig' with {
          attributes: {
            alt: 'Pegasystems, Inc.',
            src: '/images/logos/pega-logo.svg',
            width: 139,
            height: 30,
            class: 'c-base-ocpl-logo',
          },
        } only %}
      </a>
    {% endset %}
    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: logo,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layout_content,
    } only %}
  </header>
{% endset %}

{% set main_content %}
  {% set page_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'This is a headline',
      tag: 'h1',
      size: 'xxxlarge',
    } only %}
    {% include '@bolt-components-headline/text.twig' with {
      text: 'This is the body. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam quidem vitae minus deserunt, qui libero autem, modi dolorem cum nisi asperiores beatae error hic architecto nobis saepe, maiores eligendi.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quam ipsum commodi accusantium eligendi, soluta, unde incidunt omnis officiis eos aut quae culpa laudantium consequatur! Quasi repellat odit doloremque rerum.',
    } only %}

    {% set preview_and_list %}
      {% set preview %}
        {% set preview_image %}
          {% include '@bolt-elements-image/image.twig' with {
            fill: true,
            attributes: {
              src: 'https://via.placeholder.com/2400x1800',
              alt: 'Alt text.',
              width: 2400,
              height: 1800,
              loading: 'lazy',
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-trigger/trigger.twig' with {
          content: preview_image,
          display: 'block',
          cursor: 'zoom-in',
          attributes: {
            'data-bolt-modal-target': '#js-bolt-modal-preview-image',
          },
        } only %}
        {% include '@bolt-components-modal/modal.twig' with {
          content: preview_image,
          theme: 'none',
          spacing: 'none',
          width: 'regular',
          scroll: 'overall',
          attributes: {
            id: 'js-bolt-modal-preview-image',
          },
        } only %}
        {% include '@bolt-components-headline/text.twig' with {
          text: 'Click to enlarge',
          size: 'xsmall',
          align: 'center',
        } only %}
      {% endset %}
      {% set list %}
        {% set list_content %}
          {% set icon_check_solid %}
            {% include '@bolt-elements-icon/icon.twig' with {
              name: 'check-solid',
              size: 'medium',
              color: 'teal',
            } only %}
          {% endset %}
          {% set list_text %}
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Check list item. Lorem ipsum dolor sit amet consectetur adipisicing elit.',
              size: 'small',
              attributes: {
                class: 'u-bolt-margin-top-xxsmall',
              }
            } only %}
          {% endset %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: icon_check_solid,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: list_text,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: icon_check_solid,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: list_text,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: icon_check_solid,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: list_text,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: icon_check_solid,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: list_text,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: icon_check_solid,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: list_text,
          } only %}
        {% endset %}
        {% include '@bolt-layouts-layout/layout.twig' with {
          content: list_content,
          gutter: 'small',
          row_gutter: 'small',
          template: [
            'flag',
          ],
          attributes: {
            style: '--l-bolt-layout-flag-media-width: 1.5rem',
          },
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: preview,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: list,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: preview_and_list,
      gutter: 'large',
      padding_top: 'small',
      padding_bottom: 'small',
      template: [
        'tiles@from-medium',
      ],
      attributes: {
        style: '--l-bolt-layout-tile-min-width: 300px',
      }
    } only %}

    {% include '@bolt-components-headline/text.twig' with {
      text: 'Veritatis numquam quidem vitae minus deserunt, qui libero autem, modi dolorem cum nisi asperiores beatae error hic architecto nobis saepe, maiores eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quam ipsum commodi accusantium eligendi, soluta.',
    } only %}
  {% endset %}
  {% set form_content %}
    <div class="c-base-ocpl-form t-bolt-white">
      {{ form }}
    </div>
  {% endset %}
  {% set layout_content %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: page_content,
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: form_content,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    gutter: 'xlarge',
    padding_top: 'large',
    padding_bottom: 'large',
    template: [
      '67/33@from-medium',
    ],
  } only %}
{% endset %}

{% set footer %}
  <footer>
    {% set contact_content %}
      {% set customer_service_link %}
        {% set signifier %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'intelligent-virtual-assistant',
            size: 'xlarge',
          } only %}
        {% endset %}

        {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
          layout: 'responsive',
          gutter: 'medium',
          signifier: signifier,
          headline: {
            text: 'Pega Customer Service',
            tag: 'h2',
            size: 'xlarge',
            link_attributes: {
              href: 'https://pega.com'
            },
          },
          subheadline: 'Learn more about our award winning solution',
        } only %}
      {% endset %}
      {% set contact_link %}
        {% set signifier %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'customer-service',
            size: 'xlarge',
          } only %}
        {% endset %}

        {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
          layout: 'responsive',
          gutter: 'medium',
          signifier: signifier,
          headline: {
            text: 'Contact Sales',
            tag: 'h2',
            size: 'xlarge',
            link_attributes: {
              href: 'https://pega.com'
            },
          },
          subheadline: 'Get in touch with us',
        } only %}
      {% endset %}
      {% include '@bolt-components-list/list.twig' with {
        display: 'inline@medium',
        align: 'center',
        spacing: 'xlarge',
        items: [
          customer_service_link,
          contact_link,
        ],
      } only %}
    {% endset %}
    {% set layout_content %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: '/images/backgrounds/ocpl-contact-bg-3.jpg',
          alt: '',
          loading: 'lazy',
        },
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: contact_content,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layout_content,
      padding_top: 'large',
      padding_bottom: 'large',
      attributes: {
        class: 't-bolt-white',
      },
    } only %}

    <div class="c-base-ocpl-footer c-base-ocpl-footer--offset-bottom-cta t-bolt-white">
      <div class="c-base-ocpl-footer__item">
        <strong class="u-bolt-margin-right-xsmall">Connect with us</strong>

        {% set icon_linkedin %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'linkedin',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">LinkedIn</span>',
          icon_before: icon_linkedin,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_twitter %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'twitter',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">Twitter</span>',
          icon_before: icon_twitter,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_facebook %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'facebook',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">Facebook</span>',
          icon_before: icon_facebook,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_youtube %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'youtube-solid',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">YouTube</span>',
          icon_before: icon_youtube,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      </div>
      <div class="c-base-ocpl-footer__item">
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Terms of Use',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Privacy',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Contact',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Pega.com',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      </div>
      <div class="c-base-ocpl-footer__item">
        &copy;2021 Pegasystems, Inc.
      </div>
    </div>
  </footer>
{% endset %}

{% include '@bolt-elements-image/image.twig' with {
  background: true,
  attributes: {
    src: '/images/backgrounds/ocpl-bg-5.svg',
    alt: '',
    style: '--e-bolt-image-position: 54vw -48vw',
    class: 'c-base-ocpl-bg-image',
  },
} only %}

{% include '@bolt-layouts-site/site.twig' with {
  header: header,
  main: {
    content: main_content,
  },
  footer: footer,
  attributes: {
    class: 't-bolt-gray-xlight',
  }
} only %}

<div class="c-base-ocpl-form-trigger t-bolt-teal">
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Get the report via Gartner',
    display: 'block',
    hierarchy: 'secondary',
    icon_before: icon_external_link,
    attributes: {
      type: 'button',
      'data-bolt-modal-target': '#js-bolt-modal-form',
    },
  } only %}
</div>

<div class="c-base-ocpl-form-modal">
  {% set modal_content %}
    {{ form }}
  {% endset %}
  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    attributes: {
      id: 'js-bolt-modal-form',
    }
  } only %}
</div>
