{% set header %}
  <header>
    {% set logo %}
      <a href="https://pega.com">
        {% include '@bolt-elements-image/image.twig' with {
          attributes: {
            alt: 'Pegasystems, Inc.',
            src: '/images/logos/pega-logo.svg',
            width: 139,
            height: 30,
            class: 'c-base-ocpl-logo',
          },
        } only %}
      </a>
    {% endset %}
    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: logo,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layout_content,
    } only %}
  </header>
{% endset %}

{% set main_content %}
  {% set headline_content %}
    {% include '@bolt-components-headline/eyebrow.twig' with {
      text: 'Eyebrow',
      tag: 'div',
    } only %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'This is a headline',
      tag: 'h1',
      size: 'xxxlarge',
    } only %}
  {% endset %}
  {% set headline_layout_content %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: headline_content,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: headline_layout_content,
    padding_top: 'large',
    padding_bottom: 'small',
    template: [
      '67@from-medium',
    ],
  } only %}

  {% set page_content %}
    {% include '@bolt-components-headline/text.twig' with {
      text: 'This is the body. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis numquam quidem vitae minus deserunt, sit amet consectetur adipisicing elit. Iure quam ipsum commodi accusantium eligendi, soluta, unde incidunt omnis officiis eos aut quae culpa laudantium consequatur! Quasi repellat odit doloremque rerum.',
    } only %}
    {% include '@bolt-components-headline/text.twig' with {
      text: 'Modi dolorem cum nisi asperiores beatae error hic architecto nobis saepe, maiores eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quam ipsum commodi accusantium eligendi, soluta.',
    } only %}
  {% endset %}

  {% set video_content %}
    <div class="c-base-oclp-video">
      {% set video %}
        {% set video_embed %}
          <video-js
            data-account='1900410236'
            data-player='O3FkeBiaDz'
            data-embed='default'
            data-video-id='4892122320001'
            controls
            class="c-base-video"></video-js>
        {% endset %}
        {% include '@bolt-components-ratio/ratio.twig' with {
          children: video_embed,
          ratio: '16/9'
        } only %}
      {% endset %}
      {% set video_thumbnail %}
        {% set image %}
          {% include '@bolt-elements-image/image.twig' with {
            attributes: {
              src: 'https://via.placeholder.com/800x450',
              alt: 'Alt text.',
              width: 800,
              height: 450,
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
          content: image,
          duration: '4:55',
        } only %}
      {% endset %}
      {% include '@bolt-components-trigger/trigger.twig' with {
        content: video_thumbnail,
        display: 'block',
        attributes: {
          'data-bolt-modal-target': '#js-bolt-modal-video',
        }
      } only %}
      {% include '@bolt-components-modal/modal.twig' with {
        content: video,
        width: 'regular',
        spacing: 'none',
        scroll: 'overall',
        attributes: {
          id: 'js-bolt-modal-video',
        },
      } only %}
    </div>
  {% endset %}
  
  {% set layout_content %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: video_content,
      order: 'last@from-medium'
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: page_content,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    gutter: 'xlarge',
    padding_top: 'none',
    padding_bottom: 'large',
    template: [
      'halves@from-medium',
    ],
  } only %}
{% endset %}

{% set footer %}
  <footer>
    {% set contact_content %}
      {% set contact_link %}
        {% set icon_customer_service %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'customer-service',
            size: 'large',
          } only %}
        {% endset %}
        {% set icon_chevron_right %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'chevron-right',
            size: 'small',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Contact Sales',
          icon_before: icon_customer_service,
          icon_after: icon_chevron_right,
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: contact_link,
        tag: 'p',
        size: 'xlarge',
        align: 'center',
      } only %}
    {% endset %}
    {% set layout_content %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: '/images/backgrounds/ocpl-contact-bg-2.svg',
          alt: '',
          loading: 'lazy',
          style: '--e-bolt-image-position: 5vw 2vw',
        },
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: contact_content,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layout_content,
      padding_top: 'xlarge',
      padding_bottom: 'xlarge',
    } only %}

    <div class="c-base-ocpl-footer t-bolt-white">
      <div class="c-base-ocpl-footer__item">
        <strong class="u-bolt-margin-right-xsmall">Connect with us</strong>

        {% set icon_linkedin %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'linkedin',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">LinkedIn</span>',
          icon_before: icon_linkedin,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_twitter %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'twitter',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">Twitter</span>',
          icon_before: icon_twitter,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_facebook %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'facebook',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">Facebook</span>',
          icon_before: icon_facebook,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        
        {% set icon_youtube %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'youtube-solid',
          } only %}
        {% endset %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: '<span class="u-bolt-visuallyhidden">YouTube</span>',
          icon_before: icon_youtube,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      </div>
      <div class="c-base-ocpl-footer__item">
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Terms of Use',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Privacy',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Contact',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Pega.com',
          reversed_underline: true,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      </div>
      <div class="c-base-ocpl-footer__item">
        &copy;2021 Pegasystems, Inc.
      </div>
    </div>
  </footer>
{% endset %}

{% include '@bolt-elements-image/image.twig' with {
  background: true,
  attributes: {
    src: '/images/backgrounds/ocpl-bg-3.svg',
    alt: '',
    style: '--e-bolt-image-position: 50vw -34vw;',
    class: 'c-base-ocpl-bg-image',
  },
} only %}

{% include '@bolt-layouts-site/site.twig' with {
  header: header,
  main: {
    content: main_content,
  },
  footer: footer,
  attributes: {
    class: 't-bolt-gray-xlight',
  }
} only %}
