<div class="demo-items">
  <figure class="u-border">
    <span class="u-anim-fade-in-and-slide-up demo-block" data-anim-trigger="view"></span>
    <figcaption>On View</figcaption>
  </figure>

  <figure class="u-border">
    <span class="u-anim-fade-in-and-slide-up demo-block" data-anim-trigger="hover"></span>
    <figcaption>On Hover</figcaption>
  </figure>
</div>
