<bolt-interactive-step
    step="6"
    slot="steps"
>
  <span slot="title">What's next?</span>

  <span slot="top">
  </span>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="1" out-order="1" out="fade-out-slide-down">
    <bolt-text>
      Proactive customer service. Streamlined billing inquiries. Start delivering all of this and more with Pega Customer Service™.
      <ul>
        <li>Exlpore "cta placeholder"</li>
        <li>Learn "cta placeholder"</li>
        <li>Sign up "cta placeholder"</li>
      </ul>
    </bolt-text>
  </bolt-animate>
</bolt-interactive-step>

