{#  <span slot="title">What's next?</span>#}

  <span slot="top">
  </span>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="1" out-order="1" out="fade-out-slide-down">
    <bolt-text font-size="large">
      Proactive customer service. Streamlined billing inquiries. Start delivering all of this and more with Pega Customer Service™.
    </bolt-text>
    <br>
    <bolt-cta>
      <bolt-icon size="medium" slot="icon" name="co-browse"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Explore our industry-leading software
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
    <br>
    <bolt-cta>
      <bolt-icon size="medium" slot="icon" name="customer-service"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Learn more about intelligent guidance
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
    <br>
    <bolt-cta>
      <bolt-icon size="medium" slot="icon" name="eye"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Sign up for an upcoming demo
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
  </bolt-animate>

