{#  <span slot="title">Empowered agents</span>#}

  <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
    {{ source('@bolt-micro-journeys/starters/two-characters-3.html') }}
  </bolt-animate>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
    {{ source('@bolt-micro-journeys/starters/cta-text-3.html') }}
  </bolt-animate>

