<bolt-interactive-step
    step="6"
    slot="steps"
>
  <span slot="title">What's next?</span>

  <span slot="top">
  </span>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="1" out-order="1" out="fade-out-slide-down">
    <bolt-text>
      Proactive customer service. Streamlined billing inquiries. Start delivering all of this and more with Pega Customer Service™.
    </bolt-text>
    <bolt-cta>
      <bolt-icon slot="icon" name="co-browse"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Explore our industry-leading software
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
    <bolt-cta>
      <bolt-icon slot="icon" name="customer-service"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Learn more about intelligent guidance
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
    <bolt-cta>
      <bolt-icon slot="icon" name="eye"></bolt-icon>
      <bolt-text font-size="xsmall" slot="link" display="inline">
        Sign up for an upcoming demo
        <bolt-icon name="chevron-right"></bolt-icon>
      </bolt-text>
    </bolt-cta>
  </bolt-animate>
</bolt-interactive-step>

