<bolt-interactive-step
    step="4"
    slot="steps"
>
  <span slot="title">Empowered agents</span>

  <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
    <bolt-two-character-layout>
      <bolt-animate slot="character--left" in-order="1" in="fade-in-slide-up" out="fade-out" out-order="10">
        <bolt-character size="medium" character-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/u-comm-plus.png">
          <bolt-animate in="fade-in-slide-up" in-order="2" out="fade-out" slot="top" out-order="5">
            <bolt-status-dialogue-bar  dialogue-arrow-direction="down">
              <bolt-text slot="text" align="start" font-size="xsmall">
                You have a data roaming charge and a late fee. Would you like to waive the late fee?
              </bolt-text>
            </bolt-status-dialogue-bar>
          </bolt-animate>
          <span slot="left"></span>
          <span slot="bottom"><bolt-text font-size="xsmall">Agent view of billing charges</bolt-text></span>
        </bolt-character>
      </bolt-animate>
      <bolt-animate slot="connection" in="fade-in-slide-up" in-order="5" out="fade-out" out-order="1">
        <bolt-connection></bolt-connection>
      </bolt-animate>
      <bolt-animate slot="character--right" in="fade-in-slide-up" in-order="10" out="fade-out" out-order="10">
        <bolt-character size="medium">
          <bolt-animate in="fade-in-slide-up" in-order="15" out="fade-out" slot="top" out-order="5">
            <bolt-status-dialogue-bar icon-name="email" dialogue-arrow-direction="down">
              <bolt-text slot="text" align="start" font-size="xsmall">
                Why is my bill so high?
              </bolt-text>
            </bolt-status-dialogue-bar>
          </bolt-animate>
          <span slot="right" idle="none"></span>
          <span slot="bottom" idle="none"></span>
        </bolt-character>
      </bolt-animate>
    </bolt-two-character-layout>
  </bolt-animate>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
    <bolt-text>
      If a customer does pick up the phone, your agents will be ready. Pega provides a detailed view of charges over time, and self-learning adaptive models guide agents with scripts. That way  they can always take the next best action for both your customer and your business.
    </bolt-text>
  </bolt-animate>
</bolt-interactive-step>

