
  <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
    <bolt-one-character-layout>
      <bolt-character size="medium"  character-custom-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-sad.png">
        <bolt-animate in="fade-in-slide-up" in-order="15" out="fade-out" slot="top" out-order="5">
          <bolt-status-dialogue-bar icon-name="mobility" dialogue-arrow-direction="down">
            <p slot="text">
              Why is my bill so high? Let me check.
            </p>
          </bolt-status-dialogue-bar>
        </bolt-animate>
        <span slot="left"></span>
        <span slot="right"></span>
        <span slot="bottom">
          <bolt-cta>
            <bolt-icon slot="icon" name="eye"></bolt-icon>
            <bolt-text font-size="xsmall" slot="link" display="inline">
              Customer billing view
              <bolt-icon name="chevron-right"></bolt-icon>
            </bolt-text>
          </bolt-cta>
        </span>
      </bolt-character>
    </bolt-one-character-layout>
  </bolt-animate>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
    <bolt-text>
      If the billing issue is due to new fees and charges, the customer can log in and easily see what’s changed, thanks to Pega’s customer self-service view.
    </bolt-text>
  </bolt-animate>
