/*------------------------------------*\
  Body and heading declaration
\*------------------------------------*/
$breakpoint--min: map-get($breakpoints, medium);
$breakpoint--max: map-get($breakpoints, xlarge);


html {
  // Base type
  font-size: $font-size--min-px;

  // Responsive type
  @include respond-to(medium) {
    font-size: calc(#{$font-size--min-px} + (#{$font-size--max - $font-size--min} * (100vw - #{$breakpoint--min}) / #{strip-unit($breakpoint--max) - strip-unit($breakpoint--min)}));
  }

  // Large type
  @include respond-to(xlarge) {
    font-size: $font-size--max-px;
  }
}

body {
  @include font-family(body);
  @include font-size(base);

  // margin: 0;
  // padding: 0;
}
