@import '@bolt/core';

// Local pathway-pane Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-pathway-pane', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-pathway-pane {
  //Styles go here. /* [1] */
  display: block;

  .pathways {
    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 75px;
      img {
        width: 120px;
        height: 80px;
      }
    }

    &__prefix {
      font-size: 27px;
      margin-bottom: 30px;
    }

    &__main {
      min-height: 500px;
    }
  }

  .pathway {
    display: grid;
    grid-template: 1fr / 300px 1fr;
    grid-column-gap: 150px;

    &__nav {
      list-style: none;
      & > li {
        position: relative;
        padding-left: 40px;
        transition: font-size 0.5s ease;
      }
      & > li:before {
        position: absolute;
        z-index: 5;
        left: 2.5px;
        top: 0;
        content: '';
        border-left: 2px solid #AAB2F2;
        margin-left: 5px;
        height: 100%;
      }
      & > li:first-of-type:before {
        top: 50%;
      }
      & > li:last-of-type:before {
        top: -50%;
      }
      & .pathway__nav-item-dot {
        color: #AAB2F2;
        position: absolute;
        z-index: 10;
        font-size: 20px;
        display: inline-block;
        margin-left: -40px;
        transition: color 0.5s ease, transform 0.5s ease;
      }
    }

    &__nav-item-text {
      display: inline-block;
      transition: color 0.5s ease, transform 0.5s ease;
    }

    &__nav-item {
      text-align: left;
      padding: 20px 0;
      cursor: pointer;
      font-weight: bolder;

      &[data-active="yes"] {
        .pathway__nav-item-dot {
          transform: scale(1.5);
          color: orange;
        }

        .pathway__nav-item-text {
          color: orange;
          transform: scale(1.1) translateX(4px);
        }
      }
    }

    &__step {
      display: flex;
      align-items: center;
      flex-direction: column;
      opacity: 1;
      transition: opacity 0s ease;
      position: absolute;
      top: 0;

      &[data-active="no"] {
        opacity: 1;
        transition: opacity 0.5s ease, transform 0.5s ease;
      }

      &-dialogue {
        position: relative;
        width: 432px;
        height: 100px;

        &--left [trigger-type="button"] {
          position: absolute;
          bottom: -25px;
          left: 5px;
        }
        &--right [trigger-type="button"] {
          position: absolute;
          bottom: -25px;
          right: 5px;
        }

        button {
          visibility: hidden;
        }
      }
      &-person-icon {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 86px;
        height: 86px;
        transition: opacity;
      }
      &-pega-rep {
        left: inherit;
        right: 0;
      }
      &-image {
        margin: 0 0 45px;
        width: 432px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        height: 86px;
        position: relative;

        img:first-child {
          opacity: 1;
          transition: opacity ease, transform ease;
        }
        [data-active="yes"] & img {
          opacity: 1;
        }
        &[data-animation-speed="slow"] img {
          transition-duration: 2500ms;
        }
        &[data-animation-speed="medium"] img {
          transition-duration: 1500ms;
        }
        &[data-animation-speed="fast"] img {
          transition-duration: 1000ms;
        }
        &[data-animation-speed="xfast"] img {
          transition-duration: 500ms;
        }
        &[data-animation-delay="short"] img {
          transition-delay: 500ms;
        }
        &[data-animation-delay="medium"] img {
          transition-delay: 1000ms;
        }
        &[data-animation-delay="long"] img {
          transition-delay: 1500ms;
        }
        &[data-animation-delay="xlong"] img {
          transition-delay: 2500ms;
        }
        &[data-animation-type="fade_in"] img:first-child {
          // Nothing needed here
        }
        &[data-animation-type="fade_in_slide_up"] img:first-child {
          transform: translateY(25px);
          [data-active="yes"] & {
            transform: translateY(0);
          }
        }
        &[data-animation-type="fade_in_slide_left"] img:first-child {
          transform: translateX(25px);
          [data-active="yes"] & {
            transform: translateX(0);
          }
        }
        &[data-animation-type="fade_in_slide_down"] img:first-child {
          transform: translateY(-25px);
          [data-active="yes"] & {
            transform: translateY(0);
          }
        }
        &[data-animation-type="fade_in_slide_right"] img:first-child {
          transform: translateX(-25px);
          [data-active="yes"] & {
            transform: translateX(0);
          }
        }
      }
      &-body {
        text-align: left;
        font-size: 27px;
        line-height: 1.3;
        opacity: 1;
        transition: opacity ease, transform ease;

        [data-active="yes"] & {
          opacity: 1;
        }
        &[data-animation-speed="250"] {
          transition-duration: 500ms;
        }
        &[data-animation-speed="500"] {
          transition-duration: 1000ms;
        }
        &[data-animation-speed="1000"] {
          transition-duration: 1500ms;
        }
        &[data-animation-speed="1500"] {
          transition-duration: 2500ms;
        }
        &[data-animation-delay="250"] {
          transition-delay: 500ms;
        }
        &[data-animation-delay="500"] {
          transition-delay: 1000ms;
        }
        &[data-animation-delay="1000"] {
          transition-delay: 1500ms;
        }
        &[data-animation-delay="1500"] {
          transition-delay: 2500ms;
        }
        &[data-animation-type="fade_in"] {
          // Nothing needed here
        }
        &[data-animation-type="fade_in_slide_up"] {
          transform: translateY(50px);
          [data-active="yes"] & {
            transform: translateY(0);
          }
        }
        &[data-animation-type="fade_in_slide_left"] {
          transform: translateX(-25px);
          [data-active="yes"] & {
            transform: translateX(0);
          }
        }
        &[data-animation-type="fade_in_slide_down"] {
          transform: translateY(-50px);
          [data-active="yes"] & {
            transform: translateY(0);
          }
        }
        &[data-animation-type="fade_in_slide_right"] {
          transform: translateX(25px);
          [data-active="yes"] & {
            transform: translateX(0);
          }
        }
      }
    }

    &__body {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }
  }

  // Styling overrides on Tooltip button and triggers
  .c-bolt-tooltip__content-bubble {
    color: black;
  }

}
