{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}
  {% set header %}
    {% include "@bolt/headline.twig" with {
      "text": "CKEditor 5",
      "size": "xxxlarge",
      "tag": "h1"
    } only %}
  {% endset %}
  {% set article %}

    {# https://ckeditor.com/docs/ckeditor5/latest/builds/guides/quick-start.html #}

    <h1>Classic editor</h1>
    <textarea name="content" id="editor-classic">
      &lt;p&gt;This is some sample content.&lt;/p&gt;
    </textarea>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>

    {# <br>

    <h1>Inline editor</h1>
    <div id="editor-inline">
      {% include "_bolt-component-examples.twig" %}
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/inline/ckeditor.js"></script>

    <br>

    <h1>Balloon editor</h1>
    <div id="editor-balloon">
      {% include "_bolt-component-examples.twig" %}
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/balloon/ckeditor.js"></script> #}

  {% endset %}
  {% include "@bolt/band.twig" with {
    "theme": "dark",
    "size": "large",
    "content": header
  } only %}
  {% include "@bolt/band.twig" with {
    "theme": "xlight",
    "content": article
  } only %}
{% endblock %}
