<div class="c-bolt-code-snippet" data-mode="light">
  <pre><code>{
  "FullName": "OpportunityEvents_chn_OpportunityChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Name"},
      {"name": "CloseDate"},
      {"name": "Probability"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "OpportunityEvents__chn",
    "selectedEntity": "OpportunityChangeEvent"
  }
} </code></pre>
</div>

<bolt-table>
  <table>
    <thead>
      <tr>
        <td style="width: 50%;">Element</td>
        <td style="width: 89%;">Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Method</td>
        <td><code>POST</code></td>
      </tr>
      <tr>
        <td>Request URL</td>
        <td>Instance URL received in the access token response with a
          <code>/services/data/v51.0/tooling/sobjects/PlatformEventChannelMember</code>
          part, for example
          <code>https://sales-sample-URL.my.salesforce.com/services/data/v51.0/tooling/sobjects/PlatformEventChannelMember</code>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in an
          <samp>OpportunityEvents__chn</samp>
          channel member for an Opportunity entity
        </td>
        <td>
          <div class="c-bolt-code-snippet some-other-class" data-mode="light">
            <pre><code>{
  "FullName": "OpportunityEvents_chn_OpportunityChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Name"},
      {"name": "CloseDate"},
      {"name": "Probability"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "OpportunityEvents__chn",
    "selectedEntity": "OpportunityChangeEvent"
  }
} </code></pre>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in an
          <samp>OpportunityEvents__chn</samp>
          channel member for an Opportunity entity
        </td>
        <td>
          <div class="c-bolt-code-snippet some-other-class" data-mode="light">
            <pre><code>{
  "FullName": "OpportunityEvents_chn_OpportunityChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Name"},
      {"name": "CloseDate"},
      {"name": "Probability"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "OpportunityEvents__chn",
    "selectedEntity": "OpportunityChangeEvent"
  }
} </code></pre>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in a <samp>WorkOrderEvents__chn</samp>
          channel member for a Work Order entity
        </td>
        <td>
          <pre><code>{
  "FullName": "WorkOrderEvents_chn_ WorkOrderChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Subject"},
      {"name": "WorkOrderNumber"},
      {"name": "Priority"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "WorkOrderEvents__chn",
    "selectedEntity": "WorkOrderChangeEvent"
  }
} </code></pre>
        </td>
      </tr>
    </tbody>
  </table>
</bolt-table>

<bolt-table>
  <table>
    <thead>
      <tr>
        <td style="width: 50%;">Element</td>
        <td style="width: 89%;">Value</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Method</td>
        <td><code>POST</code></td>
      </tr>
      <tr>
        <td>Request URL</td>
        <td>Instance URL received in the access token response with a
          <code>/services/data/v51.0/tooling/sobjects/PlatformEventChannelMember</code>
          part, for example
          <code>https://sales-sample-URL.my.salesforce.com/services/data/v51.0/tooling/sobjects/PlatformEventChannelMember</code>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in an
          <samp>OpportunityEvents__chn</samp>
          channel member for an Opportunity entity
        </td>
        <td>
          <div class="c-bolt-code-snippet some-other-class" data-mode="light">
            <pre><code>{
  "FullName": "OpportunityEvents_chn_OpportunityChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Name"},
      {"name": "CloseDate"},
      {"name": "Probability"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "OpportunityEvents__chn",
    "selectedEntity": "OpportunityChangeEvent"
  }
} </code></pre>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in an
          <samp>OpportunityEvents__chn</samp>
          channel member for an Opportunity entity
        </td>
        <td>
          <div class="c-bolt-code-snippet some-other-class" data-mode="light">
            <pre><code>{
  "FullName": "OpportunityEvents_chn_OpportunityChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Name"},
      {"name": "CloseDate"},
      {"name": "Probability"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "OpportunityEvents__chn",
    "selectedEntity": "OpportunityChangeEvent"
  }
} </code></pre>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sample request body of JSON type with enrichment fields
          added in a <samp>WorkOrderEvents__chn</samp>
          channel member for a Work Order entity
        </td>
        <td>
          <pre><code>{
  "FullName": "WorkOrderEvents_chn_ WorkOrderChangeEvent",
  "Metadata": {
    "enrichedFields": [
      {"name": "OwnerId"},
      {"name": "Subject"},
      {"name": "WorkOrderNumber"},
      {"name": "Priority"}, 
      {"name": "LastModifiedDate"},
      {"name": "LastModifiedById"},
      {"name": "IsClosed"},
      {"name": "AccountId"},
      {"name": "CreatedById"},
      {"name": "CreatedDate"}
    ],
    "eventChannel": "WorkOrderEvents__chn",
    "selectedEntity": "WorkOrderChangeEvent"
  }
} </code></pre>
        </td>
      </tr>
    </tbody>
  </table>
  <div slot="caption">This is a table caption</div>
</bolt-table>
