.c-bds-component-status {
  @include bolt-font-size(xsmall);
  @include bolt-padding(bolt-spacing(small) * 1.5);
  @include bolt-margin-bottom(medium);
  @include bolt-shadow("level-10");
  border-radius: 12px;
  background: #FFFFFF;
}

.c-bds-component-status__title {
  @include bolt-font-size(large);
  @include bolt-margin-bottom(xsmall);
  display: block;
  position: relative;

  > *,
  > .c-bolt-headline {
    color: inherit;
  }

  .c-bds-component-status--released & {
    color: #009999;
  }

  .c-bds-component-status--inprogress & {
    @include bolt-font-weight(semibold);
    color: bolt-color(yellow, dark);
  }
}

.c-bds-component-status__definition {
  @include bolt-clearfix;
  @include bolt-margin-bottom(0);
  margin-left: bolt-spacing(small) * -1;

  dt {
    @include bolt-font-weight(semibold);
    @include bolt-padding-bottom(xsmall);
    display: block;
    width: 40%;
    
    @include bolt-mq($from: medium){
      width: 30%;
    }
  }

  dd {
    @include bolt-margin-left(0);
    @include bolt-font-weight(bold);
    @include bolt-padding-top(xsmall);
    @include bolt-padding-bottom(xsmall);
    display: block;
    width: 60%;
    border-left: none;

    @include bolt-mq($from: medium){
      width: 70%;
    }
  }

  dt, 
  dd {
    @include bolt-padding-top(xsmall);
    @include bolt-padding-left(small);
    display: block;
    float: left;
    color: #4A4A4A;
  }
}