<h2>Web Component Usage</h2>
<p>Bolt Unordered List is a web component, you can simply use <code class="language-html">&lt;bolt-unordered-list&gt;</code> in the markup to make it render. Its inner content is comprised of <code class="language-html">&lt;bolt-unordered-list-item&gt;</code>.</p>
<h3>Example</h3>
<pre class="c-bolt-code-snippet-syntax--light"><code class="language-html">&lt;bolt-unordered-list&gt;
  &lt;bolt-unordered-list-item&gt;Item 1&lt;/bolt-unordered-list-item&gt;
  &lt;bolt-unordered-list-item&gt;Item 2&lt;/bolt-unordered-list-item&gt;
  &lt;bolt-unordered-list-item&gt;Item 3&lt;/bolt-unordered-list-item&gt;
  &lt;bolt-unordered-list-item&gt;Item 4&lt;/bolt-unordered-list-item&gt;
  &lt;bolt-unordered-list-item&gt;Item 5&lt;/bolt-unordered-list-item&gt;
&lt;/bolt-unordered-list&gt;</code></pre>

<bolt-unordered-list>
  <bolt-unordered-list-item>Item 1</bolt-unordered-list-item>
  <bolt-unordered-list-item>Item 2</bolt-unordered-list-item>
  <bolt-unordered-list-item>Item 3</bolt-unordered-list-item>
  <bolt-unordered-list-item>Item 4</bolt-unordered-list-item>
  <bolt-unordered-list-item>Item 5</bolt-unordered-list-item>
</bolt-unordered-list>


<ul>
  <li>Coffee</li>
  <li>Tea
    <ul>
      <li>Black tea</li>
      <li>Green tea
        <ul>
          <li>Good tea</li>
          <li>Great tea
            <ul>
              <li>Is the best</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Milk</li>
</ul>


<bolt-ul>
  <bolt-li>Do not include any data or information in your posts that are confidential!</bolt-li>
  <bolt-li>Apply basic practices for collaborative work.</bolt-li>
  <bolt-li>Be honest, respectful, trustworthy and helpful.</bolt-li>
  <bolt-li>Answer questions authoritatively and concisely. Avoid cluttering discussions with noise.</bolt-li>
</bolt-ul>


<bolt-ul class="t-bolt-dark">
  <bolt-li>L1 - Tea</bolt-li>
  <bolt-li>L1 - Coffee
    <bolt-ul>
      <bolt-li>L2 - Light roast</bolt-li>
      <bolt-li>
        L2 - Dark roast
        <bolt-ul>
          <bolt-li>
            Answer questions authoritatively and concisely. Avoid cluttering discussions with noise.Answer questions authoritatively and concisely. Avoid cluttering discussions with noise.
            <bolt-ul>
              <bolt-li>L4 - Tea</bolt-li>
              <bolt-li>L4 - Coffee
                <bolt-ul>
                  <bolt-li>L5 - Light roast</bolt-li>
                  <bolt-li>
                    L5 - Dark roast
                    <bolt-ul>
                      <bolt-li>
                        L6 - Italian Roast
                      </bolt-li>
                      <bolt-li>
                        L6 - Coffee from Italy
                      </bolt-li>
                    </bolt-ul>
                  </bolt-li>
                  <bolt-li>L5 - Medium roast</bolt-li>
                </bolt-ul>
              </bolt-li>
              <bolt-li>L4 - Milk</bolt-li>
            </bolt-ul>
          </bolt-li>
          <bolt-li>
            L3 - Coffee from Italy
          </bolt-li>
        </bolt-ul>
      </bolt-li>
      <bolt-li>L2 - Medium roast</bolt-li>
    </bolt-ul>
  </bolt-li>
  <bolt-li>L1 - Milk</bolt-li>
</bolt-ul>

<bolt-ul class="t-bolt-light">
  <bolt-li>Coffee</bolt-li>
  <bolt-li>Tea
    <bolt-ul>
      <bolt-li>Black tea</bolt-li>
      <bolt-li>Green tea</bolt-li>
    </bolt-ul>
  </bolt-li>
  <bolt-li>Milk</bolt-li>
</bolt-ul>



<form>
  <bolt-ul class="t-bolt-dark">
    <bolt-li>Coffee</bolt-li>
    <bolt-li>Tea
      <bolt-ul>
        <bolt-li>Black tea</bolt-li>
        <bolt-li>Green tea</bolt-li>
      </bolt-ul>
    </bolt-li>
    <bolt-li>Milk</bolt-li>
  </bolt-ul>

  <bolt-ul class="t-bolt-light">
    <bolt-li>Coffee</bolt-li>
    <bolt-li>Tea
      <bolt-ul>
        <bolt-li>Black tea</bolt-li>
        <bolt-li>Green tea</bolt-li>
      </bolt-ul>
    </bolt-li>
    <bolt-li>Milk</bolt-li>
  </bolt-ul>
</form>





<bolt-ul>
  <bolt-li>Coffee</bolt-li>
  <bolt-li>Tea</bolt-li>
  <bolt-li>Milk</bolt-li>
</bolt-ul>