<div style="min-height: 300px">

  <script>
    window.patternPaths = {
      pages: {
        'blog-homepage': "04-pages-45-d8-blog-00-blog-homepage",
        'blog-post': "04-pages-45-d8-blog-05-blog-post",
        'careers-homepage': "04-pages-50-d8-careers-00-careers-homepage"
      }
    }
  </script>

  {% include "@bolt-components-typeahead/typeahead.twig" %}

</div>

