<div class="u-bolt-min-height-screen">

  {% include "@bolt-components-typeahead/typeahead.twig" with {
    attributes: {
      class: [
        "js-typeahead-hook"
      ]
    },
    initialValue: "Artificial"
  } %}

    <script>
      const typeahead = document.querySelector('.js-typeahead-hook');

      const items = [
      {
        label: 'AI and improving the customer experience',
        description:
          '“Artificial intelligence” (AI) presents both distracting hype and powerful opportunities to drive customer engagement.',
        url: 'https://www.pega.com/ai-and-improving-customer-experience',
      },
      {
        label:
          'Gartner Magic Quadrant for Enterprise Low-Code Application Platforms 2019',
        description:
          'Pega was cited as a Visionary in Gartner’s new 2019 Magic Quadrant for Enterprise Low-Code Application Platforms.',
        url:
          'https://www.pega.com/insights/resources/gartner-magic-quadrant-enterprise-low-code-application-platforms-2019',
      }
    ];

      typeahead.addEventListener('ready', function (e) {
        if (e.detail.name === 'bolt-typeahead'){
          typeahead.items = items;
          typeahead.on('onSelected', (element, event, suggestion) => {
            const itemSelected = element.items.filter(item => item.label === suggestion.suggestionValue)[0];

            if (itemSelected) {
              if (itemSelected.label) {
                if ( window.location !== window.parent.location ) {
                  // const win = window.open(`${itemSelected.url}`, '_blank');
                  const win = window.open(`https://www.pega.com/search?q=${itemSelected.label}`, '_blank');
                  win.focus();
                } else {
                  window.location = `https://www.pega.com/search?q=${itemSelected.label}`;
                }
              }
            }
          });
        }
      });

      // function customOnChangeHandler() {
      // }
      // if (typeahead._wasInitiallyRendered) {
      //   if (!typeahead._listeners['onSelected']) {
      //     customOnChangeHandler();
      //   }
      // } else {
      //   typeahead.addEventListener('ready', function (e) {
      //     if (e.detail.name === 'bolt-typeahead'){
      //       customOnChangeHandler();
      //     }
      //   });
      // }
    </script>

  </div>

