<div class="editable">
<div id="save_btn" class="save_btn" style="display: none;"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;Save</div>
<div id="edit_btn" class="edit_btn"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>&nbsp;Edit</div>
<div id="editor_container" class="simplemde" style="display: none;">
<textarea id="editable">{{ content }}</textarea>
</div>
<div id="html_container"></div>
</div>
