<p>This video has <code>autoplay</code> set to <code>true</code> and <code>loop</code> set to <code>true</code>.</p>
<p><mark>Note: videos are not expected to autoplay on iOS.</mark></p>


{% include "@bolt/video.twig" with {
  "videoId": "5780495299001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "autoplay": true,
  "loop": true
} only %}
