<p>This video has <code>autoplay</code> set to <code>true</code> and <code>loop</code> set to <code>true</code>.</p>
<p><mark>Note: this example will not autoplay on iOS.  <code>controls</code> to <code>false</code> if you want iOS support.</mark></p>

{% include "@bolt/video.twig" with {
  "videoId": "5780495299001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "autoplay": true,
  "loop": true
} only %}
