<p>
  This video sets <code>autoplay</code> to <code>true</code>.
</p>

{% include "@bolt/video.twig" with {
  "video_id": "5780495299001",
  "account_id": "1900410236",
  "player_id": "r1CAdLzTW",
  "autoplay": true
} only %}
