/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

@import '@bolt/core';
@import './_card-settings-and-tools.scss';

bolt-card-actions {
  @include bolt-card-border-radius;
}

.c-bolt-card__actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
