@import '@bolt/core';
@import './_card-settings-and-tools.scss';

.c-bolt-card-link {
  display: block;
  cursor: pointer;
}

.c-bolt-card-link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; // a small z-index is required here so the <bolt-card-link> covers most types of content used inside the card component, except for a few exceptions 
}
