@import '@bolt/core';

// Settings

$bolt-card-shadow-color: bolt-color(gray, dark);
$bolt-card-border-color: bolt-theme(text, 0.15);
$bolt-card-border-radius: $bolt-border-radius;


// Tools

@mixin bolt-card-border-reset {
  border: 0;
  border-style: solid;
  border-color: $bolt-card-border-color;
}

@mixin bolt-card-border-radius {
  overflow: hidden;
  border-radius: $bolt-card-border-radius;

  &:first-child {
    border-radius: $bolt-card-border-radius $bolt-card-border-radius 0 0;
  }

  &:last-child {
    @include bolt-margin-top(auto);

    border-radius: 0 0 $bolt-card-border-radius $bolt-card-border-radius;
  }
}
