/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

@import '@bolt/core';
@import './_card-settings-and-tools.scss';

bolt-card-media {
  @include bolt-card-border-radius;
}

.c-bolt-card__media {
  display: block;
  background-color: bolt-theme(background);
}

.c-bolt-card__media--video {
  position: relative;
  z-index: $bolt-card-video-z-index;
}
