/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

@import '@bolt/core';
@import './_card-settings-and-tools.scss';

bolt-card-action {
  flex: 1;
}

.c-bolt-card__action {
  @include bolt-card-border-reset;

  display: block;
  position: relative;
  white-space: nowrap;
  border-top-width: 1px;

  &:before {
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    content: '';
    background-color: $bolt-card-border-color;
  }

  > * {
    height: 100%;
  }

  ::slotted(*){
    width: 100%;
  }
}

