/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

$bolt-card-shadow-color: bolt-color(gray, dark);
$bolt-card-border-color: bolt-theme(text, 0.15);
$bolt-card-border-radius: $bolt-border-radius;

@include bolt-custom-element('bolt-card', block, medium);

bolt-card {
  display: flex;
  height: 100%;
}

.c-bolt-card,
.c-bolt-card__media,
.c-bolt-card__action {
  border: 0;
  border-color: $bolt-card-border-color;
  border-style: solid;
}

.c-bolt-card__media,
.c-bolt-card__actions {
  overflow: hidden;
  border-radius: $bolt-card-border-radius;

  &:first-child {
    border-radius: $bolt-card-border-radius $bolt-card-border-radius 0 0;
  }

  &:last-child {
    @include bolt-margin-top(auto);

    border-radius: 0 0 $bolt-card-border-radius $bolt-card-border-radius;
  }
}

.c-bolt-card {
  @include bolt-shadow('level-20', false, $bolt-card-shadow-color);

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 1;
  position: relative;
  color: bolt-theme(text);
  border-radius: $bolt-card-border-radius;
  background-color: bolt-theme(background);

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    border-radius: $bolt-card-border-radius;
    background-color: transparent;
    box-shadow: 0 0 1px rgba(bolt-color(gray), 0.5);
  }

  // If the card is inside a theme and the card itself is not themed.
  @at-root [class*='t-bolt'] #{&}:not([class*='t-bolt']) {
    color: bolt-theme(text);
    background-color: transparent;
    background:
      linear-gradient(
        to bottom,
        rgba(bolt-color(white), 0.05),
        rgba(bolt-color(white), 0.05)
      ),
      linear-gradient(
        to bottom,
        bolt-theme(background, 0.85),
        bolt-theme(background, 0.85)
      );
  }
}

.c-bolt-card--actionable {
  &:hover,
  &:focus,
  &.is-hover,
  &.is-focus {
    @include bolt-shadow('level-20', true, $bolt-card-shadow-color);
  }
}

.c-bolt-card__media {
  background-color: bolt-theme(background);
}

.c-bolt-card__body {
  @include bolt-padding(medium);
}

.c-bolt-card__actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.c-bolt-card__action {
  position: relative;
  flex: 1;
  border-top-width: 1px;

  &:before {
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    content: '';
    background-color: $bolt-card-border-color;
  }
}
