<div class="c-action-blocks">
  <div class="c-action-blocks__inner">
    
    {% for item in action_blocks.items %}
    
    
      <a href="{{ item.action_block.url }}" class="o-block o-block--center c-action-block">
        
        {% if item.icon.name %}
          {% include "@atoms/icons/icon.twig" with {
            icon: {
              name: "{{ item.icon.name }}",
              attributes: {
                class: [
                  "o-block__image",
                  "c-action-block__icon"
                ]
              }
            }
          } %}
        {% endif %}
        
        {% if item.action_block.text %}
          <span class="o-block__body c-action-block__text">
            {{ item.action_block.text }}
          </span>
        {% endif %}
        
      </a>
      
    {% endfor %}
    
    
    <!-- 
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span>
    <span aria-hidden="true" class="c-action-block"></span> -->
  </div>
</div>