{% for theme in ["xlight", "light", "dark", "xdark"] %}
  <p>theme: {{ theme }}</p>
  {% embed "@utils/theme-demo.twig" %}
    {% block demo_content %}
      {% include "@bolt-components-blockquote/blockquote.twig" with {
        "theme": theme,
        "size": "xxlarge",
        "alignItems": "center",
        "border": "horizontal",
        "full_bleed": true,
        "logo": {
          "invert": true,
          "src": "/images/content/logos/logo-paypal.svg"
        },
        "content": "<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>",
        "author": {
          "image": {
            "src": "/images/placeholders/500x500.jpg",
            "lazyload": false
          },
          "name": "Michelangelo di Lodovico Buonarroti Simoni",
          "title": "Renaissance Artist"
        }
      } %}
    {% endblock %}
  {% endembed %}
{% endfor %}
