{% extends "@bolt/default-template.twig" %}

{% block global_header %}
  {% include "@bolt/page-header.twig" %}
{% endblock %}

{% block main_content %}

  <div class="c-bolt-band c-bolt-band--full c-bolt-band--medium t-bolt-dark">
    <div class="o-bolt-wrapper">
      <h1 class="c-bolt-headline c-bolt-headline--xxxlarge">
        <span class="c-bolt-headline__text">
          Page Headline
        </span>
      </h1>
      <h2 class="c-bolt-subheadline c-bolt-subheadline--xlarge">
        <span class="c-bolt-subheadline__text">
          Page subheadline if there is one.
        </span>
      </h2>
      <form action="#" method="post" class="c-bolt-form">
        <fieldset class="c-bolt-fieldset">
          <div class="c-bolt-input-list">
            <div class="c-bolt-input-list__item">
              <input class="c-bolt-input" type="search" name="search-input" id="search-input" placeholder="Enter text to search" required />
              <label class="c-bolt-floating-label" for="search-input">
                Search
              </label>
              <div class="c-bolt-input-icons">
                <button class="c-bolt-input-icon c-bolt-input-icon--link">
                  {% include "@bolt/icon.twig" with {
                    "name": "search",
                    "size": "medium"
                  } only %}
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="c-bolt-band c-bolt-band--full c-bolt-band--small t-bolt-light">
    <div class="o-bolt-wrapper">
      <p class="c-bolt-text c-bolt-text--bold">
        Showing 555 results. (<a href="javascript:" class="c-bolt-link">Clear filters</a>)
      </p>
      {% grid %}
        {% cell 'u-bolt-width-1/1 u-bolt-width-3/12@medium' %}
          <div class="c-bolt-search-filters">
            <div class="c-bolt-search-filters__trigger">
              {% include "@bolt/button.twig" with {
                "text": "Close search filters",
                "url": "#search-filters",
                "size": "xsmall",
                "style": "primary",
                "rounded": true,
                "iconOnly": true,
                "icon": {
                  "name": "more",
                  "size": "medium"
                }
              } only %}
            </div>

            <div class="c-bolt-search-filters__panel" id="search-filters">
              <div class="c-bolt-search-filters__panel-content">
                <form class="c-bolt-form" action="#" method="post" onsubmit="return false;">
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Search
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list">
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input" type="search" name="search2-input" id="search2-input" placeholder="Enter text to search" required />
                        <label class="c-bolt-floating-label" for="search2-input">
                          Search
                        </label>
                        <div class="c-bolt-input-icons">
                          <button class="c-bolt-input-icon c-bolt-input-icon--link">
                            {% include "@bolt/icon.twig" with {
                              "name": "search",
                              "size": "medium"
                            } only %}
                          </button>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Single Select
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list">
                      <div class="c-bolt-input-list__item">
                        <select class="c-bolt-input c-bolt-input--select is-filled" name="singleselect" id="singleselect">
                          <option value="Selection 1" selected>
                            Selection 1
                          </option>
                          <option value="Selection 2">
                            Selection 2
                          </option>
                        </select>
                        <label class="c-bolt-floating-label" for="singleselect">
                          Select
                        </label>
                        <div class="c-bolt-input-icons">
                          <div class="c-bolt-input-icon">
                            {% include "@bolt/icon.twig" with {
                              "name": "chevron-right",
                              "size": "medium"
                            } only %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Either Or
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        &laquo;
                        <a href="javascript:" class="c-bolt-link">
                          <span class="c-bolt-link__text">
                            Any
                          </span>
                        </a>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--radio" type="radio" name="eitheror" id="eitheror-choice-1" value="Item 1" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--radio" for="eitheror-choice-1">
                          <span class="c-bolt-inline-label__emphasize">Item 1 (45)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--radio" type="radio" name="eitheror" id="eitheror-choice-2" value="Item 2" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--radio" for="eitheror-choice-2">
                          <span class="c-bolt-inline-label__emphasize">Item 2 (32)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--radio" type="radio" name="eitheror" id="eitheror-choice-3" value="Item 3" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--radio" for="eitheror-choice-3">
                          <span class="c-bolt-inline-label__emphasize">Item 3 (2)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          And
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        &laquo;
                        <a href="javascript:" class="c-bolt-link">
                          <span class="c-bolt-link__text">
                            Clear
                          </span>
                        </a>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="and" id="and-choice-1" value="Item 1" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="and-choice-1">
                          <span class="c-bolt-inline-label__emphasize">Item 1 (12)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="and" id="and-choice-2" value="Item 2" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="and-choice-2">
                          <span class="c-bolt-inline-label__emphasize">Item 2 (8)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="and" id="and-choice-3" value="Item 3" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="and-choice-3">
                          <span class="c-bolt-inline-label__emphasize">Item 3 (3)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="and" id="and-choice-4" value="Item 4" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="and-choice-4">
                          <span class="c-bolt-inline-label__emphasize">Item 4 (5)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="and" id="and-choice-5" value="Item 5" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="and-choice-5">
                          <span class="c-bolt-inline-label__emphasize">Item 5 (10)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>

              <div class="c-bolt-search-filters__panel-controls c-bolt-search-filters__panel-controls--submit">
                {% include "@bolt/button-group.twig" with {
                  "buttons": [
                    {
                      "text": "Apply",
                      "style": "primary"
                    },
                    {
                      "text": "Cancel",
                      "url": "#!",
                      "style": "secondary"
                    }
                  ]
                } only %}
              </div>

              <div class="c-bolt-search-filters__panel-controls c-bolt-search-filters__panel-controls--close">
                {% include "@bolt/button.twig" with {
                  "text": "Close search filters",
                  "url": "#!",
                  "size": "xsmall",
                  "style": "text",
                  "rounded": true,
                  "iconOnly": true,
                  "icon": {
                    "name": "close",
                    "size": "medium"
                  }
                } only %}
              </div>
            </div>
          </div>
        {% endcell %}

        {% cell 'u-bolt-width-1/1 u-bolt-width-9/12@medium' %}
          {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-1/1" %}
              {% grid "o-bolt-grid--flex o-bolt-grid--middle" %}
                {% cell "u-bolt-width-6/12 u-bolt-width-8/12@medium" %}
                  <div class="c-bolt-toggle">
                    <div class="c-bolt-toggle__item">
                      <input type="radio" class="c-bolt-toggle__item-input" id="toggle-list-view" name="toggle-display" checked>
                      <label for="toggle-list-view" class="c-bolt-toggle__item-label">
                        {% include "@bolt/button.twig" with {
                          "text": "List View",
                          "size": "xsmall",
                          "style": "text",
                          "iconOnly": true,
                          "icon": {
                            "name": "asset-text",
                            "size": "medium"
                          }
                        } only %}
                      </label>
                    </div>
                    <div class="c-bolt-toggle__item">
                      <input type="radio" class="c-bolt-toggle__item-input" id="toggle-grid-view" name="toggle-display">
                      <label for="toggle-grid-view" class="c-bolt-toggle__item-label">
                        {% include "@bolt/button.twig" with {
                          "text": "Grid View",
                          "size": "xsmall",
                          "style": "text",
                          "iconOnly": true,
                          "icon": {
                            "name": "asset-infographic",
                            "size": "medium"
                          }
                        } only %}
                      </label>
                    </div>
                  </div>
                {% endcell %}
                {% cell "u-bolt-width-6/12 u-bolt-width-4/12@medium" %}
                  <form action="#" method="post" class="c-bolt-form">
                    <fieldset class="c-bolt-fieldset">
                      <div class="c-bolt-input-list">
                        <div class="c-bolt-input-list__item">
                          <select class="c-bolt-input c-bolt-input--select is-filled" name="select" id="select">
                            <option value="Relevance" selected>
                              Relevance
                            </option>
                            <option value="Most Recent">
                              Most Recent
                            </option>
                          </select>
                          <label class="c-bolt-floating-label" for="select">
                            Sort by
                          </label>
                          <div class="c-bolt-input-icons">
                            <div class="c-bolt-input-icon">
                              {% include "@bolt/icon.twig" with {
                                "name": "chevron-right",
                                "size": "medium"
                              } only %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                {% endcell %}
              {% endgrid %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "BPM"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "A New CRM Bill of Rights for the Future Empowered Enterprise"
                  },
                  {
                    pattern: "text",
                    text: "Jeff Nicholson of Pega provides insight into what companies should expect from CRM vendors."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Case Management"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "6 Customer Experience Trends to Watch in 2018"
                  },
                  {
                    pattern: "text",
                    text: "Pega's Don Schuerman previews customer experience questions and trends for the New Year."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "PegaWorld"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "3 Reasons Your AI-Driven Customer Experiences are Falling Short"
                  },
                  {
                    pattern: "text",
                    text: "Pega's Jeff Nicholson examines the state of AI in today's customer experiences."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              <ul class="o-bolt-inline-list o-bolt-inline-list--small">
                <li class="o-bolt-inline-list__item">
                  <strong>1</strong>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">2</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">3</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">4</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">5</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  &hellip;
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">20</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">&raquo;</a>
                </li>
              </ul>
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}
    </div>
  </div>
{% endblock %}
