{% extends "@bolt/default-template.twig" %}

{% block global_header %}
  {% include "@bolt/page-header.twig" %}
{% endblock %}

{% block main_content %}

  <div class="c-bolt-band c-bolt-band--full c-bolt-band--small t-bolt-light">
    <div class="o-bolt-wrapper">
      <h1 class="c-bolt-headline c-bolt-headline--xxxlarge">
        <span class="c-bolt-headline__text">
          Press &amp; Media
        </span>
      </h1>
      <form action="#" method="post" class="c-bolt-form">
        <fieldset class="c-bolt-fieldset">
          <div class="c-bolt-input-list">
            <div class="c-bolt-input-list__item">
              <input class="c-bolt-input" type="search" name="search-input" id="search-input" placeholder="Enter text to search" required />
              <label class="c-bolt-floating-label" for="search-input">
                Search
              </label>
              <div class="c-bolt-input-icons">
                <button class="c-bolt-input-icon c-bolt-input-icon--link">
                  {% include "@bolt/icon.twig" with {
                    "name": "search",
                    "size": "medium"
                  } only %}
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      {% grid %}
        {% cell 'u-bolt-width-1/1 u-bolt-width-3/12@medium' %}
          <div class="c-bolt-search-filters">
            <div class="c-bolt-search-filters__trigger">
              {% include "@bolt/button.twig" with {
                "text": "Close search filters",
                "url": "#search-filters",
                "size": "xsmall",
                "style": "primary",
                "rounded": true,
                "iconOnly": true,
                "icon": {
                  "name": "more",
                  "size": "medium"
                }
              } only %}
            </div>

            <div class="c-bolt-search-filters__panel" id="search-filters">
              <div class="c-bolt-search-filters__panel-content">
                <form class="c-bolt-form" action="#" method="post" onsubmit="return false;">
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Category
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        &laquo;
                        <a href="javascript:" class="c-bolt-link">
                          <span class="c-bolt-link__text">
                            Any category
                          </span>
                        </a>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--radio" type="radio" name="category" id="category-choice-1" value="Media Coverage" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--radio" for="category-choice-1">
                          <span class="c-bolt-inline-label__emphasize">Media Coverage (45)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--radio" type="radio" name="category" id="category-choice-2" value="Press Release" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--radio" for="category-choice-2">
                          <span class="c-bolt-inline-label__emphasize">Press Release (32)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Date
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        &laquo;
                        <a href="javascript:" class="c-bolt-link">
                          <span class="c-bolt-link__text">
                            Clear
                          </span>
                        </a>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="date" id="date-choice-1" value="2017" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="date-choice-1">
                          <span class="c-bolt-inline-label__emphasize">2017 (12)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="date" id="date-choice-2" value="2016" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="date-choice-2">
                          <span class="c-bolt-inline-label__emphasize">2016 (8)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="date" id="date-choice-3" value="2015" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="date-choice-3">
                          <span class="c-bolt-inline-label__emphasize">2015 (3)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="date" id="date-choice-4" value="2014" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="date-choice-4">
                          <span class="c-bolt-inline-label__emphasize">2014 (5)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="date" id="date-choice-5" value="2013" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="date-choice-5">
                          <span class="c-bolt-inline-label__emphasize">2013 (10)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Topic
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        &laquo;
                        <a href="javascript:" class="c-bolt-link">
                          <span class="c-bolt-link__text">
                            Clear
                          </span>
                        </a>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-1" value="Analytics" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-1">
                          <span class="c-bolt-inline-label__emphasize">Analytics (3)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-2" value="BPM" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-2">
                          <span class="c-bolt-inline-label__emphasize">BPM (4)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-3" value="Case Management" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-3">
                          <span class="c-bolt-inline-label__emphasize">Case Management (6)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-4" value="Cloud" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-4">
                          <span class="c-bolt-inline-label__emphasize">Cloud (7)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-5" value="CRM" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-5">
                          <span class="c-bolt-inline-label__emphasize">CRM (14)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-6" value="Customer Service" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-6">
                          <span class="c-bolt-inline-label__emphasize">Customer Service (10)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-7" value="Decision Management" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-7">
                          <span class="c-bolt-inline-label__emphasize">Decision Management (34)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-8" value="Internet of Things" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-8">
                          <span class="c-bolt-inline-label__emphasize">Internet of Things (1)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-9" value="Marketing Automation" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-9">
                          <span class="c-bolt-inline-label__emphasize">Marketing Automation (23)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-10" value="Mobile" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-10">
                          <span class="c-bolt-inline-label__emphasize">Mobile (5)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-11" value="Operations" checked />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-11">
                          <span class="c-bolt-inline-label__emphasize">Operations (5)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="topic" id="topic-choice-12" value="Pega Platform" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="topic-choice-12">
                          <span class="c-bolt-inline-label__emphasize">Pega Platform (9)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset class="c-bolt-fieldset">
                    <legend class="c-bolt-legend">
                      <h2 class="c-bolt-headline c-bolt-headline--large">
                        <span class="c-bolt-headline__text">
                          Industry
                        </span>
                      </h2>
                    </legend>
                    <div class="c-bolt-input-list c-bolt-input-list--stack-spacing-none">
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-1" value="Communications & Media" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-1">
                          <span class="c-bolt-inline-label__emphasize">Communications & Media (12)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-2" value="Energy & Utilities" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-2">
                          <span class="c-bolt-inline-label__emphasize">Energy & Utilities (8)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-3" value="Financial Services" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-3">
                          <span class="c-bolt-inline-label__emphasize">Financial Services (3)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-4" value="Government" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-4">
                          <span class="c-bolt-inline-label__emphasize">Government (5)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-5" value="Healthcare" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-5">
                          <span class="c-bolt-inline-label__emphasize">Healthcare (10)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-6" value="Insurance" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-6">
                          <span class="c-bolt-inline-label__emphasize">Insurance (10)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-7" value="Life Sciences" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-7">
                          <span class="c-bolt-inline-label__emphasize">Life Sciences (10)</span>
                        </label>
                      </div>
                      <div class="c-bolt-input-list__item">
                        <input class="c-bolt-input c-bolt-input--checkbox" type="checkbox" name="industry" id="industry-choice-8" value="Manufacturing & High Technology" />
                        <label class="c-bolt-inline-label c-bolt-inline-label--checkbox" for="industry-choice-8">
                          <span class="c-bolt-inline-label__emphasize">Manufacturing & High Technology (10)</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>

              <div class="c-bolt-search-filters__panel-controls c-bolt-search-filters__panel-controls--submit">
                {% include "@bolt/button-group.twig" with {
                  "buttons": [
                    {
                      "text": "Apply",
                      "style": "primary"
                    },
                    {
                      "text": "Cancel",
                      "url": "#!",
                      "style": "secondary"
                    }
                  ]
                } only %}
              </div>

              <div class="c-bolt-search-filters__panel-controls c-bolt-search-filters__panel-controls--close">
                {% include "@bolt/button.twig" with {
                  "text": "Close search filters",
                  "url": "#!",
                  "size": "xsmall",
                  "style": "text",
                  "rounded": true,
                  "iconOnly": true,
                  "icon": {
                    "name": "close",
                    "size": "medium"
                  }
                } only %}
              </div>
            </div>
          </div>
        {% endcell %}

        {% cell 'u-bolt-width-1/1 u-bolt-width-9/12@medium' %}
          {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-1/1" %}
              {% grid "o-bolt-grid--flex o-bolt-grid--middle" %}
                {% cell "u-bolt-width-6/12 u-bolt-width-8/12@medium" %}
                  <div class="c-bolt-toggle">
                    <div class="c-bolt-toggle__item">
                      <input type="radio" class="c-bolt-toggle__item-input" id="toggle-list-view" name="toggle-display" checked>
                      <label for="toggle-list-view" class="c-bolt-toggle__item-label">
                        {% include "@bolt/button.twig" with {
                          "text": "List View",
                          "size": "xsmall",
                          "style": "text",
                          "iconOnly": true,
                          "icon": {
                            "name": "asset-text",
                            "size": "medium"
                          }
                        } only %}
                      </label>
                    </div>
                    <div class="c-bolt-toggle__item">
                      <input type="radio" class="c-bolt-toggle__item-input" id="toggle-grid-view" name="toggle-display">
                      <label for="toggle-grid-view" class="c-bolt-toggle__item-label">
                        {% include "@bolt/button.twig" with {
                          "text": "Grid View",
                          "size": "xsmall",
                          "style": "text",
                          "iconOnly": true,
                          "icon": {
                            "name": "asset-infographic",
                            "size": "medium"
                          }
                        } only %}
                      </label>
                    </div>
                  </div>
                {% endcell %}
                {% cell "u-bolt-width-6/12 u-bolt-width-4/12@medium" %}
                  <form action="#" method="post" class="c-bolt-form">
                    <fieldset class="c-bolt-fieldset">
                      <div class="c-bolt-input-list">
                        <div class="c-bolt-input-list__item">
                          <select class="c-bolt-input c-bolt-input--select is-filled" name="select" id="select">
                            <option value="Relevance" selected>
                              Relevance
                            </option>
                            <option value="Most Recent">
                              Most Recent
                            </option>
                          </select>
                          <label class="c-bolt-floating-label" for="select">
                            Sort by
                          </label>
                          <div class="c-bolt-input-icons">
                            <div class="c-bolt-input-icon">
                              {% include "@bolt/icon.twig" with {
                                "name": "chevron-right",
                                "size": "medium"
                              } only %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                {% endcell %}
              {% endgrid %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "BPM"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "A New CRM Bill of Rights for the Future Empowered Enterprise"
                  },
                  {
                    pattern: "text",
                    text: "Jeff Nicholson of Pega provides insight into what companies should expect from CRM vendors."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Case Management"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "6 Customer Experience Trends to Watch in 2018"
                  },
                  {
                    pattern: "text",
                    text: "Pega's Don Schuerman previews customer experience questions and trends for the New Year."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "PegaWorld"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "3 Reasons Your AI-Driven Customer Experiences are Falling Short"
                  },
                  {
                    pattern: "text",
                    text: "Pega's Jeff Nicholson examines the state of AI in today's customer experiences."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              {% include "@bolt/card.twig" with {
                theme: "xlight",
                contentItems: [
                  {
                    pattern: "eyebrow",
                    text: "Article Type"
                  },
                  {
                    pattern: "headline",
                    tag: "h3",
                    size: "large",
                    text: "Article Headline"
                  },
                  {
                    pattern: "text",
                    text: "Article summary. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent."
                  }
                ]
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-1/1" %}
              <ul class="o-bolt-inline-list o-bolt-inline-list--small">
                <li class="o-bolt-inline-list__item">
                  <strong>1</strong>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">2</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">3</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">4</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">5</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  &hellip;
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">20</a>
                </li>
                <li class="o-bolt-inline-list__item">
                  <a href="javascript:" class="c-bolt-link">&raquo;</a>
                </li>
              </ul>
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}
    </div>
  </div>
{% endblock %}
