/* ==========================================================================
   #FULL-BLEED-MIXIN
   ========================================================================== */

/**
  * Inspired by https://css-tricks.com/full-width-containers-limited-width-parents/
  */

@include add-module(
  $name:    'tools.full-bleed',
  $version: '1.0.0',
  $dependencies: ()
);

@mixin full-bleed() {
  width: 100%; //fallback if vw not supported.
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
