/* ==========================================================================
   #CLEARFIX
   ========================================================================== */

@include add-module(
  $name:    'tools.clearfix',
  $version: '1.0.0',
  $dependencies: ()
);

@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}
