{% set content %}
  <bolt-text>
    Verify deep linking to an accordion item works when inside a Band. For example: <a href="?selected-accordion-item=item-3" class="e-bolt-text-link">?selected-accordion-item=item-3</a>.
  </bolt-text>

  {% include '@bolt-components-accordion/accordion.twig' with {
    items: [
      {
        trigger: 'Accordion item 1',
        content: 'This is the accordion content.',
        id: 'item-1',
      },
      {
        trigger: 'Accordion item 2',
        content: 'This is the accordion content.',
        id: 'item-2',
      },
      {
        trigger: 'Accordion item 3',
        content: 'This is the accordion content.',
        id: 'item-3',
      }
    ]
  } only %}
{% endset %}

{% include '@bolt-components-band/band.twig' with {
  content: content,
  theme: 'none',
  size: 'large',
} only %}
