////
/// @group Settings: Typography
/// @author Mike Mai
////

@import "../settings-global/settings-global";
/* ------------------------------------ *\
  Default Fallback + Custom Web Font Stacks
\* ------------------------------------ */


/*
 * Default Font Family Stacks
 */

/// Default sans-serif fallback font stack containing [1] maps to the system UI font and [2] known system UI fonts. Used within the $bolt-font-families map.
/// @see $bolt-font-families
$bolt-font-family--sans-fallback:
  -apple-system, BlinkMacSystemFont, /* [1] */
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', /* [2] */
  'Helvetica Neue', sans-serif !default;

/// Default serif font stack. Used within the $bolt-font-families map.
/// @see $bolt-font-families
$bolt-font-family--serif: 'Georgia', serif !default;

/// Default monospace fallback font stack. Used within the $bolt-font-families map.
/// @see $bolt-font-families
$bolt-font-family--mono-fallback: monospace, monospace !default;


/*
 * Custom web font stacks
 */

/// Default sans-serif font stack. Used within the $bolt-font-families map.
/// @see $bolt-font-families
$bolt-font-family--sans:  'Open Sans', 'Helvetica Neue', sans-serif !default;

/// Default sans-serif subset font stack. Used within the $bolt-font-families map.
/// @see $bolt-font-families

$bolt-font-family--sans-subset: 'OpenSansSubset', 'Helvetica Neue', sans-serif !default;

/// Default monospace font stack. Used within the $bolt-font-families map.
/// @see $bolt-font-families
$bolt-font-family--mono:  monospace, monospace !default;


/*
 * Map font stack categories to Bolt's body, heading, and code.
 */

/// Bolt's definition of body, heading, and code text.
/// @type Map
/// @see {mixin} bolt-font-family
$bolt-font-families: (
  font-families: (
    body: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans,
      loaded-class:  $bolt-fonts--loaded-class
    ),
    bodySubset: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans-subset,
      loaded-class:  $bolt-fonts--subset-loaded-class
    ),
    heading: (
      fallback-font: $bolt-font-family--sans-fallback,
      custom-font:   $bolt-font-family--sans,
      loaded-class:  $bolt-fonts--loaded-class
    ),
    code: (
      fallback-font: $bolt-font-family--mono-fallback,
      custom-font:   $bolt-font-family--mono,
      loaded-class:  $bolt-fonts--loaded-class
    )
  )
) !default;

@include export-data('typography/font-families.bolt.#{$bolt-lang}.json', $bolt-font-families);
