@import '~@bolt/core/index.scss';

/* ------------------------------------ *\
   Navbar
\* ------------------------------------ */

$bolt-navbar-title-transition: $bolt-transition;


bolt-navbar {
  display: block;
}

.c-bolt-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


// Nav title
.c-bolt-navbar__title {
  @include bolt-margin(0 small 0 0);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  color: var(--bolt-theme-heading, inherit);
  white-space: nowrap;

  &:only-child {
    @include bolt-margin-right(auto);
  }
}

.c-bolt-navbar__title--link {
  text-decoration: none;
  opacity: 1;
  transition: all $bolt-navbar-title-transition;

  &:hover {
    opacity: $bolt-global-link-hover-opacity;
  }
}

.c-bolt-navbar__title-icon {
  @include bolt-margin(0 xsmall 0 0);
}

.c-bolt-navbar__title-text {
  @include bolt-font-size(large);
  @include bolt-font-weight(semibold);
}


// Nav items
.c-bolt-navbar__nav {
  @include bolt-margin(0 0 0 small);

  // TODO: [Mai] The following is a hack to hide the nav on small screens, there should be a better option to hide and show in the future from the design team.
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}

.c-bolt-navbar__nav {
  &:only-child {
    @include bolt-margin(0 auto);
  }
}

.c-bolt-navbar--align-items-start {
  justify-content: flex-start;
}

.c-bolt-navbar--align-items-center {
  justify-content: center;
}

.c-bolt-navbar--align-items-end {
  justify-content: flex-end;
}
