@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Navbar
\* ------------------------------------ */

$bolt-navbar-title-transition: $bolt-transition;

$bolt-navbar-vspacing-small: bolt-v-spacing(small);
$bolt-navbar-vspacing-xsmall: bolt-v-spacing(xsmall);
$bolt-navbar-xsmall-bp: 420px; // Slightly increase the default 400px xsmall breakpoint to be better optimized for larger plus-sized mobile devices -- value shared by the bolt-navbar, bolt-nav-priority, and bolt-navlink components

bolt-navbar {
  @include bolt-margin-top(0); // workaround to -.5px in bolt-full-bleed
  @include bolt-margin-bottom(0); // workaround to -.5px in bolt-full-bleed
  --bolt-vspacing: #{$bolt-navbar-vspacing-xsmall};

  @include bolt-mq($bolt-navbar-xsmall-bp){
    --bolt-vspacing: #{$bolt-navbar-vspacing-small};
  }

  // @todo: remove once Navbar refactored to have theming classes added to the `.c-bolt-navbar` inner.
  &[width*=full] {
    @include bolt-full-bleed;
  }

  display: block;
  overflow: visible;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.c-bolt-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  // @include bolt-padding-top($bolt-navbar-vspacing-small);
  max-width: bolt-breakpoint(xxlarge);
  margin: 0 auto;
  margin: 0 auto;
  @include bolt-padding-left(small);
  @include bolt-padding-right(small);

  > *:not(:last-child){
    @include bolt-margin-right(small);
  }

  @include bolt-mq($bolt-navbar-xsmall-bp){
    @include bolt-padding-left(medium);
    @include bolt-padding-right(medium);
  }

  @include bolt-padding-top($bolt-navbar-vspacing-small);

  @supports (--css: variables) {
    padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
  }

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: $bolt-navbar-xsmall-bp) {
      @include bolt-padding-top(0);
    }
  }

  @include bolt-mq(medium) {
    @include bolt-padding-left(large);
    @include bolt-padding-right(large);
  }

  /**
    * 1. Global spacing fallbacks if CSS variables aren't supported
    */
  > * {
    @include bolt-padding-bottom($bolt-navbar-vspacing-small); /* [1] */

    @supports (--css: variables) {
      padding-bottom: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
    }
  }

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: $bolt-navbar-xsmall-bp) {
      @include bolt-padding-left(0);
      @include bolt-padding-right(0);
      display: grid;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
      grid-template-columns: bolt-spacing(small) auto 1fr bolt-spacing(medium);
      grid-template-rows: 1fr auto;
    }
  }

  &--center {
    @include bolt-mq(xsmall){
      flex-wrap: wrap;
      justify-content: center;
    }

    > *:first-child {
      @include bolt-padding-top($bolt-navbar-vspacing-xsmall); /* [1] */
      align-self: center;

      @supports (--css: variables) {
        padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-xsmall);
      }
    }

    > *:only-child {
      @include bolt-padding-top($bolt-navbar-vspacing-xsmall); /* [1] */
      @include bolt-padding-bottom($bolt-navbar-vspacing-xsmall); /* [1] */

      @supports (--css: variables) {
        padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-xsmall);
        padding-bottom: calc(
          var(--bolt-vspacing, $bolt-navbar-vspacing-xsmall) * 2
        );
      }
    }
  }

  // Don't include these inner "full-bleed" styles till Navbar is updated to support theming classes internally,
  // otherwise full bleed + center styling combos are broken
  // @todo: uncomment once the [width*="full"] updates from above ^ are addressed
  // &--full {
  //   @include bolt-full-bleed;
  // }

  &--small {
    > * {
      @include bolt-padding-bottom($bolt-navbar-vspacing-xsmall); /* [1] */
    }

    @supports (--css: variables) {
      --bolt-vspacing: #{bolt-v-spacing(xsmall)};
    }
  }
}

// Nav title
.c-bolt-navbar__title {
  @include bolt-margin-right(small); // Maintain space between items
  display: flex;
  flex-shrink: 1; // make sure the title can wrap to multiple lines and shrink if needed, but only when absolutely necessary (prevents jumps when resizing)
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
  padding-bottom: $bolt-navbar-vspacing-small;
  color: bolt-theme(headline);
  white-space: nowrap;

  > *:not(:last-child){
    @include bolt-margin-right(small);
  }

  @supports (--css: variables) {
    padding-bottom: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
  }


  &:only-child {
    @include bolt-margin-right(auto);
  }

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: $bolt-navbar-xsmall-bp) {
      @include bolt-padding-top($bolt-navbar-vspacing-small);
      grid-column: 2 / span 1;

      @supports (--css: variables) {
        padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
      }
    }
  }

  .c-bolt-navbar--center & {
    @include bolt-mq(xsmall){
      @include bolt-margin-left(auto);
      @include bolt-margin-right(auto);
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.c-bolt-navbar__title--static,
.c-bolt-navbar__title--link {
  display: flex;
  flex-shrink: 1; // make sure the title can wrap to multiple lines and shrink if needed.
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
  white-space: nowrap;
}

.c-bolt-navbar__title--link {
  opacity: bolt-opacity(100);
  text-decoration: none;
  transition: all $bolt-navbar-title-transition;

  &:hover {
    opacity: $bolt-global-link-hover-opacity;
  }
}

.c-bolt-navbar__title-icon {
  @include bolt-margin(0 small 0 0);
  flex-basis: auto;

  // Fix cross-browser bug where icon shrinks below its minimum natural width - see https://github.com/philipwalton/flexbugs#flexbug-1
  flex-shrink: 0;
  line-height: 0; // fix vertical alignment of icon + title
}

.c-bolt-navbar__title-text {
  white-space: normal; // wrap to multiple lines if needed
  flex-flow: wrap;
  @include bolt-font-size(medium);
  @include bolt-font-weight(bold);

  // Adjust the Navbar Title size when being stacked vertically
  .c-bolt-navbar--center & {
    @include bolt-font-size(small);
    @include bolt-font-weight(bold);
    flex-wrap: nowrap; // fixes IE 11 flex-bug causing text to resist staying on one line and prematurely wraps to two-lines -- even if plenty of space is available
  }
}

// Nav items
.c-bolt-navbar__nav {
  @include bolt-margin(0 0 0 small);
  flex-shrink: 1;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.c-bolt-navbar__nav {
  &:only-child {
    @include bolt-margin(0 auto);
  }
}

.c-bolt-navbar--align-items-start {
  justify-content: flex-start;
}

.c-bolt-navbar--align-items-center {
  justify-content: center;
}

.c-bolt-navbar--align-items-end {
  justify-content: flex-end;
}
