@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Navbar Menu
\* ------------------------------------ */

.c-bolt-navbar-menu {
  display: flex;
  flex-shrink: 0;
  position: relative;
  white-space: nowrap;
  @include bolt-mq($until: xsmall) {
    display: contents;
  }
}

.c-bolt-navbar-menu__button {
  @include bolt-button-reset;
  display: block;
  position: relative;
  width: 100%;
  padding: calc(var(--bolt-spacing-y-xsmall) / 2) var(--bolt-spacing-x-xsmall);
  color: var(--m-bolt-headline);
  cursor: pointer;
  border-radius: 3px;
  border-radius: $bolt-border-radius;
  // Added border so that &:after,&:focus doesn't change the size of the band
  // We should consider making this thin dotted style a mixin to share with navbar
  border-width: thin;
  border-style: solid;
  border-color: transparent;
  white-space: nowrap;

  @include bolt-mq($until: xsmall) {
    height: 100%; // fix for height: 100% causing issues on larger screen sizes
    border-left-color: var(--m-bolt-border);
    border-radius: 0;
    border-width: 0 0 0 1px;
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
  }

  @include bolt-mq(xsmall) {
    padding: calc(var(--bolt-spacing-y-small) / 2) var(--bolt-spacing-x-small);
  }

  &:before {
    content: '';
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-color: currentColor;
    transition: opacity 0.3s ease;

    @include bolt-mq(xsmall) {
      border-radius: $bolt-border-radius;
    }
  }

  &:hover:before {
    opacity: 0.1;
  }

  &:focus {
    border-style: dotted;
    border-color: var(--bolt-theme-secondary);
    outline: none;
  }

  @at-root .c-bolt-navbar-menu--is-open & {
    &:before {
      opacity: 0.1;
    }
  }
}

.c-bolt-navbar-menu__button-text {
  position: relative;
  // z-index: 10; // @todo
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-semibold);
  line-height: var(--bolt-type-line-height-small);

  @include bolt-mq($until: xsmall) {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-navbar-menu__button-icon {
  display: inline-block;
  position: relative;
  // z-index: 10; // @todo
  font-size: 1em;
  line-height: 0;
  transition: transform 0.2s;

  @media (prefers-reduced-motion) {
    transition: none !important;
  }

  @include bolt-mq($until: xsmall) {
    font-size: 24px;
  }

  @at-root .c-bolt-navbar-menu--is-open & {
    transform: rotate(180deg);
  }
}

.c-bolt-navbar-menu__dropdown {
  @include bolt-z-index(tooltip);
  opacity: bolt-opacity(0);
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(100vw - #{var(--bolt-spacing-x-large)});
  min-width: 12rem;
  max-width: 100vw;
  max-height: calc(100vh - 48px - 48px);
  pointer-events: none;
  border-bottom-right-radius: $bolt-border-radius;
  border-bottom-left-radius: $bolt-border-radius;
  box-shadow: 0 1px 2px 1px rgba(6, 10, 36, 0.1);
  background-color: var(--m-bolt-bg);
  transition: opacity var(--bolt-transition);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @media (prefers-reduced-motion) {
    transition: none !important;
  }

  @include bolt-mq($until: xsmall) {
    left: 0;
    width: auto;
    grid-row: 2 / span 1;
    grid-column: 1 / span 6;
  }

  @include bolt-mq(xsmall) {
    width: auto;
    max-width: 100%;
  }

  &:before {
    content: '';
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 1; // @todo
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    background-color: var(--bolt-color-white);
  }

  * {
    white-space: normal;
  }

  @at-root .c-bolt-navbar-menu--is-open & {
    opacity: bolt-opacity(100);
    pointer-events: auto;
  }
}

.c-bolt-navbar-menu__dropdown-inner {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-xsmall);
}
