{# <div class="c-bolt-card" data-background="{{background}}">
  {% for item in body %}
    {% include item.name ~ '.twig' with item only %}
    {% else %}{% block body %}{% endblock %}
  {% endfor %}
</div> #}


<div class="c-bolt-card">
  {% block card_content %}{% endblock %}
</div>





{# include "@bolt/default-card.twig" with {
  size: "medium",
  theme: "xlight",
  shadow: true,
  items: [
    {
      "icon": {
        "name": "pdf"
      },
      "teaser": {
        "headline": "my headline",
        "content": "content goes here.",
        "buttons": [
          {
            "button": {
              "url": "google.com",
              "text": "Learn more"
            }
          }
        ]
      }
    },
    {
      "image": {
        "src": "foobar.jpg"
      },
      "teaser": {
        "headline": "my headline",
        "content": "content goes here.",
        "buttons": [
          {
            "button": {
              "url": "google.com",
              "text": "Learn more"
            }
          }
        ]
      }
    },
    {
      "image": {
        "src": "foobar.jpg"
      },
      "teaser": {
        "headline": "my headline",
        "content": "content goes here.",
        "buttons": [
          {
            "button": {
              "url": "google.com",
              "text": "Learn more"
            }
          }
        ]
      }
    }
  ]
#}

{# <div class="c-bolt-card" data-background="{{background}}">
  {% for item in body %}
    {% include item.name ~ '.twig' with item only %}
    {% else %}{% block body %}{% endblock %}
  {% endfor %}
</div> #}