{% set schema = get_data('@bolt-components-action-blocks/action-blocks.schema.yml') %}

{% for align in schema.properties.align.enum %}
  <p>Align: {{ align }}</p>
  {% include "@bolt-components-action-blocks/action-blocks.twig" with {
    align: align,
    maxItemsPerRow: 4,
    contentItems: [
      {
        text: "Item 1, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dignissim non dui vel elementum. Cras id lorem tincidunt turpis mollis pretium. ",
        url: "http://google.com",
        icon: {
          name: "download",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 2",
        url: "http://google.com",
        icon: {
          name: "copy-to-clipboard",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 3",
        url: "http://google.com",
        icon: {
          name: "calendar",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 4",
        url: "http://google.com",
        icon: {
        name: "copy-to-clipboard",
        size: "large",
        background: "circle"
      }
      }
    ]
  } only %}
{% endfor %}