{% set schema = bolt.data.components['@bolt-components-action-blocks'].schema %}

{% for border in schema.properties.border.enum %}
  <p>Border: {{ border }}</p>
  {% include "@bolt-components-action-blocks/action-blocks.twig" with {
    border: border == 'true',
    contentItems: [
      {
        text: "Item 1",
        icon: {
          name: "download",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 2",
        url: "#!",
        icon: {
          name: "copy-to-clipboard",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 3",
        url: "#!",
        icon: {
          name: "calendar",
          size: "large",
          background: "circle"
        }
      }
    ]
  } only %}
{% endfor %}
