@import '@bolt/core';
@import '@bolt/animations';
@import './SimpleSwitch';
@import './swiper';

$simple-switch_height: 40px;
$simple-switch_size_mobile: 130px;
$pega-wwo--block-width-basis: 6%; // ~100px at full site width.
$pega-wwo--block-bottom-margin: 2rem;
$pega-wwo--max-width: 100%;
$pega-wwo--desktop-ratio: 59.222%;
$pega-wwo--desktop-ratio-decimal: .59222;
$pega-wwo--sm-circle-size: 10px;
$pega-wwo--dashed-circle-height: 48.05%;
$pega-wwo--content-max-mobile-width: 550px;
$bolt-medium-icon-half-size: 12px;
$pega-wwo--sm-circle-top-margin--mobile: $bolt-medium-icon-half-size - ($pega-wwo--sm-circle-size / 2);

.c-pega-wwo {
  height: 100%;
  min-height: 100vh;
  line-height: 1.4;
  background-color: black;

  bolt-animate {
    min-width: 1px;
    min-height: 1px;
  }

  &__wrapper {

  }

  &__inner {
    position: relative;
  }


  &__modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    width: 100vw;
    height: 100%;
    pointer-events: none;
    background-color: bolt-color(black);
  }

  &__title-and-toggle--wrapper {
    padding-bottom: bolt-spacing(large);
  }

  &__toggle {
    position: relative;
    z-index: 12;

    width: $simple-switch-size_mobile * 2;
    height: $simple-switch_height;
    margin: bolt-spacing(medium) auto 0 auto;
    text-align: center;

    @include bolt-mq($from: xsmall) {
      width: $simple-switch_size * 2;
    }

    &-input {
      opacity: 0;
      position: absolute;
    }

    ._simple-switch-track {
      display: inline;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $simple-switch-size_mobile * 2;
      height: $simple-switch_height;
      padding: 0 calc((#{$simple-switch-size_mobile} * 2) - 8px) 0 0;
      cursor: pointer;
      background-color: bolt-color(white);


      @include bolt-mq($from: xsmall) {
        padding: 0 calc((#{$simple-switch-size} * 2) - 8px) 0 0;
      }

      &.on .handle{
        transform: translateX(calc((#{$simple-switch-size_mobile}) - 8px));
      }

      @include bolt-mq($from: xsmall) {
        &.on .handle {
          transform: translateX(calc((#{$simple-switch-size}) - 8px));
        }
      }

      .handle {
        width: $simple-switch-size_mobile;
        height: $simple-switch_height - ($simple-switch_outline-size * 2);
        // @TODO replace with animation design token. Also in simple switch.
        transition: background-color 20ms linear;

        @include bolt-mq($from: xsmall) {
          width: $simple-switch-size;
        }
      }

      &.on .handle {
        background-color: bolt-color(yellow);
      }
    }

    &-labels {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      width: 100%;
      margin-right: -50%;
      padding-bottom: 7px;
      padding-left: 3px;
      color: bolt-color('black');
      line-height: 1;
      text-decoration: none;
      pointer-events: none;

      &-animation {
        width: inherit;
      }

      &-inner {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: inherit;
      }
    }

    &-label {
      flex: 1 0 50%;
      width: 50%;
    }
  }


  &__swiper-container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__swiper-container {
    width: 100vw;
  }

  &__swiper-wrapper {
    width: 100%;
    height: 100%;
  }

  //&__swiper-slide {
  //  flex: 0 0 auto;
  //}

  &__content {
    width: 100%;

    @include bolt-mq($from: xlarge) {
      position: relative;
      height: 0;
      // Scale bg image by width Padding is relative to width. So this is an aspect ratio hack.
      padding-bottom: $pega-wwo--desktop-ratio;
    }
  }

  &__content--inner {
    display: flex;
    // Scale bg image by width Padding is relative to width. So this is an aspect ratio hack.
    position: relative;
    z-index: 1;
    max-width: $pega-wwo--content-max-mobile-width;
    margin: 0 auto;

    @include bolt-mq(xlarge) {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: unset;
      height: 100%;
    }
  }

  &__content-w {

  }

  &__content-wo {

  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: $pega-wwo--max-width auto;

    &-wo {
      background-image: url("./img/BG_withoutPega_mobile.jpg");

      @include bolt-mq($from: xlarge) {
        background-image: url("./img/BG_without_desktop.jpg");
      }
    }

    &-w {
      background-image: url("./img/BG_withPega_mobile.jpg");

      @include bolt-mq($from: xlarge) {
        background-image: url("./img/BG_withPega_desktop.jpg");
      }
    }
  }

  &__active-w {
    display: block;


    .c-pega-wwo__content-wo {
      //@include bolt-visuallyhidden;
      //display: none;
    }

    .c-pega-wwo__content-w {
      //@include bolt-visuallyshown;
      //display: block;
    }
  }

  &__title {
    span {
      display: block;
      z-index: 12;
    }
    z-index: 12;
    padding-top: bolt-spacing(large);
    text-align: center;
    font-size: 28px;
    font-weight: normal;
  }

  &__circles {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;

    @include bolt-mq($from: xlarge) {
      display: block;
    }

    &-wrapper {
      $pega-wwo--circles-top-padding: 18%;
      display: none;
      top: 0;

      @include bolt-mq($from: xlarge) {
        display: block;
        position: absolute;
        width: calc(#{$pega-wwo--dashed-circle-height} * #{$pega-wwo--desktop-ratio-decimal});
        height: calc(#{$pega-wwo--dashed-circle-height} + calc(#{$pega-wwo--circles-top-padding} / #{$pega-wwo--desktop-ratio-decimal}));
      }

    .c-pega-wwo__shadow-height-inherit {
        width: 100%;
        height: 100%;
      }

      &-wo {
        left: 23.7%;
        padding-top: $pega-wwo--circles-top-padding;
      }

      &-w {
        left: 19.7%;
        padding-top: $pega-wwo--circles-top-padding;
      }
    }
  }

  &__dashed-circle {
    width: 100%;
    height: 100%;
    border: 2px dashed bolt-color(white);
    border-radius: 50%;

    @include bolt-animation--spin(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );

    &-wrapper {

    }
  }

  &__sm-circle {
    @include bolt-transition--fade-in($base: true, $delay: 1s);

    .c-pega-wwo__active-w .c-pega-wwo__content-w & {
      @include bolt-transition--fade-in($active: true);
    }
    .c-pega-wwo__active-wo .c-pega-wwo__content-wo & {
      @include bolt-transition--fade-in($active: true);
    }

    @include bolt-mq($from: large) {
      display: block;
      position: absolute;
      width: $pega-wwo--sm-circle-size;
      height: $pega-wwo--sm-circle-size;
      border-radius: 50%;
      background-color: bolt-color(white);
    }

    &-lit {
      z-index: 1;
      width: $pega-wwo--sm-circle-size;
      height: $pega-wwo--sm-circle-size;
      background-color: bolt-color(yellow, light);


      &:before {
        content: '';
        opacity: .3;
        position: absolute;
        top: -10px;
        left: -10px;
        width: $pega-wwo--sm-circle-size + 20px;
        height: $pega-wwo--sm-circle-size + 20px;
        border-radius: 50%;
        background-color: bolt-color(yellow, light);
        @include bolt-animation--pulse($base: true, $duration: $bolt-duration--xslow, $active: true);
      }
    }

    &-mobile--wrapper {
      flex: 0 0 15px;
      margin-right: 1rem;
    }

    &-mobile {
      display: block;
      position: relative;
      top: $pega-wwo--sm-circle-top-margin--mobile;
      left: (-$pega-wwo--sm-circle-size / 2) + 1.5px;
      width: $pega-wwo--sm-circle-size;
      height: $pega-wwo--sm-circle-size;
      margin-right: 2px;
      border-radius: 50%;
      background-color: bolt-color(white);
      transition: background-color 1000ms linear;

      &.c-pega-wwo__sm-circle-outlined {
        left: (-$pega-wwo--sm-circle-size / 2) - .5px;
      }

      .c-pega-wwo__block-expanded & {
        right: 0;
        width: $pega-wwo--sm-circle-size + 1px;
        height: $pega-wwo--sm-circle-size + 1px;
        margin-right: 0;
        border: 1px bolt-color(white) solid;
        background-color: bolt-color(yellow, light);

        &:before {
          content: '';
          opacity: .3;
          position: absolute;
          top: -$pega-wwo--sm-circle-size;
          left: -$pega-wwo--sm-circle-size;
          width: $pega-wwo--sm-circle-size + 20px;
          height: $pega-wwo--sm-circle-size + 20px;
          border-radius: 50%;
          background-color: bolt-color(yellow, light);
          @include bolt-animation--pulse($base: true, $duration: $bolt-duration--xslow, $active: true);
        }
      }

      @include bolt-mq($from: xlarge) {
        display: none;
      }
    }

    &-outlined {
      width: 15px;
      height: 15px;
      margin-right: 0;
      border: 3px solid bolt-color(white);
      background-color: bolt-color(black);
    }

    &-wo-1 {
      top: 9%;
      left: 19%;
    }

    &-wo-2 {
      top: 58%;
      left: 0%;
    }

    &-wo-3 {
      top: 96%;
      left: 33%;
    }

    &-w-1 {
      top: 12%;
      left: 16%;
    }

    &-w-2 {
      top: 45%;
      left: -.5%;
    }

    &-w-3 {
      top: 89.4%;
      left: 20%;
    }

    &-w-4 {
      top: 95%;
      left: 68%;
    }
  }

  &__content-wrapper {
  }

  &__block {
    margin-bottom: $pega-wwo--block-bottom-margin;

    @include bolt-mq($from: xlarge) {
      width: calc(#{$pega-wwo--block-width-basis} + 100px);
    }

    &-title {
      display: inline-block;

      @include bolt-mq($from: xlarge) {
        display: block;
      }
    }

    &-body {
      margin-bottom: .5rem;
      font-size: 13px;

      @include bolt-mq($from: xlarge) {
        font-size: 12px;
      }

      @include bolt-mq($from: xxlarge) {
        font-size: 13px;
      }
    }

    &-ul {
      margin-bottom: 0;
      margin-left: 1rem;
    }

    &-li {
      line-height: 1.65;
    }

    &-number-label {
      font-size: 13px;
    }

    &-numbers-wrapper {
      display: flex;
    }

    &-number-wrapper {
      flex: 1 1 50%;
    }

    &-number {
      font-size: 30px;
      font-weight: 800;
    }

    &-number-label {

    }

    &-action {
      &-link {
        font-weight: 600;
      }
    }

    &-button {
      display: inline-block;
      &-learn {
        margin-right: bolt-spacing(small);
      }
    }

    &-block-credit-wo {
      @include bolt-mq($from: xlarge) {
        position: absolute;
        top: 0;
        left: 10%;
        width: calc(#{$pega-wwo--block-width-basis} + 110px);
        padding-top: 14.21%;
      }
    }

    &-block-frustration-wo {
      @include bolt-mq($from: xlarge) {
        top: 0;
        left: 10%;
        width: calc(#{$pega-wwo--block-width-basis} + 110px);
        padding-top: 33.75%;
      }
    }
    &-block-business-wo {
      @include bolt-mq($from: xlarge) {
        top: 0;
        left: 29%;
        width: calc(#{$pega-wwo--block-width-basis} + 70px);
        padding-top: 48.8%;
      }
    }
    // Result region blocks
    &-block-outcome-customer-wo {
      margin-right: bolt-spacing(small);
    }

    &-block-outcome-business-wo {
    }

    &-block-conversion-w {
      display: block;
      flex: 1 0 100%;

      .c-pega-wwo__block-body {
        margin-bottom: bolt-spacing(small);

        @include bolt-mq($from: xlarge) {
          margin-bottom: 0;
        }

        @include bolt-mq($from: xxlarge) {
          margin-bottom: bolt-spacing(small);
        }

      }
    }

    &-block-credit-w {
      @include bolt-mq($from: xlarge) {
        top: 0;
        left: 9%;
        padding-top: 13%;
      }
    }
    &-block-signals-w {
      .c-pega-wwo__block-title {
        color: bolt-color(yellow);

        @include bolt-mq($from: xlarge) {
          white-space: nowrap;
        }

        @include bolt-mq($from: xlarge) {
          white-space: normal;
        }
      }

      @include bolt-mq($from: xlarge) {
        top: 0;
        left: 1.5%;
        width: calc(#{$pega-wwo--block-width-basis} + 130px);
        padding-top: 24%;
      }

      @include bolt-mq($from: xxlarge) {
        top: 0;
        left: 4.3%;
        width: calc(#{$pega-wwo--block-width-basis} + 110px);
      }
    }

    &-block-respond-w {
      @include bolt-mq($from: xlarge) {
        display: block;
        top: 0;
        left: 7%;
        width: calc(#{$pega-wwo--block-width-basis} + 170px);
        padding-top: 41.75%;
      }

      .c-pega-wwo__block-title {
        color: bolt-color(yellow);
      }
    }

    &-block-relationship-w {
      @include bolt-mq($from: xlarge) {
        top: 0;
        left: 39%;
        width: calc(#{$pega-wwo--block-width-basis} + 200px);
        padding-top: 46.1%;
      }
    }
  }
  &__icon {

    &-open-book {
      width: 50px;
    }

    &-eye {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;
    }
  }
  &__arrow {
    position: relative;
    top: .05em;
  }

  &__region {
    &-blocks {
      position: relative;
      padding-left: bolt-spacing(medium);

      @include bolt-mq($from: xlarge) {
        position: static;
        padding: 0;
      }

      .c-pega-wwo__block {
        display: flex;
        flex-wrap: nowrap;

        @include bolt-mq($from: xlarge) {
          display: block;
        }
      }

      .c-pega-wwo__block-title {
        display: inline-block;

        @include bolt-mq($from: xlarge) {
          display: block;
        }
      }

      .c-pega-wwo__icon {
        display: inline-block;
        margin-right: bolt-spacing(xsmall);
        //margin-left: bolt-spacing(medium);

        @include bolt-mq($from: xlarge) {
          display: block;
          //margin-left: 0;
        }
      }

      &-line-wrapper {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: $pega-wwo--sm-circle-top-margin--mobile;
        left: 0;
        width: 2px;
        height: calc(calc(calc(100% + #{$pega-wwo--block-bottom-margin}) - #{$pega-wwo--sm-circle-top-margin--mobile}) + #{$pega-wwo--sm-circle-size / 2});
        --bolt-animate--slide-up-max-height: 80px;
      }

      &-line {
        height: 100%;
        border-left: 2px dashed bolt-color(white);

        @include bolt-mq($from: xlarge) {
          display: none;
        }
      }

      .c-pega-wwo__block {
        position: relative;

        @include bolt-mq($from: xlarge) {
          position: absolute;
        }

        .c-pega-wwo__block-title,
        .c-pega-wwo__icon {
          &:hover {
            cursor: pointer;
            @include bolt-mq($from: xlarge) {
              cursor: auto;
            }
          }
        }

        .c-pega-wwo__block-contents {
          display: block;
          overflow: hidden;

          &[meta-stage="INITIAL"] {
            max-height: 0;
          }
          @include bolt-mq($from: xlarge) {
            max-height: unset;
            overflow: visible;
          }
        }

        &.c-pega-wwo__block-expanded .c-pega-wwo__block-contents {
        }
      }
    }
    &-result {
      $pega-wwo--result-left-pos: 63%;
      max-width: $pega-wwo--content-max-mobile-width;
      padding: 0 bolt-spacing(medium);

      @include bolt-mq($from: xlarge) {
        position: absolute;
        top: 0;
        left: $pega-wwo--result-left-pos;
        min-width: 350px;
        max-width: 29%;
        padding-top: 15%;
        padding-right: 0;
        padding-left: 0;
      }

      @include bolt-mq($from: xlarge) {
        padding-top: 18.5%;
      }

      @include bolt-mq($from: xxxlarge) {
        padding-top: 27%;
      }
    }
  }
  &__result {
    &-label {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: .85rem;

      &-wo {
        color: bolt-color(teal);
      }

      &-w {
        color: bolt-color(yellow);
      }
    }

    &-title {
      line-height: 1.05;
      font-size: 2.15rem;
    }

    &-blocks {
      display: flex;
      flex-wrap: wrap;
      margin-top: bolt-spacing(medium);

      @include bolt-mq(xxxlarge) {
        margin-top: bolt-spacing(large);
      }

      .c-pega-wwo__block {
        flex: 1 1 auto;
      }

      .c-pega-wwo__block-block-conversion-w {
        flex: 1 0 100%;

        @include bolt-mq(xxlarge) {
          margin-top: bolt-spacing(small);
        }

        .c-pega-wwo__block-body {
          margin-bottom: bolt-spacing(small);
          @include bolt-mq($from: xlarge) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__wo {

  }
  &__w {

  }
}
