{% import _self as blockquote_demo %}

{% set blockquote_demo_simple %}
<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/images/placeholders/500x500.jpg">
  <p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>
</bolt-blockquote>
{% endset %}

{% set blockquote_demo_attributes %}
<bolt-blockquote align-items="center" border="horizontal" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/images/placeholders/500x500.jpg">
  <p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>
</bolt-blockquote>
{% endset %}

{% set blockquote_demo_logo %}
<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/images/placeholders/500x500.jpg">
  <img slot="logo" src="/images/content/logos/logo-paypal.svg" alt="PayPal Logo">
  <p>The greater danger for most of us lies not in setting our aim too high and falling short...</p>
  <p>In fact, the greater danger is setting our aim too low and achieving our mark.</p>
</bolt-blockquote>
{% endset %}

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Link is a web component that renders a semantic blockquote with Bolt styles. For a simple blockquote, wrap your quote content in the <code>&lt;bolt-blockquote&gt;</code> custom element. Note: you must wrap your quote text in <code>&lt;p&gt;</code> tags for the appropriate quotation marks to appear. Add attribution to the quote by adding the <code>author-name</code>, <code>author-title</code>, and <code>author-image</code> attributes to <code>&lt;bolt-blockquote&gt;</code>. 
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_simple }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: blockquote_demo_simple,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Additional Options
  </bolt-text>
  <bolt-text>
    Apply additional configuration options via attributes on the <code>&lt;bolt-blockquote&gt;</code> element. Attribute names and values match the Twig schema but use "kebab-case" instead of "camelCase". For example, <code>alignItems</code> becomes <code>align-items</code>.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_attributes }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: blockquote_demo_attributes,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Advanced Usage
  </bolt-text>
  <bolt-text>
    To add a logo to <code>&lt;bolt-blockquote&gt;</code> place logo content (for example: <code>&lt;bolt-logo&gt;</code> or <code>&lt;img&gt;</code>) next to blockquote text, and add the attribute <code>slot="logo"</code> to the logo's outermost container.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_logo }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: blockquote_demo_logo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>
