/* ------------------------------------ *\
   Button settings and tools
\* ------------------------------------ */

/**
 * Settings
 */

$bolt-tabs-bg-border-radius: $bolt-border-radius;
$bolt-tabs-bg-transition-timing: $bolt-transition-timing * 4;

$bolt-tabs-text-transition: $bolt-transition;

$bolt-selected-tab-border-size: 4px;
$bolt-selected-tab-border-transition-ease: ease;
$bolt-selected-tab-border-transition-timing: $bolt-transition-timing / 2;
