<div class="c-academy-horizontal-divider">
  <div class="c-academy-horizontal-divider__border"></div>
  {% if dividerText %}
    <div class="c-academy-horizontal-divider__text">{{ dividerText }}</div>
  {% endif %}
  <div class="c-academy-horizontal-divider__border"></div>
</div>