{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell "u-bolt-width-12/12" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
      {{ code | replace({
        '<': '&lt;',
        '>': '&gt;',
      }) | trim | raw }}
    {% endspaceless %}</bolt-code-snippet>
  </div>
{% endmacro %}

{% import _self as banner_example %}

{% set banner_demo %}
<bolt-banner>
  This is a banner
</bolt-banner>
{% endset %}

{% set banner_prop_demo %}
<bolt-banner status="success" align="start">
  You passed this challenge on <strong>May 21, 2020</strong>. <bolt-link url="https://pega.com">View Details</bolt-link>
</bolt-banner>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Banner is a web component, you can simply use <bolt-code-snippet display="inline" lang="html">&lt;bolt-banner&gt;</bolt-code-snippet> in the markup to make it render.
</bolt-text>
{% include banner_example.code_example(banner_demo) %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the banner with the properties specified in the schema.
</bolt-text>
{% include banner_example.code_example(banner_prop_demo) %}
