{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell "u-bolt-width-12/12" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as banner_example %}

{% set banner_demo %}
<bolt-banner>
  This is a banner
</bolt-banner>
{% endset %}

{% set banner_prop_demo %}
<bolt-banner status="success" align="start">
  You passed this challenge on <strong>May 21, 2020</strong>. <a href="https://pega.com" class="e-bolt-text-link">View Details</a>
</bolt-banner>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt Banner is a web component, you can simply use <code>&lt;bolt-banner&gt;</code> in the markup to make it render.
</bolt-text>
{% include banner_example.code_example(banner_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: banner_demo,
  lang: 'html',
  mode: 'dark',
} only %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the banner with the properties specified in the schema.
</bolt-text>
{% include banner_example.code_example(banner_prop_demo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: banner_prop_demo,
  lang: 'html',
  mode: 'dark',
} only %}
