/* ==========================================================================
   #BUTTON-COLOR
   ========================================================================== */

/** Generate different background and border color button interaction states based on the primary color passed in **/
// @import '~@bolt/setting-module-manager';
@import 'node_modules/@bolt/tools-text-contrast/index.scss';
// @import '../tools-font-size/package.json';
// @import 'node_modules/sassy-maps/sass/sassy-maps';

//   
// @include add-module(
//   $module-name: $name,
//   $module-version: $version,
//   $module-dependencies: (
//     'setting-modular-scale': '0.1.0-alpha.1',
//     'tool-strip-unit': '0.1.0-alpha.1'
//   )
// );
// 
// 
// @include add-module(
//   $name:    'tools.button-color',
//   $version: '1.0.0',
//   $dependencies: (
//     'settings.colors':        '1.0.0',
//     'tools.color-palette':    '1.0.0',
//     'tools.text-contrast':    '1.0.0'
//   )
// );

@mixin button-color($color) {
  color: text-contrast($color);
  background-color: $color;
  border-color: mix(black, $color, 25%);

  &:hover {
    color: text-contrast($color);
    background-color: mix(black, $color, 15%);
    border-color: mix(black, $color, 40%);
  }

  &:focus,
  &:active {
    color: text-contrast($color);
    background-color: mix(black, $color, 30%);
    border-color: mix(black, $color, 55%);
  }
}
