////
/// @group Settings: Global
/// @author Mike Mai
////


/* ------------------------------------ *\
   Global Settings
\* ------------------------------------ */

// Async font loading classes.
$bolt-fonts--subset-loaded-class: 'js-fonts-subset-loaded' !default;
$bolt-fonts--loaded-class: 'js-fonts-loaded' !default;


/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */

/// Bolt's definition of block level elements.
$bolt-block-elements-list: 'p',
  'pre',
  'blockquote',
  'table',
  'ol',
  'ul',
  'dl',
  'fieldset',
  'legend',
  'details',
  'summary',
  'hr',
  'address';

$bolt-unquoted-block-elements-list: ();

@each $bolt-block-element-type in $bolt-block-elements-list {
  $bolt-unquoted-block-elements-list: append($bolt-unquoted-block-elements-list, unquote($bolt-block-element-type), comma) !global;
}

$bolt-all-block-elements: $bolt-unquoted-block-elements-list;

/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */

/// Bolt's definition of heading elements.
$bolt-heading-elements-list: 'h1',
  'h2',
  'h3',
  'h4',
  'h5',
  'h6';

$bolt-unquoted-heading-elements-list: ();

@each $bolt-heading-element-type in $bolt-heading-elements-list {
  $bolt-unquoted-heading-elements-list: append($bolt-unquoted-heading-elements-list, unquote($bolt-heading-element-type), comma) !global;
}

$bolt-all-heading-elements: $bolt-unquoted-heading-elements-list;
