.event-sponsors-proof-of-concept {
  .c-partner-card {
    @include bolt-padding(medium, stretched);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: color 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
      width: 100%;
    }

    > * {
      @include bolt-margin(0 auto small auto);
      @include bolt-font-size(xsmall);
      @include bolt-font-weight(bold);

      max-width: 160px;
      position: relative;
      text-align: center;
      width: 100%;

      &:last-child {
        @include bolt-margin-bottom(0);
      }
    }
  }

  .c-partner-card__logo {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 1.5rem;

    @include bolt-mq(small) {
      height: 74px;
    }

    img {
      height: auto;
      max-height: 50px;
      max-width: 160px;
      width: auto;

      @include bolt-mq(small) {
        max-height: 74px;
      }
    }
  }
}
