@import '@bolt/core';

.bolt-self-drawing-circle {
  display: inline-block;
  width: 100%;
  max-height: 502px;
  max-width: 502px;

  &.rotate {
    animation: 10000ms linear infinite spin;
  }
}

.bolt-self-drawing-circle-outline {
  fill: transparent;
  stroke: bolt-color(white);
  stroke-width: 1;
  transform: rotate(70deg) scaleX(-1);
}

@keyframes spin {
 100% {
   transform: rotateZ(-360deg); 
  }
}