.c-bolt-svg-animations {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.c-bolt-svg-animations__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
