/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */

$bolt-color-default: 'base';

$bolt-colors: bolt-data('colors');
$bolt-status-colors: bolt-data('status-colors');
$bolt-brand-colors: bolt-data('brand-colors');
$bolt-social-colors: bolt-data('social-colors');


@include export-data('colors/all.bolt.json', $bolt-colors);
@include export-data('colors/status.bolt.json', $bolt-status-colors);
@include export-data('colors/brand.bolt.json', $bolt-brand-colors);
@include export-data('colors/social.bolt.json', $bolt-social-colors);
