/* ==========================================================================
   #FONT-WEIGHT
   ========================================================================== */
// @import '../tools-font-weight/package.json';
// @import '~@bolt/setting-module-manager';
//   
// @include add-module(
//   $module-name: $name,
//   $module-version: $version,
//   $module-dependencies: ()
// );

@mixin font-weight($font-weight) {
  @if ($font-weight == 'light') {
    font-weight: 300;
  }

  @if ($font-weight == 'book' or $font-weight == 'normal' or $font-weight == 'regular' or $font-weight == '400') {
    font-weight: 400;
  }

  @if ($font-weight == 'medium' or $font-weight == '500') {
    font-weight: 500;
  }

  @if ($font-weight == 'semibold' or $font-weight == '600') {
    font-weight: 600;
  }

  @if ($font-weight == 'bold' or $font-weight == '700') {
    font-weight: 700;
  }
}
