/*------------------------------------*\
  Text Rendering
\*------------------------------------*/


@mixin kerning {
  font-feature-settings: "kern";
  font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
}

@mixin border-box {
  box-sizing: border-box;
}
