/* ------------------------------------ *\
   Card Actions
\* ------------------------------------ */

@import '@bolt/core';
@import '../_card-settings-and-tools.scss';

bolt-card-actions {
  @include bolt-card-border-reset;
  overflow: visisble; // needed for border-top style
}

.c-bolt-card__actions {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: $bolt-card-individual-link-z-index;
  width: 100%;
}

.c-bolt-card__action {
  // bolt-card-action {
    flex: 1;

    // [Mai] When there are 2 actions, the text is likely to be short, that's a situation where it would benefit from text not wrapping to another line. Instead, if it runs out of room, the actions stack on top of each other.
    &:not(:only-child) {
      white-space: nowrap;
    }
  }

  .c-bolt-card__action {
    @include bolt-card-border-reset;

    display: block;
    position: relative;
    top: $bolt-card-border-width * -1;
    border-top-width: $bolt-card-border-width;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: $bolt-card-border-width * -1;
      width: $bolt-card-border-width;
      height: calc(100% + #{$bolt-card-border-width});
      background-color: $bolt-card-border-color;
    }

    > * {
      height: 100%;
    }
  }
