/* ------------------------------------ *\
   Card Actions
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-settings-and-tools.scss';

bolt-card-actions {
  @include bolt-card-border-reset;
}

.c-bolt-card__actions {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: $bolt-card-individual-link-z-index;
  width: 100%;
}
