@import '@bolt/core';

$bolt-logo-max-width: bolt-spacing(xlarge);

bolt-logo {
  display: block; // to force break to new line by default
  max-width: $bolt-logo-max-width;

  &:not(:last-child) {
    @include bolt-margin-bottom(small);
  }
}

.c-bolt-logo--invert {
  filter: var(--bolt-theme-contrast-filter);
}
