////
/// @group Settings: Layout
////

/* ------------------------------------ *\
   Z-index Settings
\* ------------------------------------ */

/// Z-Index Settings
/// @type Map
/// @see {mixin} bolt-z-index
/// @see bolt-z-index
$_bolt-z-indexes:
  content-low,
  content,
  content-high,
  nav,
  overlay,
  floating-low,
  floating,
  floating-high,
  modal-overlay,
  modal
;

@function _bolt-assign-z-indexes($list) {
  $assigned-z-indexes: ();

  @each $name in $list {
    $assigned-z-indexes: map-merge($assigned-z-indexes, (#{$name}: index($list, $name) * 5));
  }

  @return $assigned-z-indexes;
}

$bolt-z-indexes: _bolt-assign-z-indexes($_bolt-z-indexes);

@include export-data('z-indexes.bolt.json', $bolt-z-indexes);


// @todo @deprecated: Remove this map in the next major release.
$bolt-deprecated-z-indexes: (
  modalBG: (),
  navFixed: (),
  popover: (),
  tooltip: (),
  contentTop: (),
  contentBottom: (),
  backgroundTop: (),
  background: (),
  backgroundBottom: (),
);
