////
/// @group Settings: Layout
////

/* ------------------------------------ *\
  see `_tools-z-index.scss`
  see `_utilities-z-index.scss`
\* ------------------------------------ */

/// Z-Index Settings
/// @type Map
/// @see {mixin} bolt-z-index
/// @see bolt-z-index
$bolt-z-indexes: (
  tooltip: (),
  nav: (),
  overlay: (),
  fab: (),
  toast: (),
  modal-overlay: (),
  modal: (),
);

@include export-data('z-indexes.bolt.json', $bolt-z-indexes);
