<bolt-tile rounded>
	<bolt-image src="/images/placeholders/landscape-16x9-mountains.jpg" srcset="/images/placeholders/landscape-16x9-mountains-50.jpg 50w, /images/placeholders/landscape-16x9-mountains-100.jpg 100w, /images/placeholders/landscape-16x9-mountains-200.jpg 200w, /images/placeholders/landscape-16x9-mountains-320.jpg 320w, /images/placeholders/landscape-16x9-mountains-480.jpg 480w, /images/placeholders/landscape-16x9-mountains-640.jpg 640w, /images/placeholders/landscape-16x9-mountains-800.jpg 800w, /images/placeholders/landscape-16x9-mountains-1024.jpg 1024w" alt="Image alt." sizes="auto" ratio="1151/638" placeholder-color="hsl(233, 33%, 97%)" placeholder-image="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-color: hsl(233, 33%, 97%);" slot="media"></bolt-image>

	<p slot="body">Test Content</p>

	{# <bolt-button color="text" slot="footer">Test Button</bolt-button> #}
</bolt-tile>
