<div style="height: 400px; position: relative;" class="t-bolt-black">
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        alt: 'Alt text.',
        loading: 'lazy',
        src: '/images/placeholders/backgrounds/background-light-tall.jpg',
        width: 3840,
        height: 2160,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-background/background.twig' with {
    fill: 'gradient',
    items: [
      image
    ]
} only %}

</div>
