<div style="height: 400px; position: relative;">
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        alt: 'Alt text.',
        loading: 'lazy',
        src: '/images/content/backgrounds/background-tall-4.jpg',
        width: 3840,
        height: 2160,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-background/background.twig' with {
    items: [
      image
    ]
} only %}

</div>
