{% set schema = bolt.data.components['@bolt-components-background'].schema %}

{% for opacity in schema.properties.opacity.enum %}
<p>Opacity: {{ opacity|capitalize }}</p>
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: '/images/placeholders/backgrounds/background-light-tall.jpg',
        srcset: '/images/placeholders/backgrounds/background-light-tall-640.jpg 640w, /images/placeholders/backgrounds/background-light-tall-1024.jpg 1024w, /images/placeholders/backgrounds/background-light-tall-1920.jpg 1920w',
        width: 4320,
        height: 2880
      },
    } only %}
  {% endset %}
{% include './_00-background-band-demo.twig' with {
  background: {
    opacity: opacity,
    focal_point: {
      vertical: 'center',
      horizontal: 'center'
    },
    items: [
      image
    ]
  }
} %}
{% endfor %}
