{% set schema = bolt.data.components['@bolt-components-background'].schema %}

{% for horz in schema.properties.focal_point.properties.horizontal.enum if horz != 'center' %}{# @todo: bolt background currently only reverses gradient on horz = 'left' #}
  <p>Heavy Opacity with {{  horz|capitalize }} Focal Point</p>
  {% include './_00-background-band-demo.twig' with {
    background: {
      opacity: 'heavy',
      fill: 'gradient',
      focal_point: {
        vertical: 'center',
        horizontal: horz
      },
      content_items: [
        {
          pattern: 'image',
          src: '/images/content/backgrounds/background-tall-4.jpg',
          srcset: '/images/content/backgrounds/background-tall-4-50.jpg 50w, /images/content/backgrounds/background-tall-4-100.jpg 100w, /images/content/backgrounds/background-tall-4-200.jpg 200w, /images/content/backgrounds/background-tall-4-320.jpg 320w, /images/content/backgrounds/background-tall-4-480.jpg 480w, /images/content/backgrounds/background-tall-4-640.jpg 640w, /images/content/backgrounds/background-tall-4-800.jpg 800w, /images/content/backgrounds/background-tall-4-1024.jpg 1024w, /images/content/backgrounds/background-tall-4-1366.jpg 1366w, /images/content/backgrounds/background-tall-4-1536.jpg 1536w, /images/content/backgrounds/background-tall-4-1920.jpg 1920w, /images/content/backgrounds/background-tall-4-2560.jpg 2560w, /images/content/backgrounds/background-tall-4-2880.jpg 2880w, /images/content/backgrounds/background-tall-4.jpg 3840w',
          width: 3840,
          height: 2160
        }
      ]
    },
    teaserPosition: horz == 'left' ?? 'right'
  } %}
{% endfor %}
