<p>Background Shapes: Shape Group A</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'A'
  }
} %}

<p>Background Shapes: Shape Group B</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'B'
  }
} %}

<p>Background Shapes: Shape Group A, Alignment Left</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'A',
    shape_alignment: 'left'
  },
  teaserPosition: 'right'
} %}
