<bolt-banner status="warning" align="start">
  <bolt-text>Warning! <code>shape_group</code> and <code>shape_alignemnt</code> props are deprecated and are no longer supported. Please don't use them.</bolt-text>
</bolt-banner>

<p>Background Shapes: Shape Group A</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'A'
  }
} %}

<p>Background Shapes: Shape Group B</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'B'
  }
} %}

<p>Background Shapes: Shape Group A, Alignment Left</p>
{% include './_00-background-band-demo.twig' with {
  background: {
    shape_group: 'A',
    shape_alignment: 'left'
  },
  teaserPosition: 'right'
} %}
