<p>
  <mark>Note: <code>alignment</code> of an image can be achieved by <a href="{{ link['elements-image-use-case-background-fit-and-position'] }}" class="e-bolt-text-link">passing inline styles to the Image element's attributes objects</a>. Then you can pass the Image element to the Background component via <code>items</code>.</mark>
</p>

{% for valign in ['center', 'top', 'bottom', '25%'] %}
  <p>valign: {{ valign }}</p>
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: '/images/placeholders/backgrounds/background-light-tall.jpg',
        srcset: '/images/placeholders/backgrounds/background-light-tall-640.jpg 640w, /images/placeholders/backgrounds/background-light-tall-1024.jpg 1024w, /images/placeholders/backgrounds/background-light-tall-1920.jpg 1920w',
        width: 4320,
        height: 2880,
        style: '--e-bolt-image-position: center ' ~ valign ~';',
      },
    } only %}
  {% endset %}
  {% include './_00-background-band-demo.twig' with {
    background: {
      opacity: 'medium',
      items: [
        image
      ]
    }
  } only %}
{% endfor %}
