{% set notes %}
  <bolt-ol>
    <bolt-li>Set <code>video</code> boolean prop to <code>true</code> when you want to render a background video.</bolt-li>
    <bolt-li>Consider this video as decoration and not content (limit elements like words, prominant faces, or brand marks from the video), expect it to be cropped at some point.</bolt-li>
    <bolt-li>By design, the background video will disappear when the device witdth is below 800px (this is for visible stablity on smaller screens).</bolt-li>
    <bolt-li>The background video should be nested inside the Ratio Element, refer to the <a href="{{ link['viewall-elements-ratio'] }}" class="e-bolt-text-link">Ratio Element</a> docs for more information.</bolt-li>
    <bolt-li>Provide a poster background image as a fallback. This will be displayed when the video is being loaded and smaller screen sizes, refer to the <a href="{{ link['elements-image-background'] }}" class="e-bolt-text-link">Background Image Element</a> docs for more information.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set background_video %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/landscape-16x9-mountains.jpg',
        background: true,
        loading: 'lazy',
      }
    } only %}
    {% set video %}
      <video-js
        data-account="1900410236"
        data-player="O3FkeBiaDz"
        data-embed="default"
        data-video-id="5999324539001"
        autoplay loop muted loop
        class="c-base-video"></video-js>
    {% endset %}
    {% include '@bolt-elements-ratio/ratio.twig' with {
      content: video,
      ratio: 'wide'
    } only %}
  {% endset %}
  <div class="t-bolt-navy">
    {% include './_00-background-band-demo.twig' with {
      background: {
        fill: 'solid',
        video: true,
        opacity: 'heavy',
        items: [
          background_video,
        ]
      }
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set background_video %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/landscape-16x9-mountains.jpg',
      background: true,
      loading: 'lazy',
    }
  } only %}
  {% set video %}
    <video-js
      data-account="1900410236"
      data-player="O3FkeBiaDz"
      data-embed="default"
      data-video-id="5999324539001"
      autoplay loop muted loop
      class="c-base-video"></video-js>
  {% endset %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video,
    ratio: 'wide'
  } only %}
{% endset %}
{% include './_00-background-band-demo.twig' with {
  background: {
    fill: 'solid',
    video: true,
    opacity: 'heavy',
    items: [
      background_video,
    ]
  }
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Background Video',
  description: 'Background Video should be used only for decorative purposes.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
