@import '@bolt/core';

@include bolt-custom-element('bolt-placeholder', block, medium);

.c-bolt-placeholder {
  display: block;
  overflow: hidden;
  color: bolt-color(gray);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0.08px bolt-color(gray, light);
  background-color: bolt-color(gray, light);
}

.c-bolt-placeholder__content {
  display: block; // Needed so custom elements take up the correct space
}


// Size Options
.c-bolt-placeholder__content--xsmall {
  @include bolt-padding(xsmall);
}

.c-bolt-placeholder__content--small {
  @include bolt-padding(small);
}

.c-bolt-placeholder__content--medium {
  @include bolt-padding(medium);
}

.c-bolt-placeholder__content--large {
  @include bolt-padding(large);
}

.c-bolt-placeholder__content--xlarge {
  @include bolt-padding(xlarge);
}




// Wrapper layer - created the dashed line treatment
.c-bolt-placeholder__wrapper {
  display: block; // Needed so custom elements take up the correct space
  position:relative;
  overflow:hidden;
}


.c-bolt-placeholder__wrapper-x,
.c-bolt-placeholder__wrapper-y {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


.c-bolt-placeholder__wrapper-x:before,
.c-bolt-placeholder__wrapper-x:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to top, bolt-color(gray) 70%, rgba(bolt-color(black), 0) 0%);
  background-position: bottom;
  background-repeat: repeat-y;
  background-size: 2px 11px;
}

.c-bolt-placeholder__wrapper-x:after {
  left: 0;
}

.c-bolt-placeholder__wrapper-x:before {
  right: 0;
}

.c-bolt-placeholder__wrapper-y:before,
.c-bolt-placeholder__wrapper-y:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, bolt-color(gray) 71%, rgba(bolt-color(black), 0) 0%);
  background-repeat: repeat-x;
  background-size: 11px 2px;
}

.c-bolt-placeholder__wrapper-y:before {
  bottom: 0;
  background-position: bottom;
}

.c-bolt-placeholder__wrapper-y:after {
  top: 0;
  background-position: top;
}


@keyframes move-top {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10px 0px;
  }
}

@keyframes move-bottom {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10px 0px;
  }
}

@keyframes move-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px -10px;
  }
}

@keyframes move-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 10px;
  }
}


.c-bolt-placeholder__wrapper--animated {
  .c-bolt-placeholder__wrapper-x {
    &:after {
      animation: move-left 1s linear infinite;
    }
    &:before {
      animation: move-right 1s linear infinite;
    }
    &:after,
    &:before {
      background-image: linear-gradient(to top, bolt-color(gray) 70%, rgba(bolt-color(black), 0) 0%);
    }
  }

  .c-bolt-placeholder__wrapper-y {
    &:after {
      animation: move-top 1s linear infinite;
    }
    &:before {
      animation: move-bottom 1s linear infinite;
    }
    &:after,
    &:before {
      background-image: linear-gradient(to right, bolt-color(gray) 70%, rgba(bolt-color(black), 0) 0%);
    }
  }
}


