<p>
  This video has <code>showMeta</code> set to <code>true</code> and <code>showMetaTitle</code> set to <code>true</code>.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "5844312574001",
  "accountId": "1519050010001",
  "playerId": "B1FfPJTix",
  "showMeta": true,
  "showMetaTitle": true
} only %}
