{% set themes = ['dark', 'light'] %}
{% extends '@pl/_share-variables.twig' %}
{% block content %}

{% set description %}
  Share can be used in various themes.
{% endset %}

{% set demo %}
  {% for theme in themes %}
    {% embed '@utils/theme-demo.twig' %}
      {% block demo_content %}
        {% include '@bolt-components-share/share.twig' with {
          sources: demo_sources,
          copy_to_clipboard: demo_copy_to_clipboard,
        } only %}
      {% endblock %}
    {% endembed %}
  {% endfor %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
<div class="t-bolt-dark">
  // Put the component inside a themed container
  {% include '@bolt-components-share/share.twig' with {
    sources: var_foo,
    copy_to_clipboard: var_bar,
  } only %}
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Theme compatibility',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
} only %}

{% endblock %}
