<p>
  This is an example of a Brightcove video with a custom error message displayed.
</p>

{% include '@bolt/video.twig' with {
  'videoId': '3974147489001dasasddasdsa',
  'accountId': '1900410236',
  'playerId': 'r1CAdLzTW',
  'showMeta': true,
  'showMetaTitle': true,
  'errorMessage': 'This is a error message override that is coming through the schema and can be a method to translating this data.'
} only %}
