/* ------------------------------------ *\
   Responsive Table
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-responsive-table', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-responsive-table {
  // Styles go here. /* [1] */
  display: inline-block;
  max-width: 100%;
  @include bolt-horizontal-scroll;
  max-height: 75vh;
  box-shadow: 0 0 0px 1px var(--m-bolt-disabled);
  background-color: var(--m-bolt-disabled);

  &.c-bolt-responsive-table--borderless {
    box-shadow: none;
  }
}

.c-bolt-reponsive-table__head .c-bolt-responsive-table__cell,
.c-bolt-responsive-table__header {
  background-color: var(--m-bolt-table-header);
}

.c-bolt-responsive-table__table {
  .c-bolt-responsive-table--borderless & {
    border-spacing: 0;
  }
}

.c-bolt-responsive-table__head {
  .c-bolt-responsive-table__cell--empty {
    width: 1%;
    white-space: nowrap;
    background-color: var(--m-bolt-table-header);
  }
}

.c-bolt-responsive-table__head {
  .c-bolt-responsive-table__header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 0px 1px var(--m-bolt-disabled);

    .c-bolt-responsive-table--borderless & {
      box-shadow: none;
    }

    @media print {
      position: static;
      top: unset;
      z-index: auto;
    }
  }
}

.c-bolt-responsive-table__body,
.c-bolt-responsive-table__footer {
  .c-bolt-responsive-table__header {
    position: sticky;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 0px 1px var(--m-bolt-disabled);

    .c-bolt-responsive-table--borderless & {
      box-shadow: none;
    }

    @media print {
      position: static;
      top: unset;
      z-index: auto;
    }
  }
}

.c-bolt-responsive-table__row {
  position: relative;
}

.c-bolt-responsive-table__cell {
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-regular);
  color: var(--m-bolt-text);
  line-height: var(--bolt-type-line-height-small);
  background-color: var(--m-bolt-bg);
}

.c-bolt-responsive-table__header,
.c-bolt-responsive-table__cell {
  position: relative;
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
}

.c-bolt-responsive-table__footer {
  .c-bolt-responsive-table__header,
  .c-bolt-responsive-table__cell {
    font-weight: var(--bolt-type-font-weight-bold);
  }
}

.c-bolt-responsive-table__caption {
  padding: var(--bolt-spacing-y-small);
  font-size: var(--bolt-type-font-size-xsmall);
  line-height: var(--bolt-type-line-height-xsmall);
  text-align: left;
  background-color: var(--m-bolt-disabled);
  caption-side: bottom;
}

.c-bolt-responsive-table__body,
.c-bolt-responsive-table__footer {
  .c-bolt-responsive-table__row {
    &:hover {
      .c-bolt-responsive-table__header,
      .c-bolt-responsive-table__cell {
        background-color: var(--m-bolt-disabled);
      }
    }
  }
}

.c-bolt-responsive-table__input {
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.c-bolt-responsive-table__checkbox {
  margin: var(--bolt-spacing-y-xxsmall) var(--bolt-spacing-x-small) 0 0;
}

.c-bolt-responsive-table__cell-label {
  opacity: 0;
  position: absolute;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.c-bolt-responsive-table__header-checkbox {
  margin-right: var(--bolt-spacing-x-small);
}

.c-bolt-responsive-table__button {
  @include bolt-button-native-styles-reset;

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 4px;
  }
}

.c-bolt-responsive-table__cta {
  display: flex;
  align-items: center;

  .c-bolt-responsive-table__button {
    display: flex;
    color: var(--m-bolt-headline);

    &:first-of-type {
      display: flex;
      align-items: center;
      margin: 0 auto 0 var(--bolt-spacing-x-xsmall);
    }
  }
}

.c-bolt-responsive-table__button-icons {
  display: flex;
  flex-direction: column;

  .e-bolt-icon {
    &:first-child {
      margin-bottom: -6px;
    }
  }
}

.c-bolt-responsive-table__filters {
  @include bolt-shadow(
    $key: 'level-20',
    $base-color: var(--bolt-color-navy-light)
  );
  display: none;
  position: absolute;
  overflow-x: hidden;
  right: 0;
  z-index: bolt-z-index(popover);
  max-height: 8rem;
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
  border-radius: bolt-border-radius(small);
  background-color: var(--bolt-color-white);

  &--visible {
    display: block;
  }
}

.c-bolt-responsive-table__filters-list {
  margin: 0;
  list-style-type: none;
}

.c-bolt-responsive-table__filters-item {
  margin-bottom: var(--bolt-spacing-y-xsmall);
}

.c-bolt-responsive-table__filters-label {
  &:hover {
    cursor: pointer;
  }
}

.c-bolt-responsive-table__filters-checkbox {
  margin-right: var(--bolt-spacing-x-small);
}

.c-bolt-responsive-table__filters-reset {
  @include bolt-shadow(
    $key: 'level-20',
    $base-color: var(--bolt-color-navy-light)
  );
  display: none;
  padding: var(--bolt-spacing-y-xxsmall) var(--bolt-spacing-x-xxsmall);
  background-color: var(--bolt-color-gray-xlight);
}

.c-bolt-responsive-table__filters-reset--visible {
  display: block;
}

.c-bolt-responsive-table__header-cta {
  display: flex;
  justify-content: space-between;
}

/////in progress
.c-bolt-responsive-table__button--toggle-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:focus {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    outline: var(--bolt-focus-ring);
    outline-offset: -6px;

    .c-bolt-responsive-table__trigger-icon {
      margin-right: var(--bolt-spacing-x-small);
    }
  }

  &[aria-expanded='true'] {
    .c-bolt-responsive-table__trigger-icon {
      transform: rotate(180deg);
    }
  }
}

.c-bolt-responsive-table__row--hidden {
  display: none;

  @media print {
    display: block;
  }
}

// .test-table {
//   @include bolt-horizontal-scroll;

//   box-shadow: 0 0 0 1px var(--m-bolt-disabled);
//   background-color: var(--m-bolt-disabled);

//   table {
//     margin: -1px;
//   }

//   td {
//     background-color: var(--m-bolt-bg);
//   }

//   thead td,
//   th {
//     background-color: var(--m-bolt-table-header);
//   }
// }
