/* ------------------------------------ *\
   Responsive Table
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-responsive-table', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-responsive-table {
  // Styles go here. /* [1] */
  display: block;
  overflow-x: auto;
  max-height: 75vh;
}

.c-bolt-responsive-table__table {
  width: 100%;
  border-collapse: collapse;
}

.c-bolt-responsive-table__head {
  th:first-of-type {
    background-color: var(--bolt-color-gray-xlight);
  }

  .c-bolt-responsive-table__header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--bolt-color-gray-xlight);
  }
}

.c-bolt-responsive-table__header {
  width: 1%;
  vertical-align: middle;
  border-right: none;
  white-space: nowrap;
}

.c-bolt-responsive-table__header,
.c-bolt-responsive-table__data {
  position: relative;
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
  vertical-align: middle;
}

.c-bolt-responsive-table__button {
  @include bolt-button-native-styles-reset;
}

.c-bolt-responsive-table__ctas {
  display: flex;
  align-items: center;

  .c-bolt-responsive-table__button {
    padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-xsmall);
    color: var(--m-bolt-primary);

    &:first-of-type {
      margin: 0 auto 0 var(--bolt-spacing-x-small);
    }
  }
}

.c-bolt-responsive-table__cell-label {
  opacity: 0;
  position: absolute;
  width: 100%;
}

.c-bolt-responsive-table__header-checkbox {
  margin-right: var(--bolt-spacing-x-small);
}

.c-bolt-responsive-table__body {
  .c-bolt-responsive-table__header {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: var(--bolt-color-gray-xlight);

    &:last-child {
      border-bottom: none;
    }
  }
}

.c-bolt-responsive-table__header-cta {
  display: flex;
  justify-content: space-between;
}

.c-bolt-responsive-table__button--toggle-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--m-bolt-primary);

  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:focus {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    outline: var(--bolt-focus-ring);
    outline-offset: -6px;

    .c-bolt-responsive-table__trigger-icon {
      margin-right: var(--bolt-spacing-x-small);
    }
  }

  &[aria-expanded='true'] {
    .c-bolt-responsive-table__trigger-icon {
      transform: rotate(180deg);
    }
  }
}

.c-bolt-responsive-table__body {
  .c-bolt-responsive-table__row {
    &:hover {
      background-color: rgba(0, 31, 95, 0.1);

      .c-bolt-responsive-table__header {
        background-color: rgba(0, 31, 95, 0.1);
      }
    }
  }
}

.c-bolt-responsive-table__row--hidden {
  display: none;
}

.c-bolt-responsive-table__caption {
  margin-bottom: var(--bolt-spacing-y-small);
  text-align: left;
}

.c-bolt-responsive-table__caption--bottom {
  margin-top: var(--bolt-spacing-y-small);
  margin-bottom: 0;
  caption-side: bottom;
}
