/* ------------------------------------ *\
  Settings
\* ------------------------------------ */
@import '@bolt/settings-all';
@import '@bolt/tools-all';
@import '@bolt/generic-all';
@import '@bolt/elements-all';
@import 'objects.all';
@import 'components.all';


// @import '@bolt/objects-grid';
// @import '@bolt/objects-inline-list';
// @import '@bolt/objects-island';
// @import '@bolt/objects-ratio';
// @import '@bolt/objects-ui-list';
// @import '@bolt/objects-wrapper';



@import '@bolt/themes-all';
@import '@bolt/utilities-all';
// @import '../_patterns/01-core/01-settings/*';
// @import '../_patterns/*/*-generic/*';
// @import '../_patterns/*/*-elements/*';
// @import '@bolt/settings-colors';
// @import '@bolt/settings-font-family';
// @import '@bolt/settings-font-size';
// @import '@bolt/settings-font-weight';
// @import '@bolt/settings-global';
// @import '@bolt/settings-spacing';



/* ------------------------------------ *\
   Pattern Lab Styleguidekit Style
   Overrides -- @TODO: Move to
   external PL-specific Sass file
\* ------------------------------------ */
// .sg-main {
//   @include bolt-padding(medium);
// }
