/* ------------------------------------ *\
   Subset of Bolt's Theming-specific CSS custom props for web component
\* ------------------------------------ */

@import '@bolt/core-v3.x';

@function bolt-list-contains($list, $var) {
  $_out: false;

  @each $item in $list {
    @if $item == $var or str-index($item, $var) != null {
      $_out: true;
    }
  }
  @return $_out;
}

@mixin bolt-theme-value($name, $value) {
  @if type-of($value) == color and type-of($value) != string {
    $red: round(red($value));
    $green: round(green($value));
    $blue: round(blue($value));
    --bolt-theme-#{$name}: #{$red, $green, $blue};
  }

  @else {
    --bolt-theme-#{$name}: #{$value};
  }
}

$uniquePerThemeType: 'text',
'headline',
'headline-link', 
'link',
'border',
'primary';

@each $themeName, $themeOptions in $bolt-themes {
  $themeTypeSelector: '';
  $themeSpecificSelector: '.t-bolt-#{$themeName}';
  
  @if ($themeName == 'xlight') {
    $themeSpecificSelector: ':root, .t-bolt-xlight';
  }
  
  @if ($themeName == 'xdark' or $themeName == 'dark') {
    $themeTypeSelector: '.t-bolt-dark, .t-bolt-xdark';
  } @else {
    $themeTypeSelector: ':root, .t-bolt-xlight, .t-bolt-light';
  }

  @if ($themeName == 'xlight' or $themeName == 'xdark') {
    #{unquote($themeTypeSelector)} {
      @each $themeOptionName, $themeOptionValue in $themeOptions {
        @if bolt-list-contains($uniquePerThemeType, $themeOptionName){
          @include bolt-theme-value($themeOptionName, $themeOptionValue);
        }
      }
    }
  }

  #{unquote($themeSpecificSelector)} {
    @each $themeOptionName, $themeOptionValue in $themeOptions {
      @if $themeOptionName == 'background' {
        @include bolt-theme-value($themeOptionName, $themeOptionValue);
        background-color: rgba(var(--bolt-theme-background), 1);
      } @elseif $themeOptionName == 'text' {
        @include bolt-theme-value($themeOptionName, $themeOptionValue);
        color: rgba(var(--bolt-theme-text), 1);
      }
    }
  }
}

.t-bolt-xxdark {
  --bolt-theme-background: 0, 0, 0;
}
