/* ------------------------------------ *\
   Nav
\* ------------------------------------ */

@import '@bolt/core';

$bolt-nav-link-border-size: 2px;
$bolt-nav-link-border-transition-ease: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$bolt-nav-link-border-transition-timing: $bolt-transition-timing * 2;


// Nav Component
bolt-nav {
  display: block;
}

.c-bolt-nav {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: flex;
  position: relative;
  list-style: none;
}

.c-bolt-nav__indicator {
  position: absolute;
  bottom: 0;
  width: 0;
  height: $bolt-nav-link-border-size;
  background-color: currentColor;
  opacity: 1;
  opacity: var(--bolt-nav-indicator-opacity, 1);
  transition: all $bolt-nav-link-border-transition-timing $bolt-nav-link-border-transition-ease;
  will-change: width, height, transform;

  transform: translateY(
    var(--bolt-nav-indicator-transform)
  );

  .c-bolt-nav--xsmall & {
    bottom: (bolt-v-spacing(xsmall) * -1);
  }

  .c-bolt-nav--small & {
    bottom: (bolt-v-spacing(medium) * -1); // [Mai] This is a hack because bands have the wrong sizes.
    height: ($bolt-nav-link-border-size * 2);
  }

  .c-bolt-nav--medium & {
    bottom: (bolt-v-spacing(medium) * -1);
  }

  .c-bolt-nav--large & {
    bottom: (bolt-v-spacing(large) * -1);
  }

  .c-bolt-nav--xlarge & {
    bottom: (bolt-v-spacing(xlarge) * -1);
  }
}
