{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}
  {% set header %}
    {% include "@bolt/headline.twig" with {
      "text": "Interactive Pathways Playground",
      "size": "xxxlarge",
      "tag": "h1"
    } only %}
  {% endset %}

  {% set pathwayOne %}
    <bolt-interactive-pathway
        id="12345"
    >
      <bolt-text
          slot="pathway-title"
      >
        Billing Inquires
      </bolt-text>

      <bolt-interactive-step
          step="1"
          slot="steps"
          speaker-position="left"
          customer-disposition="sad"
      >
        <span slot="title">Moment of Need</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Why is my bill so high?</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <bolt-text slot="body">
          Pega enables the business to sense <b>customer context</b> by seeing interactions across channels--calls to customer service about a bill, or visit to pricing web page.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="2"
          slot="steps"
          speaker-position="right"
          customer-disposition="neutral"
      >
        <span slot="title">Next best action</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">How can we best service this customer?</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Pega's AI-augmented <b>decisioning engine</b> uses context, predictive analytics, and self-learning adaptive models to guide agents with next best actions to serve the customer.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="3"
          slot="steps"
          speaker-position="left"
          customer-disposition="neutral"
      >
        <span slot="title">Context Across Channels</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">I have another question about my bill.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-triple-ltr.png" />
        <bolt-text slot="body">
          Pega’s <b>real-time omni-channel AI</b> ensures that customer context is never lost, even on other channels.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="4"
          slot="steps"
          speaker-position="right"
          customer-disposition="happy"
      >
        <span slot="title">Resolve</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Let's get this resolved quickly.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-neutral.png" />
        <bolt-text slot="body">
          Pega's <b>case management</b> connects all the people, systems, and processes required to resolve each customer inquiry.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="5"
          slot="steps"
          speaker-position="left"
          customer-disposition="happy"
      >
        <span slot="title">Outcomes</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Thanks, I got my issue resolved.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Customer issue is resolved quickly, resulting in higher customer satisfaction and lower <b>average handle time (AHT)</b> for the business.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="6"
          slot="steps"
          hide-interaction-animations
      >
        <span slot="title">What's next?</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">I'm saying something!</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <div slot="body">
          <details>
            <summary>A details tag</summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque, aut autem cumque deserunt doloribus eveniet expedita facere facilis hic inventore iste, magni neque pariatur, praesentium reiciendis rerum tempora vitae?</p>
          </details>
          <hr>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus blanditiis consectetur culpa cum, doloremque doloribus
            ea error ipsa itaque modi nisi non odit officia quod reiciendis
            rem reprehenderit tempora tempore?
          </div>
          <hr>
          <h2>Transform your customer experience</h2>
          See how Pega can transform your customer experiences with next-generation software applications and solutions.
        </div>
      </bolt-interactive-step>

    </bolt-interactive-pathway>
  {% endset %}

  {% set pathwayTwo %}
    <bolt-interactive-pathway
        id="54321"
    >
      <bolt-text
          slot="pathway-title"
      >
        Complaints/ Disputes
      </bolt-text>

      <bolt-interactive-step
          step="1"
          slot="steps"
          speaker-position="left"
          customer-disposition="sad"
      >
        <span slot="title">Dissatisfaction</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Why is my bill so high?</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-neutral.png" />
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam dolor dolorum error exercitationem, laudantium nihil omnis quas recusandae voluptatibus? Architecto culpa dolorem ducimus, earum harum illo perferendis quos repellat!
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="2"
          slot="steps"
          speaker-position="left"
          customer-disposition="neutral"
      >
        <span slot="title">A Complaint is Made</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">I'm not happy!</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto blanditiis ea eveniet ipsam optio perferendis temporibus vel? Consectetur cupiditate deserunt eveniet id, nulla perferendis possimus quisquam recusandae saepe veniam.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="3"
          slot="steps"
          speaker-position="right"
          customer-disposition="neutral"
      >
        <span slot="title">Rapid Response</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">We're here to help.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-triple-ltr.png" />
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet commodi cupiditate eos illo in ipsum libero molestias natus nostrum odio optio porro quae reprehenderit sequi, totam velit voluptas voluptatum!
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="4"
          slot="steps"
          speaker-position="right"
          customer-disposition="happy"
      >
        <span slot="title">Resolution</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Let's get this resolved quickly.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aspernatur atque, dolor dolorem hic labore laudantium modi natus nobis placeat ratione repellendus sapiente sequi soluta vel voluptate! Aliquid, neque.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="5"
          slot="steps"
          speaker-position="left"
          customer-disposition="happy"
      >
        <span slot="title">Happy Customer</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Thanks, I got my issue resolved.</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
        <bolt-text slot="body">
          Customer issue is resolved quickly, resulting in higher customer satisfaction and lower <b>average handle time (AHT)</b> for the business.
        </bolt-text>
      </bolt-interactive-step>

      <bolt-interactive-step
          step="6"
          slot="steps"
          hide-interaction-animations
      >
        <span slot="title">More Info</span>
        <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">I'm saying something!</span></bolt-text>
        <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
        <div slot="body">
          <details>
            <summary>A details tag</summary>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque, aut autem cumque deserunt doloribus eveniet expedita facere facilis hic inventore iste, magni neque pariatur, praesentium reiciendis rerum tempora vitae?</p>
          </details>
          <hr>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusamus blanditiis consectetur culpa cum, doloremque doloribus
            ea error ipsa itaque modi nisi non odit officia quod reiciendis
            rem reprehenderit tempora tempore?
          </div>
          <hr>
          <h2>Transform your customer experience</h2>
          See how Pega can transform your customer experiences with next-generation software applications and solutions.
        </div>
      </bolt-interactive-step>

    </bolt-interactive-pathway>
  {% endset %}

  {% set article %}
<div class="js-pega-editor">
  <button class="js-pega-editor__trigger">Edit</button>

  <div class="js-pega-editor__space">
    <div class="temp-loading-pladeholder" style="height: 500px;">
      {#This is a temporary placeholder for loading until SSR is addressed#}

    </div>
    <bolt-interactive-pathways style="display: none; opacity: 0; transition: opacity ease 0.3s;">
      <bolt-text slot="interactive-pathways-lead-text" display="inline">How Pega technology resolves</bolt-text>
      {{ pathwayOne }}
      {{ pathwayTwo }}
    </bolt-interactive-pathways>
  </div>
</div>

  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "size": "large",
    "content": header
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "xlight",
    "content": article
  } only %}
  {% include "@bolt-components-band/band.twig" with {
    "theme": "dark",
    "content": article
  } only %}
{% endblock %}
