<div class="demo-transition transition-opacity"><strong>Opacity</strong> (Hover to see effect)</div>
<div class="demo-transition transition-move"><strong>Move</strong> (Hover to see effect)</div>

{#<strong>Values:</strong>#}
{#<ul>#}
  {#{% for item in items %}#}
    {#<li><code>{{ item.name }}: {{ item.value }};</code> {{ item.comment }}</li>#}
  {#{% endfor %}#}
{#</ul>#}

<style>

</style>
