<header class="Header">
  <img class="Logo" src="/assets/logo.svg" alt="Polymer Skeleton" draggable="false">

  <sk-menu>
    <sk-menu-item>
      <a class="MenuLink" href="https://github.com/PolymerX/polymer-skeleton">Github</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="https://github.com/PolymerX/polymer-skeleton/issues">Issues</a>
    </sk-menu-item>

    <sk-menu-item>
      <a class="MenuLink" href="https://github.com/PolymerX">More from PolymerX</a>
    </sk-menu-item>
  </sk-menu>
</header>


<section class="Welcome">
  <h1 class="Title">Welcome to Polymer 3</h1>
  <p>
    This is a demo template that contains some polymer 3 component. With the Shadow DOM you can forget about the CSS global scope and classes specificty.
    Feel free to explore the project and start your own application.
  </p>
</section>


<aside class="Meta">
  v[[appVersion]] - ENV: [[ENV]]
</aside>


