<div class="c-bds-shapes">

  <svg class="hidden" style="position: absolute; width: 0; height: 0; visibility: hidden;">
    <defs>
      <linearGradient id="linearGradientIndigo" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#060923" />
        <stop offset="1" stop-color="#545DA6" />
      </linearGradient>

      <linearGradient id="linearGradientIndigoLight" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#545DA6" />
        <stop offset="1" stop-color="#ABB3F2" />
      </linearGradient>

      <linearGradient id="linearGradientYellow" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#E8AD17" />
        <stop offset="1" stop-color="#FFE299" />
      </linearGradient>

      <linearGradient id="linearGradientTeal" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#003333" />
        <stop offset="1" stop-color="#7ACDCD" />
      </linearGradient>

      <linearGradient id="linearGradientTealLight" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#545DA6" />
        <stop offset="1" stop-color="#ABB3F2" />
      </linearGradient>

      <linearGradient id="linearGradientOrange" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#661A00" />
        <stop offset="1" stop-color="#E84B17" />
      </linearGradient>

      <linearGradient id="linearGradientGray" x1="0" y1="0" x2="100%" y2="100%">
        <stop offset="0" stop-color="#E0E2EB" />
        <stop offset="1" stop-color="#F6F6F9" />
      </linearGradient>
    </defs>

    <symbol id="square-outline" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientGray)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400"></rect>
    </symbol>

    <symbol id="square-circle" viewBox="0 0 400 400">
        <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientOrange)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400"></rect>
    </symbol>

    <symbol id="outline-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-outline c-bolt-background-shapes__svg-interior" fill="url(#linearGradientTeal)" transform="translate(125.000000, 125.000000) scale(-1, 1) rotate(-270.000000) translate(-125.000000, -125.000000) " x="30" y="30" width="190" height="190" rx="95"></rect>
    </symbol>

    <symbol id="little-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary"  fill="url(#linearGradientYellow)" transform="translate(95.000000, 95.000000) scale(-1, 1) rotate(-270.000000) translate(-95.000000, -95.000000) " x="105" y="105" width="190" height="190"></rect>
    </symbol>

    <symbol id="little-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientIndigoLight)" transform="translate(95.000000, 95.000000) scale(-1, 1) rotate(-270.000000) translate(-95.000000, -95.000000) " x="105" y="105" width="190" height="190" rx="95"></rect>
    </symbol>


    <symbol id="circle-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-interior" fill="url(#linearGradientTealLight)" transform="translate(201.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-201.000000, -200.000000) " x="106" y="105" width="400" height="400"></rect>
    </symbol>

    <symbol id="circle-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientYellow)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400" rx="200"></rect>
    </symbol>

    <symbol id="big-square" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientTeal)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="9.09494702e-13" width="400" height="400"></rect>
    </symbol>

    <symbol id="big-circle" viewBox="0 0 400 400">
      <rect class="c-bolt-background-shapes__svg-primary" fill="url(#linearGradientOrange)" transform="translate(200.000000, 200.000000) scale(-1, 1) rotate(-270.000000) translate(-200.000000, -200.000000) " x="0" y="0" width="400" height="400" rx="200"></rect>
    </symbol>
  </svg>


  <div class="c-bds-shapes__animation c-bds-shapes__animation--1">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; width: 4rem;"><use xlink:href="#square-outline"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--2">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 3rem; width: 3rem;"><use xlink:href="#square-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--3">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; width: 4rem;"><use xlink:href="#outline-circle"></use></svg>
    </div>
  </div>

    <div class="c-bds-shapes__animation c-bds-shapes__animation--4">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; width: 4rem;"><use xlink:href="#little-square"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--5">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; width: 4rem;"><use xlink:href="#little-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--6">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 4rem; width: 4rem;"><use xlink:href="#circle-square"></use></svg>
    </div>
  </div>

    <div class="c-bds-shapes__animation c-bds-shapes__animation--7">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 3rem;width: 3rem;"><use xlink:href="#circle-circle"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--8">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 3rem; width: 4rem;"><use xlink:href="#big-square"></use></svg>
    </div>
  </div>

  <div class="c-bds-shapes__animation c-bds-shapes__animation--9">
    <div class="c-bds-shapes__shape-inner">
      <svg class="c-bds-shapes__svg" style="height: 2.5rem; width: 2.5rem;"><use xlink:href="#big-circle"></use></svg>
    </div>
  </div>
</div>