@import '@bolt/core';

/* ------------------------------------ *\
   Navlink
\* ------------------------------------ */

// $bolt-navlink-bg-color: rgba(bolt-color(gray, xlight), 0.1);
$bolt-navlink-bg-color: currentColor;
// $bolt-navlink-bg-color-active: rgba(bolt-color(gray, xlight), 0.2);
$bolt-navlink-bg-border-radius: $bolt-border-radius;
$bolt-navlink-bg-transition-timing: $bolt-transition-timing*4;
$bolt-navlink-text-transition: $bolt-transition;


// Navlink Component
bolt-navlink {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.c-bolt-navlink {
  @include bolt-padding(small, squished);
  @include bolt-font-size(small);
  @include bolt-font-weight(semibold);

  position: relative;
  opacity: 0.90;
  transition: opacity $bolt-navlink-text-transition;
  position: relative;
  transition: all .1s ease;
  color: currentColor;
  color: var(--bolt-theme-heading-link-default, inherit);
  // Added so that &:focus:not(:active) doesn't change the size of the band
  // @todo: we should consider making &:focus:not(:active) with thin dotted style a mixin
  // to share with nav-priority
  border-width: thin;
  border-style: dotted;
  border-radius: 3px;
  border-color: transparent;

  // &:hover, &:active,
  // &.is-hover, &.is-active {
  //   opacity: 1;
  &:active,
  &.is-active {
    color: inherit;
    color: var(--bolt-theme-text, inherit);
    opacity: 1;
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: $bolt-navlink-bg-border-radius;
    background-color: currentColor;
    opacity: 0.1;
    transform: scale3d(0, 0, 0);
    transition: all 0.1s ease;
  }

  &:active:before {
    transform: scale3d(1, 1, 1);
    opacity: 0.2;
    animation: none;
  }

  &:hover,
  &.is-hover {
    &:before {
      // transform: scale3d(1, 1, 1);
      // transition: all 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.550);
      animation:
        a-bolt-navlink-bg-hover
        $bolt-navlink-bg-transition-timing
        both;
    }
  }

  &:active,
  &.is-active {
    &:before {
      // transform-origin: bottom;
      animation: none;
      // transform: scale3d(1, 1, 1);
      // transition: all 0.2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
      // animation:
      //   a-bolt-navlink-bg-active
      //   0.2s
      //   forwards;
      // transition: $bolt-transition-timing;
    }
  }

    // works in chrome only
  &:focus:not(:active) {
    outline: none;
    border-color: inherit;
    border-color: var(--bolt-theme-primary,inherit);
  }

  &.is-dropdown-link.is-active:after {
    width: 4px;
    position: absolute;
    top: 6px;
    left: 0;
    bottom: 6px;
    background-color: inherit;
    background-color: var(--bolt-theme-primary,inherit);
    content: '';
  }
}


@keyframes a-bolt-navlink-bg-hover {
  0% {
    transform: scale3d(0, 0, 0);
  }

  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  40% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  60% {
    transform: scale3d(1, 1, 1);
  }

  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes a-bolt-navlink-bg-active {
  0% {
    transform: scale3d(1, 1, 1) scaleY(1);
    opacity: 0.2;
  }
  40% {
    transform: scale3d(1, 1, 1) scaleY(0.97);
  }
  to {
    transform: scale3d(1, 1, 1) scaleY(0);
    opacity: 0;
  }
}

