@import '@bolt/core';

/* ------------------------------------ *\
   Navlink
\* ------------------------------------ */

$bolt-navlink-bg-color: currentColor;
$bolt-navlink-bg-border-radius: $bolt-border-radius;
$bolt-navlink-bg-transition-timing: $bolt-transition-timing * 4;
$bolt-navlink-text-transition: $bolt-transition;
$bolt-navbar-xsmall-bp: 420px; // Slightly increase the default 400px xsmall breakpoint to be better optimized for larger plus-sized mobile devices -- value shared by the bolt-navbar, bolt-nav-priority, and bolt-navlink components

// Navlink Component
bolt-navlink {
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.c-bolt-navlink {
  @include bolt-padding(small, squished);
  @include bolt-padding-left(xsmall);
  @include bolt-padding-right(xsmall);

  @include bolt-font-size(small);
  @include bolt-font-weight(semibold);

  @include bolt-mq(small){
    @include bolt-padding(small, squished);
  }

  position: relative;
  opacity: 0.9;
  transition: opacity $bolt-navlink-text-transition;
  position: relative;
  transition: all 0.1s ease;
  color: bolt-theme(headline-link);
  // Added so that &:focus:not(:active) doesn't change the size of the band
  // @todo: we should consider making &:focus:not(:active) with thin dotted style a mixin
  // to share with nav-priority
  border-width: thin;
  border-style: dotted;
  border-radius: 3px;
  border-color: transparent;
  text-decoration: none;

  &:active,
  &.is-active {
    color: bolt-theme(text);
    border-color: transparent;
    opacity: 1;
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: $bolt-navlink-bg-border-radius;
    background-color: currentColor;
    opacity: 0.1;
    transform: scale3d(0, 0, 0);
    transition: all 0.1s ease;
  }

  &:active:before {
    transform: scale3d(1, 1, 1);
    opacity: 0.2;
    animation: none;
  }

  &:hover,
  &.is-hover {
    &:before {
      animation: a-bolt-navlink-bg-hover $bolt-navlink-bg-transition-timing both;
    }
  }

  &:active,
  &.is-active {
    &:before {
      animation: none;
    }
  }

  // works in chrome only
  &:focus:not(:active) {
    outline: none;
    border-color: bolt-theme(primary);
  }

  &.is-dropdown-link.is-active:after {
    width: 4px;
    position: absolute;
    top: 6px;
    left: 0;
    bottom: 6px;
    background-color: bolt-theme(primary);
    content: '';
  }
}

@keyframes a-bolt-navlink-bg-hover {
  0% {
    transform: scale3d(0, 0, 0);
  }

  20% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  40% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  60% {
    transform: scale3d(1, 1, 1);
  }

  80% {
    transform: scale3d(0.99, 0.99, 0.99);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
