<table>
    <thead>
      <tr>
        <th>Temporary</th>
        <th>Placeholder</th>
        <th>Table</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>col 1 is</td>
        <td>col 2 is</td>
        <td>col 3 is</td>
      </tr>
      <tr>
        <td>awesome</td>
        <td>awesome, too</td>
        <td>awesome, three</td>
      </tr>
      <tr>
        <td>$1600</td>
        <td>$12</td>
        <td>$1</td>
      </tr>
    </tbody>
  </table>
