// ------------------------------------
// #TEXT ALIGN UTILITIES
// ------------------------------------

.u-bolt-text-align-right {
  text-align: right !important;
  text-align: end !important;
}

.u-bolt-text-align-left {
  text-align: left !important;
  text-align: start !important;
}

.u-bolt-text-align-center {
  text-align: center !important;
}

.u-bolt-text-align-justify {
  text-align: justify !important;
}

$bolt-alignment-props: ('right', 'left', 'center', 'justify');

@include export-data('alignments.bolt.json', $bolt-alignment-props);
