/* ------------------------------------ *\
  #SITE WRAPPER
\* ------------------------------------ */

// Provides over-arching page wrapper + sticky footer functionality

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

// :root {
//   --space: 1.5em;
//   --space-lg: 2em;
//   // --bg-color: hsl(150, 45%, 50%);
// }

.c-bolt-site {
  display: grid;
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  grid-template-areas: 'header' 'content' 'footer';
  // grid-template-areas: "header header header" "navigation main ads" "footer footer footer";
  // grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: auto 1fr auto;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 100%; /* 1, 3 -- Required for IE11 sticky footer */
  }

  // > * {
  //   flex-grow: 0;
  // }
}



.c-bolt-site__header {
  grid-area: header;
}

.c-bolt-site__footer {
  grid-area: footer;
}

.c-bolt-site__content {
  grid-area: content;
  width: 100%;
  // grid-column: 2 / -2;
}

.c-bolt-site__content--middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .c-bolt-site__header,
// .c-bolt-site__footer {
//   flex: none; /* 2 */
//   width: 100%;
// }
//
// .c-bolt-site__content {
//   flex-grow: 1; /* 2 */
//   flex-shrink: 0; /* 2 */
//   flex-basis: auto; /* 2 */
//   width: 100%;
// }
//
// .c-bolt-site__content:after {
//   content: '\00a0'; /* &nbsp; */
//   display: block;
//   height: 0;
//   visibility: hidden;
// }

// .c-bolt-site__content--full {
//   padding: 0;
// }
//
// .c-bolt-site__content--full:after {
//   content: none;
// }
