{% if logo %}
  {% include "@bolt/logo.twig" with logo only %}
{% endif %}


{% if eyebrow %}
  {% include "@bolt/eyebrow.twig" with eyebrow only %}
{% endif %}

{% if headlines %}
  {% for headline in headlines %}
    {% include "@bolt/" ~ headline.type | default("headline") ~ ".twig" with headline only %}
  {% endfor %}
{% endif %}


{% if content %}
  <p>{{ content }}</p>
{% endif %}

{# TODO: only allow max of 2 buttons #}
{% if buttons %}
  {% for button in buttons %}
    {% include "@bolt/button.twig" with button only %}
  {% endfor %}
{% endif %}