{% extends "@pl/_list-doc-template.twig" %}

{% block content %}
  {% for display in schema.properties.display.enum %}
    <h3>{{ display|capitalize }}</h3>
    {% include "@bolt-components-list/list.twig" with {
      display: display,
      items: [
        placeholder_1,
        placeholder_2,
        placeholder_3,
      ]
    } only %}
  {% endfor %}

  <h3>Inline@breakpoint</h3>
  <p><mark>This display option means a block list transforming to inline at a specific breakpoint.</mark></p>
{% endblock %}
