{# Setting variables for demo purposes #}
{% set schema = bolt.data.components["@bolt-components-list"].schema %}
{% set regular_display_options = [
  "block",
  "flex",
  "inline",
] %}

{# Start component specific code #}
{% for display in regular_display_options %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix u-bolt-margin-bottom-large" %}
    {% for separator in schema.properties.separator.enum %}
      {% if separator != "none" %}
        {% cell "u-bolt-width-12/12 u-bolt-width-4/12@medium" %}
          <h3>{{ display|capitalize }} list with separators ({{ separator }})</h3>
          {% include "@bolt-components-list/list.twig" with {
            display: display,
            separator: separator,
            items: [
              "Item 1",
              "Item 2",
              "Item 3",
            ]
          } only %}
        {% endcell %}
      {% endif %}
    {% endfor %}
  {% endgrid %}
{% endfor %}
{# End component specific code #}
