{# Setting variables for demo purposes #}
{% set schema = bolt.data.components["@bolt-components-list"].schema %}
{% set regular_display_options = [
  "block",
  "inline",
  "flex",
] %}
{% set placeholder_1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
    text: "Item 1",
    size: "xsmall",
  } only %}
{% endset %}
{% set placeholder_2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
    text: "Item 2",
    size: "xsmall",
  } only %}
{% endset %}
{% set placeholder_3 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
    text: "Item 3",
    size: "xsmall",
  } only %}
{% endset %}

{# Start component specific code #}
{% for display in regular_display_options %}
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix u-bolt-margin-bottom-large" %}
    {% cell "u-bolt-width-12/12 u-bolt-width-4/12@medium" %}
      <h3>Regular spacing in a {{ display }} list</h3>
      {% include "@bolt-components-list/list.twig" with {
        display: display,
        spacing: "small",
        separator: "solid",
        items: [
          placeholder_1,
          placeholder_2,
          placeholder_3,
        ]
      } only %}
    {% endcell %}
    {% cell "u-bolt-width-12/12 u-bolt-width-4/12@medium" %}
      <h3>Inset spacing in a {{ display }} list</h3>
      {% include "@bolt-components-list/list.twig" with {
        display: display,
        spacing: "small",
        separator: "solid",
        inset: true,
        items: [
          placeholder_1,
          placeholder_2,
          placeholder_3,
        ]
      } only %}
    {% endcell %}
  {% endgrid %}
{% endfor %}
{# End component specific code #}
