{% set schema = bolt.data.components["@bolt-components-list"].schema %}

<p><mark>Inset spacing is best suited for block lists, even though you can apply to inline list as well.</mark></p>
{% for spacing in schema.properties.spacing.enum %}
  {% if spacing != "none" %}
    <h3>Block list with inset spacing ({{ spacing }}) and separators</h3>
    {% include "@bolt-components-list/list.twig" with {
      display: "block",
      spacing: spacing,
      separator: "solid",
      inset: true,
      items: [
        include("@bolt-components-link/link.twig", {
          text: "Item 1",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
        include("@bolt-components-link/link.twig", {
          text: "Item 2",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
        include("@bolt-components-link/link.twig", {
          text: "Item 3",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
      ]
    } only %}
    <h3>Flex list with inset spacing ({{ spacing }}) and separators</h3>
    {% include "@bolt-components-list/list.twig" with {
      display: "flex",
      spacing: spacing,
      separator: "solid",
      inset: true,
      items: [
        include("@bolt-components-link/link.twig", {
          text: "Item 1",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
        include("@bolt-components-link/link.twig", {
          text: "Item 2",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
        include("@bolt-components-link/link.twig", {
          text: "Item 3",
          url: "#!",
          icon: {
            name: "chevron-right",
            position: "before"
          },
        }),
      ]
    } only %}
  {% endif %}
{% endfor %}
