{# Setting variables for demo purposes #}
{% set schema = bolt.data.components["@bolt-components-list"].schema %}
{% set regular_display_options = [
  "block",
  "flex",
  "inline",
] %}
{% set link_with_icon_1 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Item 1",
    url: "#!",
    icon: {
      name: "chevron-right",
      position: "before"
    },
  } only %}
{% endset %}
{% set link_with_icon_2 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Item 2",
    url: "#!",
    icon: {
      name: "chevron-right",
      position: "before"
    },
  } only %}
{% endset %}
{% set link_with_icon_3 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Item 3",
    url: "#!",
    icon: {
      name: "chevron-right",
      position: "before"
    },
  } only %}
{% endset %}

{# Start component specific code #}
<p><mark>Inset spacing is best suited for block and flex lists, even though you can apply to inline list as well.</mark></p>
{% for display in regular_display_options %}
  {% for spacing in schema.properties.spacing.enum %}
    {% if spacing != "none" %}
      <h3>{{ display|capitalize }} list with inset spacing ({{ spacing }}) and separators</h3>
      {% include "@bolt-components-list/list.twig" with {
        display: display,
        spacing: spacing,
        separator: "solid",
        inset: true,
        items: [
          link_with_icon_1,
          link_with_icon_2,
          link_with_icon_3,
        ]
      } only %}
    {% endif %}
  {% endfor %}
{% endfor %}
{# End component specific code #}
