{% set schema = bolt.data.components["@bolt-components-list"].schema %}

<p>
  <mark>Valign prop only works with inline and flex display, it has no effects on block display.</mark>
</p>

{% for valign in schema.properties.valign.enum %}
  <h3>Vertically align inline items: {{ valign }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "inline",
    valign: valign,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "small",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "medium",
      }),
    ]
  } only %}
  <h3>Vertically align flex items: {{ valign }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "flex",
    valign: valign,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "small",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "medium",
      }),
    ]
  } only %}
{% endfor %}
