{% extends "@pl/_list-doc-template.twig" %}

{% block content %}
  {% set inline_and_flex_options = [
    "inline",
    "flex"
  ] %}

  <p>
    <mark>Valign prop only works with inline and flex display, it has no effects on block display.</mark>
  </p>

  {% for display in inline_and_flex_options %}
    {% for valign in schema.properties.valign.enum %}
      <h3>Vertically align {{ display }} items: {{ valign }}</h3>
      {% include "@bolt-components-list/list.twig" with {
        display: display,
        valign: valign,
        items: [
          placeholder_small,
          placeholder_medium,
          placeholder_large,
        ]
      } only %}
    {% endfor %}
  {% endfor %}
{% endblock %}
