{% extends "@pl/_list-doc-template.twig" %}

{% block content %}
  <p><mark>Use the semantically correct tag based on the context of your page layout.</mark></p>

  {% for tag in schema.properties.tag.enum %}
    <h3>{{ tag }}</h3>
    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      tag: tag,
      items: [
        link_1,
        link_2,
        link_3,
      ]
    } only %}
  {% endfor %}
{% endblock %}
