<h2>Web Component Usage</h2>
<p>Bolt List is a web component, you can simply use <code class="language-html">&lt;block-list&gt;</code> in the markup to make it render. Its inner content is comprised of <code class="language-html">&lt;block-list-item&gt;</code>.</p>

<h3>Example</h3>
<div class="u-bolt-margin-bottom">
  <pre class="c-bolt-code-snippet-syntax--light"><code class="language-html">&lt;bolt-list&gt;
  &lt;bolt-list-item&gt;Item 1&lt;/bolt-list-item&gt;
  &lt;bolt-list-item&gt;Item 2&lt;/bolt-list-item&gt;
  &lt;bolt-list-item&gt;Item 3&lt;/bolt-list-item&gt;
  &lt;bolt-list-item&gt;Item 4&lt;/bolt-list-item&gt;
  &lt;bolt-list-item&gt;Item 5&lt;/bolt-list-item&gt;
&lt;/bolt-list&gt;
</code></pre>
</div>

<h3>Display inline@small</h3>
<bolt-list display="inline@small" spacing="small" separator="dashed">
  <bolt-list-item>
      Item 1
  </bolt-list-item>
  <bolt-list-item>
      Item 2
  </bolt-list-item>
  <bolt-list-item>
      Item 3
  </bolt-list-item>
  <bolt-list-item>
      Item 4
  </bolt-list-item>
  <bolt-list-item>
      Item 5
  </bolt-list-item>
</bolt-list>

<h3>Display inline</h3>
<bolt-list display="inline" spacing="small" separator="dashed">
  <bolt-list-item>
    Item 1
  </bolt-list-item>
  <bolt-list-item>
    Item 2
  </bolt-list-item>
  <bolt-list-item>
    Item 3
  </bolt-list-item>
  <bolt-list-item>
    Item 4
  </bolt-list-item>
  <bolt-list-item>
    Item 5
  </bolt-list-item>
</bolt-list>

<h3>Display Block</h3>
<bolt-list display="block" spacing="small" separator="dashed">
  <bolt-list-item>
    Item 1
  </bolt-list-item>
  <bolt-list-item>
    Item 2
  </bolt-list-item>
  <bolt-list-item>
    Item 3
  </bolt-list-item>
  <bolt-list-item>
    Item 4
  </bolt-list-item>
  <bolt-list-item>
    Item 5
  </bolt-list-item>
</bolt-list>
