.c-boltsg-nav {
  nav {
    // @include mm-padding(($font-leading--base*2 + rem),($gutter + rem),($font-leading--base*2 + rem),($gutter + rem));
  }

  h1,
  h2 {
    @include bolt-font-size(small);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    // @include mm-margin(0,0,($font-leading--base + rem),0);
  }
  // ul {
  //   list-style: none;
  //   // @include mm-margin(0,0,0,0);
  //   // @include mm-padding(0,0,0,0);
  // }
}

.c-boltsg-nav--vertical {
  // nav {
  //   ul {
  //
  //   }
  // }
  li {
    // @include mm-margin(0,0,($font-leading--base + rem),0);
    // @include mm-padding(0,0,0,0);
  }

  li:last-of-type {
    @include mm-margin(0,0,0,0);
  }
}
