{% include '@pl/00-layout-docs.twig' %}

{% set notes %}
{% spaceless %}
  Reference the schema for all options. <a href="{{ link['viewall-layouts-layout'] }}?selected-tab=schema" class="e-bolt-text-link">Layout schema<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a>
{% endspaceless %}
{% endset %}

{% set demo %}
  <bolt-text headline font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Gutter</bolt-text>
  <bolt-layout template="tiles" gutter="large" padding-top="none">
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">large gutter</div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">large gutter</div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">large gutter</div>
    </bolt-layout-item>
  </bolt-layout>

  <bolt-text headline font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Row Gutter</bolt-text>
  <bolt-layout row-gutter="small" padding-top="none">
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">small row gutter</div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">small row gutter</div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">small row gutter</div>
    </bolt-layout-item>
  </bolt-layout>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-layouts-layout/layout.twig' with {
  gutter: 'large',
  row_gutter: 'small',
  ...
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-layout gutter="large" row-gutter="small">
  <bolt-layout-item>
    <!-- Content goes here -->
  </bolt-layout-item>
  <bolt-layout-item>
    <!-- Content goes here -->
  </bolt-layout-item>
</bolt-layout>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Gutter',
  description: 'Gutter is the horizontal spacing in between layout items. Row gutter is the vertical spacing in between layout items.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
