{% set notes %}
{% spaceless %}
  <bolt-ol>
    <bolt-li>Only use this if the order of layout items need to be adjusted at specific breakpoints.</bolt-li>
    <bolt-li>The @from-* keywords mean "starting from a particular breakpoint".</bolt-li>
    <bolt-li>Reference the schema for all options. <a href="{{ link['viewall-layouts-layout'] }}?selected-tab=schema" class="e-bolt-text-link">Layout schema<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a></bolt-li>
  </bolt-ol>
{% endspaceless %}
{% endset %}

{% set demo %}
  <bolt-layout template="thirds@from-small">
    <bolt-layout-item order="last@from-small">
      <div class="t-bolt-dark u-bolt-padding-small">
        <strong>Layout item</strong> (this will come last once the viewport is larger than the small breakpoint)
      </div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">
        <strong>Layout item</strong>
      </div>
    </bolt-layout-item>
    <bolt-layout-item>
      <div class="t-bolt-dark u-bolt-padding-small">
        <strong>Layout item</strong>
      </div>
    </bolt-layout-item>
  </bolt-layout>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: 'Layout item (this will come last once the viewport is larger than the small breakpoint)',
    order: 'last@from-small',
  } only %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: 'Layout item',
  } only %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: 'Layout item',
  } only %}
{% endset %}

{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items,
  template: [
    'thirds@from-small',
  ],
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-layout template="thirds@from-small">
  <bolt-layout-item order="last@from-small">
    <!-- Content goes here -->
  </bolt-layout-item>
  <bolt-layout-item>
    <!-- Content goes here -->
  </bolt-layout-item>
  <bolt-layout-item>
    <!-- Content goes here -->
  </bolt-layout-item>
</bolt-layout>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Content Order of Individual Layout Item',
  description: 'Bring the layout item to the start or the end of the layout.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
