{% set _description %}
  {% set _icon %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'external-link'
    } only %}
  {% endset %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Live example',
    icon_after: _icon,
    attributes: {
      href: 'https://www.pega.com/about/locations/france',
      target: '_blank',
      rel: 'noopener',
    }
  } only %}
{% endset %}

{% set _notes %}
  <ul>
    <li>ALL images in a hero require the <code>loading="eager"</code> HTML attribute.</li>
    <li>ALL images should utilize the <code>srcset</code> HTML attribute (not done for this example due to time).</li>
    <li>To set a background image that utilizes a gradient or color affect, continue to use the Bolt Background Component. This component still utilizes the Image Component and will not be performant.</li>
  </ul>
{% endset %}

{% set _demo %}
  {% set _content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Pega in France',
      tag: 'h1',
      size: 'xxxlarge',
    } only %}
    {% include '@bolt-components-headline/subheadline.twig' with {
      text: 'Your partner for digital transformation',
      tag: 'h2',
      size: 'xxlarge',
    } only %}
    {% include '@bolt-components-headline/subheadline.twig' with {
      text: 'Founded in 1983 in the United States, Pega is the leader in dedicated software for customer engagement and process automation. In 2010, Pega arrived in France with talented employees and an increased knowledge of the market and local specificities. Today Pega France is growing and is working to surround itself with the most innovative minds.',
      tag: 'h3',
      size: 'large',
    } only %}
    {% set _button_1 %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Contact Us',
        display: 'block',
        attributes: {
          href: '#!',
        }
      } only %}
    {% endset %}
    {% set _button_2 %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Join Us',
        display: 'block',
        hierarchy: 'secondary',
        attributes: {
          href: '#!',
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      spacing: 'small',
      items: [
        _button_1,
        _button_2
      ]
    } only %}
  {% endset %}

  {% set _layout_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: _content
    } only %}
  {% endset %}

  {% set _background %}
    {% include '@bolt-components-background/background.twig' with {
      opacity: 'heavy',
      fill_color: 'navy',
      focalPoint: {
        vertical: 'center',
        horizontal: 'center'
      },
      contentItems: [
        {
          pattern: 'image',
          src: '/images/heros/live-assets/ces-paris-team.jpg'
        }
      ]
    } only %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: _layout_items,
    padding_top: 'xlarge',
    padding_bottom: 'xlarge',
    valign_items: 'center',
    background: _background,
    template: [
      '67/33@from-medium'
    ],
    attributes: {
      class: 't-bolt-navy-dark'
    }
  } only %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Locations (France) Hero',
  description: _description,
  demo: _demo,
  notes: _notes
} only %}
