{# START LAYER #}
  {% set layer_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: "Pega Partners",
      tag: 'h1',
      size: 'xxxlarge',
    } only %}
    {% include '@bolt-components-headline/subheadline.twig' with {
      text: "Transforming the world’s biggest enterprises is a team effort. Our partners are here to help clients get the business outcomes they need, fast.",
      tag: 'h2',
      size: 'xlarge',
    } only %}
  {% endset %}

  {% set layer_cards %}
    {% set layer_card %}
      card
    {% endset %}

    {% set layer_items %}
      {% for i in 1..3 %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: layer_card,
        } only %}
      {% endfor %}
    {% endset %}

    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layer_items,
      padding_top: 'large',
      padding_bottom: 'none',
      template: [
        'thirds@from-medium',
      ],
    } only %}
  {% endset %}

  {% set layer_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_content,
      attributes: {
        class: 'u-bolt-text-align-center',
      }
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_cards,
    } only %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layer_items,
    padding_top: 'large',
    padding_bottom: 'large',
    attributes: {
      class: 't-bolt-dark',
    }
  } only %}
{# END LAYER #}

{# START LAYER #}
  {% set layer_supplement %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/tout-4x3-climber.jpg',
        alt: 'A Rock Climber',
        loading: 'lazy',
        width: 800,
        height: 450,
      }
    } only %}
  {% endset %}

  {% set layer_content %}
    {% include '@bolt-components-headline/eyebrow.twig' with {
      text: 'Pega Marketplace',
      tag: 'p',
    } only %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: "Discover. Connect. Grow.",
      tag: 'h3',
      size: 'xxlarge',
    } only %}
    <p>Pega Marketplace is a curated online library for Pega applications, add-on components, and useful utilities. The Pega Marketplace provides business users and developers with access to apps and reusable components from Pegasystems, our partners, and contributions from the broader developer community.</p>
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Learn More',
      attributes: {
        href: '#!',
      }
    } only %}
  {% endset %}

  {% set layer_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_supplement,
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_content,
    } only %}
  {% endset %}


    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layer_items,
      padding_top: 'large',
      padding_bottom: 'none',
      valign_items: 'center',
      template: [
        'halves@from-small',
      ],
      attributes: {
        class: 't-bolt-gray-xlight',
      }
    } only %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layer_items,
      padding_top: 'large',
      padding_bottom: 'large',
      valign_items: 'center',
      template: [
        'halves@from-small',
      ],
      attributes: {
        class: 't-bolt-gray-xlight',
      }
    } only %}

{# END LAYER #}
