{# START LAYER #}
  {% set layer_content %}
    {% include '@bolt-components-headline/eyebrow.twig' with {
      text: "Case Study",
      tag: 'p',
    } only %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: "Commonwealth Bank of Australia: Exceeding customer expectations with personalized conversations",
      tag: 'h1',
      size: 'xxxlarge',
    } only %}
  {% endset %}

  {% set layer_supplement %}
    {% set video %}
      <video-js
        data-account="1900410236"
        data-player="O3FkeBiaDz"
        data-embed="default"
        data-video-id="6236693947001"
        data-media-duration
        data-media-title
        controls
        class="c-base-video"></video-js>
    {% endset %}
    {% include '@bolt-elements-ratio/ratio.twig' with {
      content: video,
      ratio: 'wide'
    } only %}
  {% endset %}

  {% set layer_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_content,
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_supplement,
    } only %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layer_items,
    padding_top: 'large',
    padding_bottom: 'medium',
    valign_items: 'center',
    template: [
      'halves@from-medium',
    ],
    attributes: {
      class: 't-bolt-dark'
    }
  } only %}
{# END LAYER #}

{# START LAYER #}
  {% set layer_flag %}
    {% set flag_icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'check',
        size: 'xlarge'
      } only %}
    {% endset %}
    {% set flag_text %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: "Connected conversations across 18 channels",
        tag: 'h3',
        size: 'large',
      } only %}
    {% endset %}

    {% set layer_items %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: flag_icon,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: flag_text,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layer_items,
      padding_top: 'medium',
      padding_bottom: 'medium',
      template: [
        'flag',
      ],
      attributes: {
        style: '--l-bolt-layout-flag-media-width: 1.5rem',
      },
    } only %}
  {% endset %}

  {% set layer_items %}
    {% for i in 1..3 %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: layer_flag,
      } only %}
    {% endfor %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layer_items,
    padding_top: 'none',
    padding_bottom: 'large',
    template: [
      'thirds@from-medium',
    ],
    attributes: {
      class: 't-bolt-dark'
    }
  } only %}
{# END LAYER #}

{# START LAYER #}
  {% set layer_items %}
    {% set column_content %}
      {% include '@bolt-components-blockquote/blockquote.twig' with {
        'author': {
          'name': 'Michelangelo di Lodovico Buonarroti Simoni',
          'title': 'Renaissance Artist'
        },
        'content': '<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>'
      } %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: "The Business Issue",
        tag: 'h3',
        size: 'large',
      } only %}
      <p>Commonwealth Bank of Australia (CBA) is the largest organization in Australia by market cap, and one out of three Australians call CBA their main financial institution. To continue driving its market dominance, CBA looked to build deeper, more personalized relationships with each of its 10 million customers.</p>
    {% endset %}

    {% set column_related %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: "Related Resources",
        tag: 'h3',
        size: 'xlarge',
      } only %}

      {% set layer_flag %}
        {% set flag_icon %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'video',
            size: 'xlarge'
          } only %}
        {% endset %}
        {% set flag_text %}
          {% include '@bolt-components-headline/headline.twig' with {
            text: "PegaWorld Video",
            tag: 'h3',
            size: 'large',
            url: '#!'
          } only %}
          <p>Learn more about how CBA uses AI to drive Next Best Conversations.</p>
        {% endset %}

        {% set layer_items %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: flag_icon,
          } only %}
          {% include '@bolt-layouts-layout/layout-item.twig' with {
            content: flag_text,
          } only %}
        {% endset %}
        {% include '@bolt-layouts-layout/layout.twig' with {
          content: layer_items,
          padding_top: 'none',
          padding_bottom: 'none',
          template: [
            'flag',
          ],
          attributes: {
            style: '--l-bolt-layout-flag-media-width: 1.5rem',
          },
        } only %}
      {% endset %}

      {% include '@bolt-components-list/list.twig' with {
        separator: 'solid',
        spacing: 'small',
        items: [
          layer_flag,
          layer_flag,
        ]
      } only %}

    {% endset %}

    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: column_content,
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: column_related,
    } only %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layer_items,
    padding_top: 'large',
    padding_bottom: 'large',
    template: [
      '67/33@from-medium',
    ],
  } only %}
{# END LAYER #}

{# START LAYER #}
  {% set layer_content %}
    {% set icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'energy',
        size: 'large'
      } only %}
    {% endset %}
    {% include '@bolt-elements-shape/shape.twig' with {
      content: icon,
      size: 'xlarge',
      attributes: {
        class: 't-bolt-teal',
      }
    } only %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: "Pega Customer Decision Hub",
      tag: 'h3',
      size: 'xxlarge',
    } only %}
  {% endset %}

  {% set layer_items %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: layer_content,
      attributes: {
        class: 'u-bolt-text-align-center',
      }
    } only %}
  {% endset %}

  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layer_items,
    padding_top: 'large',
    padding_bottom: 'large',
    align_items: 'center',
    template: [
      '67@from-medium',
    ],
    attributes: {
      class: 't-bolt-dark'
    }
  } only %}
{# END LAYER #}
