{% set schema = bolt.data.components["@bolt-layouts-layout"].schema %}

<p><mark>Note: medium is the default Row Gutter size.</mark></p>

{% set placeholder %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Column",
      size: "xsmall"
  } only %}
{% endset %}
{% set content %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: placeholder
  } only %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: placeholder
  } only %}
{% endset %}

{% for size in schema.properties.gutter.enum %}
  <bolt-text font-size="small" font-weight="semibold" class="u-bolt-margin-bottom-none u-bolt-margin-top-medium">This <code>row_gutter</code> is set to <code>{{ size }}</code>.</bolt-text>
  {% include "@bolt-layouts-layout/layout.twig" with {
    content: content,
    row_gutter: size
  } only %}
{% endfor %}
