{% set notes %}
  <bolt-ol>
    <bolt-li>This prop is only effective in a single-column layout (e.g. 50%, 67%, and 75%).</bolt-li>
    <bolt-li>Reference the schema for all options. <a href="{{ link['viewall-layouts-layout'] }}?selected-tab=schema" class="e-bolt-text-link">Layout schema<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a></bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set schema = bolt.data.components['@bolt-layouts-layout'].schema %}
  {% for alignment in schema.properties.align_items.enum %}
    <bolt-layout template="75" align-items="{{ alignment }}">
      <bolt-layout-item>
        <div class="t-bolt-dark u-bolt-padding-small">75% and horizontally aligned {{ alignment }}</div>
      </bolt-layout-item>
    </bolt-layout>
  {% endfor %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-layouts-layout/layout.twig' with {
  template: '75',
  align_items: 'center',
  ...
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<bolt-layout template="75" align-items="center">
  <bolt-layout-item>
    <!-- Content goes here -->
  </bolt-layout-item>
</bolt-layout>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Horizontal Alignment',
  description: 'A single layout item can be horizontally aligned to the start, center, or end.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
