{% set background %}
  {% include "@bolt-components-background/background.twig" with {
    opacity: "heavy",
    fill: "gradient",
    focalPoint: {
      vertical: "center",
      horizontal: "center"
    },
    contentItems: [
      {
        pattern: "image",
        src: "/images/content/backgrounds/background-tall-4.jpg"
      }
    ]
  } only %}
{% endset %}
{% set content %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: "<p>To add a background, pass a <code>background</code> component into the <code>background</code> prop.</p>",
  } only %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: "Sit aliqua mollit dolor in nisi occaecat. Commodo sint et sit et eiusmod sint. Lorem eiusmod elit occaecat occaecat culpa. Consectetur do reprehenderit do ad ad.",
  } only %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: "Labore aute qui commodo ex quis aliqua tempor eiusmod enim. Nostrud incididunt nisi pariatur exercitation adipisicing cupidatat. Ex laborum nisi laborum id cupidatat in veniam do voluptate.",
  } only %}
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  padding_top: "xlarge",
  padding_bottom: "xlarge",
  template: "thirds@from-small",
  background: background,
  content: content,
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}
