<p><mark>Note: unset is the default valign self setting.</mark></p>

{% set placeholder1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Static Column",
      size: "medium"
  } only %}
{% endset %}
{% set placeholder2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Aligned Column",
      size: "xsmall"
  } only %}
{% endset %}

{% set valignArray = [
  'unset',
  'start',
  'center',
  'end',
] %}

{% for alignment in valignArray %}

  {% set content %}
    {% include "@bolt-layouts-layout/layout-item.twig" with {
      content: placeholder1,
    } only %}
    {% include "@bolt-layouts-layout/layout-item.twig" with {
      content: placeholder2,
      valign_self: alignment
    } only %}
  {% endset %}

  <bolt-text font-size="small" font-weight="semibold" class="u-bolt-margin-bottom-none u-bolt-margin-top-medium">This <code>valign_self</code> is set to <code>{{ alignment }}</code>.</bolt-text>
  {% include "@bolt-layouts-layout/layout.twig" with {
    template: "tiles@from-small",
    content: content
  } only %}

{% endfor %}

<p><mark>Note: There are more size options available for the following.</mark></p>

{% set placeholder1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Static Column",
      size: "xsmall"
  } only %}
{% endset %}
{% set placeholder2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Aligned Column",
      size: "large"
  } only %}
{% endset %}

{% set valignArray2 = [
  'start-offset',
  'end-offset',
] %}

{% for alignment in valignArray2 %}
  {% set content %}
    {% include "@bolt-layouts-layout/layout-item.twig" with {
      content: placeholder1,
    } only %}
    {% include "@bolt-layouts-layout/layout-item.twig" with {
      content: placeholder2,
      valign_self: alignment
    } only %}
  {% endset %}

  <bolt-text font-size="small" font-weight="semibold" class="u-bolt-margin-bottom-none u-bolt-margin-top-medium">This <code>valign_self</code> is set to <code>{{ alignment }}</code>.</bolt-text>
  {% include "@bolt-layouts-layout/layout.twig" with {
    template: "tiles@from-small",
    content: content,
    padding_top: "large",
    padding_bottom: "large",
    attributes: {
      class: [
        "t-bolt-dark",
      ]
    },
  } only %}
{% endfor %}
