{% set schema = bolt.data.components["@bolt-layouts-layout"].schema %}

<p><mark>Note: auto is the default source order setting.</mark></p>

<bolt-text font-size="small" font-weight="semibold" class="u-bolt-margin-bottom-none u-bolt-margin-top-medium">The second column's <code>order</code> is set to <code>primary@until-small</code>. Resize the screen to be less than the small breakpoint to see the columns change order.</bolt-text>

{% set placeholder1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Column 1",
      size: "xsmall"
  } only %}
{% endset %}
{% set placeholder2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Column 2",
      size: "xsmall"
  } only %}
{% endset %}

{% set content %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: placeholder1
  } only %}
  {% include "@bolt-layouts-layout/layout-item.twig" with {
    content: placeholder2,
    order: "primary@until-small"
  } only %}
{% endset %}

{% include "@bolt-layouts-layout/layout.twig" with {
  template: "tiles@from-small",
  content: content
} only %}
