@import '@bolt/core-v3.x';

.e-bolt-icon {
  --e-bolt-icon-size: 1em;
  display: inline-block;
  width: var(--e-bolt-icon-size);
  height: var(--e-bolt-icon-size);
  vertical-align: middle;
}

.e-bolt-icon--small {
  --e-bolt-icon-size: 1rem;
}

.e-bolt-icon--medium {
  --e-bolt-icon-size: 1.5rem;
}

.e-bolt-icon--large {
  --e-bolt-icon-size: 2rem;
}

.e-bolt-icon--xlarge {
  --e-bolt-icon-size: 2.375rem;
}
