@import '@bolt/core-v3.x';

.e-bolt-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
}

.e-bolt-icon--small {
  width: 16px;
  height: 16px;
}

.e-bolt-icon--medium {
  width: 24px;
  height: 24px;
}

.e-bolt-icon--large {
  width: 32px;
  height: 32px;
}

.e-bolt-icon--xlarge {
  width: 38px;
  height: 38px;
}
