{% set description %}
  Variations of input fields.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>To make an input accessible to screen readers and other assistive technology, make sure to include input <code>type</code> attribute. For example: <code>text</code>, <code>email</code>, <code>search</code> etc. All existing input types you can find on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input" class="e-bolt-text-link">MDN article on form input elements</a>.</bolt-li>
    <bolt-li>Remember to provide <code>labels</code> for your inputs to increase the ease of filling in the form.</bolt-li>
    <bolt-li>Dont't forget to include a <code>placeholder</code> as an input <code>attribute</code>.</bolt-li>
    <bolt-li>It's possible to add attributes like <code>required</code> or <code>disabled</code> to the <code>form-input.twig</code> include statmenet if needed.</bolt-li>
    <bolt-li>To display text message or error message add <code>descriptionText</code> or <code>errors</code> attribute with the message to your <code>form-element.twig</code> include statement.</bolt-li>
    <bolt-li>Adding error icon in the input field can be possible by setting <code>hasErrors=true</code> in the <code>form-input.twig</code> .</bolt-li>
    <bolt-li>Is it possible to choose the label position of the input. Reference the <a href="{{ link['components-form-label-positions'] }}" class="e-bolt-text-link">form label positions</a> for all options.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{# input type text #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type text</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Title',
    displayType: 'block',
    attributes: {
      for: 'text',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter a title',
      type: 'text',
      id: 'text',
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type search disabled #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type search (disabled)</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Search',
    displayType: 'block',
    attributes: {
      for: 'search',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'No searching allowed',
      type: 'search',
      id: 'search',
      disabled: 'true'
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type text disabled #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type text (disabled)</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Search',
    displayType: 'block',
    attributes: {
      for: 'search',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Don\'t try to edit this',
      type: 'search',
      id: 'search',
      disabled: 'true'
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type email #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type email</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Email',
    displayType: 'block',
    attributes: {
      for: 'email-address',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter email address',
      type: 'email',
      id: 'email-address',
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  descriptionText: 'We promise not to sell your email address',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type password #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type password</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Password',
    displayType: 'block',
    attributes: {
      for: 'password',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter password',
      type: 'password',
      id: 'password',
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type search #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type search</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Search',
    displayType: 'block',
    attributes: {
      for: 'search',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter search terms',
      type: 'search',
      id: 'search',
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}

{# input type text server error #}
<bolt-text font-weight="semibold" class="u-bolt-margin-bottom-small">Input type text (error)</bolt-text>
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Username',
    displayType: 'block',
    attributes: {
      for: 'username',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter username',
      type: 'text',
      id: 'username',
    },
    hasErrors: true,
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
  errors: 'The username you entered is already taken.',
  attributes: {
    class: 'u-bolt-margin-bottom-large'
  }
} only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: 'Title',
    displayType: 'block',
    attributes: {
      for: 'text',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter a title',
      type: 'text',
      id: 'text',
    },
  } only %}
{% endset %}
{% include '@bolt-components-form/form-element.twig' with {
  label: label,
  children: input,
  labelDisplay: 'before',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
...
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Input fields',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
