////
/// @group Settings: Typography
/// @author Mike Mai
////

@import "../../02-tools/tools-breakpoint/_tools-breakpoint.scss";
@import "../../02-tools/tools-px-to-rem/_tools-px-to-rem.scss";

$bolt-font-size--small-bp: bolt-rem(bolt-breakpoint(xxsmall));
$bolt-font-size--medium-bp: bolt-rem(bolt-breakpoint(medium));



/* ------------------------------------ *\
  Scale
\* ------------------------------------ */
$bolt-font-size--xxxlarge--max: 3.083rem;
$bolt-font-size--xxxlarge--min: 2.275rem;
$bolt-font-size--xxlarge: 1.781rem;
$bolt-font-size--xlarge: 1.417rem;
$bolt-font-size--large: 1.111rem;
$bolt-font-size--medium: 1rem;
$bolt-font-size--small: 0.9rem;
$bolt-font-size--xsmall: 0.8rem;


$bolt-line-height--xxxlarge: 1.14;
$bolt-line-height--xxlarge: 1.31;
$bolt-line-height--xlarge: 1.35;
$bolt-line-height--large: 1.45;
$bolt-line-height--medium: 1.65;
$bolt-line-height--small: 1.51;
$bolt-line-height--xsmall: 1.45;
$bolt-line-height--tight: 1.111;


$bolt-global-line-heights: (
  regular,
  tight
);


/// Bolt's definition of all options of possible text sizes.
/// @type Map
$bolt-font-sizes: (
  font-sizes: (
    xxxlarge: (
      font-size: (
        $bolt-font-size--small-bp: $bolt-font-size--xxxlarge--min,
        $bolt-font-size--medium-bp: $bolt-font-size--xxxlarge--max
      ),
      line-height: (
        regular: $bolt-line-height--xxxlarge,
        tight: $bolt-line-height--tight
      ),
    ),
    xxlarge: (
      font-size: $bolt-font-size--xxlarge,
      line-height: (
        regular: $bolt-line-height--xxlarge,
        tight: $bolt-line-height--tight
      )
    ),
    xlarge: (
      font-size: $bolt-font-size--xlarge,
      line-height: (
        regular: $bolt-line-height--xlarge,
        tight: $bolt-line-height--tight
      )
    ),
    large: (
      font-size: $bolt-font-size--large,
      line-height: (
        regular: $bolt-line-height--large,
        tight: $bolt-line-height--tight
      )
    ),
    medium: (
      font-size: $bolt-font-size--medium,
      line-height: (
        regular: $bolt-line-height--medium,
        tight: $bolt-line-height--tight
      )
    ),
    small: (
      font-size: $bolt-font-size--small,
      line-height: (
        regular: $bolt-line-height--small,
        tight: $bolt-line-height--tight
      )
    ),
    xsmall: (
      font-size: $bolt-font-size--xsmall,
      line-height: (
        regular: $bolt-line-height--xsmall,
        tight: $bolt-line-height--tight
      )
    )
  )
);

$bolt-global-font-sizes: map-get($bolt-font-sizes, 'font-sizes');