<p>Band: Collection</p>
{% include "@bolt-components-band/band--collection.twig" with {
  size: "medium",
  theme: "xlight",
  contentItems: [
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "../../images/placeholders/1200x660.jpg"
        },
        {
          pattern: "headline",
          text: "2017 Forrester Wave Report",
          size: "large",
          tag: "h3"
        },
        {
          pattern: "text",
          text: "Pega cited as a Leader in The Forrester Wave™: Digital Process Automation Software, Q3 2017.",
          tag: "p"
        },
        {
          pattern: "button",
          text: "Get the report",
          tag: "a",
          style: "secondary",
          width: "full"
        }
      ]
    },
    {
      pattern: "card-w-teaser",
      image: {
        src: "../../images/placeholders/1200x660.jpg",
        lazyload: false,
      },
      teaser: {
        headlines: [
          {
            type: "headline",
            text: "Pega 7 for Operations",
            size: "large"
          },
          {
            type: "text",
            text: "Simplify and automate to reduce costs and improve agility.",
            size: "medium",
            tag: "p"
          }
        ],
        buttons: [
          {
            text: "Learn More About Pega 7",
            style: "secondary",
            url: "www.google.com/pega7"
          }
        ]
      }
    },
    {
      pattern: "teaser",
      logo: {
        src: "../../images/content/logos/logo-paypal.svg",
        lazyload: false,
      },
      eyebrow: {
        text: "Who is Pega?"
      },
      headlines: [
        {
          text: "Pega is #1 in software for customer engagement and operational excellence.",
          size: "xlarge",
          tag: "h3"
        }
      ],
      buttons: [
        {
          text: "Example button #1",
          style: "primary"
        }
      ]
    }
  ]
} %}

<p>Band: Card Collection</p>
{% include "@bolt-components-band/band--card-collection.twig" with {
  theme: "light",
  size: "medium",
  contentItems: [
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "../../images/content/thumbnail-forrester-prevcard.jpg"
        },
        {
          pattern: "headline",
          text: "2017 Forrester Wave Report",
          size: "large",
          tag: "h3"
        },
        {
          pattern: "text",
          text: "Pega cited as a Leader in The Forrester Wave™: Digital Process Automation Software, Q3 2017."
        },
        {
          pattern: "button",
          width: "full",
          text: "Get the report",
          style: "secondary"
        }
      ]
    },
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "../../images/placeholders/1200x660.jpg"
        },
        {
          pattern: "teaser",
          headlines: [
            {
              type: "headline",
              text: "Headline #2",
              size: "large"
            }
          ],
          content: "Simplify and automate to reduce costs and improve agility.",
          buttons: [
            {
              text: "Learn More About Pega 7",
              style: "secondary",
              url: "www.google.com/pega7"
            }
          ]
        }
      ]
    },
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "../../images/placeholders/1200x660.jpg"
        },
        {
          pattern: "teaser",
          headlines: [
            {
              type: "headline",
              text: "Headline #3",
              size: "large"
            }
          ],
          content: "Simplify and automate to reduce costs and improve agility.",
          buttons: [
            {
              text: "Learn More About Pega 7",
              style: "secondary",
              url: "www.google.com/pega7"
            }
          ]
        }
      ]
    }
  ]
} %}
