<form class="c-bolt-form">
  {% set apply_button %}
    {% include '@bolt-components-button/button.twig' with {
      text: 'Apply',
      size: 'small',
      type: 'submit',
    } only %}
  {% endset %}
  {% set cancel_button %}
    {% include '@bolt-components-button/button.twig' with {
      text: 'Cancel',
      size: 'small',
      style: 'text',
      attributes: {
        'on-click': 'show',
        'on-click-target': 'js-bolt-modal',
      },
    } only %}
  {% endset %}
  {% set modal_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'More filters',
      size: 'xlarge',
      tag: 'h2',
      attributes: {
        slot: 'header',
      }
    } only %}
    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
      {% set more_filter_input %}
        <input type="checkbox" id="more-filter-1" class="c-bolt-input c-bolt-input--checkbox">
        <label for="more-filter-1" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Filter name</label>
      {% endset %}
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Category',
          size: 'large',
          tag: 'h3',
          attributes: {
            class: 'u-bolt-margin-bottom-small',
          },
        } only %}
        {% include '@bolt-components-list/list.twig' with {
          items: [
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
          ]
        } only %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Category',
          size: 'large',
          tag: 'h3',
          attributes: {
            class: 'u-bolt-margin-bottom-small',
          },
        } only %}
        {% include '@bolt-components-list/list.twig' with {
          items: [
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
          ]
        } only %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Category',
          size: 'large',
          tag: 'h3',
          attributes: {
            class: 'u-bolt-margin-bottom-small',
          },
        } only %}
        {% include '@bolt-components-list/list.twig' with {
          items: [
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
            more_filter_input,
          ]
        } only %}
      </div>
    </div>
    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      align: 'end',
      items: [
        cancel_button,
        apply_button,
      ],
      attributes: {
        slot: 'footer',
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    attributes: {
      class: 'js-bolt-modal',
    },
  } only %}

  {% set subscribe_button %}
    {% if phase2 %}
      <div class="u-bolt-text-align-center">
        {% include '@bolt-components-button/button.twig' with {
          text: 'Subscribe',
          size: 'xsmall',
          style: 'secondary',
          icon: {
            name: 'add',
            position: 'before',
          }
        } only %}
      </div>
    {% endif %}
  {% endset %}


  <div class="c-www-quick-filters">
    <div class="c-www-quick-filters__list-wrapper js-www-quick-filters-scroll-wrapper">
      <ul class="c-www-quick-filters__list js-www-quick-filters-scroll">
        <li class="c-www-quick-filters__list-item">
          <input type="checkbox" id="filter-1" class="c-bolt-input c-bolt-input--checkbox">
          <label for="filter-1" class="e-bolt-button e-bolt-button--secondary e-bolt-button--small">AI and decisioning</label>
        </li>
        <li class="c-www-quick-filters__list-item">
          <input type="checkbox" id="filter-2" class="c-bolt-input c-bolt-input--checkbox">
          <label for="filter-2" class="e-bolt-button e-bolt-button--secondary e-bolt-button--small">Customer engagement</label>
        </li>
        <li class="c-www-quick-filters__list-item">
          <input type="checkbox" id="filter-3" class="c-bolt-input c-bolt-input--checkbox">
          <label for="filter-3" class="e-bolt-button e-bolt-button--secondary e-bolt-button--small">Customer service</label>
        </li>
        <li class="c-www-quick-filters__list-item">
          <input type="checkbox" id="filter-4" class="c-bolt-input c-bolt-input--checkbox">
          <label for="filter-4" class="e-bolt-button e-bolt-button--secondary e-bolt-button--small">Digital transformation</label>
        </li>
        <li class="c-www-quick-filters__list-item">
          <input type="checkbox" id="filter-5" class="c-bolt-input c-bolt-input--checkbox">
          <label for="filter-5" class="e-bolt-button e-bolt-button--secondary e-bolt-button--small">Intelligent automation</label>
        </li>
      </ul>
    </div>
    <div class="c-www-quick-filters__more">
      {% include "@bolt-elements-button/button.twig" with {
        content: "More filters",
        size: "small",
        hierarchy: "secondary",
        icon: {
          name: 'filter',
          position: 'before',
        },
        attributes: {
          "type": "button",
          "data-bolt-modal-target": ".js-bolt-modal",
        },
      } only %}
    </div>
  </div>
</form>
