@import '@bolt/core-v3.x';

$www-quick-filters-fade-width: var(--bolt-spacing-x-small);
$www-quick-filters-shadow-offset: var(--bolt-spacing-y-medium);

.c-www-quick-filters {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: calc(#{$www-quick-filters-shadow-offset} * -1) 0
    calc(#{$www-quick-filters-shadow-offset} * -1)
    calc(#{$www-quick-filters-fade-width} * -1);
}

.c-www-quick-filters__list-wrapper {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(
      to right,
      var(--m-bolt-bg) 0%,
      var(--c-www-quick-filters-fade-gradient, rgba(white, 0)) #{$www-quick-filters-fade-width},
      var(--c-www-quick-filters-fade-gradient, rgba(white, 0))
        calc(100% - #{$www-quick-filters-fade-width}),
      var(--m-bolt-bg) 100%
    );
  }

  // @todo: this is a workaround due to mode vars not being able to use transparency
  @at-root .t-bolt-xlight #{&}:after {
    --c-www-quick-filters-fade-gradient: #{rgba(white, 0)};
  }

  @at-root .t-bolt-light #{&}:after {
    --c-www-quick-filters-fade-gradient: #{rgba(bolt-color(gray, xlight), 0)};
  }

  @at-root .t-bolt-dark #{&}:after {
    --c-www-quick-filters-fade-gradient: #{rgba(bolt-color(navy), 0)};
  }

  @at-root .t-bolt-xdark #{&}:after {
    --c-www-quick-filters-fade-gradient: #{rgba(bolt-color(navy, dark), 0)};
  }

  @at-root .t-bolt-xxdark #{&}:after {
    --c-www-quick-filters-fade-gradient: #{rgba(black, 0)};
  }
}

.c-www-quick-filters__list,
.c-www-quick-filters__more {
  display: flex;
  align-items: center;
  height: 100%;
  padding: #{$www-quick-filters-shadow-offset} 0;
}

.c-www-quick-filters__list {
  @include bolt-horizontal-scroll;
  margin: 0;
}

.c-www-quick-filters__list-item {
  display: flex;
  flex-wrap: nowrap;
  padding-right: var(--bolt-spacing-x-xsmall);

  &:first-child {
    padding-left: #{$www-quick-filters-fade-width};
  }

  &:last-child {
    padding-right: #{$www-quick-filters-fade-width};
  }
}

.c-www-quick-filters__input {
  @include bolt-visuallyhidden;

  &:checked + .e-bolt-button--secondary,
  &:focus + .e-bolt-button--secondary {
    transform: translate3d(0, 0, 0);
    color: var(--m-bolt-link);
    box-shadow: 0 0 0 1px var(--m-bolt-link);

    &:after {
      display: none;
    }
  }

  &:focus + .e-bolt-button--secondary {
    color: var(--m-bolt-headline);
    box-shadow: none;
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }

  &:checked:focus + .e-bolt-button--secondary {
    color: var(--m-bolt-link);
  }
}
