/* ------------------------------------ *\
   Side nav
\* ------------------------------------ */

.c-bolt-side-nav {
  @include bolt-mq(medium) {
    position: relative;
    overflow: hidden;
    padding: 1px;
  }
}

.c-bolt-side-nav__trigger {
  display: none;

  @include bolt-mq(medium) {
    @include bolt-button-native-styles-reset;

    display: grid;
    width: var(--bolt-spacing-x-medium);
    height: var(--bolt-spacing-x-medium);
    font-size: var(--bolt-type-font-size-medium);
    font-weight: var(--bolt-type-font-weight-bold);
    color: var(--m-bolt-bg);
    line-height: var(--bolt-type-line-height-medium);
    border-radius: bolt-border-radius(full);
    box-shadow: 0 0 0.125em currentColor;
    background-color: var(--m-bolt-headline);
    transition: opacity var(--bolt-transition),
      background-color var(--bolt-transition);
    place-items: center;

    > * {
      transition: transform var(--bolt-transition);
    }

    &[aria-expanded='true'] {
      opacity: 0.8;
      position: absolute;
      top: calc(
        (
            var(--bolt-type-line-height-medium) * 1rem +
              var(--bolt-spacing-y-small)
          ) / 2
      );
      right: var(--bolt-spacing-x-xsmall);
      transform: translate3d(0, -50%, 0);

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    &[aria-expanded='false'] {
      > * {
        transform: rotate(540deg);
      }

      & ~ .c-bolt-side-nav__content {
        display: none;
      }
    }

    &:hover {
      background-color: var(--m-bolt-link);
    }

    &:focus {
      outline: var(--bolt-focus-ring);
      outline-offset: 0;
    }
  }
}

.c-bolt-side-nav__trigger__text {
  @include bolt-mq(medium) {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-side-nav__content {
  @include bolt-mq(medium) {
    width: unquote('max(250px, 15vw)');
  }
}

.c-bolt-side-nav__header {
  display: block;
  margin: 0;
  padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-small);
  font-size: var(--bolt-type-font-size-medium);
  font-weight: var(--bolt-type-font-weight-bold);
  color: var(--m-bolt-bg);
  line-height: var(--bolt-type-line-height-medium);
  border-radius: bolt-border-radius(small);
  background-color: var(--m-bolt-headline);

  @include bolt-mq(medium) {
    padding-right: var(--bolt-spacing-x-large);
  }
}

.c-bolt-side-nav__header__link {
  display: block;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }
}

.c-bolt-side-nav__list {
  margin: 0;
  padding: 0;
  font-size: var(--bolt-type-font-size-small);
  list-style: none;
  line-height: var(--bolt-type-line-height-small);

  .c-bolt-side-nav__list {
    grid-column: 1/3;
    margin-left: var(--bolt-spacing-x-xsmall);
  }
}

.c-bolt-side-nav__list-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 0;
  margin-top: 2px;
}

.c-bolt-side-nav__link {
  @include bolt-button-native-styles-reset;

  display: block;
  position: relative;
  padding: calc(var(--bolt-spacing-y-small) / 2) var(--bolt-spacing-x-small);
  color: var(--m-bolt-link);
  text-decoration: none;
  border-radius: bolt-border-radius(small);
  transition: color var(--bolt-transition);

  &:before,
  &:after {
    content: '';
    border-radius: inherit;
    transition: opacity var(--bolt-transition), height var(--bolt-transition);
  }

  &:before {
    opacity: 0.05;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bolt-color-navy-light);
  }

  &:hover {
    &:before {
      opacity: 0.1;
    }
  }

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: -1px;
  }

  &:not(#{&}--toggle-trigger) {
    &:after {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: var(--bolt-spacing-x-xxsmall);
      height: 0;
    }

    &:hover,
    &:focus,
    &[aria-current] {
      color: var(--m-bolt-headline);
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        height: 100%;
        background-color: var(--m-bolt-tertiary);
      }
    }

    &[aria-current] {
      font-weight: var(--bolt-type-font-weight-semibold);

      &:after {
        opacity: 1;
        height: 100%;
        background-color: var(--bolt-color-teal);
      }
    }
  }

  &--toggle-trigger {
    display: grid;
    width: var(--bolt-spacing-x-medium);
    margin-left: 1px;
    padding-right: 0;
    padding-left: 0;
    place-items: center;

    > * {
      transition: transform var(--bolt-transition);
    }

    &[aria-expanded='false'] {
      & ~ .c-bolt-side-nav__list {
        display: none;
      }
    }

    &[aria-expanded='true'] {
      > * {
        transform: rotate(540deg);
      }

      & ~ .c-bolt-side-nav__list {
        display: block;
      }
    }
  }
}
