{% set description %}
  A button is generally an inline interactive graphical element. Its main purpose is to help the user perform a function (sometimes navigate). <bolt-code-snippet display="inline" lang="html">&lt;button class="e-bolt-button"&gt;</bolt-code-snippet> is acceptable at rendering a button, though the Twig template is the recommended usage for Drupal.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Only text should be passed to the <bolt-code-snippet display="inline">content</bolt-code-snippet> prop. However, <bolt-code-snippet display="inline" lang="html">&lt;span&gt;</bolt-code-snippet>, <bolt-code-snippet display="inline" lang="html">&lt;em&gt;</bolt-code-snippet>, and <bolt-code-snippet display="inline" lang="html">&lt;strong&gt;</bolt-code-snippet> elements can be used.</bolt-li>
    <bolt-li>Button element is a replacement for the <a href="{{ link['viewall-components-button-deprecated'] }}" class="e-bolt-text-link">Button component</a>.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'This is a button',
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'This is a button',
  attributes: {
    type: 'button'
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<button type="button" class="e-bolt-button">This is a button</button>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Button',
  description: description,
  notes: notes,
  demo: demo,
  demo_light_dark: true,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
