{% set description %}
  A button is generally an inline interactive graphical element. Its main purpose is to help the user perform a function (sometimes navigate).
{% endset %}

{% set demo %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'This is a button',
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'This is a button',
  attributes: {
    type: 'button'
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<button type="button" class="e-bolt-button">This is a button</button>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Button',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
