{% set description %}
  Depending on if the <code>&lt;a&gt;</code> element or the <code>&lt;button&gt;</code> element is being used, the proper HTML attributes should be passed.
{% endset %}

{% set demo %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'This button has the "href", "target", and "id" attributes',
    attributes: {
      href: 'https://google.com',
      target: '_blank',
      id: 'js-bolt-some-unique-id'
    }
  } only %}
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li><code>&lt;a&gt;</code> requires the <code>href</code> attribute.</bolt-li>
    <bolt-li><code>&lt;button&gt;</code> requires the <code>type</code> attribute.</bolt-li>
  </bolt-ol>
{% endset %}

{% set twig_markup %}
{% verbatim %}
// <button>
{% include '@bolt-elements-button/button.twig' with {
  content: 'This button has the "type" attribute',
  attributes: {
    type: 'submit',
  }
} only %}

// <a>
{% include '@bolt-elements-button/button.twig' with {
  content: 'This button has the "href", "target", and "id" attributes',
  attributes: {
    href: 'https://google.com',
    target: '_blank',
    id: 'js-bolt-some-unique-id'
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<a href="https://google.com" target="_blank" id="js-bolt-some-unique-id" class="e-bolt-button">This button has the "href", "target", and "id" attributes</a>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'HTML Attributes for Button',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
