{% embed "@bolt-components-card-replacement/card-replacement.twig" with {
  horizontal: true,
  theme: "xlight",
  link_url: cardUrl,
} %}
  {% block media %}
    {% include "@academy/_icon-banner.twig" with {
      gradient: cardGradient,
      horizontal: true
    } %}
  {% endblock %}

  {% block body %}
    {# <div class="c-bolt-card__overflow-menu c-bolt-card__overflow-menu--top c-bolt-card__overflow-menu--right">
      <bolt-overflow-menu
        flip-menu
        label="Oveflow menu"
        tip-position="left"
        tip-alignment="center"
      >
        <bolt-overflow-menu-item>list item 1</bolt-overflow-menu-item>
        <bolt-overflow-menu-item>list item 2</bolt-overflow-menu-item>
        <bolt-overflow-menu-item>list item 3</bolt-overflow-menu-item>
      </bolt-overflow-menu>
    </div> #}

    <div class="u-bolt-overflow-hidden">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--border" %}
        {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
          {% if cardSubtitle %}
            {% include "@bolt-components-headline/eyebrow.twig" with {
              text: cardSubtitle,
            } only %}
          {% endif %}

          {% if cardTitle %}
            {% include "@bolt-components-headline/headline.twig" with {
              text: cardTitle,
              size: "xlarge",
              attributes: {
                class: "u-bolt-margin-bottom-small",
              }
            } only %}
          {% endif %}
          {% if cardMetaItems %}
            {% include "@bolt-components-list/list.twig" with {
              display: "inline",
              separator: "solid",
              tag: "ul",
              items: cardMetaItems
            } %}
          {% endif %}
        {% endcell %}

        {% if cardDescription %}
          {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
            {% include "@bolt-components-headline/text.twig" with {
              text: cardDescription,
              size: "small",
              attributes: {
                class: [
                  "u-bolt-padding-top-xsmall@small",
                  "u-bolt-padding-bottom-xsmall@small",
                ]
              }
            } only %}
          {% endcell %}
        {% endif %}
      {% endgrid %}
    </div>
  {% endblock %}

{% endembed %}
