{% embed "@bolt-components-card-replacement/card-replacement.twig" with {
  horizontal: false,
  theme: "xlight",
  link_url: cardUrl,
} %}
  {% block media %}
  {# @todo: replace with 'u-bolt-position-relative' once it is working #}
  <div class="t-bolt-dark u-bolt-padding-medium" style="position: relative;">
    <div class="u-bolt-z-index-content" style="position: relative;">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--xsmall u-bolt-negative-margin-top-small u-bolt-negative-margin-right-small" %}
        {% cell "u-bolt-margin-left-auto" %}
          {% include "@academy/_toolbar-actions.twig" with {
            addButton: true
          } %}
        {% endcell %}

        {% cell "u-bolt-width-1/1" %}
          {% if cardSubtitle %}
            {% include "@bolt-components-headline/eyebrow.twig" with {
              text: cardSubtitle
            } only %}
          {% endif %}
          {% if cardTitle %}
            {% include "@bolt-components-headline/headline.twig" with {
              text: cardTitle,
              size: "xlarge"
            } only %}
          {% endif %}
        {% endcell %}

      {% endgrid %}
    </div>
    {% include "@academy/_icon-banner.twig" with {
      gradient: cardGradient
    } %}
  </div>
  {% endblock %}

  {% block body %}
    <div class="u-bolt-overflow-hidden">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--small" %}
        {% cell "u-bolt-width-12/12" %}
          {% if cardMetaItems %}
            {% include "@bolt-components-list/list.twig" with {
              display: "inline",
              separator: "solid",
              tag: "ul",
              items: cardMetaItems
            } %}
          {% endif %}
        {% endcell %}
        {% if cardDescription %}
          {% cell "u-bolt-width-12/12" %}
            {% include "@bolt-components-headline/text.twig" with {
              text: cardDescription,
              size: "medium"
            } only %}
          {% endcell %}
        {% endif %}
      {% endgrid %}
    </div>
  {% endblock %}
{% endembed %}
