/* ==========================================================================
   #PARAGRAPHS
   ========================================================================== */

@include add-module(
  $name:    'elements.paragraphs',
  $version: '0.0.0',
  $dependencies: ()
);

// p {
//   // margin-bottom: $spacing-unit-large;
//   // @include font-size(base);
// }
