/* ==========================================================================
   #IMAGES
   ========================================================================== */

@include add-module(
  $name:    'elements.images',
  $version: '1.0.0',
  $dependencies: ()
);

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  fill: currentColor;
}
