bolt-carousel[stacked] bolt-carousel-slide {
  min-width: 240px;

  // @todo: refactor to use CSS Variables to adjust styles based on context
  bolt-card {
    $bolt-global-shadow-depth-xlarge: 0 19px 38px rgba(bolt-color(black), 0.3),
      0 15px 12px rgba(bolt-color(black), 0.22);
    box-shadow: $bolt-global-shadow-depth-xlarge;
    background-color: var(--m-bolt-bg);
  }

  @include bolt-mq($from: small) {
    min-width: 320px;
  }

  $smallOverlap: var(--bolt-spacing-x-large);
  $mediumOverlap: calc(#{$smallOverlap} * 1.5);
  $largeOverlap: calc(#{$mediumOverlap} * 1.5);

  &:not(:first-child):not(.is-ready) {
    margin-left: calc(#{$smallOverlap} * -1);

    @include bolt-mq($from: small) {
      margin-left: calc(#{$mediumOverlap} * -1);
    }

    @include bolt-mq($from: medium) {
      margin-left: calc(#{$largeOverlap} * -1);
    }
  }

  &:focus-within,
  &:hover {
    transform: translate(0, calc(var(--bolt-spacing-y-medium) * -1));

    & ~ bolt-carousel-slide {
      transform: translateX(calc(#{$smallOverlap} / 2));

      @include bolt-mq($from: small) {
        transform: translateX(calc(#{$mediumOverlap} / 2));
      }

      @include bolt-mq($from: medium) {
        transform: translateX(calc(#{$largeOverlap} / 2))
          translateX(var(--bolt-spacing-x-small));
      }
    }
  }
}
