@import '@bolt/core-v3.x';

bolt-carousel {
  display: flex;
  align-items: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  &.is-ready {
    overflow: visible;
  }

  &:not(:last-child){
    @include bolt-margin-bottom(medium);
  }

  // add custom scrollbar styling till JS kicks in
  &:not(.is-ready){
    &:not([no-pagination]){
      @include bolt-carousel-scrollbar;
      padding-bottom: calc(#{$bolt-carousel-bullet-height} + #{bolt-v-spacing(xsmall)});
    }

    overflow-x: auto;
    overflow-y: hidden;

    @include bolt-mq($until: medium){
      overflow-x: visible;
    }
  }
}

.c-bolt-carousel {
  @include bolt-z-index(content); /* Fix of Webkit flickering */

  position: relative;
  width: auto;
  width: 100%;
  max-width: 100%;
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  &--overflow {
    overflow: visible;
  }

  &--no-overflow {
    min-width: calc(100% + var(--bolt-carousel-space-around) * 2);
    overflow: hidden;
    margin-right: calc(var(--bolt-carousel-space-around) * -1);
    margin-left: calc(var(--bolt-carousel-space-around) * -1);
    padding-right: var(--bolt-carousel-space-around);
    padding-left:var(--bolt-carousel-space-around);
  }
}

.c-bolt-carousel__wrapper {
  display: flex;
  box-sizing: content-box;
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: auto;
  transition-property:transform;
}

.c-bolt-carousel--invisible-blank {
  visibility: hidden;
}

/* IE10 Windows Phone 8 Fixes */
.c-bolt-carousel--wp8-horizontal {
  &, & > .c-bolt-carousel__wrapper {
    touch-action: pan-y;
  }
}
.c-bolt-carousel--wp8-vertical {
  &, & > .c-bolt-carousel__wrapper {
    touch-action: pan-x;
  }
}


// carousel's nav position-specific styles
// if nav-position isn't specified, set to default
bolt-carousel[no-nav-buttons].is-ready,
bolt-carousel[nav-button-position="outside"].is-ready {
  @include bolt-padding-left(bolt-spacing(medium));
  @include bolt-padding-right(bolt-spacing(medium));
  min-width: calc(100% + #{bolt-spacing(medium) * 2});
  margin-right: (bolt-spacing(medium)) * -1;
  margin-left: (bolt-spacing(medium)) * -1;

  // mirror approach used by Wrapper at larger screen sizes
  @include bolt-mq(medium) {
    @include bolt-padding-left(large);
    @include bolt-padding-right(large);
    min-width: calc(100% + #{bolt-spacing(large) * 2});
    margin-right: (bolt-spacing(large)) * -1;
    margin-left: (bolt-spacing(large)) * -1;
  }
}

// carousel space-between slides
bolt-carousel {
  &[space-between="none"] {
    --bolt-carousel-space-between: 0rem;
  }

  &[space-between="small"] {
    --bolt-carousel-space-between: #{bolt-spacing(small)};
  }

  &,
  &[space-between="medium"] {
    --bolt-carousel-space-between: #{bolt-spacing(medium)};
  }

  &[space-between="large"] {
    --bolt-carousel-space-between: #{bolt-spacing(large)};
  }
}


// extra space around-specific styles
bolt-carousel {
  --bolt-carousel-space-around: #{$bolt-carousel-space-around};

  width: 100%;
  width: calc(100% + #{$bolt-carousel-space-around} * 2);
  width: calc(100% + var(--bolt-carousel-space-around) * 2);
  margin-right: calc(#{$bolt-carousel-space-around} * -1);
  margin-right: calc(var(--bolt-carousel-space-around) * -1);
  margin-left: calc(#{$bolt-carousel-space-around} * -1);
  margin-left: calc(var(--bolt-carousel-space-around) * -1);

  &.is-ready {
    // using a much larger space-around value isn't needed until JS kicks in (when cards can be raised while hovering over them)
    --bolt-carousel-space-around: 16px;
    max-width: calc(100vw + var(--bolt-carousel-space-around) * 2);
    padding-right: #{$bolt-carousel-space-around};
    padding-right: var(--bolt-carousel-space-around);
    padding-left: #{$bolt-carousel-space-around};
    padding-left: var(--bolt-carousel-space-around);
  }
}
