bolt-carousel-cta {
  // background-image: linear-gradient(180deg, #009999 0%, #06304b 100%);
  @include bolt-padding-left(small);
  min-width: 240px;
  max-width: 320px;

  & + bolt-carousel {
    @include bolt-padding-left(bolt-spacing(medium) + bolt-spacing(small));
    @include bolt-margin-bottom(0);
  
    @media (max-width: bolt-bp(medium)) {
      overflow: visible;
    }
  }
}
