bolt-carousel[stacked] bolt-carousel-slide {
  min-width: 240px;

  // @todo: refactor to use CSS Variables to adjust styles based on context
  bolt-card {
    $bolt-global-shadow-depth-xlarge: 0 19px 38px rgba(bolt-color(black), 0.3),  0 15px 12px rgba(bolt-color(black), 0.22);
    box-shadow: $bolt-global-shadow-depth-xlarge;
    background-color: bolt-color(white);
    background-color: bolt-theme(background);
  }

  @include bolt-mq($from: small){
    min-width: 320px;
  }

  $smallOverlap: bolt-spacing(large);
  $mediumOverlap: $smallOverlap * 1.5;
  $largeOverlap: $mediumOverlap * 1.5;

  &:not(:first-child):not(.is-ready) {
    margin-left: $smallOverlap * -1;
    
    @include bolt-mq($from: small){
      margin-left: $mediumOverlap * -1;
    }

    @include bolt-mq($from: medium){
      margin-left: $largeOverlap * -1;
    }
  }

  &:focus-within,
  &:hover {
    transform: translate(0, bolt-v-spacing(medium) * -1);

    & ~ bolt-carousel-slide {
      transform: translateX($smallOverlap / 2);
      
      @include bolt-mq($from: small){
        transform: translateX($mediumOverlap / 2);
      }

      @include bolt-mq($from: medium){
        transform: translateX($largeOverlap / 2) translateX(bolt-spacing(small));
      }
    }
  }
}