@import '@bolt/core';
@import 'swiper-styles';
@import '_swiper-nav-buttons.scss';
@import '_swiper-pagination.scss';
@import '_swiper-scrollbar.scss';

@import '_carousel-vars.scss';
@import 'carousel-slide.scss';
// @import 'carousel-band.scss';
// @import 'carousel-cta.scss';

// // Local carousel Variables

// // Register Custom Block Element
// @include bolt-custom-element('bolt-carousel', flex, large);

bolt-carousel {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: stretch;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  @include bolt-margin-bottom(medium);

  &:not(.is-ready){
    @include bolt-carousel-scrollbar;
    // @include bolt-margin-right(bolt-spacing(medium) * -1);
    // width: auto;
  }

  &.is-ready {
    overflow: hidden;
    // max-width: 100%;
    // overflow: visible; // so overflowing slides are slightly visible
  }
  
  
  // &[width="full"]{
  //   // width: calc(100vw - #{bolt-spacing(large)});
  //   @include bolt-margin-right(bolt-spacing(large) * -1);
  // }

  // &.is-ready {
  //   @include bolt-padding(0);
  // }

  &[full-bleed]{
    @include bolt-margin-left(bolt-spacing(medium) * -1);
    @include bolt-margin-right(bolt-spacing(medium) * -1);
    width: calc(100% + #{bolt-spacing(medium)} * 2);

    @include bolt-mq(medium) {
      // @include bolt-padding-left(large);
      // @include bolt-padding-right(large);
      @include bolt-margin-left(bolt-spacing(large) * -1);
      @include bolt-margin-right(bolt-spacing(large) * -1);
      width: calc(100% + #{bolt-spacing(large)} * 2);
    }
  }

  &[nav-position="outside"]{
    @include bolt-padding-left(bolt-spacing(medium) + bolt-spacing(small));
    @include bolt-padding-right(bolt-spacing(medium) + bolt-spacing(small));

    &[full-bleed]{
      @include bolt-padding-left(bolt-spacing(large) + bolt-spacing(small));
      @include bolt-padding-right(bolt-spacing(large) + bolt-spacing(small));

      @include bolt-mq(medium) {
        @include bolt-padding-left(bolt-spacing(xlarge) + bolt-spacing(small));
        @include bolt-padding-right(bolt-spacing(xlarge) + bolt-spacing(small));
      }
    }
  }

  &[spacing="none"]{
    // @include bolt-margin-bottom(medium);
    @include bolt-padding(0 xsmall);
    --carousel-outer-spacing: #{bolt-v-spacing(xsmall)};
  }

  &[spacing="small"]{
    @include bolt-margin-bottom(small);
    @include bolt-padding(small xsmall);
    --carousel-outer-spacing: #{bolt-v-spacing(small)};
  }

  &,
  &[spacing="medium"]{
    @include bolt-margin-bottom(medium);
    @include bolt-padding(medium xsmall);
    --carousel-outer-spacing: #{bolt-v-spacing(medium)};
  }

  &[spacing="large"]{
    @include bolt-margin-bottom(large);
    @include bolt-padding(large xsmall);
    --carousel-outer-spacing: #{bolt-v-spacing(large)};
  }

  &[no-scroll-snap]{
    scroll-snap-type: none;
  }

  &:not(.is-ready){
    @include bolt-mq($until: medium){
      overflow-x: visible;
    }
  }



  
}
