{% set schema = bolt.data.components["@bolt-components-action-blocks"].schema %}

{% set borderless_options = [
    {
      label: "True",
      value: true
    },
    {
      label: "False",
      value: false
    }
  ]
%}

{% set icon_1 %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "download",
    size: "large"
  } %}
{% endset %}

{% set icon_2 %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "copy-to-clipboard",
    size: "large"
  } %}
{% endset %}

{% set icon_3 %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "calendar",
    size: "large"
  }%}
{% endset %}

{# {% for borderless_option in borderless_options %} #}
{% for borderless in schema.properties.borderless.enum %}
  <h3>
    Borderless: {% if borderless is sameas(true) %}true{% elseif borderless is sameas(false) %}false{% endif %}
  </h3>
  <div class="u-bolt-margin-bottom-medium">
    {% include "@bolt-components-action-blocks/action-blocks.twig" with {
      borderless: borderless,
      contentItems: [
        {
          text: "Item 1",
          content: icon_1,
        },
        {
          text: "Item 2",
          url: "#!",
          content: icon_2,
        },
        {
          text: "Item 3",
          url: "#!",
          content: icon_3,
        }
      ]
    } only %}
  </div>
{% endfor %}
