{% set schema = bolt.data.components["@bolt-components-action-blocks"].schema %}

{% for spacing in schema.properties.spacing.enum %}
  <h3>Spacing: {{ spacing }}</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% include "@bolt-components-action-blocks/action-blocks.twig" with {
      spacing: spacing,
      contentItems: [
        {
          text: "Item 1 with a long line of text",
          url: "#!",
          icon: {
            name: "download",
          }
        },
        {
          text: "Item 2 with a long line of text",
          url: "#!",
          icon: {
            name: "copy-to-clipboard",
          }
        },
        {
          text: "Item 3 with a long line of text",
          url: "#!",
          icon: {
            name: "calendar",
          }
        },
        {
          text: "Item 4 with a long line of text",
          url: "#!",
          icon: {
            name: "external-link",
          }
        },
        {
          text: "Item 5 with a long line of text",
          url: "#!",
          icon: {
            name: "launchpad",
          }
        },
        {
          text: "Item 6 with a long line of text",
          url: "#!",
          icon: {
            name: "info-open",
          }
        },
      ]
    } only %}
  </div>
{% endfor %}
