<h2>valuePosition: <code>none</code></h2>
{% include "@bolt-components-progress-bar/progress-bar.twig" with {
  valuePosition: "none",
  value: "75",
} only %}

<h2>valuePosition: <code>top</code></h2>
{% include "@bolt-components-progress-bar/progress-bar.twig" with {
  valuePosition: "top",
  value: "75",
} only %}

<h2>valuePosition: <code>outside</code></h2>
{% include "@bolt-components-progress-bar/progress-bar.twig" with {
  valuePosition: "outside",
  value: "75",
} only %}
