<div class="c-bds-docs t-bolt-xlight">
  {% if utility_name %}
    <div class="c-bds-docs__page-intro">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxxlarge",
        tag: "h1",
        text: utility_name
      } only %}
    </div>
  {% endif %}
  <div class="c-bds-docs__page-content">
    <div class="c-bds-docs__readme u-bolt-margin-bottom-large">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#utility-description",
        text: "Utility Description",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bds-docs__heading-fragment"
          ],
          id: "utility-description"
        }
      } only %}
      <div class="c-bds-docs__lead">
        {% block utility_description %}
          <p>Description block empty.</p>
        {% endblock %}
      </div>
    </div>

    <div class="c-bds-docs__utility-demo u-bolt-margin-bottom-large">
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#demo",
        text: "Demo",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bds-docs__heading-fragment"
          ],
          id: "demo"
        }
      } only %}
      <div class="c-bds-docs__lead">
        {% block utility_demo %}
          <p>Demo block empty.</p>
        {% endblock %}
      </div>
    </div>
  </div>
  {% if sassdoc_items %}
    <div class="c-bds-docs__page-nav">
      {% set items = [] %}
      {% for item in sassdoc_items %}
        {% set items = items|merge(
          [
            include("@bolt-components-link/link.twig", {
              text: item.title,
              url: item.anchor,
              target: "_blank",
            }),
          ]
        ) %}
      {% endfor %}

      {% include "@bolt-components-headline/headline.twig" with {
        text: "SassDocs",
        size: "small",
        tag: "h3",
        attributes: {
          class: "u-bolt-margin-bottom-small"
        },
      } only %}
      {% include "@bolt-components-list/list.twig" with {
        display: "block",
        spacing: "xsmall",
        separator: "solid",
        items: items,
      } only %}
    </div>
  {% endif %}
</div>
