/*------------------------------------*\
  Body and heading declaration
\*------------------------------------*/
$breakpoint--min: map-get($breakpoints, small);
$breakpoint--max: map-get($breakpoints, large);


html {
  // Base type
  font-size: $font-size--min-px;

  // Responsive type
  @include respond-to(small) {
    font-size: calc(#{$font-size--min-px} + #{$font-size--max - $font-size--min} * (100vw - #{$breakpoint--min}) / (#{$breakpoint--max - $breakpoint--min}));
  }

  // Large type
  @include respond-to(large) {
    font-size: $font-size--max-px;
  }
}

body {
  @include font-family(body);
  @include font-size(base);

  // margin: 0;
  // padding: 0;
}
