@import 'src/_carousel-settings-and-tools.scss';
@import 'src/_carousel.scss';
@import 'src/_carousel-slide.scss';
@import 'src/_carousel-slide.slides-per-view.scss';

@import 'src/_carousel.a11y.scss';
@import 'src/_carousel.next-previous-buttons.scss';
@import 'src/_carousel.pagination.scss';
@import 'src/_carousel.scrollbar.scss';
