{% set exampleThemes = [
  "xlight",
  "light",
  "medium",
  "dark",
  "xdark"
] %}

<h3>Default Dropdown</h3>
<bolt-dropdown
  title="Toggle Menu"
>
  {% include "@bolt-components-block-list/block-list.twig" with {
    "items": [
      include("@bolt-components-link/link.twig", {
        "text": "Link 1 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 2 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 3 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 4 Text",
        "url": "#!"
      }),
    ]
  } %}
</bolt-dropdown>

<h3>Center</h3>
<bolt-dropdown
  center
  title="Custom Element w/ Center"
>
  {% include "@bolt-components-block-list/block-list.twig" with {
    "items": [
      include("@bolt-components-link/link.twig", {
        "text": "Link 1 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 2 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 3 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 4 Text",
        "url": "#!"
      }),
    ]
  } %}
</bolt-dropdown>

<h3>Collapse</h3>
<bolt-dropdown
  collapse
  title="Custom Element w/ Collapse"
>
  {% include "@bolt-components-block-list/block-list.twig" with {
    "items": [
      include("@bolt-components-link/link.twig", {
        "text": "Link 1 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 2 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 3 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 4 Text",
        "url": "#!"
      }),
    ]
  } %}
</bolt-dropdown>

<h3>Collapse and Center</h3>
<bolt-dropdown
  center
  collapse
  title="Custom Element w/ Collapse & Center"
>
  {% include "@bolt-components-block-list/block-list.twig" with {
    "items": [
      include("@bolt-components-link/link.twig", {
        "text": "Link 1 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 2 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 3 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 4 Text",
        "url": "#!"
      }),
    ]
  } %}
</bolt-dropdown>

<h3>Theme Variations</h3>
{% for theme in exampleThemes %}
  <div class="t-bolt-{{ theme }} u-bolt-padding-small u-bolt-height-xxlarge">
    <bolt-dropdown
      title="Toggle Menu"
      center
    >
    {% include "@bolt-components-block-list/block-list.twig" with {
      "items": [
        include("@bolt-components-link/link.twig", {
          "text": "Link 1 Text",
          "url": "#!"
        }),
        include("@bolt-components-link/link.twig", {
          "text": "Link 2 Text",
          "url": "#!"
        }),
        include("@bolt-components-link/link.twig", {
          "text": "Link 3 Text",
          "url": "#!"
        }),
        include("@bolt-components-link/link.twig", {
          "text": "Link 4 Text",
          "url": "#!"
        }),
      ]
    } %}
    </bolt-dropdown>
  </div>
{% endfor %}

<h3>Extra Long Header</h3>
<bolt-dropdown
  center
  title="Really Extremely Long Example Header Text Example">
  {% include "@bolt-components-block-list/block-list.twig" with {
    "items": [
      include("@bolt-components-link/link.twig", {
        "text": "Link 1 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 2 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 3 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 4 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 5 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 6 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 7 Text",
        "url": "#!"
      }),
      include("@bolt-components-link/link.twig", {
        "text": "Link 8 Text",
        "url": "#!"
      }),
    ]
  } %}
</bolt-dropdown>
