/* ------------------------------------ *\
   Ordered List
\* ------------------------------------ */

@import '@bolt/settings-colors';
@import '@bolt/settings-font-size';
@import '@bolt/settings-font-weight';
@import '@bolt/tools-spacing';
@import '@bolt/tools-color-palette';


.c-bolt-ordered-list {
  @include bolt-margin-left(0);
  @include bolt-padding(0);

  list-style: none;
  counter-reset: li;
}

.c-bolt-ordered-list__item {
  @include bolt-margin(0 0 small medium);
  @include bolt-padding(0 0 small 0);

  position: relative;
  counter-increment: li;

  &:before {
    @include bolt-font-size(xsmall);
    @include bolt-font-weight(bold);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.125em;
    left: bolt-spacing(medium) * -1;
    width: $bolt-line-height--xsmall + rem;
    height: $bolt-line-height--xsmall + rem;
    color: var(--bolt-color-heading, bolt-color(indigo)); // TODO: refactor this after theming is done.
    content: counter(li);
    text-align: center;
    border-radius: 100em;
    background-color: rgba(bolt-color(gray), 0.2);
  }
}
