{# Sample Usage
  {% include "@bolt/ordered-list.twig" with {
    items : [
      {
        text: "Item 1"
      },
      {
        text: "Item 2"
      },
      {
        text: "Item 3"
      }
    ]
  } only %}
#}


{% set prefix = "c-bolt-" %}

{% set attributes = create_attribute(attributes|default({})) %}

{% set componentName = "ordered-list" %}
{% set baseClass = prefix ~ componentName %}


{% set classes = [
  baseClass
] %}


<bolt-ordered-list bolt-component>
  <ol {{ attributes.addClass(classes) }}>
    {% for listItem in items %}
      <li class="{{ "#{baseClass}__item" }}">
        {% if listItem.text %}
          {{ listItem.text }}
        {% elseif listItem.items %}
          {% for item in listItem.items %}
            {% include "@bolt/text.twig" with item only %}
          {% endfor %}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</bolt-ordered-list>
