<ol class="c-bolt-ordered-list">
  <li class="c-bolt-ordered-list__item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
  <li class="c-bolt-ordered-list__item">Aliquam tincidunt mauris eu risus.</li>
  <li class="c-bolt-ordered-list__item">Vestibulum auctor dapibus neque.</li>
</ol>
