/* ------------------------------------ *\
  Floating Action Buttons
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-floating-action-buttons', block, medium);

$default-x-offset: var(--bolt-spacing-x-xsmall);
$default-y-offset: var(--bolt-spacing-y-xsmall);

.c-bolt-floating-action-buttons {
  z-index: bolt-z-index('fab');

  // must both be ready && not have aria-hidden before showing
  &:not([data-bolt-ready]),
  &[aria-hidden='true'] {
    @include bolt-visuallyhidden;
  }

  &__content {
    margin-bottom: 0;
    margin-left: 0;
  }

  &__content-item {
    display: block;
    margin-bottom: var(--bolt-spacing-y-xxsmall);
    transition: all var(--bolt-transition);
  }

  // Hide hidden content items
  &__content-item[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    margin-bottom: -100%;
  }
}

// position prop
$bolt-fab-position: 'bottom', 'middle', 'top';

@each $position in $bolt-fab-position {
  .c-bolt-floating-action-buttons--position-#{$position}-right {
    position: fixed;
    right: var(--c-bolt-floating-action-buttons-offset-x, $default-x-offset);

    @if index($position, 'middle') {
      top: calc(50% + var(--c-bolt-floating-action-buttons-offset-y));
      transform: translateY(-50%);
    } @else {
      #{$position}: var(
        --c-bolt-floating-action-buttons-offset-y,
        $default-y-offset
      );
    }
  }
}
