@import '@bolt/core-v3.x';

// Local <%= props.name.kebabCase %> Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-<%= props.name.kebabCase %>', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-<%= props.name.kebabCase %> {
  //Styles go here. /* [1] */
  display: block;
}
