:root {
    --primary-700: 48, 48, 48;
    --primary-600: 56, 56, 56;
    --primary-500: 80, 80, 80;
    --primary-400: 102, 106, 107;
    --primary-300: 156, 160, 160;
    --primary-200: 204, 206, 206;
    --primary-100: 242, 242, 244;
    --primary-50: 248, 248, 249;
    --primary-0: 255, 255, 255;
    --accent-700: 9, 103, 150;
    --accent-600: 10, 135, 198;
    --accent-500: 4, 162, 214;
    --accent-400: 0, 190, 232;
    --accent-300: 76, 209, 239;
    --accent-200: 150, 225, 237;
    --accent-100: 230, 249, 252;
}

.dark {
    --primary-700: 255, 255, 255;
    --primary-600: 248, 248, 249;
    --primary-500: 242, 242, 244;
    --primary-400: 204, 206, 206;
    --primary-300: 156, 160, 160;
    --primary-200: 102, 106, 107;
    --primary-100: 80, 80, 80;
    --primary-50: 56, 56, 56;
    --primary-0: 48, 48, 48;
    --accent-700: 230, 249, 252;
    --accent-600: 150, 225, 237;
    --accent-500: 76, 209, 239;
    --accent-400: 0, 190, 232;
    --accent-300: 4, 162, 214;
    --accent-200: 10, 135, 198;
    --accent-100: 9, 103, 150;
}

/**
 * Credits to https://github.com/acss-io/atomizer/blob/master/src/lib/grammar.js
 */
.primary-700-background-color, .dark .primary-700-background-color {
    background-color: rgba(var(--primary-700), 1);
}

.primary-600-background-color, .dark .primary-600-background-color {
    background-color: rgba(var(--primary-600), 1);
}

.primary-500-background-color, .dark .primary-500-background-color {
    background-color: rgba(var(--primary-500), 1);
}

.primary-400-background-color, .dark .primary-400-background-color {
    background-color: rgba(var(--primary-400), 1);
}

.primary-300-background-color, .dark .primary-300-background-color {
    background-color: rgba(var(--primary-300), 1);
}

.primary-200-background-color, .dark .primary-200-background-color {
    background-color: rgba(var(--primary-200), 1);
}

.primary-100-background-color, .dark .primary-100-background-color {
    background-color: rgba(var(--primary-100), 1);
}

.primary-50-background-color, .dark .primary-50-background-color {
    background-color: rgba(var(--primary-50), 1);
}

.primary-0-background-color, .dark .primary-0-background-color {
    background-color: rgba(var(--primary-0), 1);
}

.accent-700-background-color, .dark .accent-700-background-color {
    background-color: rgba(var(--accent-700), 1);
}

.accent-600-background-color, .dark .accent-600-background-color {
    background-color: rgba(var(--accent-600), 1);
}

.accent-500-background-color, .dark .accent-500-background-color {
    background-color: rgba(var(--accent-500), 1);
}

.accent-400-background-color, .dark .accent-400-background-color {
    background-color: rgba(var(--accent-400), 1);
}

.accent-300-background-color, .dark .accent-300-background-color {
    background-color: rgba(var(--accent-300), 1);
}

.accent-200-background-color, .dark .accent-200-background-color {
    background-color: rgba(var(--accent-200), 1);
}

.accent-100-background-color, .dark .accent-100-background-color {
    background-color: rgba(var(--accent-100), 1);
}

.primary-700-background-color, .dark .primary-700-background-color {
    background-color: rgba(var(--primary-700), 1);
}

.primary-600-background-color, .dark .primary-600-background-color {
    background-color: rgba(var(--primary-600), 1);
}

.primary-500-background-color, .dark .primary-500-background-color {
    background-color: rgba(var(--primary-500), 1);
}

.primary-400-background-color, .dark .primary-400-background-color {
    background-color: rgba(var(--primary-400), 1);
}

.primary-300-background-color, .dark .primary-300-background-color {
    background-color: rgba(var(--primary-300), 1);
}

.primary-200-background-color, .dark .primary-200-background-color {
    background-color: rgba(var(--primary-200), 1);
}

.primary-100-background-color, .dark .primary-100-background-color {
    background-color: rgba(var(--primary-100), 1);
}

.primary-50-background-color, .dark .primary-50-background-color {
    background-color: rgba(var(--primary-50), 1);
}

.primary-0-background-color, .dark .primary-0-background-color {
    background-color: rgba(var(--primary-0), 1);
}

.accent-700-background-color, .dark .accent-700-background-color {
    background-color: rgba(var(--accent-700), 1);
}

.accent-600-background-color, .dark .accent-600-background-color {
    background-color: rgba(var(--accent-600), 1);
}

.accent-500-background-color, .dark .accent-500-background-color {
    background-color: rgba(var(--accent-500), 1);
}

.accent-400-background-color, .dark .accent-400-background-color {
    background-color: rgba(var(--accent-400), 1);
}

.accent-300-background-color, .dark .accent-300-background-color {
    background-color: rgba(var(--accent-300), 1);
}

.accent-200-background-color, .dark .accent-200-background-color {
    background-color: rgba(var(--accent-200), 1);
}

.accent-100-background-color, .dark .accent-100-background-color {
    background-color: rgba(var(--accent-100), 1);
}

.primary-700-fill, .dark .primary-700-fill {
    fill: rgba(var(--primary-700), 1);
}

.primary-600-fill, .dark .primary-600-fill {
    fill: rgba(var(--primary-600), 1);
}

.primary-500-fill, .dark .primary-500-fill {
    fill: rgba(var(--primary-500), 1);
}

.primary-400-fill, .dark .primary-400-fill {
    fill: rgba(var(--primary-400), 1);
}

.primary-300-fill, .dark .primary-300-fill {
    fill: rgba(var(--primary-300), 1);
}

.primary-200-fill, .dark .primary-200-fill {
    fill: rgba(var(--primary-200), 1);
}

.primary-100-fill, .dark .primary-100-fill {
    fill: rgba(var(--primary-100), 1);
}

.primary-50-fill, .dark .primary-50-fill {
    fill: rgba(var(--primary-50), 1);
}

.primary-0-fill, .dark .primary-0-fill {
    fill: rgba(var(--primary-0), 1);
}

.accent-700-fill, .dark .accent-700-fill {
    fill: rgba(var(--accent-700), 1);
}

.accent-600-fill, .dark .accent-600-fill {
    fill: rgba(var(--accent-600), 1);
}

.accent-500-fill, .dark .accent-500-fill {
    fill: rgba(var(--accent-500), 1);
}

.accent-400-fill, .dark .accent-400-fill {
    fill: rgba(var(--accent-400), 1);
}

.accent-300-fill, .dark .accent-300-fill {
    fill: rgba(var(--accent-300), 1);
}

.accent-200-fill, .dark .accent-200-fill {
    fill: rgba(var(--accent-200), 1);
}

.accent-100-fill, .dark .accent-100-fill {
    fill: rgba(var(--accent-100), 1);
}

.primary-700-fill, .dark .primary-700-fill {
    fill: rgba(var(--primary-700), 1);
}

.primary-600-fill, .dark .primary-600-fill {
    fill: rgba(var(--primary-600), 1);
}

.primary-500-fill, .dark .primary-500-fill {
    fill: rgba(var(--primary-500), 1);
}

.primary-400-fill, .dark .primary-400-fill {
    fill: rgba(var(--primary-400), 1);
}

.primary-300-fill, .dark .primary-300-fill {
    fill: rgba(var(--primary-300), 1);
}

.primary-200-fill, .dark .primary-200-fill {
    fill: rgba(var(--primary-200), 1);
}

.primary-100-fill, .dark .primary-100-fill {
    fill: rgba(var(--primary-100), 1);
}

.primary-50-fill, .dark .primary-50-fill {
    fill: rgba(var(--primary-50), 1);
}

.primary-0-fill, .dark .primary-0-fill {
    fill: rgba(var(--primary-0), 1);
}

.accent-700-fill, .dark .accent-700-fill {
    fill: rgba(var(--accent-700), 1);
}

.accent-600-fill, .dark .accent-600-fill {
    fill: rgba(var(--accent-600), 1);
}

.accent-500-fill, .dark .accent-500-fill {
    fill: rgba(var(--accent-500), 1);
}

.accent-400-fill, .dark .accent-400-fill {
    fill: rgba(var(--accent-400), 1);
}

.accent-300-fill, .dark .accent-300-fill {
    fill: rgba(var(--accent-300), 1);
}

.accent-200-fill, .dark .accent-200-fill {
    fill: rgba(var(--accent-200), 1);
}

.accent-100-fill, .dark .accent-100-fill {
    fill: rgba(var(--accent-100), 1);
}

.primary-700-color, .dark .primary-700-color {
    color: rgba(var(--primary-700), 1);
}

.primary-600-color, .dark .primary-600-color {
    color: rgba(var(--primary-600), 1);
}

.primary-500-color, .dark .primary-500-color {
    color: rgba(var(--primary-500), 1);
}

.primary-400-color, .dark .primary-400-color {
    color: rgba(var(--primary-400), 1);
}

.primary-300-color, .dark .primary-300-color {
    color: rgba(var(--primary-300), 1);
}

.primary-200-color, .dark .primary-200-color {
    color: rgba(var(--primary-200), 1);
}

.primary-100-color, .dark .primary-100-color {
    color: rgba(var(--primary-100), 1);
}

.primary-50-color, .dark .primary-50-color {
    color: rgba(var(--primary-50), 1);
}

.primary-0-color, .dark .primary-0-color {
    color: rgba(var(--primary-0), 1);
}

.accent-700-color, .dark .accent-700-color {
    color: rgba(var(--accent-700), 1);
}

.accent-600-color, .dark .accent-600-color {
    color: rgba(var(--accent-600), 1);
}

.accent-500-color, .dark .accent-500-color {
    color: rgba(var(--accent-500), 1);
}

.accent-400-color, .dark .accent-400-color {
    color: rgba(var(--accent-400), 1);
}

.accent-300-color, .dark .accent-300-color {
    color: rgba(var(--accent-300), 1);
}

.accent-200-color, .dark .accent-200-color {
    color: rgba(var(--accent-200), 1);
}

.accent-100-color, .dark .accent-100-color {
    color: rgba(var(--accent-100), 1);
}

.primary-700-color, .dark .primary-700-color {
    color: rgba(var(--primary-700), 1);
}

.primary-600-color, .dark .primary-600-color {
    color: rgba(var(--primary-600), 1);
}

.primary-500-color, .dark .primary-500-color {
    color: rgba(var(--primary-500), 1);
}

.primary-400-color, .dark .primary-400-color {
    color: rgba(var(--primary-400), 1);
}

.primary-300-color, .dark .primary-300-color {
    color: rgba(var(--primary-300), 1);
}

.primary-200-color, .dark .primary-200-color {
    color: rgba(var(--primary-200), 1);
}

.primary-100-color, .dark .primary-100-color {
    color: rgba(var(--primary-100), 1);
}

.primary-50-color, .dark .primary-50-color {
    color: rgba(var(--primary-50), 1);
}

.primary-0-color, .dark .primary-0-color {
    color: rgba(var(--primary-0), 1);
}

.accent-700-color, .dark .accent-700-color {
    color: rgba(var(--accent-700), 1);
}

.accent-600-color, .dark .accent-600-color {
    color: rgba(var(--accent-600), 1);
}

.accent-500-color, .dark .accent-500-color {
    color: rgba(var(--accent-500), 1);
}

.accent-400-color, .dark .accent-400-color {
    color: rgba(var(--accent-400), 1);
}

.accent-300-color, .dark .accent-300-color {
    color: rgba(var(--accent-300), 1);
}

.accent-200-color, .dark .accent-200-color {
    color: rgba(var(--accent-200), 1);
}

.accent-100-color, .dark .accent-100-color {
    color: rgba(var(--accent-100), 1);
}

.primary-700-stroke, .dark .primary-700-stroke {
    stroke: rgba(var(--primary-700), 1);
}

.primary-600-stroke, .dark .primary-600-stroke {
    stroke: rgba(var(--primary-600), 1);
}

.primary-500-stroke, .dark .primary-500-stroke {
    stroke: rgba(var(--primary-500), 1);
}

.primary-400-stroke, .dark .primary-400-stroke {
    stroke: rgba(var(--primary-400), 1);
}

.primary-300-stroke, .dark .primary-300-stroke {
    stroke: rgba(var(--primary-300), 1);
}

.primary-200-stroke, .dark .primary-200-stroke {
    stroke: rgba(var(--primary-200), 1);
}

.primary-100-stroke, .dark .primary-100-stroke {
    stroke: rgba(var(--primary-100), 1);
}

.primary-50-stroke, .dark .primary-50-stroke {
    stroke: rgba(var(--primary-50), 1);
}

.primary-0-stroke, .dark .primary-0-stroke {
    stroke: rgba(var(--primary-0), 1);
}

.accent-700-stroke, .dark .accent-700-stroke {
    stroke: rgba(var(--accent-700), 1);
}

.accent-600-stroke, .dark .accent-600-stroke {
    stroke: rgba(var(--accent-600), 1);
}

.accent-500-stroke, .dark .accent-500-stroke {
    stroke: rgba(var(--accent-500), 1);
}

.accent-400-stroke, .dark .accent-400-stroke {
    stroke: rgba(var(--accent-400), 1);
}

.accent-300-stroke, .dark .accent-300-stroke {
    stroke: rgba(var(--accent-300), 1);
}

.accent-200-stroke, .dark .accent-200-stroke {
    stroke: rgba(var(--accent-200), 1);
}

.accent-100-stroke, .dark .accent-100-stroke {
    stroke: rgba(var(--accent-100), 1);
}

.primary-700-stroke, .dark .primary-700-stroke {
    stroke: rgba(var(--primary-700), 1);
}

.primary-600-stroke, .dark .primary-600-stroke {
    stroke: rgba(var(--primary-600), 1);
}

.primary-500-stroke, .dark .primary-500-stroke {
    stroke: rgba(var(--primary-500), 1);
}

.primary-400-stroke, .dark .primary-400-stroke {
    stroke: rgba(var(--primary-400), 1);
}

.primary-300-stroke, .dark .primary-300-stroke {
    stroke: rgba(var(--primary-300), 1);
}

.primary-200-stroke, .dark .primary-200-stroke {
    stroke: rgba(var(--primary-200), 1);
}

.primary-100-stroke, .dark .primary-100-stroke {
    stroke: rgba(var(--primary-100), 1);
}

.primary-50-stroke, .dark .primary-50-stroke {
    stroke: rgba(var(--primary-50), 1);
}

.primary-0-stroke, .dark .primary-0-stroke {
    stroke: rgba(var(--primary-0), 1);
}

.accent-700-stroke, .dark .accent-700-stroke {
    stroke: rgba(var(--accent-700), 1);
}

.accent-600-stroke, .dark .accent-600-stroke {
    stroke: rgba(var(--accent-600), 1);
}

.accent-500-stroke, .dark .accent-500-stroke {
    stroke: rgba(var(--accent-500), 1);
}

.accent-400-stroke, .dark .accent-400-stroke {
    stroke: rgba(var(--accent-400), 1);
}

.accent-300-stroke, .dark .accent-300-stroke {
    stroke: rgba(var(--accent-300), 1);
}

.accent-200-stroke, .dark .accent-200-stroke {
    stroke: rgba(var(--accent-200), 1);
}

.accent-100-stroke, .dark .accent-100-stroke {
    stroke: rgba(var(--accent-100), 1);
}

input[type="text"], .dark input[type="text"] {
    color: rgba(var(--accent-400), 1);
    background-color: rgba(var(--primary-500), 0.5);
    border: 1px solid rgba(var(--primary-300), 0.5);
}

h1, .dark h1 {
    color: rgba(var(--primary-600), 1);
    background: linear-gradient(to right, rgba(var(--primary-100), 1), rgba(var(--accent-100), 1));
}
