.dark .primary-700-background-color {
    background-color: #ffffff
}.primary-700-background-color {
    background-color: #303030;
}.dark .primary-600-background-color {
    background-color: #f8f8f9
}.primary-600-background-color {
    background-color: #383838;
}.dark .primary-500-background-color {
    background-color: #f2f2f4
}.primary-500-background-color {
    background-color: #505050;
}.dark .primary-400-background-color {
    background-color: #cccece
}.primary-400-background-color {
    background-color: #666a6b;
}.dark .primary-300-background-color {
    background-color: #9ca0a0
}.primary-300-background-color {
    background-color: #9ca0a0;
}.dark .primary-200-background-color {
    background-color: #666a6b
}.primary-200-background-color {
    background-color: #cccece;
}.dark .primary-100-background-color {
    background-color: #505050
}.primary-100-background-color {
    background-color: #f2f2f4;
}.dark .primary-50-background-color {
    background-color: #383838
}.primary-50-background-color {
    background-color: #f8f8f9;
}.dark .primary-0-background-color {
    background-color: #303030
}.primary-0-background-color {
    background-color: #ffffff;
}.dark .accent-700-background-color {
    background-color: #e6f9fc
}.accent-700-background-color {
    background-color: #096796;
}.dark .accent-600-background-color {
    background-color: #96e1ed
}.accent-600-background-color {
    background-color: #0a87c6;
}.dark .accent-500-background-color {
    background-color: #4cd1ef
}.accent-500-background-color {
    background-color: #04a2d6;
}.dark .accent-400-background-color {
    background-color: #00bee8
}.accent-400-background-color {
    background-color: #00bee8;
}.dark .accent-300-background-color {
    background-color: #04a2d6
}.accent-300-background-color {
    background-color: #4cd1ef;
}.dark .accent-200-background-color {
    background-color: #0a87c6
}.accent-200-background-color {
    background-color: #96e1ed;
}.dark .accent-100-background-color {
    background-color: #096796
}.accent-100-background-color {
    background-color: #e6f9fc;
}.dark .primary-700-background-color {
    background-color: #ffffff
}.primary-700-background-color {
    background-color: #303030;
}.dark .primary-600-background-color {
    background-color: #f8f8f9
}.primary-600-background-color {
    background-color: #383838;
}.dark .primary-500-background-color {
    background-color: #f2f2f4
}.primary-500-background-color {
    background-color: #505050;
}.dark .primary-400-background-color {
    background-color: #cccece
}.primary-400-background-color {
    background-color: #666a6b;
}.dark .primary-300-background-color {
    background-color: #9ca0a0
}.primary-300-background-color {
    background-color: #9ca0a0;
}.dark .primary-200-background-color {
    background-color: #666a6b
}.primary-200-background-color {
    background-color: #cccece;
}.dark .primary-100-background-color {
    background-color: #505050
}.primary-100-background-color {
    background-color: #f2f2f4;
}.dark .primary-50-background-color {
    background-color: #383838
}.primary-50-background-color {
    background-color: #f8f8f9;
}.dark .primary-0-background-color {
    background-color: #303030
}.primary-0-background-color {
    background-color: #ffffff;
}.dark .accent-700-background-color {
    background-color: #e6f9fc
}.accent-700-background-color {
    background-color: #096796;
}.dark .accent-600-background-color {
    background-color: #96e1ed
}.accent-600-background-color {
    background-color: #0a87c6;
}.dark .accent-500-background-color {
    background-color: #4cd1ef
}.accent-500-background-color {
    background-color: #04a2d6;
}.dark .accent-400-background-color {
    background-color: #00bee8
}.accent-400-background-color {
    background-color: #00bee8;
}.dark .accent-300-background-color {
    background-color: #04a2d6
}.accent-300-background-color {
    background-color: #4cd1ef;
}.dark .accent-200-background-color {
    background-color: #0a87c6
}.accent-200-background-color {
    background-color: #96e1ed;
}.dark .accent-100-background-color {
    background-color: #096796
}.accent-100-background-color {
    background-color: #e6f9fc;
}.dark .primary-700-fill {
    fill: #ffffff
}.primary-700-fill {
    fill: #303030;
}.dark .primary-600-fill {
    fill: #f8f8f9
}.primary-600-fill {
    fill: #383838;
}.dark .primary-500-fill {
    fill: #f2f2f4
}.primary-500-fill {
    fill: #505050;
}.dark .primary-400-fill {
    fill: #cccece
}.primary-400-fill {
    fill: #666a6b;
}.dark .primary-300-fill {
    fill: #9ca0a0
}.primary-300-fill {
    fill: #9ca0a0;
}.dark .primary-200-fill {
    fill: #666a6b
}.primary-200-fill {
    fill: #cccece;
}.dark .primary-100-fill {
    fill: #505050
}.primary-100-fill {
    fill: #f2f2f4;
}.dark .primary-50-fill {
    fill: #383838
}.primary-50-fill {
    fill: #f8f8f9;
}.dark .primary-0-fill {
    fill: #303030
}.primary-0-fill {
    fill: #ffffff;
}.dark .accent-700-fill {
    fill: #e6f9fc
}.accent-700-fill {
    fill: #096796;
}.dark .accent-600-fill {
    fill: #96e1ed
}.accent-600-fill {
    fill: #0a87c6;
}.dark .accent-500-fill {
    fill: #4cd1ef
}.accent-500-fill {
    fill: #04a2d6;
}.dark .accent-400-fill {
    fill: #00bee8
}.accent-400-fill {
    fill: #00bee8;
}.dark .accent-300-fill {
    fill: #04a2d6
}.accent-300-fill {
    fill: #4cd1ef;
}.dark .accent-200-fill {
    fill: #0a87c6
}.accent-200-fill {
    fill: #96e1ed;
}.dark .accent-100-fill {
    fill: #096796
}.accent-100-fill {
    fill: #e6f9fc;
}.dark .primary-700-fill {
    fill: #ffffff
}.primary-700-fill {
    fill: #303030;
}.dark .primary-600-fill {
    fill: #f8f8f9
}.primary-600-fill {
    fill: #383838;
}.dark .primary-500-fill {
    fill: #f2f2f4
}.primary-500-fill {
    fill: #505050;
}.dark .primary-400-fill {
    fill: #cccece
}.primary-400-fill {
    fill: #666a6b;
}.dark .primary-300-fill {
    fill: #9ca0a0
}.primary-300-fill {
    fill: #9ca0a0;
}.dark .primary-200-fill {
    fill: #666a6b
}.primary-200-fill {
    fill: #cccece;
}.dark .primary-100-fill {
    fill: #505050
}.primary-100-fill {
    fill: #f2f2f4;
}.dark .primary-50-fill {
    fill: #383838
}.primary-50-fill {
    fill: #f8f8f9;
}.dark .primary-0-fill {
    fill: #303030
}.primary-0-fill {
    fill: #ffffff;
}.dark .accent-700-fill {
    fill: #e6f9fc
}.accent-700-fill {
    fill: #096796;
}.dark .accent-600-fill {
    fill: #96e1ed
}.accent-600-fill {
    fill: #0a87c6;
}.dark .accent-500-fill {
    fill: #4cd1ef
}.accent-500-fill {
    fill: #04a2d6;
}.dark .accent-400-fill {
    fill: #00bee8
}.accent-400-fill {
    fill: #00bee8;
}.dark .accent-300-fill {
    fill: #04a2d6
}.accent-300-fill {
    fill: #4cd1ef;
}.dark .accent-200-fill {
    fill: #0a87c6
}.accent-200-fill {
    fill: #96e1ed;
}.dark .accent-100-fill {
    fill: #096796
}.accent-100-fill {
    fill: #e6f9fc;
}.dark .primary-700-color {
    color: #ffffff
}.primary-700-color {
    color: #303030;
}.dark .primary-600-color {
    color: #f8f8f9
}.primary-600-color {
    color: #383838;
}.dark .primary-500-color {
    color: #f2f2f4
}.primary-500-color {
    color: #505050;
}.dark .primary-400-color {
    color: #cccece
}.primary-400-color {
    color: #666a6b;
}.dark .primary-300-color {
    color: #9ca0a0
}.primary-300-color {
    color: #9ca0a0;
}.dark .primary-200-color {
    color: #666a6b
}.primary-200-color {
    color: #cccece;
}.dark .primary-100-color {
    color: #505050
}.primary-100-color {
    color: #f2f2f4;
}.dark .primary-50-color {
    color: #383838
}.primary-50-color {
    color: #f8f8f9;
}.dark .primary-0-color {
    color: #303030
}.primary-0-color {
    color: #ffffff;
}.dark .accent-700-color {
    color: #e6f9fc
}.accent-700-color {
    color: #096796;
}.dark .accent-600-color {
    color: #96e1ed
}.accent-600-color {
    color: #0a87c6;
}.dark .accent-500-color {
    color: #4cd1ef
}.accent-500-color {
    color: #04a2d6;
}.dark .accent-400-color {
    color: #00bee8
}.accent-400-color {
    color: #00bee8;
}.dark .accent-300-color {
    color: #04a2d6
}.accent-300-color {
    color: #4cd1ef;
}.dark .accent-200-color {
    color: #0a87c6
}.accent-200-color {
    color: #96e1ed;
}.dark .accent-100-color {
    color: #096796
}.accent-100-color {
    color: #e6f9fc;
}.dark .primary-700-color {
    color: #ffffff
}.primary-700-color {
    color: #303030;
}.dark .primary-600-color {
    color: #f8f8f9
}.primary-600-color {
    color: #383838;
}.dark .primary-500-color {
    color: #f2f2f4
}.primary-500-color {
    color: #505050;
}.dark .primary-400-color {
    color: #cccece
}.primary-400-color {
    color: #666a6b;
}.dark .primary-300-color {
    color: #9ca0a0
}.primary-300-color {
    color: #9ca0a0;
}.dark .primary-200-color {
    color: #666a6b
}.primary-200-color {
    color: #cccece;
}.dark .primary-100-color {
    color: #505050
}.primary-100-color {
    color: #f2f2f4;
}.dark .primary-50-color {
    color: #383838
}.primary-50-color {
    color: #f8f8f9;
}.dark .primary-0-color {
    color: #303030
}.primary-0-color {
    color: #ffffff;
}.dark .accent-700-color {
    color: #e6f9fc
}.accent-700-color {
    color: #096796;
}.dark .accent-600-color {
    color: #96e1ed
}.accent-600-color {
    color: #0a87c6;
}.dark .accent-500-color {
    color: #4cd1ef
}.accent-500-color {
    color: #04a2d6;
}.dark .accent-400-color {
    color: #00bee8
}.accent-400-color {
    color: #00bee8;
}.dark .accent-300-color {
    color: #04a2d6
}.accent-300-color {
    color: #4cd1ef;
}.dark .accent-200-color {
    color: #0a87c6
}.accent-200-color {
    color: #96e1ed;
}.dark .accent-100-color {
    color: #096796
}.accent-100-color {
    color: #e6f9fc;
}.dark .primary-700-stroke {
    stroke: #ffffff
}.primary-700-stroke {
    stroke: #303030;
}.dark .primary-600-stroke {
    stroke: #f8f8f9
}.primary-600-stroke {
    stroke: #383838;
}.dark .primary-500-stroke {
    stroke: #f2f2f4
}.primary-500-stroke {
    stroke: #505050;
}.dark .primary-400-stroke {
    stroke: #cccece
}.primary-400-stroke {
    stroke: #666a6b;
}.dark .primary-300-stroke {
    stroke: #9ca0a0
}.primary-300-stroke {
    stroke: #9ca0a0;
}.dark .primary-200-stroke {
    stroke: #666a6b
}.primary-200-stroke {
    stroke: #cccece;
}.dark .primary-100-stroke {
    stroke: #505050
}.primary-100-stroke {
    stroke: #f2f2f4;
}.dark .primary-50-stroke {
    stroke: #383838
}.primary-50-stroke {
    stroke: #f8f8f9;
}.dark .primary-0-stroke {
    stroke: #303030
}.primary-0-stroke {
    stroke: #ffffff;
}.dark .accent-700-stroke {
    stroke: #e6f9fc
}.accent-700-stroke {
    stroke: #096796;
}.dark .accent-600-stroke {
    stroke: #96e1ed
}.accent-600-stroke {
    stroke: #0a87c6;
}.dark .accent-500-stroke {
    stroke: #4cd1ef
}.accent-500-stroke {
    stroke: #04a2d6;
}.dark .accent-400-stroke {
    stroke: #00bee8
}.accent-400-stroke {
    stroke: #00bee8;
}.dark .accent-300-stroke {
    stroke: #04a2d6
}.accent-300-stroke {
    stroke: #4cd1ef;
}.dark .accent-200-stroke {
    stroke: #0a87c6
}.accent-200-stroke {
    stroke: #96e1ed;
}.dark .accent-100-stroke {
    stroke: #096796
}.accent-100-stroke {
    stroke: #e6f9fc;
}.dark .primary-700-stroke {
    stroke: #ffffff
}.primary-700-stroke {
    stroke: #303030;
}.dark .primary-600-stroke {
    stroke: #f8f8f9
}.primary-600-stroke {
    stroke: #383838;
}.dark .primary-500-stroke {
    stroke: #f2f2f4
}.primary-500-stroke {
    stroke: #505050;
}.dark .primary-400-stroke {
    stroke: #cccece
}.primary-400-stroke {
    stroke: #666a6b;
}.dark .primary-300-stroke {
    stroke: #9ca0a0
}.primary-300-stroke {
    stroke: #9ca0a0;
}.dark .primary-200-stroke {
    stroke: #666a6b
}.primary-200-stroke {
    stroke: #cccece;
}.dark .primary-100-stroke {
    stroke: #505050
}.primary-100-stroke {
    stroke: #f2f2f4;
}.dark .primary-50-stroke {
    stroke: #383838
}.primary-50-stroke {
    stroke: #f8f8f9;
}.dark .primary-0-stroke {
    stroke: #303030
}.primary-0-stroke {
    stroke: #ffffff;
}.dark .accent-700-stroke {
    stroke: #e6f9fc
}.accent-700-stroke {
    stroke: #096796;
}.dark .accent-600-stroke {
    stroke: #96e1ed
}.accent-600-stroke {
    stroke: #0a87c6;
}.dark .accent-500-stroke {
    stroke: #4cd1ef
}.accent-500-stroke {
    stroke: #04a2d6;
}.dark .accent-400-stroke {
    stroke: #00bee8
}.accent-400-stroke {
    stroke: #00bee8;
}.dark .accent-300-stroke {
    stroke: #04a2d6
}.accent-300-stroke {
    stroke: #4cd1ef;
}.dark .accent-200-stroke {
    stroke: #0a87c6
}.accent-200-stroke {
    stroke: #96e1ed;
}.dark .accent-100-stroke {
    stroke: #096796
}.accent-100-stroke {
    stroke: #e6f9fc;
}.dark input[type="text"] {
    color: #00bee8;
    background-color: rgba(242, 242, 244, 0.5);
    border: 1px solid rgba(156, 160, 160, 0.5)
}input[type="text"] {
    color: #00bee8;
    background-color: rgba(80, 80, 80, 0.5);
    border: 1px solid rgba(156, 160, 160, 0.5);
}.dark h1 {
    color: #f8f8f9;
    background: linear-gradient(to right, #505050, #096796)
}h1 {
    color: #383838;
    background: linear-gradient(to right, #f2f2f4, #e6f9fc);
}