// /* ------------------------------------ *\
//    Dialog
// \* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '@bolt/global/styles/00-vars/_vars-mode.scss';

.c-bolt-dialog {
  --animation-in-settings: 500ms cubic-bezier(0.25, 0, 0.3, 1) normal;
  --animation-out-settings: 500ms cubic-bezier(0.5, -0.5, 0.1, 1.5) normal;
  opacity: 1;
  min-width: 200px;
  max-width: calc(100% - var(--bolt-spacing-x-medium) * 2);
  padding: 0;
  border: 0;

  &[open] {
    animation: slidein var(--animation-in-settings);

    @media (prefers-reduced-motion: reduce) {
      animation: fadein var(--animation-out-settings);
    }
  }

  &.c-bolt-dialog--hidden {
    animation: minimize var(--animation-out-settings);

    @media (prefers-reduced-motion: reduce) {
      animation: fadeout var(--animation-out-settings);
    }
  }
}

.c-bolt-dialog::backdrop {
  opacity: 0.8;
  background-color: var(--bolt-color-navy-xdark);
}

.c-bolt-dialog__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--bolt-color-gray-light);
}

.c-bolt-dialog__body {
}

.c-bolt-dialog[data-dialog-persistent] {
  .c-bolt-dialog__header-close {
    display: none;
  }
}

.c-bolt-dialog__footer {
  border-top: 1px solid var(--bolt-color-gray-light);
}

// Content width options
@include bolt-mq('small') {
  .c-bolt-dialog__width-regular {
    width: 100% / 12 * 10;
  }

  .c-bolt-dialog__width-optimal {
    width: 75ch;
  }

  .c-bolt-dialog__width-full {
    width: calc(100% - var(--bolt-spacing-x-medium) * 2);
  }
}

// Container spacing options
@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);
  .c-bolt-dialog__spacing-#{$size-name} {
    .c-bolt-dialog__header,
    .c-bolt-dialog__footer,
    .c-bolt-dialog__body {
      padding: var(--bolt-spacing-y-#{$size-name})
        var(--bolt-spacing-x-#{$size-name});
    }
  }
}

// Scroll option
// .c-bolt-dialog__scroll-overall {
//   .c-bolt-dialog__overlay {
//     overflow-y: auto;
//     -webkit-overflow-scrolling: touch;
//     display: block;

//     .c-bolt-dialog__container {
//       left: 50%;
//       transform: translateX(-50%);
//       padding-top: var(--bolt-spacing-y-medium);
//       padding-bottom: var(--bolt-spacing-y-large);
//     }
//   }
// }

// mobile styles
@include bolt-mq($until: 'small') {
  .c-bolt-dialog[open],
  .c-bolt-dialog[open] > form {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }
}

// animation
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes minimize {
  to {
    opacity: 0;
    transform: scale(0);
  }
}
