// /* ------------------------------------ *\
//    Dialog
// \* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '@bolt/global/styles/00-vars/_vars-mode.scss';

.c-bolt-dialog {
  @include bolt-z-index(modal);
  opacity: bolt-opacity(0);
  position: relative;
  pointer-events: none;
  transition: opacity var(--bolt-transition);
  overflow-x: hidden;
  overflow-y: hidden;

  &.is-open {
    opacity: bolt-opacity(100);
    cursor: pointer;
    pointer-events: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &[data-dialog-persistent] {
      cursor: default;
    }
  }
}

.c-bolt-dialog__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  &:before {
    content: '';
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &-dark:before {
    background-color: var(--bolt-color-navy-xdark);
  }

  &-light:before {
    background-color: var(--bolt-color-white);
  }
}

.c-bolt-dialog__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  min-width: 200px; // Prevents content without defined width (such as image and video) from falling below 200px.
  max-width: calc(100% - var(--bolt-spacing-x-medium) * 2);

  .c-bolt-dialog__body {
    width: 100%;
    border-radius: bolt-border-radius(small);
  }
}

// Content width options
@include bolt-mq('small') {
  .c-bolt-dialog__container--width-regular {
    width: 100% / 12 * 10;
  }

  .c-bolt-dialog__container--width-optimal {
    width: 75ch;
  }

  .c-bolt-dialog__container--width-full {
    width: calc(100% - var(--bolt-spacing-x-medium) * 2);
  }
}

// Container spacing options
@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);
  .c-bolt-dialog__body--spacing-#{$size-name} {
    padding: var(--bolt-spacing-y-#{$size-name})
      var(--bolt-spacing-x-#{$size-name});
  }
}

// Scroll options
.c-bolt-dialog__scroll-container {
  .c-bolt-dialog__body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 80vh;
  }
}

.c-bolt-dialog__scroll-overall {
  .c-bolt-dialog__overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: block;

    .c-bolt-dialog__container {
      left: 50%;
      transform: translateX(-50%);
      padding-top: var(--bolt-spacing-y-medium);
      padding-bottom: var(--bolt-spacing-y-large);
    }
  }
}
