{% set description %}
  A Printable element can be used for any content you wish to be visible and styled in print mode.
{% endset %}

{% set notes %}
<bolt-ol>
  <bolt-li>You must add the <code>e-bolt-printable</code> class to the <code>&lt;body&gt;</code> element. It will hide everything on the page in print mode.</bolt-li>
  <bolt-li>Then add the the <code>e-bolt-printable__article</code> class to the article container. This class will make the article visible in print mode. Additionally, print specific styles are set for many plain HTML elements.</bolt-li>
</bolt-ol>
{% endset %}

{% set demo %}
  <script type="text/javascript">
    document.getElementsByTagName("body")[0].setAttribute("class", "e-bolt-printable");
  </script>
  <article class="e-bolt-printable__article">
    <h2>This is an example of an element to be printed</h2>
    <p>Only the heading and this paragraph will be shown in print mode. Click &ldquo;Open in new tab&rdquo; to view it outside of Pattern Lab, then in the browser menu click &ldquo;Print&rdquo;.</p>
  </article>
{% endset %}

{% set html_markup %}
{% verbatim %}
<body class="e-bolt-printable">
  <article class="e-bolt-printable__article">
    <h2>This is an example of an article to be printed</h2>
    <p>Only the heading and this paragraph will be shown in print mode.</p>
  </article>
</body>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Printable',
  description: description,
  notes: notes,
  demo: demo,
  html_markup: html_markup,
} only %}
