/* ------------------------------------ *\
  SHADOW MIXIN
  see `_settings-shadow.scss`
\* ------------------------------------ */

@mixin bolt-shadow($key: 'G', $lifted: false) {
  $shadows: map-get($bolt-shadows, 'sets');
  @if not(map-has-key($shadows, $key)) {
    @error 'A value, ' + $key +  ', was passed into @include bolt-shadow() that is not defined in $bolt-shadows';
  } @else {
    @if $lifted {
      transform: translateY(-2px);
      box-shadow: unquote(map-get(map-get($shadows, $key), 'hover'));
    } @else {
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      box-shadow: unquote(map-get(map-get($shadows, $key), 'base'));
    }
  }
}


