/* ------------------------------------ *\
  SHADOW MIXIN
  see `_settings-shadow.scss`
\* ------------------------------------ */

@mixin bolt-shadow(
  $key: 'G',
  $raised: false,
  $base-color: false,
  $important: null
) {
  $shadows: map-get(bolt-get-shadows-map(), 'sets');
  @if $base-color {
    $shadows: map-get(bolt-get-shadows-map($base-color), 'sets');
  }

  @if $important == true or $important == 'important' {
    $important: !important;
  } @else {
    $important: null;
  }

  @if not(map-has-key($shadows, $key)) {
    @error 'A value, #{$key}, was passed into @include bolt-shadow() that is not defined in $bolt-shadows';
  } @else {
    @if $raised {
      box-shadow: unquote(map-get(map-get($shadows, $key), 'raised')) $important;
    } @else {
      box-shadow: unquote(map-get(map-get($shadows, $key), 'base')) $important;
    }
  }
}
