{% include "@bolt-components-example/example.twig" with {
  title: "Example Title",
  content: "<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Nulla consequat massa quis enim. Phasellus tempus. Fusce a quam. Proin magna.</p>",
  borderless: true
} only %}
