
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

    {# <script src="/scripts/bolt-app.min.js" async type="module"></script> #}
    <script src="/scripts/bolt-app.min.js" defer></script>
  </body>
</html>
