/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */

@import '../tools-color-palette/tools-color-palette';

@function bolt-text-contrast($color) {
  @if (lightness($color) > 50) {
    @return bolt-color(black) // Lighter backgorund, return dark color
  }
  @else {
    @return bolt-color(white); // Darker background, return light color
  }
}
