/* ------------------------------------ *\
  TOOLS - FONT SIZE
\* ------------------------------------ */

////
/// @group Tools: Typography
/// @author Mike Mai
////

@import '@bolt/settings-font-size';
@import '@bolt/tools-sassy-maps'; // required so `map-get-deep` works
@import '@bolt/tools-poly-fluid-sizing';
@import '@bolt/tools-px-to-rem';


/// This returns the font-size and relevant line-height for a specific element.
///
/// @param {string} $size
///   Defines the size of the text: xsmall, small, base, medium, large, xlarge, or xxlarge.
///
/// @param {string} $leading
///   Defines the line-height of the text: regular or tight.
///
@mixin bolt-font-size($size, $leading: regular) {
  $font-size: map-get-deep($bolt-font-sizes, 'font-sizes', $size, 'font-size');

  @if (type-of($font-size) == 'map') {
    $length: length(map-keys($font-size));

    @if ($length < 2) {
      font-size: nth($font-size, 2);
    } @else {
      @include bolt-poly-fluid-sizing('font-size', $font-size);
    }
  } @else {
    font-size: $font-size;
  }

  @if ($leading != '' and  $leading != null) {
    @if (type-of($leading) == number) {
      $leading: $leading;
    } @elseif (type-of($leading) == string) {
      $leading: map-get-deep($bolt-font-sizes, 'font-sizes', $size, 'line-height', $leading);
    }

    @if (type-of($leading) == 'map') {
      $length: length(map-keys($leading));

      @if ($length < 2) {
        line-height: nth($leading, 2);
      } @else {
        @include bolt-poly-fluid-sizing('line-height', $leading);
      }
    } @else {
      line-height: $leading;
    }
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin font-size($args...) {
  @warn 'PegaKit\'s `font-size` mixin is deprecated and will be removed in v1.0.0 of Bolt. Use the new @bolt-font-size mixin instead.';

  @include bolt-font-size($args);
}
/* stylelint-enable */
