/*------------------------------------*\
  Spacing Scale
\*------------------------------------*/

/**
 * Read https://medium.com/eightshapes-llc/space-in-design-systems-188bcbae0d62 for more background into spacing scales for design systems.
 */

$spacing-scale: (
  spacing: (
    'default': (
      xlarge: 64px,
      large:  32px,
      medium: 16px,
      small:   8px,
      xsmall:  4px,
      xxsmall: 2px
    ),
    'squished': (
      large:  16px 32px,
      medium:  7px 16px,
      small:   5px  8px
    ),
    'stretched': (
      large:   64px 32px,
      medium:  32px 16px,
      small:   16px  8px
    )
  )
);
