<div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--small">
  {% for colorName, palette in boltStatusColors %}
    {% include "_color-swatch.twig" with {
      color_swatch: {
        colorName: colorName,
        palette: palette
      }
    } %}
  {% endfor %}
</div>
