@import '@bolt/core';

/* ------------------------------------ *\
   Copy to Clipboard
\* ------------------------------------ */

// Dev Notes
// 1. When tranistioning in (any time opacity is 1), add a delay to wait for the previously visible item to fade out.
// 2. When transitioning out (any time opacity is 0), reset any existing delay so the transition runs immediately.

$bolt-copy-transition: all 0.5s ease;

bolt-copy-to-clipboard {
  display: inline-block;
}

.c-bolt-copy-to-clipboard {
  display: block;
  position: relative;
  text-align: left;

  &.is-animating {
    .c-bolt-copy-to-clipboard__trigger {
      pointer-events: none;
      opacity: 0;
      transition-delay: 0s; // [2]
    }

    .c-bolt-copy-to-clipboard__spinner {
      left: 0;
      opacity: 1;
      transform: scale(1) rotate(360deg) translateY(-50%);
      transition-delay: 0.5s; // [1]
    }
  }

  &.is-animating.is-successful {
    .c-bolt-copy-to-clipboard__spinner {
      opacity: 0;
      transition-delay: 0s; // [2]
    }

    .c-bolt-copy-to-clipboard__confirmation {
      opacity: 1;
      transition-delay: 0.5s; // [1]
    }
  }
}

.c-bolt-copy-to-clipboard__trigger {
  display: block;
  transition: $bolt-copy-transition;
  transition-delay: 0.5s; // [1]
}

.c-bolt-copy-to-clipboard__spinner,
.c-bolt-copy-to-clipboard__confirmation {
  display: block;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: $bolt-copy-transition;
}

.c-bolt-copy-to-clipboard__spinner {
  top: 50%;
  color: bolt-color(indigo, light); // [Mai] TODO: this is supposed to be the theme link color, must update once theming is refactored.
  transform: scale(0) rotate(0deg) translateY(-50%);
  transform-origin: top center;
}

.c-bolt-copy-to-clipboard__confirmation {
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
}
