/* ------------------------------------ *\
   Copy to Clipboard
\* ------------------------------------ */

@import '@bolt/core';

bolt-copy-to-clipboard {
  display: inline-block;
}

.c-bolt-copy-to-clipboard {
  display: block;
  position: relative;
  text-align: left;

  &.is-copied {
    .c-bolt-copy-to-clipboard__trigger {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .c-bolt-copy-to-clipboard__spinner {
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 1;
      transform: scale(1) rotate(360deg);
      transition: all 0.5s ease 0.75s;
    }
  }

  &.is-copied.is-transitioning {
    .c-bolt-copy-to-clipboard__spinner {
      opacity: 0;
      transition: opacity 1s ease;
    }

    .c-bolt-copy-to-clipboard__confirmation {
      opacity: 1;
      transition: opacity 1s ease 0.75s;
    }
  }
}

.c-bolt-copy-to-clipboard__spinner,
.c-bolt-copy-to-clipboard__confirmation {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.c-bolt-copy-to-clipboard__spinner {
  color: bolt-color(indigo, light);
  transform: scale(0) rotate(0deg);
}

.c-bolt-copy-to-clipboard__confirmation {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
