////
/// @group Settings: Typography
////

// so the recursive map merge used below works as expected
@import '../../02-tools/tools-map-recursive-merge/tools-map-recursive-merge';

/* ------------------------------------ *\
   Japanese Specific Typography Styles
\* ------------------------------------ */

@if ($bolt-lang == 'ja') {
  // UI System fonts will display all Japanese Characters.

  /// Bolt's definition of a Japanese specific font-stack.
  $bolt-font-family--japanese: -apple-system, BlinkMacSystemFont,
    'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック',
    '游ゴシック体', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック',
    'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic,
    'MotoyaLCedar', 'Droid Sans Japanese', sans-serif !global;

  $bolt-font-family--sans-fallback: $bolt-font-family--japanese !global;
  $bolt-font-family--sans: $bolt-font-family--japanese !global;
  $bolt-font-family--sans-subset: $bolt-font-family--japanese !global;

  // Headline font-weight reduced to 700, so a combmination of English and Japanese can look harmonious.
  $bolt-font-weight--bold: 700 !global;

  // Redefined headline sizes.
  $bolt-font-size--xxxlarge--max: 2.25rem !global;
  $bolt-font-size--xxxlarge--min: 2.25rem !global;
  $bolt-font-size--xxlarge: 1.75rem !global;
  $bolt-font-size--xlarge: 1.425rem !global;
  $bolt-font-size--large: 1.125rem !global;

  // Redefined line-height.
  $bolt-line-height--xxxlarge: 1.25 !global;
  $bolt-line-height--xxlarge: 1.44 !global;
  $bolt-line-height--xlarge: 1.48 !global;
  $bolt-line-height--large: 1.59 !global;
  $bolt-line-height--medium: 1.82 !global;
  $bolt-line-height--small: 1.66 !global;
  $bolt-line-height--xsmall: 1.59 !global;
  $bolt-line-height--tight: 1.2 !global;

  // Redefined body size.
  $bolt-base-font-sizes: (
    bolt-breakpoint(xxsmall): 14px,
    bolt-breakpoint(xsmall): 15px,
    bolt-breakpoint(xxlarge): 17px,
  ) !global;

  // Spacing values reduced to create more compact and monospace aesthetics.
  $bolt-spacing-values: (
    'xxsmall': 0.125,
    'xsmall': 0.25,
    'small': 0.35,
    'medium': 0.7,
    'large': 1.4,
    'xlarge': 2.8,
    'xxlarge': 5.6,
    'xxxlarge': 11.2,
  ) !global;

  // reference back to the "medium" size value (whatever it's currently set to)
  // NOTE: this is how "sizeless" utility classes like `u-bolt-margin-bottom` get generated
  $bolt-spacing-values: bolt-recursive-map-merge(
    $bolt-spacing-values,
    (
      '': map-get($bolt-spacing-values, 'medium'),
    )
  ) !global;
}
