@import '@bolt/core';

.c-bolt-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-bottom:bolt-spacing(xsmall);

  @include bolt-mq(small) {
    margin-bottom: bolt-spacing(small);
  }

  &--small &__center {
    width: 60px;
    height: 60px;
  }

  &--medium  &__center {
    width: 75px;
    height: 75px;
  }

  &--large &__center {
    width: 120px;
    height: 120px;
  }

  &__center--wrapper {
    display: flex;
    flex: 1 0 33.33%;
    justify-content: center;

    .c-bolt-character__has-side-content & {
      flex-grow: 0;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    background-color: white;
    @include bolt-shadow('level-20');
  }

  &__main-image {
    box-sizing: border-box;
    position: static;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    border: 4px solid white;
    border-radius: 50%;
    background-color: white;
  }

  &__has-background &__center {
    margin-bottom: bolt-spacing(small);
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.65);
    z-index: 0;
    width: 200px; //@TODO these are here because the SVGs aren't square
    height: 200px;
  }

  &__slot {
    &--connection {
      position: absolute;
      left: 50%;
      z-index: 1;
      margin: auto 0;
    }

    &--cardinal {
      z-index: 2;
    }

    &--top {
      flex: 1 0 100%;
      text-align: center;
    }

    &--bottom {
      flex: 1 0 100%;
      text-align: center;
    }

    &--left {
      flex: 0 0 33.33%;
      text-align: right;
    }

    &--right {
      flex: 0 0 33.33%;
    }
  }
}
