@import '@bolt/core';

bolt-connection {
  display: block;
}

.c-bolt-connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__main-image {
    width: 100%;
  }
}
