@import '@bolt/core-v3.x';

bolt-connection {
  display: block;
}

.c-bolt-connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  &__main-image {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}
