@import '@bolt/core';
@import '@bolt/animations';

// Local interactive-step Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-step', block, medium);

$bolt-tooltip-bubble-triangle-width: 8px;
$bolt-tooltip-bubble-border-color: bolt-color(gray, light);
$bolt-tooltip-transition: $bolt-transition;
$bolt-interactive-step-left-padding: 42px;
$bolt-interactive-step-line-left-pos: 4.5px;
$bolt-interactive-step--dot-size: 1.2rem;
$bolt-interactive-step-bottom-padding: 5rem;


bolt-interactive-step {
  // Override generic styles from _generic-shared.scss
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.c-bolt-interactive-step {
  position: relative;
  //Styles go here. /* [1] */
  text-align: left;
  transition: font-size 0.5s ease;

  @include bolt-mq(medium) {
    position: static;
  }

  &__nav-item-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: $bolt-interactive-step-bottom-padding;

    .c-bolt-interactive-step--active & {
      padding-bottom: 1.65rem;

      @include bolt-mq(medium) {
        padding-bottom: 0;
      }
    }

    @include bolt-mq(medium) {
      position: relative;
      top: 0;
    }
  }

  &__line {
    content: '';
    position: absolute;
    top: 0;
    left: $bolt-interactive-step-line-left-pos;
    z-index: 5;
    height: 100%;
    margin-left: 5px;
    border-left: 1px solid #AAB2F2;

    .c-bolt-interactive-step--first & {
      top: 1em;
      height: calc(100% - 1em);
    }

    .c-bolt-interactive-step--last & {
      height: calc(#{$bolt-interactive-step--dot-size});
    }
  }

  &__dot {
    position: absolute;
    top: 0;
    left: 4px;
    z-index: 10;
    margin-bottom: 1.65rem;
    color: #AAB2F2;
    cursor: pointer;
    font-size: $bolt-interactive-step--dot-size;
    transition: color 0.5s ease, transform 0.5s ease;
  }

  &__title {
    display: inline-block;
    padding-top: .2em;
    padding-left: $bolt-interactive-step-left-padding;
    cursor: pointer;
    transition: color 0.5s ease, transform 0.5s ease;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    height: 0;
    overflow: hidden;

    .c-bolt-interactive-step--active & {
      height: auto;
      overflow: visible;
      padding-bottom: $bolt-interactive-step-bottom-padding;
      padding-left: $bolt-interactive-step-left-padding;

      @include bolt-mq(medium) {
        margin-left: 0;
        padding-bottom: 0;
      }
    }

    .c-bolt-interactive-step--last & {
      padding-left: .75rem; // This puts it aligned with the line, relative to dot width.
    }

    // Move the step body to the right on desktop
    @include bolt-mq(medium) {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 300px);
    }
  }

  &__body-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    @include bolt-mq(medium) {
      max-width: 700px;
    }
  }

  // Generates the active state styling for the nav list
  &--active {
    font-weight: bolder;

    .c-bolt-interactive-step__dot {
      left: 4.5px;
      transform: scale(1.5);
      color: orange;
    }

    .c-bolt-interactive-step__title {
      transform: scale(1.1) translateX(4px);
      color: orange;
    }
  }
}
