@import '@bolt/core';

// Local interactive-pathways Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-pathways', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-interactive-pathways {
  //Styles go here. /* [1] */
  display: block;
  overflow: visible;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    position: relative;
    width: 100%;
    height: 6rem;
    padding: 1.65rem 0;

    @include bolt-mq(medium) {
      height: 4rem;
    }

    &--inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      // Abs b/c nav dropdown is flexbox and needs to take up 0 height.
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      z-index: 999999;
      max-width: 100%;
      white-space: nowrap;

      @include bolt-mq(medium) {
        flex-direction: row;
        align-items: baseline;
        height: 4rem;
      }
    }


    bolt-dropdown {
      z-index: 1;
      height: 56.83px; // Temp fix for the dropdown menu pushing content down. @todo resolve this better
      overflow: visible;

      @include bolt-mq(small) {
        margin-left: 5px;
      }
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.825rem 1rem;

    //&:hover {
    //  cursor: pointer;
    //}
  }
}

bolt-text[slot="interactive-pathways-lead-text"] {
  margin-bottom: 0;
}
