@import '@bolt/core';
@import './nav-shared';

bolt-interactive-step {
  @include bolt-padding-left(small);
  // Override generic styles from _generic-shared.scss
  margin-bottom: 0 !important;
}

.c-bolt-interactive-step {
  $nav-circle-size: 12px;
  $nav-circle-size--active: 14px;

  position: relative;
  max-width: 100vw;
  text-align: left;

  &__title {
    @include bolt-micro-journeys-nav-title;

    @include bolt-mq(medium) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    .c-bolt-interactive-step--active & {
      @include bolt-micro-journeys-nav-title($active: true);
    }

    // The nav dot on mobile
    &:before {
      @include bolt-micro-journeys-nav-dot;

      .c-bolt-interactive-step.t-bolt-dark & {
        background-color: bolt-color(indigo, light);
      }

      .c-bolt-interactive-step--active & {
        @include bolt-micro-journeys-nav-dot($active: true);
      }

      .c-bolt-interactive-step--active.t-bolt-dark & {
        border-color: bolt-color(white);
        background-color: bolt-color(yellow);
      }
    }

    // The nav line on mobile
    &:after {
      @include bolt-micro-journeys-nav-line;

      .c-bolt-interactive-step.t-bolt-dark & {
        background-color: bolt-color(indigo, light);
      }

      .c-bolt-interactive-step--last & {
        display: none;
      }
    }
  }

  &__body {
    @include bolt-padding-right(small);
    @include bolt-padding-bottom(medium);
    @include bolt-padding-left(small);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: -9999px;

    @include bolt-mq(medium) {
      @include bolt-padding-right(medium);
      align-items: center;
    }

    .c-bolt-interactive-step--active & {
      position: static;

      .c-bolt-interactive-step.t-bolt-dark & {
        border-color: bolt-color(white);
        background-color: bolt-color(yellow);
      }
    }

    .c-bolt-interactive-step--last & {
      width: calc(100% + #{$nav-circle-size / 2});
      margin-left: -$nav-circle-size / 2;
      padding-left: 0;
    }
  }

  // for IE
  &__top-slot,
  &__bottom-slot,
  bolt-animate[slot="top"],
  bolt-animate[slot="bottom"] {
    width: 100%;
  }

  &__body-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    @include bolt-mq(medium) {
      max-width: 700px;
    }

    // IE11 bug: Column flex items set to align-items: center overflow their container ~ https://github.com/philipwalton/flexbugs#flexbug-2
    > * {
      max-width: 100%;
    }
  }
}

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-step', block, medium);
