@import '@bolt/core';
@import './nav-shared';

bolt-interactive-step {
  // Override generic styles from _generic-shared.scss
  margin-bottom: 0 !important;
  padding-left: $nav-circle-size--active / 2 + $nav-circle-border-size;
}


.c-bolt-interactive-step {
  $nav-circle-size: 12px;
  $nav-circle-size--active: 14px;

  position: relative;
  text-align: left;

  &__title {

    @include bolt-micro-journeys-nav-title;
    @include bolt-mq(medium) {
      display: none;
    }

    .c-bolt-interactive-step--active & {
      @include bolt-micro-journeys-nav-title($active: true);
    }

    // The nav dot on mobile
    &:before {
      @include bolt-micro-journeys-nav-dot;

      .c-bolt-interactive-step--active & {
        @include bolt-micro-journeys-nav-dot($active: true);
      }
    }

    //c-bolt-interactive-pathway__nav-item c-bolt-interactive-pathway__nav-item--active

    // The nav line on mobile
    &:after {
      @include bolt-micro-journeys-nav-line;

      .c-bolt-interactive-step--last & {
        display: none;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -9999px;
    padding-bottom: bolt-spacing(medium);
    padding-left: bolt-spacing(medium);

    .c-bolt-interactive-step--active & {
      position: static;
    }

    .c-bolt-interactive-step--last & {
      width: calc(100% + #{$nav-circle-size / 2});
      margin-left: -$nav-circle-size / 2;
      padding-left: 0;
    }
  }

  &__body-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    @include bolt-mq(medium) {
      max-width: 700px;
    }
  }
}

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-step', block, medium);
