@import '@bolt/core';

.c-bolt-dropdown {
  box-shadow: none;


  &__header-button {
    display: block;
    margin-left: .65rem;
    padding: 0;
    color: bolt_theme(primary);
    line-height: 1.31;
    line-height: 1.65;
    font-size: 1.75rem;
    border-bottom: 1px solid bolt_theme(text);
  }

  &__content-inner:hover {
    cursor: pointer;
  }
}

