@import "@bolt/core";

.c-bolt-one-character-layout {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 110px 0; // This margin is needed to accommodate speech bubbles that are absolute positioned around characters

  @include bolt-mq(small) {
    margin: 90px 0; // This margin is needed to accommodate speech bubbles that are absolute positioned around characters
  }
}
