@import "@bolt/core";

.c-bolt-one-character-layout {
  //@include bolt-margin-top(xlarge);
  //@include bolt-margin-bottom(xlarge);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
