@import '@bolt/core';

.c-bolt-two-character-layout {
  position: relative;

  &__character {
    position: relative;
  }

  &__character-row {
    @include bolt-margin-top(xlarge);
    @include bolt-margin-bottom(xlarge);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;

    @include bolt-mq(xsmall) {
      max-width: 400px;
    }

    @include bolt-mq(small) {
      max-width: 500px;
    }
  }

  &__character {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--left,
    &--right {
      z-index: 1;
      position: static;
    }

    &--connection {
      flex: 1 1 auto;
    }
  }
}
