@import '@bolt/core';

.c-bolt-two-character-layout {

  &__character-row {
    @include bolt-margin-top(xlarge);
    @include bolt-margin-bottom(xlarge);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__character {
    display: flex;
    justify-content: center;
    align-items: center;

    &--left {
      transform: translateX(50%);
      z-index: 1;
    }

    &--right {
      transform: translateX(-50%);
    }
  }
}
