{% set icon_linkedin %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'linkedin',
  } only %}
{% endset %}
{% set icon_linkedin_solid %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'linkedin-solid',
  } only %}
{% endset %}
{% set icon_twitter %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'twitter',
  } only %}
{% endset %}
{% set icon_facebook %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'facebook',
  } only %}
{% endset %}
{% set icon_youtube %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'youtube-solid',
  } only %}
{% endset %}
{% set icon_info_circle %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'info-circle',
  } only %}
{% endset %}
{% set icon_warning %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'warning',
  } only %}
{% endset %}

{% set header %}
  <header>
    {% set logo %}
      <a href="https://google.com">
        {% include '@bolt-elements-image/image.twig' with {
          attributes: {
            alt: 'Pegasystems, Inc.',
            src: '/images/content/logos/pega-logo.svg',
            width: 139,
            height: 30,
          },
        } only %}
      </a>
    {% endset %}
    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: logo,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: layout_content,
    } only %}
  </header>
{% endset %}

{% set main_content %}
  {% set form %}
    <div class="u-bolt-shadow-level-20 u-bolt-padding-medium u-bolt-border-radius-small t-bolt-white">
      {% set form_children %}
        {% set fieldset_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'First Name',
              displayType: 'floating',
              attributes: {
                for: 'first-name',
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                placeholder: 'Enter first name',
                type: 'text',
                id: 'first-name',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}

          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'Last Name',
              displayType: 'floating',
              attributes: {
                for: 'last-name',
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                placeholder: 'Enter last name',
                type: 'text',
                id: 'last-name',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}

          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'Country',
              displayType: 'floating',
              attributes: {
                for: 'country',
              },
            } only %}
          {% endset %}
          {% set select %}
            {% include '@bolt-components-form/form-select.twig' with {
              options: [
                {
                  type: 'option',
                  value: '',
                  label: '- Select a country -',
                },
                {
                  type: 'option',
                  value: 'us',
                  label: 'United States',
                },
                {
                  type: 'option',
                  value: 'ja',
                  label: 'Japan',
                }
              ],
              attributes: {
                id: 'country',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: select,
          } only %}

          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'Company Name',
              displayType: 'floating',
              attributes: {
                for: 'company-name',
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                placeholder: 'Enter company name',
                type: 'text',
                id: 'company-name',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}

          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'Company Email',
              displayType: 'floating',
              attributes: {
                for: 'email',
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                placeholder: 'Enter company email',
                type: 'email',
                id: 'email',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
            descriptionText: icon_info_circle ~ '<small> Provide a company email to get full access to the Pega Community.</small>'
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Account Info',
          children: fieldset_children,
        } only %}

        {% set fieldset_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'Password',
              displayType: 'floating',
              attributes: {
                for: 'password',
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                placeholder: 'Create password (at least 8 characters)',
                type: 'password',
                id: 'password',
                required: true,
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Password',
          children: fieldset_children,
        } only %}

        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'I&rsquo;d like to receive occasional email updates about upcoming events, analyst reports or Pega news. I can unsubscribe at any time.',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-subscribe',
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-subscribe',
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}

        {% set privacy_link %}
          {% include '@bolt-elements-text-link/text-link.twig' with {
            content: 'Pegasystems Privacy and Security Policy',
            attributes: {
              href: 'https://google.com',
            }
          } only %}
        {% endset %}
        {% set spaceless_privacy_link %}{% spaceless %}{{ privacy_link }}{% endspaceless %}{% endset %}
        {% set terms_link %}
          {% include '@bolt-elements-text-link/text-link.twig' with {
            content: 'Terms of Use',
            attributes: {
              href: 'https://google.com',
            }
          } only %}
        {% endset %}
        {% set spaceless_terms_link %}{% spaceless %}{{ terms_link }}{% endspaceless %}{% endset %}
        {% include '@bolt-components-headline/text.twig' with {
          text: 'By clicking &ldquo;Sign up&rdquo; I agree that I have read and agree to ' ~ spaceless_privacy_link ~ ' and ' ~ spaceless_terms_link ~ '.',
          size: 'small',
        } only %}

        <p>
          {% include '@bolt-elements-button/button.twig' with {
            content: 'Sign Up',
            display: 'block',
            icon_before: icon_external_link,
            attributes: {
              type: 'button',
            },
          } only %}
        </p>

        {% set text_link %}
          {% include '@bolt-elements-text-link/text-link.twig' with {
            content: 'Already have an account? Log in',
            attributes: {
              href: 'https://google.com',
            }
          } only %}
        {% endset %}
        {% include '@bolt-components-headline/text.twig' with {
          text: text_link,
          size: 'small',
          align: 'center',
        } only %}
      {% endset %}

      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Sign Up',
        size: 'xlarge',
        tag: 'h1',
      } only %}

      {% set text_link %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Fill out this form with LinkedIn',
          icon_after: icon_linkedin_solid,
          attributes: {
            href: 'https://google.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-headline/text.twig' with {
        text: text_link,
        size: 'small'
      } only %}

      {% include '@bolt-components-form/form.twig' with {
        children: form_children
      } only %}

      {% include '@bolt-components-form/form.twig' with {
        children: children
      } only %}
    </div>
  {% endset %}

  {% set bullets %}
    <p class="u-bolt-text-align-center">
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          alt: 'Pega softwares',
          src: '/images/content/user/pega-registration.png',
          width: 388,
          height: 332,
        },
      } only %}
    </p>

    {% set list_content %}
      {% set icon_check_solid %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'check-circle',
          size: 'large',
          color: 'teal',
        } only %}
      {% endset %}

      {% set list_text %}
        {% include '@bolt-components-headline/text.twig' with {
          text: '<strong>Discover how Pega transforms customer experiences</strong> for the world&rsquo;s leading companies through our library of case studies, analyst reports and more.',
          tag: 'div',
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: icon_check_solid,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: list_text,
      } only %}

      {% set list_text %}
        {% include '@bolt-components-headline/text.twig' with {
          text: '<strong>Gain the knowledge</strong> and hands-on experience you need to successfully design, build and deploy applications with Pega.',
          tag: 'div',
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: icon_check_solid,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: list_text,
      } only %}

      {% set list_text %}
        {% include '@bolt-components-headline/text.twig' with {
          text: '<strong>Join a growing community of developers</strong> with Pega Academy courses and certifications for your interests and career path.',
          tag: 'div',
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: icon_check_solid,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: list_text,
      } only %}

      {% set list_text %}
        {% include '@bolt-components-headline/text.twig' with {
          text: '<strong>Get technical support, comprehensive tutorials,</strong> and converse with Pega professionals from all over the world on the Pega Community.',
          tag: 'div',
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: icon_check_solid,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: list_text,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout.twig' with {
      content: list_content,
      gutter: 'small',
      row_gutter: 'small',
      template: [
        'flag',
      ],
      attributes: {
        style: '--l-bolt-layout-flag-media-width: 2rem',
      },
    } only %}
  {% endset %}
  {% set layout_content %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: form,
    } only %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: bullets,
      order: 'first@from-medium',
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    padding_top: 'large',
    padding_bottom: 'large',
    gutter: 'xlarge',
    row_gutter: 'xlarge',
    template: [
      'halves@from-medium',
    ],
  } only %}
{% endset %}

{% set footer %}
  <footer class="c-base-ocpl-footer t-bolt-white">
    <div class="c-base-ocpl-footer__item">
      <strong class="u-bolt-margin-right-xsmall">Connect with us</strong>

      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: '<span class="u-bolt-visuallyhidden">LinkedIn</span>',
        icon_before: icon_linkedin,
        attributes: {
          href: 'https://google.com',
        }
      } only %}

      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: '<span class="u-bolt-visuallyhidden">Twitter</span>',
        icon_before: icon_twitter,
        attributes: {
          href: 'https://google.com',
        }
      } only %}

      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: '<span class="u-bolt-visuallyhidden">Facebook</span>',
        icon_before: icon_facebook,
        attributes: {
          href: 'https://google.com',
        }
      } only %}

      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: '<span class="u-bolt-visuallyhidden">YouTube</span>',
        icon_before: icon_youtube,
        attributes: {
          href: 'https://google.com',
        }
      } only %}
    </div>
    <div class="c-base-ocpl-footer__item">
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Terms of Use',
        reversed_underline: true,
        attributes: {
          href: 'https://google.com',
        }
      } only %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Privacy',
        reversed_underline: true,
        attributes: {
          href: 'https://google.com',
        }
      } only %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Contact',
        reversed_underline: true,
        attributes: {
          href: 'https://google.com',
        }
      } only %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'mysticalflyinghorse.com',
        reversed_underline: true,
        attributes: {
          href: 'https://google.com',
        }
      } only %}
    </div>
    <div class="c-base-ocpl-footer__item">
      &copy;2021 Pegasystems, Inc.
    </div>
  </footer>
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  header: header,
  main: {
    content: main_content,
  },
  footer: footer,
  attributes: {
    class: 't-bolt-gray-xlight',
  }
} only %}
