<h3>Trigger Image</h3>
<p>Click on the thumbnail to open a modal with an enlarged image.</p>

<div class="u-bolt-margin-bottom-medium">
  {% set thumbnail_content %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/tout-4x3-climber.jpg',
        alt: 'A Rock Climber',
        style: 'max-width: 200px',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set image_content %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/tout-4x3-climber.jpg',
        alt: 'A Rock Climber',
        laoding: 'lazy',
      }
    } only %}
  {% endset %}

  {% set modal_content %}
    {% include '@bolt-components-trigger/trigger.twig' with {
      content: image_content,
      cursor: 'zoom-out',
      display: 'block',
      attributes: {
        'data-bolt-modal-target': '.js-image-modal-123'
      }
    } only %}
  {% endset %}

  {% include '@bolt-components-trigger/trigger.twig' with {
    content: thumbnail_content,
    cursor: 'zoom-in',
    attributes: {
      'data-bolt-modal-target': '.js-image-modal-123',
    }
  } only %}

  {% include '@bolt-components-modal/modal.twig' with {
    attributes: {
      class: ['js-image-modal-123']
    },
    content: modal_content,
    spacing: 'none',
    theme: 'none',
    scroll: 'overall',
  } only %}
</div>
