{% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
  {% cell "u-bolt-width-6/12 u-bolt-width-4/12@small" %}
    <h3>Adapting an edge case from the old card footer</h3>
    {% set card_content %}
      {% include "@bolt-components-card/_card-media.twig" with {
        media: {
          image: {
            src: "/images/placeholders/landscape-16x9-mountains.jpg",
            alt: "Image alt.",
          },
        }
      } %}
      {% include "@bolt-components-card/_card-body.twig" with {
        body: {
          eyebrow: "This is an eyebrow",
          headline: "This is a headline",
          paragraph: "This is a paragraph.",
        },
      } %}
      {# If an old card footer had text only, use this container. #}
      <div class="c-bolt-card__footer">
        This is text from any old card footer that does not contain any buttons.
      </div>
      {#
        If an old card footer had buttons only, please convert to the new actions container.
        {% include "@bolt-components-card/_card-actions.twig" with actions %}
      #}
    {% endset %}
    {% include "@bolt-components-card/card.twig" with {
      tag: "article",
      height: "auto",
      content: card_content,
    } only %}
  {% endcell %}
{% endgrid %}

