{% set videoUuid3 = "js-bolt-video-uuid--3c" %}

<div style="max-width: 500px; padding: 2rem;">
  {% include "@bolt-components-card/card.twig" with {
    tag: "article",
    contentItems: [
      {
        pattern: "video",
        videoId: "5609376179001",
        accountId: "1900410236",
        playerId: "r1CAdLzTW",
        showMeta: true,
        showMetaTitle: false,
        videoUuid: videoUuid3
      },
      {
        pattern: "eyebrow",
        text: "Video"
      },
      {
        pattern: "headline",
        tag: "h3",
        size: "large",
        text: "Video Meta Title Goes Here."
      },
      {
        pattern: "text",
        text: "Anthem debuts its next-generation service desktop, driving frictionless customer experiences."
      },
      {
        pattern: "button",
        text: "Play or Pause",
        attributes: {
          "on-click": "toggle",
          "on-click-target": videoUuid3
        }
      }
    ]
  } only %}
</div>
