{% set themes = get_data("@bolt/themes.schema.json") %}

{% for theme in themes.properties.colors.enum %}
  {% set cards %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% for theme in themes.properties.colors.enum %}
        {% cell "u-bolt-width-12/12" %}
          {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
            {% cell "u-bolt-width-6/12 u-bolt-width-5/12@small" %}
              {% include "@bolt-components-card/card.twig" with {
                theme: theme,
                body: {
                  paragraph: "This card has its own theme prop set to: <mark>" ~ theme ~ "</mark>. In this scenario, the card background color is solid.",
                },
                actions: [
                  {
                    text: "This is a button",
                    url: "http://pega.com",
                  }
                ],
              } only %}
            {% endcell %}
            {% cell "u-bolt-width-6/12 u-bolt-width-5/12@small" %}
              {% include "@bolt-components-card/card.twig" with {
                theme: "none",
                body: {
                  paragraph: "This card has its own theme prop set to: <mark>none</mark>. In this scenario, the card background color is semi-transparent.",
                },
                actions: [
                  {
                    text: "This is a button",
                    url: "http://pega.com",
                  }
                ],
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endcell %}
      {% endfor %}
    {% endgrid %}
  {% endset %}

  <h3>Inside {{ theme|upper }} Parent Container</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@bolt-components-band/band.twig" with {
      theme: theme,
    } %}
      {% block band_content %}
        {{ cards }}
      {% endblock %}
    {% endembed %}
    {% embed "@bolt-components-band/band.twig" with {
      theme: theme,
      background: {
        opacity: "heavy",
        fill: "color",
        contentItems: [
          {
            pattern: "image",
            src: "/images/content/backgrounds/background-tall-3.jpg",
            lazyload: false
          }
        ]
      }
    } %}
      {% block band_content %}
        {{ cards }}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
