{% set schema = bolt.data.components["@bolt-components-text"].schema %}

{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
      {{ code | replace({
        '<': '&lt;',
        '>': '&gt;',
      }) | trim | raw }}
    {% endspaceless %}</bolt-code-snippet>
  </div>
{% endmacro %}

{% import _self as card_code %}

{% macro video() %}
  <bolt-ratio aspect-ratio-height="9" aspect-ratio-width="16" slot="media">
    <bolt-video data-setup='{"techOrder": ["Html5"], "resizeManager": false}' video-id="3861325118001" account-id="1900410236" show-meta show-meta-title player-id="r1CAdLzTW" controls></bolt-video>
  </bolt-ratio>
{% endmacro %}

{% macro image() %}
<bolt-image slot="media" src="/images/placeholders/landscape-16x9-mountains.jpg" alt="Card media."></bolt-image>

{# <bolt-text slot="media" headline>This is a headline</bolt-text> #}
{% endmacro %}

{% macro body() %}
<bolt-card-body>
    <bolt-text eyebrow>This is an eyebrow</bolt-text>
    <bolt-text headline>This is a headline</bolt-text>
    <bolt-text>This is a paragraph.</bolt-text>
  </bolt-card-body>
{% endmacro %}

{% macro body_clickable() %}
<bolt-card-body>
  This is a card with an overall link that makes the whole card clickable.
</bolt-card-body>
{% endmacro %}

{% macro body_with_link() %}
<bolt-card-body>This is a card with an overall link that makes the whole card clickable, while the body can still have <bolt-link target="_blank" url="https://boltdesignsystem.com/docs">text links</bolt-link> that would go somewhere else.</bolt-card-body>
{% endmacro %}

{% macro actions() %}
<bolt-button color="text" url="https://pega.com" width="full" align="start" slot="actions">
    Internal link
    <bolt-icon slot="after" name="chevron-right"></bolt-icon>
  </bolt-button>

  <bolt-button color="text" url="https://yahoo.com" target="_blank" width="full" align="start" slot="actions">
    External link
    <bolt-icon slot="after" name="external-link"></bolt-icon>
  </bolt-button>
{% endmacro %}

{% set card_web_component_demo %}
<bolt-card>
  {% include card_code.image() %}

  {% include card_code.body() %}

  {% include card_code.actions() %}
</bolt-card>
{% endset %}

{% set simple_link_demo %}
<bolt-card url="https://google.com" url-text="Go to google.com">
  {% include card_code.image() %}
  {% include card_code.body_clickable() %}
</bolt-card>
{% endset %}

{% set advanced_link_demo %}
<bolt-card>
  <bolt-card-link custom-attribute="foo" html-attribute="bar"><a href="http://google.com" target="_blank">Go to google.com</a></bolt-card-link>
  {% include card_code.image() %}
  {% include card_code.body_clickable() %}
</bolt-card>
{% endset %}

{% set nested_links_demo %}
<bolt-card url="https://google.com">
  {% include card_code.video() %}
  {% include card_code.body_with_link() %}
  {% include card_code.actions() %}
</bolt-card>
{% endset %}



<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Text is a web component, you can simply use <bolt-code-snippet display="inline" lang="html">&lt;bolt-card&gt;</bolt-code-snippet> in the markup to make it render. Its inner content is comprised of <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-media&gt;</bolt-code-snippet>, <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-body&gt;</bolt-code-snippet>, and <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-actions&gt;</bolt-code-snippet>.
  </bolt-text>
  {% include card_code.code_example(card_web_component_demo) %}

  <bolt-text headline>
    Simple Link Usage
  </bolt-text>
  <bolt-text>
    The simplest way to make the whole card clickable is by passing a link address to the <bolt-code-snippet display="inline" lang="html">url</bolt-code-snippet> prop on the main <bolt-code-snippet display="inline" lang="html">&lt;bolt-card&gt;</bolt-code-snippet> component itself. Also include the <bolt-code-snippet display="inline" lang="html">url-text</bolt-code-snippet> prop for accessibility.
  </bolt-text>
  {% include card_code.code_example(simple_link_demo) %}

  <bolt-text headline>
    Advanced Link Usage
  </bolt-text>
  <bolt-text>
    Insert a <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-link&gt;</bolt-code-snippet> inside <bolt-code-snippet display="inline" lang="html">&lt;bolt-card&gt;</bolt-code-snippet> and you can pass more than just <bolt-code-snippet display="inline" lang="html">url</bolt-code-snippet>. <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-link&gt;</bolt-code-snippet> is similar to <bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet>. You can add custom attributes to <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-link&gt;</bolt-code-snippet> and insert a semantic <bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet> or <bolt-code-snippet display="inline" lang="html">&lt;button&gt;</bolt-code-snippet> element inside.
  </bolt-text>
  {% include card_code.code_example(advanced_link_demo) %}

  <bolt-text headline>
    Nested Links
  </bolt-text>
  <bolt-text>
    While making the whole card clickable, you are still able to insert nested links as needed. Any <bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet>, <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-link&gt;</bolt-code-snippet>, and <bolt-code-snippet display="inline" lang="html">&lt;bolt-card-action&gt;</bolt-code-snippet> will work as expected.
  </bolt-text>
  {% include card_code.code_example(nested_links_demo) %}
</div>

