/* ==========================================================================
   #BOLT RATIO OBJECT
   ========================================================================== */

@import '@bolt/core';

bolt-ratio {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;

  @include bolt-css-vars((
    --aspect-ratio: 1/1,
  ));

  @supports (--custom:property) {
    padding-top: calc(100% / (var(--aspect-ratio)));
  }
}

/**
  * 1. Fallback selector if JS isn't disabled, but hasn't kicked in yet.
  * 2. Fallback selector for browsers not supporting ::slotted(*) selector
  */

bolt-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%; // workaround for content w/ hard-coded height & width
  min-height: 100%;
}

:host ::slotted(*) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%; // workaround for content w/ hard-coded height & width
  min-height: 100%;
}
