

  {# Breadcrumb Component in a Band #}
  {% set band_content %}
    {% include "@bolt/breadcrumb.twig" with {
      "contentItems": [
        include("@bolt/link.twig", {
          "text": "Stuffit",
          "url": "#"
        }),
        include("@bolt/link.twig", {
          "text": "Page",
          "url": "#"
        }),
        include("@bolt/link.twig", {
          "text": "Sub Page",
          "url": "#",
          "attributes": {
            "aria-current": "page"
          },
        })
      ]
    } only %}
  {% endset %}
  {% include "@bolt/band.twig" with {
    "size": "xsmall",
    "theme": "light",
    "content": band_content
  } only %}




{% embed "@bolt/band.twig" with {
  theme: "light",
  size: "xsmall"
} only %}

  {% block band_content %}

    {% grid "o-bolt-grid--center" %}
    
      {% cell "u-bolt-width-1/1 u-bolt-width-10/12@small u-bolt-width-9/12@medium" %}
      {% embed "@bolt-components-card/card.twig" with {
        theme: "xlight",
        attributes: {
          class:[
            "u-bolt-padding-small-squished@small",
            "u-bolt-padding-medium-squished@medium",
            "u-bolt-margin-top-medium",
            "u-bolt-margin-bottom-xlarge"
          ]
        }
        } only %}

        {% block card_body %}
        
          {% include "@bolt-components-headline/eyebrow.twig" with {
          text: "User Interface | Pega Platform | Version 7.2.1",
          } only %}

        {% include "@bolt/headline.twig" with {
          tag: "h1",
          size: "xxlarge",
          text: "Error when clicking manage records and issue with indexes",
          attributes: {
            class:[
              "u-bolt-margin-bottom-medium@small",
              "u-bolt-margin-bottom-large@medium"
            ]
          }
        } only %}

        {% include "@bolt/headline.twig" with {
          tag: "h2",
          size: "large",
          text: "SA-43719"
        } only %}

        {% include "@bolt/text.twig" with {
          text: "Published January 5, 2018 — Updated January 5, 2018"
        } only %}

        {% include "@bolt/text.twig" with {
          text: "<strong>SUMMARY</strong>"
        } only %}
        <p>Following is the configuration details:
        <br>Product Version: 12.0.5546.0
        <br>Product Name: SQL Server 2014
        <br>Product Level: SP2
        <br>Product Edition: Standard Edition (64-bit)
        <br>Product Update Level: CU5
        <br>User tried to re-create indexes on pr4_rule-vw table following the below steps:</p>
        <ol>
          <li>Copy the SQL contents for all the indexes corresponds to above table.</li>
          <li>Delete the indexes corresponds to above table.</li>
          <li>Re-create the indexes by executing the SQL contents that is available from step 'a'.</li>
        </ol>
        <br>User also tried to run sp_updatestats as below to improve the performance:</p>
        <P><strong>ERROR MESSAGES</strong></p>
        <p><tt>Status fail
          <br>Message There has been an issue; please consult your system administrator
          <br>Operator ID name@domain.country
          <br>Requestor ID H6B5936A93648A81F185A9DF08237B06E
          <br>Timestamp Mon Sep 04 14:57:08 MSK 2017
          <br>Engine Version PegaRULES 7.20 ML1 (coreAssemblyCached_721_916)
        </tt></P>
        <p><strong>STEPS TO REPRODUCE</strong>
        
          <ol>
            <li>Open data explorer</li>
            <li>Click on "Manage records" icon or on selected Data type. The error message appears.</li>
          </ol>
        </p>
        <p><strong>ROOT CAUSE</strong></p>
        <P>A defect or configuration issue in the operating environment . </P>
        <p>Microsoft SQL Server 2014 SP2 has cardinality issues and has recommendations for an upgrade to later versions.</p>
        <p>The local-change suggested for Pega is to use SQL Server in a lower compatibility version (110) in order to stay in a supported platform stack.</p>
        <p><strong>RESOLUTION</strong></p>
        <P>Here’s the explanation for the reported behavior:
        <BR>Point the compatibility mode to SQL server 2012, that is,110.
        </P>
      
      {#careful about the button on the small screen - 
        sometimes rendered as expected, sometimes not so much, more knowledgable 
        eyes than mine should test & change as necessary#}
      {% grid %}
        {% cell 'o-bolt-grid--full@small' 'o-bolt-grid--medium@medium' %}
          {% include "@bolt-components-button/button.twig" with {
            "text": "Subscribe",
            "style": "primary",
            "width": "full@small"
          } only %}
          {% include "@bolt-components-button/button.twig" with {
            "text": "Suggest Edit",
            "style": "text",
            "width": "full@small"
          } only %}
        {% endcell %}
      {% endgrid %}

      {% grid %}
          {% cell %}
      {% include "@bolt/headline.twig" with {
        text: "Tags:",
        size: "small",
        transform: "uppercase",
        attributes: {
          class:[
            "u-bolt-margin-top-medium@small",
            "u-bolt-margin-top-large@medium"
          ]
        }
      } only %}
      

      {% include "@bolt/chip-list.twig" with {
        "contentItems": [
          {
            "text": "Product Name"
          },
          {
            "text": "Topic"
          },
          {
            "text": "Version"
          }
        ]
      } %}

      {% endcell %}
      {% endgrid %}

      <hr>     

      {% grid "u-bolt-text-align-center" "o-bolt-grid--small" %}
      {% cell "u-bolt-width-1/1" "u-bolt-margin-bottom-small" "o.bolt-grid__cell--center" %}
          {% include "@bolt/headline.twig" with {
            text: "Did you find this content helpful?",
            size: "large",
          } only %}
      {% endcell %}

      {#change icon to the thumbsup - work in progress#}
      {% cell %}
          {% include "@bolt-components-link/link.twig" with {
            text: "Yes",
            url: "#",
            display: "inline",
            icon: {
              name: "add-open",
              position: "before",
              size: "large"
            }
          } only %}
      {% endcell %}

      {#change icon to the thumbsdown - work in progress#}
      {% cell %}
          {% include "@bolt-components-link/link.twig" with {
            text: "No",
            url: "#",
            display: "inline",
            icon: {
              name: "minus-open",
              position: "before",
              size: "large"
            }
          } only %}
          {% endcell %}
         
          {% cell "o-bolt-grid--full@small" "u-bolt-padding-left-medium@medium" %}        
          {% include "@bolt/text.twig" with {
            text: "x% found this helpful",
            display: "inline"
          } only %}   
          {% endcell %}
      {% endgrid %}    

      {% endblock %}
      {% endembed %}

    {% endcell %}
    {% endgrid %} 

    {% endblock %}
    {% endembed %}


{% embed "@bolt/band.twig" with {
  size: "small",
  theme: "dark"
} only %}
  {% block band_content %}

    {% grid 'o-bolt-grid--flex o-bolt-grid--matrix' %}
      {% cell 'u-bolt-width-1/1@small' 'u-bolt-width-1/2@medium' %}

        {% include "@bolt/headline.twig" with {
          text: "Have a question? Get answers now.",
          size: "xlarge"
        } only %},

        {% include "@bolt/text.twig" with {
          text: "Visit the Product Support community today to ask questions, engage in discussions, <link>and</link> meet other Pega professionals.
      "
        } only %}

      {% endcell %}

      {% cell 'u-bolt-width-1/1@small' 'u-bolt-width-1/2@medium' 'o-bolt-grid__cell--middle' 'o-bolt-grid--right' %} 

          {% embed "@bolt-components-button/button.twig" with {
            text: "Go"
          } %}
          {% endembed %}
        {% endcell %}
      
    {% endgrid %}

  {% endblock %}
  {% endembed %}
  
  {% embed "@bolt/band.twig" with {
    theme: "xlight"
  } %}
  {% block band_content %}

    {% include "@bolt-components-page-footer/page-footer.twig" with {
      "content": content,
    } only %}

  {% endblock %}
  
{% endembed %}

