@import '@bolt/settings-colors';
@import '@bolt/tools-spacing';
@import '@bolt/tools-color-palette';




/* ------------------------------------ *\
   unordered List
\* ------------------------------------ */

// Sample Usage
// <bolt-unordered-list bolt-component>
//   <ol class="c-bolt-unordered-list">
//     <li class="c-bolt-unordered-list__item">
//       Item 1
//     </li>
//     <li class="c-bolt-unordered-list__item">
//       Item 2
//     </li>
//     <li class="c-bolt-unordered-list__item">
//       Item 3
//     </li>
//   </ol>
// </bolt-unordered-list>


// Local Variables
$bolt-unordered-list-bullet-size: 8px; // Using px here because I need to make a perfect circle without subpixel issues.
$bolt-unordered-list-bullet-bg-color: var(--bolt-theme-heading, currentColor); // TODO: refactor this after theming is done.


// Custom element default styles
bolt-unordered-list {
  display: block;

  &:not(:last-child) {
    @include bolt-margin-bottom(medium);
  }
}


// Styles
.c-bolt-unordered-list {
  @include bolt-margin(0);
  @include bolt-padding(0);

  list-style: none;
}

.c-bolt-unordered-list__item {
  @include bolt-margin(0 0 small medium);
  @include bolt-padding(0);

  position: relative;

  &:before {
    display: block;
    position: absolute;
    top: .55rem;
    left: bolt-spacing(medium) * -1;
    width: $bolt-unordered-list-bullet-size;
    height: $bolt-unordered-list-bullet-size;
    content: '';
    border-radius: $bolt-unordered-list-bullet-size;
    background-color: currentColor;
    background-color: $bolt-unordered-list-bullet-bg-color;
    line-height: $bolt-unordered-list-bullet-size;
  }

  &:last-child {
    @include bolt-margin-bottom(0);
  }
}
