{% include '@pl/00-deprecated-link-docs.twig' %}

{% import _self as link_demo %}

{% set link_demo_advanced %}
<bolt-link>
  <a href="https://pega.com" target="_blank">This is a link</a>
</bolt-link>
{% endset %}

{% set link_demo_icon %}
{% spaceless %}
<p>
  <bolt-link><a href="https://pega.com"><span slot="before">{% include '@bolt-elements-icon/icon.twig' with { name: 'info-circle' } only %}</span>This is a link with icon</a></bolt-link>
</p>
<p>
  <bolt-link><a href="https://pega.com">This is a link with icon<span slot="after">{% include '@bolt-elements-icon/icon.twig' with { name: 'info-circle' } only %}</span></a></bolt-link>
</p>
{% endspaceless %}
{% endset %}

{% set link_demo_icon_code %}
<p>
  <bolt-link><a href="https://pega.com"><span slot="before"><!-- Icon Markup --></span>This is a link with icon</a></bolt-link>
</p>
<p>
  <bolt-link><a href="https://pega.com">This is a link with icon<span slot="after"><!-- Icon Markup --></span></a></bolt-link>
</p>
{% endset %}

{% set link_demo_inline %}
{% spaceless %}
<p>This is an <bolt-link><a href="https://pega.com">inline link</a></bolt-link>, and this is an <bolt-link><a href="https://pega.com"><span slot="before">{% include '@bolt-elements-icon/icon.twig' with { name: 'info-circle' } only %}</span>inline link with an icon</a></bolt-link>. Inline links are truly inline, which means the text can wrap to a second line and the icon falls on the baseline either before or after the text.</p>
{% endspaceless %}
{% endset %}

{% set link_demo_inline_code %}
<p>This is an <bolt-link><a href="https://pega.com">inline link</a></bolt-link>, and this is an <bolt-link><a href="https://pega.com"><span slot="after"><!-- Icon Markup --></span>inline link with an icon</a></bolt-link>. Inline links are truly inline, which means the text can wrap to a second line and the icon falls on the baseline either before or after the text.</p>
{% endset %}

<div class="o-bolt-wrapper">
  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Web Component Usage
    </bolt-text>
    <bolt-text>
      Bolt Link is a web component that renders a semantic link with Bolt styles. To make a simple link, wrap a semantic <code>&lt;a&gt;</code> element with a <code>&lt;bolt-link&gt;</code> element. Common HTML attributes such as <code>href</code> and <code>target</code> placed on the <code>&lt;a&gt;</code> would work as expected.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_demo_advanced }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: link_demo_advanced,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Inline Links
    </bolt-text>
    <bolt-text>
      When using inline links, do not add line breaks in or around your <code>&lt;bolt-icon&gt;</code> tag. Inline links will show the white-space added by line breaks, so removing them is necessary to eliminate unwanted space.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_demo_inline }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: link_demo_inline_code,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <bolt-text headline>
    Links with Icons
  </bolt-text>
  <bolt-text>
    To add icons to <code>&lt;bolt-link&gt;</code>, place a <code>&lt;bolt-icon&gt;</code> next to your link text. For icons to have the correct spacing, you <em>must</em> add the <code>slot</code> attribute to <code>&lt;bolt-icon&gt;</code>. The <code>slot</code> value can be <code>before</code> or <code>after</code>.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ link_demo_icon }}
      {% endcell %}
    {% endgrid %}
  </div>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: link_demo_icon_code,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>
