{% set schema = bolt.data.components["@bolt-components-popover"].schema %}

{% set link_1 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 1",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set link_2 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 2",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set link_3 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 3",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set content %}
  {% include "@bolt-components-list/list.twig" with {
    spacing: "small",
    separator: "solid",
    inset: true,
    items: [
      link_1,
      link_2,
      link_3,
    ]
  } only %}
{% endset %}
{% set menu_item_1 %}
  <bolt-trigger display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 1
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_item_2 %}
  <bolt-trigger display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 2
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_item_3 %}
  <bolt-trigger display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 3
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_list %}
  {% include "@bolt-components-list/list.twig" with {
    spacing: "none",
    separator: "solid",
    items: [
      menu_item_1,
      menu_item_2,
      menu_item_3,
    ]
  } only %}
{% endset %}
{% set trigger %}
  {% include "@bolt-components-button/button.twig" with {
    size: "xsmall",
    text: "Trigger",
    attributes: {
      "aria-haspopup": true,
      "aria-expanded": true,
      "role": "button",
    }
  } only %}
{% endset %}
{% set popover %}
  {# {% include "@bolt-components-popover/popover.twig" with {
    trigger: trigger,
    content: content,
  } only %} #}

  <bolt-list display="flex" spacing="xlarge">
    {% for placement in schema.properties.placement.enum %}
      <bolt-list-item>
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: placement,
          trigger: trigger,
          content: menu_list,
        } only %}
      </bolt-list-item>
    {% endfor %}
  </bolt-list>

{% endset %}


<div class="u-bolt-padding-top-xxlarge u-bolt-padding-right-medium u-bolt-padding-bottom-xxlarge u-bolt-padding-left-medium t-bolt-dark">
  {% include "@bolt-components-band/band.twig" with {
    theme: "light",
    full_bleed: false,
    content: popover,
  } only %}

  {# {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    full_bleed: false,
    content: popover,
  } only %} #}
</div>
