{% set trigger %}
  {% include "@bolt-components-button/button.twig" with {
    size: "xsmall",
    iconOnly: true,
    text: "Trigger",
    icon: {
      name: "more",
      position: "after",
    },
    attributes: {
      "aria-haspopup": true,
      "aria-expanded": true,
    }
  } only %}
{% endset %}
{% set menu_item_1 %}
  <bolt-trigger role="menuitem" display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 1
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_item_2 %}
  <bolt-trigger role="menuitem" display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 2
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_item_3 %}
  <bolt-trigger role="menuitem" display="block" cursor="pointer" no-outline>
    <div class="c-bolt-menu-item">
      Additional action 3
    </div>
  </bolt-trigger>
{% endset %}
{% set menu_list %}
  {% include "@bolt-components-list/list.twig" with {
    spacing: "none",
    separator: "solid",
    items: [
      menu_item_1,
      menu_item_2,
      menu_item_3,
    ],
    attributes: {
      role: "menu"
    },
  } only %}
{% endset %}
{% set popover_left %}
  <bolt-list spacing="xxlarge">
    <bolt-list-item>
      {% include "@bolt-components-popover/popover.twig" with {
        nowrap: true,
        placement: "left-top",
        trigger: trigger,
        content: menu_list,
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {% include "@bolt-components-popover/popover.twig" with {
        nowrap: true,
        placement: "left",
        trigger: trigger,
        content: menu_list,
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {% include "@bolt-components-popover/popover.twig" with {
        nowrap: true,
        placement: "left-bottom",
        trigger: trigger,
        content: menu_list,
      } only %}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_right %}
  <bolt-list spacing="xxlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "right-top",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "right",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "right-bottom",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_top %}
  <bolt-list display="flex" spacing="xlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "top-left",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "top",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "top-right",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_bottom %}
  <bolt-list display="flex" spacing="xlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "bottom-left",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "bottom",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-popover/popover.twig" with {
          nowrap: true,
          placement: "bottom-right",
          trigger: trigger,
          content: menu_list,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set grid %}
  {% include "@bolt-components-grid/grid.twig" with {
    gutter: "small",
    items: [
      {
        column_start: "2",
        column_span: "10",
        row_start: "1",
        content: popover_top,
      },
      {
        column_start: "12",
        column_span: "1",
        row_start: "2",
        content: popover_right,
      },
      {
        column_start: "2",
        column_span: "10",
        row_start: "3",
        content: popover_bottom,
      },
      {
        column_start: "1",
        column_span: "1",
        row_start: "2",
        content: popover_left,
      },
    ]
  } only %}
{% endset %}

{% set link_1 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 1",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set link_2 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 2",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set link_3 %}
  <bolt-text font-size="xsmall">
    {% include "@bolt-components-link/link.twig" with {
      text: "Additional action 3",
      url: "#!",
      icon: {
        name: "chevron-right",
        position: "after"
      },
      attributes: {
        "role": "menuitem",
      }
    } only %}
  </bolt-text>
{% endset %}
{% set link_list %}
  {% include "@bolt-components-list/list.twig" with {
    spacing: "small",
    separator: "solid",
    inset: true,
    items: [
      link_1,
      link_2,
      link_3,
    ]
  } only %}
{% endset %}

<div class="t-bolt-xlight u-bolt-padding-xxlarge">
  {% include "@bolt-components-band/band.twig" with {
    theme: "none",
    full_bleed: false,
    content: grid,
  } only %}
</div>
