{% set description %}
  The Holy Grail layout renders a sidebar on the left and another on the right. It is a top level page layout.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>The sidebars are sticky at and above the medium breakpoint.</bolt-li>
    <bolt-li>The primary sidebar transforms into a modal below the medium breakpoint. User can tap a trigger button to activate the modal. <code>trigger_icon</code> and <code>trigger_label</code> props are available for customizing the icon and label text in the trigger button.</bolt-li>
    <bolt-li>The secondary sidebar disappears entirely below the medium breakpoint. This sidebar is intended for non-essential information.</bolt-li>
    <bolt-li>Holy Grail layout should be used in tandem with <a href="{{ link['viewall-layouts-site'] }}" class="e-bolt-text-link">Site layout</a>. It would go into the main content area.</bolt-li>
    <bolt-li>Tech Doc is a great example of using Holy Grail layout, Site layout, Side Nav, Content Pagination, and Article element together. <a href="{{ link['pages-community-doc-layout'] }}" class="e-bolt-text-link">View demo<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right', } only %}</span></a></bolt-li>
    <bolt-li>Read more about holy grail layout on <a href="https://en.wikipedia.org/wiki/Holy_grail_(web_design)" class="e-bolt-text-link">Wikipedia</a>.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set content %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'This is a holy grail layout.',
    } only %}
  {% endset %}
  {% set sidebar_content %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Primary sidebar',
    } only %}
  {% endset %}
  {% set secondary_sidebar_content %}
    {% include '@bolt-components-placeholder/placeholder.twig' with {
      text: 'Secondary sidebar',
    } only %}
  {% endset %}
  {% set sidebar %}
    {% include '@bolt-layouts-holy-grail/holy-grail-sidebar.twig' with {
      content: sidebar_content,
    } only %}
  {% endset %}
  {% set secondary_sidebar %}
    {% include '@bolt-layouts-holy-grail/holy-grail-secondary-sidebar.twig' with {
      content: secondary_sidebar_content,
    } only %}
  {% endset %}

  {% include '@bolt-layouts-holy-grail/holy-grail.twig' with {
    content: content,
    sidebar: sidebar,
    secondary_sidebar: secondary_sidebar,
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
// Set up sidebar templates
{% set sidebar %}
  {% include '@bolt-layouts-holy-grail/holy-grail-sidebar.twig' with {
    content: 'Primary sidebar',
  } only %}
{% endset %}
{% set secondary_sidebar %}
  {% include '@bolt-layouts-holy-grail/holy-grail-secondary-sidebar.twig' with {
    content: 'Secondary sidebar',
  } only %}
{% endset %}

// Pass sidebars to main template
{% include '@bolt-layouts-holy-grail/holy-grail.twig' with {
  content: 'This is a holy grail layout.',
  sidebar: sidebar,
  secondary_sidebar: secondary_sidebar,
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Holy Grail Layout',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
