{% set description %}
  The Holy Grail layout renders a sidebar on the left and another on the right. The sidebars are sticky at and above medium breakpoint and transform into modals below medium breakpoint.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Community Tech Doc is a great example of using Side Nav, Content Pagination, Holy Grail layout, and Article element together. <a href="{{ link['pages-community-tech-doc'] }}" class="e-bolt-text-link">View Example Tech Documentation<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a></bolt-li>
    <bolt-li>Read more about holy grail layout on <a href="https://en.wikipedia.org/wiki/Holy_grail_(web_design)" class="e-bolt-text-link">Wikipedia</a>.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% include '@bolt-layouts-holy-grail/holy-grail.twig' with {
    content: 'This is a holy grail layout.',
    sidebar: {
      content: 'Primary sidebar',
    },
    secondary_sidebar: {
      content: 'Secondary sidebar',
    },
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-layouts-holy-grail/holy-grail.twig' with {
  content: 'This is a holy grail layout.',
  sidebar: {
    content: 'Primary sidebar',
  },
  secondary_sidebar: {
    content: 'Secondary sidebar',
  },
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Holy Grail Layout',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
