{% extends "@templates/default/default-template.twig" %}

{% block main_content %}

<div class="c-bolt-band c-bolt-band--large t-bolt-dark  c-bolt-band--full">

  <div class="o-bolt-wrapper">
    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--large o-bolt-grid--matrix" %}


      {% cell "u-bolt-width-1/1 u-bolt-width-2/3@small" %}
        {% include "@atoms/eyebrow.twig" with {
          text: "Customer Service"
        } %}

        {% include "@atoms/h1.twig" with {
          text: "Deliver game-changing results with real artificial intelligence.",
          size: "xxxlarge"
        } %}

        {% include "@atoms/h2.twig" with {
          type: "subheadline",
          text: "Powered by real AI, Pega Customer Service delivers game-changing results for enterprises.",
          size: "xxlarge"
        } %}

        {% include "@bolt/button.twig" with {
          text: "Call to Action"
        } %}

      {% endcell %}


      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        <ul class="o-bolt-ui-list">
          <li class="o-bolt-ui-list__item">
            {% include "@atoms/eyebrow.twig" with {
              text: "Customer Service"
            } %}
            {% include "@atoms/h3.twig" with {
              text: "Personalized. Not Creepy.",
              size: "medium"
            } %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@atoms/eyebrow.twig" with {
              text: "Sales Effectiveness"
            } %}
            {% include "@atoms/h3.twig" with {
              text: "Create Sales Superstars.",
              size: "medium"
            } %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@atoms/eyebrow.twig" with {
              text: "Operations & IT"
            } %}
            {% include "@atoms/h3.twig" with {
              text: "Stop Coding. Start Designing.",
              size: "medium"
            } %}
          </li>
        </ul>
      {% endcell %}
    {% endgrid %}




  </div>
</div>



<div class="c-bolt-band c-bolt-band--medium t-bolt-xdark  c-bolt-band--full">

  <div class="o-bolt-wrapper">

    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}

      {% cell "u-bolt-width-1/1 u-bolt-width-3/4@small u-bolt-flex-grow" %}

        {% grid %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/4@small" %}
            {% include "@atoms/p.twig" with {
              text: "Pega is #1 in software for customer engagement and operational excellence.",
              size: "xlarge",
              weight: "regular"
            } %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}


      {% cell "u-bolt-width-1/1@only-small" %}
        {% include "@bolt/button.twig" with {
          text: "Learn More",
          style: "flat",
          width: "full",
          size: "medium"
        } %}
      {% endcell %}
    {% endgrid %}




  </div>
</div>




<div class="c-bolt-band c-bolt-band t-bolt-light  c-bolt-band--full">

  <div class="o-bolt-wrapper">

    {% include "@atoms/h2.twig" with {
      text: "What's Trending"
    } %}

    {% grid "o-bolt-grid--matrix" %}

      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        {% include "@atoms/image.twig" with {
          src: "http://via.placeholder.com/1242x510"
        } %}
        {% include "@atoms/eyebrow.twig" with {
          text: "Operations & IT"
        } %}
        {% include "@atoms/h3.twig" with {
          text: "Executive Series: Thought Leaders Discuss a New Era of Marketing",
          size: "large"
        } %}
        {% include "@atoms/p.twig" with {
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
        } %}
        {% include "@atoms/button.twig" with {
          text: "Call to Action",
          style: "secondary",
          width: "full"
        } %}
      {% endcell %}


      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        {% include "@atoms/image.twig" with {
          src: "http://via.placeholder.com/1242x510"
        } %}
        <!-- <div class="o-bolt-island o-bolt-island--small"> -->
          {% include "@atoms/eyebrow.twig" with {
            text: "Operations & IT"
          } %}
          {% include "@atoms/h3.twig" with {
            text: "Executive Series: Thought Leaders Discuss a New Era of Marketing",
            size: "large"
          } %}
          {% include "@atoms/p.twig" with {
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
          } %}
          {% include "@atoms/button.twig" with {
            text: "Call to Action",
            style: "secondary",
            width: "full"
          } %}
        <!-- </div> -->




      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        {% include "@atoms/image.twig" with {
          src: "http://via.placeholder.com/1242x510"
        } %}
        {% include "@atoms/eyebrow.twig" with {
          text: "Operations & IT"
        } %}
        {% include "@atoms/h3.twig" with {
          text: "Executive Series: Thought Leaders Discuss a New Era of Marketing",
          size: "large"
        } %}
        {% include "@atoms/p.twig" with {
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
        } %}
        {% include "@atoms/button.twig" with {
          text: "Call to Action",
          style: "secondary",
          width: "full"
        } %}

      {% endcell %}
    {% endgrid %}




  </div>
</div>





<div class="c-bolt-band c-bolt-band t-bolt-xdark  c-bolt-band--full">

  <div class="o-bolt-wrapper">

    {% grid "o-bolt-grid--matrix o-bolt-grid--large" %}

      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        {% include "@atoms/image.twig" with {
          src: "http://via.placeholder.com/1146x645"
        } %}
      {% endcell %}


      {% cell "u-bolt-width-1/1 u-bolt-width-2/3@small" %}

        {% grid %}

          {% cell "u-bolt-width-1/1 u-bolt-width-3/4@small" %}
            {% include "@atoms/h3.twig" with {
              text: "There’s a real alternative to the Salesforce.com hype: Pega CRM.",
              size: "xlarge"
            } %}
            {% include "@atoms/p.twig" with {
              text: "Considering Salesforce.com? Don’t fall for the hype. See why today’s leading enterprises choose Pega CRM."
            } %}
            {% include "@atoms/button.twig" with {
              text: "Get Real",
              style: "primary",
              size: small
            } %}
          {% endcell %}
        {% endgrid %}

      {% endcell %}
    {% endgrid %}
  </div>
</div>
{% endblock %}
