{% set main_content %}
  {% set video %}
    <video-js
      data-account="1900410236"
      data-player="O3FkeBiaDz"
      data-embed="default"
      data-video-id="4892122320001"
      controls
      class="c-base-video"></video-js>
  {% endset %}

  <h2>Video with No Autoplay</h2>

  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video,
    ratio: 'wide'
  } only %}

  {% set video_1 %}
    <video-js
      data-account="1900410236"
      data-player="O3FkeBiaDz"
      data-embed="default"
      data-video-id="4892122320001"
      data-autoplay-on-viewport
      muted
      controls
      class="c-base-video"></video-js>
  {% endset %}

  <h2>Video with Autoplay in Viewport</h2>

  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video_1,
    ratio: 'wide'
  } only %}

  <div style="position:relative;height:1000px;"></div>

  {% set video_2 %}
    <video-js
      data-account="1900410236"
      data-player="O3FkeBiaDz"
      data-embed="default"
      data-video-id="4892122320001"
      data-autoplay-on-viewport
      muted
      controls
      class="c-base-video"></video-js>
  {% endset %}

  <h2>Video with Autoplay Outside Viewport</h2>

  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video_2,
    ratio: 'wide'
  } only %}
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
