{% set main_content %}
  {% set modal_id = 'js-bolt-modal-' ~ random() %}
  {% set video %}
    {% set video_embed %}
      <video-js
        data-account='1900410236'
        data-player='O3FkeBiaDz'
        data-embed='default'
        data-video-id='4892122320001'
        controls
        class="c-base-video"></video-js>
    {% endset %}
    {% include '@bolt-elements-ratio/ratio.twig' with {
      content: video_embed,
      ratio: 'wide'
    } only %}
  {% endset %}
  {% set video_thumbnail %}
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          ratio: false,
          background: true,
          loading: 'lazy',
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      duration: '4:55',
      subtitles: true
    } only %}
  {% endset %}
  <div style="max-width: 60ch">
    {% include '@bolt-components-trigger/trigger.twig' with {
      content: video_thumbnail,
      display: 'block',
      attributes: {
        'data-bolt-modal-target': '#' ~ modal_id,
      }
    } only %}
    {% include '@bolt-components-modal/modal.twig' with {
      content: video,
      width: 'optimal',
      spacing: 'none',
      scroll: 'overall',
      attributes: {
        id: modal_id,
      },
    } only %}
  </div>
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
