{% set main_content %}
  {% set modal_id = 'js-bolt-modal-' ~ random() %}
  {% set video %}
    <video-js
      data-account='1900410236'
      data-player='O3FkeBiaDz'
      data-embed='default'
      data-video-id='4892122320001'
      controls
      class="c-base-video"></video-js>
  {% endset %}
  {% set video_thumbnail %}
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          ratio: false,
          background: true,
          loading: 'lazy',
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      video: video,
      video_id: 'vjs-video-3',
      duration: '4:55',
      has_subtitles: true
    } only %}
  {% endset %}
  <div style="max-width: 60ch">
    {{ video_thumbnail }}
  </div>
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
