<h2>Web Component Usage</h2>
<p>Bolt Ordered List is a web component, you can simply use <code class="language-html">&lt;bolt-ordered-list&gt;</code> in the markup to make it render. Its inner content is comprised of <code class="language-html">&lt;bolt-ordered-list-item&gt;</code>.</p>
<h3>Example</h3>
<pre class="c-bolt-code-snippet-syntax--light"><code class="language-html">&lt;bolt-ol&gt;
  &lt;bolt-ligt;Item 1&lt;/bolt-ligt;
  &lt;bolt-ligt;Item 2&lt;/bolt-ligt;
  &lt;bolt-ligt;Item 3&lt;/bolt-ligt;
  &lt;bolt-ligt;Item 4&lt;/bolt-ligt;
  &lt;bolt-ligt;Item 5&lt;/bolt-ligt;
&lt;/bolt-ol&gt;</code></pre>

<bolt-ol>
  <bolt-li>Item 1</bolt-li>
  <bolt-li>Item 2</bolt-li>
  <bolt-li>Item 3</bolt-li>
  <bolt-li>Item 4</bolt-li>
  <bolt-li>Item 5</bolt-li>
</bolt-ol>

