$white: white;
$black: darken($white,100%);
$off-white: darken($white,4%);
$off-black: darken($white,90%);
$yellow: yellow;


$green: #28a228;
$blue: #3455db;
$purple: #9b59b6;
$gold: #b8860b;
$orange: #ff4500;
$red: #ff0000;

$inverse-green: #32cd32;
$inverse-blue: #19b5fe;
$inverse-purple: #9b59b6;
$inverse-gold: #f7ca18;
$inverse-orange: #ff4500;
$inverse-red: #dc143c;


$muted: darken($white,15%);
$body-text-color: $black;
$heading-color: $black;
$background-color: $white;
$link-color: $blue;
$link-color-visited: $purple;
$border-color: $muted;
$subtle-background-color: $off-white;
$highlight-text-color: $background-color;
$highlight-background-color: $link-color;


$inverse-muted: darken($white,80%);
$inverse-body-text-color: $white;
$inverse-heading-color: $white;
$inverse-background-color: $black;
$inverse-link-color: $inverse-blue;
$inverse-link-color-visited: $inverse-purple;
$inverse-border-color: $inverse-muted;
$inverse-subtle-background-color: $off-black;
$inverse-highlight-text-color: $inverse-background-color;
$inverse-highlight-background-color: $inverse-link-color;
