////
/// @group Settings: Colors
////

/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */

@import '../../02-tools/tools-data/tools-data.scss';
/// Bolt default color var.
$bolt-color-default: 'base';

/// Bolt Brand Colors - merged into $bolt-colors map
/// @type map
$bolt-brand-colors: (
  'indigo': (
    'xdark': hsl(220.4, 71%, 12%),
    'dark': hsl(220.4, 60%, 18%),
    'base': hsl(220.4, 100%, 18.6%),
    'light': hsl(220.4, 50%, 49%),
    'xlight': hsl(220.4, 73%, 81%)
  ),
  'navy': (
    'xdark': hsl(220.4, 71%, 12%),
    'dark': hsl(220.4, 60%, 18%),
    'base': hsl(220.4, 100%, 18.6%),
    'light': hsl(220.4, 50%, 49%),
    'xlight': hsl(220.4, 73%, 81%)
  ),
  'yellow': (
    'xdark': hsl(43.6, 100%, 20%),
    'dark': hsl(43.6, 82%, 50%),
    'base': hsl(43.6, 100%, 60.6%),
    'light': hsl(43.6, 100%, 80%),
    'xlight': hsl(43.6, 100%, 90%)
  ),
  'teal': (
    'xdark': hsl(182.1, 100%, 16.5%),
    'dark': hsl(182.7, 82%, 22%),
    'base': hsl(182.7, 83%, 36.9%),
    'light': hsl(176.5, 39.1%, 65.9%),
    'xlight': hsl(182.7, 48%, 81%)
  ),
  'orange': (
    'xdark': hsl(19.8, 100%, 20%),
    'dark': hsl(19.8, 82%, 39%),
    'base': hsl(19.8, 93%, 55.3%),
    'light': hsl(19.8, 100%, 70%),
    'xlight': hsl(19.8, 100%, 85%)
  ),
  'gray': (
    'xdark': hsl(233, 6%, 19%),
    'dark': hsl(233, 5.3%, 38%),
    'base': hsl(233, 5.7%, 57.6%),
    'light': hsl(233, 20%, 90%),
    'xlight': hsl(233, 23%, 97%)
  ),
  'black': (
    'base': hsl(225, 8%, 9%)
  ),
  'white': (
    'base': hsl(0, 0%, 100%)
  )
) !default;

/// Bolt Status Colors - merged into $bolt-colors map
/// @type map
$bolt-status-colors: (
  'blue': (
    'dark': hsl(206.1, 100%, 25%),
    'base': hsl(206.1, 100%, 41%),
    'light': hsl(206.1, 100%, 92%)
  ),
  'success': (
    'dark': rgb(37, 41%, 25%),
    'base': hsl(123, 41%, 35%),
    'light': hsl(123, 41%, 90%)
  ),
  'error': (
    'dark': hsl(6, 76%, 35%),
    'base': hsl(6, 76%, 40%),
    'light': hsl(6, 80%, 90%)
  ),
  'warning': (
    'dark': hsl(51, 80%, 45%),
    'base': hsl(51, 80%, 55%),
    'light': hsl(51, 80%, 90%)
  )
) !default;

/// Bolt Social Colors - merged into $bolt-colors map
/// @type map
$bolt-social-colors: (
  'social': (
    'facebook': hsl(222, 46%, 42%),
    'twitter': hsl(196, 100%, 46%),
    'linkedin': hsl(201, 96%, 36%)
  )
) !default;

/// All Bolt Colors - used within bolt-color @mixin and @function
/// @type map
/// @see {mixin} bolt-color
/// @see bolt-color
$bolt-colors: map-merge(
  map-merge($bolt-brand-colors, $bolt-status-colors),
  $bolt-social-colors
) !default;

@include bolt-export-data('colors/all.bolt.json', $bolt-colors);
@include bolt-export-data('colors/status.bolt.json', $bolt-status-colors);
@include bolt-export-data('colors/brand.bolt.json', $bolt-brand-colors);
@include bolt-export-data('colors/social.bolt.json', $bolt-social-colors);
