<p>Default icon postion is after the link:</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "Like This",
    url: "#!",
    icon: {
      name: "info-open",
    },
  } only %}
</p>
<p>But the icon can go before the link:</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "Like This",
    url: "#!",
    icon: {
      name: "info-open",
      position: "before"
    },
  } only %}
</p>
<p>And the link may also appear in a paragraph:</p>
<p>
  Aute et occaecat cupidatat
  {% include "@bolt-components-link/link.twig" with {
    text: "adipisicing fugiat",
    url: "#!",
    icon: {
      name: "info-open",
      position: "before"
    },
  } only %}
   qui magna amet cupidatat eiusmod fugiat aute.
  {% include "@bolt-components-link/link.twig" with {
    text: "Velit ex sit sint",
    url: "#!",
  } only %}
  in nisi est proident deserunt eu esse aliquip cillum. Anim ea magna sit exercitation exercitation fugiat culpa quis ea adipisicing.
  {% include "@bolt-components-link/link.twig" with {
    text: "Learn more",
    url: "#!",
    icon: {
      name: "chevron-right",
    },
  } only %}
</p>
