<h3>Link with Button element</h3>
<p>When you want the appearance of Link but the on-click behavior is handled separately (by Tooltip for example), omit the <code>url</code> property and the Link component will internally render a <code>&lt;button&gt;</code>.</p>

{% include "@bolt-components-link/link.twig" with {
  text: "Link with button element"
} only %}
