{% macro code_example(code, copy) %}
  <bolt-code-snippet syntax="dark" lang="html" {{ copy ? 'copy-to-clipboard' : '' }}>{% spaceless %}
    {{ code | replace({
      '<': '&lt;',
      '>': '&gt;',
    }) | trim | raw }}
  {% endspaceless %}</bolt-code-snippet>
{% endmacro %}

{% import _self as link_demo %}


{% set link_with_data_attributes %}
<bolt-link>
  <a href="https://pega.com" data-analytics="click">
    Links retain most HTML attributes
  </a>
</bolt-link>
{% endset %}

{% set link_with_prop_conflict %}
<bolt-link url="https://www.google.com">
  <a href="https://pega.com" style="color: red">
    Props > Initial HTML Attributes
  </a>
</bolt-link>
{% endset %}

<div class="u-bolt-margin-bottom-small">
  {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
    {% cell "u-bolt-width-12/12" %}
      <bolt-text headline>
        Adding Additional HTML Attributes to Link
      </bolt-text>

      <div class="u-bolt-padding-small t-bolt-xlight">
       <bolt-text>Any initial HTML attributes on a <code>&lt;bolt-link&gt;</code>'s inner <code>&lt;a&gt;</code> tag will be retained with two exceptions: inline styles (auto-removed to avoid styling issues) and any HTML attributes that are in direct conflict with the props passed into the web component.</bolt-text>
      </div>

      <div class="u-bolt-padding-small t-bolt-light">
        <p>{{ link_with_data_attributes }}</p>
      </div>

      {% include link_demo.code_example(link_with_data_attributes, true) %}
    {% endcell %}

    {% cell "u-bolt-width-12/12" %}
      <bolt-text headline>
        Most (But Not All) HTML Attributes Supported
      </bolt-text>

      <bolt-text>For example, the <code>url</code> prop passed along to this web component will override any initial HTML <code>href</code> attribute present.</bolt-text>

      <div class="u-bolt-padding-small t-bolt-light">
        <p>{{ link_with_prop_conflict }}</p>
      </div>

      {% include link_demo.code_example(link_with_prop_conflict, true) %}
    {% endcell %}
  {% endgrid %}
</div>
