/* ------------------------------------ *\
  SETTINGS - COLORS
\* ------------------------------------ */

@import '@bolt/tools-export-data'; //So we can export sass maps
@import 'sass-toolkit/stylesheets/toolkit';

$bolt-color-default: 'base';

$bolt-brand-colors: (
  indigo: (
    xdark:  hsl(233, 71%, 8%),
    dark:   hsl(233, 47%, 16%),
    base:   hsl(233, 47%, 23%),
    light:  hsl(233, 33%, 40%),
    xlight: hsl(233, 100%, 89%)
  ),
  blue: (
    dark: hsl(201, 100%, 25%),
    base: hsl(201, 100%, 35%),
    light: hsl(201, 100%, 92%)
  ),
  yellow: (
    xdark:  hsl(43, 100%, 20%),
    dark:   hsl(43, 82%, 50%),
    base:   hsl(43, 100%, 65%),
    light:  hsl(43, 100%, 80%),
    xlight: hsl(43, 100%, 90%)
  ),
  teal: (
    xdark:  hsl(180, 100%, 10%),
    dark:   hsl(180, 82%, 22%),
    base:   hsl(180, 100%, 30%),
    light:  hsl(180, 45%, 64%),
    xlight: hsl(180, 48%, 81%)
  ),
  orange: (
    xdark:  hsl(15, 100%, 20%),
    dark:   hsl(15, 82%, 39%),
    base:   hsl(15, 82%, 50%),
    light:  hsl(15, 100%, 70%),
    xlight: hsl(15, 100%, 85%)
  ),
  gray: (
    xdark:   hsl(230, 6%, 19%),
    dark:    hsl(235, 5%, 38%),
    base:    hsl(235, 6%, 58%),
    light:   hsl(235, 20%, 90%),
    xlight:  hsl(240, 33%, 97%)
  ),
  black: (
    base: hsl(225, 8%, 9%)
  ),
  white: (
    base: hsl(0, 0%, 100%)
  )
);


$bolt-status-colors: (
  success: (
    dark: hsl(121, 41%, 25%),
    base: hsl(121, 41%, 35%),
    light: hsl(121, 41%, 90%)
  ),
  error: (
    dark: hsl(6, 76%, 35%),
    base: hsl(6, 76%, 40%),
    light: hsl(6, 76%, 90%)
  ),
  warning: (
    dark: hsl(51, 80%, 45%),
    base: hsl(51, 80%, 55%),
    light: hsl(51, 80%, 90%)
  )
);





$bolt-status-colors: bolt-export-data('bolt-status-colors.json', $bolt-status-colors, $prefix: '{ "bolt_status_colors":', $suffix: '}');
$bolt-brand-colors: bolt-export-data('bolt-brand-colors.json', $bolt-brand-colors, $prefix: '{ "bolt_brand_colors":', $suffix: '}');


$bolt-colors: map-merge($bolt-brand-colors, $bolt-status-colors);
$bolt-colors: bolt-export-data('bolt-colors.json', $bolt-colors, $prefix: '{ "bolt_colors":', $suffix: '}');
