/* ------------------------------------ *\
  #FLEX UTILITIES
\* ------------------------------------ */


.u-bolt-flex-grow {
  flex-grow: 1 !important;
}

.u-bolt-flex-shrink {
  flex-shrink: 1 !important;
}

.u-bolt-flex-basis-auto {
  flex-basis: auto !important;
}
