{% extends "@bolt/default-template.twig" %}

{% block main_content %}
  <form action="#" method="post" class="c-bolt-form t-bolt-xlight">
    <fieldset class="c-bolt-fieldset">
      <legend class="c-bolt-fieldset__legend">
        Fieldset 0: Client-side Validations
      </legend>
      <div class="c-bolt-fieldset__items">
        <label class="c-bolt-fieldset__item" for="valid-input">
          <input class="c-bolt-input-field is-touched is-filled" type="text" name="valid-input" id="valid-input" placeholder="Enter text" value="Valid" required valid />
          <div class="c-bolt-input-label">
            Text Input
          </div>
        </label>
        <label class="c-bolt-fieldset__item" for="invalid-input">
          <input class="c-bolt-input-field is-touched is-filled" type="email" name="invalid-input" id="invalid-input" placeholder="Enter email address" value="Invalid" required invalid />
          <div class="c-bolt-input-label">
            Email Input
          </div>
          <div class="c-bolt-input-message c-bolt-input-message--invalid">
            {% include "@bolt/text.twig" with {
              text: "Unfortunately, you are doing it wrong.",
              size: "xsmall"
            } only %}
          </div>
          <div class="c-bolt-input-icons">
            <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
              <li class="o-bolt-inline-list__item">
                <div class="c-bolt-input-icon">
                  {% include "@bolt/icon.twig" with {
                    "name": "warning",
                    "size": "medium"
                  } only %}
                </div>
              </li>
            </ul>
          </div>
        </label>
        <label class="c-bolt-fieldset__item" for="disabled-input">
          <input class="c-bolt-input-field is-touched is-filled" type="text" name="disabled-input" id="disabled-input" placeholder="Enter text" value="Disabled" required disabled />
          <div class="c-bolt-input-label">
            Text Input
          </div>
        </label>
        <label class="c-bolt-fieldset__item" for="password-input">
          <input class="c-bolt-input-field is-touched is-filled" type="password" name="password-input" id="password-input" placeholder="Enter password" value="12345" required />
          <div class="c-bolt-input-label">
            Password
          </div>
          <div class="c-bolt-input-icons">
            <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
              <li class="o-bolt-inline-list__item">
                <a class="c-bolt-input-icon c-bolt-input-icon--link" href="javascript:">
                  {% include "@bolt/icon.twig" with {
                    "name": "eye-off",
                    "size": "medium"
                  } only %}
                </a>
              </li>
            </ul>
          </div>
        </label>
      </div>
    </fieldset>
    <fieldset class="c-bolt-fieldset">
      <legend class="c-bolt-fieldset__legend">
        Fieldset 1: Text
      </legend>
      <ol class="c-bolt-fieldset__items">
        <label for="url-input" class="c-bolt-fieldset__item">
          <input class="c-bolt-input-field" type="url" name="url-input" id="url-input" placeholder="Enter a url" required />
          <div class="c-bolt-input-label">
            URL
          </div>
        </label>
        <label for="search-input" class="c-bolt-fieldset__item">
          <input class="c-bolt-input-field" type="search" name="search-input" id="search-input" placeholder="Enter text to search" required />
          <div class="c-bolt-input-label">
            Search
          </div>
          <div class="c-bolt-input-icons">
            <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
              <li class="o-bolt-inline-list__item">
                <div class="c-bolt-input-icon">
                  {% include "@bolt/icon.twig" with {
                    "name": "search",
                    "size": "medium"
                  } only %}
                </div>
              </li>
            </ul>
          </div>
        </label>
        <label for="date-input" class="c-bolt-fieldset__item">
          <input class="c-bolt-input-field" type="date" name="date-input" id="date-input" placeholder="Enter a date" required />
          <div class="c-bolt-input-label">
            Date
          </div>
          <div class="c-bolt-input-icons">
            <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
              <li class="o-bolt-inline-list__item">
                <div class="c-bolt-input-icon">
                  {% include "@bolt/icon.twig" with {
                    "name": "calendar",
                    "size": "medium"
                  } only %}
                </div>
              </li>
            </ul>
          </div>
        </label>
        <label for="number-input" class="c-bolt-fieldset__item">
          <input class="c-bolt-input-field" type="number" name="number-input" id="number-input" placeholder="Enter a number" required />
          <div class="c-bolt-input-label">
            Number
          </div>
        </label>
        <label for="text-input" class="c-bolt-fieldset__item">
          <input class="c-bolt-input-field" type="text" name="text-input" id="text-input" placeholder="Enter the title" required />
          <div class="c-bolt-input-label">
            Title
          </div>
        </label>
        <label for="textarea" class="c-bolt-fieldset__item">
          <textarea class="c-bolt-input-field" cols="40" rows="8" name="textarea" id="textarea" placeholder="Describe the job" required></textarea>
          <div class="c-bolt-input-label">
            Description
          </div>
        </label>
      </ol>
    </fieldset>
    <fieldset class="c-bolt-fieldset">
      <legend class="c-bolt-fieldset__legend">
        Fieldset 2: Select
      </legend>
      <div class="c-bolt-fieldset__items">
        <label class="c-bolt-fieldset__item" for="select">
          <select class="c-bolt-input-field" name="select" id="select">
            <option disabled selected>
              Select a choice
            </option>
            <option value="Choice 1">
              Choice 1
            </option>
            <option value="Choice 2">
              Choice 2
            </option>
            <option value="Choice 3">
              Choice 3
            </option>
          </select>
          <div class="c-bolt-input-label">
            Select
          </div>
          <div class="c-bolt-input-icons">
            <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
              <li class="o-bolt-inline-list__item">
                <a href="javascript:">
                  {% include "@bolt/icon.twig" with {
                    "name": "chevron-right",
                    "size": "medium"
                  } only %}
                </a>
              </li>
            </ul>
          </div>
        </label>
      </div>
    </fieldset>
    <fieldset class="c-bolt-fieldset">
      <legend class="c-bolt-fieldset__legend">
        Fieldset 3: Checkbox
      </legend>
      <div class="c-bolt-fieldset__items">
        <label class="c-bolt-fieldset__item" for="checkbox-choice-1">
          <input class="c-bolt-checkbox-field" type="checkbox" name="checkbox" id="checkbox-choice-1" value="checkbox-1" />
          <div class="c-bolt-checkbox-label">
            Checkbox 1
          </div>
        </label>
        <label class="c-bolt-fieldset__item" for="checkbox-choice-2">
          <input class="c-bolt-checkbox-field" type="checkbox" name="checkbox" id="checkbox-choice-2" value="checkbox-2" />
          <div class="c-bolt-checkbox-label">
            Checkbox 2
          </div>
        </label>
      </div>
    </fieldset>
    <fieldset class="c-bolt-fieldset">
      <legend class="c-bolt-fieldset__legend">
        Fieldset 4: Radio
      </legend>
      <div class="c-bolt-fieldset__items">
        <label class="c-bolt-fieldset__item" for="radio-choice-1">
          <input class="c-bolt-radio-field" type="radio" name="radio" id="radio-choice-1" value="radio-1" />
          <div class="c-bolt-radio-label">
            Radio 1
          </div>
        </label>
        <label class="c-bolt-fieldset__item" for="radio-choice-2">
          <input class="c-bolt-radio-field" type="radio" name="radio" id="radio-choice-2" value="radio-2" />
          <div class="c-bolt-radio-label">
            Radio 2
          </div>
        </label>
      </div>
    </fieldset>
    {% include "@bolt/button.twig" with {
      tag: "button",
      text: "Submit",
      width: "full"
    } only %}
  </form>
{% endblock %}
