<form action="#" method="post">
  <fieldset>
    <legend>
      Fieldset 1
    </legend>
    <ol>
      <li>
        <label for="text-input">
          <div>
            Text Input
          </div>
          <input type="text" name="text-input" id="text-input" value="" placeholder="Text input" />
        </label>
      </li>
      <li>
        <label for="select-choice">
          <div>
            Select Dropdown Choice
          </div>
          <select name="select-choice" id="select-choice">
            <option disabled selected>
              Select a choice
            </option>
            <option value="Choice 1">
              Choice 1
            </option>
            <option value="Choice 2">
              Choice 2
            </option>
            <option value="Choice 3">
              Choice 3
            </option>
          </select>
        </label>
      </li>
      <li>
        <label for="textarea">
          <div>
            Textarea
          </div>
          <textarea cols="40" rows="8" name="textarea" id="textarea" placeholder="Enter message here"></textarea>
        </label>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <legend>
      Fieldset 2: Checkbox Button Choice
    </legend>
    <label for="checkbox-choice-1">
      <input type="checkbox" name="checkbox" id="checkbox-choice-1" value="checkbox-1" />
      <span>
        Checkbox 1
      </span>
    </label>
    <label for="checkbox-choice-2">
      <input type="checkbox" name="checkbox" id="checkbox-choice-2" value="checkbox-2" />
      <span>
        Checkbox 2
      </span>
    </label>
  </fieldset>
  <fieldset>
    <legend>
      Fieldset 3: Radio Button Choice
    </legend>
    <ol>
      <li>
        <label for="radio-choice-1">
          <input type="radio" name="radio" id="radio-choice-1" value="radio-1" />
          <span>
            Radio 1: kinda long text here.
          </span>
        </label>
      </li>
      <li>
        <label for="radio-choice-2">
          <input type="radio" name="radio" id="radio-choice-2" value="radio-2" />
          <span>
            Radio 2: kinda long text here.
          </span>
        </label>
      </li>
    </ol>
  </fieldset>
  <p>
    <button type="submit" tabindex="8">
      Submit
    </button>
  </p>
  <footer>
    <small>
      <p>
        <strong>
          Note:
        </strong>
        <span>
          All fields are required unless otherwise noted.
        </span>
      </p>
    </small>
  </footer>
</form>
