{% extends "@pl/_default-page-template.twig" %}

{% block global_header %}
  {% include "@bolt/page-header.twig" %}
{% endblock %}


{% block main_content %}
  {# Toolbar #}
  {% set icon %}
    {% include "@bolt-components-icon/icon.twig" with {
      name: "launchpad",
      size: "medium",
    } only %}
  {% endset %}
  {% set crumb_1 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Mission Title",
      url: "#!",
    } only %}
  {% endset %}
  {% set breadcrumb %}
    {% include "@bolt-components-breadcrumb/breadcrumb.twig" with {
      contentItems: [
        crumb_1,
        "Configuring a case hierarchy"
      ]
    } only %}
  {% endset %}
  {% set title %}
    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      items: [
        icon,
        breadcrumb,
      ]
    } only %}
  {% endset %}
  {% set tool_1 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Share",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "share",
      }
    } only %}
  {% endset %}
  {% set tool_2 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Star",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "star-solid",
      }
    } only %}
  {% endset %}
  {% set tool_3 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Add",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "add-open",
      }
    } only %}
  {% endset %}
  {% set tools %}
    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      items: [
        tool_1,
        tool_2,
        tool_3,
      ]
    } only %}
  {% endset %}
  {% set content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}
      {% cell "u-bolt-flex-grow" %}
        {{ title }}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        {{ tools }}
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    theme: "xdark",
    size: "xsmall",
    content: content,
  } only %}
  {# End Toolbar #}

  {# Hero #}
  {% set chip_1 %}
    {% include "@bolt-components-chip/chip.twig" with {
      text: "Chip 1",
      url: "#!",
      size: "small",
    } only %}
  {% endset %}
  {% set chip_2 %}
    {% include "@bolt-components-chip/chip.twig" with {
      text: "Chip 2 Mauris Iaculis Porttitor Posuere. Praesent Id",
      url: "#!",
      size: "small",
    } only %}
  {% endset %}
  {% set badge %}
    {% include "@bolt-components-icon/icon.twig" with {
      name: "launchpad",
      background: "circle",
      size: "xlarge"
    } only %}
  {% endset %}
  {% set title %}
    {% include "@bolt-components-headline/text.twig" with {
      size: "small",
      weight: "semibold",
      text: "Achievement <br>Badge Awarded",
    } only %}
  {% endset %}
  {% set topic %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-flex-grow" %}
        {% include "@bolt-components-link/link.twig" with {
          text: "Topic Title",
          url: "#!",
        } only %}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        10 mins
      {% endcell %}
    {% endgrid %}
  {% endset %}
  {% set topic_visited %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-flex-grow" %}
        {% include "@bolt-components-link/link.twig" with {
          text: "Topic Title",
          url: "#!",
        } only %}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        <div class="u-bolt-color-gray">
          10 mins
          {% include "@bolt-components-icon/icon.twig" with {
            name: "eye",
            size: "medium",
          } only %}
        </div>
      {% endcell %}
    {% endgrid %}
  {% endset %}
  {% set quiz %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-flex-grow" %}
        {% include "@bolt-components-link/link.twig" with {
          text: "Quiz Title",
          url: "#!",
          icon: {
            name: "asset-text",
            position: "before",
          }
        } only %}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        20 questions
      {% endcell %}
    {% endgrid %}
  {% endset %}
  {% set content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1" %}
        {% include "@bolt-components-headline/eyebrow.twig" with {
          text: "Module",
        } only %}
        {% include "@bolt-components-headline/headline.twig" with {
          size: "xxxlarge",
          text: "Configuring a case hierarchy",
          attributes: {
            class: "u-bolt-margin-bottom-small",
          }
        } only %}
        {% include "@bolt-components-list/list.twig" with {
          display: "inline",
          separator: "solid",
          items: [
            "9 topics",
            "40 mins remaining",
          ]
        } only %}
        {% include "@bolt-components-list/list.twig" with {
          display: "inline",
          items: [
            chip_1,
            chip_2,
          ]
        } only %}
      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
        {% include "@bolt-components-headline/text.twig" with {
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.",
        } only %}
        {% include "@bolt-components-headline/headline.twig" with {
          size: "large",
          text: "After completing this module, you should be able to:",
          attributes: {
            class: "u-bolt-margin-bottom-small",
          }
        } only %}
        {% include "@bolt-components-ul/ul.twig" with {
          items: [
            "Item 1",
            "Item 2",
            "Item 3",
            "Item 4",
            "Item 5",
          ]
        } only %}
      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
        <div class="t-bolt-xlight u-bolt-shadow-20 u-bolt-border-radius-large u-bolt-padding-medium u-bolt-margin-bottom-small">
          {% include "@bolt-components-headline/headline.twig" with {
            size: "xlarge",
            text: "Topics",
            attributes: {
              class: "u-bolt-margin-bottom-small",
            }
          } only %}
          {% include "@bolt-components-list/list.twig" with {
            separator: "solid",
            items: [
              topic_visited,
              topic_visited,
              topic,
              topic,
              topic,
              quiz,
            ]
          } only %}
        </div>
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    theme: "xdark",
    content: content,
    background: {
      opacity: "light",
      fill: "gradient",
      contentItems: [
        {
          pattern: "image",
          src: "/images/content/backgrounds/background-night-sky.jpg",
        },
      ]
    },
  } only %}
  {# End Hero #}


  {# Also #}
  {% set mission %}
    {% include "@bolt/flag.twig" with {
      valign: "middle",
      url: "#!",
      figure: {
        content: include("@bolt-components-icon/icon.twig", {
          name: "launchpad",
          size: "xlarge",
          background: "circle",
          color: "teal"
        })
      },
      items: [
        {
          pattern: "headline",
          size: "large",
          text: "Mission Title",
          url: "https://www.pega.com",
          icon: {
            name: "chevron-right"
          }
        }
      ]
    } only %}
  {% endset %}
  {% set content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1 u-bolt-width-6/12@small" %}
        {% include "@bolt-components-headline/headline.twig" with {
          text: "This module also appears in following missions",
          attributes: {
            class: "u-bolt-margin-bottom-small",
          }
        } only %}
        {% include "@bolt-components-list/list.twig" with {
          separator: "solid",
          items: [
            mission,
            mission,
            mission,
          ]
        } only %}
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    theme: "light",
    content: content,
  } only %}
  {# End Also #}
{% endblock %}
