{% set description %}
  The <bolt-code-snippet display="inline">background</bolt-code-snippet> prop will transform the image into a background image.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>The image must be placed into a container that is not positioned static (e.g. absolute, fixed, relative, or sticky).</bolt-li>
    <bolt-li>It must be the first child of said container.</bolt-li>
    <bolt-li>All foreground content of said container must be positioned relative.</bolt-li>
    <bolt-li>Further customization can be done using background fit and background position.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <div style="position:relative; display:grid; place-items:center; height: 500px; color: white;">
    {% include '@bolt-elements-image/image.twig' with {
      background: {
        fit: 'cover',
        position: 'center center',
      },
      attributes: {
        src: 'https://www.fillmurray.com/g/400/225',
        srcset: 'https://www.fillmurray.com/g/400/225 400w, https://www.fillmurray.com/g/800/450 800w, https://www.fillmurray.com/g/1600/900 1600w',
        sizes: '96vw',
        width: 1600,
        height: 900,
      },
    } only %}
    <mark style="position:relative;"><strong>This is a relative container</strong></mark>
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-image/image.twig' with {
  background: {
    fit: 'cover',
    position: 'center center',
  },
  attributes: {
    src: 'https://www.fillmurray.com/g/400/225',
    srcset: 'https://www.fillmurray.com/g/400/225 400w, https://www.fillmurray.com/g/800/450 800w, https://www.fillmurray.com/g/1600/900 1600w',
    sizes: '96vw',
    width: 1600,
    height: 900,
  },
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
  <img src="https://www.fillmurray.com/g/400/225" srcset="https://www.fillmurray.com/g/400/225 400w, https://www.fillmurray.com/g/800/450 800w, https://www.fillmurray.com/g/1600/900 1600w" sizes="96vw" width="1600" height="900" class="e-bolt-image e-bolt-image--bg" alt="" style="--e-bolt-image-fit: cover; --e-bolt-image-position: center center;">
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Background Image',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
