{% set description %}
  The <bolt-code-snippet display="inline">background</bolt-code-snippet> prop will transform the image into a background image.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>The image must be placed into a container that is not positioned static (e.g. absolute, fixed, relative, or sticky).</bolt-li>
    <bolt-li>It must be the first child of said container.</bolt-li>
    <bolt-li>All foreground content of said container must be positioned relative.</bolt-li>
    <bolt-li>Most background images are decorative, it is reasonable to leave the <bolt-code-snippet display="inline">alt</bolt-code-snippet> attribute blank for such case.</bolt-li>
    <bolt-li>It is recommended to use the <bolt-code-snippet display="inline">srcset</bolt-code-snippet> and <bolt-code-snippet display="inline">sizes</bolt-code-snippet> attributes for better performance.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <div style="display:grid; place-items:center; position:relative; height: 500px;">
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: 'https://via.placeholder.com/1600x900',
        srcset: 'https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w',
        sizes: '100vw',
        width: 1600,
        height: 900,
      },
    } only %}
    <mark style="position:relative;"><strong>This is a non-static container</strong></mark>
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
<div style="position:relative;">
  // This image will cover up the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'https://via.placeholder.com/1600x900',
      srcset: 'https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w',
      sizes: '100vw',
      width: 1600,
      height: 900,
    },
  } only %}
</div>
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<div style="position:relative;">
  // This image will cover up the non-static parent container.
  <img src="https://via.placeholder.com/1600x900" srcset="https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w" sizes="100vw" width="1600" height="900" class="e-bolt-image e-bolt-image--bg" alt="">
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Background Image',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
