{% set description %}
  In addition to the <bolt-code-snippet display="inline">background</bolt-code-snippet> prop, there are 2 CSS custom properties available for use to further customize background image(s). They are commonly used when multiple decorative background images are required.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>
      <strong>--e-bolt-image-fit</strong>
      <bolt-ul>
        <bolt-li>Setting this to <bolt-code-snippet display="inline">none</bolt-code-snippet> will allow the background image to stay exactly at its specified width and height.</bolt-li>
        <bolt-li>Setting this to <bolt-code-snippet display="inline">contain</bolt-code-snippet> will allow the background image to be contained within its parent container. No cropping will happen to the image.</bolt-li>
        <bolt-li>By default, this is set to <bolt-code-snippet display="inline">cover</bolt-code-snippet>.</bolt-li>
        <bolt-li>More advanced options are supported, reference the CSS property <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit" class="e-bolt-text-link">object-fit</a>.</bolt-li>
      </bolt-ul>
    </bolt-li>
    <bolt-li>
      <strong>--e-bolt-image-position</strong>
      <bolt-ul>
        <bolt-li>This custom property accepts pair values: x-axis and y-axis position tokens (e.g. top left, top center, top right, bottom left, bottom center, bottom right, left center, right center, center center).</bolt-li>
        <bolt-li>By default, this is set to <bolt-code-snippet display="inline">center center</bolt-code-snippet>.</bolt-li>
        <bolt-li>More advanced options are supported, reference the CSS property <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/object-position" class="e-bolt-text-link">object-position</a>.</bolt-li>
      </bolt-ul>
    </bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <bolt-text headline font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Setting fit to contain</bolt-text>
  <bolt-stack>
    <div class="t-bolt-dark" style="display:grid; place-items:center; position:relative; height: 250px;">
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: 'https://via.placeholder.com/500x500',
          width: 500,
          height: 500,
          style: '--e-bolt-image-fit: contain;',
        },
      } only %}
    </div>
  </bolt-stack>

  <bolt-text headline font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Setting fit to none and position to exact directions</bolt-text>
  <bolt-stack>
    <div class="t-bolt-dark" style="display:grid; place-items:center; position:relative; height: 250px;">
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: 'https://via.placeholder.com/100x100',
          width: 100,
          height: 100,
          style: '--e-bolt-image-fit: none; --e-bolt-image-position: top left;',
        },
      } only %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: 'https://via.placeholder.com/100x100',
          width: 100,
          height: 100,
          style: '--e-bolt-image-fit: none; --e-bolt-image-position: top right;',
        },
      } only %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: 'https://via.placeholder.com/100x100',
          width: 100,
          height: 100,
          style: '--e-bolt-image-fit: none; --e-bolt-image-position: bottom left;',
        },
      } only %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: 'https://via.placeholder.com/100x100',
          width: 100,
          height: 100,
          style: '--e-bolt-image-fit: none; --e-bolt-image-position: bottom right;',
        },
      } only %}
    </div>
  </bolt-stack>
{% endset %}

{% set twig_markup %}
{% verbatim %}
<div style="position:relative;">
  // This background image will not be cropped and it is positioned to center of the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'path/image.jpg',
      width: 500,
      height: 500,
      style: '--e-bolt-image-fit: contain; --e-bolt-image-position: center center;',
    },
  } only %}

  // This background image will not stretch and it is positioned to top left of the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'path/image.jpg',
      width: 150,
      height: 150,
      style: '--e-bolt-image-fit: none; --e-bolt-image-position: top left;',
    },
  } only %}
</div>
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<div style="position:relative;">
  // This background image will not be cropped and it is positioned to center of the non-static parent container.
  <img src="path/image.jpg" width=500 height=500 style="--e-bolt-image-fit: contain; --e-bolt-image-position: center center;" class="e-bolt-image e-bolt-image--bg" alt="">

  // This background image will not stretch and it is positioned to top left of the non-static parent container.
  <img src="path/image.jpg" width=150 height=150 style="--e-bolt-image-fit: none; --e-bolt-image-position: top left;" class="e-bolt-image e-bolt-image--bg" alt="">
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Use Case: Background Image Fit and Position',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
