{% set description %}
  In addition to the <bolt-code-snippet display="inline">background</bolt-code-snippet> prop, there are 2 CSS custom properties available for use to further customize background image(s). They are commonly used when multiple decorative background images are required, and the images are vector based.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>
      <strong>--e-bolt-image-fit</strong>
      <bolt-ul>
        <bolt-li>Setting this to <bolt-code-snippet display="inline">none</bolt-code-snippet> will allow the background image to stay exactly at its specified width and height.</bolt-li>
        <bolt-li>Setting this to <bolt-code-snippet display="inline">contain</bolt-code-snippet> will allow the background image to be contained within its parent container. No cropping will happen to the image.</bolt-li>
        <bolt-li>By default, this is set to <bolt-code-snippet display="inline">cover</bolt-code-snippet>.</bolt-li>
      </bolt-ul>
    </bolt-li>
    <bolt-li>
      <strong>--e-bolt-image-position</strong>
      <bolt-ul>
        <bolt-li>This custom property accepts pair values: x-axis and y-axis position tokens (e.g. top left, top center, top right, bottom left, bottom center, bottom right, left center, right center, center center).</bolt-li>
        <bolt-li>By default, this is set to <bolt-code-snippet display="inline">center center</bolt-code-snippet>.</bolt-li>
      </bolt-ul>
    </bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <div style="display:grid; place-items:center; position:relative; height: 500px;">
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: 'https://via.placeholder.com/1600x900',
        srcset: 'https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w',
        sizes: '100vw',
        width: 1600,
        height: 900,
      },
    } only %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: 'https://via.placeholder.com/150x150/661d34',
        width: 150,
        height: 150,
        style: '--e-bolt-image-fit: none; --e-bolt-image-position: top left;',
      },
    } only %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: 'https://via.placeholder.com/500x500/001f5f',
        width: 500,
        height: 500,
        style: '--e-bolt-image-fit: contain; --e-bolt-image-position: right center;',
      },
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
<div style="position:relative;">
  // This image will cover up the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'https://via.placeholder.com/1600x900',
      srcset: 'https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w',
      sizes: '100vw',
      width: 1600,
      height: 900,
    },
  } only %}

  // This image will not stretch and it is positioned to top left of the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'https://via.placeholder.com/150x150/661d34',
      width: 150,
      height: 150,
      style: '--e-bolt-image-fit: none; --e-bolt-image-position: top left;',
    },
  } only %}

  // This image will not be cropped and it is positioned to right center of the non-static parent container.
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: 'https://via.placeholder.com/500x500/001f5f',
      width: 500,
      height: 500,
      style: '--e-bolt-image-fit: contain; --e-bolt-image-position: right center;',
    },
  } only %}
</div>
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<div style="position:relative;">
  // This image will cover up the non-static parent container.
  <img src="https://via.placeholder.com/1600x900" srcset="https://via.placeholder.com/400x225 400w, https://via.placeholder.com/800x450 800w, https://via.placeholder.com/1600x900 1600w" sizes="100vw" width="1600" height="900" class="e-bolt-image e-bolt-image--bg" alt="">

  // This image will not stretch and it is positioned to top left of the non-static parent container.
  <img src="https://via.placeholder.com/150x150/661d34" width="150" height="150" style="--e-bolt-image-fit: none; --e-bolt-image-position: top left;" class="e-bolt-image e-bolt-image--bg" alt="">

  // This image will not be cropped and it is positioned to right center of the non-static parent container.
  <img src="https://via.placeholder.com/500x500/001f5f" width="500" height="500" style="--e-bolt-image-fit: contain; --e-bolt-image-position: right center;" class="e-bolt-image e-bolt-image--bg" alt="">
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Use Case: Background Image Fit and Position',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
