/* ------------------------------------ *\
   Spacing Scale (CSS Custom Props)
\* ------------------------------------ */

/**
 * Base maps
 */
$bolt-spacing-system: (
  'x': 2rem,
  'y': 1.65rem,
) !default;

$bolt-spacing-multiplier: (
  'xxlarge': 8,
  'xlarge': 4,
  'large': 2,
  'medium': 1,
  'small': 0.5,
  'xsmall': 0.25,
  'xxsmall': 0.125,
) !default;

$bolt-spacing-x-system: (
  'xxlarge':
    calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xxlarge)),
  'xlarge': calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xlarge)),
  'large': calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-large)),
  'medium': calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-medium)),
  'small': calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-small)),
  'xsmall': calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xsmall)),
  'xxsmall':
    calc(var(--bolt-spacing-x) * var(--bolt-spacing-multiplier-xxsmall)),
) !default;

$bolt-spacing-y-system: (
  'xxlarge':
    calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xxlarge)),
  'xlarge': calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xlarge)),
  'large': calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-large)),
  'medium': calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-medium)),
  'small': calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-small)),
  'xsmall': calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xsmall)),
  'xxsmall':
    calc(var(--bolt-spacing-y) * var(--bolt-spacing-multiplier-xxsmall)),
) !default;

/**
 * Generate global variables
 */
:root {
  @each $size in $bolt-spacing-system {
    $size-dir: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-spacing-#{$size-dir}: #{$size-value};
  }

  @each $size in $bolt-spacing-multiplier {
    $size-name: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-spacing-multiplier-#{$size-name}: #{$size-value};
  }

  @each $size in $bolt-spacing-x-system {
    $size-name: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-spacing-x-#{$size-name}: #{$size-value};
  }

  @each $size in $bolt-spacing-y-system {
    $size-name: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-spacing-y-#{$size-name}: #{$size-value};
  }
}
