/*------------------------------------*\
  Body and heading declaration
\*------------------------------------*/
$breakpoint--min: map-get($breakpoints, medium);
$breakpoint--max: map-get($breakpoints, xlarge);


html {
  // Base type
  font-size: $font-size--min-px;

  // Responsive type
  @include respond-to(medium) {
    font-size: calc(#{$font-size--min-px} + (#{$font-size--max - $font-size--min} * (100vw - #{$breakpoint--min}) / #{strip-unit($breakpoint--max) - strip-unit($breakpoint--min)}));
  }

  // Large type
  @include respond-to(xlarge) {
    font-size: $font-size--max-px;
  }
}

body {
  width: 100%;
  @include font-family(body);
  @include font-size(medium);
  // background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem;
  margin: 0;
  // margin: 0;
  // padding: 0;
}
