{
  "presets": [
    "es2015",
    "stage-0",
    "preact"
  ],
  "plugins": [
    // [
    //   "transform-react-jsx",
    //   {
    //     "pragma": "h"
    //   }
    // ],
    // "transform-object-rest-spread",
    // "transform-es2015-modules-commonjs"
    [
      "jsx-pragmatic",
      {
        module: "preact",
        export: "h",
        import: "h"
      }
    ],
    [
      "transform-react-jsx",
      {
        pragma: "h"
      }
    ],
    ["module-resolver",
      {
        root: [
          "./src"
        ],
        alias: {
          h: "preact"
        }
      }
    ],
    "transform-class-properties",
    "transform-custom-element-classes",
    "transform-es2015-classes",
    "transform-object-assign",
    "transform-object-rest-spread"
                // "inline-react-svg"
  ]
}