
<bolt-input-icons>
  <ul class="o-bolt-inline-list o-bolt-inline-list--xsmall">
    <li class="o-bolt-inline-list__item">
      {% for icon in icons %}
        <div class="c-bolt-input-icon">
          <bolt-icon name="{{ icon }}" size="medium"></bolt-icon>
        </div>
      {% endfor %}
    </li>
  </ul>
</bolt-input-icons>
