{% set themes = get_data("@bolt/themes.schema.json") %}

{% for theme in themes.properties.colors.enum %}
  {% set card %}
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
        {% include "@bolt-components-card/card.twig" with {
          media: {
            image: {
              src: "/pattern-lab/images/placeholders/landscape-16x9-mountains.jpg",
              alt: "Image alt.",
            },
          },
          body: {
            paragraph: "This is a non-themed card inside a " ~ theme ~ " theme.",
          },
          actions: [
            {
              text: "This is a button",
              url: "http://pega.com",
            },
          ],
        } only %}
      {% endcell %}
    {% endgrid %}
  {% endset %}

  <h3>Parent {{ theme }}-theme container</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@bolt-components-band/band.twig" with {
      theme: theme,
    } %}
      {% block band_content %}
        {{ card }}
      {% endblock %}
    {% endembed %}
  </div>

  <h3>Parent {{ theme }}-theme container with background image</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@bolt-components-band/band.twig" with {
      theme: theme,
      background: {
        opacity: "heavy",
        fill: "color",
        contentItems: [
          {
            pattern: "image",
            src: "/pattern-lab/images/content/backgrounds/background-short-1.jpg",
            lazyload: false
          }
        ]
      }
    } %}
      {% block band_content %}
        {{ card }}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
