{% set videoUuid = "js-bolt-video-uuid-card-with-url" %}

{% grid "o-bolt-grid--flex o-bolt-grid--center" %}
  {% cell "u-bolt-width-6/12 u-bolt-width-3/12@small" %}
    <h3>No URL</h3>
    {% include "@bolt-components-card/card.twig" with {
      media: {
        image: {
          src: "/pattern-lab/images/placeholders/landscape-16x9-mountains.jpg",
          alt: "Image alt.",
        },
      },
      body: {
        paragraph: "This card doesn't have an URL.",
      },
      actions: [
        {
          text: "This is a button",
          url: "http://pega.com",
        }
      ],
    } only %}
  {% endcell %}
  {% cell "u-bolt-width-6/12 u-bolt-width-3/12@small" %}
    <h3>With URL</h3>
    {% include "@bolt-components-card/card.twig" with {
      link: {
        href: "http://pega.com",
      },
      media: {
        image: {
          src: "/pattern-lab/images/placeholders/landscape-16x9-mountains.jpg",
          alt: "Image alt.",
        },
      },
      body: {
        paragraph: "This card has an URL.",
      },
      actions: [
        {
          text: "This whole card is clickable",
          url: "http://google.com",
        }
      ],
    } only %}
  {% endcell %}
  {% cell "u-bolt-width-6/12 u-bolt-width-3/12@small" %}
    <h3>With URL and video</h3>
    {% include "@bolt-components-card/card.twig" with {
      link: {
        href: "#!",
        attributes: {
          "on-click": "toggle",
          "on-click-target": videoUuid,
        },
      },
      media: {
        video: {
          videoId: "5609376179001",
          accountId: "1900410236",
          playerId: "r1CAdLzTW",
          videoUuid: videoUuid,
          showMeta: true,
          showMetaTitle: false,
        },
      },
      body: {
        paragraph: "This card has an URL.",
      },
      actions: [
        {
          text: "This whole card is clickable",
          attributes: {
            "on-click": "toggle",
            "on-click-target": videoUuid,
          },
        }
      ],
    } only %}
  {% endcell %}
{% endgrid %}
