{% set tags = ["ul", "ol"] %} {# Available Headline Types #}
{% set prefix = "c-bolt-" %}

{% set attributes = create_attribute(attributes|default({})) %}

{% set componentName = "button-group" %}
{% set baseClass = prefix ~ componentName %}
{% set tag = tag in tags ? tag: "ul" %}


{% set classes = [
  baseClass
] %}


{% if buttons %}
  <bolt-button-group
    bolt-component
  >
    <{{ tag }} {{ attributes.addClass(classes) }}>
      {% for button in buttons %}
        <li class="{{ "#{baseClass}__item" }}">
          {% include "@bolt/button.twig" with button only %}
        </li>
      {% endfor %}
    </{{ tag }}>
  </bolt-button-group>
{% endif %}