/**
  * @define o-bolt-wrapper
  */

$bolt-wrapper--max-width: bolt-breakpoint(xxlarge) !default;

.o-bolt-wrapper {
  @include bolt-margin-left(auto);
  @include bolt-margin-right(auto);
  display: block;
  padding-right: $bolt-wrapper-padding;
  padding-left: $bolt-wrapper-padding;

  @include bolt-mq(medium) {
    padding-right: $bolt-wrapper-padding-at-medium-bp;
    padding-left: $bolt-wrapper-padding-at-medium-bp;
  }
}

// Default wrapper component used virtually everywhere
.o-bolt-wrapper,
.o-bolt-wrapper--xxlarge {
  max-width: $bolt-wrapper--max-width;
}

// Used for handling ideal content line length
.o-bolt-wrapper--medium {
  max-width: bolt-breakpoint(medium);
  padding: 0;
}

// @TODO: make mixin for bands + wrappers
// .o-bolt-wrapper--full {
//   padding-left: 0;
//   padding-right: 0;
// }

// Temp hack if wrapper inside a wrapper
// .o-bolt-wrapper .o-bolt-wrapper {
//   padding: 0;
// }
