/* ------------------------------------ *\
   Nav
\* ------------------------------------ */

@import '@bolt/core';

$bolt-navbar-vspacing-small: bolt-v-spacing(small);

bolt-nav-priority {
  display: block;
  position: relative;
  align-self: center;
  padding-bottom: var(--bolt-vspacing);
  flex-shrink: 2; // shrink faster than other components in tight spots

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      &.is-ready {
        display: contents;
      }

      @supports (--css: variables) {
        padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
      }
    }
  }

  &:not(.is-ready) {
    overflow-x: auto;
  }

  &.is-resizing {
    overflow: hidden;
  }
}

.c-bolt-nav-priority {
  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      &.is-ready {
        display: contents;
      }
    }
  }

  &:not(.is-ready) {
    -webkit-overflow-scrolling: touch;
    background-attachment: local, local, scroll, scroll;
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
    overflow-x: auto;
  }

  .is-hidden {
    display: none;
  }
}

.c-bolt-nav-priority__show-button {
  width: 100%;
  height: 100%;
  display: block;
  color: bolt-theme(headline);
  background-color: transparent;
}

.c-bolt-nav-priority__primary {
  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      .is-ready & {
        display: contents;
      }
    }
  }

  display: flex;
  list-style: none;
  margin: 0;
}

.c-bolt-nav-priority__item {
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
}

// required so the dropdown can be positioned consistently
.c-bolt-nav-priority__show-more {
  position: relative;
}

@include bolt-if-browser-supports-display-contents {
  .c-bolt-nav-priority__show-more {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      display: contents;
    }
  }
}

.c-bolt-nav-priority__dropdown-list {
  list-style: none;
  margin: 0;
  width: 100%;
  @include bolt-padding-top(xsmall);
  @include bolt-padding-bottom(xsmall);
  @include bolt-padding-left(small);
  @include bolt-padding-right(small);

  @include bolt-mq(small) {
    @include bolt-padding-left(xsmall);
    @include bolt-padding-right(xsmall);
  }
}

.c-bolt-nav-priority__dropdown {
  @include bolt-z-index(tooltip);
  background-color: bolt-theme(
    (
      xdark: brand-darken-5 0.95,
      dark: brand-lighten-20 0.95,
      light: secondary 0.95,
      xlight: secondary 0.95,
    )
  );
  box-shadow: 0 1px 2px 1px rgba(6, 10, 36, 0.1);
  min-width: 12rem;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;

  width: calc(100vw - #{bolt-spacing(large)});
  max-width: 100vw;
  border-bottom-left-radius: $bolt-border-radius;
  border-bottom-right-radius: $bolt-border-radius;

  * {
    white-space: normal;
  }

  @include bolt-mq(xsmall) {
    width: auto;
    max-width: 100%;
  }

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 6;
      width: auto;
      left: 0;
    }
  }

  .c-bolt-nav-priority--show-dropdown & {
    display: block;
  }
}

// keyframes
@keyframes nav-dropdown {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-bolt-nav-priority__show-button {
  @include bolt-padding(small, squished);
  // Added border so that &:after,&:focus doesn't change the size of the band
  // We should consider making this thin dotted style a mixin to share with nav-priority
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  border-color: transparent;
  border-radius: $bolt-border-radius;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  background-color: bolt-theme(secondary, 0.05);
  cursor: pointer;
  position: relative;

  @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
    border-radius: 0;
    border-left-width: 1px;
    border-left-color: bolt-theme(headline, 0.2);
  }

  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background-color: bolt-theme(
      (
        xdark: brand 0.95,
        dark: brand 0.95,
        light: neutral 0.95,
        xlight: neutral 0.95,
      )
    );

    overflow: hidden;
    z-index: 1;
  }

  &:hover {
    background-color: bolt-theme(secondary, 0.15);

    &:before {
      opacity: 0.1;
    }
  }

  &:focus,
  &.is-active {
    outline: none;
    border-style: dotted;
    border-color: bolt-theme(primary);
  }

  &.is-active,
  &:active {
    background-color: bolt-theme(secondary, 0.1);

    &:before {
      opacity: 0.1;
    }
  }

  @include bolt-if-browser-supports-display-contents {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      .is-ready & {
        grid-row: 1 / span 1;
        grid-column: 5 / span 1;
      }
    }
  }
}

.c-bolt-nav-priority__show-text {
  @include bolt-font-size(small);
  @include bolt-font-weight(semibold);
  position: relative;
  z-index: 10;

  @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-nav-priority__show-icon {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  z-index: 10;
  line-height: 0;
  font-size: 1em;

  @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
    font-size: 24px;
  }

  .c-bolt-nav-priority--show-dropdown & {
    transform: rotate(180deg);
  }
}

// bolt-nav-priority {
//   @include bolt-css-vars((
//     --bolt-nav-priority-item-opacity: 0,
//     --bolt-nav-priority-item-transform: translateY(bolt-spacing(large) * -1),
//   ));

//   &[open*=true]{
//       @include bolt-css-vars((
//         --bolt-nav-priority-item-opacity: 1,
//         --bolt-nav-priority-item-transform: none,
//       ));
//   }
// }

// .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item {
//   transform: var(--bolt-nav-priority-item-transform, none);
//   opacity: var(--bolt-nav-priority-item-opacity, 1);
//   transition: opacity 0.35s ease-out, transform 0.35s ease-out; // transition:

//   // .c-bolt-dropdown--collapse\@small & {
//   //   @include  bolt-mq(small) {
//   //     opacity: 1;
//   //     transform: translateY(0);
//   //   }
//   // }
// }

// @for $quantity from 1 through 12 {
//   $time: 0;

//   @for $i from $quantity through 1 {
//     $time: $time + 50;
//     .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item:nth-last-child(n+#{$quantity}),
//     .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item:nth-last-child(n+#{$quantity}) ~ .c-bolt-nav-priority__item:nth-child(#{$i}) {
//       transition-delay: $time + ms;
//     }
//   }
// }
//   // $time: $time + 50;
//   //   transition-delay: $time + ms;
//   // }
// // }

// .c-bolt-nav-priority--show-dropdown .c-bolt-nav-priority__item {
// // .c-bolt-nav-priority--show-dropdown+.c-bolt-dropdown .c-bolt-nav-priority__item,
// // .c-bolt-dropdown__content--opened .c-bolt-nav-priority__item {
//   // opacity: 1;
//   // transform: none;
//   @include bolt-css-vars((
//     --bolt-nav-priority-item-opacity: 1,
//     --bolt-nav-priority-item-transform: none,
//   ));
// }
