/* ------------------------------------ *\
   Nav
\* ------------------------------------ */

@import '@bolt/core';

$bolt-navbar-vspacing-small: bolt-v-spacing(small);
$bolt-navbar-xsmall-bp: 420px; // Slightly increase the default 400px xsmall breakpoint to be better optimized for larger plus-sized mobile devices -- value shared by the bolt-navbar, bolt-nav-priority, and bolt-navlink components

bolt-nav-priority {
  display: block;
  position: relative;
  align-self: center;
  padding-bottom: var(--bolt-vspacing);
  flex-shrink: 4; // shrink faster than other components in tight spots

  @include bolt-if-browser-supports-display-contents {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      &.is-ready {
        display: contents;
      }

      @supports (--css: variables) {
        padding-top: var(--bolt-vspacing, $bolt-navbar-vspacing-small);
      }
    }
  }

  &:not(.is-ready) {
    overflow-x: auto;
  }

  &.is-resizing {
    overflow: hidden;
  }
}

.c-bolt-nav-priority {
  @include bolt-if-browser-supports-display-contents {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      &.is-ready {
        display: contents;
      }
    }
  }

  &:not(.is-ready) {
    -webkit-overflow-scrolling: touch;
    background-attachment: local, local, scroll, scroll;
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
    overflow-x: auto;
  }

  .is-hidden {
    display: none;
  }
}

.c-bolt-nav-priority__show-button {
  width: 100%;
  height: 100%;
  display: block;
  color: bolt-theme(headline);
  background-color: transparent;
}

.c-bolt-nav-priority__primary {
  @include bolt-if-browser-supports-display-contents {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      .is-ready & {
        display: contents;
      }
    }
  }

  display: flex;
  list-style: none;
  margin: 0;
}

.c-bolt-nav-priority__item {
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
}

// required so the dropdown can be positioned consistently
.c-bolt-nav-priority__show-more {
  position: relative;
}

@include bolt-if-browser-supports-display-contents {
  .c-bolt-nav-priority__show-more {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      display: contents;
    }
  }
}

.c-bolt-nav-priority__dropdown-list {
  list-style: none;
  margin: 0;
  width: 100%;
  @include bolt-padding-top(xsmall);
  @include bolt-padding-bottom(xsmall);
  @include bolt-padding-left(xsmall);
  @include bolt-padding-right(xsmall);
  overflow: hidden;
  pointer-events: none;

  @include bolt-mq(small) {
    @include bolt-padding-left(xsmall);
    @include bolt-padding-right(xsmall);
  }

  opacity: 0;
  transform: translate3d(0, bolt-spacing(medium) * -1, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;

  .c-bolt-nav-priority--show-dropdown & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s, 0.1s;
    pointer-events: auto;
  }
}

.c-bolt-nav-priority__dropdown {
  @include bolt-z-index(tooltip);
  background-color: bolt-theme(
    (
      xdark: brand-darken-5,
      dark: brand-lighten-20,
      light: secondary,
      xlight: secondary,
    )
  );
  box-shadow: 0 1px 2px 1px rgba(6, 10, 36, 0.1);
  min-width: 12rem;
  position: absolute;
  top: 100%;
  right: 0;
  max-height: 0;
  width: calc(100vw - #{bolt-spacing(large)});
  max-width: 100vw;
  background-color: bolt-theme(secondary);
  border-bottom-left-radius: $bolt-border-radius;
  border-bottom-right-radius: $bolt-border-radius;
  transition: max-height 0.4s cubic-bezier(0.28, 0.11, 0.32, 1) 0s, visibility 0s linear 0.4s;
  visibility: hidden;

  * {
    white-space: normal;
  }

  @include bolt-mq($bolt-navbar-xsmall-bp) {
    width: auto;
    max-width: 100%;
  }

  @include bolt-if-browser-supports-display-contents {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      grid-row: 2 / span 1;
      grid-column: 1 / span 6;
      width: auto;
      left: 0;
    }
  }

  .c-bolt-nav-priority--show-dropdown & {
    visibility: visible;
    max-height: 400px;
    max-height: calc(100vh - 48px - 48px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    visibility: visible;
    transition-delay: 0.1s, 0s;
  }

  .is-closing &,
  .is-opening & {
    overflow: hidden;
  }
}

// keyframes
@keyframes nav-dropdown {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-bolt-nav-priority__show-button {
  @include bolt-padding(xsmall, squished);

  @include bolt-mq($bolt-navbar-xsmall-bp){
    @include bolt-padding(small, squished);
  }
  // Added border so that &:after,&:focus doesn't change the size of the band
  // We should consider making this thin dotted style a mixin to share with nav-priority
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  border-color: transparent;
  border-radius: $bolt-border-radius;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  background-color: bolt-theme(secondary, 0.05);
  cursor: pointer;
  position: relative;
  
  @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
    border-radius: 0;
    border-left-width: 1px;
    border-left-color: bolt-theme(headline, 0.2);
  }

  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background-color: bolt-theme(
      (
        xdark: brand 0.95,
        dark: brand 0.95,
        light: neutral 0.95,
        xlight: neutral 0.95,
      )
    );

    overflow: hidden;
    z-index: 1;
  }

  &:hover {
    background-color: bolt-theme(secondary, 0.15);

    &:before {
      opacity: 0.1;
    }
  }

  &:focus,
  &.is-active {
    outline: none;
    border-style: dotted;
    border-color: bolt-theme(primary);
  }

  &.is-active,
  &:active {
    background-color: bolt-theme(secondary, 0.1);

    &:before {
      opacity: 0.1;
    }
  }

  @include bolt-if-browser-supports-display-contents {
    @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
      .is-ready & {
        grid-row: 1 / span 1;
        grid-column: 5 / span 1;
      }
    }
  }
}

.c-bolt-nav-priority__show-text {
  @include bolt-font-size(small);
  @include bolt-font-weight(semibold);
  position: relative;
  z-index: 10;

  @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-nav-priority__show-icon {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  z-index: 10;
  line-height: 0;
  font-size: 1em;

  @include bolt-mq($until: $bolt-navbar-xsmall-bp) {
    font-size: 24px;
  }

  .c-bolt-nav-priority--show-dropdown & {
    transform: rotate(180deg);
  }
}

// bolt-nav-priority {
//   @include bolt-css-vars((
//     --bolt-nav-priority-item-opacity: 0,
//     --bolt-nav-priority-item-transform: translateY(bolt-spacing(large) * -1),
//   ));

//   &[open*=true]{
//       @include bolt-css-vars((
//         --bolt-nav-priority-item-opacity: 1,
//         --bolt-nav-priority-item-transform: none,
//       ));
//   }
// }

.c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item {
  transition: opacity 0.3s cubic-bezier(0.28, 0.11, 0.32, 1), transform 0.3s cubic-bezier(0.28, 0.11, 0.32, 1); // transition:
  transform: translate3d(0, bolt-spacing(large) * -1, 0);
  opacity: 0;
  transition-property: transform, opacity;
}

@for $quantity from 1 through 12 {
  $time: 0;

  @for $i from $quantity through 1 {
    $time: $time + 100;
    bolt-nav-priority:not(.is-closing) .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item:nth-last-child(n+#{$quantity}),
    bolt-nav-priority:not(.is-closing) .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item:nth-last-child(n+#{$quantity}) ~ .c-bolt-nav-priority__item:nth-child(#{$i}) {
      transition-delay: $time + ms;
    }

    .is-closing .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item:nth-child(#{$i}) {
      transition-delay: $i * 17 + ms;
    }
  }

  $time: $time + 100;
}

.c-bolt-nav-priority--show-dropdown .c-bolt-nav-priority__dropdown-list > .c-bolt-nav-priority__item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
