@import '@bolt/core-v3.x';

bolt-character {
  display: block;
}

bolt-svg-animations {
  display: block;
  width: 100%;
}

bolt-animate[slot="connection"] {
  display: block;
}

.c-bolt-character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-bottom:bolt-spacing(xsmall);

  // IE 11 collapses flexible width, but we need flex for alignment.
  @include bolt-ie11-only {
    justify-content: flex-start;
    width: 300px;
  }

  &.c-bolt-character__has-one-side-content {
    @include bolt-ie11-only {
      width: 400px;
    }
  }

  &.c-bolt-character__has-both-side-content {
    @include bolt-ie11-only {
      width: 550px;
    }
  }

  @include bolt-mq(small) {
    margin-bottom: bolt-spacing(small);
  }

  &--small &__center--wrapper,
  &--small &__main-image--wrapper {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
  }

  &--medium &__center--wrapper,
  &--medium  &__main-image--wrapper {
    width: 75px;
    min-width: 75px;
    height: 75px;
    min-height: 75px;
  }

  &--large &__center--wrapper,
  &--large &__main-image--wrapper {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
  }

  &__center--wrapper {
    display: flex;
    flex: 1 0 33%;
    justify-content: center;

    .c-bolt-character__has-side-content & {
      flex-grow: 0;
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    background-color: white;

    @include bolt-shadow('level-20');
  }

  &__main-image--wrapper {
    position: static;
    z-index: 2;
  }

  &__main-image {
    flex: 0 0 100%;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: 4px solid white;
    border-radius: 50%;
    background-color: white;
  }

  &__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.65);
    z-index: 0;
    width: 200px; //@TODO these are here because the SVGs aren't square
    height: 200px;
  }

  &__slot {
    .c-bolt-micro-journeys-flex-aspect > bolt-animate {
      display: block; // for IE 11.
    }

    &--connection {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
      z-index: 1;
      margin: auto 0;

      @include bolt-ie11-only {
        width: 250px;
        max-width: 250px;
      }

      bolt-animate {
        display: block; // for IE 11.
      }

      bolt-connection {
        @include bolt-ie11-only {
          min-width: 250px !important;
        }
      }
    }

    &--cardinal {
      z-index: 2;
    }

    &--top {
      flex: 1 0 100%;
      min-width: 100%;
      text-align: center;
    }

    &--bottom {
      flex: 1 0 100%;
      min-width: 100%;
      text-align: center;
    }

    &--left {
      flex: 0 0 33%;
      min-width: 33%;
      text-align: right;
    }

    &--right {
      flex: 0 0 33%;
      min-width: 33%;
    }
  }
}
