
<div class="c-bolt-site">
  {% block global_header %}
    {% include "@bolt/page-header.twig" %}
  {% endblock %}


  <div class="c-bolt-site__content"><!-- vertically center -->
    <main class="o-bolt-wrapper">
      <article>
        {% block page_content %}
          <p>Example main content block.</p>
        {% endblock %}
      </article>
    </main>
  </div>
  <div class="c-bolt-site__footer c-bolt-page-footer">
  {% block global_footer %}
    <div class="o-bolt-wrapper">
      {% include "@bolt/page-footer.twig" %}
    </div>
  {% endblock %}
  </div>
</div>