{% set mainContentBlock = block("page_content") %}
{% set backgroundBlock = block("page_background") %}

<div class="c-bolt-site">
  {% block global_header %}
    {% include "@bolt/page-header.twig" %}
  {% endblock %}

  <main class="c-bolt-site__content u-bolt-flex u-bolt-flex-col">
    {% include "@bolt-blueprints/_toolbar.twig" %}
    {% embed "@bolt-components-band/band.twig" with {
      theme: pageTheme | default("xxdark"),
      size: "large",
      valign: "start",
      content: mainContentBlock,
      background: {
        overlay: "disabled",
        contentItems: [
          include('@bolt-components-background/background-overlay.twig', {
            fill: "color",
            fillColor: "black",
            overlay: "enabled",
          }, with_context = false),
          include('@bolt-components-image/image.twig', {
            placeholder_color: "#000000",
            src: "/images/mission-hero.jpg",
            cover: false,
            lazyload: false,
            attributes: {
              class: [
                "u-bolt-margin-left-auto",
                "u-bolt-flex-grow-none",
                "u-bolt-float-right",
              ],
              style: "min-width: 1200px;"
            }
          })
        ]
      },
      inner_attributes: {
        class: [
          "u-bolt-padding-top-none"
        ]
      }
    } %}
      {% block band_background %}
        {% if backgroundBlock is not empty %}
          {{ backgroundBlock }}
        {% else %}
          {{ parent() }}
        {% endif %}
      {% endblock %}
    {% endembed %}

  </main>
  <div class="c-bolt-site__footer c-bolt-page-footer">
    <div class="o-bolt-wrapper">
      {% block global_footer %}
        {% include "@bolt/page-footer.twig" %}
      {% endblock %}
    </div>
  </div>
</div>

{# {% block main %}

{% endblock %}

{% block global_footer %}
  {{ parent() }}
{% endblock %} #}
