{% set notes %}
  <bolt-ol>
    <bolt-li>Meta data can be passed via the <code>meta_items</code> prop, each item is visually separated by a pipe.</bolt-li>
    <bolt-li>Extra content can be passed to the <code>description</code> prop. It will appear below the meta data. Truncating with an ellipsis and a read more button is optional.</bolt-li>
    <bolt-li>Warning content can be passed to the <code>warning</code> prop. It will appear below the description. A warning icon is appended at the start.</bolt-li>
    <bolt-li>Meta data, description, and warning may contain links, use the link element to render a link. This will generate a link that is not blocked by the headline link.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set icon_questions %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'pega-chat-question',
      size: 'large',
      color: 'teal',
    } only %}
  {% endset %}
  {% set description %}
    {% set more_link %}
      {% spaceless %}{% set icon_chevron_right %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'chevron-right',
        } only %}
      {% endset %}
      <span class="e-bolt-text-link e-bolt-text-link--reversed-underline">Read more<span class="e-bolt-text-link__icon-after">{{ icon_chevron_right }}</span></span>{% endspaceless %}
    {% endset %}
    <p>This is the description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus&hellip;{{ more_link }}</p>
  {% endset %}
  {% set warning %}
    <p>Warning! This is a warning message.</p>
  {% endset %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    signifier: icon_questions,
    headline: {
      text: 'This listing has meta data and more info',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        href: 'https://google.com'
      },
    },
    meta_items: [
      'Posted by <a href="#!" class="e-bolt-text-link e-bolt-text-link--reversed-underline">username</a> on May 21, 2020',
      'Last activity: 2 minutes ago',
    ],
    description: description,
    warning: warning,
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
// Render description and warning
{% set description %}
  {% set more_link %}
    {% set icon_chevron_right %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'chevron-right',
      } only %}
    {% endset %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'Read more',
      icon_after: icon_chevron_right,
      attributes: {
        href: 'https://google.com',
      }
    } only %}
  {% endset %}
  <p>This is the description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus&hellip;{{ more_link }}</p>
{% endset %}
{% set warning %}
  <p>Warning! This is a warning message.</p>
{% endset %}

// Pass meta data, warning, and description to the component
{% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
  headline: {
    text: 'This listing has meta data and more info',
    tag: 'h3',
    size: 'large',
    link_attributes: {
      href: 'https://google.com'
    },
  },
  meta_items: [
    'Posted by <a href="#!" class="e-bolt-text-link e-bolt-text-link--reversed-underline">username</a> on May 21, 2020',
    'Last activity: 2 minutes ago',
  ],
  description: description,
  warning: warning,
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Listing Meta Data and More',
  description: 'A listing can have meta data, a short description, and a warning.',
  demo: demo,
  notes: notes,
  twig_markup: twig_markup,
} only %}
