{% set description %}
  Post List is a way to display activities in Pega&rsquo;s Collaboration Center.
{% endset %}

{% set notes %}
  A post list is composed of the Listing Teaser component and the List component with solid separators.
{% endset %}

{% set demo %}
  {% set icon_questions %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'questions',
      size: 'large',
      color: 'teal',
    } only %}
  {% endset %}
  {% set icon_discussions %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'discussions',
      size: 'large',
      color: 'orange',
    } only %}
  {% endset %}
  {% set icon_ideas %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'ideas',
      size: 'large',
      color: 'berry',
    } only %}
  {% endset %}
  {% set icon_reply %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'reply',
      size: 'small',
    } only %}
  {% endset %}
  {% set icon_heart %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'heart',
      size: 'small',
    } only %}
  {% endset %}
  {% set icon_heart_pink %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'heart',
      size: 'small',
      color: 'pink',
    } only %}
  {% endset %}
  {% set icon_eye %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'eye',
      size: 'small',
    } only %}
  {% endset %}
  {% set icon_eye_off %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'eye-off',
      size: 'small',
    } only %}
  {% endset %}
  {% set action_menu %}
    {% include '@bolt-components-menu/menu.twig' with {
      title: 'More actions',
      items: [
        {
          content: 'Reply',
          icon_before: icon_reply,
        },
        {
          content: 'Favorite',
          icon_before: icon_heart,
        },
        {
          content: 'Subscribe',
          icon_before: icon_eye,
        },
      ]
    } only %}
  {% endset %}
  {% set action_menu_alt %}
    {% include '@bolt-components-menu/menu.twig' with {
      title: 'More actions',
      items: [
        {
          content: 'Reply',
          icon_before: icon_reply,
        },
        {
          content: 'Remove from favorite',
          icon_before: icon_heart_pink,
        },
        {
          content: 'Unsubscribe',
          icon_before: icon_eye_off,
        },
      ]
    } only %}
  {% endset %}
  {% set listing_1 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_questions,
      headline: {
        text: 'This is a post',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">username</a> on July 1, 2020',
        'Last activity: 1 hour ago',
      ],
      status: {
        replies: '5',
        views: '216',
      },
    } only %}
  {% endset %}
  {% set listing_2 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_discussions,
      headline: {
        text: 'This is a post that is solved',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">someone</a> on Aug 21, 2020',
        'Last activity: 2 hours 3 minutes ago',
      ],
      status: {
        solved: true,
        replies: '2',
        views: '100',
      },
    } only %}
  {% endset %}
  {% set listing_3 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_ideas,
      headline: {
        text: 'This is a post that is locked',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">viswa1</a> on Aug 16, 2020',
        'Last activity: 2 hours 35 minutes ago',
      ],
      status: {
        locked: true,
        replies: '12',
        views: '561',
      },
    } only %}
  {% endset %}
  {% set listing_4 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_discussions,
      headline: {
        text: 'This is a post that is both solved and locked',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">adfa13</a> on May 21, 2020',
        'Last activity: 3 hours 43 minutes ago',
      ],
      status: {
        solved: true,
        locked: true,
        replies: '35',
        views: '1k',
      },
    } only %}
  {% endset %}
  {% set listing_5 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_questions,
      headline: {
        text: 'This is a post with more information',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">mikemai</a> on Jun 6, 2020',
        'Last activity: 8 hours 15 minutes ago',
      ],
      status: {
        replies: '26',
        views: '666',
      },
      more_info: 'More information. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'
    } only %}
  {% endset %}
  {% set listing_6 %}
    {% set reply %}
      <p><strong>Replied on Aug 21, 2021</strong></p>
      <p>Hi&nbsp;<a href="/users/ClayN538"></a><a href="/user/1622491" target="_blank" class="mentions mentions-1622491"></a><a href="/user/1622491" target="_blank" class="mentions mentions-1622491">@ClayN538</a>&nbsp;</p>
      <p>Here is the information for <a href="https://collaborate.pega.com/discussion/pega-826-patch-available">Pega Patch 8.2.6</a>&nbsp;within the PCC and a direct link to our <a href="https://community.pega.com/digital-delivery" target="_blank" rel="noopener">Digital Delivery Software</a>.</p>
      <p>Here is the&nbsp;<a href="https://collaborate.pega.com/search?f%5B0%5D=search_site_moderator_tag%3APatch%20Release">link </a>to all of our posts regarding Pega Patches.</p>
      <p>If you can't find the Patch for 8.2.6, please reach out to your Account Executive.</p>
    {% endset %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_questions,
      headline: {
        text: 'RE: This is a post showing one of the replies',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">username</a> on July 1, 2020',
        'Last activity: 1 hour ago',
      ],
      status: {
        replies: '5',
        views: '216',
      },
      reply: reply,
    } only %}
  {% endset %}
  {% set listing_7 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_questions,
      headline: {
        text: 'This is a post with actions',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">mikemai</a> on Apr 9, 2020',
        'Last activity: 8 hours 26 minutes ago',
      ],
      status: {
        solved: true,
        locked: true,
        replies: '2',
        views: '56',
      },
      action_menu: action_menu,
    } only %}
  {% endset %}
  {% set listing_8 %}
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: icon_questions,
      headline: {
        text: 'This is a post with actions (also favorited and subscribed)',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">mikemai</a> on Apr 9, 2020',
        'Last activity: 8 hours 26 minutes ago',
      ],
      status: {
        solved: true,
        locked: true,
        replies: '2',
        views: '56',
      },
      action_menu: action_menu_alt,
    } only %}
  {% endset %}

  {% include '@bolt-components-list/list.twig' with {
    spacing: 'small',
    inset: true,
    separator: 'solid',
    items: [
      listing_1,
      listing_2,
      listing_3,
      listing_4,
      listing_5,
      listing_6,
      listing_7,
      listing_8,
    ]
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
// Set up a particular post
{% set demo_icon %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'questions',
    size: 'large',
    color: 'teal',
  } only %}
{% endset %}
{% set demo_action_menu %}
  {% include '@bolt-components-menu/menu.twig' with {
    title: 'More actions',
    items: [
      {
        content: 'Reply',
        icon_before: icon_reply,
      },
      {
        content: 'Favorite',
        icon_before: icon_heart,
      },
      {
        content: 'Subscribe',
        icon_before: icon_eye,
      },
    ]
  } only %}
{% endset %}
{% set demo_post %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    signifier: demo_icon,
    headline: {
      text: 'This is a post with actions (also favorited and subscribed)',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        href: 'https://pega.com'
      },
    },
    meta_items: [
      'Posted by <a href="https://collaborate.pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">mikemai</a> on Apr 9, 2020',
      'Last activity: 8 hours 26 minutes ago',
    ],
    more_info: more_info,
    reply: reply,
    status: {
      solved: true,
      locked: true,
      replies: '2',
      views: '56',
    },
    action_menu: demo_action_menu,
  } only %}
{% endset %}

// Render a list to display posts
{% include '@bolt-components-list/list.twig' with {
  spacing: 'small',
  inset: true,
  separator: 'solid',
  items: [
    demo_post,
  ]
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Use Case: Collaboration Center Post List',
  description: description,
  demo: demo,
  notes: notes,
  twig_markup: twig_markup,
} only %}
