{% set notes %}
  When using the horizontal or responive layout, the spacing between the signifier and the content can be controlled by the gutter.
{% endset %}

{% set demo %}
  {% set signifier %}
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/tout-4x3-climber.jpg',
          alt: 'A Rock Climber',
          loading: 'lazy',
          background: true,
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-video-thumbnail/video-thumbnail.twig' with {
      content: image,
      aspect_ratio: '16:9',
      border_radius: 'small',
    } only %}
  {% endset %}
  <bolt-stack>
    {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
      signifier: signifier,
      headline: {
        text: 'This listing has a responsive layout',
        tag: 'h3',
        size: 'large',
        link_attributes: {
          href: 'https://pega.com'
        },
      },
      meta_items: [
        'Posted 8 hours 15 minutes ago',
        'Last activity: 2 minutes ago',
      ],
      description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero repellendus, dolorum vitae iste iure quas tempora! Distinctio hic ducimus excepturi adipisci est libero quia! Explicabo mollitia ad voluptatum impedit!',
      layout: 'responsive',
      gutter: 'medium',
    } only %}
  </bolt-stack>
  <bolt-stack>
    <div style="max-width: 35ch;">
      {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
        signifier: signifier,
        headline: {
          text: 'This listing has a vertical layout',
          tag: 'h3',
          size: 'large',
          link_attributes: {
            href: 'https://pega.com'
          },
        },
        meta_items: [
          'Posted 8 hours 15 minutes ago',
          'Last activity: 2 minutes ago',
        ],
        description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias libero repellendus, dolorum vitae iste iure quas tempora! Distinctio hic ducimus excepturi adipisci est libero quia! Explicabo mollitia ad voluptatum impedit!',
        layout: 'vertical',
        gutter: 'medium',
      } only %}
    </div>
  </bolt-stack>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
  signifier: signifier,
  headline: {
    text: 'This listing has a responsive layout',
    tag: 'h3',
    size: 'large',
    link_attributes: {
      href: 'https://pega.com'
    },
  },
  layout: 'responsive',
  gutter: 'medium',
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Listing Teaser Layout and Gutter',
  description: 'By default, a listing teaser has a horizontal layout, but it can be changed to vertical or responsive (content will wrap under the signifier at the small breakpoint).',
  demo: demo,
  twig_markup: twig_markup,
} only %}
