/* ------------------------------------ *\
  ELEMENTS - CODE
\* ------------------------------------ */

pre {
  @include bolt-padding(small);
  @include bolt-horizontal-scroll;
  text-align: left;
  white-space: pre-wrap;
}

code {
  @include bolt-font-family(code);
  display: inline-block;
  padding: 0 3px;
  // @todo review the exclusion of the next 2 lines with Salem ~ Evan
  //@include bolt-font-weight(semibold); // This is an edge case to use semibold.
  //@include bolt-font-size(xsmall);

  background-color: transparentize(bolt-color(gray, light), 0.2);
  border-radius: 4px;
  letter-spacing: 0.05rem;
  white-space: inherit;

  pre & {
    width: 100%;
    background-color: transparent;
  }
}
