/* ------------------------------------ *\
  ELEMENTS - HEADINGS
\* ------------------------------------ */

#{$bolt-all-heading-elements} {
  @include bolt-font-family(heading);

  margin-bottom: var(--bolt-spacing-y-xsmall);
  font-size: var(--bolt-type-font-size-large);
  font-weight: var(--bolt-type-font-weight-bold);

  &:last-child {
    margin-bottom: 0;
  }
}
