/* ------------------------------------ *\
  ELEMENTS - HR
\* ------------------------------------ */

hr {
  opacity: 0.2;
  width: 100%;
  margin-top: var(--bolt-spacing-y-medium);
  margin-bottom: var(--bolt-spacing-y-medium);
  border-top-color: var(--bolt-theme-border, currentColor);
}
