/* ------------------------------------ *\
  ELEMENTS - HR
\* ------------------------------------ */

hr {
  width: 100%;
  margin-top: var(--bolt-spacing-y-medium);
  margin-bottom: var(--bolt-spacing-y-medium);
  border-top-color: var(--m-bolt-border);
  border-right: none;
  border-bottom: none;
  border-left: none;
}
