/* ------------------------------------ *\
  ELEMENTS - CODE
\* ------------------------------------ */

$bolt-code-border-radius: $bolt-border-radius;


pre {
  @include bolt-padding(small, stretched);
  @include bolt-horizontal-scroll;

  color: inherit;
  color: var(--bolt-theme-text, inherit);
  text-align: left;
  white-space: pre-wrap;
  background-color: rgba(bolt-color(gray), 0.1);

  // Override highlightjs default styling
  .hljs {
    @include bolt-padding(0);
    background-color: transparent;
  }
}

code {
  @include bolt-margin(0);
  @include bolt-padding(xxsmall 0.25rem xxsmall 0.3rem); // [Mai] 0.25rem on the right offsets the 0.05rem letter-spacing.
  @include bolt-font-family(code);
  @include bolt-font-weight(regular);
  @include bolt-font-size(small);

  display: inline-block;
  color: inherit;
  color: var(--bolt-theme-text, inherit);
  letter-spacing: 0.05rem;
  white-space: inherit;
  border-radius: $bolt-border-radius;
  background-color: rgba(bolt-color(gray), 0.1);

  pre & {
    width: 100%;
    color: inherit;
    background-color: transparent;
  }
}
