/* ------------------------------------ *\
  Body and heading declaration
\* ------------------------------------ */

$bolt-base-font-sizes: (
  bolt-breakpoint(xsmall): 14px,
  bolt-breakpoint(xxxxlarge): 16px,
);

html {
  @include bolt-poly-fluid-sizing('font-size', $bolt-base-font-sizes);
  @include bolt-font-family(body, true);
}

body {
  @include bolt-font-family(body);
  @include bolt-font-size(medium);

  // help ensure short pages (those not using `.c-bolt-site`) are tall enough.  Super important when dealing with components with
  // click event handlers on the body (and the body isn't automatically tall enough based on the content contained inside
  width: 100%;
  margin: 0;
  color: bolt-color(indigo, xdark);
  overflow-x: hidden; //Helps prevent horizontal scrolling in Chrome on Windows machines. Seems to be working fine w/ native position sticky at first glance.
}
