/* ------------------------------------ *\
   Basic table
\* ------------------------------------ */

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: var(--m-bolt-body);
}

thead,
tfoot {
  white-space: nowrap;
}

th,
td {
  font-size: var(--bolt-type-font-size-small);
  line-height: var(--bolt-type-line-height-small);
  text-align: left;
  border: 1px solid var(--m-bolt-disabled);
}

thead th,
tfoot td {
  padding: calc(var(--bolt-spacing-y-small) / 2) var(--bolt-spacing-x-small);
  font-family: var(--bolt-type-font-family-headline);
  font-weight: var(--bolt-type-font-weight-semibold);
}

th {
  color: var(--m-bolt-headline);
  background-color: rgba(bolt-color(gray), 0.1);
}

td {
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
  vertical-align: top;
}

tr,
td,
thead,
tbody,
tfoot {
  background: transparent !important;
}
