/* ------------------------------------ *\
  ELEMENTS - HR
\* ------------------------------------ */

hr {
  opacity: 0.2;
  width: 100%;
  border-top-color: var(--bolt-theme-border, currentColor);
  @include bolt-margin-top(medium);
  @include bolt-margin-bottom(medium);
}
