// ------------------------------------
// ELEMENTS - HEADINGS
// ------------------------------------
/* stylelint-disable selector-list-comma-newline-after */
#{$bolt-all-heading-elements} {
  @include bolt-margin-bottom(xsmall);
  @include bolt-font-family(heading);
  @include bolt-font-size(large);
  @include bolt-font-weight(bold);

  &:last-child {
    @include bolt-margin-bottom(0);
  }
}
/* stylelint-enable selector-list-comma-newline-after */
