This is a proof-of-concept, do not use.


{% embed "@bolt/band.twig" with {
  size: "large",
  theme: "light",
  fullBleed: true
} only %}
  {% block band_content %}

    {% include "@bolt/headline.twig" with {
      text: "Event Sponsors",
      align: "center",
      size: "xxlarge",
      tag: "h2",
      attributes: {
        class: "u-bolt-margin-bottom-large"
      }
    } only %}

    {% set actionBlockItems %}
      {% set logoImages = ["logo-incessant.png", "logo-capgemini.svg", "logo-cognizant.png", "logo-merkle.png", "logo-infosys.png"] %}

      {% for logoImage in logoImages %}
        <li class="c-bolt-action-blocks__item">
          <img src="/pattern-lab/images/content/logos/{{ logoImage }}">
        </li>
      {% endfor %}
    {% endset %}

    {% include "@bolt/action-blocks.twig" with {
      attributes: {
        class: [
          "c-bolt-action-blocks--max-3"
        ]
      },
      "children": actionBlockItems
    } only %}

  {% endblock %}
{% endembed %}
