{% extends "@bolt-blueprints/_landing-page-template.twig" %}

{% import "@bolt-blueprints/macros.twig" as macros %}

{% set breadcrumbs = [
  {
    "text": "Home",
    "url": link["blueprints-dashboard"]
  },
  {
    "text": "Mission Name Goes Here",
    "url": link["blueprints-t1-mission-landing"]
  },
  {
    "text": "Module name goes here"
  }
] %}

{% block page_content %}

  {% embed "@bolt-blueprints/_landing-page-inner-layout.twig" %}

    {% block hero_content %}
      {% include "@bolt-blueprints/landing-page-hero.twig" %}
    {% endblock %}

    {% block main_content %}

      {% set trainingSupplementalContent %}
        {% include "@bolt-components-headline/headline.twig" with {
          size: "medium",
          text: "After completing this module, you should be able to:",
          attributes: {
            class: [
              "u-bolt-margin-bottom-small",
            ]
          }
        } only %}
        <div class="u-bolt-margin-bottom-large">
          {# @todo: discovered a bug, you cannot pass classes to ul component #}
          {% include "@bolt-components-ul/ul.twig" with {
            items: [
              "Explain how data types group related fields to model a single entity",
              "Explain how data types group related fields to model a single entity",
              "Explain how data types group related fields to model a single entity",
            ]
          } only %}
        </div>

        {% include "@bolt-components-headline/headline.twig" with {
          size: "medium",
          text: "This module is available in the following Missions:",
          attributes: {
            class: [
              "u-bolt-margin-bottom-small",
            ]
          }
        } only %}
        {% include "@bolt-components-list/list.twig" with {
          separator: "none",
          display: "block",
          spacing: "none",
          attributes: {
            class: [
              "u-bolt-margin-bottom-large",
            ]
          },
          items: [
            macros.include("@bolt-components-link/link.twig", {
              url: "https://www.google.com",
              text: "Name of Mission will go here"
            }),
            macros.include("@bolt-components-link/link.twig", {
              url: "https://www.google.com",
              text: "Name of Mission"
            }),
            macros.include("@bolt-components-link/link.twig", {
              url: "https://www.google.com",
              text: "Adding another mission here"
            }),
          ]
        } only %}
      {% endset %}

      {% set trainingTopicList %}
        {% include "@bolt-components-card-replacement/card-replacement.twig" with {
          theme: "xlight",
          rounded: true,
          height: "auto",
          attributes: {
            class: [
              "u-bolt-margin-bottom-small",
            ]
          },
          body: {
            content: [
              macros.include("@bolt-components-headline/headline.twig", {
                size: "xlarge",
                text: "Topics",
                attributes: {
                  class: "u-bolt-margin-bottom-small",
                }
              }),
              macros.include("@bolt-components-list/list.twig", {
                separator: "solid",
                attributes: {
                  class: [
                    "u-bolt-negative-margin-right-small",
                    "u-bolt-padding-right-medium",
                  ],
                },
                items: [
                  macros.include("@bolt-blueprints/_module-topic-item.twig", {
                    text: "Data types",
                    duration: "10 mins",
                    viewed: true,
                  }),
                  macros.include("@bolt-blueprints/_module-topic-item.twig", {
                    text: "Creating a data type",
                    duration: "5 mins",
                  }),
                  macros.include("@bolt-blueprints/_module-topic-item.twig", {
                    text: "Creating a data type",
                    duration: "5 mins",
                  }),
                  macros.include("@bolt-blueprints/_module-quiz-item.twig", {
                    text: "Module Quiz",
                    numberOfQuestionsText: "3 Questions",
                  }),
                  macros.include("@bolt-blueprints/_module-quiz-item.twig", {
                    text: "Module Quiz",
                    numberOfQuestionsText: "3 Questions",
                    status: "passed"
                  }),
                  macros.include("@bolt-blueprints/_module-quiz-item.twig", {
                    text: "Module Quiz",
                    numberOfQuestionsText: "3 Questions",
                    status: "failed"
                  }),
                ]
              }),
            ] | join('')
          }
        } %}
      {% endset %}

      {% embed "@bolt-blueprints/_landing-page-main-2-col.twig" %}
        {% block supplemental_content %}
          {{ trainingSupplementalContent }}
        {% endblock %}
        {% block right_column %}
          {{ trainingTopicList }}
        {% endblock %}
      {% endembed %}

    {% endblock %}
  {% endembed %}

{% endblock %}
