{% set content %}
  <bolt-stack spacing="large">
    <bolt-text headline font-size="xxxlarge" tag="h1">
      Typography
    </bolt-text>
    <bolt-text subheadline font-size="xxlarge" tag="h2">
      The typographic foundation of Bolt.
    </bolt-text>
  </bolt-stack>

  <bolt-tabs label-spacing="medium" panel-spacing="medium" inset="off" selected-tab=2>

    {# Fonts #}
    <bolt-tab-panel>
      <bolt-text slot="label">Fonts</bolt-text>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Body: Open Sans
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Characters
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-text font-size="medium" letter-spacing="wide" style="overflow-wrap: break-word;">
          ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzžАБВГҐДЂЕЁЄЖЗЅИІЇЙЈКЛЉМНЊОПРСТЋУЎФХЦЧЏШЩЪЫЬЭЮЯабвгґдђеёєжзѕиіїйјклљмнњопрстћуўфхцчџшщъыьэюяΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩαβγδεζηθικλμνξοπρστυφχψωάΆέΈέΉίϊΐΊόΌύΰϋΎΫΏĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Styles
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="regular">
              Regular
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="regular" font-style="italic">
              Regular Italic
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="semibold">
              Semi-Bold
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="semibold" font-style="italic">
              Semi-Bold Italic
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="bold">
              Bold
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="medium" font-weight="bold" font-style="italic">
              Bold Italic
            </bolt-text>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Heading: Open Sans
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Characters
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-text font-size="xxlarge" letter-spacing="wide" style="overflow-wrap: break-word;">
          ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzžАБВГҐДЂЕЁЄЖЗЅИІЇЙЈКЛЉМНЊОПРСТЋУЎФХЦЧЏШЩЪЫЬЭЮЯабвгґдђеёєжзѕиіїйјклљмнњопрстћуўфхцчџшщъыьэюяΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩαβγδεζηθικλμνξοπρστυφχψωάΆέΈέΉίϊΐΊόΌύΰϋΎΫΏĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Styles
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="regular">
              Regular
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="regular" font-style="italic">
              Regular Italic
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="semibold">
              Semi-Bold
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="semibold" font-style="italic">
              Semi-Bold Italic
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="bold">
              Bold
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xxlarge" font-weight="bold" font-style="italic">
              Bold Italic
            </bolt-text>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Code: monospace*
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Characters
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-text font-family="code" font-size="medium" letter-spacing="wide" style="overflow-wrap: break-word;">
          ABCČĆDĐEFGHIJKLMNOPQRSŠTUVWXYZŽabcčćdđefghijklmnopqrsštuvwxyzžАБВГҐДЂЕЁЄЖЗЅИІЇЙЈКЛЉМНЊОПРСТЋУЎФХЦЧЏШЩЪЫЬЭЮЯабвгґдђеёєжзѕиіїйјклљмнњопрстћуўфхцчџшщъыьэюяΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩαβγδεζηθικλμνξοπρστυφχψωάΆέΈέΉίϊΐΊόΌύΰϋΎΫΏĂÂÊÔƠƯăâêôơư1234567890‘?’“!”(%)[#]{@}/&\<-+÷×=>®©$€£¥¢:;,.*
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Styles
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-text font-family="code" font-size="medium" font-weight="regular">
              Regular
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-family="code" font-size="medium" font-weight="regular" font-style="italic">
              Regular Italic
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-family="code" font-size="medium" font-weight="bold">
              Bold
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-family="code" font-size="medium" font-weight="bold" font-style="italic">
              Bold Italic
            </bolt-text>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-banner align="start">
          *Bolt prefers the system default for code text&rsquo;s font-family which maximizes the readability across all platforms and browsers.
        </bolt-banner>
      </bolt-stack>
    </bolt-tab-panel>

    {# Scale #}
    <bolt-tab-panel>
      <bolt-text slot="label">Scale</bolt-text>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Body
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Text
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text display="inline" font-size="medium">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">medium</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text display="inline" font-size="small">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">small</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text display="inline" font-size="xsmall">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xsmall</span>
            </bolt-tooltip>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Heading
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Headline
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="xxxlarge">
                The quick brown fox jumps over the lazy dog*.
              </bolt-text>
              <span slot="content">xxxlarge</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="xxlarge">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xxlarge</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="xlarge">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xlarge</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="large">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">large</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="medium">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">medium</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="small">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">small</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text headline display="inline" font-size="xsmall">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xsmall</span>
            </bolt-tooltip>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Subheadline
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-list spacing="xsmall">
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text subheadline display="inline" font-size="xxlarge">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xxlarge</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text subheadline display="inline" font-size="xlarge">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">xlarge</span>
            </bolt-tooltip>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-tooltip placement="top-start">
              <bolt-text subheadline display="inline" font-size="large">
                The quick brown fox jumps over the lazy dog.
              </bolt-text>
              <span slot="content">large</span>
            </bolt-tooltip>
          </bolt-list-item>
        </bolt-list>
      </bolt-stack>
      <bolt-stack spacing="xsmall">
        <bolt-text eyebrow tag="h3">
          Eyebrow
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="small">
        <hr class="u-bolt-margin-none">
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-tooltip placement="top-start">
          <bolt-text eyebrow display="inline">
            The quick brown fox jumps over the lazy dog.
          </bolt-text>
          <span slot="content">only one size</span>
        </bolt-tooltip>
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-banner align="start">
          *xxxlarge size should only be used for display headlines.
        </bolt-banner>
      </bolt-stack>
    </bolt-tab-panel>

    {# Tokens #}
    <bolt-tab-panel>
      <bolt-text slot="label">Tokens</bolt-text>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Font-family Tokens
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-table>
          <table>
            <thead>
              <tr>
                <td></td>
                <th>SCSS mixin</th>
                <th>Font-family</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>heading</th>
                <td>@include bolt-font-family(heading)</td>
                <td>Open Sans</td>
              </tr>
              <tr>
                <th>body</th>
                <td>@include bolt-font-family(body)</td>
                <td>Open Sans</td>
              </tr>
              <tr>
                <th>code</th>
                <td>@include bolt-font-family(code)</td>
                <td>monospace</td>
              </tr>
            </tbody>
          </table>
        </bolt-table>
      </bolt-stack>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Font-size Tokens
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="medium">
        <bolt-table>
          <table>
            <thead>
              <tr>
                <td></td>
                <th>SCSS mixin</th>
                <th>Type scale</th>
                <th>Font-size (responsive)*</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th rowspan=2>xxxlarge</th>
                <td rowspan=2>@include bolt-font-size(xxxlarge)</td>
                <td>3.083 (below 70 characters)</td>
                <td>43px to 55px (below 70 characters)</td>
              </tr>
              <tr>
                <td>2.275 (above 70 characters)</td>
                <td>32px to 41px (above 70 characters)</td>
              </tr>
              <tr>
                <th>xxlarge</th>
                <td>@include bolt-font-size(xxlarge)</td>
                <td>1.781</td>
                <td>25px to 32px</td>
              </tr>
              <tr>
                <th>xlarge</th>
                <td>@include bolt-font-size(xlarge)</td>
                <td>1.417</td>
                <td>20px to 25px</td>
              </tr>
              <tr>
                <th>large</th>
                <td>@include bolt-font-size(large)</td>
                <td>1.111</td>
                <td>16px to 20px</td>
              </tr>
              <tr>
                <th>medium (base)</th>
                <td>@include bolt-font-size(medium)</td>
                <td>1</td>
                <td>14px to 18px</td>
              </tr>
              <tr>
                <th>small</th>
                <td>@include bolt-font-size(small)</td>
                <td>0.9</td>
                <td>13px to 16px</td>
              </tr>
              <tr>
                <th>xsmall</th>
                <td>@include bolt-font-size(xsmall)</td>
                <td>0.8</td>
                <td>11px to 14px</td>
              </tr>
            </tbody>
          </table>
        </bolt-table>
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-banner align="start">
          *Font-sizes in Bolt are responsive from xxsmall breakpoint to xxxxlarge breakpoint. <bolt-link url="{{ link['viewall-visual-styles-breakpoints'] }}">View Breakpoint System<bolt-icon name="chevron-right" slot="after"></bolt-icon></bolt-link>
        </bolt-banner>
      </bolt-stack>

      <bolt-stack spacing="medium">
        <bolt-text headline font-size="xxlarge" tag="h2">
          Font-weight Tokens
        </bolt-text>
      </bolt-stack>
      <bolt-stack spacing="large">
        <bolt-table>
          <table>
            <thead>
              <tr>
                <td></td>
                <th>SCSS mixin</th>
                <th>Font-weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>regular</th>
                <td>@include bolt-font-weight(regular)</td>
                <td>400</td>
              </tr>
              <tr>
                <th>semibold</th>
                <td>@include bolt-font-weight(semibold)</td>
                <td>600</td>
              </tr>
              <tr>
                <th>bold</th>
                <td>@include bolt-font-weight(bold)</td>
                <td>800</td>
              </tr>
            </tbody>
          </table>
        </bolt-table>
      </bolt-stack>
    </bolt-tab-panel>

    {# Pairing #}
    <bolt-tab-panel>
      <bolt-text slot="label">Pairing</bolt-text>
      <bolt-text>Pairing</bolt-text>
    </bolt-tab-panel>
  </bolt-tabs>

{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: content,
  theme: "none",
  size: "large",
} only %}
