// ------------------------------------
// Button settings and tools
// ------------------------------------

/**
 * Settings
 */

$bolt-accordion-border-width: $bolt-border-width;
$bolt-accordion-border-style: $bolt-border-style;
$bolt-accordion-border-color: bolt-theme(text, 0.15);
$bolt-accordion-border-radius: bolt-border-radius(small);
$bolt-accordion-icon-size: 1.4rem;
$bolt-accordion-outline-offset: -4px;
