/* stylelint-disable scss/at-function-pattern */

/// Encode a bool to JSON
/// @access private
/// @param {Bool} $bool - bool to be encoded
/// @return {Bool} - encoded bool
@function _json-encode--bool($boolean) {
  @return $boolean;
}
