@import '@bolt/core';

$bds-sidebar-width: 320px;

.c-bds-layout {
  grid-template-columns: auto 1fr auto;
  // height: 100vh;
  
  @include bolt-mq(medium) {
    &.c-bds-layout--has-sidebar {
      grid-template-columns: $bds-sidebar-width auto 1fr auto;
    }
  }
}

.c-bds-layout__wrapper {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-self: stretch;
  grid-column-start: 1;
  grid-column-end: 1;
}

.c-bds-layout__title {
  padding: 15px 20px;

  span {
    vertical-align: middle;
  }

  .c-bds-layout__content--has-sidebar & {
    width: 100%;
  }
}

.c-bds-layout__header {
  grid-column-start: 1;
  grid-column-end: 3;

  @include bolt-mq(medium) {
    .c-bds-layout--has-sidebar & {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

.c-bds-layout__header__nav {
  padding: 15px 20px;
  text-align: right;

  @include bolt-mq($until: 599px) {
    width: 100%;
    text-align: center;
  }

  a {
    padding: 6px 12px;
    color: #fff;

    &.active,
    &.active-path {
      display: none; // we need more room at mobile and this is the item which makes most sense to exclude since we're already there!
      border: 1px solid #fff;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(21, 22, 25, 0.12),
        0 1px 2px rgba(21, 22, 25, 0.24);
      background: rgba(0, 0, 0, 0.1);

      @include bolt-mq(small) {
        display: initial;
      }

      &.active-path {
        text-decoration: none;
      }
    }

    &.c-bds-layout__hamburger {
      color: bolt-color(yellow);

      > span {
        display: none;

        @include bolt-mq(xsmall) {
          display: initial;
        }
      }
    }
  }
}

.c-bds-layout__header__link {
  text-decoration: none;
}

.c-bds-layout__sidebar__overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: bolt-z-index('modalBG');
  pointer-events: none;
  background-color: bolt-color(black);
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1),
    visibility 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.c-bds-layout__sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translate3d(-$bds-sidebar-width, 0, 0);
  z-index: bolt-z-index('modal');
  width: $bds-sidebar-width;
  overflow: auto;
  padding: 0;
  border-right: 1px solid #e0e2eb;
  background-color: bolt-color(gray, xlight);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-overflow-scrolling: touch;

  &:target {
    transform: translate3d(0, 0, 0);

    & ~ .c-bds-layout__sidebar__overlay {
      visibility: visible;
      opacity: 0.2;
      pointer-events: auto;

      @include bolt-mq(medium) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  @include bolt-mq(medium) {
    position: relative;
    transform: translate3d(0, 0, 0);
  
    @include bolt-mq(medium) {
      .c-bds-layout--has-sidebar & {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 2;
        grid-row-end: 4;
      }
    }
  }

  .c-bds-offcanvas {
    position: relative;

    > h2 {
      margin: 0;
      padding: 10px 20px;
      color: #fff;
      font-size: 1.11rem;
      border-bottom: 1px solid #fff;
      background-color: bolt-color(indigo);
    }

    .c-bds-layout__close-menu {
      position: absolute;
      top: 8px;
      right: 10px;
      color: bolt-color(yellow);
    }
  }
}

.c-bds-layout__-docs {
  // Styling for markdown content (classes not available)
  article {
    h2 {
      margin-bottom: 0.9rem;
      font-size: 1.33rem;
    }

    h3 {
      margin-bottom: 0.65rem;
    }
  }
}

.c-bds-layout__content {
  display: grid;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: auto;
  grid-template-rows: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  @include bolt-mq(medium) {
    .c-bds-layout--has-sidebar & {
      grid-template-columns: auto;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  @include bolt-mq(1400px + 320px) {
    .c-bds-layout--has-sidebar & {
      grid-template-columns: auto 320px;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}

.c-bds-layout__footer {
  align-self: end;
  position: relative; // Fallback positioning
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  grid-column-start: 1;
  grid-column-end: 1;
}

// Remove default padding of highlightJS when used inside of Bolt Global style defaults
// pre > .hljs,
// pre > code {
//   /**
//   * 1. Workaround to offset default <code> spacing
//   */
//   background-color: bolt-color(gray, xlight);
//   margin-left: bolt-spacing(small) * -1; /* [1] */
//   margin-right: bolt-spacing(small) * -1; /* [1] */
//   @include bolt-padding(small);
// }

// .u-bolt-margin-right-auto {
//   margin-right: auto !important;
// }

// .u-bolt-margin-right-auto\@small {
//   @include bolt-mq(small) {
//     margin-right: auto !important;
//   }
// }

// .u-bolt-hide {
//   display: none !important;
// }

// .u-bolt-hide\@small {
//   @include bolt-mq(small) {
//     display: none !important;
//   }
// }

// .u-bolt-hide\@medium {
//   @include bolt-mq(medium) {
//     display: none !important;
//   }
// }

// .u-bolt-show\@small {
//   @include bolt-mq(small) {
//     display: block !important;
//   }
// }

// .u-bolt-padding-top-none {
//   padding-top: 0 !important;
// }
