{% set navbar_data = [
  {
    text: "Real-Time AI",
    url: "#!"
  },
  {
    text: "End-to-end Automation",
    url: "#!",
  },
  {
    text: "Journey-centric Delivery",
    url: "#!"
  },
  {
    text: "Low Code",
    url: "#!"
  },
  {
    text: "Multi-dimensional Power",
    url: "#!"
  },
  {
    text: "Cloud Choice",
    url: "#!"
  }
] %}

{# {% set navbar_content %}
  {% for item in navbar_data %}
    {% include "@bolt-components-navbar/navbar-item.twig" with item only %}  
  {% endfor %}
{% endset %} #}

<div class="o-bolt-wrapper u-bolt-padding-top-large u-bolt-padding-bottom-large">
  {% grid "o-bolt-grid--center o-bolt-grid--large o-bolt-grid--matrix o-bolt-grid--middle u-bolt-margin-bottom-medium" %}
    {% cell "u-bolt-width-1/1" %}
      <p>By default the Navbar is full bleed, which means it spans the full width of the viewport.</p>
    {% endcell %}

    {% cell "u-bolt-width-1/1" %}
      {# {% include "@bolt-components-navbar/navbar.twig" with {
        title: {
          tag: "h2",
          text: "Title Text",
          icon: {
            name: "marketing-gray"
          }
        },
        content: navbar_content
      } only %} #}
    {% endcell %}

    {% cell "u-bolt-width-1/1" %}
      <p>To display a Navbar at its natural width use <code>width: auto</code>.</p>
    {% endcell %}

    {% cell "u-bolt-width-1/1" %}
      {# {% include "@bolt-components-navbar/navbar.twig" with {
        title: {
          tag: "h2",
          text: "Title Text",
          icon: {
            name: "marketing-gray"
          }
        },
        width: 'auto',
        content: navbar_content
      } only %} #}
    {% endcell %}
  {% endgrid %}
</div>



