<p>Setting <code>"hide_title"</code> to a breakpoint size will hide the title text at that size. This example shows <code>"hide_title": "from-xsmall-bp"</code>. Resize to see the change.</p>

{% set navbar_data = [
  {
    text: "Features",
    url: "#!"
  },
  {
    text: "Resources",
    url: "#!"
  },
  {
    text: "Industry Apps",
    url: "#!"
  },
  {
    text: "Customer Success",
    url: "#!"
  }
] %}

{% set navbar_content %}
  {% for item in navbar_data %}
    {% include "@bolt-components-navbar/navbar-item.twig" with item only %}  
  {% endfor %}
{% endset %}

{% include "@bolt-components-navbar/navbar.twig" with {
  title: {
    tag: "h2",
    text: "Title Text",
    hide_title: "from-xsmall-bp",
    icon: {
      name: "marketing-gray"
    }
  },
  content: navbar_content
} only %}
