{% set demo %}
{% spaceless %}
  <a href="{{ link['components-navbar-use-case-scroll-offset'] }}" class="e-bolt-text-link">View full page demo<span class="e-bolt-text-link__icon-after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span></a>
{% endspaceless %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-navbar/navbar.twig' with {
  scroll_offset: 16, // Adds a specific pixel value to the smooth scroll position of each section of the page.
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Scroll Offset',
  description: 'Scroll offset can be used when you want to offset the target scroll position of each navbar link. When a navbar link is pressed, the page will scroll down to the repsective anchor. The offset adds a specific pixel value on top of it.',
  demo: demo,
  twig_markup: twig_markup,
} only %}
