{% set demo %}
  <a href="{{ link['components-navbar-use-case-sticky-offset'] }}" class="e-bolt-text-link">View full page demo<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-navbar/navbar.twig' with {
  sticky_offset_selector: '#js-sticky-target', // Target another sticky element on the same page.
  sticky_offset: 16, // Adds an additional pixel value to the top position of the navbar.
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Sticky Offset',
  description: 'When there are multiple sticky elements on the same page, sticky offset can be used to prevent sticky elements from overlapping each other.',
  demo: demo,
  twig_markup: twig_markup,
} only %}
