<p>You can offset the sticky position of the Navbar via two props: <code>scroll_offset_selector</code> and <code>scroll_offset</code>. <code>scroll_offset_selector</code> accepts a CSS selector and offsets the navbar by the total height of the matching elements. You can further fine-tune the offset by passing an integer to <code>scroll_offset</code> which will be converted to a pixel value.</p>
<p>Navbar automatically sets an offset for the Page Header component.</p>

{% set banner %}
  {% include '@bolt-components-banner/banner.twig' with {
    content: 'Sticky element with matching <code>scroll_offset_selector</code>',
    status: 'warning',
  } only %}
{% endset %}

{% include '@bolt-components-sticky/sticky.twig' with {
  content: banner,
  attributes: {
    class: [
      'u-bolt-margin-bottom-large',
      'js-sticky-target',
    ],
  },
} only %}

{% set navbar_data = [
  {
    text: "Features",
    url: "#!"
  },
  {
    text: "Resources",
    url: "#!"
  },
  {
    text: "Industry Apps",
    url: "#!"
  },
  {
    text: "Customer Success",
    url: "#!"
  }
] %}

{% set navbar_content %}
  {% for item in navbar_data %}
    {% include "@bolt-components-navbar/navbar-item.twig" with item only %}  
  {% endfor %}
{% endset %}

{% include "@bolt-components-navbar/navbar.twig" with {
  title: {
    tag: "h2",
    text: "Title Text",
    hide_title: "from-xsmall-bp",
    icon: {
      name: "marketing-gray"
    }
  },
  content: navbar_content,
  scroll_offset_selector: '.js-sticky-target',
  scroll_offset: 10
} only %}

<div style="height: 200vh"></div>
