<p>
  This video has <code>controls</code> set to <code>false</code>.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "5780495299001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "controls": false
} only %}
