<p>
  This video has external controls:
</p>
<p>
  {% include "@bolt/button.twig" with {
    "text": "Play or pause",
    "tag": "button",
    "attributes": {
      "on-click": "toggle",
      "on-click-target": "pega-video-3861325118001-a"
    }
  } only %}
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "videoUuid": "pega-video-3861325118001-a"
} only %}
