// ------------------------------------
// SCROLLING HELPER MIXIN
// ------------------------------------

////
/// @group Tools: Layout
/// @author Salem Ghoweri
////

/// Provides a bolt method for controlling vertical scroll (overflow)
/// @example scss
/// .element {
///    @include bolt-vertical-scroll();
/// }
@mixin bolt-vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/// Provides a bolt method for controlling horizontal scroll (overflow)
/// @example scss
/// .element {
///    @include bolt-horizontal-scroll();
/// }
@mixin bolt-horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
