@import '@bolt/core-v3.x';

/**
 * Ratio
 *
 * Dev notes:
 * 1. Fallback for old Safari IOS versions
 */

.e-bolt-ratio {
  display: block;
  background-color: var(--m-bolt-tertiary);
  --e-bolt-aspect-ratio: 16/9;
  aspect-ratio: var(--e-bolt-aspect-ratio);

  > *:first-child {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.e-bolt-ratio--square {
  --e-bolt-aspect-ratio: 1/1;
}

.e-bolt-ratio--standard {
  --e-bolt-aspect-ratio: 4/3;
}

.e-bolt-ratio--rectangle {
  --e-bolt-aspect-ratio: 16/9;
}

/* [2] */
@supports not (aspect-ratio: var(--e-bolt-aspect-ratio)) {
  .e-bolt-ratio {
    position: relative;
    --e-bolt-aspect-ratio: 16/9;
    aspect-ratio: var(--e-bolt-aspect-ratio);

    > *:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      float: left;
      padding-top: calc(100% / (var(--e-bolt-aspect-ratio)));
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .e-bolt-ratio--square {
    --e-bolt-aspect-ratio: 1/1;
  }

  .e-bolt-ratio--standard {
    --e-bolt-aspect-ratio: 4/3;
  }

  .e-bolt-ratio--rectangle {
    --e-bolt-aspect-ratio: 16/9;
  }
}
