/* ------------------------------------ *\
   Ratio
\* ------------------------------------ */

@import '@bolt/core-v3.x';

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 * 2. Fallback for old Safari IOS versions
 */

.e-bolt-ratio {
  // Styles go here. /* [1] */
  display: block;
  background-color: var(--m-bolt-tertiary);
}

.e-bolt-ratio__content {
  aspect-ratio: var(--aspect-ratio);

  > *:first-child {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* [2] */
@supports not (aspect-ratio: var(--aspect-ratio)) {
  .e-bolt-ratio__content {
    position: relative;

    > *:first-child {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      float: left;
      padding-top: calc(100% / (var(--aspect-ratio)));
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
