/* ==========================================================================
   #ADD MODULE
   ========================================================================== */

$modules: () !default;
$duplicate_warning: false !default;

@mixin _add-module($name, $version, $dependencies: ()) {
  $dependencies: to-list($dependencies); //Convert Sass Map to list

  //Check if this module already has a version registered.
  $module-version: map-get($modules, $name);

  @if $module-version == null {

    $module-version: $version;
    $modules: map-merge($modules, ($name: $version)) !global;

  } @elseif $module-version == $version {
    @if ($duplicate_warning == true) {
      @warn 'Duplicate #{$name} module! You tried to import the same version of the same module more than once!';
    }
  } @else {
    @warn 'Multiple module versions? It looks like you tried to import v#{module-version} and v#{$version} versions of the #{$name} module.';
  }

  @include versioning-add( $name, $version, $dependencies );
}


@mixin add-module($params...) {
  @if mixin-exists(versioning-add) {
    @include _add-module($params...);
  }
}
