/* ------------------------------------ *\
   Menu settings and tools
\* ------------------------------------ */

$bolt-menu-border-width: $bolt-border-width;
$bolt-menu-border-style: $bolt-border-style;
$bolt-menu-border-color: bolt-theme(border, 0.2);
$bolt-menu-spacing-values: xsmall, small, medium;
