/* ------------------------------------ *\
   Menu
\* ------------------------------------ */

@import '@bolt/core';
@import './_menu-settings-and-tools.scss';

// Register Custom Block Element
@include bolt-repeat-rule(('bolt-menu', ':host')) {
  display: block;
}

.c-bolt-menu {
  display: block;
  // [Mai] reset font styles here so it doesn't inherit from parent container.
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xsmall);
  font-weight: var(--bolt-type-font-weight-regular);
  line-height: var(--bolt-type-line-height-xsmall);
  text-align: start;
}

// Title
.c-bolt-menu__title {
  display: block;
  font-weight: var(--bolt-type-font-weight-semibold);
  color: bolt-theme(headline);
  letter-spacing: 1px;
  border-bottom-color: $bolt-menu-border-color;
  border-bottom-style: $bolt-menu-border-style;
  border-bottom-width: $bolt-menu-border-width;
}

// Spacing
@each $value in $bolt-menu-spacing-values {
  .c-bolt-menu__title--spacing-#{$value} {
    padding: calc(var(--bolt-spacing-y-#{$value}) / 2)
      var(--bolt-spacing-x-#{$value});
  }
}
