
{% set schema = bolt.data.components['@bolt-components-headline'].schema %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxxlarge',
  text: 'Numbered Headline',
  tag: 'h1',
  attributes: {
    class: ['u-bolt-margin-bottom-medium']
  }
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Basic Usage',
  tag: 'h2',
  attributes: {
    class: ['u-bolt-margin-bottom-medium']
  }
} only %}

{% set withoutColorExample %}{% verbatim %}{% include '@bolt-components-headline/headline.twig' with {
  text: 'Example numbered headline (w/o number_color)',
  number_text: 7,
} only %}{% endverbatim %}{% endset %}

{% include '@bolt-components-headline/headline.twig' with {
  text: 'Example numbered headline (w/o number_color)',
  number_text: 7,
} only %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'twig',
  content: withoutColorExample
} %}

{% set withColorExample %}{% verbatim %}{% include '@bolt-components-headline/headline.twig' with {
  text: 'Example numbered headline (w/ number_color)',
  number_text: 42,
  number_color: 'orange'
} only %}{% endverbatim %}{% endset %}

{% include '@bolt-components-headline/headline.twig' with {
  text: 'Example numbered headline (w/ number_color)',
  number_text: 42,
  number_color: 'orange'
} only %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  lang: 'twig',
  content: withColorExample
} %}

<hr>


{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Up to 3 digits supported',
  tag: 'h2',
  attributes: {
    class: ['u-bolt-margin-bottom-xsmall']
  }
} only %}


{% set headline_1 %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xxlarge',
    text: 'Single-digit',
    number_text: 7,
  } only %}
{% endset %}

{% set headline_2 %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xxlarge',
    text: 'Double-digit',
    number_text: 42,
  } only %}
{% endset %}

{% set headline_3 %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xxlarge',
    text: 'Triple-digit',
    number_text: 123,
  } only %}
{% endset %}

{% include '@bolt-components-grid/grid.twig' with {
  items: [
    {
      column_start: '1',
      column_span: '12 4@small',
      content: headline_1,
    },
    {
      column_start: '1 5@small',
      column_span: '12 4@small',
      content: headline_2,
    },
    {
      column_start: '1 9@small',
      column_span: '12 4@small',
      content: headline_3,
    },
  ]
} only %}


<hr>

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Icons Supported',
  tag: 'h2',
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Numbered Headline With Left Icon',
  number_text: 1,
  icon: {
    name: 'arrow-left',
    position: 'before'
  }
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Numbered Headline With Right Icons',
  number_text: 2,
  icon: {
    name: 'chevron-right',
    position: 'after'
  }
} only %}

<hr>

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Align Support',
  tag: 'h2',
  attributes: {
    class: ['u-bolt-margin-bottom-medium']
  }
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xlarge',
  text: 'Numbered Headline - Left',
  number_text: 1,
  align: 'left'
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xlarge',
  text: 'Numbered Headline - Center',
  number_text: 2,
  align: 'center'
} only %}

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xlarge',
  text: 'Numbered Headline - Right',
  number_text: 3,
  align: 'right'
} only %}

<hr>

<bolt-stack>
  {% include '@bolt-components-headline/eyebrow.twig' with {
    text: 'Numbered Eyebrow',
    number_text: 4,
  } only %}
</bolt-stack>
<bolt-stack>
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xxxlarge',
    text: 'Numbered Headline (xxxlarge)',
    number_text: 1,
  } only %}
</bolt-stack>
<bolt-stack>
  {% include '@bolt-components-headline/subheadline.twig' with {
    size: 'xxlarge',
    text: 'Numbered Subheadline (xxlarge)',
    number_text: 2,
  } only %}
</bolt-stack>
<bolt-stack>
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Numbered Text',
    number_text: 3,
  } only %}
</bolt-stack>

<hr>

{% for size in schema.properties.size.enum %}
  {% if size != 'medium' %}
    <bolt-stack>
      {% include '@bolt-components-headline/headline.twig' with {
        size: size,
        text: 'Numbered Headline (' ~ size ~ ')',
        number_text: loop.index,
        number_color: 'navy',
      } only %}
    </bolt-stack>
  {% endif %}
{% endfor %}

<hr>

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'number_color',
  tag: 'h2',
} only %}

<p>
  By setting the <code>number_color</code> prop to <code>navy</code>, <code>violet</code>, <code>teal</code>, or <code>orange</code>, you can choose the background color of the Headline Number.
</p>

<bolt-grid gutter="medium"  row-gutter="medium">
  {% for color in schema.properties.number_color.enum %}
    {% set numbered_headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        size: 'xxlarge',
        text: 'Numbered Headline w/ Number',
        number_text: loop.index,
        number_color: color
      } only %}
    {% endset %}
    {% if color == 'teal' or color == 'orange' %}
    <bolt-grid-item column-start="1" column-span="12 6@small">
      {{ numbered_headline }}
    </bolt-grid-item>
    {% else %}
    <bolt-grid-item column-start="1 7@small" column-span="12 6@small">
      {{ numbered_headline }}
    </bolt-grid-item>
    {% endif %}
  {% endfor %}

  {% set letters = ['A', 'B', 'C', 'D'] %}
  {% for letter in letters %}
    {% set numbered_headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        size: 'xxlarge',
        text: 'Numbered Headline w/ Letter',
        number_text: letter,
        number_color: schema.properties.number_color.enum[loop.index0]
      } only %}
    {% endset %}
    {% if letter == 'A' or letter == 'C' %}
      <bolt-grid-item column-start="1" column-span="12 6@small">
        {{ numbered_headline }}
      </bolt-grid-item>
      {% else %}
      <bolt-grid-item column-start="1 7@small" column-span="12 6@small">
        {{ numbered_headline }}
      </bolt-grid-item>
    {% endif %}
  {% endfor %}
</bolt-grid>

<hr>

{% include '@bolt-components-headline/headline.twig' with {
  size: 'xxlarge',
  text: 'Theming',
  attributes: {
    class: ['u-bolt-margin-bottom-medium']
  }
} only %}

<p>
  If you don't specify a <code>number_color</code>, the current theme's colors will be used instead.
</p>

{% set no_text_1 %}
  <div class="t-bolt-xlight u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Without number_color',
      number_text: 1,
    } only %}
  </div>
  {% endset %}

{% set no_text_2 %}
  <div class="t-bolt-light u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Without number_color',
      number_text: 2,
    } only %}
  </div>
  {% endset %}

{% set no_text_3 %}
  <div class="t-bolt-dark u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Without number_color',
      number_text: 3,
    } only %}
  </div>
  {% endset %}

{% set no_text_4 %}
  <div class="t-bolt-xdark u-bolt-padding-top-small u-bolt-padding-bottom-small u-bolt-padding-left-small u-bolt-padding-right-small">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Without number_color',
      number_text: 4,
    } only %}
  </div>
{% endset %}

{% include '@bolt-components-grid/grid.twig' with {
  items: [
    {
      column_start: '1',
      column_span: '12 6@medium',
      content: no_text_1,
    },
    {
      column_start: '1 7@medium',
      column_span: '12 6@medium',
      content: no_text_2,
    },
    {
      column_start: '1',
      column_span: '12 6@medium',
      content: no_text_3,
    },
    {
      column_start: '1 7@medium',
      column_span: '12 6@medium',
      content: no_text_4,
    },
  ]
} only %}
