@import 'tools.get-shirt-size';
@import 'tools.calculate-sizes';
@import 'tools.normalize-spacing-name';
@import 'tools.collapse-directionals';
@import 'tools.directional-property';

////
/// @group Tools: spacing
/// @author Salem Ghoweri & Mike Mai
////


@function spacing-vertical($size) {
  @return map-get-deep($spacing-sizes--vertical, $size);
}

@function spacing-horizontal($size) {
  @return map-get-deep($spacing-sizes--horizontal, $size);
}










//
// @mixin inline($inline) {
//   $margin-size: map-get-deep($spacing-inlines, 'spacing-inlines', $inline);
//
//   margin-right: $margin-size;
// }




@mixin margin($vals...) {
  $sizes: nth($vals, 1);
  $spacingType: '';

  @if (length($vals) > 1) {
    $spacingType: normalizeSpacingTypes(nth($vals, 2));
  }
  @else {
    $spacingType: 'default';
  }  // $spacingType: normalizeSpacingTypes($spacingType);

  // @debug $spacingType;
  $sizes: calculatesizes($sizes, $spacingType);

  @include directional-property(margin, false, $sizes);
}


@mixin margin-top($size) {
  @if (length($size) > 1) {
    @error "Sorry but you can't pass in more than one CSS value into margin-top!";
  }
  @include margin($size null null null);
}

@mixin margin-right($size) {
  @if (length($size) > 1) {
    @error "Sorry but you can't pass in more than one CSS value into margin-right!";
  }
  @include margin(null $size null null);
}

@mixin margin-bottom($size) {
  @if (length($size) > 1) {
    @error "Sorry but you can't pass in more than one CSS value into margin-bottom!";
  }
  @include margin(null null $size null);
}

@mixin margin-left($size) {
  @if (length($size) > 1) {
    @error "Sorry but you can't pass in more than one CSS value into margin-left!";
  }
  @include margin(null null null $size);
}



// .testing {
//   @include margin-top(xlarge);
// }

.testing2 {
  position: relative;
  right: spacing(xlarge);
}

// @mixin stack($stack) {
//   $margin-size: map-get-deep($spacing-stacks, 'spacing-stacks', $stack);
//
//   margin-bottom: $margin-size;
// }
