<script type="text/javascript">
  document.getElementsByTagName("body")[0].setAttribute("class", "e-bolt-printable");
</script>

{% set pageControls = block("page_controls") is defined ? block("page_controls") : '' %}
{% set sideNav = block("side_nav") is defined ? block("side_nav") : '' %}
{% set breadcrumbs = [
  {
    "text": "Home",
    "url": link["pages-acd-dashboard"]
  },
  {
    "text": "Mission Name Goes Here",
    "url": link["pages-acd-mission-landing"]
  },
  {
    "text": "Module name goes here",
    "url": link["pages-acd-module-landing-page"]
  },
  {
    "text": "How to update a rule"
  }
] %}

{% set mainContentBlock %}
  {% set buttons %}
    {% include "@bolt-components-band/band.twig" with {
      content: pageControls,
      size: "small",
      theme: "none",
    } only %}
  {% endset %}
  {% include '@bolt-components-grid/grid.twig' with {
    items: [
      {
        column_start: '1',
        column_span: '12',
        content: buttons,
      },
    ]
  } only %}

  {% if sideNav %}
    {% set side_nav %}
      {{ sideNav }}
    {% endset %}
  {% endif %}

  {% set main_content %}
    {% if showBanner %}
      {% set banner_content %}
        <div class="u-bolt-overflow-hidden">
          {% set col_1 %}
            <div class="u-bolt-flex u-bolt-align-items-center u-bolt-justify-content-center u-bolt-height-full u-bolt-padding-xsmall">
              {% include '@bolt-elements-image/image.twig' with {
                attributes: {
                  src: "/images/pega-community.svg",
                  alt: "Community logo",
                  style: "max-width: 250px",
                  loading: "lazy",
                }
              } only %}
            </div>
          {% endset %}
          {% set col_2 %}
            <div class="u-bolt-flex u-bolt-align-items-center u-bolt-height-full u-bolt-padding-xsmall u-bolt-padding-xsmall">
              {% include "@bolt-components-headline/text.twig" with {
                text: "<strong>Note:</strong> The following content, referenced from Pega Community, is included here to help you better achieve the module learning objectives.",
                size: "small"
              } only %}
            </div>
          {% endset %}
          {% include '@bolt-components-grid/grid.twig' with {
            items: [
              {
                column_start: '1',
                column_span: '12 4@small',
                content: col_1,
              },
              {
                column_start: '1 5@small',
                column_span: '12 8@small',
                content: col_2,
              },
            ]
          } only %}
        </div>
      {% endset %}

      {% include "@bolt-components-banner/banner.twig" with {
        content: banner_content,
        align: "start"
      } only %}
    {% endif %}

    {% include "@bolt-academy/_details-page-hero.twig" %}
    {{ block("page_content") }}
  {% endset %}

  {% set buttons %}
    {% include "@bolt-components-band/band.twig" with {
      content: pageControls,
      size: "medium",
      theme: "none",
    } only %}
  {% endset %}
  {% include '@bolt-components-grid/grid.twig' with {
    items: [
      {
        column_start: '1',
        column_span: '12 3@medium',
        content: side_nav,
      },
      {
        column_start: '1 4@medium',
        column_span: '12 9@medium',
        content: main_content,
      },
      {
        column_start: '1',
        column_span: '12',
        content: buttons,
      },
    ]
  } only %}
{% endset %}

<div class="c-bolt-site">
  {% block global_header %}
    {% include '@pl/_demo-main-site-page-header.twig' with { static_header: true } only %}
  {% endblock %}

  <main class="c-bolt-site__content u-bolt-flex u-bolt-flex-col">
    {% include "@bolt-academy/_toolbar.twig" with {
      toolbarGradient: toolbarGradient | default("orange"),
      sticky: sideNav ? false : true,
      breadcrumbs: breadcrumbs,
      toolbarIcon: toolbarIcon,
    } only %}
    {% include "@bolt-components-band/band.twig" with {
      theme: "xlight",
      size: "none",
      valign: "start",
      content: mainContentBlock,
    } only %}
  </main>
  <div class="c-bolt-site__footer c-bolt-page-footer">
    <div class="o-bolt-wrapper">
      {% block global_footer %}
        {% include "@bolt-components-page-footer/page-footer.twig" only %}
      {% endblock %}
    </div>
  </div>
</div>
