@function bolt-spacing($size) {
  // @warn 'This scss function is being deprecated. Please convert to use global CSS vars -> var(--bolt-spacing-x-*).';
  @return var(--bolt-spacing-x-#{$size});
}

@function bolt-v-spacing($size, $modifier: null) {
  // @warn 'This scss function is being deprecated. Please convert to use global CSS vars -> var(--bolt-spacing-y-*).';

  $v-spacing: '';

  @if ($modifier == 'squished') {
    $v-spacing: calc(var(--bolt-spacing-y-#{$size}) * 0.5);
  } @else if ($modifier == 'stretched') {
    $v-spacing: calc(var(--bolt-spacing-y-#{$size}) * 1.5);
  } @else {
    $v-spacing: var(--bolt-spacing-y-#{$size});
  }

  @return $v-spacing;
}

@function bolt-vertical-spacing($size) {
  // @warn 'This scss function is being deprecated. Please convert to use global CSS vars -> var(--bolt-spacing-y-*).';

  @return bolt-v-spacing($size);
}
