/* ------------------------------------ *\
  ELEMENTS - LINKS
\* ------------------------------------ */

a {
  color: inherit;
  text-decoration: none;
}

// @TODO: refactor into link component
p a,
p .c-bolt-link {
  & {
    color: inherit;
    color: var(--bolt-theme-link-default, var(--bolt-theme-link, bolt-color(indigo, light)));
  }

  &:visited {
    color: inherit;
    color: var(--bolt-theme-link-visited, var(--bolt-theme-link, bolt-color(indigo, light)));
  }

  &:hover {
    color: inherit;
    color: var(--bolt-theme-link-hover, var(--bolt-theme-link, bolt-color(indigo, light)));
  }

  &:active {
    color: inherit;
    color: var(--bolt-theme-link-active, var(--bolt-theme-link, bolt-color(indigo, light)));
  }
}


p:not[class] > a {
  text-decoration: underline;
}