/* ------------------------------------ *\
  ELEMENTS - LINKS
\* ------------------------------------ */

a {
  color: inherit;
  color: var(--bolt-color-primary, bolt-color(indigo, light));
  text-decoration: none;
}

a:visited {
  color: inherit;
  color: var(--bolt-color-primary, bolt-color(indigo, light));
}
