////
/// @group Settings: Opacity
/// @author Remy Denton
////

// ------------------------------------
// Opacity Scale
// ------------------------------------

/// Bolt's opacity scale.
/// The keys in this array are the opacity value names and not necessarily numeric.  For example, a valid key could be
/// "semi-transparent". However, the values in this array must be valid numeric values for the CSS 'opacity' property.
/// @type Map
$bolt-opacities: (
  0: 0,
  20: .2,
  40: .4,
  60: .6,
  80: .8,
  100: 1
) !default;

@include export-data('opacity.bolt.json', $bolt-opacities);
