/* ==========================================================================
   #ROYAL BLUE THEME
   ========================================================================== */

@include add-module(
  $name:    'themes.royal-blue',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors':     '1.0.0',
    'tools.color-palette': '1.0.0',
  )
);

.t-royal-blue {
  background-color: palette(royal-blue);
  a {
    color: palette(white);
  }
}
