/* ==========================================================================
   #RED THEME
   ========================================================================== */

@include add-module(
  $name:    'themes.red',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors':     '1.0.0',
    'tools.color-palette': '1.0.0',
  )
);

.t-red {
  color: palette(white);
  background-color: palette(red);

  a {
    color: palette(white);
  }
}
