/* ==========================================================================
   #GRADIENTS
   ========================================================================== */

$themeGradients: map-get($gradients, 'gradients');

@each $gradient, $name in $themeGradients {

  @include add-module(
    $name:    'themes.#{$gradient}-gradient',
    $version: '1.0.0',
    $dependencies: (
      'settings.colors':     '1.0.0',
      'tools.color-palette': '1.0.0',
    )
  );

  .t-#{$gradient} {
    @include linear-gradient($gradient);
    color: white;

    a {
      color: palette(white);

      &:hover,
      &:active,
      &:focus {
        color: palette(white);
      }
    }
  }
}

$gradients: jsonexport('gradients.sass.json', $gradients);
