/* ==========================================================================
   #GREEN THEME
   ========================================================================== */

@include add-module(
  $name:    'themes.green',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors':     '1.0.0',
    'tools.color-palette': '1.0.0',
  )
);

.t-green {
  color: palette(white);
  background-color: palette(green);

  a {
    color: palette(white);
  }
}
