/* ==========================================================================
   #LIGHT GRAY
   ========================================================================== */

@include add-module(
  $name:    'themes.light-gray',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors':     '1.0.0',
    'tools.color-palette': '1.0.0',
  )
);

.t-light-gray {
  background-color: palette(gray, lightest);
  a {
    color: palette(black);
  }
}
