/* ==========================================================================
   #DARK THEME
   ========================================================================== */

@include add-module(
  $name:    'themes.dark',
  $version: '1.0.0',
  $dependencies: (
    'settings.colors':     '1.0.0',
    'tools.color-palette': '1.0.0',
  )
);

/**
  * When you have a dark background / background image and want to have lighter
  * text inside that container.
  */

.t-dark {
  color: palette(white);
  background-color: palette(black);

  a {
    color: palette(white);

    &:hover {
      color: palette(gray);
      text-decoration: underline;
    }

    &:focus,
    &:active {
      color: palette(gray, dark);
      text-decoration: underline;
    }
  }
}
