{% block global_header %}
  {% include "@bolt/page-header.twig" %}
{% endblock %}

<div class="c-bolt-site__content c-bolt-site__content--middle"><!-- vertically center -->
  <div class="o-bolt-wrapper">
    <main>
      <article>
        {% block main_content %}
          <!-- <p>Example main content block.</p> -->
        {% endblock %}
      </article>
    </main>
  </div>
</div>

{% block global_footer %}
  {% include "@bolt/page-footer.twig" %}
{% endblock %}