{% set alignmentExamples = {
  left: "Left",
  center: "Center",
  right: "Right",
  null: "Null",
  typo: "Typo",
} %}

{% for alignment, alignmentName in alignmentExamples %}
  <p>Align: {{ alignmentName }}</p>
  {% include "@bolt-components-headline/headline.twig" with {
    text: "This is an example of Align " ~ alignmentName,
    tag: "h2",
    size: "xxlarge",
    align: alignment
  } only %}
{% endfor %}
