<div class="o-bolt-wrapper" style="max-width: 80ch">

  {% include "@bolt-components-headline/headline.twig" with {
    text: "Default without Modifier"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}

  <div style="padding: 10em 0;">
    {% include "@bolt-components-headline/eyebrow.twig" with {
      text: "Eyebrow"
    } %}
    {% include "@bolt-components-headline/headline.twig" with {
      text: "Deliver game-changing results with real artificial intelligence.",
      size: "xxxlarge",
      tag: "h1"
    } only %}
    {% include "@bolt-components-headline/subheadline.twig" with {
      text: "Pega's AI powered CRM is transforming the way enterprises drive greater engagement the entire across customer journey."
    } %}
  </div>

  {% include "@bolt-components-headline/headline.twig" with {
    text: "XXXLarge",
    size: "xxxlarge"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "XXLarge",
    size: "xxlarge"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "XLarge",
    size: "xlarge"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Large",
    size: "large"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Small",
    size: "small"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "XSmall",
    size: "xsmall"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "This is only for accommodating edge cases from legacy design. Avoid using it for future design."
  } %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Where the heck is medium???",
    size: "medium"
  } %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Medium is the body (base) font size, therefore it is not a size for the headlines."
  } %}

</div>