{% set description %}
    A responsive table.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}

<div class="test-table">
  <table>
    <thead>
      <tr>
        <td></td>
        <th>Item number</th>
        <th>Description</th>
        <th>Assemblies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <bolt-text headline font-size="small" text-transform="uppercase" letter-spacing="wide">
            Build 2.0.1.0 — SR-49969
          </bolt-text>
        </th>
        <td>
          <button type="button" class="e-bolt-button e-bolt-button--small">SR-49941</button>
        </td>
        <td>
          This hotfix changes Updater requirements for .NET. If you are using Updater with 7.1 or 8.0 Robotic Automation Runtime clients, you now need to have both .NET 4.0 and .NET 3.5 installed.
        </td>
        <td>
          OpenSpan.UpdaterService.Remoting.dll<br>
          OpenSpan.Updater.ServerClientInterface.dll<br>
          OpenSpan.Updater.ScheduledTasks.dll<br>
          OpenSpan.Updater.PrePostOperation.dll<br>
          OpenSpan.Updater.Git.dll<br>
          OpenSpan.VersionFinder.exe<br>
          OpenSpan.UpdaterService.exe<br>
          OpenSpan.Updater.X509tool.exe<br>
          OpenSpan.Updater.UserHelper.exe<br>
          OpenSpan.Updater.UninstallHelper.exe<br>
          OpenSpan.Updater.RuntimeLauncher.exe<br>
          OpenSpan.Updater.InstallHelper.exe<br>
          OpenSpan.Updater.Initializer.exe
        </td>
      </tr>
      <tr>
        <th>Build 2.0.1.0 — SR-49969</th>
        <td>SR-44869</td>
        <td>
          <bolt-image src="/images/placeholders/tout-4x3-climber.jpg" srcset="/images/placeholders/tout-4x3-climber-50.jpg 50w, /images/placeholders/tout-4x3-climber-100.jpg 100w, /images/placeholders/tout-4x3-climber-200.jpg 200w, /images/placeholders/tout-4x3-climber-320.jpg 320w, /images/placeholders/tout-4x3-climber-480.jpg 480w, /images/placeholders/tout-4x3-climber-640.jpg 640w" alt="A Rock Climber" ratio="64/48"></bolt-image>
        </td>
        <td>OpenSpan.Updater.Git.dll</td>
      </tr>
      <tr>
        <th rowspan="2">Build 1.1.360 — SR-44891</th>
        <td>SR-43163</td>
        <td>
          This hotfix adds a list of post-update tasks to the <span>RuntimeConfig.xml </span>file. These tasks are run after files that match a pattern you specify are updated.
        </td>
        <td>
          <bolt-image src="/images/placeholders/tout-4x3-climber.jpg" srcset="/images/placeholders/tout-4x3-climber-50.jpg 50w, /images/placeholders/tout-4x3-climber-100.jpg 100w, /images/placeholders/tout-4x3-climber-200.jpg 200w, /images/placeholders/tout-4x3-climber-320.jpg 320w, /images/placeholders/tout-4x3-climber-480.jpg 480w, /images/placeholders/tout-4x3-climber-640.jpg 640w" alt="A Rock Climber" ratio="64/48"></bolt-image>
        </td>
      </tr>
      <tr>
        <td>
          <bolt-chip tag="a" url="#!">SR-44850</bolt-chip>
        </td>
        <td>
          This hotfix changes Updater to avoid an exception that could prevent it from correctly populating branches.
        </td>
        <td>ManagedOpenSsl.dll</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  {% include '@bolt-components-responsive-table/responsive-table.twig' with {
    rows: [
      {
        cells: [
          'Row 1 Column 1',
          'Row 1 Column 2',
          'Row 1 Column 3',
          'Row 1 Column 4',
          'Row 1 Column 5',
        ]
      },
      {
        cells: [
          'Row 2 Column 1',
          'Row 2 Column 2',
          'Row 2 Column 3',
          'Row 2 Column 4',
          'Row 2 Column 5',
        ]
      },
      {
        cells: [
          'Row 3 Column 1',
          'Row 3 Column 2',
          'Row 3 Column 3',
          'Row 3 Column 4',
          'Row 4 Column 5',
        ]
      },
    ],
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-responsive-table/responsive-table.twig' with {
  rows: [
    {
      cells: [
        'Row 1 Column 1',
        'Row 1 Column 2',
        'Row 1 Column 3',
        'Row 1 Column 4',
        'Row 1 Column 5',
      ]
    },
    {
      cells: [
        'Row 2 Column 1',
        'Row 2 Column 2',
        'Row 2 Column 3',
        'Row 2 Column 4',
        'Row 2 Column 5',
      ]
    },
    {
      cells: [
        'Row 3 Column 1',
        'Row 3 Column 2',
        'Row 3 Column 3',
        'Row 3 Column 4',
        'Row 4 Column 5',
      ]
    },
  ],
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}{% verbatim %}
<div class="c-bolt-responsive-table">
  This is a responsive-table component.
</div>
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Responsive Table',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
