{% set description %}
  Table with sort and filter buttons.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set header %}
    {% set sortable_header %}
      {% set _icon_pega_sort %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'pega-sort',
        } only %}
      {% endset %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Sortable header',
        hierarchy: 'transparent',
        icon_after: _icon_pega_sort,
        reversed_underline: true,
        attributes: {
          type: 'button',
        }
      } only %}
    {% endset %}
    {% set filters_1 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-1',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-1',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-1',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
            children: checkbox_children,
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button',
            class:
              ['u-bolt-hidden']
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'click',
      } only %}
    {% endset %}

    {% set filters_2 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-2',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-2',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-2',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
            children: checkbox_children
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button',
            class:
              ['u-bolt-hidden']
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% set filters_3 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-3',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-3',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-3',
                class: [
                  'js-bolt-filters-checkbox'
                ]
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
            children: checkbox_children
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button',
            class:
              ['u-bolt-hidden']
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_1,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_2,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_3,
    } only %}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 2',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 3',
      } only %}
      {# Add more cells here #}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 2 and this cell has a lot more text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cupiditate deleniti quia maiores vitae molestias, illum sapiente perspiciatis dignissimos labore sed itaque dolore neque soluta aliquid distinctio, voluptates tempora? Vitae.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 3',
      } only %}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 2',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 3',
      } only %}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
  {% endset %}

  {% include '@bolt-components-responsive-table/table.twig' with {
    header: {
      content: header,
      attributes: {},
    },
    body: {
      content: [
        row1,
        row2,
        row3,
      ],
      attributes: {},
    },
    footer: {
      content: footer,
      attributes: {},
    },
    caption: {
      content: 'This is the table caption.',
      attributes: {},
    },
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set header %}
  {% set sortable_header %}
    {% set _icon_pega_sort %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'pega-sort',
      } only %}
    {% endset %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'Sortable header',
      hierarchy: 'transparent',
      icon_after: _icon_pega_sort,
      reversed_underline: true,
      attributes: {
        type: 'button',
      }
    } only %}
  {% endset %}
  {% set filters_1 %}
    {% set icon_filter %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'filter',
      } only %}
    {% endset %}
    {% set trigger %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
        attributes: {
          type: 'button'
        }
      } only %}
    {% endset %}
    {% set filters_checkboxes %}
      {% set checkbox_children %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 1 column 1',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-1-column-1',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-1-column-1',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 2 column 1',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-2-column-1',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-2-column-1',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 3 column 1',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-3-column-1',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-3-column-1',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
      {% endset %}
      {% set fieldset_children %}
        {% include '@bolt-components-form/form-checkboxes.twig' with {
          children: checkbox_children,
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-fieldset.twig' with {
        legendTitle: 'Filter by',
        children: fieldset_children,
      } only %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Reset',
        size: 'xsmall',
        hierarchy: 'tertiary',
        attributes: {
          type: 'button',
          class:
            ['u-bolt-hidden']
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: trigger,
      content: filters_checkboxes,
      trigger_event: 'hover',
    } only %}
  {% endset %}

  {% set filters_2 %}
    {% set icon_filter %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'filter',
      } only %}
    {% endset %}
    {% set trigger %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
        attributes: {
          type: 'button'
        }
      } only %}
    {% endset %}
    {% set filters_checkboxes %}
      {% set checkbox_children %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 1 column 2',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-1-column-2',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-1-column-2',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 2 column 2',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-2-column-2',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-2-column-2',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 3 column 2',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-3-column-2',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-3-column-2',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
      {% endset %}
      {% set fieldset_children %}
        {% include '@bolt-components-form/form-checkboxes.twig' with {
          children: checkbox_children
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-fieldset.twig' with {
        legendTitle: 'Filter by',
        children: fieldset_children,
      } only %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Reset',
        size: 'xsmall',
        hierarchy: 'tertiary',
        attributes: {
          type: 'button',
          class:
            ['u-bolt-hidden']
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: trigger,
      content: filters_checkboxes,
      trigger_event: 'hover',
    } only %}
  {% endset %}

  {% set filters_3 %}
    {% set icon_filter %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'filter',
      } only %}
    {% endset %}
    {% set trigger %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
        attributes: {
          type: 'button'
        }
      } only %}
    {% endset %}
    {% set filters_checkboxes %}
      {% set checkbox_children %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 1 column 3',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-1-column-3',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-1-column-3',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 2 column 3',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-2-column-3',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-2-column-3',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
        {% set label %}
          {% include '@bolt-components-form/form-label.twig' with {
            title: 'filter 3 column 3',
            displayType: 'inline-checkbox',
            attributes: {
              for: 'checkbox-filter-3-column-3',
              name: 'checkbox-name'
            },
          } only %}
        {% endset %}
        {% set input %}
          {% include '@bolt-components-form/form-input.twig' with {
            attributes: {
              type: 'checkbox',
              id: 'checkbox-filter-3-column-3',
              class: [
                'js-bolt-filters-checkbox'
              ]
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-form/form-element.twig' with {
          label: label,
          children: input,
        } only %}
      {% endset %}
      {% set fieldset_children %}
        {% include '@bolt-components-form/form-checkboxes.twig' with {
          children: checkbox_children
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-fieldset.twig' with {
        legendTitle: 'Filter by',
        children: fieldset_children,
      } only %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Reset',
        size: 'xsmall',
        hierarchy: 'tertiary',
        attributes: {
          type: 'button',
          class:
            ['u-bolt-hidden']
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: trigger,
      content: filters_checkboxes,
      trigger_event: 'hover',
    } only %}
  {% endset %}

  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: sortable_header,
    header: true,
    filters: filters_1,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: sortable_header,
    header: true,
    filters: filters_2,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: sortable_header,
    header: true,
    filters: filters_3,
  } only %}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 1 cell 1',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 1 cell 2',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 1 cell 3',
    } only %}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 2 cell 1',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 2 cell 2 and this cell has a lot more text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cupiditate deleniti quia maiores vitae molestias, illum sapiente perspiciatis dignissimos labore sed itaque dolore neque soluta aliquid distinctio, voluptates tempora? Vitae.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 2 cell 3',
    } only %}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 3 cell 1',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 3 cell 2',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'Row 3 cell 3',
    } only %}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set footer %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
{% endset %}

{% include '@bolt-components-responsive-table/table.twig' with {
  header: {
    content: header,
    attributes: {},
  },
  body: {
    content: [
      row1,
      row2,
      row3,
    ],
    attributes: {},
  },
  footer: {
    content: footer,
    attributes: {},
  },
  caption: {
    content: 'This is the table caption.',
    attributes: {},
  },
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}{% verbatim %}
<div class="c-bolt-responsive-table">
  This is a responsive-table component.
</div>
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table with sort and filter buttons',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}


<script>
  function toggleFilters() {
    document.querySelector('body').addEventListener('click', event => {
    
      if (event.target.matches('.js-bolt-filters-checkbox')) {
        const resetBtn = event.target.closest('.c-bolt-fieldset').nextElementSibling;
        if(resetBtn) {
          resetBtn.classList.remove('u-bolt-hidden')
        }
        const checkboxes = document.querySelectorAll('.js-bolt-filters-checkbox')
        const allUnchecked = [...checkboxes].every(e => !e.checked);
 
        if (allUnchecked) {
          resetBtn.classList.add('u-bolt-hidden')
        }

        resetBtn.addEventListener('click', (event) => {
          event.target.classList.add('u-bolt-hidden');
          checkboxes.forEach(el => {
            el.checked = false;
          })
        })
      }
    });
  }
  toggleFilters()
</script>
