{% set description %}
  Table with sort and filter buttons.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set header %}
    {% set sortable_header %}
      {% set _icon_pega_sort %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'pega-sort',
        } only %}
      {% endset %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Sortable header',
        hierarchy: 'transparent',
        icon_after: _icon_pega_sort,
        reversed_underline: true,
        attributes: {
          type: 'button',
        }
      } only %}
    {% endset %}
    {% set filters_1 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-1',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-1',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 1',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-1',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-1',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
              children: checkbox_children
            } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% set filters_2 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-2',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-2',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 2',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-2',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-2',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
              children: checkbox_children
            } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% set filters_3 %}
      {% set icon_filter %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'filter',
        } only %}
      {% endset %}
      {% set trigger %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: icon_filter ~ '<span class="u-bolt-visuallyhidden">Filters</span>',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% set filters_checkboxes %}
        {% set checkbox_children %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 1 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-1-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-1-column-3',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 2 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-2-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-2-column-3',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
          {% set label %}
            {% include '@bolt-components-form/form-label.twig' with {
              title: 'filter 3 column 3',
              displayType: 'inline-checkbox',
              attributes: {
                for: 'checkbox-filter-3-column-3',
                name: 'checkbox-name'
              },
            } only %}
          {% endset %}
          {% set input %}
            {% include '@bolt-components-form/form-input.twig' with {
              attributes: {
                type: 'checkbox',
                id: 'checkbox-filter-3-column-3',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-form/form-element.twig' with {
            label: label,
            children: input,
          } only %}
        {% endset %}
        {% set fieldset_children %}
          {% include '@bolt-components-form/form-checkboxes.twig' with {
              children: checkbox_children
            } only %}
        {% endset %}
        {% include '@bolt-components-form/form-fieldset.twig' with {
          legendTitle: 'Filter by',
          children: fieldset_children,
        } only %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Reset',
          size: 'xsmall',
          hierarchy: 'tertiary',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: trigger,
        content: filters_checkboxes,
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_1,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_2,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: sortable_header,
      header: true,
      filters: filters_3,
    } only %}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 2',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 1 cell 3',
      } only %}
      {# Add more cells here #}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 2 and this cell has a lot more text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cupiditate deleniti quia maiores vitae molestias, illum sapiente perspiciatis dignissimos labore sed itaque dolore neque soluta aliquid distinctio, voluptates tempora? Vitae.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 2 cell 3',
      } only %}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 1',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 2',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'Row 3 cell 3',
      } only %}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
  {% endset %}

  {% include '@bolt-components-responsive-table/table.twig' with {
    header: {
      content: header,
      attributes: {},
    },
    body: {
      content: [
        row1,
        row2,
        row3,
      ],
      attributes: {},
    },
    footer: {
      content: footer,
      attributes: {},
    },
    caption: {
      content: 'This is the table caption.',
      attributes: {},
    },
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set header %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 1.',
    header: true,
    filters: filters_1,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 2.',
    header: true,
    filters: filters_2,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 3.',
    header: true,
    filters: filters_3,
  } only %}
  {# Add more headers here #}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set footer %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
  {# Add more cells here #}
{% endset %}

{% include '@bolt-components-responsive-table/table.twig' with {
  header: {
    content: header,
    attributes: {},
  },
  body: {
    content: [
      row1,
      row2,
      row3,
    ],
    attributes: {},
  },
  footer: {
    content: footer,
    attributes: {},
  },
  caption: {
    content: 'This is the table caption.',
    attributes: {},
  },
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}{% verbatim %}
<div class="c-bolt-responsive-table">
  This is a responsive-table component.
</div>
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table with sort and filter buttons',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}


<script>
  function toggleFilters() {
    const filtersButton = document.querySelectorAll(
      '.c-bolt-responsive-table__button--filter',
    );

    const resetButton = document.querySelectorAll(
      '.c-bolt-responsive-table__filters-reset',
    );

    const filters = document.querySelectorAll(
      '.c-bolt-responsive-table__filters',
    );

    filters.forEach(el => {
      const checkboxes = el.querySelectorAll(
        '.c-bolt-responsive-table__filters-checkbox',
      );

      checkboxes.forEach(el => {
        el.addEventListener('click', () => {
          let allUnchecked = [...checkboxes].every(e => !e.checked);
          el.closest('.c-bolt-responsive-table__filters')
            .querySelector('.c-bolt-responsive-table__filters-reset')
            .classList.add('c-bolt-responsive-table__filters-reset--visible');

          if (allUnchecked) {
            el.closest('.c-bolt-responsive-table__filters')
              .querySelector('.c-bolt-responsive-table__filters-reset')
              .classList.remove(
                'c-bolt-responsive-table__filters-reset--visible',
              );
          }
        });
      });
    });

    filtersButton.forEach(el => {
      el.addEventListener('click', () => {
        el.parentElement.nextElementSibling.classList.toggle(
          'c-bolt-responsive-table__filters--visible',
        );
        if (el.getAttribute('aria-expanded') === 'true') {
          el.setAttribute('aria-expanded', 'false');
        } else {
          el.setAttribute('aria-expanded', 'true');
        }
      });
    });

    if (resetButton) {
      resetButton.forEach(el => {
        el.addEventListener('click', e => {
          e.target.classList.remove(
            'c-bolt-responsive-table__filters-reset--visible',
          );
          el.parentElement
            .querySelectorAll('.c-bolt-responsive-table__filters-checkbox')
            .forEach(el => {
              if (el.checked) {
                el.checked = false;
              }
            });
          el.parentElement.classList.remove(
            'c-bolt-responsive-table__filters--visible',
          );
        });
      });
    }
  }
  toggleFilters();
</script>
