{% set description %}
  Table with sort and filter buttons.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set header %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a header cell 1.',
      header: true,
      filters: true,
      sort: true,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a header cell 2.',
      header: true,
      filters: true,
      sort: true,
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a header cell 3.',
      header: true,
      filters: true,
      sort: true,
    } only %}
    {# Add more headers here #}
  {% endset %}

  {% set row1 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell.',
      } only %}
      {# Add more cells here #}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row2 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 2.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 2.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 2.',
      } only %}
      {# Add more cells here #}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set row3 %}
    {% set cells %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 3.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 3.',
      } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
        content: 'This is a regular cell in row 3.',
      } only %}
      {# Add more cells here #}
    {% endset %}
    {% include '@bolt-components-responsive-table/table-row.twig' with {
      content: cells,
    } only %}
  {% endset %}

  {% set footer %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
      {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a footer cell.',
    } only %}
    {# Add more cells here #}
  {% endset %}

  {% include '@bolt-components-responsive-table/table.twig' with {
    header: {
      content: header,
      attributes: {},
    },
    body: {
      content: [
        row1,
        row2,
        row3,
      ],
      attributes: {},
    },
    footer: {
      content: footer,
      attributes: {},
    },
    caption: {
      content: 'This is the table caption.',
      attributes: {},
    },
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set header %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 1.',
    header: true,
    filters: true,
    sort: true,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 2.',
    header: true,
    filters: true,
    sort: true,
  } only %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a header cell 3.',
    header: true,
    filters: true,
    sort: true,
  } only %}
  {# Add more headers here #}
{% endset %}

{% set row1 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell.',
    } only %}
    {# {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This cell spans 2 columns and has an utility class.',
      attributes: {
      }
    } only %} #}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row2 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 2.',
    } only %}
    {# {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This cell spans 2 columns and has an utility class.',
      attributes: {
      }
    } only %} #}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set row3 %}
  {% set cells %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This is a regular cell in row 3.',
    } only %}
    {# {% include '@bolt-components-responsive-table/table-cell.twig' with {
      content: 'This cell spans 2 columns and has an utility class.',
      attributes: {
      }
    } only %} #}
    {# Add more cells here #}
  {% endset %}
  {% include '@bolt-components-responsive-table/table-row.twig' with {
    content: cells,
  } only %}
{% endset %}

{% set footer %}
  {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
    {% include '@bolt-components-responsive-table/table-cell.twig' with {
    content: 'This is a footer cell.',
  } only %}
  {# Add more cells here #}
{% endset %}

{% include '@bolt-components-responsive-table/table.twig' with {
  header: {
    content: header,
    attributes: {},
  },
  body: {
    content: [
      row1,
      row2,
      row3,
    ],
    attributes: {},
  },
  footer: {
    content: footer,
    attributes: {},
  },
  caption: {
    content: 'This is the table caption.',
    attributes: {},
  },
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}{% verbatim %}
<div class="c-bolt-responsive-table">
  This is a responsive-table component.
</div>
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Table with sort and filter buttons',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}


<script>
  function toggleFilters() {
    const filtersButton = document.querySelectorAll(
      '.c-bolt-responsive-table__button--filter',
    );

    const resetButton = document.querySelectorAll(
      '.c-bolt-responsive-table__filters-reset',
    );

    const filters = document.querySelectorAll(
      '.c-bolt-responsive-table__filters',
    );

    filters.forEach(el => {
      const checkboxes = el.querySelectorAll(
        '.c-bolt-responsive-table__filters-checkbox',
      );

      checkboxes.forEach(el => {
        el.addEventListener('click', () => {
          let allUnchecked = [...checkboxes].every(e => !e.checked);
          el.closest('.c-bolt-responsive-table__filters')
            .querySelector('.c-bolt-responsive-table__filters-reset')
            .classList.add('c-bolt-responsive-table__filters-reset--visible');

          if (allUnchecked) {
            el.closest('.c-bolt-responsive-table__filters')
              .querySelector('.c-bolt-responsive-table__filters-reset')
              .classList.remove(
                'c-bolt-responsive-table__filters-reset--visible',
              );
          }
        });
      });
    });

    filtersButton.forEach(el => {
      el.addEventListener('click', () => {
        el.parentElement.nextElementSibling.classList.toggle(
          'c-bolt-responsive-table__filters--visible',
        );
        if (el.getAttribute('aria-expanded') === 'true') {
          el.setAttribute('aria-expanded', 'false');
        } else {
          el.setAttribute('aria-expanded', 'true');
        }
      });
    });

    if (resetButton) {
      resetButton.forEach(el => {
        el.addEventListener('click', e => {
          e.target.classList.remove(
            'c-bolt-responsive-table__filters-reset--visible',
          );
          el.parentElement
            .querySelectorAll('.c-bolt-responsive-table__filters-checkbox')
            .forEach(el => {
              if (el.checked) {
                el.checked = false;
              }
            });
          el.parentElement.classList.remove(
            'c-bolt-responsive-table__filters--visible',
          );
        });
      });
    }
  }
  toggleFilters();
</script>
