<div class="o-bolt-wrapper">
  <bolt-table>
    <table class="c-bolt-table">
      <thead class="c-bolt-table__head">
        <tr class="c-bolt-table__row">
          <th class="c-bolt-table__cell c-bolt-table__cell--header" style="width: 50%;">
            Definition
          </th>
          <th class="c-bolt-table__cell c-bolt-table__cell--header" style="width: 50%;">
            Example
          </th>
        </tr>
      </thead>
      <tbody class="c-bolt-table__body">
        <tr class="c-bolt-table__row">
          <td class="c-bolt-table__cell c-bolt-table__cell--data">
            Context Entity
          </td>
          <td class="c-bolt-table__cell c-bolt-table__cell--data">
            Context Entity
          </td>
        </tr>
        <tr class="c-bolt-table__row">
          <td class="c-bolt-table__cell c-bolt-table__cell--data">
            Context Entity
          </td>
          <td class="c-bolt-table__cell c-bolt-table__cell--data">
            Context Entity
          </td>
        </tr>
      </tbody>
    </table>
  </bolt-table>
</div>
