<h3>Twig Include with Caption</h3>
{% include "@bolt-components-table/table.twig" with {
  rows: [
    {
      cells: [
        "R1C1",
        "R1C2",
        "R1C3",
      ]
    },
    {
      cells: [
        "R2C1",
        "R2C2",
        "R2C3",
      ]
    },
    {
      cells: [
        "R3C1",
        "R3C2",
        "R3C3",
      ]
    }
  ],
  caption: "lorem ipsum"
} only %}

<h3>Web Component with Caption</h3>
<bolt-table>
  <table>
      <caption>lorem ipsum</caption>
      <tr>
          <td>R1C1</td>
          <td>R1C2</td>
          <td>R1C3</td>
      </tr>
      <tr>
          <td>R2C1</td>
          <td>R2C2</td>
          <td>R2C3</td>
      </tr>
      <tr>
          <td>R3C1</td>
          <td>R3C2</td>
          <td>R3C3</td>
      </tr>
  </table>
</bolt-table>