/*------------------------------------*\
  Typography variables
\*------------------------------------*/

/*
 * Spacing
 */

$leading: 1.45;
$gutter: 2;

$article-leading: 1.65;

/*
 * Width
 */

$article-line-length: 55;

