@import '@bolt/core-v3.x';

.c-bolt-toolbar {
  @include bolt-font-size(small);
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  width: 100vw;
  margin: 0 -50vw;
  color: bolt-theme(secondary);
}

.c-bolt-toolbar__inner {
  @include bolt-padding(medium, squished);
  @include bolt-padding-left(small);
  @include bolt-padding-right(small);

  @include bolt-mq(large){
    @include bolt-padding-left(large);
    @include bolt-padding-right(large);
  }

  display: flex;
  max-width: 1400px;
}

.c-bolt-toolbar__title {
  &:not(:last-child){
    margin-right: 1rem;
  }
}

.c-bolt-toolbar__content {
  margin-left: auto;
}

.c-bolt-toolbar--purple {
  background-image: linear-gradient(90deg, #0F0664 0%, #751B84 100%);
}

.c-bolt-toolbar--teal {
  background-image: linear-gradient(270deg, #009999 0%, #1F2656 100%);
}

.c-bolt-toolbar--orange {
  background-image: linear-gradient(270deg, #DA6C28 0%, #B33A12 100%);
}
