@import '@bolt/core';

/* ------------------------------------ *\
    Bolt Code Snippet
\* ------------------------------------ */

$bolt-code-border-radius: $bolt-border-radius;
$bolt-code-text-color: var(--bolt-theme-heading, inherit);
$bolt-code-background-color: rgba(bolt-color(indigo, light), 0.08);


// Custom element default styles
bolt-code {
  .c-bolt-code {
    @include bolt-margin-top(0);
    @include bolt-margin-right(0);
    @include bolt-margin-bottom(medium);
    @include bolt-margin-left(0);

    display: block;
  }

  &:last-child {
    .c-bolt-code {
      @include bolt-margin-bottom(0);
    }
  }
}

.c-bolt-code {
  @include bolt-padding(small, squished);
  @include bolt-horizontal-scroll;

  color: inherit;
  color: $bolt-code-text-color;
  text-align: left;
  white-space: pre-wrap;
  background-color: $bolt-code-background-color;

  // Override highlightjs default styling
  .hljs {
    @include bolt-padding(0);
    background-color: transparent;
  }
}

.c-bolt-code__code {
  @include bolt-margin(0);
  @include bolt-font-family(code);
  @include bolt-font-weight(regular);
  @include bolt-font-size(small);

  color: inherit;
  letter-spacing: 0.05rem;
  white-space: inherit;
}

.c-bolt-code__code--block {
  @include bolt-padding(0);

  display: block;
  background-color: transparent;
}

.c-bolt-code__code--inline {
  @include bolt-padding(2px 0.25rem 2px 0.3rem); // [Mai] 0.25rem on the right offsets the 0.05rem letter-spacing.

  display: inline;
  color: $bolt-code-text-color;
  border-radius: $bolt-code-border-radius;
  background-color: $bolt-code-background-color;
}
