<div class="c-bolt-site">
  {% block global_header %}
    {% include "@bolt/page-header.twig" %}
  {% endblock %}

  <main class="c-bolt-site__content">
    {% block page_content %}{% endblock %}
  </main>
  <div class="c-bolt-site__footer c-bolt-page-footer">
    <div class="o-bolt-wrapper">
      {% block global_footer %}
        {% include "@bolt/page-footer.twig" %}
      {% endblock %}
    </div>
  </div>
</div>
