{% set main_content = block("page_content") %}

<div class="c-bolt-site">
  {% block global_header %}
    {% include "@bolt/page-header.twig" %}
  {% endblock %}

  <main class="c-bolt-site__content">
    {% include "@academy/_toolbar.twig" %}
    {% embed "@bolt-components-band/band.twig" with {
      theme: "xxdark",
      size: "large",
      valign: "start",
      content: main_content,
      inner_attributes: {
        class: [
          "u-bolt-padding-top-none"
        ]
      }
    } only %}
      {% block band_background %}
        <div style="position: absolute; top: 0;
        right: 0; width: 100%;">
          {% include "@bolt-components-image/image.twig" with {
            src: "/images/academy/mission-hero.jpg",
            placeholder_color: "#000000",
            attributes: {
              class: [
                "u-bolt-float-right"
              ],
              style: "min-width: 1200px; width: 100%"
            }
          } only %}
        </div>

        {% include "@bolt-components-background/background.twig" with {
          opacity: "light",
          fill: "gradient",
        } only %}
      {% endblock %}
    {% endembed %}

  </main>
  <div class="c-bolt-site__footer c-bolt-page-footer">
    <div class="o-bolt-wrapper">
      {% block global_footer %}
        {% include "@bolt/page-footer.twig" %}
      {% endblock %}
    </div>
  </div>
</div>

{# {% block main %}

{% endblock %}

{% block global_footer %}
  {{ parent() }}
{% endblock %} #}
