{# Note: theme class must be set on container DIV, grid has negative margin that will cause background color to overflow #}
{% set themeClass = archived ? 't-bolt-light' : '' %}

<div class="u-bolt-padding-small {{ themeClass }}">
  {% set list_item_desc %}
    {% set icon_element %}
      {% if icon %}
        {% include "@bolt-elements-icon/icon.twig" with icon only %}
      {% endif %}
    {% endset %}
    {% set details %}
      {% if title %}
        {% include "@bolt-components-headline/headline.twig" with {
          text: title,
          url: url,
          size: "large",
          icon: "none",
          attributes: {
            class: ["u-bolt-margin-bottom-xxsmall"]
          }
        } only %}
      {% endif %}

      {% if type %}
        {% set typeText %}
          {% include "@bolt-components-headline/text.twig" with {
            text: type|upper,
            size: "xsmall"
          } only %}
        {% endset %}
      {% endif %}

      {% if status %}
        {% set statusText %}
          {% include "@bolt-components-headline/text.twig" with {
            text: status,
            size: "xsmall",
            attributes: {
              class: ["u-bolt-color-success"]
            }
          } only %}
        {% endset %}
      {% endif %}

      {% if lastUpdated %}
        {% set lastUpdatedText %}
          {% include "@bolt-components-headline/text.twig" with {
            text: lastUpdated,
            size: "xsmall"
          } only %}
        {% endset %}
      {% endif %}

      {% include "@bolt-components-list/list.twig" with {
        display: "inline",
        spacing: "xsmall",
        separator: "solid",
        items: [
          typeText ? typeText : '',
          statusText ? statusText : '',
          lastUpdatedText ? lastUpdatedText : '',
        ],
        attributes: {
          class: ["u-bolt-margin-bottom-none"]
        }
      } only %}

      {% if additionalInfo %}
        {{ additionalInfo }}
      {% endif %}
    {% endset %}
    {% include '@bolt-components-grid/grid.twig' with {
      items: [
        {
          column_start: '1',
          column_span: '1',
          content: icon_element,
          valign: 'center'
        },
        {
          column_start: '2',
          column_span: '11',
          content: details,
        },
      ]
    } only %}
  {% endset %}

  {% if badge or archived %}
    {% set graph %}
      {% if badge %}
        {% set badge_symbol %}
          <div class="u-bolt-text-align-center u-bolt-padding-right-xsmall">
            {% include "@bolt-elements-icon/icon.twig" with {
              name: "certification",
              attributes: {
                class: ["u-bolt-color-navy-light"],
                style: "font-size: 1.8rem; width: 1.8rem; height: 1.8rem;"
              }
            } only %}
          </div>
        {% endset %}
      {% endif %}
      {% if archived %}
        {% set archived_symbol %}
          <div class="u-bolt-text-align-center u-bolt-padding-left-small" style="border-left: 1px solid var(--m-bolt-border);">
            {# @todo: replace "lock" with "archived" icon once provided #}
            {% include "@bolt-elements-icon/icon.twig" with {
              name: "lock",
              attributes: {
                class: 'u-bolt-color-gray',
                style: "font-size: 1.2rem; width: 1.2rem; height: 1.2rem;"
              }
            } only %}
            {% include "@bolt-components-headline/text.twig" with {
              text: "Archived",
              size: "xsmall",
              attributes: {
                class: [
                  "u-bolt-margin-top-xxsmall",
                  "u-bolt-color-gray"
                ]
              }
            } only %}
          </div>
        {% endset %}
      {% endif %}

      {% include '@bolt-components-list/list.twig' with {
        display: 'inline',
        spacing: 'xsmall',
        align: 'start',
        valign: 'center',
        items: [
          badge_symbol,
          archived_symbol,
        ]
      } only %}
    {% endset %}
  {% endif %}

  {% include '@bolt-components-grid/grid.twig' with {
    items: [
      {
        column_start: '1',
        column_span: '12 8@small',
        content: list_item_desc,
      },
      {
        column_start: '1 9@small',
        column_span: '12 4@small',
        valign: 'center',
        content: graph,
        attributes: {
          style: 'margin-left: auto;'
        }
      },
    ]
  } only %}
</div>
