@import '@bolt/core';

// Local Variables
$bolt-unordered-list-bullet-size: 8px; // Using px here because I need to make a perfect circle without subpixel issues.

.c-bolt-unordered-list-item {
  @include bolt-margin(0 0 0 medium);
  @include bolt-padding(0);

  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: .55rem;
    left: bolt-spacing(medium) * -1;
    width: $bolt-unordered-list-bullet-size;
    height: $bolt-unordered-list-bullet-size;
    line-height: $bolt-unordered-list-bullet-size;
    border-radius: $bolt-unordered-list-bullet-size;
    background-color: bolt-theme(headline);
  }

  &-spacing {
    @include bolt-margin-bottom(small);
  }

  &--last-item {
    @include bolt-margin-bottom(0);
  }
}
