{% set schema = get_data('@bolt-components-icon/icon.schema.yml') %}

{% set background = "circle" %}
{% set color = "" %}

<ul>
{% for name in schema.properties.name.enum %}

  {% set attributes = create_attribute(attributes | default({})) %}

  {% set attributes = attributes
  .setAttribute("name", name)
  .setAttribute("background", "circle")
  .setAttribute("size", "medium")
  .setAttribute("color", color)
  %}

  <li><bolt-icon {{ attributes }}></bolt-icon> :{{ name }}</li>

{% endfor %}
</ul>