<p>When used straight out of the box, the <code>playback</code> plugin is enabled by default.</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}
