<p>By default, only the <code>playback</code> plugin is enabled.</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}
