<p>By default, only the <code>playback</code> plugin is enabled.</p>

{% include "@bolt/video.twig" with {
  "video_id": "3861325118001",
  "account_id": "1900410236",
  "player_id": "BkPDeo7VM"
} only %}
