{# @todo: add docs + update schema for the overlay-background config option. Ex. `overlay-background="false"` #}

<p>
  This video disables the "playback" plugin by setting <code>disabled_plugins</code> to <code>playback</code>. The following plugins may also be disabled: <code>cue</code>, <code>social</code>, <code>playback</code>, and <code>email</code>.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "disabled_plugins": "playback"
} only %}
