{% set description %}
    A description of the component and what it is used for.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set _content %}
  {% include '@bolt-components-blockquote/blockquote.twig' with {
    size: 'xxlarge',
    weight: 'bold',
    border: 'none',
    author: {
      name: 'Oliver Zeeb',
      title: 'Team Lead, Application Development <br>W&W-Gruppe'
    },
    content: '<p>Pega is one of the key technologies that we are using to rebuild our application landscape.</p>'
  } only %}
{% endset %}
{% set _image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      alt: 'Image alt text',
      src: '/images/heros/hero-foreground--teal.png',
      style: 'display: block;',
    },
  } only %}
{% endset %}
{% set _bg_image %}
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: '/images/heros/hero-background--teal.jpg',
      sizes: '100vw',
    },
  } only %}
{% endset %}
{% include '@bolt-components-billboard/billboard.twig' with {
  content: _content,
  image: _image,
  background_image: _bg_image,
  image_valign: 'end-offset',
  theme: 'dark'
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-billboard/billboard.twig' with {
  content: _content
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Image Vertical Align Billboard',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
} only %}
