{% set description %}
    A description of the component and what it is used for.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set _content %}
  <bolt-text eyebrow font-weight="bold">
    Billboard Eyebrow
  </bolt-text>
  <bolt-text headline tag="h1" font-size="xxxlarge">
    Billboard Title
  </bolt-text>
    <bolt-text>
      Et in dolor qui dolore irure magna tempor ex esse non.
    </bolt-text>
    <a href="https://pega.com" class="e-bolt-button">
      Nulla
    </a>
{% endset %}
{% include '@bolt-components-billboard/billboard.twig' with {
  template: '67',
  content: _content,
  center_content: true,
  theme: 'dark',
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-billboard/billboard.twig' with {
  content: _content
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Centered Billboard',
  description: description,
  demo: demo,
  twig_markup: twig_markup,
} only %}
