// Lightweight style reset for button and input elements
@mixin bolt-button-reset {
  @include bolt-padding(0);
  @include bolt-font-family(body);
}

@mixin bolt-button-raised() {
  &:not(.c-bolt-button--disabled):not(.c-bolt-button--text):not([disabled]) {
    &:hover,
    &.is-hover {
      @include bolt-shadow('level-20', true);
    }

    &:hover:before,
    &.is-hover:before {
      opacity: 1;
    }

    &:active,
    &.is-active {
      transform: $bolt-button-translate--active;
    }

    &:active:before,
    &.is-active:before {
      opacity: 0;
    }
  }
}

@mixin bolt-button {
  @include bolt-button-reset;
  @include bolt-no-select;
  @include bolt-font-weight(semibold);
  @include bolt-button-raised;
  @include bolt-shadow('level-20');

  display: inline-block;
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-style: $bolt-button-border-style;
  border-width: $bolt-button-border-width;
  border-radius: $bolt-button-border-radius;
  transform: translate3d(0, 0, 0);

  &:before {
    display: block;
    position: absolute;
    z-index: bolt-z-index('background') - 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    border-radius: $bolt-button-border-radius;
    @include bolt-shadow('level-10', true);
    opacity: 0.2;
  }
}

/**
  * Button Colors / Types
  */
@mixin bolt-button-style--primary() {
  &,
  &:visited {
    border-color: bolt-theme(primary);
    color: bolt-theme(text-on-primary);
    background-color: bolt-theme(primary);
  }

  &:hover,
  &.is-hover {
    border-color: bolt-theme(primary-lighten-15);
    color: bolt-theme(text-on-primary-lighten-15);
    background-color: bolt-theme(primary-lighten-15);
  }

  &:focus,
  &.is-focus {
    border-color: bolt-theme(primary-darken-15);
    background-color: bolt-theme(primary-darken-15);
    color: bolt-theme(text-on-primary-darken-15);
  }

  &:active,
  &.is-active {
    border-color: bolt-theme(primary-darken-25);
    color: bolt-theme(text-on-primary-darken-25);
    background-color: bolt-theme(primary-darken-25);
  }
}

@mixin bolt-button-style--secondary() {
  &,
  &:visited {
    border-color: bolt-theme(secondary);
    color: bolt-theme(text-on-secondary);
    background-color: bolt-theme(secondary);
  }

  &.is-hover,
  &:hover {
    border-color: bolt-theme(secondary-lighten-5);
    color: bolt-theme(text-on-secondary-lighten-5);
    background-color: bolt-theme(secondary-lighten-5);
  }

  &:focus,
  &.is-focus {
    border-color: bolt-theme(secondary-darken-3);
    color: bolt-theme(text-on-secondary-darken-3);
    background-color: bolt-theme(secondary-darken-3);
  }

  &:active,
  &.is-active {
    border-color: bolt-theme(secondary-darken-10);
    color: bolt-theme(text-on-secondary-darken-10);
    background-color: bolt-theme(secondary-darken-10);
  }
}

@mixin bolt-button-style--text() {
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
  $bolt-theme-link-default: bolt-color(indigo, light);

  // Removing shadows for text buttons
  &,
  &:before {
    border-radius: 0;
    box-shadow: none;
  }

  & {
    opacity: 1;
    color: bolt-theme(headline-link);
  }

  &:visited {
    opacity: 1;
  }

  &:hover:not([disabled]) {
    opacity: $bolt-global-link-hover-opacity;
  }

  &:focus:active,
  &:active {
    opacity: $bolt-global-link-active-opacity;
  }
}

@mixin bolt-button-style--disabled() {
  cursor: not-allowed;

  &,
  &:visited,
  &:hover,
  &:active {
    color: bolt-theme(text-disabled);
    border-color: bolt-theme(disabled);
    background-color: bolt-theme(disabled);
  }

  &:before,
  &:hover:before,
  &:active:before {
    opacity: 1;
  }

  &,
  &:hover,
  &:active {
    transform: none;
  }
}

// Teal-specific color. Needs refactoring to combine with primary button logic above ^
@mixin bolt-button-color--teal {
  $button-background-color-default: bolt-color(indigo, light);
  $button-background-color-hover: mix(
    $bolt-global-button-hover-color,
    $button-background-color-default,
    $bolt-global-button-hover-mix
  );
  $button-background-color-active: mix(
    $bolt-global-button-active-color,
    $button-background-color-default,
    $bolt-global-button-active-mix
  );
  &.c-bolt-button,
  &.c-bolt-button:visited {
    border-color: $button-background-color-default;
    color: bolt-text-contrast($button-background-color-default);
    background-color: $button-background-color-default;
  }
  &:focus,
  &:hover {
    border-color: $button-background-color-hover;
    color: bolt-text-contrast($button-background-color-default);
    background-color: $button-background-color-hover;
  }
  &:active {
    border-color: $button-background-color-active;
    color: bolt-text-contrast($button-background-color-default);
    background-color: $button-background-color-active;
  }
}

// @todo: refactor and revive state color options
// .c-bolt-button--success {
//   @include bolt-button-color(success);
// }
// .c-bolt-button--warning {
//   @include bolt-button-color(warning);
// }
// .c-bolt-button--error {
//   @include bolt-button-color(error);
// }

@mixin bolt-button-style($style) {
  @if ($style == 'primary') {
    @include bolt-button-style--primary;
  } @else if ($style == 'secondary') {
    @include bolt-button-style--secondary;
  } @else if ($style == 'text') {
    @include bolt-button-style--text;
  } @else if ($style == 'disabled') {
    @include bolt-button-style--disabled;
  }
}
