/* ------------------------------------ *\
   Button settings and tools
\* ------------------------------------ */

/**
 * Settings
 */

$bolt-button-border-width: $bolt-border-width;
$bolt-button-border-style: $bolt-border-style;
$bolt-button-transition: $bolt-transition;

/**
 * Tools
 */

@function bolt-button-border-radius($name) {
  @return map-get($bolt-button-border-radii, $name);
}

@mixin bolt-button-raised-effect {
  &.c-bolt-button--primary:hover:not([disabled]),
  &.c-bolt-button--secondary:hover:not([disabled]),
  &.c-bolt-button--primary.is-hover:not([disabled]),
  &.c-bolt-button--secondary.is-hover:not([disabled]) {
    transform: translate3d(0, -1px, 0);

    &:after {
      opacity: 1;
    }
  }

  &:active:not([disabled]),
  &.is-active:not([disabled]) {
    transform: translate3d(0, 1px, 0);
  }
}

@mixin bolt-button {
  @include bolt-button-reset;
  @include bolt-no-select;

  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(0, 0, 0);
  font-weight: var(--bolt-type-font-weight-semibold);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: bolt-border-radius(small);
  border-width: $bolt-button-border-width;
  border-style: $bolt-button-border-style;
  border-color: transparent;
  outline: none;
  will-change: background-color, transform;
  transition: background-color $bolt-button-transition,
    transform $bolt-button-transition;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 0;
    pointer-events: none;
    border-radius: bolt-border-radius(small);
  }

  &:before {
    @include bolt-shadow('level-20');
  }

  &:after {
    @include bolt-shadow('level-30');

    opacity: 0;
    will-change: opacity;
  }

  &:focus:not(:hover):not(.c-bolt-button--disabled),
  &.is-focus:not(.is-hover):not(.is-disabled) {
    box-shadow: 0 -1px 2px bolt-theme(background),
      0 1px 2px bolt-theme(background), 0 0 5px rgb(59, 153, 252),
      0 -1px 0.65rem rgb(59, 153, 252), 0 1px 0.65rem rgb(59, 153, 252); // @todo: This mimmicks the browser default blue. We will update it with our own colors later on.
  }
}

// Button Colors / Types
@mixin bolt-button-style--primary() {
  color: bolt-theme(text-on-primary);
  background-color: bolt-theme(primary);

  &:hover,
  &.is-hover {
    color: bolt-theme(text-on-primary-lighten-15);
    background-color: bolt-theme(primary-lighten-15);
  }

  &:focus,
  &.is-focus {
    color: bolt-theme(text-on-primary-darken-15);
    background-color: bolt-theme(primary-darken-15);
  }

  &:active,
  &.is-active {
    color: bolt-theme(text-on-primary-darken-25);
    background-color: bolt-theme(primary-darken-25);
  }
}

@mixin bolt-button-style--secondary() {
  color: bolt-theme(text-on-secondary);
  background-color: bolt-theme(secondary);

  &:hover,
  &.is-hover {
    color: bolt-theme(text-on-secondary-lighten-5);
    background-color: bolt-theme(secondary-lighten-5);
  }

  &:focus,
  &.is-focus {
    color: bolt-theme(text-on-secondary-darken-3);
    background-color: bolt-theme(secondary-darken-3);
  }

  &:active,
  &.is-active {
    color: bolt-theme(text-on-secondary-darken-10);
    background-color: bolt-theme(secondary-darken-10);
  }
}

@mixin bolt-button-style--tertiary() {
  color: bolt-theme(headline);
  box-shadow: 0 0 0.25rem bolt-theme(background, 0.2);
  background-color: bolt-theme(neutral, 0.2);

  &:before,
  &:after {
    display: none;
  }

  &:hover,
  &.is-hover {
    background-color: bolt-theme(neutral, 0.4);
  }

  &:focus,
  &.is-focus {
    background-color: bolt-theme(neutral, 0.4);
  }

  &:active,
  &.is-active {
    background-color: bolt-theme(neutral, 0.6);
  }
}

@mixin bolt-button-style--text() {
  // Remove box-shadow and background-color completely for text buttons.

  opacity: bolt-opacity(100);
  color: bolt-theme(headline-link);
  text-decoration: none;

  &:before,
  &:after {
    display: none;
  }

  &,
  &[disabled],
  &.c-bolt-button--disabled {
    background-color: transparent;
  }

  &:hover,
  &.is-hover {
    opacity: $bolt-global-link-hover-opacity;
  }

  &:active,
  &.is-active {
    opacity: $bolt-global-link-active-opacity;
  }
}

@mixin bolt-button-style--disabled() {
  opacity: 1;
  transform: none;
  color: bolt-theme(text-disabled);
  cursor: not-allowed;

  * {
    pointer-events: none;
  }

  &:not(.c-bolt-button--text) {
    background-color: bolt-theme(disabled);
  }

  &:before,
  &:after {
    display: none;
  }
}

// @todo: refactor and revive state color options
// .c-bolt-button--success {
//   @include bolt-button-color(success);
// }
// .c-bolt-button--warning {
//   @include bolt-button-color(warning);
// }
// .c-bolt-button--error {
//   @include bolt-button-color(error);
// }

@mixin bolt-button-style($style) {
  @if ($style == 'primary') {
    @include bolt-button-style--primary;
  } @else if ($style == 'secondary') {
    @include bolt-button-style--secondary;
  } @else if ($style == 'text') {
    @include bolt-button-style--text;
  } @else if ($style == 'disabled') {
    @include bolt-button-style--disabled;
  } @else if ($style == 'tertiary') {
    @include bolt-button-style--tertiary;
  }
}
