/* ------------------------------------ *\
   Buttons
\* ------------------------------------ */

@import '@bolt/core';

@import './button.settings';
@import './button.mixins';




/** Base Button Styles **/
bolt-button {
  display: inline-block; // Fallback
  display: inline-flex; // So equal height works
  -webkit-appearance: none; // override default [type=submit] button styles coming from Normalize
}

.c-bolt-button {
  @include bolt-button;
}



/** Button Style Variations **/
.c-bolt-button--primary {
  @include bolt-button-style(primary);
}

.c-bolt-button--secondary {
  @include bolt-button-style(secondary);
}

.c-bolt-button--text {
  @include bolt-button-style(text);
}

.c-bolt-button[disabled],
.c-bolt-button--disabled {
  @include bolt-button-style(disabled);
}



/** Button Text Transform Variations **/
.c-bolt-button--uppercase {
  text-transform: uppercase;
}

.c-bolt-button--lowercase {
  text-transform: lowercase;
}

.c-bolt-button--capitalize {
  text-transform: capitalize;
}



/** Button Size Variations **/
.c-bolt-button--medium {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(xsmall);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(medium);
  }
}

.c-bolt-button--xxsmall {
  @include bolt-padding(xxsmall, squished);
  @include bolt-font-size(xsmall);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(xxsmall);
  }
}

.c-bolt-button--xsmall {
  @include bolt-padding(xsmall, squished);
  @include bolt-font-size(xsmall);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(xsmall);
  }
}

.c-bolt-button--small {
  @include bolt-padding(small, squished);
  @include bolt-font-size(xsmall);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(small);
  }
}

.c-bolt-button--large {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(medium);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(medium);
  }
}

.c-bolt-button--xlarge {
  @include bolt-padding(large, squished);
  @include bolt-font-size(large);

  &.c-bolt-button--icon-only {
    padding: bolt-spacing(large);
  }
}




/** Button Width Variations **/
bolt-button[width='full'],
.c-bolt-button--full {
  width: 100%;
}

bolt-button[width='full@small'],
.c-bolt-button--full\@small {
  @media screen and (max-width: map-get($bolt-breakpoints, small)) {
    width: 100%;
  }
}




/** Rounded off buttons (ie. pills or icon-only buttons) **/
.c-bolt-button--rounded,
.c-bolt-button--rounded:before {
  border-radius: 50rem;
}




/** Button Alignments **/

.c-bolt-button--center {
  text-align: center;
  justify-content: center;
}

.c-bolt-button--start {
  text-align: left;
  text-align: start;
  justify-content: flex-start;
}

.c-bolt-button--end {
  text-align: right;
  text-align: end;
  justify-content: flex-end;
}




/** Handle Button Icon Alignment + Before / After **/
.c-bolt-button__item + .c-bolt-button__icon:not(.is-empty) {
  @include bolt-margin-left(xxsmall);

  .c-bolt-button--icon-only & {
    @include bolt-margin-left(0);
  }
}

.c-bolt-button__icon:not(.is-empty) + .c-bolt-button__item {
  @include bolt-margin-left(xsmall);

  .c-bolt-button--icon-only & {
    @include bolt-margin-left(0);
  }
}

.c-bolt-button__icon {
  display: inline-block;
  display: inline-flex;
  vertical-align: middle;
  align-self: center;
  transition: transform $bolt-transition-ease 150ms;
  text-align: center; // Horizontally center icons
  line-height: 1; // workaround so icons can be vertically aligned properly
}
