// Links
.c-bolt-link {
  @include bolt-button-reset;
  display: inline-block;
  display: inline-flex;
  align-items: center; // So icons are vertically centered
  text-decoration: underline;
  transition: all $bolt-button-transition;
}


.c-bolt-link--headline {
  cursor: pointer;
  text-decoration: none;

  &,
  &:visited {
    opacity: 1;
    color: inherit;
    color: var(--bolt-theme-heading-link-default, --bolt-theme-text);
  }

  &:hover {
    opacity: $bolt-global-link-hover-opacity;
    text-decoration: underline;
  }

  &:focus:active,
  &:active {
    opacity: $bolt-global-link-active-opacity;
  }
}
