<div class="u-demo-padding">
  <bolt-status-dialogue-bar>
    <bolt-icon name="cloud" size="small" slot="icon">

    </bolt-icon>
    <p slot="text">
      Hey now!
    </p>
  </bolt-status-dialogue-bar>
</div>

<div class="u-demo-padding">
  <bolt-status-dialogue-bar is-alert-message has-icon>
    <bolt-icon name="cloud" size="small" slot="icon">

    </bolt-icon>
    <p slot="text">
      Hey now!
    </p>
  </bolt-status-dialogue-bar>
</div>

<div class="u-demo-padding">
  <bolt-status-dialogue-bar is-alert-message>
    <bolt-icon name="cloud" size="small" slot="icon">

    </bolt-icon>
    <p slot="text">
      Hey now!
    </p>
  </bolt-status-dialogue-bar>
</div>

<div class="u-demo-padding">
  <bolt-status-dialogue-bar>
    <bolt-icon name="cloud" size="small" slot="icon">

    </bolt-icon>
    <p slot="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores fuga in ipsum minus modi nihil nulla odit recusandae sapiente! Aspernatur inventore minima nobis odio reprehenderit? Aliquam laudantium quos repudiandae.
    </p>
  </bolt-status-dialogue-bar>
</div>
