{% set schema = bolt.data.components['@bolt-components-icon'].schema %}

{# loop through icons referenced in schema #}
<ul class="bolt-icon-list-demo">
{% for name in schema.properties.name.anyOf[0].enum %}
  <li>
    {% include "@bolt-components-icon/icon.twig" with {
      name: name,
      size: "xlarge",
    }%}
    <br />{{ name }}
  </li>
{% endfor %}
</ul>