<div style="max-width: 400px; padding: 40px">
  <h2>Transitions</h2>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--fade-in"><strong>Fade in</strong> (Hover to see effect)</div>
  </div>
  <p>Fade In (Hover to see effect)</p>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--fade-out"><strong>Fade Out</strong> (Hover to see effect)</div>
  </div>
  <p>Fade Out (Hover to see effect)</p>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--fade-in-slide-up"><strong>Fade In and Slide Up</strong> (Hover to see effect)</div>
  </div>
  <p>Fade In Slide Up (Hover to see effect)</p>
</div>
