<div style="max-width: 400px; padding: 40px">
  <h2>Transitions</h2>
  <div class="demo-animated-slider demo-animated-slider--fade-in"><strong>Extra Fast</strong> (Hover to see effect)</div>
  <div class="demo-animated-slider demo-animated-slider--fade-out"><strong>Fast</strong> (Hover to see effect)</div>
  <div class="demo-animated-slider demo-animated-slider--fade-in-slide-up"><strong>Fast</strong> (Hover to see effect)</div>

</div>
