{% extends '@pl/_default-page-template.twig' %}

{% block main_content %}
  {% set icon_reply %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'reply',
      size: 'small',
    } only %}
  {% endset %}
  {% set icon_heart %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'heart',
      size: 'small',
    } only %}
  {% endset %}
  {% set icon_eye %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'eye',
      size: 'small',
    } only %}
  {% endset %}
  {% set band_content %}
    <bolt-text headline>Listing view</bolt-text>
    <ul class="c-bolt-post-list js-cc-post-list">
      <li class="c-bolt-post-list__item">
        <div class="c-bolt-post">
          <div class="c-bolt-post__media" aria-hidden="true">
            {% include '@bolt-components-icon/icon.twig' with {
              name: 'questions',
              size: 'xlarge',
              color: 'teal',
            } only %}
          </div>
          <div class="c-bolt-post__content">
            <div class="c-bolt-post-info">
              <div class="c-bolt-post-info__heading">
                {% set link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'A post with long title without break pneumonoultramicroscopicsilicovolcanoconiosis',
                    reversed_underline: true,
                    expand_click_target: true,
                    attributes: {
                      href: 'https://pega.com',
                    }
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/headline.twig' with {
                  text: link,
                  tag: 'h3',
                  size: 'large',
                } only %}
              </div>
              <ul class="c-bolt-post-info__meta">
                <li class="c-bolt-post-info__meta__item">Posted by <a href="https://google.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">viswa1</a> on Aug 28, 2020</li>
                <li class="c-bolt-post-info__meta__item">Last activity: 8 hours 15 minutes ago</li>
              </ul>
            </div>
            <ul class="c-bolt-post-status">
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">3</span> Replies
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">8</span> Views
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="c-bolt-post-list__item">
        <div class="c-bolt-post">
          <div class="c-bolt-post__media" aria-hidden="true">
            {% include '@bolt-components-icon/icon.twig' with {
              name: 'discussions',
              size: 'xlarge',
              color: 'orange',
            } only %}
          </div>
          <div class="c-bolt-post__content">
            <div class="c-bolt-post-info">
              <div class="c-bolt-post-info__heading">
                {% set link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'Another post',
                    reversed_underline: true,
                    expand_click_target: true,
                    attributes: {
                      href: 'https://pega.com',
                    }
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/headline.twig' with {
                  text: link,
                  tag: 'h3',
                  size: 'large',
                } only %}
              </div>
              <ul class="c-bolt-post-info__meta">
                <li class="c-bolt-post-info__meta__item">Posted by <a href="#something-else" class="e-bolt-text-link e-bolt-text-link--reversed-underline">errqwe000</a> on Aug 28, 2020</li>
                <li class="c-bolt-post-info__meta__item">Last activity: 8 hours 15 minutes ago</li>
              </ul>
            </div>
            <ul class="c-bolt-post-status">
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__icon c-bolt-post-status__icon--solved">
                  {% include '@bolt-components-icon/icon.twig' with {
                    name: 'check-solid',
                  } only %}
                </span>
                Solved
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">12</span> Replies
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">100</span> Views
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="c-bolt-post-list__item">
        <div class="c-bolt-post">
          <div class="c-bolt-post__media" aria-hidden="true">
            {% include '@bolt-components-icon/icon.twig' with {
              name: 'ideas',
              size: 'xlarge',
              color: 'berry',
            } only %}
          </div>
          <div class="c-bolt-post__content">
            <div class="c-bolt-post-info">
              <div class="c-bolt-post-info__heading">
                {% set link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'Yet another post',
                    reversed_underline: true,
                    expand_click_target: true,
                    attributes: {
                      href: 'https://pega.com',
                    }
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/headline.twig' with {
                  text: link,
                  tag: 'h3',
                  size: 'large',
                } only %}
              </div>
              <ul class="c-bolt-post-info__meta">
                <li class="c-bolt-post-info__meta__item">Posted by <a href="#something-else" class="e-bolt-text-link e-bolt-text-link--reversed-underline">adfa13</a> on Aug 28, 2020</li>
                <li class="c-bolt-post-info__meta__item">Last activity: 8 hours 15 minutes ago</li>
              </ul>
            </div>
            <ul class="c-bolt-post-status">
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__icon c-bolt-post-status__icon--locked">
                  {% include '@bolt-components-icon/icon.twig' with {
                    name: 'lock',
                  } only %}
                </span>
                Locked
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">0</span> Replies
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">25</span> Views
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <bolt-text headline>Detailed listing view</bolt-text>
    <ul class="c-bolt-post-list js-cc-post-list">
      <li class="c-bolt-post-list__item">
        <div class="c-bolt-post">
          <div class="c-bolt-post__media" aria-hidden="true">
            {% include '@bolt-components-icon/icon.twig' with {
              name: 'questions',
              size: 'xlarge',
              color: 'teal',
            } only %}
          </div>
          <div class="c-bolt-post__content">
            <div class="c-bolt-post-info">
              <div class="c-bolt-post-info__heading">
                {% set link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'A post with long title without break pneumonoultramicroscopicsilicovolcanoconiosis',
                    reversed_underline: true,
                    expand_click_target: true,
                    attributes: {
                      href: 'https://pega.com',
                    }
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/headline.twig' with {
                  text: link,
                  tag: 'h3',
                  size: 'large',
                } only %}
              </div>
              <ul class="c-bolt-post-info__meta">
                <li class="c-bolt-post-info__meta__item">Posted by <a href="https://google.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline">viswa1</a> on Aug 28, 2020</li>
                <li class="c-bolt-post-info__meta__item">Last activity: 8 hours 15 minutes ago</li>
              </ul>
              <div class="c-bolt-post-info__summary">
                {% set icon_chevron_right %}
                  {% include '@bolt-components-icon/icon.twig' with {
                    name: 'chevron-right',
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/text.twig' with {
                  text: 'Hello all. Our organization is migrating from the IMAP (using user name and password) approach to Microsoft Graph with Office 365 using OAUTH 2.0&hellip;Read More' ~ icon_chevron_right,
                  tag: 'p',
                  size: 'small',
                } only %}
              </div>
            </div>
            <ul class="c-bolt-post-status">
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">3</span> Replies
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">8</span> Views
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <bolt-text headline>Manage view</bolt-text>
    <ul class="c-bolt-post-list js-cc-post-list">
      <li class="c-bolt-post-list__item">
        <div class="c-bolt-post">
          <div class="c-bolt-post__media" aria-hidden="true">
            {% include '@bolt-components-icon/icon.twig' with {
              name: 'discussions',
              size: 'xlarge',
              color: 'teal',
            } only %}
          </div>
          <div class="c-bolt-post__content">
            <div class="c-bolt-post-info">
              <div class="c-bolt-post-info__heading">
                {% set link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'Email Account Using Microsoft Graph As Receiver With Office 365 Email Provider In 8.4.3 Doesn&rsquo;t Work',
                    reversed_underline: true,
                    expand_click_target: true,
                    attributes: {
                      href: 'https://pega.com',
                    }
                  } only %}
                {% endset %}
                {% include '@bolt-components-headline/headline.twig' with {
                  text: link,
                  tag: 'h3',
                  size: 'large',
                } only %}
              </div>
              <ul class="c-bolt-post-info__meta">
                {% set username_link %}
                  {% include '@bolt-elements-text-link/text-link.twig' with {
                    content: 'mikemai2awesome',
                    reversed_underline: true,
                    attributes: {
                      href: 'https://mikemai.net',
                    }
                  } only %}
                {% endset %}
                <li class="c-bolt-post-info__meta__item">Posted by {{ username_link }} on Aug 28, 2020</li>
                <li class="c-bolt-post-info__meta__item">Last activity: 8 hours 15 minutes ago</li>
              </ul>
            </div>
            <ul class="c-bolt-post-status">
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__icon c-bolt-post-status__icon--solved">
                  {% include '@bolt-components-icon/icon.twig' with {
                    name: 'check-solid',
                  } only %}
                </span>
                Solved
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__icon c-bolt-post-status__icon--locked">
                  {% include '@bolt-components-icon/icon.twig' with {
                    name: 'lock',
                  } only %}
                </span>
                Locked
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">10k</span> Replies
              </li>
              <li class="c-bolt-post-status__item">
                <span class="c-bolt-post-status__number">55k</span> Views
              </li>
            </ul>
          </div>
          <div class="c-bolt-post__actions">
            {% set trigger %}
              {% include '@bolt-components-button/button.twig' with {
                text: 'Post menu',
                size: 'small',
                style: 'tertiary',
                iconOnly: true,
                icon: {
                  name: 'more',
                  position: 'before',
                },
              } only %}
            {% endset %}
            {% set content %}
              {% include '@bolt-components-menu/menu.twig' with {
                title: 'More actions',
                items: [
                  {
                    content: 'Reply',
                    icon_before: icon_reply,
                  },
                  {
                    content: 'Favorite',
                    icon_before: icon_heart,
                  },
                  {
                    content: 'Subscribe',
                    icon_before: icon_eye,
                  },
                ]
              } only %}
            {% endset %}
            {% include '@bolt-components-popover/popover.twig' with {
              trigger: trigger,
              content: content,
              spacing: 'none',
              boundary: '.js-cc-post-list',
            } only %}
          </div>
        </div>
      </li>
    </ul>
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}
{% endblock %}

{% block global_footer %}
{% endblock %}
