{# <button type="button" class="e-bolt-button">Retrigger anime</button> #}

{% include '@bolt-components-banner/banner.twig' with {
  content: 'This is the banner content fade--in.',
  attributes: {
    class: [
      'a-bolt-fade',
      'a-bolt-fade--in',
    ],
  }
} only %}

{% include '@bolt-components-banner/banner.twig' with {
  content: 'This is the banner content fade--in-up.',
  attributes: {
    class: [
      'a-bolt-fade',
      'a-bolt-fade--in-up',
    ]
  }
} only %}

{% include '@bolt-components-banner/banner.twig' with {
  content: 'This is the banner content fade--in-down.',
  attributes: {
    class: [
      'a-bolt-fade',
      'a-bolt-fade--in-down',
    ]
  }
} only %}

{% include '@bolt-components-banner/banner.twig' with {
  content: 'This is the banner content fade--in-left.',
  attributes: {
    class: [
      'a-bolt-fade',
      'a-bolt-fade--in-left',
    ]
  }
} only %}

{% include '@bolt-components-banner/banner.twig' with {
  content: 'This is the banner content fade--in-right.',
  attributes: {
    class: [
      'a-bolt-fade',
      'a-bolt-fade--in-right',
    ]
  }
} only %}



