{% set form_children %}
  {% set name %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'First Name (required)',
        displayType: 'block',
        attributes: {
          for: 'first-name',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your first name',
          required: true,
          type: 'text',
          id: 'first-name',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set surname %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Last Name (required)',
        displayType: 'block',
        attributes: {
          for: 'last-name',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your last name',
          required: true,
          type: 'text',
          id: 'last-name',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set phone_number %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Phone Number (required)',
        displayType: 'block',
        attributes: {
          for: 'phone-number',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your phone number',
          required: true,
          type: 'tel',
          id: 'phone-number',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set extension %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Extension',
        displayType: 'block',
        attributes: {
          for: 'extension',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter the extension',
          type: 'text',
          id: 'extension',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set location  %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Location (required)',
        displayType: 'block',
      } only %}
    {% endset %}

    {% set select %}
      {% include '@bolt-components-form/form-select.twig' with {
        attributes: {
          required: true
        },
        options: [
          {
            type: 'option',
            value: '',
            label: '- Select the country -',
            attributes: {
              disabled: true
            }
          },
          {
            type: 'option',
            value: 'a',
            label: 'Argentina'
          },
          {
            type: 'option',
            value: 'b',
            label: 'Belgium'
          },
          {
            type: 'option',
            value: 'c',
            label: 'Croatia'
          }
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
  {% endset %}

  {% set postal_code %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Postal Code',
        displayType: 'block',
        attributes: {
          for: 'postal-code',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your postal code',
          type: 'number',
          id: 'postal-code',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set time_zone %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Time Zone',
        displayType: 'block',
      } only %}
    {% endset %}

    {% set select %}
      {% include '@bolt-components-form/form-select.twig' with {
        options: [
          {
            type: 'option',
            value: '',
            label: '- Select the timezone -',
            attributes: {
              disabled: true
            }
          },
          {
            type: 'option',
            value: 'a',
            label: 'Time Zone A'
          },
          {
            type: 'option',
            value: 'b',
            label: 'Time Zone B'
          },
          {
            type: 'option',
            value: 'c',
            label: 'Time Zone C'
          }
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
  {% endset %}

  {% set contact_information_form %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Contact Information',
      size: 'xxlarge'
    } only %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12',
          content: name,
        },
        {
          column_start: '1',
          column_span: '12',
          content: surname,
        },
        {
          column_start: '1',
          column_span: '12 6@xsmall',
          content: phone_number,
        },
        {
          column_start: '1 7@xsmall',
          column_span: '12 6@xsmall',
          content: extension,
        },
        {
          column_start: '1',
          column_span: '12',
          content: location,
        },
        {
          column_start: '1',
          column_span: '12 6@xsmall',
          content: postal_code,
        },
        {
          column_start: '1 7@xsmall',
          column_span: '12 6@xsmall',
          content: time_zone,
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: contact_information_form,
    spacing: 'large'
  } only %}

  {% set job_title %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Job Title',
        displayType: 'block',
        attributes: {
          for: 'job-title',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your job title',
          type: 'text',
          id: 'job-title',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set organization_name %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Organization Name (required)',
        displayType: 'block',
        attributes: {
          for: 'organization-name',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Enter your organization name',
          type: 'text',
          id: 'organization-name',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% set job_function  %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Job Function',
        displayType: 'block',
      } only %}
    {% endset %}

    {% set select %}
      {% include '@bolt-components-form/form-select.twig' with {
        options: [
          {
            type: 'option',
            value: '',
            label: '- Select -',
            attributes: {
              disabled: true
            }
          },
          {
            type: 'option',
            value: 'business',
            label: 'Business'
          },
          {
            type: 'option',
            value: 'pega-developer',
            label: 'Pega Devloper'
          },
          {
            type: 'option',
            value: 'manager',
            label: 'Manager'
          }
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
  {% endset %}

  {% set job_information_form %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Job Information',
      size: 'xxlarge'
    } only %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12 6@xsmall',
          content: job_title,
        },
        {
          column_start: '1 7@xsmall',
          column_span: '12 6@xsmall',
          content: organization_name,
        },
        {
          column_start: '1',
          column_span: '12',
          content: job_function,
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: job_information_form,
    spacing: 'large'
  } only %}

  {% set availability %}
    {% set info_icon_trigger %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'info-circle',
      } only %}
    {% endset %}
    {% set popover %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: info_icon_trigger,
        trigger_event: 'hover',
        content: 'This is the content of the popover. We can provide some helpful text here for the user',
      } only %}
    {% endset %}

    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Project Availability' ~ popover,
      size: 'large'
    } only %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Available',
        displayType: 'inline-checkbox',
        attributes: {
          for: 'availability',
          name: 'availability'
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          type: 'checkbox',
          id: 'availability',
          checked: true,
        },
      } only %}
    {% endset %}
    {% set icon_info_circle %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'info-circle',
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      children: input,
      descriptionText: icon_info_circle ~ '<small>By checking this box, anyone who views your profile will see that you\'re available. Your availability status will remain active for 30 days, you will need to revisit your profile to set your availability after it expires.</small>',
    } only %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Start Date (required)',
        displayType: 'block',
        attributes: {
          for: 'start-date',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          required: true,
          placeholder: 'Enter the date you can start',
          type: 'date',
          id: 'start-date',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: input,
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: availability,
    spacing: 'large'
  } only %}
  
  {% set about_me %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'About Me',
      size: 'xxlarge'
    } only %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Show social media links on my public profile.',
        displayType: 'inline-checkbox',
        attributes: {
          for: 'social-media-agreement',
          name: 'social-media-agreement'
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          type: 'checkbox',
          id: 'social-media-agreement',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      children: input,
    } only %}

    {% set twitter %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Twitter',
          displayType: 'block',
          attributes: {
            for: 'twitter',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your Twitter URL',
            type: 'url',
            id: 'twitter',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: input,
      } only %}
    {% endset %}

    {% set linkedin %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'LinkedIn',
          displayType: 'block',
          attributes: {
            for: 'linkedin',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your organization name',
            type: 'url',
            id: 'linkedin',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: input,
      } only %}
    {% endset %}

    {% set bio %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Bio',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set textarea %}
        {% include '@bolt-components-form/form-textarea.twig' with {
          attributes: {
            placeholder: 'Add a short bio here',
            rows: 6
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: textarea,
      } only %}
    {% endset %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12 6@xsmall',
          content: twitter,
        },
        {
          column_start: '1 7@xsmall',
          column_span: '12 6@xsmall',
          content: linkedin,
        },
        {
          column_start: '1',
          column_span: '12',
          content: bio,
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: about_me,
    spacing: 'large'
  } only %}

  {% set projects %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'My Experience',
      size: 'xxlarge'
    } only %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Projects',
      size: 'large'
    } only %}
    {% set industry %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Industry',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-industry',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'education',
              label: 'Education'
            },
            {
              type: 'option',
              value: 'financial-services',
              label: 'Financial Services'
            },
            {
              type: 'option',
              value: 'government',
              label: 'Government'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set role %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Industry',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-roles',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'account-executive',
              label: 'Account Executive'
            },
            {
              type: 'option',
              value: 'business-architect',
              label: 'Business Architect'
            },
            {
              type: 'option',
              value: 'business-user',
              label: 'Business User'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set start_date %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Starting Date',
          displayType: 'block',
          attributes: {
            for: 'start-date',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter the start date',
            type: 'date',
            id: 'start-date',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: input,
      } only %}
    {% endset %}
    {% set end_date %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Ending Date',
          displayType: 'block',
          attributes: {
            for: 'end-date',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter the end date',
            type: 'date',
            id: 'end-date',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: input,
      } only %}
    {% endset %}
    {% set current_project %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Current',
          displayType: 'inline-checkbox',
          attributes: {
            for: 'current-project',
            name: 'current-project'
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            type: 'checkbox',
            id: 'current-project',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}
    {% endset %}
    {% set product %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Product',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-product',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'a',
              label: 'A'
            },
            {
              type: 'option',
              value: 'b',
              label: 'B'
            },
            {
              type: 'option',
              value: 'c',
              label: 'C'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set version %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Version',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-version',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'a',
              label: 'A'
            },
            {
              type: 'option',
              value: 'b',
              label: 'B'
            },
            {
              type: 'option',
              value: 'c',
              label: 'C'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set trash_button %}
      {% set icon_trash %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'trash',
        } only %}
      {% endset %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Remove product',
          display: 'block',
          icon_before: icon_trash,
          hierarchy: 'tertiary',
          attributes: {
            type: 'button'
          }
        } only %}
    {% endset %}

    {% set add_product_button %}
      {% set icon_add %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'add-circle',
        } only %}
      {% endset %}

      {% include '@bolt-elements-button/button.twig' with {
        content: 'Add Product',
        display: 'inline@from-small',
        hierarchy: 'transparent',
        icon_before: icon_add,
        attributes: {
          type: 'button'
        }
      } only %}
    {% endset %}
    {% set project_buttons %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Delete Project',
        display: 'inline@from-small',
        hierarchy: 'secondary',
        attributes: {
          type: 'button'
        }
      } only %}

      {% include '@bolt-elements-button/button.twig' with {
        content: 'Save Project',
        display: 'inline@from-small',
        attributes: {
          type: 'button'
        }
      } only %}

      {% set icon_add %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'add-circle',
        } only %}
      {% endset %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Add Project',
        display: 'inline@from-small',
        icon_before: icon_add,
        hierarchy: 'transparent',
        attributes: {
          type: 'button'
        }
      } only %}
    {% endset %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12 6@small',
          content: industry,
        },
        {
          column_start: '1 7@small',
          column_span: '12 6@small',
          content: role,
        },
        {
          column_start: '1',
          column_span: '12 6@small',
          content: start_date,
        },
        {
          column_start: '1 7@small',
          column_span: '9 5@small',
          content: end_date,
        },
        {
          column_start: '10 12@small',
          column_span: '3 1@small',
          content: current_project,
          valign: 'end'
        },
        {
          column_start: '1',
          column_span: '12 6@small',
          content: product,
        },
        {
          column_start: '1 7@small',
          column_span: '12 3@small',
          content: version,
        },
        {
          column_start: '1 10@small',
          column_span: '12 3@small',
          content: trash_button,
          valign: 'end'
        },
        {
          column_start: '1',
          column_span: '12',
          content: add_product_button,
        },
        {
          column_start: '1',
          column_span: '12',
          content: project_buttons,
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: projects,
    spacing: 'large'
  } only %}

  {% set languages %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Languages',
      size: 'large'
    } only %}
    {% set language %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Language',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-languages',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'arabic',
              label: 'Arabic'
            },
            {
              type: 'option',
              value: 'chinese',
              label: 'Chinese'
            },
            {
              type: 'option',
              value: 'czech',
              label: 'Czech'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set proficiency %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Proficiency',
          displayType: 'block',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: 'no-proficiency',
              label: '- Select -',
              attributes: {
                disabled: true,
                selected: true,
              }
            },
            {
              type: 'option',
              value: 'elementary',
              label: 'Elementary'
            },
            {
              type: 'option',
              value: 'limited',
              label: 'Limited'
            },
            {
              type: 'option',
              value: 'pro',
              label: 'Pro'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}
    {% set trash_button %}
      {% set icon_trash %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'trash',
        } only %}
      {% endset %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Remove language',
          display: 'block',
          icon_before: icon_trash,
          hierarchy: 'tertiary',
          attributes: {
            type: 'button'
          }
        } only %}
    {% endset %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      valign: 'end',
      items: [
        {
          column_start: '1',
          column_span: '12 3@small',
          content: language,
        },
        {
          column_start: '1 4@small',
          column_span: '12 6@small',
          content: proficiency,
        },
        {
          column_start: '1 10@small',
          column_span: '12 3@small',
          content: trash_button,
        },
      ]
    } only %}

    {% set icon_add %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'add-circle',
      } only %}
    {% endset %}

    {% include '@bolt-elements-button/button.twig' with {
      content: 'Add langauge',
      display: 'inline@from-small',
      icon_before: icon_add,
      hierarchy: 'transparent',
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: languages,
    spacing: 'large'
  } only %}

  {% set projects_role %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Project Roles' ~ popover,
      size: 'large'
    } only %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Your Role',
        displayType: 'block',
      } only %}
    {% endset %}

    {% set select %}
      {% include '@bolt-components-form/form-select.twig' with {
        options: [
          {
            type: 'option',
            value: 'no-roles',
            label: '- Select -',
            attributes: {
              disabled: true,
              selected: true,
            }
          },
          {
            type: 'option',
            value: 'account-executive',
            label: 'Account Executive'
          },
          {
            type: 'option',
            value: 'business-architect',
            label: 'Business Architect'
          },
          {
            type: 'option',
            value: 'business-user',
            label: 'Business User'
          }
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: projects_role,
    spacing: 'large'
  } only %}

  {% set pega_specializations %}
    {% set info_icon_trigger %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'info-circle',
      } only %}
    {% endset %}
    {% set popover %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: info_icon_trigger,
        trigger_event: 'hover',
        content: 'This is the content of the popover. We can provide some helpful text here for the user',
      } only %}
    {% endset %}

    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Pega Specializations' ~ popover,
      size: 'large'
    } only %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Your Specialization',
        displayType: 'block',
      } only %}
    {% endset %}

    {% set select %}
      {% include '@bolt-components-form/form-select.twig' with {
        options: [
          {
            type: 'option',
            value: 'no-specializations',
            label: '- Select -',
            attributes: {
              disabled: true,
              selected: true,
            }
          },
          {
            type: 'option',
            value: 'agent-desktop',
            label: 'Agent Desktop'
          },
          {
            type: 'option',
            value: 'artificial-inteligence',
            label: 'Artificial Inteligence'
          },
          {
            type: 'option',
            value: 'business-simulations',
            label: 'Business Simulations'
          }
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: pega_specializations,
    spacing: 'large'
  } only %}

  {% set reset_button %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Discard Changes',
      hierarchy: 'secondary',
      attributes: {
        type: 'reset',
        value: 'reset'
      }
    } only %}
  {% endset %}
  
  {% set save_profile_button %}
    {% include '@bolt-components-form/form-button.twig' with {
      text: 'Save Profile',
      attributes: {
        type: 'submit',
        value: 'submit'
      }
    } only %}
  {% endset %}

  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    spacing: 'xxsmall',
    align: 'justify',
    valign: 'center',
    items: [
      reset_button,
      save_profile_button
    ],
    attributes: {
      class: [
        't-bolt-dark',
        'u-bolt-padding-medium'
      ]
    }
  } only %}
{% endset %}

<div class="o-bolt-wrapper">
  {% include '@bolt-components-form/form.twig' with {
    children: form_children
  } only  %}
</div>
