{% set top_banner %}
  {% include '@bolt-components-banner/banner.twig' with {
    content: '<strong>Please confirm your contact information below</strong>',
    status: 'error'
  } only %}
{% endset %}

{% set infographic_user %}
  {% set icon_user %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'user',
    } only %}
  {% endset %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon_user,
    size: 'medium',
    attributes: {
      class: 't-bolt-teal'
    }
  } only %}
{% endset %}

{% set infographic_user_headline %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Contact Information',
    size: 'large'
  } only %}
{% endset %}

{% set contact_information_header %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    align: 'start',
    spacing: 'xsmall',
    nowrap: true,
    items: [
      infographic_user,
      infographic_user_headline
    ]
  } only %}
{% endset %}

{% set infographic_job %}
  {% set icon_job %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'briefcase',
    } only %}
  {% endset %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon_job,
    size: 'medium',
    attributes: {
      class: 't-bolt-teal'
    }
  } only %}
{% endset %}

{% set infographic_job_headline %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Job Information',
    size: 'large'
  } only %}
{% endset %}

{% set job_information_header %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    align: 'start',
    spacing: 'xsmall',
    nowrap: true,
    items: [
      infographic_job,
      infographic_job_headline
    ]
  } only %}
{% endset %}

{% set infographic_about %}
  {% set icon_about %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'system-admin',
    } only %}
  {% endset %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon_about,
    size: 'medium',
    attributes: {
      class: 't-bolt-teal'
    }
  } only %}
{% endset %}

{% set infographic_about_headline %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'About Me',
    size: 'large'
  } only %}
{% endset %}

{% set about_information_header %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    align: 'start',
    spacing: 'xsmall',
    nowrap: true,
    items: [
      infographic_about,
      infographic_about_headline
    ]
  } only %}
{% endset %}

{% set infographic_experience %}
  {% set icon_experience %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'entertainment',
    } only %}
  {% endset %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon_experience,
    size: 'medium',
    attributes: {
      class: 't-bolt-teal'
    }
  } only %}
{% endset %}

{% set infographic_experience_headline %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'My Experience',
    size: 'large'
  } only %}
{% endset %}

{% set experience_information_header %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    align: 'start',
    spacing: 'xsmall',
    nowrap: true,
    items: [
      infographic_experience,
      infographic_experience_headline
    ]
  } only %}
{% endset %}

{% set layout_items_1 %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: contact_information_header,
    attributes: {
      class: [
        'u-bolt-padding-small',
        'u-bolt-shadow-level-20',
      ]
    }
  } only %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: job_information_header,
    attributes: {
      class: [
        'u-bolt-padding-small',
        'u-bolt-shadow-level-20',
      ]
    }
  } only %}
{% endset %}

{% set layout_items_2 %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: about_information_header,
    attributes: {
      class: [
        'u-bolt-padding-small',
        'u-bolt-shadow-level-20',
      ]
    }
  } only %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: experience_information_header,
    attributes: {
      class: [
        'u-bolt-padding-small',
        'u-bolt-shadow-level-20',
      ]
    }
  } only %}
{% endset %}

{% set button_discard_changes %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Discard Changes',
    hierarchy: 'secondary',
    size: 'small',
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}

{% set button_save_changes %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Save Profile',
    hierarchy: 'primary',
    size: 'small',
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}

{% set buttons_group %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    align: 'justify',
    items: [
      button_discard_changes,
      button_save_changes
    ]
  } only %}
{% endset %}

{# {% set bottom_cta_bar %}
  {% include '@bolt-components-band/band.twig' with {
    content: buttons_group,
    attributes: {
      style: [
        'position: fixed;',
        'bottom: 0;',
        'left: 0;',
      ]
    }
  } only %}
{% endset %} #}


{# Layout #}
<div class="o-bolt-wrapper">
  {{ top_banner }}
</div>

{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items_1,
  template: [
    '33/67@from-medium',
  ],
  padding_bottom: 'none',
  gutter: 'small',
} only %}

{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items_2,
  template: [
    '67@from-medium',
  ],
  gutter: 'small',
  align_items: 'end',
  padding_bottom: 'xlarge'
} only %}

{% include '@bolt-layouts-layout/layout.twig' with {
  content: buttons_group,
  gutter: 'small',
  attributes: {
    class: 't-bolt-dark',
    style: [
      'position: fixed;',
      'bottom: 0;',
    ]
  }
} only %}
