{% embed "@bolt-components-card-replacement/card-replacement.twig" with {
  horizontal: false,
  theme: "xlight",
  link_url: cardUrl,
  cardGradient: cardGradient,
  gradientStart: gradientStart,
  gradientMiddle: gradientMiddle,
  gradientEnd: gradientEnd,
  cardIcon: cardIcon,
  cardSubtitle: cardSubtitle,
  cardTitle: cardTitle,
  cardMetaItems: cardMetaItems,
  cardDescription: cardDescription,
  cardStatusItems: cardStatusItems,
} only %}
  {% block media %}
    {% include "@bolt-academy/_icon-banner.twig" with {
      cardGradient: cardGradient,
      gradientStart: gradientStart,
      gradientMiddle: gradientMiddle,
      gradientEnd: gradientEnd,
      cardIcon: cardIcon,
      horizontal: false,
    } only %}
    <div class="t-bolt-dark u-bolt-padding-medium u-bolt-border-radius-small">
      {% set toolbar %}
        {% include "@bolt-academy/_toolbar-actions.twig" only %}
      {% endset %}
      {% set title %}
        {% if cardSubtitle %}
          {% include "@bolt-components-headline/eyebrow.twig" with {
            text: cardSubtitle
          } only %}
        {% endif %}
        {% if cardTitle %}
          {% include "@bolt-components-headline/headline.twig" with {
            text: cardTitle,
            size: "xlarge",
            attributes: {
              style: "min-height: 58px;"
            }
          } only %}
        {% endif %}
      {% endset %}
      {% include '@bolt-components-grid/grid.twig' with {
        gutter: 'small',
        items: [
          {
            column_start: '1',
            column_span: '12',
            content: toolbar,
            attributes: {
              style: 'margin-left: auto;'
            }
          },
          {
            column_start: '1',
            column_span: '12',
            content: title,
            attributes: {
              class: 'u-bolt-z-index-background'
            }
          },
        ]
      } only %}
    </div>
  {% endblock %}

  {% block body %}
    <div>
      {% set meta_items %}
        {% if cardMetaItems %}
          {% include "@bolt-components-list/list.twig" with {
            display: "inline",
            separator: "solid",
            tag: "ul",
            items: cardMetaItems
          } only %}
        {% endif %}
      {% endset %}
      {% if cardDescription %}
        {% set desc %}
          {% include "@bolt-components-headline/text.twig" with {
            text: cardDescription,
            size: "medium"
          } only %}
        {% endset %}
      {% endif %}
      {% include '@bolt-components-grid/grid.twig' with {
        gutter:'small',
        row_gutter: 'small',
        items: [
          {
            column_start: '1',
            column_span: '12',
            content: meta_items,
          },
          {
            column_start: '1',
            column_span: '12',
            content: desc,
          },
        ]
      } only %}
    </div>
  {% endblock %}

  {% block actions %}
    {% embed "@bolt-components-card-replacement/_card-replacement-actions.twig" %}
      {% block action_items %}
        {% if cardStatusItems %}
          {% for item in cardStatusItems %}
            {% include "@bolt-components-card-replacement/_card-replacement-action-item.twig" with { item: item } only %}
          {% endfor %}
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endblock %}

{% endembed %}
