{% set schema = bolt.data.components['@bolt-components-dialogue'].schema %}

{% set description %}
    A description of the component and what it is used for.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
<bolt-list display="inline" spacing="small">
{% set _content %}
<h3>This is a dialogue.</h3>
<p>Esse qui aliqua cupidatat anim duis exercitation aliquip occaecat consectetur cupidatat. Labore nisi pariatur adipisicing minim enim amet consectetur voluptate occaecat ipsum dolore laboris et. Consequat non voluptate excepteur consequat pariatur Lorem est ea. Nisi enim elit quis dolore fugiat officia nulla.</p>
<button type="button" class="e-bolt-button">Button</button>
{% endset %}
{% for theme in schema.properties.theme.enum %}
  <bolt-list-item>
  {% include '@bolt-elements-button/button.twig' with {
    content: '"' ~ theme ~ '" Theme',
    attributes: {
      type: 'button',
      'data-dialogue-trigger': 'dialogue-theme-' ~ loop.index0,
    }
  } only %}

  {% include '@bolt-components-dialogue/dialogue.twig' with {
    content: _content,
    theme: theme,
    attributes: {
      id: 'dialogue-theme-' ~ loop.index0
    },
  } only %}
  </bolt-list-item>
{% endfor %}
</bolt-list>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-dialogue/dialogue.twig' with {
  theme: 'dark',
  ...
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialogue Themes',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup
} only %}
