{#
A generic form input element

Available variables:
  - attributes (object) - A Drupal attributes object for the input element.  Of note, it may include the following:
    - type (enum, REQUIRED) - a valid HTML5 input type
        see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Form_<input>_types
    - disabled (boolean)
    - placeholder (string)
  - children (renderable) - Optional additional rendered elements.
  - hasErrors (boolean) - whether this input has server-side errors.  If true, this will invoke error styling for this
      field on page load.
#}

{% set attributes = create_attribute(attributes | default({})) %}
{% set _classes = [] %}
{% set _type = attributes.type.__tostring %}
{% set _icons = [] %}

{% if attributes.disabled %}
  {% set _icons = _icons|merge(['lock']) %}
{% endif %}

{% if hasErrors %}
  {% set _classes = _classes|merge(['is-invalid']) %}
{% endif %}

{% if _type == "search" %}
  {% set _icons = _icons|merge(['search']) %}
{% endif %}

{% set _classes = _classes|merge([
  'c-bolt-input',
  'c-bolt-input--' ~ attributes.type
]) %}

<input{{ attributes.addClass(_classes) }} />{{ children }}

<div class="c-bolt-input-icons">
  {% include "@bolt/form-icons.twig" with {"icons": _icons } only %}
</div>
