{#
A generic form input element

Available variables:
  - attributes (object) - A Drupal attributes object for the input element.
    - type (enum) -
      - inline elements:
      -
      text
      - buttons:
    - disabled (boolean) -
    - placeholder (string) -
  - children (renderable) - Optional additional rendered elements.
#}

{% set attributes = create_attribute(attributes | default({})) %}
{% set _classes = [] %}
{% set _type = attributes.type.__tostring %}
{% set _icons = [] %}

{% if attributes.disabled %}
  {% set _icons = _icons|merge(['lock']) %}
{% endif %}

{% if _type == "search" %}
  {% set _icons = _icons|merge(['search']) %}
{% endif %}

{% set _classes = _classes|merge([
  'c-bolt-input',
  'c-bolt-input--' ~ attributes.type
]) %}

<input{{ attributes.addClass(_classes) }} />{{ children }}

<div class="c-bolt-input-icons">
  {% include "@bolt/form-icons.twig" with {"icons": _icons } only %}
</div>
