{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell 'u-bolt-width-12/12' %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as carousel_code %}

{% set carousel_demo %}
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endset %}

{% set carousel_basic_demo %}
<bolt-carousel nav-button-position="inside" slides-per-view=2 loop autoplay>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xlight">Slide 4</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endset %}

{% set carousel_ssr_demo_noshadow %}
{% filter bolt_ssr %}
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endfilter %}
{% endset %}

{% set carousel_ssr_demo %}
{% verbatim %} {% filter bolt_ssr %} {% endverbatim %}
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% verbatim %} {% endfilter %} {% endverbatim %}
{% endset %}


<div class="o-bolt-wrapper">
  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Web Component Usage
    </bolt-text>
    <bolt-text>
      Bolt carousel is a web component, you can simply use <code>&lt;bolt-carousel&gt;</code> in the markup to make it render. For each slide, you must use <code>&lt;bolt-carousel-slide&gt;</code> to wrap around the slide content.
    </bolt-text>
    {% include carousel_code.code_example(carousel_demo) %}
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: carousel_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Basic Usage
    </bolt-text>
    <bolt-text>
      The web component has all the options shown in the schema table. You can define each prop within the <code>&lt;bolt-carousel&gt;</code> element. Use unique combinations to customize a carousel to your liking.
    </bolt-text>
    {% include carousel_code.code_example(carousel_basic_demo) %}
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: carousel_basic_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Server-side Rendered Web Components (Experimental)
    </bolt-text>
    <bolt-text>
      The <code>&lt;bolt-carousel&gt;</code> component, among many other web components in Bolt, will support server-side rendering via the new upcoming <code>{% verbatim %}{% filter bolt_ssr %}{% endverbatim %}</code> custom Twig filter. Check out the docs on <a href="https://master.boltdesignsystem.com/docs/development/server-side-rendering.html">server-side rendering</a> for information!
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell 'u-bolt-width-12/12' %}
          {{ carousel_ssr_demo_noshadow }}
        {% endcell %}
      {% endgrid %}
    </div>
    <div class="u-bolt-margin-bottom-large">
      {% include '@bolt-components-code-snippet/code-snippet.twig' with {
        content: carousel_ssr_demo,
        lang: 'html',
        mode: 'dark',
      } only %}
    </div>
  </div>
</div>
