/* ------------------------------------ *\
   Links
\* ------------------------------------ */

// Dev Notes
// 1. [Mai] Reset button and input tag browser defaults.
// 2. [Mai] All the theming stuff is an interim fix until the bolt-text is refactored, which will cover all the text link styles as well.

@import '@bolt/core';

// Component variables
$bolt-link-transition: $bolt-transition;

// Component styles
.c-bolt-link {
  @include bolt-padding(0);  // [1]
  @include bolt-font-family(body);  // [1]

  display: inline-block;
  display: inline-flex;
  align-items: center; // So icons are vertically centered
  opacity: bolt-opacity(100);
  color: bolt-theme(link);
  text-decoration: underline;
  cursor: pointer;
  border: none;  // [1]
  background: none;  // [1]
  transition: all $bolt-link-transition;


  &:hover {
    opacity: $bolt-global-link-hover-opacity;
  }

  &:active,
  &:focus:active {
    opacity: $bolt-global-link-active-opacity;
  }
}



// Changes the underline styles when a link is also a headline, chevrons are added to headline links by default.
.c-bolt-link--headline {
  color: bolt-theme(headline-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


// Text and icon spacing
.c-bolt-link__text + .c-bolt-link__icon {
  @include bolt-margin-left(xxsmall);
}

.c-bolt-link__icon + .c-bolt-link__text {
  @include bolt-margin-left(xxsmall);
}


// Icon styles
.c-bolt-link__icon {
  display: inline-block;
  line-height: 1; // workaround so icons can be vertically aligned properly
  vertical-align: baseline;
}
