/* ------------------------------------ *\
  Button Colors
\* ------------------------------------ */

/** Generate different background and border color button interaction states based on the primary color passed in **/
@import '../tools-text-contrast/tools-text-contrast';

@mixin bolt-button-color($color) {
  color: bolt-text-contrast($color);
  background-color: $color;
  border-color: mix(black, $color, 25%);

  // &:hover {
  //   color: bolt-text-contrast($color);
  //   background-color: mix(black, $color, 15%);
  //   border-color: mix(black, $color, 40%);
  // }
  //
  // &:focus,
  // &:active {
  //   color: bolt-text-contrast($color);
  //   background-color: mix(black, $color, 30%);
  //   border-color: mix(black, $color, 55%);
  // }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin button-color($args...) {
  @warn 'PegaKit\'s `button-color` mixin is deprecated and will be removed in v1.0.0 of Bolt. Use the new @bolt-button-color mixin instead.';

  @include bolt-button-color($args);
}
/* stylelint-enable */
