{# This is a proof-of-concept to demonstrate the usage with Drupal's current mix of Bolt action blocks and partner cards.#}
{# It should NOT be considered an example of Bolt best-practices. #}

<div class="event-sponsors-proof-of-concept">
  {% set logoImages = ["logo-atos.png", "logo-capgemini.png", "logo-ey.png", "logo-merkle.png", "logo-tata.png"] %}

  {% set items = [] %}
  {% for logoImage in logoImages %}
    {% set media %}
      <div class="c-partner-card__logo">
        <img src="/images/content/logos/480x160/{{ logoImage }}">
      </div>
    {% endset %}
    {% set items = items|merge([{ media: media }]) %}
  {% endfor %}

  {% include "@bolt-components-action-blocks/action-blocks.twig" with {
    max_items_per_row: 3,
    items: items,
  } only %}
</div>
