<div class="o-bolt-wrapper">
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
    ],
    nav_position: "outside",
    full_bleed: true,
  } only %}
</div>