/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* stylelint-disable-next-line scss/dollar-variable-pattern */
/* stylelint-enable */
/* ------------------------------------ *  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - EXPORT JSON
\* ------------------------------------ */
/** Wrapper to help format and export Sass maps as JSON files **/
/* ------------------------------------ *  Default Fallback + Custom Web Font Stacks
\* ------------------------------------ */
/*
 * Default Font Family Stacks
 *
 * 1. This maps to the system UI font.
 * 2. This is for known system UI fonts & requires updates
 */
/*
 * Custom web font stacks
 */
/*
 * Map font stack categories to Bolt's body, heading, and code.
 */
/* ------------------------------------ *  SETTINGS - BREAKPOINTS
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *  Scale
\* ------------------------------------ */
/* ------------------------------------ *  SETTINGS - FONT WEIGHTS
\* ------------------------------------ */
/* ------------------------------------ *  Spacing Scale
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - EXPORT JSON
\* ------------------------------------ */
/** Wrapper to help format and export Sass maps as JSON files **/
/* ------------------------------------ *  Strip Unit
\* ------------------------------------ */
/* stylelint-disable-next-line scss/at-function-pattern */
/* stylelint-enable */
/* ------------------------------------ *  Spacing Scale
\* ------------------------------------ */
/*
 * Generate default spacing scale, based off of the base font size
 **/
/*
 * CONVENIENCE FUNCTIONS
 **/
/* ------------------------------------ *  TOOLS - FONT FAMILY
\* ------------------------------------ */
/*------------------------------------*  Defining system and custom fonts
\*------------------------------------*/
/*
 * System UI Fonts
 */
/*
 * System font categories
 */
/*
 * Custom font categories
 */
/*
 * Mapping font categories to Bolt's body, heading, and code.
 */
/* ------------------------------------ *  Sassy Maps
\* ------------------------------------ */
/* stylelint-disable-next-line scss/at-mixin-pattern */
/* stylelint-enable */
/* ------------------------------------ *  TOOLS - FONT SIZE
\* ------------------------------------ */
/* ------------------------------------ *  SETTINGS - BREAKPOINTS
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *  Scale
\* ------------------------------------ */
/* ------------------------------------ *  Sassy Maps
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - POLY SIZING
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Linear Interpolation
  via https://gist.github.com/Jakobud/7414f91142e0f540f221a3e3cafdf856
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - MAP SORT
  via https://gist.github.com/Jakobud/a0ac11e80a1de453cd86f0d3fc0a1410
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* stylelint-disable-next-line scss/at-mixin-pattern */
/* stylelint-enable */
/* ------------------------------------ *  Font weight
\* ------------------------------------ */
/* ------------------------------------ *  SETTINGS - FONT WEIGHTS
\* ------------------------------------ */
/* ------------------------------------ *  Sassy Maps
\* ------------------------------------ */
/* stylelint-disable-next-line scss/at-mixin-pattern */
/* stylelint-enable */
/* ------------------------------------ *  Sassy Maps
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - FONT KERNING
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - FONT FACE
\* ------------------------------------ */
/* ==========================================================================
   #FONT-FACE
   ========================================================================== */
/* ------------------------------------ *  Spacing Scale
\* ------------------------------------ */
/*
 * Generate default spacing scale, based off of the base font size
 **/
/*
 * CONVENIENCE FUNCTIONS
 **/
/* ------------------------------------ *  Color Palette
\* ------------------------------------ */
/**
  * Helper functions for applying global color swatches stored in Sass Maps
  */
/* ------------------------------------ *  SETTINGS - COLORS
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - EXPORT JSON
\* ------------------------------------ */
/** Wrapper to help format and export Sass maps as JSON files **/
/* ------------------------------------ *  Sassy Maps
\* ------------------------------------ */
/* stylelint-disable-next-line scss/at-function-pattern */
/* stylelint-enable */
/* ------------------------------------ *  TOOLS - POLY SIZING
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Linear Interpolation
  via https://gist.github.com/Jakobud/7414f91142e0f540f221a3e3cafdf856
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - MAP SORT
  via https://gist.github.com/Jakobud/a0ac11e80a1de453cd86f0d3fc0a1410
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - BREAKPOINT
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Pixel to REM
\* ------------------------------------ */
/* ------------------------------------ *   Global Settings
\* ------------------------------------ */
/* ------------------------------------ *   All block elements
\* ------------------------------------ */
/* ------------------------------------ *   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - Linear Interpolation
  via https://gist.github.com/Jakobud/7414f91142e0f540f221a3e3cafdf856
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - MAP SORT
  via https://gist.github.com/Jakobud/a0ac11e80a1de453cd86f0d3fc0a1410
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST SORT
  via https://gist.github.com/Jakobud/744b98b629abe018766f6d506a2e92ae
\* ------------------------------------ */
/* ------------------------------------ *  TOOLS - LIST REMOVE
  via https://gist.github.com/Jakobud/ec056b52f3673cc369dc97f2c2428424
\* ------------------------------------ */
/* ------------------------------------ *  GENERIC - FONT STACKS
\* ------------------------------------ */
@font-face {
  font-family: OpenSansSubset;
  src: url("/fonts/opensans-subset.woff2") format("woff2"), url("/fonts/opensans-subset.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+65-U+90, U+97-122;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("/fonts/opensans-regular.woff2") format("woff2"), url("/fonts/opensans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/opensans-italic.woff2") format("woff2"), url("/fonts/opensans-italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("/fonts/opensans-bold.woff2") format("woff2"), url("/fonts/opensans-bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("/fonts/opensans-extrabold.woff2") format("woff2"), url("/fonts/opensans-extrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/opensans-extrabolditalic.woff2") format("woff2"), url("/fonts/opensans-extrabolditalic.woff") format("woff");
}

/* ------------------------------------ *  GENERIC - GLOBAL
\* ------------------------------------ */
/**
 * 1. Global box-sizing reset
 * 2. Remove default "touch" color behavior globally
 */
*,
*:before,
*:after {
  -webkit-font-feature-settings: 'kern';
          font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* [1] */
  -webkit-tap-highlight-color: transparent;
  /* [2] */
}

/* ------------------------------------ *  GENERIC - NORMALIZE
\* ------------------------------------ */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* ------------------------------------ *  GENERIC - RESET
\* ------------------------------------ */
/* stylelint-disable-next-line color-no-hex */
/* stylelint-disable selector-list-comma-newline-after */
body,
dd,
figure,
p, pre, blockquote, table, ol, ul, dl, fieldset, legend, details, summary, hr, address,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* stylelint-enable selector-list-comma-newline-after */
/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/
::-moz-selection {
  text-shadow: none;
  background-color: #b3d4fc;
}

::selection {
  text-shadow: none;
  background-color: #b3d4fc;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

/* ------------------------------------ *  GENERIC - SHARED
\* ------------------------------------ */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
/* ------------------------------------ *  Spacing Scale
\* ------------------------------------ */
/* ------------------------------------ *  Spacing Scale
\* ------------------------------------ */
/*
 * Generate default spacing scale, based off of the base font size
 **/
/*
 * CONVENIENCE FUNCTIONS
 **/
/* stylelint-disable selector-list-comma-newline-after */
p, pre, blockquote, table, ol, ul, dl, fieldset, legend, details, summary, hr, address {
  margin-bottom: 1.65rem;
}

/**
 * Consistent indentation for lists.
 */
dd, ol, ul {
  margin-left: 1.65rem;
}

/* stylelint-enable selector-list-comma-newline-after */
/* ------------------------------------ *  ELEMENTS - HEADINGS
\* ------------------------------------ */
/* stylelint-disable selector-list-comma-newline-after */
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.11rem;
  line-height: 1.11;
  font-weight: 800;
}

.js-fonts-loaded h1, .js-fonts-loaded h2, .js-fonts-loaded h3, .js-fonts-loaded h4, .js-fonts-loaded h5, .js-fonts-loaded h6 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* stylelint-enable selector-list-comma-newline-after */
/* ------------------------------------ *  ELEMENTS - IMAGES
\* ------------------------------------ */
img {
  max-width: 100%;
}

/* ------------------------------------ *  ELEMENTS - LINKS
\* ------------------------------------ */
a {
  text-decoration: none;
}

/* ------------------------------------ *  Body and heading declaration
\* ------------------------------------ */
html {
  font-size: 14px;
  /* stylelint-disable scale-unlimited/declaration-strict-value */
  /* stylelint-enable */
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc( 14px + (18 - 14) * (100vw - 400px) / (800));
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  width: 100%;
  margin: 0;
}

.js-fonts-loaded body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

/* ------------------------------------ *  ELEMENTS - SMALL TEXT
\* ------------------------------------ */
small {
  font-size: 0.8rem;
  line-height: 1.45;
}

/*# sourceMappingURL=bolt-critical-fonts.css.map */
