<bolt-blockquote bolt-component>
  <blockquote class="c-bolt-blockquote">
    <div class="c-bolt-blockquote__quote">
      {% block blockquote_quote %}
        {% if texts %}
          {% for text in texts %}
            {% include "@bolt/text.twig" with text | merge({
              tag: "p",
              size: "large",
              weight: "semibold"
            }) only %}
          {% endfor %}
        {% endif %}
      {% endblock %}
    </div>
    {% if author %}
      {% block blockquote_footer %}
        <footer class="c-bolt-blockquote__footer">
          <div class="c-bolt-blockquote__footer-item">
            {% include "@bolt/text.twig" with {
              text: author,
              tag: "cite",
              size: "xsmall",
              weight: "semibold"
            } only %}
          </div>
          {% if association %}
            <div class="c-bolt-blockquote__footer-item">
              {% include "@bolt/text.twig" with {
                text: association,
                tag: "em",
                size: "xsmall",
                style: "italic"
              } only %}
            </div>
          {% endif %}
        </footer>
      {% endblock %}
    {% endif %}
  </blockquote>
</bolt-blockquote>
