{# Sample Data
  {
    "author": {
      "name": "Full Name",
      "title": "Title and/or organization"
    },
    "content": "<p>One paragraph.</p> <p>And another paragraph.</p>"
  }
#}


<bolt-blockquote bolt-component>
  <blockquote class="c-bolt-blockquote">
    <div class="c-bolt-blockquote__quote">
      {% block blockquote_quote %}
        {% if content %}
          {% include "@bolt/text.twig" with {
            text: content,
            tag: "div",
            size: "large",
            weight: "semibold"
          } only %}
        {% endif %}
      {% endblock %}
    </div>
    {% if author %}
      {% block blockquote_footer %}
        <footer class="c-bolt-blockquote__footer">
          <div class="c-bolt-blockquote__footer-item">
            {% include "@bolt/text.twig" with {
              text: author.name,
              tag: "cite",
              size: "xsmall",
              weight: "semibold"
            } only %}
          </div>
          {% if author.title %}
            <div class="c-bolt-blockquote__footer-item">
              {% include "@bolt/text.twig" with {
                text: author.title,
                tag: "em",
                size: "xsmall",
                style: "italic"
              } only %}
            </div>
          {% endif %}
        </footer>
      {% endblock %}
    {% endif %}
  </blockquote>
</bolt-blockquote>
