@import '@bolt/settings-global';
@import '@bolt/settings-colors';
@import '@bolt/tools-spacing';
@import '@bolt/tools-color-palette';




/* ------------------------------------ *\
   Blockquote
\* ------------------------------------ */

// Sample Usage
// <bolt-blockquote bolt-component>
//   <blockquote class="c-bolt-blockquote">
//     <div class="c-bolt-blockquote__quote">
//       <div class="c-bolt-text c-bolt-text--semibold c-bolt-text--normal c-bolt-text--large">
//         <span class="c-bolt-text__text">
//           <p>Quote Text.</p>
//         </span>
//       </div>
//     </div>
//     <footer class="c-bolt-blockquote__footer">
//       <div class="c-bolt-blockquote__footer-item">
//         <cite class="c-bolt-text c-bolt-text--semibold c-bolt-text--normal c-bolt-text--xsmall">
//           <span class="c-bolt-text__text">
//             Author Name
//           </span>
//         </cite>
//       </div>
//       <div class="c-bolt-blockquote__footer-item">
//         <em class="c-bolt-text c-bolt-text--regular c-bolt-text--italic c-bolt-text--xsmall">
//           <span class="c-bolt-text__text">
//             Author Title
//           </span>
//         </em>
//       </div>
//     </footer>
//   </blockquote>
// </bolt-blockquote>


// Local Variables
$bolt-blockquote-border-width: 2px;
$bolt-blockquote-border-style: $bolt-border-style;
$bolt-blockquote-border-color: bolt-color(teal);
$bolt-blockquote-footer-line-height: $bolt-line-height--tight;


// Styles
c-bolt-blockquote {
  @include bolt-margin-bottom(medium);
  display: block;
}

.c-bolt-blockquote {
  @include bolt-margin(0);
  color: var(--bolt-color-heading, bolt-color(indigo)); // TODO: refactor this after theming is done.

  &:before, &:after {
    width: 100%;
    max-width: 300px;
    height: $bolt-blockquote-border-width;
    content: '';
    vertical-align: top;
    background-color: $bolt-blockquote-border-color;
  }

  &:before {
    @include bolt-margin-bottom(medium);
  }

  &:after {
    @include bolt-margin-top(medium);
  }
}

.c-bolt-blockquote--align-items-start {
  text-align: left;

  .c-bolt-blockquote__quote {
    @include bolt-margin-right(auto);
    @include bolt-margin-left(0);
  }
}

.c-bolt-blockquote--align-items-center {
  text-align: center;

  .c-bolt-blockquote__quote {
    @include bolt-margin-right(auto);
    @include bolt-margin-left(auto);
  }
}

.c-bolt-blockquote--align-items-end {
  text-align: right;

  .c-bolt-blockquote__quote {
    @include bolt-margin-right(0);
    @include bolt-margin-left(auto);
  }
}

.c-bolt-blockquote--bordered-vertical {
  @include bolt-padding(0 medium);
  border-left-width: $bolt-blockquote-border-width * 2;
  border-left-style: $bolt-blockquote-border-style;
  border-left-color: $bolt-blockquote-border-color;

  &:before, &:after {
    display: none;
  }
}

.c-bolt-blockquote--bordered-horizontal {
  &:before, &:after {
    display: inline-block;
    display: inline-flex;
  }
}

.c-bolt-blockquote--borderless {
  &:before, &:after {
    display: none;
  }
}

.c-bolt-blockquote__quote {
  @include bolt-margin-bottom(medium);
  display: block;
  position: relative;
  max-width: 75ch;
  font-family: 'Georgia', serif; // TODO: Replace with Noto Serif when it is added.

  p:first-child:before, p:last-child:after {
    position: absolute;
  }

  p:first-child:before {
    content: '\201C';
    transform: translate3d(-110%, 0 ,0);
  }

  p:last-child:after {
    content: '\201D';
    transform: translate3d(10%, 0 ,0);
  }
}

.c-bolt-blockquote__footer {
  line-height: $bolt-blockquote-footer-line-height;
}

.c-bolt-blockquote__footer-item {
  display: block;
}
