/*------------------------------------*\
    #PATTERN LAB BODY
\*------------------------------------*/

/**
* The HTML and body elements for the Pattern Lab shell.
* 1) These exist indepenedent of any project-specific styles
* 2) Styled as IDs to avoid collisions with user <body> tag
*/
.pl-c-html {
  min-height: 100%;
}

.pl-c-body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  display: flex; // Required for IE 11 to display overall PL layout correctly
}

.pl-c-body--theme-dark,
:root {
  --theme-bg: #161b3c;
  --theme-primary: #4c5076;
  --theme-secondary: #1b2664;
  --theme-text: white;
  --theme-text-rgb: 255,255,255;
  --theme-border: rgba(255, 255, 255, 0.2);
}

.pl-c-body--theme-light {
  --theme-bg: white;
  // --theme-secondary: #EBEBEB;
  --theme-secondary: white;
  --theme-text: #262829;
  --theme-text-rgb: 38, 40, 41;
  --theme-primary: white;
  --theme-border: #ddd;
}