{# Background Image #}
<div class="u-bolt-margin-bottom-small">
  {% set content_image %}
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxxlarge',
      text: 'This Band Has a Backround Image',
    } only %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'This is a button',
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}
  {% set image %}
    {% include '@bolt-elements-image/image.twig' with {
      background: true,
      attributes: {
        src: '/images/placeholders/backgrounds/background-dark2.jpg',
        lazyload: false,
        width: 2320,
        height: 800
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-band/band.twig' with {
    size: 'large',
    background: {
      opacity: 'heavy',
      focal_point: {
        vertical: 'center',
        horizontal: 'center'
      },
      items: [
        image
      ]
    },
    content: content_image
  } only %}
</div>
