@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Chips
\* ------------------------------------ */

// Chip Variables
$bolt-chip-border-radius: bolt-border-radius(full);
$bolt-chip-color: var(--m-bolt-text);
$bolt-chip-color-link: var(--m-bolt-link);
$bolt-chip-background-color: var(--m-bolt-tertiary);
$bolt-chip-item-size: calc(var(--bolt-spacing-x-xxsmall) / 2);

// Custom element styles
bolt-chip {
  display: inline-block;
}

@include bolt-repeat-rule(('bolt-chip', ':host')) {
  outline: none;
}

// Base Chip Styles
.c-bolt-chip {
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xsmall);
  font-weight: var(--bolt-type-font-weight-regular);
  color: $bolt-chip-color;
  line-height: calc(
    var(--bolt-type-line-height-xsmall) *
      var(--bolt-type-line-height-multiplier-tight)
  );
  text-decoration: none;
  border-radius: $bolt-chip-border-radius;

  &:before {
    content: '';
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-radius: inherit;
    background-color: $bolt-chip-background-color;
    transition: opacity var(--bolt-transition);
  }
}

$bolt-chip-sizes: (xsmall, small, medium);

@each $size in $bolt-chip-sizes {
  .c-bolt-chip--size-#{$size} {
    padding: calc(var(--bolt-spacing-y-#{$size}) / 2)
      var(--bolt-spacing-x-#{$size});
  }
}

.c-bolt-chip--link {
  color: $bolt-chip-color-link;

  &:hover,
  &:focus {
    &:before {
      opacity: 0.4;
    }
  }

  &:active,
  &:focus:active {
    &:before {
      opacity: 0.8;
    }
  }
}

.c-bolt-chip__text,
.c-bolt-chip__icon {
  display: inline;
  padding: 0 $bolt-chip-item-size;
}

.c-bolt-chip--icon-only {
  .c-bolt-chip__text {
    @include bolt-visuallyhidden;
  }
}
