@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   Chips
\* ------------------------------------ */

// Chip Variables
$bolt-chip-border-radius: bolt-border-radius(full);
$bolt-chip-color: bolt-theme(text);
$bolt-chip-color-link: bolt-theme(link);
$bolt-chip-background-color: bolt-theme(neutral, 0.3);
$bolt-chip-background-color-hover: bolt-theme(neutral, 0.4);
$bolt-chip-background-color-active: bolt-theme(neutral, 0.5);
$bolt-chip-transition: $bolt-transition;
$bolt-chip-item-size: bolt-spacing(xxsmall) / 2;

// Custom element styles
bolt-chip {
  display: inline-block;
}

@include bolt-repeat-rule(('bolt-chip', ':host')) {
  outline: none;
}

// Base Chip Styles
.c-bolt-chip {
  @include bolt-font-family(body);
  @include bolt-font-size(xsmall, tight);
  @include bolt-font-weight(regular);

  display: flex;
  align-items: center;
  color: $bolt-chip-color;
  text-decoration: none;
  border-radius: $bolt-chip-border-radius;
  background-color: $bolt-chip-background-color;
  will-change: background-color, transform;
  transition: background-color $bolt-chip-transition;
}

$bolt-chip-sizes: (
  xsmall,
  small,
  medium,
);

@each $size in $bolt-chip-sizes {
  .c-bolt-chip--size-#{$size} {
    @include bolt-padding(#{$size}, squished);
  }
}

.c-bolt-chip--link {
  color: $bolt-chip-color-link;

  &:hover,
  &:focus {
    background-color: $bolt-chip-background-color-hover;
  }

  &:active,
  &:focus:active {
    background-color: $bolt-chip-background-color-active;
  }
}


.c-bolt-chip__text,
.c-bolt-chip__icon {
  @include bolt-padding(0 $bolt-chip-item-size);

  display: inline;
}
