/* ==========================================================================
   #BOX SIZING
   ========================================================================== */

@include add-module($name: 'generic.box-sizing', $version: '1.0.0', $dependencies: ());

*,
*:before,
*:after {
  box-sizing: border-box;
}
