/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-settings-and-tools.scss';


// Custom element
@include bolt-custom-element('bolt-card', block, medium);

bolt-card {
  @include bolt-card-border-reset;
  @include bolt-card-content-conditions;

  position: relative;
  border-radius: $bolt-card-border-radius;
  border-width: $bolt-card-border-width;

  &[height='full'] {
    display: flex;
    height: 100%;
  }

  &[rounded]{
    @include bolt-border-radius(large);
  }
}


// Card container styles
.c-bolt-card {
  @include bolt-card-content-conditions;
  @include bolt-margin(0);
  @include bolt-padding(0);
  @include bolt-shadow('level-20', false, $bolt-card-shadow-color);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  height: 100%;
  border-radius: $bolt-card-border-radius;

  // Non-themed card color settings.
  // Note: when a card is themed, the `t-bolt-` class will define the color and background-color, these settings won't be loaded.
  &:not([class*='t-bolt']) {
    color: bolt-theme(text);
    background-color: bolt-theme(
      (
        xdark: background 0.85,
        dark: background 0.85,
        light: secondary, // [Mai] This is not displaying correctly when JS is on.
        xlight: background 0.85,
      )
    );
    background-image:
      linear-gradient(
        to bottom,
        rgba(bolt-color(white), 0.05),
        rgba(bolt-color(white), 0.05)
      );
  }
}

.c-bolt-card--rounded {
  @include bolt-border-radius(large);
}

.c-bolt-card--raised {
  transition: transform $bolt-transition;

  &:before {
    @include bolt-shadow('level-30', false, $bolt-card-shadow-color);
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: $bolt-card-border-radius;
    transition: opacity $bolt-transition;
  }

  &:hover,
  &:focus-within {
    transform: translate3d(0, -1px, 0);

    &:before {
      opacity: 1;
    }
  }

  &:active {
    transform: translate3d(0, 0, 0);
  }
}

// Old card footer

.c-bolt-card__footer {
  @include bolt-card-border-reset;

  display: block;
  border-top-width: $bolt-card-border-width;
}
