<div class="c-bolt-background">
  <div class="c-bolt-background__item">
    <img class="c-bolt-background__image" src="https://www.fillmurray.com/1600/900" alt="Bill">
  </div>
  <div class="c-bolt-background__overlay"></div>
</div>
