<div class="c-bolt-background">
  <div class="c-bolt-background__item">
    <img class="c-bolt-background__image" src="https://www.pega.com/sites/pega.com/files/styles/max_width_2560/public/ind-government-hero-img.jpg" alt="Hero">
  </div>
  <div class="c-bolt-background__overlay c-bolt-background__overlay--solid c-bolt-background__overlay--heavy"></div>
</div>
