<p>Demo of server-side rendering a vanilla <code>&lt;bolt-button&gt;</code> web component. This example will use Shadow DOM when the client-side rendering kicks in (if the browser supports it).</p>

{% filter bolt_ssr %}
  <bolt-button>
    SSR via pure web component!
    <bolt-icon name="chevron-right" slot="after"></bolt-icon>
  </bolt-button>
{% endfilter %}