.sg-breakpoints {
  overflow: hidden;
  position: relative;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .breakpoints {
    > li {
      position: absolute;
      border-left: solid 3px hsl(0, 0%, 35%);
      height: 100%;
      //      > .icon--arrow--right-medium {
      //        font-size: 18px;
      //        margin-top: 100px;
      //      }
      > .label {
        //        @include transform(rotate(90deg));
        //        @include transform-origin(bottom left);
        display: block;
        //        position: absolute;
        //        bottom: 20px;
        background: hsl(0, 0%, 35%);
        padding: 3px;
        color: white;
      }
      &:hover {
        // stylelint-disable max-nesting-depth, selector-max-specificity
        border-left-color: hsla(0, 0%, 35%, 0.3);
        > .label {
          opacity: 0;
        }
        // stylelint-enable max-nesting-depth, selector-max-specificity
      }
    }
  }
  .device_widths {
    padding-top: 20px;
    > li {
      border-bottom: solid 3px hsl(0, 0%, 80%);
      text-align: right;
      margin-bottom: 15px;
      padding-right: 15px;
      border-right: solid 3px hsl(0, 0%, 80%);
    }
  }
}