.pega-editor-ui {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 30vh;
  display: flex;

  &__slot {
    overflow: scroll;
    border-right: 3px solid rgba(0, 0, 0, 0.1);

    &:last-child {
      border-right: 0;
    }

    &:empty {
      display: none;
    }

    &--buttons {
      width: 75px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    // &--layers {
    //   width: 15%;
    // }

    &--blocks {
      flex-basis: 70%;
      flex: 1 0;
    }

    &--traits {
      width: 15%;

    }
  }
}

.gjs-pega-editor-panels-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  // justify-content: space-around;

  >.gjs-pega-editor-panels-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.site {
  max-width: 1000px;
  margin: 0 auto;
}

.box {
  background-color: #ccc;
  height: 350px;
  width: 100%;
}

.space {
  padding: 5px;
  border: dotted 1px #ccc;

  &__panel {
    &--top {
      padding: 0;
      width: 100%;
      display: flex;
      position: initial;
      justify-content: space-between;
    }
  }

  &__actions {
    &--basic {
      position: initial;
    }
  }

  &__editor {
    // flex-grow: 1;
    // background-image: linear-gradient(45deg, rgb(230, 230, 230) 25%, transparent 25%), linear-gradient(-45deg, rgb(230, 230, 230) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(230, 230, 230) 75%), linear-gradient(-45deg, transparent 75%, rgb(230, 230, 230) 75%);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;

    &-canvas {
      flex-grow: 1;

      &-inner {}
    }

    &__panel {
      flex-basis: 230px;
      position: relative;
      overflow-y: auto;

      text-align: left;
    }
  }

  &__blocks {}
}

// .gjs-cv-canvas {
//   top: 0;
//   width: 100%;
//   height: 100%;
// }

// .gjs-block {
//   width: auto;
//   height: auto;
//   min-height: auto;
// }

// .space__editor {}

// .editor-canvas {}

// .panel__right {
//   flex-basis: 230px;
//   position: relative;
//   overflow-y: auto;
// }

// /* Let's highlight canvas boundaries */
// #gjs {
//   border: 3px solid #444;
// }

// /* Reset some default styling */
// .gjs-cv-canvas {
//   top: 0;
//   width: 100%;
//   height: 100%;
// }

// Needed to properly style block buttons
.gjs-block.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

// .u-row {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .panel__switcher {
//   position: initial;
// }

// .editor-row {
//   display: flex;
//   justify-content: flex-start;
//   align-items: stretch;
//   flex-wrap: nowrap;
//   height: 300px;
// }

// .editor-canvas {
//   flex-grow: 1;
// }

.space__editor__panel.space__editor__panel {
  flex-basis: 230px;
  position: relative;
  overflow-y: auto;
}

// .panel__top {
//   padding: 0;
//   width: 100%;
//   display: flex;
//   position: initial;
//   justify-content: center;
//   justify-content: space-between;
// }

// .panel__basic-actions {
//   position: initial;
// }

// .panel__right {
//   //width: 100%;
// }

///////!!
// Shame code, remove this before production
///////!!
bolt-band {
  height: unset;
}
