/* ==========================================================================
   #UI-LIST OBJECT
   ========================================================================== */

/**
 * The UI list object creates blocky list items with a separator between each
 * item
 */
$bolt-ui-list-padding: (small 0) !default;
$bolt-ui-list-border-width: 2px !default;
$bolt-ui-list-border-style: solid !default;
// $ui-list-border-color: palette(gray, lighter) !default;
$bolt-ui-list-border-color: var(--bolt-ui-border-color, currentColor);

.o-ui-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-ui-list__item {
  @include padding($bolt-ui-list-padding);
  border-bottom-color: $bolt-ui-list-border-color;
  border-bottom-style: $bolt-ui-list-border-style;

  &:not(:last-child) {
    border-bottom-width: $bolt-ui-list-border-width;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.o-ui-list--borderless {
  --bolt-ui-border-color: transparent;
}
