/* ------------------------------------ *\
  TOOLS - FONT SIZE
\* ------------------------------------ */

////
/// @group Tools: Typography
/// @author Mike Mai
////

@import '@bolt/tools-sassy-maps'; // required so `map-get-deep` works
@import '@bolt/settings-font-size';




/// This returns the font-size and relevant line-height for a specific element.
///
/// @param {string} $size
///   Defines the size of the text: xsmall, small, base, medium, large, xlarge, or xxlarge.
///
/// @param {string} $leading
///   Defines the line-height of the text: regular or tight.
///
@mixin font-size($size, $leading: regular) {
  $font-size: map-get-deep($font-sizes, 'font-sizes', $size, 'font-size');
  font-size: $font-size;

  @if ($leading != '' and  $leading != null){
    @if (type-of($leading) == number){
      $leading: $leading;
    } @elseif (type-of($leading) == string) {
      $leading: map-get-deep($font-sizes, 'font-sizes', $size, 'line-height', $leading);
    }
    line-height: $leading;
  }
}
