/**
  * @define o-bolt-wrapper
  */

$bolt-wrapper--max-width: bolt-breakpoint(xxlarge) !default;

.o-bolt-wrapper {
  @include bolt-padding-left(medium);
  @include bolt-padding-right(medium);
  @include bolt-margin-left(auto);
  @include bolt-margin-right(auto);
  display: block;

  @include bolt-mq(medium) {
    @include bolt-padding-left(large);
    @include bolt-padding-right(large);
  }
}

// Default wrapper component used virtually everywhere
.o-bolt-wrapper,
.o-bolt-wrapper--xxlarge {
  max-width: $bolt-wrapper--max-width;
}


// Used for handling ideal content line length
.o-bolt-wrapper--medium {
  max-width: bolt-breakpoint(medium);
  padding: 0;
}

// @TODO: make mixin for bands + wrappers
// .o-bolt-wrapper--full {
//   padding-left: 0;
//   padding-right: 0;
// }

// Temp hack if wrapper inside a wrapper
// .o-bolt-wrapper .o-bolt-wrapper {
//   padding: 0;
// }
