{% grid "o-bolt-grid--flex o-bolt-grid--center" %}
  {% cell %}
    <div class="u-text-align-center">
      {% include "@bolt-components-icon/icon.twig" with {
        name: "chevron-down",
        background: "circle",
        size: "large",
      } only %}
    </div>
  {% endcell %}
{% endgrid %}