/**
  * @define c-bolt-band
  */

@mixin bolt-full-bleed() {
  width: 100%; //fallback if vw not supported.
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.c-bolt-band {
  @include bolt-padding-top(large);
  @include bolt-padding-bottom(large);
  display: block;
}

.c-bolt-band--large {
  @include bolt-padding-top(xlarge);
  @include bolt-padding-bottom(xlarge);
}

.c-bolt-band--small {
  @include bolt-padding-top(medium);
  @include bolt-padding-bottom(medium);
}

.c-bolt-band--full {
  @include bolt-full-bleed;
}
