{% embed "@bolt-components-card-replacement/card-replacement.twig" with {
  horizontal: true,
  theme: "xlight",
  link_url: cardUrl,
  cardGradient: cardGradient,
  gradientStart: gradientStart,
  gradientMiddle: gradientMiddle,
  gradientEnd: gradientEnd,
  cardIcon: cardIcon,
  cardSubtitle: cardSubtitle,
  cardTitle: cardTitle,
  cardMetaItems: cardMetaItems,
  cardDescription: cardDescription,
} only %}
  {% block media %}
    {% include "@bolt-academy/_icon-banner.twig" with {
      cardGradient: cardGradient,
      gradientStart: gradientStart,
      gradientMiddle: gradientMiddle,
      gradientEnd: gradientEnd,
      cardIcon: cardIcon,
      horizontal: true
    } only %}
  {% endblock %}

  {% block body %}
    {% set leftContent %}
      {% set cardTextContent %}
        {% if cardSubtitle %}
          {% include "@bolt-components-headline/eyebrow.twig" with {
            text: cardSubtitle,
            weight: "semibold"
          } only %}
        {% endif %}

        {% if cardTitle %}
          <h2>{{ cardTitle }}</h2>
        {% endif %}
      {% endset %}

      {% include "@bolt-components-stack/stack.twig" with {
        content: cardTextContent,
        spacing: "xsmall"
      } only %}

      {% if cardMetaItems %}
        {% set cardMetaContent %}
          {% include "@bolt-components-list/list.twig" with {
            display: "inline",
            separator: "solid",
            tag: "ul",
            items: cardMetaItems
          } only %}
        {% endset %}

        {% include "@bolt-components-stack/stack.twig" with {
          content: cardMetaContent,
          spacing: "xsmall"
        } only %}
      {% endif %}
    {% endset %}

    {% set rightContent %}
      {% if cardDescription %}
        {% include "@bolt-components-headline/text.twig" with {
          text: cardDescription,
          size: "small",
          attributes: {
            class: [
              "u-bolt-padding-top-xsmall@small",
              "u-bolt-padding-bottom-xsmall@small",
            ]
          }
        } only %}
      {% endif %}
    {% endset %}

    {% include "@bolt-components-list/list.twig" with {
      display: "inline@small",
      separator: "solid",
      spacing: "small",
      attributes: {
        class: 'o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--border'
      },
      items: [
        {
          content: leftContent,
          attributes: {
            class: 'u-bolt-width-12/12 u-bolt-width-6/12@small'
          }
        },
        {
          content: rightContent,
          attributes: {
            class: 'u-bolt-width-12/12 u-bolt-width-6/12@small'
          }
        },
      ]
    } only %}
  {% endblock %}

{% endembed %}
