{% set schema = bolt.data.components["@bolt-components-tabs"].schema %}

{% set tab_content_1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 1",
      size: "large",
    } only %}
{% endset %}
{% set tab_content_2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 2",
      size: "large",
    } only %}
{% endset %}
{% set tab_content_3 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 3",
      size: "large",
    } only %}
{% endset %}

{% for spacing in schema.properties.spacing.enum %}
  <bolt-text headline font-size="large">Spacing: <code>{{ spacing }}</code></bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-medium">
    {% include "@bolt-components-tabs/tabs.twig" with {
      spacing: spacing,
      inset: true,
      panels: [
        {
          label: "Tab label 1",
          content: tab_content_1,
        },
        {
          label: "Tab label 2",
          content: tab_content_2,
        },
        {
          label: "Tab label 3",
          content: tab_content_3,
        }
      ]
    } only %}
  </div>
{% endfor %}
