{% set schema = bolt.data.components["@bolt-components-tabs"].schema %}

{% set tab_content_1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Regular spacing panel 1",
      size: "medium",
    } only %}
{% endset %}
{% set tab_content_2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Regular spacing panel 2",
      size: "medium",
    } only %}
{% endset %}
{% set tab_content_3 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Regular spacing panel 3",
      size: "medium",
    } only %}
{% endset %}
{% set tab_content_inset_1 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 1",
      size: "medium",
    } only %}
{% endset %}
{% set tab_content_inset_2 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 2",
      size: "medium",
    } only %}
{% endset %}
{% set tab_content_inset_3 %}
  {% include "@bolt-components-placeholder/placeholder.twig" with {
      text: "Inset spacing panel 3",
      size: "medium",
    } only %}
{% endset %}

<bolt-text>
  By setting the <code>panel_spacing</code> or <code>label_spacing</code> prop on a Tab Panel, the default spacing value inherited from the parent Tabs can be optionally overridden.
</bolt-text>

{% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}

  {% cell "u-bolt-width-12/12" %}
    <bolt-text headline>Basic usage: <code>spacing</code></bolt-text>
    <bolt-text>
      Using <code>spacing</code> will uniformly set the same spacing on both the label and the panel.
    </bolt-text>
  {% endcell %}

  {% cell "u-bolt-width-12/12" %}
    <bolt-text headline font-size="large">Spacing: <code>none</code></bolt-text>
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
    {% include "@bolt-components-tabs/tabs.twig" with {
      panels: [
        {
          label: "Tab label 1",
          content: tab_content_1,
        },
        {
          label: "Tab label 2",
          content: tab_content_2,
        },
        {
          label: "Tab label 3",
          content: tab_content_3,
        }
      ]
    } only %}
  {% endcell %}

  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
    {# Empty white space #}
  {% endcell %}

  {% cell "u-bolt-width-12/12" %}
    <bolt-text headline>Advanced usage: <code>panel_spacing</code></bolt-text>
    <bolt-text>
      Using <code>panel_spacing</code> will only set the spacing on the panel. This should only be used if you don't want the same spacing on both the label and the panel.
    </bolt-text>
  {% endcell %}

  {% for spacing in schema.properties.spacing.enum %}
    {% cell "u-bolt-width-12/12" %}
      <bolt-text headline font-size="large">Spacing: <code>{{ spacing }}</code></bolt-text>
    {% endcell %}

    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
      <div class="t-bolt-light u-bolt-padding-small">
          {% include "@bolt-components-tabs/tabs.twig" with {
            panels: [
              {
                label: "Tab label 1",
                content: tab_content_1,
                panel_spacing: spacing,
              },
              {
                label: "Tab label 2",
                content: tab_content_2,
                panel_spacing: spacing,
              },
              {
                label: "Tab label 3",
                content: tab_content_3,
                panel_spacing: spacing,
              }
            ]
          } only %}
      </div>
    {% endcell %}
    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
      <div class="t-bolt-light u-bolt-padding-small">
          {% include "@bolt-components-tabs/tabs.twig" with {
            inset: true,
            panels: [
              {
                label: "Tab label 1",
                content: tab_content_inset_1,
                panel_spacing: spacing,
              },
              {
                label: "Tab label 2",
                content: tab_content_inset_2,
                panel_spacing: spacing,
              },
              {
                label: "Tab label 3",
                content: tab_content_inset_3,
                panel_spacing: spacing,
              }
            ]
          } only %}
      </div>
    {% endcell %}
  {% endfor %}

  {% cell "u-bolt-width-12/12" %}
    <bolt-text headline font-size="xlarge">Advanced usage: <code>label_spacing</code></bolt-text>
    <bolt-text>
      Using <code>label_spacing</code> will only set the spacing on the label. This should only be used if you don't want the same spacing on both the label and the panel.
    </bolt-text>
  {% endcell %}

  {% for spacing in schema.properties.spacing.enum %}
    {% cell "u-bolt-width-12/12" %}
      <bolt-text headline font-size="large">Spacing: <code>{{ spacing }}</code></bolt-text>
    {% endcell %}

    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
      <div class="t-bolt-light u-bolt-padding-small">
          {% include "@bolt-components-tabs/tabs.twig" with {
            panels: [
              {
                label: "Tab label 1",
                content: tab_content_1,
                label_spacing: spacing,
              },
              {
                label: "Tab label 2",
                content: tab_content_2,
                label_spacing: spacing,
              },
              {
                label: "Tab label 3",
                content: tab_content_3,
                label_spacing: spacing,
              }
            ]
          } only %}
      </div>
    {% endcell %}
    {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
      <div class="t-bolt-light u-bolt-padding-small">
          {% include "@bolt-components-tabs/tabs.twig" with {
            inset: true,
            panels: [
              {
                label: "Tab label 1",
                content: tab_content_inset_1,
                label_spacing: spacing,
              },
              {
                label: "Tab label 2",
                content: tab_content_inset_2,
                label_spacing: spacing,
              },
              {
                label: "Tab label 3",
                content: tab_content_inset_3,
                label_spacing: spacing,
              }
            ]
          } only %}
      </div>
    {% endcell %}
  {% endfor %}

{% endgrid %}
