
{% set title %}
  {% include "@bolt-components-headline/text.twig" with {
    size: "xsmall",
    text: text,
    weight: "semibold",
    attributes: {
      class: "u-bolt-margin-bottom-none",
    }
  } only %}
{% endset %}

{% set time %}
<div class="u-bolt-flex #{viewed ? 'u-bolt-opacity-20' : ''}">
  {% include "@bolt-components-headline/text.twig" with {
    size: "xsmall",
    weight: "bold",
    text: duration,
    attributes: {
      class: [
        "u-bolt-margin-bottom-none",
      ]
    }
  } only %}
  {% if viewed %}
    {% include "@bolt-elements-icon/icon.twig" with {
      name: "eye",
      size: "medium",
      attributes: {
        class: [
          "u-bolt-padding-left-xsmall",
          "u-bolt-negative-margin-right-small"
        ]
      }
    } only %}
  {% endif %}
  </div>
{% endset %}
{% include '@bolt-components-list/list.twig' with {
  display: 'inline',
  spacing: 'xsmall',
  align: 'justify',
  valign: 'center',
  items: [
    title,
    time,
  ]
} only %}


