/* ==========================================================================
   #BOOKMARK
   ========================================================================== */

.c-bookmark {
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background: palette(blue);
  width: 2rem;
  height: 3rem;
  position: relative;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;

}

.c-bookmark__wrapper {
  width: 90%;
  height: 120%;
  display: block;
  margin: auto;
  z-index: 100;
  position: relative;
  overflow: hidden;
}

.c-bookmark__text {
  color: palette(white);
  @include font-weight(bold);
  display: block;
  text-align: center;
  top: 50%;
  margin-top: -0.6rem;
  transform: rotate(-90deg);
  position: relative;
  font-style: normal;
  font-size: 14px;
  :hover {
    text-decoration: none;
  }
}

.c-bookmark:before {
  content: '';
  position: absolute;
  bottom: -1.4rem;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2rem solid palette(blue);
  border-right: 2rem solid transparent;
}

.c-bookmark:after {
  content: '';
  position: absolute;
  bottom: -1.4rem;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2rem solid palette(blue);
  border-left: 2rem solid transparent;
}
