/* ==========================================================================
   #SHARE
   ========================================================================== */

.c-share {
  display: inline-block;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  vertical-align: middle;
  margin-bottom: $spacing-unit / 2;
}


.c-share__header {
  @include font-size(small);
  margin-right: $spacing-unit / 2;
  margin-bottom: 0;
  color: palette(gray);
}

.c-share__header,
.c-share__items {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.c-share__link {
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.c-share__item {
  margin-right: $spacing-unit-small;

  .c-share--large  & {
    margin-right: $spacing-unit-large;
  }

  &:last-child {
    margin-right: 0;
  }
}
