/* ==========================================================================
   #FOOTER LIST
   ========================================================================== */

.c-footer-list {
  margin-bottom: $spacing-unit;

  &:last-child {
    margin-bottom: 0;
  }
}


.c-footer-list__item {
  margin-right: $spacing-unit-small;

  &:last-child {
    margin-right: 0;
  }
}
