/* ==========================================================================
   #PAGE FOOTER
   ========================================================================== */

.c-page-footer {
  padding: $spacing-unit 0;
  background: palette(white);
  border-top: 1px solid palette(gray, lighter);
  margin-top: auto; // Required for sticky footer
  background-color: palette(gray, lightest);
  @include font-size(small);

  a {
    color: palette(gray, darkest);
  }
}
