/* ==========================================================================
   #TEXT TREATMENTS
   ========================================================================== */

.c-text--loud {
  @include font-weight(bold);
}

.c-text--soft {
  color: palette(gray, dark);
}

.c-text--muted {
  color: rgba(palette(black), 0.5);
}

.c-text--uppercase {
  text-transform: uppercase;
}


.c-text--light {
  color: palette(white);
}

.c-text--dark {
  color: palette(black);
}


.c-text--quiet {
  color: palette(gray);
}
