/* ==========================================================================
   #BLOCKQUOTE
   ========================================================================== */

$blockquote-quote-width:   0.35em !default;
$blockquote-quote-spacing: 0.2em !default;

.c-blockquote {
  @include font-size(base, 1.3);
  color: palette(black);
  font-style: italic;
  border: 0; //Temporary override until bootstrap is fully removed. TODO. Remove when bootstrap <blockquote> and <figure> styles are gone. 
  position: relative; //Needed since the quote style is position absolute.
  padding-right: $spacing-unit;
  padding-left: 0;

  margin-left: $spacing-unit;
  margin-bottom: $spacing-unit-large;
}

.c-blockquote--muted {
  color: $text-muted;
}

.c-blockquote--featured {
  padding-left: $spacing-unit-small;
  @include font-size(large, 2);
}


.c-blockquote__text:before,
.c-blockquote__text:after {
  font-size: 1.5em; //1.5 times the size of the parent font size.
  font-style: normal;
  display: inline-block;
  width: $blockquote-quote-width;
  vertical-align: top;
}

.c-blockquote__text:before {
  content: '“';
  margin-left: -($blockquote-quote-width + $blockquote-quote-spacing);
  margin-right: $blockquote-quote-spacing;
}

.c-blockquote__text:after {
  content: '”';
  margin-right: -($blockquote-quote-width + $blockquote-quote-spacing);
  margin-left: $blockquote-quote-spacing;
  text-align: right;
}


.c-quote-credit {
  color: palette(gray);
  margin-top: 0.5rem;
}

// .c-blockquote--featured {
//   @include font-size(xlarge);
//   border-left: solid $spacing-unit-small palette(blue);
//   color: palette(blue);
//   margin: ($spacing-unit * 1.5) 0;
//   padding-left: $spacing-unit-large;
// }
