/* ==========================================================================
   #LINK
   ========================================================================== */

.c-link__icon {
  margin-left: auto;
  width: 1.5em;
  height: 1.5em;
  flex: 0 0 auto; //Don't try to grow or shrink if used inside of a flex element.
}
