/* ==========================================================================
   #FEATURED CLIENT
   ========================================================================== */

.c-featured-client {
  padding: $spacing-unit;
  text-align: center;
}

.c-featured-client__logo {
  // max-height: $spacing-unit * 2;
  display: inline-block;
  height: 100%;
  width: auto;

  filter: url('data:image/svg+xml;utf8,&lt;svg xmlns=\"http://www.w3.org/2000/svg\"&gt;&lt;filter id=\"grayscale\"&gt;&lt;feColorMatrix type=\"matrix\" values=\"0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\"/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale'); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.8; //Softens up grayscale due to background color.
}
