/* ==========================================================================
   #CHOICES.JS OVERRIDES
   ========================================================================== */

// Choices Custom Select Overrides

// Styles form
.c-custom-select__inner {
  padding: $spacing-unit;
  border: 1px solid palette(gray, lighter);
  background-color: palette(gray, lightest);
}

// Adjusts padding
.c-custom-select[data-type*='select-one'] .c-custom-select__inner {
  padding-bottom: 1rem;
}

// Adds outline
.is-open .c-custom-select__inner, .is-focused .c-custom-select__inner {
  outline-offset: -3px;
  outline: 3px solid palette(blue);
}

.c-select {
  margin-bottom: $spacing-unit;
}
