/* ==========================================================================
   #ICONS
   ========================================================================== */

// Versioning
$name: 'components.icons';
$version: '1.0.0';
$dependencies: (
  ('tools.color-palette', '1.0.0'),
);
@include versioning-add( $name, $version, $dependencies );

.c-icon {
  display: inline-block;
  vertical-align: middle;
  height: $spacing-unit * 1.5;
  width: $spacing-unit * 1.5;
}

.c-icon--large {
  height: $spacing-unit * 4;
  width: $spacing-unit * 4;
}

.c-icon--small {
  height: $spacing-unit;
  width: $spacing-unit;
}

.c-icon--social {
  color: palette(blue);
}


.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  @include font-family('glyphicon');
  @include font-weight(normal);
  font-style: normal;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
