/* ==========================================================================
   #CAROUSEL
   ========================================================================== */

.swiper-container {
  width: 100%;
  margin-bottom: $spacing-unit * 2;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  flex-direction: column; //Equal height columns by default.
  justify-content: center;
  align-items: center;
  height: auto;
  flex-grow: 1;
}

.swiper-wrapper,
.swiper-container {
  height: auto;
}
