/* ==========================================================================
   #MENU
   ========================================================================== */

.c-menu__link {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  &.c-menu__link--active {
    @include font-weight(bold);
    background-color: palette(blue);
    color: palette(white);
  }
}

.c-menu__link--full {
  padding: $spacing-unit;
  display: block;
}

.c-menu__link--full:hover {
  background-color: palette(gray, lightest-hover);
}

.c-menu__link--active:hover {
  background-color: palette(blue, dark);
}
