{% include "@bolt-components-blockquote/blockquote.twig" with {
  size: "xxlarge",
  weight: "bold",
  border: "none",
  "author": {
    "name": "Oliver Zeeb",
    "title": "Team Lead, Application Development <br>W&W-Gruppe"
  },
  "content": "<p>Pega is one of the key technologies that we are using to rebuild our application landscape.</p>"
} %}