/* ------------------------------------ *\
   Block List
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-block-list', block, medium);

// Styles
.c-bolt-block-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-bolt-block-list__item {
  margin: var(--bolt-spacing-y-medium) var(--bolt-spacing-x-medium);
  padding: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
