@import '@bolt/core-v3.x';

// Local Variables
$bolt-blockquote-border-width: 4px;
$bolt-blockquote-border-style: $bolt-border-style;
$bolt-blockquote-border-color: bolt-color(teal);
$bolt-blockquote-footer-line-height: $bolt-line-height--tight;
$bolt-blockquote-image-border-width: $bolt-border-width;
$bolt-blockquote-image-border-style: $bolt-border-style;
$bolt-blockquote-image-border-color: rgba(bolt-color(gray), 0.2);
$bolt-blockquote-image-size: 4rem;

@mixin bolt-lang-specific-quotes($type: 'open') {
  content: map-get-deep($bolt-quotation-marks, 'en', $type);
  [lang='de'] & {
    content: map-get-deep($bolt-quotation-marks, 'de', $type);
  }
  [lang='fr'] & {
    content: map-get-deep($bolt-quotation-marks, 'fr', $type);
  }
  [lang='ja'] & {
    content: map-get-deep($bolt-quotation-marks, 'ja', $type);
  }
}

// Register Custom Block Element
@include bolt-custom-element('bolt-blockquote', block, medium);

// Blockquote container
.c-bolt-blockquote {
  @include bolt-margin(0);

  &:before,
  &:after {
    content: '';
    width: 100%;
    max-width: 300px;
    height: $bolt-blockquote-border-width;
    vertical-align: top;
    background-color: $bolt-blockquote-border-color;
  }

  &:before {
    @include bolt-margin-bottom(medium);
  }

  &:after {
    @include bolt-margin-top(medium);
  }
}

// Logo
.c-bolt-blockquote__logo {
  @include bolt-margin-bottom(small);
  display: block;
}

// Quotation
.c-bolt-blockquote__quote {
  @include bolt-margin-bottom(medium);
  display: block;
  position: relative;
  max-width: 44rem;
  color: bolt-theme(headline);

  p:not([slot]):first-child:before,
  p:not([slot]):last-child:after {
    font-family: 'Georgia', serif; // TODO: Replace with Noto Serif when it is added.
  }

  p:not([slot]):first-child:before {
    @include bolt-lang-specific-quotes('open');
  }

  p:not([slot]):last-child:after {
    @include bolt-lang-specific-quotes('close');
  }

  ::slotted(p:first-child),
  ::slotted(p.is-first-child),
  ::slotted(p:last-child),
  ::slotted(p.is-last-child) {
    &:before,
    &:after {
      font-family: 'Georgia', serif; // TODO: Replace with Noto Serif when it is added.
    }
  }

  ::slotted(p:first-child),
  ::slotted(p.is-first-child) {
    &:before {
      @include bolt-lang-specific-quotes('open');
    }
  }

  ::slotted(p:last-child),
  ::slotted(p.is-last-child) {
    &:after {
      @include bolt-lang-specific-quotes('close');
    }
  }
}

// Attribution
.c-bolt-blockquote__image {
  @include bolt-margin-bottom(small);
  display: inline-block;
  box-sizing: border-box;
  width: $bolt-blockquote-image-size;
  height: $bolt-blockquote-image-size;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 50%;
  border-width: $bolt-blockquote-image-border-width;
  border-style: $bolt-blockquote-image-border-style;
  border-color: $bolt-blockquote-image-border-color;

  > * {
    max-width: 100%;
  }
}

.c-bolt-blockquote__footer {
  color: bolt-theme(text);
  line-height: $bolt-blockquote-footer-line-height;
}

.c-bolt-blockquote__footer-item {
  display: block;

  &:last-child {
    @include bolt-margin-bottom(0);
  }
}

// Horizontal alignment of items inside
.c-bolt-blockquote--align-items-start {
  text-align: left;

  .c-bolt-blockquote__quote,
  .c-bolt-blockquote__logo > * {
    @include bolt-margin-right(auto);
    @include bolt-margin-left(0);
  }
}

.c-bolt-blockquote--align-items-center {
  text-align: center;

  .c-bolt-blockquote__quote,
  .c-bolt-blockquote__logo > * {
    @include bolt-margin-right(auto);
    @include bolt-margin-left(auto);
  }

  .c-bolt-blockquote__logo > *::slotted(*) {
    @include bolt-margin-right(auto);
    @include bolt-margin-left(auto);
  }
}

.c-bolt-blockquote--align-items-end {
  text-align: right;

  .c-bolt-blockquote__quote,
  .c-bolt-blockquote__logo > * {
    @include bolt-margin-right(0);
    @include bolt-margin-left(auto);
  }

  .c-bolt-blockquote__logo > *::slotted(*) {
    @include bolt-margin-right(0);
    @include bolt-margin-left(auto);
  }
}

// Border Options
.c-bolt-blockquote--bordered-vertical {
  @include bolt-padding(0 medium);
  border-style: $bolt-blockquote-border-style;
  border-color: $bolt-blockquote-border-color;
  border-color: var(
    --bolt-theme-blockquote-border,
    $bolt-blockquote-border-color
  );

  &:before,
  &:after {
    display: none;
  }

  &.c-bolt-blockquote--align-items-start {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: $bolt-blockquote-border-width;
  }

  &.c-bolt-blockquote--align-items-center {
    border-top-width: 0;
    border-right-width: $bolt-blockquote-border-width;
    border-bottom-width: 0;
    border-left-width: $bolt-blockquote-border-width;
  }

  &.c-bolt-blockquote--align-items-end {
    border-top-width: 0;
    border-right-width: $bolt-blockquote-border-width;
    border-bottom-width: 0;
    border-left-width: 0;
  }
}

.c-bolt-blockquote--bordered-horizontal {
  &:before,
  &:after {
    display: inline-block;
    display: inline-flex;
  }
}

.c-bolt-blockquote--borderless {
  &:before,
  &:after {
    display: none;
  }
}

// Full bleed. Text takes up full width of screen instead of hitting a max width
.c-bolt-blockquote--full {
  .c-bolt-blockquote__quote {
    max-width: 100%;
  }
}

// Indent options
.c-bolt-blockquote--indented {
  @include bolt-margin(0 medium);

  &.c-bolt-blockquote--align-items-start {
    @include bolt-margin-right(0);
  }

  &.c-bolt-blockquote--align-items-end {
    @include bolt-margin-left(0);
  }
}

// Perfecting the hanging quotation mark's position in all browsers.
.c-bolt-blockquote--align-items-start {
  .c-bolt-blockquote__quote {
    p:first-child:before {
      position: absolute;
      transform: translate3d(-110%, 0, 0);
    }

    ::slotted(p:first-child),
    ::slotted(p.is-first-child) {
      &:before {
        position: absolute;
        transform: translate3d(-110%, 0, 0);
      }
    }
  }
}

.c-bolt-blockquote--align-items-center {
  .c-bolt-blockquote__quote {
    p:first-child:before {
      @include bolt-padding(0 2px);
    }

    ::slotted(p:first-child),
    ::slotted(p.is-first-child) {
      &:before {
        @include bolt-padding(0 2px);
      }
    }
  }
}

.c-bolt-blockquote--align-items-end {
  .c-bolt-blockquote__quote {
    p:first-child:before {
      @include bolt-padding(0 2px);
    }

    ::slotted(p:first-child),
    ::slotted(p.is-first-child) {
      &:before {
        @include bolt-padding(0 2px);
      }
    }

    p:last-child:after {
      position: absolute;
      transform: translate3d(10%, 0, 0);
    }

    ::slotted(p:last-child),
    ::slotted(p.is-last-child) {
      &:after {
        position: absolute;
        transform: translate3d(10%, 0, 0);
      }
    }
  }
}

.c-bolt-blockquote--no-quotes {
  .c-bolt-blockquote__quote {
    p:before,
    p:after {
      display: none;
    }

    ::slotted(p):before,
    ::slotted(p):after {
      display: none;
    }
  }
}
