{% include '@pl/00-dialog-prerelease-docs.twig' %}

{% set schema = bolt.data.components['@bolt-components-dialog'].schema['dialog'] %}

{% set description %}
  The dialogs's coloring theme can be adjusted by the <code>theme</code> prop. The default is set to <code>xlight</code>.
{% endset %}

{% set demo %}
<bolt-list display="inline" spacing="small">
{% for theme in schema.properties.theme.enum %}
  <bolt-list-item>
    {% include '@bolt-elements-button/button.twig' with {
      content: '"' ~ theme ~ '" Theme',
      attributes: {
        type: 'button',
        'data-bolt-dialog-target': '#dialog-theme-' ~ loop.index0,
      }
    } only %}

    {% set header_content %}
      <h1>This is a dialog component.</h1>
    {% endset %}

    {% set body_content %}
      <p>This is a dialog component.</p>
    {% endset %}

    {% set footer_content %}
      <button type="button" class="e-bolt-button">Button</button>
    {% endset %}

    {% set content %}
      {% include '@bolt-components-dialog/dialog-header.twig' with {
        content: header_content,
      } only %}
      {% include '@bolt-components-dialog/dialog-body.twig' with {
        content: body_content,
      } only %}
      {% include '@bolt-components-dialog/dialog-footer.twig' with {
        content: footer_content,
      } only %}
    {% endset %}

    {% include '@bolt-components-dialog/dialog.twig' with {
      content: content,
      theme: theme,
      attributes: {
        id: 'dialog-theme-' ~ loop.index0
      },
    } only %}
  </bolt-list-item>
{% endfor %}
</bolt-list>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  theme: 'dark',
  attributes: {
    id: 'dialog-theme-1'
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Theme',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
