{% set schema = bolt.data.components['@bolt-components-dialog'].schema['dialog'] %}

{% set description %}
  The dialog container's spacing can be adjusted by the <code>spacing</code> prop. The default is set to <code>medium</code>.
{% endset %}

{% set notes %}
{% endset %}

{% set demo %}
<bolt-list display="inline" spacing="small">
{% for spacing in schema.properties.spacing.enum %}
  <bolt-list-item>
    {% include '@bolt-elements-button/button.twig' with {
      content: spacing|title ~ ' Spacing',
      attributes: {
        type: 'button',
        'data-bolt-dialog-target': '#dialog-spacing-' ~ loop.index0,
      }
    } only %}

    {% set _header_content %}
    <h1>This is a dialog component.</h1>
    {% endset %}

    {% set _body_content %}
    <p>This is a dialog component.</p>
    {% endset %}

    {% set _footer_content %}
    <button type="button" class="e-bolt-button">Button</button>
    {% endset %}

    {% set _content %}
    {% include '@bolt-components-dialog/dialog-header.twig' with {
      content: _header_content,
    } only %}
    {% include '@bolt-components-dialog/dialog-body.twig' with {
      content: _body_content,
    } only %}
    {% include '@bolt-components-dialog/dialog-footer.twig' with {
      content: _footer_content,
    } only %}
    {% endset %}

    {% include '@bolt-components-dialog/dialog.twig' with {
      content: _content,
      spacing: spacing,
      attributes: {
        id: 'dialog-spacing-' ~ loop.index0
      },
    } only %}
  </bolt-list-item>
{% endfor %}
</bolt-list>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-dialog/dialog.twig' with {
  content: _content,
  spacing: 'large',
  attributes: {
    id: 'dialog-spacing-1'
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Spacing',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
