{% set description %}
A persistent dialog is useful when creating subscription based content. To create one use the  <code>persistent</code> property and make sure to add an element in the content to either redirect users or close the dialog some other way. When a dialog is persistent the default close button is not shown. The only way to close the dialog is triggering the close element.<br /><br />
Activate the dialog to see more instructions on setting up the twig template.
{% endset %}

{% set notes %}
You will need to add an item with the <code>data-dialog-close</code> attribute to close persistent dialogs, or provide a link to another page.
{% endset %}

{% set demo %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'Persistent Dialog',
  attributes: {
    type: 'button',
    'data-dialog-trigger': 'dialog-4',
  }
} only %}

{% set _content %}
  <h3>This is a dialog.</h3>
  <p>Esse qui aliqua cupidatat anim duis exercitation aliquip occaecat consectetur cupidatat. Labore nisi pariatur adipisicing minim enim amet consectetur voluptate occaecat ipsum dolore laboris et. Consequat non voluptate excepteur consequat pariatur Lorem est ea. Nisi enim elit quis dolore fugiat officia nulla.</p>
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Go to pega.com',
    attributes: {
      href: 'https://www.pega.com',
    }
  } only %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Close the dialog',
    hierarchy: 'secondary',
    attributes: {
      type: 'button',
      'data-dialog-close': '',
    }
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: _content,
  persistent: true,
  attributes: {
    id: 'dialog-4'
  },
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set _content %}
  ...
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Close the dialog',
    attributes: {
      type: 'button',
      'data-dialog-close': '',
    }
  } only %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Return to the dialog demo',
    hierarchy: 'secondary',
    attributes: {
      href: link['viewall-components-dialog']
    }
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: _content,
  persistent: true,
  ...
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Persistent Dialog',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup
} only %}
