{% set themes = [
  "white",
  "black",
  "gray-xlight",
  "navy-dark",
  "navy",
  "navy-light",
  "teal",
  "yellow",
  "orange",
  "pink",
  "wine",
  "berry",
  "violet",
] %}

{% set description %}
  A dialog can apply its own color theme that is independent of the page.
{% endset %}

{% set notes %}
  See the <a href="{{ link['visual-styles-theming-system'] }}" class="e-bolt-text-link">Theming System</a> page for all color themes.
{% endset %}

{% set demo %}
  <bolt-list display="inline" spacing="small">
    {% for theme in themes %}
      <bolt-list-item>
        {% include '@bolt-elements-button/button.twig' with {
          content: theme|title,
          attributes: {
            type: 'button',
            'data-bolt-dialog-target': '#dialog-theme-' ~ loop.index0,
          }
        } only %}

        {% set header_content %}
          {% include '@bolt-components-headline/headline.twig' with {
            text: 'This is a dialog',
            tag: 'h1',
          } only %}
        {% endset %}

        {% set footer_content %}
          {% include '@bolt-elements-button/button.twig' with {
            content: 'This button is in the footer',
            attributes: {
              type: 'button'
            }
          } only %}
        {% endset %}

        {% set content %}
          {% include '@bolt-components-dialog/dialog-header.twig' with {
            content: header_content,
          } only %}
          {% include '@bolt-components-dialog/dialog-body.twig' with {
            content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque repellendus facere optio error quia animi nulla excepturi quaerat fugiat quam labore necessitatibus architecto praesentium inventore adipisci, maxime natus ut eius.',
          } only %}
          {% include '@bolt-components-dialog/dialog-footer.twig' with {
            content: footer_content,
          } only %}
        {% endset %}

        {% include '@bolt-components-dialog/dialog.twig' with {
          content: content,
          attributes: {
            id: 'dialog-theme-' ~ loop.index0,
            class: 't-bolt-' ~ theme,
          },
        } only %}
      </bolt-list-item>
    {% endfor %}
  </bolt-list>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  attributes: {
    class: 't-bolt-navy',
    id: 'dialog-theme-1',
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Theme',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
