{% set description %}
    A description of the component and what it is used for.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>List out important information about this component and its usage.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'Persistent Dialog',
  attributes: {
    type: 'button',
    'data-dialog-trigger': 'dialog-5',
  }
} only %}

{% set _content %}
  <p>This is a dialog component.</p>
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Close Dialog Button',
    attributes: {
      type: 'button',
      'data-dialog-close': '',
    }
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: _content,
  persistent: true,
  attributes: {
    id: 'dialog-5'
  },
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set _content %}
  ...
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Close Dialog Button',
    attributes: {
      type: 'button',
      'data-dialog-close': '',
    }
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: _content,
  persistent: true,
  ...
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Persistent Dialog',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup
} only %}
