

{% set description %}
  Use the Figure component to add an image with a caption to a Dialog. Set the spacing prop accordingly. Here we set spacing to <code>none</code> and add spacing to the figure caption itself.
{% endset %}

{% set notes %}
{% endset %}

{% set demo %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'Image Dialog',
  attributes: {
    type: 'button',
    'data-bolt-dialog-target': '#dialog-media-1',
  }
} only %}

{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/tout-4x3-climber.jpg',
      alt: 'Image description.',
      loading: 'lazy',
      width: 640,
      height: 480,
    }
  } only %}
{% endset %}

{% set caption %}
  <div class="u-bolt-padding-top-xsmall u-bolt-padding-right-small u-bolt-padding-bottom-small u-bolt-padding-left-small">
    {% include '@bolt-components-headline/text.twig' with {
      text: 'This is the caption for the image.',
      size: 'small',
    } only %}
  </div>
{% endset %}

{% set body_content %}
  {% include '@bolt-components-figure/figure.twig' with {
    media: {
      content: image
    },
    caption: caption,
  } only %}
{% endset %}

{% set content %}
  {% include '@bolt-components-dialog/dialog-header.twig' only %}
  {% include '@bolt-components-dialog/dialog-body.twig' with {
    content: body_content,
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  spacing: 'none',
  width: 'auto',
  attributes: {
    id: 'dialog-media-1'
  },
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/tout-4x3-climber.jpg',
      alt: 'Image description.',
      loading: 'lazy',
      width: 640,
      height: 480,
    }
  } only %}
{% endset %}

{% set caption %}
  <div class="u-bolt-padding-top-xsmall u-bolt-padding-right-small u-bolt-padding-bottom-small u-bolt-padding-left-small">
    {% include '@bolt-components-headline/text.twig' with {
      text: 'This is the caption for the image.',
      size: 'small',
    } only %}
  </div>
{% endset %}

{% set body_content %}
  {% include '@bolt-components-figure/figure.twig' with {
    media: {
      content: image
    },
    caption: caption,
  } only %}
{% endset %}

{% set content %}
  {% include '@bolt-components-dialog/dialog-header.twig' only %}
  {% include '@bolt-components-dialog/dialog-body.twig' with {
    content: body_content,
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  spacing: 'none',
  width: 'auto',
  attributes: {
    id: 'dialog-media-1'
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Image and Caption',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
