{% set description %}
  <p>To automatically play a Brightcove video when a dialog opens, you must add some specific data-attributes. These attributes delay the video initialization. When these attributes are present, the video will initialize when the dialog opens, automatically begin playing, and pause when the dialog closes.</p>
  <p>Those attributes are:</p>
  <ul>
    <li><strong>data-delayed-account</strong> (replaces <em>data-account</em>)</li>
    <li><strong>data-delayed-player</strong/> (replaces <em>data-player</em>)</li>
    <li><strong>data-delayed-video-id</strong/> (replaces <em>data-video-id</em>)</li>
    <li><strong>data-video-delayed</strong/> (flag to delay the initialization)</li>
  </ul>
{% endset %}

{% set notes %}
{% endset %}

{% set demo %}
{% include '@bolt-elements-button/button.twig' with {
  content: 'Video Dialog',
  attributes: {
    type: 'button',
    'data-bolt-dialog-target': '#dialog-media-1',
  }
} only %}

{% set video %}
  <video-js
    data-delayed-account="1900410236"
    data-delayed-player="O3FkeBiaDz"
    data-delayed-video-id="4892122320001"
    data-video-delayed
    data-embed="default"
    controls
    data-media-title
    data-media-duration
    class="c-base-video js-bolt-video--demo-1"></video-js>
{% endset %}

{% set body_content %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video,
    ratio: 'wide'
  } only %}
{% endset %}

{% set content %}
  {% include '@bolt-components-dialog/dialog-header.twig' only %}
  {% include '@bolt-components-dialog/dialog-body.twig' with {
    content: body_content,
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  spacing: 'none',
  width: 'auto',
  attributes: {
    id: 'dialog-media-1'
  },
} only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set video %}
  <video-js
    data-delayed-account="1900410236"
    data-delayed-player="O3FkeBiaDz"
    data-delayed-video-id="4892122320001"
    data-video-delayed
    data-embed="default"
    controls
    data-media-title
    data-media-duration
    class="c-base-video js-bolt-video--demo-1"></video-js>
{% endset %}

{% set body_content %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video,
    ratio: 'wide'
  } only %}
{% endset %}

{% set content %}
  {% include '@bolt-components-dialog/dialog-header.twig' only %}
  {% include '@bolt-components-dialog/dialog-body.twig' with {
    content: body_content,
  } only %}
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  spacing: 'none',
  width: 'auto',
  attributes: {
    id: 'dialog-media-1'
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Video',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
