{% include '@pl/00-dialog-prerelease-docs.twig' %}

{% set description %}
  A form dialog is best suited for presenting a paywall, signup/login, or content restrictions.
{% endset %}

{% set notes %}
  You will need to wrap the content partials with a <code>form</code>, as seen in the demo.
{% endset %}

{% set demo %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Form Dialog',
    attributes: {
      type: 'button',
      'data-bolt-dialog-target': '#dialog-form-1',
    }
  } only %}

  {% set header_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Get the Report',
      size: 'xlarge'
    } only %}
    {% include '@bolt-components-headline/text.twig' with {
      text: '(all fields are required)',
      size: 'small'
    } only %}
  {% endset %}

  {% set body_content %}
    {% set form_children %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'First Name',
          displayType: 'floating',
          attributes: {
            for: 'first-name',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your first name',
            required: true,
            type: 'text',
            id: 'first-name',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Last Name',
          displayType: 'floating',
          attributes: {
            for: 'last-name',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your last name',
            required: true,
            type: 'text',
            id: 'last-name',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Email Address',
          displayType: 'floating',
          attributes: {
            for: 'email-address',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your email',
            required: true,
            type: 'email',
            id: 'email-address',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Title',
          displayType: 'floating',
          attributes: {
            for: 'job-title',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter your current job title',
            required: true,
            type: 'text',
            id: 'job-title',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Company Name',
          displayType: 'floating',
          attributes: {
            for: 'company-name',
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            placeholder: 'Enter the name of your company',
            required: true,
            type: 'text',
            id: 'company-name',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Country',
          displayType: 'floating',
        } only %}
      {% endset %}

      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          attributes: {
            required: true
          },
          options: [
            {
              type: 'option',
              value: '',
              label: '- Select an Country -',
              attributes: {
                disabled: true
              }
            },
            {
              type: 'option',
              value: 'a',
              label: 'Argentina'
            },
            {
              type: 'option',
              value: 'b',
              label: 'Belgium'
            },
            {
              type: 'option',
              value: 'c',
              label: 'Croatia'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: select,
      } only %}

      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Receive periodic emails on key analyst reports, Pega events, and important news.  You can unsubscribe at any time',
          displayType: 'inline-checkbox',
          attributes: {
            for: 'checkbox-id',
            name: 'checkbox-name'
          },
        } only %}
      {% endset %}
      {% set input %}
        {% include '@bolt-components-form/form-input.twig' with {
          attributes: {
            type: 'checkbox',
            id: 'checkbox-id',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}
    {% endset %}

    {% include '@bolt-components-form/form.twig' with {
      children: form_children,
      attributes: {
        id: 'form-uuid-123'
      },
    } only  %}
  {% endset %}

  {% set footer_content %}
    {% set icon_download %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'download',
      } only %}
    {% endset %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Download Now',
      icon_before: icon_download,
      display: 'block',
      attributes: {
        type: 'submit',
        form: 'form-uuid-123',
      },
    } only %}
  {% endset %}

  {% set content %}
    {% include '@bolt-components-dialog/dialog-header.twig' with {
      content: header_content,
    } only %}
    {% include '@bolt-components-dialog/dialog-body.twig' with {
      content: body_content,
    } only %}
    {% include '@bolt-components-dialog/dialog-footer.twig' with {
      content: footer_content,
    } only %}
  {% endset %}

  {% include '@bolt-components-dialog/dialog.twig' with {
    content: content,
    attributes: {
      id: 'dialog-form-1'
    },
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set body_content %}
  {# form elements #}
{% endset %}

{% set _content %}
<form class="c-bolt-form">
  {% include '@bolt-components-dialog/dialog-header.twig' with {
    content: header_content,
  } only %}
  {% include '@bolt-components-dialog/dialog-body.twig' with {
    content: body_content,
  } only %}
  {% include '@bolt-components-dialog/dialog-footer.twig' with {
    content: footer_content,
  } only %}
</form>
{% endset %}

{% include '@bolt-components-dialog/dialog.twig' with {
  content: content,
  width: 'auto',
  attributes: {
    id: 'dialog-form-1'
  },
} only %}
{% endset %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Dialog Form Usage',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
