<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <bolt-text headline>Warning! The Dialog component is not offically released.</bolt-text>
  <bolt-ol>
    <bolt-li>Dialog uses the <code>&lt;dialog&gt;</code> element which is supported by the latest version of all modern browsers, but we are waiting for adoption of Safari >=15.4 to improve before officially releasing it.</bolt-li>
    <bolt-li>Continue to use the <a href="{{ link['viewall-components-modal'] }}" class="e-bolt-text-link">Modal component</a> for now.</bolt-li>
  </bolt-ol>
</bolt-banner>
