{% spaceless %}
<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <strong>{% include '@bolt-elements-icon/icon.twig' with { name: 'warning' } only %}&nbsp;Dialog is only supported in Safari 15.4 and newer.</strong> Use <a href="{{ link['viewall-components-modal'] }}" class="e-bolt-text-link">Modal</a> component instead if you need to support older browsers.
</bolt-banner>
{% endspaceless %}