{% set schema = get_data('@bolt/button.schema.json') %}

{% for tag in schema.properties.tag.enum %}
  <h3>Button Tag: {{ align }}</h3>

  {% include "@bolt/button.twig" with {
    "tag": tag,
    "text": tag ~ "-tag based Button"
  } %}
{% endfor %}
