{% set schema = get_data('@bolt-components-button/button.schema.json') %}

{% for rounded in schema.properties.rounded.enum %}
  <p>{{ rounded|capitalize }} Button</p>

  {% include "@bolt-components-button/button.twig" with {
    "rounded": rounded,
    "text": "Example " ~ rounded|capitalize ~" Button"
  } %}
{% endfor %}