{% set schema = get_data('@bolt/button.schema.json') %}

{% for size in schema.properties.size.enum %}
  <h3>Button Size Variation: {{ size }}</h3>

  {% include "@bolt/button.twig" with {
    "size": size,
    "text": "Example " ~ size ~" Button"
  } %}

{% endfor %}
