@import '@bolt/core';
@import '@bolt/animations';

// Local interactive-step Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-step', block, medium);

$bolt-tooltip-bubble-triangle-width: 8px;
$bolt-tooltip-bubble-border-color: bolt-color(gray, light);
$bolt-tooltip-transition: $bolt-transition;

.c-bolt-interactive-step {
  //Styles go here. /* [1] */
  position: relative;
  padding-left: 40px;
  text-align: left;
  cursor: pointer;
  font-weight: bolder;
  transition: font-size 0.5s ease;

  @include bolt-mq(small) {
    position: static;
  }

  //@todo figure out how to get the line through the dots to work with shadow Dom
  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: -50%;
  //  left: 2.5px;
  //  z-index: 5;
  //  height: 100%;
  //  margin-left: 5px;
  //  border-left: 2px solid #AAB2F2;
  //}

  &__nav-item-wrapper {
    display: flex;
    align-items: center;
  }

  &__dot {
    display: inline-block;
    position: absolute;
    z-index: 10;
    margin-left: -38px;
    color: #AAB2F2;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s ease, transform 0.5s ease;
  }

  &__title {
    display: inline-block;
    cursor: pointer;
    transition: color 0.5s ease, transform 0.5s ease;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 2s ease-in-out; // @todo, replace with proper animation configurations

    &[data-active="true"] {
      height: auto;
      overflow: visible;
    }

    // Move the step body to the right on desktop
    @include bolt-mq(small) {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 300px);
    }
  }

  &__interaction-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 250px;
    margin-bottom: 1.65rem;
  }

  &__interaction-band {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    @include bolt-transition--fade-in($base: true, $delay: $bolt-delay--medium);

    .c-bolt-interactive-step--active & {
      @include bolt-transition--fade-in($active: true);
    }
  }

  &__avatar {
    position: absolute;
    left: 0;
    width: 57px;
    height: 57px;

    &--right {
      right: 0;
      left: unset;
    }
  }

  &__dialogue {
    position: relative;
    width: 100%;
    max-width: 190px;
    height: 75px;
  }

  &__step-dialogue {
    @include bolt-transition--fade-in-slide-up($base: true);

    .c-bolt-interactive-step--active & {
      @include bolt-transition--fade-in-slide-up($base: true);
    }
  }

  // Generates the active state styling for the nav list
  &--active {
    .c-bolt-interactive-step__dot {
      transform: scale(1.5);
      color: orange;
    }

    .c-bolt-interactive-step__title {
      transform: scale(1.1) translateX(4px);
      color: orange;
    }
  }
}

.c-bolt-interactive-step__speech {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: bolt-z-index('tooltip');
  transition: all $bolt-tooltip-transition;

  &--left {
    transform: translateX(-50%);
  }

  &--right {
    transform: translateX(50%);
  }
}

.c-bolt-interactive-step__speech-bubble {
  @include bolt-padding(xsmall, squished);
  @include bolt-shadow('level-20');
  @include bolt-transition--fade-in($base: true);

  // animation effect on active step
  .c-bolt-interactive-step--active & {
    @include bolt-transition--fade-in($active: true);
  }

  display: block;
  position: relative;
  //width: 300px;
  color: bolt-color(black);
  border: 1px solid $bolt-tooltip-bubble-border-color;
  border-radius: $bolt-border-radius;
  background-color: bolt-color(white);

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    pointer-events: none;
    border-top: $bolt-tooltip-bubble-triangle-width solid;
    border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
    border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
    border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
  }

  &:before {
    top: auto;
    bottom: 0;
    border-top-color: $bolt-tooltip-bubble-border-color;
    border-bottom-color: transparent;
  }

  &:after {
    top: auto;
    bottom: 1px;
    border-top-color: white;
    border-bottom-color: transparent;
  }
}
