@import '@bolt/core';

$bolt-tooltip-bubble-border-color: bolt-color(gray, light);
$bolt-tooltip-bubble-triangle-width: 8px;

.c-bolt-status-dialogue-bar {
  display: flex;
  align-items: center;
  max-width: 300px;
  color: bolt-color(black);
  border-radius: $bolt-border-radius;
  background-color: bolt-color(white);
  @include bolt-padding(xsmall);
  @include bolt-shadow('level-20', true);

  &--alert {
    color: bolt-color(white);
    background-color: bolt-color(error);
  }

  &__icon{
    @include bolt-padding-right(small);
  }

  &__slot {
    &--text {
      font-size: $bolt-font-size--xsmall;
    }
  }

  // Styling for the dialogue arrow
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &--include-down-arrow {
    &:after,
    &:before {
      left: 50%;
      transform: translate(-50%, 100%);
      border-top: $bolt-tooltip-bubble-triangle-width solid;
      border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
    }

    &:before {
      top: auto;
      bottom: 0;
      border-top-color: $bolt-tooltip-bubble-border-color;
    }

    &:after {
      top: auto;
      bottom: 1px;
      border-top-color: white;
    }
  }

  &--include-up-arrow {
    &:after,
    &:before {
      left: 50%;
      transform: translate(-50%, -100%);
      border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-bottom: $bolt-tooltip-bubble-triangle-width solid;
      border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
    }

    &:before {
      top: 0;
      bottom: auto;
      border-bottom-color: $bolt-tooltip-bubble-border-color;
    }

    &:after {
      top: 1px;
      bottom: auto;
      border-bottom-color: white;
    }
  }

  &--include-left-arrow {
    &:after,
    &:before {
      transform: translate(-100%, 0%);
      border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-right: $bolt-tooltip-bubble-triangle-width solid;
      border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
    }

    &:before {
      left: 0;
      border-right-color: $bolt-tooltip-bubble-border-color;
    }

    &:after {
      left: 1px;
      border-right-color: white;
    }
  }

  &--include-right-arrow {
    &:after,
    &:before {
      transform: translate(100%, 0%);
      border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
      border-left: $bolt-tooltip-bubble-triangle-width solid;
    }

    &:before {
      right: 0;
      border-left-color: $bolt-tooltip-bubble-border-color;
    }

    &:after {
      right: 1px;
      border-left-color: white;
    }
  }
}

