@import '@bolt/animations';

.demo-animated-bar {
  position: relative;
  max-width: 400px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background: #ddd;

  /// Duration Variations
  &.demo-animated-bar--duration-xfast::after {
    transition-duration: $bolt-duration--xfast;
  }
  &.demo-animated-bar--duration-fast::after {
    transition-duration: $bolt-duration--fast;
  }
  &.demo-animated-bar--duration-medium::after {
    transition-duration: $bolt-duration--medium;
  }
  &.demo-animated-bar--duration-slow::after {
    transition-duration: $bolt-duration--slow;
  }
  &.demo-animated-bar--duration-xslow::after {
    transition-duration: $bolt-duration--xslow;
  }

  /// Timing Function Variations
  &.demo-animated-bar--timing-linear::after {
    transition-timing-function: $bolt-timing--linear;
  }
  &.demo-animated-bar--timing-ease-out::after {
    transition-timing-function: $bolt-timing--ease-out;
  }
  &.demo-animated-bar--timing-ease-in::after {
    transition-timing-function: $bolt-timing--ease-in;
  }
  &.demo-animated-bar--timing-ease-in-out::after {
    transition-timing-function: $bolt-timing--ease-in-out;
  }
  &.demo-animated-bar--timing-swing-in-out::after {
    transition-timing-function: $bolt-timing--swing-in-out;
  }
  &.demo-animated-bar--timing-burst::after {
    transition-timing-function: $bolt-timing--burst;
  }
  &.demo-animated-bar--timing-snap::after {
    transition-timing-function: $bolt-timing--snap;
  }

  /// Delay
  &.demo-animated-bar--delay-xsmall::after {
    transition-delay: $bolt-delay--xsmall;
  }
  &.demo-animated-bar--delay-small::after {
    transition-delay: $bolt-delay--small;
  }
  &.demo-animated-bar--delay-medium::after {
    transition-delay: $bolt-delay--medium;
  }
  &.demo-animated-bar--delay-long::after {
    transition-delay: $bolt-delay--long;
  }
  &.demo-animated-bar--delay-xlong::after {
    transition-delay: $bolt-delay--xlong;
  }

  // Transition mixins
  &.demo-animated-bar--fade-in {
    @include bolt-transition--fade-in($base: true);
    &[data-anim-triggered='yes'],
    &:hover {
      @include bolt-transition--fade-in($active: true);
    }
  }
  &.demo-animated-bar--fade-out {
    @include bolt-transition--fade-out($base: true);
    &[data-anim-triggered='yes'],
    &:hover {
      @include bolt-transition--fade-out($active: true);
    }
  }
  &.demo-animated-bar--fade-in-slide-up {
    @include bolt-transition--fade-in-slide-up($base: true);
    &[data-anim-triggered='yes'],
    &:hover {
      @include bolt-transition--fade-in-slide-up($active: true);
    }
  }
  &.demo-animated-bar--fade-in--xfast {
    @include bolt-transition--fade-in(
      $base: true,
      $duration: $bolt-duration--xfast
    );
    &[data-anim-triggered='yes'],
    &:hover {
      @include bolt-transition--fade-in($active: true);
    }
  }
  &.demo-animated-bar--fade-in--xslow {
    @include bolt-transition--fade-in(
      $base: true,
      $duration: $bolt-duration--xslow
    );
    &[data-anim-triggered='yes'],
    &:hover {
      @include bolt-transition--fade-in($active: true);
    }
  }

  // Animations
  &.demo-animated-bar--spin {
    @include bolt-animation--spin(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--zoom-in {
    @include bolt-animation--zoom-in(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--zoom-in-down {
    @include bolt-animation--zoom-in-down(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--zoom-in-left {
    @include bolt-animation--zoom-in-left(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--heart-beat {
    @include bolt-animation--heart-beat(
      $base: true,
      $duration: $bolt-duration--medium,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--heart-beat--fast {
    @include bolt-animation--heart-beat(
      $base: true,
      $duration: $bolt-duration--fast,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--heart-beat--xslow {
    @include bolt-animation--heart-beat(
      $base: true,
      $duration: $bolt-duration--xslow,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
  &.demo-animated-bar--heart-beat--alternate {
    @include bolt-animation--heart-beat(
      $base: true,
      $direction: alternate,
      $duration: $bolt-duration--medium,
      $active: true,
      $timing-function: $bolt-timing--linear
    );
  }
}

//@todo get rid of this shame code
.demo-animated-bar--with-slider {
  margin-bottom: 0.5rem;
}

.demo-animated-bar--with-slider::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px;
  width: 3px;
  background: black;
  transition-duration: $bolt-duration--medium;
  transition-delay: $bolt-delay--xsmall;
  transition-property: left;
  transition-timing-function: $bolt-timing--linear;
}

.demo-animated-bar--with-slider[data-anim-triggered='yes']::after,
.demo-animated-bar--with-slider:hover::after {
  left: calc(100% - 8px);
}

.staggered-animation-demo__item {
  @include bolt-transition--fade-in-slide-up($base: true);
  &[data-anim-triggered='yes'] {
    @include bolt-transition--fade-in-slide-up($active: true);
  }
}

/* stylelint-disable selector-max-id */
#staggered-animation-band .o-bolt-grid__cell {
  @include bolt-transition--fade-in-slide-up($base: true);
  &[data-anim-triggered='yes'] {
    @include bolt-transition--fade-in-slide-up($active: true);
  }
}

#staggered-animation-band--slow-ease-out [class*='bolt'] {
  @include bolt-transition--fade-in-slide-up(
    $base: true,
    $timing-function: $bolt-timing--ease-out,
    $duration: $bolt-duration--fast,
    $delay: $bolt-delay--xsmall
  );
  &[data-anim-triggered='yes'] {
    @include bolt-transition--fade-in-slide-up($active: true);
  }
}

#staggered-animation-band--fast-swing .o-bolt-grid__cell {
  @include bolt-transition--fade-in-slide-up(
    $base: true,
    $timing-function: $bolt-timing--swing-in-out,
    $duration: $bolt-duration--xslow,
    $delay: $bolt-delay--xsmall
  );
  &[data-anim-triggered='yes'] {
    @include bolt-transition--fade-in-slide-up($active: true);
  }
}
/* stylelint-enable selector-max-id */
