.c-bds-docs__height-demo {
  @extend %bolt-demo-wrapper;
  margin-bottom: 2rem;
}

.c-bds-docs__height-item {
  overflow: hidden;
  margin-top: 0.75rem;
  border: 1px solid bolt-color(navy, light);
}
