{% extends "@bolt-blueprints/_blueprints-default-page-template.twig" %}

{% import "@bolt-blueprints/macros.twig" as macros %}

{% block main_content %}
  {# Toolbar #}
  {% set icon %}
    {% include "@bolt-components-icon/icon.twig" with {
      name: "launchpad",
      size: "medium",
    } only %}
  {% endset %}
  {% set crumb_1 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Mission Title",
      url: "#!",
    } only %}
  {% endset %}
  {% set crumb_2 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Describing a data object",
      url: "#!",
    } only %}
  {% endset %}
  {% set breadcrumb %}
    {% include "@bolt-components-breadcrumb/breadcrumb.twig" with {
      contentItems: [
        crumb_1,
        crumb_2,
        "Data types"
      ]
    } only %}
  {% endset %}
  {% set title %}
    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      items: [
        icon,
        breadcrumb,
      ]
    } only %}
  {% endset %}
  {% set tool_1 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Share",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "share",
      }
    } only %}
  {% endset %}
  {% set tool_2 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Star",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "star-solid",
      }
    } only %}
  {% endset %}
  {% set tool_3 %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Add",
      size: "small",
      style: "secondary",
      border_radius: "full",
      iconOnly: true,
      icon: {
        name: "add-open",
      }
    } only %}
  {% endset %}
  {% set tools %}
    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      items: [
        tool_1,
        tool_2,
        tool_3,
      ]
    } only %}
  {% endset %}
  {% set content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}
      {% cell "u-bolt-flex-grow" %}
        {{ title }}
      {% endcell %}
      {% cell "u-bolt-flex-shrink" %}
        {{ tools }}
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    theme: "xdark",
    size: "xsmall",
    content: content,
  } only %}
  {# End Toolbar #}

  {# Body #}
  {% set next_topic %}
    {% include "@bolt-components-button/button.twig" with {
      style: "secondary",
      size: "small",
      border_radius: "full",
      text: "Next topic",
      icon: {
        name: "chevron-right",
        position: "after",
      }
    } only %}
  {% endset %}
  {% set data_type_1 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Data types in the application data model",
      url: "#!",
    } only %}
  {% endset %}
  {% set data_type_2 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Data type structure",
      url: "#!",
    } only %}
  {% endset %}
  {% set data_type_3 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Data type sourcing",
      url: "#!",
    } only %}
  {% endset %}
  {% set data_type_4 %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Data type best practices",
      url: "#!",
    } only %}
  {% endset %}
  {% set content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-1/1 u-bolt-width-3/12@medium" %}
        <div class="t-bolt-xlight u-bolt-border-radius-large u-bolt-shadow-level-10 u-bolt-overflow-hidden">
          <div class="t-bolt-xdark u-bolt-padding-small">
            {% include "@bolt-components-headline/headline.twig" with {
              text: "Data Types",
            } only %}
          </div>
          <div class="t-bolt-xlight u-bolt-padding-small">
            {% include "@bolt-components-list/list.twig" with {
              items: [
                data_type_1,
                data_type_2,
                data_type_3,
                data_type_4,
              ]
            } only %}
          </div>
        </div>
      {% endcell %}
      {% cell "u-bolt-width-1/1 u-bolt-width-9/12@medium" %}
        {% include "@bolt-components-headline/headline.twig" with {
          tag: "h1",
          size: "xxxlarge",
          text: "Data Types",
        } only %}
        {% include "@bolt-components-headline/subheadline.twig" with {
          tag: "h2",
          size: "xxlarge",
          text: "Data types in the application data modal",
        } only %}
        {% include "@bolt-components-headline/text.twig" with {
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.",
        } only %}
        <div class="t-bolt-xlight u-bolt-text-align-center u-bolt-padding-small u-bolt-margin-bottom-medium u-bolt-border-radius-large u-bolt-shadow-level-10 u-bolt-overflow-hidden">
          {% include "@bolt-components-headline/text.twig" with {
            size: "small",
            text: "<strong>Note:</strong> Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed.",
          } only %}
        </div>
        {% include "@bolt-components-headline/text.twig" with {
          text: "Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed.",
        } only %}
        {% include "@bolt-components-figure/figure.twig" with {
          media: {
            content: macros.include("@bolt-components-image/image.twig", {
              src: "/images/placeholders/500x500.jpg",
            }),
          },
          caption: "Fig. 1: This is Bill. He is awesome."
        } only %}
        {% include "@bolt-components-headline/text.twig" with {
          text: "Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh.",
        } only %}
        <div class="t-bolt-xlight u-bolt-padding-small u-bolt-shadow-level-10 u-bolt-overflow-hidden">
          {% include "@bolt-components-placeholder/placeholder.twig" with {
            size: "large",
            text: "H5P Embed",
          } only %}
        </div>
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt-components-band/band.twig" with {
    theme: "light",
    size: "large",
    content: content,
    pinned_content: {
      upper: [
        {
          content: next_topic,
          align: "end",
        },
      ],
    }
  } only %}
  {# End Body #}
{% endblock %}
