{% set label %}
  {% include '@bolt-components-form/form-label.twig' with {
    title: '<strong>Block Label</strong>',
    displayType: 'block',
    attributes: {
      for: 'block-label',
    },
  } only %}
{% endset %}
{% set input %}
  {% include '@bolt-components-form/form-input.twig' with {
    attributes: {
      placeholder: 'Enter value (block label)',
      type: 'text',
      id: 'block-label',
    },
  } only %}
{% endset %}
{% set form_element %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label,
    children: input,
    labelDisplay: 'before',
  } only %}
{% endset %}

{% set button %}
  <span class="c-bolt-block-label" aria-hidden="true">&nbsp;</span>
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Apply',
    display: 'block',
    attributes: {
      type: 'submit'
    }
  } only %}
{% endset %}

<div class="o-bolt-wrapper">

{% include '@bolt-components-grid/grid.twig' with {
  gutter: 'small',
  row_gutter: 'small',
  items: [
    {
      column_start: '1',
      column_span: '12 6@medium 3@xlarge',
      content: form_element,
    },
    {
      column_start: '1 7@medium 4@xlarge',
      column_span: '12 6@medium 4@xlarge',
      content: form_element,
    },
    {
      column_start: '1 8@xlarge',
      column_span: '12 6@medium 4@xlarge',
      content: form_element,
    },
    {
      column_start: '1 7@medium 12@xlarge',
      column_span: '12 6@medium 1@xlarge',
      content: button,
    },
  ]
} only %}
</div>
