{# // @TODO include bolt button here, or even remove this file entirely #}

{% set attributes = create_attribute(attributes | default({})) %}

{% set classes = [
  "c-bolt-button",
  "c-bolt-button--primary",
  "c-bolt-button--full",
  "c-bolt-button--item-align-center"
] %}

<div class="c-bolt-input-list__item">
  <button {{ attributes.addClass(classes) }}>
    {% if icon %}
      <span class="c-bolt-button__icon" {% if iconOnly %}u-bolt-margin-left-none {% endif %}">
        {% include "@bolt/icon.twig" with icon only %}
      </span>
    {% endif %}

    {{ text }}
  </button>
</div>
