<div style="display: flex; flex-wrap: wrap;">
  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar>
      <p slot="text">
        Bill almost due
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar is-alert-message>
      <p slot="text">
        Bill almost due
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar is-alert-message icon-name="launchpad">
      <p slot="text">
        Bill almost due!! Take action now before this text wraps to another line.
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar>
      <p slot="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores fuga in ipsum minus modi nihil nulla odit recusandae sapiente! Aspernatur inventore minima nobis odio reprehenderit? Aliquam laudantium quos repudiandae.
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar dialogue-arrow-direction="up" icon-name="cloud">
      <p slot="text">
        Up Arrow
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
      <p slot="text">
        Down Arrow
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar dialogue-arrow-direction="left" icon-name="cloud">
      <p slot="text">
        Left Arrow
      </p>
    </bolt-status-dialogue-bar>
  </div>

  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar dialogue-arrow-direction="right" icon-name="cloud">
      <p slot="text">
        Right Arrow
      </p>
    </bolt-status-dialogue-bar>
  </div>

</div>
