/*------------------------------------*\
    #PATTERN LAB BODY
\*------------------------------------*/

/**
* The HTML and body elements for the Pattern Lab shell.
* 1) These exist indepenedent of any project-specific styles
* 2) Styled as IDs to avoid collisions with user <body> tag
*/
.pl-c-body {
    margin: 0;
    padding: 0;
    // background: $pl-color-gray-13;
    background-color: #F6F6F9;
    -webkit-text-size-adjust: 100%;

    // So the height-adjustable panel + viewport wrapper take up the space available automatically 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}