// ------------------------------------
// List Item
// ------------------------------------

@import '@bolt/core';

.c-bolt-list-item {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: block;
}

// Spacing Prop
@each $spacing-value in $bolt-spacing-values {
  $spacing-value-name: nth($spacing-value, 1);

  .c-bolt-list-item--spacing-#{$spacing-value-name} {
    @include bolt-margin-left(#{$spacing-value-name});
    @include bolt-margin-bottom(#{$spacing-value-name});

    &.c-bolt-list-item--inset {
      @include bolt-margin-left(0);
      @include bolt-margin-bottom(0);
      @include bolt-padding-top(#{$spacing-value-name});
      @include bolt-padding-right(#{$spacing-value-name});
      @include bolt-padding-bottom(#{$spacing-value-name});
      @include bolt-padding-left(#{$spacing-value-name});
    }
  }
}

// Separator Prop
$bolt-list-separator-styles: solid, dashed;

@each $separator-style in $bolt-list-separator-styles {
  .c-bolt-list-item--separator-#{$separator-style} {
    border: {
      width: 0;
      color: rgba(bolt-color(gray), 0.25);
      style: #{$separator-style};
    }
  }
}

[class*='c-bolt-list-item--separator'] {
  &:not(.c-bolt-list-item--separator-none) {
    &.c-bolt-list-item--display-block {
      &:not(.c-bolt-list-item--last-item) {
        border-bottom-width: 1px;
      }
    }

    &.c-bolt-list-item--display-inline {
      &:not(.c-bolt-list-item--last-item) {
        border-right-width: 1px;
      }
    }

    @each $breakpoint in $bolt-breakpoints {
      $breakpoint-name: nth($breakpoint, 1);

      &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
        &:not(.c-bolt-list-item--last-item) {
          border-bottom-width: 1px;

          @include bolt-mq($breakpoint-name) {
            border-right-width: 1px;
            border-bottom-width: 0;
          }
        }
      }
    }
  }

  &.c-bolt-list-item--display-flex {
    margin:{
      top: -1px;
      right: -1px;
    }
    border: {
      top-width: 1px;
      right-width: 1px;
    }

    &[class*='c-bolt-list-item--spacing'] {
      &:not(.c-bolt-list-item--inset) {
        padding-left: 0;
        border-top-width: 0;
      }
    }
  }
}

// Specific settings for when the separator prop interacts with other props. This is where things get really crazy.
[class*='c-bolt-list-item--separator'] {
  @each $spacing-value in $bolt-spacing-values {
    $spacing-value-name: nth($spacing-value, 1);

    &:not(.c-bolt-list-item--last-item).c-bolt-list-item--spacing-#{$spacing-value-name} {
      &.c-bolt-list-item--display-block {
        @include bolt-padding-bottom(#{$spacing-value-name});
      }
    }

    &.c-bolt-list-item--spacing-#{$spacing-value-name} {
      &.c-bolt-list-item--display-inline {
        @include bolt-padding-right(#{$spacing-value-name});
      }
    }

    &.c-bolt-list-item--spacing-#{$spacing-value-name} {
      &.c-bolt-list-item--display-flex {
        @include bolt-padding(#{$spacing-value-name});
      }
    }

    &:not(.c-bolt-list-item--inset) {
      @each $breakpoint in $bolt-breakpoints {
        $breakpoint-name: nth($breakpoint, 1);

        &.c-bolt-list-item--spacing-#{$spacing-value-name} {
          &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
            @include bolt-padding-bottom(#{$spacing-value-name});

            @include bolt-mq($breakpoint-name) {
              @include bolt-padding-right(#{$spacing-value-name});
              @include bolt-padding-bottom(0);
            }
          }
        }
      }
    }
  }
}
