@import '@bolt/core';

/* ------------------------------------ *\
   List Item
\* ------------------------------------ */

// Variables
$bolt-list-item-border-width: $bolt-border-width;
$bolt-list-item-border-color: $bolt-border-color;

// Item base styles
.c-bolt-list-item {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: block;
}

// Spacing Prop
@each $spacing-value in $bolt-spacing-values {
  $spacing-value-name: nth($spacing-value, 1);

  .c-bolt-list-item--spacing-#{$spacing-value-name} {
    @include bolt-margin-left(#{$spacing-value-name});
    @include bolt-margin-bottom(#{$spacing-value-name});

    &.c-bolt-list-item--inset {
      @include bolt-margin-left(0);
      @include bolt-margin-bottom(0);
      @include bolt-padding-top(#{$spacing-value-name});
      @include bolt-padding-right(#{$spacing-value-name});
      @include bolt-padding-bottom(#{$spacing-value-name});
      @include bolt-padding-left(#{$spacing-value-name});
    }
  }
}

// Separator Prop
$bolt-list-separator-styles: solid, dashed;

@each $separator-style in $bolt-list-separator-styles {
  .c-bolt-list-item--separator-#{$separator-style} {
    border-width: 0;
    border-style: #{$separator-style};
    border-color: $bolt-list-item-border-color;
  }
}

[class*='c-bolt-list-item--separator'] {
  &.c-bolt-list-item--display-block {
    &:not(.c-bolt-list-item--last-item) {
      border-bottom-width: $bolt-list-item-border-width;
    }
  }

  &.c-bolt-list-item--display-inline,
  &.c-bolt-list-item--display-flex {
    &:not(.c-bolt-list-item--last-item) {
      border-right-width: $bolt-list-item-border-width;
    }
  }

  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
      &:not(.c-bolt-list-item--last-item) {
        border-bottom-width: $bolt-list-item-border-width;

        @include bolt-mq($breakpoint-name) {
          border-left-width: $bolt-list-item-border-width;
          border-bottom-width: 0;
        }
      }
    }
  }
}

// Specific settings for when the separator prop interacts with other props. This is where things get really crazy.
[class*='c-bolt-list-item--separator'] {
  @each $spacing-value in $bolt-spacing-values {
    $spacing-value-name: nth($spacing-value, 1);

    &.c-bolt-list-item--spacing-#{$spacing-value-name} {
      &:not(.c-bolt-list-item--last-item) {
        &.c-bolt-list-item--display-block {
          @include bolt-padding-bottom(#{$spacing-value-name});
        }
      }

      &.c-bolt-list-item--display-inline,
      &.c-bolt-list-item--display-flex {
        @include bolt-padding-right(#{$spacing-value-name});
      }
    }

    &:not(.c-bolt-list-item--inset) {
      @each $breakpoint in $bolt-breakpoints {
        $breakpoint-name: nth($breakpoint, 1);

        &.c-bolt-list-item--spacing-#{$spacing-value-name} {
          &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
            @include bolt-padding-bottom(#{$spacing-value-name});

            @include bolt-mq($breakpoint-name) {
              @include bolt-padding-right(#{$spacing-value-name});
              @include bolt-padding-bottom(0);
            }
          }
        }
      }
    }
  }
}
