@import '@bolt/core';

/* ------------------------------------ *\
   List Item
\* ------------------------------------ */

// Variables
$bolt-list-item-border-width: $bolt-border-width;
$bolt-list-item-border-color: $bolt-border-color;

// Item base styles
.c-bolt-list-item {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: block;
}

// Spacing Prop
@each $spacing-value in $bolt-spacing-values {
  $spacing-value-name: nth($spacing-value, 1);

  .c-bolt-list-item--spacing-#{$spacing-value-name} {
    @include bolt-margin-left(#{$spacing-value-name});
    @include bolt-margin-bottom(#{$spacing-value-name});

    &.c-bolt-list-item--inset {
      @include bolt-margin-left(0);
      @include bolt-margin-bottom(0);
      @include bolt-padding-top(#{$spacing-value-name});
      @include bolt-padding-right(#{$spacing-value-name});
      @include bolt-padding-bottom(#{$spacing-value-name});
      @include bolt-padding-left(#{$spacing-value-name});
    }
  }
}

// Separator Prop
$bolt-list-separator-styles: solid, dashed;

@each $separator-style in $bolt-list-separator-styles {
  .c-bolt-list-item--separator-#{$separator-style},
  .c-bolt-list-item--separator-#{$separator-style}.c-bolt-list-item--display-flex:before,
  .c-bolt-list-item--separator-#{$separator-style}.c-bolt-list-item--display-flex:after {
    border-width: 0;
    border-style: #{$separator-style};
    border-color: $bolt-list-item-border-color;
  }
}

[class*='c-bolt-list-item--separator'] {
  &.c-bolt-list-item--display-block {
    &:not(.c-bolt-list-item--last-item) {
      border-bottom-width: $bolt-list-item-border-width;
    }
  }

  &.c-bolt-list-item--display-inline {
    &:not(.c-bolt-list-item--last-item) {
      border-right-width: $bolt-list-item-border-width;
    }
  }

  &.c-bolt-list-item--display-flex {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: transparent;
    }

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      transform: translate3d(-100%, 0, 0);
      width: $bolt-list-item-border-width;
      height: 100%;
      border-right-width: $bolt-list-item-border-width;
    }

    &:after {
      top: 0;
      right: 0;
      left: 0;
      transform: translate3d(0, -100%, 0);
      width: 100%;
      height: $bolt-list-item-border-width;
      border-bottom-width: $bolt-list-item-border-width;
    }
  }

  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
      &:not(.c-bolt-list-item--last-item) {
        border-bottom-width: $bolt-list-item-border-width;

        @include bolt-mq($breakpoint-name) {
          border-right-width: $bolt-list-item-border-width;
          border-bottom-width: 0;
        }
      }
    }
  }
}

// Specific settings for when the separator prop interacts with other props. This is where things get really crazy.
[class*='c-bolt-list-item--separator'] {
  @each $spacing-value in $bolt-spacing-values {
    $spacing-value-name: nth($spacing-value, 1);

    &.c-bolt-list-item--spacing-#{$spacing-value-name} {
      &:not(.c-bolt-list-item--inset) {
        &.c-bolt-list-item--display-flex {
          margin-bottom: bolt-v-spacing(#{$spacing-value-name}) * 2;
          margin-left: bolt-spacing(#{$spacing-value-name}) * 2;

          &:before {
            left: bolt-spacing(#{$spacing-value-name}) * -1;
          }

          &:after {
            top: bolt-v-spacing(#{$spacing-value-name}) * -1;
          }
        }
      }

      &:not(.c-bolt-list-item--last-item) {
        &.c-bolt-list-item--display-block {
          @include bolt-padding-bottom(#{$spacing-value-name});
        }

        &.c-bolt-list-item--display-inline {
          @include bolt-padding-right(#{$spacing-value-name});
        }
      }
    }

    &:not(.c-bolt-list-item--inset) {
      @each $breakpoint in $bolt-breakpoints {
        $breakpoint-name: nth($breakpoint, 1);

        &.c-bolt-list-item--spacing-#{$spacing-value-name} {
          &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
            @include bolt-padding-bottom(#{$spacing-value-name});

            @include bolt-mq($breakpoint-name) {
              @include bolt-padding-right(#{$spacing-value-name});
              @include bolt-padding-bottom(0);
            }
          }
        }
      }
    }
  }
}
