@import '@bolt/core-v3.x';

/* ------------------------------------ *\
   List Item
\* ------------------------------------ */

// Variables
$bolt-list-item-border-width: $bolt-border-width;
$bolt-list-item-border-color: var(--m-bolt-border);

// Item base styles
.c-bolt-list-item {
  display: block;
  margin: 0;
  padding: 0;
}

// Spacing Prop
@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);

  @if (
    $size-name !=
      'xxlarge'
  ) {
    .c-bolt-list-item--spacing-#{$size-name} {
      margin-bottom: var(--bolt-spacing-y-#{$size-name});
      margin-left: var(--bolt-spacing-x-#{$size-name});

      &.c-bolt-list-item--inset {
        margin-bottom: 0;
        margin-left: 0;
        padding: var(--bolt-spacing-y-#{$size-name})
          var(--bolt-spacing-x-#{$size-name});
      }
    }
  }
}

// Separator Prop
$bolt-list-separator-styles: solid, dashed;

@each $separator-style in $bolt-list-separator-styles {
  .c-bolt-list-item--separator-#{$separator-style} {
    border-width: 0;
    border-style: #{$separator-style};
    border-color: $bolt-list-item-border-color; // @todo: remove once we drop IE11 support
    border-color: var(
      --bolt-list-item-border-color,
      $bolt-list-item-border-color
    );
  }
}

[class*='c-bolt-list-item--separator'] {
  &.c-bolt-list-item--display-block {
    &:not(.c-bolt-list-item--last-item) {
      border-bottom-width: $bolt-list-item-border-width;
    }
  }

  &.c-bolt-list-item--display-inline,
  &.c-bolt-list-item--display-flex {
    &:not(.c-bolt-list-item--last-item) {
      border-right-width: $bolt-list-item-border-width;
    }
  }

  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    @if (
      $breakpoint-name !=
        'large' and
        $breakpoint-name !=
        'xlarge' and
        $breakpoint-name !=
        'xxlarge'
    ) {
      &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
        &:not(.c-bolt-list-item--last-item) {
          border-bottom-width: $bolt-list-item-border-width;

          @include bolt-mq($breakpoint-name) {
            border-right-width: $bolt-list-item-border-width;
            border-bottom-width: 0;
          }
        }
      }
    }
  }
}

// Specific settings for when the separator prop interacts with other props. This is where things get really crazy.
[class*='c-bolt-list-item--separator'] {
  @each $size in $bolt-spacing-multiplier-system {
    $size-name: nth($size, 1);

    @if (
      $size-name !=
        'xxlarge'
    ) {
      &.c-bolt-list-item--spacing-#{$size-name} {
        &:not(.c-bolt-list-item--last-item) {
          &.c-bolt-list-item--display-block {
            padding-bottom: var(--bolt-spacing-y-#{$size-name});
          }

          &.c-bolt-list-item--display-inline,
          &.c-bolt-list-item--display-flex {
            padding-right: var(--bolt-spacing-x-#{$size-name});
          }
        }
      }

      &:not(.c-bolt-list-item--inset) {
        @each $breakpoint in $bolt-breakpoints {
          $breakpoint-name: nth($breakpoint, 1);

          @if (
            $breakpoint-name !=
              'large' and
              $breakpoint-name !=
              'xlarge' and
              $breakpoint-name !=
              'xxlarge'
          ) {
            &.c-bolt-list-item--spacing-#{$size-name} {
              &.c-bolt-list-item--display-inline\@#{$breakpoint-name} {
                padding-bottom: var(--bolt-spacing-y-#{$size-name});

                @include bolt-mq($breakpoint-name) {
                  padding-right: var(--bolt-spacing-x-#{$size-name});
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
