@import '@bolt/core';

/* ------------------------------------ *\
   List
\* ------------------------------------ */

@include bolt-custom-element('bolt-list', block, medium);

.c-bolt-list {
  @include bolt-margin(0);
  @include bolt-padding(0);

  list-style: none;
}

.c-bolt-list__item,
.c-bolt-list__separator {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: block;
}

.c-bolt-list--display-block {
  display: flex;
  flex-flow: column wrap;
}

.c-bolt-list--display-inline {
  display: inline-flex;
  flex-flow: row wrap;
}

@each $breakpoint in $bolt-breakpoints {
  $breakpointName: nth($breakpoint, 1);
  .c-bolt-list--display-inline\@#{$breakpointName} {
    display: flex;
    flex-flow: column wrap;

    @include bolt-mq($breakpointName) {
      display: inline-flex;
      flex-flow: row wrap;
    }
  }
}

$bolt-list-spacing-sizes: xsmall, small, medium;

@each $spacing-size in $bolt-list-spacing-sizes {
  .c-bolt-list--spacing-#{$spacing-size} {
    margin-right: bolt-spacing(#{$spacing-size}) * -1;
    margin-bottom: bolt-v-spacing(#{$spacing-size}) * -1;

    .c-bolt-list__item,
    .c-bolt-list__separator {
      @include bolt-margin-right(#{$spacing-size});
      @include bolt-margin-bottom(#{$spacing-size});
    }
  }

  .c-bolt-list--spacing-#{$spacing-size}.c-bolt-list--inset {
    @include bolt-margin-right(0);
    @include bolt-margin-bottom(0);

    .c-bolt-list__item,
    .c-bolt-list__separator {
      @include bolt-margin-right(0);
      @include bolt-margin-bottom(0);
    }

    .c-bolt-list__item {
      @include bolt-padding(#{$spacing-size});
    }
  }
}

$bolt-list-alignments: start, center, end;

@each $alignment in $bolt-list-alignments {
  .c-bolt-list--align-#{$alignment} {
    &.c-bolt-list--display-inline {
      @if $alignment != 'center' {
        justify-content: flex-#{$alignment};
      }
      @else {
        justify-content: #{$alignment};
      }
    }
  }

  .c-bolt-list--valign-#{$alignment} {
    &.c-bolt-list--display-inline {
      @if $alignment != 'center' {
        align-items: flex-#{$alignment};
      }
      @else {
        align-items: #{$alignment};
      }
    }
  }
}

.c-bolt-list__separator {
  border: 0;
  border-color: inherit;
  border-color: var(--bolt-theme-text, inherit);
  opacity: 0.15;

  .c-bolt-list--display-block & {
    width: auto;
    height: 0;
    border-top-width: 1px;
  }

  .c-bolt-list--display-inline & {
    width: 0;
    height: 1em;
    border-right-width: 1px;
  }

  &[hidden] {
    display: none;
  }
}

$bolt-list-separators: solid, dotted;

@each $separator in $bolt-list-separators {
  .c-bolt-list--separator-#{$separator} {
    .c-bolt-list__separator {
      border-style: #{$separator};
    }
  }
}
