{% set content %}
  <bolt-stack spacing="large">
    <bolt-text headline font-size="xxxlarge" tag="h1">
      Color System
    </bolt-text>
    <bolt-text subheadline font-size="xxlarge" tag="h2">
      The color foundation of Bolt, based on Pegasystem branding.
    </bolt-text>
  </bolt-stack>

  <bolt-tabs label-spacing="medium" panel-spacing="medium" inset="off">
    <bolt-tab-panel>
      <bolt-text slot="label">Brand Colors</bolt-text>

      <input class="c-bds-color-shade-toggle" type="checkbox" id="bds-brand-color-shade-toggle">
      <label class="c-bds-color-shade-toggle__label" for="bds-brand-color-shade-toggle">
        Show shades
      </label>
      {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--small" %}
        {% for color_name, palette in bolt.data.colors.brand %}
          {% include "_color-swatch.twig" with {
            color_swatch: {
              color_name: color_name,
              palette: palette
            }
          } %}
        {% endfor %}
      {% endgrid %}
    </bolt-tab-panel>
    <bolt-tab-panel>
      <bolt-text slot="label">Status Colors</bolt-text>

      <input class="c-bds-color-shade-toggle" type="checkbox" id="bds-status-color-shade-toggle">
      <label class="c-bds-color-shade-toggle__label" for="bds-status-color-shade-toggle">
        Show shades
      </label>
      {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--small" %}
        {% for color_name, palette in bolt.data.colors.status %}
          {% include "_color-swatch.twig" with {
            color_swatch: {
              color_name: color_name,
              palette: palette
            }
          } %}
        {% endfor %}
      {% endgrid %}
    </bolt-tab-panel>
  </bolt-tabs>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: content,
  theme: "none",
  size: "large",
} only %}
