/* ------------------------------------ *\
   Search
\* ------------------------------------ */

@import '@bolt/core';

$bolt-search-filter-transition: $bolt-transition;

.c-bolt-search-filter {
  display: block;
}

.c-bolt-search-filter__trigger {
  display: block;
  position: fixed;
  right: bolt-spacing(medium);
  bottom: bolt-v-spacing(medium);
  z-index: 99998;

  @include respond-to(medium) {
    display: none;
  }
}

.c-bolt-search-filter__panel {
  @media screen and (max-width: (bolt-breakpoint(medium) - 1px)) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: bolt-color(white);
    z-index: 99999;

    &,
    > * {
      transition: all $bolt-search-filter-transition;
    }

    &:not(:target) {
      pointer-events: none;
      opacity: 0;

      .c-bolt-search-filter__panel-content,
      .c-bolt-search-filter__panel-controls--close,
      .c-bolt-search-filter__panel-controls--submit {
        transform: translateY(-2rem);
      }
    }

    &:target {
      opacity: 1;

      .c-bolt-search-filter__panel-content,
      .c-bolt-search-filter__panel-controls--close,
      .c-bolt-search-filter__panel-controls--submit {
        transform: translateY(0%);
      }
    }
  }
}

.c-bolt-search-filter__panel-content {
  @media screen and (max-width: (bolt-breakpoint(medium) - 1px)) {
    @include bolt-padding(medium);
    display: block;
    flex: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: bolt-color(white);
  }
}

.c-bolt-search-filter__panel-controls {
  display: block;
  box-shadow: 0px -2px 4px rgba(bolt-color(black), 0.1);

  @include respond-to(medium) {
    display: none;
  }
}

.c-bolt-search-filter__panel-controls--close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
}

.c-bolt-search-filter__panel-controls--submit {
  @include bolt-padding(medium, squished);
  width: 100%;
  background-color: bolt-color(white);
}



.c-bolt-search-inline-tags {
  @include bolt-margin(0);
  @include bolt-padding(0);

  display: inline;
}

.c-bolt-search-inline-tag {
  @include bolt-font-weight(semibold);
  display: inline;
  display: inline-flex;
  color: inherit;
  color: var(--bolt-theme-link, inherit);
  text-decoration: none;
  transition: all $bolt-transition;

  &:after {
    display: inline-block;
    zoom: 1;
    *display: inline;
    content: ',';
    color: inherit;
    color: var(--bolt-theme-text, inherit);
    vertical-align: middle;
  }

  &:hover {
    text-decoration: line-through;
  }
}
