{% set content %}
  <div class="u-bolt-padding-xlarge">
    <bolt-character
        characterUrl="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
    >
      <bolt-animate slot="top" idle="none">
        <div is="shadow-root">
          Slot: top
        </div>
      </bolt-animate>
      <bolt-animate slot="left" idle="none">
        <div is="shadow-root">
          Slot: left
        </div>
      </bolt-animate>
      <bolt-animate slot="right" idle="none">
        <div is="shadow-root">
         Slot: right
        </div>
      </bolt-animate>
      <bolt-animate slot="bottom" idle="none">
        <div is="shadow-root">
          Slot: bottom
        </div>
      </bolt-animate>
    </bolt-character>
  </div>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
