<div class="u-bolt-padding-xlarge">
  <bolt-character
      characterUrl="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="small"
  >
    <bolt-animate slot="top" idle="none">
      <div is="shadow-root">
        <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
          <p slot="text">
            I'm a small character
          </p>
        </bolt-status-dialogue-bar>
      </div>
    </bolt-animate>
    <bolt-animate slot="left" idle="none">
      <div is="shadow-root">
       Slot: left
      </div>
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
      <div is="shadow-root">
        Slot: right
      </div>
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
      <div is="shadow-root">
        Slot: bottom
      </div>
    </bolt-animate>
  </bolt-character>
</div>
<div class="u-bolt-padding-xlarge">
  <bolt-character
      characterUrl="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="medium"
  >
    <bolt-animate slot="top" idle="none">
      <div is="shadow-root">
        <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
          <p slot="text">
            I'm a medium character
          </p>
        </bolt-status-dialogue-bar>
      </div>
    </bolt-animate>
    <bolt-animate slot="left" idle="none">
      <div is="shadow-root"></div>
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
      <div is="shadow-root"></div>
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
      <div is="shadow-root"></div>
    </bolt-animate>
  </bolt-character>
</div>
<div class="u-bolt-padding-xlarge">
  <bolt-character
      characterUrl="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
      size="large"
  >
    <bolt-animate slot="top" idle="none">
      <div is="shadow-root">
        <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
          <p slot="text">
            I'm a large character
          </p>
        </bolt-status-dialogue-bar>
      </div>
    </bolt-animate>
    <bolt-animate slot="left">
      <div is="shadow-root">
        <bolt-status-dialogue-bar icon-name="cloud" is-alert-message>
          <p slot="text">
            Bill is due!
          </p>
        </bolt-status-dialogue-bar>
      </div>
    </bolt-animate>
    <bolt-animate slot="right" idle="none">
      <div is="shadow-root"></div>
    </bolt-animate>
    <bolt-animate slot="bottom" idle="none">
      <div is="shadow-root"></div>
    </bolt-animate>
  </bolt-character>
</div>

