{% extends "./_editor-wrapper.twig" %}

{% block content %}
  <div class="u-bolt-padding-large">
    <bolt-status-dialogue-bar>
      <bolt-text size="xsmall" slot="text">
        Hey now!
      </bolt-text>
    </bolt-status-dialogue-bar>
  </div>
{% endblock %}
