{% set content %}
  <div class="u-bolt-padding-large">
    <h2>WIP</h2>
    <bolt-icon-group></bolt-icon-group>
  </div>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
