<bolt-interactive-step
    step="1"
    slot="steps"
    active
>
  <span slot="title">Moment of Need</span>

  <bolt-two-character-layout>
    <bolt-animate slot="character--left" in-order="1" in="fade-in-slide-up" out="fade-out" out-order="10">
      <bolt-character size="medium">
        <bolt-animate in="fade-in-slide-up" in-order="3" out="fade-out" slot="top" out-order="5">
          <bolt-status-dialogue-bar is-alert-message>
            <p slot="text">
              Wow! That's a large bill!
            </p>
          </bolt-status-dialogue-bar>
        </bolt-animate>
        <span slot="left" idle="none">
        </span>
        <span slot="bottom" idle="none">
        </span>
      </bolt-character>
    </bolt-animate>
    <bolt-animate slot="connection" in="fade-in-slide-up" in-order="5" out="fade-out" out-order="1">
      <bolt-connection></bolt-connection>
    </bolt-animate>
    <bolt-animate slot="character--right" in="fade-in-slide-up" in-order="10" out="fade-out" idle="pulse" idle-duration="2000" out-order="10">
      <bolt-character size="medium">
        <bolt-animate in="fade-in-slide-up" in-order="15" out="fade-out" slot="top" out-order="5">
          <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
            <p slot="text">
              Here to Help!
            </p>
          </bolt-status-dialogue-bar>
        </bolt-animate>
        <span slot="right" idle="none">
        </span>
        <span slot="bottom" idle="none">
        </span>
      </bolt-character>
    </bolt-animate>
  </bolt-two-character-layout>

  <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
    <bolt-text>
      Pega enables the business to sense <b>customer context</b> by seeing interactions across channels--calls to customer service about a bill, or visit to pricing web page.
    </bolt-text>
  </bolt-animate>
</bolt-interactive-step>
