{% set content %}
<bolt-interactive-pathways>
  <p slot="interactive-pathways-lead-text">How Pega technology resolves</p>
  <bolt-interactive-pathway>
    <p slot="pathway-title">Billing Inquires</p>
    {% include "./billing-micro-journey-fragments/_step-one.twig" %}
    {% include "./billing-micro-journey-fragments/_step-two.twig" %}
    {% include "./billing-micro-journey-fragments/_step-three.twig" %}
    {% include "./billing-micro-journey-fragments/_step-four.twig" %}
    {% include "./billing-micro-journey-fragments/_step-five.twig" %}
    {% include "./billing-micro-journey-fragments/_step-six.twig" %}
  </bolt-interactive-pathway>

  <bolt-interactive-pathway>
    <p slot="pathway-title">Another Story</p>
    {% include "./billing-micro-journey-fragments/_step-four.twig" %}
    {% include "./billing-micro-journey-fragments/_step-one.twig" %}
    {% include "./billing-micro-journey-fragments/_step-five.twig" %}
    {% include "./billing-micro-journey-fragments/_step-two.twig" %}
    {% include "./billing-micro-journey-fragments/_step-three.twig" %}
    {% include "./billing-micro-journey-fragments/_step-six.twig" %}
  </bolt-interactive-pathway>

</bolt-interactive-pathways>
{% endset %}

<form>
  <h1>Below has Shadow DOM disabled</h1>
  <hr>
  {{ content }}
</form>
<hr>
<h1>Below has Shadow DOM enabled</h1>
<hr>
  {% include '@bolt-components-editor/editor-in-pl.twig' with {
    content: content,
  } only %}
