{% set content %}
<bolt-interactive-pathways>
  <p slot="interactive-pathways-lead-text">How Pega technology resolves</p>
  <bolt-interactive-pathway>
    <p slot="pathway-title">Billing Inquires</p>
    <bolt-interactive-step tab-title="Proactive service">
      {% include "./billing-micro-journey-fragments/_step-one.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Customer-facing insights">
      {% include "./billing-micro-journey-fragments/_step-two.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Smart offers">
      {% include "./billing-micro-journey-fragments/_step-three.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Empowered agents">
      {% include "./billing-micro-journey-fragments/_step-four.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Fewer calls">
      {% include "./billing-micro-journey-fragments/_step-five.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="What's next?">
      {% include "./billing-micro-journey-fragments/_step-six.twig" %}
    </bolt-interactive-step>
  </bolt-interactive-pathway>

  <bolt-interactive-pathway>
    <p slot="pathway-title">Another Story</p>
    <bolt-interactive-step tab-title="Empowered agents">
      {% include "./billing-micro-journey-fragments/_step-four.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Fewer calls">
      {% include "./billing-micro-journey-fragments/_step-five.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Proactive service">
      {% include "./billing-micro-journey-fragments/_step-one.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Customer-facing insights">
      {% include "./billing-micro-journey-fragments/_step-two.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="Smart offers">
      {% include "./billing-micro-journey-fragments/_step-three.twig" %}
    </bolt-interactive-step>

    <bolt-interactive-step tab-title="What's next?">
      {% include "./billing-micro-journey-fragments/_step-six.twig" %}
    </bolt-interactive-step>
  </bolt-interactive-pathway>

</bolt-interactive-pathways>
{% endset %}

{% include '@pl/_shadow-dom-demo.twig' with {
  content: content,
  enableEditor: true,
} only %}
