<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xlight">Slide 4</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 5</div>
  </bolt-carousel-slide>
</bolt-carousel>
{# 
  <bolt-button slot="previous-btn" color="secondary" icon-only>
    Previous
    <bolt-icon size="large" slot="before" name="chevron-left"></bolt-icon>
  </bolt-button>

  <bolt-button slot="next-btn" color="secondary" icon-only>
    Next
    <bolt-icon size="large" slot="after" name="chevron-right"></bolt-icon>
  </bolt-button> #}