@import '@bolt/core-v3.x';

// Local Variables
$bolt-ol-bullet-size: $bolt-line-height--xsmall + rem;
$bolt-ol-bullet-bg-color: rgba(bolt-color(gray), 0.2);
$bolt-li-spacing: bolt-spacing(medium);
$bolt-li-bullet-level-1: '\25CF'; // black-circle
$bolt-li-bullet-level-2: '\26AC'; // white-circle
$bolt-li-bullet-level-3: '\25A0'; // black-square

bolt-li {
  display: block; // Fixes FF bug where OL numbers are positioned above circle
}

.c-bolt-li {
  box-sizing: border-box;
  position: relative;
  margin-bottom: bolt-spacing(xxsmall);
  margin-left: $bolt-li-spacing;
  @include bolt-padding(0);

  &--last-item {
    margin-bottom: 0;
  }
}

// unordered-list specific list-item styles
.c-bolt-li--ul-item {
  &:before {
    content: $bolt-li-bullet-level-1;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: $bolt-li-spacing * -1;
    width: $bolt-ol-bullet-size;
    height: $bolt-ol-bullet-size;
    line-height: $bolt-ol-bullet-size;
    text-align: center;
    font-size: 0.8em;
  }

  &.c-bolt-li--level {
    &-2 {
      &:before {
        content: $bolt-li-bullet-level-2;
      }
    }

    &-3 {
      &:before {
        content: $bolt-li-bullet-level-3;
      }
    }
  }
}

.c-bolt-ul {
  .c-bolt-ul {
    .c-bolt-li--ul-item {
      &:before {
        content: $bolt-li-bullet-level-2;
      }
    }

    .c-bolt-ul {
      .c-bolt-li--ul-item {
        &:before {
          content: $bolt-li-bullet-level-3;
        }
      }
    }
  }
}

ol,
bolt-ol {
  > bolt-li {
    position: relative;

    &:before {
      @include bolt-font-size(xsmall);
      @include bolt-font-weight(bold);
      content: counter(li);
      position: absolute;
      top: 0.25em;
      left: 0;
      width: $bolt-ol-bullet-size;
      height: $bolt-ol-bullet-size;
      counter-increment: li;
      line-height: $bolt-ol-bullet-size;
      text-align: center;
    }
  }
}

// ordered-list specific list-item styles
.c-bolt-li--ol-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.125em;
  left: $bolt-li-spacing * -1;
  width: $bolt-ol-bullet-size;
  height: $bolt-ol-bullet-size;
  color: bolt-theme(headline);
  line-height: $bolt-ol-bullet-size;
  border-radius: $bolt-ol-bullet-size;
  background-color: $bolt-ol-bullet-bg-color;
}

// [Mai] This is an IE specific fix to center the number inside the circle. IE calculates line-height differently.
@include bolt-ie11-only {
  .c-bolt-li--ol-item:before {
    line-height: $bolt-line-height--medium;
  }
}
