<p>When you click on the Popover or the Tooltip custom JS will remove the component from the DOM. This test verifies that the disconnected callback fires on removal and the Popover/Tooltip disappears and is destroyed.</p>

{% set trigger %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'This triggers a popover on hover',
    size: 'small',
    attributes: {
      type: 'button'
    }
  } only %}
{% endset %}
{% set link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'call to action',
    attributes: {
      href: 'https://google.com'
    }
  } only %}
{% endset %}
{% set content %}
  This is the content of the popover with a {{ link }}.
{% endset %}

<div class="js-test-tippy-disconnected">
  {% include '@bolt-components-popover/popover.twig' with {
    trigger: trigger,
    trigger_event: 'hover',
    content: content,
  } only %}
</div>

<div class="js-test-tippy-disconnected">
  {% set check_icon %}
    <span class="u-bolt-color-success">
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'check-solid',
        attributes: {
          'aria-label': 'Yay',
        }
      } only %}
    </span>
  {% endset %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: check_icon,
    content: 'Solved',
  } only %}
</div>
