{% set schema = bolt.data.components["@bolt-components-stack"].schema %}

{% for spacing in schema.properties.spacing.enum %}
  <div class="u-bolt-margin-bottom-large">
    <h3>Multiple stacks with {{ spacing }} spacing</h3>
    {% set placeholder %}
      {% include "@bolt-components-placeholder/placeholder.twig" with {
        size: "xsmall",
        text: "This stack has " ~ spacing ~ " spacing."
      } only %}
    {% endset %}
    {% set stack %}
      {% include "@bolt-components-stack/stack.twig" with {
        content: placeholder,
        spacing: spacing
      } only %}
    {% endset %}
    {{ stack }}
    {{ stack }}
    {{ stack }}
  </div>
{% endfor %}
