////
/// @group Settings: Typography
/// @author Mike Mai
////


/* ------------------------------------ *\
  Defining system and custom fonts
\* ------------------------------------ */


/*
 * System UI Fonts
 */

$bolt-font-ui-default: -apple-system, BlinkMacSystemFont; // This maps to the system UI font.
$bolt-font-ui-known: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans'; // This is for known system UI fonts and requires frequent updates.


/*
 * System font categories
 */

$bolt-font-sans--system: $font-ui-default, $font-ui-known, 'Helvetica Neue', sans-serif;
$bolt-font-serif--system: serif;
$bolt-font-monospace--system: monospace;


/*
 * Custom font categories
 */

$bolt-font-sans: 'Open Sans', 'Helvetica Neue', sans-serif;
$bolt-font-serif: 'Georgia', serif;
$bolt-font-monospace: 'Courier New', monospace;


/*
 * Mapping font categories to Bolt's body, heading, and code.
 */

/// Bolt's definition of body, heading, and code text.
/// @type Map
$bolt-font-families: (
  font-families: (
    body: (
      system: $bolt-font-sans--system,
      custom: $bolt-font-sans
    ),
    heading: (
      system: $bolt-font-sans--system,
      custom: $bolt-font-sans
    ),
    code: (
      system: $bolt-font-monospace--system,
      custom: $bolt-font-monospace
    )
  )
);
