<bolt-band size="medium" theme="xlight" bolt-component id="p-4209730f-b40b-4b24-9c9a-724f9eb744a1" class="c-bolt-band c-bolt-band--medium c-bolt-band--full t-bolt-xlight">

    <bolt-wrapper size="xxlarge" full="true" bolt-object>
        <div class="o-bolt-wrapper o-bolt-wrapper--xxlarge o-bolt-wrapper--full">

            <bolt-background bolt-component>
                <div class="c-bolt-background">
                    <div class="c-bolt-background__item">
                      <bolt-video class="js-55dd446c-c6f5-470d-a8be-b0986edf0cb1 js-bolt-video-uuid--1618045232 c-bolt-background__video" on-init="initBrightcovePlugins" data-setup="{&quot;techOrder&quot;: [&quot;Html5&quot;]}" video-id="5609376179001" account-id="1900410236"
                            player-id="r1CAdLzTW" is-background-video></bolt-video>
                    </div>
                </div>
            </bolt-background>
            <div class="c-bolt-band__content">

                <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--large o-bolt-grid--matrix">

                    <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                        <bolt-device-viewer id="p-7d6338ba-cfe6-479e-9512-793d0abf3e48" class="c-bolt-iphone8-viewer c-bolt-device-viewer marvel-device c-bolt-iphone8-viewer--black c-bolt-iphone8-viewer--portrait">
                            <div class="c-bolt-device-viewer__inner c-bolt-iphone8-viewer__inner">
                                <div class="c-bolt-iphone8-viewer__top-bar"></div>
                                <div class="c-bolt-iphone8-viewer__bottom-bar"></div>
                                <div class="c-bolt-iphone8-viewer__sensor"></div>
                                <div class="c-bolt-iphone8-viewer__sleep"></div>
                                <div class="c-bolt-iphone8-viewer__volume"></div>
                                <div class="c-bolt-device-viewer__camera c-bolt-iphone8-viewer__camera"></div>
                                <div class="c-bolt-iphone8-viewer__speaker"></div>
                                <div class="c-bolt-device-viewer__home c-bolt-iphone8-viewer__home"></div>

                                <div class="c-bolt-device-viewer__screen c-bolt-iphone8-viewer__screen">
                                    <bolt-image-zoom>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-left"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-center"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--top-right"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-left"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-center"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--middle-right"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-left"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-center"></span>
                                        <span class="c-bolt-image-zoom__tilt c-bolt-image-zoom__tilt--bottom-right"></span>

                                        <bolt-image>

                                            <bolt-ratio class="c-bolt-image o-bolt-ratio" aspect-ratio-height="2162" aspect-ratio-width="2880" style="--aspect-ratio-height: 2162; --aspect-ratio-width: 2880;">

                                                <img class="c-bolt-image__img js-lazyload is-lazyloading" data-zoom="https://demo1.d8.pega.com/sites/default/files/styles/2560/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=aHLDcbgY" data-srcset="https://demo1.d8.pega.com/sites/default/files/styles/50/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=4qyQ3iR8 50w, https://demo1.d8.pega.com/sites/default/files/styles/100/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=GprgqOJb 100w, https://demo1.d8.pega.com/sites/default/files/styles/200/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=BUfpoyo9 200w, https://demo1.d8.pega.com/sites/default/files/styles/320/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=8x93Q8-j 320w, https://demo1.d8.pega.com/sites/default/files/styles/480/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=3nu5m8J6 480w, https://demo1.d8.pega.com/sites/default/files/styles/640/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=uhM5NTPA 640w, https://demo1.d8.pega.com/sites/default/files/styles/1024/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=Ru9xB74O 1024w, https://demo1.d8.pega.com/sites/default/files/styles/1366/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=1Y9QShfY 1366w, https://demo1.d8.pega.com/sites/default/files/styles/1536/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=AmRuj7jZ 1536w, https://demo1.d8.pega.com/sites/default/files/styles/1920/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=QjYx0ECN 1920w, https://demo1.d8.pega.com/sites/default/files/styles/2560/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=aHLDcbgY 2560w"
                                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="(min-width: 600px) 150vw, 100vw">
                                                <noscript>
                                                    <img class="c-bolt-image__img" data-zoom="https://demo1.d8.pega.com/sites/default/files/styles/2560/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=aHLDcbgY" data-srcset="https://demo1.d8.pega.com/sites/default/files/styles/50/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=4qyQ3iR8 50w, https://demo1.d8.pega.com/sites/default/files/styles/100/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=GprgqOJb 100w, https://demo1.d8.pega.com/sites/default/files/styles/200/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=BUfpoyo9 200w, https://demo1.d8.pega.com/sites/default/files/styles/320/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=8x93Q8-j 320w, https://demo1.d8.pega.com/sites/default/files/styles/480/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=3nu5m8J6 480w, https://demo1.d8.pega.com/sites/default/files/styles/640/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=uhM5NTPA 640w, https://demo1.d8.pega.com/sites/default/files/styles/1024/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=Ru9xB74O 1024w, https://demo1.d8.pega.com/sites/default/files/styles/1366/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=1Y9QShfY 1366w, https://demo1.d8.pega.com/sites/default/files/styles/1536/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=AmRuj7jZ 1536w, https://demo1.d8.pega.com/sites/default/files/styles/1920/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=QjYx0ECN 1920w, https://demo1.d8.pega.com/sites/default/files/styles/2560/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=aHLDcbgY 2560w"
                                                        srcset="https://demo1.d8.pega.com/sites/default/files/styles/50/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=4qyQ3iR8 50w, https://demo1.d8.pega.com/sites/default/files/styles/100/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=GprgqOJb 100w, https://demo1.d8.pega.com/sites/default/files/styles/200/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=BUfpoyo9 200w, https://demo1.d8.pega.com/sites/default/files/styles/320/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=8x93Q8-j 320w, https://demo1.d8.pega.com/sites/default/files/styles/480/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=3nu5m8J6 480w, https://demo1.d8.pega.com/sites/default/files/styles/640/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=uhM5NTPA 640w, https://demo1.d8.pega.com/sites/default/files/styles/1024/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=Ru9xB74O 1024w, https://demo1.d8.pega.com/sites/default/files/styles/1366/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=1Y9QShfY 1366w, https://demo1.d8.pega.com/sites/default/files/styles/1536/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=AmRuj7jZ 1536w, https://demo1.d8.pega.com/sites/default/files/styles/1920/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=QjYx0ECN 1920w, https://demo1.d8.pega.com/sites/default/files/styles/2560/public/media/images/2017-12/product-device-screenshot--tablet-2880.jpg?itok=aHLDcbgY 2560w"
                                                        data-sizes="(min-width: 600px) 150vw, 100vw">
                                                </noscript>

                                            </bolt-ratio>
                                        </bolt-image>

                                        <div class="c-bolt-image-zoom__overlay">
                                            <!-- Icon JS + twig integration -->

                                            <bolt-icon class="c-bolt-image-zoom__overlay-icon" name="search" background="circle" size="xlarge"></bolt-icon>
                                        </div>
                                    </bolt-image-zoom>
                                </div>
                            </div>
                        </bolt-device-viewer>

                    </div>

                    <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                        <bolt-teaser>

                            <h3 class="c-bolt-headline--left c-bolt-headline c-bolt-headline--bold c-bolt-headline--xxxlarge" id="p-146e7b3a-d4fa-4cc4-9fe1-fd15c95aff76">
                                <span class="c-bolt-headline__text">
                                    Intelligent
                                </span>

                            </h3>

                            <p>A single unified platform with everything you need to build or modify enterprise apps fast. Capgemini found that the pega 7 enterprise application development platform is 6.4x faster to build and 8x faster to change than conventional
                                software development.</p>

                            <bolt-button-group bolt-component>
                                <ul class="c-bolt-button-group">
                                    <li class="c-bolt-button-group__item">

                                        <bolt-button size="medium" color="primary" on-click="toggle" on-click-target="js-55dd446c-c6f5-470d-a8be-b0986edf0cb1" id="p-e827c1fa-b53c-44fa-9cd4-8e900167d05d">
                                            <div on-click="toggle" on-click-target="js-55dd446c-c6f5-470d-a8be-b0986edf0cb1" id="p-e827c1fa-b53c-44fa-9cd4-8e900167d05d" class="c-bolt-button c-bolt-button--primary c-bolt-button--item-align-center">
                                                <button class="c-bolt-button__button">
                                                    <span class="c-bolt-button__item c-bolt-button__item-text ">Play Video</span>

                                                </button>
                                            </div>
                                        </bolt-button>
                                    </li>
                                    <li class="c-bolt-button-group__item">

                                        <bolt-button size="medium" color="secondary" id="p-3748d04e-4b27-4da7-9737-d7d5fd405341">
                                            <div id="p-3748d04e-4b27-4da7-9737-d7d5fd405341" class="c-bolt-button c-bolt-button--secondary c-bolt-button--item-align-center">
                                                <a class="c-bolt-button__link" href="/insights/resources/revolutionising-customer-engagement-through-digital-innovation-dts-london">
                                                    <span class="c-bolt-button__item c-bolt-button__item-text ">Call to Action</span>

                                                </a>
                                            </div>
                                        </bolt-button>
                                    </li>
                                </ul>

                            </bolt-button-group>
                        </bolt-teaser>

                        <div class="o-bolt-grid u-bolt-margin-top-large o-bolt-grid--matrix">
                            <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                                <bolt-teaser>

                                    <!-- Icon JS + twig integration -->

                                    <bolt-icon id="p-acd6f224-1c6d-4c5f-8a06-3ff90dacdf44" name="careers" background="circle" size="xlarge" color="teal"></bolt-icon>

                                    <h3 class="c-bolt-headline--left c-bolt-headline c-bolt-headline--bold c-bolt-headline--large" id="p-c0834f1c-c7e4-400e-a6de-adaa63de89d1">
                                        <span class="c-bolt-headline__text">
                                            Product Name
                                        </span>

                                    </h3>

                                    <p>Built-in Business Process Management and Case Management helps you quickly build business applications that deliver the outcomes and end-to-end customer experiences your customers demand. Find out why Pega is the perrenial
                                        leader in BPM and Case Management.</p>

                                </bolt-teaser>
                            </div>
                            <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                                <bolt-teaser>

                                    <!-- Icon JS + twig integration -->

                                    <bolt-icon id="p-d36934e2-e20d-4f9f-8a12-fee821d63c52" name="industries" background="circle" size="xlarge" color="teal"></bolt-icon>

                                    <h3 class="c-bolt-headline--left c-bolt-headline c-bolt-headline--bold c-bolt-headline--large" id="p-ce7f3586-5ca3-4331-bc94-92854af15824">
                                        <span class="c-bolt-headline__text">
                                            Product Name
                                        </span>

                                    </h3>

                                    <p>Maximize value by action with relevance, consistency, and at the right time. Continually adapt your decisions with self-learning, ensuring actions are always relevant and personal on every channel. Harness a single
                                        decision authority that unifies decisions for consistent experiences. Act with accuracy and speed while making value-added decisions.</p>

                                </bolt-teaser>
                            </div>
                            <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                                <bolt-teaser>

                                    <!-- Icon JS + twig integration -->

                                    <bolt-icon id="p-2e3f7585-6b8e-449e-8a0e-82349fea5ad0" name="asset-data" background="circle" size="xlarge" color="teal"></bolt-icon>

                                    <h3 class="c-bolt-headline--left c-bolt-headline c-bolt-headline--bold c-bolt-headline--large" id="p-5e3f39b7-f2e7-4e85-9f60-253fdcf06430">
                                        <span class="c-bolt-headline__text">
                                            Product Name
                                        </span>

                                    </h3>

                                    <p>Enterprise applications developed in Pega 7 are automatically ready to run across a variety of devices with zero additional work required. Even advanced native mobile device features, such as offline access and push
                                        notifications, are enabled directly from the Designer Studio.</p>

                                </bolt-teaser>
                            </div>
                            <div class="o-bolt-grid__cell u-bolt-width-1/1 u-bolt-width-1/2@small">

                                <bolt-teaser>

                                    <!-- Icon JS + twig integration -->

                                    <bolt-icon id="p-31c6a24e-9a77-4243-8309-5711b87ce2a9" name="careers" background="circle" size="xlarge" color="teal"></bolt-icon>

                                    <h3 class="c-bolt-headline--left c-bolt-headline c-bolt-headline--bold c-bolt-headline--large" id="p-92b77ab8-6c6c-40c6-8814-69b49833f9e4">
                                        <span class="c-bolt-headline__text">
                                            Product Name
                                        </span>

                                    </h3>

                                    <p>Built-in Business Process Management and Case Management helps you quickly build business applications that deliver the outcomes and end-to-end customer experiences your customers demand. Find out why Pega is the perrenial
                                        leader in BPM and Case Management.</p>

                                </bolt-teaser>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </bolt-wrapper>
</bolt-band>