{% set trigger %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "info-open",
  } only %}
{% endset %}
{# {% set trigger = "Trigger" %} #}
{% set content = "This is the tooltip content" %}

{% set popover_left %}
  <bolt-list spacing="xxlarge">
    <bolt-list-item>
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        placement: "left-top",
        trigger: trigger,
        content: content,
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        placement: "left",
        trigger: trigger,
        content: content,
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        placement: "left-bottom",
        trigger: trigger,
        content: content,
      } only %}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_right %}
  <bolt-list spacing="xxlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "right-top",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "right",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "right-bottom",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_top %}
  <bolt-list display="flex" spacing="xlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "top-left",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "top",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "top-right",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set popover_bottom %}
  <bolt-list display="flex" spacing="xlarge">
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "bottom-left",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "bottom",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-center">
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          placement: "bottom-right",
          trigger: trigger,
          content: content,
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set grid %}
  {% include "@bolt-components-grid/grid.twig" with {
    gutter: "small",
    items: [
      {
        column_start: "2",
        column_span: "10",
        row_start: "1",
        content: popover_top,
      },
      {
        column_start: "12",
        column_span: "1",
        row_start: "2",
        content: popover_right,
      },
      {
        column_start: "2",
        column_span: "10",
        row_start: "3",
        content: popover_bottom,
      },
      {
        column_start: "1",
        column_span: "1",
        row_start: "2",
        content: popover_left,
      },
    ]
  } only %}
{% endset %}

<div class="t-bolt-xlight u-bolt-padding-xxlarge">
  {% include "@bolt-components-band/band.twig" with {
    theme: "none",
    full_bleed: false,
    content: grid,
  } only %}
</div>
