{% set description %}
  A text link is generally an inline interactive element that is styled as underlined text. Its main purpose is to help the user navigate (sometimes perform a function). Both <bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet> and <bolt-code-snippet display="inline" lang="html">&lt;a class="e-bolt-text-link"&gt;</bolt-code-snippet> are acceptable at rendering a text link, though the Twig template is the recommended usage for Drupal.
{% endset %}

{% set notes %}
  There are advanced features with the text link element, <bolt-code-snippet display="inline" lang="html">class="e-bolt-text-link"</bolt-code-snippet> is required to get those features. Reference respective doc page for each feature.
{% endset %}

{% set demo %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Click me to go to pega.com',
    attributes: {
      href: 'https://pega.com',
      target: '_blank',
    }
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-elements-text-link/text-link.twig' with {
  content: 'Click me to go to pega.com',
  attributes: {
    href: 'https://pega.com',
    target: '_blank',
  }
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<a href="https://pega.com" target="_blank" class="e-bolt-text-link">Click me to go to pega.com</a>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Text Link',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
