{% set icon_chevron_right %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "chevron-right",
  } only %}
{% endset %}

{% set icon_chevron_left %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "chevron-left",
  } only %}
{% endset %}

<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: icon_chevron_left|spaceless ~ 'This is a text link with icons before and after' ~ icon_chevron_right|spaceless,
    icon_position: 'before-and-after',
    attributes: {
      href: 'https//pega.com',
      target: '_blank',
    }
  } only %}
</p>

<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: icon_chevron_left|spaceless ~ 'This is a text link with an icon before',
    icon_position: 'before',
    attributes: {
      href: 'https//pega.com',
      target: '_blank',
    }
  } only %}
</p>

<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with an icon after' ~ icon_chevron_right|spaceless,
    icon_position: 'after',
    attributes: {
      href: 'https//pega.com',
      target: '_blank',
    }
  } only %}
</p>

{% set link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link',
    attributes: {
      href: 'javascript:',
    }
  } only %}
{% endset %}

{% set visited_link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a visited text link',
    attributes: {
      href: '/',
      target: '_blank',
    }
  } only %}
{% endset %}

{% set reversed_underline_link %}
  <h1>
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'This is a text link with reversed underline' ~ icon_chevron_right|spaceless,
      icon_position: 'after',
      reversed_underline: true,
      attributes: {
        href: 'javascript:',
      }
    } only %}
  </h1>
{% endset %}

<p>In condimentum facilisis porta. <a href="#!" class="e-bolt-link e-bolt-link--icon-before-and-after"><bolt-icon name="arrow-left"></bolt-icon>A really long link phasellus molestie magna non est bibendum non venenatis nisl tempor Suspendisse dictum feugiat nisl ut dapibus Mauris iaculis porttitor posuere Praesent id metus massa ut blandit odio Proin<bolt-icon name="info-open"></bolt-icon></a>. Sed nec diam eu diam mattis viverra. {{ link }}. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. {{ visited_link }}. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla.</p>

{{ reversed_underline_link }}
