{% set icon_chevron_right %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{% set icon_chevron_left %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'chevron-left',
  } only %}
{% endset %}

{% set icon_custom %}
  <img src="/images/placeholders/500x500.jpg" alt="Bill">
{% endset %}

{% set icon_info_open_small %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'info-open',
    size: 'small',
  } only %}
{% endset %}

{% set icon_info_open_medium %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'info-open',
    size: 'medium',
  } only %}
{% endset %}

{% set icon_info_open_large %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'info-open',
    size: 'large',
  } only %}
{% endset %}

{% set icon_info_open_xlarge %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'info-open',
    size: 'xlarge',
  } only %}
{% endset %}

<bolt-text headline>Icon Before and After</bolt-text>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with icons before and after',
    icon_before: {
      name: 'chevron-left',
    },
    icon_after: {
      name: 'chevron-right',
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with an icon before',
    icon_before: {
      name: 'chevron-left',
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with an icon after',
    icon_after: {
      name: 'chevron-right',
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>

<bolt-text headline>Icon Size</bolt-text>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with a small icon before',
    icon_before: {
      name: 'info-open',
      size: 'small'
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with a medium icon before',
    icon_before: {
      name: 'info-open',
      size: 'medium'
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with a large icon before',
    icon_before: {
      name: 'info-open',
      size: 'large'
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with a xlarge icon before',
    icon_before: {
      name: 'info-open',
      size: 'xlarge'
    },
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>

<bolt-text headline>Custom Icons</bolt-text>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with custom icons before and after',
    icon_before: icon_custom|spaceless,
    icon_after: icon_custom|spaceless,
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>
<p>
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link with a custom icon before',
    icon_before: icon_custom|spaceless,
    attributes: {
      href: 'https//pega.com',
    }
  } only %}
</p>

<bolt-text headline>Sandbox</bolt-text>
{% set link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a text link',
    attributes: {
      href: 'javascript:',
    }
  } only %}
{% endset %}

{% set visited_link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'This is a visited text link',
    attributes: {
      href: '/',
      target: '_blank',
    }
  } only %}
{% endset %}

{% set reversed_underline_link %}
  <bolt-text headline font-size="xxxlarge">
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'This is a text link with reversed underline',
      icon_after: icon_chevron_right|spaceless,
      reversed_underline: true,
      attributes: {
        href: 'javascript:',
      }
    } only %}
  </bolt-text>
{% endset %}

<p>In condimentum facilisis porta. <a href="#!" class="e-bolt-link e-bolt-link--icon-before-and-after"><bolt-icon name="arrow-left"></bolt-icon>A really long link phasellus molestie magna non est bibendum non venenatis nisl tempor Suspendisse dictum feugiat nisl ut dapibus Mauris iaculis porttitor posuere Praesent id metus massa ut blandit odio Proin<bolt-icon name="info-open"></bolt-icon></a>. Sed nec diam eu diam mattis viverra. {{ link }}. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor lobortis. Pellentesque eu est a nulla placerat dignissim. {{ visited_link }}. Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla.</p>

{{ reversed_underline_link }}
