<p>
  This video has <code>showMeta</code> set to <code>false</code>.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "showMeta": false
} only %}
