<p>
  This video hides only the title metadata by setting <code>showMetaTitle</code> to <code>false</code>.
</p>

{% include "@bolt/video.twig" with {
  "video_id": "3861325118001",
  "account_id": "1900410236",
  "player_id": "r1CAdLzTW",
  "meta_title": false
} only %}
