<p>
  This video hides its built-in controls by setting <code>controls</code> to <code>false</code> and adds an external control that will play or pause the video.
</p>
<p>
  {% include "@bolt/button.twig" with {
    "text": "Play or pause",
    "tag": "button",
    "attributes": {
      "on-click": "toggle",
      "on-click-target": "pega-video-3861325118001-e"
    }
  } only %}
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "controls": false,
  "videoUuid": "pega-video-3861325118001-e"
} only %}
