<p>
  This video displays its built-in controls and adds an external control that will play or pause the video.
</p>
<p>
  {% include "@bolt/button.twig" with {
    "text": "Play or pause",
    "tag": "button",
    "attributes": {
      "on-click": "toggle",
      "on-click-target": "pega-video-3861325118001-a"
    }
  } only %}
</p>

{% include "@bolt/video.twig" with {
  "video_id": "3861325118001",
  "account_id": "1900410236",
  "player_id": "r1CAdLzTW",
  "video_uuid": "pega-video-3861325118001-a"
} only %}
