<p>
  This video has an inline script.
</p>

{% include "@bolt/_video-inline-script.twig" with {
  socialUrl: "https://demo1.d8.pega.com/insights/resources/crm-evolved-atlanta-customer-engagement-digital-world"
} %}

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW"
} only %}
