<p>
  This video customizes the Social Share plugin's "Direct Link" value by setting <code>on_init</code> to <code>initBrightcovePlugins</code> and including an inline script with a new <code>socialUrl</code> value.
</p>
<p>
  {% include "@bolt/button.twig" with {
    "text": "Play or pause",
    "tag": "button",
    "attributes": {
      "on-click": "toggle",
      "on-click-target": "pega-video-3861325118001-b"
    }
  } only %}
</p>

{% include "@bolt/_video-inline-script.twig" with {
  "socialUrl": "https://demo1.d8.pega.com/insights/resources/crm-evolved-atlanta-customer-engagement-digital-world"
} %}

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "videoUuid": "pega-video-3861325118001-b",
  "on_init": "initBrightcovePlugins"
} only %}
