<p>
  This video customizes the Share plugin description by setting <code>share_description</code> to <code>Share me!</code>.
</p>

{% include "@bolt/video.twig" with {
  "video_id": "3861325118001",
  "account_id": "1900410236",
  "player_id": "r1CAdLzTW",
  "share_description": "Share me!"
} only %}
