<p>
  This video customizes the Share plugin description by setting <code>share_description</code> to <code>Share me!</code>.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3861325118001",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "share_description": "Share me!"
} only %}
