<p>
  This video has a cue point defined inside the Brightcove interface.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "5830697097001",
  "accountId": "1900410236",
  "playerId": "BkPDeo7VM"
} only %}

