<p>
  These videos hide the video title metadata by setting <code>showMetaTitle</code> to <code>false</code> and display the title elsewhere in the markup.
</p>

{% include "@bolt/headline.twig" with {
  "tag": "h3",
  "size": "large",
  "text": "Figure with Video"
} only %}

{% set content %}
  <figure>
    {% include "@bolt/video.twig" with {
      "video_id": "3861325118001",
      "account_id": "1900410236",
      "player_id": "r1CAdLzTW",
      "meta_title": false,
      "attributes": {
        "class": "u-bolt-margin-bottom-small"
      }
    } only %}
    <figcaption>
      {% include "@bolt/text.twig" with {
        "size": "xsmall",
        "text": "EE: Transforming the Customer Journey Through 1:1 Customer Engagement (Suzanne Woolley)"
      } only %}
    </figcaption>
  </figure>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  "size": "medium",
  "theme": "light",
  "content": content,
  "attributes": {
    "class": "u-bolt-margin-bottom-medium"
  }
} only %}

{% include "@bolt/headline.twig" with {
  "tag": "h3",
  "size": "large",
  "text": "Headline with Video"
} only %}

{% set content %}
  {% include "@bolt/headline.twig" with {
    "size": "xxlarge",
    "text": "EE: Transforming the Customer Journey Through 1:1 Customer Engagement (Suzanne Woolley)"
  } only %}
  {% include "@bolt/video.twig" with {
    "video_id": "3861325118001",
    "account_id": "1900410236",
    "player_id": "r1CAdLzTW",
    "meta_title": false
  } only %}
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  "size": "medium",
  "theme": "dark",
  "content": content
} only %}
