<p>
  This is an example of a Brightcove video error message display.
</p>

{% include "@bolt/video.twig" with {
  "videoId": "3974147489001dasasddasdsa",
  "accountId": "1900410236",
  "playerId": "r1CAdLzTW",
  "showMeta": true,
  "showMetaTitle": true
} only %}
