{% set javascript %}
<script>
  // Open modal when video plays, pause video on modal hide
  const modal = document.querySelector('.js-modal-123');
  const video = document.querySelector('.js-modal-video-123');

  video.addEventListener('playing', function() {
    modal.show();
  });

  modal.addEventListener('modal:hide', function() {
    video.pause();
  });
</script>
{% endset %}

<bolt-text headline font-size="xlarge">Video Modal Usage: Video Triggers Modal</bolt-text>
<bolt-text>Custom javascript is needed to open the modal when the video plays and to pause the video when the modal closes.</bolt-text>

<bolt-text headline font-size="large">Demo</bolt-text>
<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set modal_content %}
    {% include "@bolt-components-video/video.twig" with {
      videoId: "3861325118001",
      accountId: "1900410236",
      playerId: "r1CAdLzTW",
      showMeta: true,
      showMetaTitle: true,
      attributes: {
        class: "js-modal-video-123"
      }
    } only %}
  {% endset %}

  {% include "@bolt-components-button/button.twig" with {
    text: "Play the video",
    attributes: {
      "on-click": "toggle",
      "on-click-target": "js-modal-video-123"
    }
  } only %}

  {% include "@bolt-components-modal/modal.twig" with {
    attributes: {
      class: "js-modal-123"
    },
    content: modal_content,
    width: "optimal",
    spacing: "none",
    theme: "none",
    scroll: "overall",
  } only %}

  {{ javascript }}
</div>

<bolt-text headline font-size="large">Custom Javascript</bolt-text>
<bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
  {{ javascript | replace({
    '<': '&lt;',
    '>': '&gt;',
  }) | trim | raw }}
{% endspaceless %}</bolt-code-snippet>
