@import '@bolt/core';

// Local Variables
$bolt-ordered-list-bullet-size: $bolt-line-height--xsmall + rem;
$bolt-ordered-list-bullet-bg-color: rgba(bolt-color(gray), 0.2);


bolt-ordered-list-item {
  position: relative;

  &:before {
    @include bolt-font-size(xsmall);
    @include bolt-font-weight(bold);

    content: counter(li);
    display: block;
    position: absolute;
    top: 0.125em;
    left: 0;
    width: $bolt-ordered-list-bullet-size;
    height: $bolt-ordered-list-bullet-size;
    counter-increment: li;
    color: bolt-theme(headline);
    line-height: $bolt-ordered-list-bullet-size;
    text-align: center;
    border-radius: $bolt-ordered-list-bullet-size;
    background-color: $bolt-ordered-list-bullet-bg-color;
  }
}

.c-bolt-ordered-list-item {
  @include bolt-margin(0 0 0 medium);
  @include bolt-padding(0);

  position: relative;

  &-spacing {
    @include bolt-margin-bottom(small);
  }

  &--last-item {
    @include bolt-margin-bottom(0);
  }
}

// [Mai] This is an IE specific fix to center the number inside the circle. IE calculates line-height differently.
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  bolt-ordered-list-item {
    &:before {
      line-height: $bolt-line-height--medium;
    }
  }
}
