@import '@bolt/tools-spacing';

$bolt-logo-max-width: bolt-spacing(xlarge);

bolt-logo {
  display: block; // to force break to new line by default
  max-width: $bolt-logo-max-width;

  &:not(:last-child) {
    @include bolt-margin-bottom(small);
  }
}

.c-bolt-logo--invert {
  filter: grayscale(100%) invert(100%) brightness(150%);
}
