@import '@bolt/core';

/* ------------------------------------ *\
   Navbar
\* ------------------------------------ */

bolt-navbar {
  display: block;
}

.c-bolt-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.c-bolt-navbar__brand {
  @include bolt-margin(0 small 0 0);

  white-space: nowrap;

  &:only-child {
    @include bolt-margin-right(auto);
  }
}

.c-bolt-navbar__brand-item {
  display: inline-block;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;

  & + .c-bolt-navbar__brand-item {
    @include bolt-margin-left(xsmall);
  }
}


.c-bolt-navbar__nav {
  @include bolt-margin(0 0 0 small);

  // TODO: [Mai] The following is a hack to hide the nav on small screens, there should be a better option to hide and show in the future from the design team.
  display: none;

  @include respond-to(medium) {
    display: block;
  }

  &:after {
    content: "double quotes";
  }
}


.c-bolt-navbar__nav {
  &:only-child {
    @include bolt-margin(0 auto);
  }
}

.c-bolt-navbar--align-items-start {
  justify-content: flex-start;
}

.c-bolt-navbar--align-items-center {
  justify-content: center;
}

.c-bolt-navbar--align-items-end {
  justify-content: flex-end;
}
