{% set description %}
  Content Pagination is commonly used in documentation design. It appears at the bottom of an article to help the user navigate to previous, next, or parent topic.
{% endset %}

{% set notes %}
  Community Tech Doc is a great example of using Side Nav, Content Pagination, Holy Grail layout, and Article element together. <a href="{{ link['pages-community-tech-doc'] }}" class="e-bolt-text-link">View Example Tech Documentation<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a>
{% endset %}

{% set demo %}
  {% include '@bolt-components-content-pagination/content-pagination.twig' with {
    parent: {
      content: 'System Administrations',
      tooltip_content: 'Parent topic',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    previous: {
      content: 'Configuring system settings',
      tooltip_content: 'Previous topic',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    next: {
      content: 'Configuring user avatar',
      tooltip_content: 'Next topic',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-content-pagination/content-pagination.twig' with {
  parent: {
    content: 'System Administrations',
    tooltip_content: 'Parent topic',
    link_attributes: {
      href: 'https://pega.com',
    },
  },
  previous: {
    content: 'Configuring system settings',
    tooltip_content: 'Previous topic',
    link_attributes: {
      href: 'https://pega.com',
    },
  },
  next: {
    content: 'Configuring user avatar',
    tooltip_content: 'Next topic',
    link_attributes: {
      href: 'https://pega.com',
    },
  },
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Content Pagination',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
