.c-bolt-swatch {
  display: flex;
  height: 100%; // So vertical centering works -- same update we had to make for cards since teaking how flex grid behaves
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.c-bolt-swatch__color {
  display: block;

  &:not(.c-bolt-swatch__color--large) {
    @include bolt-padding(small, stretched);
  }
}


.c-bolt-swatch__color:nth-last-child(n+4) ~ .c-bolt-swatch__color:last-child:nth-child(even) {
  margin-bottom: auto;
}



.c-bolt-swatch__color--large {
  @include bolt-padding-left(small);
  @include bolt-padding-right(small);
  @include bolt-padding-top(large);
  @include bolt-padding-bottom(large);

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    margin-bottom: auto;
  }
}


.c-bolt-swatch__text {
  display: flex;
  flex-flow: row wrap;
}

.c-bolt-swatch__meta {
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(bold);
  display: block;
  width: 100%;
  text-transform: uppercase;
}

.c-bolt-swatch__name {
  @include bolt-font-size(large);
  @include bolt-font-weight(bold);
}

.c-bolt-swatch__value {
  @include bolt-font-size(large);
  @include bolt-font-weight(bold);
  text-transform: uppercase;
  margin-left: auto;
}




.c-bolt-accessibility-table {
  @include bolt-padding-top(medium);
  @include bolt-padding-right(small);
  @include bolt-padding-bottom(medium);
  @include bolt-padding-left(small);
}


.c-bolt-accessibility-table__table {
  margin-bottom: 0;
  margin-left: 0;
}


.c-bolt-accessibility-table__row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid currentColor;
}

.c-bolt-accessibility-table__column {
  @include bolt-font-size(xsmall);
  @include bolt-padding-top(xsmall);
  @include bolt-padding-bottom(xsmall);
  display: block;
  margin: 0;
  align-items: center;
}

.c-bolt-accessibility-table__column:nth-child(1) {
  min-width: 130px;
}



.c-bolt-accessibility-table__text--large {
  @include bolt-font-size(xxlarge);
  @include bolt-font-weight(normal);
}

.c-bolt-accessibility-table__text--medium {
  @include bolt-font-size(large);
  @include bolt-font-weight(normal);
}



.c-bolt-accessibility-table__column:nth-child(2),
.c-bolt-accessibility-table__column:nth-child(3) {
  display: flex;
  margin: 0 bolt-spacing(small);
  text-align: right;
  flex: 1;
  align-items: flex-end;
  align-self: flex-end;
}

.c-bolt-accessibility-table__results {
  @include bolt-font-size(small);
  @include bolt-margin-right(xsmall);
  @include bolt-padding(xsmall);
  display: inline-block;
  margin: 0;
  padding: 0;
  color: bolt-color(gray, xdark);
  line-height: 1.65;
  line-height: 1.375;
  background-color: bolt-color(gray, light);
  border: solid 1px bolt-color(gray, light);
  border-radius: 4px;
}

.c-bolt-accessibility-table__results--aa18 {
  background-color: color(yellow);
}

.c-bolt-accessibility-table__results--fail {
  background-color: color(warning);
}


.c-bolt-accessibility-table__text {
  @include bolt-margin-right(xsmall);
  display: inline-block;
}

.c-bolt-accessibility-table__small-text {
  @include bolt-font-size(xsmall);
}

.c-bolt-accessibility-table__column--white {
  color: bolt-color(white);
}

.c-bolt-accessibility-table__column--black {
  color: bolt-color(black);
}
