/* ------------------------------------ *\
   Teaser
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Register Custom Block Element
@include bolt-custom-element('bolt-teaser', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-teaser {
  display: block;
  position: relative;

  > *:not(:last-child) {
    margin-bottom: var(--bolt-spacing-y-xsmall);
  }

  &__thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: var(--bolt-color-navy);
  }

  &__thumbnail-premium {
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    transform: rotate(-45deg);
    padding: var(--bolt-spacing-y-xxsmall) var(--bolt-spacing-x-medium);
    font-size: var(--bolt-type-font-size-xsmall);
    font-weight: var(--bolt-type-font-weight-semibold);
    color: var(--bolt-color-navy);
    background-color: var(--bolt-color-teal-light);
  }

  &__thumbnail-type {
    position: absolute;
    bottom: var(--bolt-spacing-y-xsmall);
    left: var(--bolt-spacing-x-xsmall);
  }

  &__thumbnail-description-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bolt-color-navy-xdark);
    transition: opacity $bolt-transition;
  }

  &__thumbnail-description {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: var(--bolt-spacing-y-medium) var(--bolt-spacing-x-medium);
    color: white;
  }

  &:hover {
    .c-bolt-teaser__thumbnail-description-wrapper {
      opacity: 0.8;
    }
  }

  &__content {
    > *:not(:last-child) {
      margin-bottom: var(--bolt-spacing-y-xsmall);
    }
  }

  &__meta-action-content {
    position: relative;
    z-index: 1;
  }

  &__meta-item {
    font-size: var(--bolt-type-font-size-xsmall);
    line-height: var(--bolt-type-line-height-xsmall);
    line-height: calc(
      var(--bolt-type-line-height-xsmall) *
        var(--bolt-type-line-height-multiplier-regular)
    );
  }

  &__meta-action-items {
    font-size: var(--bolt-type-font-size-xsmall);
    line-height: var(--bolt-type-line-height-xsmall);
    line-height: calc(
      var(--bolt-type-line-height-xsmall) *
        var(--bolt-type-line-height-multiplier-regular)
    );
    text-align: right;
  }

  &__meta-action-item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: var(--bolt-spacing-y-xsmall);
    }
  }

  @include bolt-mq(small) {
    &--horizontal {
      display: grid;
      column-gap: var(--bolt-spacing-x-xsmall);
      grid-template-columns: 150px 1fr;

      .c-bolt-teaser__thumbnail {
        margin-bottom: 0;
      }
    }
  }
}
