<div class="u-bolt-margin-bottom-medium">
  <h3>1 of 3</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 1,
    total: 3,
    pages: {
      1: {
        href: '#!'
      },
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>1 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 1,
    total: 6,
    pages: {
      1: {
        href: '#!'
      },
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>1 of 7</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 1,
    total: 7,
    pages: {
      1: {
        href: '#!'
      },
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>4 of 5</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 4,
    total: 5,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      1: {
        href: '#!'
      },
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>4 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 4,
    total: 6,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>4 of 10</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 4,
    total: 10,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>5 of 7</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 5,
    total: 7,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      },
      7: {
        href: '#!'
      },
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>6 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 6,
    total: 6,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      }
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>5 of 10</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 5,
    total: 10,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      },
      7: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } only %}
</div>

<hr>
<div class="u-bolt-margin-bottom-medium">
  <h3>100 of 100</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 100,
    total: 100,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      96: {
        href: '#!'
      },
      97: {
        href: '#!'
      },
      98: {
        href: '#!'
      },
      99: {
        href: '#!'
      },
      100: {
        href: '#!'
      }
    }
  } only %}
</div>
