/* ------------------------------------ *\
   Sticky
\* ------------------------------------ */

@import '@bolt/core';

bolt-sticky {
  display: block;
}

.c-bolt-sticky {
  display: block;
  position: sticky;
  z-index: z('navFixed');
  top: 0;
  width: 100%;
}
