/* ==========================================================================
   #GRID
   ========================================================================== */

/**
 * 1. Workaround to Safari layout getting thrown off when using a negative letter-spacing to remove inline-block whitespace
 *    @TODO: remove when v1 grid with CSS Grid support rolls out
 * 2. Reset local font-size inheritance to prevent components w/o default font sizes from breaking
 */
.o-bolt-grid {
  flex: 1 1 auto; //Automatically auto fill any available space, in case a grid is nested inside of a flexbox-friendly parent container.
  margin: 0;
  margin-left: bolt-spacing(medium) * -1;
  padding: 0;
  list-style: none;
  font-size: 0; /* stylelint-disable-line */ /* [1] */
}

.o-bolt-grid__cell {
  display: inline-block;
  padding-left: bolt-spacing(medium);
  vertical-align: top;
  font-size: 1rem; /* stylelint-disable-line */ /* [2] */
}



.o-bolt-grid--rev {
  direction: rtl;

  > .o-bolt-grid__cell {
    direction: ltr;
  }
}


/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.o-bolt-grid`.
 */
.o-bolt-grid--full {
  margin-left: 0;

  > .o-bolt-grid__cell {
    padding-left: 0;
  }
}

/**
 * Centered grids align grid cells centrally without needing to use push or pull
 * classes. Extends `.o-bolt-grid`.
 */
.o-bolt-grid--center {
  justify-content: center;
  text-align: center;

  > .o-bolt-grid__cell {
    text-align: left;
  }
}


/**
 * Align grid cells vertically (`.o-bolt-grid--middle` or `.o-bolt-grid--bottom`). Extends
 * `.o-bolt-grid`.
 */
.o-bolt-grid--middle {
  &.o-bolt-grid--flex {
    align-items: center;
  }

  > .o-bolt-grid__cell {
    vertical-align: middle;
  }
}

.o-bolt-grid--bottom {
  &.o-bolt-grid--flex {
    align-items: flex-end;
  }

  > .o-bolt-grid__cell {
    vertical-align: bottom;
  }
}


/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.o-bolt-grid--right {
  justify-content: flex-end;
  text-align: right;

  > .o-bolt-grid__cell {
    text-align: left;
  }
}

.o-bolt-grid__cell--middle {
  align-self: center;
  vertical-align: middle;
}

.o-bolt-grid__cell--top {
  align-self: flex-start;
  vertical-align: top;
}

.o-bolt-grid__cell--bottom {
  align-self: flex-end;
  vertical-align: bottom;
}




// Grid gutter sizes
// .o-bolt-grid--xsmall {
//   margin-left: bolt-spacing(xsmall) * -1;
//
//   > .o-bolt-grid__cell {
//     padding-left: bolt-spacing(xsmall);
//   }
// }

.o-bolt-grid--small {
  margin-left: bolt-spacing(small) * -1;

  > .o-bolt-grid__cell {
    padding-left: bolt-spacing(small);
  }
}

/**
 * Large gutters
 */
.o-bolt-grid--large {
  margin-left: bolt-spacing(large) * -1;

  > .o-bolt-grid__cell {
    padding-left: bolt-spacing(large);
  }
}

/**
 * Extra wide gutters
 */
.o-bolt-grid--xlarge {
  margin-left: bolt-spacing(large) * -1;

  > .o-bolt-grid__cell {
    padding-left: bolt-spacing(large);
  }
}


// /**
//  * Extra extra wide gutters
//  */
// %o-grid--xxlarge,
// .o-bolt-grid--xxlarge {
//
//   @include respond-to(small) {
//     margin-left: -$spacing-unit-xlarge * 2;
//   }
//   margin-left: -$spacing-unit-large * 2;
//
//   > %o-grid__cell,
//   > .o-bolt-grid__cell {
//
//     @include respond-to(small) {
//       padding-left: $spacing-unit-xlarge * 2;
//     }
//     padding-left: $spacing-unit-large * 2;
//   }
// }

.o-bolt-grid--flex {
  display: flex;
  flex-flow: row wrap;

}



.o-bolt-grid--matrix {
  margin-bottom: bolt-v-spacing(medium) * -1;
}

.o-bolt-grid--matrix > .o-bolt-grid__cell {
  padding-bottom: bolt-v-spacing(medium);
}
