////
/// @group animations
////

@keyframes slide-up {
  to {
    transform: translateY(0) translateZ(0);
  }
}

/// Slide up
/// See [example in Pattern Lab](../../pattern-lab/public/?p=base-slide-up)
/// Give element an HTML attribute of `data-anim-trigger="view"` to have `data-anim-triggered='yes'`, which should trigger the animation, applied when scrolled into view.
/// @param $base [false] - Apply to element to prep.
/// @param $active [false] - Apply when element should transition
@mixin anim-slide-up($base: false, $active: false) {
  @if $base {
    transform: translateY($slide-up-distance) translateZ(0);
    will-change: transform;
  }
  @if $active {
    animation: slide-up $trans-move forwards;
  }
}

/// Slide up utility class
/// Give element an HTML attribute of `data-anim-trigger="view"` to have `data-anim-triggered='yes'`, which should trigger the animation, applied when scrolled into view.
.js .u-anim-slide-up {
  @include anim-slide-up($base: true);
  // stylelint-disable selector-max-specificity
  &[data-anim-trigger='hover']:hover, // just for demos
  // stylelint-enable selector-max-specificity
  &[data-anim-triggered='yes'] {
    @include anim-slide-up($active: true);
  }
}
