/* ------------------------------------ *\
   Action Blocks Settings and Tools
\* ------------------------------------ */

// Local Variables
$bolt-action-block-item-max-width: 20ch;
$bolt-action-block-text-on-hover: var(--bolt-color-white);
$bolt-action-block-background: var(--bolt-color-navy-light);
$bolt-action-blocks-border-width: $bolt-border-width;
$bolt-action-blocks-border-style: $bolt-border-style;
