/* ------------------------------------ *\
   Action Blocks Settings and Tools
\* ------------------------------------ */

// Local Variables
$bolt-action-blocks-transition-ease: cubic-bezier(0.25, 0.8, 0.25, 1);
$bolt-action-blocks-transition-timing: 300ms;
$bolt-action-block-item-max-width: 20ch;
$bolt-action-block-background: bolt-color(indigo, light);

$bolt-action-blocks-border-width: $bolt-border-width;
$bolt-action-blocks-border-style: $bolt-border-style;
