/* ------------------------------------ *\
   Action Blocks
\* ------------------------------------ */

// Sample Usage
// <bolt-action-blocks bolt-component>
//   <ul class="c-bolt-action-blocks c-bolt-action-blocks--item-max-6 c-bolt-action-blocks--vertical-align-start c-bolt-action-blocks--bordered">
//     <li class="c-bolt-action-blocks__item">
//       <bolt-action-block bolt-component>
//         <a href="http://google.com" class="c-bolt-action-block">
//           <div class="c-bolt-action-block__item">
//             <bolt-icon name="download" background="circle" size="large"></bolt-icon>
//           </div>
//           <div class="c-bolt-action-block__item">
//             Item 1, Proin Quis Tortor Orci Etiam At Risus Et Justo Dignissim.
//           </div>
//         </a>
//       </bolt-action-block>
//     </li>
//   </ul>
// </bolt-action-blocks>

@import '@bolt/core';

// Local Variables
$bolt-action-block-text-color: var(--bolt-theme-action-block-text, var(--bolt-theme-heading, var(--bolt-theme-text, inherit)));
$bolt-action-block-transition-ease: $bolt-transition-ease;
$bolt-action-block-transition-timing: 300ms;
$bolt-action-block-item-max-width: 20ch;

$bolt-action-blocks-border-width: $bolt-border-width;
$bolt-action-blocks-border-style: $bolt-border-style;
$bolt-action-blocks-border-color: var(--bolt-theme-card-border, var(--bolt-theme-border, inherit));

$bolt-action-block-background: bolt-color(indigo, light);

// Individual Action Block Styles
.c-bolt-action-block {
  @include bolt-padding(medium, stretched);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
  color: $bolt-action-block-text-color;
  outline: none;
  transition: color .35s cubic-bezier(0.25,0.8,0.25,1);

  &:hover,
  &:active,
  &:focus {
    color: bolt-text-contrast($bolt-action-block-background);
  }

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    background-color: $bolt-action-block-background;
    opacity: 0;
    transition: all .35s cubic-bezier(0.25,0.8,0.25,1);
  }

  &:hover, &:focus {
    &:before {
      opacity: 1;
    }
  }

  &:active {
    &:before {
      opacity: .8;
    }
  }
}

.c-bolt-action-block__item {
  @include bolt-margin(0 auto small auto);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(bold);

  display: block;
  position: relative;
  width: 100%;
  max-width: $bolt-action-block-item-max-width;
  text-align: center;

  &:last-child {
    @include bolt-margin-bottom(0);
  }
}


// The Frame to Contain a Group of Action Blocks
bolt-action-blocks {
  display: block; // TODO: This needs to use the global block element mixin.
  overflow: hidden;
}

.c-bolt-action-blocks {
  @include bolt-margin(0 -1px -1px 0);
  @include bolt-padding(0);
  transform: translate3d(0, 0, 0); //Force hardware accelerated rendering to cleanly remove extra border from showing up sometimes
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.c-bolt-action-blocks__item {
  display: block;
  flex-grow: 1;
  position: relative;
  min-width: 150px;
}

.c-bolt-action-blocks--bordered > .c-bolt-action-blocks__item:before {
  border-bottom-width: $bolt-action-blocks-border-width;
  border-bottom-style: $bolt-action-blocks-border-style;
  border-right-width: $bolt-action-blocks-border-width;
  border-right-style: $bolt-action-blocks-border-style;
  display: block;
  position: absolute;
  z-index: bolt-z-index('background');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: $bolt-global-border-opacity;
  border-bottom-color: $bolt-action-blocks-border-color;
  border-right-color: $bolt-action-blocks-border-color;

  @supports(--css: variables) {
    opacity: 1; // Remove fallback opacity and let theme decide.
  }
}

.c-bolt-action-blocks--borderless > .c-bolt-action-blocks__item {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.c-bolt-action-blocks--vertical-align-start {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: flex-start;
  }
}

.c-bolt-action-blocks--vertical-align-center {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: center;
  }
}

.c-bolt-action-blocks--vertical-align-end {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: flex-end;
  }
}

@for $number from 2 through 12 {
  .c-bolt-action-blocks--item-max-#{$number} > .c-bolt-action-blocks__item {
    flex-basis: calc(100% / #{$number} - #{$bolt-action-blocks-border-width});
  }
}


.c-bolt-action-block__text {
  transition: color .25s cubic-bezier(0.25,0.8,0.25,1);
  color: currentColor;
  color: var(--bolt-theme-heading-link-default, --bolt-theme-text);

  .c-bolt-action-block:focus &,
  .c-bolt-action-block:hover &,
  .c-bolt-action-block:active & {
    color: bolt-text-contrast($bolt-action-block-background);
  }
}