/*
  This is a workaround to include the Bell Icon styles from Page Header on
  MyPega. MyPega doesn't use the Page Header component so this is the
  quickest, easiest way to get it working there.
*/

.c-bolt-page-header__nav-link__container {
  position: relative;

  *::-webkit-scrollbar {
    width: 11px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--bolt-color-gray) var(--bolt-color-gray-xlight);
  }

  *::-webkit-scrollbar-track {
    background: var(--bolt-color-gray-xlight);
  }

  *::-webkit-scrollbar-thumb {
    border: 3px solid var(--bolt-color-gray-xlight);
    border-radius: 6px;
    background-color: var(--bolt-color-gray);
  }
}

.c-bolt-page-header__nav-link {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 2.5rem;
  padding: 0;
  padding: 0 var(--bolt-spacing-x-xsmall);
  font: inherit;
  font-family: var(--bolt-type-font-family-headline);
  font-size: var(--bolt-type-font-size-xsmall);
  color: var(--m-bolt-link);
  line-height: 2.5rem;
  text-align: inherit;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent;

  &:focus {
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px currentColor;
    outline: none;
  }
}

.c-bolt-page-header__nav-link__content {
  display: grid;
  align-items: center;
  position: relative;
  min-height: inherit;
  grid-template-columns: auto 1fr auto;
}

.c-bolt-page-header__nav-link__content__signifier {
  display: grid;
  font-size: calc(2.5rem * 0.6);
  line-height: 1;
  place-items: center;
}

.c-bolt-page-header__nav-link__content__text {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}

.c-bolt-page-header__counter {
  position: absolute;
  top: calc(2.5rem * 0.2);
  right: 0;
  transform: translate3d(25%, -20%, 0);
  padding: 2px;
  font-weight: var(--bolt-type-font-weight-semibold);
  color: var(--bolt-color-white);
  line-height: 1;
  text-decoration: none;
  border: 2px solid var(--m-bolt-bg);
  border-radius: 100em;
  background-color: var(--bolt-color-error);

  &:empty {
    width: 0.9em;
    height: 0.9em;
    padding: 0;
  }
}

.c-bolt-page-header__popover {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -2ch;
  transform: translate3d(0, calc(var(--bolt-spacing-y-medium) - 6px), 0);
  z-index: 200;
  width: var(--c-bolt-page-header-popover-width);
  max-height: 80vh;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--m-bolt-border);
  box-shadow: 0 1px 2px 1px rgba(6, 10, 36, 0.08);
  background-color: var(--m-bolt-bg);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity var(--bolt-transition), visibility var(--bolt-transition),
    transform var(--bolt-transition);
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  --c-bolt-page-header-popover-width: 25rem;
}

.c-bolt-page-header__nav-link[aria-expanded='true']
  ~ .c-bolt-page-header__popover {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, calc(2.5rem - 2px), 0);
}

.c-bolt-notifications__header,
.c-bolt-notifications__footer {
  position: sticky !important; // Must override style-loader styles
  right: 0;
  left: 0;
  z-index: 1;
}

.c-bolt-notifications__footer {
  bottom: 0;
}

.c-bolt-notifications__header {
  top: 0;
}
