////
/// @group Settings: font size mapping
/// @author Mike Mai
////


/*------------------------------------*\
  Base Font Size
\*------------------------------------*/


$font-size--min: 15;
$font-size--min-px: 15px;
$font-size--max: 18;
$font-size--max-px: 18px;




/*------------------------------------*\
  Scale
\*------------------------------------*/

$font-scale--xxlarge: 3.083;
$font-scale--xlarge: 1.781;
$font-scale--large: 1.417;
$font-scale--medium: 1.111;
$font-scale--base: 1;
$font-scale--small: .9;
$font-scale--xsmall: .8;

$font-leading--xxlarge: 1.297;
$font-leading--xlarge: 1.123;
$font-leading--large: 1.411;
$font-leading--medium: 1.5;
$font-leading--base: 1.65;
$font-leading--small: 1.667;
$font-leading--xsmall: 1.45;

$font-leading--tight: 1.111;

/// Bolt's definition of all options of possible text sizes.
/// @type Map
$font-sizes: (
  font-sizes: (
    xxlarge: (
      font-size: $font-scale--xxlarge + rem,
      line-height: (
        regular: $font-leading--xxlarge,
        tight: $font-leading--tight
      )
    ),
    xlarge: (
      font-size: $font-scale--xlarge + rem,
      line-height: (
        regular: $font-leading--xlarge,
        tight: $font-leading--tight
      )
    ),
    large: (
      font-size: $font-scale--large + rem,
      line-height: (
        regular: $font-leading--large,
        tight: $font-leading--tight
      )
    ),
    medium: (
      font-size: $font-scale--medium + rem,
      line-height: (
        regular: $font-leading--medium,
        tight: $font-leading--tight
      )
    ),
    base: (
      font-size: $font-scale--base + rem,
      line-height: (
        regular: $font-leading--base,
        tight: $font-leading--tight
      )
    ),
    small: (
      font-size: $font-scale--small + rem,
      line-height: (
        regular: $font-leading--small,
        tight: $font-leading--tight
      )
    ),
    xsmall: (
      font-size: $font-scale--xsmall + rem,
      line-height: (
        regular: $font-leading--xsmall,
        tight: $font-leading--tight
      )
    )
  )
);
