.c-nav {
  nav {
    @include padding(($leading*2 + rem),($gutter + rem),($leading*2 + rem),($gutter + rem));

    h1, h2 {
      @include margin(0,0,($leading + rem),0);
      @include font-size(small);

      text-transform: uppercase;
      letter-spacing: .1rem;
    }

    ul {
      @include margin(0,0,0,0);
      @include padding(0,0,0,0);

      list-style: none;
    }
  }
}

.c-nav--vertical {
  nav {
    ul {
      li {
        @include margin(0,0,($leading + rem),0);
        @include padding(0,0,0,0);

        &:last-of-type {
          @include margin(0,0,0,0);
        }
      }
    }
  }
}
