.c-heading {
  @include null-spacing;
  @include font-family(heading);
  @include font-weight(bold);

  &:only-child {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.c-heading--xxlarge, .c-heading--xlarge {
  @include padding(($font-leading--base*2 + rem),0,($font-leading--base*.65 + rem),0);
}

.c-heading--xxlarge {
  @include font-size(xxxlarge);

  letter-spacing: -.15rem;

  @include respond-to($max: $bp-small-px) {
    @include font-size(xxlarge);

    letter-spacing: -.1rem;
  }
}

.c-heading--xlarge {
  @include font-size(xlarge);

  letter-spacing: -.1rem;
}

.c-heading--large {
  @include padding(($font-leading--base*1.35 + rem),0,($font-leading--base*.4 + rem),0);
  @include font-size(large);

  letter-spacing: -.05rem;
}

.c-heading--medium, .c-heading--small {
  @include padding(($font-leading--base*1.15 + rem),0,($font-leading--base*.4 + rem),0);
}

.c-heading--medium {
  @include font-size(medium);
}

.c-heading--small {
  @include font-size(small);

  text-transform: uppercase;
  letter-spacing: .1rem;
}

.c-heading--eyebrow {
  @include padding(($font-leading--base + rem),0,($font-leading--base*.125 + rem),0);
  @include font-size(xsmall);
  @include font-weight(regular);

  & + .c-heading {
    padding-top: 0;
  }
}

  .c-heading__text {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

.c-heading-group {
  .c-eyebrow {
    @include padding(0,0,($font-leading--base*.125 + rem),0);
  }

  .c-heading--xxlarge {
    @include padding(0,0,($font-leading--base*.325 + rem),0);
  }

  .c-heading--xlarge {
    @include padding(0,0,($font-leading--base*.65 + rem),0);
    @include font-weight(regular);

    line-height: 1.45;
    letter-spacing: 0;

    @include respond-to($max: $bp-small-px) {
      @include font-size(large);
    }
  }

  &:only-child {
    .c-heading--xlarge {
      @include padding(0,0,0,0);
    }
  }
}

.c-heading, .c-heading-group {
  & + * {
    @include null-spacing;
  }
}
