.c-article {
  @include clearfix;

  line-height: $font-leading--base;

  .inset {
    @include inset(xxlarge);
  }

  .stack {
    @include stack(medium);
  }

  .inline {
    @include inline(xlarge);

    background-color: red;
  }

  strong {
    font-weight: $font-weight--semibold; // This is an edge case to use semibold.
  }

  address {
    display: inline-block;
  }

  code {
    @include font-family(code);

    font-weight: $font-weight--semibold; // This is an edge case to use semibold.
  }

  p,
  hr,
  figure,
  blockquote,
  ol, ul, dl,
  details, summary {
    &:first-child {
      margin-top: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include null-spacing;
  }

  h1 {
    @include padding(0,0,($font-leading--base * 0.65 + rem),0);
    @include font-size(xxlarge);

    letter-spacing: -.1rem;

    @include respond-to(medium) {
      @include font-size(xxxlarge);

      letter-spacing: -.15rem;
    }
  }

  h2 {
    @include padding(($font-leading--base*2 + rem),0,($font-leading--base*.5 + rem),0);
    @include font-size(xlarge);

    letter-spacing: -.1rem;
  }

  hgroup {
    h1 {
      @include padding(0,0,($font-leading--base * 0.325 + rem),0);
    }

    h1 + h2 {
      @include padding(0,0,($font-leading--base*.65 + rem),0);
      @include font-size(large);
      @include font-weight(regular);

      letter-spacing: 0;

      @include respond-to(medium) {
        @include font-size(xlarge);

        line-height: 1.45;
      }
    }
  }

  h3 {
    @include padding(($font-leading--base*1.35 + rem),0,($font-leading--base*.3 + rem),0);
    @include font-size(large);

    letter-spacing: -.05rem;
  }

  h4, h5, h6 {
    @include padding(($font-leading--base*1.15 + rem),0,($font-leading--base*.2 + rem),0);
  }

  h4 {
    @include font-size(medium);
  }

  h5, h6 {
    @include font-size(small);

    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  aside {
    p,
    hr,
    figure,
    blockquote,
    ol, ul, dl,
    details, summary {
      &:first-child {
        @include paragraph-spacing;
      }
    }

    &:first-child {
      p,
      hr,
      figure,
      blockquote,
      ol, ul, dl,
      details, summary {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    @include respond-to(medium) {
      @include float(right);
      @include margin(0,0,($font-leading--base + rem),($gutter + rem));

      width: $golden-aside-width + vw;
      max-width: $article-line-length/2 + ch;

      &:first-child {
        & + * {
          margin-top: 0;
        }
      }
    }
  }

  h1, h2, h3, h4, h5, h6, header, hgroup {
    & + * {
      margin-top: 0;
    }

    & + aside {
      p,
      hr,
      figure,
      blockquote,
      ol, ul, dl,
      details, summary {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    @include respond-to(medium) {
      & + aside + * {
        margin-top: 0;
      }
    }
  }

  ol, ul {
    @include padding(0,0,0,0);
  }

  figure {
    @include padding(($font-leading--base/4 + rem),0,0,0);
    @include text-align(center);
    @include horizontal-scroll;

    > div,
    > img,
    > a {
      @include margin(0,0,($font-leading--base/4 + rem),0);
    }

    > div,
    > a, {
      display: block;
    }

    > div {
      @include position(relative,auto,auto,auto,auto);
      @include padding(30px,0,56.25%,0);

      height: 0;
      overflow: hidden;

      iframe,object,embed {
        @include position(absolute,0,auto,auto,0);

        width: 100%;
        height: 100%;
      }
    }

    img {
      max-width: 100%;
    }
  }

  figcaption {
    @include font-size(xsmall);
  }

  blockquote {
    @include padding(($font-leading--base + rem),($gutter + rem),($font-leading--base + rem),($gutter + rem));
    @include font-size(large);
    @include border(left,($gutter/2 + rem) solid);

    > *:first-child {
      margin-top: 0;
    }
  }

  pre
  {
    @include padding(($font-leading--base + rem),($gutter + rem),($font-leading--base + rem),($gutter + rem));
    @include null-spacing;
    @include text-align(left);
    @include horizontal-scroll;

    code
    {
      @include font-size(xsmall);

      display: block;
      letter-spacing: .05rem;
      white-space: inherit;
    }
  }

  hr {
    @include padding(0,0,0,0);
    @include border(top);

    display: block;
  }
}
