.c-article {
  @include clearfix;

  line-height: $font-leading--base;

  strong {
    font-weight: $font-weight--semibold; // This is an edge case to use semibold.
  }

  address {
    display: inline-block;
  }

  code {
    @include font-family(code);

    font-weight: $font-weight--semibold; // This is an edge case to use semibold.
  }

  p,
  hr,
  figure,
  blockquote,
  ol, ul, dl,
  details, summary {
    &:first-child {
      @include null-spacing;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include null-spacing;
  }

  h1 {
    @include padding(0,0,($font-leading--base*.65 + rem),0);
    @include font-size(xxxlarge);

    letter-spacing: -.15rem;

    @include respond-to($max: $bp-small-px) {
      @include font-size(xxlarge);

      letter-spacing: -.1rem;
    }
  }

  h2 {
    @include padding(($font-leading--base*2 + rem),0,($font-leading--base*.5 + rem),0);
    @include font-size(xlarge);

    letter-spacing: -.1rem;
  }

  hgroup {
    h1 {
      @include padding(0,0,($font-leading--base*.325 + rem),0);
    }

    h1 + h2 {
      @include padding(0,0,($font-leading--base*.65 + rem),0);
      @include font-weight(regular);

      line-height: 1.45;
      letter-spacing: 0;

      @include respond-to($max: $bp-small-px) {
        @include font-size(large);
      }
    }
  }

  h3 {
    @include padding(($font-leading--base*1.35 + rem),0,($font-leading--base*.3 + rem),0);
    @include font-size(large);

    letter-spacing: -.05rem;
  }

  h4, h5, h6 {
    @include padding(($font-leading--base*1.15 + rem),0,($font-leading--base*.2 + rem),0);
  }

  h4 {
    @include font-size(medium);
  }

  h5, h6 {
    @include font-size(small);

    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  h1, h2, h3, h4, h5, h6, header, hgroup {
    & + * {
      @include null-spacing;
    }
  }

  ol, ul {
    @include padding(0,0,0,0);
  }

  figure {
    @include padding(($font-leading--base/4 + rem),0,0,0);
    @include text-align(center);
    @include horizontal-scroll;

    > div,
    > img,
    > a {
      @include margin(0,0,($font-leading--base/4 + rem),0);
    }

    > div,
    > a, {
      display: block;
    }

    > div {
      @include position(relative,auto,auto,auto,auto);
      @include padding(30px,0,56.25%,0);

      height: 0;
      overflow: hidden;

      iframe,object,embed {
        @include position(absolute,0,auto,auto,0);

        width: 100%;
        height: 100%;
      }
    }

    img {
      max-width: 100%;
    }
  }

  figcaption {
    @include font-size(xsmall);
  }

  blockquote {
    @include padding(($font-leading--base + rem),($gutter + rem),($font-leading--base + rem),($gutter + rem));
    @include border(left,($gutter/2 + rem) solid);

    @include font-size(large);

    > *:first-child {
      @include null-spacing;
    }
  }

  pre
  {
    @include padding(($font-leading--base + rem),($gutter + rem),($font-leading--base + rem),($gutter + rem));
    @include null-spacing;
    @include text-align(left);
    @include horizontal-scroll;

    code
    {
      @include font-size(xsmall);

      display: block;
      letter-spacing: .05rem;
      white-space: inherit;
    }
  }

  hr {
    @include padding(0,0,0,0);
    @include border(top);

    display: block;
  }

  aside {
    @include paragraph-spacing;

    @include respond-to(small) {
      @include float(right);
      @include margin(($font-leading--base + rem),0,($font-leading--base + rem),($gutter + rem));

      width: $golden-aside-width + vw;
      max-width: $article-line-length/2 + ch;

      &:first-child {
        margin-top: 0;

        & + * {
          @include null-spacing;
        }
      }
    }
  }

  header[role="banner"] {
    p:first-of-type {
      @include font-size(large);
    }

    p:last-child {
      @include padding(0,0,($font-leading--base*.65 + rem),0);
    }
  }
}

@-moz-document url-prefix() {
  .c-article {
    header[role="banner"] {
      p:first-of-type {
        &:first-letter {
          @include padding(($font-leading--base/2 + rem),($gutter/2 + rem),($font-leading--base/2 + rem),($gutter/2 + rem));
        }
      }
    }
  }
}
