{% set schema = get_data('@bolt-components-background/background.schema.yml') %}{# @todo complete schema #}

{% for opacity in schema.properties.opacity.enum %}
<p>{{ opacity|capitalize }} Opacity</p>
{% include "./_00-background-band-demo.twig" with {
  background: {
    opacity: opacity,
    focalPoint: {
      vertical: "center",
      horizontal: "center"
    },
    contentItems: [
      {
        pattern: "image",
        src: "/pattern-lab/images/content/backgrounds/background-tall-2.jpg",
        lazyload: false
      }
    ]
  }
} %}
{% endfor %}
