@import "../tools/tools-transitions";
@import "../tools/tools-animations";
//@todo add animation utility classes here


/// Fade in and slide up utility class
/// Give element an HTML attribute of `data-anim-trigger="view"` to have `data-anim-triggered='yes'`, which should trigger the animation, applied when scrolled into view.
.u-bolt-transition-fade-in-slide-up {
  @include bolt-transition--fade-in-slide-up($base: true);
  // stylelint-disable selector-max-specificity
  &[data-anim-trigger='hover']:hover,
  &[data-anim-triggered='yes'] {
    @include bolt-transition--fade-in-slide-up($active: true);
  }
}


