@import '@bolt/core';

.bolt-self-drawing-circle {
  display: inline-block;
  width: 100%;
  height: 100%;

  &.rotate {
    animation: 10000ms linear infinite spin;
  }
}

.bolt-self-drawing-circle-rotation {
  transform: rotate(70deg) scaleX(-1);
  width: 100%;
  height: 100%;
}

.bolt-self-drawing-circle-outline {
  fill: transparent;
  stroke: bolt-color(white);
  stroke-width: 1;
}

@keyframes spin {
 100% {
   transform: rotateZ(-360deg);
  }
}
