<bolt-layout
  gutter="large"
  row-gutter="large"
  padding-top="large"
  padding-bottom="large"
  class="t-bolt-dark"
  template="67"
  valign-items="center"
  align-items="center"
>

  <bolt-layout-item class="u-bolt-text-align-center">
    <bolt-text eyebrow font-weight="bold">
      Billboard Eyebrow
    </bolt-text>
    <bolt-text headline tag="h1" font-size="xxxlarge">
      Billboard Title
    </bolt-text>
    <bolt-text>
      Et in dolor qui dolore irure magna tempor ex esse non.
    </bolt-text>
    <a href="https://pega.com" class="e-bolt-button">
      Nulla
    </a>
  </bolt-layout-item>
</bolt-layout>
