////
/// @group Settings:Breakpoints
/// @author Salem Ghoweri
/// @link https://github.com/at-import/breakpoint Breakpoint Sass
/// @link https://github.com/lolmaus/breakpoint-slicer Breakpoint Slicer
/// @todo Replace the Breakpoint Sass and Breakpoint Slicer libraries with a more flexible alternative such as [Mappy Breakpoints](https://github.com/zellwk/mappy-breakpoints). This isn't expected to any breaking changes to the existing API.
////


$bolt-breakpoint-xxsmall:  320px;
$bolt-breakpoint-xsmall:   400px;
$bolt-breakpoint-small:    600px;
$bolt-breakpoint-medium:   800px;
$bolt-breakpoint-large:    1000px;
$bolt-breakpoint-xlarge:   1200px;
$bolt-breakpoint-xxlarge:  1400px;
$bolt-breakpoint-xxxlarge: 1920px;




/// Major breakpoints used globally in Bolt. Uses breakpoint-sass and breakpoint-slicer to handle some of the heavier lifting.
/// @type Map
$bolt-breakpoints: (
  xxsmall:  $bolt-breakpoint-xxsmall,
  xsmall:   $bolt-breakpoint-xsmall,
  small:    $bolt-breakpoint-small,
  medium:   $bolt-breakpoint-medium,
  large:    $bolt-breakpoint-large,
  xlarge:   $bolt-breakpoint-xlarge,
  xxlarge:  $bolt-breakpoint-xxlarge,
  xxxlarge: $bolt-breakpoint-xxxlarge
);

$mq-breakpoints: $bolt-breakpoints;


@include export-data("breakpoints.bolt.json", $bolt-breakpoints);
// Re-map Bolt's namespaced Sassmap to the Breakpoint Sass's `$breakpoints` default

/* stylelint-disable-next-line scss/dollar-variable-pattern */
/* stylelint-enable */





/// @example
///   For example, do this at medium sized screens or larger
///
///   .c-card {
///      @include bolt-mq(medium){
///         flex-direction: column; /* [1] */
///      }
///   }
///
