/* ------------------------------------ *\
   Stack
\* ------------------------------------ */

@import '@bolt/core';

// Register Custom Block Element
@include bolt-repeat-rule(('bolt-popover', ':host')) {
  display: inline;
}

.c-bolt-popover {
  display: inline;
  position: relative;
}

.c-bolt-popover__content {
  @include bolt-margin(0);
  @include bolt-padding(0);
  @include bolt-font-family(body);
  @include bolt-font-size(medium);
  @include bolt-font-weight(regular);

  display: none;
  position: absolute;
  transform: translate3d(0, #{bolt-spacing(xsmall)}, 0);
  color: bolt-theme(text);
  border-radius: bolt-border-radius(small) bolt-border-radius(large) bolt-border-radius(large) bolt-border-radius(large);
  background-color: bolt-theme(background);
  box-shadow: bolt-shadow('level-20');

  @at-root .c-bolt-popover.is-expanded & {
    display: block;
  }
}



.demo-popover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 2rem;

  > * {
    margin: 2rem;
  }
}
