{% grid "o-bolt-grid--flex o-bolt-grid--center" %}
  {% cell "u-bolt-flex-shrink" %}
    <div class="c-acd-badge">
      {% include "@bolt-elements-image/image.twig" with {
        attributes: {
          src: "/images/mission-test-badge-example.svg",
          style: "max-width: 200px",
          loading: "lazy",
          class: [
            locked ? "u-bolt-opacity-20" : "",
          ]
        }
      } only %}
      {% if locked %}
        {% set icon %}
          {% include "@bolt-elements-icon/icon.twig" with {
            name: "lock",
          } only %}
        {% endset %}
        {% include "@bolt-elements-shape/shape.twig" with {
          content: icon,
          size: "large",
          attributes: {
            class: [
              "c-acd-badge__lock",
              "t-bolt-orange"
            ]
          }
        } only %}
      {% endif %}
    </div>
  {% endcell %}
{% endgrid %}
