/* Imports Settings, Base Elements, Components and Utilities via Globbing*/
body {
  z-index: 42;
}

.c-site {
  padding: 12px;
}

/* stylelint-disable declaration-no-important  */
/* stylelint-disable declaration-no-important  */
.u-test-hide {
  display: none !important;
}

.u-test-show {
  display: block !important;
}

/* stylelint-enable */
/* @import "partials/04-utilities/utilities.all";*/
/**/
/* /Users/sghoweri/sites/bolt-design-system/bolt/packages/bolt-build-tools/styles/tests/basics/scss/partials/04-utilities*/
/**/
/**/
/* packages/bolt-build-tools/styles/tests/basics/scss/partials/04-utilities/_utilities.all.scss*/
/**/
/* /Users/sghoweri/sites/bolt-design-system/bolt/packages/bolt-build-tools/styles/tests/basics/scss/partials/04-utilities/_utilities.all.scss*/
/**/
/* /Users/sghoweri/sites/bolt-design-system/bolt/packages/bolt-build-tools/styles/tests/basics/scss/partials/04-utilties/_utilties.all.scss*/
