/* ------------------------------------ *\
   SETTINGS - COLORS
\* ------------------------------------ */

/* These HSL colors are fucked. */

$palettes: (
  indigo: (
    xlight: hsl(233, 20%, 100%), //#
    light:  hsl(233, 60%, 50%),  //#
    base:   hsl(233, 80%, 30%)   //#
  ),
  yellow: (
    xlight: hsl(43, 20%, 100%),  //#
    light:  hsl(43, 40%, 100%),  //#
    base:   hsl(43, 70%, 100%),  //#
    dark:   hsl(43, 90%, 90%),   //#
    xdark:  hsl(43, 100%, 40%)   //#
  ),
  teal: (
    xlight: hsl(180, 20%, 90%),  //#
    light:  hsl(180, 40%, 80%),  //#
    base:   hsl(180, 100%, 60%), //#
    dark:   hsl(180, 90%, 40%),  //#
    xdark:  hsl(180, 100%, 20%)  //#
  ),
  orange: (
    xlight: hsl(15, 30%, 100%),  //#
    light:  hsl(15, 60%, 100%),  //#
    base:   hsl(15, 90%, 90%),   //#
    dark:   hsl(15, 90%, 70%),   //#
    xdark:  hsl(15, 100%, 40%)   //#
  ),
  blue: (
    xlight: hsl(201, 30%, 100%), //#
    light:  hsl(201, 60%, 90%),  //#
    base:   hsl(201, 100%, 70%), //#
    dark:   hsl(201, 90%, 40%),  //#
    xdark:  hsl(201, 100%, 20%)  //#
  ),
  gray: (
    xlight: hsl(233, 2%, 98%),   //#
    light:  hsl(233, 4%, 92%),   //#
    base:   hsl(233, 8%, 60%),   //#
    dark:   hsl(233, 10%, 40%),  //#
    xdark:  hsl(233, 12%, 20%)   //#
  ),
  black: (
    base:   #000
  ),
  white: (
    base:   #fff
  )
);
