/* ------------------------------------ *\
   List
\* ------------------------------------ */

@import '@bolt/core-v3.x';

/**
 * 1. Provide line-comments like this.
 */

.e-bolt-list {
  display: flex;
  flex-direction: column;
  gap: var(--bolt-spacing-y-small) 0;
  margin: 0 0 var(--bolt-spacing-y-medium) 0;
  padding: 0;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-medium);
  font-weight: var(--bolt-type-font-weight-regular);
  list-style: none;
  list-style-type: none;
  line-height: var(--bolt-type-line-height-medium);
  text-align: start;

  &:last-child {
    margin: 0;
  }
}

// Display variations
.e-bolt-list--display-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 0 var(--bolt-spacing-x-small);

  .e-bolt-list__item {
    flex: 1;
  }
}

.e-bolt-list--display-inline {
  display: inline-flex;
  flex-flow: row wrap;
  gap: 0 var(--bolt-spacing-x-small);
}

.e-bolt-list--inline-full-width {
  width: 100%;

  .e-bolt-list__item {
    flex: 1;
  }
}

@each $breakpoint in $bolt-breakpoints {
  $breakpoint-name: nth($breakpoint, 1);

  @if (
    $breakpoint-name !=
      'large' and
      $breakpoint-name !=
      'xlarge' and
      $breakpoint-name !=
      'xxlarge'
  ) {
    .e-bolt-list--display-inline\@#{$breakpoint-name} {
      display: flex;
      flex-flow: column wrap;

      @include bolt-mq($breakpoint-name) {
        display: inline-flex;
        flex-flow: row wrap;
      }
    }
  }
}

// Spacing Prop
.e-bolt-list--spacing-none {
  gap: 0;
}

@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);
  @if ($size-name != 'xxlarge') {
    .e-bolt-list--spacing-#{$size-name} {
      gap: var(--bolt-spacing-y-#{$size-name}) 0;
    }

    .e-bolt-list--spacing-#{$size-name}.e-bolt-list--inset {
      gap: 0 var(--bolt-spacing-y-small);

      &.e-bolt-list--display-inline,
      &.e-bolt-list--display-flex {
        gap: 0;
      }

      & .e-bolt-list__item {
        padding: var(--bolt-spacing-y-#{$size-name})
          var(--bolt-spacing-x-#{$size-name});
      }
    }

    .e-bolt-list--spacing-#{$size-name} {
      &.e-bolt-list--display-inline,
      &.e-bolt-list--display-flex {
        gap: var(--bolt-spacing-y-#{$size-name})
          var(--bolt-spacing-x-#{$size-name});
      }

      @each $breakpoint in $bolt-breakpoints {
        $breakpoint-name: nth($breakpoint, 1);

        @if (
          $breakpoint-name !=
            'large' and
            $breakpoint-name !=
            'xlarge' and
            $breakpoint-name !=
            'xxlarge'
        ) {
          &.e-bolt-list--display-inline\@#{$breakpoint-name} {
            @include bolt-mq($breakpoint-name) {
              gap: var(--bolt-spacing-y-#{$size-name})
                var(--bolt-spacing-x-#{$size-name});
            }
          }
          &.e-bolt-list--display-inline\@#{$breakpoint-name}.e-bolt-list--inset {
            @include bolt-mq($breakpoint-name) {
              gap: var(--bolt-spacing-x-#{$size-name}) 0;
            }
          }
        }
      }
    }
  }
}

// Separator Prop
$bolt-list-separator-styles: solid, dashed;

@each $separator-style in $bolt-list-separator-styles {
  .e-bolt-list--separator-#{$separator-style} {
    .e-bolt-list__item {
      border-width: 0;
      border-style: #{$separator-style};
      border-color: var(--m-bolt-border);
    }
  }
}

[class*='e-bolt-list--separator'] {
  .e-bolt-list__item {
    &:not(.e-bolt-list__item:last-of-type) {
      border-bottom-width: 1px;
    }
  }

  &.e-bolt-list--display-inline,
  &.e-bolt-list--display-flex {
    .e-bolt-list__item {
      &:not(.e-bolt-list__item:last-of-type) {
        border-right-width: 1px;
        border-bottom-width: 0;
      }
    }
  }

  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    @if (
      $breakpoint-name !=
        'large' and
        $breakpoint-name !=
        'xlarge' and
        $breakpoint-name !=
        'xxlarge'
    ) {
      &.e-bolt-list--display-inline\@#{$breakpoint-name} {
        .e-bolt-list__item {
          &:not(.e-bolt-list__item:last-of-type) {
            border-bottom-width: 1px;

            @include bolt-mq($breakpoint-name) {
              border-right-width: 1px;
              border-bottom-width: 0;
            }
          }
        }
      }
    }
  }
}

[class*='e-bolt-list--separator'] {
  @each $size in $bolt-spacing-multiplier-system {
    $size-name: nth($size, 1);

    @if ($size-name != 'xxlarge') {
      &.e-bolt-list--spacing-#{$size-name} {
        .e-bolt-list__item {
          &:not(.e-bolt-list__item:last-of-type) {
            padding-bottom: var(--bolt-spacing-y-#{$size-name});
          }
        }

        &.e-bolt-list--display-inline,
        &.e-bolt-list--display-flex {
          .e-bolt-list__item {
            &:not(.e-bolt-list__item:last-of-type) {
              padding-right: var(--bolt-spacing-x-#{$size-name});
              padding-bottom: 0;
            }
          }
        }

        &.e-bolt-list--display-inline,
        &.e-bolt-list--display-flex {
          &.e-bolt-list--inset {
            .e-bolt-list__item {
              &:not(.e-bolt-list__item:last-of-type) {
                padding-bottom: var(--bolt-spacing-y-#{$size-name});
              }
            }
          }
        }
      }

      &:not(.e-bolt-list--inset) {
        @each $breakpoint in $bolt-breakpoints {
          $breakpoint-name: nth($breakpoint, 1);

          @if (
            $breakpoint-name !=
              'large' and
              $breakpoint-name !=
              'xlarge' and
              $breakpoint-name !=
              'xxlarge'
          ) {
            &.e-bolt-list--spacing-#{$size-name} {
              &.e-bolt-list--display-inline\@#{$breakpoint-name} {
                .e-bolt-list__item {
                  padding-bottom: var(--bolt-spacing-y-#{$size-name});

                  @include bolt-mq($breakpoint-name) {
                    padding-right: var(--bolt-spacing-x-#{$size-name});
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Align options
$bolt-list-alignments: start, center, end, justify;

@each $alignment in $bolt-list-alignments {
  .e-bolt-list--align-#{$alignment} {
    width: 100%;

    &.e-bolt-list--display-inline {
      @if $alignment != center and $alignment != justify {
        justify-content: flex-#{$alignment};
      } @else if $alignment == justify {
        justify-content: space-between;
      } @else {
        justify-content: #{$alignment};
      }
    }

    @each $breakpoint in $bolt-breakpoints {
      $breakpoint-name: nth($breakpoint, 1);

      @if (
        $breakpoint-name !=
          'large' and
          $breakpoint-name !=
          'xlarge' and
          $breakpoint-name !=
          'xxlarge'
      ) {
        &.e-bolt-list--display-inline\@#{$breakpoint-name} {
          @include bolt-mq($breakpoint-name) {
            @if $alignment != center and $alignment != justify {
              justify-content: flex-#{$alignment};
            } @else if $alignment == justify {
              justify-content: space-between;
            } @else {
              justify-content: #{$alignment};
            }
          }
        }
      }
    }
  }
}

// Valign options
$bolt-list-valignments: start, center, end;

@each $alignment in $bolt-list-valignments {
  .e-bolt-list--valign-#{$alignment} {
    &.e-bolt-list--display-inline,
    &.e-bolt-list--display-flex {
      @if $alignment != center {
        align-items: flex-#{$alignment};
      } @else {
        align-items: #{$alignment};
      }
    }

    @each $breakpoint in $bolt-breakpoints {
      $breakpoint-name: nth($breakpoint, 1);

      @if (
        $breakpoint-name !=
          'large' and
          $breakpoint-name !=
          'xlarge' and
          $breakpoint-name !=
          'xxlarge'
      ) {
        &.e-bolt-list--display-inline\@#{$breakpoint-name} {
          @include bolt-mq($breakpoint-name) {
            @if $alignment != center {
              align-items: flex-#{$alignment};
            } @else {
              align-items: #{$alignment};
            }
          }
        }
      }
    }
  }
}

// Nowrap
.e-bolt-list--nowrap {
  &.e-bolt-list--display-inline,
  &.e-bolt-list--display-flex {
    flex-flow: row nowrap;
  }

  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    @if (
      $breakpoint-name !=
        'large' and
        $breakpoint-name !=
        'xlarge' and
        $breakpoint-name !=
        'xxlarge'
    ) {
      &.e-bolt-list--display-inline\@#{$breakpoint-name} {
        @include bolt-mq($breakpoint-name) {
          flex-flow: row nowrap;
        }
      }
    }
  }
}
