@import '@bolt/core';

// Register Custom Block Element
@include bolt-custom-element('bolt-ol', block, medium);

bolt-ol {
  counter-reset: li;
}

// Styles
.c-bolt-ol {
  @include bolt-margin(0);
  @include bolt-padding(0);

  list-style: none;
  counter-reset: li;
}
