@import '@bolt/core-v3.x';

.e-bolt-shape {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--m-bolt-bg);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:before {
    content: '';
    display: block;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-color: var(--bolt-color-gray);
  }
}

//shape inner sizes

.e-bolt-shape--size--small {
  .e-bolt-shape__inner {
    width: 16px;
    height: 16px;
  }
}

.e-bolt-shape--size--medium {
  .e-bolt-shape__inner {
    width: 24px;
    height: 24px;
  }
}

.e-bolt-shape--size--large {
  .e-bolt-shape__inner {
    width: 32px;
    height: 32px;
  }
}

//shape spacings

.e-bolt-shape--spacing--none {
  padding: 0;
}

.e-bolt-shape--spacing--xsmall {
  padding: var(--bolt-spacing-x-xsmall);
}

.e-bolt-shape--spacing--small {
  padding: var(--bolt-spacing-x-small);
}

.e-bolt-shape--spacing--medium {
  padding: var(--bolt-spacing-x-medium);
}

//shape border radiuses

.e-bolt-shape--border_radius--none {
  border-radius: none;
}

.e-bolt-shape--border_radius--small {
  border-radius: bolt-border-radius(small);

  &:before {
    content: '';
    border-radius: bolt-border-radius(small);
  }

  .e-bolt-image {
    border-radius: bolt-border-radius(small);
  }
}

.e-bolt-shape--border_radius--large {
  border-radius: bolt-border-radius(large);

  &:before {
    content: '';
    border-radius: bolt-border-radius(large);
  }

  .e-bolt-image {
    border-radius: bolt-border-radius(large);
  }
}

.e-bolt-shape--border_radius--full {
  border-radius: bolt-border-radius(full);

  &:before {
    content: '';
    border-radius: bolt-border-radius(full);
  }

  .e-bolt-image {
    border-radius: bolt-border-radius(full);
  }
}
