$device-shadow: 0 1px 2px 1px rgba(6,10,36,0.10), 0 5px 10px 1px rgba(6,10,36,0.15), 0 15px 30px 0 rgba(6,10,36,0.25);

$bolt-iphone8-viewer-height: 667px + (105px * 2);
$bolt-iphone8-viewer-width: 375px + (24px * 2);

.c-bolt-iphone8-viewer {
  width: 100%;
  max-width: $bolt-iphone8-viewer-width * .8;
  background-color: #d9dbdc;

  border-top-left-radius: (56px / $bolt-iphone8-viewer-width * 100%) (56px / $bolt-iphone8-viewer-height * 100%);
  border-top-right-radius: (56px / $bolt-iphone8-viewer-width * 100%) (56px / $bolt-iphone8-viewer-height * 100%);
  border-bottom-left-radius: (56px / $bolt-iphone8-viewer-width * 100%) (56px / $bolt-iphone8-viewer-height * 100%);
  border-bottom-right-radius: (56px / $bolt-iphone8-viewer-width * 100%) (56px / $bolt-iphone8-viewer-height * 100%);

  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), $device-shadow;

  &.c-bolt-iphone8-viewer--landscape {
    max-width: $bolt-iphone8-viewer-height * .8;

    border-top-left-radius: (56px / $bolt-iphone8-viewer-height * 100%) (56px / $bolt-iphone8-viewer-width * 100%);
    border-top-right-radius: (56px / $bolt-iphone8-viewer-height * 100%) (56px / $bolt-iphone8-viewer-width * 100%);
    border-bottom-left-radius: (56px / $bolt-iphone8-viewer-height * 100%) (56px / $bolt-iphone8-viewer-width * 100%);
    border-bottom-right-radius: (56px / $bolt-iphone8-viewer-height * 100%) (56px / $bolt-iphone8-viewer-width * 100%);
  }

  &.c-bolt-iphone8-viewer--gold {
    background-color: #f9e7d3;
  }

  &.c-bolt-iphone8-viewer--black {
    background-color: #464646;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7), $device-shadow;
  }
}

.c-bolt-iphone8-viewer__inner {
  padding: (105px / $bolt-iphone8-viewer-width * 100%) (24px / $bolt-iphone8-viewer-width * 100%);

  .c-bolt-iphone8-viewer--landscape & {
    padding: (24px / $bolt-iphone8-viewer-height * 100%) (105px / $bolt-iphone8-viewer-height * 100%);
  }

  &:before {
    width: auto;
    height: auto;

    background-color: #f8f8f8;

    top: 6px / $bolt-iphone8-viewer-height * 100%;
    right: 6px / $bolt-iphone8-viewer-width * 100%;
    bottom: 6px / $bolt-iphone8-viewer-height * 100%;
    left: 6px / $bolt-iphone8-viewer-width * 100%;

    border-top-left-radius: (50px / $bolt-iphone8-viewer-width * 100%) (50px / $bolt-iphone8-viewer-height * 100%);
    border-top-right-radius: (50px / $bolt-iphone8-viewer-width * 100%) (50px / $bolt-iphone8-viewer-height * 100%);
    border-bottom-left-radius: (50px / $bolt-iphone8-viewer-width * 100%) (50px / $bolt-iphone8-viewer-height * 100%);
    border-bottom-right-radius: (50px / $bolt-iphone8-viewer-width * 100%) (50px / $bolt-iphone8-viewer-height * 100%);

    .c-bolt-iphone8-viewer--landscape & {
      border-top-left-radius: (50px / $bolt-iphone8-viewer-height * 100%) (50px / $bolt-iphone8-viewer-width * 100%);
      border-top-right-radius: (50px / $bolt-iphone8-viewer-height * 100%) (50px / $bolt-iphone8-viewer-width * 100%);
      border-bottom-left-radius: (50px / $bolt-iphone8-viewer-height * 100%) (50px / $bolt-iphone8-viewer-width * 100%);
      border-bottom-right-radius: (50px / $bolt-iphone8-viewer-height * 100%) (50px / $bolt-iphone8-viewer-width * 100%);

      top: 6px / $bolt-iphone8-viewer-width * 100%;
      right: 6px / $bolt-iphone8-viewer-height * 100%;
      bottom: 6px / $bolt-iphone8-viewer-width * 100%;
      left: 6px / $bolt-iphone8-viewer-height * 100%;
    }

    .c-bolt-iphone8-viewer--black & {
      background-color: #080808;
    }
  }

  &:after {
    content: '';

    top: 8px / $bolt-iphone8-viewer-height * 100%;
    right: 8px / $bolt-iphone8-viewer-width * 100%;
    bottom: 8px / $bolt-iphone8-viewer-height * 100%;
    left: 8px / $bolt-iphone8-viewer-width * 100%;

    width: auto;
    height: auto;

    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 3px #FFFFFF;

    border-top-left-radius: (48px / $bolt-iphone8-viewer-width * 100%) (48px / $bolt-iphone8-viewer-height * 100%);
    border-top-right-radius: (48px / $bolt-iphone8-viewer-width * 100%) (48px / $bolt-iphone8-viewer-height * 100%);
    border-bottom-left-radius: (48px / $bolt-iphone8-viewer-width * 100%) (48px / $bolt-iphone8-viewer-height * 100%);
    border-bottom-right-radius: (48px / $bolt-iphone8-viewer-width * 100%) (48px / $bolt-iphone8-viewer-height * 100%);

    .c-bolt-iphone8-viewer--landscape & {
      border-top-left-radius: (48px / $bolt-iphone8-viewer-height * 100%) (48px / $bolt-iphone8-viewer-width * 100%);
      border-top-right-radius: (48px / $bolt-iphone8-viewer-height * 100%) (48px / $bolt-iphone8-viewer-width * 100%);
      border-bottom-left-radius: (48px / $bolt-iphone8-viewer-height * 100%) (48px / $bolt-iphone8-viewer-width * 100%);
      border-bottom-right-radius: (48px / $bolt-iphone8-viewer-height * 100%) (48px / $bolt-iphone8-viewer-width * 100%);

      top: 8px / $bolt-iphone8-viewer-width * 100%;
      right: 8px / $bolt-iphone8-viewer-height * 100%;
      bottom: 8px / $bolt-iphone8-viewer-width * 100%;
      left: 8px / $bolt-iphone8-viewer-height * 100%;
    }

    .c-bolt-iphone8-viewer--black & {
      box-shadow : inset 0 0 3px 0 rgba(0, 0, 0, 0.1),
      inset 0 0 6px 3px #212121;
    }
  }
}


.c-bolt-iphone8-viewer__screen {
  background-color: bolt-color(black);
  background-image: linear-gradient(to bottom, #b3b3b7 0%, #424044 100%);
  box-shadow: 0 0 0 3px #111;
  padding-bottom: 177.78636649%;

  .c-bolt-iphone8-viewer--landscape & {
    padding-bottom: 56.24728261%;
  }
}

.c-bolt-iphone8-viewer__top-bar,
.c-bolt-iphone8-viewer__bottom-bar {
  height: 3px;
  right: 0;
  background-color: black;
  z-index: (z("background") - 5);

  .c-bolt-iphone8-viewer--gold & {
    background-color: white;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #212121;
  }
}

// .c-bolt-iphone8-viewer__middle-bar {
//   width: 3px;
//   height: 4px;
//   top: 0px;
//   left: 90px;
//   background-color: black;
// }

.c-bolt-iphone8-viewer__home {

  width: 68px / $bolt-iphone8-viewer-width * 100%;
  height: 68px / $bolt-iphone8-viewer-height * 100%;
  left: 50%;
  transform: translateX(-50%); // Center align without knowing size of element
  bottom: 22px / $bolt-iphone8-viewer-height * 100%;

  background-color: rgb(48,50,51);
  background-image: linear-gradient(135deg, rgba(48,50,51,1) 0%,rgba(181,183,185,1) 50%,rgba(240,242,242,1) 69%,rgba(48,50,51,1) 100%);

  .c-bolt-iphone8-viewer--landscape & {
    top: 50%;
    left: 22px / $bolt-iphone8-viewer-height * 100%;
    bottom: auto;
    transform: translateY(-50%);
    width: 68px / $bolt-iphone8-viewer-height * 100%;
    height: 68px / $bolt-iphone8-viewer-width * 100%;
  }

  &:before {
    background-color: #f8f8f8;
    position: absolute;
    content: '';
    border-radius: 100%;

    width: auto;
    height: auto;

    top: 4px / 68px * 100%;
    left: 4px / 68px * 100%;
    bottom: 4px / 68px * 100%;
    right: 4px / 68px * 100%;

    .c-bolt-iphone8-viewer--black & {
      background-color: #080808;
    }
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: rgb(206,187,169);
    background-image: linear-gradient(135deg, rgba(206,187,169,1) 0%,rgba(249,231,211,1) 50%,rgba(206,187,169,1) 100%);
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: rgb(8,8,8);
    background-image: linear-gradient(135deg, rgba(8,8,8,1) 0%,rgba(70,70,70,1) 50%,rgba(8,8,8,1) 100%);
  }
}

.c-bolt-iphone8-viewer__top-bar {
  height: 14px;
  background-color: #bfbfc0;
  position: absolute;
  top: 68px;
  left: 0;

  .c-bolt-iphone8-viewer--landscape & {
    width: 14px;
    height: 100%;
    left: calc(100% - 68px -  14px);
    top: 0;
  }
}

.c-bolt-iphone8-viewer__bottom-bar {
  height: 14px;
  background-color: #bfbfc0;
  position: absolute;
  bottom: 68px;
  left: 0;

  .c-bolt-iphone8-viewer--landscape & {
    width: 14px;
    height: 100%;
    left: 68px;
    top: 0;
  }
}

.c-bolt-iphone8-viewer__sleep {
  position: absolute;
  top: 190px;
  right: -4px;
  width: 4px;
  height: 66px;
  border-radius: 0px 2px 2px 0px;
  background-color: #d9dbdc;

  .c-bolt-iphone8-viewer--landscape & {
    top: 100%;
    border-radius: 0px 0px 2px 2px;
    right: 190px;
    height: 4px;
    width: 66px;
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: #f9e7d3;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #464646;
  }
}

.c-bolt-iphone8-viewer__volume {
  position: absolute;
  left: -4px;
  top: 188px;
  z-index: z("background");
  height: 66px;
  width: 4px;
  border-radius: 2px 0px 0px 2px;
  background-color: #d9dbdc;

  .c-bolt-iphone8-viewer--landscape & {
    width: 66px;
    height: 4px;
    top: -4px;
    left: calc(100% - 188px - 66px);
    border-radius: 2px 2px 0px 0px;
  }

  .c-bolt-iphone8-viewer--gold & {
    background-color: #f9e7d3;
  }

  .c-bolt-iphone8-viewer--black & {
    background-color: #464646;
  }

  &:before {
    position: absolute;
    left: 2px;
    top: -78px;
    height: 40px;
    width: 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;

    .c-bolt-iphone8-viewer--landscape & {
      width: 40px;
      height: 2px;
      top: 2px;
      right: -78px;
      left: auto;
      border-radius: 2px 2px 0px 0px;
    }
  }

  &:after {
    position: absolute;
    left: 0px;
    top: 82px;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;

    .c-bolt-iphone8-viewer--landscape & {
      left: -82px;
      width: 66px;
      height: 4px;
      top: 0;
      border-radius: 2px 2px 0px 0px;
    }
  }
}

.c-bolt-iphone8-viewer__camera {
  background-color: #3c3d3d;

  transform: translateX(-50%); // Center align without knowing size of element
  top: 24px / $bolt-iphone8-viewer-height * 100%;
  left: 50%;
  width: 12px / $bolt-iphone8-viewer-width * 100%;
  height: 12px / $bolt-iphone8-viewer-height * 100%;


  .c-bolt-iphone8-viewer--black & {
    background-color: #080808;
  }

  .c-bolt-iphone8-viewer--landscape & {
    // left: calc(100% - 32px);
    // margin-left: 0px;

    width: 12px / $bolt-iphone8-viewer-height * 100%;
    height: 12px / $bolt-iphone8-viewer-width * 100%;
    left: auto;
    right: 32px / $bolt-iphone8-viewer-height * 100%;
    top: 50%;
    transform: translateY(-50%); // Center align without knowing size of element
  }
}

.c-bolt-iphone8-viewer__sensor {
  background-color: #3c3d3d;

  width: 16px / $bolt-iphone8-viewer-width * 100%;
  height: 16px / $bolt-iphone8-viewer-height * 100%;

  position: absolute;
  top: 49px / $bolt-iphone8-viewer-height * 100%;
  left: 134px / $bolt-iphone8-viewer-width * 100%;

  z-index: z("backgroundTop");
  border-radius: 100%;

  .c-bolt-iphone8-viewer--landscape & {
    top: 134px / $bolt-iphone8-viewer-width * 100%;
    right: 49px / $bolt-iphone8-viewer-height * 100%;
    left: auto;

    width: 16px / $bolt-iphone8-viewer-height * 100%;
    height: 16px / $bolt-iphone8-viewer-width * 100%;
  }
}


.c-bolt-iphone8-viewer__speaker {
  background-color: #292728;
  width: 70px / $bolt-iphone8-viewer-width * 100%;
  height: 6px / $bolt-iphone8-viewer-height * 100%;

  position: absolute;
  top: 54px / $bolt-iphone8-viewer-height * 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  z-index: z("backgroundTop");

  .c-bolt-iphone8-viewer--landscape & {
    height: 70px / $bolt-iphone8-viewer-width * 100%;
    width: 6px / $bolt-iphone8-viewer-height * 100%;
    right: (54px / $bolt-iphone8-viewer-width * 100%) / 2;
    left: auto;
    top: 50%;
    margin-left: 0px;
    transform: translateY(-50%);
  }
}
