{% set link_1 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Link 1",
    url: "https://pega.com",
  } only %}
{% endset %}

{% set link_2 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Link 2",
    url: "https://google.com",
  } only %}
{% endset %}

{% set link_3 %}
  {% include "@bolt-components-link/link.twig" with {
    text: "Link 3",
    url: "https://yahoo.com",
  } only %}
{% endset %}

{% set modal_content %}
  {% include "@bolt-components-list/list.twig" with {
    display: "flex",
    items: [
      link_1,
      link_2,
      link_3,
    ],
    attributes: {
      slot: "header"
    }
  } only %}
  <div>
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xlarge",
      text: "Default Width"
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "This modal is 10 columns wide."
    } only %}
  </div>
  {% include "@bolt-components-list/list.twig" with {
    display: "flex",
    items: [
      link_1,
      link_2,
      link_3,
    ],
    attributes: {
      slot: "footer"
    }
  } only %}
{% endset %}

<div class="u-bolt-margin-bottom-medium">
  <bolt-button onclick="this.nextElementSibling.show()">Open Modal</bolt-button>
  <bolt-modal>
    {{ modal_content }}
  </bolt-modal>
</div>

<div class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-button/button.twig" with {
    text: "Open Modal",
    attributes: {
      onclick: "this.nextElementSibling.show()",
    }
  } only %}

  {% include "@bolt-components-modal/modal.twig" with {
    content: modal_content,
  } only %}
</div>
