{% set persistent_modal_content %}
  {% include "@bolt-components-button/button.twig" with {
    text: "Open Modal",
    size: "small",
    attributes: {
      onclick: "this.closest('bolt-modal').show()",
      slot: "trigger",
    }
  } only %}

  <div>
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xlarge",
      text: "Persistent Modal"
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "Clicking outside of modal container will not close the modal, only close buttons will."
    } only %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Close modal",
      attributes: {
        onclick: "this.closest('bolt-modal').hide()"
      }
    } only %}
  </div>
{% endset %}

{% set reuglar_modal_content %}
  {% include "@bolt-components-button/button.twig" with {
    text: "Open Modal",
    size: "small",
    attributes: {
      onclick: "this.closest('bolt-modal').show()",
      slot: "trigger",
    }
  } only %}

  <div>
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xlarge",
      text: "Regular Modal"
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "Clicking outside of modal container or the close button will close the modal."
    } only %}
  </div>
{% endset %}

<div class="u-bolt-margin-bottom-medium">
  <h3>Persistent</h3>
  {% include "@bolt-components-modal/modal.twig" with {
    content: persistent_modal_content,
    persistent: true,
  } only %}
</div>
<div class="u-bolt-margin-bottom-medium">
  <h3>Not Persistent</h3>
  {% include "@bolt-components-modal/modal.twig" with {
    content: reuglar_modal_content,
  } only %}
</div>
