<bolt-modal persistent>
  <bolt-button slot="trigger" onclick="this.closest('bolt-modal').open()">Open Modal</bolt-button>

  <bolt-text headline>Use Google's location service?</bolt-text>
  <bolt-text>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.</bolt-text>

  <bolt-button onclick="this.closest('bolt-modal').hide()">Close Modal</bolt-button>
</bolt-modal>



<!--
  Main container related notes:
  - It can have a different id than `main`, however you will have to pass it as a second argument to the A11yDialog instance. See further down.
-->
<div id="main">
  <!--
    Here lives the main content of the page.
  -->
</div>

