{% set schema = bolt.data.components["@bolt-components-modal"].schema %}

<p>The modal container's spacing can be adjusted by the spacing prop. The default is set to medium.</p>

<p><mark>Note: this prop only applies to viewports equal to or above the small breakpoint (~600px).</mark></p>

{% for spacing in schema.properties.spacing.enum %}
  <div class="u-bolt-margin-bottom-medium">
    <h3>{{ spacing|capitalize }} Spacing</h3>
    {% include "@bolt-components-button/button.twig" with {
      text: "Open Modal",
      size: "small",
      attributes: {
        onclick: "this.nextElementSibling.show()",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      content: "This is a modal set to " ~ spacing ~ " spacing.",
      spacing: spacing,
    } only %}
  </div>
{% endfor %}
