<div class="u-bolt-margin-bottom-medium">
  <h3>Button Trigger</h3>
  {% include "@bolt-components-button/button.twig" with {
    text: "Open Modal",
    size: "small",
    attributes: {
      onclick: "this.nextElementSibling.show()",
    }
  } only %}
  {% include "@bolt-components-modal/modal.twig" with {
    content: "This is a modal",
  } only %}
</div>

<div class="u-bolt-margin-bottom-medium" style="max-width: 200px">
  <h3>Image Trigger</h3>
  {% set image_content %}
    {% include '@bolt-components-image/image.twig' with {
      src: "/images/placeholders/tout-4x3-climber.jpg",
      alt: "A Rock Climber",
    } only %}
  {% endset %}

  {% set modal_content %}
    {% include "@bolt-components-trigger/trigger.twig" with {
      content: image_content,
      cursor: "zoom-out",
      display: "block",
      attributes: {
        "on-click": "hide",
        "on-click-target": "js-image-modal-123"
      }
    } only %}
  {% endset %}

  {% include "@bolt-components-trigger/trigger.twig" with {
    content: image_content,
    cursor: "zoom-in",
    display: "block",
    attributes: {
      "on-click": "show",
      "on-click-target": "js-image-modal-123",
    }
  } only %}

  {% include "@bolt-components-modal/modal.twig" with {
    attributes: {
      class: ["js-image-modal-123"]
    },
    content: modal_content,
    spacing: "none",
    theme: "none",
    scroll: "overall",
  } only %}
</div>

<div class="u-bolt-margin-bottom-medium">
  <h3>Link Trigger</h3>
  <p><mark>Warning: this is experimental and should not be replicated on production sites.</mark></p>
  {% include "@bolt-components-link/link.twig" with {
    text: "Open Modal",
    icon: {
      name: "info-open",
    },
    attributes: {
      onclick: "this.nextElementSibling.show()",
    }
  } only %}
  {% include "@bolt-components-modal/modal.twig" with {
    content: "This is a modal",
  } only %}
</div>
