<div class="u-bolt-margin-bottom-medium">
  <bolt-button onclick="this.nextElementSibling.show()">Open Modal (long form content)</bolt-button>
  <bolt-modal width="optimal">
    <bolt-text headline>Long Form Content</bolt-text>
    <bolt-text>Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin.</bolt-text>
    <bolt-text>Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin.</bolt-text>
    <bolt-text>Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin.</bolt-text>

    {% set primary %}
      {% include "@bolt-components-button/button.twig" with {
        text: "Primary",
      } only %}
    {% endset %}
    {% set secondary %}
      {% include "@bolt-components-button/button.twig" with {
        text: "Secondary",
        style: "secondary",
      } only %}
    {% endset %}

    {% include "@bolt-components-list/list.twig" with {
      display: "inline",
      items: [
        primary,
        secondary,
      ],
      attributes: {
        slot: "footer",
      }
    } only %}
  </bolt-modal>
</div>

<div class="u-bolt-margin-bottom-medium">
  <bolt-modal width="optimal" spacing="none" theme="none">
    <bolt-button slot="trigger" onclick="this.closest('bolt-modal').show()">Open Modal (image)</bolt-button>

    {% include '@bolt-components-image/image.twig' with {
      src: "/images/placeholders/tout-4x3-climber.jpg",
      alt: "A Rock Climber",
      lazyload: false,
    } only %}
  </bolt-modal>
</div>

<div class="u-bolt-margin-bottom-medium">
  <bolt-modal width="optimal" spacing="none" theme="none">
    <bolt-button slot="trigger" onclick="this.closest('bolt-modal').show()">Open Modal (image zoom)</bolt-button>

    {% include "@bolt-components-device-viewer/device-viewer.twig" with {
      device: "ipad",
      orientation: "landscape",
      color: "silver",
      image: {
        src: "/images/content/screenshots/device-screenshot--tablet.jpg",
        lazyload: false
      },
      magnify: true
    } only %}
  </bolt-modal>
</div>

<div class="u-bolt-margin-bottom-medium">
  <bolt-modal width="optimal" spacing="none" theme="none">
    <bolt-button slot="trigger" onclick="this.closest('bolt-modal').show()">Open Modal (video)</bolt-button>

    {% include "@bolt-components-video/video.twig" with {
      videoId: "3861325118001",
      accountId: "1900410236",
      playerId: "r1CAdLzTW",
    } only %}
  </bolt-modal>
</div>
