{% set timed_modal_content %}
  {% include "@bolt-components-headline/headline.twig" with {
    size: "xlarge",
    text: "Timed Modal",
  } only %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "This modal will open after 3 seconds."
  } only %}
{% endset %}

<h3>Advanced Timed Trigger</h3>
<p>Write custom javascript to trigger a modal after a time delay. The button below is for demo purposes. Click on the button to activate custom javascript on this page. Once the javascript is activated, a modal will appear after 3 seconds.</p>

{% include "@bolt-components-button/button.twig" with {
  text: "Activate Timed Modal JS",
  size: "small",
  attributes: {
    onclick: "setTimedModalParam(true)",
  }
} only %}

{% include "@bolt-components-modal/modal.twig" with {
  content: timed_modal_content,
  attributes: {
    id: "js-timed-modal"
  },
} only %}

<script>
  var setTimedModalParam = function(set){
    var currentUrl = window.location.href.split('?').shift();
    var param = '?showModal=true';
    window.location.href = set ? currentUrl + param : currentUrl;
  }

  var initTimedModal = function(){
    var timedModal = document.querySelector('#js-timed-modal');

    var getUrlParameter = function(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    var canShowModal = getUrlParameter('showModal');

    var setTimedModal = function(el) {
      if (canShowModal) {
        setTimeout(function(){
          el.show();
        }, 3000)
      }
    }

    if (timedModal) {
      timedModal._wasInitiallyRendered
        ? setTimedModal(timedModal)
        : timedModal.addEventListener('rendered', setTimedModal(timedModal));
    }
  }

  initTimedModal();
</script>
