<bolt-text headline font-size="xlarge">Advanced Use Cases</bolt-text>
<bolt-text>Recipes for various kinds of modal to be used in production.</bolt-text>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set modal_content %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xlarge",
      text: "Auto-open Modal",
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "This modal will open 3 seconds after page load."
    } only %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Activate javascript",
      size: "small",
      width: "full",
      attributes: {
        onclick: "setAutoOpenModalParam(true)",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      content: modal_content,
      attributes: {
        id: "js-modal-advanced-auto-open"
      },
    } only %}
    <script>
      // Add parameter to the URL - demo helper function, not required in production
      var setAutoOpenModalParam = function(set){
        var currentUrl = window.location.href.split('?').shift();
        var param = '?showModal=true';
        window.location.href = set ? currentUrl + param : currentUrl;
      }

      // Get parameter to the URL - demo helper function, not required in production
      var getUrlParameter = function(name) {
          name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
          var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
          var results = regex.exec(location.search);
          return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
      };

      // Reference to the modal
      var autoOpenModal = document.querySelector('#js-modal-advanced-auto-open');

      // Calls modal 'show' method after a delay
      var setAutoOpenModal = function(el) {
        if (getUrlParameter('showModal')) {
          setTimeout(function(){
            el.show();
          }, 3000)
        }
      }

      // Callback on modal 'ready'
      var onModalReady = function(e) {
        setAutoOpenModal(autoOpenModal);
        // IMPORTANT: remove this event listener unless you want it called each time the modal component renders
        e.target.removeEventListener('modal:ready', onModalReady);
      }

      // Add 'ready' callback
      autoOpenModal.addEventListener('modal:ready', onModalReady);
    </script>
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Automatically open a modal</bolt-text>
    <bolt-text>Use custom JavaScript to automatically open a modal on page load (after a short delay). Click on the button below to see a demo. The page will reload and a modal will open after 3 seconds.</bolt-text>
  {% endset %}
  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set image_content %}
    {% include "@bolt-components-image/image.twig" with {
      src: "/images/placeholders/tout-4x3-climber.jpg",
      alt: "Image description.",
      ratio: "none",
    } only %}
  {% endset %}
  {% set caption %}
    <div class="u-bolt-padding-top-xsmall u-bolt-padding-right-small u-bolt-padding-bottom-small u-bolt-padding-left-small" slot="footer">
      {% include "@bolt-components-headline/text.twig" with {
        text: "This is the caption for the image.",
        size: "small",
      } only %}
    </div>
  {% endset %}
  {% set modal_content %}
    {% include "@bolt-components-figure/figure.twig" with {
      media: {
        image: {
          src: "/images/placeholders/tout-4x3-climber.jpg",
          alt: "Image description.",
        },
      },
      caption: caption,
    } only %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-trigger/trigger.twig" with {
      content: image_content,
      display: "block",
      cursor: "zoom-in",
      attributes: {
        "on-click": "show",
        "on-click-target": "js-image-modal-advanced-image-and-caption",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      attributes: {
        class: "js-image-modal-advanced-image-and-caption",
      },
      content: modal_content,
      spacing: "none",
      scroll: "overall",
    } only %}
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Enlarge image and show caption</bolt-text>
    <bolt-text>Create an thumbnail image trigger and pass a figure with image and caption into the modal content.</bolt-text>
  {% endset %}

  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set modal_content %}
    {% include "@bolt-components-video/video.twig" with {
      videoId: "3861325118001",
      accountId: "1900410236",
      playerId: "r1CAdLzTW",
      showMeta: true,
      showMetaTitle: true,
      attributes: {
        id: "js-modal-advanced-video-content"
      }
    } only %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Play the video",
      size: "small",
      width: "full",
      attributes: {
        onclick: "this.nextElementSibling.show()",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      attributes: {
        id: "js-modal-advanced-video"
      },
      content: modal_content,
      width: "optimal",
      spacing: "none",
      theme: "none",
      scroll: "overall",
    } only %}

    <script>
      // Toggle the video state based on modal visibility
      const videoModal = document.querySelector('#js-modal-advanced-video');
      const DemoVideo = document.querySelector('#js-modal-advanced-video-content');

      videoModal.addEventListener('modal:show', function() {
        DemoVideo.play();
      });

      videoModal.addEventListener('modal:hide', function() {
        DemoVideo.pause();
      });
    </script>
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Show and play video</bolt-text>
    <bolt-text>Use custom JavaScript to play a video when a modal opens and pause it when the modal closes.</bolt-text>
  {% endset %}
  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set modal_content %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xxxlarge",
      text: "This Is a Headline",
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "This is a paragraph. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante.",
    } only %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Show content",
      size: "small",
      width: "full",
      attributes: {
        onclick: "this.nextElementSibling.show()",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      attributes: {
        class: "js-image-modal-simple-layout",
      },
      content: modal_content,
      spacing: "large",
    } only %}
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Show a simple layout</bolt-text>
    <bolt-text>Pass any components inside the modal content to create a simple layout.</bolt-text>
  {% endset %}
  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set form_children %}
    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Email Address",
      inputAttributes: {
        placeholder: "Enter your email address",
        type: "email",
        required: true
      },
      labelDisplayType: "floating"
    } only %}
    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Password",
      inputAttributes: {
        placeholder: "Enter your password",
        type: "password",
        required: true
      },
      labelDisplayType: "floating"
    } only %}
    {% include "@pl/30-form-element-demo-checkbox.twig" with {
      labelTitle: "Remember this computer",
      elementId: "checkbox-" ~ random(),
      labelDisplayType: "inline"
    } only %}
    {% include "@bolt-components-form/form-button.twig" with {
      text: "Sign In",
      width: "full"
    } only %}
  {% endset %}
  {% set modal_content %}
    {% grid "o-bolt-grid--flex o-bolt-grid--large o-bolt-grid--matrix" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-8/12@medium" %}
        {% include "@bolt-components-headline/eyebrow.twig" with {
          text: "This Is an Eyebrow",
        } only %}
        {% include "@bolt-components-headline/headline.twig" with {
          size: "xxxlarge",
          text: "This Is a Headline",
        } only %}
        {% include "@bolt-components-headline/subheadline.twig" with {
          size: "xxlarge",
          text: "This Is a Subheadline",
        } only %}
        {% include "@bolt-components-headline/text.twig" with {
          text: "This is a paragraph. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante.",
        } only %}
      {% endcell %}
      {% cell "u-bolt-width-12/12 u-bolt-width-4/12@medium" %}
        {% include "@bolt-components-headline/headline.twig" with {
          text: "Sign in to view PegaWorld live stream",
          size: "xlarge"
        } only %}
        {% include "@bolt-components-form/form.twig" with {
          children: form_children,
        } only  %}
      {% endcell %}
    {% endgrid %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Show content",
      size: "small",
      width: "full",
      attributes: {
        onclick: "this.nextElementSibling.show()",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      attributes: {
        class: "js-image-modal-advanced-complex-layout",
      },
      content: modal_content,
      width: "full",
      spacing: "large",
      scroll: "overall",
    } only %}
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Show a complex layout</bolt-text>
    <bolt-text>Create complex layouts with components and layout objects inside the modal content and set the modal width to full to maximize space.</bolt-text>
  {% endset %}
  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>

<div class="t-bolt-light u-bolt-padding-medium u-bolt-margin-bottom-small">
  {% set form_children %}
    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "First Name",
      inputAttributes: {
        placeholder: "Enter your first name",
        required: true
      },
      labelDisplayType: "floating"
    } only %}

    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Last Name",
      inputAttributes: {
        placeholder: "Enter your last name",
        required: true
      },
      labelDisplayType: "floating"
    } only %}

    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Email Address",
      inputAttributes: {
        placeholder: "Enter your email address",
        type: "email",
        required: true
      },
      labelDisplayType: "floating"
    } only %}

    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Title",
      inputAttributes: {
        placeholder: "Enter your current job title",
        required: true
      },
      labelDisplayType: "floating"
    } only %}

    {% include "@pl/10-form-element-demo-input-element.twig" with {
      title: "Company Name",
      inputAttributes: {
        placeholder: "Enter the name of your company",
        required: true
      },
      labelDisplayType: "floating"
    } only %}

    {% include "@pl/40-form-element-demo-select.twig" with {
      title: "Country",
      selectAttributes: {
        required: true
      },
      options: [
        {
          type: "option",
          value: "",
          label: "- Select a Country -"
        },
        {
          type: "option",
          value: "a",
          label: "Argentina"
        },
        {
          type: "option",
          value: "b",
          label: "Belgium"
        },
        {
          type: "option",
          value: "c",
          label: "Croatia"
        }
      ]
    } only %}

    {% include "@pl/30-form-element-demo-checkbox.twig" with {
      labelTitle: "Receive periodic emails on key analyst reports, Pega events, and important news.  You can unsubscribe at any time",
      elementId: "checkbox-" ~ random(),
      labelDisplayType: "inline"
    } only %}
  {% endset %}
  {% set form_button %}
    {% include "@bolt-components-form/form-button.twig" with {
      text: "Download",
      width: "full",
      icon: {
        name: "download"
      }
    } only %}
  {% endset %}
  {% set modal_content %}
    {% include "@bolt-components-headline/headline.twig" with {
      text: "Get the report",
      size: "xlarge"
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "(all fields are required)",
      size: "small"
    } only %}
    {% include "@bolt-components-form/form.twig" with {
      children: form_children,
    } only  %}
    {% include "@bolt-components-form/form.twig" with {
      children: form_button,
      attributes: {
        slot: "footer"
      },
    } only  %}
  {% endset %}
  {% set trigger %}
    {% include "@bolt-components-button/button.twig" with {
      text: "Show form",
      size: "small",
      width: "full",
      attributes: {
        onclick: "this.nextElementSibling.show()",
      }
    } only %}
    {% include "@bolt-components-modal/modal.twig" with {
      attributes: {
        class: "js-image-modal-advanced-form",
      },
      content: modal_content,
    } only %}
  {% endset %}
  {% set description %}
    <bolt-text headline font-size="large">Form only</bolt-text>
    <bolt-text>Pass a form into the modal content, and the form button into the modal footer. This way, the form button can be sticky on the bottom regardless how long the form is.</bolt-text>
  {% endset %}
  {% include "@bolt-components-grid/grid.twig" with {
    items: [
      {
        column_start: "1 1@small",
        column_span: "12 8@small 9@medium",
        row_start: "2 1@small",
        row_span: "1",
        valign: "center",
        content: description,
      },
      {
        column_start: "1 10@small 11@medium",
        column_span: "6 3@small 2@medium",
        row_start: "1 1@small",
        row_span: "1",
        valign: "center",
        content: trigger,
      },
    ]
  } only %}
</div>
