// Light Syntax

$bolt-syntax-light: 'c-bolt-code-snippet-syntax--light';

code.#{$bolt-syntax-light},
pre.#{$bolt-syntax-light} {
  color: black;
  background: lighten(bolt-color(indigo, xlight), 17%);
}

pre.#{$bolt-syntax-light}::-moz-selection, pre.#{$bolt-syntax-light} ::-moz-selection,
code.#{$bolt-syntax-light}::-moz-selection, code.#{$bolt-syntax-light} ::-moz-selection {
  background: bolt-color(indigo, xlight);
}

pre.#{$bolt-syntax-light}::selection, pre.#{$bolt-syntax-light} ::selection,
code.#{$bolt-syntax-light}::selection, code.#{$bolt-syntax-light} ::selection {
  background: bolt-color(indigo, xlight);
}

.#{$bolt-syntax-light} {
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: #999;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: green;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }

  .token.function,
  .token.class-name {
    color: #DD4A68;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .line-numbers-rows > span:before {
    color: slategray;
  }
}
