// Dark Syntax

.c-bolt-code-snippet--dark {
  &,
  code,
  pre {
    color: var(--bolt-color-gray-xlight);
    background: var(--bolt-color-navy-xdark);
  }

  pre::-moz-selection,
  pre ::-moz-selection,
  code::-moz-selection,
  code ::-moz-selection {
    background: var(--bolt-color-navy-xlight);
  }

  pre::selection,
  pre ::selection,
  code::selection,
  code ::selection {
    background: var(--bolt-color-navy-xlight);
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #5c6370;
  }

  .token.punctuation {
    color: #abb2bf;
  }

  .token.selector,
  .token.tag {
    color: lightsalmon;
  }

  .token.property,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.attr-name,
  .token.deleted {
    color: #d19a66;
  }

  .token.string,
  .token.char,
  .token.attr-value,
  .token.builtin,
  .token.inserted {
    color: #98c379;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #56b6c2;
  }

  .token.atrule,
  .token.keyword {
    color: #c678dd;
  }

  .token.function {
    color: #61afef;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #c678dd;
  }

  .line-numbers-rows > span:before {
    color: #5c6370;
  }
}
