/* ------------------------------------ *\
   Transition
\* ------------------------------------ */

:root {
  --bolt-transition-ease: ease-in-out;
  --bolt-transition-timing: 200ms;
  --bolt-transition: var(--bolt-transition-ease) var(--bolt-transition-timing);
}
