/* ------------------------------------ *\
  Custom Element
\* ------------------------------------ */

$bolt-blocky-elements: (block, flex, grid);

// @todo: move to separate function
@function bolt-list-contains($list, $value) {
  @return not not index($list, $value);
}


// helper / setup mixin when defining new custom elements.
// optionally, can auto-include default spacing + normalize in the new custom element.
@mixin bolt-custom-element(
  $elementName,
  $display: inline,
  $spacing: null,
){
  #{$elementName}{
    display: $display;
      
    // inline-based elements by default try to get margin-right spacing, if a spacing size is specified
    @if ($display == 'inline' or 
      $display == 'inline-block' or 
      $display == 'inline-flex') {
        @if $spacing != null {
         &:not(:last-child) {
          @include bolt-margin-right($spacing);
        }
      }
    
    // otherwise block-like elements expect margin-bottom spacing, again if a spacing size is specified
    } @else {
      @if $spacing != null {
        &:not(:last-child) {
          @include bolt-margin-bottom($spacing);
        }
      }
    }

    @content;
  }
}

// @include bolt-custom-element('bolt-button', 'inline-flex', $defaultSpacingSize: );
