/* ------------------------------------ *\
   card-replacement background
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-replacement-settings-and-tools.scss';

bolt-card-replacement-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $bolt-card-replacement-z-index-background;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  border-radius: var(
    --c-bolt-card-border-radius
  ); // Do not mess with this unless you understand the logic for the border-radius prop in card-replacement.scss.
}

.c-bolt-card_replacement__background {
  position: relative;
  width: 100%;
  height: 100%;
}
