/*------------------------------------*\
    #CONTROLS
\*------------------------------------*/

/**
 * 1) Controls contains viewport resizer and tools dropdown
 * 2) Right-align inside of header
 */
.pl-c-controls {
  margin-left: auto; /* 2 */
  display: flex;
  flex-wrap: nowrap;
}

.pl-c-controls-bar {
  align-self: flex-end;
  display: flex;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding-left: 24px;
  padding-right: 16px;
  background-color: white;
  border-radius: 50rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 15px 1px rgba(6,9,36,0.1), 0 18px 24px 0 rgba(6,10,36,0.12);
}


/**
* Control list
*/
.pl-c-controls__list {
    @include listReset();
    display: flex;
    flex-wrap: nowrap;
}