/* ------------------------------------ *\
  #TEXT ALIGN UTILITIES
\* ------------------------------------ */

.u-bolt-text-align-right {
  text-align: right !important;
  align-items: flex-end !important;
}

.u-bolt-text-align-left {
  text-align: left !important;
  align-items: flex-start !important;
}

.u-bolt-text-align-center {
  text-align: center !important;
  align-items: center !important;
}
