{% set notes %}
  <bolt-ol>
    <bolt-li>Turn headline, subheadline, and eyebrow into links by passing proper HTML attributes via <code>link_attributes</code>. Same as <a href="{{ link['elements-text-link-attributes'] }}" class="e-bolt-text-link">Text Link</a> element, depending on if the <code>&lt;a&gt;</code> or the <code>&lt;button&gt;</code> HTML element is being used, the proper HTML attributes should be passed.</bolt-li>
    <bolt-li>Headline, subheadline, and eyebrow links created this way will utilize the reversed underline style from the <a href="{{ link['elements-text-link-reversed-underline'] }}" class="e-bolt-text-link">Text Link</a> element, icon is recommended to be used as a visual cue while underline is not visible. The twig template has reversed underline on by default, however, when writing plain HTML, this style needs to be written out manually using appropriate Text Link modifier classes.</bolt-li>
    <bolt-li><code>link_attributes</code> will turn the entire paragraph of text into a link, so it is not recommended for body text links. Instead, use the <a href="{{ link['elements-text-link-reversed-underline'] }}" class="e-bolt-text-link">Text Link</a> element or <code>&lt;a&gt;</code> HTML element for inline links within a paragraph of text.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set icon_chevron_right %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'chevron-right',
    } only %}
  {% endset %}
  <bolt-tabs inset="off" label-spacing="medium">
    <bolt-tab-panel>
      <bolt-text slot="label">Block Link</bolt-text>
      <div class="t-bolt-gray-xlight u-bolt-padding-medium">
        {% include '@bolt-elements-type/type.twig' with {
          content: 'Eyebrow link',
          hierarchy: 'eyebrow',
          icon_after: icon_chevron_right,
          link_attributes: {
            href: '#!',
          },
        } only %}
        {% include '@bolt-elements-type/type.twig' with {
          content: 'Headline link',
          hierarchy: 'headline',
          tag: 'h1',
          size: 'xxxlarge',
          icon_after: icon_chevron_right,
          link_attributes: {
            href: '#!',
          },
        } only %}
        {% include '@bolt-elements-type/type.twig' with {
          content: 'Subheadline link',
          hierarchy: 'subheadline',
          tag: 'h2',
          size: 'xlarge',
          icon_after: icon_chevron_right,
          link_attributes: {
            href: '#!',
          },
        } only %}
      </div>
    </bolt-tab-panel>

    <bolt-tab-panel>
      <bolt-text slot="label">Inline Link</bolt-text>
      <div class="t-bolt-gray-xlight u-bolt-padding-medium">
        {% include '@bolt-elements-type/type.twig' with {
          content: 'This is a paragraph of text. In the middle of it, it has <a href="#!">an inline link</a>. This inline link can be a Text Link element or an HTML anchor element.',
        } only %}
      </div>
    </bolt-tab-panel>
  </bolt-tabs>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set icon_chevron_right %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{# Block Link #}
{% include '@bolt-elements-type/type.twig' with {
  content: 'Eyebrow link',
  hierarchy: 'eyebrow',
  icon_after: icon_chevron_right,
  link_attributes: {
    href: '#!',
  },
} only %}
{% include '@bolt-elements-type/type.twig' with {
  content: 'Headline link',
  hierarchy: 'headline',
  tag: 'h1',
  size: 'xxxlarge',
  icon_after: icon_chevron_right,
  link_attributes: {
    href: '#!',
  },
} only %}
{% include '@bolt-elements-type/type.twig' with {
  content: 'Subheadline link',
  hierarchy: 'subheadline',
  tag: 'h2',
  size: 'xlarge',
  icon_after: icon_chevron_right,
  link_attributes: {
    href: '#!',
  },
} only %}

{# Inline Link #}
{% include '@bolt-elements-type/type.twig' with {
  content: 'This is a paragraph of text. In the middle of it, it has <a href="#!">an inline link</a>. This inline link can be a Text Link element or an HTML anchor element.',
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}{% verbatim %}
<!-- Block Link -->
<h1 class="e-bolt-type e-bolt-type--size-xxxlarge e-bolt-type--headline"><a href="#!" class="e-bolt-text-link e-bolt-text-link--reversed-underline">Headline link<span class="e-bolt-text-link__icon-after"><!-- Icon or image markup --></span></a></h1>

<!-- Inline Link -->
<p class="e-bolt-type">This is a paragraph of text. In the middle of it, it has <a href="#!">an inline link</a>. This inline link can be a Text Link element or an HTML anchor element.</p>
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Headline Links',
  description: 'Link styles for headline, subheadline, and eyebrow.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
