////
/// @group Settings: Typography
/// @author Mike Mai
////

@import '../../02-tools/tools-breakpoint/_tools-breakpoint.scss';
@import '../../02-tools/tools-px-to-rem/_tools-px-to-rem.scss';

/// Small breakpoint font-size
$bolt-font-size--small-bp: bolt-rem(bolt-breakpoint(xxsmall)) !default;
/// Medium breakpoint font-size
$bolt-font-size--medium-bp: bolt-rem(bolt-breakpoint(medium)) !default;

/* ------------------------------------ *\
  Scale
\* ------------------------------------ */
/// Default XXX Large Max font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--xxxlarge--max: 3.083rem !default;
/// Default XXX Large Min font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--xxxlarge--min: 2.275rem !default;
/// Default XX Large font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--xxlarge: 1.781rem !default;
/// Default X Large font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--xlarge: 1.417rem !default;
/// Default Large font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--large: 1.111rem !default;
/// Medium font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--medium: 1rem !default;
/// Small font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--small: 0.9rem !default;
/// X Small font-size. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-font-size--xsmall: 0.8rem !default;

/// Default XXX Large line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--xxxlarge: 1.14 !default;
/// Default XX Large line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--xxlarge: 1.31 !default;
/// Default X Large line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--xlarge: 1.35 !default;
/// Default Large line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--large: 1.35 !default;
/// Default Medium line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--medium: 1.65 !default;
/// Default Small line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--small: 1.51 !default;
/// Default X Small line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--xsmall: 1.45 !default;
/// Default Tight line-height. Used within $bolt-font-sizes map.
/// @see $bolt-font-sizes
$bolt-line-height--tight: 1.111 !default;

/// Bolt's definition of all options of possible text sizes.
/// @type Map
$bolt-font-sizes: (
  font-sizes: (
    xxxlarge: (
      font-size: (
        $bolt-font-size--small-bp: $bolt-font-size--xxxlarge--min,
        $bolt-font-size--medium-bp: $bolt-font-size--xxxlarge--max
      ),
      line-height: (
        regular: $bolt-line-height--xxxlarge,
        tight: $bolt-line-height--tight
      )
    ),
    xxlarge: (
      font-size: $bolt-font-size--xxlarge,
      line-height: (
        regular: $bolt-line-height--xxlarge,
        tight: $bolt-line-height--tight
      )
    ),
    xlarge: (
      font-size: $bolt-font-size--xlarge,
      line-height: (
        regular: $bolt-line-height--xlarge,
        tight: $bolt-line-height--tight
      )
    ),
    large: (
      font-size: $bolt-font-size--large,
      line-height: (
        regular: $bolt-line-height--large,
        tight: $bolt-line-height--tight
      )
    ),
    medium: (
      font-size: $bolt-font-size--medium,
      line-height: (
        regular: $bolt-line-height--medium,
        tight: $bolt-line-height--tight
      )
    ),
    small: (
      font-size: $bolt-font-size--small,
      line-height: (
        regular: $bolt-line-height--small,
        tight: $bolt-line-height--tight
      )
    ),
    xsmall: (
      font-size: $bolt-font-size--xsmall,
      line-height: (
        regular: $bolt-line-height--xsmall,
        tight: $bolt-line-height--tight
      )
    )
  )
) !default;
