/* ------------------------------------ *\
   Font-size System (CSS Custom Props)
\* ------------------------------------ */

/**
 * Base value map
 */
$bolt-font-size-system: (
  'xxxxlarge': 3.083,
  'xxxlarge': 2.275,
  'xxlarge': 1.781,
  'xlarge': 1.417,
  'large': 1.111,
  'medium': 1,
  'small': 0.9,
  'xsmall': 0.8,
  'xxsmall': 0.7,
) !default;

$bolt-line-height-system: (
  'xxxxlarge': 1.14,
  'xxxlarge': 1.14,
  'xxlarge': 1.31,
  'xlarge': 1.35,
  'large': 1.45,
  'medium': 1.65,
  'small': 1.51,
  'xsmall': 1.45,
  'xxsmall': 1.45,
) !default;

$bolt-font-weight-system: (
  'light': 300,
  'regular': 400,
  'semibold': 600,
  'bold': 800,
) !default;

$bolt-font-family-system: (
  'body':
    "'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', sans-serif",
  'headline':
    "'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans','Helvetica Neue', sans-serif",
  'code': 'monospace, monospace',
) !default;

:root {
  /* font-size: var(--bolt-font-size, 14px); */
  --bolt-txt-font-size: 14px;

  @include bolt-mq(xsmall) {
    --bolt-txt-font-size: 15px;
  }
  @include bolt-mq(xxlarge) {
    --bolt-txt-font-size: 16px;
  }
  @include bolt-mq(xxxxlarge) {
    --bolt-txt-font-size: 18px;
  }

  @each $size in $bolt-font-size-system {
    $size-name: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-txt-font-size-#{$size-name}: calc(#{$size-value} * 1rem);
  }

  @each $size in $bolt-line-height-system {
    $size-name: nth($size, 1);
    $size-value: nth($size, 2);

    --bolt-txt-line-height-#{$size-name}: #{$size-value};
  }

  @each $weight in $bolt-font-weight-system {
    $weight-name: nth($weight, 1);
    $weight-value: nth($weight, 2);

    --bolt-txt-font-weight-#{$weight-name}: #{$weight-value};
  }

  @each $family in $bolt-font-family-system {
    $family-name: nth($family, 1);
    $family-value: nth($family, 2);

    --bolt-txt-font-family-#{$family-name}: #{$family-value};
  }

  @each $size in $bolt-font-size-system {
    $size-name: nth($size, 1);

    @each $family in $bolt-font-family-system {
      $family-name: nth($family, 1);

      --bolt-txt-preset-#{$family-name}-#{$size-name}: var(
          --bolt-txt-font-weight-regular
        )
        var(--bolt-txt-font-size-#{$size-name}) /
        var(--bolt-txt-line-height-#{$size-name})
        var(--bolt-txt-font-family-#{$family-name});
    }
  }
}
