{% extends "_drupal-admin-ui-template.twig" %}

{% block ui_component_name %}
  Icon Paragraph
{% endblock %}

{% block description %}
  Icon paragraph can be stand-alone content and nested within other paragraphs that requires icons such as Button, Text Link, Action Blocks, etc.
{% endblock %}

{% block main %}
  {% embed '_main-content.twig' %}
    {% block fieldset_inner %}
      <legend>Icon</legend>
        <ul>
          <li>
            <div><strong><small>Choose an icon from the library</small></strong></div>
            <div>
              <button>Select icon</button>
              <button>Use custom icon</button>
            </div>
          </li>
          <li>
            <ul>
              <li>
                <ram>
                  <div>
                    <label>
                      <div><strong><small>Icon Size</small></strong></div>
                      <select name="size">
                        <option value="none">Inherit from text size</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="Xlarge">Xlarge</option>
                      </select>
                    </label>
                  </div>
                  <div>
                    <label>
                      <div><strong><small>Icon Color</small></strong></div>
                      <select name="gutter">
                        <option value="none">Inherit from text color</option>
                        <option value="Teal">Teal</option>
                        <option value="Navy">Navy</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Orange">Orange</option>
                        <option value="Pink">Pink</option>
                        <option value="Berry">Berry</option>
                        <option value="Wine">Wine</option>
                        <option value="Violet">Violet</option>
                      </select>
                    </label>
                  </div>
                </ram>
              </li>
            </ul>
          </li>
        </ul>
        {% embed 'tabs/_tabs-set.twig' %}
          {% block tabs %}
            {% include 'tabs/_tab-shape.twig' %}
            {% include 'tabs/_tab-animation.twig' %}
            {% include 'tabs/_tab-overrides.twig' %}
          {% endblock %}
        {% endembed %}
    {% endblock %}
  {% endembed %}
  {% embed '_main-content.twig' %}
    {% block settings_title %}
      <h3>Custom icon workflow</h3>
    {% endblock %}
    {% block fieldset_inner %}
      <legend>Icon</legend>
      <ul>
        <li>
          <div><strong><small>Choose an icon from the library</small></strong> (<a href="#!"><small>remove custom icon</small></a>)</div>
          <div>
            <label>
              <textarea cols="30" rows="4" placeholder="Enter SVG code"></textarea>
            </label>
          </div>
          <info>
            <div indented><i><svg viewBox="0 0 512 512" width="100" title="info-circle"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" /></svg></i> Note: follow the instructions on <a href="https://boltdesignsystem.com/pattern-lab/?p=elements-icon-use-case-custom-svg">saving custom SVG icons</a>.</div>
          </info>
        </li>
        <li>...</li>
      </ul>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block code_snippet %}
<svg class="e-bolt-icon">...</svg>

<span class="e-bolt-shape">
  <span class="e-bolt-shape__content">
    <svg class="e-bolt-icon">...</svg>
  </span>
</span>
{% endblock %}

{% block dev_notes %}
<ol>
  <li>Clicking "Select icon" will bring up the icon library for user to select a specific icon.</li>
  <li>Clicking "Use custom icon" will bring up an extra textarea input for raw SVG code. Appropriate icon and shape classes will be added to this custom code in the back-end.</li>
  <li>Overrides maps up to utility classes, these classes will either go on the svg element or the span element with the shape classes (if a shape is chosen).</li>
  <li>In the Custom Icon Workflow, clicking "remove custom icon" will bring back the view with 2 buttons ("select icon" and "use custom icon").</li>
</ol>
{% endblock %}
