/**
  * @define c-bolt-band
  */
@import '@bolt/tools-spacing';

@mixin bolt-full-bleed() {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100%; //fallback if vw not supported.
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}

.c-bolt-band {
  @include bolt-padding-top(large);
  @include bolt-padding-bottom(large);
  display: block;
}


.c-bolt-band__content {
  position: relative; //Needed for absolutely positioned inner elements, like the background component.
}


.c-bolt-band--large {
  @include bolt-padding-top(xlarge);
  @include bolt-padding-bottom(xlarge);
}

.c-bolt-band--small {
  @include bolt-padding-top(medium);
  @include bolt-padding-bottom(medium);
}

.c-bolt-band--full {
  @include bolt-full-bleed;
}


bolt-band {
  display: block;
  display: flex; // So children increase in height
  width: 100%;
  transition: all 0.5s ease-in-out;
  max-height: none;

  &.is-expanded {
    height: 56.25vw;
  }

  &.is-animating {
    transition: transform 0.5s ease-in-out;
  }
}