.o-inline-list {
  display: inline-block;
  display: inline-flex;
  letter-spacing: spacing(small) * -1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.o-inline-list > .o-inline-list__item {
  letter-spacing: normal;

  &:not(:last-child) {
    @include padding-right(medium);
    // margin-left: 0;
  }
}
