<ul>
  <li>
    {% include "@bolt-components-link/link.twig" with {
      text: "Default icon postion is after the link",
      url: "http://google.com",
      icon: {
        name: "add-open",
      },
    } only %}
  </li>

  <li>
    {% include "@bolt-components-link/link.twig" with {
      text: "But the icon can go before the link",
      url: "http://google.com",
      icon: {
        name: "add-open",
        position: "before"
      },
    } only %}
  </li>
</ul>

