<p>Default icon postion is after the link:</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "Like This",
    url: "http://google.com",
    icon: {
      name: "info-open",
    },
  } only %}
</p>
<p>But the icon can go before the link:</p>
<p>
  {% include "@bolt-components-link/link.twig" with {
    text: "Like This",
    url: "http://google.com",
    icon: {
      name: "info-open",
      position: "before"
    },
  } only %}
</p>

