{% grid with {
  attributes: {
    class: [
      "o-bolt-grid--matrix"
    ]
  }
} %}

  {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}

    <h2>Custom elements with anchor</h2>

    {# no props, no attributes on the anchor #}
    <p>
      <bolt-link>
        <a>
          Link text
        </a>
      </bolt-link>
    </p>

    {# no props, href and class attributes on the anchor #}
    <p>
      <bolt-link>
        <a href="#!" class="c-bolt-link">
          Link text
        </a>
      </bolt-link>
    </p>

    {# href prop, no attributes on the anchor #}
    <p>
      <bolt-link href="#!">
        <a>
          Link text
        </a>
      </bolt-link>
    </p>

    {# with icon in "before" slot #}
    <p>
      <bolt-link>
        <a href="#!" class="c-bolt-link">
          <bolt-icon slot="before" name="info-open"></bolt-icon>
          Link text with icon
        </a>
      </bolt-link>
    </p>

    {# with icon in "before" slot #}
    <p>
      <bolt-link>
        <a href="#!" class="c-bolt-link">
          Link text with icon
          <bolt-icon slot="after" name="info-open"></bolt-icon>
        </a>
      </bolt-link>
    </p>

  {% endcell %}

  {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}

    <h2>Custom elements without anchor</h2>

    {# no props #}
    <p>
      <bolt-link>
        Link text
      </bolt-link>
    </p>

    {# href prop #}
    <p>
      <bolt-link href="#!">
        Link Text
      </bolt-link>
    </p>

    {# with icon in "before" slot #}
    <p>
      <bolt-link href="#!">
        <bolt-icon slot="before" name="info-open"></bolt-icon>
        Link text with icon
      </bolt-link>
    </p>

    {# with icon in "before" slot #}
    <p>
      <bolt-link href="#!">
        Link text with icon
        <bolt-icon slot="after" name="info-open"></bolt-icon>
      </bolt-link>
    </p>

  {% endcell %}

  {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}

    <h2>Custom elements in a paragraph</h2>

    <p>
      Sunt laborum ad in consectetur consectetur duis in Lorem ut
      <bolt-link url="#!">
        <a href="#!" class="c-bolt-link">
          This is a text link
        </a>
      </bolt-link>
      . Magna non voluptate deserunt fugiat esse esse cillum.
      <bolt-link url="#!">
        <a href="#!" class="c-bolt-link">
          <bolt-icon slot="before" name="info-open"></bolt-icon>
          This is a text link
        </a>
      </bolt-link>
      velit commodo cillum sint enim reprehenderit sunt labore commodo dolor.
      <bolt-link url="#!">
        <a href="#!" class="c-bolt-link">
          This is a text link
          <bolt-icon slot="after" name="info-open"></bolt-icon>
        </a>
      </bolt-link>
    </p>

  {% endcell %}
{% endgrid %}

{% set link %}
  <h2 class="c-bolt-headline c-bolt-headline--bold c-bolt-headline--xlarge c-bolt-headline--link">
    <bolt-link url="#!" is-headline="true">
      <a href="#!" class="c-bolt-link">
        This is a text link
        <bolt-icon slot="after" name="chevron-right"></bolt-icon>
      </a>
    </bolt-link>
  </h2>
  <bolt-link url="#!">
    <a href="#!" class="c-bolt-link">
      This is a text link
    </a>
  </bolt-link>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  theme: "xlight",
  content: link
} only %}

{% include "@bolt-components-band/band.twig" with {
  theme: "light",
  content: link
} only %}

{% include "@bolt-components-band/band.twig" with {
  theme: "dark",
  content: link
} only %}

{% include "@bolt-components-band/band.twig" with {
  theme: "xdark",
  content: link
} only %}
