{% set modal_id = 'modal-001' %}

{% set modal_content %}
  {% set video %}
    <video-js
      data-account="1900410236"
      data-player="4fVA8Ojzs"
      data-embed="default"
      data-video-id="4892122320001"
      controls
      data-media-title
      data-media-duration
      class="c-base-video"></video-js>
  {% endset %}

  {% include "@bolt-components-ratio/ratio.twig" with {
    children: video,
    ratio: "16/9"
  } only %}
{% endset %}

{% include "@bolt-components-modal/modal.twig" with {
  attributes: {
    class: modal_id,
  },
  content: modal_content,
  width: "optimal",
  spacing: "none",
  theme: "none",
  scroll: "overall",
} only %}


<div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
  <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@large">
    {% include '@bolt-components-teaser/teaser.twig' with {
      image : {
        src: "/images/placeholders/landscape-16x9-mountains.jpg",
        alt: "Mountains",
      },
      headline: {
        text: 'This teaser is here to test a video modal.',
        link_attributes: {
          type: 'button',
          "on-click": "show",
          "on-click-target": modal_id,
        }
      },
      type: 'video',
      description: 'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
      chip_list: {
        size: 'xsmall',
        items: [
          {
            text: 'Video',
          },
          {
            text: 'Research',
          },
        ],
      }
    } only %}
  </div>
  <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@large">
    {% include '@bolt-components-teaser/teaser.twig' with {
      image : {
        src: "/images/placeholders/landscape-16x9-mountains.jpg",
        alt: "Mountains",
      },
      headline: {
        text: 'This teaser is here to test an article link.',
        link_attributes: {
          href: 'https://www.pega.com'
        }
      },
      type: 'article',
      description: 'Tempor mollit cillum ea ipsum deserunt duis elit esse commodo culpa cupidatat enim non velit. Culpa pariatur eiusmod et anim. Consectetur est id aliquip ea incididunt.',
      chip_list: {
        size: 'xsmall',
        items: [
          {
            text: 'Article',
          },
          {
            text: 'Data',
          },
        ],
      }
    } only %}
  </div>
</div>
