{% set description %}
A teaser is an interactive block element. Its main purpose is to display relevant content for a resource or external link before user interaction, for which the entire element is clickable. The Twig template is the recommended usage for Drupal.
{% endset %}

{% set notes %}
<bolt-ol>
  <bolt-li><code>signifier</code> and <code>headline</code> props are required for a basic teaser.</bolt-li>
  <bolt-li>When using the <code>signifier</code> prop, it will automatically crop an <code>&lt;img&gt;</code> to the defined ratio (16:9 for vertical and responsive layout, 1:1 for horizontal layout).</bolt-li>
  <bolt-li>When using <code>bolt-image</code> as the signifier, please be sure that the source image file has the appropriate ratio, otherwise there will be undesired white space.</bolt-li>
  <bolt-li>The <code>headline</code> prop and its children props are required for use. To set an action for the teaser, set an <code>href</code> (for links) or <code>type</code> and proper attributes (for buttons) with the <code>headline.link_attributes</code> prop.</bolt-li>
</bolt-ol>
{% endset %}

{% set demo %}
  <div style="max-width: 60ch;">
    {% set image %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/signifier-pdf.jpg',
          alt: 'Alt text.',
          loading: 'lazy',
        }
      } only %}
    {% endset %}
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: image,
      headline: {
        text: 'This is the teaser headline',
        link_attributes: {
          href: 'https://www.google.com',
        }
      },
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% set image %}
  // <img> or <bolt-image> goes here
{% endset %}
{% include '@bolt-components-teaser/teaser.twig' with {
  signifier: image,
  headline: {
    text: 'This is the teaser headline',
    link_attributes: {
      href: 'https://www.google.com',
    }
  },
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Teaser',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
