{% set description %}
  The <bolt-code-snippet display="inline">type</bolt-code-snippet> and <bolt-code-snippet display="inline">time</bolt-code-snippet> props can be used to display additional information about a resource.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li><strong>Type:</strong> this indicates the resource type. If it is set to <bolt-code-snippet display="inline">video</bolt-code-snippet>, a play icon will appear with the signifier.</bolt-li>
    <bolt-li><strong>Time:</strong> this represents either video duration (for video, eg. 1:20) or estimated reading time (for external link and PDF, eg. 10 min read). If a value is set, the value will appear with the signifier.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set modal_id = 'js-bolt-modal-' ~ random() %}

  {% set modal_content %}
    {% set video %}
      <video-js
        data-account='1900410236'
        data-player='4fVA8Ojzs'
        data-embed='default'
        data-video-id='4892122320001'
        controls
        data-media-title
        data-media-duration
        class="c-base-video"></video-js>
    {% endset %}
    {% include '@bolt-components-ratio/ratio.twig' with {
      children: video,
      ratio: '16/9'
    } only %}
  {% endset %}
  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    width: 'optimal',
    spacing: 'none',
    theme: 'none',
    scroll: 'overall',
    attributes: {
      id: modal_id,
    },
  } only %}
  {% set wide_image %}
    {% include '@bolt-components-image/image.twig' with {
      src: '/images/content/promos/promo-16x9-ai.jpg',
      alt: 'Alt text.',
    } only %}
  {% endset %}
  
  <div style="max-width: 60ch;">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: wide_image,
      headline: {
        text: 'The signifier of this teaser is showing a play icon and video duration',
        link_attributes: {
          type: 'button',
          'data-bolt-modal-target': '#' ~ modal_id,
        },
      },
      description: {
        content: 'Lorem reprehenderit aute aliqua duis anim ex ullamco sunt occaecat nostrud ex tempor occaecat in. Ex veniam eu mollit magna.',
      },
      type: 'video',
      time: '1:20',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-teaser/teaser.twig' with {
  type: 'video',
  time: '1:20',
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Teaser Type and Time',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
