{% set description %}
  The <code>time</code> prop can be used to display additional information about a resource.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li><strong>Time:</strong> this represents estimated reading time (for external link and PDF, eg. 10 min read). If a value is set, the value will appear with the signifier.</bolt-li>
    <bolt-li>If Video Thumbanil is used as a signifier don't use this prop. Please use the <strong>duration</strong> which is a Video Thumbanil's prop.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set wide_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/content/promos/promo-16x9-ai.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}
  
  <div style="max-width: 60ch;">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: wide_image,
      headline: {
        text: 'The time prop shows esimated reading time.',
        link_attributes: {
          href: 'https://www.google.com',
          target: '_blank',
          rel: 'noopener'
        }
      },
      description: {
        content: 'Lorem reprehenderit aute aliqua duis anim ex ullamco sunt occaecat nostrud ex tempor occaecat in. Ex veniam eu mollit magna.',
      },
      time: '10:00',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-teaser/teaser.twig' with {
  time: '10:00',
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Teaser Time',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
