{% set description %}
  Certain resources come with estimated reading time. A teaser can display that information as an overlay on the signifier.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Use the <code>time</code> prop to render such information.</bolt-li>
    <bolt-li>This option is perfect for external articles and PDF resources.</bolt-li>
    <bolt-li>This option is not to be used with a video resource. If a <a href="{{ link['viewall-components-video-thumbnail'] }}" class="e-bolt-text-link">Video Thumbnail component</a> is used as a signifier do not use the <code>time</code> prop. Please use Video Thumbnail&rsquo;s <strong>duration</strong> prop instead.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set wide_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/16x9.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  <div style="max-width: 60ch;">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: wide_image,
      headline: {
        text: 'The time prop shows esimated reading time.',
        link_attributes: {
          href: 'https://www.google.com',
          target: '_blank',
          rel: 'noopener'
        }
      },
      description: {
        content: 'Lorem reprehenderit aute aliqua duis anim ex ullamco sunt occaecat nostrud ex tempor occaecat in. Ex veniam eu mollit magna.',
      },
      time: '10 min read',
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-components-teaser/teaser.twig' with {
  time: '10 min read',
  ...
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Estimated Reading Time',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
