{% set modal_id = 'js-bolt-modal-' ~ random() %}

{% set modal_content %}
  {% set video %}
    <video-js
      data-account='1900410236'
      data-player='4fVA8Ojzs'
      data-embed='default'
      data-video-id='4892122320001'
      controls
      data-media-title
      data-media-duration
      class="c-base-video"></video-js>
  {% endset %}

  {% include '@bolt-components-ratio/ratio.twig' with {
    children: video,
    ratio: '16/9'
  } only %}
{% endset %}

{% include '@bolt-components-modal/modal.twig' with {
  content: modal_content,
  width: 'optimal',
  spacing: 'none',
  theme: 'none',
  scroll: 'overall',
  attributes: {
    id: modal_id,
  },
} only %}

{% set share_menu_content %}
  {% include '@bolt-components-share/share.twig' with {
    display: 'menu',
    text: 'Share this content',
    sources: [
      {
        name: 'facebook',
        url: 'https://www.facebook.com/sharer/sharer.php?u=https://pega.com&amp;src=sdkpreparse'
      },
      {
        name: 'twitter',
        url: 'https://twitter.com/intent/tweet?url=https://pega.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
      },
      {
        name: 'linkedin',
        url: 'https://www.linkedin.com/shareArticle?url=https://pega.com'
      },
      {
        name: 'email',
        url: 'mailto:?&body=Sample%20Text%20--%20https%3A//pega.com'
      }
    ],
    copy_to_clipboard: {
      text_to_copy: 'https://pega.com',
    },
  } only %}
{% endset %}

{% set image %}
  {% include '@bolt-components-image/image.twig' with {
    src: '/images/content/promos/promo-16x9-ai.jpg',
    alt: 'Alt text.',
  } only %}
{% endset %}

{% set chip_list_content %}
  {% include '@bolt-components-chip-list/chip-list.twig' with {
    size: 'xsmall',
    items: [
      {
        text: 'Video',
      },
      {
        text: 'Research',
      },
    ],
  } only %}
{% endset %}

<div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
  <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: image,
      time: '4:55',
      like_button_attributes: {
        'class': 'click-me'
      },
      share_menu: share_menu_content,
      headline: {
        text: 'This a video teaser',
        tag: 'h2',
        size: 'xlarge',
        link_attributes: {
          type: 'button',
          'data-bolt-modal-target': '#' ~ modal_id,
        }
      },
      type: 'video',
      description:  {
        content:'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
        show_on_hover: true,
      },
      chip_list: chip_list_content,
      status: {
        premium: true,
        views: '27'
      }
    } only %}
  </div>
  <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: image,
      time: '3 min read',
      like_button_attributes: {
        'class': 'click-me'
      },
      share_menu: share_menu_content,
      headline: {
        text: 'This is a PDF teaser',
        tag: 'h2',
        size: 'xlarge',
        link_attributes: {
          href: 'https://www.pega.com'
        }
      },
      type: 'PDF',
      description:  {
        content:'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
        show_on_hover: true,
      },
      chip_list: chip_list_content,
      status: {
        views: '160',
      }
    } only %}
  </div>
  <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
    {% include '@bolt-components-teaser/teaser.twig' with {
      signifier: image,
      time: '10 min read',
      like_button_attributes: {
        'class': 'click-me'
      },
      share_menu: share_menu_content,
      headline: {
        text: 'This is an external link teaser',
        tag: 'h2',
        size: 'xlarge',
        link_attributes: {
          href: 'https://www.pega.com'
        }
      },
      type: 'external-link',
      description:  {
        content:'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
        show_on_hover: true,
      },
      chip_list: chip_list_content,
      status: {
        views: '45',
      }
    } only %}
  </div>
</div>

{# Example Like Button JS #}
<script>
  document.querySelector('.click-me').addEventListener('click', function (event) {
    var _like_icon = this.firstChild;

    if ( _like_icon.getAttribute('name') == 'heart-open' ) {
      _like_icon.setAttribute('name', 'heart');
      _like_icon.setAttribute('color', 'pink');
    } else {
      _like_icon.setAttribute('name', 'heart-open');
      _like_icon.removeAttribute('color');
    }
  });
</script>
