{% set like_button_content %}
  {% include '@bolt-components-link/link.twig' with {
    text: 'Like',
    icon: {
      name: 'heart-open',
      position: 'before',
    },
    type: 'button',
    isHeadline: true,
    attributes: {
      'class': 'click-me',
    }
  } only %}
{% endset %}

{% set share_menu_content %}
  {% include '@bolt-components-share/share.twig' with {
    display: 'menu',
    text: 'Share this content',
    sources: [
      {
        name: 'facebook',
        url: 'https://www.facebook.com/sharer/sharer.php?u=https://pega.com&amp;src=sdkpreparse'
      },
      {
        name: 'twitter',
        url: 'https://twitter.com/intent/tweet?url=https://pega.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
      },
      {
        name: 'linkedin',
        url: 'https://www.linkedin.com/shareArticle?url=https://pega.com'
      },
      {
        name: 'email',
        url: 'mailto:?&body=Sample%20Text%20--%20https%3A//pega.com'
      }
    ],
    copy_to_clipboard: {
      text_to_copy: 'https://pega.com',
    },
  } only %}
{% endset %}

{% set _image %}
  {% include '@bolt-components-image/image.twig' with {
    src: '/images/content/promos/promo-16x9-ai.jpg',
    alt: 'Alt text.',
  } only %}
{% endset %}

{% set _band_content %}
  <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center">
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-10/12@large">
      {% include '@bolt-components-teaser/teaser.twig' with {
        image : _image,
        meta: '10 min read',
        views: '28k',
        like_button: like_button_content,
        share_menu: share_menu_content,
        eyebrow_text: 'Featured',
        headline: {
          text: 'Some awesome featured teaser dolore adipisicing dolore veniam occaecat cillum laboris aliqua',
          size: 'xlarge',
          link_attributes: {
            href: 'https://www.pega.com',
          }
        },
        layout: 'responsive',
        show_description: true,
        type: 'article',
        description: 'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
      } only %}
    </div>
  </div>
{% endset %}

{% include '@bolt-components-band/band.twig' with {
  content: _band_content,
} only %}

{# Example Like Button JS #}
<script>
  document.querySelector('.click-me').addEventListener('click', function (event) {
    var _like_icon = this.firstChild;

    if ( _like_icon.getAttribute('name') == 'heart-open' ) {
      _like_icon.setAttribute('name', 'heart');
      _like_icon.setAttribute('color', 'pink');
    } else {
      _like_icon.setAttribute('name', 'heart-open');
      _like_icon.removeAttribute('color');
    }
  });
</script>
