<h3>Horizontal</h3>
<p>Create a horizontal table by passing side headers and omitting top headers.</p>
{% include "@bolt-components-table/table.twig" with {
  format: "regular",
  headers: {
    side: {
      cells: [
        "Optimus Prime",
        "Bumblebee",
      ]
    }
  },
  rows: [
    {
      cells: [
        "The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.",
      ]
    },
    {
      cells: [
        "One of Optimus Prime's most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.",
      ]
    },
  ],
} only %}

<h3>Vertical</h3>
<p>Create a vertical table by passing top headers and omitting side headers.</p>
{% include "@bolt-components-table/table.twig" with {
  format: "regular",
  headers: {
    top: {
      cells: [
        "Optimus Prime",
        "Bumblebee",
      ]
    }
  },
  rows: [
    {
      cells: [
        "The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.",
        "One of Optimus Prime's most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.",
      ]
    },
  ],
} only %}

<h3>Horizontal and Vertical</h3>
<p>Create a complex table that goes horizontally and vertically by passing both top and side headers. You can also define a fixed width (shrink to widest text) for the side headers.</p>
{% include "@bolt-components-table/table.twig" with {
  format: "regular",
  headers: {
    top: {
      cells: [
        "Description",
        "Team",
        "Vehical Form",
      ]
    },
    side: {
      width: "fixed",
      cells: [
        "Optimus Prime",
        "Bumblebee",
      ]
    }
  },
  rows: [
    {
      cells: [
        "The awe-inspiring leader of the Autobot forces. Selfless and endlessly courageous, he is the complete opposite of his mortal enemy Megatron.",
        "Autobots",
        "Peterbilt Truck",
      ]
    },
    {
      cells: [
        "One of Optimus Prime's most trusted lieutenants. Although he is not the strongest or most powerful of the Autobots, Bumblebee more than makes up for this with a bottomless well of luck, determination and bravery. He would gladly give his life to protect others and stop the Decepticons.",
        "Autobots",
        "VW Beetle",
      ]
    },
  ],
} only %}
