/* ------------------------------------ *\
  #SITE WRAPPER
\* ------------------------------------ */

// Provides over-arching page wrapper + sticky footer functionality

.c-bolt-site {
  display: grid;
  overflow-x: hidden; //Helps prevent horizontal scrolling in Chrome on Windows machines. Seems to be working fine w/ native position sticky at first glance.
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.c-page-header,
.c-bolt-site__header {
  grid-area: header;
}

.c-bolt-site__content {
  grid-area: content;
}

.c-bolt-site__footer {
  grid-area: footer;
}
