{% set description %}
  Side nav is a secondary navigation. It is commonly used in documentation design.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>Although nesting is possible, it is not recommended to go more than 4 levels deep.</bolt-li>
    <bolt-li>Side nav is intended to be used as the left sidebar of a Holy Grail layout. The desktop collapse button works the best with that particular layout. <a href="{{ link['viewall-layouts-holy-grail'] }}" class="e-bolt-text-link">View Holy Grail layout<span class="e-bolt-text-link__icon-after"><bolt-icon name="chevron-right"></bolt-icon></span></a></bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set level_2_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 2 page',
        attributes: {
          href: 'https://pega.com',
        },
      },
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 2 page',
        attributes: {
          href: 'https://pega.com',
        },
      },
    } only %}
  {% endset %}
  {% set level_2_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_2_items,
    } only %}
  {% endset %}
  {% set level_1_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page (with nested links)',
        attributes: {
          href: 'https://pega.com',
        },
      },
      children: level_2_list,
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page (current)',
        attributes: {
          href: 'https://pega.com',
        },
      },
      current: true,
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page',
        attributes: {
          href: 'https://pega.com',
        },
      },
    } only %}
  {% endset %}
  {% set level_1_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_1_items,
    } only %}
  {% endset %}

  <div style="max-width: 320px;">
    {% include '@bolt-components-side-nav/side-nav.twig' with {
      headline: {
        content: 'This is a side nav',
        link_attributes: {
          href: 'https://pega.com',
        },
      },
      content: level_1_list,
    } only %}
  </div>
{% endset %}

{% set twig_markup %}
{% verbatim %}
// List item template
{% include '@bolt-components-side-nav/side-nav-li.twig' with {
  link: {
    content: 'Item text',
    attributes: {
      href: 'https://pega.com',
    },
  },
  current: true, // When set to true, the item is indicated as the current page.
  expanded: true, // When set to true, it will show children.
  children: children, // Pass another list in here.
} only %}

// List template
{% include '@bolt-components-side-nav/side-nav-ul.twig' with {
  content: content, // Pass list items in here.
} only %}

// Side nav template
{% include '@bolt-components-side-nav/side-nav.twig' with {
  headline: {
    content: 'Headline text',
    link_attributes: {
      href: 'https://pega.com',
    },
  },
  content: content, // Pass list in here.
} only %}
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic side nav',
  description: description,
  demo: demo,
  notes: notes,
  twig_markup: twig_markup,
} only %}
