@import '@bolt/core';
@import '@bolt/components-button/src/button.settings';
@import '@bolt/components-button/src/button.mixins';

@import 'videojs-enhancements';

// Same as max-width of wrapper container
$bolt-video-wrapper--max-width: bolt-breakpoint(xxlarge);

.c-bolt-video {
  position: absolute;
  width: 100%;
  max-width: none;
  perspective: 1200px;
  perspective-origin: 80% 80%;
  z-index: 1000;
  transition: transform .4s cubic-bezier(.645, 0, .355, 1);
}

.c-bolt-video__wrapper {
  position: relative;
  width: 100%;
  pointer-events: none;
  max-width: $bolt-video-wrapper--max-width;
  margin: 0 auto;
  transition: opacity 0.4s ease, visibility 0.1s ease;
  opacity: 0;
  visibility: hidden;

  .is-expanded & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.c-bolt-video__video-element {
  background-color: #32325d;
  display: block;
  position: relative;
  border-radius: 6px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFW…9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  transition: border-radius 0.4s cubic-bezier(0.645, 0, 0.355, 1);

  .is-collapsed & {
    border-radius: 14px;
  }
}

.c-bolt-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.c-bolt-video__close-button {
  color: bolt-color(orange);
  --bolt-color-icon: bolt-color(orange);

  position: absolute;
  z-index: 1000;
  top: bolt-spacing(xsmall);
  right: bolt-spacing(xsmall);
  transition: all 0.3s ease;
  opacity: 0; // Initial state before brightcove video player kicks in

  @include respond-to(small) {
    right: (bolt-spacing(large) / -2) - bolt-spacing(xsmall);
  }

  .is-collapsed & {
    opacity: 0;
    pointer-events: none;
  }

  .is-expanded & {
    opacity: 0.8;
    pointer-events: auto;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}

.c-bolt-video__close-button--icon-to-text {
  @media (max-width: (bolt-breakpoint(small) - 1px)) {
    display: block;
    position: relative;
    right: 0;
    text-align: right;

    .c-bolt-video__close-button-icon {
      display: none;
    }
  }

  @media (min-width: bolt-breakpoint(small)) {
    position: absolute;

    .c-bolt-video__close-button-text {
      @include bolt-visuallyhidden;
    }
  }
}

.c-bolt-video__close-button:not(.c-bolt-video__close-button--icon-to-text) {
  .c-bolt-video__close-button-text {
    @include bolt-visuallyhidden;
  }
}

.c-bolt-video__close-button-icon,
.c-bolt-video__close-button-text {
  cursor: pointer;
}

.c-bolt-video__close-button-text {
  color: bolt-color(white);
  text-decoration: underline;
}

.c-bolt-video__close-wrapper {
  position: relative;
  width: 100%;
}
