@import '@bolt/core-v3.x';

$bolt-video-meta-border-radius: $bolt-border-radius;
$bolt-video-meta-transition: $bolt-transition;

#{$bolt-namespace}-video-meta {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--bolt-spacing-y-xsmall) var(--bolt-spacing-x-xsmall);
  pointer-events: none;
}

.c-#{$bolt-namespace}-video-meta,
.c-#{$bolt-namespace}-video-meta__wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.c-#{$bolt-namespace}-video-meta__item {
  display: inline-block;
  opacity: bolt-opacity(100);
  position: absolute;
  max-width: 100%;
  padding: calc(var(--bolt-spacing-x-xsmall) / 2) var(--bolt-spacing-x-xsmall);
  color: bolt-color(white);
  border-radius: $bolt-video-meta-border-radius;
  background-color: rgba(bolt-color(black), 0.8);
  transition: opacity $bolt-video-meta-transition;
}

.c-#{$bolt-namespace}-video-meta__item--title {
  top: 0;
  left: 0;
  font-size: var(--bolt-type-font-size-small);
  line-height: var(--bolt-type-line-height-small);
}

.c-#{$bolt-namespace}-video-meta__item--duration {
  right: 0;
  bottom: 0;
  font-size: var(--bolt-type-font-size-xsmall);
  line-height: var(--bolt-type-line-height-xsmall);
}

// [Mai] Hide the duration (which covers the controls) video is started or when paused.
#{$bolt-namespace}-video.is-paused {
  .c-#{$bolt-namespace}-video-meta__item--duration {
    opacity: bolt-opacity(0);
  }
}

// [Mai] Hide the title and duration (which covers the controls) when the video is playing.
#{$bolt-namespace}-video.is-playing,
#{$bolt-namespace}-video.is-finished {
  .c-#{$bolt-namespace}-video-meta__item {
    opacity: bolt-opacity(0);
  }
}

// [Mai] Hide the title and duration when user opens the share dialog.
.vjs-controls-disabled ~ #{$bolt-namespace}-video-meta {
  .c-#{$bolt-namespace}-video-meta__item {
    opacity: bolt-opacity(0);
  }
}
