@import "../settings/settings-animations";
/* ------------------------------------ *\
   TOOLS - Transitions
\* ------------------------------------ */

////
/// @group Tools: Transitions
/// @author Joseph Karasek
////

/// Fade in
/// @param {Bool} $base [false] - Base styling preps an element for transition
/// @param {Bool} $active [false] - Triggers transition
/// @param {String} $duration [$bolt-duration--medium] - Duration of animation
/// @param {String} $timing-function [$bolt-timing--ease-in-out] - Timing/easing function
/// @param {String} $delay [$bolt-delay--xsmall] - Delay before transition
/// @example Fade-in on hover
/// .class {
///   @include bolt-transition--fade-in($base: true);
///   &:hover {
///     @include bolt-transition--fade-in($active: true);
///   }
/// }
@mixin bolt-transition--fade-in(
  $base: false,
  $active: false,
  $duration: $bolt-duration--medium,
  $timing-function: $bolt-timing--ease-in-out,
  $delay: $bolt-delay--xsmall
) {
  @if $base {
    opacity: 0;
    transition-property: opacity;
    transition-duration: $duration;
    transition-delay: $delay;
    transition-timing-function: $timing-function;
    transform: translateZ(0);
    will-change: opacity;
  }
  @if $active {
    opacity: 1;
  }
}

/// Fade out
/// @param {Bool} $base [false] - Base styling preps an element for transition
/// @param {Bool} $active [false] - Triggers transition
/// @param {String} $duration [$bolt-duration--medium] - Duration of animation
/// @param {String} $timing-function [$bolt-timing--ease-in-out] - Timing/easing function
/// @param {String} $delay [$bolt-delay--xsmall] - Delay before transition
/// @example Fade-out on hover
/// .class {
///   @include bolt-transition--fade-in($base: true);
///   &:hover {
///     @include bolt-transition--fade-in($active: true);
///   }
/// }
@mixin bolt-transition--fade-out(
  $base: false,
  $active: false,
  $duration: $bolt-duration--medium,
  $timing-function: $bolt-timing--ease-in-out,
  $delay: $bolt-delay--xsmall
) {
  @if $base {
    opacity: 1;
    transition-property: opacity;
    transition-duration: $duration;
    transition-delay: $delay;
    transition-timing-function: $timing-function;
    transform: translateZ(0);
    will-change: opacity;
  }
  @if $active {
    opacity: 0;
  }
}

/// Fade in and Slide up
/// @param {Bool} $base [false] - Base styling preps an element for transition
/// @param {Bool} $active [false] - Triggers transition
/// @param {String} $duration [$bolt-duration--medium] - Duration of animation
/// @param {String} $timing-function [$bolt-timing--ease-in-out] - Timing/easing function
/// @param {String} $delay [$bolt-delay--xsmall] - Delay before transition
/// @param {String} $slide-up-distance [$bolt-spacing-gutter] - Delay before transition
/// @example Fade-in and slide-up on hover
/// .class {
///   @include bolt-transition--fade-in($base: true);
///   &:hover {
///     @include bolt-transition--fade-in($active: true);
///   }
/// }
@mixin bolt-transition--fade-in-slide-up(
  $base: false,
  $active: false,
  $duration: $bolt-duration--medium,
  $timing-function: $bolt-timing--ease-in-out,
  $delay: $bolt-delay--xsmall,
  $slide-up-distance: 20px
) {
  @if $base {
    opacity: 0;
    transform: translateY($slide-up-distance) translateZ(0);
    will-change: opacity;
    transition: opacity $duration $timing-function $delay, transform $duration $timing-function $delay;
  }
  @if $active {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

/// Fade in and Slide left
/// @param {Bool} $base [false] - Base styling preps an element for transition
/// @param {Bool} $active [false] - Triggers transition
/// @param {String} $duration [$bolt-duration--medium] - Duration of animation
/// @param {String} $timing-function [$bolt-timing--ease-in-out] - Timing/easing function
/// @param {String} $delay [$bolt-delay--xsmall] - Delay before transition
/// @param {String} $slide-left-distance [$bolt-spacing-gutter] - Distance to slide
/// @example Fade-in and slide-up on hover
/// .class {
///   @include bolt-transition--fade-in-slide-left($base: true);
///   &:hover {
///     @include bolt-transition--fade-in-slide-left($active: true);
///   }
/// }
@mixin bolt-transition--fade-in-slide-left (
  $base: false,
  $active: false,
  $duration: $bolt-duration--medium,
  $timing-function: $bolt-timing--ease-in-out,
  $delay: $bolt-delay--xsmall,
  $slide-up-distance: 20px
) {
  @if $base {
    opacity: 0;
    transform: translateX($slide-up-distance) translateZ(0);
    will-change: opacity;
    transition: opacity $duration $timing-function $delay, transform $duration $timing-function $delay;
  }
  @if $active {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

/// Fade in and Slide right
/// @param {Bool} $base [false] - Base styling preps an element for transition
/// @param {Bool} $active [false] - Triggers transition
/// @param {String} $duration [$bolt-duration--medium] - Duration of animation
/// @param {String} $timing-function [$bolt-timing--ease-in-out] - Timing/easing function
/// @param {String} $delay [$bolt-delay--xsmall] - Delay before transition
/// @param {String} $slide-right-distance [$bolt-spacing-gutter] - Distance to slide
/// @example Fade-in and slide-up on hover
/// .class {
///   @include bolt-transition--fade-in-slide-right($base: true);
///   &:hover {
///     @include bolt-transition--fade-in-slide-right($active: true);
///   }
/// }
@mixin bolt-transition--fade-in-slide-right (
  $base: false,
  $active: false,
  $duration: $bolt-duration--medium,
  $timing-function: $bolt-timing--ease-in-out,
  $delay: $bolt-delay--xsmall,
  $slide-up-distance: 20px
) {
  @if $base {
    opacity: 0;
    transform: translateX(- $slide-up-distance) translateZ(0);
    will-change: opacity;
    transition: opacity $duration $timing-function $delay, transform $duration $timing-function $delay;
  }
  @if $active {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}
