
{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

<!-- WIP. Temp solution to async load multiple lang-specific CSS builds based on query string in URL -->
{% if bolt.data.config.i18n %}
  {% set allAssets = {} %}
  {% set langs = bolt.data.config.lang %}

  {% for lang, key in langs %}
    {% set langManifest = "@bolt-assets/bolt-webpack-manifest#{key ? "-" ~ key : ""}.json" %}

    {% if fileExists(langManifest) %}
      {% set langAssets = get_data(langManifest) %}
      {% set allAssets = allAssets|merge({
        ('' ~ key): langAssets
      }) %}
    {% endif %}
  {% endfor %}
{% endif %}





<!DOCTYPE html>
<html lang="en-US" class="{{ bolt.data.config.prod ? '' : 'js-fonts-loaded' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/pattern-lab/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/pattern-lab/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/pattern-lab/favicons/favicon-16x16.png">
    <link rel="manifest" href="/pattern-lab/favicons/site.webmanifest">
    <link rel="mask-icon" href="/pattern-lab/favicons/safari-pinned-tab.svg" color="#009999">
    <link rel="shortcut icon" href="/pattern-lab/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Bolt Design System">
    <meta name="application-name" content="Bolt Design System">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/pattern-lab/favicons/browserconfig.xml">
    <meta name="theme-color" content="#1f2656">

    <!-- Default OG Tag examples (related to Bolt Share Component) -->
    {% include "@bolt-components-share/src/_share-meta-example.twig" %}

    <!-- async load PL's CSS -->
    <link rel="preload" href="/pattern-lab/styleguide/css/pattern-lab.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ assets["bolt-global.css"] | default("/pattern-lab/build/bolt-global.css") }}" media="all" />

    <noscript>
      <link href="/pattern-lab/styleguide/css/pattern-lab.css" rel="stylesheet">
    </noscript>


    {# @TODO: wire this up to use Critical CSS #}
    {% if bolt.data.config.prod %}
      <style>
        {{ inline( assets["bolt-components-critical-fonts.css"] | default("") ) }}
      </style>

      {# @TODO: wire this up to use Critical JS #}
      <script>
        {{ inline( assets["bolt-components-critical-fonts.js"] | default("") ) }}
      </script>
    {% endif %}


  </head>
  {# @todo Get `c-bolt-site` class back someplace, perhaps on a template/layout, perhaps on the `<body>` when needed. Was causing all Patterns to expand too wide, no matter browser width #}
  <body class="">
