// ------------------------------------
// Chips
// ------------------------------------

// Sample Usage
// <bolt-chip bolt-component="">
//   <span class="c-bolt-chip">
//     <span class="c-bolt-chip__item-text">This is a chip</span>
//   </span>
// </bolt-chip>

@import '@bolt/core';

// Chip Variables
$bolt-chip-border-radius: 100em;
$bolt-chip-color: bolt-theme(text);
$bolt-chip-background-color: rgba(bolt-color(gray), 0.22);
$bolt-chip-background-color--hover: rgba(bolt-color(gray), 0.30);
$bolt-chip-transition: $bolt-transition;


// Base Chip Styles
bolt-chip {
  display: inline-block;
}

.c-bolt-chip {
  @include bolt-padding(small, squished);
  @include bolt-font-size(xsmall);

  display: inline-block;
  display: inline-flex;
  transform: scale(1);
  color: $bolt-chip-color;
  text-decoration: none;
  border-radius: $bolt-chip-border-radius;
  background-color: $bolt-chip-background-color;
  transition: all $bolt-chip-transition;

  &:hover, &:focus {
    background-color: $bolt-chip-background-color--hover;
  }

  &:active {
    transform: scale(0.98);
  }
}


// Chip items
.c-bolt-chip__item {
  display: inline-block;
  display: inline-flex;
  align-self: center;
}

.c-bolt-chip__item-text + .c-bolt-chip__item-icon {
  @include bolt-margin-left(xsmall);
}

.c-bolt-chip__item-icon {
  width: 1em;
  height: 1em;

  svg {
    width: 1em;
    height: auto;
    fill: currentColor;
  }
}

.c-bolt-chip__item-icon + .c-bolt-chip__item-text {
  @include bolt-margin-left(xsmall);
}
