{% set schema = bolt.data.components['@bolt-components-action-blocks'].schema %}

{% set border_options = [
    {
      label: "True",
      value: true
    },
    {
      label: "False",
      value: false
    }
  ]
%}

{% for border_option in border_options %}
  <p>Border: {{ border_option.label }}</p>
  {% include "@bolt-components-action-blocks/action-blocks.twig" with {
    border: border_option.value,
    contentItems: [
      {
        text: "Item 1",
        icon: {
          name: "download",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 2",
        url: "#!",
        icon: {
          name: "copy-to-clipboard",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 3",
        url: "#!",
        icon: {
          name: "calendar",
          size: "large",
          background: "circle"
        }
      }
    ]
  } only %}
{% endfor %}
