{% set schema = bolt.data.components["@bolt-components-action-blocks"].schema %}

{% set border_options = [
    {
      label: "True",
      value: true
    },
    {
      label: "False",
      value: false
    }
  ]
%}

{% for border_option in border_options %}
  <h3>Border: {{ border_option.label }}</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% include "@bolt-components-action-blocks/action-blocks.twig" with {
      border: border_option.value,
      contentItems: [
        {
          text: "Item 1",
          icon: {
            name: "download",
            size: "large",
          }
        },
        {
          text: "Item 2",
          url: "#!",
          icon: {
            name: "copy-to-clipboard",
            size: "large",
          }
        },
        {
          text: "Item 3",
          url: "#!",
          icon: {
            name: "calendar",
            size: "large",
          }
        }
      ]
    } only %}
  </div>
{% endfor %}
