{% for theme in ["xlight", "light", "dark", "xdark"] %}
  <h3>Action Blocks inside a {{ theme }} themed container</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% embed "@utils/theme-demo.twig" %}
      {% block demo_content %}
        {% include "@bolt-components-action-blocks/action-blocks.twig" with {
          contentItems: [
            {
              text: "Item 1",
              url: "#!",
              icon: {
                name: "download",
                size: "large",
              }
            },
            {
              text: "Item 2",
              url: "#!",
              icon: {
                name: "copy-to-clipboard",
                size: "large",
              }
            },
            {
              text: "Item 3",
              url: "#!",
              icon: {
                name: "calendar",
                size: "large",
              }
            },
            {
              text: "Item 4",
              url: "#!",
              icon: {
                name: "copy-to-clipboard",
                size: "large",
              }
            }
          ]
        } only %}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}
