{% set maxRows = [6,4,3,2] %}

{% for max in maxRows %}
  <h3>Max items per row: {{ max }}</h3>
  <div class="u-bolt-margin-bottom-medium">
    {% include "@bolt-components-action-blocks/action-blocks.twig" with {
      maxItemsPerRow: max,
      contentItems: [
        {
          text: "Item 1",
          url: "#!",
          icon: {
            name: "download",
            size: "large",
          }
        },
        {
          text: "Item 2",
          url: "#!",
          icon: {
            name: "copy-to-clipboard",
            size: "large",
          }
        },
        {
          text: "Item 3",
          url: "#!",
          icon: {
            name: "calendar",
            size: "large",
          }
        },
        {
          text: "Item 4",
          url: "#!",
          icon: {
            name: "copy-to-clipboard",
            size: "large",
          }
        },
        {
          text: "Item 5",
          url: "#!",
          icon: {
            name: "download",
            size: "large",
          }
        },
        {
          text: "Item 5",
          url: "#!",
          icon: {
            name: "copy-to-clipboard",
            size: "large",
          }
        }
      ]
    } only %}
  </div>
{% endfor %}
