/* ==========================================================================
   #GLOBAL SETTINGS
   ========================================================================== */
// @import '../setting-global/package.json';
// @import '~@bolt/setting-module-manager';
//    
// @include add-module(
//   $module-name: $name,
//   $module-version: $version,
//   $module-dependencies: ()
// );


$global-font-size: 16px;
$global-line-height: 1.5 * $global-font-size;

$global-border-radius: 4px;

$spacing-unit: 16px;

$spacing-unit-xxsmall: $spacing-unit * 0.125;
$spacing-unit-xsmall: $spacing-unit * 0.25;
$spacing-unit-small:  $spacing-unit * 0.5;
$spacing-unit-medium: $spacing-unit;
$spacing-unit-large:  $spacing-unit * 2;
$spacing-unit-xlarge: $spacing-unit * 4;

$global-page-max-width: 1200px;

$shadow-size: 0 0 5px;

$fonts-subset-loaded-class: 'fonts-subset-loaded';
$fonts-loaded-class: 'fonts-loaded';

$header-height--small-breakpoint: 50px;
$header-height--large-breakpoint: 76px;

$admin-menu-height: $spacing-unit * 2;
$admin-menu-small-breakpoint: 335px;
$admin-menu-medium-breakpoint: 466px;
$admin-menu-large-breakpoint: 900px;

// $global-rootsize: 12;
$global-breakpoint-separator: \@ !default;
