<h3>Bolt Grid is a 12-column grid design approach</h3>
<p>By using The Grid to design layouts, consistency is guaranteed. If your goal is to confine your layout to a 12-column grid and have elements spaced and lined up consistently using the Bolt spacing system, The Grid is for you. Otherwise, you should not use The Grid, there is the List component for simple layouts and alignments.</p>

{% include "@bolt-components-grid/grid.twig" with {
  gutter: "small",
  items: [
    {
      column_start: "1",
      column_span: "1",
      content: "1",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "2",
      column_span: "1",
      content: "2",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "3",
      column_span: "1",
      content: "3",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "4",
      column_span: "1",
      content: "4",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "5",
      column_span: "1",
      content: "5",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "6",
      column_span: "1",
      content: "6",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "7",
      column_span: "1",
      content: "7",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "8",
      column_span: "1",
      content: "8",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "9",
      column_span: "1",
      content: "9",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "10",
      column_span: "1",
      content: "10",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "11",
      column_span: "1",
      content: "11",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
    {
      column_start: "12",
      column_span: "1",
      content: "12",
      attributes: {
        class: [
          "t-bolt-light",
          "u-bolt-padding-xxsmall",
        ]
      },
    },
  ]
} only %}


