/*------------------------------------*\
  Spacing Scale
\*------------------------------------*/

$spacing-leading: 1.65;
$spacing-gutter: 2rem;



// $spacing-sizes--vertical: (
//   xxlarge:  $spacing-leading * 8 + rem,
//   xlarge:   $spacing-leading * 4 + rem,
//   large:    $spacing-leading * 2 + rem,
//   medium:   $spacing-leading * 1 + rem,
//   small:    $spacing-leading * 0.5 + rem,
//   xsmall:   $spacing-leading * 0.25 + rem,
//   xxsmall:  $spacing-leading * 0.125 + rem,
//   xxxsmall: $spacing-leading * 0.0625 + rem,
//   none:     0
// ) !default;
//
//
//
// $spacing-sizes--horizontal: (
//   xxlarge:  $spacing-gutter * 8 + rem,
//   xlarge:   $spacing-gutter * 4 + rem,
//   large:    $spacing-gutter * 2 + rem,
//   medium:   $spacing-gutter * 1 + rem,
//   small:    $spacing-gutter * 0.5 + rem,
//   xsmall:   $spacing-gutter * 0.25 + rem,
//   xxsmall:  $spacing-gutter * 0.125 + rem,
//   xxxsmall: $spacing-gutter * 0.0625 + rem,
//   none:     0
// ) !default;
$bolt-spacing-sizes: (
  bolt-spacing-sizes: (
    xxlarge: medium ('multiply': 8),
    xlarge:  medium ('multiply': 4),
    large:   medium ('multiply': 2),
    medium:  1rem,
    small:   large  ('multiply': 0.5),
    xsmall:  medium ('multiply': 0.25),
    xxsmall: medium ('multiply': 0.125)
  )
);

$bolt-spacing-modifiers: (
  bolt-spacing-modifiers: (
    stretched: (
      vertical:    1.5 * $spacing-leading,
      horizontal:  1.0 * $spacing-gutter
    ),
    squished: (
      vertical:    0.5 * $spacing-leading,
      horizontal:  1.0 * $spacing-gutter
    ),
    stacked: (
      default:    vertical,
      vertical:    1.0 * $spacing-leading
    ),
    inline: (
      default:  1.0 * $spacing-gutter,
      horizontal:  1.0 * $spacing-gutter
    ),
    inset: (
      default:     horizontal ('multiply': 1),
      vertical:    1.0 * $spacing-leading,
      horizontal:  1.0 * $spacing-gutter
    )
  )
);

// $sizes: map-get-deep($cards, "card_options", "sizes");
    // xxlarge: (
    //   vertical:      ($spacing-leading * 8rem),
    //   horizontal:    ($spacing-gutter  * 8rem),
    //   inset:         ($spacing-leading * 8rem)       ($spacing-gutter * 8rem),
    //   inset-squish:  ($spacing-leading * 8rem / 2)   ($spacing-gutter * 8rem),
    //   inset-stretch: ($spacing-leading * 8rem * 1.5) ($spacing-gutter * 8rem),
    //   inline:        ($spacing-gutter  * 8rem),
    //   // inline:        ($spacing-gutter  * 4rem),
    //   stack:    $spacing-leading * 4rem
    //   default:          $spacing-gutter  * 8rem,
    // ),
    //
    // xlarge: (
    //   vertical:   $spacing-leading * 4 + rem,
    //   default:    $spacing-gutter * 4 + rem,
    //   horizontal: $spacing-gutter * 4 + rem,
    //   inline:     $spacing-gutter * 2 + rem
    // ),
    // large: (
    // vertical:   $spacing-leading * 2 + rem,
    // horizontal: $spacing-gutter * 2 + rem,
    // default:    $spacing-gutter * 2 + rem,
    // squished:   ($spacing-leading  * 1rem) ($spacing-gutter  * 2rem),
    // ),

    // medium: (
    //   vertical:   $spacing-leading * 1 + rem,
    //   horizontal: $spacing-gutter * 1 + rem,
    //   default: $spacing-gutter * 1 + rem
    // ),
    // small: (
    //   vertical:   $spacing-leading * 0.5 + rem,
    //   horizontal: $spacing-gutter * 0.5 + rem,
    //   default: $spacing-gutter * 0.5 + rem
    // ),
    // xsmall: (
    //   vertical:   $spacing-leading * 0.25 + rem,
    //   horizontal: $spacing-gutter * 0.25 + rem,
    //   default: $spacing-gutter * 0.25 + rem,
    // ),
    // xxsmall: (
    //   vertical:   $spacing-leading * 0.125 + rem,
    //   horizontal: $spacing-gutter * 0.125 + rem,
    //   default: $spacing-gutter * 0.125 + rem,
    // )
    // none: (
    //   vertical:   0,
    //   horizontal: 0
    // ),
    // auto: (
    //   vertical:   auto,
    //   horizontal: auto
    // )
//   )
// );

//
// $spacing-stacks: (
//   spacing-stacks: (
//     xlarge:   $spacing-leading * 2 + rem,
//     large:    $spacing-leading * 1 + rem,
//     medium:   $spacing-leading * 0.5 + rem,
//     small:    $spacing-leading * 0.25 + rem,
//     xsmall:   $spacing-leading * 0.125 + rem,
//     xxsmall:  $spacing-leading * 0.0625 + rem
//   )
// );





//
// p {
//   @include margin-right(medium);
//   // @include margin-right(medium);
// }
//




// @mixin margin($args...) {
//   $newArgs: ();
//
//   @each $item in $args {
//     //$newArgs = // get
//     @debug $item;
//
//
//     //if type-of()
//   }
//
// }



// @mixin margin($size: medium, $sides: all, $reset: null) {
//   $size-vertical:   map-get-deep($spacing-scales, 'spacing-scales', $size, 'vertical');
//   $size-horizontal: map-get-deep($spacing-scales, 'spacing-scales', $size, 'horizontal');
//   $size-type:       type-of($size);
//
//   @if $size-type == number {
//     $size-vertical:   $size;
//     $size-horizontal: $size;
//   }
//
//   @if $sides == 'all' {
//     margin-top:    $size-vertical;
//     margin-right:  $size-horizontal;
//     margin-bottom: $size-vertical;
//     margin-left:   $size-horizontal;
//   }
//
//   @else if $sides == 'top' {
//     margin-top:    $size-vertical;
//
//     @if $reset == 'reset' {
//       margin-right:  0;
//       margin-bottom: 0;
//       margin-left:   0;
//     }
//   }
//
//   @else if $sides == 'right' {
//     margin-right:  $size-horizontal;
//
//     @if $reset == 'reset' {
//       margin-top:    0;
//       margin-bottom: 0;
//       margin-left:   0;
//     }
//   }
//
//   @else if $sides == 'bottom' {
//     margin-bottom: $size-vertical;
//
//     @if $reset == 'reset' {
//       margin-top:    0;
//       margin-right:  0;
//       margin-left:   0;
//     }
//   }
//
//   @else if $sides == 'left' {
//     margin-left:   $size-horizontal;
//
//     @if $reset == 'reset' {
//       margin-top:    0;
//       margin-right:  0;
//       margin-bottom: 0;
//     }
//   }
//
//   @else if $sides == 'horizontal' {
//     margin-right:  $size-horizontal;
//     margin-left:   $size-horizontal;
//
//     @if $reset == 'reset' {
//       margin-top:    0;
//       margin-bottom: 0;
//     }
//   }
//
//   @else if $sides == 'vertical' {
//     margin-top:    $size-vertical;
//     margin-bottom: $size-vertical;
//
//     @if $reset == 'reset' {
//       margin-right:  0;
//       margin-left:   0;
//     }
//   }
// }
//
// @mixin padding($size: medium, $sides: all, $reset: null) {
//   $size-vertical:   map-get-deep($spacing-scales, 'spacing-scales', $size, 'vertical');
//   $size-horizontal: map-get-deep($spacing-scales, 'spacing-scales', $size, 'horizontal');
//   $size-type:       type-of($size);
//
//   @if $size-type == number {
//     $size-vertical:   $size;
//     $size-horizontal: $size;
//   }
//
//   @if $sides == 'all' {
//     padding-top:    $size-vertical;
//     padding-right:  $size-horizontal;
//     padding-bottom: $size-vertical;
//     padding-left:   $size-horizontal;
//   }
//
//   @else if $sides == 'squish' {
//     padding-top:    calc(#{$size-vertical} * 0.5);
//     padding-right:  $size-horizontal;
//     padding-bottom: calc(#{$size-vertical} * 0.5);
//     padding-left:   $size-horizontal;
//   }
//
//   @else if $sides == 'stretch' {
//     padding-top:    calc(#{$size-vertical} * 0.5);
//     padding-right:  calc(#{$size-horizontal} * 0.25);
//     padding-bottom: calc(#{$size-vertical} * 0.5);
//     padding-left:   calc(#{$size-horizontal} * 0.25);
//   }
//
//   @else if $sides == 'top' {
//     padding-top:    $size-vertical;
//
//     @if $reset == 'reset' {
//       padding-right:  0;
//       padding-bottom: 0;
//       padding-left:   0;
//     }
//   }
//
//   @else if $sides == 'right' {
//     padding-right:  $size-horizontal;
//
//     @if $reset == 'reset' {
//       padding-top:    0;
//       padding-bottom: 0;
//       padding-left:   0;
//     }
//   }
//
//   @else if $sides == 'bottom' {
//     padding-bottom: $size-vertical;
//
//     @if $reset == 'reset' {
//       padding-top:    0;
//       padding-right:  0;
//       padding-left:   0;
//     }
//   }
//
//   @else if $sides == 'left' {
//     padding-left:   $size-horizontal;
//
//     @if $reset == 'reset' {
//       padding-top:    0;
//       padding-right:  0;
//       padding-bottom: 0;
//     }
//   }
//
//   @else if $sides == 'horizontal' {
//     padding-right:  $size-horizontal;
//     padding-left:   $size-horizontal;
//
//     @if $reset == 'reset' {
//       padding-top:    0;
//       padding-bottom: 0;
//     }
//   }
//
//   @else if $sides == 'vertical' {
//     padding-top:    $size-vertical;
//     padding-bottom: $size-vertical;
//
//     @if $reset == 'reset' {
//       padding-right:  0;
//       padding-left:   0;
//     }
//   }
// }
//
// @mixin squish($size: medium) {
//   $size-vertical:   map-get-deep($spacing-scales, 'spacing-scales', $size, 'vertical');
//   $size-horizontal: map-get-deep($spacing-scales, 'spacing-scales', $size, 'horizontal');
//
//   padding-top:    $size-vertical;
//   padding-right:  calc(#{$size-horizontal} * 2);
//   padding-bottom: $size-vertical;
//   padding-left:   calc(#{$size-horizontal} * 2);
// }
//
// @mixin stretch($size: medium) {
//   $size-vertical:   map-get-deep($spacing-scales, 'spacing-scales', $size, 'vertical');
//   $size-horizontal: map-get-deep($spacing-scales, 'spacing-scales', $size, 'horizontal');
//
//   padding-top:    $size-vertical;
//   padding-right:  calc(#{$size-horizontal} * 0.5);
//   padding-bottom: $size-vertical;
//   padding-left:   calc(#{$size-horizontal} * 0.5);
// }
//
//
//
//
//
//
//
