{% set schema = bolt.data.components['@bolt-components-device-viewer'].schema %}

{% for color in schema.properties.color.enum %}
  <p>Color: {{ color }}<br />Orientation: 'portrait'</p>
  {% set image_portrait %}
    {% include "@bolt-elements-image/image.twig" with {
      attributes: {
        src: "/images/content/screenshots/device-screenshot--phone.jpg",
        loading: "lazy",
      }
    } only %}
  {% endset %}

  {% include "@bolt-components-device-viewer/device-viewer.twig" with {
    device: "iphone8",
    orientation: "portrait",
    color: color,
    content: image_portrait,
  } only %}

  <p>Color: {{ color }}<br />Orientation: 'landscape'</p>
  {% set image_landscape %}
    {% include "@bolt-elements-image/image.twig" with {
      attributes: {
        src: "/images/content/screenshots/device-screenshot--tablet.jpg",
        loading: "lazy",
      }
    } only %}
  {% endset %}

  {% include "@bolt-components-device-viewer/device-viewer.twig" with {
    device: "iphone8",
    orientation: "landscape",
    color: color,
    content: image_landscape,
  } only %}
{% endfor %}
