{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell "u-bolt-width-12/12" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
      {{ code | replace({
        '<': '&lt;',
        '>': '&gt;',
      }) | trim | raw }}
    {% endspaceless %}</bolt-code-snippet>
  </div>
{% endmacro %}

{% import _self as carousel_code %}

{% set carousel_demo %}
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endset %}

{% set carousel_basic_demo %}
<bolt-carousel nav-button-position="inside" slides-per-view=2 loop autoplay>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xlight">Slide 4</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endset %}

{% set carousel_ssr_demo_noshadow %}
{% filter bolt_ssr %}
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
{% endfilter %}
{% endset %}

{% set carousel_ssr_demo %}
&lbrace;&percnt; filter bolt_ssr &percnt;&rbrace;
<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>
</bolt-carousel>
&lbrace;&percnt; endfilter &percnt;&rbrace;
{% endset %}


<div class="o-bolt-wrapper">
  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Web Component Usage
    </bolt-text>
    <bolt-text>
      Bolt carousel is a web component, you can simply use <bolt-code-snippet display="inline" lang="html">&lt;bolt-carousel&gt;</bolt-code-snippet> in the markup to make it render. For each slide, you must use <bolt-code-snippet display="inline" lang="html">&lt;bolt-carousel-slide&gt;</bolt-code-snippet> to wrap around the slide content.
    </bolt-text>
    {% include carousel_code.code_example(carousel_demo) %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Basic Usage
    </bolt-text>
    <bolt-text>
      The web component has all the options shown in the schema table. You can define each prop within the <bolt-code-snippet display="inline" lang="html">&lt;bolt-carousel&gt;</bolt-code-snippet> element. Use unique combinations to customize a carousel to your liking.
    </bolt-text>
    {% include carousel_code.code_example(carousel_basic_demo) %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Server-side Rendered Web Components (Experimental)
    </bolt-text>
    <bolt-text>
      The <bolt-code-snippet display="inline" lang="html">&lt;bolt-carousel&gt;</bolt-code-snippet> component, among many other web components in Bolt, will support server-side rendering via the new upcoming <bolt-code-snippet display="inline" lang="twig">{% verbatim %}{% filter bolt_ssr %}{% endverbatim %}</bolt-code-snippet> custom Twig filter. Check out the docs on <a href="https://master.boltdesignsystem.com/docs/development/server-side-rendering.html">server-side rendering</a> for information!
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell "u-bolt-width-12/12" %}
          {{ carousel_ssr_demo_noshadow }}
        {% endcell %}
      {% endgrid %}
    </div>
    <div class="u-bolt-margin-bottom-large">
      <bolt-code-snippet syntax="dark" lang="html">{% spaceless %}
        {{ carousel_ssr_demo | replace({
          '<': '&lt;',
          '>': '&gt;',
        }) | trim | raw }}
      {% endspaceless %}</bolt-code-snippet>
    </div>
  </div>
</div>
