/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */

@mixin bolt-clearfix($important: null) {
  @if $important == important {
    $important: !important;
  }

  &:before,
  &:after {
    content: ' ' $important;
    display: table $important;
  }

  &:after {
    clear: both $important;
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin clearfix {
  @warn 'PegaKit\'s `clearfix` mixin is deprecated and will be removed in v1.0.0 of Bolt. Use the new @bolt-clearfix mixin instead.';

  @include bolt-clearfix;
}
/* stylelint-enable */
