/* ------------------------------------ *\
  Text Contrast
\* ------------------------------------ */

@mixin bolt-clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/* stylelint-disable-next-line scss/at-mixin-pattern */
@mixin clearfix {
  @warn 'PegaKit\'s `clearfix` mixin is deprecated and will be removed in v1.0.0 of Bolt. Use the new @bolt-clearfix mixin instead.';

  @include bolt-clearfix;
}
/* stylelint-enable */
