/* ------------------------------------ *\
   Tooltip
\* ------------------------------------ */
$bolt-tooltip-bubble-triangle-width: 8px;
$bolt-tooltip-shadow: $bolt-global-shadow-depth-medium;
$bolt-tooltip-tranision: $bolt-transition;


// Aria tags for accessibility.
[aria-hidden="true"] {
  opacity: 0;
  pointer-events: none;
}

[aria-hidden="false"] {
  opacity: 1;
  pointer-events: auto;
}

// Tooltip styling
.c-bolt-tooltip {
  display: inline-block;
  position: relative;

  &.is-push-up {
    .c-bolt-tooltip__content {
      top: 0;
      transform: translateY(-100%);
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        border-top: $bolt-tooltip-bubble-triangle-width solid;
        border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
        transform: translateY(100%);
      }

      &:before {
        top: auto;
        bottom: 0;
        border-top-color: rgba(bolt-color(black), 0.2);
        border-bottom-color: transparent;
      }

      &:after {
        top: auto;
        bottom: 1px;
        border-top-color: white;
        border-bottom-color: transparent;
      }
    }
  }

  &.is-push-down {
    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-bottom: $bolt-tooltip-bubble-triangle-width solid;
        transform: translateY(-100%);
      }

      &:before {
        top: 0;
        bottom: auto;
        border-bottom-color: rgba(bolt-color(black), 0.2);
      }

      &:after {
        top: 1px;
        bottom: auto;
        border-bottom-color: white;
      }
    }
  }

  &.is-align-right {
    .c-bolt-tooltip__content {
      right: bolt-spacing(small) * -1;
      left: auto;
    }

    .c-bolt-tooltip__content-bubble {
      &:before,
      &:after {
        right: calc(#{bolt-spacing(small)} + #{$bolt-tooltip-bubble-triangle-width / 2});
        left: auto;
      }
    }
  }

  &.is-align-left {
    .c-bolt-tooltip__content {
      right: auto;
      left: bolt-spacing(small) * -1;
    }

    .c-bolt-tooltip__content-bubble {
      &:before,
      &:after {
        right: auto;
        left: calc(#{bolt-spacing(small)} + #{$bolt-tooltip-bubble-triangle-width / 2});
      }
    }
  }

  &.is-align-center {
    .c-bolt-tooltip__content {
      left: 50%;
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        left: 50%;
      }
    }

    &.is-push-up {
      .c-bolt-tooltip__content {
        transform: translate(-50%, -100%);
      }

      .c-bolt-tooltip__content-bubble {
        &:after,
        &:before {
          transform: translate(-50%, 100%);
        }
      }
    }

    &.is-push-down {
      .c-bolt-tooltip__content {
        transform: translate(-50%, 0);
      }

      .c-bolt-tooltip__content-bubble {
        &:after,
        &:before {
          transform: translate(-50%, -100%);
        }
      }
    }
  }

  &.is-push-right {
    .c-bolt-tooltip__content {
      left: 100%;
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-right: $bolt-tooltip-bubble-triangle-width solid;
        border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-left: $bolt-tooltip-bubble-triangle-width solid transparent;
      }

      &:before {
        left: $bolt-tooltip-bubble-triangle-width * -2;
        border-right-color: rgba(bolt-color(black), 0.2);
      }

      &:after {
        left: calc(#{$bolt-tooltip-bubble-triangle-width * -2} + 1px);
        border-right-color: white;
      }
    }
  }

  &.is-push-left {
    .c-bolt-tooltip__content {
      right: 100%;
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        border-top: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-right: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-bottom: $bolt-tooltip-bubble-triangle-width solid transparent;
        border-left: $bolt-tooltip-bubble-triangle-width solid;
      }

      &:before {
        right: $bolt-tooltip-bubble-triangle-width * -2;
        border-left-color: rgba(bolt-color(black), 0.2);
      }

      &:after {
        right: calc(#{$bolt-tooltip-bubble-triangle-width * -2} + 1px);
        border-left-color: white;
      }
    }
  }

  &.is-valign-top {
    .c-bolt-tooltip__content {
      top: bolt-spacing(small) * -1;
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        top: calc(#{bolt-spacing(small)} + #{$bolt-tooltip-bubble-triangle-width / 2});
      }
    }
  }

  &.is-valign-bottom {
    .c-bolt-tooltip__content {
      bottom: bolt-spacing(small) * -1;
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        bottom: calc(#{bolt-spacing(small)} + #{$bolt-tooltip-bubble-triangle-width / 2});
      }
    }
  }

  &.is-valign-center {
    .c-bolt-tooltip__content {
      top: 50%;
      transform: translateY(-50%);
    }

    .c-bolt-tooltip__content-bubble {
      &:after,
      &:before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.c-bolt-tooltip--help {
  cursor: help;
}

.c-bolt-tooltip--action {
  .c-bolt-tooltip__trigger {
    cursor: pointer;
  }
}

.c-bolt-tooltip--nowrap {
  .c-bolt-tooltip__content-bubble {
    min-width: auto;
    white-space: nowrap;
  }
}

.c-bolt-tooltip__trigger {
  display: block;
}

.c-bolt-tooltip__content {
  display: block;
  position: absolute;
  z-index: 99999;
  transition: all $bolt-transition;
}

.c-bolt-tooltip__content-bubble {
  @include bolt-padding(xsmall, squished);

  display: block;
  position: relative;
  min-width: 12rem;
  max-width: calc(100vw - #{bolt-spacing(medium)});
  border: 1px solid rgba(bolt-color(black), 0.2);
  border-radius: 3px;
  background-color: bolt-color(white);
  box-shadow: $bolt-tooltip-shadow;

  &:after,
  &:before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    pointer-events: none;
  }
}

// Show and hide effects
.c-bolt-tooltip:not(:hover) > .c-bolt-tooltip__content,
.c-bolt-tooltip__trigger + .c-bolt-tooltip__content {
  @extend [aria-hidden="true"];
}

.c-bolt-tooltip:hover > .c-bolt-tooltip__content,
.c-bolt-tooltip__trigger.is-active + .c-bolt-tooltip__content {
  @extend [aria-hidden="false"];
}

.c-bolt-tooltip.is-push-up {
  &:not(:hover) > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger + .c-bolt-tooltip__content {
    padding-bottom: 0;
  }

  &:hover > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger.is-active + .c-bolt-tooltip__content {
    padding-bottom: 0.25em; // Extra spacing between the bubble and the trigger
  }
}

.c-bolt-tooltip.is-push-right {
  &:not(:hover) > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger + .c-bolt-tooltip__content {
    padding-left: 0;
  }

  &:hover > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger.is-active + .c-bolt-tooltip__content {
    padding-left: $bolt-tooltip-bubble-triangle-width * 1.5; // Extra spacing between the bubble and the trigger
  }
}

.c-bolt-tooltip.is-push-down {
  &:not(:hover) > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger + .c-bolt-tooltip__content {
    padding-top: 0;
  }

  &:hover > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger.is-active + .c-bolt-tooltip__content {
    padding-top: 0.25em; // Extra spacing between the bubble and the trigger
  }
}

.c-bolt-tooltip.is-push-left {
  &:not(:hover) > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger + .c-bolt-tooltip__content {
    padding-right: 0;
  }

  &:hover > .c-bolt-tooltip__content,
  .c-bolt-tooltip__trigger.is-active + .c-bolt-tooltip__content {
    padding-right: $bolt-tooltip-bubble-triangle-width * 1.5; // Extra spacing between the bubble and the trigger
  }
}
