<div class="t-bolt-xdark u-bolt-padding-large u-bolt-height-screen">

  <bolt-dropdown
    collapse
    title="Custom Element w/ Collapse + Dark Theme"
    >

    {% include "@bolt-components-nav/nav.twig" with {
      "links": [
        {
          "text": "Link 1 Text",
          "url": "#link-1-url"
        },
        {
          "text": "Link 2 Text",
          "url": "#link-2-url"
        },
        {
          "text": "Link 3 Text",
          "url": "#link-3-url"
        },
        {
          "text": "Link 4 Text",
          "url": "#link-4-url"
        }
      ]
    } only %}

  </bolt-dropdown>

</div>