{% set exampleThemes = [
  "xlight",
  "light",
  "medium",
  "dark",
  "xdark"
] %}

{% for theme in exampleThemes %}
  <div class="t-bolt-{{ theme }} u-bolt-padding-small u-bolt-height-xxlarge">
    {% embed "@bolt-components-dropdown/dropdown.twig" with {
      title: "Dropdown Menu, Theme: " ~ theme,
      center: true
    } %}
      {% block content %}
        {% include "@bolt-components-nav-priority/nav-priority.twig" with {
          "links": [
            {
              "text": "Features",
              "url": "#p-f3ff267c-5fb8-4e2f-8682-52663b5437df"
            },
            {
              "text": "Resources",
              "url": "#p-12de80d7-1c57-4bef-a173-07d898f8e356"
            },
            {
              "text": "Industry Apps",
              "url": "#p-468a47c1-fe65-46d4-b8c7-9dbfe8404ee9"
            },
            {
              "text": "Customer Success",
              "url": "#p-6618d817-126e-46d1-955a"
            }
          ]
        } %}
      {% endblock %}
    {% endembed %}
  </div>
{% endfor %}