{% set topic_count %}
  {% include "@bolt-components-headline/text.twig" with {
    size: "xsmall",
    weight: "semibold",
    text: "9 topics",
  } only %}
{% endset %}
{% set status %}
  {% include "@bolt-components-headline/text.twig" with {
    size: "xsmall",
    weight: "semibold",
    text: "Completed",
  } only %}
{% endset %}
{% set flag %}
  {% grid "o-bolt-grid--flex" %}
    {% cell "u-bolt-flex-shrink" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--middle u-bolt-flex-col u-bolt-height-full" %}
        {% cell "u-bolt-width-1/1 u-bolt-flex-grow" %}
          {# {% include "@bolt-components-image/image.twig" with {
            src: "/images/placeholders/thumb-comet.jpg",
            alt: "Image alt.",
            max_width: "100px",
          } only %} #}
          <div style="border-bottom-left-radius: 4px; border-top-left-radius: 4px; overflow: hidden; background: linear-gradient(180deg, #DA6C28 0%, #B33A12 100%); position: relative; min-width: 100px;" class="u-bolt-height-full">
            <bolt-icon name="brand-meteor" style="font-size: 3.125rem; color: white; height: 3rem; width: 3rem; position: absolute; top: 1rem; left: 50%; transform: translateX(-50%)"></bolt-icon>
            <bolt-icon name="brand-meteor" style="font-size: 3.125rem; color: white; height: 3rem; width: 3rem; transform: scale(2); position: absolute; bottom: 0; right: 0; opacity: 0.2; filter: drop-shadow(0 0 11px rgba(0,0,0,0.5);"></bolt-icon>
          </div>
        {% endcell %}
      {% endgrid %}
    {% endcell %}
    {% cell "u-bolt-width-6/12 u-bolt-flex-grow" %}
      {% grid "o-bolt-grid--flex o-bolt-grid--middle u-bolt-height-full" %}
        {% cell "u-bolt-width-1/1" %}
          {% grid "o-bolt-grid--flex o-bolt-grid--right" %}
            {% cell %}
              <div class="u-bolt-padding-top-xsmall u-bolt-padding-right-xsmall">
                {% include "@bolt-components-icon/icon.twig" with {
                  name: "check-solid",
                  size: "medium"
                } only %}
              </div>
            {% endcell %}
          {% endgrid %}
        {% endcell %}
        {% cell "u-bolt-width-1/1" %}
          <div class="u-bolt-padding-right-medium u-bolt-padding-bottom-medium">
            {% include "@bolt-components-headline/eyebrow.twig" with {
              text: "Module",
            } only %}
            {% include "@bolt-components-headline/headline.twig" with {
              text: "Configuring a case hierarchy",
              attributes: {
                class: "u-bolt-margin-bottom-none",
              }
            } only %}
            {% include "@bolt-components-list/list.twig" with {
              display: "inline",
              separator: "solid",
              items: [
                topic_count,
                status,
              ],
              attributes: {
                class: "u-bolt-margin-bottom-xsmall",
              }
            } only %}
            {% include "@bolt-components-headline/text.twig" with {
              text: "Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.",
            } only %}
          </div>
        {% endcell %}
      {% endgrid %}
    {% endcell %}
  {% endgrid %}
{% endset %}

<div class="t-bolt-xlight u-bolt-display-flex u-bolt-shadow-level-20 u-bolt-border-radius-small">
  {% include "@bolt-components-trigger/trigger.twig" with {
    url: "#!",
    cursor: "pointer",
    content: flag,
  } only %}
</div>
