$bolt-z-index: (
  modal: 100,
  modalBG: 90,
  navFixed: 80,
  tooltip: 70,
  popover: 60,
  nav: 50,
  contentTop: 40,
  content: 30,
  contentBottom: 20,
);

@include export-data('z-index.bolt.json', $bolt-z-index);
