////
/// @group Settings: Layout
////

// ------------------------------------
// see `_tools-z-index.scss`
// see `_utilities-z-index.scss`
// ------------------------------------

/// Z-Index Settings
/// @type Map
/// @see {mixin} bolt-z-index
/// @see bolt-z-index
$bolt-z-indexes: (
  sets: (
    fab: 300,
    modal: 200,
    modalBG: 180,
    navFixed: 160,
    tooltip: 140,
    popover: 120,
    nav: 100,
    contentTop: 80,
    content: 60,
    contentBottom: 40,
    backgroundTop: 20,
    background: 0,
    backgroundBottom: -20,
  ),
) !default;

@include export-data('z-indexes.bolt.json', $bolt-z-indexes);
