<div class="c-bds-logo">
  <div class="c-bds-logo__inner">
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: "/images/bolt-logo.svg",
        alt: "Bolt Design System logo",
      }
    } only %}
  </div>
</div>
