{# @todo Ensure every image used here is different - the browsers caching is too smart: if we load it for one image test, we can't be sure it loads at the right time/place for another image test. Also use a bigger base image above 1200px so it has more size variations. #}

<h4>Src: Root Relative</h4>
<pre><code>src: "/images/placeholders/image.jpg",</code></pre>

{% include '@bolt-components-image/image.twig' with {
  src: "/images/placeholders/500x500.jpg",
  alt: "Bill Murray",
} only %}

<h4>Src: Source Set</h4>
<pre><code>srcset: "/images/placeholders/500x500-200.jpg 200w,/images/placeholders/500x500-320.jpg 320w",</code></pre>

{% include '@bolt-components-image/image.twig' with {
  src: "/images/placeholders/500x500.jpg",
  srcset: "/images/placeholders/500x500-200.jpg 200w, /images/placeholders/500x500-320.jpg 320w",
  alt: "Bill Murray",
} only %}

<h4>Src only that won't be found in <code>bolt.data.images</code></h4>
{% include '@bolt-components-image/image.twig' with {
  src: "/images/placeholders/500x500.jpg",
  alt: "Bill Murray",
} only %}

<h4>Src only that won't be found in <code>bolt.data.images</code> and not lazy loaded</h4>
{% include '@bolt-components-image/image.twig' with {
  src: "/images/placeholders/500x500.jpg",
  alt: "Bill Murray",
  lazyload: false,
} only %}

<h4>Src and srcset that won't be found in <code>bolt.data.images</code></h4>
{% include '@bolt-components-image/image.twig' with {
  src: "/images/placeholders/500x500.jpg",
  srcset: "/images/placeholders/500x500-200.jpg 200w, /images/placeholders/500x500-320.jpg 320w",
  alt: "Bill Murray",
} only %}

<h4>Absolute src - not lazy loaded</h4>
{% include '@bolt-components-image/image.twig' with {
  src: "https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg",
  alt: "Wikipedia Example",
  lazyload: false,
} only %}

<h4>Absolute src - lazy loaded</h4>
{% include '@bolt-components-image/image.twig' with {
  src: "https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg",
  alt: "Wikipedia Example",
  lazyload: true,
} only %}
