<h4>Custom Height and Width, JPEG (2:1)</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/placeholders/500x500.jpg",
  alt: "Bill Murray",
  height: 50,
  width: 100,
} only %}

<h4>Custom Height and Width, PNG (2:1)</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/content/charts/decision-hub-chart.png",
  alt: "decision hub chart",
  height: 50,
  width: 100,
} only %}

<h4>Custom Height and Width, SVG (10:1)</h4>

{% include '@bolt-components-image/image.twig' with {
  src: "/pattern-lab/images/content/logos/logo-paypal.svg",
  alt: "logo paypal svg",
  height: 10,
  width: 100,
} only %}
