<p>
  By default Accordions have a transparent background. Setting <code>box_shadow: true</code> will add a background that matches the container's theme.
</p>

{% set band_content %}

{% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
    <h3>Default (Transparent)</h3>
    {% include "@bolt-components-accordion/accordion.twig" with {
      items: [
        {
          trigger: "Accordion item 1",
          content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
        },
        {
          trigger: "Accordion item 2",
          content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
        },
        {
          trigger: "Accordion item 3",
          content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
        },
      ]
    } only %}
  {% endcell %}
  {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
      <h3>With Box Shadow</h3>
      {% include "@bolt-components-accordion/accordion.twig" with {
        box_shadow:true,
        items: [
          {
            trigger: "Accordion item 1",
            content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
          },
          {
            trigger: "Accordion item 2",
            content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
          },
          {
            trigger: "Accordion item 3",
            content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.",
          },
        ]
      } only %}
    {% endcell %}
  {% endgrid %}
{% endset %}


{% include "@bolt-components-band/band.twig" with {
  size: size,
  content: band_content,
  background: {
    opacity: "heavy",
    fill: "color",
    focalPoint: {
      vertical: "center",
      horizontal: "center"
    },
    contentItems: [
      {
        pattern: "image",
        src: "/images/content/backgrounds/background-short-1.jpg",
        lazyload: false
      },
    ]
  },
} only %}

