<bolt-accordion>
  <bolt-accordion-item>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>

<bolt-accordion multiple>
  <bolt-accordion-item>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>

<bolt-accordion>
  <bolt-accordion-item auto-open>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>

<bolt-accordion no-separator>
  <bolt-accordion-item>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>

<bolt-accordion shadow>
  <bolt-accordion-item>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>

<bolt-accordion spacing="xsmall" class="t-bolt-dark">
  <bolt-accordion-item>
    <div slot="header">Trigger 1</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 2</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 3</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
  <bolt-accordion-item>
    <div slot="header">Trigger 4</div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima nisi optio cumque esse ullam rerum reiciendis itaque iste, quod sunt explicabo, est eum quo aliquid hic commodi laboriosam at.</p>
  </bolt-accordion-item>
</bolt-accordion>
