{% extends "@pl/_default-page-template.twig" %}

{% block global_header %}
  {% include "@pl/_page-header.twig" %}
{% endblock %}

{% block main_content %}

  {% embed "@bolt-components-band/band.twig" with {
    size: "medium",
    theme: "xdark",
    full_bleed: true,
    background: {
      opacity: "medium",
      fill: "color",
      focalPoint: {
        vertical: "center",
        horizontal: "center"
      },
      contentItems: [
        {
          pattern: "image",
          src: "/images/content/backgrounds/events-landing.jpg",
          lazyload: true
        }
      ]
    }
  } only %}

    {% block band_content %}

      {% embed "@bolt-components-band/band.twig" with {
        size: "medium",
        theme: "none"
      } only %}

        {% block band_content  %}

          {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--center" %}
            {% cell "u-bolt-width-12/12 u-bolt-width-9/12@small u-bolt-text-align-center" %}
              {% include "@bolt-components-headline/headline.twig" with {
                text: "Events at Pega: Meet the people behind the tech",
                size: "xxxlarge",
                tag: "h1"
              } only %}

              {% include "@bolt-components-headline/subheadline.twig" with {
                text: "Join Pega thought leaders, customers, and partners from around the world and explore the power of Pega firsthand."
              } only %}
            {% endcell %}
          {% endgrid %}

        {% endblock %}
      {% endembed %}

      {% embed "@bolt-components-band/band.twig" with {
        size: "medium",
        theme: "none"
      } only %}

        {% block band_content  %}

          {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
            {% cell "u-bolt-width-12/12 u-bolt-width-8/12@medium" %}
              {% include "@bolt-components-headline/headline.twig" with {
                text: "Featured Pega Events",
                size: "xxlarge"
              } only %}
              {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
                {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
                  {% include "@bolt-components-card-replacement/card-replacement.twig" with {
                    body: {
                      eyebrow: "Conference | June 3-6, 2018",
                      headline: "PEGAWORLD 2018",
                      paragraph: "We get it. Plenty of events promise big things, or to make dreams come true. At our flagship event, PegaWorld, we definitely think big - but we also empower you with the technology and know-how to turn ideas into actual results.",
                    },
                    actions: [
                      {
                        text: "Learn more",
                      },
                    ],
                  } only %}
                {% endcell %}
                {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
                  {% include "@bolt-components-card-replacement/card-replacement.twig" with {
                    body: {
                      eyebrow: "Networking | Multiple Dates",
                      headline: "Customer Engagement Summits",
                      paragraph: "Customer engagement, digital transformation - where do you stand?  Which technology is best? Artifical Intelligence?  Robotics?  The Customer Engagement Summits offers you the opportunity to meet your peers, talk to experts, listen to business experiences and turn your digital transformation into a reality!",
                    },
                    actions: [
                      {
                        text: "Learn more",
                      },
                    ],
                  } only %}
                {% endcell %}
              {% endgrid %}

            {% endcell %}
            {% cell "u-bolt-width-12/12 u-bolt-width-4/12@medium" %}
              {% include "@bolt-components-headline/headline.twig" with {
                text: "Find Us Here Also",
                size: "xxlarge"
              } only %}

              {% set text %}
                {% include "@bolt-components-headline/headline.twig" with {
                  text: "Find Us Here Also",
                  size: "large",
                  url: "#!",
                  icon: "none",
                } only %}
              {% endset %}
              {% set icon %}
                {% include "@bolt-components-icon/icon.twig" with {
                  name: "external-link",
                } only %}
              {% endset %}
              {% set list_item_1 %}
                {% include "@bolt-components-list/list.twig" with {
                  display: "inline",
                  align: "justify",
                  items: [
                    text,
                    icon,
                  ]
                } only %}
              {% endset %}

              {% set text %}
                {% include "@bolt-components-headline/headline.twig" with {
                  text: "CCW 2018, 2/27 - 3/1",
                  size: "large",
                  url: "#!",
                  icon: "none",
                } only %}
              {% endset %}
              {% set list_item_2 %}
                {% include "@bolt-components-list/list.twig" with {
                  display: "inline",
                  align: "justify",
                  items: [
                    text,
                    icon,
                  ]
                } only %}
              {% endset %}

              {% set text %}
                {% include "@bolt-components-headline/headline.twig" with {
                  text: "HIMSS18, 3/5 - 3/10",
                  size: "large",
                  url: "#!",
                  icon: "none",
                } only %}
              {% endset %}
              {% set list_item_3 %}
                {% include "@bolt-components-list/list.twig" with {
                  display: "inline",
                  align: "justify",
                  items: [
                    text,
                    icon,
                  ]
                } only %}
              {% endset %}

              {% set text %}
                {% include "@bolt-components-headline/headline.twig" with {
                  text: "ACAMS 2018, 4/9",
                  size: "large",
                  url: "#!",
                  icon: "none",
                } only %}
              {% endset %}
              {% set list_item_4 %}
                {% include "@bolt-components-list/list.twig" with {
                  display: "inline",
                  align: "justify",
                  items: [
                    text,
                    icon,
                  ]
                } only %}
              {% endset %}

              {% include "@bolt-components-list/list.twig" with {
                separator: "solid",
                spacing: "small",
                items: [
                  list_item_1,
                  list_item_2,
                  list_item_3,
                  list_item_4,
                ]
              } only %}
            {% endcell %}
          {% endgrid %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}


  {% embed "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "medium"
  } %}

    {% block band_content  %}
      <p>
        Showing 555 results in <a href="#">filter 1</a>, <a href="#">filter 2</a>, and "<b>search term</b>" (<a href="">Clear filters</a>)
      </p>
      {% grid "o-bolt-grid--matrix" %}
        {% cell "u-bolt-width-12/12 u-bolt-width-3/12@medium" %}

          {% set facets = [
            {
              title: 'Type',
              checkboxes: ['Webinar', 'Conference', 'Showcase', 'Networking']
            },
            {
              title: 'Location',
              checkboxes: ['United States', 'Europe', 'Asia Pacific', 'Latin America']
            },
            {
              title: 'Industry',
              checkboxes: [
                'Communications Service Providers',
                'Energy & Utilities',
                'Financial Services',
                'Government',
                'Healthcare',
                'Insurance',
                'Life Sciences',
                'Manufacturing & High Technology'
              ]
            }
          ] %}

          {% for facet in facets %}

            {% set checkboxChildren %}
              {% for checkbox in facet.checkboxes %}
                {% include ("@pl/30-form-element-demo-checkbox.twig") with {
                  labelTitle: checkbox,
                  elementId: "checkbox-" ~ facet.title ~ checkbox
                } only %}
              {% endfor %}
            {% endset %}

            {% set fieldsetChildren %}
              {% include "@bolt-components-form/form-checkboxes.twig" with {
                children: checkboxChildren
              } only %}
            {% endset %}

            {% include "@bolt-components-form/form-fieldset.twig" with {
              legendTitle: facet.title,
              children: fieldsetChildren
            } only %}
          {% endfor %}

          {% include "@pl/_event-annotation.twig" with {
            text: 'At mobile breakpoints, search facets should appear in an overlay. This page does not show that behavior. See <bolt-link target="_blank" url="http://5a8474d2be40f13bcfebaa78.bolt.netlify.com/patterns/04-pages-d8-partners-d8-partners-search/04-pages-d8-partners-d8-partners-search.html">this temporary page</bolt-link> for an example'
          } only %}

          {% include "@pl/_event-annotation.twig" with {
            text: 'Styling details of the form fields such as font size may appear slightly different. That should not be reason to fail this during QA - the correct sizes will be pulled in when the site is updated to use the latest 1.x version of Bolt.'
          } only %}

        {% endcell %}

        {% cell "u-bolt-width-12/12 u-bolt-width-9/12@medium" %}
          {% grid "o-bolt-grid--matrix" %}
            {% for i in 1..9 %}
              {% cell "u-bolt-width-12/12" %}
                {% set content %}
                  {% grid "o-bolt-grid--flex o-bolt-grid--matrix" %}
                    {% cell "u-bolt-width-12/12 u-bolt-width-3/12@small" %}
                      {% include "@bolt/image.twig" with {
                        src: "/images/placeholders/500x500.jpg",
                        lazyload: false
                      } only %}
                    {% endcell %}
                    {% cell "u-bolt-width-12/12 u-bolt-width-9/12@small" %}
                      {% include "@bolt-components-headline/eyebrow.twig" with {
                        text: faker.text(16),
                      } only %}
                      {% include "@bolt-components-headline/headline.twig" with {
                        text: faker.text(66),
                        size: "xlarge",
                      } only %}
                      {% include "@bolt-components-headline/text.twig" with {
                        text: faker.text(166),
                      } only %}
                      {% include "@bolt-components-link/link.twig" with {
                        text: "Request a Meeting",
                        icon: {
                          name: "chevron-right"
                        }
                      } only %}
                    {% endcell %}
                  {% endgrid %}
                {% endset %}
                {% include "@bolt-components-card-replacement/card-replacement.twig" with {
                  theme: "xlight",
                  link: {
                    url: "#!",
                  },
                  body: {
                    content: content,
                  },
                } only %}
              {% endcell %}
            {% endfor %}
          {% endgrid %}
        {% endcell %}
      {% endgrid %}

    {% endblock %}
  {% endembed %}


  {% embed "@bolt-components-band/band.twig" with {
    size: "large",
    theme: "xdark"
  } only %}
    {% block band_content %}

      {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12 u-bolt-width-8/12@small u-bolt-text-align-center" %}
          {% include "@bolt-components-blockquote/blockquote.twig" with {
            size: "xlarge",
            border: "none",
            alignItems: "center",
            logo: {
              src: "/images/content/logos/logo-paypal.svg",
              invert: true,
              lazyload: true
            },
            author: {
              image: {
                src: "/images/placeholders/500x500.jpg",
                lazyload: true
              },
              name: "Jessica Cuthbertson",
              title: "CEO, RBS"
            },
            content: "<p>We’re creating an environment where we know our customers individually, and we want to use what we know to really understand what’s important to them – so we can be there in the moments that matter.</p>"
          } only %}

        {% endcell %}
      {% endgrid %}
    {% endblock %}
  {% endembed %}

{% endblock %}



