/* ------------------------------------ *\
  ELEMENTS - CODE
\* ------------------------------------ */

@import '@bolt/tools-font-family';
@import '@bolt/tools-font-weight';
@import '@bolt/tools-font-size';
@import '@bolt/tools-spacing';
@import '@bolt/tools-scrolling';

pre {
  @include bolt-padding(medium);
  @include bolt-horizontal-scroll;
  text-align: left;
}

code {
  @include bolt-font-family(code);
  @include bolt-font-weight(semibold); // This is an edge case to use semibold.
  @include bolt-font-size(xsmall);

  display: inline;
  letter-spacing: 0.05rem;
  white-space: inherit;
}
