/* ------------------------------------ *\
  ELEMENTS - CODE
\* ------------------------------------ */

@import '@bolt/tools-font-family';
@import '@bolt/tools-font-weight';
@import '@bolt/tools-font-size';
@import '@bolt/tools-spacing';
@import '@bolt/tools-scrolling';

pre {
  @include bolt-padding(medium);
  @include bolt-horizontal-scroll;
  text-align: left;
}

code {
  @include bolt-font-family(code);
  @include bolt-font-weight(semibold); // This is an edge case to use semibold.
  @include bolt-font-size(xsmall);

  display: block;
  letter-spacing: 0.05rem;
  white-space: inherit;

  .schema-docs & {
    display: inline-block; // @todo Consider displaying <code> inline globally.

    background-color: transparentize(#CCC, 0.2);
    padding: 0 3px;
    border-radius: 4px;
  }
}
