.o-bolt-island--small {
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
}

.o-bolt-island,
.o-bolt-island--medium {
  padding: var(--bolt-spacing-y-medium) var(--bolt-spacing-x-medium);
}

.o-bolt-island--large {
  padding: var(--bolt-spacing-y-large) var(--bolt-spacing-x-large);
}
