{% set sizeExamples = [100, 250, 500] %}

{% for size in sizeExamples %}
  <h3>Size: {{ size }} pixels</h3>
  {% include '@bolt-components-image/image.twig' with {
    src: "/images/placeholders/tout-4x3-climber.jpg",
    alt: "A Rock Climber",
    title: "Rock Climber",
    lazyload: false,
    height: size,
    ratio: true,
    zoom: true,
  } only %}
{% endfor %}
