////
/// @group Tools: Layout
////

/* ------------------------------------ *\
  see `_settings-z-index.scss`
\* ------------------------------------ */

/// Bolt z-index mixin
/// @param {string} $name
/// @example scss - bolt-z-index mixin
/// .element {
///   @include bolt-z-index(@param);
/// }
@mixin bolt-z-index($name, $utility: false) {
  $important: '';

  @if $utility {
    $important: '!important';
  }

  $z-index: map-get($bolt-z-indexes, $name);

  // @todo @deprecated: Remove this logic in the next major release.
  @if map-has-key($bolt-deprecated-z-indexes, $name) {
    @if $name == 'modalBG' {
      $z-index: map-get($bolt-z-indexes, 'modal-overlay')
    } @else if $name == 'navFixed' {
      $z-index: map-get($bolt-z-indexes, 'nav')
    } @else if $name == 'popover' or $name == 'tooltip' or $name == 'contentTop' {
      $z-index: map-get($bolt-z-indexes, 'content-high')
    } @else if $name == 'contentBottom' or $name == 'backgroundTop' or $name == 'background' or $name == 'backgroundBottom' {
      $z-index: map-get($bolt-z-indexes, 'content-low')
    }
    @warn 'The z-index `#{$name}` is deprecated. Please update according to the current `$bolt-z-indexes` map in `_settings-z-index.scss` under core styles.';
  }

  @if $z-index {
    z-index: $z-index;
  } @else {
    @warn '#{$name}` is not an option for the `$bolt-z-index()` function. Please update according to the current `$bolt-z-indexes` map in `_settings-z-index.scss` under core styles.';
  }
}


/// Bolt z-index function
/// @param {string} $name
/// @example scss - bolt-z-index function
/// .element {
///   z-index: bolt-z-index(@param);
/// }
@function bolt-z-index($name) {
  $z-index: map-get($bolt-z-indexes, $name);

  // @todo @deprecated: Remove this logic in the next major release.
  @if map-has-key($bolt-deprecated-z-indexes, $name) {
    @if $name == 'modalBG' {
      $z-index: map-get($bolt-z-indexes, 'modal-overlay')
    } @else if $name == 'navFixed' {
      $z-index: map-get($bolt-z-indexes, 'nav')
    } @else if $name == 'popover' or $name == 'tooltip' or $name == 'contentTop' {
      $z-index: map-get($bolt-z-indexes, 'content-high')
    } @else if $name == 'contentBottom' or $name == 'backgroundTop' or $name == 'background' or $name == 'backgroundBottom' {
      $z-index: map-get($bolt-z-indexes, 'content-low')
    }
    @warn 'The z-index `#{$name}` is deprecated. Please update according to the current `$bolt-z-indexes` map in `_settings-z-index.scss` under core styles.';
  }

  @if $z-index {
    @return $z-index;
  } @else {
    @warn '`#{$name}` is not an option for the `$bolt-z-index()` function. Please update according to the current `$bolt-z-indexes` map in `_settings-z-index.scss` under core styles.';
    @return null;
  }
}
