/* ------------------------------------ *\
   Base fade animations tool set
\* ------------------------------------ */

:root {
  --bolt-animation-duration: 200ms;
  --bolt-animation-delay: 0ms;
}

.a-bolt-fade {
  visibility: hidden; //Safari performance issue
  animation-delay: var(--bolt-animation-delay);
  animation-duration: var(--bolt-animation-duration);
  animation-fill-mode: both;
  animation-play-state: paused;

  @media print, (prefers-reduced-motion: reduce) {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
    animation-delay: 0ms !important;
    animation-duration: 0ms !important;

    &[class*='--out'] {
      opacity: 0 !important;
    }
  }
}

.a-bolt-fade--running {
  visibility: visible; //Safari performance issue
  animation-play-state: running;
}

.a-bolt-fade--duration-slow {
  --bolt-animation-duration: 500ms;
  animation-duration: var(--bolt-animation-duration);
}

.a-bolt-fade--duration-fast {
  --bolt-animation-duration: 100ms;
  animation-duration: var(--bolt-animation-duration);
}

//these classes fade animation one by one
@for $i from 1 through 1000 {
  .a-bolt-fade--successively:nth-of-type(#{$i}) {
    --bolt-animation-delay: 20ms;
    animation-delay: calc(var(--bolt-animation-delay) * #{$i});
  }
  .a-bolt-fade--successively-fast:nth-of-type(#{$i}) {
    --bolt-animation-delay: 10ms;
    animation-delay: calc(var(--bolt-animation-delay) * #{$i});
  }
  .a-bolt-fade--successively-slow:nth-of-type(#{$i}) {
    --bolt-animation-delay: 50ms;
    animation-delay: calc(var(--bolt-animation-delay) * #{$i});
  }
}
