:root {
  --bolt-animation-duration: 800ms;
  --bolt-animation-delay: 0ms;
}

.a-bolt-fade {
  animation-delay: var(--bolt-animation-delay);
  animation-duration: var(--bolt-animation-duration);
  animation-fill-mode: both;

  @media print, (prefers-reduced-motion: reduce) {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) !important;
    animation-delay: 0ms !important;
    animation-duration: 0ms !important;
  }
}

.a-bolt-fade--duration-slow {
  --bolt-animation-duration: 1200ms;
  animation-duration: var(--bolt-animation-duration);
}

.a-bolt-fade--duration-fast {
  --bolt-animation-duration: 400ms;
  animation-duration: var(--bolt-animation-duration);
}

@for $i from 1 through 10000 {
  .a-bolt-delay-gradual:nth-child(#{$i}) {
    --bolt-animation-delay: 80ms;
    animation-delay: calc(var(--bolt-animation-delay) * #{$i});
  }
}
