@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-1rem, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.a-bolt-fade--in-left {
  animation-name: fade-in-left;
  animation-timing-function: ease-out;
}
