/* ------------------------------------ *\
   Animation fade out up
\* ------------------------------------ */

@keyframes a-bolt-out-fade-up {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }
}

.a-bolt-out--fade-up {
  animation-name: a-bolt-out-fade-up;
  animation-timing-function: ease-in;
}
