/* ------------------------------------ *\
   Animation fade in up
\* ------------------------------------ */

@keyframes a-bolt-in-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.a-bolt-in--fade-up {
  animation-name: a-bolt-in-fade-up;
  animation-timing-function: ease-out;
}
