{% set article_body = article_body|join('') %}

{# Placeholder Frame #}
{% extends '@pl/_default-page-template.twig' %}
{# End Placeholder Frame #}

{% block main_content %}
  {# Navigation #}
  {% set navbar_data = [
    {
      link: {
        content: 'Digital Process Automation',
        attributes: {
          href: '#a',
        }
      }
    },
    {
      link: {
        content: '1-to-1 Customer Engagement',
        attributes: {
          href: '#a',
        }
      }
    },
    {
      link: {
        content: 'Customer Service',
        attributes: {
          href: '#a',
        }
      }
    },
  ] %}

  {% set navbar_items %}
    {% for item in navbar_data %}
      {% include '@bolt-components-navbar/navbar-li.twig' with item only %}  
    {% endfor %}
  {% endset %}

  {% set navbar_list %}
    {% include '@bolt-components-navbar/navbar-ul.twig' with { content: navbar_items } only %}  
  {% endset %}

  {% include '@bolt-components-navbar/navbar.twig' with {
    theme: 'dark',
    title: {
      tag: 'h1',
      content: 'Future Proof',
      link: {
        attributes: {
          href: 'https://google.com/blog'
        }
      }
    },
    links: navbar_list
  } only %}
  {# End Navigation #}

  {# Hero #}
  {% set hero %}
    {% set col_1 %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: featured_image,
          alt: article_title,
          loading: 'lazy',
        }
      } only %}
    {% endset %}
    {% set col_2 %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: article_title,
        size: 'xxxlarge',
        tag: 'h1',
      } only %}
      {% set headline %}
        {% include '@bolt-components-headline/text.twig' with {
          text: 'By ' ~ auhtor_name ~ ', ' ~ article_date,
        } only %}
      {% endset %}
      {% set share %}
        {% include '@bolt-components-share/share.twig' with {
          size: 'small',
          text: 'Share',
          sources: [
            {
              name: 'facebook',
              attributes: {
                href: 'https://www.facebook.com/sharer/sharer.php?u=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html&amp;src=sdkpreparse'
              }
            },
            {
              name: 'twitter',
              attributes: {
                href: 'https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
              }
            },
            {
              name: 'linkedin',
              attributes: {
                href: 'https://www.linkedin.com/shareArticle?url=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html'
              }
            },
            {
              name: 'email',
              attributes: {
                href: 'mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com'
              }
            }
          ],
          copy_to_clipboard: {
            text_to_copy: 'https://google.com'
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-list/list.twig' with {
        display: 'inline@small',
        tag: 'div',
        separator: 'solid',
        items: [
          headline,
          share,
        ]
      } only %}
    {% endset %}
    {% include '@bolt-components-grid/grid.twig' with {
      items: [
        {
          column_start: '1',
          column_span: '12 5@medium',
          content: col_1,
        },
        {
          column_start: '1 6@medium',
          column_span: '12 7@medium',
          content: col_2,
          valign: 'center'
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    theme: 'xdark',
    size: 'medium',
    content: hero,
  } only %}
  {# End Hero #}

  {# Main Article #}
  {% set main_article %}
    {% include '@bolt-components-grid/grid.twig' with {
      items: [
        {
          column_start: '1 2@small 3@medium',
          column_span: '12 10@small 8@medium',
          content: article_body ,
        },
      ]
    } only %}
  {% endset %}

  <article>
    {% include '@bolt-components-band/band.twig' with {
      theme: 'xlight',
      size: 'medium',
      content: main_article,
    } only %}
  </article>
  {# End Main Article #}

  {# Article Meta #}
  {% set article_meta %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Category',
      size: 'xlarge',
      tag: 'h3',
      attributes: {
        class: "u-bolt-margin-bottom-small",
      }
    } only %}
    {% set chip %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Tag',
        url: '#!',
      } only %}
    {% endset %}
    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      items: [
        chip,
        chip,
        chip,
        chip,
        chip,
      ]
    } only %}

    {% include '@bolt-components-headline/headline.twig' with {
      text: 'About the Author',
      size: 'xlarge',
      tag: 'h3',
    } only %}
    {% include '@bolt-components-headline/text.twig' with {
      text: author_bio,
      size: 'large',
      tag: 'p',
    } only %}

    {% include '@bolt-components-share/share.twig' with {
      size: 'medium',
      text: 'Share this post',
      sources: [
        {
          name: 'facebook',
          attributes: {
            href: 'https://www.facebook.com/sharer/sharer.php?u=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html&amp;src=sdkpreparse'
          }
        },
        {
          name: 'twitter',
          attributes: {
            href: 'https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
          }
        },
        {
          name: 'linkedin',
          attributes: {
            href: 'https://www.linkedin.com/shareArticle?url=https://5abd3062df99537b79e29496--bolt-design-system.netlify.com/pattern-lab/patterns/40-components-action-blocks-05-action-blocks/40-components-action-blocks-05-action-blocks.html'
          }
        },
        {
          name: 'email',
          attributes: {
            href: 'mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com'
          }
        }
      ],
      copy_to_clipboard: {
        text_to_copy: 'https://google.com'
      }
    } only %}
  {% endset %}

  <div class="e-bolt-wrapper u-bolt-margin-bottom-large">
    {% set band %}
      {% include '@bolt-components-band/band.twig' with {
        theme: 'light',
        size: 'small',
        full_bleed: false,
        content: article_meta,
      } only %}
    {% endset %}
    {% include '@bolt-components-grid/grid.twig' with {
      items: [
        {
          column_start: '1 2@small 3@medium',
          column_span: '12 10@small 8@medium',
          content: band,
        },
      ]
    } only %}
  </div>
  {# End Article Meta #}

{% endblock %}
