/* ------------------------------------ *\
   Action Blocks
\* ------------------------------------ */

// Sample Usage
// <bolt-action-blocks bolt-component>
//   <ul class="c-bolt-action-blocks c-bolt-action-blocks--item-max-6 c-bolt-action-blocks--vertical-align-start c-bolt-action-blocks--bordered">
//     <li class="c-bolt-action-blocks__item">
//       <bolt-action-block bolt-component>
//         <a href="http://google.com" class="c-bolt-action-block">
//           <div class="c-bolt-action-block__item">
//             <bolt-icon name="download" background="circle" size="large"></bolt-icon>
//           </div>
//           <div class="c-bolt-action-block__item">
//             Item 1, Proin Quis Tortor Orci Etiam At Risus Et Justo Dignissim.
//           </div>
//         </a>
//       </bolt-action-block>
//     </li>
//   </ul>
// </bolt-action-blocks>


// Local Variables
$bolt-action-block-text-color: var(--bolt-theme-action-block-text, var(--bolt-theme-heading, var(--bolt-theme-text, inherit)));
$bolt-action-block-transition-ease: $bolt-transition-ease;
$bolt-action-block-transition-timing: 300ms;
$bolt-action-block-item-max-width: 20ch;

$bolt-action-blocks-border-width: $bolt-border-width;
$bolt-action-blocks-border-style: $bolt-border-style;
$bolt-action-blocks-border-color: var(--bolt-theme-card-border, var(--bolt-theme-border, currentColor));

// Individual Action Block Styles
.c-bolt-action-block {
  @include bolt-padding(medium, stretched);

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
  color: $bolt-action-block-text-color;
  outline: none;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    background-color: bolt-color(indigo, xlight);
    opacity: 0;
    transition: all $bolt-action-block-transition-ease $bolt-action-block-transition-timing;
  }

  &:hover, &:focus {
    &:before {
      opacity: 0.1;
    }
  }
}

.c-bolt-action-block__item {
  @include bolt-margin(0 auto small auto);
  @include bolt-font-size(xsmall);
  @include bolt-font-weight(bold);

  display: block;
  position: relative;
  width: 100%;
  max-width: $bolt-action-block-item-max-width;
  text-align: center;

  &:last-child {
    @include bolt-margin-bottom(0);
  }
}


// The Frame to Contain a Group of Action Blocks
bolt-action-blocks {
  display: block; // TODO: This needs to use the global block element mixin.
  overflow: hidden;
}

.c-bolt-action-blocks {
  @include bolt-margin(0 -1px -1px 0);
  @include bolt-padding(0);

  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.c-bolt-action-blocks__item {
  display: block;
  flex-grow: 1;
  position: relative;
  min-width: 150px;
  border-bottom-width: $bolt-action-blocks-border-width;
  border-bottom-style: $bolt-action-blocks-border-style;
  border-right-width: $bolt-action-blocks-border-width;
  border-right-style: $bolt-action-blocks-border-style;
}

.c-bolt-action-blocks--bordered > .c-bolt-action-blocks__item {
  border-bottom-color: $bolt-action-blocks-border-color;
  border-right-color: $bolt-action-blocks-border-color;
}

.c-bolt-action-blocks--borderless > .c-bolt-action-blocks__item {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.c-bolt-action-blocks--vertical-align-start {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: flex-start;
  }
}

.c-bolt-action-blocks--vertical-align-center {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: center;
  }
}

.c-bolt-action-blocks--vertical-align-end {
  // TODO: [Mai] I know this feels dirty, but how else can it do this?
  .c-bolt-action-block {
    justify-content: flex-end;
  }
}

@for $number from 2 through 12 {
  .c-bolt-action-blocks--item-max-#{$number} > .c-bolt-action-blocks__item {
    flex-basis: calc(100% / #{$number} - #{$bolt-action-blocks-border-width});
  }
}
