{# action-block__item.twig #}

{#
  item:
    link #=> link component
    - url # url object
    - text #markup
    - attributes #drupal attributes object

    icon #=> icon component
      - name
      - size
      - oneOf
        - path ## if path: type must be svg
        - reference # id based on SVG sprite
#}







{# <li class="c-action-block__item">
  <a href="{{ item.action_block.url }}" class="o-block o-block--center c-action-block">

    {% if item.icon.name %}
      {% include "@bolt/icon.twig" with {
        icon: {
          name: "{{ item.icon.name }}",
          attributes: {
            class: [
              "o-block__image",
              "c-action-block__icon"
            ]
          }
        }
      } %}
    {% endif %}

    {% if item.action_block.text %}
      <span class="o-block__body c-action-block__text">
        {{ item.action_block.text }}
      </span>
    {% endif %}
  </a>
</li>
 #}

{# Notes
action_block: // paragraph type
  - action_block_item (array) // Field item

#}


