@import 'templates/**/*.scss';

@keyframes bds-shapes-fade {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(calc(var(--rotate) * 2));
  }
  10% {
    opacity: 0;
    transform: translate3d(0, 0, 0) rotate(calc(var(--rotate) * 2));
  }
}

.c-bds-shapes {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  top: bolt-v-spacing(medium); // offset the top just a tad
  left: 0;
  z-index: 1;
  animation: bds-shapes-fade 0.5s ease-out;
  opacity: 1;
}

.c-bds-shapes__shape-inner {
  width: var(--size);
  height: var(--size);
  transform: translate3d(0, calc(var(--criterion, 0) * -2 * var(--size)), 0)
    rotate(calc((1 - var(--criterion, 0) * -2) * var(--rotate)));
  will-change: transform;
}

@keyframes bds-logo-scale-in-out {
  0%,
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, 0, 0) scale(0.9);
  }
}

@keyframes bds-logo-fade {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0.4, 0.4);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.6, 0.6);
  }
}

@keyframes bds-shapes-drift {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
  to {
    transform: translate3d(-30vw, 0, 0);
  }
}

.c-bds-logo {
  overflow: visible; // so the logo doesn't get chopped off
  position: relative;
  animation-name: bds-logo-fade;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.22, 1, 0.32, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  perspective: 1000px;
}

.c-bds-logo__inner {
  animation: bds-logo-scale-in-out 24s ease-in-out infinite;
}

.c-bds-shapes__animation {
  left: 0;
  position: absolute;
  top: 0;
}

.c-bds-shapes__animation--1 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -12s;
  animation-duration: 55s;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  filter: blur(1px);
  height: 10vh;
  opacity: 0.1;
  top: 0;
  width: 10vh;
  z-index: 8;
}

.c-bds-shapes__animation--2 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -38s;
  animation-duration: 58s;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  filter: blur(3px);
  height: 3vh;
  opacity: 1;
  top: 8vh;
  width: 3vh;
  z-index: 7;
}

.c-bds-shapes__animation--3 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -60s;
  animation-duration: 76s;
  animation-timing-function: linear;
  filter: blur(5px);
  height: 4vh;
  opacity: 0.5;
  top: 20vh;
  width: 4vh;
  z-index: 1;
}

.c-bds-shapes__animation--4 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -29s;
  animation-duration: 51s;
  animation-timing-function: ease-in;
  filter: blur(5px);
  height: 7vh;
  opacity: 0.8;
  top: 33vh;
  width: 7vh;
  z-index: 6;
}

.c-bds-shapes__animation--5 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -5s;
  animation-duration: 67s;
  animation-timing-function: linear;
  filter: blur(4px);
  height: 4vh;
  opacity: 0.45;
  top: 40vh;
  width: 4vh;
  z-index: 4;
}

.c-bds-shapes__animation--6 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -31s;
  animation-duration: 64s;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  filter: blur(3px);
  height: 6vh;
  opacity: 0.7;
  top: 68vh;
  width: 6vh;
  z-index: 5;
}

.c-bds-shapes__animation--7 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -42s;
  animation-duration: 70s;
  animation-timing-function: linear;
  filter: blur(1px);
  height: 2vh;
  opacity: 0.6;
  top: 82vh;
  width: 2vh;
  z-index: 3;
}

.c-bds-shapes__animation--8 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -55s;
  animation-duration: 73s;
  animation-timing-function: ease-in;
  filter: blur(6px);
  height: 2vh;
  opacity: 0.55;
  top: 90vh;
  width: 2vh;
  z-index: 2;
}

.c-bds-shapes__animation--9 {
  animation-iteration-count: infinite;
  animation-name: bds-shapes-drift;
  will-change: transform;
  animation-delay: -25s;
  animation-duration: 40s;
  animation-timing-function: ease-in;
  filter: blur(6px);
  height: 3vh;
  opacity: 0.95;
  top: 60vh;
  width: 3vh;
  z-index: 2;
}
