@import 'templates/**/*.scss';

@keyframes bds-shapes-rotate {
  0% {
    opacity: 1;
    transform: translateY(calc(var(--criterion, 0) * -2 * var(--size)))
      rotate(var(--rotate));
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
    transform: translate3d(
        calc(var(--tx) / var(--modifier)),
        calc(var(--ty) / var(--modifier)),
        0
      )
      rotate(calc(var(--rotate) * 3));
  }
}

@keyframes bds-shapes-fade {
  0% {
    opacity: 0;
    transform: rotate(calc(var(--rotate) * 2));
  }
  10% {
    opacity: 0;
  }
}

.c-bds-shapes__shape-outer {
  --modifier: 1;

  @include bolt-mq(small) {
    --modifier: 2.4;
  }

  @include bolt-mq(medium) {
    --modifier: 2;
  }

  @include bolt-mq(large) {
    --modifier: 1.4;
  }

  position: absolute;
  left: calc(50% - var(--size) / 2);
  z-index: 1;
  top: calc(50% - var(--size) / 2);
  animation-name: bds-shapes-fade;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.22, 1, 0.32, 1);
  animation-fill-mode: backwards;
  transform: translate(calc(var(--tx) / var(--modifier)), var(--ty));

  $animation-delay: 0.2666s;
  $animation-delay-increase: 0.0667s;

  @for $i from 1 through 9 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-delay + ($animation-delay-increase * $i);
    }
  }
}

.c-bds-shapes__shape-inner {
  width: var(--size);
  height: var(--size);
  transform: translateY(calc(var(--criterion, 0) * -2 * var(--size)))
    rotate(calc((1 - var(--criterion, 0) * -2) * var(--rotate)));
  will-change: transform;
}

.c-bds-shapes__svg {
  animation: bds-shapes-rotate 120s forwards;
}

@keyframes bds-logo-shimmy {
  0%,
  100% {
    transform: rotateY(-20deg) skewX(-2deg);
  }
  50% {
    transform: rotateY(-20deg) skewX(2deg);
  }
}

@keyframes bds-logo-shine {
  0%,
  100% {
    margin-top: -100px;
  }
  50% {
    margin-top: 800px;
  }
}

@keyframes bds-logo-fade {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.c-bds-shiny-logo {
  overflow: hidden;
  position: relative;
  animation-name: bds-logo-fade;
  animation-delay: 0.2s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.22, 1, 0.32, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  filter: drop-shadow(0 0 4px rgba(bolt-color(black), 0.5));
}

.c-bds-shiny-logo__inner {
  @supports (mask-size: cover) or (-webkit-mask-size: cover) {
    mask-image: url('/images/bolt-logo.svg');
    -webkit-mask-image: url('/images/bolt-logo.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;

    animation: bds-logo-shimmy 12s ease-in-out infinite;

    &:after {
      content: '';
      width: 1000px;
      height: 100px;
      margin-left: -100px;
      transform: rotate(30deg);
      background: linear-gradient(
        0deg,
        transparent,
        rgba(200, 200, 200, 0.5),
        transparent
      );
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      animation: bds-logo-shine 12s ease-in-out infinite;
    }
  }
}
