@import '@bolt/core-v3.x';

// Settings

$bolt-card-replacement-body-spacing: 'medium';
$bolt-card-replacement-shadow-color: bolt-color(gray, dark);
$bolt-card-replacement-border-width: $bolt-border-width;
$bolt-card-replacement-border-style: $bolt-border-style;
$bolt-card-replacement-border-color: bolt-theme(text, 0.15);
$bolt-card-replacement-border-radius: 4px;
$bolt-card-replacement-link-z-index: 3;
$bolt-card-replacement-individual-link-z-index: 4;
$bolt-card-replacement-body-z-index: 2; // Must be at least 2 to layer over card-replacement-background, and these elements can appear in any order
$bolt-card-replacement-video-z-index: $bolt-card-replacement-individual-link-z-index;


// Tools

@mixin bolt-card-replacement-border-reset {
  border: 0;
  border-style: $bolt-card-replacement-border-style;
  border-color: $bolt-card-replacement-border-color;
}

@mixin bolt-card-replacement-content-conditions {
  // [Mai] Only the card-replacement body should not have hidden overflow and border radius because its background is transparent. This also catches any kind of free-form content being passed, making sure they don't poke outside the card-replacement (which has rounded corners and box shadows). The reason the card-replacement itself shouldn't have hidden overflow is because the card-replacement body can contain some kind of tooltip bubble or dropdown ui, they can poke out of the card-replacement naturally.
  > * {

    &:first-child {
      border-radius: $bolt-card-replacement-border-radius $bolt-card-replacement-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $bolt-card-replacement-border-radius $bolt-card-replacement-border-radius;
    }

    &:only-child{
      border-radius: $bolt-card-replacement-border-radius;
    }
  }

  > bolt-card-replacement-link + * {
    border-radius: $bolt-card-replacement-border-radius $bolt-card-replacement-border-radius 0 0;

    &:last-child {
      border-radius: $bolt-card-replacement-border-radius;
    }
  }

  > bolt-card-replacement-body,
  > bolt-card-replacement-link,
  > replace-with-children {
    overflow: visible;
  }

  > bolt-card-replacement-actions {
    &:last-child {
      @include bolt-margin-top(auto);
    }

    &:only-child {
      @include bolt-margin-top(auto);
      @include bolt-margin-bottom(auto);
    }
  }

  > * + bolt-card-replacement-actions {
    border-top-width: $bolt-card-replacement-border-width;
  }

  > bolt-card-replacement-actions:not(:last-child) {
    border-bottom-width: $bolt-card-replacement-border-width;
  }
}
