{% set content = content | default({}) %}

<div class="marvel-device macbook">
  {% include "parts/_top-bar.twig" %}
  {% include "parts/_camera.twig" %}
  {% include "parts/_screen.twig" %}
  {% include "parts/_bottom-bar.twig" %}
</div>