// ------------------------------------
// Font weight
// ------------------------------------

////
/// @group Tools: Typography
/// @author Mike Mai
////

/// This returns the font-weight for a specific element.
/// @param {string} $weight - Defines the weight of the text: bold, semi-bold, regular, or normal.
/// @example scss - Mixin
/// .element {
///    @include bolt-font-weight(bold);
/// }
/// @example css - Output
/// .element {
///    font-weight: 800;
/// }
@mixin bolt-font-weight($weight) {
  $font-weight: map-get-deep($bolt-font-weights, 'font-weights', $weight);

  font-weight: $font-weight;
}
