/* ------------------------------------ *\
   THEMES
\* ------------------------------------ */


$bolt-themes-export: ();

// loop through all defined themes to auto-generate Theme-specific classes w/ vars.
// also clean up the Sass map data we export for the Themify-based PostCSS build step and convert everything to rgb just for the data that's exported.
@each $themeName, $themeOptions in $bolt-themes {

  $selector: '.t-bolt-#{$themeName}';

  @if ($themeName == 'xlight') {
    $selector: ':root, .t-bolt-#{$themeName}';
  }

  #{unquote($selector)} {
    @each $themeOptionName, $themeOptionValue in $themeOptions {
      --bolt-theme-#{$themeOptionName}: #{$themeOptionValue};

      @if type-of($themeOptionValue) == color {
        $bolt-themes-export: map-set-deep($bolt-themes-export, ($themeName, $themeOptionName), rgba($themeOptionValue, 1));
      }
    }

    color: bolt-theme-prop-value($themeName, text);
    color: var(--bolt-theme-text);

    background-color: bolt-theme-prop-value($themeName, background);
    background-color: var(--bolt-theme-background);
  }
}

@include bolt-export-data($bolt-css-vars-json-data-export + '.json', $bolt-themes-export);
