/* ------------------------------------ *\
   THEMES - XDARK
\* ------------------------------------ */

$bolt-theme-xdark-background:   bolt-color(indigo, dark) !default;
$bolt-theme-xdark-primary:      bolt-color(yellow) !default;
$bolt-theme-xdark-secondary:    bolt-color(white) !default;
$bolt-theme-xdark-text:         bolt-text-contrast($bolt-theme-xdark-background) !default;
$bolt-theme-xdark-heading:      bolt-text-contrast($bolt-theme-xdark-background) !default;
$bolt-theme-xdark-link:         $bolt-theme-xdark-primary !default;
$bolt-theme-xdark-heading-link: $bolt-theme-xdark-text !default;
$bolt-theme-xdark-border:       rgba($bolt-theme-xdark-heading, $bolt-global-border-opacity);

$bolt-theme-contrast-filter:    grayscale(100%) invert(100%) brightness(150%);

.t-bolt-xdark {
  $bolt-theme-background:             $bolt-theme-xdark-background;
  $bolt-theme-primary:                $bolt-theme-xdark-primary;
  $bolt-theme-secondary:              $bolt-theme-xdark-secondary;
  $bolt-theme-heading:                $bolt-theme-xdark-heading; // Default to main text color
  $bolt-theme-link:                   $bolt-theme-xdark-link;
  $bolt-theme-text:                   $bolt-theme-xdark-text;
  $bolt-theme-heading-link:           $bolt-theme-xdark-heading-link;
  $bolt-theme-border:                 $bolt-theme-xdark-border;

  $bolt-theme-link-default: $bolt-theme-primary;
  $bolt-theme-link-hover:   rgba($bolt-theme-link-default, $bolt-global-link-hover-opacity);
  $bolt-theme-link-active:  rgba($bolt-theme-link-default, $bolt-global-link-active-opacity);
  $bolt-theme-link-visited: $bolt-theme-link-default;


  $bolt-theme-heading-link-default: $bolt-theme-heading-link;
  $bolt-theme-heading-link-hover:   rgba($bolt-theme-heading-link-default, $bolt-global-link-hover-opacity);
  $bolt-theme-heading-link-active:  rgba($bolt-theme-heading-link-default, $bolt-global-link-active-opacity);
  $bolt-theme-heading-link-visited: $bolt-theme-heading-link-default;


  $bolt-theme-primary-background-default: $bolt-theme-primary;
  $bolt-theme-primary-text-default:       bolt-text-contrast($bolt-theme-primary-background-default);
  $bolt-theme-primary-border-default:     $bolt-theme-primary-background-default;


  $bolt-theme-primary-background-hover: mix($bolt-global-button-hover-color, $bolt-theme-primary-background-default, $bolt-global-button-hover-mix);
  $bolt-theme-primary-text-hover:       bolt-text-contrast($bolt-theme-primary-background-hover);
  $bolt-theme-primary-border-hover:     $bolt-theme-primary-background-hover;

  $bolt-theme-primary-background-active: mix($bolt-global-button-active-color, $bolt-theme-primary-background-default, $bolt-global-button-active-mix);
  $bolt-theme-primary-text-active:       bolt-text-contrast($bolt-theme-primary-background-active);
  $bolt-theme-primary-border-active:     $bolt-theme-primary-background-active;

  $bolt-theme-primary-background-focus: mix($bolt-global-button-hover-color, $bolt-theme-primary-background-default, $bolt-global-button-hover-mix);
  $bolt-theme-primary-text-focus:       bolt-text-contrast($bolt-theme-primary-background-focus);
  $bolt-theme-primary-border-focus:     $bolt-theme-primary-background-focus;



  --bolt-theme-background:   $bolt-theme-background;
  --bolt-theme-primary:      $bolt-theme-primary;
  --bolt-theme-secondary:    $bolt-theme-secondary;
  --bolt-theme-heading:      $bolt-theme-heading;
  --bolt-theme-link:         $bolt-theme-link;
  --bolt-theme-text:         $bolt-theme-text;
  --bolt-theme-heading-link: $bolt-theme-heading-link;
  --bolt-theme-border:       $bolt-theme-border;


  --bolt-theme-link-default: $bolt-theme-link-default;
  --bolt-theme-link-hover: $bolt-theme-link-hover;
  --bolt-theme-link-active: $bolt-theme-link-active;
  --bolt-theme-link-visited: $bolt-theme-link-visited;


  --bolt-theme-heading-link-default: $bolt-theme-heading-link-default;
  --bolt-theme-heading-link-hover: $bolt-theme-heading-link-hover;
  --bolt-theme-heading-link-active: $bolt-theme-heading-link-active;
  --bolt-theme-heading-link-visited: $bolt-theme-heading-link-visited;


  --bolt-theme-primary-background-default: $bolt-theme-primary-background-default;
  --bolt-theme-primary-text-default:       $bolt-theme-primary-text-default;
  --bolt-theme-primary-border-default:     $bolt-theme-primary-border-default;

  --bolt-theme-primary-background-hover: $bolt-theme-primary-background-hover;
  --bolt-theme-primary-text-hover:       $bolt-theme-primary-text-hover;
  --bolt-theme-primary-border-hover:     $bolt-theme-primary-border-hover;

  --bolt-theme-primary-background-active: $bolt-theme-primary-background-active;
  --bolt-theme-primary-text-active:       $bolt-theme-primary-text-active;
  --bolt-theme-primary-border-active:     $bolt-theme-primary-border-active;

  --bolt-theme-primary-background-focus: $bolt-theme-primary-background-focus;
  --bolt-theme-primary-text-focus:       $bolt-theme-primary-text-focus;
  --bolt-theme-primary-border-focus:     $bolt-theme-primary-border-focus;

  --bolt-theme-contrast-filter: $bolt-theme-contrast-filter;
  color: $bolt-theme-text;

  background-color: $bolt-theme-background;
  // --bolt-theme-chip-text
  // --bolt-theme-card-border
  // --bolt-theme-card-background
  // --bolt-theme-blockquote-border
  // --bolt-theme-blockquote-text
  // --bolt-theme-background-gradient-secondary
  // --bolt-theme-background-gradient-primary
  // --bolt-theme-background-fill
  // --bolt-theme-action-block-text
  // --bolt-theme-link-default
  // --bolt-theme-link
  // --bolt-theme-link-visited
}
