{% set navbar %}
  {% embed "@bolt-components-navbar/navbar.twig" with {
    theme: "xdark",
    width: "auto",
    title: {
      tag: "h1",
      text: 'Bolt<span class="u-bolt-hidden u-bolt-inline@xlarge"> Design System</span></span>', 
      url: "/",
      icon: {
        name: "bolt-logo-colored"
      }
    },
    links: [
      {
        text: "Components",
        url: "/pattern-lab/index.html"
      },
      {
        text: "Docs",
        url: "/docs/getting-started/index.html"
      },
      {
        text: 'Github',
        url: "https://github.com/bolt-design-system/bolt",
        attributes: {
          target: "_blank"
        },
        icon: {
          name: "github",
          position: "after"
        }
      }
    ],
  } only %}
    {% block navbar_title %}
      {{ parent() }}
      {% include "@bolt-components-headline/text.twig" with {
        text: 'v' ~ bolt.data.fullManifest.version,
        size: 'xsmall',
        capitalize: 'lowercase',
        attributes: {
          class: [
            "u-bolt-margin-left-small",
            "u-bolt-margin-top-xxsmall"
          ]
        }
      } only %}
    {% endblock %}
  {% endembed %}
{% endset %}

{% embed "@bolt-components-sticky/sticky.twig" with {
  attributes: {
    class: [
      "c-bds-layout__header"
    ]
  }
} %}
  {% block sticky_content %}
    {{ navbar }}
  {% endblock %}
{% endembed %}