{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

{% set cacheBuster = bolt.data.config.prod ? "?v=" ~ bolt.data.fullManifest.version : "" %}

<script src="{{ assets["bolt-global.js"] | default("/build/bolt-global.js") }}{{ cacheBuster }}" async></script>
  </body>
</html>
