{% set content %}
  {% embed "@bolt/band.twig" with {
    size: "none",
    theme: "xdark",
    fullBleed: true,
    background: {
      opacity: "medium",
      fill: "color",
      focalPoint: {
        vertical: "center",
        horizontal: "center"
      },
      contentItems: [
        {
          pattern: "image",
          src: "/images/background-bolt.jpg",
          lazyload: true
        }
      ]
    }
  } only %}
    {% block band_content  %}
      {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--middle u-bolt-min-height-screen u-bolt-padding-medium" %}
        {% cell 'u-bolt-width-1/1 u-bolt-width-2/3@medium u-bolt-text-align-center' %}
          <div class="u-bolt-margin-bottom-medium">
            {% include '@bolt-components-image/image.twig' with {
              src: "/images/bolt-logo-lockup-dark.png",
              alt: "Bolt Design System logo",
            } only %}
          </div>
          {% include "@bolt/eyebrow.twig" with {
            text: bolt.data.fullManifest.version,
          } only %}
          {% include "@bolt/subheadline.twig" with {
            text: "Bolt provides a system of reusable and consistent UI components, visual styles, tools, guidelines, and services that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope.",
            size: "xlarge",
            tag: "h2",
          } only %}
          <div class="u-bolt-margin-bottom-large">
            {% include "@bolt-components-button-group/button-group.twig" with {
              buttons: [
                {
                  tag: "a",
                  text: "Get started",
                  url: "/pattern-lab/index.html",
                  width: "full",
                  style: "primary"
                },
                {
                  tag: "a",
                  text: "View on GitHub",
                  url: "https://github.com/bolt-design-system/bolt",
                  width: "full",
                  style: "secondary",
                  icon: {
                    name: "external-link",
                    position: "after"
                  },
                  attributes: {
                    target: "_blank"
                  }
                }
              ],
              full: true,
            } only %}
          </div>
          {% include "@bolt-components-link/link.twig" with {
            text: "Download Sketch Assets",
            url: "/docs/assets/bolt-sketch.zip",
            icon: {
              name: "download",
              position: "before"
            },
            attributes: {
              download: true
            }
          } only %}
        {% endcell %}
      {% endgrid %}
    {% endblock %}
  {% endembed %}
{% endset %}


{% include "template-index.twig" with {
  content: content
} only %}
