{% set content %}
  <article>

    {# include "@bolt-components-band/band.twig" with {
      content: page.body|raw,
      theme: "xlight",
      attributes: {
        class: [
          "u-bolt-padding-top-none"
        ]
      }
    } only #}


    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--large c-bolt-band--medium u-bolt-padding-top-none o-bolt-grid--matrix" %}

      {% cell "u-bolt-width-1/1 u-bolt-width-2/3@small" %}
        {% include "@bolt/eyebrow.twig" with {
          text: "v1.0.0-rc.9"
        } only %}

        {% include "@bolt/headline.twig" with {
          text: "Bolt Design System",
          tag: "h1",
          size: "xxxlarge"
        } only %}

        {% include "@bolt/subheadline.twig" with {
          tag: "h2",
          text: "Bolt provides tools, patterns, services, and guidelines that systematically improve quality, timeliness, and consistency to the Pega ecosystem so that you can focus on what really matters.",
          size: "xxlarge"
        } only %}


        {% include "@bolt/button-group.twig" with {
          buttons: [
            {
              text: "Explore the System",
              url: "pattern-lab",
              style: "primary",
              width: "full@small"
            },
            {
              text: "Get Started",
              url: "/docs/index.html",
              style: "secondary",
              width: "full@small",
              size: "small"
            }
          ],
          contentItems: [
            {
              pattern: "text",
              tag: "p",
              text: "View the #{link("source", "https://github.com/bolt-design-system/bolt", {
                attributes: {
                  target: "_blank"
                }
              })} on Github"
            }
          ]
        } %}

      {% endcell %}


      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        <ul class="o-bolt-ui-list">
          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Speed",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "Design and develop faster.",
              size: "medium"
            } only %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Stable",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "Predictable, automated testing coverage, and scalable.",
              size: "medium"
            } only %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Stunning",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "On brand, consistent, elegant.",
              size: "medium"
            } only %}
          </li>
        </ul>
      {% endcell %}
    {% endgrid %}


    {% include "@bolt-components-band/band--card-collection.twig" with {
      theme: "xdark",
      size: "medium",
      contentItems: [
        {
          pattern: "card",
          contentItems: [
          {
            pattern: "image",
            lazyload: false,
            ratio: false,
            placeholderImage: "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
            placeholderColor: "#8d8e99",
            srcset: "/images/single-source2.jpg",
            src: "/images/single-source2.jpg"
          },
          {
            pattern: "eyebrow",
            text: "Docs"
          },
          {
            pattern: "headline",
            text: "Living, cohesive design language",
            size: "large",
          },
          {
            pattern: "button",
            width: "full",
            text: "View the pattern library",
            style: "secondary",
            url: "pattern-lab",
          }
        ]
        },
        {
          pattern: "card",
          contentItems: [
          {
            pattern: "image",
            lazyload: false,
            src: "/images/code2.jpg",
            ratio: false,
            placeholderImage: "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
            placeholderColor: "#8d8e99",
            srcset: "/images/code2.jpg"
          },
          {
            pattern: "eyebrow",
            text: "Docs"
          },
          {
            pattern: "teaser",
            headlines: [
            {
              type: "headline",
              text: "More efficiencies",
              size: "large"
            }
          ],
            buttons: [
            {
              text: "Get started with Bolt",
              style: "secondary",
              url: "/docs/getting-started/index.html",
            }
          ]
          }
        ]
        },
        {
          pattern: "card",
          contentItems: [
          {
            pattern: "image",
            lazyload: false,
            src: "/images/tested.jpg",
            ratio: false,
            placeholderImage: "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
            placeholderColor: "#8d8e99",
            srcset: "/images/tested.jpg"
          },
          {
            pattern: "eyebrow",
            text: "Docs"
          },
          {
            pattern: "teaser",
            headlines: [
            {
              type: "headline",
              text: "Tested, and trustworthy",
              size: "large"
            }
          ],
            buttons: [
            {
              text: "Visit the component docs",
              style: "secondary",
              url: "/docs/index.html",
            }
          ]
          }
        ]
        }
      ]
    } %}

    {% set availableComponents %}
      {% include "@bolt/headline.twig" with {
        text: "Bolt components",
        tag: "h2",
        size: "xxlarge"
      } only %}
      {% include "@bolt/subheadline.twig" with {
        tag: "h3",
        text: "Current available inventory of reusable components available within latest Bolt:",
        size: "xlarge"
      } only %}
      {% set listComponents = [
        { text: "@bolt/core" },
        { text: "@bolt/global" },
        { text: "@bolt/components-action-blocks" },
        { text: "@bolt/components-background" },
        { text: "@bolt/components-background-shapes" },
        { text: "@bolt/components-band" },
        { text: "@bolt/components-block-list" },
        { text: "@bolt/components-blockquote" },
        { text: "@bolt/components-breadcrumb" },
        { text: "@bolt/components-button" },
        { text: "@bolt/components-button-group" },
        { text: "@bolt/components-card" },
        { text: "@bolt/components-chip" },
        { text: "@bolt/components-chip-list" },
        { text: "@bolt/components-copy-to-clipboard" },
        { text: "@bolt/components-device-viewer" },
        { text: "@bolt/components-figure" },
        { text: "@bolt/components-form" },
        { text: "@bolt/components-headline" },
        { text: "@bolt/components-icon" },
        { text: "@bolt/components-image" },
        { text: "@bolt/components-link" },
        { text: "@bolt/components-logo" },
        { text: "@bolt/components-nav-bar" },
        { text: "@bolt/components-ordered-list" },
        { text: "@bolt/components-page-footer" },
        { text: "@bolt/components-page-header" },
        { text: "@bolt/components-share" },
        { text: "@bolt/components-sticky" },
        { text: "@bolt/components-teaser" },
        { text: "@bolt/components-tooltip" },
        { text: "@bolt/components-unordered-list" },
        { text: "@bolt/components-video" }
      ] %}
      {% if listComponents|length > 0 %}
        {% include "@bolt-components-chip-list/chip-list.twig" with {
          contentItems: listComponents
        } only %}
      {% endif %}
    {% endset %}
    {% include "@bolt-components-band/band.twig" with {
      content: availableComponents,
      theme: "xlight",
    } only %}

    {% set actionBlocks %}
      {% include "@bolt/headline.twig" with {
        text: "Let's get this show on the road!",
        tag: "h2",
        size: "xxlarge",
        align: "center"
      } only %}
      {% include "@bolt/subheadline.twig" with {
        tag: "h3",
        text: "Jump right in:",
        size: "xlarge",
        align: "center"
      } only %}
      {% include "@bolt-components-action-blocks/action-blocks.twig" with {
        contentItems: [
          {
            text: "Getting Started",
            url: "/docs/getting-started/index.html",
            icon: {
              name: "energy",
              size: "large",
              background: "circle"
            }
          },
          {
            text: "Configuration",
            url: "/docs/config/index.html",
            icon: {
              name: "info-open",
              size: "large",
              background: "circle"
            }
          },
          {
            text: "Concepts",
            url: "/docs/concepts/index.html",
            icon: {
              name: "data-integrations",
              size: "large",
              background: "circle"
            }
          },
          {
            text: "Guides",
            url: "/docs/guides/index.html",
            icon: {
              name: "robo-auto",
              size: "large",
              background: "circle"
            }
          },
          {
            text: "API",
            url: "/docs/api/index.html",
            icon: {
              name: "customer-decision-hub",
              size: "large",
              background: "circle"
            }
          }
        ]
      } only %}
    {% endset %}
    {% include "@bolt-components-band/band.twig" with {
      content: actionBlocks,
      theme: "xdark",
    } only %}

    {% set blockquoteContent %}
      {% include "@bolt-components-blockquote/blockquote.twig" with {
        alignItems: "center",
        border: "none",
        content: "<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>",
        author: {
          image: {
            src: "/images/500x500.jpg",
            placeholderImage: "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",
            placeholderColor: "#8d8e99",
            srcset: "/images/500x500.jpg",
            lazyload: false
          },
          name: "Salem Ghoweri",
          title: "Senior Front-End Architect, Design Systems at Pega"
        }
      } %}
    {% endset %}
    {% include "@bolt-components-band/band.twig" with {
      content: blockquoteContent,
      theme: "dark",
    } only %}

  </article>
{% endset %}
{% include 'site.twig' with {
  content: content,
} %}
