{% set schema = get_data('@bolt-components-block-list/block-list.schema.yml') %}

{% for theme in schema.properties.theme.enum %}
  <p>Theme: {{ theme }}</p>
  {% embed "@utils/theme-demo.twig" %}
    {% block demo_content %}
      {% include "@bolt-components-block-list/block-list.twig" with {
        "contentItems" : [
          include("@bolt-components-link/link.twig", {
            text: "Link 1",
            url: "#",
            icon: {
              name: "chevron-right",
              position: "before"
            }
          }),
          include("@bolt-components-link/link.twig", {
            text: "Link 2",
            url: "#",
            icon: {
              name: "chevron-right",
              position: "before"
            }
          }),
          include("@bolt-components-link/link.twig", {
            text: "Link 3",
            url: "#",
            icon: {
              name: "chevron-right",
              position: "before"
            }
          }),
          {
            "text": "Simple text example"
          }
        ]
      } %}
    {% endblock %}
  {% endembed %}
  <br>
{% endfor %}

