{% set scroll_to_top %}
  {% set icon_chevron_up %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'chevron-up',
    } only %}
  {% endset %}
  {% set icon_chevron_down %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'chevron-down',
    } only %}
  {% endset %}
  {% set tooltip_trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Scroll to top',
      hierarchy: 'tertiary',
      size: 'xsmall',
      icon_only: icon_chevron_up,
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: tooltip_trigger,
    content: 'Scroll to top',
  } only %}
{% endset %}
{% set download %}
  {% set icon_download %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'download',
    } only %}
  {% endset %}
  {% set tooltip_trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Download',
      hierarchy: 'tertiary',
      size: 'xsmall',
      icon_only: icon_download,
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: tooltip_trigger,
    content: 'Download PDF',
  } only %}
{% endset %}
{% set share %}
  {% set share_menu %}
    {% include '@bolt-components-share/share.twig' with {
      display: 'menu',
      size: 'small',
      sources: [
        {
          name: 'facebook',
          attributes: {
            href: 'https://www.facebook.com/sharer/sharer.php?u=https://google.com&amp;src=sdkpreparse'
          }
        },
        {
          name: 'twitter',
          attributes: {
            href: 'https://twitter.com/intent/tweet?url=https://google.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
          }
        },
        {
          name: 'linkedin',
          attributes: {
            href: 'https://www.linkedin.com/shareArticle?url=https://google.com'
          }
        },
        {
          name: 'email',
          attributes: {
            href: 'mailto:?&body=Sample%20Text%20--%20https%3A//mail.com'
          }
        }
      ],
      copy_to_clipboard: {
        text_to_copy: 'https://google.com',
      },
    } only %}
  {% endset %}
  {% set share_popover_trigger %}
    {% set icon_share %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'share',
      } only %}
    {% endset %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Share',
      hierarchy: 'tertiary',
      size: 'xsmall',
      icon_only: icon_share,
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-popover/popover.twig' with {
    trigger: share_popover_trigger,
    trigger_event: 'hover',
    content: share_menu,
    spacing: 'none',
  } only %}
{% endset %}
{% set suggest %}
  {% set icon_pencil %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'pencil',
    } only %}
  {% endset %}
  {% set tooltip_trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Suggest edit',
      hierarchy: 'tertiary',
      size: 'xsmall',
      icon_only: icon_pencil,
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: tooltip_trigger,
    content: 'Suggest edit',
  } only %}
{% endset %}
{% set state_select %}
  {% set label %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: '<strong>Current state</strong>',
      displayType: 'block',
      attributes: {
        for: 'state-select',
      },
    } only %}
  {% endset %}
  {% set select %}
    {% include '@bolt-components-form/form-select.twig' with {
      options: [
        {
          type: 'option',
          value: 'draft',
          label: 'Draft'
        },
        {
          type: 'option',
          value: 'sme-review',
          label: 'SME Review'
        },
        {
          type: 'option',
          value: 'editor-review',
          label: 'Editor Review'
        },
        {
          type: 'option',
          value: 'publisher-review',
          label: 'Publisher Review'
        },
        {
          type: 'option',
          value: 'pending-publication',
          label: 'Pending Publication'
        },
        {
          type: 'option',
          value: 'revision-requested',
          label: 'Revision Requested'
        },
        {
          type: 'option',
          value: 'published',
          label: 'Published',
          selected: true
        },
        {
          type: 'option',
          value: 'unpublished',
          label: 'Unpublished'
        },
      ],
      attributes: {
        id: 'state-select',
        name: 'state-select',
      },
    } only %}
  {% endset %}
  <form>
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      labelDisplay: 'before',
      children: select,
    } only %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Update state',
      size: 'small',
      display: 'block',
      attributes: {
        type: 'button'
      }
    } only %}
  </form>
{% endset %}

{% set holy_grail_content %}
  <bolt-stack spacing="large">
    {% set item_1 %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Community',
        attributes: {
          href: '#!'
        }
      } only %}
    {% endset %}
    {% set item_2 %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Documentations',
        attributes: {
          href: '#!'
        }
      } only %}
    {% endset %}
    {% set item_current %}
      Book title goes here
    {% endset %}

    {% include '@bolt-components-breadcrumb/breadcrumb.twig' with {
      contentItems: [
        item_1,
        item_2,
        item_current,
      ]
    } only %}
  </bolt-stack>
  <bolt-stack spacing="large">
    {% set updated_date %}
      <small><em>Updated on January 15, 2021</em></small>
    {% endset %}
    {% set article_content %}
      <header>
        <h1>Page title goes here</h1>
        {% include '@bolt-components-list/list.twig' with {
          display: 'inline',
          items: [
            share,
            download,
            suggest,
            updated_date,
          ],
        } only %}
        <p>Intro text. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore natus ipsum totam eius corrupti, aliquam iusto eligendi inventore corporis in. Mollitia sit eius esse architecto quis, praesentium quas soluta exercitationem!</p>
      </header>
      <section>
        <h2 id="section-one">Section One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero modi eaque placeat totam exercitationem, enim ullam ab aperiam beatae sunt nobis architecto nostrum, quos asperiores dolorem repellat qui velit ducimus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quaerat ullam velit, neque nobis necessitatibus doloribus, illum reprehenderit commodi optio exercitationem dolorum voluptatem alias officiis in error consectetur aliquid? Nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, inventore dolores velit omnis recusandae in incidunt fuga. Iusto repellat provident incidunt cumque deserunt et libero corrupti sed laborum id? Illo!</p>
      </section>
      <section>
        <h2 id="section-two">Section Two</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae.</p>
      </section>
      <section>
        <h2 id="section-three">Section Three</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, quidem aliquid obcaecati nesciunt aperiam natus, ut recusandae alias ab exercitationem eligendi cum dolores nam placeat, dolorem mollitia repudiandae doloribus provident? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa quaerat, sunt eaque eligendi numquam inventore voluptas recusandae quasi aliquid nostrum distinctio, autem magnam molestias hic laboriosam sequi quas, mollitia optio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, debitis facilis. Delectus veritatis voluptates beatae aliquam earum, tenetur sint cum deleniti? Cupiditate asperiores atque dolores, quo veritatis dolorem debitis ipsa.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus veniam reiciendis quis soluta amet error laboriosam non minima numquam est id officia repudiandae, accusantium vitae eligendi eveniet tenetur! Enim, dicta. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate unde praesentium similique maxime sit. Sed earum corrupti libero magni nostrum nobis ipsa, laudantium quas numquam ratione sint reprehenderit in atque.</p>
      </section>
      <section>
        <h2 id="section-four">Section Four</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae.</p>
      </section>
      <section>
        <h2 id="section-five">Section Five</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum inventore eum aspernatur, aliquam harum quia nobis eius vitae modi. Recusandae maxime tempore impedit at itaque odio, nam sapiente quae.</p>
      </section>
    {% endset %}
    {% include '@bolt-elements-article/article.twig' with {
      content: article_content,
      tag: 'div',
    } only %}
  </bolt-stack>
  <bolt-stack spacing="large">
    {% include '@bolt-components-content-pagination/content-pagination.twig' with {
      previous: {
        content: 'Previous topic',
        tooltip_content: 'Topic Title Goes Here',
        link_attributes: {
          href: 'https://google.com',
        },
      },
      next: {
        content: 'Next topic',
        tooltip_content: 'Topic Title Goes Here',
        link_attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
  </bolt-stack>
  <bolt-stack spacing="medium">
    {% set banner_content %}
      <bolt-stack spacing="medium">
        {% set icon %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'documentation',
          } only %}
        {% endset %}
        {% set article_1 %}
          {% include '@bolt-elements-text-link/text-link.twig' with {
            content: 'Configuring nodes for high availability',
            icon_before: icon,
            reversed_underline: true,
            attributes: {
              href: 'https://google.com',
            },
          } only %}
        {% endset %}
        {% set article_2 %}
          {% include '@bolt-elements-text-link/text-link.twig' with {
            content: 'Configuring application tier architecture for redundancy',
            icon_before: icon,
            reversed_underline: true,
            attributes: {
              href: 'https://google.com',
            },
          } only %}
        {% endset %}
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Related articles',
          size: 'small',
          tag: 'h3',
          attributes: {
            class: 'u-bolt-margin-bottom-xsmall',
          }
        } only %}
        {% include '@bolt-components-list/list.twig' with {
          separator: 'solid',
          items: [
            article_1,
            article_2,
          ],
        } only %}
      </bolt-stack>

      <bolt-stack spacing="medium">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Tags',
          size: 'small',
          tag: 'p',
          attributes: {
            class: 'u-bolt-margin-bottom-xsmall',
          }
        } only %}
        {% include '@bolt-components-chip-list/chip-list.twig' with {
          size: 'xsmall',
          truncate: 3,
          items: [
            {
              text: 'Beginner',
              url: '#!'
            },
            {
              text: 'User Interface',
              url: '#!'
            },
            {
              text: 'Pega Platform',
              url: '#!'
            },
            {
              text: 'Application Development',
              url: '#!'
            },
            {
              text: 'Case Management',
              url: '#!'
            },
            {
              text: 'Robotic Process Automation',
              url: '#!'
            },
            {
              text: 'Data Integration',
              url: '#!'
            },
          ]
        } only %}
      </bolt-stack>
    {% endset %}

    {% include "@bolt-components-banner/banner.twig" with {
      content: banner_content,
      align: 'start',
    } only %}
  </bolt-stack>
{% endset %}
{% set sidebar_content %}
  {% set icon_external_link %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'external-link',
    } only %}
  {% endset %}
  {% set level_9_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 9 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
  {% endset %}
  {% set level_9_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_9_items,
    } only %}
  {% endset %}
  {% set level_8_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 8 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_9_list,
    } only %}
  {% endset %}
  {% set level_8_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_8_items,
    } only %}
  {% endset %}
  {% set level_7_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 7 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_8_list,
    } only %}
  {% endset %}
  {% set level_7_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_7_items,
    } only %}
  {% endset %}
  {% set level_6_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 6 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_7_list,
    } only %}
  {% endset %}
  {% set level_6_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_6_items,
    } only %}
  {% endset %}
  {% set level_5_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 5 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_6_list,
    } only %}
  {% endset %}
  {% set level_5_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_5_items,
    } only %}
  {% endset %}
  {% set level_4_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 4 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_5_list,
    } only %}
  {% endset %}
  {% set level_4_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_4_items,
    } only %}
  {% endset %}
  {% set level_3_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 3 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_4_list,
    } only %}
  {% endset %}
  {% set level_3_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_3_items,
    } only %}
  {% endset %}
  {% set level_2_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 2 page',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_3_list,
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 2 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
  {% endset %}
  {% set level_2_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_2_items,
    } only %}
  {% endset %}
  {% set level_1_items %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page (with nested links)',
        attributes: {
          href: 'https://google.com',
        },
      },
      children: level_2_list,
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page (current)',
        attributes: {
          href: 'https://google.com',
        },
      },
      current: true,
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 page',
        attributes: {
          href: 'https://google.com',
        },
      },
    } only %}
    {% include '@bolt-components-side-nav/side-nav-li.twig' with {
      link: {
        content: 'Level 1 external link',
        icon: icon_external_link,
        attributes: {
          href: 'https://google.com',
          target: '_blank',
          rel: 'noopener',
        },
      },
    } only %}
  {% endset %}
  {% set level_1_list %}
    {% include '@bolt-components-side-nav/side-nav-ul.twig' with {
      content: level_1_items,
    } only %}
  {% endset %}

  {% set form_children %}
    <div class="u-bolt-margin-bottom-xsmall">
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Name',
          displayType: 'floating',
        } only %}
      {% endset %}
      {% set input %}
        {% include('@bolt-components-form/form-select.twig') with {
          title: 'Select',
          options: [
            {
              type: 'option',
              value: 'book-1',
              label: 'Book or Release Title',
            },
            {
              type: 'option',
              value: 'book-2',
              label: 'Another Book or Release with Long Title',
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}
    </div>
    <div class="u-bolt-margin-bottom-medium">
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Version',
          displayType: 'floating',
        } only %}
      {% endset %}
      {% set input %}
        {% include('@bolt-components-form/form-select.twig') with {
          title: 'Select',
          options: [
            {
              type: 'option',
              value: 'version-8-5',
              label: '8.5',
            },
            {
              type: 'option',
              value: 'version-8-6',
              label: '8.6',
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: input,
      } only %}
    </div>
  {% endset %}
  {% include '@bolt-components-form/form.twig' with {
    children: form_children,
    attributes: {
      class: [
        'u-bolt-padding-right-small',
        'u-bolt-padding-left-small',
      ],
    },
  } only %}

  {% include '@bolt-components-side-nav/side-nav.twig' with {
    content: level_1_list,
  } only %}
{% endset %}
{% set secondary_sidebar_content %}
  {% include '@bolt-components-toc/toc.twig' with {
    variant: 'transparent',
    header: 'On this page',
    items: [
      {
        text: 'Section One',
        url: '#section-one',
      },
      {
        text: 'Section Two',
        url: '#section-two',
      },
      {
        text: 'Section Three',
        url: '#section-three',
      },
      {
        text: 'Section Four',
        url: '#section-four',
      },
      {
        text: 'Section Five',
        url: '#section-five',
      },
    ],
    scrollOffset: 16,
    scrollOffsetSelector: '.c-bolt-page-header',
  } only %}
{% endset %}

{% set site_header %}
  {% include '@pl/_demo-pega-docs-page-header.twig' %}
{% endset %}
{% set site_main %}
  {% set holy_grail_sidebar %}
    {% include '@bolt-layouts-holy-grail/holy-grail-sidebar.twig' with {
      content: sidebar_content,
      trigger_icon: 'documentation',
      trigger_label: 'Book Navigation',
      attributes: {
        class: 't-bolt-gray-xlight',
      },
    } only %}
  {% endset %}
  {% set holy_grail_secondary_sidebar %}
    {% include '@bolt-layouts-holy-grail/holy-grail-secondary-sidebar.twig' with {
      content: secondary_sidebar_content,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-holy-grail/holy-grail.twig' with {
    content: holy_grail_content,
    sidebar: holy_grail_sidebar,
    secondary_sidebar: holy_grail_secondary_sidebar,
  } only %}
{% endset %}
{% set site_footer %}
  <footer>
    <bolt-banner status="warning">
      <p>Footer placeholder.</p>
    </bolt-banner>
  </footer>
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  header: site_header,
  main: {
    content: site_main,
    attributes: {
      id: 'main-content',
    }
  },
  footer: site_footer,
} only %}
