/* ------------------------------------ *\
   Buttons
\* ------------------------------------ */
@import '@bolt/settings-global';
@import '@bolt/tools-button-color';
@import '@bolt/tools-font-size';
@import '@bolt/tools-font-weight';
@import '@bolt/tools-spacing';
@import '@bolt/tools-no-select';

$bolt-color-button-text: bolt-color(white);
$bolt-color-primary: bolt-color(blue);
$bolt-color-secondary: bolt-color(blue);

$bolt-color--shadow: bolt-color(black);

$bolt-shadow: 0 0.04rem 0.15rem rgba($bolt-color--shadow, 0.5);
$bolt-shadow--raised:
  $bolt-shadow,
  0 0.35rem 0.6rem rgba($bolt-color--shadow, 0.18);

$bolt-transition: ease-in-out 200ms;
$bolt-border-radius: 3px;
$bolt-border-width--button: 1px;

@mixin bolt-reset-button-styles {
  @include bolt-padding(0);
  @include bolt-font-family(body);

  border: none;
  background: none;
}

// Placeholder for colors.
@mixin bolt-link-color {
  &:link {
    color: var(--bolt-color-secondary, $bolt-color-secondary);
  }

  &:visited {
    color: var(--bolt-color-secondary, inherit);
  }

  &:hover {
    color: var(--bolt-color-secondary, mix(white, $bolt-color-secondary, 35%));
  }

  &:active {
    color: var(--bolt-color-secondary, $bolt-color-secondary);
  }
}

@mixin bolt-button-color($hiarchy) {
  @if $hiarchy == 'primary' {
    &,
    &:visited {
      color: var(--bolt-color-button-text, $bolt-color-button-text);
      border-color: var(--bolt-color-primary, $bolt-color-primary);
      background-color: var(--bolt-color-primary, $bolt-color-primary);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: var(--bolt-color-primary, mix(white, $bolt-color-primary, 15%));
      background-color: var(--bolt-color-primary, mix(white, $bolt-color-primary, 15%));
      box-shadow: $bolt-shadow--raised;
    }

    &:active {
      border-color: var(--bolt-color-primary, mix(black, $bolt-color-primary, 25%));
      background-color: var(--bolt-color-primary, mix(black, $bolt-color-primary, 25%));
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow--raised;
    }
  }

  @elseif $hiarchy == 'secondary' {
    &,
    &:visited {
      color: var(--bolt-color-primary, $bolt-color-primary);
      border-color: var(--bolt-color-button-text, $bolt-color-button-text);
      background-color: var(--bolt-color-button-text, $bolt-color-button-text);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 2%));
      background-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 2%));
      box-shadow: $bolt-shadow--raised;
    }

    &:active {
      border-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 15%));
      background-color: var(--bolt-color-button-text, mix(black, $bolt-color-button-text, 15%));
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow--raised;
    }
  }

  @elseif $hiarchy == 'tertiary' {
    &,
    &:visited {
      color: var(--bolt-color-secondary, $bolt-color-secondary);
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
    }

    &:hover {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
    }

    &:active {
      border-color: transparent;
      background-color: transparent;
    }

    &:focus {
      box-shadow: none;
    }

    &:focus:hover {
      box-shadow: none;
    }
  }

  @elseif $hiarchy == 'success' {
    &,
    &:visited {
      color: bolt-color(white);
      border-color: bolt-color(success);
      background-color: bolt-color(success);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: bolt-color(success, dark);
      background-color: bolt-color(success, dark);
      box-shadow: $bolt-shadow;
    }

    &:active {
      border-color: bolt-color(success, dark);
      background-color: bolt-color(success, dark);
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow;
    }
  }

  @elseif $hiarchy == 'warning' {
    &,
    &:visited {
      color: bolt-color(black);
      border-color: bolt-color(warning);
      background-color: bolt-color(warning);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: bolt-color(warning, dark);
      background-color: bolt-color(warning, dark);
      box-shadow: $bolt-shadow;
    }

    &:active {
      border-color: bolt-color(warning, dark);
      background-color: bolt-color(warning, dark);
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow;
    }
  }

  @elseif $hiarchy == 'error' {
    &,
    &:visited {
      color: bolt-color(white);
      border-color: bolt-color(error);
      background-color: bolt-color(error);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: bolt-color(error, dark);
      background-color: bolt-color(error, dark);
      box-shadow: $bolt-shadow;
    }

    &:active {
      border-color: bolt-color(error, dark);
      background-color: bolt-color(error, dark);
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow;
    }
  }

  @elseif $hiarchy == 'disabled' {
    &,
    &:visited {
      color: bolt-color(gray);
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
      box-shadow: $bolt-shadow;
    }

    &:hover {
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
      box-shadow: $bolt-shadow;
    }

    &:active {
      border-color: bolt-color(gray, light);
      background-color: bolt-color(gray, light);
    }

    &:focus {
      box-shadow: $bolt-shadow;
    }

    &:focus:hover {
      box-shadow: $bolt-shadow;
    }
  }
}

@mixin bolt-button {
  @include bolt-reset-button-styles;
  @include bolt-no-select;
  @include bolt-font-weight(semibold);

  display: inline-block;
  @supports (display: flex) {
    display: inline-flex;
    justify-content: center;
  }

  text-align: center;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-style: solid;
  border-width: $bolt-border-width--button;
  border-radius: $bolt-border-radius;
  transition: all $bolt-transition;

  &:hover {
    transform: translate3d(0, -1px, 0);
  }

  &:active {
    transform: translate3d(0, 0, 0);
  }

  > * {
    display: inline-flex;
    align-self: center;
  }
}


// Button colors

.c-bolt-button {
  @include bolt-button;
}

.c-bolt-button,
.c-bolt-button--primary {
  @include bolt-button-color(primary);
}

.c-bolt-button--secondary {
  @include bolt-button-color(secondary);
}

.c-bolt-button--tertiary {
  @include bolt-button-color(tertiary);
}

.c-bolt-button--success {
  @include bolt-button-color(success);
}

.c-bolt-button--warning {
  @include bolt-button-color(warning);
}

.c-bolt-button--error {
  @include bolt-button-color(error);
}

.c-bolt-button--disabled {
  @include bolt-button-color(disabled);

  cursor: not-allowed;
}


// Button sizes

.c-bolt-button,
.c-bolt-button--medium {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--xsmall {
  @include bolt-padding(xsmall, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--small {
  @include bolt-padding(small, squished);
  @include bolt-font-size(xsmall);
}

.c-bolt-button--large {
  @include bolt-padding(medium, squished);
  @include bolt-font-size(medium);
}

.c-bolt-button--xlarge {
  @include bolt-padding(large, squished);
  @include bolt-font-size(large);
}


// Button widths

.c-bolt-button--full {
  width: 100%;
}

.c-bolt-button--full\@small {
  @media screen and (max-width: map-get($bolt-breakpoints, small)) {
    width: 100%;
  }
}


// Button content

.c-bolt-button__text + .c-bolt-button__icon {
  @include bolt-margin-left(xsmall);
}

.c-bolt-button__icon {
  width: 1em;
  height: 1em;

  svg {
    width: 1em;
    height: auto;
    fill: currentColor;
  }
}

.c-bolt-button__icon + .c-bolt-button__text {
  @include bolt-margin-left(xsmall);
}



// Button group
.c-bolt-button-group {
  display: flex;

  > * + * {
    @include bolt-margin-left(xsmall);
  }
}

.c-bolt-button-group--even {
  > * {
    flex: 1;
  }
}

@mixin bolt-button-group--stacked {
  flex-wrap: wrap;

  > * {
    @include bolt-margin(0, horizontal);

    flex: none;
    width: 100%;

    &:not(:last-child) {
      @include bolt-margin-bottom(xsmall);
    }
  }
}

.c-bolt-button-group--stacked {
  @include bolt-button-group--stacked;
}

.c-bolt-button-group--stacked\@bp-xsmall {
  @media screen and (max-width: map-get($bolt-breakpoints, xsmall)) {
    @include bolt-button-group--stacked;
  }
}


// Links

.c-bolt-link {
  @include bolt-reset-button-styles;
  @include bolt-link-color;

  text-decoration: underline;
  transition: all $bolt-transition;
}
