{% embed "@bolt-components-card/_card-structure-current.twig" with {
  horizontal: true,
  theme: "xlight",
  link_url: cardUrl,
} %}
  {% block media %}
    {% include "@academy/_icon-banner.twig" with {
      gradient: cardGradient
    } %}
  {% endblock %}

  {% block body %}
    {# <div class="c-bolt-card__overflow-menu c-bolt-card__overflow-menu--top c-bolt-card__overflow-menu--right">
      <bolt-overflow-menu
        flip-menu
        label="Oveflow menu"
        tip-position="left"
        tip-alignment="center"
      >
        <bolt-overflow-menu-item>list item 1</bolt-overflow-menu-item>
        <bolt-overflow-menu-item>list item 2</bolt-overflow-menu-item>
        <bolt-overflow-menu-item>list item 3</bolt-overflow-menu-item>
      </bolt-overflow-menu>
    </div> #}

    <div class="u-bolt-overflow-hidden">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--border" %}
        {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
          {% include "@bolt-components-headline/eyebrow.twig" with {
            text: cardSubtitle,
          } only %}
          {% include "@bolt-components-headline/headline.twig" with {
            text: cardTitle,
            size: "xlarge",
            attributes: {
              class: "u-bolt-margin-bottom-small",
            }
          } only %}
          {% include "@bolt-components-list/list.twig" with {
            display: "inline",
            separator: "solid",
            items: [
              include("@bolt-components-headline/text.twig", {
                size: "small",
                weight: "bold",
                text: "9 topics",
              }, with_context = false),
              include("@bolt-components-headline/text.twig", {
                size: "small",
                weight: "bold",
                text: "Completed",
                icon: {
                  name: "check-solid",
                  position: "before"
                },
                attributes: {
                  style: [
                    'color: #3C9439;'
                  ]
                }
              }, with_context = false),
            ]
          } %}
        {% endcell %}

        {% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
          {% include "@bolt-components-headline/text.twig" with {
            text: cardDescription | default("Card description goes here"),
            size: "small",
            attributes: {
              class: [
                "u-bolt-padding-top-xsmall@small",
                "u-bolt-padding-bottom-xsmall@small",
              ]
            }
          } only %}
        {% endcell %}
      {% endgrid %}
    </div>
  {% endblock %}

{% endembed %}
