/* ------------------------------------ *\
  COLOR UTILITIES
\* ------------------------------------ */

@import '@bolt/core'; // We need this for including within shadowDOM

// Color utility classes
@each $color in $bolt-colors {
  $colorName: nth($color, 1);
  $colorValue: nth($color, 2);

  .u-bolt-color-#{$colorName} {

    // @include bolt-color($colorName, $colorShade, important);
    // [Salem]: fix this
    color: convert-color(boltData('colors.#{$colorName}')) !important; /* stylelint-disable-line */
  }
}
