
.u-bolt-static {
  position: static !important;
}

.u-bolt-fixed {
  position: fixed !important;
}

.u-bolt-absolute {
  position: absolute !important;
}

.u-bolt-relative {
  position: relative !important;
}

.u-bolt-sticky {
  position: sticky !important;
}
