/* ------------------------------------ *\
  #VISUALLY HIDDEN UTILITIES
\* ------------------------------------ */
@import '~@bolt/core/styles/index.scss';

.u-bolt-visuallyhidden {
  @include bolt-visuallyhidden(important);
}
