/* ------------------------------------ *\
   Text decoration utils
\* ------------------------------------ */

.u-bolt-text-decoration-none {
  text-decoration: none !important;
}

.u-bolt-text-decoration-underline {
  text-decoration: underline !important;
}

.u-bolt-text-decoration-line-through {
  text-decoration: line-through !important;
}
