/* ------------------------------------ *\
   Spacing Utilities
\* ------------------------------------ */

@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);

  // Four directions
  .u-bolt-padding-#{$size-name} {
    padding: var(--bolt-spacing-y-#{$size-name})
      var(--bolt-spacing-x-#{$size-name}) !important;
  }

  .u-bolt-margin-#{$size-name} {
    margin: var(--bolt-spacing-y-#{$size-name})
      var(--bolt-spacing-x-#{$size-name}) !important;
  }

  // Responsive four directions
  @each $breakpoint in $bolt-breakpoints {
    $breakpoint-name: nth($breakpoint, 1);

    @include bolt-mq(#{$breakpoint-name}) {
      .u-bolt-padding-#{$size-name}\@#{$breakpoint-name} {
        padding: var(--bolt-spacing-y-#{$size-name})
          var(--bolt-spacing-x-#{$size-name}) !important;
      }

      .u-bolt-margin-#{$size-name}\@#{$breakpoint-name} {
        margin: var(--bolt-spacing-y-#{$size-name})
          var(--bolt-spacing-x-#{$size-name}) !important;
      }
    }
  }

  // One direction
  @each $direction in $bolt-spacing-direction-system {
    $axis: '';

    @if $direction != top and $direction != bottom {
      $axis: 'x';
    } @else {
      $axis: 'y';
    }

    .u-bolt-padding-#{$direction}-#{$size-name} {
      padding-#{$direction}: var(
        --bolt-spacing-#{$axis}-#{$size-name}
      ) !important;
    }

    .u-bolt-margin-#{$direction}-#{$size-name} {
      margin-#{$direction}: var(
        --bolt-spacing-#{$axis}-#{$size-name}
      ) !important;
    }

    .u-bolt-negative-margin-#{$direction}-#{$size-name} {
      margin-#{$direction}: calc(
        var(--bolt-spacing-#{$axis}-#{$size-name}) * -1
      ) !important;
    }

    // Responsive one direction
    @each $breakpoint in $bolt-breakpoints {
      $breakpoint-name: nth($breakpoint, 1);

      @include bolt-mq(#{$breakpoint-name}) {
        .u-bolt-padding-#{$direction}-#{$size-name}\@#{$breakpoint-name} {
          padding-#{$direction}: var(
            --bolt-spacing-#{$axis}-#{$size-name}
          ) !important;
        }

        .u-bolt-margin-#{$direction}-#{$size-name}\@#{$breakpoint-name} {
          margin-#{$direction}: var(
            --bolt-spacing-#{$axis}-#{$size-name}
          ) !important;
        }
      }
    }
  }
}

/**
 * Extra options not in the spacing system
 */
$bolt-spacing-system-extras: (
  'none': 0,
  'auto': auto,
);

@each $size in $bolt-spacing-system-extras {
  $size-name: nth($size, 1);
  $size-value: nth($size, 2);

  .u-bolt-margin-#{$size-name} {
    margin: $size-value !important;
  }

  .u-bolt-padding-#{$size-name} {
    padding: $size-value !important;
  }

  @each $direction in $bolt-spacing-direction-system {
    $axis: '';

    @if $direction != top and $direction != bottom {
      $axis: 'x';
    } @else {
      $axis: 'y';
    }

    .u-bolt-padding-#{$direction}-#{$size-name} {
      padding-#{$direction}: $size-value !important;
    }

    .u-bolt-margin-#{$direction}-#{$size-name} {
      margin-#{$direction}: $size-value !important;
    }

    @each $breakpoint in $bolt-breakpoints {
      $breakpoint-name: nth($breakpoint, 1);

      @include bolt-mq(#{$breakpoint-name}) {
        .u-bolt-padding-#{$direction}-#{$size-name}\@#{$breakpoint-name} {
          padding-#{$direction}: $size-value !important;
        }

        .u-bolt-margin-#{$direction}-#{$size-name}\@#{$breakpoint-name} {
          margin-#{$direction}: $size-value !important;
        }
      }
    }
  }
}

/**
 * @todo: [Mai] deprecate these sizeless names.
 */
.u-bolt-margin {
  /* stylelint-disable-next-line */
  @extend .u-bolt-margin-medium;
}

.u-bolt-padding {
  /* stylelint-disable-next-line */
  @extend .u-bolt-padding-medium;
}

@each $direction in $bolt-spacing-direction-system {
  .u-bolt-margin-#{$direction} {
    /* stylelint-disable-next-line */
    @extend .u-bolt-margin-medium;
  }

  .u-bolt-padding-#{$direction} {
    /* stylelint-disable-next-line */
    @extend .u-bolt-padding-medium;
  }
}
