/* ------------------------------------ *\
  Z INDEX MIXIN
  see `_settings-z-index.scss`
\* ------------------------------------ */

$indexes: map-get($bolt-z-indexes, 'sets');

@each $key, $value in $indexes {
  $prefix: map-get($bolt-z-indexes, 'utility-class-prefix');

  .#{$prefix}#{$key} {
    @include bolt-z-index($key, $utility: true);
  }
}
