
.u-bolt-align-baseline {
  vertical-align: baseline !important;
}

.u-bolt-align-top {
  vertical-align: top !important;
}

.u-bolt-align-middle {
  vertical-align: middle !important;
}

.u-bolt-align-bottom {
  vertical-align: bottom !important;
}

.u-bolt-align-text-top {
  vertical-align: text-top !important;
}

.u-bolt-align-text-bottom {
  vertical-align: text-bottom !important;
}