<div class="e-bolt-wrapper">
  {% embed "@bolt-components-card/card.twig" with {
    items: [
      {
        pattern: "eyebrow",
        text: "Video"
      },
      {
        pattern: "headline",
        tag: "h3",
        size: "large",
        text: "Anthem: Service Desktop"
      },
      {
        pattern: "text",
        text: "Anthem debuts its next-generation service desktop, driving frictionless customer experiences."
      },
      {
        pattern: "button",
        text: "Get the report",
        url: "https://google.com",
      }
    ]
  } only %}
    {% block card_media %}
      {% include "@bolt-components-carousel/carousel.twig" with {
        slides: [
          '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-dark-tall.jpg)"></bolt-ratio>',
          '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-dark-tall.jpg)"></bolt-ratio>',
          '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-dark-tall.jpg)"></bolt-ratio>',
          '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-light-tall.jpg)"></bolt-ratio>',
        '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-dark-tall.jpg)"></bolt-ratio>',
          '<bolt-ratio ratio="16/9" style="--aspect-ratio: 16/9; background-size: cover; background-image:url(/images/placeholders/backgrounds/background-dark-tall.jpg)"></bolt-ratio>',
        ],
        slidesPerView: 1,
        spaceBetween: "small",
        noPagination: true,
        navButtonPosition: "inside",
      } only %}
    {% endblock %}
  {% endembed %}
</div>
