<div class="e-bolt-wrapper">
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Recommended for you",
    size: "large"
  } only %}
  {% set eyebrow_1 %}
    {% include "@bolt-components-headline/eyebrow.twig" with {
      text: "Keynote",
    } only %}
  {% endset %}
  {% set headline_1 %}
    {% include "@bolt-components-headline/headline.twig" with {
      text: "Empathetic AI—The Evolution of AI for Business",
      url: "#!",
      icon: {
        name: "chevron-right"
      }
    } only %}
  {% endset %}
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      [
        eyebrow_1,
        headline_1,
      ]|join,
      [
        eyebrow_1,
        headline_1,
      ]|join,[
        eyebrow_1,
        headline_1,
      ]|join,[
        eyebrow_1,
        headline_1,
      ]|join,
    ],
    spaceBetween: "medium",
    navButtonPosition: "outside",
    attributes: {
      style: "padding-left: 4rem;
        margin-left: -4rem;
        margin-right: -4rem;
        padding-right: 4rem;
        min-width: calc(100% + 8rem);
      ",
    }
  } only %}
</div>
