<div class="o-bolt-wrapper">
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("@bolt-components-link/link.twig", {
        text: "Configure platform authentication with the basic credentials authentication service type (8.2)",
        url: "#!",
        is_headline: true,
      }),
      include("@bolt-components-link/link.twig", {
        text: "System Administration",
        url: "#!",
        is_headline: true,
      }),
      include("@bolt-components-link/link.twig", {
        text: "Eliminate manual tasks with the improved import experience",
        url: "#!",
        is_headline: true,
      }),
      include("@bolt-components-link/link.twig", {
        text: "Enhance keystore maintenance by using dynamic data",
        url: "#!",
        is_headline: true,
      }),
      include("@bolt-components-headline/headline.twig", {
        text: "Improve your system security by regenerating the master key",
        url: "#!",
        size: "medium",
      }),
    ],
    slidesPerView: 2,
    loop: true,
    spaceBetween: "small",
    noMinWidth: true,
    noPagination: true,
    navButtonPosition: "outside",
  } only %}
</div>
