/* ==========================================================================
   #BARE-LIST
   ========================================================================== */

/**
 * The bare-list object simply remove default bullets and spacing.
 */

@include add-module(
  $name:    'objects.bare-list',
  $version: '1.0.0',
  $dependencies: ()
);

.o-bare-list,
%o-bare-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
