/**
 * Add imports here
 */

.c-base-notifications__list {
  @include bolt-vertical-scroll;

  max-height: 80vh;
  margin: 0;
  padding: 0;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xsmall);
  font-weight: var(--bolt-type-font-weight-semibold);
  list-style: none;
  color: var(--m-bolt-text);
  line-height: var(--bolt-type-line-height-xsmall);
  background-color: var(--m-bolt-bg);
}

.c-base-notifications__list-item {
  display: grid;
  position: relative;
  margin: 0;
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
  grid-template-columns: auto 1fr;
  grid-gap: var(--bolt-spacing-x-small);
  // background-color: rgba(bolt-color(navy, light), 0.12);

  & + #{&} {
    border-top: 1px solid var(--m-bolt-border);
  }

  &:first-of-type {
    border-top: 0;
  }
}

.c-base-notifications__list-item--read {
  // background-color: transparent;

  .c-base-notifications__signifier {
    color: var(--m-bolt-neutral);
  }

  .c-base-notifications__content__eyebrow,
  .c-base-notifications__content__timestamp,
  .c-base-notifications__content__message {
    font-weight: var(--bolt-type-font-weight-regular);
    color: var(--m-bolt-neutral);
  }

  .c-base-notifications__content__timestamp:after {
    display: none;
  }
}

.c-base-notifications__list-item--section-heading {
  &,
  * {
    font-family: var(--bolt-type-font-family-headline);
    font-size: var(--bolt-type-font-size-small);
    font-weight: var(--bolt-type-font-weight-semibold);
    color: var(--m-bolt-neutral);
    line-height: var(--bolt-type-line-height-small);
  }
}

.c-base-notifications__signifier {
  color: var(--m-bolt-link);
}

.c-base-notifications__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--bolt-spacing-x-xsmall);
  row-gap: var(--bolt-spacing-y-xsmall);

  > * {
    font-weight: inherit;
  }
}

.c-base-notifications__content__eyebrow,
.c-base-notifications__content__timestamp {
  font-family: var(--bolt-type-font-family-headline);
  color: var(--m-bolt-link);
}

.c-base-notifications__content__eyebrow {
  white-space: nowrap;
}

.c-base-notifications__content__timestamp {
  &:after {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: var(--bolt-spacing-x-xxsmall);
    line-height: 1;
    border-radius: bolt-border-radius(full);
    box-shadow: 0 0 0 3px var(--m-bolt-border);
    background-color: var(--m-bolt-link);
  }
}

.c-base-notifications__content__message {
  width: 100%;
  color: inherit;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &:before {
    right: 0;
  }

  &:after {
    opacity: 0;
    width: 3px;
    background-color: var(--m-bolt-link);
    transition: opacity var(--bolt-transition);

    @at-root .c-base-notifications__content:hover #{&} {
      opacity: 1;
    }
  }

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }
}

.c-base-notifications__content__message__callout {
  color: var(--m-bolt-link);

  @at-root .c-base-notifications__content:hover #{&} {
    text-decoration: underline;
  }
}

.c-base-notifications__header,
.c-base-notifications__footer {
  padding: var(--bolt-spacing-y-small) var(--bolt-spacing-x-small);
}

.c-base-notifications__header {
  display: grid;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xsmall);
  font-weight: var(--bolt-type-font-weight-semibold);
  line-height: var(--bolt-type-line-height-xsmall);
  border-bottom: 1px solid var(--m-bolt-border);
  grid-template-columns: 1fr auto;
}

.c-base-notifications__header__actions {
  display: flex;
  gap: var(--bolt-spacing-x-xsmall);
}

.c-base-notifications__header__actions__icon-button {
  @include bolt-button-native-styles-reset;
  @include bolt-text-link;

  display: block;
  text-decoration: none;

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }
}

.c-base-notifications__footer {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-small);
  font-weight: var(--bolt-type-font-weight-semibold);
  line-height: var(--bolt-type-line-height-small);
  text-align: center;
  border-top: 1px solid var(--m-bolt-border);
}

.c-bolt-switch-button {
  display: inline-flex;
  gap: var(--bolt-spacing-x-xsmall);
  align-items: center;
}

.c-bolt-switch-button__button {
  @include bolt-button-native-styles-reset;

  display: inline-flex;
  position: relative;
  width: 3rem;
  color: var(--m-bolt-text-on-disabled);
  border-radius: bolt-border-radius(full);
  background-color: var(--m-bolt-disabled);
  transition: color var(--bolt-transition),
    background-color var(--bolt-transition);

  &:focus {
    outline: var(--bolt-focus-ring);
    outline-offset: 2px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    bottom: 0.25rem;
    width: calc(50% - 0.5rem);
    border-radius: inherit;
    background-color: var(--bolt-color-white);
    transition: all var(--bolt-transition);
  }

  &[aria-checked='true'] {
    color: var(--bolt-color-white);
    background-color: var(--bolt-color-success);

    &:after {
      right: 0.25rem;
    }

    .c-bolt-switch-button__button-text--unchecked {
      visibility: hidden;
    }
  }

  &[aria-checked='false'] {
    &:after {
      left: 0.25rem;
    }

    .c-bolt-switch-button__button-text--checked {
      visibility: hidden;
    }
  }
}

.c-bolt-switch-button__button-text {
  display: grid;
  place-items: center;
  flex: 1;
  height: 1.5rem;
  font-family: var(--bolt-type-font-family-body);
  font-size: var(--bolt-type-font-size-xxsmall);
  font-weight: var(--bolt-type-font-weight-semibold);
  line-height: 1.5rem;
  text-align: center;
}

.c-bolt-switch-button__button-text--checked {
  padding-left: 0.25rem;
}

.c-bolt-switch-button__button-text--unchecked {
  padding-right: 0.25rem;
}
