/**
 * Add imports here
 */

.c-notification-tag-manager {
  padding-top: var(--bolt-spacing-y-medium);
}

.c-notification-tag-manager__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--bolt-spacing-x-medium);
  background: rgb(62, 103, 187);
  background: linear-gradient(
    90deg,
    rgba(62, 103, 187, 1) 0%,
    rgba(16, 165, 172, 1) 100%
  );

  .c-bolt-headline {
    color: var(--bolt-color-white);
  }
}

.c-notification-tag-manager__modal-body {
  @include bolt-mq(medium) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: var(--bolt-spacing-x-medium);
  }
}

.c-notification-tag-manager__nav {
  display: flex;
  justify-content: space-between;
  padding: var(--bolt-spacing-y-medium) 0;
}

.c-notification-tag-manager__modal-footer {
  padding: var(--bolt-spacing-x-medium);
  text-align: center;
}
