<div class="demo-calculator-icon-container">
  <!-- Copy this markup for the calculator icon -->
  <div class="calculator__icon">
    <span>&#43;</span>
    <span>&#8722;</span>
    <span>&#215;</span>
    <span>&#247;</span>
  </div>
  <!-- Copy this markup for the calculator icon -->
</div>
