{% set _content %}
    <bolt-text eyebrow font-weight="bold">
      Billboard Eyebrow
    </bolt-text>
    <bolt-text headline tag="h1" font-size="xxxlarge">
      Billboard Title
    </bolt-text>
    <bolt-text>
      Et in dolor qui dolore irure magna tempor ex esse non.
    </bolt-text>
    <a href="https://pega.com" class="e-bolt-button">
      Nulla
    </a>
  </bolt-layout-item>
{% endset %}

{% set layout_items %}
  {% include '@bolt-layouts-layout/layout-item.twig' with {
    content: _content,
    attributes: {
      class: 'u-bolt-text-align-center'
    }
  } only %}
{% endset %}

{% include '@bolt-layouts-layout/layout.twig' with {
  content: layout_items,
  gutter: 'large',
  row_gutter: 'large',
  padding_top: 'large',
  padding_bottom: 'large',
  valign_items: 'center',
  align_items: 'center',
  template: [
    '67'
  ],
  attributes: {
    class: 't-bolt-dark'
  }
} only %}
