<bolt-banner status="warning" align="start" class="u-bolt-margin-top-large">
  <bolt-text headline>Warning! The Ratio component is deprecated.</bolt-text>
  <bolt-ol>
    <bolt-li>No new features will be added to this component.</bolt-li>
    <bolt-li>See each page under Components/Ratio section in the navigation to reference old documentation.</bolt-li>
    <bolt-li>For any new instances of a ratio please use the <a href="{{ link['viewall-elements-ratio'] }}" class="e-bolt-text-link"> Ratio element</a>.</bolt-li>
  </bolt-ol>
</bolt-banner>
