{% set description %}
  Floating action buttons (FAB) are a list of fixed positioned buttons placed on the right side of the screen.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>One or many action buttons can be used.</bolt-li>
    <bolt-li>The most common use case is a &ldquo;back to top&rdquo; button.</bolt-li>
    <bolt-li>When using a <a href="link['viewall-elements-button']">Button element</a> as FAB, it is recommended to use an icon-only button with tooltip. Set <code>placement</code> of tooltip to <code>left</code> to avoid clashing with other buttons.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set icon_external_link %}
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'external-link',
    } only %}
  {% endset %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'View full page demo',
    icon_after: icon_external_link,
    attributes: {
      href: link['components-floating-action-buttons-demo'],
      target: '_blank',
      rel: 'noopener'
    }
  } only %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{# Assemble the button(s) as list item(s) #}
{% set scroll_to_top_button %}
  {% set trigger %}
    {% set icon_chevron_up %}
      {% include '@bolt-components-icon/icon.twig' with {
        name: 'chevron-up',
      } only %}
    {% endset %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Back to top',
      border_radius: 'full',
      icon_only: icon_chevron_up,
      attributes: {
        href: '#main-content',
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    content: 'Back to top',
    placement: 'left',
    trigger: trigger,
  } only %}
{% endset %}
{% set fab_list_items %}
  {% include '@bolt-components-floating-action-buttons/floating-action-buttons-li.twig' with {
    content: scroll_to_top_button,
  } only %}
{% endset %}

{# Pass the list items into the list template #}
{% set fab_list %}
  {% include '@bolt-components-floating-action-buttons/floating-action-buttons-ul.twig' with {
    content: fab_list_items,
  } only %}
{% endset %}

{# Pass the list into the main template #}
{% include '@bolt-components-floating-action-buttons/floating-action-buttons.twig' with {
  content: fab_list,
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic floating action buttons',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
