<div class="pl-c-main">
    <div class="pl-c-pattern-index">
        <h3>Dynamic display</h3>
        <p>(block on small, inline on medium, large and full)</p>
        <bolt-list display="inline@small" spacing="small" separator="dashed">
            <bolt-list-item>
                Item 1
            </bolt-list-item>
            <bolt-list-item>
                Item 2
            </bolt-list-item>
            <bolt-list-item>
                Item 3
            </bolt-list-item>
            <bolt-list-item>
                Item 4
            </bolt-list-item>
            <bolt-list-item last>
                Item 5
            </bolt-list-item>
        </bolt-list>

        <h3>Display inline</h3>
        <bolt-list display="inline" spacing="small" separator="dashed">
            <bolt-list-item>
              Item 1
            </bolt-list-item>
            <bolt-list-item>
              Item 2
            </bolt-list-item>
            <bolt-list-item>
              Item 3
            </bolt-list-item>
            <bolt-list-item>
              Item 4
            </bolt-list-item>
            <bolt-list-item last>
              Item 5
            </bolt-list-item>
        </bolt-list>

        <h3>Display Block</h3>
        <bolt-list display="block" spacing="small" separator="dashed">
            <bolt-list-item>
              Item 1
            </bolt-list-item>
            <bolt-list-item>
              Item 2
            </bolt-list-item>
            <bolt-list-item>
              Item 3
            </bolt-list-item>
            <bolt-list-item>
              Item 4
            </bolt-list-item>
            <bolt-list-item last>
              Item 5
            </bolt-list-item>
        </bolt-list>
    </div>
</div>

