<h3>Inline list of different items</h3>
{% include "@bolt-components-list/list.twig" with {
  display: "inline",
  items: [
    "Item 1",
    include("@bolt-components-link/link.twig", {
      text: "Item 2",
      href: "#!",
    }),
    include("@bolt-components-chip/chip.twig", {
      text: "Item 3",
      url: "#!",
    }),
    include("@bolt-components-button/button.twig", {
      text: "Item 4",
      url: "#!",
      size: "small",
    }),
    "Item 5",
    "Item 6",
    "Item 7",
    "Item 8",
    "Item 9",
    "Item 10",
    "Item 11",
  ]
} only %}
<h3>Inline list of chips</h3>
{% include "@bolt-components-list/list.twig" with {
  display: "inline",
  items: [
    include("@bolt-components-chip/chip.twig", {
      text: "Item 1",
      url: "#!",
    }),
    include("@bolt-components-chip/chip.twig", {
      text: "Item 2",
      url: "#!",
    }),
    include("@bolt-components-chip/chip.twig", {
      text: "Item 3",
      url: "#!",
    }),
  ]
} only %}
<h3>Inline list of buttons</h3>
{% include "@bolt-components-list/list.twig" with {
  display: "inline",
  items: [
    include("@bolt-components-button/button.twig", {
      text: "Item 1",
      url: "#!",
      style: "primary",
    }),
    include("@bolt-components-button/button.twig", {
      text: "Item 2",
      url: "#!",
      style: "secondary",
    }),
    include("@bolt-components-button/button.twig", {
      text: "Item 3",
      url: "#!",
      style: "text",
    }),
  ]
} only %}
