{% set schema = bolt.data.components["@bolt-components-list"].schema %}

{% for display in schema.properties.display.enum %}
  <h3>{{ display|capitalize }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: display,
    items: [
      include("@bolt-components-link/link.twig", {
        text: "Link 1",
        url: "#!",
      }),
      include("@bolt-components-link/link.twig", {
        text: "Link 2",
        url: "#!",
      }),
      include("@bolt-components-link/link.twig", {
        text: "Link 3",
        url: "#!",
      }),
    ]
  } only %}
{% endfor %}
