{% set schema = bolt.data.components["@bolt-components-list"].schema %}

{% for display in schema.properties.display.enum %}
  <h3>{{ display|capitalize }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: display,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "xsmall",
      }),
    ]
  } only %}
{% endfor %}

<h3>inline@breakpoint</h3>
<p><mark>This display option means a block list transforming to inline at a specific breakpoint.</mark></p>
