{% set schema = bolt.data.components["@bolt-components-list"].schema %}

{% for display in schema.properties.display.enum %}
  <h3>{{ display|capitalize }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: display,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "xsmall",
      }),
    ]
  } only %}
{% endfor %}

<h3>Flex without placeholders</h3>
{% include "@bolt-components-list/list.twig" with {
  display: "flex",
  spacing: "none",
  separator: "solid",
  align: "center",
  items: [
    "Placeholder 1",
     "Placeholder 2",
     "Placeholder 3",
     "1",
     "Placeholder",
     "Item 3",
     "Dummy text for testing purpes",
     "Werylongonewordtocheckhowitwillbehave",
     "Place 3",
     "Holder 1",
  ]
} only %}
