{% set schema = bolt.data.components["@bolt-components-list"].schema %}

{% for spacing in schema.properties.spacing.enum %}
  <h3>Inline list with spacing ({{ spacing }})</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "inline",
    spacing: spacing,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "xsmall",
      }),
    ]
  } only %}
  <h3>Block list with spacing ({{ spacing }})</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "block",
    spacing: spacing,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "xsmall",
      }),
    ]
  } only %}
  <h3>Flex list with spacing ({{ spacing }})</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "flex",
    spacing: spacing,
    items: [
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 1",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 2",
        size: "xsmall",
      }),
      include("@bolt-components-placeholder/placeholder.twig", {
        text: "Placeholder 3",
        size: "xsmall",
      }),
    ]
  } only %}
{% endfor %}
