{% set schema = bolt.data.components["@bolt-components-list"].schema %}

{% for spacing in schema.properties.spacing.enum %}
  <h3>Inset with {{ spacing }} spacing</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "block",
    spacing: spacing,
    separator: "solid",
    inset: true,
    items: [
      include("@bolt-components-link/link.twig", {
        text: "Item 1",
        url: "#!",
        icon: {
          name: "chevron-right",
          position: "before"
        },
      }),
      include("@bolt-components-link/link.twig", {
        text: "Item 2",
        url: "#!",
        icon: {
          name: "chevron-right",
          position: "before"
        },
      }),
      include("@bolt-components-link/link.twig", {
        text: "Item 3",
        url: "#!",
        icon: {
          name: "chevron-right",
          position: "before"
        },
      }),
    ]
  } only %}
{% endfor %}
