{% set schema = bolt.data.components["@bolt-components-list"].schema %}

<p><mark>Use the semantically correct tag based on the context of your page layout.</mark></p>

{% for tag in schema.properties.tag.enum %}
  <h3>{{ tag }}</h3>
  {% include "@bolt-components-list/list.twig" with {
    display: "inline",
    tag: tag,
    items: [
      include("@bolt-components-link/link.twig", {
        text: "Item 1",
        href: "#!",
      }),
      include("@bolt-components-link/link.twig", {
        text: "Item 2",
        href: "#!",
      }),
      include("@bolt-components-link/link.twig", {
        text: "Item 3",
        href: "#!",
      }),
    ]
  } only %}
{% endfor %}
