////
/// @group animations
////

/// Fade in
/// See [example in Pattern Lab](../../pattern-lab/public/?p=base-fade-in)
/// Give element an HTML attribute of `data-anim-trigger="view"` to have `data-anim-triggered='yes'`, which should trigger the animation, applied when scrolled into view.
/// @param $base [false] - Apply to element to prep.
/// @param $active [false] - Apply when element should transition
@mixin anim-fade-in($base: false, $active: false) {
  @if $base {
    transition: opacity $trans-opacity;
    opacity: 0;
    transform: translateZ(0);
    will-change: opacity;
  }
  @if $active {
    opacity: 1;
  }
}

/// Fade in utility class
/// Give element an HTML attribute of `data-anim-trigger="view"` to have `data-anim-triggered='yes'`, which should trigger the animation, applied when scrolled into view.
.js .u-anim-fade-in {
  @include anim-fade-in($base: true);
  // stylelint-disable selector-max-specificity
  &[data-anim-trigger='hover']:hover, // just for demos
  // stylelint-enable selector-max-specificity
  &[data-anim-triggered='yes'] {
    @include anim-fade-in($active: true);
  }
}
