/* ------------------------------------ *\
  Basic Table Elements
\* ------------------------------------ */
table {
  // @include null-spacing;

  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

thead,
tfoot {
  white-space: nowrap;
}

th,
td {
  @include bolt-font-size(small);
  // @include mm-padding(($font-leading--tight/2 + rem),($gutter/2 + rem),($font-leading--tight/2 + rem),($gutter/2 + rem));
  // @include text-align(left);
}

thead th,
tfoot td {
  @include bolt-font-family(heading);
  @include bolt-font-weight(bold);
}

td {
  // @include border(top);

  vertical-align: top;
}
