@each $property in $bolt-spacing-properties {
  @for $i from 1 through length($bolt-spacing-directions) {
    $direction: nth($bolt-spacing-directions, $i);

    @each $type in $bolt-spacing-types {
      @each $size, $value in $bolt-spacing-sizes {

        $sizeText: $size;

        @if ($direction != null and $direction != '') {
          $type: null;
          $sizeText: '-' + $size;
        }

        .u-#{$property}#{$direction}#{$sizeText}#{$type} {

          $sizes: null null null null;

          $size-index: index($bolt-spacing-directions, $direction);

          @if ($direction != null) {
            $sizes: set-nth($sizes, $size-index - 1, $size);
          } @else {
            // @debug #{$property}#{$direction}#{$size}#{$type};
            $sizes: $size $size $size $size;
          }

          $normalizedSizes: _bolt-normalize-spacing-sizes($sizes, null);
          //

          @include _bolt-directional-property(#{$property}, false, $normalizedSizes, important);
          // @debug $i - 1;


          // @debug $list;



          //@include #{$property}#{$direction}($size, $type, important);
        }
      }
    }
  }
}
