{% set bolt_brand_colors = get_data('@bolt-assets/bolt-brand-colors.data.json').boltBrandColors %}

<div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--small">
  {% for colorName, palette in bolt_brand_colors %}
    {% include "@bolt/_color-swatch.twig" with {
      color_swatch: {
        colorName: colorName,
        palette: palette
      }
    } %}
  {% endfor %}
</div>
