{% extends "@bolt/default-template.twig" %}

{% block main_content %}

{% set bandContent %}
{% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--large o-bolt-grid--matrix" %}


      {% cell "u-bolt-width-1/1 u-bolt-width-2/3@small" %}
        {% include "@bolt/eyebrow.twig" with {
          text: bolt.version
        } only %}

        {% include "@bolt/headline.twig" with {
          text: "Bolt Design System",
          tag: "h1",
          size: "xxxlarge"
        } only %}

        {% include "@bolt/subheadline.twig" with {
          tag: "h2",
          text: "Bolt provides tools, patterns, services, and guidelines that systematically improve quality, timeliness, and consistency to the Pega ecosystem so that you can focus on what really matters.",
          size: "xxlarge"
        } only %}

        {% include "@bolt/button.twig" with {
          text: "Explore the System",
          url: "/styleguide/html/styleguide.html",
          style: "primary"
        } %}

      {% endcell %}


      {% cell "u-bolt-width-1/1 u-bolt-width-1/3@small" %}
        <ul class="o-bolt-ui-list">
          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Speed",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "Design and develop faster.",
              size: "medium"
            } only %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Stable",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "Predictable, automated testing coverage, and scalable.",
              size: "medium"
            } only %}
          </li>

          <li class="o-bolt-ui-list__item">
            {% include "@bolt/headline.twig" with {
              text: "Stunning",
              size: "small",
              tag: "h3"
            } only %}
            {% include "@bolt/text.twig" with {
              text: "On brand, consistent, elegant.",
              size: "medium"
            } only %}
          </li>
        </ul>
      {% endcell %}
    {% endgrid %}
  {% endset %}

  {% include "@bolt/band.twig" with {
    size: "large",
    full: true,
    content: bandContent
  } %}
{% endblock %}
