<div style="background: #000000; height: 562px; padding: 40px; width: 100%;">
{% include '@bolt-components-self-drawing-circle/self-drawing-circle.twig' with {
  dashSize: 6,
  speed: 40,
} only %}
</div>
