<bolt-table format="regular">
  <table class="c-bolt-table">
    <thead class="c-bolt-table__head">
    <tr class="c-bolt-table__row">
      <td class="c-bolt-table__cell"></td>
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="col">
        Column 1
      </th>
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="col">
        Column 2
      </th>
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="col">
        Column 3
      </th>
    </tr>
    </thead>
    <tbody class="c-bolt-table__body">
    <tr class="c-bolt-table__row">
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="row">
        Row 1
      </th>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R1C1
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R1C2
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R1C3
      </td>
    </tr>
    <tr class="c-bolt-table__row">
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="row">
        Row 2
      </th>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R2C1
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R2C2
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R2C3
      </td>
    </tr>
    <tr class="c-bolt-table__row">
      <th class="c-bolt-table__cell c-bolt-table__cell--header" scope="row">
        Row 3
      </th>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R3C1
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R3C2
      </td>
      <td class="c-bolt-table__cell c-bolt-table__cell--data">
        R3C3
      </td>
    </tr>
    </tbody>
  </table>
</bolt-table>
