{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12 u-bolt-width-6/12@medium" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as card_replacement_code %}

{% macro image() %}
  <bolt-card-replacement-media>
    <bolt-image src="/images/placeholders/landscape-16x9-mountains.jpg" alt="card-replacement media."></bolt-image>
  </bolt-card-replacement-media>
{% endmacro %}

{% macro body() %}
  <bolt-card-replacement-body>
    <bolt-text eyebrow>This is an eyebrow</bolt-text>
    <bolt-text headline>This is a headline</bolt-text>
    <bolt-text>This is a paragraph.</bolt-text>
  </bolt-card-replacement-body>
{% endmacro %}

{% macro body_clickable() %}
  <bolt-card-replacement-body>This is a card-replacement with an overall link that makes the whole card-replacement clickable.</bolt-card-replacement-body>
{% endmacro %}

{% macro body_with_link() %}
  <bolt-card-replacement-body>
    This is a card-replacement with an overall link that makes the whole card-replacement clickable, while the body can still have <a target="_blank" href="https://boltdesignsystem.com/docs" class="e-bolt-text-link">text links</a> that would go somewhere else.
  </bolt-card-replacement-body>
{% endmacro %}

{% macro actions() %}
  <bolt-card-replacement-actions>
    <bolt-card-replacement-action url="https://pega.com">Internal link</bolt-card-replacement-action>
    <bolt-card-replacement-action url="https://yahoo.com" external>External link</bolt-card-replacement-action>
    <bolt-card-replacement-action url="https://yahoo.com" icon="download">Download Icon</bolt-card-replacement-action>
    <bolt-card-replacement-action url="https://yahoo.com" icon="none">No Icon</bolt-card-replacement-action>
  </bolt-card-replacement-actions>
{% endmacro %}

{% set card_replacement_web_component_demo %}
<bolt-card-replacement>
{% include card_replacement_code.image() %}
{% include card_replacement_code.body() %}
{% include card_replacement_code.actions() %}
</bolt-card-replacement>
{% endset %}

{% set simple_link_demo %}
<bolt-card-replacement url="https://google.com" url-text="Go to google.com">
{% include card_replacement_code.image() %}
{% include card_replacement_code.body_clickable() %}
</bolt-card-replacement>
{% endset %}

{% set advanced_link_demo %}
<bolt-card-replacement>
  <bolt-card-replacement-link custom-attribute="foo" html-attribute="bar">
    <a href="http://google.com" target="_blank">Go to google.com</a>
  </bolt-card-replacement-link>
{% include card_replacement_code.image() %}
{% include card_replacement_code.body_clickable() %}
</bolt-card-replacement>
{% endset %}

{% set nested_links_demo %}
<bolt-card-replacement url="http://google.com">
  <bolt-card-replacement-media>
    <bolt-ratio ratio="16/9">
      <video-js data-account="1900410236" data-player="O3FkeBiaDz" data-embed="default" data-video-id="3974147489001" controls class="c-base-video"></video-js>
    </bolt-ratio>
  </bolt-card-replacement-media>
{% include card_replacement_code.body_with_link() %}
{% include card_replacement_code.actions() %}
</bolt-card-replacement>
{% endset %}


<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Text is a web component, you can simply use
    <code>&lt;bolt-card-replacement&gt;</code>
    in the markup to make it render. Its inner content is comprised of
    <code>&lt;bolt-card-replacement-media&gt;</code>,
    <code>&lt;bolt-card-replacement-body&gt;</code>, and
    <code>&lt;bolt-card-replacement-actions&gt;</code>.
  </bolt-text>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: card_replacement_web_component_demo,
    lang: 'html',
    mode: 'dark',
  } only %}

  <bolt-text headline>
    Simple Link Usage
  </bolt-text>
  <bolt-text>
    The simplest way to make the whole card-replacement clickable is by passing a link address to the
    <code>url</code>
    prop on the main
    <code>&lt;bolt-card-replacement&gt;</code>
    component itself. Also include the
    <code>url-text</code>
    prop for accessibility.
  </bolt-text>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: simple_link_demo,
    lang: 'html',
    mode: 'dark',
  } only %}

  <bolt-text headline>
    Advanced Link Usage
  </bolt-text>
  <bolt-text>
    Insert a
    <code>&lt;bolt-card-replacement-link&gt;</code>
    inside
    <code>&lt;bolt-card-replacement&gt;</code>
    and you can pass more than just
    <code>url</code>.
    <code>&lt;bolt-card-replacement-link&gt;</code>
    is similar to
    <code>&lt;bolt-link&gt;</code>. You can add custom attributes to
    <code>&lt;bolt-card-replacement-link&gt;</code>
    and insert a semantic
    <code>&lt;a&gt;</code>
    or
    <code>&lt;button&gt;</code>
    element inside.
  </bolt-text>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: advanced_link_demo,
    lang: 'html',
    mode: 'dark',
  } only %}

  <bolt-text headline>
    Nested Links
  </bolt-text>
  <bolt-text>
    While making the whole card-replacement clickable, you are still able to insert nested links as needed. Any
    <code>&lt;bolt-link&gt;</code>,
    <code>&lt;bolt-card-replacement-link&gt;</code>, and
    <code>&lt;bolt-card-replacement-action&gt;</code>
    will work as expected.
  </bolt-text>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: nested_links_demo,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>
