<h2>Space between: None</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
  ],
  space_between: "none"
} only %}

<h2>Space between: Small</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
  ],
  space_between: "small"
} only %}

<h2>Space between: Medium (Default)</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
  ],
  space_between: "medium"
} only %}

<h2>Space between: large</h2>
{% include "@bolt-components-carousel/carousel.twig" with {
  slides: [
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
    include("_carousel-slide-content.twig"),
  ],
  space_between: "large"
} only %}

