{% set notes %}
  <bolt-ol>
    <bolt-li>The <code>content</code> is already rendered inside a <code>&lt;main&gt;</code> element, do not pass another <code>&lt;main&gt;</code> element to the prop.</bolt-li>
    <bolt-li>The <code>header</code> and <code>footer</code> are freeform, the props are expecting <code>&lt;header&gt;</code> and <code>&lt;footer&gt;</code> elements repectively.</bolt-li>
    <bolt-li>The site layout must only contain <code>&lt;header&gt;</code>, <code>&lt;main&gt;</code>, and <code>&lt;footer&gt;</code> as immediate children. No additional elements can be a child.</bolt-li>
    <bolt-li>This is the replacement for the <code>.c-bolt-site</code> class.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  {% set header %}
    <header class="t-bolt-dark u-bolt-padding-small">
      This is the header.
    </header>
  {% endset %}
  {% set main_content %}
    <div class="u-bolt-padding-small">
      This is the main content. The site layout is at least 100% of viewport height and the footer is always positioned on the bottom.
    </div>
  {% endset %}
  {% set footer %}
    <footer class="t-bolt-dark u-bolt-padding-small">
      This is the footer.
    </footer>
  {% endset %}
  {% include '@bolt-layouts-site/site.twig' with {
    header: header,
    main: {
      content: main_content,
    },
    footer: footer,
    attributes: {
      class: 't-bolt-light',
    },
  } only %}
{% endset %}

{% set twig_markup %}
{% verbatim %}
{% include '@bolt-layouts-site/site.twig' with {
  header: '<header>This is the header.</header>',
  main: {
    content: 'This is the main content.',
    attributes: {
      id: 'main-content',
    }
  },
  footer: '<footer>This is the footer.</footer>',
} only %}
{% endverbatim %}
{% endset %}

{% set html_markup %}
{% verbatim %}
<div class="l-bolt-site">
  <header>
    // This is the header
  </header>
  <main id="main-content">
    // This is the main content
  </main>
  <footer>
    // This is the footer
  </footer>
</div>
{% endverbatim %}
{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Site Layout',
  description: 'Site layout renders the header, main, and footer landmarks of a page.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup,
} only %}
