<div class="u-bolt-padding t-bolt-{{ theme }}">
  <h3>This elements look like button beacuse of a class <code>e-bolt-button</code> and its variations. They don't have any states like <code>:hover</code> or <code>:active</code> which belongs to <code>a</code> and <code>button</code> semantic elements.</h3>
  <span class="e-bolt-button">This is not a button nor a link</span>
  <span class="e-bolt-button e-bolt-button--secondary">This is not a button nor a link</span>
  <span class="e-bolt-button e-bolt-button--tertiary">This is not a button nor a link</span>
  <span class="e-bolt-button e-bolt-button--transparent">This is not a button nor a link</span>
  <span class="e-bolt-button e-bolt-button--icon-only">
    <span class="e-bolt-button__icon-center"><svg enable-background="new 0 0 32 32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m18 13.9v-11.8c0-1.2-.9-2.1-2-2.1s-2 .9-2 2.1v11.8h-11.1c-1.1 0-2 .9-2 2.1s.9 2.1 2 2.1h11.1v11.8c0 1.2.9 2.1 2 2.1s2-.9 2-2.1v-11.8h11.1c1.1 0 2-.9 2-2.1s-.9-2.1-2-2.1z" fill="white" fill-rule="evenodd"/></svg></span>
  </span>

  <hr>

  <a href="#" class="e-bolt-button">This is a true href with states clsses</a>
  <button type="button" class="e-bolt-button">This is a true button withstates classes</button>
</div>
