<div style="max-width: 400px; padding: 40px">
  <h2>Animations</h2>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--spin"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <p>Spin (Hover to see effect)</p>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--spin-delay"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <p>Spin and Delay (Hover to see effect)</p>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--quickly"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <p>Spin Quickly (Hover to see effect)</p>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--active"><strong>Spinning</strong> (Hover to see effect)</div>
  </div>
  <p>Spin Active</p>
</div>
