<div style="max-width: 400px; padding: 40px">
  <h4>Zoom In</h4>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--zoom-in"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <h4>Zoom In and Down</h4>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--zoom-in-down"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <h4>Zoom In and Left</h4>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--zoom-in-left"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <h4>Heart Beat</h4>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--heart-beat"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
  <h4>Spin</h4>
  <div style="border: dashed 1px lime;">
    <div class="demo-animated-slider demo-animated-slider--spin"><strong>Extra Fast</strong> (Hover to see effect)</div>
  </div>
</div>

