/* ------------------------------------ *\
   Band
\* ------------------------------------ */

@import '@bolt/core-v3.x';

// Custom element styles, some are neccessary for the video background
// @todo: remove any unnecessary styles when `isBackgroundVideo` is removed in Bolt v3.0
bolt-band {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

// Component styles
.c-bolt-band {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 0;
  transition: min-height var(--bolt-transition); // Do not transition band widths
}

.c-bolt-band--full-bleed {
  @include bolt-full-bleed;
}

$bolt-band-sizes: (
  'xsmall': var(--bolt-spacing-y-small),
  'small': var(--bolt-spacing-y-medium),
  'medium': var(--bolt-spacing-y-large),
  'large': var(--bolt-spacing-y-xlarge),
);

.c-bolt-band--valign-start {
  align-items: flex-start;
}

.c-bolt-band--valign-center {
  align-items: center;
}

.c-bolt-band--valign-end {
  align-items: flex-end;
}

@each $size in $bolt-band-sizes {
  $size-name: nth($size, 1);
  $size-value: nth($size, 2);

  .c-bolt-band--#{$size-name} {
    padding-top: $size-value;
    padding-bottom: $size-value;

    .c-bolt-band__content--pinned {
      min-height: $size-value;
    }

    .c-bolt-band__content--pinned-upper {
      margin-top: calc(#{$size-value} * -1);
    }

    .c-bolt-band__content--pinned-lower {
      margin-bottom: calc(#{$size-value} * -1);
    }
  }
}

// Band content
.c-bolt-band__content {
  position: relative;
  width: 100%;
}

.c-bolt-band__content--pinned {
  display: flex;

  > * {
    width: 100%;
  }

  &-upper {
    align-items: flex-start;
  }

  &-lower {
    align-items: flex-end;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .c-bolt-band__content--pinned {
    display: table; // Table display is used to make this work in IE.

    > * {
      display: table-cell;
    }

    &-upper {
      > * {
        vertical-align: top;
      }
    }

    &-lower {
      > * {
        vertical-align: bottom;
      }
    }
  }
}

// Items inside pinned content
.c-bolt-band__pinned-items {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--bolt-spacing-y-small) calc(var(--bolt-spacing-x-small) * -1 / 2);
}

.c-bolt-band__pinned-item {
  padding: var(--bolt-spacing-y-small) calc(var(--bolt-spacing-x-small) / 2);
  line-height: 1;

  // Align modifiers are only needed if there's only one item.
  &--start:only-child {
    margin-right: auto;
    margin-left: 0;
  }

  &--end:only-child {
    margin-right: 0;
    margin-left: auto;
  }

  &--center:only-child {
    margin-right: auto;
    margin-left: auto;
  }
}
