/**
  * @define c-bolt-band
  */
@import '~@bolt/core/styles/index.scss';

.c-bolt-band {
  display: block;
  min-height: 0;
  transition: all 0.3s ease;
}


.c-bolt-band__content {
  position: relative; //Needed for absolutely positioned inner elements, like the background component.
}


.c-bolt-band--large {
  @include bolt-padding-top(xlarge);
  @include bolt-padding-bottom(xlarge);
}

.c-bolt-band--medium {
  @include bolt-padding-top(large);
  @include bolt-padding-bottom(large);
}

.c-bolt-band--small {
  @include bolt-padding-top(medium);
  @include bolt-padding-bottom(medium);
}

.c-bolt-band--xsmall {
  @include bolt-padding-top(xsmall);
  @include bolt-padding-bottom(xsmall);
}

.c-bolt-band--full {
  @include bolt-full-bleed;
}


bolt-band {
  display: block;
  display: flex; // So children increase in height
  width: 100%;
  transition: all 0.3s ease;
  max-height: none;
  min-height: 0;
  transform: translate3d(0, 0, 0);
  will-change: height, min-height;
  height: 100%;

  &.is-expanded {
    min-height: 56.25vh;
  }
}
