/* ------------------------------------ *\
   Cards
\* ------------------------------------ */

@import '@bolt/tools-color-palette';
@import '@bolt/tools-spacing';

$bolt-card-shadow: $bolt-shadow--small;
$bolt-card-shadow--hover: $bolt-shadow--large;
$bolt-card-border-width: $bolt-border-width;
$bolt-card-border-style: $bolt-border-style;
$bolt-card-border-color: currentColor; // TODO: needs to map this to theme text color at 0.1 opacity.
$bolt-card-border-radius: $bolt-border-radius;
$bolt-card-transition: $bolt-transition;
$bolt-card-translate--hover: $bolt-translate-raised--large;
$bolt-card-translate--active: $bolt-translate-none;




bolt-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; //If used in a flex box container, grow to fill available space.
}

.c-bolt-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; //If used in a flex box container, grow to fill available space.
  position: relative;
  color: currentColor;
  border-radius: $bolt-card-border-radius;
  box-shadow: $bolt-card-shadow;
  background-color: rgba(bolt-color(white), 0.5);
  transform: translate3d(0, 0, 0) scale(1, 1);
  transition: transform 0.2s ease-in-out;

  &:before, &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
    border-radius: $bolt-card-border-radius;
    z-index: -1;
  }

  &:before {
    background-color: var(--bolt-color-background, bolt-color(white)); // TODO: needs to map this to theme background color.
    opacity: 0.2;
  }

  &:after {
    box-shadow: $bolt-card-shadow--hover;
    opacity: 0;
    transition: opacity $bolt-card-transition;
  }

  &.is-actionable {
    // TODO: This class needs to be added when the entire card is clickable.
    &:hover, &:focus {
      transform: $bolt-card-translate--hover;

      &:after {
        opacity: 1;
      }
    }

    &:active {
      transform: $bolt-card-translate--active;

      &:after {
        opacity: 0;
      }
    }
  }
}

.c-bolt-card__media {
  position: relative;
  overflow: hidden;
  /* stylelint-disable-next-line */
  font-size: 0;
  border-top-right-radius: $bolt-card-border-radius;
  border-top-left-radius: $bolt-card-border-radius;
}

.c-bolt-card__body {
  @include bolt-padding(medium);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.c-bolt-card__footer {
  position: relative;
  display: flex;

  &:before {
    content: '';
    border-top-color: var(--bolt-color-border, currentColor);
    border-top-width: $bolt-card-border-width;
    border-top-style: solid;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
  }
}

.c-bolt-card__footer-item {
  &:not(:only-child) {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    position: relative;
    text-align: center;
    color: currentColor;
  }

  &:only-child {
    width: 100%;
  }
}

.c-bolt-card__footer-item + .c-bolt-card__footer-item:before {
  display: block;
  content: '';
  border-left-color: var(--bolt-color-border, currentColor);
  border-left-width: $bolt-card-border-width;
  border-left-style: solid;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
}
