<section id="item-alignment">
  <ul>
    <li>
      <label>
        <div><strong><small>Horizontal align</small></strong></div>
        <select>
          <option value="start">start</option>
          <option value="center">center</option>
          <option value="end">end</option>
          <option value="justify">justify</option>
        </select>
      </label>
    </li>
    <li>
      <label>
        <div><strong><small>Vertical align</small></strong></div>
        <select>
          <option value="start">start</option>
          <option value="center">center</option>
          <option value="end">end</option>
          <option value="justify">justify</option>
        </select>
      </label>
    </li>
  </ul>
</section>
<a href="#item-alignment">Item alignment</a>
