<section id="animation">
  <ram>
    <div>
      <label>
        <div><strong><small>Entrance animation</small></strong></div>
        <select>
          <option>Bounce</option>
          <option selected>Fade</option>
          <option>Slide</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Animation direction</small></strong></div>
        <select>
          <option>Regular</option>
          <option>Up</option>
          <option>Right</option>
          <option>Bottom</option>
          <option>Left</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Animation duration</small></strong></div>
        <select>
          <option>Regular</option>
          <option>Short</option>
          <option>Long</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Animation delay</small></strong></div>
        <select>
          <option>None</option>
          <option>Short</option>
          <option>Long</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Loading behavior</small></strong></div>
        <select>
          <option>On page load</option>
          <option>On scroll</option>
        </select>
      </label>
    </div>
  </ram>
</section>
<a href="#animation">Animation</a>
