<section id="overrides">
  <ul>
    <li style="margin-bottom: 2rem;">
      <h4>Spacing Overrides</h4>
      <div class="c-drupal-admin-ui__grid">
        <label>
          <div><strong><small>Margin-top</small></strong></div>
          <select name="margin-top">
            <option value="None">None</option>
            <option value="xxsmall">xxsmall</option>
            <option value="xsmall">xsmall</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="xlarge">xlarge</option>
            <option value="xxlarge">xxlarge</option>              
            <option value="xxxlarge">xxxlarge</option>
          </select>
        </label>
        <label>
          <div><strong><small>Margin-right</small></strong></div>
          <select name="margin-right">
            <option value="None">None</option>
            <option value="xxsmall">xxsmall</option>
            <option value="xsmall">xsmall</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="xlarge">xlarge</option>
            <option value="xxlarge">xxlarge</option>              
            <option value="xxxlarge">xxxlarge</option>
          </select>
        </label>
        <label>
          <div><strong><small>Margin-bottom</small></strong></div>
          <select name="margin-bottom">
            <option value="None">None</option>
            <option value="xxsmall">xxsmall</option>
            <option value="xsmall">xsmall</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="xlarge">xlarge</option>
            <option value="xxlarge">xxlarge</option>              
            <option value="xxxlarge">xxxlarge</option>
          </select>
        </label>
        <label>
          <div><strong><small>Margin-left</small></strong></div>
          <select name="margin-left">
            <option value="None">None</option>
            <option value="xxsmall">xxsmall</option>
            <option value="xsmall">xsmall</option>
            <option value="small">small</option>
            <option value="medium">medium</option>
            <option value="large">large</option>
            <option value="xlarge">xlarge</option>
            <option value="xxlarge">xxlarge</option>              
            <option value="xxxlarge">xxxlarge</option>
          </select>
        </label>
      </div>
    </li>
    <li>
      <h4>Additional Attributes</h4>
      <div class="c-drupal-admin-ui__info">
        <div indented>
          <i><svg viewBox="0 0 512 512" width="100" title="info-circle"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" /></svg></i> Note: HTML and aria attributes are allowed.
        </div>
      </div>
      <div class="c-drupal-admin-ui__grid">
        <div>
          <label>
            <div><strong><small>Attribute name</small></strong></div>
            <input type="text" placeholder="id, class, etc.">
          </label>
        </div>
        <div>
          <label>
            <div><strong><small>Attribute value</small></strong></div>
            <input type="text">
          </label>
        </div>
      </div>
      <p>
        <a href="#!"><small>+ Add another attribute</small></a>
      </p>
    </li>
  </ul>
</section>
<a href="#overrides" style="border-bottom: 1px solid lightgray">Overrides</a>
