<section id="item-options-tabs">
  <ul>
    <li>
      <details>
        <summary>Item 1</summary>
        <ul>
          <li>
            <label>
              <div><strong><small>Label</small></strong></div>
              <input type="text">
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="default-tab"> <small>Expand this item on page load.</small>
            </label>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details open>
        <summary>Item 2</summary>
        <ul>
          <li>
            <label>
              <div><strong><small>Label</small></strong></div>
              <input type="text">
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="default-tab" checked> <small>Expand this item on page load.</small>
            </label>
          </li>
        </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>Item 3</summary>
        <ul>
          <li>
            <label>
              <div><strong><small>Label</small></strong></div>
              <input type="text">
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="default-tab"> <small>Expand this item on page load.</small>
            </label>
          </li>
        </ul>
      </details>
    </li>
  </ul>
</section>
<a href="#item-options-tabs">Item options</a>
