  <section id="visual">
    <ul>
      <li>
        <div class="c-drupal-admin-ui__grid">
          <label>
            <div><strong><small>Spacing</small></strong></div>
            <select>
              <option value="none">none</option>
              <option value="xsmall">xsmall</option>
              <option value="small">small</option>
              <option value="medium" selected>medium</option>
              <option value="large">large</option>
            </select>
          </label>
          <label>
            <div><strong><small>Chevron icon vertical alignment</small></strong></div>
            <select>
              <option value="top">top</option>
              <option value="center">center</option>
            </select>
          </label>
        </div>
      </li>
      <li>
        <label>
          <input type="checkbox"> <small>Add box shadow around the whole accordion.</small>
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox"> <small>Hide the separator in between items.</small>
        </label>
      </li>
    </ul>
  </section>
  <a href="#visual">Visual</a>
