<section id="icon-after-text">
  <info>
    <div indented>
      <i><svg viewBox="0 0 512 512" width="100" title="info-circle"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" /></svg></i> Note: size and shape are not available for inline icons with text.
    </div>
  </info>
  <ul>
    <li>
      <div><strong><small>Choose an icon from the library</small></strong></div>
      <div>
        <button>Select icon</button>
        <button>Use custom icon</button>
      </div>
    </li>
    <li>
      <ul>
        <li>
          <label>
            <div><strong><small>Color</small></strong></div>
            <select name="gutter">
              <option value="unset">Inherit from text color</option>
              <option value="Navy">Navy</option>
              <option value="Teal">Teal</option>
              <option value="Yellow">Yellow</option>
              <option value="Orange">Orange</option>
              <option value="Pink">Pink</option>
              <option value="Berry">Berry</option>
              <option value="Wine">Wine</option>
              <option value="Violet">Violet</option>
            </select>
          </label>
        </li>
      </ul>
    </li>
  </ul>
</section>
<a href="#icon-after-text">Icon After</a>
