<section id="visual">
  <ram>
    <div>
      <label>
        <div><strong><small>Border</small></strong></div>
        <select>
          <option value="none">none</option>
          <option value="vertical" selected>vertical</option>
          <option value="horizontal">horizontal</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Size</small></strong></div>
        <select>
          <option value="large">large</option>
          <option value="xlarge">xlarge</option>
          <option value="xxlarge">xxlarge</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        <div><strong><small>Horizontal Alignment</small></strong></div>
        <select>
          <option value="start">start</option>
          <option value="center">center</option>
          <option value="end">end</option>
        </select>
      </label>
    </div>
  </ram>
</section>
<a href="#visual">Visual</a>
