<section id="action-button">
  <ul>
    <li>
      <ul>
        <li>
          <div><strong><small>Action Type</small></strong></div>
          <div>
            <label><input type="radio" name="link-type" checked> <small>Link</small></label>
            <div indented>
              <div>
                <label><input type="url" value="https://"></label>
              </div>
              <div>
                <label><input type="checkbox"> <small>Open in new window</small></label>
              </div>
            </div>
          </div>
          <div>
            <label><input type="radio" name="link-type"> <small>Open a content modal</small></label>
            <div indented>
              <input type="text" placeholder="Enter modal ID">
            </div>
          </div>
          <div>
            <label><input type="radio" name="link-type"> <small>Open a video modal</small></label>
            <div indented>
              <input type="text" placeholder="Enter video ID">
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</section>
<a href="#action-button">Action</a>
