@import '@bolt/core-v3.x';

.c-bolt-featured-hero {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: -5rem;
    right: -16vw;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-image: radial-gradient( 100% 109% at bottom 10% right 0%, #FF9B00 36%, rgba(0, 0, 0, 0) 67% );
    mix-blend-mode: multiply;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 70% 100%;
  }
}

.c-bolt-featured-hero__image {
  filter: hue-rotate(345deg) contrast(1.3);
}


.c-bolt-horizontal-divider {
  display: flex;
  width: 100%;
  text-align: center;
}

.c-bolt-horizontal-divider__border {
  flex-grow: 1;
  margin-top: 6px;
  margin-bottom: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: bolt-theme(border, 0.5);
}

.c-bolt-horizontal-divider__text {
  @include bolt-padding-left(xsmall);
  @include bolt-padding-right(xsmall);
  @include bolt-font-weight(bold);
  @include bolt-font-size(small);
}