{% set classes = [
  "o-bolt-ratio"
] %}

{% set attributes = create_attribute(attributes | default({})) %}
{% set attributes = attributes.addClass(classes) %}

<bolt-ratio>
  <div {{ attributes }}>
    {% block ratio_content %}
      {{ children }}
    {% endblock %}
  </div>
</bolt-ratio>
