/* ------------------------------------ *\
   card-replacement Body
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-replacement-settings-and-tools.scss';

@include bolt-repeat-rule(('bolt-card-replacement-body', ':host')) {
  width: 100%;
}

.c-bolt-card_replacement__body {
  @include bolt-margin(0);

  display: block;
  position: relative; // Position is needed to bring body's stacking order above background.
}

// Spacing prop
$bolt-card-replacement-spacing: small, medium;

@each $spacing-value in $bolt-spacing-values {
  $spacing-value-name: nth($spacing-value, 1);

  @if index($bolt-card-replacement-spacing, $spacing-value-name) {
    .c-bolt-card_replacement__body--spacing-#{$spacing-value-name} {
      @include bolt-padding(#{$spacing-value-name});
    }
  }
}
