/* ------------------------------------ *\
   card-replacement Body
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-replacement-settings-and-tools.scss';

@include bolt-repeat-rule(('bolt-card-replacement-body', ':host')) {
  width: 100%;
}

.c-bolt-card_replacement__body {
  @include bolt-margin(0);
  @include bolt-padding(#{$bolt-card-replacement-body-spacing});

  display: block;
  position: relative; // Position is needed to bring body's stacking order above background.
}
