/* ------------------------------------ *\
   card-replacement Body
\* ------------------------------------ */

@import '@bolt/core-v3.x';
@import '../_card-replacement-settings-and-tools.scss';

@include bolt-repeat-rule(('bolt-card-replacement-body', ':host')) {
  position: relative; // Position is needed to bring body's stacking order above background.
  width: 100%;
}

.c-bolt-card_replacement__body {
  display: block;
  margin: 0;
}

// Spacing prop
$bolt-card-replacement-spacing: small, medium;

@each $size in $bolt-spacing-multiplier-system {
  $size-name: nth($size, 1);

  @if index($bolt-card-replacement-spacing, $size-name) {
    .c-bolt-card_replacement__body--spacing-#{$size-name} {
      padding: var(--bolt-spacing-y-#{$size-name})
        var(--bolt-spacing-x-#{$size-name});
    }
  }
}
