{# @todo: uncomment once done decoupling from icon component #}

{# {% include "@bolt-components-text/text.twig" with {
  text: "Headline Postfixed with Icon",
  headline: true,
  icon: {
    name: "search"
  }
} only %}

<p>Icon Align: left</p>
{% include "@bolt-components-text/text.twig" with {
  text: "Headline Prefixed with Icon",
  headline: true,
  vspacing: "large",
  icon: {
    name: "search",
    align: "left"
  }
} only %}

<p>Icon Align: left-hang<br />Icon Valign: center</p>
<div style="max-width: 500px; margin-bottom: 1.65rem;">
  {% include "@bolt-components-text/text.twig" with {
    text: "Headline Prefixed with Icon with more text to show off the 'left-hang' icon alignment",
    headline: true,
    fontSize: "xxlarge",
    letterSpacing: "wide",
    icon: {
      name: "twitter",
      align: "left-hang",
      valign: "center"
    }
  } only %}
</div>

<p>Icon Align: left-hang<br />Icon Valign: top</p>
<div style="max-width: 500px; margin-bottom: 1.65rem;">
  {% include "@bolt-components-text/text.twig" with {
    text: "Headline Prefixed with Icon with more text to show off the 'left-hang' icon alignment",
    headline: true,
    fontSize: "xxlarge",
    letterSpacing: "wide",
    icon: {
      name: "twitter",
      align: "left-hang",
      valign: "top"
    }
  } only %}
</div>

<p>Icon Align: left</p>
<div style="max-width: 500px;">
  {% include "@bolt-components-text/text.twig" with {
    text: "Headline Prefixed with Icon with more text to show off the 'left' icon alignment",
    headline: true,
    fontSize: "xxlarge",
    letterSpacing: "wide",
    icon: {
      name: "twitter",
      align: "left"
    }
  } only %}
</div> #}
