{% set schema = bolt.data.components['@bolt-components-text'].schema %}


<h3>Typographic Design</h3>
<p>The following are the official recipes for each piece of our typography. They will cover all common use cases. Only in edge cases, you'd want to break away and create your own recipes.</p>

<h3>Headlines</h3>

{% set headlines %}
  <bolt-text headline font-size="xxxlarge">
    This Is the XXXLarge Headline
  </bolt-text>
  <bolt-text headline font-size="xxlarge">
    This Is the XXLarge Headline
  </bolt-text>
  <bolt-text headline font-size="xlarge">
    This Is the XLarge Headline
  </bolt-text>
  <bolt-text headline font-size="large">
    This Is the Large Headline
  </bolt-text>
  <bolt-text headline font-size="small">
    This Is the Small Headline
  </bolt-text>
  <bolt-text headline font-size="xsmall" text-transform="uppercase" letter-spacing="wide">
    This Is the XSmall Headline
  </bolt-text>
{% endset %}

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "small",
    fullBleed: false,
    content: headlines
  } only %}
</figure>


<h3>Subheadlines</h3>

{% set subheadlines %}
  <bolt-text subheadline font-size="xxlarge">
    This Is the XXLarge Subheadline
  </bolt-text>
  <bolt-text subheadline font-size="xlarge">
    This Is the XLarge Subheadline
  </bolt-text>
  <bolt-text subheadline font-size="large">
    This Is the Large Subheadline
  </bolt-text>
{% endset %}

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "small",
    fullBleed: false,
    content: subheadlines
  } only %}
</figure>


<h3>Eyebrow</h3>

{% set eyebrow %}
  <bolt-text eyebrow>
    This Is the Eyebrow
  </bolt-text>
{% endset %}

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "small",
    fullBleed: false,
    content: eyebrow
  } only %}
</figure>


<h3>Paragraph</h3>

{% set paragraph %}
  <bolt-text>
    This is regular text in a paragraph. You can make a word <em>italic</em> or <strong>bold</strong>, because text can be displayed inline or block.
  </bolt-text>
  <bolt-text font-style="italic">
    The entire paragraph can be italic.
  </bolt-text>
  <bolt-text font-weight="bold">
    The entire paragraph can be bold.
  </bolt-text>
{% endset %}

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "small",
    fullBleed: false,
    content: paragraph
  } only %}
</figure>


<h3>Example Lockup in Different Themes</h3>

{% set exampleLockup %}
  <bolt-text eyebrow>
    This is an eyebrow
  </bolt-text>
  <bolt-text headline font-size="xxxlarge">
    This is a headline
  </bolt-text>
  <bolt-text subheadline font-size="xxlarge">
    This is a subheadline
  </bolt-text>
  <bolt-text>
    This is regular text, and some lorem ipsum. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante.
  </bolt-text>
{% endset %}

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    fullBleed: false,
    content: exampleLockup
  } only %}
</figure>

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "light",
    fullBleed: false,
    content: exampleLockup
  } only %}
</figure>

<figure class="u-bolt-margin-bottom-medium">
  {% include "@bolt-components-band/band.twig" with {
    theme: "dark",
    fullBleed: false,
    content: exampleLockup
  } only %}
</figure>

<figure>
  {% include "@bolt-components-band/band.twig" with {
    theme: "xdark",
    fullBleed: false,
    content: exampleLockup
  } only %}
</figure>

