<p>Demo of server-side rendering a vanilla <code>&lt;bolt-text&gt;</code> web component.</p>

{% filter bolt_ssr %}
  <bolt-text headline font-size="xxxlarge">
    Server-side rendered xxxlarge headline (via bolt-text) 
  </bolt-text>
{% endfilter %}
