{% macro code_example(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell "u-bolt-width-12/12" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as modal_code %}

{% set modal_demo %}
<button type="button" class="e-bolt-button" data-bolt-modal-target=".js-bolt-modal-demo">
  Open Modal
</button>
<bolt-modal class="js-bolt-modal-demo">
  This is a modal.
</bolt-modal>
{% endset %}

{% set modal_basic_demo %}
<button type="button" class="e-bolt-button" data-bolt-modal-target=".js-bolt-modal-basic-demo">
  Open Modal
</button>
<bolt-modal class="js-bolt-modal-basic-demo">
  <bolt-text slot="header">This is the header</bolt-text>
  <bolt-text>This is the body (default).</bolt-text>
  <bolt-text slot="footer">This is the footer</bolt-text>
</bolt-modal>
{% endset %}

{% set modal_advanced_demo %}
<button type="button" class="e-bolt-button" data-bolt-modal-target=".js-bolt-modal-advanced-demo">
  Open Modal
</button>
<bolt-modal width="optimal" spacing="none" theme="none" scroll="overall" class="js-bolt-modal-advanced-demo">
  <bolt-image src="/images/content/backgrounds/background-robotics-customer-service.jpg" alt="This is an image"></bolt-image>
</bolt-modal>
{% endset %}

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Modal is a web component. You can simply use <code>&lt;bolt-modal&gt;</code> in the markup to make it render. In the following examples, we use <code>data-bolt-modal-target</code> to trigger the modal. However, the same options shown on the <a href="/pattern-lab/?p=components-modal-usage-javascript" class="e-bolt-text-link">Usage Javascript page</a> are also available on the web component.
  </bolt-text>
  {% include modal_code.code_example(modal_demo) %}
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: modal_demo,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Basic Usage
  </bolt-text>
  <bolt-text>
    The modal container has 3 sections (slots) for passing content, <code>header</code>, <code>default</code>, <code>footer</code>. To pass content to either the header or footer, <code>slot</code> must be defined.
  </bolt-text>
  {% include modal_code.code_example(modal_basic_demo) %}
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: modal_basic_demo,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Advanced Usage
  </bolt-text>
  <bolt-text>
    The web component has all the options shown in the schema table. You can define each prop on the <code>&lt;bolt-modal&gt;</code> element. Use unique combinations to customize a modal to your liking.
  </bolt-text>
  {% include modal_code.code_example(modal_advanced_demo) %}
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: modal_advanced_demo,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>


