body,
.t-light {
  color: $body-text-color;
  background-color: $background-color;

  h1, h2, h3, h4, h5, h6,
  .c-heading {
    color: $heading-color;
  }

  a {
    &:link {
      color: $link-color;

      &:hover, &:active, &:focus {
        color: darken($link-color,25%);
      }
    }

    &:visited {
      color: $link-color-visited;

      &:hover, &:active, &:focus {
        color: darken($link-color-visited,25%);
      }
    }
  }

  ::-moz-selection {
    color: $highlight-text-color;
    background: $highlight-background-color;
  }

  ::selection {
    color: $highlight-text-color;
    background: $highlight-background-color;
  }

  .c-article {
    blockquote {
      border-color: $subtle-background-color;
    }

    pre {
      background-color: $subtle-background-color;
    }

    hr {
      border-color: $border-color;
    }

    header[role="banner"] {
      p:first-of-type {
        &:first-letter {
          border-color: $border-color;
        }
      }
    }
  }

  .o-layout--article {
    @include breakpoint(0 $bp-layout--article) {
      > aside {
        .c-nav {
          border-color: $border-color;
        }
      }

      > footer {
        border-color: $border-color;
      }
    }

    @include breakpoint($bp-layout--article) {
      > aside {
        .c-nav {
          border-color: $border-color;
        }
      }
    }
  }
}
