<bolt-interactive-pathway id="32154">
  <bolt-text
      slot="pathway-title"
  >
    Warrenty Management
  </bolt-text>

  <bolt-interactive-step
      step="1"
      slot="steps"
      speaker-position="left"
      customer-disposition="sad"
  >
    <span slot="title">Warrenty Expires</span>
    <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">I have no idea my warrenty expired.</span></bolt-text>
    <span slot="dialogueBand"></span>
    <bolt-text slot="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem incidunt mollitia natus nemo perferendis quas quasi sed similique ullam, voluptate? Animi expedita molestias nisi pariatur quae quos veritatis! Aliquid, quibusdam.
    </bolt-text>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="2"
      slot="steps"
      speaker-position="right"
      customer-disposition="neutral"
  >
    <span slot="title">Rapid Response Time</span>
    <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Did you know your warrenty expired?</span></bolt-text>
    <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
    <bolt-text slot="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugiat nemo obcaecati perferendis provident quas sed tempore. At blanditiis delectus fuga inventore, ipsa libero, porro quis quos temporibus, voluptate voluptates.
    </bolt-text>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="3"
      slot="steps"
      speaker-position="left"
      customer-disposition="neutral"
  >
    <span slot="title">Open conversation</span>
    <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">What else should I know?</span></bolt-text>
    <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png" />
    <bolt-text slot="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam at debitis maxime mollitia nostrum obcaecati quas qui saepe sequi. Consequuntur distinctio earum minima minus quaerat quam quidem recusandae tempora?
    </bolt-text>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="4"
      slot="steps"
      speaker-position="right"
      customer-disposition="happy"
  >
    <span slot="title">Best service</span>
    <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Here's what we can do for you.</span></bolt-text>
    <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
    <bolt-text slot="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa debitis dicta dolorem ducimus eum eveniet ex inventore iste labore laudantium molestias necessitatibus, neque officia porro reiciendis rerum sit voluptates?
    </bolt-text>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="5"
      slot="steps"
      speaker-position="left"
      customer-disposition="happy"
  >
    <span slot="title">Results</span>
    <bolt-text tag="p" style="margin-bottom: 0;" slot="dialogue"><span style="color: black;">Wow, what great value.</span></bolt-text>
    <img slot="dialogueBand" src="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-rtl.png" />
    <bolt-text slot="body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, corporis cum ea earum et facilis, fugit illo itaque laborum maxime odit praesentium quae reiciendis, saepe totam. Commodi consectetur culpa dolorum.
    </bolt-text>
  </bolt-interactive-step>

</bolt-interactive-pathway>
