<bolt-interactive-pathway
    pathwayId="2"
>
  <bolt-text
      slot="pathway-title"
  >
    Pathway Three
  </bolt-text>

  <bolt-interactive-step
      step="1"
      slot="steps"
  >
    <span slot="title">Moment of Need 3</span>

    <bolt-animate slot="top" in="fade-in-slide-up">
      <bolt-two-character-chat
          character-left-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-neutral.png"
          character-right-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/pega-rep.png"
      >
        <div slot="connection">
          <bolt-connection
              connection-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
          >
            <span slot="top">
              <bolt-text>Top slot</bolt-text>
            </span>
            <span slot="bottom">
              <bolt-text>Bottom slot</bolt-text>
            </span>
          </bolt-connection>
        </div>
      </bolt-two-character-chat>
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <bolt-text>
        Pega enables the business to sense <b>customer context</b> by seeing interactions across channels--calls to customer service about a bill, or visit to pricing web page.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="2"
      slot="steps"
  >
    <span slot="title">Next best action 3</span>

    <bolt-animate slot="top" in="fade-in-slide-up">
      <bolt-two-character-chat
          character-left-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-happy.png"
          character-right-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/pega-rep.png"
      >
        <div slot="connection">
          <bolt-connection
              connection-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
          >
            <span slot="top">
              <bolt-text>Top slot</bolt-text>
            </span>
            <span slot="bottom">
              <bolt-text>Bottom slot</bolt-text>
            </span>
          </bolt-connection>
        </div>
      </bolt-two-character-chat>
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <bolt-text>
        Pega's AI-augmented <b>decisioning engine</b> uses context, predictive analytics, and self-learning adaptive models to guide agents with next best actions to serve the customer.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="3"
      slot="steps"
  >
    <span slot="title">Context Across Channels 3</span>

    <bolt-animate slot="top" in="fade-in-slide-up">
      <bolt-two-character-chat
          character-left-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-happy.png"
          character-right-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/pega-rep.png"
      >
        <div slot="connection">
          <bolt-connection
              connection-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
          >
            <span slot="top">
              <bolt-text>Top slot</bolt-text>
            </span>
            <span slot="bottom">
              <bolt-text>Bottom slot</bolt-text>
            </span>
          </bolt-connection>
        </div>
      </bolt-two-character-chat>
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <bolt-text>
        Pega’s <b>real-time omni-channel AI</b> ensures that customer context is never lost, even on other channels.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="4"
      slot="steps"
  >
    <span slot="title">Resolve 3</span>

    <bolt-animate slot="top" in="fade-in-slide-up">
      <bolt-two-character-chat
          character-left-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-happy.png"
          character-right-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/pega-rep.png"
      >
        <div slot="connection">
          <bolt-connection
              connection-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
          >
            <span slot="top">
              <bolt-text>Top slot</bolt-text>
            </span>
            <span slot="bottom">
              <bolt-text>Bottom slot</bolt-text>
            </span>
          </bolt-connection>
        </div>
      </bolt-two-character-chat>
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <bolt-text>
        Pega's <b>case management</b> connects all the people, systems, and processes required to resolve each customer inquiry.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="5"
      slot="steps"
  >
    <span slot="title">Outcomes 3</span>

    <bolt-animate slot="top" in="fade-in-slide-up">
      <bolt-two-character-chat
          character-left-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/customer-happy.png"
          character-right-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/pega-rep.png"
      >
        <div slot="connection">
          <bolt-connection
              connection-url="https://github.com/basaltinc/temp-pega-dummy-assets/raw/master/animated-bands-ltr.png"
          >
            <span slot="top">
              <bolt-text>Top slot</bolt-text>
            </span>
            <span slot="bottom">
              <bolt-text>Bottom slot</bolt-text>
            </span>
          </bolt-connection>
        </div>
      </bolt-two-character-chat>
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <bolt-text>
        Customer issue is resolved quickly, resulting in higher customer satisfaction and lower <b>average handle time (AHT)</b> for the business.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="6"
      slot="steps"
  >
    <span slot="title">What's next? 3</span>

    <bolt-animate slot="bottom" in="fade-in-slide-up">
      <details>
        <summary>A details tag</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque, aut autem cumque deserunt doloribus eveniet expedita facere facilis hic inventore iste, magni neque pariatur, praesentium reiciendis rerum tempora vitae?</p>
      </details>
      <hr>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus blanditiis consectetur culpa cum, doloremque doloribus
        ea error ipsa itaque modi nisi non odit officia quod reiciendis
        rem reprehenderit tempora tempore?
      </div>
      <hr>
      <h2>Transform your customer experience</h2>
      See how Pega can transform your customer experiences with next-generation software applications and solutions.
    </bolt-animate>
  </bolt-interactive-step>

</bolt-interactive-pathway>
