<div class="temp-loading-pladeholder" style="height: 500px;">
  {#This is a temporary placeholder for loading until SSR is addressed#}

</div>
<bolt-interactive-pathways style="display: none; opacity: 0; transition: opacity ease 0.3s;">
  <bolt-text slot="interactive-pathways-lead-text" display="inline">How Pega technology resolves</bolt-text>
  {% include '_pathwayOne.twig' %}
  {% include '_pathwayTwo.twig' %}
  {% include '_pathwayThree.twig' %}
</bolt-interactive-pathways>
