<bolt-radio-switch>
	<ul class="c-bolt-radio-switch">
		<li class="c-bolt-radio-switch__item">
			<input class="c-bolt-radio-switch__input reset" type="radio" value="twig" name="radioSwitch" id="radio1" checked>
			<label class="c-bolt-radio-switch__label" for="radio1">Twig</label>
		</li>

		<li class="c-bolt-radio-switch__item">
			<input class="c-bolt-radio-switch__input reset" type="radio" name="radioSwitch" id="radio2" value="wc">
			<label class="c-bolt-radio-switch__label" for="radio2">Web Component</label>
			<div aria-hidden="true" class="c-bolt-radio-switch__toggle"><span class="c-bolt-radio-switch__marker"></span></div>
		</li>
	</ul>
</bolt-radio-switch>