<div class="t-bolt-xlight">
  <bolt-text headline>xlight theme</bolt-text>
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
    ]
  } only %}
</div>

<div class="t-bolt-light">
  <bolt-text headline>Light theme</bolt-text>
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
    ]
  } only %}
</div>

<div class="t-bolt-dark">
  <bolt-text headline>Dark theme</bolt-text>
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
    ]
  } only %}
</div>

<div class="t-bolt-xdark">
  <bolt-text headline>XDark theme</bolt-text>
  {% include "@bolt-components-carousel/carousel.twig" with {
    slides: [
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
      include("_carousel-slide-content.twig"),
    ]
  } only %}
</div>
