<bolt-carousel>
  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xdark">Slide 1</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-dark">Slide 2</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 3</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-xlight">Slide 4</div>
  </bolt-carousel-slide>

  <bolt-carousel-slide>
    <div class="u-bolt-padding-large t-bolt-light">Slide 5</div>
  </bolt-carousel-slide>
</bolt-carousel>
