/*------------------------------------*\
  Text rendering fix
\*------------------------------------*/

*, *:before, *:after {
  @include antialiased;
  @include kerning;
}

html.touch *, html.touch *:before, html.touch *:after {
  // Optimize speed for touch devices using modernizr
  text-rendering: optimizeSpeed;
}




/*------------------------------------*\
  Body and heading declaration
\*------------------------------------*/


body {
  @include font-stack(body--system,regular);
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack(heading--system,bold);
}

html.fonts-loaded {
  body{
    @include font-stack(body,regular);
  }

  h1, h2, h3, h4, h5, h6 {
    @include font-stack(heading,bold);
  }
}




/*------------------------------------*\
  Font Size
\*------------------------------------*/


html {
  // Base type
  font-size: $font-size--min-px;

  // Responsive type
  @include respond-to(small) {
    font-size: calc(#{$font-size--min-px} + #{$font-size--max - $font-size--min} * (100vw - #{$bp-small-px}) / (#{$bp-large - $bp-small}));
  }

  // Large type
  @include respond-to(large) {
    font-size: $font-size--max-px;
  }

}

body{
  @include font-size(base);
}

h1, h2, h3, h4, h5, h6 {
  @include font-size(base--tight);
}



/*------------------------------------*\
  Link
\*------------------------------------*/

a {
  text-decoration: none;
}
