{% extends "@pl/_default-page-template.twig" %}

{% block global_header %}
  <header class="c-page-header qa-page-header js-global-header cd-main-header is-fixed headroom is-top is-not-bottom">
    <div class="c-page-header__wrapper">
      <div class="c-page-header__background"></div>
      <div class="c-page-header__content"> <span id="!"></span>
        <div class="c-page-header__utility-nav">
          <div class="o-bolt-wrapper">
            <nav role="navigation" aria-labelledby="block-pegawideutility-menu" id="block-pegawideutility">
              <h2 class="visually-hidden" id="block-pegawideutility-menu">Pega-wide Utility</h2>
              <ul data-region="header" class="o-bolt-inline-list c-utility-nav u-float-left u-hide@only-large">
                <li class="o-bolt-inline-list__item c-utility-nav__item"> <a href="https://academy.pega.com" target="_self" rel="" class="c-utility-nav__link" title="Training">トレーニング</a> </li>
                <li class="o-bolt-inline-list__item c-utility-nav__item"> <a href="https://www.pega.com/services/support" target="_self" rel="" class="c-utility-nav__link" title="Support">サポート</a> </li>
                <li class="o-bolt-inline-list__item c-utility-nav__item"> <a href="https://pdn.pega.com" target="_self" rel="" class="c-utility-nav__link" title="Community">ナレッジベース</a> </li>
              </ul>
              <ul class="u-hide@only-large c-header-dropdown o-bolt-inline-list js-header-dropdown__wrapper">
                <li class="c-utility-nav__item o-bolt-inline-list__item"> <a class="u-hide@only-large c-header-dropdown__link js-header-dropdown__link o-bolt-inline-list__item c-utility-nav__link c-link"> <span class="c-link__text">More</span> <svg class="js-dropdown-list__link-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down.colored"></use> </svg> </a>
                  <ul class="o-bolt-bare-list c-header-dropdown__level-1 js-header-dropdown">
                    <li> <a href="https://www.pega.com/about/careers" target="_self" rel="" title="Careers">Careers</a> </li>
                    <li> <a href="https://www.pega.com/events/pegaworld" target="_self" rel="" title="PegaWorld">PegaWorld</a> </li>
                    <li> <a href="https://pdn.pega.com/" target="_blank" rel="">PDN</a> </li>
                    <li> <a href="https://academy.pega.com/" target="_blank" rel="">Pega Academy</a> </li>
                    <li> <a href="http://design.pega.com/" target="_blank" rel="">Product Design</a> </li>
                    <li> <a href="https://www.pega.com/insights" target="_self" rel="">Pega Blog</a> </li>
                    <li> <a href="https://www.pega.com/services/partnerships" target="_self" rel="">Partners</a> </li>
                    <li> <a href="https://www.pega.com/services/consulting" target="_self" rel="">Consulting</a> </li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="u-float-right">
              <div class="u-float-left u-hide@only-large">
                <div class="language-switcher-language-url" id="block-languageswitcher" role="navigation"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none !important;"> <symbol id="chevron-down.colored" viewBox="0 0 16 16"> <title>Down chevron</title> <path d="M15.999 4.33a.507.507 0 0 1-.16.37l-7.47 7.47a.507.507 0 0 1-.738 0L.16 4.7a.507.507 0 0 1 0-.738l.8-.802a.507.507 0 0 1 .738 0L8 9.46l6.3-6.3a.507.507 0 0 1 .738 0l.802.802c.106.107.16.23.16.369z" fill="currentColor" fill-rule="evenodd"></path> </symbol> </svg>
                  <ul class="c-language-switcher u-hide@only-large c-header-dropdown o-bolt-inline-list js-header-dropdown__wrapper u-float-left">
                    <li class="c-utility-nav__item o-bolt-inline-list__item"> <a class="u-hide@only-large c-header-dropdown__link js-header-dropdown__link o-bolt-inline-list__item c-utility-nav__link c-link"> <span class="c-link__text">日本語</span> <svg class="js-dropdown-list__link-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down.colored"></use> </svg> </a>
                      <ul class="o-bolt-bare-list c-header-dropdown__level-1 js-header-dropdown">
                        <li hreflang="en" data-drupal-link-system-path="&lt;front&gt;" class="en is-active"> <a href="/" class="language-link is-active" hreflang="en" data-drupal-link-system-path="&lt;front&gt;"> <svg class="c-language-switcher__active-language-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark.colored"></use> </svg>English</a>                                                </li>
                        <li hreflang="fr" data-drupal-link-system-path="&lt;front&gt;" class="fr"><a href="/fr" class="language-link" hreflang="fr" data-drupal-link-system-path="&lt;front&gt;">Français</a> </li>
                        <li hreflang="de" data-drupal-link-system-path="&lt;front&gt;" class="de"><a href="/de" class="language-link" hreflang="de" data-drupal-link-system-path="&lt;front&gt;">Deutsch</a> </li>
                        <li hreflang="it" data-drupal-link-system-path="&lt;front&gt;" class="it"><a href="/it" class="language-link" hreflang="it" data-drupal-link-system-path="&lt;front&gt;">Italiano</a> </li>
                        <li hreflang="ja" data-drupal-link-system-path="&lt;front&gt;" class="ja"><a href="/ja" class="language-link" hreflang="ja" data-drupal-link-system-path="&lt;front&gt;">日本語</a> </li>
                        <li hreflang="pt-br" data-drupal-link-system-path="&lt;front&gt;" class="pt-br"><a href="/pt-br" class="language-link" hreflang="pt-br" data-drupal-link-system-path="&lt;front&gt;">Português</a> </li>
                        <li hreflang="es" data-drupal-link-system-path="&lt;front&gt;" class="es"><a href="/es" class="language-link" hreflang="es" data-drupal-link-system-path="&lt;front&gt;">Español</a> </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <ul data-region="header" class="o-bolt-inline-list c-utility-nav u-float-right u-hide@only-large">
                <li class="o-bolt-inline-list__item c-utility-nav__item"> <a href="/user/login?destination=/" class="c-utility-nav__link" data-drupal-link-system-path="user/login">Log in</a> </li>
                <li class="o-bolt-inline-list__item c-utility-nav__item"> <a href="/user/register?destination=/" target="_self" rel="" class="c-utility-nav__link" data-drupal-link-system-path="user/register">Sign Up</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-page-header__inner">
          <div class="c-page-header__image"> <span>Logo Placeholder</span>{# <a class="c-site-logo qa-site-logo" href="/" title="Home"> <img class="c-site-logo__image" src="/themes/custom/pegawww_theme/images/pega-logo.svg" alt="Home"/> </a> #}</div>
          <div class="c-page-header__body js-mega-nav">
            <nav class="c-mega-nav js-mega-nav">
              <ul id="cd-primary-nav" class="js-mega-nav__primary is-fixed c-mega-nav__list c-mega-nav__level-1 o-bolt-bare-list">
                <li class="u-hide@large c-mega-nav__item has-children"> <a href="/" class="c-mega-nav__link js-mega-nav__link">Sign Up | Log In</a>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Sign Up | Log In</a> </li>
                    <li class="c-mega-nav__item"> <a href="/user/login?destination=/" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-system-path="user/login">Log in</a> </li>
                    <li class="c-mega-nav__item"> <a href="/user/register?destination=/" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-system-path="user/register">Sign Up</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Products" data-drupal-link-system-path="&lt;front&gt;">製品</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Products</a> </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/products" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Explore Products">Explore Products</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Explore Products</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/products/crm-applications" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="CRM Applications">CRM Applications</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">CRM Applications</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/crm-applications/marketing" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Marketing</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/crm-applications/sales-and-onboarding" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Sales Automation</a> </li>
                            <li class="c-mega-nav__item">
                            <a href="https://www.pega.com/products/crm-applications/customer-service" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Service</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/decision-hub" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Decision Hub</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/financial-services/onboarding" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Customer Onboarding">Customer Onboarding</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/products/pega-7-platform" target="_self" title="Pega 7 Platform" class="c-mega-nav__link js-mega-nav__link">Pega Platform</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/products/pega-7-platform" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Platform Capabilities">Platform Capabilities</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Platform Capabilities</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/app-development" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Application Development">Application Development</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/products/pega-7-platform/case-management" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Case Management">Case Management</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/products/cloud" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Cloud</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/decision-hub" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Decision Management</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/intelligent-virtual-assistant" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Intelligent Virtual Assistant</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/products/pega-7-platform/mobile" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Mobility</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/robotic-automation" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Robotic Automation</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-platform/robotic-automation/workforce-intelligence" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Workforce Intelligence</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__promo t-bolt-xlight">
                      <bolt-card theme="" url=https://interactive.pega.com/marketing-guided-tour/ bolt-component>
                        <div id="p-f81e4e64-4d08-4e96-9179-9a42e3610121" data-href="https://interactive.pega.com/marketing-guided-tour/" class="c-bolt-card">
                          <div class="c-bolt-card__media">
                            <a href="https://interactive.pega.com/marketing-guided-tour/">
                              <bolt-image>
                                <bolt-ratio>
                                  <div id="p-f43e31a2-151b-4ab2-8c61-76442b556a52" class="c-bolt-image o-bolt-ratio" style=" padding-top: 58.441558441558%;"><img class="c-bolt-image__img js-lazyload is-lazyloading" alt="Pega Marketing guided tour promotional image" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=_udVMs1D 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=jKUwAF8w 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=1d_TwU2Y 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=VQbeq-Mz 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=cnDzsthc 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=7M9j1JMu 640w"
                                      srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto"> <noscript><img class="c-bolt-image__img" alt="Pega Marketing guided tour promotional image" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=_udVMs1D 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=jKUwAF8w 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=1d_TwU2Y 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=VQbeq-Mz 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=cnDzsthc 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=7M9j1JMu 640w" srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=_udVMs1D 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=jKUwAF8w 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=1d_TwU2Y 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=VQbeq-Mz 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=cnDzsthc 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/marketing-guided-tour-nav.jpg?itok=7M9j1JMu 640w" data-sizes="auto"> </noscript>                                                                    </div>
                                </bolt-ratio>
                              </bolt-image>
                            </a>
                          </div>
                          <div class="c-bolt-card__body">
                            <bolt-teaser>
                              <p id="p-cdd0e23e-e5e3-409b-895b-736943c3ca44" class="c-bolt-eyebrow"><span class="c-bolt-eyebrow__text"> Guided Tour </span> </p>
                              <div id="p-ecc6dd6a-0be8-43a6-9bae-ac779e7871f0" class="c-bolt-headline c-bolt-headline--large c-bolt-headline--link"><span class="c-bolt-headline__text"><a class="c-bolt-link c-bolt-link--headline" href="https://interactive.pega.com/marketing-guided-tour/"><span class="c-bolt-link__text"> Explore Pega Marketing </span>
                                <span
                                  class="c-bolt-link__icon">
                                  <bolt-icon name="chevron-right"></bolt-icon>
                                  </span>
                                  </a>
                                  </span>
                              </div>
                            </bolt-teaser>
                          </div>
                          <div class="c-bolt-card__footer"></div>
                        </div>
                      </bolt-card>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__wrap"> <a href="https://www.pega.com/products" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self" title="View All Products">View All Products</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Solutions" data-drupal-link-system-path="&lt;front&gt;">ソリューション</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Solutions</a> </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Industry Solutions" data-drupal-link-system-path="&lt;front&gt;">Industry Solutions</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Industry Solutions</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/financial-services" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Financial Services">Financial Services</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/industries/insurance" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Insurance">Insurance</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/healthcare" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Healthcare">Healthcare</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/communications" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Communications &amp; Media</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/energy" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Energy &amp; Utilities</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/government" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Government</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/life-insurance" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Life Insurance</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/manufacturing" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Manufacturing &amp; High Technology</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="For Customer Engagement" data-drupal-link-system-path="&lt;front&gt;">For Customer Engagement</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">For Customer Engagement</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/customer-engagement" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Customer Service">Redefine Customer Engagement</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/challenges/customer-service" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Customer Onboarding">Frictionless Customer Service</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/challenges/customer-acquisition" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Customer Retention">Acquire New Customers</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/challenges/customer-retention" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Retain Your Customers</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/challenges/customer-loyalty" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Build Loyalty</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/challenges/customer-upsell-cross-sell" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Upsell &amp; Cross-Sell</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/challenges/sales-effectiveness" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Achieve Sales Effectiveness</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/challenges/sales-efficiency" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Reach Peak Sales Efficiency</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="For Operations &amp; IT" data-drupal-link-system-path="&lt;front&gt;">For Operations &amp; IT</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">For Operations &amp; IT</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/agile" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Software Agility">Agile Enterprise</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/software-writes-your-software" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Cloud Choice">Software Agility</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/topics/robotic-automation" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Robotic Automation">Robotic Automation</a> </li>
                        <li class="c-mega-nav__item">
                        <a href="https://www.pega.com/challenges/legacy-system-innovation" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Wrap &amp; Renew Legacy Systems</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/industries/financial-services/onboarding" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Onboarding</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/pega-7-for-operations" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Operational Excellence</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/devops" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Unleash DevOps</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__wrap"> <a href="https://www.pega.com/industries" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self">View All Industries</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Customers" data-drupal-link-system-path="&lt;front&gt;">顧客企業</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Customers</a> </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Customers By Industry" data-drupal-link-system-path="&lt;front&gt;">Customers By Industry</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Customers By Industry</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3AFinancial%20Services%23%23%23Ind1#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link"
                            title="Financial Services" data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Financial Services###Ind1&quot;]}">Financial Services</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3AInsurance%23%23%23Ind4#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Insurance###Ind4&quot;]}">Insurance</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3AHealthcare%23%23%23Ind3#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Healthcare###Ind3&quot;]}">Healthcare</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3ACommunications%20%26%20Media%23%23%23Ind5#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link"
                            data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Communications \u0026 Media###Ind5&quot;]}">Communications &amp; Media</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3AGovernment%23%23%23Ind2#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Government###Ind2&quot;]}">Government</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3ALife%20Sciences%23%23%23Ind6#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link"
                            data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Life Sciences###Ind6&quot;]}">Life Sciences</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=sm_pega_cd_industry%3AManufacturing%20%26%20High%20Tech%23%23%23Ind10" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f&quot;:[&quot;sm_pega_cd_industry:Manufacturing \u0026 High Tech###Ind10&quot;]}">Manufacturing &amp; High Technology</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f[0]=sm_pega_cd_industry%3AEnergy%20%26%20Utilities%23%23%23Ind7#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Energy &amp; Utilities</a>                                                </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Customers by Product Area" data-drupal-link-system-path="&lt;front&gt;">Customers by Product Area</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Customers by Product Area</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=im_field_customer_product_taxonm%3A6061#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Marketing"
                            data-drupal-link-query="{&quot;f&quot;:[&quot;im_field_customer_product_taxonm:6061&quot;]}">Marketing</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%5B0%5D=im_field_customer_product_taxonm%3A6076#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Sales Automation"
                            data-drupal-link-query="{&quot;f&quot;:[&quot;im_field_customer_product_taxonm:6076&quot;]}">Sales Automation</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%255B0%255D=im_field_customer_product_taxonm%3A6066#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f%5B0%5D&quot;:&quot;im_field_customer_product_taxonm:6066&quot;}">Customer Service</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%255B0%255D=im_field_customer_product_taxonm%3A6081#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f%5B0%5D&quot;:&quot;im_field_customer_product_taxonm:6081&quot;}">Operations</a>                                                </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/customers/?f%255B0%255D=im_field_customer_product_taxonm%3A6086#block-bean-customers-landing-customers-list" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;f%5B0%5D&quot;:&quot;im_field_customer_product_taxonm:6086&quot;}">Pega Platform</a>                                                </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__promo t-bolt-xlight">
                      <bolt-card theme="" bolt-component>
                        <div id="p-cd7dee18-4371-4009-88a0-266def0761c2" class="c-bolt-card">
                          <div class="c-bolt-card__media">
                            <bolt-image>
                              <bolt-ratio>
                                <div id="p-4d239d1f-95c2-4100-a0c7-63aed040e2e1" class="c-bolt-image o-bolt-ratio" style=" padding-top: 58.441558441558%;"><img class="c-bolt-image__img js-lazyload is-lazyloading" alt="Sprint CEO quote" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=4aXpqvQu 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=-LitXMWl 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=F0M9VB6D 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=LBXLaCKK 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=0ia8KtSA 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=sUHHmSGD 640w"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto"> <noscript><img class="c-bolt-image__img" alt="Sprint CEO quote" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=4aXpqvQu 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=-LitXMWl 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=F0M9VB6D 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=LBXLaCKK 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=0ia8KtSA 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=sUHHmSGD 640w" srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=4aXpqvQu 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=-LitXMWl 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=F0M9VB6D 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=LBXLaCKK 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=0ia8KtSA 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/customer-success-outcomes-thumbnail-sprint2.jpg?itok=sUHHmSGD 640w" data-sizes="auto"> </noscript>                                                                </div>
                              </bolt-ratio>
                            </bolt-image>
                          </div>
                          <div class="c-bolt-card__body">
                            <bolt-teaser>
                              <p id="p-09d56870-d563-4237-8a31-8433c08d353a" class="c-bolt-eyebrow"><span class="c-bolt-eyebrow__text"> eBook </span> </p>
                              <div id="p-da1dc026-c65f-4b4f-a42c-612bc3ebb30e" class="c-bolt-headline c-bolt-headline--large c-bolt-headline--link"><span class="c-bolt-headline__text"><a class="c-bolt-link c-bolt-link--headline" href="/insights/resources/pega-customer-success-ebook-outcomes"><span class="c-bolt-link__text"> Check out Pega customer success in your industry (48 case studies) </span>
                                <span
                                  class="c-bolt-link__icon">
                                  <bolt-icon name="chevron-right"></bolt-icon>
                                  </span>
                                  </a>
                                  </span>
                              </div>
                            </bolt-teaser>
                          </div>
                          <div class="c-bolt-card__footer"></div>
                        </div>
                      </bolt-card>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__wrap"> <a href="https://www.pega.com/customers" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self" title="View All Customers">View All Customer Success Stories</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Vision &amp; Technology" data-drupal-link-system-path="&lt;front&gt;">ペガが選ばれる理由</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Vision &amp; Technology</a> </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" data-drupal-link-system-path="&lt;front&gt;">Trending Topics</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Trending Topics</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/agile" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Agile Goes Mainstream</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/artificial-intelligence" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Artificial Intelligence</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/software-robots" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Bots, but Smarter</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/customer-engagement" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Engagement</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/devops" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">DevOps</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/digital-transformation" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Digital Transformation</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/topics/robotic-automation" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Robotic Automation</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self" title="More insights: Pega Blog">More insights: Pega Blog</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Vision" data-drupal-link-system-path="&lt;front&gt;">Pega Vision &amp; Technology</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Pega Vision &amp; Technology</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/technology/vision-and-technology" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Our Mission &amp; Key Concepts</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Our Mission &amp; Key Concepts</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/software-writes-your-software" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Software That Writes Your Software</a> </li>
                            <li class="c-mega-nav__item">
                            <a href="https://www.pega.com/technology/cloud-choice" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Cloud Choice</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/scalable-software" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Scalable Software</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/rapid-delivery" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Rapid Delivery</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/mashup" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="DevOps">Mashup</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/technology/salesforce-alternative" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self">Meet the Salesforce.com Alternative</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Demos" data-drupal-link-system-path="&lt;front&gt;">Demos &amp; Resources</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Demos &amp; Resources</a> </li>
                        <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" data-drupal-link-system-path="&lt;front&gt;">Demos</span>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Demos</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights/demo-videos" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Product Demo Videos">Product Demo Videos</a> </li>
                            <li class="c-mega-nav__item">
                            <a href="https://www.pega.com/platform-trial" target="_self" title="Pega 7 Trial" class="c-mega-nav__link js-mega-nav__link">Pega Platform Trial</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" data-drupal-link-system-path="&lt;front&gt;"> Resources</span>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0"> Resources</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights/analyst-reports" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Analyst Reports</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/build-for-change/whiteboard-videos" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Whiteboard Videos</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/cloud" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Cloud Services">Cloud Services</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://pdn.pega.com/exchange" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Pega App Exchange">Pega App Exchange</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/partnerships/innovation-center" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Software Upgrades</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://pdn.pega.com" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_blank">More Tech Resources on the PDN Community</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" data-drupal-link-system-path="&lt;front&gt;">サービスとパートナー</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Events</a> </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/events/pegaworld" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">PegaWorld</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">PegaWorld</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/pegaworld" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">PegaWorld Conference</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/events/pegaworld/agenda" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Replays</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Replays</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/pegaworld/keynotes" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Keynotes</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/pegaworld/replays" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">All Sessions</a> </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" data-drupal-link-system-path="&lt;front&gt;">Upcoming Events</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Upcoming Events</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/events/customer-engagement" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Customer Engagement Summits</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Customer Engagement Summits</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/customer-engagement" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Dates &amp; Locations</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/events/future-empowered-forums" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Future Empowered Forums</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Future Empowered Forums</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/future-empowered-forums" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Coming to a City Near You</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/events?field_event_category_tid=7786" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" data-drupal-link-query="{&quot;field_event_category_tid&quot;:&quot;7786&quot;}">Webinars</a>                                                </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__promo t-bolt-xlight">
                      <bolt-card theme="" bolt-component>
                        <div id="p-a0f58c16-765a-4e7d-a9d6-bd8e40594c14" class="c-bolt-card">
                          <div class="c-bolt-card__media">
                            <bolt-image>
                              <bolt-ratio>
                                <div id="p-b50d225b-593a-4f47-af01-e39fb2baa860" class="c-bolt-image o-bolt-ratio" style=" padding-top: 58.441558441558%;"><img class="c-bolt-image__img js-lazyload is-lazyloading" alt="PegaWorld 2018 logo" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/pw18-thumbnail.jpg?itok=qXWb6UJD 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/pw18-thumbnail.jpg?itok=EiW-NbHT 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/pw18-thumbnail.jpg?itok=fujbCNbB 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/pw18-thumbnail.jpg?itok=7ruSelrT 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/pw18-thumbnail.jpg?itok=2Nft-5jN 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/pw18-thumbnail.jpg?itok=I7rKAWW9 640w"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-sizes="auto"> <noscript><img class="c-bolt-image__img" alt="PegaWorld 2018 logo" data-srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/pw18-thumbnail.jpg?itok=qXWb6UJD 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/pw18-thumbnail.jpg?itok=EiW-NbHT 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/pw18-thumbnail.jpg?itok=fujbCNbB 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/pw18-thumbnail.jpg?itok=7ruSelrT 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/pw18-thumbnail.jpg?itok=2Nft-5jN 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/pw18-thumbnail.jpg?itok=I7rKAWW9 640w" srcset="https://www1.pega.com/sites/default/files/styles/50/public/media/images/2017-11/pw18-thumbnail.jpg?itok=qXWb6UJD 50w, https://www1.pega.com/sites/default/files/styles/100/public/media/images/2017-11/pw18-thumbnail.jpg?itok=EiW-NbHT 100w, https://www1.pega.com/sites/default/files/styles/200/public/media/images/2017-11/pw18-thumbnail.jpg?itok=fujbCNbB 200w, https://www1.pega.com/sites/default/files/styles/320/public/media/images/2017-11/pw18-thumbnail.jpg?itok=7ruSelrT 320w, https://www1.pega.com/sites/default/files/styles/480/public/media/images/2017-11/pw18-thumbnail.jpg?itok=2Nft-5jN 480w, https://www1.pega.com/sites/default/files/styles/640/public/media/images/2017-11/pw18-thumbnail.jpg?itok=I7rKAWW9 640w" data-sizes="auto"> </noscript>                                                                </div>
                              </bolt-ratio>
                            </bolt-image>
                          </div>
                          <div class="c-bolt-card__body">
                            <bolt-teaser>
                              <p id="p-52a478be-a135-49cc-8616-29c5cb14cef8" class="c-bolt-eyebrow"><span class="c-bolt-eyebrow__text"> PegaWorld 2018 </span> </p>
                              <div id="p-099918b4-22b6-4d9a-8d5b-b9f339b06443" class="c-bolt-headline c-bolt-headline--large c-bolt-headline--link"><span class="c-bolt-headline__text"><a class="c-bolt-link c-bolt-link--headline" href="https://www.pega.com/events/pegaworld"><span class="c-bolt-link__text"> Registration is Now Open </span>
                                <span
                                  class="c-bolt-link__icon">
                                  <bolt-icon name="chevron-right"></bolt-icon>
                                  </span>
                                  </a>
                                  </span>
                              </div>
                            </bolt-teaser>
                          </div>
                          <div class="c-bolt-card__footer"></div>
                        </div>
                      </bolt-card>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__wrap"> <a href="https://www.pega.com/about/events" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self">View All Events</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Services" data-drupal-link-system-path="&lt;front&gt;">イベント</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Services</a> </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Partners" data-drupal-link-system-path="&lt;front&gt;">Partners</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Partners</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/services/partnerships" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Overview">Overview</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Overview</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/partnerships#tab-registered" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Registered Business</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/partnerships" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Strategic Consulting">Strategic Consulting</a> </li>
                            <li class="c-mega-nav__item">
                            <a href="https://www.pega.com/services/partnerships#tab-systems-integrator" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Systems Integrator</a> </li>
                            <li class="c-mega-nav__item">
                            <a href="https://www.pega.com/services/partnerships#tab-technology" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Technology</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/partnerships/solutions-showcase" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Partner Showcase</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/ventures" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Pega Service Ventures</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Consulting" data-drupal-link-system-path="&lt;front&gt;">Consulting</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Consulting</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights/centers-of-excellence" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Centers of Excellence</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/consulting" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Consulting Overview</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Training &amp; Certifications" data-drupal-link-system-path="&lt;front&gt;">Training &amp; Certifications</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Training &amp; Certifications</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://academy.pega.com" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Pega Academy</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Pega Academy</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://academy.pega.com/career-paths" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Career Paths</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://academy.pega.com/certifications" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Certifications</a> </li>
                            <li class="c-mega-nav__item"> <a href="http://academy.pega.com/search" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Learning Library</a> </li>
                          </ul>
                        </li>
                        <li class="c-mega-nav__item"> <a href="https://academy.pega.com/training-options/university-academic-program" class="c-mega-nav__link js-mega-nav__link">University Academic Program</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="Support" data-drupal-link-system-path="&lt;front&gt;">Support</span>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Support</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://pdn.pega.com/" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">PDN Developer Community</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">PDN Developer Community</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://pdn.pega.com/search/apachesolr_search/" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Knowledge Base</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://pdn.pega.com/community/pega-product-support" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Product Support Forums</a> </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item c-mega-nav__wrap"> <a href="https://www.pega.com/services" class="c-mega-nav__link js-mega-nav__link c-mega-nav__blue-link" target="_self">View All</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item has-children"> <span target="_self" rel="" class="c-mega-nav__link js-mega-nav__link is-active" title="About" data-drupal-link-system-path="&lt;front&gt;">ペガについて</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">About</a> </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/about" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">About Us</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">About Us</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Company</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/investors" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Investors</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Pega Blog</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights/analyst-reports" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Analyst Reports</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/products/cloud/pega-trust-center" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Trust Center</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/about/news" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">News</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">News</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/news/press-releases" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Press Releases</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/news/media-coverage" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Media Coverage</a> </li>
                        <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/company/awards" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Awards</a> </li>
                      </ul>
                    </li>
                    <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/about/careers" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Careers</a>
                      <ul class="c-mega-nav__list c-mega-nav__level-3 o-bolt-bare-list is-hidden">
                        <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Careers</a> </li>
                        <li class="c-mega-nav__item has-children"> <a href="https://www.pega.com/about/careers" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Careers at Pega</a>
                          <ul class="c-mega-nav__list c-mega-nav__level-4 o-bolt-bare-list is-hidden">
                            <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Careers at Pega</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/careers/search" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Current Openings</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/careers/benefits-and-culture" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Culture &amp; Benefits</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/careers/pega-sales-careers" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Sales Careers</a> </li>
                            <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/careers/pega-india" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Pega India Careers</a> </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="u-hide@large c-mega-nav__more c-mega-nav__item has-children"> <a href="/" class="c-mega-nav__link js-mega-nav__link">Pega Sites</a>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"> <a class="c-mega-nav__link js-mega-nav__link" href="#0">Pega Sites</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://academy.pega.com" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Training">Training</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/support" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Support">Support</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://pdn.pega.com" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Community">Community</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/about/careers" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="Careers">Careers</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/events/pegaworld" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link" title="PegaWorld">PegaWorld</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://pdn.pega.com/" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">PDN</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://academy.pega.com/" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Pega Academy</a> </li>
                    <li class="c-mega-nav__item"> <a href="http://design.pega.com/" target="_blank" rel="" class="c-mega-nav__link js-mega-nav__link">Product Design</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/insights" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Pega Blog</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/partnerships" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Partners</a> </li>
                    <li class="c-mega-nav__item"> <a href="https://www.pega.com/services/consulting" target="_self" rel="" class="c-mega-nav__link js-mega-nav__link">Consulting</a> </li>
                  </ul>
                </li>
                <li class="c-mega-nav__item u-hide@large c-mega-nav__languages has-children"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none !important;"> <symbol id="checkmark.colored" viewBox="0 0 16 16"> <title>Checkmark</title> <path d="M15.996 4.394c0 .275-.097.51-.29.702l-8.874 8.875a.955.955 0 0 1-.702.289.955.955 0 0 1-.702-.289L.29 8.831A.955.955 0 0 1 0 8.13c0-.275.096-.51.289-.702l1.403-1.403a.955.955 0 0 1 .702-.29c.275 0 .51.097.702.29L6.13 9.069l6.77-6.78A.955.955 0 0 1 13.602 2c.275 0 .509.096.701.289l1.404 1.403a.955.955 0 0 1 .289.702z" fill="#0079BA" fill-rule="evenodd"/> </symbol> </svg>                                <span class="c-mega-nav__link js-mega-nav__link" rel target="_self">Language</span>
                  <ul class="c-mega-nav__list c-mega-nav__level-2 o-bolt-bare-list is-hidden">
                    <li class="c-mega-nav__item js-mega-nav__back-button go-back"><a class="c-mega-nav__link js-mega-nav__link" href="#0">Language</a> </li>
                    <li class="c-mega-nav__item"> <a href="/" class="c-mega-nav__link js-mega-nav__link is-active" hreflang="en" data-drupal-link-system-path="&lt;front&gt;"> <svg class="c-language-switcher__active-language-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark.colored"></use> </svg>English</a>                                        </li>
                    <li class="c-mega-nav__item"> <a href="/fr" class="c-mega-nav__link js-mega-nav__link" hreflang="fr" data-drupal-link-system-path="&lt;front&gt;">Français</a> </li>
                    <li class="c-mega-nav__item"> <a href="/de" class="c-mega-nav__link js-mega-nav__link" hreflang="de" data-drupal-link-system-path="&lt;front&gt;">Deutsch</a> </li>
                    <li class="c-mega-nav__item"> <a href="/it" class="c-mega-nav__link js-mega-nav__link" hreflang="it" data-drupal-link-system-path="&lt;front&gt;">Italiano</a> </li>
                    <li class="c-mega-nav__item"> <a href="/ja" class="c-mega-nav__link js-mega-nav__link" hreflang="ja" data-drupal-link-system-path="&lt;front&gt;">日本語</a> </li>
                    <li class="c-mega-nav__item"> <a href="/pt-br" class="c-mega-nav__link js-mega-nav__link" hreflang="pt-br" data-drupal-link-system-path="&lt;front&gt;">Português</a> </li>
                    <li class="c-mega-nav__item"> <a href="/es" class="c-mega-nav__link js-mega-nav__link" hreflang="es" data-drupal-link-system-path="&lt;front&gt;">Español</a> </li>
                  </ul>
                </li>
              </ul>
            </nav>
            <ul class="o-bolt-bare-list c-header-buttons js-mega-nav__header-buttons">
              <li class="c-header-buttons__item"> <a href="#" class="c-global-search__panel-trigger js-global-search__open-trigger" aria-label="Search Pega Academy" role="button" aria-controls="global-search" aria-haspopup="true"> <span class="u-bolt-visuallyhidden"> </span> <svg class="c-global-search__search-icon o-icon" viewBox="0 0 24 24"> <use xlink:href="#search"/> </svg> </a>                            </li>
              <li class="c-header-buttons__item">
                <div class="c-hamburger">
                  <div class="c-hamburger__inner"> <a href="#navbar" role="button" class="c-hamburger__button c-hamburger__button--open js-mega-nav__trigger js-mega-nav__trigger--open noZensmooth "> <span class="u-bolt-visuallyhidden">Open menu</span> <span class="c-hamburger__icons"> <span class="c-hamburger__icon"></span> <span class="c-hamburger__icon"></span> <span class="c-hamburger__icon"></span> </span> </a>                                    <a href="#!" role="button" class="c-hamburger__button c-hamburger__button--close js-mega-nav__trigger js-mega-nav__trigger--close noZensmooth "> <span class="u-bolt-visuallyhidden">Close menu</span> <span class="c-hamburger__icons"> <span class="c-hamburger__icon"></span> <span class="c-hamburger__icon"></span> <span class="c-hamburger__icon"></span> </span> </a>                                    </div>
                </div>
              </li>
            </ul> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none !important;"> <symbol id="close" viewBox="0 0 14 14"> <title>close</title> <path d="M14 1.4L12.6 0 7 5.6 1.4 0 0 1.4 5.6 7 0 12.6 1.4 14 7 8.4l5.6 5.6 1.4-1.4L8.4 7z"></path> </symbol> <symbol id="search" viewBox="0 0 16 16"> <title>Search</title> <path d="M5.943 0a5.943 5.943 0 0 1 4.513 9.81l.248.247h.725L16 14.63 14.629 16l-4.572-4.571v-.725l-.248-.248A5.943 5.943 0 1 1 5.942 0zm0 1.829a4.114 4.114 0 1 0 0 8.228 4.114 4.114 0 0 0 0-8.228z" fill-rule="nonzero"/> </symbol> </svg>
            <aside class="c-global-search js-search-toggle js-search-panel" role="search" id="global-search"> <input type="checkbox" class="c-global-search__panel-input js-global-search__panel-toggle" aria-hidden="true">
              <div class="c-global-search__panel" id="global-search-panel">
                <form class="c-global-search__form" action="/" method="post" id="pega-ch-search-form" accept-charset="UTF-8">
                  <div>
                    <div class="c-global-search__input-wrapper js-search-clear"> <input placeholder="Search here" class="js-search-clear__target c-global-search__search-input c-input--clearable js-global-search__input form-text" type="text" id="edit-keys--2" name="_search_query" value="" size="60"
                        maxlength="128"> <button class="c-global-search__submit" type="submit"> <span class="u-bolt-visuallyhidden">Search Pegasystems</span> <svg class="c-global-search__search-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use> </svg> </button>                                        <button style="display: none" type="submit" id="edit-submit--3" name="op" value="" class="btn form-submit"> </button> <button class="c-global-search__close-input js-global-search__close-trigger c-input__close-button"
                        type="button" aria-label="Close search"> <span class="c-global-search__close-inner"> <span class="u-bolt-visuallyhidden">Close search</span> <svg class="c-global-search__close-icon o-icon" viewBox="0 0 24 24"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use> </svg> </span> </button>                                        </div>
                  </div>
                </form>
              </div>
            </aside>
          </div>
          <div class="c-page-header__contact t-bolt-xlight">
            <div>
              <div>
                <bolt-button size="small" bolt-component> <a id="p-858e42d3-db5b-424b-a12b-b24aedd1169e" class="_c-bolt-button--theme-override c-bolt-button c-bolt-button--small c-bolt-button--primary c-bolt-button--item-align-center" href="https://www.pega.com/contact-us"> <span class="c-bolt-button__item c-bolt-button__item-text">Contact</span> </a>                                </bolt-button>
              </div>
            </div>
          </div>
        </div>
        <div class="c-mega-nav__mobile-contact u-hide@large"> <a href="internal:/contact-us" title="Contact" class="c-mega-nav__mobile-contact-link"> <span class="c-button__text">Contact</span> </a> </div>
      </div>
    </div>
  </header>

{% endblock %}

{% block main_content %}

  {% set feature_band_content %}
    {% include "@bolt/ui-list.twig" with {
      contentItems : [
        {
          contentItems: [
            {
              "pattern": "eyebrow",
              "text": "オペレーショナルエクセレンス"
            },
            {
              "pattern": "headline",
              "text": "コーディングをやめます。設計を始めます。",
              "size": "large",
              "url": "https://www.google.com",
              "icon": {
                "name": "chevron-right"
              }
            }
          ]
        },
        {
          contentItems: [
            {
              "pattern": "eyebrow",
              "text": "顧客維持"
            },
            {
              "pattern": "headline",
              "text": "個別の対応を、違和感なく。",
              "size": "large",
              "url": "https://www.google.com",
              "icon": {
                "name": "chevron-right"
              }
            }
          ]
        },
        {
          contentItems: [
            {
              "pattern": "eyebrow",
              "text": "顧客サービス"
            },
            {
              "pattern": "headline",
              "text": "シームレス性。オムニチャネル。",
              "size": "large",
              "url": "https://www.google.com",
              "icon": {
                "name": "chevron-right"
              }
            }
          ]
        }
      ]
    } %}
  {% endset %}

  {% set feature_band = {} %}
  {% set feature_band = feature_band | merge({
    content: feature_band_content
  }) %}



  {% embed "@pl/_band--feature.twig" with {
    size: "large",
    theme: "dark",
    teaserPosition: "left",
    teaserWidth: "2/3",
    primaryTeaser: {
      eyebrow: {
        text: "営業効率"
      },
      headlines: [
        {
          type: "headline",
          text: "「ペガは管理者が、すぐ目の前にあるかもしれないオポチュニティーについて代理店と話せるようにします。」",
          size: "xxxlarge",
          tag: "h1"
        }
      ],
      logo: {
        src: "/images/content/logos/logo-paypal.svg",
        invert: true,
        lazyload: false
      },
      content: "最高販売配信責任者Larik Hall",
      buttons: [
        {
          text: "今すぐ営業目標を上げる",
          style: "primary",
          url: "https://www.google.com",
          icon: {
            name: "chevron-right"
          }
        }
      ]
    },
    content: feature_band.content | default(content),
    background: {
      opacity: "heavy",
      fill: "gradient",
      focalPoint: {
        vertical: "center"
      },
      contentItems: [
        {
          pattern: "image",
          src: "/images/content/backgrounds/background-tall-3.jpg",
          lazyload: false
        }
      ]
    }
  } only %}{% endembed %}



{% embed "@bolt-components-band/band.twig" with {
  size: "small",
  theme: "xdark",
  full_bleed: true
} only %}
  {% block band_content %}

    {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}

      {% cell "u-bolt-width-1/1 u-bolt-width-3/4@small u-bolt-flex-grow" %}

        {% grid %}
          {% cell "u-bolt-width-1/1 u-bolt-width-3/4@small" %}
            {% include "@bolt/eyebrow.twig" with {
              text: "ペガジャパン株式会社とは？",
            } only %}
            {% include "@bolt-components-headline/text.twig" with {
              text: "Pega は顧客の仕事とデジタル プロセス オートメーションをつなぐナンバーワン ソフトウェアです。",
              size: "large",
              weight: "regular"
            } only %}
          {% endcell %}
        {% endgrid %}
      {% endcell %}


      {% cell "u-bolt-width-1/1@only-small" %}
        {% include "@bolt/button-group.twig" with {
          "buttons": [
            {
              text: "会社概要",
              style: "primary",
              size: "small"
            },
            {
              text: "Vision & Key Concepts",
              style: "secondary",
              size: "small"
            }
          ]
        } only %}
      {% endcell %}

    {% endgrid %}


  {% endblock %}
{% endembed %}



{% embed "@pl/_band--collection.twig" with {
  "theme": "xlight",
  "size": "large",
  "contentItems": [
    {
      "pattern": "card",
      "contentItems": [
        {
          "pattern": "image",
          "src": "/images/placeholders/1200x660.jpg"
        },
        {
          "pattern": "headline",
          "text": "iBPMSでの2017MAGIC QUADRANT",
          "size": "large",
          "tag": "h3"
        },
        {
          "pattern": "text",
          "text": "Gartnerは、最新のiBPMSレポートにおいてペガがトップであることを認めています。"
        },
        {
          "pattern": "button",
          "width": "full",
          "text": "レポートを読む",
          "style": "text"
        }
      ]
    },
    {
      "pattern": "card",
      "contentItems": [
        {
          "pattern": "image",
          "src": "/images/content/promos/promo-16x9-anthem.jpg"
        },
        {
          "pattern": "headline",
          "text": "Robotics and AI Are Changing the World of Work",
          "size": "large",
          "tag": "h3"
        },
        {
          "pattern": "text",
          "text": "Marketforce の最近の調査によると、上級管理者の 69% が労働力の一環として知能機械の導入を考えていることがわかりました。"
        },
        {
          "pattern": "button",
          "width": "full",
          "text": "発見を探索",
          "style": "text"
        }
      ]
    },
    {
      "pattern": "card",
      "contentItems": [
        {
          "pattern": "image",
          "src": "/images/content/promos/promo-16x9-ai.jpg"
        },
        {
          "pattern": "headline",
          "text": "トランサヴィア：エンドツーエンドのカスタマージャーニー",
          "size": "large",
          "tag": "h3"
        },
        {
          "pattern": "text",
          "text": "トランサヴィアはPega CRMのカスタマージャーニー全体を通じて同社のサービスやセールスを提供しています。"
        },
        {
          "pattern": "button",
          "width": "full",
          "text": "事例を見る",
          "style": "text"
        }
      ]
    }
  ]
} %}
  {% block band_content %}
    {% include "@bolt/headline.twig" with {
      text: "トレンドとは",
      size: "xlarge",
      align: "center",
      tag: "h3"
    } only %}
    {{ parent() }}
  {% endblock band_content %}
{% endembed %}





{% embed "@bolt-components-band/band.twig" with {
  size: "medium",
  theme: "dark",
  full_bleed: true
} only %}
  {% block band_content %}

      {% grid "o-bolt-grid--matrix o-bolt-grid--large o-bolt-grid--middle" %}

        {% cell "u-bolt-width-1/1 u-bolt-width-5/12@small" %}
          {% include "@bolt/image.twig" with {
            src: "/images/content/promos/promo-16x9-salesforce-vs-pega.png"
          } only %}
        {% endcell %}

        {% cell "u-bolt-width-1/1 u-bolt-width-7/12@small" %}

          {% include "@bolt/headline.twig" with {
            text: "誇大広告のSalesforce.comの本当に代わりとなるもの：Pega CRM",
            size: "xlarge",
            tag: "h3"
          } only %}
          {% include "@bolt-components-headline/text.twig" with {
            text: "Salesforce.comをご検討中ですか？誇大宣伝を信じてはいけません。現代のトップ企業がぺガを選ぶ理由をご覧ください。"
          } only %}
          {% include "@bolt/button.twig" with {
            text: "本物を知る",
            style: "primary",
            size: "small"
          } only %}

        {% endcell %}
      {% endgrid %}

  {% endblock %}
{% endembed %}



{% embed "@bolt-components-band/band.twig" with {
  size: "large",
  theme: "light",
  full_bleed: true
} only %}
  {% block band_content %}
    {% include "@bolt/headline.twig" with {
      text: "今日はどんなお手伝いをしましょうか？",
      size: "xlarge",
      align: "center",
      tag: "h3"
    } only %}
    {% include "@bolt-components-action-blocks/action-blocks.twig" with {
      max_items_per_row: 8,
      contentItems: [
      {
        text: "製品情報",
        url: "http://google.com",
        icon: {
          name: "product",
        }
      },
      {
        text: "業種ソリューション",
        url: "http://google.com",
        icon: {
          name: "industries",
        }
      },
      {
        text: "トレーニングと証明書",
        url: "http://google.com",
        icon: {
          name: "training",
        }
      },
      {
        text: "ビジョンとテクノロジー",
        url: "http://google.com",
        icon: {
          name: "vision",
        }
      },
      {
        text: "サービスとパートナー",
        url: "http://google.com",
        icon: {
          name: "partners",
        }
      },
      {
        text: "採用情報",
        url: "http://google.com",
        icon: {
          name: "careers",
        }
      }]
    } only %}
  {% endblock %}
{% endembed %}

{% endblock %}
