<div style="margin-bottom: 2.5rem">
  <h3>1 of 3</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 1,
    total: 3,
    pages: {
      1: {
        href: '#!1'
      },
      2: {
        href: '#!2'
      },
      3: {
        href: '#!3'
      }
    },
    next: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>1 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 1,
    total: 6,
    pages: {
      1: {
        href: '#!1'
      },
      2: {
        href: '#!2'
      },
      3: {
        href: '#!3'
      },
      4: {
        href: '#!4'
      },
      5: {
        href: '#!5'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>4 of 5</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 4,
    total: 5,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      1: {
        href: '#!1'
      },
      2: {
        href: '#!2'
      },
      3: {
        href: '#!3'
      },
      4: {
        href: '#!4'
      },
      5: {
        href: '#!5'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>4 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 4,
    total: 6,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      2: {
        href: '#!2'
      },
      3: {
        href: '#!3'
      },
      4: {
        href: '#!4'
      },
      5: {
        href: '#!5'
      },
      6: {
        href: '#!6'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>5 of 6</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 5,
    total: 6,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      2: {
        href: '#!2'
      },
      3: {
        href: '#!3'
      },
      4: {
        href: '#!4'
      },
      5: {
        href: '#!5'
      },
      6: {
        href: '#!6'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>5 of 10</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 5,
    total: 10,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
      5: {
        href: '#!'
      },
      6: {
        href: '#!'
      },
      7: {
        href: '#!'
      }
    },
    next: {
      href: '#!'
    },
    last: {
      href: '#!'
    }
  } %}
</div>

<div style="margin-bottom: 2.5rem;padding-top: 1rem;border-top: 1px dotted #ececec;">
  <h3>100 of 100</h3>
  {% include "@bolt-components-pagination/pagination.twig" with {
    current: 100,
    total: 100,
    first: {
      href: '#!'
    },
    previous: {
      href: '#!'
    },
    pages: {
      96: {
        href: '#!'
      },
      97: {
        href: '#!'
      },
      98: {
        href: '#!'
      },
      99: {
        href: '#!'
      },
      100: {
        href: '#!'
      }
    }
  } %}
</div>