<h3>Horizontal Alignment</h3>
<p>
  Pagination is a block level component, how it is positioned on a page should be handled by layout objects such as the grid.
</p>

<h3>Center Align Using the Grid</h3>
<div class="u-bolt-margin-bottom-medium">
  {% grid "o-bolt-grid--flex o-bolt-grid--center o-bolt-grid--matrix" %}
    {% cell "o-bolt-grid__cell" %}
      {% include "@bolt-components-pagination/pagination.twig" with {
        current: 5,
        total: 10,
        first: {
          href: '#!'
        },
        previous: {
          href: '#!'
        },
        pages: {
          3: {
            href: '#!'
          },
          4: {
            href: '#!'
          },
          5: {
            href: '#!'
          },
          6: {
            href: '#!'
          },
          7: {
            href: '#!'
          }
        },
        next: {
          href: '#!'
        },
        last: {
          href: '#!'
        },
      } only %}
    {% endcell %}
  {% endgrid %}
</div>

<h3>Pagination on the Left, Something on the Right</h3>
<div class="u-bolt-margin-bottom-medium">
  {% grid "o-bolt-grid--flex o-bolt-grid--middle o-bolt-grid--matrix" %}
    {% cell "o-bolt-grid__cell u-bolt-flex-grow" %}
      {% include "@bolt-components-pagination/pagination.twig" with {
        current: 5,
        total: 10,
        first: {
          href: '#!'
        },
        previous: {
          href: '#!'
        },
        pages: {
          3: {
            href: '#!'
          },
          4: {
            href: '#!'
          },
          5: {
            href: '#!'
          },
          6: {
            href: '#!'
          },
          7: {
            href: '#!'
          }
        },
        next: {
          href: '#!'
        },
        last: {
          href: '#!'
        },
      } only %}
    {% endcell %}
    {% cell "u-bolt-width-12/12 u-bolt-width-4/12@small" %}
      <p style="background: yellow; text-align: right;">Something on the right</p>
    {% endcell %}
  {% endgrid %}
</div>
