.c-bds-callout {
  margin-top: var(--bolt-spacing-y-small);
  margin-bottom: var(--bolt-spacing-y-small);
  padding: calc(var(--bolt-spacing-y-medium) / 2) var(--bolt-spacing-x-medium);
  border: 1px solid bolt-color(gray, light);
  border-left-width: 0.25rem;
  border-radius: 0.25rem;

  @include bolt-font-size(small);

  > p:not(:last-child) {
    margin-bottom: var(--bolt-spacing-y-small);
  }
}

.c-bds-callout--notice {
  border-left-color: bolt-color(blue);
}

// .c-bds-callout--warning {
//   border-left-color: bolt-color(blue);
// }
