@import '@bolt/core';

// Local interactive-pathways Variables

// Register Custom Block Element
@include bolt-custom-element('bolt-interactive-pathways', block, medium);

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */
.c-bolt-interactive-pathways {
  //Styles go here. /* [1] */
  display: block;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
