/* ------------------------------------ *\
   Card Link
\* ------------------------------------ */

@import '@bolt/core';
@import '../_card-settings-and-tools.scss';

// https://www.w3.org/TR/CSS21/visudet.html#abs-replaced-width

.c-bolt-card__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $bolt-card-link-z-index; // a small z-index is required here so the <bolt-card-link> covers most types of content used inside the card component, except for a few exceptions
  cursor: pointer;
}

button.c-bolt-card__link {
  width: 100%; // [1]
  height: 100%; // [1]
  padding: 0;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}
