{% include "@bolt-components-headline/headline.twig" with {
  text: "English",
  size: "xlarge",
  tag: "h2"
} only %}

<div lang="en" class="u-bolt-margin-bottom-large">
{% include "@bolt-components-blockquote/blockquote.twig" with {
  "author": {
    "name": "Michelangelo di Lodovico Buonarroti Simoni",
    "title": "Renaissance Artist"
  },
  "content": "<p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>"
} %}
</div>


{% include "@bolt-components-headline/headline.twig" with {
  text: "German",
  size: "xlarge",
  tag: "h2"
} only %}

<div lang="de" class="u-bolt-margin-bottom-large">
{% include "@bolt-components-blockquote/blockquote.twig" with {
  "author": {
    "name": "Michelangelo di Lodovico Buonarroti Simoni",
    "title": "Renaissance Artist"
  },
  "content": "<p>Echtzeit bedeutet Relevanz. Kunden erwarten von uns, dass wir jederzeit wissen, was sie gerade denken.</p>"
} %}
</div>


{% include "@bolt-components-headline/headline.twig" with {
  text: "French",
  size: "xlarge",
  tag: "h2"
} only %}

<div lang="fr" class="u-bolt-margin-bottom-large">
{% include "@bolt-components-blockquote/blockquote.twig" with {
  "author": {
    "name": "Michelangelo di Lodovico Buonarroti Simoni",
    "title": "Renaissance Artist"
  },
  "content": "<p>Davantage de temps réel, c'est plus de pertinence. Les clients s’attendent à ce que nous lisions dans leurs pensées, dans l’instant présent.</p>"
} %}
</div>


{% include "@bolt-components-headline/headline.twig" with {
  text: "Japanese",
  size: "xlarge",
  tag: "h2"
} only %}

<div lang="ja" class="u-bolt-margin-bottom-large">
{% include "@bolt-components-blockquote/blockquote.twig" with {
  "author": {
    "name": "Michelangelo di Lodovico Buonarroti Simoni",
    "title": "Renaissance Artist"
  },
  "content": "<p>リアルタイムであればあるほど、関連性は高まります。顧客は自分たちが今何を考えているかこちらが把握することを期待しています。</p>"
} %}
</div>
