<h3>Basic</h3>
{# {% include "05-blockquote.twig" %} #}

<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/pattern-lab/images/placeholders/500x500.jpg">
  <p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>
</bolt-blockquote>

<h3>Alignment variations</h3>
{# {% include "10-blockquote-alignItems-variation.twig" %} #}

<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/pattern-lab/images/placeholders/500x500.jpg">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<bolt-blockquote align-items="center" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/pattern-lab/images/placeholders/500x500.jpg">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<bolt-blockquote align-items="right" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/pattern-lab/images/placeholders/500x500.jpg">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<h3>Indentation variations</h3>
{# {% include "15-blockquote-indent-variation.twig" %} #}

<bolt-blockquote indent="true" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<h3>Border variations</h3>
{# {% include "20-blockquote-border-variation.twig" %} #}

<bolt-blockquote border="vertical" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<bolt-blockquote border="horizontal" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<bolt-blockquote border="none" author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Praesent adipiscing. Quisque ut nisi. Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi.</p>
</bolt-blockquote>

<h3>Multiple paragraph variations</h3>
{# {% include "25-blockquote-multiple-paragraphs-variation.twig" %} #}

<bolt-blockquote author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist">
  <p>Blockquote can have one paragraph. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus.</p> <p>Or it can have multiple paragraphs. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.</p>
</bolt-blockquote>

<h3>Theme variations</h3>
{# {% include "30-blockquote-theme-variation.twig" %} #}

{% for theme in ["xlight", "light", "dark", "xdark"] %}
  <p>theme: {{ theme }}</p>
  {% embed "@utils/theme-demo.twig" %}
    {% block demo_content %}
      <bolt-blockquote theme="{{ theme }}" size="xxlarge" align-items="center" border="horizontal" full-bleed author-name="Michelangelo di Lodovico Buonarroti Simoni" author-title="Renaissance Artist" author-image="/pattern-lab/images/placeholders/500x500.jpg">
        <img slot="logo" src="/pattern-lab/images/content/logos/logo-paypal.svg" alt="PayPal Logo">
        <p>The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low, and achieving our mark.</p>
      </bolt-blockquote>
    {% endblock %}
  {% endembed %}
{% endfor %}
