{% set content %}
  <bolt-button size="medium" width="auto" border-radius="regular" color="primary" on-click-target="editor-demo-modal" on-click="show">
    <span>This is a Button triggering on on-page Modal</span>
  </bolt-button>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}

{% set video_content %}
  {% include "@bolt-components-video/video.twig" with {
    videoId: "3861325118001",
    accountId: "1900410236",
    playerId: "r1CAdLzTW",
    showMeta: true,
    showMetaTitle: true,
    attributes: {
      class: "editor-demo-modal"
    }
  } only %}
{% endset %}

{% include "@bolt-components-modal/modal.twig" with {
  attributes: {
    class: "editor-demo-modal"
  },
  content: video_content,
  width: "optimal",
  spacing: "none",
  theme: "none",
  scroll: "overall",
} only %}
