{% macro codeExample(code) %}
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell "u-bolt-width-12/12" %}
        {{ code }}
      {% endcell %}
    {% endgrid %}
  </div>
{% endmacro %}

{% import _self as progressBarExample %}

{% set progressBarDemo %}
<bolt-progress-bar value=65></bolt-progress-bar>
{% endset %}

{% set progressBarPropDemo %}
<bolt-progress-bar value=7 value-format="step" max=12 animated></bolt-progress-bar>
{% endset %}

<bolt-text headline>Web Component Usage</bolt-text>
<bolt-text>
  Bolt progress-bar is a web component, you can simply use <code>&lt;bolt-progress-bar&gt;</code> in the markup to make it render.
</bolt-text>
{% include progressBarExample.codeExample(progressBarDemo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: progressBarDemo,
  lang: 'html',
  mode: 'dark',
} only %}

<bolt-text headline>Prop Usage</bolt-text>
<bolt-text>
  Configure the <code>&lt;bolt-progress-bar&gt;</code> with the properties specified in the schema.
</bolt-text>
{% include progressBarExample.codeExample(progressBarPropDemo) %}
{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: progressBarPropDemo,
  lang: 'html',
  mode: 'dark',
} only %}
