<div class="c-bds-logo">
  <div class="c-bds-logo__inner">
    {% include '@bolt-components-image/image.twig' with {
      src: "/images/bolt-logo.svg",
      alt: "Bolt Design System logo",
      lazyload: false,
    } only %}
  </div>
</div>