/* ------------------------------------ *\
   Nav
\* ------------------------------------ */

@import '@bolt/core';


bolt-priority-nav {
  display: block;

  @supports (display: contents) {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      &.is-ready {
        display: contents;
      }
    }
  }

  &:not(.is-ready) {
    overflow-x: auto;
  }

  &.is-resizing {
    overflow: hidden;
  }
}

.c-bolt-priority-nav {
  @supports (display: contents) {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      &.is-ready {
        display: contents;
      }
    }
  }

  position: relative;

  &:not(.is-ready) {
    background-image: -webkit-linear-gradient(left, themify(background), hsla(0, 0%, 100%, 0)),
    -webkit-linear-gradient(right, themify(background), hsla(0, 0%, 100%, 0)),
    -webkit-linear-gradient(left, themify(background-dark), rgba(234, 240, 246, 0)),
    -webkit-linear-gradient(right, themify(background-dark), rgba(234, 240, 246, 0));
    background-color: themify(background);

    // -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;

    background-attachment: local, local, scroll, scroll;
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;

    overflow-x: auto;

    .c-bolt-priority-nav__item {
      background-color: transparent;
    }
  }

  .is-hidden {
    display: none;
  }
}

.c-bolt-priority-nav__link,
.c-bolt-priority-nav__show-button {
  width: 100%;
  height: 100%;
  display: block;
  color: themify(text);
  background-color: transparent;
}

.c-bolt-priority-nav__primary {
  @supports (display: contents) {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      .is-ready & {
        display: contents;
      }
    }
  }

  display: flex;
  list-style: none;
  margin: 0;
}

.c-bolt-priority-nav__item {
  background-color: themify(background);

}

.c-bolt-priority-nav__button {
  border: 0;

  @supports (display: contents) {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      .is-ready & {
        grid-row: 1/span 1;
        grid-column: 3/span 1;
      }
    }
  }
}

.c-bolt-priority-nav__link,
.c-bolt-priority-nav__button {
  white-space: nowrap;
  padding: 1em 0.6em;
  // box-shadow: inset 0 -0.2em 0 themify(background)-dark;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: themify(secondary, 0.15);
  }

  &:active {
    background-color: themify(secondary, 0.1);
  }
}

.c-bolt-priority-nav__show-button {
  background-color: themify(secondary, 0.05);
  cursor: pointer;
}


.c-bolt-priority-nav__show-icon {
  display: inline-block;
  transition: transform 0.2s;

  .c-bolt-priority-nav--show-secondary & {
    transform: rotate(180deg);
  }
}


 @supports (display: contents) {
   .c-bolt-priority-nav__show-more {
     @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
       display: contents;
     }
   }
 }


.c-bolt-priority-nav__secondary {
  min-width: 10em;
  list-style: none;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  animation: nav-secondary 0.2s;
  width: calc(100vw - #{bolt-spacing(large)});
  max-width: 100vw;
  transform: translate3d(0, 0, 0);


  @supports (display: contents) {
    @media screen and (max-width: #{bolt-breakpoint(xsmall)}) {
      grid-row: 2/span 1;
      grid-column: 1/span 4;
      position: static;
    }
  }

  @include respond-to(xsmall){
    width: auto;
    max-width: 100%;
  }

  .c-bolt-priority-nav--show-secondary & {
    display: block;
  }

  .c-bolt-priority-nav__item {
    background-color: themify(background, 0.93);
  }

  .c-bolt-priority-nav__link,
  .c-bolt-priority-nav__show-button {
    padding: 0.6em;
    &:hover {
      background-color: themify(secondary, 0.15);
    }
    &:active {
      background-color: themify(secondary, 0.1);
    }
  }
}


// keyframes
@keyframes nav-secondary {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}